[2021-04-20 14:56] moorerst opened #5854 "Go Live: Dispatch Tracking"
Schedule 5/3/2021
Task to complete for Go Live:
When is the best time to disable the Sharepoint list?

[2021-04-20 14:56] moorerst opened #5855 "Go Live: Dispatch Tracking"
Schedule 5/3/2021
Task to complete for Go Live:
When is the best time to disable the SharePoint list?

[2021-04-20 14:58] dianamartin commented on #5854
@moorerst We need to ask them what they'd like to do, just cut over
Export the records for retention purposes - the issues is we won't be able to keep attachments, they don't download easily from what I remember

[2021-04-20 14:59] #5855 closed

[2021-04-20 15:01] dianamartin commented on #5855
DUP of #5854

[2021-04-20 15:03] moorerst commented on #5854
@dianamartin do we need to ask these questions prior to the sprint review on the 29th? If we discuss on the 29th is that enough time before go live on the 3rd?

[2021-04-20 15:06] dianamartin commented on #5854
What to do with the SharePoint database records shouldn't affect Go-live because it's historical data. We just have to discuss the plan to keep the records and to set a reminder to purge them in a few years.

[2021-04-20 15:09] dianamartin commented on #4291
Messaged Christina this morning 4/20

[2021-04-20 15:18] jaime-mckeown commented on #5706
- Sean verified that they should be providing the same data, but to use GISDM going forward as GISAPP1 will be retired.
- I asked him about that rogue record from 2018 that was still showing up as Active and he fixed the problem.
- Sent Joseph an email updating him on the changes I made for the Active Parking Permits Web Map.

[2021-04-20 15:26] atdservicebot opened #5856 "[Parking Enterprise] Add new "Dispatch Investigator (reassigned)" option to SR Details "Activity" selection"
Other / Not Sure

Would like to request to have an option added to the "Activity" drop down list of the SR details that allows the Dispatcher to "Dispatch Investigator (reassigned)".

Soon — This week

This will allow the Dispatchers to reassign SR's to other Officers if the first assigned officer cannot respond due to it being a walking beat and its at the furthest point of their beat, they are a

[2021-04-20 15:38] dianamartin commented on #5837
ACCOUNTS object
- Updated choice field for `Employee Status`
  -[x] Added "AppleOne" as choice

INVOICE_ITEMS object
- Updated choice field for `Employee Type`
  -[x] Added "AppleOne Contractor" as choice

Hourly Rate
- Added conditional rule "AppleOne Contractor" - $22.40

[2021-04-20 15:41] ChrispinP commented on #5852
Emailed Liane for further information. Pending response.

[2021-04-20 15:42] dianamartin commented on #5837
Messaged Christina

[2021-04-20 15:42] #5837 closed

[2021-04-20 16:20] amenity commented on #5484
SEFBO will start with crosswalk maintenance since that's a simple place to start.

[2021-04-20 16:21] amenity commented on #5484
Christina is going to collect any potential enhancements while onboarding everyone.

[2021-04-20 16:21] #5484 closed

[2021-04-20 16:27] amenity commented on #3114
Christina and Susanne are going to discuss this and get back to us. Also consider if/how any of these needs are met by the high-level dashboard. https://github.com/cityofaustin/atd-data-tech/issues/4732

[2021-04-20 16:37] jaime-mckeown commented on #5838
- Shared the PDF from You Can Run It software that Esri shared with us
- Talked about the testing that I have done, I'm the only person that has done any testing
- Everyone else needs to spend some time doing some testing so we have more tests to compare
- Daniel brought up that CTM has told WPD that Remote Desktop will most likely be going away as an option, this came up in a meeting they were ha

[2021-04-20 16:40] #5838 closed

[2021-04-20 16:46] jaime-mckeown commented on #5706
- Created new process for updating the Active Parking Permits AGOL data
- Word Doc in Project directory

[2021-04-20 17:21] amenity opened #5857 "Dropdown order of project roles, status, and phases should match in Gitbook"
Order, capitalization, etc. should match Gitbook
- [x] [Project roles](https://atd-dts.gitbook.io/moped/user-guides/project-roles) (DataTable used on the "Assign team" step for new projects and "Team" tab for existing projects)
![Screen Shot 2021-04-20 at 12 17 38 PM](https://user-images.githubusercontent.com/1463708/115438380-f032d780-a1d2-11eb-8491-8b05704d0ef5.png)

- [x] [Project phases](https

[2021-04-20 17:30] amenity commented on #5857
@sergiogcx — I know you're updating some of these now so this issue may be irrelevant.

[2021-04-20 17:51] sergiogcx commented on #5857
Thank you @amenity, yes it's part of the migrations.

[2021-04-20 18:06] #5518 closed

[2021-04-20 18:26] moorerst commented on #2876
@ChrispinP is there any update on this?

[2021-04-20 18:29] moorerst commented on #5501
Tracking PEO user training on issue #5755

[2021-04-20 18:32] moorerst commented on #5753
Dispatcher user testing is complete, they continue to enter SR's into the system on their own. They are also entering SR's and assigning to the PEO's who are testing.
The response to the new system from the Dispatchers is very positive.

[2021-04-20 18:32] #5753 closed

[2021-04-20 18:35] moorerst commented on #5796
will send follow up email to stakeholders requesting the updated language for vehicle information, petition description

[2021-04-20 18:37] TracyLinder commented on #537
### Update

Together with the ROWMAN project manager Del R., we have put this phase of the project on hold until further notice.

[2021-04-20 18:40] amenity commented on #5857
@sergiogcx — super. I just wanted to make sure the order in the frontend dropdown/picklist itself doesn't sort to alphabetical or anything else. Do you want me to close this issue?

[2021-04-20 18:46] sergiogcx commented on #5857
@amenity No I will close it, I need to have it open to remember to make sure I follow these specific instructions.

[2021-04-20 18:48] amenity commented on #5857
@sergiogcx - sounds good. Adding it to the "Data Model + Migration" epic you have underway.

[2021-04-20 18:50] TracyLinder opened #5858 "ROW Metrics Project Meeting 4/20/21"

[2021-04-20 19:18] SurbhiBakshi opened #5859 "Update VZA Reporting - April 19th, 2021"
No officer had signed for assignments in the previous week. Did not have to run the reporting process.

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/d1ec4671-3ecd-4c24-bae0-96ece4b25be6)

[2021-04-20 19:18] #5859 closed

[2021-04-20 19:19] TracyLinder commented on #4469
@Nadin-Nader the spreadsheet/chart above doesn't mention subtypes PVT, Public Works/Electric, Watershed Protection Storm Drain
- Public Works/Electric: Update name to 'Public Works Department PWD
- Watershed Protection Storm Drain: Update name to 'Watershed Protection Department WPD'

Can you please update the issue. Thank you.

[2021-04-20 19:20] SurbhiBakshi commented on #5802
### Notes -
Confirm Xavier has access to
- [ ] has access to the reporting table in the VZA application
- [ ] access to the Citation Audit by STEP report
- [ ] One Drive location for Power BI report
- [ ] edit/share permission to the Power BI report
- [ ] access to Google Doc with documentation

[2021-04-20 19:20] dianamartin opened #5860 "Feature: Configure email notificaiton when PEO is dispatched on assignment"
This came up when an officer said they normally get pinged through Teams, but since Knack only does emails the officers will have to sign into their Outlook on their Brazos devices.

Shavyvonne emailed

[2021-04-20 19:21] dianamartin commented on #5860
- Created notification on `Activity form` of the SR details page
- Testing only activities assigned to me

[2021-04-20 19:44] sergiogcx opened #5861 "Moped Phases | Restructuring"
Although the [moped phases migration](https://github.com/cityofaustin/atd-moped/pull/270) was finished, the execution of the migration failed. This was caused by a misunderstanding of the structure of the database, specifically the relationship between moped_proj_phases and moped_phases tables.

The phases cannot be renamed or updated because it violates the the foreign key constraints (which are

[2021-04-20 19:46] mddilley opened #5862 "Project Extent | Fix drawn layer select checkbox"
The checkboxes that show/hide layers on the edit maps works for vector tile layers, but the drawn points remain regardless of whether the checkbox is selected or not. The code needs to be updated to consider layers that don't have a vector tile layer source.

![Screen Shot 2021-04-20 at 2 39 14 PM](https://user-images.githubusercontent.com/37249039/115454974-fd59c180-a1e6-11eb-86c7-625e85b29861.pn

[2021-04-20 19:48] sergiogcx opened #5863 "Moped Editor | Refactor Phases Insertion"

[2021-04-20 19:48] sergiogcx opened #5864 "Moped Editor | Refactor Phases Updating"

[2021-04-20 19:49] sergiogcx opened #5865 "Moped Database | Restructure Moped Phases Foreign Keys"

[2021-04-20 19:49] TracyLinder commented on #5858
### Notes
- We're still in the beginning stages of scoping.
- We will review the folder demo's that were uploaded to the AMANDA V7 PIO Input Teams channel
- We will work on charting all permit workflows

[2021-04-20 19:49] #5858 closed

[2021-04-20 19:54] sergiogcx opened #5866 "Moped Editor | Refactor Activity Log if necessary"

[2021-04-20 20:05] dianamartin commented on #5860
Sent to Shavyvonne

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b81043d9-51c7-48f3-9287-7aaa261eab27)

- [x] Sent notification to Stephanie so she can check it out and messaged her

[2021-04-20 20:23] #5679 closed

[2021-04-20 20:51] atdservicebot opened #5867 "DSDD Queue. I need to be able to remove DSDD items in the queue built in Knack Data Tracker."
Data Tracker

DSDD Queue. I need to be able to remove DSDD items in the queue built in Knack Data Tracker.

TED will be able to remove DSDD requests in the queue when/if engineering staff determines a site is not viable for placement.

None

Max S.

Request ID: DTS21-101915

[2021-04-20 20:51] TracyLinder opened #5868 "TIA Enhancement: Default Scope/Submission Assigned Reviewer"
### When scope or submissions are created, default the reviewer to the lead case reviewer.
- [Example scope](https://atd.knack.com/development-services#tia-requests/tia-request-details/607f1c8e8e1051001b2a778a/tia-case-management/607f1c8e8e1051001b2a778a/tia-scope-submission-details/607f1d342c6105001b7dd0d6/)

[2021-04-20 20:56] #5834 closed

[2021-04-20 20:56] #5853 closed

[2021-04-20 20:58] jaime-mckeown opened #5869 "Moving Shared Mobility Operations Data to Pro - Update AGOL Feature Layer"
From Mary:

[2021-04-20 20:59] jaime-mckeown commented on #5869
To Mary:

[2021-04-20 21:05] ChrispinP commented on #5867
@dianamartin Would you be able to scope this?

[2021-04-20 21:10] dianamartin commented on #5867
@ChrispinP yeah I talked to him before he put this in, it basically needs a delete button for his table.

[2021-04-20 21:11] ChrispinP commented on #5856
@dianamartin Would you be able to scope this?

[2021-04-20 21:16] dianamartin commented on #5856
@ChrispinP talked to them about this right now, they have a dispatch investigator functionality already, they just need to create a new activity and then choose a new officer. I'm going to close this as they don't need it.

[2021-04-20 21:16] #5856 closed

[2021-04-20 21:20] dianamartin commented on #5409
This email configuration needs to be re-visited after the new builder switch over happens, the old builder doesn't allow for the record ID to show and I can't configure the follow-up details link properly.

[2021-04-20 21:37] dianamartin commented on #5867
Changes Made
- [x] Added "Cancel" form (edit form)
- [x] Added "Cancel Reason" - required
- [x] Added "Cancel" field to right side of table
- [x] Moved "Edit" field to left side of table
- [x] Disabled in-line editing
- [x] Added display rule to table, "Cancel" will only show up on "Pending" statuses, hidden for the other statuses

Messaged Max

[2021-04-20 21:38] jaime-mckeown commented on #5869
- Looked over her project, everything looks great
- Re-publish the feature layer since there is a new provider added to the map
- Reconfigure the Web Map, need to add LINK.

[2021-04-20 21:40] jaime-mckeown opened #5870 "Road Closures Meeting with CPO and MMC - 4/20/21"
CPO scheduled a meeting with Lance from the MMC and myself as a follow-up to some questions they were asking via email.

[2021-04-20 21:42] #5685 closed

[2021-04-20 21:43] jaime-mckeown commented on #5870
- Lance shared how they use Waze and showed everyone the interface. He mentioned that the MMC as well as OSE enter in road closures to Waze.
- The MMC does not share any road closure data with Google currently.
- I mentioned that DTS has a Google Partner Account that we have used to upload data for bike facilities and healthy streets.
- We also talked about one.network and that we just had a demo

[2021-04-20 21:43] #5870 closed

[2021-04-20 21:51] #5869 closed

[2021-04-20 21:52] ChrispinP commented on #5835
Isabell is now able to successful review Telework forms for her staff.

Closing as complete

[2021-04-20 21:52] #5835 closed

[2021-04-20 22:01] jaime-mckeown commented on #5723
- Renee requested to take a class, submitted CTM request for registration
- More TRAIN Classes have been added to the schedule, emailed users that haven't signed up for any classes (AMD, SM, TDSD, VZ, OOD)
- Emailed Laura with ATSD regarding contractors and TRAIN Classes since there are so many in ATSD. I wanted to ask if they can take classes since Dylan was able to take a TRAIN class last year.

[2021-04-20 22:19] ChrispinP commented on #5071
Ive submitted a new request into Knack to shift the file down so the file name and visible and increase the duration of the loading spinner until the file loads.

[2021-04-20 22:22] ChrispinP commented on #5071
@chiaberry @mddilley giving you both visibility on this issue should Knack not be able to improve the attachment preview. The new builder improved the preview some such as more visible text and close button but the positioning and load spinner still need to be improved. No action needed atm.

[2021-04-20 22:37] atdservicebot opened #5871 "Daniil K.'s Divison is shown as "Parking Management" but he works for "Right-of-Way.""
Other / Not Sure

Daniil K.'s Divison is shown as "Parking Management" but he works for "Right-of-Way."

Soon — This week

I need to approve the telework form.

Isabell P.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/607f4c3be75ffd001bf5c731/wrongdivisionlisted.png) (47.83kb)

Request ID: DTS21-101920

[2021-04-21 00:53] #5723 closed

[2021-04-21 01:06] jaime-mckeown commented on #5179
- Continue to work with Scott to get Pro installed / Desktop removed for each division
- AMD, OSE, ROW, and SDD are complete for Pro installs / Desktop removals
- Registered more users for Pro TRAIN Classes
- Users that have attended Pro training are inquiring about how to start incorporating Pro into their processes, helping them to get started using Pro

[2021-04-21 01:09] jaime-mckeown opened #5872 "Pro Migration Weekly Meeting: 4/21/21"

[2021-04-21 01:12] jaime-mckeown opened #5873 "Pro Migration: 4/21 - 5/4"

[2021-04-21 01:35] jaime-mckeown opened #5874 "Convert AMANDA Street Closures to Python 3 for Pro"
Update Python update script for AMANDA street closures to Python 3 and move to Pro.

[2021-04-21 13:17] Nadin-Nader opened #5875 "Automate CC Email to Site & Sub in AMANDA (Portal Changes) (On PROD)"
As the Site & Subdivision group of DSD, I need a copy of certain EX permits emailed to my resource account when they are issued. I am currently manually emailing copies of certain EX permits to the Site & Subdivision group of DSD. I'd like the system to take over this function.

Stakeholders: Kim, Paloma
DTS Manager: Nate

Acceptance Criteria:

On DS & EX folders (all subtypes)
Upon folder issuanc

[2021-04-21 13:29] Nadin-Nader commented on #2397
@SubhaShroff the answer to both would be Yes, per Kim.

[2021-04-21 13:51] SubhaShroff commented on #1877
**Status:** In ROW Permitting Meeting yesterday(4/20/2021), Paloma confirmed on the following:
What information(fields) should the email contain? Is it going to be in the form of Report sent as attachment or any other format it should be sent in?
**ANSWER:** It is going to be in the PDF report  same as existing ones for EX, RW that are sent to the permits' Applicants/ROW Contractors, upon payment(

[2021-04-21 13:53] Nadin-Nader commented on #1877
@SubhaShroff i have split the card and added the portal portion as a dependent to this one. Its card #5875

[2021-04-21 13:58] dianamartin commented on #5673
I was waiting for him to reach out to me, but looks like I'll have to reach out to see if I'm a the point where we can re-connect our old sites to the new Hub site.

[2021-04-21 14:04] dianamartin commented on #5666
Chrispin sent to

- [x] RPP
- [x] Development Services/TIA
- [ ] Human Resources
- [ ]

Surbhi sent to
- [x] VZA
- [x] DTS Portal

[2021-04-21 14:08] SubhaShroff commented on #5578
**Status:** Waiting for approval of PDF sample output sent to @TracyLinder and @Nadin-Nader on 4/15/2021.

[2021-04-21 14:15] SubhaShroff commented on #4469
**Status:**

Corridor Program Office | NEEDED | Add | N/A | Corridor Program Office
-- | -- | -- | -- | --
Small Cell Node | NEEDED | Add | N/A | Small Cell Node

Should I add the above?

[2021-04-21 14:18] SubhaShroff commented on #2397
**Status:** The changes are done on local branch, waiting for the remaining list items to be updated.

[2021-04-21 14:53] dianamartin commented on #5492
`Ineligible` due to proximity [FILL IN REASON] (ex. Safety, Other)

[2021-04-21 14:58] dianamartin opened #5876 "Meeting: Check in on Signal Requests Dashboard, 4/21"
### Objective

### Participants
John, Renee, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [x] Create resulting issues

[2021-04-21 14:59] dianamartin commented on #5876
# Diana's Notes

Signal Dashboard Discussion 4/21

PHB Evaluations
- Sent the date to Renee already
- Remove and archive data

Signal Evaluations
- were updated to match the list
- Signal Requests - to keep until Renee is done reviewing
- Once she's populated everything in studies
- Remove Signal and PHB Studies and archive data

Signal and PHB Requests
- Signal Requests (CSR and Staff requests)
-

[2021-04-21 15:15] dianamartin commented on #5760
Reply on 4/16

[2021-04-21 15:18] dianamartin commented on #5494
Messaged Lance 4/21

[2021-04-21 15:18] TracyLinder commented on #1554
**Next Steps**
1. Get answers to John's questions above
2. Finish the prototype
3. Get stakeholder feedback on prototype
4. Tracy/John/Chrispin sync

[2021-04-21 15:21] dianamartin commented on #4844
I had been testing in the TEST RPP environment, adding some fields to see if I can get the due dates correctly. Still work in progress.

[2021-04-21 15:30] dianamartin opened #5877 "Tablet Troubleshooting with Parking Meters"
### Objective
- Meet at Cameron at 9 am in Allandale
- Get all Parking Meter tablets working, access to the new ArcGIS Collector app and address outstanding tablet issues.

### Participants
Jaime, Andrew, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule

[2021-04-21 15:53] jaime-mckeown commented on #5872
- Introduced the new IT Corporate Manager for CTM
- Talked about the Software Usage Report
- Still making changes to the Installs, Users List, changes will be complete this afternoon, talked about her changes that we will be seeing in new tabs
- Maint update to 10.7.1 has moved to 5/1/21, GISDM is now TBD
**- I need to update the list for people that are moving to AGOL that have had Desktop remove

[2021-04-21 15:56] Nadin-Nader commented on #4469
@TracyLinder @SubhaShroff I have updated the list

[2021-04-21 15:56] jaime-mckeown opened #5878 "Signal Engineer Areas Data Update / Maps to Pro"
- Change SW Area to Jonathan as Wil left COA.
- Convert Signal Engineer Maps from Mxds to Pro Projects.

[2021-04-21 16:00] Nadin-Nader commented on #5819
Issue has been resolved with an IE reset. See email below:

[2021-04-21 16:00] #5819 closed

[2021-04-21 16:04] TracyLinder commented on #1726
@Nadin-Nader will coordinate the UAT for this.

[2021-04-21 16:05] TracyLinder commented on #5668
This was delivered; I forgot to close it.

[2021-04-21 16:05] #5668 closed

[2021-04-21 16:06] TracyLinder commented on #5389
@Nadin-Nader can you please follow-up with Robert and add an update here? Thank you.

[2021-04-21 16:09] TracyLinder commented on #4551
@aishwarya2505 can you please add an update to this issue? Thank you.

[2021-04-21 16:10] TracyLinder commented on #5578
I need to review the PDF Subha sent me.

[2021-04-21 16:13] aishwarya2505 commented on #4551
@TracyLinder The demo for this card has been sent 4/21/2020.

This is in DEV.

[2021-04-21 16:13] aishwarya2505 commented on #4511
The DEV Deployment Plan for this card has been emailed. Waiting for DEV Deployment

[2021-04-21 16:14] aishwarya2505 commented on #3640
Coding is complete and one of the test scenarios failed. I am working on resolving the bug.

[2021-04-21 16:16] aishwarya2505 commented on #5627
This issue works on TEST for Nadin and I. ROW ID: 12652150. It is not working for Hector though. I will be sending a list of things he could do to make sure the issue to verify if this is a configuration set up issue.

[2021-04-21 16:17] TracyLinder commented on #5580
**Status:** Pending stakeholder feedback.

[2021-04-21 16:18] johnclary commented on #5761
@SurbhiBakshi please make a backlog issue for revisiting our Landmark field and add it to #5373.

[2021-04-21 16:26] TracyLinder commented on #4033
@SubhaShroff can you please look into this and comment with a current update? Thank you.

[2021-04-21 16:29] TracyLinder commented on #4427
@vschandramouli will follow-up w/ stakeholders on this one.

[2021-04-21 16:34] ChrispinP commented on #5871
@dianamartin @johnclary are we able to update the Division in HR app or do they need to reach out to HR to update?

[2021-04-21 16:40] amenity commented on #5151
This is no longer happening.

[2021-04-21 16:40] #5151 closed

[2021-04-21 16:42] mddilley commented on #5811
There is a PR with the updated code [here](https://github.com/cityofaustin/atd-knack/pull/32)

And, the code has been updated in **TDS | Transportation Development Services Portal | BACKUP | 14 APR 2021** and can be tested at https://atd.knack.com/tds--transportation-development-services-portal--backup--14-apr-2021#tia-mitigations-directory/tia-mitigation-details/607766d886a1e30676ce819c/

[2021-04-21 16:43] amenity commented on #4720
@sergiogcx - I think this may be irrelevant now or incorporated by work you're already doing?

[2021-04-21 16:45] amenity commented on #4721
Another, @sergiogcx, that may be covered by #5747 work?

[2021-04-21 16:46] amenity opened #5879 "TypeError thrown when attempting to save map in "New project" workflow"

[2021-04-21 16:47] mateoclarke opened #5880 "Bug | Can't add or edit Team members"
The save action in the “Assign Team” view is disabled. This makes is impossible to add new team members or update existing ones. It's happening in both the “New Project” workflow and “Team” tab in project summary.

https://user-images.githubusercontent.com/5697474/115590966-36ea0580-a297-11eb-8f4d-e4027729f6bb.mov

[2021-04-21 16:49] tillyw opened #5881 "Remove uniqueness constraint from and index `ecapris_subproject_id`"
The uniqueness constraint on `ecapris_subproject_id` needs to be removed because there will cases where multiple projects will be associated with the same `ecapris_subproject_id`. `ecapris_subproject_id` also needs to be indexed. This issue may also be related to the following bug:

![Screen Shot 2021-04-21 at 10.35.08 AM.png](https://images.zenhubusercontent.com/5cf19d09272c387e1f4f2d1f/80018ee9-

[2021-04-21 16:52] #5722 closed

[2021-04-21 17:10] dianamartin commented on #5871
@ChrispinP I just checked the HR App, the "Employees" tab allows the Supervisor to edit the employee's record. So changing the Division should be allowable. You might want to check with Nathan B. to see if he's okay with supervisor's editing that type of thing. The Edit form doesn't have it's own log-in (user role restrictions), it is possible they want that restricted to just HR Admins.

[2021-04-21 17:26] dianamartin opened #5882 "Feature: Add "Attachment Description" to Attachment table"
## As a PEO I want to make a note/comment about the photo attachment so that the dispatcher knows the context of what's going on.

Jasmine L.
Parking Enforcement

Conversation

[2021-04-21 17:35] dianamartin commented on #5882
- Add "Attachment Description" to `attachment` object
- Add "Attachment Description" to "Add Photo" form
- Test it

[2021-04-21 17:41] dianamartin commented on #5882
Messaged Jasmine

Reply

[2021-04-21 17:41] moorerst opened #5883 "Meeting: Dispatch Tracking Builder Huddle SR Reassignment"
Dispatch Tracking SR Reassignment Process
Use case:
Dispatcher assigns SR to Officer 1 using Activity Dispatch Officer/Assign To
Officer 1 receives email notification and SR is available in their My Assignments
For various reasons the SR may need to be assigned to someone else to work instead of Officer 1
Dispatcher will assign SR to another Officer using the Activity Dispatch Officer/Assign To
Of

[2021-04-21 17:41] #5882 closed

[2021-04-21 18:23] sergiogcx commented on #5880
Ok, I see a problem in the code already. Sorry for this bug, let me go ahead and fix it.

[2021-04-21 18:31] moorerst opened #5884 "Research 311 integration with Knack Dispatch Tracking"
Communicate with 311 staff Chandra and Bill about getting in the queue to integrate 311 SR's with Knack Dispatch Tracking system
SR's to be integrated

- Pay by Phone
- ATD Booting Complaint
- RPP Enforcement
- Parking Violation Enforcement

[2021-04-21 19:18] chiaberry commented on #5808
https://atd.knack.com/test-tds-02-apr-2021-transportation-development-services-portal#tia-mitigations-directory/tia-mitigation-details/60677899da9d57067ec52e32/

I have it so the text in the third cell in the table total rows is replaced with empty string, except for the last table total row.  Is the ability to hide summary name only on these two tables (Construction and Fee in Lieu), or are there

[2021-04-21 19:21] dianamartin commented on #5735
@amenity @johnclary I tried this in the TEST DTS Portal and PROD DTS Portal and followed the help guide instructions twice with no luck.

This is the custom [URL](https://atd.knack.com/dts#new-service-request/?view_249_vars=%7B%22field_390%22%3A%5B%22Finance+%26+Administration%22%5D%2C%22field_398%22%3A%5B%22Bug+Report+%E2%80%94+Something+is+not+working%22%5D%2C%22field_399%22%3A%5B%22Finance+%26+

[2021-04-21 19:37] ChrispinP commented on #5791
Emails updated with footer noted above. Added link to TIA page and updated approval emails. Updated Googled sheet & doc.

Closing as complete

[2021-04-21 19:37] #5791 closed

[2021-04-21 19:41] ChrispinP commented on #5071
Knack agreed and created a case for their product team to improve this feature. Pending any further updates.

[2021-04-21 19:48] jaime-mckeown commented on #5874
- New Python 3 script saved to Project directory
- Project configured to publish to AGOL

[2021-04-21 19:50] jaime-mckeown opened #5885 "AGOL User Account to be changed to a COA User"
Harrell can't edit the AE Poles fields that I added for him. It turns out that his account is a COA Viewer.

[2021-04-21 19:50] jaime-mckeown commented on #5885
Submitted Service-Now Request for Harrell's AGOL account privileges to be changed to a User from a Viewer.

[2021-04-21 19:51] jaime-mckeown opened #5886 "Request GIS TRAIN Classes for Chris M."
Chris asked to be registered for:
- Migrating from ArcMap to ArcGIS Pro (Abridged) Class on 5/5
- Creating Maps and Visualizations with ArcGIS Class on 6/22-6/23

[2021-04-21 19:57] ChrispinP commented on #4768
All emails updated from issue #5791 . Removed original Submission Packet request email based on Fee sent status.

Joan also suggested adding this image to the email which is possible but would need to be a smaller size (prob no larger than 100 x 100) and hosted publicly on the web somewhere so I can link it.
![image](https://user-images.githubusercontent.com/67915167/115613054-90f7c480-a2b1-11eb-8

[2021-04-21 19:59] jaime-mckeown opened #5887 "Test GIS Laptop"
Scott ordered a couple GIS laptops. When they arrive, I will test one out to see how they work.

Brian Craig was inquiring about them.

[2021-04-21 20:03] ChrispinP commented on #5535
removed customer home and help from navigation menu until we have content for them.

Moving issue to Blocked until we have the home information and help pages ready

[2021-04-21 20:04] jaime-mckeown commented on #5817
Charles still hasn't scheduled time to meet with Scott to get his tablet fixed. Just sent him a reminder to get that done.

[2021-04-21 20:17] ChrispinP commented on #5808
Its looking much cleaner without that text. I also have those tables on the memo here:
https://builder.knack.com/atd/test-tds-02-apr-2021-transportation-development-services-portal/pages/scene_255

What would it look like if instead of leaving a blank string that it shows "Location Total"

[2021-04-21 20:19] atdservicebot opened #5888 "[Parking Enterprise] Issue Type "Inspection" & Out-of-Service "Airport Visit" Request"
Other / Not Sure

I would like to request add in the "Issue Type" tab "Inspection" and once "Inspection" is selected I would like a request for a drop down box to be created for "Type of Inspection".
The different types of inspection are: Taxi, Limo, Charter, Pedicab, Bus, Electric Low Speed Vehicle (ELSV), Valet, Horse Drawn Carriage (HDC), and Peddle Pub Crawler.

I would also like to request to

[2021-04-21 20:43] ChrispinP commented on #5868
Case Reviewers will default to the Lead Reviewer if blank and by virtue, now Scope & Submission Reviewers will default to Case Reviewers for all 3 instances where this occurs; when a Reviewer creates a submission, when a Customer submits an application, and when a Customer creates a submission.

Ready to review

[2021-04-21 20:44] amenity opened #5889 "Spike | Provide recommendation on approach to improving testing workflow"
Would be great to have a way to preview PRs that involve backend development with the PR-specific database in place.

Heroku- supported improvements to dev-ops pipeline

[2021-04-21 20:46] SurbhiBakshi commented on #5437
Post migration Checklist

BACK END
- [ ] Big button re-direct links
- [ ]  Big button (rich text) - add tags
- [ ]  Coordinate with dev team
- [ ]  Get code working in test application
- [ ]  Schedule maintenance down time for app

 FRONT END

- [ ]  Check for broken icons
- [ ]  Check for broken links
- [ ]  Check multiple columns
- [ ]  Document every change that needs to be changed in Prod appl

[2021-04-21 20:48] atdservicebot opened #5890 "This is a trial , no need to triage, please close this issue."
Other / Not Sure

This is a trial , no need to triage, please close this issue.

Unsure

This is a trial , no need to triage, please close this issue.

Surbhi B.

Request ID: DTS21-101930

[2021-04-21 20:49] TracyLinder opened #5891 "UC - Right-of-Way Admin (50075) Process Update (Time of insert) (SR) (On PROD)"
### As UC Case Manager, I need to be able to use the Right-of-Way Admin (50075) Process prior to folder issuance.

**Stakeholders:** Greg P, Isiah L, Jessica Davis, Jaclyn, Darren

**Acceptance Criteria:**
- Applies to UC folder
- Right-of-Way Admin Process(50075) must be inserted when UC folder is created.
- User should be able to make process attempt 'Create Permits' in Right-of-Way Admin Proces

[2021-04-21 20:49] ChrispinP commented on #5645
@TracyLinder As discussed, lets have Sangeeta do a little usability in TIA to see if the Reviewer Communication feature built there would meet need and to replicate in Development Reviews and TDA Reviews.

[2021-04-21 20:50] TracyLinder opened #5892 "UC Bug: Child Folder Functionality on SP Folder"
### The SP is programmed so that a child UC folder is created whenever info R.O.W. Review? (61125) is set to yes. This isn't working as intended because the folder defaults this info to yes when inserted.

**Stakeholders:** Darren, Isiah, Greg

**Acceptance Criteria:**
- TBD
- System inserts & bills the review fee and surcharge

**Notes:**
- Possible solution: Add info 51475 Utility Coordination R

[2021-04-21 21:03] amenity commented on #5879
Thanks, @mddilley ! Add an estimate, plz.🙏

[2021-04-21 21:17] ChrispinP commented on #5811
I have tested both forms and everything is looking good. updated production.

@TracyLinder Ready to review

[2021-04-21 21:43] dianamartin commented on #4267
Checked my emails and noticed I got this on 3/31

Assigned Group: `IT_PURCHASING`

[2021-04-21 21:50] dianamartin commented on #5867
Emailed Max

- Let me know if you have questions. You can look at my Teams message about the other minor things I did as well.

[2021-04-21 21:50] #5867 closed

[2021-04-21 21:50] jaime-mckeown commented on #5874
- Updated documentation for updates

[2021-04-21 21:50] #5874 closed

[2021-04-21 21:55] #5872 closed

[2021-04-21 21:57] dianamartin commented on #5494
Messaged CTM SharePoint team to figure out how to track this request

- I keep following up with him and he said that CTM still hasn't reached out about it. I'm his ATD site collection admin.

[2021-04-21 21:58] jaime-mckeown commented on #5656
Meeting with TDSD Monday 5/3 to discuss changes to Web Map.

[2021-04-21 21:58] dianamartin commented on #4851
This can be closed

[2021-04-21 21:58] #4851 closed

[2021-04-21 22:01] dianamartin commented on #5760
Checked copy of TEST Banners app from 4/15, still not SSO function on the back end.

[2021-04-21 22:12] dianamartin commented on #5836
@moorerst let me know if these changes are okay, then we can close this issue.

[2021-04-21 22:14] dianamartin commented on #5501
Shavyvonne said in a communication that she wanted the PEOs to test for a few weeks. I said we should wrap up testing on Apr 29th, so that on the 30th we can make changes before the May 3rd Go-Live.

[2021-04-21 22:16] dianamartin commented on #5492
@johnclary Did you want me to wait to do this?

[2021-04-21 22:20] dianamartin commented on #5871
Messaged Nathan B.

[2021-04-21 22:37] dianamartin commented on #5871
- [x] Changed user roles for Meredith S., Tina S.

@johnclary can you remind me whether or not we have an automated update that runs in the HR app, I forget and Nathan wanted to clarify there was one. I told him I know that Linda creates new employee accounts so they can fill out their NEO forms.

[2021-04-21 22:43] dianamartin commented on #5871
I asked

Nathan

- [x] I emailed Nathan about changing Daniil's division

[2021-04-21 22:45] ChrispinP opened #5893 "[TDS] Create 'On Time' Performance Measure Report for TIA"
**New On Time Report**

- [x] Custom Filters
- [x] Group by 'Cycle #'
- [x] Calculate by 'On Time' count
- [x] Use 'Days Idle' (Submittal Date to Begin Review Date)
- [x] Count field 'Number of On Time Submissions' (Request object). Filter by Days Idle value.
- [x] % Equation[(# of On Time Scope Submissions + # of On Time Submissions) / (# of Scope Submissions + # of Submissions)]

[2021-04-21 22:50] ChrispinP opened #5894 "[TDS] Update Report Styling"
Once we determine the final set of reports needed, will need to update report styling so it is more readable.

Reports styling will be based off RPP reporting seen here: https://atd.knack.com/parking#reports/

[2021-04-21 23:09] SubhaShroff commented on #4033
@TracyLinder  @Nadin-Nader As per the Robert's notes on this ticket, here is what I noticed:
- Robert has done necessary code changes and one more commit(ea9fe1d84306) needs to move from ATD branch to DEV and then TEST before UAT is done. It all looks good on phabricator. Since the change is done on ATD local branch, I cant test it on LIT local branch. Please let me know if the commit-ea9fe1d84306

[2021-04-21 23:29] mddilley commented on #5434
I made the same updates to **TEST | APR 4 2021 | Finance and Purchasing System** that were applied to the SMB apps, and I'm no longer able to reproduce a bug where the custom login would disappear after logging out. The issue with clickable white space to the right of the big buttons is now gone as well. The updates are in [this PR](https://github.com/cityofaustin/atd-knack/pull/33) which I will r

[2021-04-21 23:48] ChrispinP opened #5895 "[TDS] Prevent Report Filters from shifting 2nd Report down"
Prevent Report Filters from shifting 2nd Report down

[2021-04-21 23:49] ChrispinP commented on #5895
Added some CSS to prevent this for the reporting views with filters.
![image](https://user-images.githubusercontent.com/67915167/115635864-4470b100-a2d2-11eb-81b7-92761d920621.png)

Ready to review

[2021-04-22 02:23] sergiogcx commented on #5880
There is a PR, ready for review:
https://github.com/cityofaustin/atd-moped/pull/289

[2021-04-22 04:38] amenity commented on #5735
@dianamartin - thanks. Bummer 🙁 Would this be in @chiaberry's purview to troubleshoot, @johnclary ?

[2021-04-22 12:36] dianamartin commented on #5735
@amenity @SurbhiBakshi said she'd take a stab at it since I tried it and maybe a second pair of eyes is what it needs. I do think Chia might need to assist if this doesn't work out.

[2021-04-22 12:44] dianamartin commented on #5888
Talked to Shavyvonne and she wants to amend the "Airport Visit" request. She wants to just add it as a choice for "Out of service" rather than a new selection on the SR form.

[2021-04-22 14:41] dianamartin commented on #5877
Parking Meters
Has 6 tablets
- Nick F.
- Gilbert M.
- Wilber S.
- Steve S.
- Juan A. - getting set up, Jacob's old profile was on it
- Jacob C. - might reassign Kyle

[2021-04-22 14:43] moorerst commented on #5836
All changes are complete and approved by the stakeholders. Closing this issue.

[2021-04-22 14:43] #5836 closed

[2021-04-22 15:06] johnclary commented on #5871
Yes, this is a challenge. If HR just keeps up with the employee info in Banner, we can cover this with our integration. I was planning to put @chiaberry on #2167 at some point.

[2021-04-22 15:08] johnclary commented on #4546
Jeffery H has started putting the weekly email output on the network drive:
`.../ATD_GIS/02_ENT_APPLICATIONS/app_Human_Resources_Manager/_ctm_users_integration`

Todo:
Setup a process to process this data.

[2021-04-22 15:10] SubhaShroff commented on #4469
@Nadin-Nader @TracyLinder  DEV deployment request is submitted for the updated AC:  SCTASK0133028 for commit-3c6157039514.

[2021-04-22 15:26] moorerst commented on #5755
@dianamartin not sure if this scenario happens often but as a Officer I submitted SR  PSR00-002790 after attaching a photo.
As the Dispatcher I reviewed it in Final Review
I added a new Activity for Dispatch Investigator and added a Note that the photo is not clear and needs to be retaken
I assigned the SR back to myself I see the SR in My Assignments with the status In Progress but I don't see th

[2021-04-22 15:28] SubhaShroff commented on #4033
@Nadin-Nader  @TracyLinder DEV deployment request is submitted for commit(ea9fe1d84306) as per Robert's notes in the ticket -SCTASK0133038. [4/22/3031]

[2021-04-22 15:33] dianamartin commented on #5755
@moorerst It depends, I'm not following which "Notes" they need to see. Might need to talk to the dispatcher about what they did.

[2021-04-22 16:03] ChrispinP commented on #2876
CSS has been updated for this enhancement.

complete

[2021-04-22 16:03] #2876 closed

[2021-04-22 16:05] ChrispinP commented on #3924
I have updated the SSO code for both TDS and it is now in RPP with all login pages enabled for SSO.

[2021-04-22 16:43] Nadin-Nader commented on #4033
@SubhaShroff Updated TASK for DEV deployment to reflect High Urgency

## **Status:**

Waiting on DevOps TO Deploy **SCTASK0133038** to **DEV**

[2021-04-22 16:47] atdservicebot opened #5896 "[HR] Your Name field not showing as completed when submitting Telework Form. Possible Auto-Populate Bug"
Other / Not Sure

I am trying to select "your name" on the telework request form and I am not allowed to select from the drop down menu so when I go to submit my request, it states "requested by employee name is required"

Flexible  — An extended timeline is OK

Micaela G.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/6081a868873fff001d78ba3d/screensho

[2021-04-22 17:15] alan-deanda opened #5897 "Healthy Streets Request"
Turn `PUBLIC_VIEW` off for:
* Riverside Dr
* Pleasant Valley Dr

[2021-04-22 17:30] #5897 closed

[2021-04-22 17:57] Nadin-Nader commented on #4511
@aishwarya2505 I have sent this to the DEVOps Team to deploy to DEV under **SCTASK0133093** for **Commit- 27d70bd4502f**

## **Status:**
Waiting on DEVOps CM Team to deploy to DEV

[2021-04-22 18:04] jaime-mckeown commented on #5877
Created new AGOL Accounts, configured Bios, added to Groups:
- Nick F.
- Jose A.
- Ali M.
- Kyle B.
- Wilber S.

[2021-04-22 18:23] Nadin-Nader commented on #4551
@aishwarya2505 @TracyLinder I have reviewed the Demo for this on DEV and it looks go to me.

## **Status:**
Ready to start the move to TEST environment

[2021-04-22 18:40] ChrispinP opened #5898 "[TDS] Import Intersection Points Data into Mitigation Geo"
Import Intersection Points Data into Mitigation Geo object where segment IDs currently live.

Update and organize data accordingly. Create new text formulas as appropriate.

[2021-04-22 19:15] Nadin-Nader commented on #1726
@SubhaShroff @TracyLinder UAT on TEST has been scheduled for 4/26/21 2 1030am

## **Status:**

Waiting on UAT on TEST meeting for approval to move to PROD

[2021-04-22 19:26] Nadin-Nader commented on #2397
The list has been updated but still needs about 8 more changes to it. Paloma said to go ahead and make the current changes and to schedule time with or send an email to Jaclyn or Isaiah to determine the rest. The most updated list is below:

[https://app.zenhub.com/files/140626918/258123c6-394f-478d-b99d-283f34367822/download](https://app.zenhub.com/files/140626918/258123c6-394f-478d-b99d-283f3436

[2021-04-22 19:59] #5877 closed

[2021-04-22 20:18] #5880 closed

[2021-04-22 21:18] Nadin-Nader commented on #5580
@TracyLinder @SubhaShroff Both Paloma and Kim are busy for the reset of the week and will most likely not be able to get back to us fast. I sent them the demo via email to review and asked for their feedback. If anything we can go over it in our weekly ROW meeting tomorrow 4/23/21.
Here is the demo:

https://user-images.githubusercontent.com/63309637/115780913-59efe480-a37f-11eb-81b7-1fc9472d365d.

[2021-04-22 21:19] Nadin-Nader commented on #5580
## **Status:**

Waiting on Paloma/Kim's Feedback to proceed to TEST

[2021-04-22 21:32] dianamartin opened #5899 "IT Support: Request to remove "Classic Collector" from AirWatch profiles"

[2021-04-22 21:34] dianamartin commented on #5899
Created ServiceNow ticket `INC0096986`

#### Collector Versions
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/9d216d0a-eaf6-49dc-a08c-fbfdabc697a3)

#### Parking Meters - Home page (both apps)
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/0a5a6303-9078-4272-962e-24f583e721ae)

[2021-04-22 21:37] mateoclarke opened #5900 "VZV | Remove ALL Crashes on Private Drives from Socrata & VZV"
From XA:

- [ ] update ETL pipeline and removes cases where: private_dr_flag = Y
- [ ] remove cases from historical data in Socrata where: private_dr_flag = Y

---
Update logic to include all crashes

[2021-04-22 21:42] dianamartin commented on #5871
emailed Nathan

Would you like to specify which fields are most important for you when we sync the information or would you prefer a meeting to discuss the BANNER sync requirements?

[2021-04-23 00:06] jaime-mckeown commented on #5878
- updated SW Area Engineer in Maint, updated to GISDM
- Imported the Full Extent, Central, NE, NW, SE, SW layouts to Pro Project and configured.
- All of the map annotation from the Mxds (Engineer Areas, Streets labels) becomes unchangeable graphics when imported to Pro
- Created GDB Annotation for the Engineer Areas, left the street labels as graphics for now as it will be time consuming to chang

[2021-04-23 00:07] jaime-mckeown commented on #5878
Sent Jonathan a new full extent PDF after updating the SW Area.

[2021-04-23 00:07] #5878 closed

[2021-04-23 00:28] jaime-mckeown commented on #5886
- Checked that he was registered. Trish registered him for one of the wrong classes after I put the wrong dates.
- Submitted request to cancel his registration for the wrong class
- Submitted request to register for the correct class.

[2021-04-23 00:29] jaime-mckeown opened #5901 "Request for GIS TRAIN Class - Jaime M."
Submitted request for myself to take the Creating Maps and Visualizations with ArcGIS Class on 7/20-7/22.

[2021-04-23 00:38] ChrispinP commented on #5430
New Builder switchover complete

[2021-04-23 00:38] ChrispinP commented on #5426
RPP Switchover complete

[2021-04-23 00:42] ChrispinP commented on #5768
This page is looking better and is working from the email link. Should do some more page/print formatting to get it to a better spot and print on a single page.

[2021-04-23 00:50] ChrispinP commented on #5767
Mobile Styling is now in place. I was able to update it some to include new read-only name field and email fields.

New builder removes the ability to add the same field multiple times to a view so my blank formatting field is no longer usable and spacing is additionally adjusted between views since there is no longer groups. There could be some more spacing improvements but otherwise, the mobile

[2021-04-23 02:29] amenity commented on #5794
@sergiogcx — I'm still seeing this on staging: https://moped.austinmobility.io/moped/projects/156
(Go to [Projects](https://moped.austinmobility.io/moped/projects) > `john's latest project`

[2021-04-23 02:38] amenity opened #5902 "Bug | WSOD-iness on project pages"
I'm getting a WSOD on staging in several places:
- https://moped.austinmobility.io/moped/projects/156 (see https://github.com/cityofaustin/atd-data-tech/issues/5794)
- Activity logs, e.g. https://moped.austinmobility.io/moped/projects/176?tab=activity_log, https://moped.austinmobility.io/moped/projects/188?tab=activity_log - I could swear for a second most of these were loading but now they're all

[2021-04-23 02:49] #4614 closed

[2021-04-23 02:53] amenity commented on #4423
@sergiogcx — Is it necessary for #5302 and #5300 to be in this epic?

[2021-04-23 13:47] jaime-mckeown commented on #5885
Account changed.

[2021-04-23 13:47] #5885 closed

[2021-04-23 13:53] SurbhiBakshi commented on #4732
Notes - If Count of Time Logs is zero

[2021-04-23 14:33] dianamartin commented on #4267
Gil Z. (CTM) emailed me about the quote, to get clarification

I replied

Steve also emailed 4/22

I replied

[2021-04-23 14:39] dianamartin commented on #5443
- Created back up for app ` BACKUP | APR 23 2021 - Parking Enterprise Portal`
- Updated Application Inventory to add back up
- App finished copying, Copy time : 9:00 am - 9:08 (less than 10 min) - small app

[2021-04-23 15:03] ChrispinP opened #5903 "[HR] Bug: Supervisor Name is connected to all accounts instead of just Supervisors for Telework Form"
![image](https://user-images.githubusercontent.com/67915167/115890835-ffa46180-a41a-11eb-9a03-8a35bb68bd28.png)

[2021-04-23 15:11] ChrispinP opened #5904 "[HR] Update CSS Code for Big & Small Buttons. Update JS for SSO and Big Buttons"
Update CSS Code for Big & Small Buttons. Update JS for SSO and Big Buttons

- [x] SSO
- [x] Big Button JS
- [x] Big Button CSS
- [x] Small Button CSS

[2021-04-23 15:13] SurbhiBakshi commented on #5438
**Post Migration Checklist**

**As SMO Team**

- [ ]  Home
- [ ]  Permits
- [ ]  Fees/ Payments

**As SMO Partner**
- [ ]  Fees/ Payments
- [ ] Miscellaneous
- [ ]  Login

- [ ] Check Single Sign On

[2021-04-23 15:15] ChrispinP opened #5905 "[HR] Remove Test Field from Accounts object"
![image](https://user-images.githubusercontent.com/67915167/115892554-e0a6cf00-a41c-11eb-86a3-8bf63e3adf1b.png)

[2021-04-23 15:23] ChrispinP opened #5906 "[HR] Enhancement: Update Employee Acknowledgement & Signature for Telework Form"
Update Employee Acknowledgement & Signature for Telework Form

![image](https://user-images.githubusercontent.com/67915167/115893400-bf92ae00-a41d-11eb-9fee-28cc7e6ad45f.png)

- [ ] Update Acknowledgements to Checkboxes
- [ ] Add Electronic Signature Field to type name?

[2021-04-23 15:29] ChrispinP commented on #5896
Sent an email to Micaela to troubleshoot issue. Pending response.

[2021-04-23 16:07] dianamartin commented on #5443
Turned in a ticket to Knack

[2021-04-23 16:08] dianamartin commented on #5860
She's seen the email notification and is good with it, closing

[2021-04-23 16:08] #5860 closed

[2021-04-23 16:16] ChrispinP commented on #5888
@dianamartin pushing this to Needs Scoping, feel free to update accordingly if we decide to put this on deck.

[2021-04-23 16:17] jaime-mckeown commented on #5693
Meeting with AMD (Edgardo, Brian, Sukumar) and Kimley Horn (Kent K.)
- back in 2019 they took all of our CAD drawings and created GIS data based on the drawings
- AMD was supposed to check all of the data for changes that needed to be made, but that piece has not happened yet
- Kent shared all the data, PDFs, etc., that he had
- I downloaded everything and saved it into G:\ATD\ATD_GIS\Arterial_Man

[2021-04-23 16:20] dianamartin commented on #5888
Thanks, @moorerst is aware and we'll ask the stakeholder the next time we meet

[2021-04-23 16:27] dianamartin commented on #5442
This app was reverted bc the SSO functionality wasn't showing up in the back end of the new builder

[2021-04-23 16:28] dianamartin commented on #5442
- Created a backup of the app **`BACKUP | APR 23 2021 - Street Banners Program Portal`
  - It didn't have the SSO configuration??!
- Changed the button code for new SSO and Button extra space fix in the PRODUCTION app

[2021-04-23 16:33] chiaberry commented on #5808
I can't find the subtotal location totals on the memo, is it because the preview data is shorter?

![Screen Shot 2021-04-23 at 9 46 59 AM](https://user-images.githubusercontent.com/12474808/115901597-0507a900-a427-11eb-9df2-5f9898509711.png)
Here is what it looks like with "Location Total" in as text. Should whatever text in that field be **bold** like the original styling?
![Screen Shot 2021-04-2

[2021-04-23 16:39] SurbhiBakshi commented on #5433
Post Migration Checklist -

### Pages to check
 **As Scheduler**

 Assignments
 Locations
 Invoicing

**As Officer Administrator**

- [ ]  Assignments
- [ ]  Invoicing
- [ ]  Cancelled

**As Officer**

- [ ]  Sign Up
- [ ]  My Assignments
- [ ]  Past Assignments
- [ ]  Cancellation Policy

**Miscellaneous**

- [ ]  Tasks to send email notifications
- [ ]  Tasks to create and update child records
-

[2021-04-23 16:42] andrewshensky commented on #5503
**Steps taken for data switchover**
1. Export current data to FGDB in AGOL - 10min
2. Download to local - 5min
3. Take maintenance table from test data and add to FGDB extract (clear any test data) - 10min
4. Append records from Origin table to maintenance table - 5min
5. Remove fields from Origin table that are now in maintenance table - 5min
6. Create 1:Many relationship class-5min
7. Format pop

[2021-04-23 17:15] SurbhiBakshi commented on #5433
@amenity - the banner came across when I migrated the Production instance to the New Builder. ![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/72c96c47-aaca-4411-91ec-336cc183d6c1)

[2021-04-23 17:16] ChrispinP commented on #5904
Updated all HR code and tested. Pushed to production.

[2021-04-23 17:18] ChrispinP commented on #3924
HR is now updated with SSO and all login pages enabled for SSO.

[2021-04-23 17:20] dianamartin opened #5907 "Enable COACD button on Parking Enterprise Portal login URLs, add fancy buttons, and document process"

[2021-04-23 17:31] ChrispinP commented on #5808
Yea we should bold Location Total so it matches the number bolding.

Here is what they look like on the Memo, Fee in Lieu table with only the 4 columns, and Construction table with only 2 columns.
![image](https://user-images.githubusercontent.com/67915167/115908464-d04c1f80-a42f-11eb-8690-8b42e3c9efcd.png)

https://atd.knack.com/development-services#tia-requests/tia-request-details/6025ace3cceb98

[2021-04-23 17:33] dianamartin commented on #5907
- Added SSO button code added to Backup - code worked properly
- Modified SSO button code in Parking Enterprise Portal PROD - code worked properly
- Confirmed SSO button on home page doesn't have extra space beyond button - Big button and small button
- Saw "SSO Log-in" buttons on "Home" page
- Signed into HOME page
- Saw "SSO Log-in" buttons on "Service Requests" page
- Saw "SSO Log-in" buttons o

[2021-04-23 17:35] dianamartin commented on #4850
Updated Street Banner PROD with new updated SSO button code and Big Button code #5442

[2021-04-23 18:02] amenity commented on #5433
@SurbhiBakshi — nice

[2021-04-23 18:04] ChrispinP commented on #5905
Also if Test Time Log Reporting should be repurposed or removed
![image](https://user-images.githubusercontent.com/67915167/115912053-79951480-a434-11eb-876a-1c37d281026f.png)

[2021-04-23 18:35] SurbhiBakshi commented on #5438
Notes
1. Get single sign on all pages except for Impounds.

[2021-04-23 18:52] SurbhiBakshi commented on #5448
- Miss the Single Sign On function for [one page](https://atd.knack.com/smo#impounds/) in Shared Mobility, it appears on all other login points.

[2021-04-23 19:12] TracyLinder commented on #5578
**Update**
We reviewed the sample PDF with stakeholders. Ryan asked for another section to be added that will allow users to view permit data line by line, similar to #5576.

@vschandramouli please work on updating AC. Thank you,

[2021-04-23 19:14] #5814 closed

[2021-04-23 19:32] dianamartin commented on #5443
## Report Configuration - Officer Metrics Reports
### Report 1
Title: **Assigned To**
Description: By Week
Source - `csr issues`
Row: `Assigned To csr connection` - Assigned To
Pivot Column: `Created Date` - Created Date
- group by week, From: 4/4/2021
Pivot Calculations: total record count - Count
- [ ] Exclude empty groups

### Report 2
Title: **Scooter Issues Created By Officer**
Description: I

[2021-04-23 19:34] TracyLinder commented on #5580
**Stakeholder Review:**

@SubhaShroff please group this in the Project Information grouping that already has CIP related info in it.

[2021-04-23 19:36] atdservicebot opened #5908 "Peter M. and Isabell P. would like the same rights as Evelyn P. to edit the ROW SharePoint"
Other / Not Sure

Peter M. and Isabell P. would like the same rights as Evelyn Po.to edit the ROW SharePoint pages.  We do not need to be "owners", unless that's required to edit the pages. Thanks!

Soon — This week

Peter M.

Request ID: DTS21-101940

[2021-04-23 19:39] TracyLinder commented on #4071
**Stakeholder Review & Update**
- Based on Subha's research, customers are already able to pay bills for void or withdrawn folder statuses. If this is true, then we can close this ticket. Paloma & Tracy will test to be sure.

[2021-04-23 19:44] TracyLinder commented on #4469
Per Paloma:
- we should not add Small Cell Node
- Add a subtype for Project Connect

@Nadin-Nader please update the table above. Thanks!

[2021-04-23 19:56] TracyLinder commented on #1829
We can wait until V7 launches to tackle this one.

[2021-04-23 20:00] TracyLinder opened #5909 "Consolidate Project Information Info Groups on EX, RW-TURP"
### There are multiple 'Project Information' info groups. We need to clean this up so the info tab makes more sense and is easier to manage.

**Stakeholders:** Paloma, Izzy

**Acceptance Criteria:**
- Applies to EX, RW-TURP
- All folder Infos that are under the different 'Project information' Folder Info groups need to be moved to a single Project Information Folder Info group
- Currently the Proj

[2021-04-23 20:02] ChrispinP commented on #5896
We were able to identify it was a browser issue. Micaela was able to resolve.

[2021-04-23 20:02] #5896 closed

[2021-04-23 20:15] dianamartin commented on #5443
I re-built these reports because the stakeholders are usability testing and need to review these reports before we go-live

[2021-04-23 20:25] ChrispinP commented on #5435
Scheduled Switchover for Monday and emailed stakeholders.

[2021-04-23 20:45] dianamartin commented on #5434
- Created back up for app `BACKUP | APR 23 2021 - Finance and Purchasing System`
- Added SSO button code added to Backup - code worked properly
- Modified SSO button code in Finance and Purchasing PROD - code worked properly

[2021-04-23 21:02] SurbhiBakshi commented on #5438
The Permit Expiration notification email that is sent out when a permit expiry date is 30 days away lost it's formatting. When I reformatted the content and tried to save the task, I see the error documented below. If I don't save the formatting and run the task as it came in from the Old Builder it works and sends the email. Don't see any error message.

 ![image.png](https://images.zenhubusercon

[2021-04-23 21:12] #5434 closed

[2021-04-23 21:13] dianamartin commented on #5431
- Created BACKUP | APR 22 2021 - Signs and Markings Operations on 4/22
-

[2021-04-23 21:35] chiaberry opened #5910 "Migrate Arterial Management Locations"
You need to make an issue for this one: Arterial Management Locations. [Legacy config](https://github.com/cityofaustin/atd-data-publishing/blob/24c4fbad9d4fc06085fe8254e4584092f8c2746a/transportation-data-publishing/config/knack/config.py#L185)
Needs to be published to ArcGIS Online only. Here’s the [layer](https://austin.maps.arcgis.com/home/item.html?id=66f4b5b0339d4275b64f265dd59727e5)
There is

[2021-04-23 22:14] dianamartin commented on #5432
- Created backup for app `BACKUP| APR 22 2021 | Austin Transportation Data Tracker`
- Updated Application Inventory to add back up
- App finished copying, Copy time: 4:57 pm - 9:08 pm (~4 hrs, 11 min)
- Checking BACKUP - still missing SSO functionality in the back end
- Had checked reports in TEST, believe the only report that might have an issue an possible rebuild it on "
  - Traffic Count & Dat

[2021-04-23 22:40] dianamartin commented on #5432
# Report Configuration for Traffic Count and Data Collection

[2021-04-23 23:11] ChrispinP commented on #5893
Built 2 area reports for Scope Submissions and Submissions for this metric. Added metric statistics to case management page.

Will need to determine if this meets need and if any further adjustments are needed.

[2021-04-24 19:11] amenity commented on #5841
Debrief post [demo](https://drive.google.com/file/d/1iQ-TfTBwV0pkL2b3jD6T7djuAhEuPulK/view?usp=sharing) from [one.network](https://us.one.network/)

Attendees:
- Luke U., Capital Improvement Program Manager
- Lance B., MMC
- Khushboo P. - Joining the MMC as a liason w/ CPO engineer
- Tracy, Amenity, John

### Desired outcomes

- Know where are projects happening in the ROW, automated centralized p

[2021-04-24 19:13] amenity commented on #5841
@TracyLinder @johnclary - do those questions for Eliza look right? Also, are they already "preparing" pricing for us — or should we ask for that?

[2021-04-24 21:09] atdservicebot opened #5911 "Dropdown menu for My name does not populate (no choice option) on Telework Schedule form requiring u..."
AMANDA

Dropdown menu for My name does not populate (no choice option) on Telework Schedule form requiring update since return to PDC.

Internet Browser: Internet Explorer

John C.

Request ID: DTS21-101945

[2021-04-24 21:11] dianamartin commented on #5911
This sounds like HR App and not Amanda.

[2021-04-25 17:58] johnclary opened #5912 "Address 311 <> Knack Integration Issues"
We're experiencing frequent downtime of our 311 <> Knack integration.

After thorough troubleshooting, we believe the issues stem from the Enterprise Service Bus (ESB), which is a CTM-managed tool that sends records from 311 to our [Knack proxy server](https://github.com/cityofaustin/atd-knack-proxy).

[2021-04-25 18:00] johnclary commented on #5912
Sample error message:
[code]

[2021-04-25 18:03] johnclary opened #5913 "311 <> Knack Integration is down"
Billy (MMC) contacted us and let us know that 311 SRs were not available in the Data Tracker. I can confirm this is related to the ongoing ESB connectivity issues (see parent Epic).

[2021-04-25 18:03] johnclary opened #5914 "Meet with CTM to discuss ESB issues"
We need to discuss the recent ESB issues with CTM. We're quite convinced the ongoing issues are not related to our infrastructure.

@johnclary ask Omar about the best way to escalate an issue.

[2021-04-25 18:05] johnclary commented on #5913
I alerted Omar (CTM) to the issue. I contacted Billy and MMC and let them know we are monitoring the issue but are unable to assist.

[2021-04-25 18:30] johnclary commented on #5913
Omar restarted the ESB and that resolved the issues. I let Billy/MCC know.

[2021-04-25 18:30] #5913 closed

[2021-04-25 21:04] johnclary commented on #5914
Schedule for 4/29 @ 3pm

[2021-04-25 21:34] johnclary opened #5915 "Ability to manually create a 311 SR in the Data Tracker"
There are rare occasions in which a 311 SR will never appear in the Data Tracker. This typically happens after an outage, which some backlog messages are never processed.

The MMC operators need the ability to manually create a service request (aka MMC Issue) in the Data Tracker so that it can be managed through the normal operating procedures.

[2021-04-25 21:34] johnclary opened #5916 "Improve Knack Proxy error handling"
See [PR #28](https://github.com/cityofaustin/atd-knack-proxy/pull/28)

[2021-04-25 21:38] johnclary commented on #5915
I added **311** as drop-down option on the "Source" field of the **New MMC Issue form**.  I also exposed the "311 Service Request #" field to this form, and created a display rule to display it when the source is **311**.

<img width="812" alt="Screen Shot 2021-04-25 at 4 32 05 PM" src="https://user-images.githubusercontent.com/14793120/116010417-6a54c900-a5e4-11eb-8d76-c41425ecefbf.png">

[2021-04-25 21:39] johnclary commented on #5915
FYI @amenity @dianamartin

[2021-04-25 21:39] #5915 closed

[2021-04-25 21:40] #5916 closed

[2021-04-26 13:50] SurbhiBakshi opened #5917 "Create new user accounts for equipment check out in the DTS Portal"
Responded to Scott's email and created accounts for the following new employees

1. Eliza Y
2. Alexander P
3. Christopher P
4. Michael H
5. Briana P
6. Samantha H

[2021-04-26 13:57] dianamartin opened #5918 "IT Support: Knack Take-Home Equipment Admin Access"
Scott R.
DTS

Allow admin to return equipment for people that returned their equipment

[2021-04-26 14:22] dianamartin commented on #5918
Looked at the [table](https://atd.knack.com/dts#equipment/) and compared it to the "My Equipment" table that each individual employee has. They had an "Edit" and "Return" button. I added the "Return" button to the Admin Equipment table then messaged Scott.

[2021-04-26 14:22] #5918 closed

[2021-04-26 14:59] dianamartin commented on #5908
I checked the ROW SharePoint site and I had set the permissions so that `Everyone except external users` can edit/modify things. Evelyn doesn't have any special permissions that I see.

[2021-04-26 15:02] ChrispinP commented on #5911
FYI #5896 User also shouldnt be using IE.

[2021-04-26 15:08] dianamartin commented on #5911
User confirmed in the system. Need to get with them to determine what exactly the issue is then.

[2021-04-26 15:15] moorerst commented on #5904
@ChrispinP Thanks Was able to login successfully Closing this issue

[2021-04-26 15:15] #5904 closed

[2021-04-26 15:21] dianamartin commented on #5911
Messaged user

Also, what browser are you using? If Internet Explorer, switch to Firefox or Chrome. IE doesn't work well with the application.

[2021-04-26 15:41] TracyLinder commented on #5680
### Action Items

**Tracy**
- [ ] Look @ ROW Cost of Service Metrics, City Manager's Report, ROW Metrics and be sure that data is included in Open Data publishing
- [ ] Schedule next sync in a couple of weeks

### Next Steps
- Identify/document all metrics needed
- We should mockup the reporting metrics that Ryan would like to see in PowerBI

**Notes**
- Table publishing fee data at this time; the

[2021-04-26 15:45] SubhaShroff commented on #4033
Status:
Tested it on DEV, looks good. Further, ea9fe1d84306 needs to be promoted to TEST as per Robert's notes. I submitted a ServiceNow request for TEST deployment of ea9fe1d84306 : **SCTASK0133544**

[2021-04-26 15:47] johnclary opened #5919 "Deliver AMANDA update at management team meeting"
Provide an AMANDA update at the mgmt team meeting on 5/3 at 10am.

- Portal Upgrade
- v7 Upgrade
- LaunchIT contract
- Summary of backlog, in progress, and recently completed work

[2021-04-26 15:51] mddilley opened #5920 "Project Extent | Create `project_extent_ids` from `project_extent_geojson` in the front end"
In the project table, the `project_extent_ids` field contains a subset of the data from the `project_extent_geojson` field. Now that we know that the unique IDs of GeoJSON features are stored in the `PROJECT_EXTENT_ID` property in all existing layers, the `project_extent_ids` can easily be created on the frontend. This will eliminate any possible bugs where data between these two fields becomes un

[2021-04-26 16:38] dianamartin commented on #5888
- Chatted with Shavyvonne to learn about the Inspections work that Parking Enforcement does

# Inspections

PE regulates the inspections for Ground Transportation companies like:
- Taxi
- Limo, Charter
- Pedicab
- Bus
- Electric Low Speed Vehicle (ELSV)
- Valet
- Horse Drawn Carriage (HDC)
- Peddle Pub Crawler

## Full Process
- Mobility Services (Courtney H.'s group) has providers get permit
- Pa

[2021-04-26 16:58] ChrispinP commented on #5435
New Builder Switchover Complete

[2021-04-26 16:58] ChrispinP commented on #5426
HR Switchover complete

[2021-04-26 17:04] dianamartin commented on #5888
- I will add the new choice for "Issue Type" and the "Inspection Type" fields on the SR form as it seems to be in the purview of this scope

I showed Shavyvonne the "Manage Schedule" page to give her an idea about how a work flow would look like for future scheduling inspection appointments. This would require a new request and further scoping if they needed it.

[2021-04-26 17:06] ChrispinP commented on #5448
Posted these in Slack but posting here as well so we can keep tabs on them:

You must click on report name or chart to open report edit view:
![image](https://user-images.githubusercontent.com/67915167/116122331-3d0d2700-a687-11eb-8995-a63422a0f3af.png)

Adding a new Details view to the top of a page shrinks the page rule message to single column width:
![image](https://user-images.githubuserconte

[2021-04-26 17:12] ChrispinP commented on #5449
Diana, Surbhi, and I have been notifying stakeholders. A few applications remain which do not need stakeholder notification.

Closing as complete

[2021-04-26 17:12] #5449 closed

[2021-04-26 18:20] dianamartin opened #5921 "Reports: Traffic Counts and Data Collection Reporting on Open Data Portal"
@johnclary

Future idea - putting the data for reporting in Open Data Portal

[2021-04-26 18:44] atdservicebot opened #5922 "Add new technicians to Datatracker. Richard Gautier Lawrence Reyes Justin Bates"
Other / Not Sure

Add new technicians to Datatracker.

Richard Gautier
Lawrence Reyes
Justin Bates

Soon — This week

For accurate Work order submissions.

Nicholas M.

Request ID: DTS21-101950

[2021-04-26 19:01] TracyLinder opened #5923 "TIA Project Meeting 4/26/21"

[2021-04-26 19:38] TracyLinder commented on #5923
### Notes

### Action Items
- [ ] (Tracy) Ask Curtis & Upal to provide feedback on the reporting page; do usability w/ them on this
- [ ] (Tracy) Update Usability Testing plan to include reporting features w/ Upal and Curtis

[2021-04-26 19:38] dianamartin commented on #5908
I reached out to Peter to let him know that there were no special permissions. I got on a call with him this afternoon 4/26, we included Evelyn and found out that she was able to:
- Edit a page
- Add an app
- See Site Pages

- Peter told me that Paloma wants to create new pages for SOP processes ex. Excavation and then including all that a reviewer would need to do an Excavation permit.
- I told P

[2021-04-26 19:39] #4768 closed

[2021-04-26 19:39] dianamartin commented on #5908
Closing, users will reach out when they need more permissions upgraded.

[2021-04-26 19:39] #5908 closed

[2021-04-26 19:39] #5868 closed

[2021-04-26 19:52] dianamartin opened #5924 "[BUG] Knack Issue: New Builder Reporting issues"
Diana M
DTS

Found some issues when bringing over Reports from older builder to new builder environment.

[2021-04-26 19:54] dianamartin commented on #5924
## Behavior
- Report was switched from old builder to new builder
- Report had connections to "Account - logged in users"
- When the report was edited it cleared the data in the reports, they wouldn't show up

Went from this
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/5a01c067-256e-4162-93a0-84e7ebd38280)

[2021-04-26 19:57] dianamartin commented on #5924
- Put in a ticket with Knack on 4/23
- Rebuilt the reports for Parking Dispatch - Officer Metrics (3 reports)
- Need to rebuild reports for AMD - Traffic Counts & Data Collection Reporting

[2021-04-26 19:59] dianamartin opened #5925 "[BUG] Custom SSO login buttons not rendering"
**Describe the bug**
The single sign on function is enabled on the old builder, we switched to new builder and found that only one page of an application isn't showing up properly.

**URL**
@SurbhiBakshi Can you add our page that isn't showing up properly here.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-04-26 20:01] dianamartin commented on #5925
@amenity This issue needs to be issued at the next Dev Sync, not urgent bc stakeholders have a process to sign in, but just doesn't look like the rest.

[2021-04-26 20:03] SurbhiBakshi commented on #5925
Here is the page from Shared Mobility - [Impounds](https://atd.knack.com/smo#impounds/)

[2021-04-26 20:23] #5811 closed

[2021-04-26 20:24] #5895 closed

[2021-04-26 21:21] dianamartin commented on #5888
- Added "Inspection" as choice to "Issue Type Manual
- Added "Inspection Type" as new field with choices:
  - Taxi
  - Limo, Charter
  - Pedicab
  - Bus
  - Electric Low Speed Vehicle (ELSV)
  - Valet
  - Horse Drawn Carriage (HDC)
  - Peddle Pub Crawler
- Updated New SR form
  - Added Display Rules
- Updated Edit SR form
  - Added Display Rules

Messaged Shavyvonne

[2021-04-26 21:23] dianamartin commented on #5871
Check to see Daniil's division, still Parking. Will wait until tomorrow to remind Nathan to ask Linda to update this.

[2021-04-26 21:36] ChrispinP commented on #5436
Visitor Sign In Switchover is complete. This app has a custom sign in so no SSO updates needed. I updated the CSS

[2021-04-26 21:37] ChrispinP commented on #5426
Visitor Sign In Switchover complete

[2021-04-26 21:43] dianamartin commented on #5911
User kept giving me thumbs up, but I wasn't sure if he'd actually tested and the issue was resolved.

I asked

reply

I replied

[2021-04-26 21:43] #5911 closed

[2021-04-26 21:45] dianamartin commented on #5922
I checked with John on this and he said the MMC should be the ones creating new accounts for users in AMD.

[2021-04-26 21:51] dianamartin commented on #5922
Emailed Nick

[2021-04-26 21:51] #5922 closed

[2021-04-26 22:19] TracyLinder opened #5926 "Data Request from Ryan M - Facility Owner / Project Sponsor"
### Hello Tracy, can you generate a list of the permits and folder names that were used to provide the sums for AWU permits? Thanks!
_Received by email from Ryan M. on 4/26/21_

[2021-04-26 22:21] TracyLinder commented on #5926
I provided Ryan, Jim, and Peggy with 2 data sets.
- [https://app.zenhub.com/files/140626918/2e88e839-596d-4272-a1c6-b6feb4d101ec/download](https://app.zenhub.com/files/140626918/2e88e839-596d-4272-a1c6-b6feb4d101ec/download)
- [https://app.zenhub.com/files/140626918/9515c75f-49d3-473a-98a5-14bffac411a8/download](https://app.zenhub.com/files/140626918/9515c75f-49d3-473a-98a5-14bffac411a8/download)

[2021-04-26 22:21] #5926 closed

[2021-04-26 22:26] amenity commented on #5925
Thanks, y'all! @chiaberry - headed your way.

[2021-04-26 22:28] dianamartin commented on #5443
created a new issue about BUG regarding new builder reporting issues #5924

[2021-04-26 22:29] dianamartin commented on #5443
Closing bc we have new issue about reporting bug

[2021-04-26 22:29] #5443 closed

[2021-04-26 22:31] dianamartin commented on #5924
# Street Banners Report
**REPORT CONFIGURATIONS**
"Monthly Crew Hours"
Source: `street banner time log`
Row: `TECHNICIAN connections`

Pivot Calculations:
- `HOURS WORKED`- SUM - Hours Worked
- `MINUTES WORKED` - SUM - Minutes Worked
- `MINUTES TO HOURS` - SUM - Hours (Minutes converted to Hours)
- [ ] Exclude empty groups

[2021-04-26 22:31] dianamartin commented on #5924
# Parking Enterprise - Officer Metrics Report

[2021-04-26 22:32] dianamartin commented on #5924
# Data Tracker Reports - Traffic Count and Data Collection
## Report Configuration
### Report 1
pie > pivot
Requests by Work Type - # of Set ups

### Report 2
pie > connection fields
Title: Completed Requests - By Assigned To
Description: Please use the 'add filters' option below to filter by Work Type.

### Report 3
pie = pie
Title: Number of Requests by Work Area
Description: Please use the 'add

[2021-04-26 22:33] dianamartin commented on #5432
Created issue for reporting bug in new builder #5924, closing this.

[2021-04-26 22:33] #5432 closed

[2021-04-26 22:34] dianamartin commented on #5431
Closing, have an issue for the SSO functionality not showing up #5720

[2021-04-26 22:34] #5431 closed

[2021-04-26 22:37] dianamartin commented on #5666
This issue just had the email template on it, the actual act of sending email out to users is #5449. Closing

[2021-04-26 22:37] #5666 closed

[2021-04-26 22:42] TracyLinder commented on #5926
**I sent 2 more data sets:**
- [https://app.zenhub.com/files/140626918/f1471ad5-48db-4dc4-aed5-30460699ba7d/download](https://app.zenhub.com/files/140626918/f1471ad5-48db-4dc4-aed5-30460699ba7d/download)
- [https://app.zenhub.com/files/140626918/0847d1c8-ab51-4d33-95e1-497f2a88a328/download](https://app.zenhub.com/files/140626918/0847d1c8-ab51-4d33-95e1-497f2a88a328/download)

[2021-04-26 22:44] dianamartin commented on #5925
# No SSO Big Button here
![image](https://user-images.githubusercontent.com/21112975/116159867-9f315080-a6b6-11eb-83da-bda777bc8ee1.png)

# SSO Big Button on - Home
![image](https://user-images.githubusercontent.com/21112975/116159907-b2442080-a6b6-11eb-9641-379a47ac35e1.png)

# SSO Big Button on - My Assignments
![image](https://user-images.githubusercontent.com/21112975/116159961-c8ea7780-a6b6-1

[2021-04-26 22:51] dianamartin commented on #5442
Created Issues for SSO #5760 and Reporting Issues #5924 with Knack, closing this issue.

[2021-04-26 22:51] #5442 closed

[2021-04-26 23:01] dianamartin opened #5927 "[BUG] The "View Request Details" button in the "Review Approval Details" page incorrect direct"
**Describe the bug**
A user should be in the Review Purchase Requests section, under the "Review Approval Details" they will have a link that should take them to the Purchase Request details, but when a user clicks on the button is just takes them to the "All Purchase Requests" list.

I don't remember if this was the behavior from the beginning, but apparently some users have indicated that this b

[2021-04-27 09:42] amenity commented on #307
![Moped-Roadmap-04-22-21](https://user-images.githubusercontent.com/1463708/116221066-e51c0200-a712-11eb-80b8-046cdb191677.png)

[2021-04-27 13:46] dianamartin commented on #5852
Messaged user

[2021-04-27 14:42] dianamartin opened #5928 "[BUG] Knack Issue: Page rules do not show up in new builder environment"
**Describe the bug**
When you log into the back end of the new builder, you are supposed to see the page rules. Right now, you see the number of rules, but the rules can't be seen or edited.

**URL**
Ex. [Page rules page](https://builder.knack.com/atd/finance-purchasing/pages/scene_4/rules)

**Screenshots**
## No Page Rules
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf

[2021-04-27 14:42] dianamartin commented on #5928
A knack ticket was submitted for this.

[2021-04-27 14:43] dianamartin commented on #5924
I checked, the knack ticket still hasn't been seen

[2021-04-27 14:52] johnclary commented on #131
Per Gil, the award notice has been published. Gil will get the RCA drafted over the next couple of weeks. We're on track for council action in July.

[2021-04-27 14:53] moorerst commented on #5888
@dianamartin I tested and this looks good.  Because they may be asked to inspect a high number of vehicles we discussed having a field to account for the number of inspections they would do on one SR so it will show up on reporting.

Can we remove the Testing Feedback field on the new SR? I don't think it's being used.

[2021-04-27 14:58] mddilley commented on #5920
This is fixed in https://github.com/cityofaustin/atd-moped/pull/292

[2021-04-27 14:59] #5881 closed

[2021-04-27 15:17] SubhaShroff commented on #4033
@Nadin-Nader  @TracyLinder  SCTASK0133544 is served.  I tested it on TEST and its ready for your testing.

[2021-04-27 15:35] SubhaShroff commented on #1877
@TracyLinder @Nadin-Nader I have submitted DEV deployment request for the commits(31ba61605949, 11848497a84c) - **SCTASK0133843**
Dated - 4/27/2021

[2021-04-27 15:53] moorerst opened #5929 "Reconfigure Barton Oaks Robin Floorplan"
Notes from Robin Barton Oaks Debrief meeting:
Barton Oaks
- Add New hotel spaces - went from 15 to 50 spaces
- Managers to this building, which places they have vacated to clean up the areas.
- Reduce dual monitors, going to 1 monitor only
- proposed set-up is: 1 laptop monitor - 1 monitor
some spaces would be just open spaces with expectation that user bring their own laptop and uses WiFi

Mgmt g

[2021-04-27 15:54] mddilley commented on #5780
I've opened a ticket with CTM for an API key. I requested the the same URL restrictions used for the Moped Mapbox token.

[2021-04-27 15:58] moorerst commented on #5929
Barton Oaks Reentry Map
[Barton Oaks Reentry map 042621.xlsx](https://github.com/cityofaustin/atd-data-tech/files/6385943/Barton.Oaks.Reentry.map.042621.xlsx)

What equipment will be located at each of the Hotel desk?

[2021-04-27 16:04] sergiogcx opened #5930 "[Bug] Moped Editor | Cannot delete phases"
It appears we cannot delete phases, strangely.

![image.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/254009b2-954f-4e67-b26f-187bdc67b9c9)

[2021-04-27 16:04] mddilley commented on #5780
Code used for aerial imagery in VZE https://github.com/cityofaustin/atd-vz-data/blob/e99a1ab0bb1f0bd7e4b45bb0f8ebad93c4a42b37/atd-vze/src/views/Locations/LocationMap.js

[2021-04-27 16:11] moorerst commented on #5907
@diana is this what you are referring to as SSO Log-in? **Logged in as Stephanie Moorer - Account Settings - Log Out**
I see this on Resource Tracking.

[2021-04-27 16:13] moorerst commented on #5755
Feedback from Dispatch Lead:
Currently we have 27 tester out of 34 onboard and active testers. Currently about 7 PEO’s ranging from Officer, Lead , or Supervisor that haven’t been trained on how to operate the new Parking Enterprise Portal due to being scheduled off or scheduled to provide assistance at the Vaccination cites.

So far so good……We haven’t experienced any issues so far on the applica

[2021-04-27 16:17] moorerst commented on #5884
4/26 emailed 311 personnel to get this request on their radar

[2021-04-27 16:19] sergiogcx commented on #5930
Lol, here I am trying to delete phases like a moron:
![image.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/4e215747-9595-4cec-994e-d2b37e69fced)

[2021-04-27 16:20] moorerst commented on #5767
@ChrispinP this was tested successfully. Can this be closed?

[2021-04-27 16:22] moorerst commented on #5796
outstanding issues will be discussed in Sprint Review meeting scheduled for 4/27

[2021-04-27 16:22] #5796 closed

[2021-04-27 16:28] SurbhiBakshi opened #5931 "Reorganize content in M.C.5. Story Page"
Jim p at CEI asked that some of the content under Status be moved to Additional Measure Insights. Confirmed this works for the Systems Development team.

[2021-04-27 16:31] moorerst commented on #5768
@ChrispinP some suggestions for modifications on the Invoice Page:

- [ ] Move email address up to the Applicant Email title
- [ ] Move Applicant Type answer up to the Applicant Type title
- [ ] Move actual resident address under Resident Address title

![image](https://user-images.githubusercontent.com/56606465/116278364-0baa5f00-a74c-11eb-9fa1-5c4f623753c5.png)

[2021-04-27 16:40] dianamartin commented on #5907
@moorerst The log in button issue is on this issue #5925

[2021-04-27 16:42] dianamartin commented on #5907
Closing because there's another issue addressing the weird SSO Big button issues on Parking Enterprise

[2021-04-27 16:42] #5907 closed

[2021-04-27 16:45] chiaberry commented on #5808
I have functions in the javascript in test-tds-02-apr-2021, you can choose what you want to replace the cell text with. I can also slack you the code @ChrispinP if that is easier

[2021-04-27 17:16] dianamartin commented on #5852
Liane replied

I offered

- Scheduling some time tomorrow to sync

[2021-04-27 17:45] johnclary commented on #5919
@TracyLinder I started a slide deck [here](https://docs.google.com/presentation/d/1Fi8Sx4w_knHIYIrdDM9fzMvYnVTIHfKT5kXmASyq5bY/edit#slide=id.p).

[2021-04-27 18:13] ChrispinP commented on #5633
New Tabbed Menu:
![image](https://user-images.githubusercontent.com/67915167/116291245-f9cfb880-a759-11eb-88dd-fdce113e737b.png)

Case Load by Area:
![image](https://user-images.githubusercontent.com/67915167/116291002-b83f0d80-a759-11eb-8cb7-b26a162d1250.png)

See Assigned Cases by Area:
![image](https://user-images.githubusercontent.com/67915167/116291191-ed4b6000-a759-11eb-9416-6c134f223d36.png

[2021-04-27 18:16] ChrispinP commented on #5633
Ive allowed inline editing for assigned reviewers but the function seems to be bugged atm. You can still navigate to the Case Details with the quick link and re-assign from the Case Details page.

[2021-04-27 18:19] ChrispinP commented on #5633
Ready to review

[2021-04-27 18:32] Nadin-Nader commented on #4469
@SubhaShroff  the list has been updated to show that Small Cell is not needed and Project connect needs to be added.

[2021-04-27 18:36] chiaberry commented on #5925
None of the pages that are missing the SSO Big Buttons have the knack sso div included `<div class="kn-sso-container column is-narrow"">`. I did a check on the settings for the pages (just another set of eyes to see if I caught anything) and it all looks the same on the pages with single sign on as the ones without.

Should I contact knack support?

[2021-04-27 18:36] Nadin-Nader commented on #4469
## **Status:**
Waiting on DevOps to Deploy the 2nd part to DEV **(SCTASK0133028 for commit-3c6157039514)

[2021-04-27 18:41] dianamartin commented on #5888
- I need to add a new field for the "Add Activity" form have the number of inspections.
- I can remove the "Testing Feedback" field

4/27: Shavyvonne asked that we change the "Attachment Type" from `All Clear` to `No Violation`. That was the feedback from the officers

[2021-04-27 18:45] SurbhiBakshi commented on #5849
Hi Shared Mobility team,

As discussed in our meeting last week, I migrated the Shared Mobility Operations application to the new version of the Knack platform on Friday.  I will now start work on making some of the changes we discussed last week.
Here are my notes and next steps (in blue) from the meeting last week -

Permits
Need to have multiple zones included in the same permit, with a differe

[2021-04-27 18:48] SurbhiBakshi commented on #5735
@amenity, @johnclary - I tried out the Knack documentation with a new form because I wondered if Display rules were preventing the fields from being seen, but did not get the fields to prepopulate. Think we might need @chiaberry to assist.

[2021-04-27 19:14] moorerst opened #5932 "Digital Petition Go Live Plan"
Go Live scheduled June 1st

- [ ] Week of 5/3 - Ryan will provide final language for Petition Description, Vehicle Information and Support/Oppose

- [ ] Update template with new language

- [ ] Week of 5/3 Ryan will provide list for internal user testing

- [x] Work on training documentation
Help Guide: https://docs.google.com/document/d/1h5kUKP3LnmotI5WypN0SUU99i9saoFC8oxlPg3v6sHI/edit

- [ ] Wee

[2021-04-27 19:24] dianamartin commented on #5925
I wonder if we should review the backups in the "old builder" environment to see if the buttons are still behaving incorrectly

[2021-04-27 19:39] ChrispinP commented on #3924
DTS SSO code verified and enabled. Updated and cleaned up code.

[2021-04-27 19:52] SurbhiBakshi commented on #3924
hi @ChrispinP - i had enabled SSP on the DTS application when I enabled it and updated the code [here](https://github.com/cityofaustin/atd-knack/tree/master/code/dts-portal). If you made changes to limit the clickable area, please make sure to update in Github.

[2021-04-27 19:56] SurbhiBakshi commented on #5804
1. Removed Assignment Type from Headers on the Sign Up page by changing the text formula for Officer Shift Labels
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/8ff470a4-5b87-4412-ba0f-375356ae9a6f)

2. and Invoicing

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/51272697-6e75-4be1-a96e-a235cf7d0218)

[2021-04-27 19:59] SurbhiBakshi commented on #5804
Also removed it from the Invoicing table header

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/b8ecc4bd-5895-405c-b660-07ae8180380a)

[2021-04-27 20:00] ChrispinP commented on #3924
Will need to create new SSO token for ROW once new app is established. ROW Prototype was the only ROW app with SSO enabled so I updated code for clarity and enabled on all login pages.

[2021-04-27 20:02] SubhaShroff commented on #5580
![image](https://user-images.githubusercontent.com/51680715/116305605-9ea5c200-a769-11eb-89f8-dd838e02a4f1.png)

[2021-04-27 20:24] chiaberry commented on #5735
https://atd.knack.com/dts#new-service-request/?view_249_vars=%7B%22field_390%22%3A%22Finance%20%26%20Administration%22%2C%22field_398%22%3A%22Bug%20Report%20%E2%80%94%20Something%20is%20not%20working%22%2C%22field_399%22%3A%22Finance%20%26%20Purchasing%22%7D

Here's what is super frustrating, the encoder link the documentation included was changing spaces to `+` instead of `%20`.

https://www.urle

[2021-04-27 20:24] SubhaShroff commented on #5580
![image](https://user-images.githubusercontent.com/51680715/116307557-1a087300-a76c-11eb-84dc-269ad66367c7.png)

RW

[2021-04-27 20:24] ChrispinP commented on #5441
Data Tracker is essentially the backup for the ROW app. New apps are already in the New Builder. Old Producation and Prototype will be maintained until data migration is successful and new production build is stable.

[2021-04-27 20:29] chiaberry commented on #5735
I can't remember if you get the messages or if I have to tag you @SurbhiBakshi , @dianamartin @amenity, so just in case

[2021-04-27 20:46] #5767 closed

[2021-04-27 20:52] dianamartin commented on #5735
@chiaberry Aww..you figured it out! Nice

[2021-04-27 20:52] SurbhiBakshi commented on #5735
This looks great @chiaberry!

[2021-04-27 21:00] chiaberry opened #5933 "[BUG] Knack Explorer links need updating after new builder migration"
**Describe the bug**

https://knack-explorer.austinmobility.io/5815f29f7f7252cc2ca91c4f/views/view_124

clicking Edit in Knack Builder does not open the correct view

**URL**

**What steps can we follow to reproduce the bug you are seeing?**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Devic

[2021-04-27 21:12] ChrispinP commented on #5768
Looks like Combined Hangtags and Decals value was not populating, corrected conditional rule on field and updating records. Moved customer info to right side of page so on mobile its meets up with address now.

Mobile optimizations are affecting the print preview making everything bigger there as well.
![image](https://user-images.githubusercontent.com/67915167/116313338-42e03680-a773-11eb-8ad8-6e

[2021-04-27 21:13] dianamartin commented on #5888
Before I removed `Testing Feedback` field - This was the 4 things. We addressed these already though.
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/d1800a8e-5203-4560-954c-8673a791ee8b)

[2021-04-27 21:23] ChrispinP commented on #5898
Import of Intersections data was successful, now updating records so formula looks better with both segments and intersections.

Was able to successfully pull up intersection data in connection field, albeit a bit slower since there are 99k records now to search.

complete

[2021-04-27 21:23] #5898 closed

[2021-04-27 21:32] johnclary commented on #3924
Oh dang I forgot we had SSO setup for the ROW prototype. I think we can actually migrate that without too much headache. We'll need to take a look.

[2021-04-27 21:35] ChrispinP opened #5934 "[DTS] Update Application List for Service Requests"
Most Service Requests are coming in as Other/Not Sure for application choice.  The application choice is also not available for any of the service requests except for Bug Report and Feature/Enhancement options.
![image](https://user-images.githubusercontent.com/67915167/116315722-87b99c80-a776-11eb-8d61-37662417ead2.png)

- [ ] Update Application List
- [ ] Display application field for all but Ne

[2021-04-27 21:40] ChrispinP opened #5935 "[RPP] Update Backend Description Fields"
This will allow easy field information on hover to help builders navigate. Keeps app organized and quicker to build.

![image](https://user-images.githubusercontent.com/67915167/116316143-1e865900-a777-11eb-8b08-4dae23c4a8a1.png)

[2021-04-27 21:51] ChrispinP commented on #5808
Thanks @chiaberry

Code reviewed in Test and looks good. Moved to production.

Ready to review

[2021-04-27 21:56] ChrispinP commented on #3924
@johnclary Ill go ahead and migrate it. gonna look at ROW holistically tomorrow, we should touch on data migration during or after grooming.

[2021-04-27 22:01] dianamartin opened #5936 "IT Support: Add AMD Technicians so they can close AMD Work Orders"
Billy B.
AMD

Messaged

Jorge G.
Roman P.
Larry M.
Edward G.

[2021-04-27 22:02] dianamartin commented on #5936
I messaged to get clarity

Billy

Me

Billy

[2021-04-27 22:04] dianamartin commented on #5936
Found an email from John about new AMD user roles

Lead Tech: can close work order but cannot re-open them

Billy

- I updated Roman's user role to be `Lead Technician`

[2021-04-27 22:04] #5936 closed

[2021-04-27 22:05] johnclary commented on #3924
@ChrispinP would you just make a backlog issue for it and we can pick it up during grooming?

[2021-04-27 22:06] dianamartin commented on #5888
- [x] Removed - `Testing Feedback` field in the `csr_issues` object table
- [x] Removed - Display Rule on "Add Activity" form that changed "311 Feedback" to "Testing Feedback"

[2021-04-27 22:06] #5888 closed

[2021-04-27 22:43] dianamartin commented on #5928
Knack replied

[2021-04-27 22:57] #5815 closed

[2021-04-27 22:57] #4963 closed

[2021-04-27 23:08] johnclary commented on #5933
thanks for flagging this @chiaberry. i was wondering if the new builder would break that feature. if you've got the solution in mind by all means have it 🙏

[2021-04-27 23:09] mateoclarke opened #5937 "Bug | Creating new user doesn't associate to project"
https://user-images.githubusercontent.com/5697474/116323503-bab65d00-a783-11eb-92d4-e2d839fd8f90.mov

[2021-04-27 23:15] chiaberry commented on #5933
I think i have it fixed, i just need to check on some other types of views to see if i got the url pattern correct.
https://github.com/cityofaustin/knack-explorer/compare/5933-update-view-links#diff-19628026eaf2fd151089a11eb0388ce26a95448ef6cc14f168d3674ef2050a38

I will PR once I check some other links

[2021-04-27 23:25] Nadin-Nader commented on #2397
@SubhaShroff the list has been updated again but for the lat time. This time was to address the ones at the bottom of the list.

The new list to go by is below:

[https://app.zenhub.com/files/140626918/fa91d6b1-402a-40f6-83d3-059d3c625e38/download](https://app.zenhub.com/files/140626918/fa91d6b1-402a-40f6-83d3-059d3c625e38/download)

[2021-04-27 23:58] Nadin-Nader commented on #2663
## **Status:**
Aish is reviewing this to work on

[2021-04-28 00:03] mddilley opened #5938 "Project Components | Add moped_project_features table and relate to moped_project table"
To start the changes discussed in https://github.com/cityofaustin/atd-data-tech/issues/5651, we need to move features out from inside the `project_extent_geojson` field in the `moped_project` table and into another table. So, we need to create a `moped_proj_features` table and setup the relationships.

[2021-04-28 00:08] mddilley opened #5939 "Project Components | Fix frontend to add, update, and consume features from the moped_proj_features table"
After making the database changes in https://github.com/cityofaustin/atd-data-tech/issues/5938, the Moped app needs to be updated to add, update, and read project features from the new table.

[2021-04-28 00:12] amenity commented on #5735
👏🏆 Thanks, @chiaberry  🕵🏻‍♀️

[2021-04-28 00:14] amenity commented on #5804
Nice! Thank you, @SurbhiBakshi !

[2021-04-28 04:16] amenity commented on #4747
Update: For now we're using Gitbook for end user documentation: https://atd-dts.gitbook.io/moped/

[2021-04-28 04:21] #4747 closed

[2021-04-28 05:52] amenity commented on #4335
@mateoclarke @johnclary — I didn't manage to get aligned with JD on this one before he left. Strictly tying phases and milestones in this way didn't make sense to me unless we were willing to recalculate dates on the fly when either was edited. But revisiting, I can see some milestones being tightly coupled with phases. E.g. you don't pass through to "warranty" phase (phase) until final inspection

[2021-04-28 13:18] aishwarya2505 commented on #5627
4/28 - Sent a document on few configuration alternatives to see if Hector can follow the steps and have the print functionality enabled.

[2021-04-28 13:19] aishwarya2505 commented on #4551
4/28 - Sent the TEST Deployment Plan on 4/26/2021

[2021-04-28 13:20] aishwarya2505 commented on #3640
4/28 - E-mailed the DEV Deployment Plan on 4/14/2021 - Commit ID: 27d70bd4502f

[2021-04-28 13:29] #5674 closed

[2021-04-28 13:29] #5440 closed

[2021-04-28 13:30] #5917 closed

[2021-04-28 13:30] #5849 closed

[2021-04-28 13:30] #5931 closed

[2021-04-28 13:31] aishwarya2505 commented on #2663
4/28. Continuing to understand the AC and jotting down steps. Will begin work shortly.

[2021-04-28 13:40] aishwarya2505 commented on #3640
4/28 - 7c915a5eb313 Commit made. Will send the DEV Deployment Plan post CTM Approval

[2021-04-28 13:42] aishwarya2505 commented on #4511
The DEV Deployment Plan for this card has been emailed on 4/14/2021.  Waiting for DEV Deployment.

[2021-04-28 13:46] SurbhiBakshi commented on #4066
Meeting notes from meeting on April 19th, 2021 in #5849

[2021-04-28 13:51] SubhaShroff commented on #5579
Status: Currently Working on, in progress.

[2021-04-28 13:53] SubhaShroff commented on #4033
**Status:**  I tested it on TEST and its ready for testing.

[2021-04-28 13:55] SubhaShroff commented on #1726
**Status:** Waiting on UAT result to move to PROD.

[2021-04-28 13:57] dianamartin commented on #5494
I reached out to Danny C. yesterday to confirm that he did in fact enable external sharing for Lance. Found out that Lance wanted something to be changed on this PowerBI dashboard to externally share with the public.

I reached out to Spoorthy G. and she said she'd be able to help him figure it out. I'm going to close this once I hear Lance is working with her actively.

[2021-04-28 13:57] dianamartin commented on #5509
@moorerst Did we still have to follow-up? I forget what about..

[2021-04-28 13:59] SubhaShroff commented on #1877
**Status:** Just checked, the commits are deployed in DEV. I need to test and update.

[2021-04-28 13:59] dianamartin commented on #5899
- Danny emailed saying that he had fixed this.
- I checked my tablet and it seemed to have been uninstalled, but I think i tested and uninstalled it when we were at Cameron for the troubleshooting meeting
- I asked Andrew to test it
- Scott R. said that he was helping an AMD user and it seemed like the Classic Collector was still installed
- Will have to reach out to Danny about this

[2021-04-28 14:12] SubhaShroff commented on #2397
**Status:** I need to update the list on AMANDA as per the new list.

[2021-04-28 14:20] SubhaShroff commented on #4469
**Status:**

1. (SCTASK0133028 for commit-3c6157039514) is DEV deployed today.
2. Another commit- 587e48a2d28e(to remove Small Cell Node and add Project Connect) was done yesterday. Once @Nadin-Nader approves it, I will submit DEV deployment request.

[2021-04-28 14:21] dianamartin commented on #5871
Followed up with Nathan this morning

He forwarded it to a staff on his team to do it

They confirmed

- I logged in to confirm the change

[2021-04-28 14:21] #5871 closed

[2021-04-28 14:23] SubhaShroff commented on #5578
**Status:** Waiting on updated AC.

[2021-04-28 14:23] dianamartin commented on #5924
Knack replied

[2021-04-28 14:27] SubhaShroff commented on #5580
**Status:** Grouped 'CIP?' with other CIP related infos. The above screenshots are from local branch.
@Nadin-Nader  @TracyLinder  if those screenshots look good, I can commit the changes.

[2021-04-28 14:38] dianamartin commented on #5852
Reached out Liane this morning

from the lack of response I think she's still unavailable, so we'll try to sync again in the afternoon

[2021-04-28 14:42] dianamartin commented on #5409
Now that AMD Data Tracker is in the new builder I should be able to create that field that helps me get the recordID and to use it in the email

[2021-04-28 14:54] moorerst commented on #5929
Per Gilda Please keep in mind that some of the spaces have people’s personal stuff so they will not be available until later. Maybe we can start with the spaces that are empty now and as people vacate their spaces, then add those to the list and include the amenities.

Scott provided a list of desk that can be made available (17) - other desk will need to have personal items cleaned out first. The

[2021-04-28 14:56] moorerst commented on #5509
@diana I don't remember what needed follow up. I'm going to close it will open new issue if this comes up again.

[2021-04-28 14:56] #5509 closed

[2021-04-28 15:00] moorerst commented on #5798
We need to test the "Office Pass" functionality bc they want to limit (cap) the number of users coming into BOP to make sure they're within the 50% threshold of staff, so Stephanie and I tested a little bit but we need to test limiting staff to certain days and seeing if that will work for them. I've already warned them that this

[2021-04-28 15:05] moorerst commented on #5501
Closing this issue we completed user testing with the Dispatchers and will end user testing with the PEO's on 4/29. Issues for each user testing are captured in separate issues.
Testing was very successful for Dispatchers and PEO's

[2021-04-28 15:05] #5501 closed

[2021-04-28 15:11] dianamartin commented on #5927
@johnclary I forget what we were going to do if this was still broken. Oh, I just remembered that this was the Knack bug where the page rules were not editable. There is an issue for that #5928. Knack ticket open and their engineering group is looking into it.

[2021-04-28 15:15] moorerst commented on #5768
@ChrispinP I'm happy with the way it looks. Closing issue

[2021-04-28 15:15] #5768 closed

[2021-04-28 15:21] dianamartin commented on #5805
@moorerst

- Had created FormStack Help Guide in Form Stack yesterday, 4/27
- Showed Stephanie and it was great
- This morning, 4/28 tried to add a picture, it said there was a weird error
- Reopened form and all the content description was gone...
- Put in a FormStack Service ticket to see if I can get form content back
- If not, will redo
  - in GitBook
  - in Google Docs

[2021-04-28 16:03] mddilley commented on #5780
Just received the API key from CTM. It is saved under **Moped Nearmap API Key** in the Developer vault in 1Password. I'll add a note about its location in the Moped dev docs and test the key this week.

[2021-04-28 17:01] atdservicebot opened #5940 "[URGENT] Requester in Signs & Markings work order application called and needs to submit a work order on the ..."
Other / Not Sure

Requester in Signs & Markings work order application called and needs to submit a work order on the street MITICA DR. This street does not exist on our list of streets, but we need it added as soon as possible so he can submit the work order.

Urgently — Today or tomorrow

Christina T.

Request ID: DTS21-101955

[2021-04-28 17:05] dianamartin commented on #5940
@johnclary Doesn't the `street_name` object get updated from a script?

[2021-04-28 17:29] johnclary commented on #5940
@dianamartin no, we only have street segment scripts running in the Data Tracker. We do have street segments in Signs & Markings, but only the GIS QA user interacts with them.

In this case, Christina is probably referring to the street name fields on the "new work order" forms, which pull from the `street_names` object. You'll need to manually add the missing street name to that object.

https://

[2021-04-28 17:31] johnclary commented on #5940
Unfortunately, we don't have any process in place to keep the `street_names` records up to date when new streets are created. Short term, we could easily do the work to identify which street names are missing from Knack and import them. Long term, we could set up an automated process to do this.

[2021-04-28 17:41] johnclary commented on #5927
Sounds good. I'm pretty sure this issue is unrelated. [Here's the code](https://github.com/cityofaustin/atd-knack/blob/562128827327283868e4f1f2106963daeff910a4/code/finance-puchasing/finance-purchasing.js#L151) that creates that button link to the PR details.

I don't see how this was ever working correctly. The code just creates a link back to the "all purchase requests" table view.

[2021-04-28 17:56] johnclary commented on #5927
@dianamartin I fixed this by just removing the big button placeholder and javascript. I think the normal Knack link looks just fine. Asked for your review on the code change in the linked pull request.

<img width="964" alt="Screen Shot 2021-04-28 at 12 53 53 PM" src="https://user-images.githubusercontent.com/14793120/116450620-213d8880-a821-11eb-8a73-f4415160e265.png">

[2021-04-28 18:17] #4988 closed

[2021-04-28 18:17] #5430 closed

[2021-04-28 18:17] #5433 closed

[2021-04-28 18:17] #5435 closed

[2021-04-28 18:17] #5436 closed

[2021-04-28 18:17] #5437 closed

[2021-04-28 18:17] #5438 closed

[2021-04-28 18:17] #5439 closed

[2021-04-28 18:17] #5441 closed

[2021-04-28 18:24] johnclary opened #5941 "Enable COACD Login for ATD Forms"

[2021-04-28 18:25] dianamartin commented on #5940
- I added the `MITICA DR` to the `street_names` object table
- confirmed that there are 2 streets segments for that

[2021-04-28 18:29] johnclary commented on #5905
@dianamartin will check to see if we need this report?

[2021-04-28 18:29] dianamartin commented on #5940
I will let user know about this, messaged:

[2021-04-28 18:31] johnclary commented on #5906
The signature field may be used in a conditional rule for the approval process.

[2021-04-28 18:33] johnclary opened #5942 "Meet with HR staff to check-in on HR app"

[2021-04-28 18:33] johnclary commented on #5942
@johnclary talk to Stephanie about this.

[2021-04-28 18:33] dianamartin commented on #5805
This is what FormStack said

_Thanks for reaching out. It is possible to undo certain actions. If you make a mistake and want to undo what you just did, click "Undo" in the top left corner of the builder and the action will be undone. If you decide you want that change back, just click the "Redo" button to reverse this action.

You can also return to previous versions of your form. Click the Histo

[2021-04-28 18:37] dianamartin commented on #5940
Christina said

[2021-04-28 18:37] #5940 closed

[2021-04-28 18:43] johnclary commented on #5779
@ChrispinP please test this again

[2021-04-28 18:50] johnclary commented on #5934
Missing apps:
- Shared Mobility
- Parking Enterprise
- Development Services
....?

[2021-04-28 18:54] johnclary commented on #5934
@dianamartin @ChrispinP @SurbhiBakshi any other apps missing here?

@chiaberry let's look at this one together next sprint.

[2021-04-28 18:57] amenity opened #5943 "Hand off VZA customizations to Chia"

[2021-04-28 19:13] SubhaShroff commented on #4469
**Status:**  Dev Deployment for the commit-_587e48a2d28e_ is submitted: _SCTASK0134113_

[2021-04-28 19:31] amenity commented on #5943
@SurbhiBakshi — do you mind scheduling this?

[2021-04-28 19:33] dianamartin commented on #5852
Sync'd up with Liane and did a screen share.

**Test 1**
- We used Chrome
- Cleared cache
- Attempted to sign in, it kept looping back to the Home page (not signed in)
- Had her use "non-COACD" log in
- provided her the temp pw

**Test 2**
- We used Edge
- Cleared cache
- Attempted to sign in, it kept looping back to the Home page (not signed in)
- Had her use "non-COACD" log in
- provided her the

[2021-04-28 19:33] #5852 closed

[2021-04-28 19:37] dianamartin commented on #5805
i asked

replied

[2021-04-28 19:42] dianamartin commented on #5905
- [x] Deleted `Test` field in `Accounts` object
- [x] `TEST Time Log Reporting` page

[2021-04-28 19:42] #5905 closed

[2021-04-28 19:44] #5927 closed

[2021-04-28 19:44] #4423 closed

[2021-04-28 19:46] moorerst opened #5944 "Dispatch Tracking Go Live Task"
- [x] Set cut off for entering test records into Knack application
- [x] Delete test records from Knack
- [x] Establish start time for entering into Knack
- [ ] Disable SharePoint
- [x] Will there be any In Progress/unfinished SR's in SharePoint that need to be entered into Knack?

[2021-04-28 19:51] andrewshensky commented on #5740
**Steps for Calculating Steepness**
1.	Query CTN as shown below
a.	BICYCLE_FACILITY IS NOT NULL Or BIKE_LEVEL_OF_COMFORT IS NOT NULL
b.	Reduced fields to only include those necessary
c.	Results in roughly 15K features
2.	Use Generate Points Along Line geoprocessing tool
a.	Point placement at 25% and include end points -> Generates 5 points per line segment
3.	Use Elevation contour data from DM (EL

[2021-04-28 20:01] #3681 closed

[2021-04-28 20:02] SurbhiBakshi commented on #5943
Scheduled for Monday 3rd May at 3 pm.

[2021-04-28 20:16] alan-deanda commented on #5740
@andrewshensky this looks great, but I would limit the initial search query to simply `BIKE_LEVEL_OF_COMFORT IS NOT NULL`. There are certain roads that technically have bicycle facilities, but we would never call them out on the bike map. For example, the toll highways all come with what is technically a wide enough shoulder for cycling on, but speed limits are at least 80MPH.

[2021-04-28 20:18] johnclary commented on #3672
@amenity can you provide a link to the interim project database viewer?

[2021-04-28 20:30] amenity commented on #4509
This will be covered by #5857

[2021-04-28 20:30] #4509 closed

[2021-04-28 20:40] andrewshensky commented on #5740
@alan-deanda this is good to know. Modifying that query will also help to limit our feature count and reduce some map clutter. Adjusting the query on the current data will reduce the feature count by 814.

[2021-04-28 20:49] amenity opened #5945 "Knowledge transfer: Mike's Mapbox work 🗺️"
- Tuesday, May the Fourth at 11am

[2021-04-28 20:51] amenity commented on #5945
@mateoclarke will schedule

[2021-04-28 20:58] #5862 closed

[2021-04-28 21:03] amenity commented on #5255
See #5309 for potential approach.

[2021-04-28 21:08] amenity commented on #4574
@amenity - schedule, please. 🙏

[2021-04-28 21:10] SubhaShroff commented on #1877
@Nadin-Nader  @TracyLinder I tested on DEV Amanda Back Office. Following permits are tested by clicking Issue/Approve button.
11900422(DS),
11900386, 11900385( EX)
We need to check in  sitesubpermits@austintexas.gov email account for these permits emails.

[2021-04-28 21:48] dianamartin commented on #5932
@moorerst Here is the [help docs](https://docs.google.com/document/d/1h5kUKP3LnmotI5WypN0SUU99i9saoFC8oxlPg3v6sHI/edit?usp=sharing) - hopefully this doesn't delete on me..

[2021-04-28 22:23] sergiogcx opened #5946 "Moped Database | Database Backups: Epic"
This Epic contains tasks that will allow us to create backups in S3, as a daily task or as an even before a migration.

[2021-04-28 22:24] sergiogcx opened #5947 "Moped Database | Create an S3 bucket for Moped Backups"

[2021-04-28 22:24] sergiogcx opened #5948 "Moped Database | Create a daily CRON that will back up the database daily at 1am"
We need to create a CRON job that will create daily snapshots of the database and dump them on S3.

See: https://hasura.io/docs/latest/graphql/core/api-reference/pgdump.html

Or use pg_dump directly to not overwhelm the servers.

[2021-04-28 22:25] sergiogcx opened #5949 "Moped Database | Moped Hasura Pre-Migrations Backups"
Ideally, every time we run a database migration we need to make a backup of the entire database before the migration ever occurs.

This could take a long time, so we may want to come up with a good process that does not overwhelm GitHub or our Hasura servers.

https://hasura.io/docs/latest/graphql/core/api-reference/pgdump.html

[2021-04-28 22:31] sergiogcx opened #5950 "Moped Database | Backup Database Metadata CRON"
Ideally, with every backup we create, we also create a full snapshot of the metadata.

[2021-04-28 22:32] sergiogcx opened #5951 "Moped Database | Backup Database Metadata Before Migration"
Before the migration runs, make it part of the devops pipeline to create a backup of the database metadata.

[2021-04-28 22:39] mddilley commented on #5943
I'll put some slides together. Also, I found the Excalidraw file from back in the day and attached it so we can go through that first. ⚔️
[VZA.excalidraw.zip](https://github.com/cityofaustin/atd-data-tech/files/6395218/VZA.excalidraw.zip)

[2021-04-28 22:44] sergiogcx opened #5952 "Moped Database | Backup & Delete Invocation Logs"
We need a daily process that will download and backup invocation logs (the activity log), then remove those.

[2021-04-29 02:24] amenity opened #5953 "Add "Moped" to dropdown on DTS Portal dropdown options"

[2021-04-29 14:34] atdservicebot opened #5954 "[URGENT] Signs location map is not loading for several technicians and myself. This was also an issue yesterd..."
Signs & Markings Operations

Signs location map is not loading for several technicians and myself. This was also an issue yesterday morning but resolved itself after about 20 minutes. I was told this morning at 8am that this was an issue, it resolved itself, but now at 9:15 is an issue again.

https://atd.knack.com/signs-markings#work-order-signs/view-work-orders-details-sign/6089a4f7630b91001b50b

[2021-04-29 14:49] dianamartin commented on #5954
@mddilley Are you able to take a look at this? I'm trying to get you a work order to look at from Christina.

[2021-04-29 15:11] moorerst commented on #5932
@dianamartin looks great hate you had to recreate it.
Should we add Requesting the Formstack license to the Help Guide?

[2021-04-29 15:15] mddilley commented on #5954
I was able to reproduce this issue and saw the error below. The relevant line of code is https://github.com/cityofaustin/atd-knack-signs-markings/blob/ce6b8a15c8f64dd3e8fe44908b8b615edb6710af/knack/iframeMapMessenger.js#L37. The app should never try to access `http` instead of `https` so I need to see what is going on.

![Screen Shot 2021-04-29 at 10 02 46 AM](https://user-images.githubusercontent

[2021-04-29 15:31] johnclary commented on #5934
let's also move the “what application are you using” question to sit right below “what do you need help with”. to make it more obvious that your form has been pre-filled.

<img width="542" alt="Screen Shot 2021-04-29 at 10 25 28 AM" src="https://user-images.githubusercontent.com/14793120/116576978-ac785600-a8d5-11eb-8d4d-9de5e35c9948.png">

[2021-04-29 16:05] mddilley commented on #5954
The fix was to update the url to the deploy of the embedded React app (the map) to https://atd-knack-signs-markings.netlify.app/. The old Netlify url redirected through a `http` address and Knack didn't like it.

I created a [PR](https://github.com/cityofaustin/atd-knack-signs-markings/pull/317) that was approved and merged to `staging`. I then cherry-picked that commit to `production` since this

[2021-04-29 16:09] johnclary commented on #5954
You're a hero @mddilley! Thank you!

[2021-04-29 16:09] amenity commented on #5954
Thank you, @mddilley !🙏

[2021-04-29 16:10] amenity commented on #5954
@mddilley - can you stick an estimate on this one, please?

[2021-04-29 16:43] Nadin-Nader commented on #1877
@SubhaShroff I spoke to Mariya Becker and she only found one of the emails sent to sitesubpermits@austintexas.gov. The one that was found was for the DS folder (11900422(DS)). i attached the permit
[https://app.zenhub.com/files/140626918/eb1a33e6-23be-44ed-b0f5-d91ecbe771e8/download](https://app.zenhub.com/files/140626918/eb1a33e6-23be-44ed-b0f5-d91ecbe771e8/download)

[2021-04-29 16:59] johnclary commented on #5818
Sent [the posting](https://docs.google.com/document/d/1LnDFQHOC79-ahCmw8O85kL6B4A4EMVAAbmR1H0RIWDY/edit) to Jennifer for review. Moving to Review/QA until HR posts the position.

[2021-04-29 17:25] johnclary opened #5955 "Create technical assessment"
Create a technical assessment that we will use to evaluate candidates. We will re-purpose the dev apprentice technical assessment for this.

We will need:
- clear instructions on how the candidate should complete and submit their assessment to us.
- written instructions to the candidate that explains how their work will be evaluated
- a scoring rubric which we will use when evaluating the work

We

[2021-04-29 17:30] chiaberry opened #5956 "disable data-deploy scripts"
both of these scripts can be disabled
[csr_flex_notes](https://github.com/cityofaustin/atd-data-deploy/blob/3a98b929585c3e7e05096ee78fffc9a2374c38f6/config/scripts.yml#L491): we’ve been backing up this 311 data for a years but have never needed it. 311 can provide it to us if we needed it for some reason
[backup](https://github.com/cityofaustin/atd-data-deploy/blob/3a98b929585c3e7e05096ee78fffc9a2

[2021-04-29 18:18] dianamartin commented on #5932
@moorerst Oh you're right, that might be a good place to put it too and the workflow

[2021-04-29 19:15] #5883 closed

[2021-04-29 19:16] SurbhiBakshi commented on #5850
Notes -

2. Main permits records

[2021-04-29 19:36] SurbhiBakshi opened #5957 "Create permit expiration notification email with multiple recipients"

[2021-04-29 19:41] SurbhiBakshi commented on #5957
### Notes

[2021-04-29 20:39] #5956 closed

[2021-04-29 20:45] moorerst opened #5958 "RPP - Set up access"
Set up access to RPP for Courtney with the same access as Steve

[2021-04-29 20:50] moorerst opened #5959 "Bug: RPP Edit Payment Info"
when we are in an application and trying to put in payment information the ‘edit payment info’ does not work.
When clicked on it backs you out of the whole application

I was able to duplicate this issue.

[2021-04-29 21:04] moorerst opened #5960 "RPP - Modify contact information"
Add Richard's contact information to the following:
Home page underneath Steve's contact info - Richard phone # is 974-1613
Contact Us page - add Richard's phone # 974-1613 as an additional contact number
Payment Options page - under Residential Parking Permits Inquires add Richard's phone #

[2021-04-29 21:08] dianamartin commented on #5928
@johnclary

Knack said 4/28/21

- I just tested and went in to the "Request Details" page and can see all 13 page rules

[2021-04-29 21:08] #5928 closed

[2021-04-29 21:38] ChrispinP commented on #5540
I have prototyped this feature.

Ready to review

[2021-04-29 22:06] johnclary commented on #5928
hooray! thanks.

[2021-04-29 22:23] #5846 closed

[2021-04-29 22:23] #5863 closed

[2021-04-29 22:23] #5864 closed

[2021-04-29 22:23] #5865 closed

[2021-04-29 22:23] #5930 closed

[2021-04-30 01:14] sergiogcx commented on #5857
There is a PR:
https://github.com/cityofaustin/atd-moped/pull/296

[2021-04-30 13:19] SurbhiBakshi commented on #4066
Closing this issue, additional work has been addressed in #5957

[2021-04-30 13:19] #4661 closed

[2021-04-30 13:20] #4066 closed

[2021-04-30 14:48] #5937 closed

[2021-04-30 16:18] ChrispinP commented on #5960
Updated contact info on all 3 pages including permitting office location object.

complete

[2021-04-30 16:19] ChrispinP commented on #5958
Verified Courtney already has same access as Steve, no action needed

closing

[2021-04-30 16:19] #5958 closed

[2021-04-30 16:50] ChrispinP commented on #5959
I have identified this as a bug, the entire Item Properties for the action link has been wiped. I have reported to Knack. I do not want to remove the link just in case it might also remove the edit payment info child page attached to it.
![image](https://user-images.githubusercontent.com/67915167/116727299-fb8fbb00-a9a9-11eb-8db2-c771e5cfc455.png)

Current workaround is to only use the Edit Paymen

[2021-04-30 16:57] dianamartin commented on #5409
Went to review the TEST environment, readded `Follow-up ID` to the PROD builder
- The follow-up ID is showing up now
- Was able to configure the email
- I tested and closed a DSDD work order
- received the email
- Configured email notice and changed email address to Max

Messaged Max

[2021-04-30 16:57] #5409 closed

[2021-04-30 16:58] dianamartin commented on #5409
Deleted Test records

- [ ] WRK21-111840
  - [ ] dosa
  - [ ] time log
- [ ] WRK21-112110
- [ ] WRK21-112075

[2021-04-30 17:10] #5960 closed

[2021-04-30 17:24] mddilley commented on #5780
I tested the API key and was able to render the raster tiles locally. The CTM ticket is now closed. Will need to verify that all restricted URLs work, but the code above from VZE worked great.

[2021-04-30 18:49] #5857 closed

[2021-04-30 18:56] SubhaShroff commented on #4469
![image](https://user-images.githubusercontent.com/51680715/116741116-85944f80-a9bb-11eb-839f-05577d9aaa4a.png)
![image](https://user-images.githubusercontent.com/51680715/116741147-8fb64e00-a9bb-11eb-8391-b97c6672c64f.png)

@TracyLinder  @Nadin-Nader Tested it in DEV, subtypes are updated as in AC. Please refer the above screenshots.

[2021-04-30 19:08] TracyLinder commented on #1726
**Status:** Still in UAT

Kim has been attempting to do UAT, but her ABC test account isn't working. Nate is working on fixing her account.

[2021-04-30 19:33] TracyLinder commented on #2397
**Notes from Demo**

- [ ] Rename the Info Name: Project Sponsor
- [ ] On TURP, remove info Franchise/COA Department
- [ ] Add: "PCO   Project Connect" to the info value list

@Nadin-Nader & @SubhaShroff FYI

[2021-04-30 19:33] dianamartin commented on #5494
She messaged me and let me know she'd email Lance

[2021-04-30 19:38] TracyLinder commented on #4469
### Update
- Stakeholders approve based on the screenshots above. Please promote up.

[2021-04-30 19:43] TracyLinder commented on #5580
### Update
- Stakeholders approve. Please commit.

[2021-04-30 19:46] TracyLinder opened #5961 "Portal Help Text on Info 'CIP?'"
### As a ROW customer applying for a permit online (AB+C Portal), I need help text on the info 'CIP?'

**Stakeholder:** Paloma

**Acceptance Criteria:**
- Applies to EX, RW-TURP
- Help Text:

Capital Improvement Projects (CIPs) include projects such as the construction, replacement, renovation, or purchase of **City** assets.  These projects are funded by the Capital Budget (with the exception of

[2021-04-30 19:57] TracyLinder commented on #4071
Paloma & I will test this together on Monday 5/3 @ 1pm.

[2021-04-30 20:04] dianamartin commented on #5310
- David reached out to me an asked if ATD was okay with them migrating the information over and I said Yes. - 2/24/21

  - I said

- Spoorthy checked they could start the migration - 2/26/21

  - I said

- Bert B. gave me the URL to check on the migrated data on 3/31/21
- Spoorthy requested that I confirm everything migrated over properly so they could delete the On-Prem site 4/12/21

[2021-04-30 20:05] #5310 closed

[2021-04-30 20:06] dianamartin commented on #100
This is an Ooooold issue. This has already been done. We might need to make a new issue for the O365 migration to Hub/Modern Pages.

[2021-04-30 20:06] #100 closed

[2021-04-30 20:07] dianamartin commented on #5494
Lance and Spoorthy (CTM) are working together on getting external sharing to the public. Closing this issue.

[2021-04-30 20:07] #5494 closed

[2021-04-30 20:08] dianamartin commented on #5755
We received all the feedback we needed from the dispatcher and PEOs on 4/29

[2021-04-30 20:08] #5755 closed

[2021-04-30 20:11] aishwarya2505 commented on #4551
@TracyLinder Once this moved to TEST, I need to do a round of testing to make sure this is ready for UAT. I'll check with @Nadin-Nader on the PROD move for this one.

[2021-04-30 20:12] dianamartin commented on #5805
I had to rebuild the help guide, decided to save if on a Google Doc.
I send it to Stephanie to review 4/30
messaged

[2021-04-30 20:14] dianamartin commented on #5944
- [x] Stephanie communicated to stakeholders to stop using Parking Enterprise Portal to enter SRs into until Monday morning
- I finalized the last bit of changes the stakeholders requested before Go - Live
- Configuring "Inspection" reporting by Officer
- Had to test in old builder environment, testing auto-populating of "Assigned To" on the activity form for (Inspections, Citations, Warnings) so

[2021-04-30 20:15] dianamartin commented on #5929
- Emailed with team about discrepancies in spreadsheet
- Got with Stephanie to review discrepancies
- Finalized desks that are available and active for hotel reservations

[2021-04-30 20:15] #5929 closed

[2021-04-30 20:53] SubhaShroff commented on #4469
@TracyLinder @Nadin-Nader  TEST Deployment request is submitted : **SCTASK0134702**

[2021-04-30 22:27] mddilley opened #5962 "Project Components | Update data model to relate components and features"
Tasks to complete the components data model.

![components (1)](https://user-images.githubusercontent.com/14793120/118374171-48fe5180-b580-11eb-8d36-c03bdf96126a.png)

[2021-05-01 20:23] johnclary commented on #1006
No longer needed. We're handling all inventory requests in the Data Tracker and have created the "Non-Technician" work order to handle their checkouts.

[2021-05-01 20:23] #1006 closed

[2021-05-01 20:24] johnclary opened #5963 "[Enhancement] Require task order for all AMD work orders"
Per discussion with signal supervisors, all work orders should have a task order. We should make the `task_orders` field on the `work_order_signals` object required.

[2021-05-01 20:29] johnclary commented on #5963
Done. I made the `task_orders` field required. I also added this field to the "New Work Order" form on the Signal Details and School Beacon Zone details pages. Lastly, I added a record rule on the "New Work Order" form on the MMC Issue Details page which automatically sets the task order to "Signal Trouble Calls", which the task order that's used for any 311 SR that the MMC creates.

[2021-05-01 20:29] #5963 closed

[2021-05-01 20:30] #5399 closed

[2021-05-01 21:47] johnclary commented on #4396
I've created two new fields in both the Finance system and the Data Tracker:
- "Re-Order Threshold"
- "Re-Order Time"
- "Re-Order Status" (set to "Needs Re-Order" or "Not Needed" via conditional rule)

I've imported the data provided by BVDW and configured the Finance > Data Tracker integration to incorporate these fields. These fields must be managed in the Finance system and will populate in the

[2021-05-02 20:43] johnclary commented on #5239
@dianamartin thanks for your help no the docs. I've added the content from that slide deck into Githbook. Left to do:
- Working Stock Replenishment
- Financial Review
- Adjustments
- Stock level tracking
- Finance system integration
- updated permissions and status matrices
- ?

Also, I started [this spreadsheet](https://docs.google.com/spreadsheets/d/1ymL2Wm-ohW6iWCPLaqgO3jttz9vISiSQ8AIpibgEUlo/e

[2021-05-03 13:48] dianamartin commented on #5924
Knack said 4/30

[2021-05-03 13:57] dianamartin commented on #5239
@johnclary Nice spreadsheet!

[2021-05-03 14:08] dianamartin commented on #5854
Deleted 1012 records -csr
1 was from today

Deleted 3012 (3016 total)
4 from today

[2021-05-03 14:10] dianamartin commented on #5944
Shavyvonne messaged this morning 5/3

I said

Shavyvonne

[2021-05-03 14:10] dianamartin commented on #5944
## DELETING TEST RECORDS
Deleted 1012 records -`csr_issues`
1 was from today

Deleted 3012 (3016 total) - `csr_activities`
4 from today

[2021-05-03 14:41] SubhaShroff commented on #5580
Status: **SCTASK0134855**(27c4283b3046)  is submitted for DEV deployment(5/3/2021)

[2021-05-03 14:53] jaime-mckeown commented on #5873
Work with Laura to determine if ATSDs contractors will be taking instructor-led courses or free Web Courses through Esri's training catalog.

[2021-05-03 14:55] dianamartin commented on #5777
@moorerst I think we can close this, right?

[2021-05-03 14:56] dianamartin commented on #5944
Creating new issue for SharePoint document migration task, that is the only task left from this issue.

[2021-05-03 14:56] #5944 closed

[2021-05-03 14:59] moorerst commented on #5777
sprint review complete
Agenda: https://docs.google.com/presentation/d/1pfj4osqD8TswDIcgrepBrnhrzs0Bhwzv0N-6_SzW-lE/edit#slide=id.p

[2021-05-03 14:59] #5777 closed

[2021-05-03 15:00] dianamartin commented on #5776
- We talked to the stakeholders and they said they'd be okay with keeping only 1 week of "Resource Tracking logs".
- I created an automated task to tag the logs as "Marked for Deletion" if a records from the previous week
- All new and current records are marked as "Active"

@johnclary
- We (DTS Apps) can either delete on a monthly basis similar to flex notes or have chia work on an automated way

[2021-05-03 15:02] dianamartin opened #5964 "Migrate parking dispatch documents into Central document repository"
Talked to Shavyvonne and got access to their "Parking Enforcement" team
- She added me as an admin
- I saw they had documents in the "Teams created SharePoint site"
- They had some documents in the old "Dispatch" SharePoint page
- We already had a document library in the ATD Parking Enterprise Sharepoint site

[2021-05-03 15:03] #5886 closed

[2021-05-03 15:03] #5901 closed

[2021-05-03 15:13] SubhaShroff commented on #2397
@Nadin-Nader  @TracyLinder 'Franchise/COA Department' info is only used by RW TURP. Since it is no more needed here also, should I completely wipe it off from AMANDA?

[2021-05-03 15:13] moorerst commented on #5798
Tested Office Pass feature
Set up a Office Pass for
Barton Oaks Monday-Wednesday
Barton Oaks Tuesday - Thursday

- Diana added me to the Barton Oaks Monday - Wednesday Office Pass. It was a Thursday when we were testing. When I attempted to Book a Desk from Robin desktop and mobile received message Do not have access to the Office on this day.
- Diana added me to the Barton Oaks Tuesday - Thursday

[2021-05-03 15:18] dianamartin commented on #5798
## Office Pass Functionality
- Can create as many custom office passes for locations and access days
- Can add individual people
- Can add groups to the access pass
- Can be added to multiple office passes

- When you designated under an office pass, Robin mobile banner shows that says you do not have access to this building today (something like that)
  - Prevents users from reserving a desk for

[2021-05-03 15:41] dianamartin commented on #5964
I moved documents from old Parking Dispatch SharePoint site
- Documents folder
- Reports list/folder
- Updated the site to "archive" mode
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/0c8a9def-1118-4e94-9ccb-55d913be330c)

[2021-05-03 16:12] ChrispinP commented on #5935
I have added descriptions to MC, formula, and equation fields.

complete

[2021-05-03 16:12] #5935 closed

[2021-05-03 16:22] ChrispinP opened #5965 "Delete "csr_flex_notes" from AMD Data Tracker - Jun 2021"
Received automated reminder to delete flex notes in AMD Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd/records/objects/object_95

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 04/01/21

Total Records: 29387
To Delete: 8666
New Total: 20721

[2021-05-03 16:25] SubhaShroff commented on #4469
SCTASK0134702 shows closed status. I tested it on TEST, but no changes are reflecting. I am not sure if the changes will show on the next day.

[2021-05-03 16:27] ChrispinP commented on #5697
flex notes removed, complete

[2021-05-03 16:27] #5697 closed

[2021-05-03 16:32] ChrispinP opened #5966 "Delete "csr_flex_notes" from Signs & Markings - Jun 2021"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/signs-markings/records/objects/object_172

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 04/01/21

Total Records: 13742
To Delete: 4281
New Total: 9461

[2021-05-03 16:34] dianamartin commented on #5964
Messaged Shavyvonne, called to let her know of the changes so she can pass along to everyone else

[2021-05-03 16:36] #5964 closed

[2021-05-03 16:38] #5673 closed

[2021-05-03 16:42] SurbhiBakshi commented on #5698
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/97b4e8fc-0796-40b6-aa94-1c046d433313)

[2021-05-03 16:43] SurbhiBakshi commented on #5698
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/0a2e9d95-506f-4251-9ab5-9ea018c24da4)

[2021-05-03 16:58] #5698 closed

[2021-05-03 17:41] moorerst commented on #5884
5/3/2021
Response from Chandra:
Greatly appreciate you reaching out, as I’ve included this on our Transportation request document. At this time, does your workgroup have a timeline of any sort you’re working towards?

Austin 3-1-1 is in the process of conducting a Standardization Project. The project will include me working with all ATD Divisions and bringing documentation, visio flows to standard

[2021-05-03 17:48] #5910 closed

[2021-05-03 17:54] jaime-mckeown opened #5967 "AMANDA Street Closures: 5/3/21"

[2021-05-03 17:55] jaime-mckeown commented on #5967
- [ ] Update AMANDA Street Closures data and Web Maps
- [ ] Update Active Parking Permits data to AGOL.

[2021-05-03 17:56] jaime-mckeown commented on #5807
Meeting on 5/6/21.

[2021-05-03 18:07] #5693 closed

[2021-05-03 18:09] jaime-mckeown opened #5968 "Fiber Optic Cable GIS Data Update - 6/2 - 6/15"
Update Fiber Optic Cable based on GIS data received from Kimley Horn, located in G:\ATD\ATD_GIS\Arterial_Management\266_Fiber.

[2021-05-03 18:30] TracyLinder commented on #4071
### Update

I tested this with Paloma & Kim today. The portal doesn't allow users to pay fees on a VOID DS folder. I updated the issue name & description to focus only on DS-VOID payments, and putting this back on deck.

[2021-05-03 18:57] #5923 closed

[2021-05-03 18:58] #3013 closed

[2021-05-03 19:47] johnclary commented on #5210
Related to #5309, I find it confusing to select the "Current Phase" during project creation. Possible alternatives:
-  Remove this entirely. The user can add a phase later.
- Automatically create a new phase record based on the value the user selects during project creation
- Add a step in the new project workflow which enables the user to add one or more phases

[2021-05-03 19:50] dianamartin opened #5969 "[BUG] User clicking submit, not going to "Final Review" status - Parking Dispatch"
Hillary N
PE

Messaged

[2021-05-03 19:53] dianamartin commented on #5969
cc: @moorerst

Called Hillary, was waiting for them to create a test record and work through it. On the phone, it sounded like she still saw a "Submit" button. Turns out the Photo Attachment form also has a "submit" button on it and the PEO didn't realize there was another "Submit" on the table.

- Change the button on Photo Attachment to be "Submit Photo"
- Change the Submit button on the My Assi

[2021-05-03 19:53] #5969 closed

[2021-05-03 20:30] SubhaShroff commented on #2397
![image](https://user-images.githubusercontent.com/51680715/116929360-ecb43d00-ac23-11eb-8d0c-c24d8d153341.png)
![image](https://user-images.githubusercontent.com/51680715/116929372-f2118780-ac23-11eb-978b-57f82ebaddce.png)
![image](https://user-images.githubusercontent.com/51680715/116929428-06ee1b00-ac24-11eb-995a-8c7eba6accd7.png)
![image](https://user-images.githubusercontent.com/51680715/1169

[2021-05-03 20:31] jaime-mckeown commented on #5656
Meeting on 5/3
- Default: Turn everything off when you open the map
- Remove standard 3 bookmarks
- Remove the Corridor layer
- Would like the layers to be grouped together (Signal related, transit related)
- 2 options, break up layers in main layer widget, bring in multiple layer widgets
- Sidewalk layer needs to be symbolized by pedestrian facility type (red missing, green there, grey driveways)

[2021-05-03 20:41] jaime-mckeown commented on #5656
They will be sending me a lists to break down the layers into groups.

[2021-05-03 21:37] Nadin-Nader commented on #4551
@aishwarya2505 @Sreelatha-BlazeKannan I have sent this over to DevOps CM Team to deploy to TEST under **SCTASK0135073**

## **Status:**
Waiting on DevOps to deploy to TEST

[2021-05-03 21:43] Nadin-Nader opened #5970 "Bug: AB+C Registration Error "People RSN Required"
Kimberly Perez from ROW is getting an error when trying to register for AB+C Portal even though she has registered multiple times.
![RSN Required Error.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/b17047e1-5bc3-4462-a113-93c1ee47898d)

[2021-05-03 21:47] Nadin-Nader commented on #5970
@TracyLinder (just an fyi)
This issue was resolved by Swapna from CTM by updating the AMANDADBTEST email with Kimberly's COA email address (kimberly.perez@austintexas.gov).
David Rodriguez also helped before reaching out to Swapna. He first found that Kim had 2 internet user people records in TEST. One was Inactive, the other was Internet Pending. He removed the email addresses for both people rec

[2021-05-03 21:47] #5970 closed

[2021-05-03 21:50] Nadin-Nader commented on #5970
I had created Incident INC0098935 and sent it to Swapna

[2021-05-03 22:44] #5688 closed

[2021-05-03 22:50] #5825 closed

[2021-05-03 23:06] Nadin-Nader commented on #5389
**UPDATE**
Sent an email and Chat to Robert to see if he has heard back from the AOB on the UAT they did on this. The UAT was/is to make sure this wont affect any other departments.

## **Status:**
Waiting on the AOB's UAT feedback and Robert to Deploy to PROD

[2021-05-04 02:01] sergiogcx commented on #5889
There is a way to build any branch on demand using a feature called ``, this allows us to run a build workflow manually and select any branch we want to build.

To see it work go to Actions > Build & Deploy DevStage > Run Workflow (dropdown) > Select a branch (Right now only main works, meaning that main will be built in the separate devstage):

![image.png](https://images.zenhubusercontent.com/5b

[2021-05-04 06:37] mateoclarke opened #5971 "VZV crash info popup box disappears"
Originally: https://github.com/cityofaustin/atd-vz-data/issues/978

[2021-05-04 06:53] mateoclarke opened #5972 "Document VZ Airflow tasks"
Create an index of VZ processes that run, and describe what it means if they are failing. This would mainly be used by admins to reference when an Airflow task is reported as failing to understand the effect on the data quality.

Here's a start: https://app.gitbook.com/@atd-dts/s/vision-zero-editor/vision-zero-data-process-index

[2021-05-04 06:58] mateoclarke opened #5973 "Daily report of new records added today in VZD"
There is a concern that record updates from TXDOT could be failing silently. How might we create some rules to confirm there are new records for the past X days and raise flags

Perhaps a simple query, Order by crashes with summary stats? Added to the editor? Or via email or Slack?

[2021-05-04 08:16] amenity opened #5974 "Bug | Resolve two corrupt, WSOD-triggering, projects in Production database"
Go to https://mobility.austin.gov/moped/ and scroll/search to Cameron Rd. from 51st St. to Parmer Ln. Click on either of those two projects:
- https://mobility.austin.gov/moped/projects/2
- https://mobility.austin.gov/moped/projects/1

Both load a blank screen.

[2021-05-04 13:47] SubhaShroff commented on #4469
@Nadin-Nader @TracyLinder Tested in TEST. Looks as expected.
![image](https://user-images.githubusercontent.com/51680715/117013182-3ef16e80-acb5-11eb-800c-48e651edb350.png)
![image](https://user-images.githubusercontent.com/51680715/117013218-4749a980-acb5-11eb-9ccb-e9511790e13b.png)

[2021-05-04 13:54] #5933 closed

[2021-05-04 13:58] SurbhiBakshi commented on #5851
### Notes -

1. Increased the estimate for this issue because I had to make adjustments to the current process to include overnight shifts.
2. Also added APD Sectors to the locations Lewis added recently based on officer feedback

[2021-05-04 14:04] SurbhiBakshi commented on #5943
Notes -
1. [Slides](https://docs.google.com/presentation/d/1yakheTcwUWhnc_wmL_aFR6CrEJRm4SwApiAhwxKRmQc/edit?usp=sharing)
2. [Recording](https://web.microsoftstream.com/video/91267365-4d6d-45a6-a226-62b2ea618dfb)

[2021-05-04 14:49] jaime-mckeown opened #5975 "Shared Mobility Operations - Update Wheels Layer in AGOL"
Mary added a new operating area for Wheels, need to re-publish the Feature Layer and reconfigure the Wheels layer.

[2021-05-04 14:50] jaime-mckeown commented on #5975
Re-published feature layer and updated layer in Web Map.

[2021-05-04 14:50] #5975 closed

[2021-05-04 14:51] jaime-mckeown opened #5976 "Maps & Web Map for Austin FC /Q2 Stadium"
Frances requested a map surrounding the Austin FC Stadium that she can make notes on for me so I can make a better map for the games.

[2021-05-04 14:53] jaime-mckeown commented on #5976
Created a street map and an aerial (nearmap with new images) so Frances can show me what she needs on a map.

[2021-05-04 14:54] jaime-mckeown commented on #5873
Didn't work on the Migration much this Sprint as I was on vacation.

[2021-05-04 14:54] #5873 closed

[2021-05-04 14:56] jaime-mckeown opened #5977 "GIS Remote Work Subcommittee Meeting - 5/4/21"

[2021-05-04 15:23] mateoclarke commented on #5900
Updated intent: Not just Serious Injuries but ALL crashes.

[2021-05-04 15:24] johnclary commented on #5375
@amenity a few additional suggestions. We can move these into the issue description but wanted to run it by you.
<img width="911" alt="Screen Shot 2021-05-04 at 10 09 17 AM" src="https://user-images.githubusercontent.com/14793120/117027385-43705400-acc2-11eb-942f-d7d905d83a19.png">

[2021-05-04 15:40] johnclary commented on #5933
thanks @chiaberry!!

[2021-05-04 15:46] jaime-mckeown opened #5978 "Request Zoning Case Managers be published to AGOL by CTM"
Sent email to Zachary S. at HPD requesting that PLANNINGCADASTRE.zoning_case_managers on GISDM be published to AGOL by CTM so it remains current in AGOL.

The only layer currently in AGOL is published by hpd publisher and was last updated in 11/2018.

[2021-05-04 15:55] atdservicebot opened #5979 "New reporting feature"
Data Tracker

New reporting feature

Combine detector statuses for primary and secondary. A new column would have to be made for the reporting feature (e.g. "cabinet_detection_status") that merges all detector status. This would be seen in the "Signals Detector Report"

My own python code pulling from the open data portal.

Joshil B.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315

[2021-05-04 17:34] mddilley opened #5980 "Project Extent | Fix geocoder and layer control styling in New Project stepper"
To prevent click events from propagating to the underlying map, the layer and geocoder control styles were updated to overlay the map. In the Edit Project view, the controls look as intended, but, in the staging deploy, the controls are not positioned correctly. This may have to do with differences in the containers surrounding the map in these views.

There is also an issue with the geocoder inpu

[2021-05-04 18:01] SurbhiBakshi commented on #4732
### Notes

1. All the records in the minimum and maximum fields on the parent object are not getting populated. Some of the records are getting populated which tells me that the connection is working. I tried updating a few records using the Test Date field as a catalyst, but the records did not get populated.
2. I have put in a support request with Knack to see if I can get some help figuring out

[2021-05-04 18:03] SurbhiBakshi commented on #4732
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/d1266bab-56f4-41ab-8691-dc2fbec119bd)

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/bb77b515-dc6d-4921-b340-9b12b52f94c7)

[2021-05-04 18:09] TracyLinder commented on #3641
@vschandramouli can you please make sure the AC on this is accurate & ready for development?

[2021-05-04 18:13] amenity commented on #4836
From Dylan J. via Teams:

​

[2021-05-04 18:19] TracyLinder commented on #2667
[https://app.zenhub.com/files/140626918/4caa2411-cd12-4a0c-aa23-61764326600e/download](https://app.zenhub.com/files/140626918/4caa2411-cd12-4a0c-aa23-61764326600e/download)

- Provided this to Maria & Laura to review internally and provide feedback to us about the info they'd like to exclude from the public view.

[2021-05-04 18:21] #5798 closed

[2021-05-04 18:23] TracyLinder opened #5981 "Auto-Create RW-Parking Folder From SE Parent Folder"
### As an OSE Planner, I want they system to create a parking permit folder from an SE folder when certain conditions are met.

**Stakeholders:** OSE (Maria, Laura)

**Acceptance Criteria**
- TBD
- Parent folder SE, child folder RW-Parking-Load/Unload

[2021-05-04 18:23] amenity commented on #4574
Met with @sergiogcx @johnclary @mateoclarke:
- Not going to tie milestones to phases
- Subphases will be listed in phases table in the UI
-

To-do:
- Update Milestones wireframe
- Ask Nathan & Dylan for 1) descriptions for https://atd-dts.gitbook.io/moped/user-guides/project-timeline/milestones 2) Additional milestones?

[2021-05-04 18:24] TracyLinder commented on #5981
This would mainly be for Teir 1 events, or food trucks.

[2021-05-04 18:28] TracyLinder opened #5982 "OSE AMANDA Product Review 5/4/21"
Priorities:
1. #2666 Folder Process Cleanup
2. #3641 Start/End Date Format Update
3. #2663 Auto Create OSE Folder

[2021-05-04 18:29] atdservicebot opened #5983 "Create a Towing Report"
Other / Not Sure

I would like to request a "Towing" report be created. Parking Officer don't actually tow vehicles but they initiate a tow through APD Dispatch and also when Municipal Court issues a Court ordered boot. A court ordered boot has to be removed by 6pm M-F; or vehicle is towed.

Soon — This week

Shavyvonne W.

Request ID: DTS21-101970

[2021-05-04 18:30] amenity commented on #5974
[Slack convo](https://austininnovation.slack.com/archives/CNUEPKLB1/p1620121022404800)

[2021-05-04 18:32] dianamartin commented on #5485
Prototyped Sign Fabrication Work Order Requests
- [x] Created Sign Request Form
- [x] Created Sign Fabrication Work Order table (Dashboard)
- [ ] Build out Comment feature
- [ ] Email invoice
- [ ] Notification to Crystal T. - Finance

[2021-05-04 18:32] TracyLinder commented on #5982
@Nadin-Nader FYI

[2021-05-04 18:32] #5982 closed

[2021-05-04 18:33] moorerst commented on #5779
@ChrispinP I cannot duplicate this issue when entering license plate info from my android

[2021-05-04 18:50] dianamartin commented on #5983
The main report page has a report for "Towing", but the SR has to be assigned that way. The "Officer Metrics" towing report that is being requested will be a report that shows a PEO assigned to a towing event.

[2021-05-04 19:07] TracyLinder commented on #4946
Metrics need to be collected for all permit folders: RW, DS, EX, PSM

[2021-05-04 19:07] SubhaShroff commented on #1877
@Nadin-Nader I tested another set of permits today on DEV. I checked the batch jobs to send the emails to sitesubpermits@austintexas.gov, it all looks good and completed, successfully. So, the emails must be sent this time.
- 11777772 EX
- 11895603 EX austin energy
- 11900880 DS COM driveway - demo
Please check with Mariya Becker.

[2021-05-04 19:15] johnclary opened #5984 "Fiber Optic Cable GIS Data Mgmt"
- [x] Merge all Kimley Horn lines into one layer
- [x] Merge lines based on area and aerial/underground status
- [x] Got a copy of AGOL fiber optic cable from Edgardo that Brian/Edgardo had modified. Added those changes to my copy of the AGOL fiber optic cable layer
- [x] Create new Project, copy updated AGOL layer and Kimley Horn CAD drawings merged layer to Project for AMD

12/16/21: Changed how

[2021-05-04 19:31] SubhaShroff commented on #5580
@Nadin-Nader  @TracyLinder  The deployment is done DEV. Below are the screens on DEV, displaying 'CIP?' under project information group. Kindly let me know if this looks good to move to TEST.

![image](https://user-images.githubusercontent.com/51680715/117059313-4892ca80-ace5-11eb-8bf0-ea909fcda4d2.png)
![image](https://user-images.githubusercontent.com/51680715/117059372-5ea08b00-ace5-11eb-97f0-4

[2021-05-04 19:31] dianamartin commented on #5983
We talked to Shavyvonne and she said

I said>
I created the Tow Report. The Tow report on the main report page if it was a scheduled municipal court ordered tow by selected the Issue Type "Towed Vehicle". So it's up to you guys if you only want to use the Issue Type "Towed Vehicle" for the scheduled tows v. the tow events which will be attached to a PEO via an activity

Shavyvonne

[2021-05-04 19:31] #5983 closed

[2021-05-04 19:46] johnclary commented on #5730
@alan-deanda do we still download this data and store it somewhere?

[2021-05-04 19:49] #5503 closed

[2021-05-04 19:52] johnclary opened #5985 "Create Bike Parking Reporting Hub"
Now that we have a new maintenance tracking process for bike parking, staff need to access to data and reporting metrics.

[2021-05-04 19:52] TracyLinder commented on #5580
Hi @SubhaShroff , will the value on both folders default to No?

Thanks,

[2021-05-04 19:53] #5756 closed

[2021-05-04 19:54] johnclary commented on #5757
Nick F has been training and is going to train other collectors if needed.

[2021-05-04 19:54] #5757 closed

[2021-05-04 19:54] johnclary commented on #5739
@alan-deanda anything else needed here?

[2021-05-04 19:56] johnclary opened #5986 "Intro Andrew to Sign Data Management Process"

[2021-05-04 19:59] dianamartin commented on #5485
After having discussion with Christina, need to do

### Add fields
- Type: `Custom - COA Operational signs`, `Location Signs`
- Design Approved: Y/N
- Status: `New, In Progress, Fabrication Completed, Closed`
- Photo Attachment:
- Instructions/Comments:
- Size: predetermined list
- Colors: predetermined list (multi-select)
- Materials: `Aluminum or Corrugated board`

### Add/Configure Form - Inter

[2021-05-04 20:12] SubhaShroff commented on #5580
Yes @Tracy. It will default to 'No' for both folders.

[2021-05-04 20:50] mddilley commented on #5945
Presented on 5/4

[Slides](https://docs.google.com/presentation/d/1l8PyYUynsUmHO6kYCtzsnT4oKPzWvh4Upn7QWzyvyCI/edit)
[Recording](https://web.microsoftstream.com/video/9ab02e69-c2f5-4a73-a9ef-009fabb27a70)

[2021-05-04 21:30] jaime-mckeown commented on #5656
- Created an App from the new Web Map Viewer. It keeps the Groups, but the ability to create bookmarks is not available, which is an important piece for them.
- Moved back to Web App Builder to test using multiple layer list widgets. After playing around with multiple layer list widgets, I discovered that even though the layers are broken up into multiple lists, the drawing order is still set by t

[2021-05-04 21:38] Nadin-Nader commented on #2666
@TracyLinder i have update the AC based off of the email from Maria (see below). Please review and see if it is ready to go or if come up with more questions.

Email from Maria:

[2021-05-04 21:38] ChrispinP commented on #5959
Knack responded and gave me the greenlight to remove. I have removed the Edit Payment Info action link and the Edit Payment page is still intact.

complete

[2021-05-04 21:38] #5959 closed

[2021-05-04 21:43] Nadin-Nader commented on #4469
@TracyLinder This is on ## **TEST** and is ready for Stakeholder UAT. I will schedule UAT with Stakeholders

[2021-05-04 21:53] ChrispinP commented on #5779
Yea, the issue is still occurring for me. I can type in numbers without it generating the extra characters but letters will create the extra letters.

Here is a related article I found: https://stackoverflow.com/questions/58045310/bizarre-code-issue-extra-characters-appearing-on-input

We may need to update/modify the way we do the keyup function on these fields.

[2021-05-04 21:57] ChrispinP commented on #5779
@chiaberry can you identify a way we can update our capitalization keyup functions to standardize for all apps?

[2021-05-04 22:04] SubhaShroff commented on #5580
### Status:###
I did DEV test and screenshots are given above. Waiting for approval to move to TEST.

[2021-05-04 22:06] SubhaShroff commented on #5579
### Status:
In Progress.

[2021-05-04 22:07] SubhaShroff commented on #1726
### Status:
Waiting for UAT.

[2021-05-04 22:08] Nadin-Nader commented on #1726
@TracyLinder @SubhaShroff @Sreelatha-BlazeKannan Kim has done the UAT for this on TEST and it is good to go on PROD. Her message is below. She also mentioned that the older permit didn't work but that usually happens to older Permits/folders. The fix sometimes doesn't apply to them:

[4:45 PM] Perez, Kimberly
    Hey Nate! I finally tested the "in date". It worked for all three permit types.. RW,

[2021-05-04 22:10] SubhaShroff commented on #2397
### Status:
New changes are done for updated AC, in local branch. I will post the demo screenshots soon.

[2021-05-04 22:10] Nadin-Nader commented on #1726
# **Status:**

## ** Ready for PROD Deployment 🎉🙌

[2021-05-04 22:12] SubhaShroff commented on #4033
### Status:
Waiting on UAT.

[2021-05-04 22:13] Nadin-Nader commented on #4511
@aishwarya2505 @Sreelatha-BlazeKannan @tracy This has been deployed to DEV by Martin

## **Status:**
Ready for DEV UAT

[2021-05-04 22:32] ChrispinP commented on #5487
Began working on the Customer Workflow so far and created my first rough draft using LucidCharts. Will work on the Reviewer Workflow next.

[2021-05-04 22:37] ChrispinP commented on #5893
Updated Submission reports to be on their own reporting page to create clarity. I also provided legends next to these performance metrics so they are easier to understand.

![image](https://user-images.githubusercontent.com/67915167/117078203-0a0a0980-acff-11eb-817f-0c42d24ce56e.png)

I updated the equations themselves so they accurately reflect the raw day value for average submission cycle times

[2021-05-04 22:39] ChrispinP commented on #5537
no further home page updates at this time, closing as complete

[2021-05-04 22:39] #5537 closed

[2021-05-04 22:41] Nadin-Nader commented on #3640
@aishwarya2505 @Sreelatha-BlazeKannan is the Deployment plan ready for this?

## **Status:**

Waiting on DEV Deployment plan to send to DevOps CTM

[2021-05-04 22:42] ChrispinP commented on #5633
Moving to blocked until Knack is able to resolve the expanded group records issue that would allow us to reassign case reviewers from the table. Otherwise, this has been reviewed and is complete.

[2021-05-04 22:42] ChrispinP commented on #5808
Reviewed with Tracy and stakeholders, closing as complete

[2021-05-04 22:42] #5808 closed

[2021-05-04 22:44] ChrispinP commented on #5540
@TracyLinder lets schedule a time to review this feature with the appropriate stakeholders

[2021-05-05 00:22] alan-deanda commented on #5730
@johnclary no, each user is able to do it from the metroviewer themselves as needed. The metroviewer has links to documentation as well.

[2021-05-05 00:23] alan-deanda commented on #5739
@johnclary Andrew has mapped the facilities from Q2, I'll close this issue. If there are any subsequent requests about the level of comfort of these facilities I can add them to an issue of post-review edits

[2021-05-05 00:23] #5739 closed

[2021-05-05 02:06] johnclary commented on #5779
thanks for that research @ChrispinP. two ideas:
- make the input all-caps after the user un-focuses from the form input
- stop worrying about the capitalization and just remove the code

@chiaberry if you could spend a lil time on it this week we'd appreciate it. sounds like it's kinda hard to reproduce, but it'd be worth trying on browserstack.

[2021-05-05 02:12] johnclary commented on #5884
Hi all—Before we meet with Chandra, I think we need to get more aligned on the SR types and flows. We should address Shared Mobility's 311 SRs ([#5720](https://github.com/cityofaustin/atd-data-tech/issues/5720)) in addition parking enforcement. Do we know what the Shared Mobility SR types are?

@dianamartin, can you re-share the workflow/notes you had about the parking SRs? I think you mentioned t

[2021-05-05 02:17] johnclary commented on #5776
If we're estimating a few thousand records a month, I agree that's probably more than we want to retain if we can avoid it, but I also don't think it will significantly impact app performance in the near term. Suggest we hold revisit in 6-8 weeks when we have more data. Perhaps there could be some useful reporting from this data?

[2021-05-05 02:20] johnclary commented on #5730
thanks, Alan. that rings a bell. i believe we may have some lingering documentation in gitbook—would you remove that?

[2021-05-05 03:07] johnclary commented on #503
Per BVDW this is a training issue. Closing.

[2021-05-05 03:07] #503 closed

[2021-05-05 03:09] johnclary opened #5987 "Simplify Traffic Signal Detection Status"
Simplify the logic that sets the detection status of a signal based on the status of its child detectors. If a single detector is `BROKEN`, the signal should have a status of `BROKEN`. Otherwise the status is `OK` unless there are zero detectors at the signal, in which case `NO DETECTION`.

![image (4)](https://user-images.githubusercontent.com/14793120/117093075-8283c100-ad25-11eb-8a39-5b12050380

[2021-05-05 03:13] johnclary commented on #5987
Done. See attached PR.

This caused 64 signals to have an OK status instead of whatever the status was before.

<img width="630" alt="Screen Shot 2021-05-04 at 10 02 48 PM" src="https://user-images.githubusercontent.com/14793120/117093063-7b5cb300-ad25-11eb-9b9d-047019ec76d0.png">

[2021-05-05 13:27] aishwarya2505 commented on #3640
@Nadin-Nader DEV deployment is ready and emailed. Thank you.

[2021-05-05 13:45] dianamartin commented on #5987
@johnclary That report widget seems correct now, there shouldn't been anymore `UNKNOWN` statuses. I'll check it this morning and confirm this.

I'll also confirm that AMD wants to drop the `UNKNOWN` status from the signal (parent) `Detector Status`

[2021-05-05 13:49] SubhaShroff commented on #2397
![image](https://user-images.githubusercontent.com/51680715/117151285-8c85de00-ad7e-11eb-9ace-7bce0d5aaa7f.png)

### **RW TURP**
![image](https://user-images.githubusercontent.com/51680715/117151499-c525b780-ad7e-11eb-9046-1c5382c03b8f.png)

[2021-05-05 13:53] SubhaShroff commented on #2397
### Status:
Latest AC updates are implemented on local branch.
Await the feedback from @TracyLinder @Nadin-Nader.

[2021-05-05 14:00] jaime-mckeown commented on #5977
- John created a new Spreadsheet to use for testing
- Several members of the team had completed the test
- The meeting was short, which left time for people to do some testing
- Moved my tests over to new Spreadsheet and submitted (only submitted Pro tests using Cat6 connection for now).

[2021-05-05 14:00] #5977 closed

[2021-05-05 14:04] jaime-mckeown opened #5988 "Signs & Markings CAD Temporary Staff Planning Meeting"
Attend meeting on 5/5/21

[2021-05-05 14:40] moorerst commented on #5510
closing this issue we understand how the Health Check Survey works if/when they want to enable it we can open a new issue.

[2021-05-05 14:40] #5510 closed

[2021-05-05 14:47] andrewshensky commented on #5740
**Chevron Orientation to Match Climb Direction**

1.	Use slope point layer to generate new lines (Points to Line)
a.	Line Field: project extend iD
b.	Sort Field: Point on Line
2.	Split Line at Point
a.	Search Radius: 5 feet
3.	Split Line at Points Output
a.	Add field for sequential numbers
b.	Calculate in sequential numbers in new field
4.	Linear Mean Direction
a.	Case Field: Sequential number fie

[2021-05-05 14:59] jaime-mckeown commented on #5988
- ATSD uses Microstation, not CAD, so they are not ideal to get their process.
- PW uses CAD, which is what SMB will be working with as well.
- Kevin from PW mentioned that different softwares for CAD are more transferrable, each program can open the others drawings (AutoCAD, Microstation)
- V: Survey
- VI: Survey Grade
- C: Civil
- E: Electrical
- PW can provide CAD template so they use the same

[2021-05-05 15:01] jaime-mckeown opened #5989 "GIS Modernization Weekly Meeting - 5/5/21"

[2021-05-05 15:10] moorerst commented on #5884
document Shared Mobility SR process

[2021-05-05 15:20] ChrispinP commented on #5894
I have updated report styling for TIA so now the bar chart colors are matching the pie charts:
![image](https://user-images.githubusercontent.com/67915167/117165864-7af70300-ad8b-11eb-830d-53161ddaa6f5.png)

[2021-05-05 15:21] #5804 closed

[2021-05-05 15:21] SubhaShroff commented on #1726
### Status:
PROD Deployment request is raised : **SCTASK0135545** (commits: ee07f8d1c54c, c37a87d66bf2,  7ecadffa170d)

[2021-05-05 15:21] #5800 closed

[2021-05-05 15:22] #5792 closed

[2021-05-05 15:23] johnclary opened #5990 "[Bug] Unit cost is not being calculated properly"
The unit cost is not being calculated correctly during the inventory item restocking process.

<img width="1411" alt="Screen Shot 2021-05-05 at 10 20 21 AM" src="https://user-images.githubusercontent.com/14793120/117166145-b691cd00-ad8b-11eb-8c39-70db6ba0fc66.png">

[2021-05-05 15:23] #5943 closed

[2021-05-05 15:24] #4408 closed

[2021-05-05 15:24] #5802 closed

[2021-05-05 15:24] #5851 closed

[2021-05-05 15:24] johnclary commented on #5990
The "Re-Stock Item" form was missing the "Previous On-Hand Quantity" field. This field was somehow completely missing from the app. So I re-created it and updated the custom code (see attached PR).

<img width="658" alt="Screen Shot 2021-05-05 at 10 20 56 AM" src="https://user-images.githubusercontent.com/14793120/117166416-f953a500-ad8b-11eb-9c59-9cf824230910.png">

[2021-05-05 15:32] amenity commented on #1540
@amenity - need to update the MMC on this in the next P&P meeting.

[2021-05-05 15:38] amenity commented on #5979
@dianamartin has a prototype going for this.

[2021-05-05 15:39] jaime-mckeown commented on #5989
- talked about same things, recapping that we should be migrating users to new software or off ArcMap to AGOL.
- trainings available, get users registered and fill up classes. Trish would like an email after submitting any last minute training requests up to the day before the training is to take place.
- Jim H at CTM has created a way to add Pro install to self installer on users computers. Shano

[2021-05-05 15:41] amenity commented on #5979
This may not be a 5 — depends on how far Joshil's existing code can get us. Once this is configured will need to put it on Airflow, etc.

[2021-05-05 15:42] #5989 closed

[2021-05-05 15:45] amenity commented on #5335
@amenity - add to AMD agenda: How are Billy's fillable PDFs working out?

[2021-05-05 15:47] ChrispinP commented on #5342
@andrewshensky Would this be possible?

Check for Primary Project Address > If present, Mitigation Map zooms to Street level view centered on this Address

[2021-05-05 15:47] #5954 closed

[2021-05-05 15:48] dianamartin commented on #5776
Will create a new issue to follow-up in a few sprints. Closing this.

[2021-05-05 15:48] #5776 closed

[2021-05-05 15:52] amenity commented on #4291
Tooran is moving to DSD; will need to run this by her replacement.

[2021-05-05 15:56] andrewshensky commented on #5342
@ChrispinP Do you know if we have an ArcGIS Online layer for the Primary Project data with address information? If so, I think we could add that layer to the map and allow the search bar to read the address field.

[2021-05-05 15:57] dianamartin opened #5991 "Follow-up: Dispatch Tracking - Scheduled delete of Resource Tracking Logs, check-in on records and performance"

[2021-05-05 15:59] amenity commented on #5485
@dianamartin - please add whatever issues you'd like for the👆 refinements & additional features (e.g. Comments, attachments).

[2021-05-05 16:01] SubhaShroff commented on #4071
### Status: I need to look at VOID DS folder payment as per Tracy's update.

[2021-05-05 16:06] #5426 closed

[2021-05-05 16:15] Nadin-Nader commented on #4823
Not enough info. Needs more Scoping

[2021-05-05 16:22] jaime-mckeown opened #5992 "Automatic Updates for Markings Dates Tables in Maint Discussion"
From Susanne:

[2021-05-05 16:22] dianamartin commented on #5884
@johnclary @moorerst I finally found the issue that had our notes with the stakeholders when we asked them how they handled 311 requests #5391

[2021-05-05 16:29] johnclary opened #5993 "Migrate ROW SSO Login to Migration Copy of App"

[2021-05-05 16:29] dianamartin commented on #5884
We have these Parking SRs:

- `ATD Booting Complaint`
- `Parking Violation Enforcement`
- `Residential Parking Permit Enforcement`
- `Pay-by-Phone App` - this is the one that changed recently, this April 2021
- `Shared Micromobility` - Shared Mobility work group, Joseph's group

We aren't going to do this on just yet because they don't have an application to house the SRs
- `Parking Machine Issue`

[2021-05-05 16:31] johnclary commented on #5993
Migrate row from [this prototype](https://builder.knack.com/atd/row) to the [Migration Copy](https://builder.knack.com/atd/right-of-way-portal-johns-migration-copy).

- Swap URLs
- Copy certificate/SAML config info

[2021-05-05 16:38] johnclary commented on #1554
@TracyLinder can you schedule some time with one or two TCP analysts so that we can test the new prototype?

Once we get their OK, we'll schedule the migration. Chrispin will migrate the records, and I'll follow-up by migrating the attachment files.

[2021-05-05 16:47] chiaberry commented on #5779
I wasn't able to reproduce the random letters, but I did notice that its hard to insert something in the middle of what you've entered, because the cursor keeps jumping to the end of the field.

Also I can't tell why yet, but the first address input here isnt going to all caps on my phone nor my browser
https://atd.knack.com/test-mar-26-2020-rpp-city-of-austin-residential-parking-permits-portal#ap

[2021-05-05 17:27] dianamartin commented on #5884
I called Andrea M. bc Mary was out and Joseph was busy to clarify the Share Mobility Process. I whipped up their current SR Process
@johnclary @moorerst @SurbhiBakshi

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/13aca847-77f1-4e45-ac31-432c4b0f5365)

[2021-05-05 17:49] atdservicebot opened #5994 "Remove the "Unit Cost" totals from the Signs Invoice that are printed to PDF."
Signs & Markings Operations

We need to remove the "Unit Cost" totals from the Signs Invoice that we print to PDF.

The unit costs on the signs invoice will not sum.

Editing the PDF after we have printed to PDF and deleting the sum of the unit cost.

Christina T.

Request ID: DTS21-101975

[2021-05-05 17:53] sreelathab commented on #4511
@Nadin-Nader @TracyLinder  - Verified in DEV and the fee unit code updated to "9100" successfully.

![image](https://user-images.githubusercontent.com/65371095/117186852-e0a1ba00-ada0-11eb-9e99-f45716e5b07f.png)

[2021-05-05 17:58] SurbhiBakshi commented on #4732
in this [instance](https://atd.knack.com/signs-markings#api-views-private/socrata-etl/work-orders-sign-details/5e45af1ffb8b3500182d207d/), the minimum date worked (numeric)is populated from the time_log object but not the maximum work order date (numeric).

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/396d7a02-120e-48e5-83a7-ee219c4f2d5b)

[2021-05-05 18:00] SurbhiBakshi commented on #4732
As opposed to the[ instance ](https://atd.knack.com/signs-markings#api-views-private/socrata-etl/work-orders-sign-details/6086da95c72da0001b43592e/)noted above, in this instance the maximum date worked is populated and not the minimum

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/04ca14f5-4951-433e-92f6-4e2e6f0723b7)

[2021-05-05 18:06] jaime-mckeown commented on #5988
Looked over markings long line, the data is very piecemeal, not much to work with for a test area. Suggested Dean Keeton between Beanna and IH 35 as there are multiple types of long line on that segment of road.

[2021-05-05 18:07] #5988 closed

[2021-05-05 18:09] moorerst commented on #2856
@ChrispinP emailed both Steve and Jacob. Per Steve I would say with all the Zones having gone through the Renewal process since Knack’s implementation, that the data migration from the spreadsheets wouldn’t be necessary anymore. That’s my thought process on it.

Let wait a day or two to see if Jacob has a different opinion. If not we can close the migration issues early next week. Thanks

[2021-05-05 18:15] moorerst commented on #5942
@johnclary I scheduled check in meeting for 5/13

[2021-05-05 18:18] moorerst commented on #5932
Include John in the training session

[2021-05-05 18:20] #5990 closed

[2021-05-05 18:22] moorerst commented on #5991
issue #5776 for reference

[2021-05-05 18:23] johnclary commented on #4732
@SurbhiBakshi can you see any differences in the record histories for these two? perhaps you can locate the event that caused the max date to populate correctly.

[2021-05-05 18:42] SurbhiBakshi commented on #4732
@johnclary - For both records, the Record Update : Formula was the trigger.

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/689535b4-4bab-401b-aa77-1d8485b12e98)

[2021-05-05 18:47] sergiogcx commented on #5950
This is now done, this is in the automated_tasks folder in atd-data02 along with other scripts

[2021-05-05 18:48] sergiogcx commented on #5947
This is done, in AWS it's called: atd-moped-db-backups

[2021-05-05 18:48] sergiogcx commented on #5948
This is now done, the script lives in automated_tasks in atd-data02 along with other tasks.

[2021-05-05 18:49] #5947 closed

[2021-05-05 18:49] sergiogcx commented on #5950
Forgot to mention, that this is applied for both staging and production.

[2021-05-05 18:49] #5950 closed

[2021-05-05 18:50] sergiogcx commented on #5948
Forgot to mention this is applied to both staging and production,

[2021-05-05 18:50] #5948 closed

[2021-05-05 18:51] sergiogcx commented on #5951
Not sure this will be necessary, this could cause the migrations to take forever. Not to mention that we will always have the daily backups. Closing for now.

[2021-05-05 18:51] #5951 closed

[2021-05-05 18:52] sergiogcx commented on #5949
Ah, this is a dupe of https://app.zenhub.com/workspace/o/cityofaustin/atd-data-tech/issues/5951 Closing

[2021-05-05 18:52] #5949 closed

[2021-05-05 19:11] moorerst commented on #5884
scheduled meeting with Chandra(311) for 5/20

[2021-05-05 19:45] Nadin-Nader commented on #5389
@TracyLinder Robert Deployed this to PROD and Daniil has UATd it on PROD. It works and i will close the issue.. See email below from Daniil.

![PROD UAT.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/fd5c453f-35bc-48ed-bf6b-a58b6fe231f6)

[2021-05-05 19:45] #5389 closed

[2021-05-05 19:59] dianamartin opened #5995 "[BUG] Can't re-assign PR to other staff besides "ATDProCard and Finance Admin""
Dan V.
Finance

Emailed

[2021-05-05 20:03] dianamartin commented on #5995
I called Dan and we screen shared. Looked at one of the PRs he wanted to change.
- Looked at the back end, there was a strange filter on the "Process Purchase Request" form
- It filtered it for "admin" roles only
- Changed filter to show only Division: `Finance and Administration`, User Status: `active`

@amenity
He also mentioned that it would be nice to have a button/link to the DTS request from

[2021-05-05 20:03] #5995 closed

[2021-05-05 20:34] mddilley commented on #5980
Seeing a similar issue with the hover tooltips for the draw tools in the New Project stepper
![Screen Shot 2021-05-05 at 3.33.21 PM.png](https://images.zenhubusercontent.com/5cfe7d078509cb6dcbaafdc3/cbb6fa49-acc6-486c-a228-29216c2b5836)

[2021-05-05 20:47] atdservicebot opened #5996 "Resolve - Attach image activity doesnt prompt location to upload or attach file"
Data Tracker

Attach image activity doesnt prompt location to upload or attach file

https://atd.knack.com/amd#home/

Internet Browser: Chrome

Allyson R.

Request ID: DTS21-101980

[2021-05-05 20:59] #4574 closed

[2021-05-05 20:59] #5251 closed

[2021-05-05 20:59] #5717 closed

[2021-05-05 20:59] #5744 closed

[2021-05-05 20:59] #5748 closed

[2021-05-05 20:59] #5889 closed

[2021-05-05 20:59] #5945 closed

[2021-05-05 20:59] #5559 closed

[2021-05-05 21:21] ChrispinP commented on #5993
created support ticket INC0099531 and sent email to John & Michael to get updated metadata and cert information. Updated SAML info and urls but test was unsuccessful.

pending response

[2021-05-05 21:21] amenity commented on #5482
@johnclary @amenity — @chiaberry is going to take this on. Need to get a new mockup. @johnclary - do you have this somewhere? if we could do one without color changes, that would be great.

[2021-05-05 21:26] dianamartin opened #5997 "FEATURE: Create Comments functionality for Sign Fabrication Work Orders"

[2021-05-05 21:27] dianamartin opened #5998 "FEATURE: Create Attachments functionality for Sign Fabrication Work Orders"

[2021-05-05 21:27] dianamartin opened #5999 "FEATURE: Create basic invoice functionality for Sign Fabrication Work Orders"

[2021-05-05 21:27] dianamartin opened #6000 "Configure email notification for invoice creation"

[2021-05-05 21:33] dianamartin commented on #5854
@moorerst Closing this since we got them on the system 5/3

[2021-05-05 21:33] #5854 closed

[2021-05-05 21:34] dianamartin commented on #5899
Confirmed with Danny C. that he has removed the "Classic Collector" and that the app still exists in the App Catalog bc other city departments might still be using it, like PARD.

[2021-05-05 21:34] #5899 closed

[2021-05-05 21:39] amenity opened #6001 "Milestones | Update milestones tables in database"
### Global milestones
[moped_milestones](https://db-docs.austinmobility.io/atd-moped-production/tables/moped_milestones.html)
- [ ] Polish table structure:
  - Remove `milestone_average_length` — we not doing date spans for milestones
  - Remove`milestone_order` — not all in any sort of standard chronology like phases
  - Remove `milestone_start`? Rename `milestone_end` to `milestone_date`? (this

[2021-05-05 21:50] jaime-mckeown commented on #5986
- Discussed the signs work order process and how the field workers are adding points in Knack
- Talked about the Maint dataset, the schema will be used by the vendor for the Sign Data Collection Project coming up later this year. As they provide data throughout the project, it will be added to the Maint dataset
- Talked about how the points coming from Knack would coordinate with the data in Maint

[2021-05-05 21:50] #5986 closed

[2021-05-06 02:40] SurbhiBakshi commented on #5996
@dianamartin - not sure if you have this on your radar, but if not I can look into this.

[2021-05-06 02:40] SurbhiBakshi commented on #5994
@dianamartin not sure if you already had this on your radar, but if not, then I can look into this.

[2021-05-06 02:41] dianamartin commented on #5996
@SurbhiBakshi i saw you assigned it to me. If you wanna take a look you can. I can take the SMB on tomorrow.

[2021-05-06 02:42] SurbhiBakshi commented on #5996
@dianamartin - sounds good, I'll take this one, you take the SMB one.

[2021-05-06 02:43] dianamartin commented on #5994
@SurbhiBakshi this one should be an easy fix too. Under "reimbursements", signs reimbursement and then invoice i believe.

[2021-05-06 12:48] johnclary commented on #5912
Sergio, Mateo and I met with Omar and spent time reviewing our AWS Lambda and API Gateway configuration to think through issues/solutions. Sergio activated `ERROR` level logging on the API gateway. I conducted load tests against our Knackpy Development app. It is smaller/more performant than the Data Tracker, but I encountered no issues whatsoever while inserting 3k records on 16 concurrent thread

[2021-05-06 12:49] johnclary commented on #5914
Sergio, Mateo and I met with Omar and spent time reviewing our AWS Lambda and API Gateway configuration to think through issues/solutions. Sergio activated `ERROR` level logging on the API gateway. I conducted load tests against our Knackpy Development app. It is smaller/more performant than the Data Tracker, but I encountered no issues whatsoever while inserting 3k records on 16 concurrent thread

[2021-05-06 12:49] #5914 closed

[2021-05-06 12:53] johnclary commented on #5914
Here's the load test code

[code]

[2021-05-06 12:56] johnclary opened #6002 "Meet to discuss CTN next steps"

[2021-05-06 13:01] johnclary commented on #6002
# CTN Discussion 4/20/2021

### Goals

-   datamart
-   get buy in from other stakeholders: urban trails

### Challenges

-   segmenting CTN into linear-referened related tables, e.g. cross section / active transportation attributes

-   is the related-table data as accessible for users if they have to deal with joins?

-   create layers derived from the CTN. periodically update them (e.g. monthly

[2021-05-06 13:02] johnclary commented on #6002
# CTN Discussion 4/20/2021

### Goals

-   datamart
-   get buy in from other stakeholders: urban trails

### Challenges

-   segmenting CTN into linear-referened related tables, e.g. cross section / active transportation attributes

-   is the related-table data as accessible for users if they have to deal with joins?

-   create layers derived from the CTN. periodically update them (e.g. monthly

[2021-05-06 13:04] johnclary commented on #6002
# CTN Discussion 4/20/2021

### Goals

-   datamart
-   get buy in from other stakeholders: urban trails

### Challenges

-   segmenting CTN into linear-referened related tables, e.g. cross section / active transportation attributes

-   is the related-table data as accessible for users if they have to deal with joins?

-   create layers derived from the CTN. periodically update them (e.g. monthly

[2021-05-06 13:04] #6002 closed

[2021-05-06 13:11] SurbhiBakshi commented on #5994
@dianamartin - I took care of this one since I was in the application checking on the work Knack did last night. Will message Christina to confirm it works for her.

[2021-05-06 13:36] johnclary opened #6003 "Meet with TriMet to learn about their use of Open Street Map (OSM)"
Trying to schedule the week of 5/24.

[2021-05-06 14:04] Nadin-Nader commented on #4469
UAT on TEST Scheduled for May 11, 2021 at 930am to move this change to PROD

## **Status:**
Waiting on meeting to UAT on TEST

[2021-05-06 14:04] jaime-mckeown opened #6004 "All Ages and Abilities Story Map / Web Maps Ownership Change to Nathan"
Nathan requested to edit the AAA Story Map and underlying Maps.

[2021-05-06 14:05] jaime-mckeown commented on #6004
Transferred the following:
![image](https://user-images.githubusercontent.com/48842809/117311778-22d30600-ae4a-11eb-812f-751438f72de5.png)

[2021-05-06 14:18] SurbhiBakshi commented on #4732
Email from Knack

[2021-05-06 14:21] SurbhiBakshi commented on #4732
Email from Knack -

[2021-05-06 14:22] SurbhiBakshi commented on #4732
Email from Knack -

[2021-05-06 14:25] SurbhiBakshi commented on #4732
Messaged Christina to give her an update on the dashboards and to let her know I am working with Knack to resolve the issue with populating all records.

[2021-05-06 14:59] jaime-mckeown opened #6005 "GIMOB Meeting - May"

[2021-05-06 15:20] SurbhiBakshi commented on #4732
Knack converted the equation field in the time_logs object from Number to Date, but that did not come through in the work_orders_markings object. The minimum and maximum field are still numeric and the translation into Dates is incorrect.
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/0d2c63eb-208d-4d9e-b7d8-7811cde62742)

[2021-05-06 15:22] SurbhiBakshi commented on #4732
Increased the estimate on this request to an 8 due to the additional complexity introduced by all records not populating and communication with Knack.

[2021-05-06 15:34] SurbhiBakshi commented on #4732
The minimum and maximum fields in the work_orders_markings_jobs are populated for all records with 1 or more time logs. The minimum and maximum fields are populated by dates.
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/39318389-0eae-4337-81b0-6b7c64747487)

[2021-05-06 15:50] SurbhiBakshi commented on #4732
### Email to Knack -
I did some spot checks, and it looks like the indexing process worked.

I have documented the details for a similar issue below, in this case the added complexity is that I need records to be populated across three levels. Will you please investigate this?

thanks,

Surbhi

Application ID -

5d13ae5b438091000ac0197d

**Parent object -**

work_order_markings

Minimum field on p

[2021-05-06 15:58] jaime-mckeown commented on #6005
- GISERT: rolled back COVID response to the regular weekly schedule. Ask for GIS SPOCs to let him know if they have department updates for the professional responders. If anyone would like to become a duty officer, let him know.
- GIMOB Page Update: looking for input for changes to be made as classic SharePoint sites will be going away
- New GIS SPOC for HPD, Jeffrey E.: vote approved
- GIS Modern

[2021-05-06 15:58] SurbhiBakshi commented on #5996
Teams messaged Allyson to get more details.

[2021-05-06 15:59] jaime-mckeown commented on #6005
[CTM - Street Centerline Activity.docx](https://github.com/cityofaustin/atd-data-tech/files/6436008/CTM.-.Street.Centerline.Activity.docx)

[2021-05-06 16:00] #6005 closed

[2021-05-06 16:01] dianamartin commented on #5996
@SurbhiBakshi They're adding activities to the service request form. So under Mobility Management Center page, Service Request details. You'll find the form and you'll have to check the display rules.

[2021-05-06 16:04] #5781 closed

[2021-05-06 16:11] jaime-mckeown opened #6006 "New GIS User in SM - Eliza Y."
Kirk emailed to let me know that they have a new Project Coordinator, Eliza Y. She needs access to GIS.

[2021-05-06 16:12] jaime-mckeown commented on #6006
- let Kirk know that Scott will need to install the software, cc'd Scott
- Asked if she needs a GISDM account
- Sent instructions for creating an AGOL account
- Sent info regarding instructor-led trainings that are available and a link to the ATD Pro Training Page

[2021-05-06 16:28] amenity commented on #549
Duplicate of #652

[2021-05-06 16:28] #549 closed

[2021-05-06 16:42] jaime-mckeown commented on #5620
Joel asked for the Content to be taken back and shared publicly.

[2021-05-06 16:42] #5620 closed

[2021-05-06 17:00] jaime-mckeown opened #6007 "Parking Dashboard Ownership Change for Edits - Francesco"
Francesco needed to have all the Parking Dashboard content moved to his account for editing.

[2021-05-06 17:01] jaime-mckeown commented on #6007
Transferred all content to his Dashboard folder.

[2021-05-06 17:33] mddilley opened #6008 "Contact CTM about Nearmap restrictions for Netlify deploy previews"
The URL provided to CTM for the restrictions on the Moped Nearmap API token does not behave like the restricted urls for Mapbox basemap tiles. I suspect that a wildcard needs to be added to account for the changes in the deploy preview URLs. We also need to consider the new test instance (GH workflow dispatch with the Heroku Hasura cluster).

The URLs provided to CTM were (the same ones set in the

[2021-05-06 17:38] ChrispinP commented on #5633
Expanded group tables are now fixed. I also needed to move the Lead and Case Reviewer conditionals to the application form instead so that these connection fields could be editable from the table.

complete, ready to review

[2021-05-06 17:55] SurbhiBakshi commented on #5996
Thanks @dianamartin! Allyson sent me an example to show what is going on.

[2021-05-06 18:05] SurbhiBakshi commented on #5996
### Notes
For attachment issue -
1. [Example](https://atd.knack.com/amd#mmc/view-mmc-details/6093028b300a9f001b068311/) sent by Allyson
2. Allyson described the issue as `we were trying to use the "attach image" activity but when you select that there isnt a prompt to upload an image, it might be designed that way, but we werent seeing how to do it, so we ended up uploading to imgur and then just

[2021-05-06 18:54] jaime-mckeown commented on #5807
- I showed Edgardo how some of the fiber lines are broken along the routes. He said they must have transferred it from CAD and didn't connect.
- talked about the Kimley Horn data, Brian is going to reach out to Kent at KH to see if there is some data missing as it doesn't cover much of the city.
- They would like the new data merged together
   - Segment at traffic signals
   - Segment between und

[2021-05-06 18:55] #5807 closed

[2021-05-06 18:58] jaime-mckeown commented on #5968
- [ ] Merge all Kimley Horn points into one layer
- [ ] Merge all Kimley Horn lines into one layer: segment at traffic signals, segment between underground/aerial, add a new Attribute to distinguish between the CAD data from the old AGOL data, add a new attribute to track AGOL data being updated
- [ ]  After merging CAD data with AGOL data, do a Select by Location within 25 feet of Fiber to find a

[2021-05-06 19:04] TracyLinder opened #6009 "Weekly Meetings Tracy/Greg"

[2021-05-06 19:06] TracyLinder commented on #6009
### 5/6/21
- We documented what the UC folder is doing.
[https://app.zenhub.com/files/140626918/70fc58ad-3a95-470c-99e1-5274c2760b5e/download](https://app.zenhub.com/files/140626918/70fc58ad-3a95-470c-99e1-5274c2760b5e/download)

[2021-05-06 19:17] ChrispinP commented on #5448
The report edit button, the table row hover, and the expanded group records issues have been fixed.

[2021-05-06 19:19] #5890 closed

[2021-05-06 19:45] Nadin-Nader commented on #3640
@Sreelatha-BlazeKannan @aishwarya2505  I spoke to Maria and asked her the questions you needed answers to, See below:

_**Maria said that the child folder will need to be created when the Permit Analyst accepts the the "Event Intake" Process and not during Web Acceptance process. In summary, The info NEEDS to be  "YES" AND the "Event Intake" process needs to be accepted by the Permit Analyst in or

[2021-05-06 20:36] mddilley opened #6010 "Database | Remove the project_extent_geojson field data from the seed"
After updating the schema for `moped_project`, the local Hasura cluster fails to start because the seed data contains data for the `project_extent_geojson` field which no longer exists. This needs to be updated before merging https://github.com/cityofaustin/atd-moped/pull/293.

![Screen Shot 2021-05-06 at 3 31 22 PM](https://user-images.githubusercontent.com/37249039/117361811-1e294480-ae80-11eb-9

[2021-05-06 20:59] jaime-mckeown commented on #5992
- met with Susanne to discuss what she is trying to accomplish via FME.
- she has the workbench working, but only updating to a spreadsheet at this point
- I asked her if she had tested it with GISMaintDev, but she didn't know that she had an account. I looked it up, and she does, but she could not login.
- Submitted a CTM Request for her GISMaintDev account password to be reset.
- After she can l

[2021-05-06 21:06] TracyLinder opened #6011 "TIA Bug: Lead Reviewer Missing"
The lead reviewer did not populate on [this case.](https://atd.knack.com/development-services#tia-requests/tia-request-details/609442654f5995001c9bcc13/)

[2021-05-06 21:06] TracyLinder opened #6012 "TIA: Default Submission Cycle #"
When a scope or submission is manually created by staff, default the cycle # to prevent user input error.

[2021-05-06 21:06] TracyLinder opened #6013 "TIA Bug: Attachments & Comments"
- I couldn't submit an application via the customer portal because the system couldn't validate that I'd attached a determination form.
- During usability testing, when manually creating a submission cycle, the attachments and comment didn't populate anywhere in the app.

[2021-05-06 21:14] SurbhiBakshi commented on #5941
Set up the application with all the information on the ATD side and sent the metadata to CTM, opened a service request.

[2021-05-06 21:15] SurbhiBakshi commented on #5994
Christina confirmed the changes work for her.

[2021-05-06 21:15] #5994 closed

[2021-05-06 21:26] dianamartin opened #6014 "Feature: Create "Viewer" user role for Parking Dispatch"
Shavyvonne
PE

Would like a user role for "viewers" so they can access the site without editing any information

[2021-05-06 21:28] dianamartin commented on #6014
- Created new user role
- Applied it to `Service Request` page
- Applied it to `Reports` page

[2021-05-06 21:37] dianamartin commented on #6014
- Tested these pages to make sure it was hidden properly
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/3f7d6531-8fe6-4839-a82f-089b7a52f655)

[2021-05-06 21:45] #5920 closed

[2021-05-06 21:45] dianamartin commented on #5997
- [ ] Create connection to `Comments` table
- [ ] Create menu button for `Add Comments`
- [ ] Create `Comments` table

[2021-05-06 21:45] #5466 closed

[2021-05-06 21:45] #5749 closed

[2021-05-06 21:52] SurbhiBakshi commented on #5996
[Test Record ](https://atd.knack.com/test-amd-17-mar-2021-amd-data-tracker-dos#mmc/view-mmc-details/60527639c0fb2b0683e42ac3/)

[2021-05-06 21:55] SurbhiBakshi commented on #5996
Adding a location after selecting 'Identify an Asset' from the drop down list worked for me in the Test instance.

[2021-05-07 05:55] mateoclarke opened #6015 "Offboarding MD"
[wiki](https://app.gitbook.com/@atd-dts/s/wiki/offboarding/off-boarding-checklist)

- [x] IT Permissions and Access
- [x] Recover organization assets
- [x] Exit Interview
- [x] Transfer of Ownership

[2021-05-07 14:10] Nadin-Nader commented on #4511
@Sreelatha-BlazeKannan lets go ahead and get this on TEST. If you send it to CTM, Please let me know the TASK number and commit for tracking purposes.

[2021-05-07 14:11] Nadin-Nader commented on #4511
##**Status:**
Ready for TEST deployment  🎉

[2021-05-07 14:20] Nadin-Nader commented on #1877
@SubhaShroff spoke to Mariya and she sent me the emails that she received from 11777772 EX, 11895603 EX Austin energy, 11900880 DS COM driveway.

She only received 11900880, DS COM driveway, 11777772 EX but did NOT get anything for 11895603 E Austin Energy. Below are the automated messages from the emails and the PDFS are attached:

-----Original Message-----
From: noreply@cityofaustin.org [mailto

[2021-05-07 15:17] #5780 closed

[2021-05-07 16:17] amenity opened #6016 "Bug | Duplicate records created when adding phases via keyboard"
If you add a new phase by tabbing over and hitting the enter key on the checkmark rather than clicking on it, the table submits a duplicate record to the database (so you get two new records).

https://user-images.githubusercontent.com/1463708/117479807-626f2000-af26-11eb-9291-7c52ff96b0d2.mov

[2021-05-07 16:38] sreelathab commented on #4511
@Nadin-Nader , @TracyLinder - TEST Deployment plan for Card #4511 has been sent.  and created servicenow request Task Id: SCTASK0136223

[2021-05-07 17:39] Nadin-Nader commented on #4551
@Sreelatha-BlazeKannan This has been deployed to TEST. I will go ahead and schedule UAT on TEST.

[2021-05-07 18:40] SurbhiBakshi commented on #5996
Looked at the tmc_activities object in Production and it does not look like it has been successfully used. Allyson mentioned that they are loading images on Imgur and pointing to those links.
These links are stored in TMC_ACTIVITY_DETAILS
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/fc666f3e-1a6d-4d4b-86c2-a6959d7a5e22)

![image.png](https://images.zenhubusercontent.c

[2021-05-07 19:00] SubhaShroff commented on #1877
@Nadin-Nader SCTASK0136261 is submitted for TEST deployment.

[2021-05-07 19:18] Nadin-Nader commented on #5580
## **Approved for TEST Deployment**

[2021-05-07 19:19] Nadin-Nader commented on #5579
@Nadin-Nader move file to DEV for Testing

[2021-05-07 19:29] jaime-mckeown opened #6017 "ArcGIS Pro Assistance - Harrell in AMD"
Harrell has started using Pro, and had many questions and needed some help.

[2021-05-07 19:35] jaime-mckeown commented on #6017
- Helped Harrell out with some general questions he had with using Pro and interacting with his new Project for AE Poles
- We also talked about the newly added fields on the AE Poles layer as he was having difficulty figuring out how to edit.
- With more discussion, we decided to add a couple more fields
   - Comm 1 Cable Type: 12 CT, 24 CT, 48 CT, 96 CT
   - Comm 2 Info: Copper - dormant, FOC - A

[2021-05-07 19:39] jaime-mckeown opened #6018 "Street Events Web Map Embed in Website Broke"
Maria emailed to let me know that the embedded Web App for Street Events was asking for a login.

[2021-05-07 19:41] Nadin-Nader commented on #4551
@Nadin-Nader have Maria test SE side

[2021-05-07 19:42] jaime-mckeown commented on #6018
- Found the map in AGOL that was embedded in Street Events Map Page
- Everything was fine, all content was shared publicly
- Started troubleshooting, found some old links in the web map and app that were http, but fixing them had no affect
- After trying everything I could think of, I ended up creating a new Web Map and App, configured the same as the old, and shared publicly. Everything works aga

[2021-05-07 19:42] #6018 closed

[2021-05-07 19:43] jaime-mckeown commented on #5967
Ended up getting this update done as I was troubleshooting the Street Events Web Map / App yesterday.

[2021-05-07 19:43] #5967 closed

[2021-05-07 19:56] jaime-mckeown commented on #5978
Zachery let me know that the Zoning Case Managers layer from GISDM is now available in AGOL.

[2021-05-07 19:56] #5978 closed

[2021-05-07 19:57] jaime-mckeown opened #6019 "Pole Attachments Web Map Question - John G. at DSD"
From John G:

[2021-05-07 19:59] jaime-mckeown commented on #6019
To John:

[2021-05-07 19:59] #6019 closed

[2021-05-07 20:00] jaime-mckeown opened #6020 "Question about polyline lengths in Pro - Jeremy at Meter Shop"
From Jeremy:

[2021-05-07 20:01] jaime-mckeown commented on #6020
To Jeremy:

![image](https://user-images.githubusercontent.com/48842809/117502451-25feec80-af45-11eb-894c-0303f48dae2e.png)

[2021-05-07 20:41] SubhaShroff commented on #5580
@Nadin-Nader **SCTASK0136285**(d33e2414d0d8, 27c4283b3046)  is submitted for TEST deployment.

[2021-05-07 20:55] Nadin-Nader opened #6021 "On AB+C Portal, Update/Add/Rename EX Folder Subtypes (NN)"
**Currently Management is requesting (once or twice a week) for reports on how many requests are received per permit and/or customer type. In order to make it a more efficient and information report, we'd like to update the EX folder subtypes on Portal so that permit applicants are more likely to select the correct permit subtype.**
Also goes with #4469

**Stakeholders:** Paloma, Kim
**DTS Manager

[2021-05-07 20:58] jaime-mckeown commented on #6017
- Checked AE Poles in AGOL, need to turn all fields on as there are new fields.
- Modify layer in Web Map so all fields are visible

[2021-05-07 21:08] jaime-mckeown commented on #6017
Emailed Harrell to let him know that the changes have been made. Asked him to let me know if he can't see the new fields in his Project.

[2021-05-07 21:11] Nadin-Nader commented on #4469
This was UATd in todays ROW Meeting and it passed. It is ready to go to PROD once #6021 is done. #6021 is for the same changes but for them to be sown on Portal.

## **Status:**

Waiting on #6021 to be completed before moving to PROD

[2021-05-07 22:24] #5938 closed

[2021-05-07 22:24] #5939 closed

[2021-05-07 23:43] #6010 closed

[2021-05-10 13:25] Nadin-Nader commented on #4511
@Sreelatha-BlazeKannan looks like this was completed and deployed to TEST per George.

## **Status:**
UAT on TEST/ Schedule UAT on TEST with Stakeholders

[2021-05-10 13:39] jaime-mckeown commented on #6020
Jeremy said the measure tool will work fine.

[2021-05-10 13:39] #6020 closed

[2021-05-10 14:11] jaime-mckeown opened #6022 "ADA Parking Spaces Question - Allen B."
Allen is looking for the number of ADA parking spaces in the city.

[2021-05-10 14:11] jaime-mckeown opened #6023 "ADA Parking Spaces Question - Allen B."
Allen is looking for the number of ADA parking spaces in the city.

[2021-05-10 14:22] jaime-mckeown opened #6024 "Create Process for GIS to CAD for AE Poles for AMD"
Harrell, Edgardo, and Danni all use the AE Pole info in CAD.

Create a Wiki for the process to move the points and annotation for the labels into CAD.

[2021-05-10 14:25] jaime-mckeown opened #6025 "Safe for All Story Maps request to make edits"
Joel requested ownership back of the Safe for All Story Maps and Web Maps.

[2021-05-10 14:25] jaime-mckeown commented on #6025
Changed ownership to Joel, he only needed to make a couple edits, moved back to ATD Publisher and re-shared the Story Map.

[2021-05-10 14:25] #6025 closed

[2021-05-10 14:49] dianamartin opened #6026 "[BUG] Report: By Source Current Month was not showing up"
**Describe the bug**
When on the page, the pie chart wouldn't show up with any data on it

**URL**
https://atd.knack.com/parking-enterprise#dispatch-reports/

[2021-05-10 14:51] dianamartin commented on #6026
Checked the report and noticed that the multiple choice selections were different from the `SOURCE MANUAL` compared to the `SOURCE` field. I added the `ATD Staff` selection and changed the report source to `SOURCE` from `SOURCE MANUAL`. That fixed the report, I made sure to also check the other reports to make sure they were labeled correctly for "Current Week/Month/Quarter".

[2021-05-10 14:51] #6026 closed

[2021-05-10 14:51] moorerst commented on #652
5/7 David requested access to the Parking Enterprise Portal and Signs and Markings application to understand how the are being used.
Response from David: All of this revolves around the new duties the meter shop is taking on. We now install remove bike racks and bike hubs. We are also assisting with sign maintenance/install. May also need to start documenting with a knack app where we install perm

[2021-05-10 14:53] SubhaShroff commented on #2397
DEV Promotion request is submitted - **SCTASK0136583** (for commit-cb52855393b6)

[2021-05-10 15:01] ChrispinP commented on #6011
Rule that sets the Lead Reviewer is on the application to allow for inline editing. Application must be completed so that the Lead Reviewer and Case Reviewers are correctly set.

[2021-05-10 15:01] #6011 closed

[2021-05-10 15:14] dianamartin opened #6027 "IT Support: Submitted CTM Ticket for integration with MS Graph API"
`INC0100292`

Ticket Details:

[2021-05-10 15:19] dianamartin commented on #6014
- Did a demo this morning 5/10 for Shavyvonne and Stephanie
- Showed what the viewer role can and cant' do
- Shavyvonne can not have a meeting with folks who want to "view" information in the Parking Enterprise Portal

[2021-05-10 15:19] #6014 closed

[2021-05-10 15:25] dianamartin commented on #5997
Created this feature last Thursday 5/6
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/16400b95-901c-47b8-9c5a-6257fe419658)

[2021-05-10 15:58] SubhaShroff commented on #1877
@Nadin-Nader TEST deployment is done and I tested for it on **TEST** instance AMANDA, for the following permits. For each following permit, I checked the batch job instance(to send email to SiteSubPermits@austintexas.gov)and those were all successfully completed.

12657567 EX- Austin Energy (AE)
12640803 EX- Austin Transportation (ATD)
12657632 EX- Project Connect

12655480 DS - Com. Curb, Gutter

[2021-05-10 16:56] jaime-mckeown commented on #5656
Received feedback:

[2021-05-10 16:58] jaime-mckeown commented on #5656
- Removed layers
- Created new Layer Lists and configured based on their needs above. Ordered all as they asked, but emailed them to double check since they have polygons above points and lines. Will send a version as they asked for so they can see how it looks. Could not put Imagery above any other layers as the map sees it as a basemap.
- Sent them an updated map
- Let them know that the Develop

[2021-05-10 17:00] jaime-mckeown opened #6028 "Update Development Engineer Areas on GISDM / AGOL"
Nazlie let me know that the Development Review Engineer under the Central Area needs to be updated to Jayesh D.

[2021-05-10 18:08] jaime-mckeown commented on #6028
- Update made in data on Maint, but the layer does not currently exist in Geodatapusher for updates
- Submitted CTM Request to have layer added to Geodatapusher.

[2021-05-10 18:15] jaime-mckeown opened #6029 "Prep for Pro Migration Meeting with TED"
Agenda from Eric:

[2021-05-10 18:44] Nadin-Nader opened #6030 "OSE Folder Process Cleanup; Initial and Event Review Process (On PROD🎉🎉)"
## As an OSE reviewer, I need the folder processes updated to add more value and efficiency to our AMANDA usage. I would like to have the Processes, their attempt results and what those processes and attempts do to the folder reviewed to better fit our workflow.

**Stakeholder:** Maria A.
**DTS Manager:** Nate

**Acceptance Criteria:**
**This will apply to the RW SubType: Street Event (50510)**

-