[2021-07-08 21:37] dianamartin opened #6638 "Delete "dispatch_resource_tracking_log" from PEP Parking Enterprise Portal - July 2021"
Received automated reminder to delete dispatch resource tracking logs in Parking Enterprise Portal and reference the Dispatch Resource Tracking Log Archiving wiki

Ran filter on: https://builder.knack.com/atd/parking-enterprise/records/objects/object_12

Filter:
`Status` is `Marked for Deletion`
`CREATED_DATE` is `before` <one months ago>  (ex. if Today's date is 7/8/21, enter 6/8/21)

Total Recor

[2021-07-08 21:41] dianamartin commented on #6638
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/ae43b0fc-48f9-4b2e-8e23-7bfe9389edca)

[2021-07-08 21:42] chiaberry commented on #6636
sounds good to me! ill be on the lookout for the calendar invite

[2021-07-08 21:45] Nadin-Nader commented on #5875
Sent email to Kim and Paloma letting them know this is on PROD. I also asked them to let me know if i can close the cards tomorrow or early next week. See email below:

[2021-07-08 21:46] Nadin-Nader commented on #1877
Sent email to Kim and Paloma letting them know this is on PROD. I also asked them to let me know if i can close the cards tomorrow or early next week. See email below:

[2021-07-08 21:48] #6638 closed

[2021-07-08 21:49] dianamartin commented on #6638
@moorerst Dispatch resource tracking logs have been deleted

[2021-07-08 22:06] dianamartin opened #6639 "IT Support: Review AMD SRs in 311 System"
John C
DTS

Emailed

Of the two Burleson and US 183 issues on the report, both are in the data tracker:
`21-00304256` - pending MMC review
`21-00248506` - closed: probably the same issue as with the others on your list.

# Jonathan's List - 8 SRs
### Oak Springs and Airport
- [x] MMC Issue ID: TMC21-239685
SR 21-00246624
Closed on Data Tracker, open on Weekly Aging Report for SRs

Activity | Creat

[2021-07-08 22:23] dianamartin opened #6640 "Field map 311 Activity Status ---> Knack CSR Status for PE, AMD, and SMB SRs"
Reference:
- SMB Maximo/Markings SRs: `G:\ATD\Signs_and_Markings\MISC_PROJECTS\311_Signs_Markings\311_Maximo_Integration`
  - tab: 'Status Mapping'
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b5be2949-7b60-420f-a13b-d18d4026ceb5)

- SR Report Activities & Outcome Details: `G:\ATD\ATD_GIS\02_ENT_APPLICATIONS\app_Parking_Enterprise_Portal\reference\Control_Panel_Report

[2021-07-08 22:57] atdservicebot opened #6641 "Add an "Emergency?" Yes/No field to the Info Tab of the RW - TURP folders. (Both in AMANDA and Port..."
AMANDA

Add an "Emergency?" Yes/No field to the Info Tab of the RW - TURP folders.  (Both in AMANDA and Portal.)  This field would mirror the one already established on the EX folders.

ROW will use this field to accurately calculate the new permit fees (to be effective 10/01/21) assessed to City Departments.  This will also be a valuable field for other reporting needs.

We capture a TURP's emerg

[2021-07-08 22:57] atdservicebot opened #6642 "BUG: Resolve invoices issue"
_Submitted by Paloma_

### As the system, I need to email the folder applicant a copy of the permit when the bill is paid online.
### As the system, when multiple bills are paid online, I need to email the folder applicant a copy of the permit for each folder/permit that was paid.

The Acceptance Criteria provided below applies to all DS, RW and EX folders:

- When user pays for multiple invoices

[2021-07-09 13:25] #6596 closed

[2021-07-09 13:25] #6619 closed

[2021-07-09 13:52] jaime-mckeown commented on #6405
Extended into next Sprint since I won't be able to spend very much time working on it.

[2021-07-09 13:52] #6628 closed

[2021-07-09 13:53] jaime-mckeown commented on #6610
Laura confirmed, closing Issue.

[2021-07-09 13:53] #6610 closed

[2021-07-09 14:50] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan accepted commit. Sending to Devops

[2021-07-09 15:13] dianamartin opened #6643 "IT Support: Name Change request for Andres D. (PEP)"
Jasmine L.
PE

Messaged

[2021-07-09 15:13] dianamartin opened #6644 "IT Support: Name Change request for Andres D. (PEP)"
Jasmine L.
PE

Messaged

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/27ebb13b-8f0d-429a-ad66-ad279c8b8928)

[2021-07-09 15:16] dianamartin commented on #6644
I checked the system and the user's information was updated by an old PE dispatcher back in April 2020.

[2021-07-09 15:20] #6644 closed

[2021-07-09 15:43] andrewshensky commented on #6593
7/9 - Feedback was provided on this issue via email

[2021-07-09 16:35] ChrispinP commented on #6615
Knack responded: We took a look at the server the app is on and it's been under heavy loads in the past week. This is likely due to a "noisy neighbor" which is an app hogging up the server resources. We also checked into your apps complexity to make sure this wasn't in play, it's on the medium side of complex but nothing crazy where it should be affecting your app.
We went ahead and migrated the a

[2021-07-09 16:54] patrickm02L commented on #6589
Meeting action items 7/9/21:

- @janet will create Usability Guide.
- @patrickm02L will schedule 3-4 testing meeting and add Devs to each.

We'll meet for a dry run and to go over roles on Tuesday. 7/13 morning before our first User Test.

[2021-07-09 17:40] SurbhiBakshi opened #6645 "Meeting - Knack to Power BI workflow"
[Documentation](https://docs.google.com/document/d/1yJvEGIV5zvb6NjqW8x0rZEPXng5OUW1p64KqZmoDkiE/edit?usp=sharing)

[2021-07-09 17:45] amenity commented on #6589
Ivonne N. is out of office next week, so scheduled for 7/20.

[2021-07-09 17:56] patrickm02L commented on #6589
Frank H. is scheduled for a Usability Test on Friday, 7/16.

[2021-07-09 17:56] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan this has been deployed by the DevOps team to DEV. Please UAT

[2021-07-09 18:05] SurbhiBakshi opened #6646 "Meeting - SD 2023 Overview"
[Documentation](https://docs.google.com/document/d/10RmDwBoBef8VEUVek0CM4HuD1oIxacJWYh6zI4dRMbk/edit?usp=sharing)

[2021-07-09 18:05] dianamartin commented on #6645
# Diana's Notes
## Things to Do
- [x] Download PowerBI desktop
  - Worked the 2nd time
- [x] Create personal Socrata account
  - I apparently already had one

[2021-07-09 18:07] Nadin-Nader commented on #6388
@Sreelatha-BlazeKannan this one has been deployed to DEV by the DEVOps team. Please UAT and let me know

[2021-07-09 18:14] dianamartin commented on #6646
# Diana's Notes
Center of Excellence SharePoint site
  - Peggy to request access to or Jim P. or Nicole C.

We don't create data sets
Export to dataset as .csv and give to stakeholder
Stakeholders add new rows (ex. 2022)
- Ask stakeholders if historical data has changed if not just the current year
- DTS is to update the data set
- Edit the dataset
- Add Data
  - Append
  - Add
Careful that data i

[2021-07-09 18:18] Nadin-Nader commented on #5576
Sent Martin a chat to see what the ETA was for this to be deployed.

**Status:**
Waiting on Response from Martin/DevOps

[2021-07-09 18:19] Nadin-Nader commented on #4255
@Sreelatha-BlazeKannan this has been deployed to TEST

[2021-07-09 18:24] Nadin-Nader commented on #4255
**STATUS:**

Ready for UAT on TEST

[2021-07-09 18:26] Nadin-Nader commented on #5578
**Status:**

Subha is making the changes and should be finalizing today.

[2021-07-09 18:38] Nadin-Nader commented on #5576
@Sreelatha-BlazeKannan Per Martin, this has not been deployed due to the "Manual Commit"
Per Martin:
the whole CREATE OR REPLACE TYPE COA_OBJ_DEPT_TYPE AS OBJECT section should be a commit rather than manual piece. He sent us an email with instructions on how to do it on 6/30/21

[2021-07-09 18:48] dianamartin commented on #6433
Lance 7/8/21

I replied

[2021-07-09 18:49] Nadin-Nader commented on #5388
@SubhaShroff this can be looked at to go to TEST if the UAT is good on your end

[2021-07-09 18:50] SurbhiBakshi opened #6647 "Meeting - Vision Zero Overview"

[2021-07-09 18:50] SurbhiBakshi opened #6648 "Meeting - Vision Zero Overview"

[2021-07-09 18:52] Nadin-Nader commented on #5506
**Status:**
Needs approval to move to PROD

[2021-07-09 18:53] Nadin-Nader commented on #2397
**Status:**
UAT on TEST

[2021-07-09 18:55] Nadin-Nader commented on #1802
@Nadin-Nader fix AC to reflect changes

[2021-07-09 18:55] SurbhiBakshi commented on #6647
Deleting this issue because a duplicate #6648 was also created.

[2021-07-09 18:55] #6647 closed

[2021-07-09 18:55] Nadin-Nader commented on #6021
Closing today

[2021-07-09 18:56] Nadin-Nader commented on #4469
Closing today

[2021-07-09 19:01] TracyLinder commented on #6098
**Ask stakeholders:** Do they want the case status to update to approved when the memo is marked as sent, or would they rather do that manually?

[2021-07-09 19:06] dianamartin opened #6649 "Research: HR Employee List Automation"
Diana M
DTS

- Researched how Employee IDs and Email Addresses are created
- Reached out to HRD and then Controllers office

[2021-07-09 19:11] Nadin-Nader commented on #6021
Closing. Good to go Per Kim Just have to add Subtype "Other City Department" (see #6562)

[2021-07-09 19:11] #6021 closed

[2021-07-09 19:12] Nadin-Nader commented on #4469
Closing. Good to go Per Kim Just have to add Subtype "Other City Department" (see #6562)

[2021-07-09 19:12] #4469 closed

[2021-07-09 19:14] Nadin-Nader commented on #4460
@SubhaShroff

## **Approved to Move all the way to PROD!!**

[2021-07-09 19:17] Nadin-Nader commented on #4255
@Sreelatha-BlazeKannan We will need to update the Subs this is looking at since they changed. Then we can UAT

[2021-07-09 19:20] Nadin-Nader commented on #5506
@Nadin-Nader send UAT email to Darren and Blake, cc Ryan

[2021-07-09 19:20] dianamartin commented on #6648
# Diana's Notes
- Export csv
- Make changes to spreadsheet
- re-import into the system
- Lewis will tweak records , if needed

Tasks run everyday to create child officer assignments
- run everyday, they're staggered
- create officer assignments
- have to know if created from 1 or 2nd task

Through the end of July - assignments
or first week of August
- Usually get 1 week lead up time

Officer trai

[2021-07-09 19:33] TracyLinder opened #6650 "Bug: ROW Permit Folder Status Issue"
### Some permits are going to status 'Pending' instead of 'Internet Pending'.
_We need to figure out why this is happening and fix it ASAP. ROW Permit staff query by 'Internet Pending', so this is preventing them from identifying applications that need review._

----
**Stakeholder** Kim

**Notes:**
Example Folder RSNs:

[2021-07-09 19:33] amenity commented on #3974
@janetchuhl @patrickm02L — if @janetchuhl has time while she's with us, documenting the existing signal tracking workflow in Data Tracker would be really helpful to tee this feature up for Moped 1.0.

[2021-07-09 19:35] Nadin-Nader commented on #5576
@Sreelatha-BlazeKannan George has deployed this to TEST

[2021-07-09 19:38] ChrispinP commented on #6182
Reviewed design changes with Tracy. We are happy with made changes. In addition, removing top TIA tabbed menu since it is too close to the case menu.

complete, closing

[2021-07-09 19:38] #6182 closed

[2021-07-09 19:40] TracyLinder commented on #6650
**Status:** Waiting for Kim to send me example RSNs where this bug has happened. Then I'll update the issue description, and Nate will update Sree on Monday morning.

[2021-07-09 19:43] amenity commented on #6618
Changing this to a should have because I really think it would help users keep an eye on schedule data quality. Simply telling everyone to "keep your dates up to date" without providing a UI to track that is not ideal.

[2021-07-09 19:45] amenity commented on #6589
Scheduled Mike S. For Thursday, 7/15.

[2021-07-09 19:54] Sreelatha-BlazeKannan commented on #4255
@Nadin-Nader , @TracyLinder  - I have tested in TEST Environment its working as expected. I can see the null values like below and also EX-Corridor Program Office has 1 Submitted record which is not appearing in report. Both AC met. Kindly review and this is ready for PROD Deployment.

![image](https://user-images.githubusercontent.com/44907715/125129731-8507eb80-e0c5-11eb-8838-cecd048e1194.png)

[2021-07-09 20:02] SurbhiBakshi commented on #6516
Teams messaged Christina to take a look and see if the pop up modal works for her.

[2021-07-09 20:10] ChrispinP commented on #6098
Status now bolded and at the top
![image](https://user-images.githubusercontent.com/67915167/125130899-6e629400-e0c7-11eb-8fee-36d98f776640.png)

Sent message to Knack about the html tags on a Rich Text export, if no alternative, we may need to change the field to Paragraph Text instead unless we are okay with the tags showing in the export. Pending response.

[2021-07-09 20:32] Nadin-Nader commented on #6650
@Sreelatha-BlazeKannan if you want to start looking into this today that would be fine but we need to pull this in on Monday to see what the issue could be,

[2021-07-09 20:47] dianamartin opened #6651 "IT Support: Tablet Issues - Passcode Issues"
Gilbert M
PM

Emailed

[2021-07-09 20:51] dianamartin commented on #6651
- On a call at 3:30 pm, on video we say the tablet start clicking on stuff without anyone touching the screen
- Remotely change pass code
- Remotely reboot the device

The device doesn't register touch, so user can't touch or open any apps on the tablet.
Tablet was flickering on the screen

[2021-07-09 20:56] dianamartin commented on #6649
Contacted Controller contact Ginny M.
- We had a discussion about what I was looking for in the BANNER System
- Ginny said she'd follow up with her contacts about my questions

She messaged 7/8/21

I replied

Messaged on 7/9

[2021-07-09 21:07] Sreelatha-BlazeKannan commented on #6388
@Nadin-Nader , @TracyLinder  - Tested in DEV and it's working as expected. Now Both RW_ Street event - Arterial/Collector, Safety Closure  work codes are inserting Event Review process. FolderRSN's 11901689, 11901691. Kindly review and let me know your thoughts

[2021-07-09 21:26] amenity commented on #6585
**_Updating to tee up for devs. Here's @patrickm02L's original description for easy access:_**

This navigation design takes the menu items that were hidden in the old hamburger menu and presents them across the top for quick access.

An 'Add new project' icon, and 'search' icon were added for quick access as well. This improvement is meant to act as a static header across all pages so that a user

[2021-07-09 21:31] SubhaShroff commented on #5578
[99020_AULCC_Report.pdf](https://github.com/cityofaustin/atd-data-tech/files/6794007/99020_AULCC_Report.pdf)
@Nadin-Nader  Here is the report sample output after the enhancements. I sent you in email also. Please review and let me know.

[2021-07-09 21:41] dianamartin commented on #6651
3 Tablets Troubleshooting

- 1 tablet: Gilbert M. - on the fritz
- 1 tablet: Julio W. - didn't finish enrolling
- 1 tablet: Nick F. - factory reset

[2021-07-09 22:10] dianamartin commented on #6478
Tested enough to be able to get the stakeholder a good idea of which product to use, closing.

[2021-07-09 22:10] #6478 closed

[2021-07-09 22:13] dianamartin opened #6652 "Meeting: OneDrive and SharePoint Photos Next Steps"
### Objective
Review [workflow](https://miro.com/app/board/o9J_l7F_2DE=/) I created comparing OneDrive to MS Teams for photo/video upload

### Participants
Meeting scheduled for 7/14
- Susanne, Christina, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule

[2021-07-09 22:16] SubhaShroff commented on #4460
@Nadin-Nader  TEST & PROD deployments request is submitted- **SCTASK0150820**

[2021-07-09 22:18] dianamartin commented on #6491
In the FormStack submission page, only 4 users submitted. 3 could be identified and the last one had fake data.

[2021-07-09 22:34] amenity opened #6653 "Implement mobile-friendly design improvements to "Projects" page"
- [Collapse rows on mobile](https://material-ui.com/components/tables/#collapsible-table)

[2021-07-09 22:53] dianamartin commented on #6639
@johnclary I reviewed the 8 SRs that Jonathan referenced and they're all in a `Closed` status, the creation and completion dates are interesting. I can't determine when we sent over the Closed (Resolved) or Closed (Duplicate) that the SR actually closed. I just know that on 7/6 the MMC re-opened and closed them and when I checked on 7/9 they were already `Closed`.

[2021-07-12 03:20] mateoclarke commented on #6351
Updated prod with this SQL command:

[code]

`Query 1 OK: UPDATE 3481, 3481 rows affected`

[2021-07-12 03:42] mateoclarke commented on #6351
This PR offers a solution to make sure `austin_full_purpose` gets set when a record is created stays in sync when city ID or position gets updated.

[2021-07-12 04:45] mateoclarke commented on #6583
pw has been updated in Airflow for staging and prod.

We still may need to do something similar to what Frank suggested [here](https://austininnovation.slack.com/archives/C013G4RNJ01/p1625146987036000?thread_ts=1624946750.029200&cid=C013G4RNJ01). Basically, we have a bunch of broken HTML pages pretending to be PDFs. We need to purge them and re-download the actual CR3 PDFs.

[2021-07-12 05:51] mateoclarke commented on #6583
I used this query to see how many records may have broken PDFs.

[code]

There were 1,632.

To narrow the focus on the recent records associated with the expired pw, I slightly modified the query:

[code]
1,502 in total.

After spot checking some of the older records, I decided to go ahead and purge all 1,632. Clearing both the `cr3_file_metadata` and `cr3_stored_flag`.

[code]

These PDF should b

[2021-07-12 13:28] mateoclarke commented on #6583
All but one of the records was able to backfill. Pretty sure that one record is an edge case that just doesn't have an available CR3 PDF associated with its crash ID.

[2021-07-12 13:28] #6583 closed

[2021-07-12 13:50] andrewshensky opened #6654 "Esri User Conference 7/12-7/15"

[2021-07-12 14:00] dianamartin commented on #6648
@SurbhiBakshi wanna look at these notes, anything to add before we close it?

[2021-07-12 14:01] dianamartin commented on #6491
@moorerst how long were we going to have users test until we ended the testing phase?

[2021-07-12 14:04] dianamartin commented on #6649
# What I Learned from research on BANNER
- `Employee ID`:  the employee ID is generated when the department first enters them into PPAIDEN in Banner. The ID is generated before they are even assigned a position. As soon as the department enters in the name, address, etc, the ID generates for them.
- `Email Address`: Outlook does not feed into Banner. The emails are manually entered by the departme

[2021-07-12 14:05] dianamartin commented on #6646
@SurbhiBakshi anything to add here?

[2021-07-12 14:08] dianamartin commented on #6631
Emailed user 7/8

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/38c67342-0e5a-4f3b-91a2-056605ed93eb)

[2021-07-12 14:08] #6613 closed

[2021-07-12 14:09] #6469 closed

[2021-07-12 14:12] dianamartin commented on #6561
@SurbhiBakshi Checked status on 7/12, looks like it's `In Progress` and assigned to Anastaysia so should be completed soon.

[2021-07-12 14:13] dianamartin commented on #6445
We answered Meredith's follow-up question, but she hasn't responded to that email from last Thursday. New inquiry is on a different issue.

[2021-07-12 14:13] #6445 closed

[2021-07-12 14:16] SurbhiBakshi commented on #6561
@dianamartin - thanks!

[2021-07-12 14:18] dianamartin commented on #6651
Emailed user 7/12

[2021-07-12 14:22] SurbhiBakshi commented on #6646
@dianamartin Looks good to me!

Timelines -
1. M.B.1 is on hold till a data source is available.
2. M.A.2.b and M.A.5.b are in the works right now with a July end deadline for Wave 4 (Jen, Lance and Allyson are working with CTR)
3. Otherwise all other measures will need to be updated in 2022.

[2021-07-12 14:26] jaime-mckeown opened #6655 "Help Exporting Data from AGOL - Ryan R."
Ryan needed some help with exporting content from AGOL.

[2021-07-12 14:26] jaime-mckeown commented on #6655
Sent Ryan an email with instructions on how to export content from AGOL.

[2021-07-12 14:29] SurbhiBakshi commented on #6648
@dianamartin - jsut a note that we discussed a soft delete for Lewis cancelling assignments and that way being able to notify officers. Probably a task when the application is used by more officers.

[2021-07-12 14:45] jaime-mckeown opened #6656 "SZB Audit Web Map Editing Assistance - Edward"
Edward called to get some help with editing in the SZB Audit Web Map.

[2021-07-12 14:46] jaime-mckeown commented on #6656
Walked him through how to do what he was trying to do, talked about the ID field and how to code it.

[2021-07-12 14:46] #6656 closed

[2021-07-12 14:46] amenity commented on #20
_From 6/1 AMD P&P meeting_
Ronnie is continuing to work on the reconciliation based on the early May physical count. Once Ronnie is ready, John will work with him to adjust stock levels in the Data Tracker. We've devised a new approach for the adjustments that should make it easier to audit stock levels going forward.

Completed in the past month:

-   Ability to manage reorder thresholds and moni

[2021-07-12 14:49] amenity commented on #2785
From [6/1/21 AMD P&P Meeting](https://docs.google.com/document/u/0/d/1_nTBxL9ggzgsQH_n_OCCI0i_rDU7hUiF0SuayJTrtT4/edit)

[2021-07-12 14:52] amenity commented on #1555
From [6/1/21 AMD P&P Meeting](https://docs.google.com/document/u/0/d/1_nTBxL9ggzgsQH_n_OCCI0i_rDU7hUiF0SuayJTrtT4/edit):

[2021-07-12 14:53] moorerst commented on #6491
@dianamartin testing ended Thursday 7/8. I will make sure all the responses are in the feedback document and send it to the stakeholders today so they can review it prior to our meeting Tuesday 7/13.

[2021-07-12 14:55] jaime-mckeown opened #6657 "AMANDA Street Closures - 7/12/21"
Updated AMANDA Street Events and Active Parking Permits.

[2021-07-12 14:55] jaime-mckeown commented on #6657
Updates complete.

[2021-07-12 14:55] #6657 closed

[2021-07-12 15:04] dianamartin commented on #6561
@SurbhiBakshi CTM assigned a G5 license to Annie. I received email confirmation.

[2021-07-12 15:04] #6561 closed

[2021-07-12 15:05] jaime-mckeown opened #6658 "SZB Audit Web Map Editing Assistance - Charles"
Charles called with a couple questions on editing the SZB Audit Web Map.

[2021-07-12 15:06] #6658 closed

[2021-07-12 15:13] moorerst commented on #6491
Sent final feedback document to stakeholders to review prior to scheduled meeting.
https://docs.google.com/document/d/1GilI4Rue6mSH0KvNo9clxOQym6DAfyE9Dak-YFeJGYM/edit?usp=sharing

[2021-07-12 15:20] atdservicebot opened #6659 "[Enhancement] Allow querying of DSDDs by "Unit Name""
Data Tracker

Cannot query DSDD by ID - must use Unit Name

Internet Browser: Chrome

Allyson R.

Request ID: DTS21-102270

[2021-07-12 15:41] dianamartin opened #6660 "Meeting: Badging System Process Stream line/Clean up for 8700/8900 buildings"
### Objective
This meeting is to discuss streamlining the badging system process and organizing the badge clearance groups. Attached is a spreadsheet downloaded from the system, I’ve already done an first round clean up and identified people we may need to remove or change access. I need the supervisors to review the personnel list to ensure their employees are still active employees and perhaps h

[2021-07-12 15:51] patrickm02L commented on #3525
Migrated from the bot that was filling out form (automatically manually downloading) to an SFTP delivery method.
Associated to data.transportation@austintexas.gov

[2021-07-12 15:51] #3525 closed

[2021-07-12 15:51] dianamartin commented on #6631
Created connection to Accounts
Renamed to `Assigned To`
Field matching from old field to new field, so I can remove Brandon from the drop down list as he'll be "Inactive"

[2021-07-12 15:58] moorerst commented on #6649
@dianamartin I sent email to Jeffery @ CTM requesting information on the employee data that John mentioned may be available on the G: drive

[2021-07-12 16:03] janetchuhl commented on #6589
[v0.7.0 Usability Testing Guide](https://docs.google.com/document/d/1fp8QGjntURTkmu1irSs6LeSSXd4o7OhwYPAp3cEwnTw/edit) created.

[2021-07-12 16:12] frankhereford opened #6661 "Enhancements to VZ DB export to Socrata (data dictionary, data age limit, & description text)"
Following a discussion in the Vision Zero Sprint Review, the following enhancements were identified for the ETL process which exports data from the Vision Zero database to be upserted into Socrata:

- Add columns which contain the textual description of the value shown in the /something/_id columns. The intent is to allow these values to be self documenting and not require a separate lookup table.

[2021-07-12 16:46] TracyLinder commented on #6203
### 7/12 sync w/ Peggy

Austin Energy will be able to input the finance data at time of application
Austin Water is meeting internally to discuss how they'll progress

Need to meet with:

Public Works: John Eastman, Javier Martinez, Roxanne Cook

Watershed: Drainage Maintenance Crew: Roxanne Jackson

CPO: Jessica Davis, Greg Pepper

Project Connect: Jen Golech

Some departments will need to captur

[2021-07-12 16:54] dianamartin commented on #6659
[URL](https://atd.knack.com/amd#dsdd/)

[2021-07-12 16:58] TracyLinder commented on #6650
I have added the example RSNs to the issue description

[2021-07-12 17:35] amenity commented on #1638
Checked with Lance and he's able to handle this in PowerBI:

[2021-07-12 17:36] #1638 closed

[2021-07-12 17:45] ChrispinP opened #6662 "[ROW] New Portal Performance Comparison"
Performance comparison between new ROW Portal (on Knack Server) and AMD Data Tracker (dedicated on prem)

Due to another app on the Knack server instance, the ROW Portal was running extremely slow on Tues/Wed after migration, especially in the afternoon. Records were updating but page loads and rendering after form submits and inline editing would take 45+ seconds to load or would require a page r

[2021-07-12 18:03] ChrispinP commented on #6662
**ROW Portal**
Creating a New TCP (just over 4 seconds):
![image](https://user-images.githubusercontent.com/67915167/125332811-1d44e100-e30f-11eb-98f7-bcaca0e36bf2.png)

New Submission (2 seconds):
![image](https://user-images.githubusercontent.com/67915167/125333963-75301780-e310-11eb-8a61-b403df622c9d.png)

Inline Editing - Add an Attachment (2.1 seconds initial load / 1 second to submit)
![imag

[2021-07-12 18:11] ChrispinP commented on #6662
Overall, very similar performance now after the change in server instance. I think the size of the app is helping the portal perform a bit smoother, roughly 200 to 2000 ms faster on average.

[2021-07-12 18:33] moorerst commented on #6649
@dianamartin received the following information from Jeffery @ CTM:
What I did for John Clary was create an script to export employee data out of Active Directory which I’ll run usually once a month unless requested more often.

Here is the latest export of ATD Users:
[ATD users.xlsx](https://github.com/cityofaustin/atd-data-tech/files/6803615/ATD.users.xlsx)

I export this data here: '\\coacd.org

[2021-07-12 18:59] moorerst commented on #6649
I noticed a few fields that we capture in the HR Employee app are not on this list:
Class
Class Description
Work Status
Position #
Date of Hire
Ask Jeffery if these fields could be added. Here is his response:
So there isn’t an standard attribute for those values but we do have custom attributes we can use. To my knowledge currently not all extensionattributes are used as there are 1-15.

For exam

[2021-07-12 20:10] jaime-mckeown commented on #6599
Maria requested a change to the Impact Area, updated map and sent new PDF back.

[2021-07-12 20:33] dianamartin commented on #6659
Called Kenny in Teams to see what he was trying to do. I checked the main DSDD page and was able to query the `Serial # (Motherboard)` ID and the `Unit Name` using keywords in the address. I did try using the `ID` field and that wasn't as great to search, you have to select the "Add filters" and select the column name to search specifically for the ID.

When I called Kenny, he said the had been cr

[2021-07-12 20:33] #6659 closed

[2021-07-12 21:15] jaime-mckeown commented on #6629
ArcGIS Pro: The Road Ahead (2.8)
- Highlights
   - Command Search
   - Image Change Detection with Deep Learning
   - Support for Big Data Connections
   - Data Engineering Tools added
   - PDF Accessibility, set tags, alt tags, descriptions
- Knowledge
   - Integrated support across ArcGIS for Knowledge Graphs
   - Demo to go over knowledge charts
- Presence-Only Prediction tool Demo
- Mapping

[2021-07-12 21:22] dianamartin commented on #6624
- go to `signal_cabinet`, update `CABINET_TYPE` field
- add selection `Hub`
- created test record `1272` for cabinet hub
- added `Cabinet ID` to Cabinet table so there is a unique identifier
- created test record `WRK21-121095` for non-technician work order with hub cabinet as reference

Emailed Lance, Allyson, Brian C.

### Example of Hub Cabinet Asset – Table View
![image.png](https://images.zen

[2021-07-12 21:23] dianamartin commented on #6624
Delete Test records once stakeholders review
- [ ] created test record 1272 for cabinet hub
- [ ] created test record WRK21-121095 for non-technician work order with hub cabinet as reference

[2021-07-12 21:24] dianamartin commented on #6433
Confirmed at AMD Project Prioritization meeting to continue with this plan and create new Cabinet Type = Hub, Closing. Completed Issue #6624

[2021-07-12 21:24] #6433 closed

[2021-07-12 21:26] dianamartin commented on #6643
Dup of #6644, closing

[2021-07-12 21:26] #6643 closed

[2021-07-12 21:28] ChrispinP opened #6663 "[Bug] Coordinates Bug for Addresses in TIA_request"
- [x] Create New Address Fields
- [x] Update Forms
- [x] Update Rules
- [x] Test Coordinate data

[2021-07-12 21:32] ChrispinP commented on #6615
See issue #6662 for performance improvements due to migration and moved to a different Knack server.

Issues 1 through 6 now resolved. Lets push 7 (Due Date functionality) to its own issue as a feature request.

[2021-07-12 21:45] ChrispinP opened #6664 "[ROW] Report: Submissions Avg Review Time & Days Elapsed calculation"
This report is a high priority for ROW Management. To calculate Days Elapsed was previously done with a script that was only partially successful in updating records. This report is provided weekly to upper management.

Need to determine if we can easily update the Days Elapsed script for the new ROW Portal or if we need to build in Knack. If we build in Knack we need to capture a Begin Review Dat

[2021-07-12 21:57] ChrispinP commented on #6402
Search Results now prioritize either local addresses when searching by an address number
![image](https://user-images.githubusercontent.com/67915167/125360470-876e7d80-e331-11eb-8d9d-c39b8278cbec.png)

and prioritize segment or intersection data when searching by street names or intersecting roads
![image](https://user-images.githubusercontent.com/67915167/125360660-d3212700-e331-11eb-9b43-d16f5ee

[2021-07-13 04:55] amenity commented on #6506
Per the email Suzanne/PIO just sent out, the department is doubling down on the CoA seal and adopting a very simple blue/black/grey color palette. I'm up for adopting theirs. (And maybe throwing in a single bright highlight color for @TracyLinder 😉).

I also like the greyscale with blue overlay effect:
<img width="1275" alt="Screen Shot 2021-07-09 at 4 13 37 PM" src="https://user-images.githubuser

[2021-07-13 14:24] dianamartin opened #6665 "Meeting: Share Point Site Development - 7/15"
Nelson E.
TSD

Emailed

Let me know what you think so I can schedule a quick consultation meeting sometime this week.

[2021-07-13 14:27] dianamartin commented on #6665
Sent user meeting invite for 7/15

[2021-07-13 14:48] Nadin-Nader commented on #5961
**Status:**
Waiting on CM Team to Deploy **SCTASK0151479** to DEV

[2021-07-13 14:52] jaime-mckeown commented on #6629
**ArcGIS Pro: Mapping and Visualization**
- Updates to query definition
- New graphics layers to add text, lines, points, polygons to maps
- Feature aggregation
- Updates to symbolizing and labeling
- 80 new 2D shapes and symbols in 2.8
- Display filters act like queries to the attributes, under Symbology
- Blending modes (20 blending modes, under transparency under Appearance Tab)
- Suggested coo

[2021-07-13 14:59] Nadin-Nader commented on #6311
Reply from Greg P.:

I will follow up with him today to see if all is well.

[2021-07-13 15:51] SurbhiBakshi commented on #6636
**[Notes](https://docs.google.com/document/d/19C31MLIKiwFJobT8359sfJyYxHc0Mqa5v5_2jDXFUzQ/edit?usp=sharing)**

[2021-07-13 15:52] #6516 closed

[2021-07-13 15:52] #6648 closed

[2021-07-13 15:52] #6646 closed

[2021-07-13 15:52] #6126 closed

[2021-07-13 15:52] #6537 closed

[2021-07-13 15:52] #6410 closed

[2021-07-13 16:33] jaime-mckeown commented on #6629
**Improve Data Quality with Attribute Rules and Branch Versioning**
- Contingent Values: domains, but between fields that are contingent upon each other (State > County > City > ZipCode)
- Attribute Rules: populates attributes, restrict invalid edits, generate errors on invalid existing features
- Branch Versioning: version administration tasks performed through services, tables are archived, simp

[2021-07-13 16:33] moorerst commented on #5779
@ChrispinP are you ok with the results for the license plate field. Can this issue be closed?

[2021-07-13 16:41] dianamartin commented on #6640
I've created the field mapping spreadsheet [here](https://docs.google.com/spreadsheets/d/1mBkO5fk_lV33XyKvNwEX4BHHUb0qjaTEC-KaHvjWpBA/edit#gid=921776734)

[2021-07-13 17:32] sergiogcx commented on #6616
There is a PR:

https://github.com/cityofaustin/atd-moped/pull/364

[2021-07-13 17:51] jaime-mckeown commented on #6629
**ArcGIS Arcade: An Introduction**
- Session Resources:
https://community.esri.com/t5/mapping-blog/arcgis-arcade-an-introduction-uc-2021-technical-session/ba-p/1077414
- Session Slides:
https://assets.onlineeventapp.com/esri/ucjuly21/EventFiles/esri2021uc/PresentationFiles/Uploads/19775314/25690329/13048-arcade-an-introduction.pdf

[2021-07-13 18:23] dianamartin commented on #6624
Allyson replied

[2021-07-13 18:24] jaime-mckeown opened #6666 "SZB Audit Web Map Edit Assistance - Charles"
Charles called regarding how to remove beacons and what to do if the school name doesn't match the School Zone Name on the layer.

[2021-07-13 18:24] Nadin-Nader commented on #2397
Subha informed me yesterday that she is still working on this and that the fees are still not being added in DEV.
Subha will be back on the 15th of July.

[2021-07-13 18:25] jaime-mckeown commented on #6666
- Walked him through what to do to remove points
- Suggested that he talk to Kenny in the MMC about School Names not matching.

[2021-07-13 18:25] #6666 closed

[2021-07-13 18:30] #6624 closed

[2021-07-13 18:34] Nadin-Nader commented on #6311
Both Greg and Jessica said this was good to go. Closing.

[2021-07-13 18:34] #6311 closed

[2021-07-13 18:54] jaime-mckeown commented on #6629
**ArcGIS API for Python: An Introduction**
- presentation slides
https://assets.onlineeventapp.com/esri/ucjuly21/EventFiles/esri2021uc/PresentationFiles/Uploads/19775357/25690372/13093-arcgis-api-for-python-an-introduction.pdf
- Install and Setup Guide
https://developers.arcgis.com/python/guide/install-and-set-up/
- Using ArcGIS API for Python
https://developers.arcgis.com/python/guide/overview-of

[2021-07-13 19:01] moorerst commented on #6491
Primary stakeholders were out of office. Had a general discussion with Mary about the feedback. Suggested they work together as a team to determine what modification they want to make to the petition based on the user feedback.
Next steps:
would like to have petition language modifications completed by 7/26
would like to schedule training the week of 7/26
we are on their timeline
no outstanding ac

[2021-07-13 19:10] ChrispinP commented on #6663
New Address fields created. Forms and rules updated. Tested coordinate data and updated formulas. Bug is now resolved. Removing old address fields.

![image](https://user-images.githubusercontent.com/67915167/125511075-cc355f22-6257-48dd-9df2-bc2b9d962d29.png)

Ready to review

[2021-07-13 19:32] Nadin-Nader commented on #6650
**Status:**
Sree will be asking Martin or George for any recent updates to lookup table 99017 via DevOps

[2021-07-13 19:47] Nadin-Nader commented on #4460
@SubhaShroff wanted to let you know that Martin deployed Commit 66a9dde2953a but it looked like the other commit (d78f098d8ab6) was reverted so he did not do that one because it was reverted. Please let me know if you need to do another commit for the second part or if there already is one. Martin can get 66a9dde2953a to TEST but i asked if we could wait as i dont know if the first part needs some

[2021-07-13 20:16] jaime-mckeown opened #6667 "Update Cap Metro GIS Layers in SDE External"
Cap Metro data was updated in June 2021, update layers in SDE External.

[2021-07-13 20:44] jaime-mckeown commented on #6629
**ArcGIS: Designing Thematic Maps**
![image](https://user-images.githubusercontent.com/48842809/125522134-42f592fa-aac4-4396-8b2e-3634ef081d21.png)
URL goes through all the maps that were shown in the presentation

[2021-07-13 20:55] ChrispinP commented on #5779
Updated commenting and removed the address handler since it is not working as intended.

Complete, closing

[2021-07-13 20:55] #5779 closed

[2021-07-13 21:48] Nadin-Nader commented on #6627
Created the V6 TEST account mirroring Jullian Howser. I then set the automation to create Tony's PROD account tonight.
He should receive an automated email stating his PROD account was created. (see email below)
I also sent CTM a TASK to create the account on AMANDA V7 and to add Tony to the necessary Active Directory groups.
I will send Tony a different email to inform him that in order to get Pr

[2021-07-13 23:20] #5812 closed

[2021-07-14 03:23] amenity commented on #6585
@patrickm02L - can we incorporate a [help button/menu item](https://github.com/cityofaustin/atd-data-tech/issues/5813) into this header?

We could use the text "Support" where you have "Reports" or we could use the `?` icon Material UI standardizes on.

[2021-07-14 04:22] vschandramouli commented on #6564
Outstanding questions:

This line is from @TracyLinder 's notes. What does this mean?
- There's no specific fee name for 'Secondary' because the fee is the same as TURP New Permit

[2021-07-14 04:27] vschandramouli commented on #6564
Updated Acceptance Criteria. @TracyLinder Could you give this a quick look and let me know if it is Backlog ready?

[2021-07-14 14:13] jaime-mckeown commented on #6629
**ArcGIS Experience Builder: Designing Apps with Style and Layout**
- Scrolling Page: organized top to bottom, block by block
- Fullscreen Page: one block, no navigation
- Column Widget: vertical organizing
- Row Widget: horizontal organizing (1 to 6 widgets in a row)
- Random Organizing - fixed panel
- Compound Layout:
   - Sidebar: 2 fixed panels side-by-side, one side will be collapsible
   - S

[2021-07-14 14:28] #3300 closed

[2021-07-14 14:28] SurbhiBakshi commented on #3300
This issue can be closed.

[2021-07-14 14:29] SurbhiBakshi commented on #3035
This issue can be closed.

[2021-07-14 14:29] #3035 closed

[2021-07-14 14:34] SurbhiBakshi commented on #3114
I have added the fields that Christina and Susanne needed to the datasets for the High Level Dashboard for Signs Markings Time Logs.

[2021-07-14 14:36] SurbhiBakshi commented on #6240
forwarded email from Gita to @TracyLinder and @Nadin-Nader

[2021-07-14 14:37] SurbhiBakshi commented on #3115
Closing this issue.

[2021-07-14 14:37] #3115 closed

[2021-07-14 14:38] SurbhiBakshi commented on #4317
This was on my wishlist to make the next Wave easier but it was a nice to have.

[2021-07-14 14:38] SurbhiBakshi commented on #4464
Closing this issue.

[2021-07-14 14:38] #4464 closed

[2021-07-14 14:39] SurbhiBakshi commented on #4465
Closing this issue.

[2021-07-14 14:39] #4465 closed

[2021-07-14 14:55] jaime-mckeown commented on #6629
**ArcGIS Pro: Advanced Map Labeling**
- Presentation slides
https://assets.onlineeventapp.com/esri/ucjuly21/EventFiles/esri2021uc/PresentationFiles/Uploads/19775063/25690078/12787-arcgis-pro-advanced-map-labeling.pdf

[2021-07-14 15:10] patrickm02L commented on #6506
That works, I'm all for the minimalist approach.

[2021-07-14 15:10] #6645 closed

[2021-07-14 15:10] #6635 closed

[2021-07-14 15:10] #6534 closed

[2021-07-14 15:10] #6247 closed

[2021-07-14 15:12] dianamartin commented on #6631
Emailed Jaime 7/12

Let me know if you have questions.

[2021-07-14 15:12] #6631 closed

[2021-07-14 15:16] amenity commented on #6513
@dianamartin - check with Lance to ensure this is ready to close.

[2021-07-14 15:17] amenity commented on #5987
@dianamartin - please follow up with Brian V to see if this can be closed.

[2021-07-14 15:18] amenity commented on #6639
@johnclary - good to close?

[2021-07-14 15:22] amenity commented on #4999
@SurbhiBakshi finally got hold of the data; we'll need to follow up with Lance and Allyson to see what filters would be required. Plan for @dianamartin to implement once we have that information.

[2021-07-14 15:34] patrickm02L commented on #6585
My vote is to put it on the other side of the Avatar. Based on the material UI options, we had either a filled in question mark or the outline. I think the outline is cleaner.

![Home – Header info](https://user-images.githubusercontent.com/5566727/125649814-933c1f86-9273-45d4-a147-3642d5fe3494.png)

[2021-07-14 15:34] amenity commented on #6095
@dianamartin will ping Joshil in Teams — sounds like this is simply Knack functionality.

[2021-07-14 15:35] SurbhiBakshi commented on #3114
### Update :
    **Specifications Counts**

    The [dataset](https://data.austintexas.gov/dataset/SMB-Specifications-Counts-Table/dp8d-apw9) for this table has been created on the Open Data Portal.
    John has completed the setup for this table to be updated on the Open Data Portal.
    Will need to create a Created By ID so names are not populated on the Open Data Portal (referring to John's em

[2021-07-14 15:41] jaime-mckeown commented on #6629
**ArcGIS Pro Tasks: An Introduction**
- Presentation slides
https://assets.onlineeventapp.com/esri/ucjuly21/EventFiles/esri2021uc/PresentationFiles/Uploads/19775135/25690150/12868-arcgis-pro-tasks-an-introduction.pdf

[2021-07-14 15:48] amenity commented on #6637
We could also try to take this out of Knack, but Suzanne suggested it would also be doable through Knack.

@dianamartin points out that segments are already in Knack and likely more accessible... Not sure if PowerBI can get JSON

[2021-07-14 16:00] amenity commented on #4298
@johnclary @mateoclarke - potentially something Jorge could work on? We've had committed to do this as a "kick off the new year with a security sprint" epic that we never got to. 🙈

[2021-07-14 16:08] Nadin-Nader commented on #5576
**Status:**

UAT on TEST in progress

[2021-07-14 16:08] #6568 closed

[2021-07-14 16:11] Nadin-Nader commented on #6388
Status:

Test Deployment will be sent today

[2021-07-14 16:17] Nadin-Nader commented on #4255
@Nadin-Nader send to CTM for PROD once you get DP

[2021-07-14 16:49] moorerst opened #6668 "Disable the Robin Check In feature"
Gilda requested the Robin check in feature be turned off because it is not being used.

[2021-07-14 17:05] ChrispinP commented on #5779
Created PR 64 for review https://github.com/cityofaustin/atd-knack/pull/64

[2021-07-14 17:15] moorerst opened #6669 "Provide Robin documentation to AE"
Email request from Greg @ AE: I wanted to see if ATD has a GWP or policy for booking on the Robin Powered system. I have been working on a GWP for how we will allocate space but will also need to create a separate process for the actual room reservation. Any information you are able to share would be great help.

[2021-07-14 17:15] moorerst commented on #6669
Diana provided:
•	Robin Desk Reservation System – User Help Guide
•	Hoteling FAQs
•	Hoteling Procedures

[2021-07-14 17:18] dianamartin commented on #6668
The "Desk check-ins" function is on `All desk types`, switching to `Hote/hotel only`
- Stephanie and I think that if ATD Executives want employees to check-in it needs to come as a mandate, strictly enforced too.

[2021-07-14 17:19] jaime-mckeown commented on #6629
**Living Atlas: Esri Basemaps and Open Street Map**
- presentation slides
https://assets.onlineeventapp.com/esri/ucjuly21/EventFiles/esri2021uc/PresentationFiles/Uploads/19775251/25690266/12992-living-atlas-esri-basemaps-and-openstreet-map.pdf
- Community Maps Editor: communitymaps.arcgis.com
- Raster Basemaps are moving to Mature Support, they will no longer be updated, moving over to Vector Tile

[2021-07-14 17:20] dianamartin commented on #6668
Emailed user

[2021-07-14 17:20] #6668 closed

[2021-07-14 17:23] moorerst opened #6670 "Builder Huddle: Employee List Automation Discovery"
Meet again to review the research gathered for the employee list automation
issue #6649

[2021-07-14 17:44] SurbhiBakshi commented on #6536
Update - 1.Can you provide the total number of permits purchased by each dockless company per month from Oct 2019 until now?
2. Example 2
3. Example 3

[2021-07-14 18:36] ChrispinP commented on #6664
Built prototype report for Average Review Time by Month
![image](https://user-images.githubusercontent.com/67915167/125674679-6138992e-59d9-401b-b6a8-a497779a6a8f.png)

[2021-07-14 19:19] Sreelatha-BlazeKannan commented on #5576
@Nadin-Nader , @TracyLinder - found a bug while testing with data in test reverted and re-submitted the Procedural commit only; here is the commit id : 0d3f11661529

[2021-07-14 19:30] jaime-mckeown commented on #6629
**ArcGIS: Map Wizardry**
- Blogs
https://www.esri.com/arcgis-blog/author/kenfield/
https://www.esri.com/arcgis-blog/author/j_nelson/

[2021-07-14 19:33] jaime-mckeown commented on #6629
**ArcGIS Online: Using Smart Mapping**
- presentation slides
https://assets.onlineeventapp.com/esri/ucjuly21/EventFiles/esri2021uc/PresentationFiles/Uploads/19775398/25690415/13130-arcgis-online-using-smart-mapping.pdf

[2021-07-14 19:38] amenity commented on #1808
Schedule for 7/16

[2021-07-14 19:42] #6616 closed

[2021-07-14 19:46] Sreelatha-BlazeKannan commented on #4255
@Nadin-Nader , @TracyLinder - PROD Deployment plan sent and here is the commit id: 2b549e5b5f11

[2021-07-14 19:53] Sreelatha-BlazeKannan commented on #6388
@Nadin-Nader , @TracyLinder - Sent TEST Deployment plan. Here is the Commit IDb7057d6a22b4

[2021-07-14 20:11] dianamartin opened #6671 "Meeting: 7/14 - TIA Mod Project Meeting"
### Objective

### Participants
Nathan, Joan, Chrispin, Nate, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [x] Optional: Debrief with DTS team members
- [ ] Create resulting issues

[2021-07-14 20:13] ChrispinP commented on #6569
Reviewed with stakeholders. They are happy with buttons. closing

[2021-07-14 20:13] #6569 closed

[2021-07-14 20:13] dianamartin commented on #6671
# Diana's Notes

7/14 NOTES

### MITIGATIONS MAP PAGE
Andrew improving mitigation map, improved search functionality
Project location: can center on the primary project location
- Address
-Trips Per Day: Is this necessary?
**STAKEHOLDER ACTION**
 - Joan said that it's not that important, most important is the name
 - Will talk internally if there is a need to see additional information

## MAP SEA

[2021-07-14 20:16] amenity commented on #5813
@chiaberry - can you update the "request an enhancement" link with the fancy Knack URL.

[2021-07-14 20:19] ChrispinP commented on #6098
Recommendation notes field has been changed from Rich Text field to a Paragraph Text field so export does not include html tags.

For case status, for now they will manually approve cases and marking a memo as sent will not change status.

Stakeholders are happy with layout. Ready to close

[2021-07-14 20:23] dianamartin opened #6672 "Meeting: Shared Mobility Overview"
### Objective

### Participants

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ] Create resulting issues

[2021-07-14 20:34] jaime-mckeown commented on #6629
**ArcGIS Online: Enrich your Maps with Arcade**
- presentation slides
https://assets.onlineeventapp.com/esri/ucjuly21/EventFiles/esri2021uc/PresentationFiles/Uploads/19775274/25690290/13017-arcgis-online-enrich-your-maps-with-arcade.pdf

[2021-07-14 20:42] ChrispinP commented on #6573
Showed Stakeholders, they are happy with the feature. Asked stakeholders to inform us what information they would like to see in the popup.

[2021-07-14 20:49] TracyLinder commented on #6300
### 7/14 Discussion
_Tracy, Ryan, Darren, Laura_

**SP**
- Default process info to Yes
- Laura can change it to No when applicable

**GP**
- Laura will charge TCP fee manually on the fee tab.

**Action Items**
(Tracy) Send DSD email w/ proposed solutions.
Deborah, Elizabeth Boswell, John McDonald, Donna Gollati, Maria Jaramillo, both Zachs.

[2021-07-14 20:59] ChrispinP commented on #6402
Showed stakeholders the new search functions on how to search addresses, streets, or intersections.

Ready for final review or close

[2021-07-14 21:01] dianamartin commented on #6672
Shared Mobility Team
## User Roles
- Admin
- SMO Team (Administers and maintain the application)
- Provider Contact
- Viewer (not sure if we need this, inherited this)
- Partner (RideReport, get to see in the application. Monthly Trip, Miles and Fees)

SMO team can see 3 pages:
## Home
## Fees/Payments (Live)
  - Script from RideReport, stored in `monthly_trips` object
  - Look at COA Total Trips,

[2021-07-14 21:47] jaime-mckeown opened #6673 "GIS Data for State Parking Garages off Trinity - OSE"
Ask Parking/look into parking garage AGOL content to see if the state owned parking garages off Trinity are already mapped. If not, need to map them for upcoming Waterloo Grand Opening/PRIDE as they are on the same day.

Maria asked about this, Frances will be sending a requirement email soon.

[2021-07-14 21:48] jaime-mckeown commented on #6599
Impact Area dates were wrong, updated map and resent.

[2021-07-14 21:49] jaime-mckeown commented on #6667
Submitted CTM Request to have layers manually updated in AGOL and to add transit hubs to AGOL layers.

[2021-07-14 21:50] #6655 closed

[2021-07-14 21:50] jaime-mckeown commented on #6385
HP Tech finally came back yesterday, plotter is finally fixed.

[2021-07-14 21:50] #6385 closed

[2021-07-14 21:56] vschandramouli commented on #6641
Updated AC after scoping with Kim. Ready for Backlog.

[2021-07-14 22:05] dianamartin commented on #6652
We are in agreement that OneDrive will work best for SMB. We need to test creating a new modern SP Document Library if it will show up on the OneDrive App.

- Then test syncing the new folder to desktop
- Then importing cloud folder to MS Photos
- Need to review MS Photos Slideshow capability

[2021-07-14 23:11] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan This has been deployed to DEV. Please UAT and let me know how it looks.

[2021-07-15 00:59] Nadin-Nader commented on #6650
Sree found that this does not have anything to do with the Indate Changes or changes to 99017
More examples to go over:
EX's= 12718045, 12716555, 12634990; RW= 12657429

Meeting scheduled for 7/15/21 @11am

[2021-07-15 01:55] Nadin-Nader commented on #4255
**Status:**

Sent to DevOps CM Team to deploy this to PROD under **SCTASK0152096**

[2021-07-15 02:03] Nadin-Nader commented on #6388
**Status:**
Sent to DevOps CM Team to deploy to TEST under **SCTASK0152097**

[2021-07-15 04:51] amenity commented on #5248
Very old ...

[2021-07-15 04:51] #5248 closed

[2021-07-15 04:52] amenity opened #6674 "Implement design refinements to "Staff" page"
These changes will make it easier to scan through the list of users and see more at once.

<img width="1201" alt="Screen Shot 2021-07-15 at 12 00 20 AM" src="https://user-images.githubusercontent.com/1463708/125731342-2866e29c-a4e4-4950-b1ee-8640a7cc09a6.png">

- [x] Remove pagination (show all records)
- [x] Remove "Date Added" and "Cognito user ID"*
- [x] Increase "Workgroup" column width so tha

[2021-07-15 05:20] amenity commented on #6602
@janetchuhl to the rescue: https://xd.adobe.com/view/87c30c8b-590f-4347-b832-73beb9b21888-d290/

[2021-07-15 05:20] #6602 closed

[2021-07-15 06:00] amenity commented on #307
![Moped-1 0_2021-07-14](https://user-images.githubusercontent.com/1463708/125736619-7530af60-f2af-4a1a-ab93-32806247b0f7.png)

[2021-07-15 12:51] patrickm02L commented on #6674
@patrickm02L review.

[2021-07-15 13:27] jaime-mckeown commented on #6629
**Science Symposium**
- GIS for Science Volume 1 & 2 Books, available from Esri Press

[2021-07-15 14:45] dianamartin commented on #6513
I ran into Lance in the hallway the other day 7/14 and asked if the dashboards have already been configured or if they'd like some assistance with them. He said he'd talk to Allyson and see.

Allyson messaged me

[2021-07-15 14:47] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125808209-6df58a49-78af-4b46-8f91-63ac9b5d8e60.png)

![image](https://user-images.githubusercontent.com/80716478/125808174-1dc27bf8-9d87-4693-a4ce-d228ceab2c2e.png)

[2021-07-15 14:48] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125808274-72f38200-2d02-4e5f-947a-c70362f4c16c.png)

![image](https://user-images.githubusercontent.com/80716478/125808341-dd139853-3fa4-4729-b69a-4aa06d3c4f50.png)

[2021-07-15 14:49] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125808409-de42a82c-6c9b-459e-bc2f-0a64f4e22341.png)

![image](https://user-images.githubusercontent.com/80716478/125808448-7cf511f0-fd50-48ca-8971-3737b3c24b09.png)

[2021-07-15 14:50] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125808493-56546f61-b652-4fb7-b215-f297397bb475.png)

![image](https://user-images.githubusercontent.com/80716478/125808580-ab2e317d-61cd-4ff4-bb60-fa3479cd1440.png)

[2021-07-15 14:50] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125808620-2e8e72dd-aaf7-4002-b4ef-f1bc8de1b5f6.png)

![image](https://user-images.githubusercontent.com/80716478/125808653-4b18e38f-32c1-4821-87a9-759e2c9fa865.png)

[2021-07-15 14:51] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125808696-a37bbb59-8a3b-488a-b3a5-d8aeee2b1053.png)

![image](https://user-images.githubusercontent.com/80716478/125808848-8055966e-5dcb-4fc9-91a1-ad4088e77712.png)

[2021-07-15 15:17] SurbhiBakshi commented on #6446
@dianamartin - your idea about converting the year to number worked! Have switched out the report on the Home Page. Closing this issue, thanks!

[2021-07-15 15:17] #6446 closed

[2021-07-15 15:21] SurbhiBakshi commented on #6538
Have asked Knack support to send any further communications to transportation data.

[2021-07-15 15:22] SurbhiBakshi commented on #6538
Have asked Knack to send any further communications regarding this issue to the transportation data email account.

[2021-07-15 15:31] jaime-mckeown commented on #6629
**Public Works Special Interest Group**
- Public Parking Solution: Parking, Parking Inventory, etc. Use with Field Maps

![image](https://user-images.githubusercontent.com/48842809/125812539-5817c68b-994a-4d23-bd04-2b2f6bd9f76a.png)

- City of Tucson Capital Projects Hub Site with Operations Dashboard
https://capital-improvement-projects-cotgis.hub.arcgis.com/

[2021-07-15 16:01] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125819589-3ecd1e43-ec8f-43c1-8a88-cf2b87d0e9bf.png)

![image](https://user-images.githubusercontent.com/80716478/125819598-7d5b6ee3-df74-417b-a69a-5b9fa992a10b.png)

[2021-07-15 16:14] frankhereford opened #6675 "Query to allow another OCR pass on CR3 files which were impacted by CRIS account issues"
@patrickm02L @mateoclarke @sergiogcx @xavierapostol

Xavier asked me to look into a crash which was missing its OCR'd [narrative & the extracted diagram](https://visionzero.austin.gov/editor/#/crashes/18344985). I did, and I dug into what was going on with it since it has a normal, run of the mill CR3 PDF. I found that there are 851 crashes which meet these criteria:

- Missing OCR narrative
- Had

[2021-07-15 16:24] TracyLinder commented on #6203
I sent initial invites to all partner departments today.

[2021-07-15 16:40] chiaberry opened #6676 "Write script to automate process for data updates from Signs and Markings app to Open Data Portal"
https://docs.google.com/document/d/19C31MLIKiwFJobT8359sfJyYxHc0Mqa5v5_2jDXFUzQ/edit

knack to socrata only
no legacy config or scripts exist
twice a day updates, 10a, 4p CST

[2021-07-15 16:40] chiaberry commented on #6676
https://github.com/cityofaustin/atd-data-tech/issues/6636 meeting issue

[2021-07-15 16:42] Sreelatha-BlazeKannan commented on #6650
**Status**
Had a meeting with Kim & Nadin to understand and replicate the issue on 07/15/2021; In AMANDA Backoffice, Without any processes/attempts folder status updating from internet pending to Pending within 10 mins timespan. Sree will further continue her analysis on Portal side and Batch job runs if any. Kim will also create few test applications in TEST with different scenarios to replicate

[2021-07-15 16:42] dianamartin opened #6677 "Meeting: TIA Fiscal SharePoint Site consultation"
### Objective
Figure out what Nelson is wanting to do with TIA Fiscal

### Participants
Nelson E., Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team

[2021-07-15 16:45] atdservicebot opened #6678 "TIA Historical Mitigation Data Tracking Solution"
- As a department, ATD needs to track $15-$20 million in TIA Mitigation Data that existed before the TIA Mod was built.

 - As a TIA Mitigation fee program manager, I need to provide my mitigation fee data to all interested stakeholders, and in a way that allows the stakeholders to answer their own questions about the data.

 - As a stakeholder needing to fund transportation improvements, I need a

[2021-07-15 16:49] dianamartin commented on #6677
@amenity @TracyLinder  FYI

We talked about what Nelson was wanting to do, create a SharePoint site for his new program TIA Fiscal.
He showed me there was a GIS web map for `Mitigation Database` and it was shared with him by Sangeeta. It seems like it was requested to be put on AGOL back in the day, owned by ATD Publisher. Not sure it it's even been maintained since.

I also showed him the TDSD Po

[2021-07-15 16:51] SubhaShroff commented on #4460
@Nadin-Nader Martin promoted the ticket to TEST and I tested it for EX, DS, RW & PSM folders. I sent you the email outputs of of the tests to you in email. Once you approve of those, we can inform Martin to move further to PROD.

[2021-07-15 16:55] jaime-mckeown commented on #6629
**Esri Accessibility Special Interest Group**
- ArcGIS Pro 2.8
   - Map Frames and Charts have Accessibility Text
   - Export to PDF has Accessibility Tab with options
- Field Operations
   - Survey 123: accessibility conformance report (ACR)
   - Field Maps: ACR in the process
   - Quick Capture: ACR starting process this year
- AGOL
   - Homepage: Preset themes setup for best contrast for text r

[2021-07-15 16:59] ChrispinP commented on #6495
Spoke to stakeholders and got some clarity on some language improvements. Mainly Request > Case/Review/Application, and Requester > Applicant/Customer. Updating all instances of displayed text and field names accordingly.

[2021-07-15 17:01] ChrispinP commented on #6463
Header text is now updated to be:
![image](https://user-images.githubusercontent.com/67915167/125827854-5f68f241-000a-42ed-aae6-911b79ca4b09.png)

Footer text is now updated to be:
![image](https://user-images.githubusercontent.com/67915167/125827783-e11f5da6-6c37-40a5-bdc7-239167cd25d9.png)

[2021-07-15 17:04] ChrispinP commented on #6275
Spreadsheet and links updated:
![image](https://user-images.githubusercontent.com/67915167/125828199-dced169e-383b-4802-8491-767c63dafb6b.png)

[2021-07-15 17:20] Nadin-Nader commented on #4460
@SubhaShroff lets go ahead and get this to PROD

[2021-07-15 17:23] SubhaShroff commented on #4460
@Nadin-Nader  Informed Martin to promote it to PROD.

[2021-07-15 17:54] amenity commented on #6677
Thanks for attending, @dianamartin , and the great notes and ideas.🙏

[2021-07-15 18:00] dianamartin commented on #6678
Reference this issue

[2021-07-15 18:15] ChrispinP commented on #6275
Email Templates are now also updated both in app and on the google doc. We may need to make some tweaks as Reviewers use the system. Language and fields have been updated to be more consistent.

complete, closing

[2021-07-15 18:15] #6275 closed

[2021-07-15 18:20] ChrispinP commented on #6495
Maintaining the object and record ID as the TIA_request object, but all other instances of request updated. All instances of requester also cleaned up. Updated all objects fields and rules accordingly.

Need to review to ensure I didnt miss anything.

[2021-07-15 18:22] frankhereford opened #6679 "Enable crash based comprehensive cost in the VZE"
@patrickm02L

On review of my branch with this work, https://github.com/cityofaustin/atd-vz-data/tree/flh_crash_based_comp_costs, I believe that I can put these same changes in with a broken out migration file, per suggestion of Sergio. Vim also appears to have mangled some tabs for spaces in one file, leading to noise in the commit. Also, I also have another commit in there that doesn't really be

[2021-07-15 18:23] andrewshensky commented on #6654
![image](https://user-images.githubusercontent.com/80716478/125838093-dbff054d-f882-4983-a145-00e75c419350.png)

![image](https://user-images.githubusercontent.com/80716478/125838105-23829598-3192-479c-b2da-bf0dd06a390d.png)

[2021-07-15 18:33] ChrispinP commented on #6524
sent followup email to CTM

[2021-07-15 18:56] dianamartin commented on #6660
#Diana's Notes

Proposing Visitor Badges instead of giving one off access
Q: Lauren employees - hoteling, long term, other time

Hoteling: week and weekend - Currently have badge access?

Discuss: capture request to work at Cameron?

Current Process: Email from person's supervisor or they physically show up and add them to system

8900 - Hoteling, additional furniture purchased
- Suggest don't spe

[2021-07-15 19:03] Sreelatha-BlazeKannan commented on #5961
@Nadin-Nader , @TracyLinder  - DEV UAT done, but EX working as expected. but not RW so, re-submitted the Commit to test again by making small update to lookup3. Here is the commit ID: bb9bf0dedb71

[2021-07-15 19:19] amenity commented on #6678
@TracyLinder - lmk if you need anything from me on this!

[2021-07-15 19:57] dianamartin commented on #6660
# Debrief Notes
- Is there a formal form or unofficial agreement with supervisor to hotel?
- We need to determine how someone asks for Cameron Campus access - `Hoteling v. Designated Cameron Rd Campus`?

## Action Items
- [ ] Follow-up on 8900 Training Room an how it's configured, are there delegates?
- [ ] Follow-up w/ Gilda about 8700 Admin to see what's the status?
- [ ] Diana to schedule to se

[2021-07-15 20:13] amenity commented on #2167
Use case for this integration: Power users who manage applications need to be notified when an employee is separated. E.g. Staff from other divisions who have accounts in Signs and Markings' GIS need access revoked.

[2021-07-15 20:15] amenity commented on #3997
Per meeting with SMB today, only one contractor using but it's going well. They may have more internal training to do.

[2021-07-15 20:19] amenity commented on #6640
@dianamartin updated SMB today to let them know that she will be remapping their mapping as part of this issue. So adding additional labels to this one. Does it need to be re-estimated, @dianamartin?

[2021-07-15 20:22] dianamartin commented on #6640
@amenity it's the same really, hours/days

[2021-07-15 20:24] ChrispinP commented on #5941
Updated certs for ATD Forms. Updated one pass. SSO is now active and working.

[2021-07-15 20:40] dianamartin commented on #5987
Messaged him on teams

[2021-07-15 20:47] dianamartin commented on #6640
[Signs SR Field Mapping](https://docs.google.com/spreadsheets/d/1VA4sQFTDGu-GpgMqoui9RalOZE1LqgZ_PZvMW1UZQEc/edit?usp=sharing)

[2021-07-15 21:03] jaime-mckeown opened #6680 "Pride Parade / Waterloo Park Grand Re-Opening Maps - OSE"
Create a new map for the upcoming Pride Parade.

[2021-07-15 21:20] dianamartin opened #6681 "Clean up Badge System GROUP CLEARANCES"

[2021-07-15 21:21] dianamartin opened #6682 "Clean up Badge System GROUP CLEARANCES"

[2021-07-15 21:22] dianamartin commented on #6682
# RECAP NEW GROUP CLEARANCE
#### 8700/8900 Cameron Rd Campus Employee
- M-F, Weekends
- 24/7
- Gate access
- No MMC access
- No Server Room Access

#### 8700/8900 Non-Cameron Rd Campus Employee (Other ATD, Hoteling)
- M-F
- 6 am - 6 pm
- No Gate access
- No MMC door
- No Server Room Access

#### 8700/8900 Contractors (i.e. Cleaning, Construction)
- M-F
- 24/7
- No Server Room Access

#### Server R

[2021-07-15 21:27] amenity commented on #6513
@dianamartin - nice! Will you intro @phanaq and Lance/Allyson, or shall I?

[2021-07-15 21:33] #2856 closed

[2021-07-15 21:33] ChrispinP commented on #2856
no further action needed, closing

[2021-07-15 21:47] dianamartin commented on #6513
@amenity You certainly can since you have more of the details about the CIC program :)

[2021-07-15 21:47] SubhaShroff commented on #5388
@Nadin-Nader  I did a commit -  43f351101fdd. Please approve it.

[2021-07-15 21:47] ChrispinP commented on #6671
Some of the small action items completed. Will discuss with Tracy on other resulting issues such as a report legend. It may not be mvp but seems like a good idea.

[2021-07-15 21:50] mateoclarke commented on #6675
Sounds like a solid plan to me @frankhereford!

[2021-07-15 21:55] #6669 closed

[2021-07-15 21:58] dianamartin commented on #6665
The meeting notes are on this issue #6677

[2021-07-15 21:58] #6665 closed

[2021-07-15 21:58] dianamartin commented on #6677
Closing since user submitted new SR #6678

[2021-07-15 21:58] #6677 closed

[2021-07-15 22:04] dianamartin commented on #6651
Met with user on 7/13
- deleted old enrollment attempts
- factory reset remotely
- enrollment successful
- was able to get launcher downloaded

7/14: Scott got tablet with issues from Gilbert, gave them a brand new tablet that was from the 1st tablet order for Parking Meters.
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/697853fa-40a9-4d2c-a581-bf7e093091f5)

[2021-07-15 22:04] #6651 closed

[2021-07-15 22:07] dianamartin commented on #6681
Closing, DUP of #6682

[2021-07-15 22:07] #6681 closed

[2021-07-15 22:09] dianamartin commented on #6652
Susanne said 7/15

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/0eae98e1-8ef2-4a00-b03f-34456768a70a)

I also looked into Power Automate, but it doesn't have the Photos App as an option either. It might be something that just requires downloading the files locally from OneDrive on an as-needed basis.

For the slideshow feature, I was able to create a slideshow by chan

[2021-07-15 22:14] frankhereford commented on #6675
Thanks @mateoclarke, I'll apply the second query to staging now. Pending success and some time for anyone else to weigh in, I'll apply it to production first thing in the morning. I appreciate you giving it a once over!

[2021-07-15 22:17] frankhereford commented on #6675
Query executed on staging successfully with an execution time of ~10 seconds. It didn't update any rows, but this is expected based on the lag of crash data in that database.

[2021-07-16 03:03] Nadin-Nader commented on #6564
@vschandramouli looks good but do we know what Tracy meant by **There's no specific fee name for 'Secondary' because the fee is the same as TURP New Permit**

[2021-07-16 12:56] andrewshensky opened #6683 "Allow Editing Then Republish 6 StoryMaps"

[2021-07-16 12:57] #6683 closed

[2021-07-16 13:16] andrewshensky commented on #6620
Need to determine official name for web app

[2021-07-16 13:25] #6599 closed

[2021-07-16 13:30] andrewshensky commented on #6424
While CTM looks into this, a work around related to this issue was created for the TIA web app. It uses address points and a newly created intersection layer to run search and provide suggestions using city data.

[2021-07-16 13:36] #6508 closed

[2021-07-16 13:37] #6109 closed

[2021-07-16 13:41] SubhaShroff commented on #4460
@Nadin-Nader  This is deployed in PROD.

[2021-07-16 13:55] frankhereford commented on #6675
Query executed in production with an execution time of 3.1 seconds. Speed up is due to running the subselect stand-alone first to let the DB get the records in question cached into memory. Thank you all for your help getting these crashes reprocessed.

[2021-07-16 13:55] #6675 closed

[2021-07-16 14:32] andrewshensky opened #6684 "Update CTN to Include New Street Segments"
CTN is missing segments that are included in the Street Segment dataset. These segments along with the new Segment IDs from split features are needed for future automation/semi-automation of street segment to CTN update process (#6594).

[2021-07-16 14:40] frankhereford opened #6685 "Requested notice of updated comp costs on VZE dashboard"
@patrickm02L - Per Lewis Leff, the VZE dashboard should contain a notice of the updated comprehensive cost schedule when we roll those changes into production. I will submit a PR to provide this feature.

[2021-07-16 14:52] andrewshensky opened #6686 "Create Processing Model to Enhance Street Segment Update to CTN"
Street segment data tracks Left From/Left To and Right From/Right To for addresses, CTN tracks From Address Min and To Address Max. This model makes sure that during the append process the CTN will receive only the min and max address values from the Street Segment dataset. This will enhance processing time in issue #6684

[2021-07-16 14:57] TracyLinder commented on #6203
## 7/16

### Updates
- TCP Fee on GP & SP
- Cost of Service
- Review open issues

### Action Items

[2021-07-16 15:10] jaime-mckeown commented on #6680
Completed first draft and sent to Frances for review.

[2021-07-16 15:16] TracyLinder commented on #6565
@vschandramouli can you add an update to this issue please?

[2021-07-16 15:19] vschandramouli commented on #6565
Currently working on editing Acceptance Criteria. Will request a review and move to Backlog by today 7/16.

[2021-07-16 15:29] TracyLinder commented on #6401
@SubhaShroff @Nadin-Nader Here is the GL: 5125-2400-9100-4098

[2021-07-16 15:43] SubhaShroff commented on #5388
SCTASK0152427 - DEV deployment request is submitted for commit (43f351101fdd).

[2021-07-16 15:48] jaime-mckeown opened #6687 "Question about adding Address Info to PE Signs AGOL Content"
From Steve S:

[2021-07-16 15:50] jaime-mckeown commented on #6687
To Steve:

To Joseph:

[2021-07-16 16:08] andrewshensky opened #6688 "TED Speed Limit Change Tracking Data/Map Updates"
Make changes/updates to Speed Limit Change Work Orders App to meet needs of Transportation Engineering group.

[2021-07-16 16:17] andrewshensky commented on #6688
- [ ]     Modify current Desktop Web Map / App
- [ ]     Remove edit ability on the proposed speed limit field in the Layer View
- [ ]     Add final speed limit field (Max will be editing this field after Work Orders are complete)
- [ ]     Add Signs Work Orders feature layer to the map for Area Engineer Teams to use to see what work orders have been submitted (filter by Requester: transportation

[2021-07-16 16:23] andrewshensky commented on #6688
7/16 - Met with Transportation Engineering. Happy with updates. Additional changes below:

- [ ] Final speed limit to include domains 25-50mph at 5 mph increments
- [ ] Final speed limit editability only in existing speed limits layer
- [ ] Figure out good symbology to show features with Final Speed limit populated
- [ ] Remove Filter widget and add all filters (TED, Closed, Speed Limit) directly

[2021-07-16 17:03] jaime-mckeown opened #6689 "User looking for ROW Permits in ROWPACT in AGOL - Chris"
From Chris:

![image.png](https://images.zenhubusercontent.com/5cb8d2e073d7e234297df108/52b36e76-e45f-44a6-b72b-cfc3c4d8a40b)

[2021-07-16 17:06] Nadin-Nader commented on #5576
@Sreelatha-BlazeKannan this has been deployed to DEV. Please UAT

[2021-07-16 17:12] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan I audited the recommit

[2021-07-16 17:12] patrickm02L commented on #6685
@frankhereford I think we can Use this as the Issue for the feature. We'll just need to edit it a bit to add more information about what the Comprehensive Cost Schedule.

[2021-07-16 17:23] Nadin-Nader commented on #2397
**STATUS:**
Subha would like to test/discuss with Kim at the meeting today

[2021-07-16 18:21] SubhaShroff commented on #5578
@Nadin-Nader PROD deployment request is submitted - SCTASK0152455.

[2021-07-16 19:19] Nadin-Nader commented on #1802
@SubhaShroff Bond/Insurance infos does not need to be made mandatory.
@Nadin-Nader update AC

[2021-07-16 19:39] chiaberry commented on #6585
A few questions @patrickm02L
Is the gray color of the navbar text the same color as the background, ` #E1E2E1`?
Does the avatar in the upper right corner open the Account page?
How does a user logout, from the Account page?
I am assuming I'm adding a tab for Staff with a link to its page, and omitting the Reports tab for now. lemme know if that's wrong

[2021-07-16 19:45] andrewshensky commented on #6595
Separate issue has been created to track tasks associated with this work #6688

[2021-07-16 19:45] #6595 closed

[2021-07-16 19:47] andrewshensky opened #6690 "Creating Maps and Visualizations Training - 7/20 / 7/22"

[2021-07-16 19:56] jaime-mckeown commented on #6689
Could not find the Service MXD to check the layers. Asked Sean in CTM.

[2021-07-16 19:57] jaime-mckeown commented on #6689
Response to Chris:

[2021-07-16 19:57] #6563 closed

[2021-07-16 20:17] SubhaShroff commented on #5578
SCTASK0152455 is closed and PROD deployment is done.

[2021-07-16 20:38] jaime-mckeown commented on #6667
Data updated in AGOL, transit hubs added to AGOL.

[2021-07-16 20:38] #6667 closed

[2021-07-16 20:41] SubhaShroff commented on #5388
@Nadin-Nader  This ticket is looks good on DEV Portal and I recorded the demo video. Demo is sent to you in email for your feedback.

[2021-07-16 20:49] patrickm02L commented on #6585
Yes the Avatar should open the account page, and show a logout option.
Let's add staff in the place of Reports.

[2021-07-16 22:06] chiaberry commented on #6585
![Home – 4](https://user-images.githubusercontent.com/12474808/126012930-699a48ee-9867-4775-b74a-49eb03542f8c.png)

[2021-07-16 22:16] ChrispinP commented on #6586
Mobile Menu tested and added to production for all necessary pages. Pending any final changes.

Ready to review with stakeholders

[2021-07-16 22:19] ChrispinP commented on #5487
Updated the workflows some more after language changes. Need to finish adding Mitigation workflows, simplified process workflows, and update the Customer workflows again.

[2021-07-16 22:21] ChrispinP commented on #6611
Asked stakeholders to create a real TIA and non-TIA case in the system to use for the Training Workshop.

[2021-07-16 22:24] ChrispinP commented on #6663
Moving back to in progress as Knack continues to investigate bug. They concur they dont think its the fields, and they are conferring with the map provider as well.

I may spend some more time testing to see if I can better pinpoint the bug.

[2021-07-16 22:25] ChrispinP commented on #5649
Sangeeta messaged and said they will do a final review on this feature to make sure it meets their need.

[2021-07-16 22:27] ChrispinP commented on #6123
Further updated again after adding the Mobile menu and mapping code

[2021-07-19 12:39] jaime-mckeown opened #6691 "Pro Migration: 7/14 - 7/27"

[2021-07-19 12:40] jaime-mckeown commented on #6691
Introduction to ArcGIS Online Workshop on 10/14:

- [ ] Caitlin in TED
- [ ] Shradha in TED

[2021-07-19 12:41] vschandramouli commented on #6565
Completed AC. @TracyLinder Could you give this a quick look and see if this is ready for Backlog?

[2021-07-19 13:52] dianamartin commented on #6521
Dup of #6660

[2021-07-19 13:53] #6521 closed

[2021-07-19 14:05] dianamartin opened #6692 "Meeting: AMD PowerBI Dashboard Assist - Kick Off"
Meeting scheduled 7/19

### Objective
- See what AMD is trying to build in PowerBI, determine if Annie has bandwidth to tackle project otherwise Diana can help.
- Reference #6513

### Participants
Lance, Allyson, Annie, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------

[2021-07-19 14:06] dianamartin commented on #6513
Follow-meeting to assist stakeholders #6692, closing this issue

[2021-07-19 14:06] #6513 closed

[2021-07-19 14:22] andrewshensky opened #6693 "Bike Rack Data Request for June"

[2021-07-19 14:34] dianamartin opened #6694 "Offboard Surbhi B."
## IT Permissions and Access

- [x] 1password
- [x] Slack
- [x] Miro
- [x] Knack Apps
  - [x] Shared Mobility
- user account - inactive
  - [x] VZA
- user account - inactive
  - [x] SMB
- user account - inactive
  - [x] AMD
- user account - inactive
  - [x] Banners
- user account - inactive
  - [x] DTS Portal
- user account - inactive
  - [x] Finance & Purchasing
  - [x] ATD Forms
- user account -

[2021-07-19 15:26] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan this has been sent to the the DevOps CM Team for deployment to DEV under **SCTASK0152830**

[2021-07-19 15:28] moorerst commented on #6670
Meeting scheduled for 7/27

[2021-07-19 15:31] dianamartin commented on #6692
#Diana's Notes
- Using data and tracking with lot of information
- traffic volumes
- query and analysis tool
- internal reporting
-operations side of the house
-visualizing those thing

## TOP 10 KITS Signal Event Locations Dashboard
- Event log, SQL database (KITS?)

## TOP 10 SR Locations
- querying Open Data logs
- Can find the issues for locations

## Arterial Coordinator Database
- Excel Dete

[2021-07-19 15:38] Nadin-Nader commented on #6201
Email sent to Swapna about portal:

Hi Swapna,
Good Evening, This is regarding the card #6201 - Bug: DS Permit Report Not Available On Portal; I found that the report path was not mentioned appropriately in AMANDA back office which caused the issue in DEV. Upon which tested and updated the card with Screen shots. Last week when tried with stake holders it was not working in Either DEV or TEST. And

[2021-07-19 15:59] Nadin-Nader commented on #5142
This was also a part of the incident Greg emailed about and was sent to CTM under INC0116652, which has been resolved.
@Nadin-Nader add to next sprint

[2021-07-19 16:13] Nadin-Nader commented on #5578
Email Sent to Stakeholders:

[2021-07-19 16:13] dianamartin opened #6695 "Meeting: AMD PowerBI Discovery"
Meeting scheduled 7/29

### Objective
- Review AMD PowerBI Dashboards
- Talk about our own discovery to connecting to datasets in PowerBI

### Participants
Annie, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief

[2021-07-19 16:14] SubhaShroff commented on #6401
Thank @TracyLinder. @Nadin-Nader  I added the above GL code to the code that developed and committed the code on Friday that you approved also. So here is the DEV promotion request for it - **SCTASK0152850.**

[2021-07-19 16:20] dianamartin commented on #6695
Notes from meeting w/ stakeholder on 7/19 @phanaq I've linked the OpenData datasets for easier reference link to the OData URL

NEW DASHBOARD: Device Status report

## Detection
- Source: ([Traffic Detectors](https://data.austintexas.gov/Transportation-and-Mobility/Traffic-Detectors/qpuw-8eeb), Open Data portal)
  - Detector Status
  - Number of Intersections that have fully working detection v. o

[2021-07-19 16:24] dianamartin commented on #6095
Emailed Joshil 7/19

[2021-07-19 16:37] Nadin-Nader commented on #5388
Forgot to add notes from Fridays meeting.
Per the conversation with Kim at our Friday meeting the "Search by Case Number" filed isnt really used since the PSM folders do not have numbers in the Ref Field in AMANDA.

[2021-07-19 16:38] Nadin-Nader commented on #5388
@SubhaShroff i have reviewed the demo and it all looks good. Lets get this to TEST

## APPROVED for TEST Deployment‼🎉🙌

[2021-07-19 16:44] Nadin-Nader commented on #1802
@SubhaShroff updated AC to reflect that Bond/Insurance infos do not need to be made mandatory.

[2021-07-19 16:53] Nadin-Nader commented on #6401
## **Status:**
Waiting on DevOps CM team to deploy to DEV under **SCTASK0152850**

[2021-07-19 16:54] patrickm02L opened #6696 "Create the Ability for Searching Address by Cross-Streets"
As a staff member, I want to search by cross streets so that I can find an area that doesn't have a specific address.

- Initially during user testing, user tried to navigate the map by dragging, until they realized that they could use the search bar. Once they found the search bar, they wanted to search by location.

![Screen Shot 2021-07-19 at 11.50.01 AM.png](https://images.zenhubusercontent.co

[2021-07-19 16:56] Nadin-Nader commented on #6321
## **Status:**

Sree is still working on the development

[2021-07-19 17:09] amenity commented on #6480
Discussions w/ Nathan:
**_Amenity Jul 9_**
would it makes sense to have a two-level funding source data structure, e.g.
[code]

**_Nathan Jul 14_**
I'm not sure it is worth it. I think better to keep it flat. Ultimatley this is an question for the financial system to answer (connected to MOPED - aka where exactly did the dollars come from). The funding, ecapris, and cost estimating functionality a

[2021-07-19 17:21] amenity opened #6697 "Implement the ability to search by author/creator on "Projects" page advanced search"
As a user, I want to see all the projects I have created in Moped, regardless of who is assigned to the project team, so that I can easily manage tracking I have initiated.

I think this is the `added_by` in the [`moped_project`](https://db-docs.austinmobility.io/atd-moped-production/tables/moped_project.html) table...

[2021-07-19 17:39] amenity commented on #6696
@patrickm02L - it sounds like the issue was discoverability of the address bar, not its specific functionality? I've seen users search by street name and then quickly drag map to the intersection they're interested in.

Changing this to a "Could have" for 1.0 since users have been able to find their location quickly even without the address bar. The zoom functionality seems intuitive and they are

[2021-07-19 18:15] atdservicebot opened #6698 "Add UC to Acronym List"
ArcGIS

I was tinkering with ROW feature class in Power BI, and I noticed that the UC folder is not defined here: https://atd-dts.gitbook.io/atd-staff-resources/general/acronyms

I'll be that guy momentarily, and note that most of these are initialisms, rather than acronyms because they can't be pronounced like a word. (e.g. RADAR or LASER are acronyms, while ATD or PP are initialisms.)

https://a

[2021-07-19 18:30] #6654 closed

[2021-07-19 18:31] frankhereford commented on #6679
This work has been reviewed and a PR, #1011. This is intended to begin computing a new comprehensive cost based on a crash based comprehensive cost schedule and to report that in the VZE.

[2021-07-19 18:34] atdservicebot opened #6699 "AGOL Group Access - Ray L."
ArcGIS

I have a new data collector today Ray L.  I need to get him access on ARC GIS under the same groups that I am under.  Thanks

Flexible  — An extended timeline is OK

Jamie A.

Request ID: DTS21-102285

[2021-07-19 18:38] SubhaShroff commented on #5388
@Nadin-Nader  TEST deployment request is submitted - **SCTASK0152966**.

[2021-07-19 18:49] frankhereford opened #6700 "Associate certain crashes on level 5 centerlines to SVRD polygons where possible"
Certain crashes are being geocoded to fall on the centerlines of level 5 roads, where they are actually occurring on the service roads. Previously, we have taken the assumption that this was to mean that the crashes were actually on the proper lanes of these roads, but we have refined out approach to take into consideration the rpt_road_part_id field in atd_txdot_crashes. The system which associat

[2021-07-19 18:51] SubhaShroff commented on #2397
@Nadin-Nader  I have sent you the demo screens today in email. Please review.

[2021-07-19 18:51] TracyLinder opened #6701 "Feature - [ROW] TCP Tracker - Due Date Auto-Populate"
### As a TCP Tracker User, I would like the TCP Due Date to Auto-populate. I'd also like to be able to manually select the due date as well.

**Stakeholder:** Laura R.

**Notes**
For inline editing to work, there can't be any conditional rules on the field. So right now stakeholders must choose one or the other. Laura chose manual for right now, until we can find a better approach.

[2021-07-19 18:53] TracyLinder commented on #6701
Chrispin asked Laura to choose between autopopulate and manual (for right now), and she chose manual.

[2021-07-19 18:54] frankhereford opened #6702 "Enable searching for crashes outside of the Austin Full Purpose jurisdiction / city_id == 22 designation"
The Vision Zero team has requested the ability to search for crashes outside of the Austin Full Purpose jurisdiction / city_id == 22 designation. Mateo's work on PR cityofaustin/atd-vz-data#1007 provides a single flag which can be inspected when searching for crashes. A modification to the graphql abstraction system for advanced searching in the crashes grid table to support this search criteria w

[2021-07-19 19:01] TracyLinder commented on #6701
### Possible Solution

1. Add edit button on the submission line, to allow user to manually override the due date.

@ChrispinP may add more possibilites later.

[2021-07-19 19:02] TracyLinder commented on #6615
Created #6701. closing

[2021-07-19 19:02] #6615 closed

[2021-07-19 19:02] andrewshensky commented on #6620
The parking enterprise group decided to name application "ATD Land Use and Parking Zone Map". This application has now been added to the application tracker under the same name.

[2021-07-19 19:02] #6620 closed

[2021-07-19 19:03] jaime-mckeown commented on #6699
Ray L is not in Outlook. Emailed Jamie to ask about his work status.

[2021-07-19 19:04] TracyLinder commented on #6614
Delivered & Closing

[2021-07-19 19:04] #6614 closed

[2021-07-19 19:05] TracyLinder commented on #2052
@ChrispinP can you update this epic please. Specifically check out the backlog items and see if they're still applicable.

[2021-07-19 19:11] #6497 closed

[2021-07-19 19:11] #6498 closed

[2021-07-19 19:11] #6499 closed

[2021-07-19 19:11] #6500 closed

[2021-07-19 19:14] TracyLinder commented on #1895
@dianamartin can this be closed?

[2021-07-19 19:16] #6540 closed

[2021-07-19 19:16] #6137 closed

[2021-07-19 19:17] alan-deanda commented on #6139
These badges will remain in Illustrator

[2021-07-19 19:17] #6689 closed

[2021-07-19 19:18] jaime-mckeown opened #6703 "Blues on the Green Map Update"
Annette requested another change to the Blues on the Green Closure Map.

[2021-07-19 19:18] jaime-mckeown commented on #6703
Updated map and resent.

[2021-07-19 19:20] amenity opened #6704 "Synthesize Mobility Project Viewer Research Phase"
Create slide deck or text document that compiles and summarizes @janetchuhl 's work on the Mobility Project Viewer.

[2021-07-19 19:25] dianamartin commented on #1895
@TracyLinder ohh this was a while ago. I don't remember if this happened or not, I'm thinking it didn't. So have to keep it open and create a Dev issue.

So this issue refers to the children submissions that occur on the parent.

Examples of issue
Parent Status | Submission # |  Child Status
-- | -- | --
Parent Status: Rejected |   |  
  | Submission 1 | Rejected
  | Submission 2 | No Review Requi

[2021-07-19 19:26] #6523 closed

[2021-07-19 19:27] amenity opened #6705 "Review Moped 0.7.0 usability tests and synthesize findings"
- Create bug reports
- Document interesting pain points and interesting observations

[2021-07-19 19:31] TracyLinder opened #6706 "TIA Staff Training on 7/22/20"
How many people are we training?
- 10 - 15

Meeting Format?
- Mostly teams

How to translate their current process to the new one.

1. Overview of the process, from beginning to end.
- Start w/ portal application

2. Walk through a test example
- Copy from here 6th and Onion | C14-2019-0254C

1. Customer Applies
- Needs Case Review

2. Introduce TIA Case Details, Navigation Menu
- Connecting to TD

[2021-07-19 19:38] amenity opened #6707 "Conduct Mobility Project Viewer ideation session with PIOs"
Shoot for two hours the week of August 2nd
Include on invite
- Devs (optional)
- Patrick, Amenity
- Stephanie (optional)
- John (optional)
- Tracy (optional)

[2021-07-19 19:41] amenity opened #6708 "Prepare for Mobility Project Viewer ideation session"
- [x] Schedule #6707
- [x] Determine ideation activities (@patrickm02L can provide guidance)
- [x] Put together Miro board

[2021-07-19 19:43] jaime-mckeown commented on #5822
- Rename previous Mitigate Database to 2017 and prior
- New will be 2018-2020 Mitigation Database
- Will be resending me a new Spreadsheet end of this week/early next week, create new layer in AGOL
- will be sending updates every quarter

[2021-07-19 19:45] amenity opened #6709 "Compile Mobility Project Viewer Impact Feasibility Matrix"
Use the post-it notes from the ideation session that were starred to come up with a prioritization of solutions for each theme and insight.

Create a doc, with the starred post-its at the top of each sections and a screen shot of the miro board to capture all of the of the post-its.

In Miro, create a Feasibility Matrix with four quadrants. Impact is at the top. Feasibility is the far right.

Set

[2021-07-19 19:48] #6471 closed

[2021-07-19 20:02] sergiogcx commented on #6259
@amenity I cant seem to replicate the issue, I've tried in Windows 10, Windows 8 and mac, Chrome and FireFox and Edge... all to no avail. I've tried using the same street name, different mouse and keyboard behavior and still no luck. Are there any other ways I can try to replicate this issue?

Chrome 60 (very old), Windows 8:
![2021-07-19_15-02-18.png](https://images.zenhubusercontent.com/5b7edad7

[2021-07-19 20:11] amenity commented on #6696
Checked with @janetchuhl since she's the only one who has watched/participated in all the 0.2.0 and 0.7.0 usability tests:

[2021-07-19 20:17] amenity commented on #6259
@sergiogcx - beats me — I haven't seen it anywhere else. Let's leave this in "Blocked" until we see it with other users and can reproduce it.

[2021-07-19 20:22] TracyLinder commented on #6611
![Screen Shot 2021-07-19 at 3.21.49 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/25e23cbc-b9d0-453a-aeb6-682d52ed45ac)

[2021-07-19 20:37] jaime-mckeown commented on #6699
Got his last name, it was wrong. Configured his profile and added him to the same groups as Jamie.

[2021-07-19 20:37] #6699 closed

[2021-07-19 20:40] jaime-mckeown opened #6710 "AMANDA Street Closures: 7/19"
Update AMANDA Street Closures and Active Parking Permits.

[2021-07-19 20:41] jaime-mckeown commented on #6710
Updates complete.

[2021-07-19 20:41] #6710 closed

[2021-07-19 21:03] amenity commented on #6095
@dianamartin - thanks. I think we can close this, then. Right?

[2021-07-19 21:13] dianamartin commented on #6095
@amenity I think it's worth at least asking Knack, it's the first time I've heard this complaint

[2021-07-19 21:20] amenity commented on #6095
@dianamartin - can you upload the gif here? Then do we just throw it into the chat menu in the builder?

[2021-07-19 21:26] andrewshensky opened #6711 "Update Speed Limit Discrepancy ID'd by Citizen"

[2021-07-19 21:26] dianamartin commented on #6095
Submitted a Knack ticket 7/19:

[2021-07-19 21:31] amenity commented on #6697
@chiaberry volunteered to help. Thank you!

[2021-07-19 21:35] #6351 closed

[2021-07-19 21:44] #6391 closed

[2021-07-19 22:09] #6603 closed

[2021-07-19 22:11] amenity opened #6712 "Update Moped theme colors"
@patrickm02L @johnclary - I'd like to propose [gently adjusting primary red/cyan/grey that we currently have and adding some additional variations on each](https://material.io/resources/color/#!/?view.left=0&view.right=1&primary.color=1E88E5&secondary.color=ff4949).

Previous
![Moped-previous](https://user-images.githubusercontent.com/1463708/126237866-14afc0b1-5ac1-48d3-a0ca-76f6bb20fc7a.png)

Pr

[2021-07-19 22:12] amenity opened #6713 "[Enhancements] Moped Typography 2.0"
Making this into an epic, since some tasks are for Devs and some are for Product. Nothing should be merged to master until all issues in epic are complete; otherwise we'll have some whacky fonts.

[2021-07-19 23:05] amenity commented on #6712
Nu colorz in action:
<img width="1338" alt="Screen Shot 2021-07-19 at 6 04 50 PM" src="https://user-images.githubusercontent.com/1463708/126238445-f24281f3-fa56-46a1-9901-7cf3c6b50962.png">

[2021-07-20 13:03] atdservicebot opened #6714 "I am looking into the possibility of adding pictures to an inventory item's description. This will ..."
Data Tracker

I am looking into the possibility of adding pictures to an inventory item's description.
This will be an attempt at reducing incorrect inventory requests where items are being mistaken when being entered. (If Possible)

ATD/AMD will have a visual representation of the material that they are requesting and therefore prevent/reduce the amount of incorrect items being requested when fil

[2021-07-20 13:17] #6685 closed

[2021-07-20 13:46] Sreelatha-BlazeKannan commented on #5576
** Status **
DEV Testing is in progress

[2021-07-20 13:48] Sreelatha-BlazeKannan commented on #6321
**Status **
@Nadin-Nader , @TracyLinder - Development completed, but can't be moved or tested as there is a conflict with lookup table 83735 update. #5961 must be deployed before this can be moved.

[2021-07-20 14:01] #5424 closed

[2021-07-20 15:03] SubhaShroff commented on #6401
@Nadin-Nader I tested this ticket post-deployment on DEV. I see that the fee is added & billed with 'Save for Later' button also. I would need to do the necessary change in the code, it only inserts fee with 'submit' button.

[2021-07-20 15:04] Sreelatha-BlazeKannan commented on #5891
**Status **
@Nadin-Nader , @TracyLinder - Analysis is in progress

[2021-07-20 15:24] mateoclarke opened #6715 "Draft document for Equity Committee election process, new/replacement reps, term lengths"
[notes from previous meeting](https://cityofaustin.sharepoint.com/:w:/s/ATDEquityActionTeam/EXMXgXoGvHZHg-LprHhj_m4B5sNwwFYOMwNJ1HUeJ52uvA?email=Mateo.Clarke%40austintexas.gov&e=l9weui)

[2021-07-20 15:42] #6702 closed

[2021-07-20 16:50] patrickm02L commented on #6712
Those colors look good to me. They're a lot softer and play well together.

[2021-07-20 16:51] patrickm02L commented on #6256
Yes, please remove that awful blue. The white background is so much cleaner.

[2021-07-20 17:04] andrewshensky opened #6716 "Test New COA Composite Locator in AGOL Dev"

[2021-07-20 18:03] #5578 closed

[2021-07-20 18:04] dianamartin opened #6717 "TIA Technical Review 7/20"
### Objective

### Participants

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ] Create resulting issues

[2021-07-20 18:04] Nadin-Nader opened #6718 "Update AMANDA Permissions for Allison Mills"
Allison is needing to Update her AMANDA Permissions in order to perform her job function

[2021-07-20 18:23] Nadin-Nader commented on #4255
This has been deployed to PROD

[2021-07-20 18:28] amenity opened #6719 "Remove certain instances of the "Fiscal year" and "Current status" fields in the UI"
Several of our usability testing participants were confused by the "Fiscal year" field. According to NW, this can be removed:

- [x] Remove "Fiscal year" from the "Define project" step of the "New project" workflow
- [x] Remove "Fiscal year" from the project "Summary" tab
Note: We don't want to remove this field from the database at this point since we don't have a ton of clarity around various us

[2021-07-20 18:36] atdservicebot opened #6720 "Assign work to technicians on Sign Fabrication Page"
Signs & Markings Operations

On the sign fabrication page, we would like the ability to assign work to technicians (similar to how we assign on the the sign work order details page).

Track which sign shop staff is working on a work order.

No work around is necessary right now, this is a new request that the Signs Supervisor thinks would be helpful

Christina T.

Request ID: DTS21-102295

[2021-07-20 18:40] atdservicebot opened #6721 "Create Work Order button for field work"
Signs & Markings Operations

On the sign fabrication work orders, we would like a "Create Work Order" button to have the ability to create work orders for technicians to use in the field. There are scenarios that happen often where we are completing work for other City of Austin Departments and, although these are requests within parking lots/private locations, the technicians need to complete wor

[2021-07-20 18:47] amenity commented on #6719
Message in to Nathan

[2021-07-20 19:00] dianamartin commented on #6717
# Diana Note's
## Announcements
- [ ] extra period after "Support Ticket" button

## Entity Diagram
- 1 parent
- 4 child object tables (TIA Communication, TIA Scope Submission, TIA Submission, TIA Mitigation)
- 3 grand-child object tables (TIA Scope Submission Geo, TIA Submission Content, TIA Mitigation Geo)
- 1 grand-child object table (TIA Case Log) - audit object table

Accounts
- `Inactive` us

[2021-07-20 19:31] SubhaShroff commented on #5388
@Nadin-Nader  TEST deployment is done. I tested it and its ready for your UAT.

[2021-07-20 19:42] amenity commented on #6712
![Screen Shot 2021-07-20 at 2 33 51 PM](https://user-images.githubusercontent.com/1463708/126385633-479ad43f-e8c4-4572-9504-6aea1e6c5873.png)
I'm not sure what to do with the dark background...

[2021-07-20 19:44] mateoclarke opened #6722 "Migrate CTR / data-rodeo AWS resources from odd to austinmobility account"
- research process to migrate assets
- communicate with KP and confirm production assets that need to be maintained.
- plan migration

[2021-07-20 19:44] amenity opened #6723 "Update scooter icon to new red"
[moped.svg.zip](https://github.com/cityofaustin/atd-data-tech/files/6850927/moped.svg.zip)

[2021-07-20 19:46] #6679 closed

[2021-07-20 20:15] johnclary commented on #6674
looks good to me! do we need the "Date Added" column?

[2021-07-20 20:18] amenity opened #6724 "Validate (and pre-process?) input fields on "Add user" form"
SSO does not work if the email address has capital letters. Provide and processing to the user on the "Add user" form at `staff/new`.

- [ ] Valid email address and transform to lowercase - potentially use regex to validate
- [ ] Convert the email to lowercase upon return/tab/submit - this might be happening on the backend, but ideally should be handled on the front end in javascript

[2021-07-20 20:24] amenity commented on #6724
@johnclary points out, since ATD users will login with COA credentials, it would be nice to hide the password field entirely and have the client generate the password automatically on submit. I think that would be a separate (lower-priority) issue, though.

[2021-07-20 20:33] patrickm02L commented on #6585
Updated the mobile view so that the Avatar stays in the header and the Help button moves to the drop down Menu. This allows for users to easily select the Avatar menu to make changes to their account or logout.

![iPhone 12 Pro Max – 3](https://user-images.githubusercontent.com/5566727/126390956-02a7fa45-de35-4395-9e65-ec3b99842bfd.png)
![iPhone 12 Pro Max – 5](https://user-images.githubuserconten

[2021-07-20 20:33] dianamartin commented on #6682
- Added new schedule group `CAM RD: 24/7 - (8700 & 8900)`
- Renamed `VISITOR - M-F 6am-6pm: (8700 & 8900)` to `NON-CAM RD- M-F 6am-6pm: (8700 & 8900)`

[2021-07-20 20:38] SubhaShroff commented on #1877
### Status:
Waiting for stakeholder feedback to Close.

[2021-07-20 20:38] SubhaShroff commented on #5875
### Status:
Waiting for stakeholder feedback to Close.

[2021-07-20 20:52] SubhaShroff commented on #1802
@Nadin-Nader As I was verifying, I realized the Bond/Insurance info validation is actually in Issue code. If I am not wrong, RW TURP can get activated with payment. So when the user tries to pay fee, it calls  issue procedure that will do validations.

So, please let me know, how you want this to be taken care.

[2021-07-20 20:54] SubhaShroff commented on #2397
### Status:
Waiting for feedback to move to TEST.

[2021-07-20 20:55] SubhaShroff commented on #4460
### Status:
PROD deployed 4 days ago.

[2021-07-20 20:56] SubhaShroff commented on #5506
### Status:
Waiting for UAT happen.

[2021-07-20 21:15] andrewshensky opened #6725 "Change Ownership of Story for User Edits"

[2021-07-20 21:15] #6725 closed

[2021-07-20 21:25] andrewshensky commented on #6424
CTM has now published a new locator. A separate issue #6716 has been created to track testing of the new locator in the AGOL Dev environment.

[2021-07-20 21:25] #6424 closed

[2021-07-20 22:51] amenity commented on #6674
Good call. I think "Role" would be useful though.

[2021-07-21 00:32] johnclary commented on #5394
We have a contract! We're now paying through direct fund transfer. I need to submit our sales tax exemption info. Submitted a request for the latest documentation to our accounts payable.

[2021-07-21 14:12] Nadin-Nader commented on #2397
@SubhaShroff i reviewed the demo you sent and it looks good. lets move this along

[2021-07-21 14:16] dianamartin commented on #6678
@TracyLinder FYI: The user checked in this morning

[2021-07-21 14:58] atdservicebot opened #6726 "BUG REPORT: Problems Editing Points in MOPED"
Moped

Bugs to report from self-guided walkthrough:
2) Edit Map Information
 - Had trouble with editing points, making square bigger.

Otherwise worked great!

https://mobility.austin.gov/moped/projects/49?tab=map

Internet Browser: Chrome

Dan H.

Request ID: DTS21-102305

[2021-07-21 15:01] Nadin-Nader commented on #6627
Created the TASK for Neil to add Tony to the Project Dox access and sent Neil an email; Closing card

AMANDA V6 and V7 accounts have been created.

[2021-07-21 15:01] #6627 closed

[2021-07-21 15:05] patrickm02L commented on #6503
We've consolidated the research from the PIO interviews into a doc for ease consumption. The doc draws out the finding from the interviews and organizes them into Themes and Insights, and groups supporting quotes from the Interviews.

[Mobility Project Viewer Summary for PIO Interviews](https://docs.google.com/document/d/1P8A4ocvQaGApe-_CKXhMvNTeYrguflOj7-xR6HHIRIE/edit?usp=sharing)

[2021-07-21 15:13] dianamartin commented on #6548
# Diana's Notes
- Steven is only data manager
- Only person doing physical counting, back-ups: check-in/check-out

# Pain Points
- Daily: checking in and checking out and purchasing additional order (1/4 of his day)
- 2-3 day physically counting, creating report
- Better way to input the systems
- Paper log sheets and enter into Excel

## Summary - _Transactions_
- Didn't have an inventory system

[2021-07-21 15:36] patrickm02L commented on #6506
We've created a new color scheme for Moped that could be adopted to the new DTS Web Style Guide. Rather than reinvent the wheel with what I proposed earlier, I think we should use the colors described in the following issue. https://github.com/cityofaustin/atd-data-tech/issues/6712

[2021-07-21 15:42] TracyLinder commented on #4255
No issues have been reported to-date. Closing.
**Good work team**

[2021-07-21 15:42] #4255 closed

[2021-07-21 15:42] patrickm02L commented on #6589
Usability Test for v.0.7.0

[Recordings](https://web.microsoftstream.com/channel/a5423c36-f8ff-42ee-84c8-f074e1bebcbd?referrer=https:%2F%2Fapp.zenhub.com%2F)
[Script, Guide, and Notes](https://drive.google.com/drive/folders/1WH2a_0p-6_83aAUQ86ZIQyKr130E9kMz)

[2021-07-21 15:54] TracyLinder commented on #1802
**Status:**
In development, pending stakeholder feedback. Currently in DEV.

[2021-07-21 15:56] vschandramouli commented on #6249
Currently reaching out to department heads notifying them of permission changes. Once they are informed, will upload the list to this ticket so permissions can be modified.

[2021-07-21 15:58] TracyLinder commented on #6166
**Reprioritization:** Due to FY22 Fee update workload, this is being moved to the backlog. I'll also remove Sree from Assigned To.

[2021-07-21 15:59] moorerst commented on #6548
Showed Steven some examples of other inventory systems

Next steps:

- continue discovery of Parking Meter asset spreadsheet (schedule meeting)

- Steven will think about other features, reporting that would be helpful

- After we complete our discovery we'll have another builder huddle to determine possible phases of the project

[2021-07-21 16:10] moorerst commented on #5884
next meeting scheduled 8/2

[2021-07-21 16:10] TracyLinder commented on #6321
@Nadin-Nader I'm speaking w/ Paloma about this and there's concern about private contractors being able to view this info during the portal application. We may need to update AC to say "Do not show info on application if subtype is private contractor". Let's talk about this.

[2021-07-21 16:14] #6700 closed

[2021-07-21 16:38] TracyLinder commented on #6565
@vschandramouli @Nadin-Nader
I just got clarification on this from stakeholders. We don't have the correct AC on here; I will schedule a mtg to discuss.

[2021-07-21 16:38] TracyLinder commented on #6564
@vschandramouli @Nadin-Nader
I just got clarification on this from stakeholders. We don't have the correct AC on here; I will schedule a mtg to discuss.

[2021-07-21 17:11] johnclary commented on #3974
FWIW @dianamartin and I have been working with Renee to propose some technical changes to the way the signal lifecycle workflow is managed in the Data Tracker. [These slides](https://docs.google.com/presentation/d/1sqqugoSPbSnINWnrhULs4szBu9VUHbwXPGKMqTWK-HI/edit#slide=id.gdba6a68970_0_0) might be helpful.

[2021-07-21 17:17] johnclary commented on #4298
Yes, although onboarding to the Knack services ecosystem is not small. Up to y'all.

[2021-07-21 17:24] jaime-mckeown opened #6727 "Issues logging into AGOL/Pro account - Orlando"
Orlando needed some assistance for how to login to AGOL/Pro account.

[2021-07-21 17:24] #6727 closed

[2021-07-21 17:25] #6703 closed

[2021-07-21 17:32] SubhaShroff commented on #2397
@Nadin-Nader  The code is already in place in TEST and I retested it for EX & RW TURP. Its ready for your UAT.
12658729  EX
12602795 RW TURP

[2021-07-21 17:34] johnclary commented on #6637
The street segment IDs are actually already in the [markings jobs layer](https://austin.maps.arcgis.com/home/item.html?id=a9f5be763a67442a98f684935d15729b#data) on AGOL. However, they are stored in a format that includes the street name. So they would need to be parsed in PowerBI from a string that looks like this:
[code]

We do have the `ROAD_CLASS` attribute Knack, so we should be able to add th

[2021-07-21 17:50] johnclary commented on #5394
I submitted our sales tax exemption info. We did it!

[2021-07-21 17:50] #5394 closed

[2021-07-21 17:59] johnclary commented on #6714
We discussed this with staff today and agree it would be valuable. Ray/Johnny to send a few sample images and will do the implementation. Leaving in backlog until grooming inventory issues.

[2021-07-21 18:01] johnclary commented on #6712
Colors look great to me. You could search the repo for use of the dark style.

[2021-07-21 18:03] Nadin-Nader opened #6728 "BUG: ROW Performance Measure Reports pulled for same date range are reflecting different permit numbers (On PROD🎉🎉)"
BUG: ROW Performance Measure Reports pulled for same date range are reflecting different permit numbers

**DTS Manager:** Nate
**Stakeholders:** Paloma, Ryan, Kim, Darren, Blake

![ROW Performance Measure.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/131939ad-78e5-4965-8237-6c04bc10a98f)

[2021-07-21 18:06] SubhaShroff commented on #5142
@Nadin-Nader SCTASK0153583 is submitted for DEV deployment.

[2021-07-21 18:06] #6652 closed

[2021-07-21 18:13] #6649 closed

[2021-07-21 18:15] ChrispinP commented on #1895
When I migrated the app, the conditionals on TCP Status were updated so the latest Submission Status does update the TCP Status aside from Rejected and Returned where all submissions must be set to those statuses for it to update the TCP Status.

I dont think any work is needed on this and we do plan on removing these conditionals eventually in the future so that statuses update based on workflow

[2021-07-21 18:17] moorerst commented on #5884
@dianamartin set up follow up meeting with stakeholders

[2021-07-21 18:22] ChrispinP commented on #6071
@dianamartin we completed this correct?

[2021-07-21 18:22] johnclary commented on #6637
From Susanne,

[2021-07-21 18:22] #6636 closed

[2021-07-21 18:25] ChrispinP commented on #3880
This was completed, SSO is enabled for ATD Forms now

[2021-07-21 18:25] #3880 closed

[2021-07-21 18:26] ChrispinP commented on #4170
@johnclary can this be closed or does this have a dependency?

[2021-07-21 18:26] dianamartin commented on #6071
@ChrispinP I feel like this is DUP, want to check if we had a different one?

[2021-07-21 18:27] Nadin-Nader commented on #6388
**Status:**
Waiting on Response from George about deployment

[2021-07-21 18:28] amenity commented on #6721
@dianamartin - please follow up with Christina to get specifics on the use case.

[2021-07-21 18:29] johnclary commented on #6676
@chiaberry See also #3114. There is already an [ETL in place](https://github.com/cityofaustin/atd-knack-services/blob/37aa667e17d265ffcaa3568587cf470ace55da8d/services/config/knack.py#L140) to publish this data to AGOL. Happy to discuss.

[2021-07-21 18:32] #5941 closed

[2021-07-21 18:33] ChrispinP commented on #6662
#6615 has been resolved, closing

[2021-07-21 18:33] #6662 closed

[2021-07-21 18:34] #6366 closed

[2021-07-21 18:34] dianamartin commented on #6366
I talked to the stakeholders on 7/14 about OneDrive v. Ms Teams Photo/Video. They seemed to like the OneDrive approach and we were going to explore MS Photos to test the slideshow functionality.

Recommendation:
- Stakeholders to create folder in existing SharePoint Sign and Markings Document Library
- Share with all SMB technicians
- Go through training with SMB technicians
- Assist with anything

[2021-07-21 18:34] #6098 closed

[2021-07-21 18:34] amenity commented on #4383
@johnclary - will you please update Github issues and schedule demo w/ Renée and Jen.

[2021-07-21 18:40] ChrispinP commented on #6463
Based on Technical Review, we updated the language a bit more and warning messages.

[2021-07-21 18:40] #6463 closed

[2021-07-21 18:40] Nadin-Nader commented on #6718
After researching on TEST, i found that the only difference between Alison and Leslie (the mirrored user) was that Alison had 13 button permissions and Leslie had 96/ I went ahead and copied over the missing button permissions to Alison's profile, added the UPROD for the automation to update PROD tonight at 630pm.
I will send an email to Alison informing her of this.

I will close once Alison veri

[2021-07-21 18:44] Nadin-Nader commented on #6718
Email to Alison:

**Status:**
Waiting on AMANDA profile update to run and Alsion to log in and verify

[2021-07-21 18:45] amenity commented on #5934
@johnclary - ping

[2021-07-21 18:46] Nadin-Nader commented on #6388
@Sreelatha-BlazeKannan spoke to George and this has been deployed to TEST. Can you UAT and let me know if you are good with the changes so i can let Maria know to test on TEST

[2021-07-21 18:48] dianamartin commented on #5987
Reminder: Anything that is "Unknown" is now "OK". John updated the script.

[2021-07-21 18:48] amenity commented on #5987
https://github.com/cityofaustin/atd-data-publishing/pull/294/commits/2f18538a2f3f9520a54103db064eef5fd359a187

[2021-07-21 18:49] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan this has been deployed to DEV. Please UAT

[2021-07-21 19:00] Nadin-Nader commented on #4460
Email sent to Paloma and Kim:

[2021-07-21 19:00] #4460 closed

[2021-07-21 19:01] moorerst commented on #3389
@moorerst in the near future set up a follow up meeting to discuss the Secondary Employment Acknowledgement Form to Knack. Also discuss the report issue and the email notification issue if they are not resolved.

[2021-07-21 19:06] dianamartin commented on #6071
Found it, this is a DUP. Closing bc we did it on #6443

[2021-07-21 19:06] #6071 closed

[2021-07-21 19:19] #6253 closed

[2021-07-21 19:25] sergiogcx commented on #6601
After speaking with @patrickm02L about design specifics, we are going to settle with this for now:

![web_1920_____4.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/d8c275bd-7d3e-4081-9e3f-a10e961f7769)

[2021-07-21 19:51] TracyLinder commented on #1802
@TracyLinder update w/ new AC: Move the validation from the permit issuance process, and to the approved attempt on 50520 TURP Review process.
<img width="431" alt="Screen Shot 2021-07-21 at 2 49 46 PM" src="https://user-images.githubusercontent.com/49930868/126551117-bcbb3742-4b2d-48e2-a044-9673ba629d8c.png">

[2021-07-21 19:52] TracyLinder commented on #6255
Activate upon payment features on TURP are being updated on #1802.

[2021-07-21 19:53] TracyLinder commented on #4945
Closing this util a need for more research is identified.

[2021-07-21 19:53] #4945 closed

[2021-07-21 20:04] TracyLinder opened #6729 "Project Sponsor Info Update on UC Folder"
From #6051

**Project Sponsor Info update Acceptance Criteria:**
- System should display Project Sponsor Info field (76765) in UC folders.
- The options for the Project Sponsor Info field must be same as the list provided in #2397 .
- The Project Sponsor Info field should be marked Required for Insert and Required for Issue in Back Office (Mandatory for creating application and Validated during Fo

[2021-07-21 20:05] TracyLinder commented on #6051
![Screen Shot 2021-07-21 at 3.04.47 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/f916cecb-f4a5-416e-baa8-e5d3e4d87f0c)

[2021-07-21 20:08] TracyLinder commented on #6051
@vschandramouli or @Nadin-Nader can you please update the AC on this to include if the info should be mandatory for portal, or have any validations against it?

[2021-07-21 20:14] TracyLinder commented on #2396
**Putting this back to the backlog to reprioritize on FY22 fee updates.

[2021-07-21 20:17] TracyLinder commented on #4025
**Update**
- I'm removing this from the FY22 fee project because it's not MVP
- The AC for this was written over 9 months ago. I think we should revisit & do another round of scoping/discovery.
- Moving this to Needs Scoping

[2021-07-21 20:20] TracyLinder commented on #6322
**Update:**

- I'm moving this On Deck so it can be assigned to Subha or Sree, and they can begin their analysis.
- Development should not start until review of the analysis w/ BA.

[2021-07-21 20:20] SubhaShroff commented on #5142
@Nadin-Nader The ticket is DEV deployed. I tested it and looks good.

![image](https://user-images.githubusercontent.com/51680715/126554519-e03b461e-5d4c-417a-a2c8-0025aefa347b.png)

[2021-07-21 20:22] TracyLinder commented on #6166
We need to turn this into an epic and slice up the work into smaller deliverables.

[2021-07-21 20:25] TracyLinder commented on #1972
This will not be prioritized/ranked until after FY22 Updates are complete #6103

[2021-07-21 20:31] TracyLinder commented on #1926
- AC need to be re-reviewed and updated if necessary.
- Moving back to needs scoping.

[2021-07-21 20:37] dianamartin commented on #6682
Created `NON-CAM RD - 8700 Only` Clearance group
- only has ability to access 8700

[2021-07-21 20:37] TracyLinder commented on #4026
**Update:**
- This needs to be an eipc, and the work needs to be sliced up into smaller issues.
- Moving this to Needs Scoping until that's done.

[2021-07-21 20:38] dianamartin commented on #6660
Created other issues for follow-up actions, closing

[2021-07-21 20:38] #6660 closed

[2021-07-21 20:39] dianamartin commented on #6692
Created follow-up issues for to do AMD Dashboard discovery on what AMD has already configured. Task is to connected using OData link to Open Data dataset and PowerBI before meeting.

[2021-07-21 20:43] dianamartin commented on #6692
Lance to email us details of what their dashboard needs are:

Below is a summary of the report we wish to create with links to examples.

## AMD Device Status Report – Power BI
- Detection
  - Source: Data Tracker
  - Example: here
  - Goals:
    - Display detector data by location
    - Measure percent of overall detector status
    - Measure percent of intersections with all detectors working

[2021-07-21 20:54] amenity commented on #6622
Display in menu
- Shows compact input field
- Expands when activated - see https://material-ui.com/getting-started/installation/

Functionality
- Searches all projects - same as current search
- ordered by modified date, descending
- Hitting return does nothing
- Displays 5 results with a "more results" hyperlink at the bottom of the dropdown to projects page with the users' search files

[2021-07-21 21:00] dianamartin commented on #6721
Jesse request
 - New Work Order button to generate from Sign Fabrication

## Alternative Method
- Easy way to have sign tech create work from Sign Fabrication page bc Sign Assigners usually create the sign then hand off to Sign Tech to install. Supervisor would like to know which work orders originated from Sign Fabrication and to easily locate those.

## Proposed Ideas
Sign Fabrication page, have

[2021-07-21 21:04] amenity opened #6730 "[Enhancement] Track who created a project"
As a Moped user, I need to know who created a project and search for projects based on the creator.

Currently, the only way to see who created a project is to check the activity log. However, we do have an `added_by` column in the `moped_project` table. It is not being used.

1. Add a nullable foreign-key constraint from `moped_project.added_by` against `moped_users.user_id`. On delete, `SET NULL

[2021-07-21 21:05] TracyLinder commented on #6729
### My Notes

- The info we add will need to be the same we implemented on #2397
- Do we need to remove any existing project sponsor type fields from the UC when we add this one?
- I'm assuming it should be added to portal (is it a mandatory application info?)
- Should this field be validated in any processes or folder issuance?

**This needs to be** assigned to Vish for scoping & AC.

[2021-07-21 21:06] frankhereford commented on #6363
During the grooming meeting today, this issue was identified as representing a task which Lewis has on my task list as a relatively high priority. Accordingly, I believe this is something that I will be able to work on in the next two weeks.

For a little background, in the recent past, the VZ group requested a data feed about traffic related calls that the fire department responds too. We did not

[2021-07-21 21:07] TracyLinder commented on #6203
### 7/23

**Agenda**
- Should #6279 be included in this projejct?

[2021-07-21 21:07] dianamartin commented on #6720
- Talked to Christina and she said just to add the `Assigned To` field

[2021-07-21 21:12] atdservicebot opened #6731 "Testing new application select options ;)"
Transportation Development Services (TDS)

Testing new application select options ;)

John C.

Request ID: DTS21-102310

[2021-07-21 21:15] johnclary commented on #6731
@ChrispinP @TracyLinder the TDS service request is good to go :)

[2021-07-21 21:15] #6731 closed

[2021-07-21 21:19] johnclary commented on #5934
Done. I added:
- Transportation Development Services (TDS)
- Parking Enterprise Portal
- Human Resources
- Shared Mobility Operations
- Right-of-Way (ROW) Portal
- Residential Parking Permits (RPP)

[2021-07-21 21:19] #5934 closed

[2021-07-21 21:23] atdservicebot opened #6732 "Testing new shared mobility app select option :)"
Shared Mobility Operations

Testing new shared mobility app select option :)

Flexible  — An extended timeline is OK

John C.

Request ID: DTS21-102315

[2021-07-21 21:23] atdservicebot opened #6733 "Testing new ROW portal app select option :)"
Right-of-Way (ROW) Portal

Testing new ROW portal app select option :)

Internet Browser: Internet Explorer

John C.

Request ID: DTS21-102320

[2021-07-21 21:24] atdservicebot opened #6734 "Testing new parking enterprise app select option :)"
Parking Enterprise Portal

Testing new parking enterprise app select option :)

Flexible  — An extended timeline is OK

John C.

Request ID: DTS21-102325

[2021-07-21 21:25] frankhereford commented on #6395
@patrickm02L I'm rereading this after finding it on zenhub.

This issue is addressed by the [merged PR 1011](https://github.com/cityofaustin/atd-vz-data/pull/1011), and I believe is a candidate to be closed either now or when 1.21.0 is pushed to production.

[2021-07-21 21:25] #6732 closed

[2021-07-21 21:25] atdservicebot opened #6735 "Testing new HR app select option :)"
Human Resources

Testing new HR app select option :)

Internet Browser: Internet Explorer

John C.

Request ID: DTS21-102330

[2021-07-21 21:25] atdservicebot opened #6736 "Testing new RPP app select option :)"
Residential Parking Permits (RPP)

Testing new RPP app select option :)

Internet Browser: Safari

John C.

Request ID: DTS21-102335

[2021-07-21 21:25] #6733 closed

[2021-07-21 21:25] #6734 closed

[2021-07-21 21:26] #6735 closed

[2021-07-21 21:26] #6736 closed

[2021-07-21 21:42] amenity opened #6737 "Update Moped "Styles" page with new colors"
Current page: https://moped.austinmobility.io/moped/dev/devias

- Change url to `/dev/styles`
- Change page title to “Moped Styles”
- Update with new colors from #6712

[2021-07-21 21:43] Nadin-Nader commented on #5506
@SubhaShroff Ryan has approved the body of the email.

## Approved for PROD Deployment🙌🎉

[2021-07-21 21:48] amenity commented on #6697
Thanks @chiaberry for getting clarity on this:

@jgabitto , moving this to "Blocked".

[2021-07-21 22:02] amenity commented on #6460
Dupe!

[2021-07-21 22:02] #6460 closed

[2021-07-21 22:02] amenity commented on #6460
Of (#6713 )

[2021-07-21 22:04] Sreelatha-BlazeKannan commented on #5576
@Nadin-Nader , @TracyLinder  -

@Nadin-Nader,

As we discussed I will continue to display in the summary report both submitted and issued counts,  though there is redundancy in data. i.e., submitted record (in date) has both in date and issued date then the record will get counted in both submitted as well as in issued.

I need one more clarification, before sending the DEV commit.
Can I suppress

[2021-07-21 22:17] dianamartin commented on #5884
Closing, created new issues for follow-up actions

[2021-07-21 22:17] #5884 closed

[2021-07-21 22:19] dianamartin commented on #6721
#### STREET AND BRIDGE OPERATIONS - PAVEMENT MARKING REMOVAL COORDINATION FORM

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b11c67c1-c8d5-4656-85ea-19112c672a16)

[2021-07-21 22:22] SubhaShroff commented on #5506
@Nadin-Nader  PROD deployment request is submitted - SCTASK0153691.

[2021-07-21 22:24] dianamartin opened #6738 "[Meeting] 311 SR Paging Changes in 311 --> Knack w/ SMB"
Meeting scheduled 7/26

### Objective
We are discussing future changes regarding 311 SR paging. The 311 system will no longer be accepting calls to turn off pages, so we will have Knack handle the action to turn off pages.

### Participants
Lauren, Christina, Jesse, Chris, Cathy, John, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49K

[2021-07-22 01:26] johnclary opened #6739 "[BUG] Duplicate inventory item in Data Tracker"
Ronnie identified a duplicate item in the Data Tracker (550-85-590023). It appears that the integration created the item twice when Johnny P created it on 6/28.

[2021-07-22 01:27] johnclary commented on #6739
I was unable to identify with certainty what caused the issue, but I did notice that we did not have any "Must be unique" rules set for the stock number field in the Data Tracker. I activated that and it should prevent further issues like this.

My email to Ronnie and colleagues:

[2021-07-22 01:27] #6739 closed

[2021-07-22 03:17] amenity commented on #6726
@patrickm02L @janetchuhl Data point for your usability testing synthesis!

[2021-07-22 03:20] #6726 closed

[2021-07-22 03:21] amenity commented on #6726
Teams'ed Dan:

    So far, we're drawing (har har) design improvements from Google's MyMaps: https://www.google.com/maps/d/u/0/
    Would be curious to know, if you have a chance, what you think of the point editing there

[2021-07-22 03:44] amenity commented on #6485
[CTM help ticket](https://atx.service-now.com/sp?id=ticket&table=incident&sys_id=a8521f141b2df410f9edc8451a4bcbc9). Have also asked Scott for help.

[2021-07-22 04:53] amenity commented on #6480
NW
-Needs to be one to many (select mutiple). This would be somewhat adequate for minimal funding tracking but more specific tracking / forecasting e.g. source, FDU, FDU setup status, $$ commitment / planned amounts will soon be necessary

-These are also meant to be shorthand/abreviated tags that are easy to digest in a list but also having the long form / description for clarity (e.g. a hover ov

[2021-07-22 05:25] amenity commented on #1808
6/26 Meeting
_Megan B, Tina VW, Mark C, Christopher C
Amenity + Janet_

-  Who is looking at the site --- analytics? What type of feedback have we received from the public
    -   Google Analytics - not super detailed
    -   Can tell when ATD promotes something; get traffic spikes and then contact form (goes
    -   Going live with all-capital, from just bond info, data quality standards weren't

[2021-07-22 05:25] #1808 closed

[2021-07-22 05:25] amenity commented on #1808
@janetchuhl - feel free to add notes !

[2021-07-22 05:37] amenity commented on #6256
Should be full width, stick to the top of the top menu:

https://user-images.githubusercontent.com/1463708/126593784-39de6ca8-e900-4448-b11c-881193a243b4.mov

https://user-images.githubusercontent.com/1463708/126594102-8376de41-8dc3-4306-9984-333407d4dd0e.mov

[2021-07-22 13:57] jaime-mckeown opened #6740 "New AGOL User in TED - Cody"
Cody could not access Web Maps/Apps, needed new account configured.

[2021-07-22 13:57] jaime-mckeown commented on #6740
Configured account and added to groups.

[2021-07-22 14:00] janetchuhl commented on #6708
Scheduled ideation session: 8/2 Mon 8-10am

[2021-07-22 14:15] SubhaShroff commented on #6401
@Nadin-Nader  SCTASK0153818 is submitted for DEV promotion.

[2021-07-22 14:32] jaime-mckeown opened #6741 "AGOL Privileges to COA Power User / Transfer Ownership of Content"
Nathan W. requested that he and Orlando be given Power User rights to have the ability to publish content to AGOL.

[2021-07-22 14:33] jaime-mckeown commented on #6741
- Submitted CTM Request for Nathan
- Asked about Orlando's AGOL experience before upgrading his account
- Asked about Dylan's content again

[2021-07-22 14:54] ChrispinP commented on #6285
Messaged Knack and they have reported back that the [object Object] issue for saving emails into a short text field is currently a bug. Some saved values in the case log may be missing or appear not as expected until bug is resolved.

[2021-07-22 14:54] johnclary opened #6742 "Create rolling quantity on-hand report"
To assist Ronnie with inventory reconciliation, I created a script which creates a CSV of the rolling quantity-on-hand for all inventory items.

The output is attached (with some light formatting into XLSX format). Each row is a single transaction which shows the transaction amount and the resulting on-hand quantity. I included the date, txn ID, etc and can add additional fields if necessary.

[ru

[2021-07-22 14:56] johnclary commented on #6742
And here's the script:

[code]

[2021-07-22 14:56] TracyLinder commented on #6706
### Training Notes

[2021-07-22 14:58] ChrispinP commented on #6377
Documentation for ERD, Case Status automation, Emails, Customer Workflows, and Reviewer Workflows have been added and updated. Pending any further tweaks.

[2021-07-22 14:59] #6742 closed

[2021-07-22 15:03] jaime-mckeown commented on #6741
- Nathan verified Orlando's AGOL experience, submitted CTM Request
- Sent them directly to Ben so they get completed faster

[2021-07-22 15:06] patrickm02L commented on #6589
All of the In-Person Interviews have been conducted.

[2021-07-22 15:07] Nadin-Nader commented on #5576
Asked Darren and Ryan if they want it suppressed or to show 0.
**Status:**
Waiting on response

[2021-07-22 15:22] atdservicebot opened #6743 "Add additional options for "Scheduled Work" types on Data Tracker work orders"
Add to "Scheduled Work" options on https://atd.knack.com/amd#new-work-order/
- Installation - Detection - Radar (Joshil's request)
- Installation - Communication Equipment (Harrell)
- Misc - Communications (Harrell)

### Joshil's initial request

Add Installation - Detection - Radar as an option.

Be able to specify detection type to be installed.

Using Installation - Detection- Video and call it

[2021-07-22 15:24] Sreelatha-BlazeKannan commented on #5961
@Nadin-Nader , @TracyLinder - DEV UAT Completed for both EX & RW-TURP, Help text is appearing like below.

Ex: EX - 2021-103018 EX , RW-TURP - 2021-103022 RW
![image](https://user-images.githubusercontent.com/44907715/126664151-38007327-3be3-48f6-a743-69847d3484f6.png)

![image](https://user-images.githubusercontent.com/44907715/126664453-ef1fc006-2804-46d6-9b94-ecdc28c7d11a.png)

[2021-07-22 15:33] patrickm02L commented on #6705
Now that that all of the In-person interviews are complete. Lets do the following to get out findings:

- Create doc to captures the issues from the user tests
- Group observations where testers struggled by task
- Call out where in the videos those struggles happened
- Summarize the main issues with each task

For XD: Incorporate the issues for each task into the doc. Tests are still out until Fr

[2021-07-22 15:34] moorerst opened #6744 "Modify contact information in RPP"
Requested by Steve:
Can you please remove the contact info for Richard from the Knack website? and also add the contact info for John 512-974-1438 and email. In addition can you please put John's name first and my name second, as I will be handing over RPP duties to him. Our dept will be rotating duties going fwd fyi.

- [x] Update home page - remove Richard's info, add John's info ahead of Steve'

[2021-07-22 15:42] patrickm02L commented on #6708
Review [PIO Interview Synthesis](https://docs.google.com/document/d/1P8A4ocvQaGApe-_CKXhMvNTeYrguflOj7-xR6HHIRIE/edit?usp=sharing) doc internally, send out to everyone who's participate in the Ideation no later than Thursday.

@amenity would you take a look at the synthesis and add comments to the doc by Monday, July 26th.

[2021-07-22 15:44] johnclary commented on #1099
Emma is working to re-post the position. I asked her to include our entire "notes to applicants" section, was excluded last time.

[2021-07-22 15:57] amenity commented on #6708
Will do.

[2021-07-22 16:01] atdservicebot opened #6745 "Copy July Vision Zero in Action schedules to for August"
Vision Zero in Action

I need to have DTS support to copy over the schedules for July (weeks of July 5, 12, 19, 26 in the app) into August and September. Repeat those four weeks in order to fill out the calendar through the end of September.  The current available shifts end after next week.

Soon — This week

7/27 could be a good day to aim for completing this, if possible, as we like to provide

[2021-07-22 16:31] jaime-mckeown commented on #6740
He also needed access to Mobility Bond Coordination Group to access a map.

[2021-07-22 16:31] #6740 closed

[2021-07-22 16:33] Nadin-Nader commented on #6718
Automation has ran and i have not heard back from Alison with any login issues. Closing card

[2021-07-22 16:33] #6718 closed

[2021-07-22 16:40] Nadin-Nader commented on #5142
@SubhaShroff looks good, lets go ahead and get this to TEST

## Approved for TEST deployment🙌🎉

[2021-07-22 17:06] atdservicebot opened #6746 "Add Project Connect and Other as Selectable Categories to Workgroups."
Transportation Development Services (TDS)

Please add "Project Connect" and "Other" as selectable categories to workgroups.

Please add "Project Connect" and "Other" as selectable categories to workgroups.

Picking wrong category for now.

As soon as possible

Sangeeta J.

Request ID: DTS21-102350

[2021-07-22 17:06] Sreelatha-BlazeKannan commented on #6388
@Nadin-Nader , @TracyLinder - Tested in TEST environment. Working as expected; ie.,Event Review process getting inserted automatically in RW- Street event folders

RW - Arterial/Collector - 12658766
RW - Neighborhood  - 12658768
RW - Safety Closure - 12658771

[2021-07-22 17:21] johnclary opened #6747 "[Service Requests] Add TDS as a workgroup option and rename github label to "TDS" instead of "TDSD""

[2021-07-22 17:30] johnclary commented on #6747
@ChrispinP this is done. would you test a new service request in ~10 minutes and confirm the github labels come through correctly?

[2021-07-22 17:31] ChrispinP commented on #6744
all 3 pages updated. complete

[2021-07-22 17:38] moorerst commented on #6744
@ChrispinP can you format the Payment Page phone numbers so they are not broken up?

![image](https://user-images.githubusercontent.com/56606465/126683727-b131452f-3002-4b97-84ce-f47bb68fd5ea.png)

[2021-07-22 17:43] chiaberry opened #6748 "WSOD error when downloading empty search results"
In moped, trying to download empty search results will trigger the WSOD.

to replicate:
1. in moped, search for a string that has no results ("asdflkj" works)
2. click the download button
3. sadness

The csv export code is in `GridTableSearch`

[2021-07-22 17:47] ChrispinP commented on #6744
Ive bumped the tab margin size down. How it shows is a bit dependent on your monitor size. For smaller screens it will break but for most desktops it should show as a single line now

[2021-07-22 17:50] ChrispinP commented on #6744
It breaks at about 730px now which is tablet size.

[2021-07-22 17:55] atdservicebot opened #6749 "This is a test"
Transportation Development Services (TDS)

This is a test

Soon — This week

Right meow

Chrispin P.

Request ID: DTS21-102355

[2021-07-22 17:56] #6749 closed

[2021-07-22 17:57] ChrispinP commented on #6749
This was a test, closing

[2021-07-22 18:01] ChrispinP commented on #6747
Test was successful, #6749 . Received email and ticket came in.

closing

[2021-07-22 18:01] #6747 closed

[2021-07-22 18:27] ChrispinP commented on #5133
Email rule setup for Mike. Updated Email workflow documentation accordingly

![image](https://user-images.githubusercontent.com/67915167/126690187-df699331-b0f4-42e3-8c14-284670293b44.png)

Ready to review

[2021-07-22 18:58] moorerst commented on #6744
@ChrispinP Thanks Closing issue

[2021-07-22 18:58] #6744 closed

[2021-07-22 19:09] moorerst commented on #6548
closing this issue. Builder huddle will be scheduled soon.

[2021-07-22 19:09] #6548 closed

[2021-07-22 19:16] dianamartin commented on #6609
Christina called me to help with Ramona being able to log into the HR app so she can fill out her TLC form. I checked the system and she's in there as first.last name and not with the "2" at the end. I had her test if she could log in, but she said that the system just looped her back to through the app.

I added the "2" and had her try again to log in, she was successful. I'm having her communica

[2021-07-22 19:16] #6609 closed

[2021-07-22 19:18] #6672 closed

[2021-07-22 19:28] SubhaShroff commented on #5142
@Nadin-Nader  SCTASK0153924 is submitted for TEST deployment.

[2021-07-22 19:31] dianamartin opened #6750 "[Meeting] Knack Certificate Update Planning"
Meeting scheduled for 7/22

### Objective
John D., Michael S. John C., Diana, Chrispin

### Participants

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team

[2021-07-22 19:41] dianamartin commented on #6750
# Diana Notes
- SSO Certs - expired
- Get them replaced in bulk

If we're going to need the existing metadata or just provide new metadata?
- M: each application has it's own metadata based on application ID
- Each app has own registration
- CTM uploads certificates there
- It didn't do anything under Enterprise Applications

- Metadata has cert embedded in it

Starting to see more of: 2 out of 15

[2021-07-22 19:43] jaime-mckeown opened #6751 "Street Closures Link to Full Web App still requiring login"
Let Maria know that the linked Web App on https://www.austintexas.gov/department/upcoming-street-closures is still requiring a login. We need to get this fixed.

[2021-07-22 19:51] ChrispinP commented on #6524
Met with CTM. Set meeting to test ATD Forms and Banners apps with new certificates tomorrow.

[2021-07-22 19:57] SubhaShroff commented on #5142
@Nadin-Nader  This is deployed in TEST and it looks good.

![image](https://user-images.githubusercontent.com/51680715/126701674-afabd374-fd26-40c2-998a-1b212104fe73.png)

[2021-07-22 20:01] jaime-mckeown commented on #6751
Maria need to replace Click here for a larger map on webpage with this link:
https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=38e264f174874197845e00afe37c6b84

[2021-07-22 20:09] Nadin-Nader commented on #5961
Paloma approved the changes all the way to PROD if it works on TEST but she would like to see if we can get the font on the second screenshot to match all of the verbiage.

Waiting on Sree's analysis of that to see how long it will take if possible.

[2021-07-22 20:13] #3660 closed

[2021-07-22 20:34] johnclary commented on #1808
Good info—thanks!

[2021-07-22 20:38] #6750 closed

[2021-07-22 20:41] jaime-mckeown commented on #6741
- Nathan wants Dylan's content transferred to Orlando's account
- I sent Dylan a list of all the content to check if any of the data could be deleted, received list back.
- Moved all content to be deleted under ATD Publisher under _To_Delete folder
- Can't change ownership of any content that is shared with a group with the update capability, emailed Nathan to see if I can remove the group in orde

[2021-07-22 20:42] amenity commented on #6712
@jgabitto, please also remove the override of the default background color. It's applied on `jss20`
![Screen Shot 2021-07-22 at 3 36 14 PM](https://user-images.githubusercontent.com/1463708/126706763-502321ac-47ec-4da2-a7eb-c336e5213879.png)

[2021-07-22 20:42] jaime-mckeown commented on #6741
![image](https://user-images.githubusercontent.com/48842809/126706944-cc83ff51-e46a-42a1-8e6d-c62f505a319c.png)

[2021-07-22 21:16] jaime-mckeown commented on #6698
- Added UC (Utility Coordination) to ATD Acronym List

[2021-07-22 21:16] #6698 closed

[2021-07-22 21:24] ChrispinP commented on #6746
TDS and Other are now selectable options for service request workgroups. Confirming that Project Connect is also needed.

[2021-07-22 21:56] dianamartin commented on #6745
- Export from `assignments`
- Filter "July after 4th, before 11th"
- Export csv
- Open, rename new week assignment
- Import in Test to see if successful
- Import in Prod
- then repeat...

Take first week and add 28 days
https://www.timeanddate.com/date/dateadd.html - 28 days
- Enter July 5, 12, 19...

July 5 - Aug 2
July 5 -
July 12 -
July 19 -
July 26 -

[2021-07-22 22:10] ChrispinP opened #6752 "[TDS] TIA Customer Survey"
Add a survey link to the Application Confirmation email for customers to answer a few questions about their experience filling out the TIA application. This would work similar to the survey for RPP.

- [ ] survey object
- [ ] survey fields: email, name, and 3-5 survey questions
- [ ] a page for us and PM's to view survey results

Should we also have a place/link for customer's to leave feedback fr

[2021-07-22 22:49] dianamartin commented on #6640
I'm completed all Field mapping for Parking Enforcement, Parking Meters, Dockless Micromobility and Signs
- Still have Markings to do (don't have access)
- Still have AMD to do (don't have access)

[2021-07-22 22:52] dianamartin commented on #6682
Showed Stephanie the system and updated all clearance groups

[2021-07-22 22:52] #6682 closed

[2021-07-22 22:52] dianamartin opened #6753 "Clean up PERSONNEL profiles in badging system"

[2021-07-23 13:05] #6693 closed

[2021-07-23 13:12] andrewshensky opened #6754 "Sync with PE to Demo Bike Rack Data Pull"
Scheduled for 9/16

[2021-07-23 13:16] andrewshensky opened #6755 "Respond to Banner Map Follow Questions/Map Update"

[2021-07-23 13:21] andrewshensky opened #6756 "Respond to Banner Map Follow Questions/Map Update"

[2021-07-23 14:11] jaime-mckeown commented on #6741
Asked Ben for help, luckily the Org Admin can move this data, waiting for completion of ownership change to Orlando.

[2021-07-23 14:11] andrewshensky opened #6757 "Publish Pecan Brook Drive and Crystalbrook Drive"

[2021-07-23 14:11] #6757 closed

[2021-07-23 14:56] ChrispinP commented on #5649
Sangeeta is happy with the enhancement, working as expected.

closing

[2021-07-23 14:56] #5649 closed

[2021-07-23 15:24] atdservicebot opened #6758 "Create a work order form for Street and Bridge Operations to submit request to signs and markings fo..."
Signs & Markings Operations

Create a work order form for Street and Bridge Operations to submit request to signs and markings following overlay, sealcoat, and utility cuts. This would be fix an old process of SBO sending requests to fix markings after utility cuts via an emailed notification form.

We'd like to standardize the process of SBO sending Signs & Markings work orders and make their pro

[2021-07-23 15:58] ChrispinP commented on #6611
Test records are now removed and the app is ready for go-live.

[2021-07-23 16:01] ChrispinP commented on #6586
Reviewed with Tracy and stakeholders, no issues. closing as complete

[2021-07-23 16:01] #6586 closed

[2021-07-23 16:02] ChrispinP commented on #6402
Reviewed with Tracy and stakeholders. closing as complete

[2021-07-23 16:02] #6402 closed

[2021-07-23 16:03] ChrispinP commented on #6495
closing as complete

[2021-07-23 16:03] #6495 closed

[2021-07-23 16:09] dianamartin commented on #6745
## Test Env
- 2672 records in DB
- 20 records importing
- Test successful, need to include Created Date or Created By to easily filter new records

## Prod Env
- 2655 records in DB
- - 20 records importing

[2021-07-23 16:19] amenity commented on #6713
@jgabitto it would be super helpful if you could show us the Material default typography so we can customize starting there instead of with the Devias specs.

Steps:
- Comment out lines 3 and 30 here: https://github.com/cityofaustin/atd-moped/blob/main/moped-editor/src/theme/index.js
- Go to the /devias page locally
- Copy/past into [this doc](https://docs.google.com/document/d/1aZFQOa75TNeXUZ3ptj

[2021-07-23 16:53] amenity commented on #6678
@TracyLinder is going to schedule a scoping meeting with Nelson in the next few weeks.

[2021-07-23 17:40] frankhereford opened #6759 "Lambda function responsible for associating crashes and locations not running"
The recent changes to the lambda function, https://github.com/cityofaustin/atd-vz-data/blame/master/atd-events/crash_update_location/app.py#L329, include the use of the assignment expression (walrus) operator. This operator was introduced in Python 3.8, however, the lambda stack currently runs Python 3.7.

Potential solutions include:

* Updating the deployment pipeline and related configurations

[2021-07-23 17:52] Nadin-Nader commented on #6401
@SubhaShroff Thus has been deployed to Dev by the DevOps Team. Please UAT

[2021-07-23 17:53] Nadin-Nader commented on #6401
## **Status:**

On Dev Waiting of Developer UAT

[2021-07-23 17:56] Nadin-Nader commented on #5506
## **Status:**
Waiting on DevOps to deploy to PROD

[2021-07-23 17:58] Nadin-Nader commented on #6388
@Sreelatha-BlazeKannan ok awesome, I will send an email to Maria and Laura asking them to UAT on TEST and get approval for PROD

[2021-07-23 18:02] amenity commented on #3974
Outdated-but-apparently-not-obsolete mockup:
![Screen Shot 2021-07-23 at 1 02 03 PM](https://user-images.githubusercontent.com/1463708/126822864-623bad05-533f-4056-8f85-cb9d420cb632.png)
([Balsamiq](https://balsamiq.cloud/senhupm/p9y6tuy/rA62F))

[2021-07-23 18:19] amenity commented on #6713
@patrickm02L - this may be useful to define the new system: https://material.io/design/typography/the-type-system.html#type-scale

[2021-07-23 18:23] amenity commented on #6708
@patrickm02L @janetchuhl - the synthesis doc looks great. Fantastic idea to put this together.

[2021-07-23 18:37] Nadin-Nader commented on #6388
email sent to Maria and Laura:

[2021-07-23 19:11] jgabitto commented on #6713
![image](https://user-images.githubusercontent.com/26661521/126830104-2d0fdf0c-5a05-4f5b-ada8-34d34e527b9a.png)

[2021-07-23 19:11] jgabitto commented on #6713
![image](https://user-images.githubusercontent.com/26661521/126830132-f7ceb355-42c6-4f7e-b414-b05fd69eeab8.png)

[2021-07-23 19:17] dianamartin commented on #6745
Emailed Lewis

[2021-07-23 19:30] chiaberry commented on #6676
@johnclary the ETL that is in place references different views and scenes then the ones Surbhi outlined in this document (https://docs.google.com/document/d/19C31MLIKiwFJobT8359sfJyYxHc0Mqa5v5_2jDXFUzQ/edit#) They are different sets of data, right? The existing ETLs use "scene_1249", but the ones in the doc use scene 1407 cc: @dianamartin

[2021-07-23 19:39] amenity commented on #6604
Flat tire:
[moped-flat.svg.zip](https://github.com/cityofaustin/atd-data-tech/files/6870877/moped-flat.svg.zip)
![Screen Shot 2021-07-23 at 2 39 05 PM](https://user-images.githubusercontent.com/1463708/126833018-c2d09f69-5b95-48ab-a7da-23790e30b95c.png)

[2021-07-23 19:44] jgabitto commented on #6713
![image](https://user-images.githubusercontent.com/26661521/126833455-c46e5208-411a-4048-b443-3ad1cbe1db9e.png)

[2021-07-23 19:49] dianamartin commented on #6676
@chiaberry @johnclary Surbhi made the API views under the "Private" not "Public", is that okay? the Scene 1407 is the page the other object tables were added to, so multiple tables on that page scene.

- High Level Dashboard Datasets for PowerBI - scene `1407`
  - work_orders_signs_markings_time_logs - scene_1407/views/`view_3516`/table
  - work_orders_signs - scene_1407/views/`view_3518`/table

[2021-07-23 20:03] alan-deanda opened #6760 "Re-size bike map exports"
After importing map assets into illustrator, it's clear the size we used is incorrect.
Need to change frame size for both sides of the map and re-export to AIX format.

[2021-07-23 20:06] chiaberry commented on #6676
I have been able to pull the records from knack -> postgrest for all of the views  and knack -> socrata for all of them except 3521/ markings jobs (troubleshooting that now)

[2021-07-23 20:16] atdservicebot opened #6761 "Gaps show in the components overview but not in the editing view"
Moped

Gaps showed in the components overview but not in the editing view. Check the project indicated in link and screenshot

No

https://mobility.austin.gov/moped/projects/52?tab=map

Internet Browser: Firefox

Nathan W.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/60fb23768dee6c001ecd941d/gapsincomponentmapping.png) (296.92kb)

Request ID: DTS21-10

[2021-07-23 20:19] dianamartin commented on #6745
I exported out all the Sunday in July and updated them to be for August.

Old Date | New Date | # Records
-- | -- | -- |
7/4 | Aug 1 | 3 records
7/11 | Aug 8 | 3 records
7/18 | Aug 15 | 3 records
7/25 | Aug 22 | 3 records
| | | **12 records**

2727 records in DB
12 records importing `8/1` `8/8` `8/15` `8/22`

[2021-07-23 20:35] ChrispinP commented on #6524
Sent list of apps we need Identity Provider certs for.

- [ ] ATD Forms (atd-forms)
- [ ] Street Banners (street-banners)
- [ ] ATD Visitor Sign In (atd-visitor-log)
- [ ] AMD Data Tracker (amd)
- [ ] Data and Technology Services (dts)
- [ ] Finance and Purchasing (finance-purchasing) / (finance-admin)
- [ ] Human Resources (hr)
- [ ] Parking Enterprise (parking-enterprise)
- [ ] ROW Portal (row)

[2021-07-23 20:44] andrewshensky commented on #6755
This issue is a duplicate of #6756

[2021-07-23 20:44] #6755 closed

[2021-07-23 20:45] #6690 closed

[2021-07-23 20:46] #6686 closed

[2021-07-23 20:49] ChrispinP commented on #6746
@johnclary confirmed with Sangeeta that they would like Project Connect added to the workgroup list.

[2021-07-23 20:53] Nadin-Nader commented on #5142
@SubhaShroff got approval from Jaclyn to send to PROD

## **Approved for PROD Deployment 🎉🙌‼**

[2021-07-23 21:07] atdservicebot opened #6762 "Populate fields in AGOL Feature Layer from Work Orders"
ArcGIS

Link: https://austin.maps.arcgis.com/home/item.html?id=a9f5be763a67442a98f684935d15729b

Feature service layer tables: "Data Tracker Signs Markings - signs markings materials" have fields STOCK_NUM and ATD_INVENTORY_ID with blank values

Request: Populate values for the columns

Flexible  — An extended timeline is OK

Susanne G.

[Attachment](https://api.knack.com/v1/applications/595d00ebd

[2021-07-23 21:09] ChrispinP commented on #6123
Updated PR #54 with updated code

[2021-07-23 21:09] #6123 closed

[2021-07-23 21:11] #6741 closed

[2021-07-23 21:12] jaime-mckeown commented on #6751
Created a new Full Version based on the Embed Version. Maria will need to update the website with the new link. Will send it to her next week when she is back in the office.
https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=5dc7783d5850460384960373a94b60b9

[2021-07-23 21:13] #6630 closed

[2021-07-23 21:15] jaime-mckeown commented on #6673
- I did not see any parking garages off Trinity in the COA Parking Garage data.
- Maria and I did a field check for the garages and where the entrance/exits are for the Pride/Waterloo Events on 8/14. Doing work in the Pride Issue.

[2021-07-23 21:15] #6673 closed

[2021-07-23 21:20] jaime-mckeown commented on #6691
Migrating from ArcMap to Pro 8/3-8/4:

- [ ] Sangeeta in TDS

[2021-07-23 21:21] jaime-mckeown commented on #6691
Migrating from ArcMap to Pro 7/27:

- [ ] Andres in AMD

[2021-07-23 21:29] jaime-mckeown commented on #6762
@amenity I looked into this in AGOL, and it looks like the change needs to come from Knack as this is the Work Orders Feature layer.

[2021-07-23 21:39] dianamartin commented on #6745
- 2739 records in DB
- 88 records importing `8/29 -9/25`

[2021-07-23 21:47] #6585 closed

[2021-07-23 21:54] frankhereford opened #6763 "Centerline crashes are not being associated to service road polygons"
Testing after the resolution of issue #6759 has revealed that crashes which have been geocoded to the centerline of level 5 roads which have a directionality indicated in the road name are not being associated to a location polygon, as would be expected based on this code: https://github.com/cityofaustin/atd-vz-data/blob/master/atd-events/crash_update_location/app.py#L329-L330.

[2021-07-23 21:55] frankhereford commented on #6763
My initial reaction was that there must be a logical problem in the python script that is responsible for this action, however, the script runs as expected when executed from the command line after being provided the required environment variables. Because of this, I would like to propose that we get on AWS and ensure that the script is running in that environment as we expect and that it's able t

[2021-07-23 21:58] frankhereford commented on #6759
A plan was adopted to update the runtime environment to python 3.8 which remediated the problem of using the := (walrus) operator and restored the lambda function to a running state. Because of this resolution, I am closing this ticket.

Testing of the function after it was brought back online resulted in the discovery of another issue, which is documented here in issue #6763, and which will be ma

[2021-07-23 21:58] #6759 closed

[2021-07-23 22:13] dianamartin commented on #6132
We have onboarded the fellows..closing

[2021-07-23 22:13] #6132 closed

[2021-07-23 22:18] dianamartin commented on #5448
Outstanding: `Custom SSO login buttons not rendering` #5925

[2021-07-23 22:27] dianamartin commented on #6240
@Nadin-Nader I assigned you in case you wanted to pick it up in the future

[2021-07-23 22:28] dianamartin commented on #6694
- I removed Surbhi's builder access to Knack apps, still have to go through every app to remove user accounts for her.
- I finished re-assigning GitHub issues that were Surbhi to me or unassigned them all together if it was a backlog "old" issue.

[2021-07-23 22:45] amenity commented on #6761
So strange! I can verify this is happening for me, too.

[2021-07-23 22:55] #5813 closed

[2021-07-23 23:24] amenity opened #6764 "Remove Devias overrides to default Material typography"

[2021-07-23 23:26] amenity opened #6765 "Adjust heading hierarchy in generated HTML to increase accessibility"
https://www.w3.org/WAI/tutorials/page-structure/headings/

Sitewide
- Replace `h2` page heading with `h1`

Project "Summary" tab
- Replace h4s with h2s

[2021-07-23 23:28] amenity opened #6766 "Define Moped typography styles"
- h1 --> 29px
- h2 --> primary blue, 25px
- h3 --> 20px
- h4 --> 16px
- h5 --> 14px
- h6 --> 12px

[2021-07-23 23:29] amenity opened #6767 "Implement new styles"

[2021-07-24 22:06] amenity opened #6768 "Add additional workgroups to Moped"
Create new table, `moped_department`
- Austin Transporation
- Corridor Program Office
- Public Works
- Other

Add lookup column to `moped_workgroup` to connect with `moped_department`.
- All the existing workgroups are in Austin Transportation

Add additional workgroups to `moped_workgroup` table and associate all workgroups to departments

**Public Works** department workgroups:
   - Urban Trails

[2021-07-24 22:11] amenity commented on #6768
@johnclary - I don't remember why we didn't include non-ATD workgroups from the beginning, but I think they'll be important for basic project analysis. If we need to differentiate ATD from PWD (not sure why we would?) then we could either add a new field, add another column to the workgroup table, or prefix the workgroup with `ATD` or `PWD`.

[2021-07-25 14:19] atdservicebot opened #6769 "Clean up the many KNACK entries for Albert R."
Human Resources

Clean up the many KNACK entries for Albert R. who was first hired as a temporary and is now Regular & reported to several supervisors

Soon — This week

Linda E.

Request ID: DTS21-102375

[2021-07-25 20:22] amenity commented on #6758
Scheduled scoping meeting for 7/29.

[2021-07-25 20:28] amenity opened #6770 "Replace Team member names/roles in the Projects table with avatars + tooltip"
![image](https://user-images.githubusercontent.com/1463708/126912548-47d8d71d-fcf3-463a-a9cd-80dac3d4dfe5.png)

[2021-07-25 20:41] amenity commented on #6496
@patrickm02L - Could we consolidate this issue with #6566? They both have important pieces of information about the same potential feature, right?

[2021-07-25 20:46] amenity commented on #6496
Or would "Activity Feed 2.0" work for the name of the epic, and it could include:
- #6566
- Enable search and filter on Activity Feed
- Improve readability of changelog entries

[2021-07-26 03:24] amenity commented on #6762
Thanks, @jaime-mckeown🙏

[2021-07-26 03:26] amenity commented on #6762
@johnclary any idea what size this should be?

[2021-07-26 14:48] chiaberry commented on #5253
@amenity This should be fixed because I added a permission check to the button when I moved it to the navigation bar

[2021-07-26 14:52] johnclary commented on #6762
hopefully a `2`. We will need to check the Knack views to verify if the columns are in that view. If they are, we will need to troubleshoot why the data is not flowing through to AGOL. My first guess would be a field name mismatch. Possibly a data type mismatch but that should throw an ETL error.

FYI that @chiaberry can size these as well 😎

[2021-07-26 14:55] atdservicebot opened #6771 "[URGENT] Need to update Ramona A.'s account email"
Signs & Markings Operations

Need to update Ramona A.'s account email and change from r.a2 to r.a

Urgently — Today or tomorrow

Christina T.

Request ID: DTS21-102380

[2021-07-26 14:58] amenity commented on #6769
@dianamartin - let me know if you don't have time for this one this week and I'll reach out to Linda. Thanks!

[2021-07-26 14:58] moorerst commented on #6607
follow up meeting scheduled for 8/9

[2021-07-26 14:58] johnclary commented on #6768
Sounds good to me :)

[2021-07-26 14:59] moorerst commented on #6608
follow up meeting scheduled for 8/9

[2021-07-26 14:59] moorerst commented on #3389
follow up meeting scheduled for 8/9

[2021-07-26 15:03] Nadin-Nader commented on #5576
@Sreelatha-BlazeKannan I spoke to Ryan Mooney and he said that he will defer the decisions to us. So if it makes it cleaner, lets suppress. My only concern is that they may want to know what has a 0 value later

[2021-07-26 15:04] dianamartin opened #6772 "[Meeting] 311 SR Paging Changes in 311 --> Knack (SMB: Signs & Markings)"
### Objective
We are discussing future changes regarding 311 SR paging. The 311 system will no longer be accepting calls to turn off pages, so we will have Knack handle the action to turn off pages.

### Participants
Chris S., Lauren, Cathy, Jesse, Christina

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxR

[2021-07-26 15:24] amenity commented on #6770
@johnclary @patrickm02L - curious what your thoughts are on this. I could see it also make the page less "scannable".

[2021-07-26 15:29] dianamartin commented on #6772
CURRENT PROCESS
- Paging happens from 311
- System pages technician
- Technician calls - 311 call back number 974-2000
- Agent closed paging activity
- Next Day, Assigners assign to Technician
- Technician fills out SR ticket/WO

PROPOSED PROCESS (for only)
- SR page showing NEW & TRAFFIC EMERGENCY SRS - Not assigned to particular technician
- Next Day, Assigners assign to Technician (Call Back)
-

[2021-07-26 15:41] dianamartin commented on #6769
@amenity I wanted more clarity from Linda on what "Knack entries" she's referring to?

[2021-07-26 15:42] dianamartin commented on #6738
DUP of #6772

[2021-07-26 15:42] #6738 closed

[2021-07-26 15:43] dianamartin commented on #6692
Closing, created follow-up meeting with Annie to discovery AMD's dashboards

[2021-07-26 15:43] #6692 closed

[2021-07-26 15:47] moorerst commented on #6491
sent email to stakeholders on 7/21 suggesting the following timeline:
We would like to target the following timelines:
week of Aug 2nd for completion of the petition language
week of Aug 9th for training
Let me know if these timelines are reasonable for you.

[2021-07-26 15:59] amenity commented on #6769
Teams'ed LE:

[2021-07-26 16:02] amenity commented on #6762
@dianamartin - when you get a chance will you check that the Knack columns are in this view and verify the field names?

[2021-07-26 16:17] atdservicebot opened #6773 "Participant Evaluation Form for the ATD Supervisor Course"
Other / Not Sure

Participant Evaluation Form for the ATD Supervisor Course

Flexible  — An extended timeline is OK

August 20, 2021 - the attached draft needs changes as additional content has been added

Linda E.

[ATD Supervisor Course Evaluation.docx](https://github.com/cityofaustin/atd-data-tech/files/6886720/ATD.Supervisor.Course.Evaluation.docx)

Request ID: DTS21-102385

[2021-07-26 16:25] patrickm02L commented on #6705
Send out to John, Amenity and Patrick by Tuesday, 7/27/21 for review.

[2021-07-26 16:29] patrickm02L commented on #6708
Created a plan outline and choose Brain Writing Exercise for next week with @janetchuhl. As prep, Janet will send the PIO Interviews Insights and Themes Doc, as well as ask everyone to RSVP by Thursday, 7/29/21.

Janet and Patrick will meet on 7/29/21, to walk through agenda, and do a dry run of the Ideation Session actives.

[2021-07-26 16:29] dianamartin commented on #6771
Messaged Christina bc when I went into the system Ramona had 2 accounts. She said she'd call me after her meeting this morning.

[2021-07-26 16:33] amenity opened #6774 "Redirect Moped root URL to `/projects`"
Right now the project listing displays on both `/moped` and `/moped/projects`. This produces two bugs:
- #6550
- `Projects` menu item is not `:active` even though the user is looking at the content of the pro
![Screen Shot 2021-07-26 at 11 25 22 AM](https://user-images.githubusercontent.com/1463708/127025398-b4a910be-1b69-41e8-8b87-6bdb50546e73.png)
jects page

[2021-07-26 16:46] dianamartin commented on #6720
- Created `Assigned To` connection to `Accounts`
- Add "Assigned To" to the "Design Review" page
  - filter "User Role" is active
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/e409b2d3-ca96-43f4-babf-8426a0fc7e54)
- Add "Assigned To" view Sign Fabrication Details
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b858af02-6330-4a3f-a50e-74475040

[2021-07-26 16:46] jaime-mckeown opened #6775 "AMANDA Street Closures: 7/26/21"
- Update AMANDA Street Closures feature layer/map
- Update Active Parking Permits feature layer

[2021-07-26 16:47] jaime-mckeown commented on #6775
Updates complete.

[2021-07-26 16:47] #6775 closed

[2021-07-26 17:18] amenity commented on #6737
@jgabitto - feel free to resize

[2021-07-26 17:19] amenity commented on #6765
This will be covered in #6767

[2021-07-26 17:19] #6765 closed

[2021-07-26 17:29] Nadin-Nader commented on #5506
Sent Deb a chat to see what the status of this is.

**Status:**
Waiting on Deployment to PROD and response from Deb

[2021-07-26 17:39] Nadin-Nader commented on #6388
**Status:**
Waiting on Maria to get back from Leave on 7/27/21/ Laura is on Maternal Leave

[2021-07-26 18:04] #5568 closed

[2021-07-26 18:05] #6712 closed

[2021-07-26 18:06] TracyLinder commented on #6216
I filed the analysis [here](https://drive.google.com/file/d/1lN-Z0Tn6uoK9cfN4CfD_a11V6RyuOjZT/view?usp=sharing).
closing

[2021-07-26 18:06] #6216 closed

[2021-07-26 18:07] Nadin-Nader commented on #6401
**Status:**
Developers UAT in Progress

[2021-07-26 18:08] Nadin-Nader commented on #5506
Spoke to Deb and she informed me that Anu will get to this today.

**Status:**
Waiting on Deployment to PROD (should be done today 7/26/21)

[2021-07-26 18:17] SubhaShroff commented on #5506
@Nadin-Nader  A moment ago, Anu informed that the changes are depoloyed in PROD.

[2021-07-26 18:17] dianamartin commented on #6771
Talked to Christina and clarified that Ramona was accidentally put in as an Account Admin. I told Christina I'd change it to the correct user name and delete the "2" account.

- [x] changed account to "Supervisor | Signs & Markings"
- [x] deleted "2" account

Email user, Ramona

user replied

[2021-07-26 18:17] #6771 closed

[2021-07-26 18:18] dianamartin commented on #6720
User replied

[2021-07-26 18:18] #6720 closed

[2021-07-26 18:20] dianamartin commented on #6762
Confirm API View for
`Data Tracker Signs Markings - signs markings materials` has these fields
- [ ] STOCK_NUM
- [ ] ATD_INVENTORY_ID

[2021-07-26 18:23] Nadin-Nader commented on #5506
Email sent to Ryan, Blake, Darren, Paloma and Tracy stating that the changes are on PROD and that i would be closing the card;

[2021-07-26 18:23] #5506 closed

[2021-07-26 18:26] Nadin-Nader commented on #5961
**Status:**
Sree is still working on the Font change in the Help Text that the system is inserting.

[2021-07-26 18:36] patrickm02L commented on #6770
It works. I don't see a problem with scalability.

[2021-07-26 18:42] Sreelatha-BlazeKannan commented on #5961
@Nadin-Nader , @TracyLinder - Changes are completed and dev commit submitted today. here is the commit ID: 3046d6aeefcb

[2021-07-26 18:54] patrickm02L commented on #6496
@amenity I think we could re-author it to be "Activity Feed 2.0" and include #6566.

[2021-07-26 19:04] SubhaShroff commented on #6401
@Nadin-Nader  Tested on DEV. A demo is sent to you in email. Kindly, let me know your feedback.

[2021-07-26 19:09] SubhaShroff commented on #5142
@Nadin-Nader  **SCTASK0154733** - PROD deployment plan is submitted.

[2021-07-26 19:31] dianamartin commented on #6769
Emailed Linda

[2021-07-26 19:46] jaime-mckeown commented on #6680
- Sent update Pride Parade map to Maria
- Sent first draft of Pride Parade / Waterloo Park Map to Maria for review.

[2021-07-26 19:54] SubhaShroff commented on #1802
@Nadin-Nader  New changes are done in localhost as per the updated AC. I have sent you the demo in email for your review.

[2021-07-26 20:08] mateoclarke commented on #6364
Ex: https://www.mapbox.com/blog/better-with-weather

[2021-07-26 20:14] atdservicebot opened #6776 "Import TIA cases from 2021 and earlier"
Joan Minyard

Other / Not Sure

Do not currently have historical TIA cases in the system and we are currently using an Excel spreadsheet to keep track of projects

Requesting historical TIA cases to be entered into the system. Projects have been tracked through the Primary list located here: https://cityofaustin.sharepoint.com/:x:/r/sites/ATD/TDS/_layouts/15/Doc.aspx?sourcedoc=%7B4007CA1B-CBA3-45C

[2021-07-26 20:48] amenity commented on #6762
Thanks, @dianamartin. @chiaberry - I'll give you this for a post vacay sprint. Something to look forward to. 🤓

[2021-07-26 20:49] amenity commented on #6762
Also adding `Apps` @dianamartin to this since it seems to be more involved than just checking the name.

[2021-07-26 21:04] Sreelatha-BlazeKannan commented on #5576
@Nadin-Nader , @TracyLinder - As per our conversation i suggest to suppress at this point; later if we want them to display all 0 departments. then will add one more subreport just to display 0 value departments; that way the report will look tidy.

Created DEV Procedural commit for COA_DECLARE, F_COA_GET_PERM_BY_DEPT_REPORT components. Here is the commit id: c8ecbbc5c52a, please approve and creat

[2021-07-26 21:13] dianamartin opened #6777 "Update "About Us", remove Surbhi B."
Update "About Us" page on austinmobility.io
- [ ] Add Frank
- [ ] Remove Surbhi
- [ ] Update Amenity's title to "Head of Product"

[2021-07-26 21:14] dianamartin commented on #6694
@amenity Do we consider this done?

[2021-07-26 21:24] janetchuhl commented on #6705
@johnclary @amenity @patrickm02L I have compiled all feedback from both in-person and self-moderated usability tests to this [doc](https://docs.google.com/document/d/1O9xvIlyvJOy90lGN4s6ec7p3A5PUU4FPBnK5m_fJ9Hs/edit#). Please review them and add comments before we meet on Thursday, 7/29. Thanks!

[2021-07-26 21:28] Nadin-Nader commented on #1877
Per Paloma, this can be closed along with 5875

[2021-07-26 21:28] #1877 closed

[2021-07-26 21:29] Nadin-Nader commented on #5875
Per Paloma, this can be closed along with 1877

[2021-07-26 21:29] #5875 closed

[2021-07-26 21:58] dianamartin opened #6778 "[Meeting] Discuss the issues with matching batches on Smartfolio report to Fiserv (BOA) report for parking revenues"
Meeting scheduled 7/27

### Objective
Discuss the issues with matching batches on Smartfolio report to Fiserv (Bank of America) report for parking revenues.

These are the questions for our discussion:
-	How can we match the batch ID on the Parkeon/Flowbird to the ones on Fiserv (BOA) report?
-	How can we do VLOOKUP the machine code to machine name (Zone/Location)?

### Participants
Van, Ashlande,

[2021-07-26 22:11] Nadin-Nader commented on #5576
@Sreelatha-BlazeKannan I have sent this to the DevOps Team for deployment to DEV under **SCTASK0154771**

I also put the report on DEV.

**Status:**
Waiting on DevOps CM Team to deploy to DEV

[2021-07-26 22:12] amenity commented on #6773
Emailed Linda:

[2021-07-26 22:30] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan I have sent this over to the DevOps CM Team to deploy to DEV under **SCTASK0154772**

**Status:**
Waiting on CM Team to deploy to DEV

[2021-07-26 23:04] amenity commented on #6694
@dianamartin - sounds like it! Thank you.🙏

[2021-07-26 23:17] amenity commented on #5253
@chiaberry confirmed that this works when I log in as a viewer! Nice. Thanks.

[2021-07-26 23:17] #5253 closed

[2021-07-27 00:05] amenity opened #6779 "[Bug] Dark background color won't get out of the way 👻"
We [don't want the background dark color](https://github.com/cityofaustin/atd-data-tech/issues/6712#issuecomment-883647171), it's overriding [the default background color](https://github.com/cityofaustin/atd-moped/blob/536b7e8e819c7e4cc83ea264eea4cd5411967e1c/moped-editor/src/theme/index.js#L9).
 ![Screen Shot 2021-07-26 at 6 38 51 PM](https://user-images.githubusercontent.com/1463708/127073565-a3

[2021-07-27 00:44] amenity opened #6780 "[BUG] Incorrect value for a Metrobike kiosk longitude"
Via Socrata feedback form:

[2021-07-27 07:15] amenity opened #6781 "Discuss amendments to "Data" subchapter of ASMP"
[ASMP "Data" action table and subchapter](https://drive.google.com/file/d/1ebUafmRtYGKj4O7SbvLMIDXCn-FG5j6o/view?usp=sharing)

From Dan

[2021-07-27 07:34] amenity commented on #6625
@mateoclarke - this is JD's recommended approach to database implementation. I have zero recollection of the non-hierarchical "related" project idea. I think these would be designated with a label/tag of some sort.

[2021-07-27 07:42] mateoclarke opened #6782 "[BUG] ATD Product site products/projects pages not loading"
Are the products/projects pages on our website not loading for anyone else? https://www.austinmobility.io/products

On a product page I just get "No data found"

<img width="1438" alt="Screen Shot 2021-07-26 at 10 51 50 PM" src="https://user-images.githubusercontent.com/5697474/127115682-1f11b1d3-7941-4cce-bef5-fd477c1f2614.png">

<img width="1438" alt="Screen Shot 2021-07-26 at 10 58 27 PM" src="

[2021-07-27 13:28] jaime-mckeown commented on #6780
Added the minus to the longitude field for record 4699. The feature layer will update again tonight and the data will be fixed.

[2021-07-27 13:34] jaime-mckeown opened #6783 "Discussion about Shared Mobility Operations data being added to ROWPACT"
Meeting with Andrea and Mary to discuss adding the Shared Mobility Operations data to ROWPACT.

[2021-07-27 14:08] SubhaShroff commented on #5142
### Status:
PROD Deployment is done. :)

[2021-07-27 14:25] Nadin-Nader commented on #6051
@vschandramouli when you get a chance, can you update the card with what you and Darren discussed yesterday please?

[2021-07-27 14:26] Sreelatha-BlazeKannan commented on #5891
@Nadin-Nader , @TracyLinder - Due to other cards updates, could not work on this till now; I will complete my analysis and development from today.

[2021-07-27 14:35] Nadin-Nader commented on #5142
@SubhaShroff thank you. I will send an email to the stakeholders informing them that this is on PROD

[2021-07-27 14:39] Nadin-Nader commented on #5142
Email Sent to Greg P and Jaclyn L.:

**Status:**

Waiting on Response from Greg or Jaclyn to either close the card or make adjustments

[2021-07-27 14:40] #6694 closed

[2021-07-27 14:43] moorerst commented on #6773
On the agenda to discuss in follow up meeting 8/9

[2021-07-27 14:48] atdservicebot opened #6784 "Refine error messaging in components UI"
### 1. Remove written error message about required text fields
![Screen Shot 2021-08-20 at 4 46 36 AM](https://user-images.githubusercontent.com/1463708/130214904-05668aab-344a-4101-865f-eb6cc2a736fc.png)

Instead of "You must select a type & subtype" warning, highlight missing form fields with [validation style](https://material-ui.com/components/text-fields/#validation) if the user tries to save

[2021-07-27 14:49] dianamartin commented on #6769
Linda replied 7/27

Latest reply

[2021-07-27 14:51] dianamartin commented on #6769
I called Linda to see what the issue was, she had entered the employee ID number on an inactive record. What should happen is she edits that record, deletes it and adds it to the new record.

I updated the employee ID number to the new active record and let her know. Her comment was to have a guide for the HR team to know how to update employee records. I told her we're still working on the ATD Em

[2021-07-27 14:51] #6769 closed

[2021-07-27 14:54] jaime-mckeown commented on #6751
Emailed Maria the link and screenshot for which one needs updating.

[2021-07-27 14:54] dianamartin opened #6785 "[Meeting] Inventory Check-in 7/27"
### Objective
Checking up

### Participants
Ray, Ronnie, Frank, Johnny, John, Jorge G.

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ] Crea

[2021-07-27 14:55] jaime-mckeown commented on #6783
Discussed this with Sean at CTM so I'm better prepared for meeting with Andrea and Mary.

[2021-07-27 15:15] atdservicebot opened #6786 "Update Harrell M.'s Data Tracker permissions"
Data Tracker

Harrell M does not have access to the non-technician work orders.

Soon — This week

Brian C.

Request ID: DTS21-102400

[2021-07-27 15:20] amenity commented on #6773
Adding the form to the issue description.

[2021-07-27 16:00] ChrispinP opened #6787 "[TDS] TIA - Ability to inline edit Dates for Cases and Submissions for Historical accuracy"
Currently date/time fields are automated but stakeholders would like the option to adjust date/time fields for historical case and submission data they are adding to the application for the first time.

Preference is to inline edit them on the Reviewer Dashboard and Case Management pages. They would like all dates opened to editing while they determine which ones they need to adjust.

[2021-07-27 16:07] dianamartin commented on #6785
# Diana's Notes

## Vendor Issue - Packing Slips
- Difficult to reference commodity code
- Asked vendor to use part number and description
- Packing slips aren't really descriptive
- So it's easy to cross reference the receipts
- Placed an order for poles & arms, Ray asked vendor to put down pole type

## Reconciliation Oddities

[2021-07-27 16:52] ChrispinP opened #6788 "[TDS] Update Back Button Border"
Realized that the back buttons had the wrong hex value for their border so its the same as other Knack buttons.

Updating from #ebebeb (the fill) to #dddddd (the border)

[2021-07-27 17:00] ChrispinP commented on #6788
complete, submitted PR 65 for review

[2021-07-27 17:07] #4804 closed

[2021-07-27 17:25] patrickm02L commented on #6622
Updated the search in the header. We could represent search as a 🔎 to start. Once clicked on the 🔎 would expand to a search input with help text, then when activated the drop down would appear with the last 5 search results and a button at the bottom which navigates to the search in Projects.

![Search](https://user-images.githubusercontent.com/5566727/127199572-afc9ce20-ef06-44e1-b051-a5841a1e702

[2021-07-27 17:44] dianamartin commented on #6781
# Meeting Notes
## Meet SDD Team
- Cole, Dan, Warner, Alex, Kelsey, Ashley, Arthur

## Meet DTS Team
- Amenity, Mateo, Jaime, Diana

# ASMP Policies

[2021-07-27 18:10] andrewshensky commented on #6756
New request to have maps exclude all wooden poles

[2021-07-27 18:18] amenity commented on #6781
**Some first thoughts on policies**
- I think we could add a 4th policy that calls out "proactively collect ... quality data" (currently squished into #3, "Use data to make informed decisions". Our most significant in-house products (VZE, Moped, Data Tracker) revolve around the collection/management of quality data.

**Action Items**
- Can point to these when speaking with Council, so make sure th

[2021-07-27 18:19] #6294 closed

[2021-07-27 18:19] #6617 closed

[2021-07-27 18:46] Sreelatha-BlazeKannan commented on #6634
@Nadin-Nader , @TracyLinder - Make table changes and DEV Deployment sent. Please approve and create task id, here is the commit id: eb0743519f65

[2021-07-27 18:51] amenity commented on #6784
@patrickm02L, FYI

[2021-07-27 19:13] patrickm02L commented on #6395
Closing. @frankhereford believes this was addressed by v.1.21.0.

[2021-07-27 19:13] #6395 closed

[2021-07-27 19:14] dianamartin commented on #6778
# Diana's Notes
## Ashlande's Issue
- Fixed one thing by doing a Vlookup template, locations based on meter numbers
- Which of the 25 locations it belongs to
- FlowBird/Smartfolio download

## General Overview
- Peggy/Van looking for
- What to do with the whole task
- Looking to have a database to set-up
- File from export FlowBird/Smartfolio
- 1 week, thousands of transactions
- Doesn't have a lo

[2021-07-27 19:28] frankhereford opened #6789 "Add flag to track if a crash was caused by a medical issue"
Crashes which are the result of a medical issue are a special class of crashes. We have experimented with different queries which can be used to identify these crashes, but often it is only down to the human interpretation of the investigator's narrative. Being able to track these and then be able to exclude them from various analysis efforts would be a aid to the VZ division.

[2021-07-27 19:37] jaime-mckeown opened #6790 "APD Parking Zones Map / Help Ryan"
Ryan needed some help making a map for the APD Parking Zones.

[2021-07-27 19:39] jaime-mckeown commented on #6790
Ryan asked to meet to get some GIS help. He was actually trying to make a map, but was using ArcMap. Since he needed to get it out soon, I offered to create the map in Pro and save it to his area, so he could then go in and modify it if need be.

[2021-07-27 19:49] amenity commented on #6768
@sergiogcx recommends adding a new departments table rather than adding a column to the workgroup table.

[2021-07-27 19:51] sergiogcx commented on #6768
@amenity sounds good, feel free to assign me! :)

[2021-07-27 20:36] #6788 closed

[2021-07-27 20:54] ChrispinP commented on #6611
Checked in with stakeholders for followup issues. Issues #6776 and #6787 derived from Go Live. #5473 is available for help guides and #3010 available for any followup user testing.

No further action needed, application is now live.

[2021-07-27 20:54] #6611 closed

[2021-07-27 20:59] ChrispinP commented on #6377
Color Palette documentation added to Gitbook

[2021-07-27 21:14] dianamartin commented on #6778
Van sent us a copy of the spreadsheet that they work on `New Process Batch ID 7-14-21` and the contact information for the Flowbird IT team for our questions.
- Darren C.
- Lionel D.
- US-support

# Action Items
- Email Flowbird IT with questions about API access

[2021-07-27 21:14] #6778 closed

[2021-07-27 21:18] dianamartin opened #6791 "Email Flowbird IT about API access"
Van send email addresses of Flowbird IT so we can ask questions
- Darren C.
- Lionel D.

[2021-07-27 21:30] atdservicebot opened #6792 "Add a new user Samson N. to AMANDA"
AMANDA

I need to add a new user to AMANDA for a recent hire. His name is Samson N.

Soon — This week

Need to create a new AMANDA account for a recent hire.

Darren U.

Request ID: DTS21-102405

[2021-07-27 21:42] alan-deanda opened #6793 "Add new garages to Affordable Parking Program App"
Added new garages participating in the Affordable Parking Program to the AGOL App. Cleaned up some stale data as well.

[2021-07-27 21:45] #6793 closed

[2021-07-27 21:59] dianamartin commented on #6791
Emailed contacts
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/38c36380-aa44-45ac-882f-b2a389f414da)

[2021-07-27 22:04] SubhaShroff commented on #6562
@Nadin-Nader  DEV deployment request is submitted - SCTASK0155026.

[2021-07-27 22:09] ChrispinP commented on #6524
Scheduled time Friday to update certificates for remaining apps. updated one pass with IP certs.

[2021-07-27 22:14] atdservicebot opened #6794 "Update the maximum record count for pavement markings work orders feature services in ArcGIS Online"
ArcGIS

Currently trying to access the markings table through PowerBI, but it limits to 1000 records.
I would like to update the maximum record count for feature services in AGOL for all pavement markings work orders feature service layers and related tables beyond the default 1000 rows.
https://support.esri.com/en/technical-article/000012383

Pavement Markings layer: https://austin.maps.arcgis.co

[2021-07-27 22:16] dianamartin commented on #6536
Scheduled a meeting with stakeholders on 7/30 to get caught up on what the PIR Reporting page should be, what's left to do.

[2021-07-27 22:17] ChrispinP commented on #5925
@dianamartin do we want to make sure all appropriate login pages have SSO enabled? Since Knack fixed SSO, we would just need to check the checkboxes. This could be something I can double check when I update certs this week if you would like. That way we can close this and #5448 out.

[2021-07-27 22:17] dianamartin commented on #6785
John replied 7/27

This is the case of a final unit cost not matching the unit cost of the item that was issued. This occurred on 5/20. We made a change in the Data Tracker in early June that prevents this situation from happening. We did this in response to an identical issue that happened around the same time. I just re-tested that functionality, and it is working correctly.

I will run through

[2021-07-27 22:19] #6785 closed

[2021-07-27 22:20] dianamartin commented on #6745
Messaged Lewis 7/27

[2021-07-27 22:21] #6772 closed

[2021-07-27 22:22] dianamartin commented on #5925
@ChrispinP You can definitely check. The issue for some of them is the SSO is checked by still not showing up on the page. I'm in SMO now, i guess I can re-check the Impounds page.

[2021-07-27 22:27] dianamartin commented on #5925
Just checked the SMO#Impounds page and the SSO wasn't checked, I think it was checked but there was a lot of issues with SSO when we migrated. I think Knack may have fixed the issues.

Checked the Parking Enterprise page #ResourceTracking and that was also not checked.

Confirmed the pages are working, closing issue.

[2021-07-27 22:27] #5925 closed

[2021-07-27 22:28] dianamartin commented on #5448
Finally closing this epic!

[2021-07-27 22:28] #5448 closed

[2021-07-27 22:29] dianamartin commented on #6670
Needing rescheduling due to John being out of town

[2021-07-27 22:38] dianamartin commented on #6786
Scheduled time to talk to Harrell. 2 pm on 7/27.

I walked him through non-techncian work orders, creating hub cabinet in the Cabinet asset page. I gave him the same user roles as Edgardo.

We updated the `Lead` filter on the non-technician work orders. It was bugging and only showing me and Chia. I fixed it to show "active" user roles ans "Arterial Management" users.

Gave him a lot of tips, wrot

[2021-07-27 22:38] #6786 closed

[2021-07-27 22:39] dianamartin opened #6795 "Test: Non-techncian work order - full process"
Diana M.
DTS

Test non-technician work order, from start to finish in TEST environment and report back to Brian C. and Harrell. They need to know the steps to close it for the Communications group.

Will need to give Harrell the appropriate rights when I figure out what those are.

[2021-07-27 22:44] dianamartin commented on #6095
Knack replied

In order to investigate further we'll need you to provide a complete workflow. When testing, please let us know:
1) Who to log in as
2) Which work order to select
3) Which record to type in "Task Orders"
Hope you're having a nice Monday.

I replied

I also tested it at this point. I've seen it happen when the user first attempts to input data inside. Then the future attempts the sea

[2021-07-27 22:44] dianamartin commented on #6538
@dianamartin Need to follow-up with this.

[2021-07-27 22:46] dianamartin commented on #4999
I sent Allyson a spreadsheet with what she needed to review. The data needs to be fixed before the measure cards read accurately.

[2021-07-27 22:46] dianamartin commented on #5003
I sent Allyson a spreadsheet with what she needed to review. The data needs to be fixed before the measure cards read accurately.

[2021-07-28 13:16] #6711 closed

[2021-07-28 13:24] SubhaShroff commented on #1802
### Status:
Demo of new changes is sent to Nadin in email, for review.

[2021-07-28 13:25] SubhaShroff commented on #2397
### Status:
Up for UAT.

[2021-07-28 13:26] SubhaShroff commented on #5142
### Status:
Its on PROD and waiting on response from stakeholders.

[2021-07-28 13:28] SubhaShroff commented on #5388
### Status:
Up for UAT on TEST.

[2021-07-28 13:29] SubhaShroff commented on #6401
### Status:
A demo email is sent to Nadin. Waiting for feedback.

[2021-07-28 13:32] SubhaShroff commented on #6562
### Status:
DEV deployment request is submitted.

[2021-07-28 13:44] #6691 closed

[2021-07-28 13:55] andrewshensky opened #6796 "Update Bike Facility Data From Interim Mobility Projects"

[2021-07-28 14:07] SubhaShroff commented on #6051
### Status:
Started on Analysis.

[2021-07-28 14:44] jaime-mckeown commented on #6780
Checked data in AGOL and Open Data, both reflect the change. Let David know.

[2021-07-28 14:44] #6780 closed

[2021-07-28 14:46] jaime-mckeown opened #6797 "Pro Migration: 7/28 - 8/10"

[2021-07-28 14:47] jaime-mckeown commented on #6797
Working on getting training numbers for the 4th quarter to Shanon. We are mostly done except for ATSD.

[2021-07-28 14:47] jaime-mckeown commented on #6797
AGOL Workshop 10/14:

- [ ] Max in TED

[2021-07-28 15:07] #6745 closed

[2021-07-28 15:07] atdservicebot opened #6798 "Update cost for 4" ped poles in Data Tracker damage reports"
Data Tracker

There is not a cost listed for 4" ped poles when you "Add Replacement Equipment" to a Damage Report.  The poles are included in the COA Cost Estimate Items ($110- which is correct- see screenshot 1) but no cost is associated with the item when a pole is added for replacement equipment (see screenshot 2).  Can we please get that cost updated so our cost estimates will be more accurate

[2021-07-28 15:09] amenity opened #6799 "[VZA] Vision Zero in Action schedule Shift imports"
See #6745 for @dianamartin's notes on her first round.

[2021-07-28 15:15] amenity commented on #6787
@TracyLinder - Nathan asked for this yesterday. Let us know whether @ChrispinP can get started on it or whether there are other backlog issues that are higher priority.

[2021-07-28 15:17] amenity commented on #6663
Waiting for Knack support to help with this.

[2021-07-28 15:27] amenity opened #6800 "Provide Finance with streamlined parking pay station payment reconciliation process"

[2021-07-28 15:30] amenity opened #6801 "[Spike] Explore Excel macro as potential solution"

[2021-07-28 15:39] amenity opened #6802 "Propose and discuss digitization of existing work order in Knack"
Meeting scheduled 7/29 at 3:30 pm.

I've discussed this request with Christina and it's a long story so I might make a workflow instead.

[2021-07-28 15:45] atdservicebot opened #6803 "Attachment issue in Finance and Purchasing system - slowness, waiting/loading mode"
Finance & Purchasing

When trying to attach an item to an invoice the system often will just spin in waiting/loading mode and not perform the task. Multiple attempts have to be made to get it to attach and/or the following alternative ways are tried: log out of program and log back in (usually doesn't work), restart computer (sometimes works), wait until a later time of the day or the following da

[2021-07-28 15:45] amenity commented on #4999
@dianamartin - remind Allyson that the deadline is now 8/10... will also need PIO to review.

[2021-07-28 15:48] amenity commented on #6536
@patrickm02L - check out this cool request. 😎

[2021-07-28 15:50] amenity commented on #6436
@dianamartin something to look forward to for next week!

[2021-07-28 15:57] amenity opened #6804 "AMD Asset Dashboard - PowerBI"
### Objective
Jen has asked that we assemble a weekly report showing the status of devices in our transportation network (i.e. Detectors, DMS, CCTV, BBS, etc.) and their operational status.

The report would include:
-	Total number of devices
-	Number of working devices
-	Number Awaiting Repair
-	Number Repaired in the previous week
-	Number of days each device has been on the not working list

#

[2021-07-28 15:59] Nadin-Nader commented on #5142
Everything is good according to Greg and Jaclyn. Closing card:

[2021-07-28 15:59] #5142 closed

[2021-07-28 16:11] Nadin-Nader commented on #4822
**Status:**

@vschandramouli Visj will be scheduling time with Kim and Paloma to Scope this a bit more

[2021-07-28 16:14] amenity commented on #6743
Waiting for final sign-off from Brian C. - then @ChrispinP can take this.

[2021-07-28 16:17] amenity commented on #6336
@johnclary took care of this. #5934

[2021-07-28 16:18] #6336 closed

[2021-07-28 16:20] amenity commented on #6664
@ChrispinP - check with Ryan to see if he has what he needs on this.

[2021-07-28 16:22] amenity commented on #3521
@johnclary ... moving this to the icebox.  🙃  🧊

[2021-07-28 16:23] #5987 closed

[2021-07-28 16:24] amenity commented on #6671
@TracyLinder - please close once you've created issues for action items. 🙏

[2021-07-28 16:29] Nadin-Nader commented on #4034
**Status:**
Waiting on More details from Tracy

[2021-07-28 16:30] amenity opened #6805 "Implement TIA refinements discussed in TIA Technical Review"
Some of the refinements are checked off [here](https://github.com/cityofaustin/atd-data-tech/issues/6717#issuecomment-883622552).

- [ ] Reorder _Assign Case Reviewers_ to:
- Assigned Reviewer Area
- Lead Reviewer form
- Case Reviewer - check boxes

- [ ] TIA Case Status Workflow workflow diagram: Add color legend

[2021-07-28 16:30] #6717 closed

[2021-07-28 17:03] jaime-mckeown opened #6806 "AGOL Admin Tasks"

[2021-07-28 17:04] jaime-mckeown commented on #6806
spent some time cleaning up user profiles, configuring new ATD User accounts that I was not aware of, and updating CPO user profiles.

[2021-07-28 17:22] ChrispinP commented on #6664
Darren currently ooo but sent teams message to Ryan & Darren for followup.

[2021-07-28 17:32] amenity commented on #6798
@dianamartin - is this a bug?

[2021-07-28 17:33] amenity commented on #6798
And it looks like only one of the screenshots came through. I'll ask Erin for the other.

[2021-07-28 17:35] dianamartin commented on #6798
It's not a bug, I think the inventory planner just don't have a unit cost for the item. Erin will want to talk to Ray F. or Johnny P. about it as they can update the Finance and Purchasing system and it'll come over to the Data Tracker.

[2021-07-28 17:36] amenity commented on #6798
Aha! Cool. I'll let them know.

[2021-07-28 17:56] sergiogcx commented on #6601
There is a pr:
https://github.com/cityofaustin/atd-moped/pull/378

[2021-07-28 17:59] amenity commented on #6803
Sounds like it may just be normal Knack acting up... @dianamartin is going to call and check. Sharon is new, so might not be familiar with all the Knack troubleshooting tricks.

[2021-07-28 18:04] dianamartin commented on #6803
I set up a call for 4 pm, she's at a dr. appointment. She said Adelita is experiencing slowness too.

[2021-07-28 18:17] dianamartin commented on #6795
in Test Environment, logged in as `test-tech`
- Created New Non-Technician Work Order `WRK21-118590`
-

[2021-07-28 18:42] #6154 closed

[2021-07-28 18:43] #5985 closed

[2021-07-28 18:44] #6505 closed

[2021-07-28 18:45] #6546 closed

[2021-07-28 18:45] #6593 closed

[2021-07-28 18:47] patrickm02L commented on #6622
When the header goes down to mobile view the search will return back to a 🔎 .

I've created 2 comps for what the search could look like in the mobile header. One where the search expands in between the logo, avatar and menu, and one that takes over the header. If too claustrophobic with other header elements, let's go with the option that takes over the header.

I did consider putting the search i

[2021-07-28 20:47] #5900 closed

[2021-07-28 20:55] patrickm02L commented on #6363
@mateoclarke please take a look at this issue, and give feedback.

[2021-07-28 20:57] amenity commented on #6737
@jgabitto - can you please update the swatches so there is one for each of these?

Background Default `#edeeed`

Background Paper `#ffffff`

Primary Main `#1e88e5`

Primary Dark `#005cb2`

Primary Light `#61b5ff`

Secondary Main `#ff6549`

Text Primary `#212121`

Text Secondary `#848484`

Maybe add [a shadow](https://material-ui.com/system/shadows/) to the circles so that the white doesn't disappe

[2021-07-28 21:11] patrickm02L commented on #6763
Talk more about this on backlog grooming on Wednesday, Aug 4th. @patrickm02L

[2021-07-28 21:26] SubhaShroff commented on #6051
@Nadin-Nader  DEV deployment request is submitted - **SCTASK0155334**

[2021-07-28 21:41] Nadin-Nader commented on #6388
@Sreelatha-BlazeKannan Spoke to Maria and everything looks good. Lets Get this to PROD.

Maria's email:

## **Approved for PROD Deployment🙌🎉‼**

[2021-07-28 22:00] Nadin-Nader commented on #2397
@SubhaShroff demo screenshots look good but i set them to Paloma to approve the move to PROD

**Status:**
Waiting on Paloma's response

[2021-07-28 22:03] jaime-mckeown commented on #6680
- Updated original Pride Parade Map as well as the Pride / Waterloo Park Map
- Created a new Pride / Waterloo combined Closures map at their request.

[2021-07-28 22:07] dianamartin commented on #6095
7/28
Aleks says

We weren't able to reproduce the behavior with the record/sign in above that you provided. The autocomplete worked as normal in our attempt.
Can you advise, are you still seeing this behavior on your end using the same credentials/record?
We suspect this may have been due to server load at the time where record names were taking longer than expected to populate. Let us know.

I re

[2021-07-28 22:10] dianamartin commented on #6095
Emailed user

[2021-07-28 22:10] #6095 closed

[2021-07-28 22:13] dianamartin commented on #6753
- Added new MMC door into system
- Updated all MMC personnel with new clearance group
- Updated all AMD personnel that should have MMC clearance
- Worked on Updating Personnel information, got 151 out of 265 = 57%

Half way there!

[2021-07-28 22:26] Nadin-Nader commented on #1802
@SubhaShroff i have reviewed the demo and it looks good to move this to DEV.

## **Approved to go to DEV**

[2021-07-28 22:31] Nadin-Nader commented on #6401
@SubhaShroff I have reviewed the demo and it looks good. Lets get this to TEST for stakeholder UAT and Payment testing.

## **Approved for Deployment to TEST🎉🙌‼**

[2021-07-28 22:35] dianamartin commented on #6753
Emailed stakeholders

[2021-07-28 22:41] ChrispinP opened #6807 "Standardize and Simplify App Color Palette, Update App Style Colors, and Update Style Guide"
Improve our design standards and app theming so colors make sense and have the same meaning across apps
- [ ] Standardize Color Palette
- [ ] Update App Colors
- [ ] Update Style Guide

[2021-07-29 01:09] amenity commented on #6625
@johnclary - we got pushback on the lightweight approach during today's sprint review. Setting up a work session to discuss.

NW is advocating for linking project components to subprojects. The hardest thing for me to figure out for that direction is what the workflow would look like, and what the expected behavior would be in terms of synchronizing geometries. A kind of hacky approach:
- From map

[2021-07-29 01:17] amenity opened #6808 "[Enhancement] Project Summary Redesign"
Implement design refinements and accommodate additional project information on the "Summary" tab.

### Original
![Original Project Page – 2.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/36a1f767-2e13-420f-8f94-992a3c80dc69)

### New
![New Summary Page – 3 0 – 1](https://user-images.githubusercontent.com/1463708/135401327-ee17025c-cd65-4db4-b728-32f3b7cd39ee.png)
![New Summary

[2021-07-29 13:43] andrewshensky opened #6809 "Duplicate East Powell StoryMap and Change Ownership to PIO"

[2021-07-29 13:45] #6809 closed

[2021-07-29 14:11] Nadin-Nader opened #6810 "Request to update the AULCC Data Workbook 2021 in AMANDA (On PROD)"
Request to update the AULCC Data Workbook 2021 in AMANDA

**Stakeholders:** Jaclyn L.
**DTS Manager:** Nate

Jaclyn has requested to have the AULCC Data workbook that is on the document tab, updated with the new template provided:
[https://app.zenhub.com/files/140626918/d02f67db-4a57-472b-9b6f-68503a640ae3/download](https://app.zenhub.com/files/140626918/d02f67db-4a57-472b-9b6f-68503a640ae3/downlo

[2021-07-29 14:30] Nadin-Nader opened #6811 "Request from David Smith for 3 AMANDA Accounts"
David Smith is requesting 3 AMANDA accounts for:
Steven Lawson
Wilber Santiago
Jose Aviles
[https://app.zenhub.com/files/140626918/ebda11ac-c190-4a03-8946-a5c4a11d55cc/download](https://app.zenhub.com/files/140626918/ebda11ac-c190-4a03-8946-a5c4a11d55cc/download)
[https://app.zenhub.com/files/140626918/5fa2fc58-ff4e-411a-8d89-cd9dee368c17/download](https://app.zenhub.com/files/140626918/5fa2fc58-f

[2021-07-29 14:34] jaime-mckeown commented on #6680
- make garages north of 15th priority for Waterloo
- add new walking path down trinity, across 15th, east to Red River
- Concentrate on start times for road closures and local traffic closures, will be able to break all down by colors
- going with only 2 maps, zoomed in and combined