[2021-08-18 19:35] amenity commented on #6481
Wrinkle wrt the FDU link to eCAPRIS, @johnclary -

Whereas the eCAPRIS URLs can be constructed if the subproject ID is provided, the FDU URLs may only be accessible via an ID: The URL for FDU `8112 2507 A016` is `https://ecapris.austintexas.gov/index.cfm?fuseaction=fdus.fduData&FDU_ID=99502`...

<img width="855" alt="Screen Shot 2021-08-18 at 1 13 54 PM" src="https://user-images.githubusercontent.

[2021-08-18 19:52] andrewshensky commented on #6920
Documentation will be held in the following location:
https://atd-dts.gitbook.io/atd-geospatial/miscelaneous/pnts-shapefile-creation

[2021-08-18 19:55] andrewshensky opened #6982 "Recreate Notification Area Feature Service"
Previous feature was for testing and created completely in AGOL. This defaulted feature service projection to Web Mercator and won't allow for reprojecting. Feature service needs to be recreated and projected in State Plane to ensure proper alignment for capturing address points.

[2021-08-18 20:06] andrewshensky opened #6983 "Create ArcPro Project that References AGOL Web Map"
ArcPro project will provide the closest analog for users migrating from ArcMap. This project will also reference the AGOL web map to allow for easy export to shapefile for users, while providing all functionality of desktop application to create complex polygons.

[2021-08-18 20:06] jaime-mckeown commented on #6906
Migrating from ArcMap to ArcGIS Pro on 9/23:

- [ ] Sydni in ATSD

[2021-08-18 20:12] jaime-mckeown commented on #6816
Andrea is talking to Eliza in SM about adding the Metro Bike layer into ROWPACT. I will create a new Issue if that goes through.

[2021-08-18 20:12] patrickm02L commented on #6894
Add this drop down to Vision Zero similar to what's in Moped.

![Screen Shot 2021-08-18 at 3.11.42 PM.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/f6466fb0-f38a-4f76-8410-6375395f3156)

Moped Example:
![Screen Shot 2021-08-18 at 3.09.35 PM.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/2f03f4d2-c60e-4106-9455-466a73ac2a29)

[2021-08-18 20:13] jaime-mckeown opened #6984 "Update Metadata for ATD Authoritative Feature Layers"

[2021-08-18 20:19] johnclary commented on #6481
@amenity boo. good to know. in that case we will need to hold off on linkable FDUs until we start pulling in data from eCapris to create an FDU lookup table. When we do that we can pull in the FDU IDs and create the proper links. For now I'd say we'll have to leave this as a text field.

[2021-08-18 20:29] patrickm02L commented on #5973
Modify ETL so that it pushes into a table.

2 Parts. Easy one have a widget for the new records.

Bigger Lift:

- Table (ETL Updates)
- Define what attributes those records we care about
- Needs to be a migrations service to update the metadata

@mateoclarke will take the beginning of the notes captured here and create an issue that gets at the process for the bigger lift.

[2021-08-18 20:36] andrewshensky commented on #6846
Pflugerville Trails Data
https://maps.pflugervilletx.gov/arcgis/rest/services/Parks/Trail_System/FeatureServer/0

Round Rock Trails Data
https://maps.roundrocktexas.gov/arcgis/rest/services/ParksAndRecreation/PARD/MapServer/16

Cedar Park Trails Data
https://gisrest.cedarparktexas.gov/cpgis/rest/services/ParksandRecreation/TrailsMasterPlan/MapServer/0A

[2021-08-18 20:37] johnclary commented on #6481
@amenity in discussion with Mateo and Patrick we had a few questions/todos.

### File attachments
We need to think through what it means to store a file at the funding record level. Would it be ok to add a "File Category" drop-down to the existing file attachments UI, where the user could pick things like "Funding Commitment" or "Plans" or whatever other file types might be common? In this case, a

[2021-08-18 20:37] andrewshensky commented on #6796
All projects up to this point in time have been added to the CTN

[2021-08-18 20:37] #6796 closed

[2021-08-18 20:39] andrewshensky commented on #6927
Domain value has been added at the request of bike parking field crew

[2021-08-18 20:39] #6927 closed

[2021-08-18 20:42] andrewshensky commented on #6914
PE has been informed of issue and data inaccuracies have been corrected

[2021-08-18 20:42] #6914 closed

[2021-08-18 20:44] andrewshensky opened #6985 "Provide Bike Rack Install and Maintenance Data for July/August"

[2021-08-18 20:44] andrewshensky commented on #6985
Data has been provided to PE folks

[2021-08-18 20:44] #6985 closed

[2021-08-18 20:53] dianamartin commented on #6436
Preferable ATD Hub Site as Hub
- ATD Hub Site - make that the HubSite?
  - change to ATDHUB to ATD - Danny can do that
- link to other Modern sites?

# Next Steps
- Work on ATDHUB -make sure links are current
- CTM Ticket - atdhub - atdold
  - Spoorthy to ask Danny about name swap
- Create SharePoint sites slowly

## Create new SharePoint site
- Waffle
- Sharepoint
- Teams v. Comm site
-  URL nami

[2021-08-18 20:55] patrickm02L commented on #6915
We're going to table this until we can do a Hasura 2.0 upgrade.

[2021-08-18 21:23] Nadin-Nader commented on #6634
Reached out to Darren again asking him if he was able to get Lura to UAT this on TEST. He said she is out sick and returns tomorrow. I will follow up tomorrow

[2021-08-18 21:27] johnclary opened #6986 "Define funding source data model"

[2021-08-18 21:33] jaime-mckeown commented on #6984
Updated metadata for all feature layers now owned by ATD Scripts Publisher.

[2021-08-18 21:33] #6984 closed

[2021-08-18 21:34] jaime-mckeown opened #6987 "Request New GISDM Account - Sydni"

[2021-08-18 21:35] jaime-mckeown commented on #6987
Submitted CTM Request for Sydni to get a GISDM account created.

[2021-08-18 21:37] johnclary commented on #6481
I started #6986 to flesh out the data model. I didn't have time to finish it. Will do tomorrow.

[2021-08-18 21:47] patrickm02L opened #6988 "Upgrade VZdb to `graphql-engine` 2+"
Upgrading to Hasura 2.0 would be a smart move long term and have added benefits to the Vision Zero Product.

From the conversation in the Dev Backlog Grooming on August 18th we determined that it would be feasible to do, but that it would be tricky because we're dealing with the Terraform script and that recovering from an error is not easy.

It was recommended by John, that in addition to upgradi

[2021-08-18 21:58] dianamartin commented on #6864
Emailed Nathan (HR)

[2021-08-18 21:58] #6978 closed

[2021-08-18 22:17] ChrispinP commented on #3867
The TCP Submission Content object is now created in Prod:
![image](https://user-images.githubusercontent.com/67915167/129978772-5136711b-d3cc-4103-aa6c-8b36b94667e8.png)

TCP Submission Details page is now built as well:
![image](https://user-images.githubusercontent.com/67915167/129978912-429a9d90-50cc-4826-b090-96d8fe6f927a.png)

This Details page allows us add multiple content records to a subm

[2021-08-18 22:27] Nadin-Nader commented on #6912
Created the V6 account and set the automation to create PROD. I also sent a TASK to CTM to create the V7 accounts and add Sydnie to the AMANDA Active Directory group under **SCTASK0160415**

[2021-08-18 22:40] Nadin-Nader commented on #6901
Sent email to Ramona Aguilar asking for the NURF s i cannot access the one on this card:

Hi Ramona,

Hope you are doing well. I was reaching out because I am creating you AMANDA Account but unfortunately I do not have access to the NURF. Can you please fill out the NURF or send me the one you already filled so I can create the AMANDA Account?

[2021-08-18 23:51] mateoclarke opened #6989 "Enhanced daily report of new records added or updated in VZD"
In order to enable a more detailed reporting of new records added and updated, we'll need to:

1. Create a new DB table, let's name it `atd_etl_updates`
  - Here are the values we'll want to track for each row in a table that gets updated. Each row represents a daily update to a given vzdb table, ex: changes on 8/19/21 to the `atd_txdot_crashes` table.
    - Type of records (ex: crashes, person, u

[2021-08-18 23:52] mateoclarke commented on #5973
Here's a new issue that attempts to capture the details discussed in our grooming session today about "the bigger lift".
https://github.com/cityofaustin/atd-data-tech/issues/6989

[2021-08-19 00:42] amenity commented on #6481
@johnclary I don't see why file attachments on the file page wouldn't work, but it creates additional steps in that workflow and makes it more difficult to organize and access this particular type of file. The two pages seem more likely to fall out of sync (funding source deleted/updated but the file is not) if we divide them up. And the name/description/date/size information that is provided by t

[2021-08-19 03:59] amenity commented on #6761
Is this the same issue? If so, I hadn't seen it at this scale before:

![Screen Shot 2021-08-18 at 10 36 13 PM](https://user-images.githubusercontent.com/1463708/130003767-03b00c2b-f6b7-4430-9640-f5060b503954.png)

![Screen Shot 2021-08-18 at 10 37 54 PM](https://user-images.githubusercontent.com/1463708/130003859-0ed766a4-abb9-40e7-9033-910f21c0e411.png)

[2021-08-19 05:23] johnclary commented on #6481
@amenity that makes sense. I think we should separate the file attachments as a separate issue and implement the basic functionality first. I finished writing up the necessary DB changes (including mock data) in #6986. That needs to be reviewed and estimated by a dev @mateoclarke.

[2021-08-19 12:48] #5447 closed

[2021-08-19 13:13] patrickm02L commented on #6971
Duplicate of [#6972](https://github.com/cityofaustin/atd-data-tech/issues/6972)

[2021-08-19 13:13] #6971 closed

[2021-08-19 13:47] jaime-mckeown opened #6990 "Request new GISDM Account - Priya"

[2021-08-19 13:49] jaime-mckeown commented on #6990
Submitted CTM Request for new GISDM account.

[2021-08-19 13:49] jaime-mckeown opened #6991 "New AGOL User - Priya"

[2021-08-19 13:58] SubhaShroff commented on #2397
@Nadin-Nader  **SCTASK0160583** - Submitted DEV promotion request for e86b804508dc.

[2021-08-19 14:12] #6943 closed

[2021-08-19 14:37] dianamartin commented on #6607
- Tested email tasks with Test Staff
- Configured nudge email reminder for Supervisors
- Needs Review from PM

[2021-08-19 15:04] #5955 closed

[2021-08-19 15:09] dianamartin commented on #6946
Looked at `21-00373286` - this is the example SR that they made to test it out. It was assigned to Shavyvonne, I reassigned it to TEST PEO.

[2021-08-19 15:27] ChrispinP commented on #6743
no issues, closing

[2021-08-19 15:27] #6743 closed

[2021-08-19 16:30] johnclary commented on #6761
@amenity - yes. thanks @frankhereford. i just ran a few tests and was able to get split features with `queryRenderedFeatures`. i won't have a chance to package up for another day or so but will post back here and maybe open a PR.

[2021-08-19 16:55] moorerst commented on #6902
[Deliverables Document](https://docs.google.com/spreadsheets/d/1WzvlKpUnZTRaRP528l6Ke0J_SNZ5dE6YTNACBCZI6OU/edit#gid=0)
Follow up Builders Huddle scheduled for 8/26

[2021-08-19 16:55] #6902 closed

[2021-08-19 17:09] patrickm02L commented on #6989
@mateoclarke thanks for authoring this issue!

[2021-08-19 18:05] TracyLinder commented on #1802
Subha updated AC. I am moving this back to the backlog until fee updates are over.

[2021-08-19 18:17] TracyLinder commented on #6868
Subha is picking this up

[2021-08-19 18:21] moorerst commented on #6549
@dianamartin can this be closed since the action items for GIS are being managed by Jamie and the Financial by John?

[2021-08-19 18:35] dianamartin commented on #6549
Yes, the meeting itself is done.

[2021-08-19 18:35] #6549 closed

[2021-08-19 18:40] TracyLinder commented on #6330
I emailed Nate & Sree the fee list that Amita sent us recently.

[2021-08-19 18:43] Nadin-Nader commented on #6330
**Next Steps:**
-  Review list and determine which need changes
- Look at a few DSD procedure that have the functionality that expires old logic and starts new logic on a certain date.
DefaultFee_SP_245
DefaultFee_SP_51121
FEE_BP_50000

[2021-08-19 19:15] amenity opened #6992 "[Enhancement] File attachments for funding line items"
As a project manager, I want to keep records of funding commitments so that I can plan and manage my project's budget.

[2021-08-19 19:56] jaime-mckeown opened #6993 "Request to Edit AAA Story Map - Nathan"
https://austin.maps.arcgis.com/home/item.html?id=dba125033d42453491b36ea5fb935eea

[2021-08-19 19:56] jaime-mckeown commented on #6993
Ownership changed to Nathan.

[2021-08-19 20:32] #6148 closed

[2021-08-19 21:07] dianamartin commented on #6865
Met with stakeholders: Brian VDW, Lance and Allyson, Chrispin
@john - They (MMC) requested publishing `detector log` to Socrata
- They need the detector events to create the dashboard to help Brian's maintenance reporting

They will work on getting the data from Brian C. (BBS & CCTV). Will keep Brian VDW in the loop.

[2021-08-19 22:29] amenity opened #6994 "Implement "Funding" UI"
![Funding eCapris](https://user-images.githubusercontent.com/1463708/131755420-6dfa727e-5339-4e60-bf7b-45606eeb1044.png)

If it's too convoluted to stick the eCAPRIS field in the table, we can do this:
![Funding eCapris with eCAPRIS funding out of Material Table](https://user-images.githubusercontent.com/1463708/132048548-2d2878f9-5ec7-4d1c-ad8a-a5d37258e03c.png)

[2021-08-20 09:59] amenity opened #6995 "[Feature] Project "Status update""
"Status updates" will provide users with ~1-4 sentences on the current state of the project. This is the content people receive by email/text/etc. if they follow the project. Read together, these will provide a project history.

### Comments page (edit)
Add comment types and ability to filter comments by type #7124

### Summary page (display)
Render the most recent "Status update" comment on the "

[2021-08-20 10:21] amenity commented on #6995
Actually, this might also work for #6409 - if we had a "Note" field in the table and we could access the past notes.

[2021-08-20 13:26] jaime-mckeown opened #6996 "ACL 2021"
Organize work and meetings for ACL in this Epic.

[2021-08-20 13:28] jaime-mckeown opened #6997 "ACL ATD Internal Coordination Meeting #1"

[2021-08-20 14:27] jaime-mckeown commented on #6997
- Shuttles: looking like the shuttles will be setup the same as 2019
- Toomey: MM and Bike parking in Toomey Parking Lot. Bikes in the west side of lot, MM in the central area
- MetroBike will be on Sterzing like in the past
- Lee Barton 5 min drop off / pick up zone like in the past
- Sophia asking for added bike racks on Azie Morton, bikes were parked along fence in front of Umlauf sculpture gar

[2021-08-20 14:30] andrewshensky opened #6998 "Mobile Pay Zone Data Not Displaying in ATD Land Use Parking Zone Web App"

[2021-08-20 14:51] #5388 closed

[2021-08-20 14:51] Nadin-Nader commented on #5388
This has been approved by Paloma on PROD. Closing

[2021-08-20 14:57] #6159 closed

[2021-08-20 15:27] jaime-mckeown opened #6999 "Crash Mapping Auxiliary Data Ownership/Sharing Update"

[2021-08-20 15:29] jaime-mckeown commented on #6999
Moved to ATD Publisher and shared publicly for Frank, saved in Vision Zero folder:
![image](https://user-images.githubusercontent.com/48842809/130256974-5408a43d-3b0f-4d06-8655-c0abcf6030ec.png)

[2021-08-20 15:30] #6999 closed

[2021-08-20 15:49] jaime-mckeown opened #7000 "TIA Traffic Counts Feature Layer Update"
Jamie asked me to add 3 new fields to the TIA Traffic Counts feature layer as Cody requested that ~250 Traffic Counts be added and they had Speed 50%, 85%, and 95% that he asked to be added to the layer.

[2021-08-20 15:52] jaime-mckeown commented on #7000
- Added 3 new fields to TIA Traffic Counts feature layer: Speed 50%, Speed 85%, Speed 95%
- Had to figure out how to add new fields to View Layer https://support.esri.com/en/technical-article/000017596
- Updated Edit Web Map for data collection, added new fields
- Updated main Web Map, added new fields to popup

[2021-08-20 15:53] jaime-mckeown commented on #7000
Let Jamie know that the work is done so he can use the Edit Web Map again.

[2021-08-20 15:53] #7000 closed

[2021-08-20 15:54] jaime-mckeown commented on #6990
New GISDM account was created on 8/19/21.

[2021-08-20 15:54] #6990 closed

[2021-08-20 15:54] jaime-mckeown commented on #6987
New account was created on 8/19/21.

[2021-08-20 15:54] #6987 closed

[2021-08-20 16:11] jaime-mckeown commented on #6942
Everyone was registered.

[2021-08-20 16:11] #6942 closed

[2021-08-20 16:11] jaime-mckeown commented on #6818
Changes were made in GISDM yesterday. Just checked to verify the layer.

[2021-08-20 16:11] #6818 closed

[2021-08-20 16:12] jaime-mckeown commented on #6969
Chris got the Extension working.

[2021-08-20 16:12] #6969 closed

[2021-08-20 17:55] johnclary opened #7001 "Remove container scrolling from GridTable"
Remove the scrolling container effect on instances of the GridTable component. The table should scroll as the entire page is scrolled and allow more records to be visible on the screen at one time.

This impacts:
- Projects list
- Staff list

[2021-08-20 18:04] amenity opened #7002 "Simplify new project workflow"
- [ ] Remove stepper, only going to show first screen
- [ ] White container `MuiContainer-root` `width: 75%` and `min-width: 40rem`
- [ ] Remove requirement for project extent

![New project - filling](https://user-images.githubusercontent.com/1463708/132907984-de88fb62-0974-4a91-aebb-9f6ac1fc9a79.png)
![New project - blank](https://user-images.githubusercontent.com/1463708/132907990-f39ee7b3-8f3e

[2021-08-20 18:09] TracyLinder commented on #6634
### This is approved. Please promote to PROD.

[2021-08-20 18:11] TracyLinder commented on #5576
I'm moving this to the backlog until the fee updates are done.

[2021-08-20 18:11] #6265 closed

[2021-08-20 18:14] TracyLinder commented on #6650
@Nadin-Nader can you follow up on this one please?

[2021-08-20 18:16] TracyLinder commented on #6201
@Nadin-Nader can you please follow up w/ Swapna?

[2021-08-20 18:19] jaime-mckeown opened #7003 "Request for AMANDA ROW Permits located in DAPCZ for 2019/2021"
From Ryan:

[2021-08-20 18:20] jaime-mckeown commented on #7003
To Ryan:

[2021-08-20 18:20] jaime-mckeown commented on #7003
From Paloma:

[2021-08-20 18:22] jaime-mckeown commented on #7003
- Created a subset of AMANDA ROW Permits within the DAPCZ
- Definition query to only include DS, EX, RW, SE folder types
- Selection set on Issue Date: 1/1-7/31 2019/2021, created new datasets
- Sent group the total permits for each year for that time period.

[2021-08-20 18:23] jaime-mckeown commented on #7003
Pro Project located in: G:\ATD\ATD_GIS\ROW_Mgmt\Data_Requests\DAPCZ_ROW_Permits_Compare

[2021-08-20 18:23] #6106 closed

[2021-08-20 18:27] Sreelatha-BlazeKannan commented on #6634
@Nadin-Nader , @TracyLinder - PROD Deployment plan submitted. Here is the commit ID “eb0743519f6” and could you please create the task id for me.

[2021-08-20 18:28] TracyLinder commented on #6867
**Update**
I think Subha is a good Dev for this. Nate is going to ask George with CTM if he has any feedback about creating a new payment type.
The AC isn't great, but I'm not sure what else to say.

[2021-08-20 18:46] Sreelatha-BlazeKannan commented on #6842
@Nadin-Nader , @TracyLinder - Tested the changes in DEV. All looking as expected. TURP fees removed. If approved then this can be deployed to TEST.

[2021-08-20 18:56] TracyLinder opened #7004 "New Info Fields - FDU - Cost of Svc"
### ROW applications need to collect FDU numbers, so we can provide the cost of service monthly FDU report.

**Stakeholders:** Paloma, Kim, Peggy

### Back Office
**Acceptance Criteria**
The following info fields need to be created in AMANDA as per the specifications provided:

Fund

- Info Code: New, needs to be created
- Info Description: Fund
- Info type: Numeric
- Info Group: Cost of Service
-

[2021-08-20 18:59] TracyLinder opened #7005 "New Info: Work Order #"
### A new info needed for Cost of Service

**Stakeholders:** Paloma, Kim...

**Acceptance Criteria:**
A new info field below needs to be added to AMANDA as per the specifications provided.

- Info Code: New, needs to be created
- Info Description: Work Order #
- Info type: AlphaNumeric
- Info Group: Cost of Service
- Applicable to folders: EX and RW (subtype Temporary Right of Way use only)
- Requ

[2021-08-20 19:03] #7001 closed

[2021-08-20 19:05] jaime-mckeown opened #7006 "CMTA MetroRail / MetroRapid Routes/Stations take over update of data"
When I was checking the CMTA data that ATD maintains for changes after coordinate system changes were made, and decided to look into the Metro Rail and Metro Rapid Routes layers in GISDM External. It turns out that they are both super outdated and both are just subsets of the CMTA Routes layer.

Emailed Dwayne to see if ATD can take those over as well, he will be updating Geodatapusher so ATD can

[2021-08-20 19:07] jaime-mckeown commented on #7006
- Metro Rail: CMTA Routes layer, ROUTETYPE = Rail
- Metro Rapid Routes: CTM Routes layer, ROUTEID = 801, 803

[2021-08-20 19:08] Nadin-Nader commented on #6650
Per our meeting, If nothing else comes up I will close this on Wednesday 8/25/21

[2021-08-20 19:09] Nadin-Nader commented on #5961
@Sreelatha-BlazeKannan
## **Approved for PROD**

[2021-08-20 19:18] Sreelatha-BlazeKannan commented on #5961
@Nadin-Nader , @TracyLinder - PROD Deployment plan sent. Here is the commit id 'd946942ab89f', Please create TASK ID for me

[2021-08-20 19:18] Sreelatha-BlazeKannan commented on #5961
@Nadin-Nader , @TracyLinder - PROD Deployment plan sent. Here is the commit id 'd946942ab89f', Please create TASK ID for me

[2021-08-20 20:08] atdservicebot opened #7007 "[Bug] Purchase request items table columns are misaligned"
Finance & Purchasing

Total row at the bottom of the item section on PRs is not totaling correctly.  The extended cost does not always show up on the first load and when refreshed or changed to "10 per page" the extended cost total will show but all cells in the bottom line are shifted left one.

Internet Browser: Chrome

Dan V.

Request ID: DTS21-102560

[2021-08-20 20:39] jaime-mckeown opened #7008 "AAA Bicycle Network Current Web Map Sharing/Ownership"
Nathan requested that this Web Map be shared publicly, then moved back under his ownership so he can add to the AAA Story Map.

[2021-08-20 20:40] jaime-mckeown commented on #7008
Shared publicly, moved back under Nathan's ownership.

[2021-08-20 20:41] jaime-mckeown opened #7009 "AAA Implementation Feature Layer Re-Publish"
Nathan requested that the AAA Implementation feature layer be re-published.

[2021-08-20 21:03] SubhaShroff commented on #6562
@Nadin-Nader  - SCTASK0161008 is submitted for DEV deployment for commit - cd41715d86ca.

[2021-08-20 21:06] amenity opened #7010 "[Bug] Can't rename project"
On any project page, e.g. https://mobility.austin.gov/moped/projects/41/, the user is not able to save the project name after editing it.

https://user-images.githubusercontent.com/1463708/130298384-4e1cd546-416e-48f9-aab7-4f0473b6d090.mov

From Meredith Q:

[2021-08-20 21:12] johnclary opened #7011 "[BUG] Current phase not listed correctly in project list"
In the project list, the current phase is either blank or does not match the current phase of the project. For example, project [#290](https://moped.austinmobility.io/moped/projects/290/).

Project listing:
<img width="920" alt="Screen Shot 2021-08-20 at 4 07 09 PM" src="https://user-images.githubusercontent.com/14793120/130293508-fb26e691-fee6-44d4-878f-a8a1cd225e3d.png">

Project detail:
<img wi

[2021-08-20 21:19] jaime-mckeown commented on #7009
Feature layer re-published.

[2021-08-20 21:19] #7009 closed

[2021-08-20 21:40] jaime-mckeown commented on #6993
Also changed ownership of the following:
- All Ages and Abilities Bicycle Network Status Map
- All Ages and Abilities Bicycle Projects Table

[2021-08-20 21:42] jaime-mckeown commented on #7008
Added to other Issue for changing ownership back to ATD Publisher.

[2021-08-20 21:42] #7008 closed

[2021-08-20 22:06] jaime-mckeown commented on #7006
- uploaded both layers to GISDM Dev, Test, and Prod External

[2021-08-20 22:06] jaime-mckeown commented on #7006
Need to submit CTM Request to re-publish to AGOL from GISDM External.

[2021-08-22 15:09] jgabitto commented on #6476
I've included information about the migration in the the `README.md` of the `jg_migrate-to-nextjs` branch in the `atd-product` repo.

[2021-08-23 14:04] johnclary opened #7012 "Project components: Fetch complete line segment geometries from ArcGIS Online"
Related to #6761. As described in [this PR](https://github.com/cityofaustin/atd-moped/pull/402#issuecomment-903302671) , we need to fetch component line segment geometries from ArcGIS Online in order to ensure that we store the complete feature geometry.

[2021-08-23 14:05] Sreelatha-BlazeKannan commented on #6321
@Nadin-Nader , @TracyLinder - Clarifications received on

AC - "Secondary?" info should NOT appear on the portal application if the application is for "Private Development (PVT)"

as this cant be excluded only in portal. Tracy asked to make it appear for all subtypes in both portal n back office for EX.

[2021-08-23 14:07] johnclary opened #7013 "Publish Moped CTN segments to AGOL feature service"
In order to accomplish #7012, we need the Moped CTN segments to be published as a publicly-shared feature service on ArcGIS Online. The only attributes that need to be included are the same attributes currently published in the vector tile layer.

Note that we do not need the intersection points (which are included in the tile layer).

[2021-08-23 14:13] jaime-mckeown commented on #7006
Submitted CTM Request to update to AGOL.

[2021-08-23 14:16] jaime-mckeown opened #7014 "All Ages and Abilities Population within 1/2 mile of Completed Features - Nathan"
2020 census numbers are only available for Counties and Cities since the redistricting is not complete at this time. Will have to use 2019 ACS 5-year population numbers for this analysis.

[2021-08-23 15:00] dianamartin commented on #7007
Messaged user

[2021-08-23 15:07] johnclary commented on #6854
Recap of latest changes:
<img width="1375" alt="Screen Shot 2021-08-23 at 10 06 35 AM" src="https://user-images.githubusercontent.com/14793120/130471090-e2b0009d-fc17-4baa-9396-ba072df76481.png">

[2021-08-23 15:10] atdservicebot opened #7015 "The KNACK NEO Evaluation form needs an export button to batch export employee responses"
Human Resources

The KNACK NEO Evaluation form needs an easy button to export every question for every employee that responds as a cumulative report.  See the attached example.  Thank you, Linda

Flexible  — An extended timeline is OK

Before September 16th - the next NEO

Linda E.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/6123b9f8c1ee48001efd0e2b/

[2021-08-23 15:11] dianamartin commented on #7007
@mateoclarke Can you guys look at this at your next Dev Sync? I think it might be happening due to the custom code we had to do for the copy function when Mike did it.

[2021-08-23 15:11] johnclary opened #7016 "Ability to link signal work orders to projects"
As part of #6854—staff would like to be able to tag/link work orders to specific projects. This work may entail:

- [x] Adding a connection between work orders and projects (`one project connects to many work orders`)
- [x] Adding a project selector field to all places a work order is created (there are quite a few at this point)
- [x] Adding a connected "Work Orders" table to the project details

[2021-08-23 15:12] johnclary commented on #7016
@amenity here's one that needs to be groomed/assigned

[2021-08-23 15:16] dianamartin commented on #6888
Checked the `reimbursement_tracking` object and there were not audit fields there. Adding a connection to the accounts for the "Modified By" and adding "Modified Date".

[2021-08-23 15:20] johnclary commented on #2612
See #6854

[2021-08-23 15:22] dianamartin commented on #7007
When you first get on the page, the "Total Cost" is blank, until you refresh the table by changing how many records are shown on the table.

[2021-08-23 15:31] johnclary commented on #2673
We continue to be focused on #4999 and #5003.

[2021-08-23 15:38] TracyLinder opened #7017 "Create TDS Fees (Ready for PROD)"
TDS Fee Spreadsheet is [here](https://docs.google.com/spreadsheets/d/17Wso9esPgv1deUspTYz-v_VyzZxDeL_10uGaXe_8YYg/edit?usp=sharing)

**Acceptance Criteria**
The fees provided below need to be configured/updated as specified:

**DAC Fees (Residential/Sidewalk Waivers) Review**
- Fee code: New Fee that needs to be configured
- Fee Description: ATD Residential Sidewalk Waiver Review
- Fee Amount: $35

[2021-08-23 15:40] johnclary commented on #4383
<img width="906" alt="Screen Shot 2021-08-23 at 10 38 38 AM" src="https://user-images.githubusercontent.com/14793120/130476225-f4de1fec-bb4f-41cf-9864-4431d2fee98a.png">
<img width="920" alt="Screen Shot 2021-08-23 at 10 38 56 AM" src="https://user-images.githubusercontent.com/14793120/130476227-950d7348-4620-4a6b-bf06-c813b217419a.png">

[2021-08-23 15:45] ChrispinP commented on #7015
Since the NEO questions are mostly mc fields and some text I think, this would probably be best served as an exportable table, or a pivot report if they want certain metrics.

[2021-08-23 15:51] dianamartin commented on #6888
@johnclary I added the audit fields, good to close?

[2021-08-23 15:53] dianamartin commented on #7015
@ChrispinP Yes, this is what the requester wants. I talked to her this morning before she put in this request. Our goal would be to make it as similar to the uploaded spreadsheet she attached.

[2021-08-23 16:25] dianamartin opened #7018 "Set up automation for "signal_detection_status_log" from Knack to OpenData Portal"
Allyson
MMC

- They need the detector events to create the dashboard to help Brian VDW's maintenance reporting requirements

[2021-08-23 16:37] amenity commented on #307
Our latest release, [Moped 0.8.0 Grey Fox Trail](https://github.com/cityofaustin/atd-moped/releases/tag/v0.8.0 "https://github.com/cityofaustin/atd-moped/releases/tag/v0.8.0" focuses on global design improvements and substantial refinements to the mapping interface based on findings from our usability testing.

Meanwhile, we've implemented [basic project tracking functionality](https://github.com/

[2021-08-23 16:45] dianamartin commented on #7018
@amenity @johnclary please prioritize in Dev Planning

[2021-08-23 16:47] dianamartin commented on #7018
John said to add the API View fields first and then put back in "Backlog"

[2021-08-23 16:58] andrewshensky opened #7019 "Meet up with Sophia to Review Printed Bike Maps"
Bike map drafts have been printed. Scheduled to meet on 8/26 to review.

[2021-08-23 18:12] jaime-mckeown commented on #7014
- downloaded the B01003 Total Population ACS 5year 2019 Table from the Census Bureau
- joined table to external block groups layer
- definition query on AAA Bicycle Network for PhaseSimple = Complete and created a 1/2 mile buffer
- Selected block groups where majority of population sits inside buffer zone (used nearmap imagery for block groups on the edges of the buffer

[2021-08-23 18:32] andrewshensky opened #7020 "Look into CTN Enhancements with Attribute Rules"

[2021-08-23 18:37] moorerst commented on #6946
@dianamartin did Shavyvonne approve of the changes when you did the demo for her last week?

[2021-08-23 18:41] moorerst commented on #6607
@dianamartin can you set me up with the permissions needed to review the updated you made?

[2021-08-23 18:45] dianamartin commented on #6946
@moorerst she said she'd test it with Hilary next week and then provide feedback. So I think they're in review mode right now. We could probably ping her to remind her to let us know how it goes.

[2021-08-23 18:45] jaime-mckeown commented on #7014
Project is located in G:\ATD\ATD_GIS\Active_Transportation\All_Ages_and_Abilities

[2021-08-23 19:02] moorerst commented on #6946
Waiting on additional feedback from stakeholder:
Nightshift used it Thursday-Saturday and there wasn't any issues from the Dispatcher nor the Officers. Dayshift just started to use this function today. I will follow back up with you before the week is over to provide feedback.
Wednesday I will follow back up with you. It'll be before 4pm as this allows me to also meet with Nightshift when they com

[2021-08-23 19:06] jaime-mckeown commented on #7006
CTM updated data in AGOL and gave it a monthly update cycle.

[2021-08-23 19:27] alan-deanda commented on #7013
@johnclary , I've uploaded the feature service, it can be found [here](https://services.arcgis.com/0L95CJ0VTaxqcmED/arcgis/rest/services/Moped_CTN_Segments_08_23_2021/FeatureServer)

The content page for the feature service is [here](https://austin.maps.arcgis.com/home/item.html?id=d73703dbcea248e6ab878e20ec2382f8) in case you need it.

On an interesting note, this file seems to be 38MB compared t

[2021-08-23 19:32] alan-deanda commented on #6981
The symbols have been re-drawn and exported as svgs. While bringing in svgs of the art into ArcPro did not work as expected, re-drawing the art has been helpful, as most of the existing art were vectorized scans from photoshop and were really low resolution and split into too many individual paths.

[2021-08-23 19:32] #6981 closed

[2021-08-23 19:42] alan-deanda commented on #6968
While all the art was simplified before exporting as svgs, bringing the art into Pro does not work as expected. In the past, we've successfully incorporated svg symbols of a similar complexity into Pro as styles. However, these elements aren't part of the geography of the map, they hover above, so these elements are treated differently, and one is not able to manipulate them or see their details i

[2021-08-23 19:42] #6968 closed

[2021-08-23 19:54] jaime-mckeown commented on #7006
Forgot about the Metro Rail layer, need to request access via Geodatapusher, etc....

[2021-08-23 19:55] alan-deanda opened #7021 "Full-size Bike Map - PDF from Pro to Illustrator"
After exporting the full size bike map into Illustrator as an AIX file through the ESRI extension for CC, and importing the legend/art from Illustrator into Pro as SVGs proved unsuccessful, we'll try exporting the map from Pro as a PDF.

- The PDF is loaded into Illustrator
    - The document loses its layer organization, but all art remains in order
- The document is saved as a new Illustrator fi

[2021-08-23 19:55] alan-deanda commented on #7021
@andrewshensky bringing in the svgs failed, I'm going to be doing this issue for a full-size draft now.

[2021-08-23 19:56] alan-deanda commented on #6968
@andrewshensky  here's what didn't work about bringing svgs into Pro

[2021-08-23 20:36] dianamartin opened #7022 "Geo Discovery: TIA Mitigations Intersection/Street Segment ID Capture"
### Objective

### Participants
Jaime, Andrew, Chrispin, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ] Create resulting issues

[2021-08-23 21:06] jaime-mckeown commented on #7006
- Dwayne gave me Geodatapusher access to Maint, GISDM External Dev, Test, and Prod for cmta metrorail.
- Completed updates to GISDM External Dev, Test, and Prod.
- Asked Ben if he could still add it to the request he has for the metro rapid data

[2021-08-23 21:10] jaime-mckeown commented on #7006
Added MetroRapid Routes/Stations and MetroRail to Data Inventory

[2021-08-23 21:22] SubhaShroff commented on #6562
@Nadin-Nader  DEV deployment is done and it looks good. Please let me know if I can promote it to TEST.

![image](https://user-images.githubusercontent.com/51680715/130521200-d8a30605-71d5-4682-84dc-f88ab699e5b8.png)

[2021-08-23 21:24] jaime-mckeown commented on #6840
CTM Request complete.

[2021-08-23 21:24] #6840 closed

[2021-08-23 21:29] dianamartin opened #7023 "Update "Journal Voucher" info in AMD Data Tracker - Warehouse Inventory- (7/13/2021 - Inventory Adjustments)"
- [x] Spreadsheet emailed from Van month of: `July - 7/13`
- [x] Number of records being updated: `56`
- [x] Format spreadsheet [(Review instructions)](https://atd-dts.gitbook.io/atd-knack-operations/warehouse-inventory-updating-journal-vouchers-jv-information)
- [x] Spot check Transaction IDs, no JV information before import
- [x] Import records
- [x] Spot check Transaction IDs, no JV information

[2021-08-23 21:32] #6629 closed

[2021-08-23 21:35] jaime-mckeown commented on #6906
October and November Migrating from ArcMap to ArcGIS Pro Classes have been released, let the rest of ATSD know.

[2021-08-23 21:37] andrewshensky commented on #6968
@alan-deanda Thanks for sharing this. Do you think it would be possible to export the final graphics as a PNG at the proper size and scale to maintain resolution, then just add the flatten PNG to the map in Pro?

[2021-08-23 21:40] dianamartin commented on #7023
Emailed user

Let me if you need anything else.

[2021-08-23 21:42] SubhaShroff commented on #6868
@Nadin-Nader  @TracyLinder  worked on this ticket and a commit is done - **d80522d0274a**.

![image](https://user-images.githubusercontent.com/51680715/130523294-03041639-0870-4444-8163-7a097823a988.png)

[2021-08-23 21:46] jaime-mckeown commented on #6991
Configure profile and added to groups.

[2021-08-23 21:46] #6991 closed

[2021-08-23 21:49] jaime-mckeown commented on #6905
New Churches to ensure are added to new data:
- 4800 Convict Hill Rd: St. Catherine of Siena Catholic Church
- 4612 Convict Hill Rd: Abiding Love Lutheran Children's Center (church was captured, but this child care facility was not)
- 4011 Convict Hill Rd: Solid Rock Church
- 7104 McNeil Rd: Gateway Church

[2021-08-23 21:50] jaime-mckeown opened #7024 "Data Driven PHB Updates for 2022"
- [x] Large Retail (Andres)
- [x] Schools (from MAINT dataset)
- [x] Churches (Andres, gave him updated data that he is working with)
- [x] Parks (from GISDM)
- [x] Large Office (waiting for updated data from Chris R. at the Chamber of Commerce)
- [x] Multi-Family (script, will run closer to end of year)
- [x] Social Services (?)
- [x] Public Trans (should work on this now as it changed quite a bi

[2021-08-23 21:51] #6905 closed

[2021-08-23 21:56] #6997 closed

[2021-08-23 22:08] johnclary commented on #7013
thanks @alan-deanda! looks great. ran a quick test and it has everything I need. closing this!

[2021-08-23 22:08] #7013 closed

[2021-08-23 22:11] johnclary commented on #7012
[Here](https://services.arcgis.com/0L95CJ0VTaxqcmED/ArcGIS/rest/services/Moped_CTN_Segments_08_23_2021/FeatureServer/0) is the CTN feature service endpoint.

This is a sample `GET` request for project extent ID #606931 geojson:
[code]

[2021-08-23 22:39] dianamartin commented on #6944
Created new page on menu button under Study Locations, called `Studies export`
- Table will be created from the `studies` object so that Renee can export and sort based on those fields
- Added all field from "Study Locations" table, these fields are sortable
- There were `15` records that seemed orphaned, definitely `2` that should be deleted
- Will email Renee tomorrow

[2021-08-23 22:59] amenity commented on #7016
@dianamartin - giving this to you for next sprint. Happy to talk through it with you and Billy if that's helpful.

[2021-08-24 05:35] amenity commented on #6767
Removing:
- [ ] Change h4s on "Summary" tab (Current phase, "Current status", "Description", "Start date", "Capital funding") into h3s, leave styled as h4s

since @patrickm02L is redesigning the Project Summary page.

[2021-08-24 05:47] #6766 closed

[2021-08-24 05:49] amenity commented on #6767
@chiaberry - finally decided on sizes for this...

[2021-08-24 14:03] SubhaShroff commented on #6562
@Nadin-Nader After your confirmation on Teams, I have submitted TEST deployment request for the above change. - **SCTASK0161747**

[2021-08-24 14:16] SubhaShroff commented on #6868
@Nadin-Nader  SCTASK0161752 - is submitted to Deploy the code changes in DEV.

[2021-08-24 14:16] jaime-mckeown commented on #7014
Nathan asked for the total population for the City of Austin.

[2021-08-24 14:18] jaime-mckeown commented on #7014
- Sent the COA Total Population per the ACS 5-year 2019 table
- Did an intersect between the block groups 1/2 mile buffer and the COA Full Purpose to provide the population that fell within the buffer area in COA Full Purpose.

[2021-08-24 14:27] jaime-mckeown opened #7025 "AMANDA Street Closures - 8/24"

[2021-08-24 14:59] jaime-mckeown opened #7026 "Street Initiative - Esri/CTM Interview"
Attendees:
- Jacquie from CTM
- Keith N. from Esri
- Adrien from CPO
- Jaime, Andrew, Alan, Susanne from ATD

[2021-08-24 15:12] #7010 closed

[2021-08-24 15:54] moorerst commented on #6607
@dianamartin - some questions/suggestions

- [ ] on the HR Form Management form can we remove the following fields: form id, created by, created date
- [ ] on the forms detail page some of the completed survey dates are still appearing in red:
![image](https://user-images.githubusercontent.com/56606465/130646622-64c73942-7444-4254-aa9f-44fe14fc5157.png)

- [ ] on Forms Details page can we add a fi

[2021-08-24 16:34] moorerst opened #7027 "Builder Huddle/Grooming Employee List Automation"
we have been working with HR to identify a solution for a automated employee list.
We are at a point where we would like to discuss the need, the challenges, the research and the deliverables for this project.

Agenda items include:

- Challenges associated with the current HR manual entry of new ATD employee into the HR Employee Knack application.

- The data needed to complete all the required f

[2021-08-24 16:44] moorerst opened #7028 "Builder Huddle: Parking Meters Work Order System"
We have completed the additional discovery issues (Inventory and Pay Station Assets spreadsheet) that were discussed in the previous builder huddle:
[Previous Builder Huddle](https://github.com/cityofaustin/atd-data-tech/issues/6441)
[Inventory Management Spreadsheet](https://github.com/cityofaustin/atd-data-tech/issues/6548)
[Pay Station Spreadsheet](https://github.com/cityofaustin/atd-data-tech/

[2021-08-24 16:44] moorerst opened #7029 "Builder Huddle: Parking Meters"
We have completed the additional discovery issues (Inventory and Pay Station Assets spreadsheet) that were discussed in the previous builder huddle:
[Previous Builder Huddle](https://github.com/cityofaustin/atd-data-tech/issues/6441)
[Inventory Management Spreadsheet](https://github.com/cityofaustin/atd-data-tech/issues/6548)
[Pay Station Spreadsheet](https://github.com/cityofaustin/atd-data-tech/

[2021-08-24 16:46] jaime-mckeown commented on #7026
- Meeting was recorded, available in the meeting chat
- Keith had created a diagram that we went through and added more info to
- Jacquie will be setting up a second meeting since there is more to cover. I asked that she try and make it so John can attend as well.

[2021-08-24 16:46] #7026 closed

[2021-08-24 16:48] moorerst commented on #7029
this is a duplicate - closing

[2021-08-24 16:48] #7029 closed

[2021-08-24 17:40] alan-deanda commented on #6968
![highway symbols](https://user-images.githubusercontent.com/42655533/130663796-5ef94cb1-8302-481a-8fab-1fec187a513b.png)
@andrewshensky this is what a full scale png symbol looks like. it's very lossy/looks as bad as the old versions of the highway icons.

[2021-08-24 17:42] SubhaShroff commented on #6562
@Nadin-Nader  TEST deployment is done. I tested it on both TEST Portal and Back office. Following are the screenshots.

![image](https://user-images.githubusercontent.com/51680715/130663945-a6439f85-71c3-4b89-a567-51a25614a71f.png)

![image](https://user-images.githubusercontent.com/51680715/130664069-671e32ee-1683-43dd-9f7c-e21a4c5e4fc9.png)

[2021-08-24 18:04] amenity commented on #7018
@dianamartin - just let @chiaberry know when the Knack view is set up

[2021-08-24 18:14] jaime-mckeown commented on #7025
Street Events AMANDA and Parking Spaces Permits feature layers updated. Web Maps updated.

[2021-08-24 18:14] #7025 closed

[2021-08-24 18:16] #7003 closed

[2021-08-24 18:16] #7006 closed

[2021-08-24 18:19] amenity commented on #6767
erhsrths

[2021-08-24 18:23] andrewshensky commented on #6968
Yeah it does have a pretty pixelated look to it

[2021-08-24 18:34] jaime-mckeown commented on #6957
- Just heard from Ben that the scripts that are used to publish data to AGOL from GISDM only work for publicly shared data. Ben and Sean are still working out if it can be added or not.
- I emailed Chris M. in OOD to let him know what's going on since it is taking longer then I expected, and that it may not even happen.

[2021-08-24 18:46] SubhaShroff commented on #6868
@Nadin-Nader DEV deployment is done. And following are the screen shots of the new info on BO & Portal. Please let  me know, if it looks good and can be promoted to TEST.
EX
![image](https://user-images.githubusercontent.com/51680715/130672131-6a3b469d-5b31-47c3-813e-4f67549818a7.png)

RW-TURP Portal
![image](https://user-images.githubusercontent.com/51680715/130672602-b04375da-a921-42a2-a2b4-fa94

[2021-08-24 19:07] amenity opened #7030 "Implement refinements to project Files"
Files
- [ ]  "File type" dropdown
- [ ]  Description (and remove icon)
- [ ]  Change title of modal to match button "Add file"

[2021-08-24 19:18] Sreelatha-BlazeKannan commented on #6321
@Nadin-Nader , @TracyLinder  -  #6321 DEV Deployment plan sent. Kindly approve and create task id for me.

**Commit ID’s
2132d4580c6c
84eb2e0c40b4

[2021-08-24 19:57] amenity commented on #5080
Duplicate of #6995

[2021-08-24 20:02] #3355 closed

[2021-08-24 20:07] jaime-mckeown opened #7031 "AGOL Esri Official Verification Meeting"

[2021-08-24 20:21] andrewshensky opened #7032 "Add Filter to Speed Limit Change Web App"
Preset filter needs to be added for users to easily query only segments with street width between 36 and 40'

[2021-08-24 20:26] jaime-mckeown commented on #7031
- All authoritative public facing content will show as City of Austin as the owner
- All authoritative public facing content will have disclaimer updated by GeoJobe (CTM)
- Look over authoritative items spreadsheet to make sure I haven't missed any data
   - ATD's data was just updated when we moved automated content from Knack to new Publisher account.
   - Let group know that ATD is good to go

[2021-08-24 20:26] #7031 closed

[2021-08-24 21:10] atdservicebot opened #7033 "Would like to develop a cost estimate form that can be used to calculate cost estimates for both sig..."
Signs & Markings Operations

Would like to develop a cost estimate form that can be used to calculate cost estimates for both signs and markings.

We would like the cost estimate page to look very similar to what we have existing on our "Invoice Details" pages and would the printed forms to look very similar to the invoice documents we have in Knack already. This would be the central place that Su

[2021-08-24 21:34] andrewshensky commented on #6684
- Update/Add missing segment IDs
- Split segments where new segments added
- Realign segments to match with Street Segment data prior to append
- Realignment of segment with placement inaccuracies
- Delete improperly placed segments to update with newer data
- Correct any obvious attribute issues

Since issue was created over 4,700 features have been Created or Modified
About 2,800 features create

[2021-08-24 21:42] jaime-mckeown commented on #7014
Nathan was good with second set of numbers I sent.

[2021-08-24 21:42] #7014 closed

[2021-08-24 22:07] dianamartin opened #7034 "Communicate with all stakeholders about SharePoint site migration to Modern Pages"
Diana
DTS

see [spreadsheet](https://docs.google.com/spreadsheets/d/1O_wW70EpLydQ0t5-fV2z80NN_jzhA72m32m3o5hBbMg/edit#gid=0) for assignments

We've discussed and assigned which sites we'll be emailing, trying to get feedback by Sept 1st.

- Follow-up email sent to Spoorthy on 9/2 - to check in w/ how many replies we've gotten
- Follow-up meeting w/ Spoorty 9/6

[2021-08-24 23:18] johnclary opened #7035 "ProjectView: Fix various DOM warnings"
[This](https://github.com/cityofaustin/atd-moped/blob/a249dc69e4037e7ed7a43521dc3f76ef229a565d/moped-editor/src/views/projects/projectView/TabPanel.js#L18) use of `<Typography>` wraps the children of tab components in a `<p>` element, resulting in a linter error for invalid DOM nesting.

The task is to move the use of Typography further down the chain for elements that need it. At a quick glance,

[2021-08-24 23:36] johnclary opened #7036 "[Enhancement] Project Status Badge"
### UI & Triggers
- Add menu items for "Place on hold" and "Cancel", see below
![New Summary Page – 3 0 – Cancel project](https://user-images.githubusercontent.com/1463708/135399309-630ad621-53c3-49e0-aa85-5f882a33afda.png)
- Display status as a badge at the top of the project - design specs in #7492

## Background
The use of the project "Status" field is confusing. It's options are:
- Active
- Po

[2021-08-24 23:40] johnclary commented on #7036
@amenity FYI obvi needs further discussion

[2021-08-25 13:05] #6982 closed

[2021-08-25 13:16] andrewshensky opened #7037 "Create Models to Enhance and Standardize Processing"
Creating models for this process will help standardize data processing and break apart data into working categories. This is essential because some categories of data can be processed through automation while others will need to be manually reviewed before processing

**Data Categories:**

_Attribute Changes_
- Joins to CTN by segment ID
- Does not joint to CTN by segment ID

_Geometry Changes_
-

[2021-08-25 13:41] SubhaShroff commented on #2397
### Status:
After call with Gita, based on her suggestion have done a  change in configuration to display the old infos(75942. 75943 if are with permit). I will commit it today and submit DEV promotion for it. The change can be tested only in DEV.

[2021-08-25 13:49] SubhaShroff commented on #6322
### Status:

- The work types are added on localhost.
- Code check is done. As suggested by Gita, looking out the configurations and batch jobs code as well, for old TURP worktypes.
- @TracyLinder  would give me/walk through the workflow for each new WORKTYPE.

[2021-08-25 13:50] SubhaShroff commented on #6562
### Status: Up for UAT on TEST.

[2021-08-25 13:52] SubhaShroff commented on #6641
### Status:
I had missed the notification. Its ready for PROD deployment and I am submitting request today.

[2021-08-25 13:53] SubhaShroff commented on #6868
### Status:
Ready on DEV for Approval to move to TEST.

[2021-08-25 14:17] andrewshensky commented on #7037
**Model 1.**
_Separating features with attribute changes based on whether or not they join back to the CTN by segment ID_

Model Summary

1. Creates subset of features from Segment Change feature class that have some kind of attribute change
2. Joins subset with CTN
3. Creates output layer of all features with a Segment ID in Join table (Identifies if Join is valid with CTN)
4. Creates output laye

[2021-08-25 14:18] johnclary commented on #6854
Recap of the latest changes:

[2021-08-25 14:22] andrewshensky commented on #7037
**Model 1.**
_Creates output layers based geometry update category_

Model Summary

1. Iterates through Street Segment Changes Selecting each Geometry Update type (Skipping NULLS)
2. Creates output layer for each Geometry Update type subset
3. Each output layer added to ManualReview Dataset

[2021-08-25 14:27] johnclary commented on #6888
thanks! assigning to myself to update the integration accordingly.

[2021-08-25 14:30] SubhaShroff commented on #6641
### Status:
PROD deployment request is submitted - SCTASK0162044.

[2021-08-25 14:35] dianamartin opened #7038 "IT Support: No access to approve TLC forms"
Mary Vo
PE

Nathan

Mary

[2021-08-25 14:35] andrewshensky commented on #7037
**Model 3.**
_Pushes updated field values from Joined layer created in Model 1 to CTN_

Model Summary

1. Joins Joined layer created in Model 1 to CTN
2. Performs multiple field calculate, calculating overwriting CTN fields with Joined table attribute data only in cases where field values are not NULL
3. Join removed

[2021-08-25 14:36] dianamartin commented on #7038
Checked and Mary was only listed as "staff" user role. Gave her "supervisor" user role.

Emailed users

[2021-08-25 14:36] #7038 closed

[2021-08-25 14:53] dianamartin commented on #6944
Emailed Renee 8/25

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b5cdfcae-7721-47ee-bca5-4252372abfd2)

[2021-08-25 14:54] andrewshensky opened #7039 "Follow with Dwayne regarding ADDED Segments Attributes"

[2021-08-25 14:57] jaime-mckeown opened #7040 "GIS Modernization Meeting - 8/25"

[2021-08-25 15:09] TracyLinder commented on #2397
Note: During UAT we need to test incomplete existing folders. We can do this in test.

[2021-08-25 15:13] TracyLinder commented on #6867
Goes on folders:
EX
RW
UC
DS
GF
SCP

[2021-08-25 15:46] amenity commented on #2817
This is covered by #3114

[2021-08-25 15:46] #2817 closed

[2021-08-25 15:46] TracyLinder commented on #7017
Tracy will schedule sync w/ our Devs early next week to discuss this one.

[2021-08-25 15:46] patrickm02L commented on #6363
Via @frankhereford

Moving to the backlog.

[2021-08-25 15:47] johnclary commented on #4732
Re-opening: we need to confirm SMB will take it from here and let Jim D. know.

[2021-08-25 15:48] amenity commented on #6640
@dianamartin - maybe close?

[2021-08-25 15:50] amenity commented on #6980
@dianamartin - email @johnclary a copy plz

[2021-08-25 15:51] jaime-mckeown commented on #7040
- Shanon went through the departments seeing how everyone was doing.
- There are not any departments in Phase 2 with custom tools that need migrating
- Discussion of reported issues: sounds like there are some problems with 2.8.2, glad we are not upgrading yet
   - Shanon would like us to report any issues that are coming up with Pro so they can be resolved
- Pro Newsletter going out today
- Train

[2021-08-25 15:55] #5570 closed

[2021-08-25 16:38] #7040 closed

[2021-08-25 16:39] jaime-mckeown opened #7041 "Crash Mapping Auxiliary Data Content Ownership Change - Frank"
Frank requested to have ownership changed back for edits of the Feature Layer, Web Map, and Web App.

[2021-08-25 16:41] moorerst commented on #6607
@dianamartin is there a way for HR to CANCEL the process if an employee do not make it to one of the milestone dates?

[2021-08-25 16:41] jaime-mckeown commented on #7041
Asked him to create a folder for this content so it's easier for me to find.

[2021-08-25 16:42] jaime-mckeown commented on #6816
Lee added it to ROWPACT Dev and Test yesterday. Tested and looked great.

[2021-08-25 17:46] jaime-mckeown opened #7042 "Pro Migration - 8/25 - 9-7"

[2021-08-25 17:47] jaime-mckeown opened #7043 "GIMOB Meeting - September"

[2021-08-25 17:58] jaime-mckeown opened #7044 "Create new Web Map for accessing AMANDA ROW Permits"
I just had a request for some AMANDA ROW Permit numbers. Want to make a Web Map for ROW to be able to produce the same results through AGOL.

[2021-08-25 17:59] jaime-mckeown opened #7045 "Signal Engineer Areas Updates"
Jonathan requested that the Signal Engineer Maps be updated as they have a new engineer on the team.

[2021-08-25 18:36] jaime-mckeown opened #7046 "Public Works GIS Analyst Interviews - 9/1"
Sit on GIS Analyst panel for Public Works opening.

[2021-08-25 18:38] jaime-mckeown opened #7047 "ACL 2021 Wayfinding Meeting - 8/26"

[2021-08-25 19:05] johnclary opened #7048 "Publish latest CTN updates to vector tiles and feature service"

[2021-08-25 19:28] jaime-mckeown opened #7049 "ArcGIS on Citrix Servers - updates to CTM"
From Dwayne:

ArcMap: (ATSD: Nathan W, Eric V, Mike S, Tyler W), Jaime M, Dylan J (now in PW)
Pro: Dylan J (now in PW), Jaime M

[2021-08-25 19:43] amenity opened #7050 "[Feature] Project Sponsors and Partners"
In Moped 1.0, we want to track the following information so that users can see what projects a particular workgroup is involved with:
- Project Sponsor - Division, department, or external organization that owns a project
- Project Partner - Division, department, or external organization that is participating in a project

![New Summary Page – 3 0 – 2](https://user-images.githubusercontent.com/1463

[2021-08-25 21:12] andrewshensky opened #7051 "Provide user access to the Speed Limit Change Web App"
Two users are requesting access to web app

[2021-08-25 21:31] andrewshensky opened #7052 "GISERT Working Session Meeting"
Dwayne used this time to show me around the GISERT Outlook Inbox, Teams, AGOL, etc. He mentioned looking around these sources to gain better familiarity and see what to expect. Further access to data folders is still in the process of being granted.

[2021-08-25 21:31] #7052 closed, assigned to andrewshensky

[2021-08-26 14:36] #7022 closed, assigned to dianamartin, ChrispinP

[2021-08-26 14:51] jaime-mckeown opened #7053 "AMANDA Street Closures - 8/26"
2 events were cancelled this weekend. Ran updates to remove from the content and Web Map.

[2021-08-26 14:57] #7053 closed, assigned to jaime-mckeown

[2021-08-26 15:38] johnclary opened #7054 "Spike: Evaluate Prefect"
Everybody:
- pick a DAG
- follow the prefect tutorial to translate it and deploy it
- create agent on local machine to test
- try to register/deploy flow on prefect

John:
- atd-prefect repo
- clean-up prefect cloud and share credentials

[2021-08-26 15:41] andrewshensky opened #7055 "Review Updated Street Segment Change Dataset"

[2021-08-26 16:50] #7047 closed, assigned to jaime-mckeown

[2021-08-26 17:06] moorerst opened #7056 "Meeting: Demo enhancements to HR on boarding forms"
Meet with stakeholders to review/demo the email notifications for the onboarding forms:
Employee 30 day survey
Supervisor 30, 90, 120 employee survey

Discuss status of Banner Integration
Active project
Have a few questions:
- [ ] There are 14 Active employees with no employee #. What is the process for handling employees with no employee ID?

- [ ] Are there times when a employee is entered befor

[2021-08-26 17:52] jaime-mckeown opened #7057 "ACL 2021 Easy Map Updates"
The following maps are mostly staying the same, just need to be updated with this years info:
- Barton Oaks Access Map
- Barton Springs Pool Access
- Bee Caves Map

[2021-08-26 18:16] dianamartin opened #7058 "IT Support: Deactivate Tablet for Jacob C."
Gilbert M.
Parking Meters

[2021-08-26 19:03] jaime-mckeown opened #7059 "Shared Mobility Operations feature layer re-publish"
Mary requested that the SMO feature layer be re-published.

[2021-08-26 19:04] #7059 closed, assigned to jaime-mckeown

[2021-08-26 19:26] jaime-mckeown opened #7060 "Analysis between All Ages and Abilities Bicycle Network with CapMetro Bus Stops"
From Laura:

[2021-08-26 19:45] jaime-mckeown opened #7061 "Error connecting to GISDM - Sangeeta"
Sangeeta can't connect to GISDM all of a sudden.

[2021-08-26 19:59] #7058 closed, assigned to dianamartin

[2021-08-26 20:07] #7061 closed, assigned to jaime-mckeown

[2021-08-26 20:08] #7045 closed, assigned to jaime-mckeown

[2021-08-26 22:12] atdservicebot opened #7062 "[ROW] TCP Reporting Metrics: Monthly Intake"
Data Tracker

For the TCP Tracker in Knack, we'll need to add a couple items for the TCP Reporting Metrics:
- Monthly intake volume tracker (for all projects) (including volume of projects before TCP migration to the new ROW portal)
- Monthly intake volume tracker (sorted by project)

This can be added to the TCP reporting tab in Knack.

You have to manually export the volumes each month or year.

[2021-08-27 01:38] johnclary opened #7063 "Offboard CICs"
Let's make sure all accounts and access have been appropriately retired.

[Separated Employee Request Form (SERF)](https://atx.service-now.com/sp?id=sc_cat_item_guide&sys_id=72fb6289db9f73405b03f482ba961956) (Supervisor must complete)
- [x] Jorge -> Mateo
- [x] Annie -> Diana - Req `REQ0091243`
- [x] Janet -> Amenity - Req [# REQ0091206](https://atx.service-now.com/sp?id=sc_request&is_new_order=tr

[2021-08-27 01:41] johnclary opened #7067 "Create alumni section of about page"
- Jace
- Mike
- Janet
- Annie
- Jorge
- Surbhi

[2021-08-27 13:46] jaime-mckeown opened #7068 "AGOL User Role Change to COA User"
Kelsey needs to create Web Maps, but her role is an AGOL Viewer.

[2021-08-27 13:48] #7060 closed, assigned to jaime-mckeown

[2021-08-27 14:47] amenity opened #7069 "Implement "Project website" field"
### Data model
- Add a (text?) column to the [`moped_project`](https://db-docs.austinmobility.io/atd-moped-production/tables/moped_project.html) table

*UI*
- Add text field to project "Summary" tab
- Render as the URL string, truncated to 25 characters, with ellipsis and external link icon
![Screen Shot 2021-08-27 at 10 59 59 AM](https://user-images.githubusercontent.com/1463708/131155853-0d9c3c7

[2021-08-27 16:28] jaime-mckeown opened #7070 "GIS Assistance logging into AGOL - Sydni"
Sydni was trying to login to AGOL using her GISDM credentials.

[2021-08-27 17:38] TracyLinder opened #7071 "Automate Cost of Services (COS) Monthly Reporting"
Automate cost of service (COS) reporting. Users must be able to download, on demand, two reports:

- a transaction report which can be uploaded into the AIMs system to transfer funds from other departments to ATD. This is the "JVD" report
- a report which itemizes fees that will be charged to each department, and can be provided to each department for review before processing the transactions in A

[2021-08-27 18:16] #7068 closed, assigned to jaime-mckeown

[2021-08-27 21:39] #7049 closed, assigned to jaime-mckeown

[2021-08-27 21:39] #7057 closed, assigned to jaime-mckeown

[2021-08-27 21:40] #7070 closed, assigned to jaime-mckeown

[2021-08-27 21:53] amenity opened #7072 "Replace "delete" icon with trash cans on "Files" and "Team" tables"
![Trashcans](https://user-images.githubusercontent.com/1463708/131192470-69739e57-aa6d-467d-b944-c36cfba9d641.png)

[2021-08-28 00:08] johnclary commented on #7063
thank you @amenity! you went serf-ing 🏄‍♀️ ?

[2021-08-28 19:32] johnclary opened #7073 "Ability to define new project from signal asset"
As a Moped user, I would like to define my project's details by selecting a signal asset so that I can create new projects quickly without entering redundant asset information.

Functional reqs:
- Ability to select from a list of signals when creating project
- If signal is selected, project name should take name of signal name
- If signal is selected, project component should be automatically cre

[2021-08-29 00:14] johnclary commented on #7073
https://user-images.githubusercontent.com/14793120/131234107-1240d1c0-e72d-433c-b587-43f3ead261af.mp4

[2021-08-29 00:48] johnclary opened #7074 "Show project name in new project workflow header"
<img width="1090" alt="Screen Shot 2021-08-28 at 7 53 30 PM" src="https://user-images.githubusercontent.com/14793120/131234653-ada44225-a2b4-4bad-816b-50e641766b51.png">

[2021-08-29 01:11] johnclary commented on #7073
In case you're confused by the numbers that prefix the signal name, e.g. "2: GUADALUPE / LAMAR", this is the traffic signal id and this labeling convention mirrors the Data Tracker exactly. It will be familiar and useful to AMD.

In case you loathe the UPPER CASE signal names—this is an artifact of the Data Tracker, which is in turn an artifact of the canonical GIS streets layer. I'm open to chang

[2021-08-29 20:33] johnclary opened #7075 "Ability to select a signal asset when editing project components"
As a Moped user, I would like to define a project component by selecting a signal asset from a list so that I can create new components quickly without entering redundant asset information.

### Functional reqs:
- Ability to select from a list of signals when creating or editing a project component
- If signal is selected, the component subtype should take the value of the selected signal ("PHB" o

[2021-08-29 20:34] johnclary commented on #7075
@amenity FYI this is here.

[2021-08-30 12:27] johnclary commented on #1046
I have the a copy of Kimley-Horn's code for running this script. We need to prioritize this work. Proposing early October (2021 ;) )

[2021-08-30 13:21] vschandramouli commented on #7004
Updated AC, moving to Backlog

[2021-08-30 13:22] vschandramouli commented on #7005
Updated AC, moving to Backlog.

[2021-08-30 13:46] Nadin-Nader commented on #2397
**Status:**
UAT Session scheduled for Tuesday 8/31/21 with Paloma, Kim, Izzy and @SubhaShroff

[2021-08-30 13:50] Nadin-Nader commented on #6868
**Status:**
Waiting on CTM DevOps to deploy to TEST

[2021-08-30 13:52] Nadin-Nader commented on #5961
**Status:**
Still waiting on DevOps to deploy to PROD under **SCTASK0162517**

[2021-08-30 13:53] Nadin-Nader commented on #6634
**Status:**
Still waiting for DevOps CM Team to deploy to PROD **SCTASK0162511**

[2021-08-30 13:54] Nadin-Nader commented on #6912
This has been completed

[2021-08-30 13:54] #6912 closed

[2021-08-30 13:56] Nadin-Nader commented on #5891
@Sreelatha-BlazeKannan i have approved the audit

[2021-08-30 13:57] Nadin-Nader commented on #6321
@Sreelatha-BlazeKannan this has been deployed to DEV. Please UAT

[2021-08-30 14:02] vschandramouli commented on #5909
Updated AC, moving to backlog. @TracyLinder @Nadin-Nader  could you review this once? Need to know if I am missing something.

[2021-08-30 14:08] jaime-mckeown opened #7076 "AMANDA Street Closures - 8/30"
Run updates

[2021-08-30 14:08] jaime-mckeown commented on #7076
Updates complete.

[2021-08-30 14:08] #7076 closed

[2021-08-30 14:37] moorerst opened #7077 "Grant user access to Knack"
Add Adan S. to Knack for cashiering purposes. He is a back-up for us today.

[2021-08-30 15:01] dianamartin commented on #7063
- [x] 1password, suspended Annie's access
- [ ] ~ Knack~ Surbhi mentioned a few places to check but she never had any access when I checked them

[2021-08-30 15:27] Nadin-Nader commented on #6844
@Sreelatha-BlazeKannan this has been sent to CTM to deploy to DEV under **SCTASK0163113** (lookup 50200)

[2021-08-30 15:28] Nadin-Nader commented on #6844
**Status:**
Waiting on DevOps CM Team to deploy to DEV. Under **SCTASK0163113**

[2021-08-30 15:28] dianamartin commented on #7007
- PR ID # [`2021-08-3082`](https://atd.knack.com/finance-purchasing#purchase-requests/purchase-request-details/611ff255bb19c8001eb76748/) <--PR Details page
- [Scene 4, View 16](https://builder.knack.com/atd/finance-purchasing/pages/scene_4/views/view_16/table)

[2021-08-30 15:40] ChrispinP commented on #7077
Adan added to RPP as Cashier, complete

[2021-08-30 15:40] #7077 closed

[2021-08-30 15:43] ChrispinP commented on #6956
Christina created account, complete

[2021-08-30 15:43] #6956 closed

[2021-08-30 15:44] ChrispinP commented on #6955
Lance created account, complete

[2021-08-30 15:44] #6955 closed

[2021-08-30 15:49] moorerst commented on #7028
will schedule follow up meeting with Parking Meters stakeholders

[2021-08-30 15:49] #7028 closed

[2021-08-30 15:49] TracyLinder commented on #6401
@Nadin-Nader can you please confirm if UAT was done?

[2021-08-30 15:50] TracyLinder commented on #6330
**UPDATE**
Pending Dev promotion.

[2021-08-30 15:51] Nadin-Nader commented on #6401
This has passed UAT on TEST an is ready for PROD.

## ## **🛑🤚🛑DO NOT SEND TO PROD BEFORE 10/1!!**

[2021-08-30 15:58] moorerst commented on #7027
closing this issue - work for Banner integration is managed on issue # 2167

[2021-08-30 15:58] #7027 closed

[2021-08-30 15:59] TracyLinder commented on #6330
@Nadin-Nader can you please make this an epic for Priya?

[2021-08-30 15:59] dianamartin opened #7078 "[DTS PORTAL] New account for Nick M."
New Employee, Nick M. was added to the Human Resources Manager application on 08/30/2021.

[2021-08-30 16:03] dianamartin opened #7079 "[DTS Portal] New Account for Jimmie J."
Linda E.
HR

New Employee, Jimmie J. was added to the Human Resources Manager application on 08/30/2021.
This is a notification request to add new employee, Jimmie Johnson to DTS Portal.

[2021-08-30 16:03] TracyLinder commented on #5909
@vschandramouli if there is a group code please add it. Otherwise the AC looks great.

[2021-08-30 16:07] dianamartin commented on #7078
- [x] Added "Nick M." to DTS Portal

[2021-08-30 16:07] #7078 closed

[2021-08-30 16:12] SubhaShroff commented on #6868
@Nadin-Nader  Tested this ticket post-deployment in TEST. Meets the AC in both BO & Portal. Ready for UAT.

[2021-08-30 16:26] #7018 closed

[2021-08-30 16:26] chiaberry commented on #7018
@dianamartin I merged the changes this morning, the dataset is scheduled to update everyday at 5a.

[2021-08-30 17:05] patrickm02L opened #7080 "VZE: Update Fatality and Serious Injury counts for accuracy"
The Vision Zero fatality and serious injury counts do no reflect an accurate number. Xavier brought this up a few weeks after our August Sprint review as an issue that needed a fix.

This inconsistency can cause reporting problems for those who want to get a quick reference counts of the latest numbers.

It's possible that the numbers that are currently being reported are CRIS fatalities, and rega

[2021-08-30 17:23] patrickm02L opened #7081 "Add scooter-rider involved and motorcycle involved filter to VZE"
After chatting with Xavier after the August sprint review, we learned that filtering for Units Involved needed to be corrected.

Motorized Conveyances should not include motorcycles, and scooters are being defined as "Pedestrian" in some cases when they should be "Motorized Conveyances."

In order to correct this inconsistency, we need to change the unit_desc_id for "Pedestrian" to reflect differe

[2021-08-30 18:16] dianamartin commented on #7018
thanks! @chiaberry I'll check it tomorrow

[2021-08-30 18:39] dianamartin commented on #6607
## Testing & Screen Captures
### Scenario - 8/31
`Test Staff`   30 day
Supervisor: `Diana` - 30, HR Admin, 90, HR Admin, 120 day
HR Admin - Final Review - export

### Scenario - Set-up
Employee: `Stephanie` (to fill out 30 day notification)
Supervisor: `Diana`

- [ ] Add Status to Supervisor Details
- [ ] Add Delete button field to table

[2021-08-30 18:41] #7074 closed

[2021-08-30 18:43] alan-deanda commented on #6612
hi @patrickm02L , @amenity , @johnclary

I've mapped the Shoal Creek Boulevard project extent and components to moped. I've also left some feedback regarding the app. Please let me know if you need me to make any changes. I believe a rain garden or two may be missing as components, but I've laid out the digitization difficulties that led to this in the feedback.

Thanks,

[2021-08-30 18:45] alan-deanda opened #7082 "ASMP Support - Domains, Default Values, Sharing Settings"
- [x] Share the app with organization so all relevant parties can access the map
- [x] Set Null/None as the default/first value in the list of agreement, suggested street level, and suggested cross section fields

[2021-08-30 18:46] alan-deanda commented on #7082
The tasks have been done, waiting for feedback.

[2021-08-30 18:52] atdservicebot opened #7083 "In markings_specialty_point feature layer, in Subtype Name for "D_ATD_SPEC_PNT_OTHER_SUB" add " 2 Gr..."
ArcGIS

In markings_specialty_point feature layer, in Subtype Name for "D_ATD_SPEC_PNT_OTHER_SUB" add " 2 Green Pads with chevron"

Soon — This week

To get started on QA/QC existing GIS inventory of green pads for pavement markings.

Susanne G.

Request ID: DTS21-102580

[2021-08-30 19:09] patrickm02L commented on #5043
Nice to have. Don't see it as a crucial feature. Moving to Icebox incase we're interested in something like this in the future.

[2021-08-30 19:19] ChrispinP opened #7084 "[TDS-TIA] Admin Button, Form, & View Based API to create empty TIA Case records before Historical Import"
Since we capture the unique Knack Record ID for each TIA Case to correctly associate it to all of the customer submissions. We need to make sure that these case records are first created as empty templates using a view based API on a form the same way we do the TIA Application. This button & form will be viewable to Admins only since we dont want reviewers using this function and is only intended

[2021-08-30 19:22] ChrispinP commented on #6974
created template files for TIA Scopes & Submission as well and sent to Joan. Had a meeting with Joan to go over spreadsheets.

[2021-08-30 19:29] ChrispinP commented on #7079
Jimmie added to DTS Portal, complete

[2021-08-30 19:29] #7079 closed

[2021-08-30 19:57] jaime-mckeown commented on #7042
- Scott sent me his computer list for the entire department, as well as ArcMap and Pro install lists.
- Trying to use all of these list to get the users matched back to the devices again as so many people have moved around.

[2021-08-30 20:08] patrickm02L opened #7085 "Move trips data; Add transactional data to update Fees/Payments page"
During the Thursday, Aug 26th Sprint Review, the Shared Mobility Team discussed making the following improvements to the Fees/Payments page.

- Move "Trip Data" to a new tab with a new URL
- Add transactional data to the Fees/Payment page.

Currently, Providers pay a lump sum every six months for all the permits they're renewing. That amount is captured in under the "Monthly Trip Fee Payment Track

[2021-08-30 20:48] patrickm02L opened #7086 "Add Comments to Fees/Payments Page"
During the sprint review on August 26th, Andrea pointed out the need for a comments section.

In the spreadsheet that the SM team is using to track Provider information, she is adding a note if providers haven't paid or if something doesn't match. Staff would like to have that functionality for payment information in the app.

@dianamartin indicated we would be able to do this.

[2021-08-30 20:56] patrickm02L opened #7087 "Add ability to create invoices"
During the sprint review on August 26th, a discussion about how the SM team was generating invoices came up. @dianamartin said that it was possible to create invoices in Knack and demoed an example from Sign Fabrication.

Currently, invoices for permits and impounds are created in-house, then emailed out. Trip fees are created by Finance.

Because we can create invoices in Knack, adding that funct

[2021-08-30 21:15] SubhaShroff commented on #6867
@Nadin-Nader

1. A commit is done - 0225935147d89308c74ba5af2ca91184ace42069, waiting Martin to have a look at it, as recently we are having complications in commits.
2. I checked the given Report for 'Print Receipt'. The query in the report looks good with no hard coding. So when this ticket is deployed in later instances, there should not be any issues with Print Receipt.

[2021-08-30 21:22] dianamartin opened #7088 "Update "Journal Voucher" info in AMD Data Tracker - Warehouse Inventory- August 2021"
- [x] Spreadsheet emailed from Van month of: `August, 8/23/2021` - Posted in August (TXN: 4/5/21-8/18/21)
- [x] Number of records being updated: `644`
- [x] Format spreadsheet [(Review instructions)](https://atd-dts.gitbook.io/atd-knack-operations/warehouse-inventory-updating-journal-vouchers-jv-information)
- [x] Spot check Transaction IDs, no JV information before import
- `11686`
- `11341`
- [x

[2021-08-30 21:40] Nadin-Nader commented on #6330
We have identified 3 different lookups for this (for now) and will be making cards for them:
ATD fees - 50200 ( RW Fees) , 50255 (SCP Fees ) and 90266 ( SP,C, C8, ZC fees)

[2021-08-30 21:42] amenity commented on #6286
@johnclary @alan-deanda - wondering if this might have been covered by #6612 ...

[2021-08-30 21:53] mateoclarke commented on #6722
meeting scheduled with Ken for 9/7

[2021-08-30 21:54] dianamartin commented on #7015
- Created a new menu button on the HR Forms>View Form Details page `Export NEO Evaluations`
- Added to existing page rules
- Added table of NEO Evaluations with all field headings
- Enabled "Export" function
- Tested the export function in csv
- Removed `<br />` that I had for title breaks, it looked bad in the export

[2021-08-30 21:56] dianamartin commented on #7088
- There were 345 records for - `JVDA 21081900046`
- There were 299 records for - `JVDA 21082300047`

[2021-08-30 22:04] dianamartin commented on #7088
Emailed Van

•	There were 345 records for - JVDA 21081900046
•	There were 299 records for - JVDA 21082300047
Let me know if you need anything else.

[2021-08-30 22:04] #7088 closed

[2021-08-30 22:13] dianamartin commented on #6773
- [ ] Build Supervisor Course Evaluation Form
- [ ] Build Supervisor Course Evaluation Form Response table

[2021-08-30 22:34] Nadin-Nader opened #7089 "Update Fee Dates - All ATD Fees (1 of 3)"
### Make sure all ATD fee codes have the correct dates so they won't break on 10/1

**This card will be used for the ATD fees - 50255 (SCP Fees ) **

The other two cards are:
50200 ( RW Fees) - #7093
90266 ( SP,C, C8, ZC fees) - #7090

Card 1 of 3

[2021-08-30 22:37] Nadin-Nader opened #7090 "Update Fee Dates - All ATD Fees; SP,C, C8, ZC fees (2 of 3)"
### Make sure all ATD fee codes have the correct dates so they won't break on 10/1

**This card will be used for the ATD fees - 90266 ( SP,C, C8, ZC fees) **

The other two cards are:
50200 ( RW Fees) - #7093
50255 (SCP Fees ) - #7089

Card 2 of 3

[2021-08-30 22:51] dianamartin commented on #6773
@moorerst I was able to do this today 8/30

[2021-08-30 22:51] dianamartin commented on #7015
@moorerst I was able to do this today 8/30

[2021-08-31 13:18] andrewshensky opened #7091 "Public Works Interviews - 9/7"
Helping Public Works with interviews for new geospatial analyst.

[2021-08-31 14:03] jaime-mckeown opened #7092 "Request for PNTS Account - Sydni"

[2021-08-31 14:04] Nadin-Nader opened #7093 "Update Fee Dates - All ATD Fees; RW Fees (3 of 3)"
### Make sure all ATD fee codes have the correct dates so they won't break on 10/1

**This card will be used for the ATD fees - 50200 (RW Fees)**

The other two cards are:
50255 (SCP Fees ) - #7089
90266 ( SP,C, C8, ZC fees) - #7090

Card 3 of 3

[2021-08-31 14:04] Nadin-Nader opened #7094 "Update Fee Dates - All ATD Fees (3 of 3)"
### Make sure all ATD fee codes have the correct dates so they won't break on 10/1

**This card will be used for the ATD fees - 50200 ( RW Fees)**

The other two cards are:
50255 (SCP Fees ) - #7089
90266 ( SP,C, C8, ZC fees) - #7090

Card 3 of 3

[2021-08-31 14:18] Lpriya-LIT commented on #7093
Expiry date for all RW fee codes in Lookup - 50200 has been updated.
Commit id - fd53179d676c

[2021-08-31 14:20] SubhaShroff commented on #6867
@Nadin-Nader  DEV Deployment request for commit(0225935147d8) is submitted - **SCTASK0163377**.

[2021-08-31 14:24] dianamartin commented on #7018
Checked dataset and looks to have updated for 8/31.

Emailed Lance & Allyson

 - I’ve been able to add the Signal Detection Status Log to the OpenData portal. Right now it’s published in a “private” status, I’d like for y’all to look at it before I published it “Publicly”.
- Lance, I tried to share it with you, but I don’t think you have an individual account created in Socrata.
- Let me know if t

[2021-08-31 14:24] dianamartin commented on #6865
Added `signal detection status log` dataset to the OpenData portal like Allyson and Lance requested. Emailed them this morning.

[2021-08-31 14:42] alan-deanda commented on #7082
More changes have been requested to these fields.

[2021-08-31 15:02] jaime-mckeown opened #7095 "Request for GIS TRAIN Class - Richard G."
Richard wanted to take the Essential Workflows AGOL Class, but has another training conflict.

Let him know there is an AGOL Workshop on 10/15 that has seats available if he can take it. He will need to take the Getting Started with GIS Web Course and create and AGOL account before taking the class.

[2021-08-31 15:04] amenity commented on #1106
@janetchuhl and @patrickm02L did amazing groundwork research. Project description has been updated with those resources.

[2021-08-31 15:06] jaime-mckeown opened #7096 "Project Connect GIS Data Questions with PW Meeting"
Jonathan R. in the PWD added me to an email discussing the Project Connect GIS Data with HDR Inc. It looked like they were looking to add the Project Connect data from the Open Data Portal to GISDM.

[2021-08-31 15:07] jaime-mckeown commented on #7096
I let them know that the Project Connect GIS Data is already in GISDM External and also available in AGOL. I also let them know that ATD updates all CMTA data multiple times per year and will continue to look for any updates to the Project Connect data (none so far).

[2021-08-31 15:11] dianamartin commented on #6944
Sync'd with Renee 8/31
- [ ] Add export function on the "Studies" table
- [ ] Add ability to edit from that "Studies" table
- [ ] Remove "Delete" button on "Studies" table
- [ ] Add edit ability on the Study Information table in Study location details page

[2021-08-31 15:26] amenity commented on #7073
Also, it may make sense to loop in #7002 (assuming it's small?) along with this.

[2021-08-31 15:26] dianamartin commented on #6944
Messaged user

 - DONE - Add export function on the "Studies" table
- IN PROGRESS - Add ability to edit from that "Studies" table (<--- THIS ONE IS BEING BUGGY, There's a Bug request for Knack on it.)
- DONE - Remove "Delete" button on "Studies" table
- DONE - Add edit ability on the Study Information table in Study location details page

[2021-08-31 15:32] jaime-mckeown commented on #7042
Sent list to Jim asking to get ArcGIS Pro 2.7.3 upgrade setup in the self-installer.

[2021-08-31 15:36] atdservicebot opened #7097 "Added new choices "Scheduled Work" drop down menu for AMD Work Orders"
Data Tracker

I would like to have some items added to scheduled work drop down menu.
Please add:
- [x] Installation - Cell Modem
- [x] Installation - Ethernet Switch
- [x] Installation - Fiber Switch
- [x] Misc - Communications

I will be able to categorize work orders better.

N/A

As soon as possible, please.

Harrell M.

Request ID: DTS21-102585

[2021-08-31 15:37] amenity commented on #6612
Thank you, @alan-deanda. [It looks great](https://moped.austinmobility.io/moped/projects/293/) and we really appreciate [all your thoughtful feedback](https://xd.adobe.com/view/d59bde9e-a378-4763-97f5-882d6c34db0f-80c8/screen/8b87d301-8368-4d1d-8248-e17863fe9be2).

[2021-08-31 15:44] ChrispinP commented on #6852
flex notes removed, complete

[2021-08-31 15:44] #6852 closed

[2021-08-31 15:46] ChrispinP opened #7098 "Delete "csr_flex_notes" from Signs & Markings - Oct 2021"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/signs-markings/records/objects/object_172

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 08/01/21

Total Records: 19267
To Delete: 7094
New Total: 12173

[2021-08-31 15:47] ChrispinP opened #7099 "Delete "csr_flex_notes" from AMD Data Tracker - Oct 2021"
Received automated reminder to delete flex notes in AMD Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd/records/objects/object_95

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 08/01/21

Total Records: 24059
To Delete: 7350
New Total: 16719

[2021-08-31 15:57] ChrispinP commented on #6851
flex notes removed, complete

[2021-08-31 15:57] #6851 closed

[2021-08-31 16:02] jaime-mckeown commented on #7042
Emailed Bryan in TDS to remove Desktop from his computer, still not removed.

[2021-08-31 16:29] dianamartin opened #7100 "[BUG] KNACK - Inline editing error"
**Describe the bug**
When a builder activates "in-line editing" function to make the record rule capture an audit field. It has an error message.
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/4be05098-c851-41df-a1c0-529f1c5b4405)

Messaged Knack

**How would you rate the impact of this issue?**
- [ ] Severe — cannot perform work, no workaround
- [ ] Major — can only pe

[2021-08-31 16:30] dianamartin commented on #7100
@ChrispinP

Knack said

Thank you for reaching out and for reporting this.
We, unfortunately, do have a known issue currently causing that error to get thrown when inline editing is enabled and the rule is set to "update record". We have tagged this conversation with that issue and will follow up here once a fix has been deployed to confirm everything is working properly.

Please let us know if yo

[2021-08-31 16:33] moorerst commented on #7056
Meeting 8/31
Attendees: Stephanie, Diana, Nathan, Linda, Meredith
**Email notification for onboarding forms**

- Presented workflow, email notification samples

https://docs.google.com/presentation/d/1kC0gMPrAjk7QvXOPRlzku9V4rkQhxItqMxZlODRtsI0/edit#slide=id.p

- Demo of the work flow process
- Expected Go Live date is Oct 1

**Presented the new Supervisor Course Evaluation form**

- Expected Go L

[2021-08-31 16:38] moorerst commented on #2167
@chiaberry we had a brief discussion with HR about the Banner Integration project being active. Here are a few comments they had about what is important for them:

- bi weekly update to Knack of any changes in Banner ( new/inactive employees, title change, supervisor change)

- Track Reg, Temp and Interns employees

- Contractors do not need to track - may need to have a separate page for contract

[2021-08-31 16:50] chiaberry commented on #2167
@moorerst thank you for the updates!

[2021-08-31 16:59] dianamartin commented on #6773
Showed stakeholders on 8/31 and they had no follow-up modifications for it

[2021-08-31 16:59] #6773 closed

[2021-08-31 16:59] dianamartin commented on #7015
Showed stakeholders on 8/31 and they had no follow-up modifications for it

[2021-08-31 16:59] #7015 closed

[2021-08-31 16:59] dianamartin commented on #6608
Showed stakeholders on 8/31 and they had no follow-up modifications for it

[2021-08-31 16:59] #6608 closed

[2021-08-31 17:00] #7023 closed

[2021-08-31 17:00] dianamartin commented on #6607
Showed stakeholders on 8/31 and they had no follow-up modifications for it

[2021-08-31 17:00] #6607 closed

[2021-08-31 17:02] dianamartin opened #7101 "[HR} Go-Live HR Forms - Email Notifications"
# Undo settings - once HR approved
- 30 Day Employee Follow-up Notification - for Employee
  - [ ] Remove `Employee` email rule

- 30 Day Due Date Notification - for Supervisor
  - [ ] Remove `Supervisor Email` rule

- 90 Day Due Date Notification - for Supervisor
  - [ ] Remove `Employee` name rule

- 120 Day Due Date Notification - for Supervisor
  - [ ] Remove `Employee` name rule

# Delete Tes

[2021-08-31 17:02] dianamartin commented on #7101
@moorerst I created this issue for the go-live to remove the configuration rules and to delete test records

[2021-08-31 17:05] moorerst opened #7102 "Go Live - Email notifications/Reporting for HR Onboarding Forms"
Go Live Oct 1

- 30 Employee Survey

- 30, 90, 120 Supervisor Survey

- Reporting

Set up for Go Live week of 9/20

- clean out test data

[2021-08-31 17:06] dianamartin commented on #6949
Messaged user

[2021-08-31 17:09] moorerst commented on #7102
duplicate to 7101. Closing issue

[2021-08-31 17:09] #7102 closed

[2021-08-31 17:10] dianamartin commented on #6878
@moorerst are we closing this one or keeping it open?

[2021-08-31 17:12] dianamartin commented on #6823
Forgot to close this issue. Merged commit 26 days ago, 8/5.

[2021-08-31 17:12] #6823 closed

[2021-08-31 17:15] #6935 closed

[2021-08-31 17:15] dianamartin commented on #6935
We met with stakeholders on 8/26 and we showed them the import of the permits

[2021-08-31 17:19] mateoclarke opened #7103 "VZ ETL - CR3 PDFs scrapper errors"
Error described here:
https://austininnovation.slack.com/archives/C013G4RNJ01/p1629935968000700

[2021-08-31 17:28] mateoclarke commented on #7103
This error appeared to me to be a temporary issue on TXDOT's side.

I assumed it was an issue filling out the initial form to select an agency and blocked out these [lines of code](https://github.com/cityofaustin/atd-vz-data/blob/master/atd-etl/app/process_cris_cr3.py#L61-L66). That worked. But then I reverted the code to include those lines, and it also worked. So I just reactivated the DAG and t

[2021-08-31 17:28] #7103 closed

[2021-08-31 17:43] Nadin-Nader commented on #2397
UAT Scheduled for 9/2/21 @ 930am

[2021-08-31 19:11] moorerst opened #7104 "Feature: Robin Hoteling Request Form for Cameron Rd"
Create a form to be used by employees who want to get approval from their Supervisor to hotel at Cameron Rd.
Formstack form?
Knack form?

Approved form will be emailed to David M so the employee can be set up with building access to Cameron Rd

Hoteling @ Cameron Road will be available Sept 20th

[2021-08-31 19:35] moorerst commented on #7056
meeting complete - closing this issue

[2021-08-31 19:35] #7056 closed

[2021-08-31 19:41] moorerst opened #7105 "Meeting: Parking Meters Sprint Review"
Next Steps:
meet with the team to discuss:

- what we have done so far
documented work flows
discovery for inventory management spreadsheet
discovery for parking assets spreadsheet
- understand what the stakeholders priorities are at this point

- review the challenges with 311 integration and how it blocks moving forward with work order system

- work order system would be more effective with the

[2021-08-31 20:04] dianamartin commented on #7104
@moorerst David submitted a request about a month ago #6843. Do we "DUP" this one?

[2021-08-31 20:58] jaime-mckeown commented on #6962
- Started over adding the CAD Fiber data to the AGOL Fiber layer as the lines coming directly from CAD were not snapped together, causing issues if merged lines need to be split.

[2021-08-31 21:11] andrewshensky opened #7106 "Assist PIO with AGOL account Creation and User Access"
Verify AGOL account status for 5 users. Updated access for some, create new accounts for others.

[2021-08-31 21:26] dianamartin commented on #7104
This is a DUP of #6843, Closing

[2021-08-31 21:26] #7104 closed

[2021-08-31 21:33] jaime-mckeown commented on #7042
Self-Installer set up by CTM. Ran it on my computer so I can send instructions to all Pro users.

[2021-08-31 21:48] dianamartin commented on #6843
- [x] Created object `form_badging_access_request`
- Fields
- [x] Request Date - Date
- [x] Supervisor Name - connection
- [x] Division - Text Formula
- [x] Employee Name - connection
- [x] Designated Work Location - multi-choice
- [x] Planned Office Days - multi-choice
- [x] Employee Email Address - Text Formula
- [x] Signature Verification - Yes/No
- [x] Status - multi-choice
- [x] Badge ID - Nu

[2021-08-31 21:51] jaime-mckeown commented on #7042
Sent instructions to all GIS Pro users to upgrading to Pro 2.7.3 using the Self-Installer.

[2021-08-31 22:01] dianamartin commented on #7085
Messaged Sergio

- Let me know if there are any consequences to doing this. I'll wait on your reply before making any changes. Thanks!

[2021-08-31 22:05] dianamartin commented on #6863
I tested this when I was building out the "My License" page for the Providers.

[2021-08-31 22:05] #6863 closed

[2021-08-31 22:05] dianamartin commented on #6979
Will check on 9/3/21.

[2021-08-31 22:09] amenity commented on #1962
@johnclary - revisiting this via #5191 and a little confused...
- Are signals already [assigned to corridors in Data Tracker](https://atd.knack.com/amd#sync-corridors/?view_367_filters=%5B%7B%22value%22%3A%22ACTIVE%22%2C%22operator%22%3A%22is%22%2C%22field%22%3A%22field_533%22%7D%5D)?
- As far as Moped tags... Who will be filtering projects by corridor? Is [this the right list](https://docs.google

[2021-08-31 22:14] dianamartin commented on #1962
@amenity these "Sync Corridors" are different. The purpose of them are so the AMD Signal Engineers can group a swath of signals into corridors for re-timing efforts. I believe AMD uses a variety of "corridor" tags depending on their needs. You may want to ask MMC (Lance/Allyson) if they manage corridors differently for different reasons.

[2021-08-31 23:38] amenity commented on #1962
Ahhh, it's all coming back to me. ♻️ Thanks, @dianamartin. Notes from when I (first) made sense of this [here](https://github.com/cityofaustin/atd-data-tech/issues/1638). 🤪  ... (We should look at how Lance is deriving corridors there.)

Do we, at some point, want this as a Data Tracker feature for signal tags? Or can we reappropriate this issue for Moped project tags?

[2021-09-01 13:44] SubhaShroff commented on #6868
### Status:
Ready for TEST UAT.

[2021-09-01 13:52] SubhaShroff commented on #6322
### Status:
Waiting on @TracyLinder  to update with the workflow for each new WORKTYPE.

[2021-09-01 13:57] SubhaShroff commented on #6562
### STATUS:

- Needs a defined Workflow. Probably a call set up might help  for going through the existing subtype and mark TO DO & Not TO DO.
- Parallelly, I am doing analysis to figure out the changes need to be done on Portal for STreet Info page(refer the link Tracy has posted). Taking ATD(50694) subtype as reference for the analysis.

[2021-09-01 13:58] SubhaShroff commented on #6641
### Status:
PROD deployment done a Week ago.

[2021-09-01 14:25] Sreelatha-BlazeKannan commented on #6842
#6842 TEST Deployment plan sent. Kindly approve and promote the changes from DEV to TEST. Here is the commit id’s

c5eed6cb4880 & c162a5b3b23e

[2021-09-01 14:27] Nadin-Nader commented on #5891
**Status:**
Waiting on DevOps to deploy to DEV under **SCTASK0163658**

[2021-09-01 14:27] Sreelatha-BlazeKannan commented on #6844
** Status
@Nadin-Nader , @TracyLinder - Completed Development for RW-TURP and working on for EX

[2021-09-01 14:32] Nadin-Nader commented on #6842
@Sreelatha-BlazeKannan I have sent this to the DevOps CM Team to deploy to TEST under **SCTASK0163663**

[2021-09-01 14:33] Nadin-Nader commented on #6842
**Status:**
Waiting on DevOps to deploy to TEST under **SCTASK0163663**

[2021-09-01 14:35] Nadin-Nader commented on #6844
@Sreelatha-BlazeKannan @TracyLinder DEV deployment has been completed.
@Sreelatha-BlazeKannan please UAT on DEV

[2021-09-01 14:40] Nadin-Nader commented on #5961
email to Stakeholders:

[2021-09-01 14:40] #5961 closed

[2021-09-01 14:41] Nadin-Nader commented on #6634
@Sreelatha-BlazeKannan @TracyLinder this has been deployed to PROD. I will send an email to the stakeholders and close

[2021-09-01 14:44] Nadin-Nader commented on #6634
Email to Stakeholders:

[2021-09-01 14:44] #6634 closed

[2021-09-01 14:49] Lpriya-LIT commented on #7089
The SCP fee lookup table 50255 has no expiration date (end date) , so the fee will not expire.
Verified all the fee procedures in SCP folder as well.

[2021-09-01 14:54] Nadin-Nader commented on #6728
Email to Paloma:

Hi Paloma,

Hope you are doing well. I was reaching out to you to ask you if the report is still reflecting different permit numbers. I will be testing this today also but I wanted to get your input on it. Please let me know when you get a moment.

Respectfully,

Nadin A. Nader (He/Him/His)
IT Business Systems Analyst
Data and Technology Services

[2021-09-01 14:56] Nadin-Nader commented on #6868
@Nadin-Nader UAT on TEST

[2021-09-01 14:57] Nadin-Nader commented on #6321
@Nadin-Nader UAT on DEV

[2021-09-01 14:58] Nadin-Nader commented on #6641
**Status:**
Closing by COB today per Friday's meeting discussion.

[2021-09-01 14:59] Nadin-Nader commented on #6901
**status:**
Currently working on this

[2021-09-01 15:12] TracyLinder commented on #6867
### Approved to promote to TEST

[2021-09-01 15:18] TracyLinder commented on #6322
@SubhaShroff can you please send me the list of default infos for the TURP permit please?

[2021-09-01 15:27] TracyLinder commented on #7089
Thank you Priya. I'm closing this.

[2021-09-01 15:27] #7089 closed

[2021-09-01 15:30] moorerst commented on #6878
closing

[2021-09-01 15:30] #6878 closed

[2021-09-01 16:15] atdservicebot opened #7107 "I would like the "Work Order - Technicians" page be updated under "Advanced Search" to include: ..."
Data Tracker

I would like the "Work Order - Technicians" page be updated under "Advanced Search" to include:

- A new field for "Assigned Date" - to capture when WO goes to "Assigned" status
- An "Assigned Dates" Search (From and To) - to be able to do date range searches
- "Submitted Dates" Search (From and To) - to be able to do date range searches

This data will be used to better track AMD Pe

[2021-09-01 16:26] SubhaShroff commented on #6867
Following are the tested permits on DEV. Checked the Print Receipt, Print Bill buttons for the respective reports to display. All look good.
EX - 11902190
RW - 11902976
DS - 11901810
UC - 11902138
GF - 11902045
SCP - 11901353

[2021-09-01 16:27] #6894 closed

[2021-09-01 16:58] SubhaShroff commented on #6867
@Nadin-Nader SCTASK0163735 is submitted for TEST Deployment.

[2021-09-01 18:20] amenity commented on #4932
Moped:
![Screen Shot 2021-09-01 at 1 19 09 PM](https://user-images.githubusercontent.com/1463708/131723368-5e9d7311-0a76-474f-a1eb-ad7fcea195b1.png)

[2021-09-01 18:29] jaime-mckeown commented on #7042
Migrating from ArcMap to Pro Class on 9/23

- [ ] Jesse Duncan

[2021-09-01 18:34] dianamartin commented on #6864
Emailed David to ask BSD for badge IDs

I was trying to add the executive team to the badging system when I realized that we don’t have all of them in there at the moment. We’ll have to request their badge IDs from BSD.

The folks we need badge IDs for are these seven:
1.	Jason JM
2.	Anna M
3.	Karla T
4.	Peggy M
5.	Gilda P
6.	Lewis L
7.	Upal B
And can you forward me an example of a normal BSD requ

[2021-09-01 18:35] amenity commented on #4384
@johnclary - do you need anything on this? Bump to the next sprint?

[2021-09-01 18:39] jaime-mckeown commented on #7096
Jonathan schedule a meeting on 9/8 to discuss, forwarded meeting invite to Andrew since I'll be OOO.

[2021-09-01 18:48] amenity commented on #6776
@TracyLinder - sticking this in the backlog

[2021-09-01 18:48] dianamartin commented on #6843
Met with Billy, Jorge, Ed and Stephanie (9/1) to show them the request form and go over the Badge System Help Guide.
I printed and posted in the 8900 server room. David was unavailable today so rescheduled with David and Stephanie for 9/2.

[2021-09-01 18:51] #7063 closed

[2021-09-01 18:51] amenity commented on #7063
Mateo filled out Jorge's SERF.

[2021-09-01 18:56] dianamartin commented on #7100
Tested the work around and it works.

[2021-09-01 18:57] dianamartin commented on #6944
Updated "Studies' table to have "in-line editing"
- [x] Type

[2021-09-01 19:08] #6944 closed

[2021-09-01 19:11] dianamartin commented on #6949
Brian came by and talked to me more about the Advanced Search page, he said he isn't able to query based on some of the fields he has available. He turned in a new request to add those. Closing.

[2021-09-01 19:11] #6949 closed

[2021-09-01 19:18] dianamartin opened #7108 "[DATA TRACKER] IT Support: New Account for Cody S."
Cody S.
TED

Emailed

- Sorry, not sure you are who I should reach out to. Let me know, thanks!

My reply

[2021-09-01 19:22] dianamartin commented on #7108
- Checked system and Cody does not have an account
- Added him to Data Tracker

Emailed Cody

[2021-09-01 19:22] #7108 closed

[2021-09-01 19:29] dianamartin commented on #7107
- [x] Created `ASSIGNED DATE` on `work_order_signals` object table
- [x] Added Record Rule to "New Work Order" when `Assign to Self` is Yes or `Lead Technician` is not blank

[2021-09-01 20:13] jaime-mckeown commented on #7095
Did not hear back, sent him another email asking if he would like to be signed up.

[2021-09-01 20:16] jaime-mckeown commented on #7042
- Let users know that have already updated to 2.8 that the goal of the department is to stay on the same version and asked that they turn off "checking for updates on startup" to prevent this in the future (Alan, Andrew, Chris in OOD, and Priya's computer in PE (Francesco updated)
- Sent email to all other users to have them check that "checking for updates on startup" is not checked.
- Hopefully

[2021-09-01 20:19] dianamartin commented on #7016
- [x] Created connection on `work_order_signals` object able to `projects` object table (projects many to one work order)- - [x] Added "Work Order" table to Project Details page, added same columns as in "Work Order - Technicians" table

[2021-09-01 20:26] #6721 closed

[2021-09-01 20:30] #6713 closed

[2021-09-01 20:30] #4060 closed

[2021-09-01 20:30] dianamartin commented on #6822
Went fantastic, went really well. Christina has a training with SBO this week with a PWD employee.

### Feedback
- [ ] Change "Project ID" to `Maximo Work Order ID`

Will schedule another meeting with District Maintenance and Pavement Operations Seal Coat, Utility teams.

[2021-09-01 20:33] #6822 closed

[2021-09-01 20:41] patrickm02L commented on #6808
Original
![Original Project Page – 2.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/36a1f767-2e13-420f-8f94-992a3c80dc69)

With all the fields completed
![New Summary Page – 2.0.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/97d90944-7f08-4e6f-a4ec-fdf235d286c7)

With editing capabilities on
![New Summary Page – 2.1.png](https://images.zenhubusercontent.com/

[2021-09-01 20:51] andrewshensky opened #7109 "Create Web App for Reviewing/Editing Bike Route Comfort Level"
This web app will make it easier for ATSD to review and make changes to bike comfortable level so we can include changes prior to sending maps out for print.

[2021-09-01 20:51] dianamartin commented on #4999
@johnclary Should I email Jim because we still needed him to verify/approve the metric name change for M.A.5.b and M.A.2.b. What is left is the narrative updates.

[2021-09-01 20:54] andrewshensky commented on #7106
All users have had accounts created and have been provided necessary permissions.

[2021-09-01 20:54] #7106 closed

[2021-09-01 20:55] amenity commented on #7050
@zappfyllc - now that you're back... could use some advice on how much we should modify the schema now that we have more context for this use case. Let's discuss.

[2021-09-01 20:55] #7019 closed

[2021-09-01 21:02] dianamartin commented on #7085
- [x] Created page `Trip Data`
- [x] Copied all tables from "Fees & Payments" to "Trip Data"
- [x] Added Page Rules from "Fees & Payments" page to "Trip Data"

[2021-09-01 21:22] andrewshensky commented on #6998
This data was included but just not being symbolized. Issue has been remedied in the web map being used. I will be reaching out to PE to see if this is an issue that also needs to be remedied in root data in AGOL.

[2021-09-01 21:22] #6998 closed

[2021-09-01 21:23] chiaberry commented on #6961
Here is where the columns to export are being defined
https://github.com/cityofaustin/atd-moped/blob/main/moped-editor/src/views/projects/projectsListView/ProjectsListViewExportConf.js

[2021-09-01 21:25] amenity commented on #6995
To prevent tons of noise from typo fixes, could have a "new" status or an "edit" status.

[2021-09-01 22:08] dianamartin commented on #7016
Need to set-up meeting with Renee & Billy

[2021-09-01 23:26] Nadin-Nader commented on #7093
@Lpriya-LIT i have sent this to the DevOps CM Team under **SCTASK0163844**

[2021-09-01 23:27] Nadin-Nader commented on #7093
**Status:**
Sent to DevOps CM Team to deploy to DEV under **SCTASK0163844**

[2021-09-02 12:47] #6915 closed

[2021-09-02 13:54] jaime-mckeown opened #7110 "AMANDA Street Closures - 9/2/21"
Run updates again as Events continue to be cancelled or denied by APH.

[2021-09-02 13:58] #7046 closed

[2021-09-02 14:06] #7097 closed

[2021-09-02 14:15] jaime-mckeown commented on #7083
Added new value to domain, let Susanne know it's complete.

[2021-09-02 15:01] dianamartin commented on #6843
Ask Jen if supervisor

- Add email address for BSD
- Email to Billy
- Email for Supervisor
- Email to Supervisor

[2021-09-02 15:25] #7072 closed

[2021-09-02 15:31] moorerst commented on #4737
Kick off meeting scheduled for 9/15

[2021-09-02 15:49] jaime-mckeown commented on #7043
- SPOCs to overlook authoritative and public items on AGOL
   - display will change to show City of Austin as owner (owner stays the same) on any data that is public and authoritative
   - need to go over ATDs data in AGOL that is published from GISDM
   - will give everyone 1 month to verify items
- City wide issues: Creating new GIS Accounts/Passwords
   - errors are occurring when links are sen

[2021-09-02 16:09] dianamartin commented on #6843
Forwarded the emails to Stephanie for feedback.

[2021-09-02 16:15] moorerst commented on #6843
Both email notifications Submitted and Completed look great.

[2021-09-02 16:22] #7043 closed

[2021-09-02 16:57] dianamartin commented on #7016
Met with Billy and Renee 9/2 about the enhancement. Billy had concerns over what kind of projects would go on this list. They agreed larger more long term projects made sense here. Renee mentioned that this is new and a work in progress, I mentioned it's an interim solution until MOPED gets configured. It works for what they need right now.

[2021-09-02 16:57] #7016 closed

[2021-09-02 17:05] moorerst commented on #7105
Meeting scheduled for 9/9

[2021-09-02 17:54] TracyLinder opened #7111 "Enhancement - TCP Tracker - Add advanced search fields"
We need two fields added to the advanced search page:![Screen Shot 2021-09-02 at 12.41.28 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/f1addd3d-1f22-40ac-a84f-4ec9f8b011f1)

[2021-09-02 18:09] amenity commented on #6808
Discussed with @patrickm02L and our preference is for the pencil to appear on editable fields on hover — the same way it's implemented in the title now.

https://user-images.githubusercontent.com/1463708/131894661-08af1cad-2146-436c-8792-795ebc078303.mov

[2021-09-02 18:26] jaime-mckeown commented on #7092
Sydni emailed asking about access the Web Map. It turns out that Andrew un-shared content.

[2021-09-02 18:26] #7092 closed

[2021-09-02 19:03] dianamartin commented on #7111
- [ ] Add "Submitting Agency" field to "Advanced Search"
- [ ] Add "Department Name" field to "Advanced Search"

[2021-09-02 19:11] dianamartin commented on #7111
@TracyLinder fields have been added per Peggy's request.

[2021-09-02 19:18] jaime-mckeown commented on #6687
@alan-deanda I had this Issue already created for helping Parking with the Signs data.

[2021-09-02 19:23] jaime-mckeown commented on #7041
Frank will be making changes to the content weekly for about a month. Once the updates are complete, I will move ownership back under ATD Publisher.

[2021-09-02 19:30] atdservicebot opened #7112 "While working in the Studies page, there were several screens where the location was blank."
Data Tracker

While working in the Studies page, there were several screens where the location was blank.

https://atd.knack.com/amd#study-locations/studies/?view_3002_page=16

Internet Browser: Chrome

Renee O.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/6131261f44273a001ec68984/datatrackerstudypage.pdf) (102.31kb)

Request ID: DTS21-102595

[2021-09-02 19:32] amenity commented on #7050
Previously, @johnclary and I had specified this for the data model:
- Remove all columns from the [Project sponsor table](https://db-docs.austinmobility.io/atd-moped-production/tables/moped_proj_sponsors.html) besides
    - `project_sponsor_id`
    - `sponsor_name`
    - Rename table to `moped_project_sponsors`
- Populate with [these values](https://docs.google.com/spreadsheets/d/1VGO57EL1TtASbLz2

[2021-09-02 20:26] atdservicebot opened #7113 "Based on feedback from Sign Shop, we would like to make a couple adjustments to the Sign Fabrication..."
Signs & Markings Operations

Based on feedback from Sign Shop, we would like to make a couple adjustments to the Sign Fabrication work orders to improve the process.

1. We'd like to clean up the design review button by removing "size", "color" and "material" fields because these are captured on the invoice and in the instructions/comments. We'd like to remove the "Design Approved?" yes/no button

[2021-09-02 20:31] jaime-mckeown commented on #7110
Updates complete. Removed Pecan Street Festival and Livestrong events.

[2021-09-02 20:31] #7110 closed

[2021-09-02 21:19] jaime-mckeown commented on #6993
Nathan still needs editing access. He will let me know when he's done.

[2021-09-03 13:48] Nadin-Nader commented on #7093
@Lpriya-LIT this has been deployed to DEV by DevOps CM Team. Please UAT/verify on DEV.

[2021-09-03 13:49] Nadin-Nader commented on #5891
@Sreelatha-BlazeKannan this has been deployed to DEV. Please UAT

[2021-09-03 13:55] Nadin-Nader commented on #6867
@SubhaShroff this has been promoted to TEST. Please UAT on your end then let me know if we can UAT with the stakeholders

[2021-09-03 13:56] jaime-mckeown commented on #7042
Sent another reminder email to remaining ATSD users that have not signed up for a Pro Class.

[2021-09-03 14:05] dianamartin commented on #7112
Need to follow-up with user to see if these studies were intentionally blank or became blank, if having manually connect or re-import records will resolve the issues.

[2021-09-03 14:59] Nadin-Nader commented on #6321
## Approved for TEST deployment🙌

[2021-09-03 15:28] Sreelatha-BlazeKannan commented on #6321
@Nadin-Nader , @TracyLinder -
Submitted TEST DP for #6321 card. Please approve and create task id for me.
Here is the commit ID’s –
2132d4580c6c
84eb2e0c40b4

[2021-09-03 16:04] dianamartin commented on #6979
Checked 9/3 and the monthly trip records show up and the filter works perfectly! Thanks @sergiogcx
- updated to "Received Date" to show as current

[2021-09-03 16:42] chiaberry commented on #2167
I count 8 employees in the email spreadsheet in the gdrive that don't have employee IDs associated with their names and emails, a few are in banner (with employee ids), but I found one so far that is in the CTM list and not in banner.

Is it safe to ignore emails in the csv without employeeIDs?

[2021-09-03 16:46] jaime-mckeown opened #7114 "ACL Street Closures / Toomey Access Maps: Round 1"
Update maps for 2021 based on Calendar Event dates/times Maria sent.

[2021-09-03 16:49] andrewshensky commented on #7051
Both user were provided access the group/web app on 8/25

[2021-09-03 16:49] #7051 closed

[2021-09-03 16:55] andrewshensky commented on #6983
This aprx file has been created and is located in the same general folder as existing ArcMap document. Path to new aprx can be found in PNTS Shapefile Creation documentation.

[2021-09-03 16:55] #6983 closed

[2021-09-03 16:59] andrewshensky opened #7115 "Meet with Sophia to Demo Bike Route Comfort Level Web App"
Currently scheduled for 9/8

[2021-09-03 17:04] andrewshensky opened #7116 "Update Symbology to Poperly Reflect Values in Parking Zones Data"
"Mobile Pay Zone" data is not being symbolized. This is a new value that replaced "Parking Meter Zone". Although the data was reassigned, symbology was left for "Parking Meter Zone" and never replaced with "Mobile Pay Zone". Symbology needs to be updated to ensure "Mobile Pay Zone" data is displayed when data is pulled into new map.

[2021-09-03 17:16] dianamartin commented on #2167
@chiaberry I think it's safe to do that because perhaps the employee ID will be updated in BANNER and come over in a different update.

This morning I did notice some accounts were "inactive". Did you run an update by chance? It was for the test accounts, I had to just re-add the passwords from 1password.

[2021-09-03 17:21] #6979 closed

[2021-09-03 17:25] dianamartin commented on #7085
- I created a new object table `transactions`
#### Field Headings

- Transaction ID - auto increment
- provider - connection
- archived license - connection
- impoundment - connection
- monthly trip - connection
- Created By - connection
- Transaction Date - date
- Modified By - connection
- Modified Date - date
- Date Received Payment
- Transaction Type
- Transaction Amount
- Transaction Status
-

[2021-09-03 17:27] atdservicebot opened #7117 "Expand equipment tracker page to include vehicle tracking for the Signs & Markings Divison"
Signs & Markings Operations

Want to create a vehicles and equipment tracker page for the Signs & Markings Division. This would use the [vehicle/equipment list](https://atd.knack.com/signs-markings#manage-vechicles/) that already exists in the Data Tracker.

We'd want to use this page to document when vehicles/equipment have to be sent to Fleet for maintenance or to resolve issues. We have some ve

[2021-09-03 17:36] dianamartin commented on #7085
Talked to Andrea 9/3

# Notes from discussion
### Invoice Info
- There should be an "Invoice Due Date" - should be paid within 30 days
- applies to Impoundments, Monthly Trips
- Permits/Licenses just need to be before the permit/license expires

### Finance Invoice Info
- Monthly Trip invoices are generated and given to Finance
- Current Process: Tim creates invoice, comes up with made up Invoice

[2021-09-03 17:37] dianamartin commented on #7087
Talked to Andrea 9/3, she will be sending me a current invoice as reference

[2021-09-03 17:50] jaime-mckeown opened #7118 "New GIS User in AMD - Tom G."
User needs GIS as he will be working with Harrell and Brian on projects that use the AE Poles data.

[2021-09-03 17:51] jaime-mckeown commented on #7114
Sent Maria PDFs for review.

[2021-09-03 18:31] Nadin-Nader commented on #7093
@Lpriya-LIT This has been sent to the DevOps CM Team to deploy to TEST under **SCTASK0164346**

[2021-09-03 18:31] Nadin-Nader commented on #7093
**Status:**
Waiting on the DevOps CM Team to deploy to TEST under **SCTASK0164346**

[2021-09-03 18:33] #5080 closed

[2021-09-03 18:43] chiaberry commented on #2167
Or is it that the Test Accounts got their passwords overwritten?

[2021-09-03 18:46] Nadin-Nader commented on #6321
@Sreelatha-BlazeKannan @TracyLinder this has been sent to the DevOps CM Team to deploy to TEST under **SCTASK0164364**

[2021-09-03 18:47] Nadin-Nader commented on #6321
**Status:**
Waiting on DevOps CM Team to deploy to TEST under **SCTASK0164364**

[2021-09-03 18:47] dianamartin commented on #2167
@chiaberry It's a little bit of both. We never normally inactive Test accounts bc they're always used/shared with the team in our password manager. I think also bc their passwords got wiped, the password managers passwords didn't work. So it was an easy enough fix to update them in Knack, but that was when I realized that could be the issue. Not sure if it's possible to keep them outside of the up

[2021-09-03 19:23] vschandramouli commented on #6255
Email to applicant.

Body of the email:

Hello,
Please notify your analyst once payment has been made on permit *Permit Number*.

[2021-09-03 19:28] jaime-mckeown commented on #7114
More back and forth as the closure doc was updated again.

[2021-09-03 20:17] jaime-mckeown commented on #7118
- Scott ended up installing Pro on Tom's device. Sent Jim an email to disregard.
- Sent Tom location of AE Poles data.

[2021-09-03 20:17] #7118 closed

[2021-09-03 20:32] dianamartin commented on #7085
# TESTING License Renewal Fee
## Option 1: generated by trigger button during license renewal (provider details>start license renewal process)
- Transaction generated at the time of renewal

## Option 2: generated by renewal history, table trigger link
- Transaction generated after renewal

[2021-09-03 20:54] jaime-mckeown opened #7119 "GISDM Account Request - Tom"
Submitted request for new GISDM account.

[2021-09-03 20:58] jaime-mckeown commented on #7042
Started hearing back from users regarding the upgrade to 2.7.3, keeping track in Spreadsheet under Pro Migration folder.

[2021-09-03 20:58] #7042 closed

[2021-09-03 20:58] #7114 closed

[2021-09-03 21:00] jaime-mckeown commented on #6962
Made it about half way through, will continue working on getting CAD data into AGOL in next Issue.

[2021-09-03 21:00] #6962 closed

[2021-09-03 21:59] amenity commented on #7036
@johnclary @patrickm02L @zappfyllc
I don't love the idea of "on hold" and "cancelled" as phases. What about this:

![Project status](https://user-images.githubusercontent.com/1463708/132068953-03372797-af3e-404e-9098-de4732942a3e.png)

[2021-09-06 02:41] amenity opened #7120 "Make `:visited` hyperlinks blue"
Same as what we addressed here: #5568

The purple default browser visited link color is not distinct from our black text. It should be [primary main](https://github.com/cityofaustin/atd-moped/blob/main/moped-editor/src/theme/index.js)

[2021-09-06 02:54] amenity commented on #7117
Adding to stakeholder discussions.

[2021-09-06 16:35] johnclary opened #7121 "[Bug] Activity log displays UTC timestamps"
The dates displayed in the activity log are in UTC time. This can be observed in the "Date" column of the activity feed, as well as the timestamp displayed on the activity details page. For example, see below screenshots from project ID 280. Amenity made this change the evening of 9/5, but dates are displayed in UTC time (9/6)

<img width="403" alt="Screen Shot 2021-09-06 at 11 31 03 AM" src="http

[2021-09-06 16:36] johnclary commented on #7121
@amenity FYI

[2021-09-06 18:20] amenity commented on #7121
Weirdddd... @sergiogcx took care of this [here](https://github.com/cityofaustin/atd-moped/pull/254), I believe.

See also @tillyw's [backlog issue for a backend fix](https://github.com/cityofaustin/atd-data-tech/issues/5732).

[2021-09-06 21:15] johnclary commented on #7121
Ah, interesting. It would seem there's an underlying Moped editor.

We need to drop the `timeZone` option in [this line](https://github.com/cityofaustin/atd-moped/blob/720083d6d81cf2ffc7b0478b056dadffb0e7984d/moped-editor/src/views/projects/projectView/ProjectActivityLog.js#L102).

[code]

[2021-09-06 21:32] johnclary commented on #7036
I like it! And I kinda think we should change the menu icon from [three dots] to a cog ⚙️.

So the only way to edit the status would be to use that menu. The possible statuses are:
- Active (default)
- On Hold (set from menu)
- Cancelled (set from menu—formerly known as "archived")

We're still stuck with the nuisance of having two status fields displayed to users (current status and current phase

[2021-09-06 22:29] amenity commented on #6808
Latest:
<img width="957" alt="Screen Shot 2021-09-06 at 5 24 43 PM" src="https://user-images.githubusercontent.com/1463708/132263613-8d8a0435-3657-4b45-b976-3e842ac084e9.png">

[2021-09-06 22:33] amenity commented on #7036
I agree that "Potential" is kind of a weird name for a phase, but not when you consider the subphases:

- Active development review
- Study recommended
- Study in progress
- Environmental study
- Recommended

See [@patrickm02L's latest project summary view without status](https://github.com/cityofaustin/atd-data-tech/issues/6808#issuecomment-913874427).

I prefer the three dots to the settings cog

[2021-09-07 15:22] moorerst commented on #7105
Meeting rescheduled for 9/16 at the request of David S

[2021-09-07 15:30] SubhaShroff commented on #6867
@Nadin-Nader  Its tested on TEST for all 6 permits and checked the Bill & Receipts also. All looking good. Up for UAT.

[2021-09-07 15:41] #7035 closed

[2021-09-07 15:53] ChrispinP opened #7122 "[DTS] New User Request: Kasi"
Add Kasi J to DTS Portal

[2021-09-07 16:15] dianamartin commented on #7033
FIELDS NEEDED
"Cost Estimate"
- Work Group
- Requester: Actual Person
- Location
- Line items: Materials, Labor & Assets

- [x] Created `cost_estimate` object table
Fields created:
- Location Name - Short Text
- Requester Name (External) - Name
- Notes - Short Text
- Estimate date - Date/Time
- Cost Estimate ID - text formula
- Requester Name - connection
- Created By - connection
- Created Date -

[2021-09-07 16:49] tillyw commented on #7121
Looking into this!

[2021-09-07 17:26] johnclary commented on #7043
thanks!

[2021-09-07 18:01] Nadin-Nader commented on #2397
**Status:**
Subha will address the issue with old permits and having to add the new project sponsor field. Kim said that is not a deal breaker but Subha is going to see if she can fix it.

[2021-09-07 18:22] dianamartin commented on #7033
## Project Cost Estimate table
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/f91071b9-a797-47f5-8a08-e1a753810c15)

## Project Cost Estimate details
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/e98867b1-a718-41c1-b688-c6685f9fc928)

## Cost Estimate
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/56c72e2c-242c-41

[2021-09-07 18:41] ChrispinP commented on #6848
Completed the update for [SSO documentation]( https://atd-dts.gitbook.io/atd-knack-operations/knack/single-sign-on)

[2021-09-07 18:46] ChrispinP commented on #7122
Kasi added to DTS Portal, complete

[2021-09-07 18:46] #7122 closed

[2021-09-07 18:50] #6612 closed

[2021-09-07 18:55] amenity commented on #6960
@johnclary are these good to go into the backlog?

[2021-09-07 18:59] amenity commented on #7121
@tillyw - This is very low priority.

[2021-09-07 19:01] amenity commented on #7033
Nice, @dianamartin😍

[2021-09-07 19:05] tillyw commented on #7121
Got it, no problem! I haven't found a solution yet. Please move it to the backlog.

[2021-09-07 19:17] #7082 closed

[2021-09-07 19:19] alan-deanda opened #7123 "ArcPro documentation"
Review ESRI training documents to find articles and tips that would be helpful for ATD as we transition from ArcMap to ArcPro.

[2021-09-07 19:19] #6939 closed

[2021-09-07 19:22] ChrispinP commented on #6853
Knack dragging their feet on fixing the coordinates issue. For now I will close this issue since all but that one article is done.

[2021-09-07 19:22] #6853 closed

[2021-09-07 19:26] amenity opened #7124 "Implement Comment types"
Comments can have multiple types. So far:
- **Status updates** - made from the "Summary" tab in the "Status update" field #6995
- **Timeline notes** - made from the "Timeline" tab #6409 — does not need to
- **Internal notes** - made directly on the "Comments" tab using existing functionality

Users can filter — via [outline button UI](https://material-ui.com/components/buttons/#outlined-buttons) —

[2021-09-07 19:31] johnclary commented on #6286
Here's a basic query to start with:
[code]

[2021-09-07 19:54] patrickm02L opened #7125 "Add New Employee Maggie to the DTS Portal"
This is a notification request to add new employee, Maggie C. to DTS Portal.

- Division: Transportation Engineering
- User Role: Viewer (Unless a DTS team member)
- Home Office Photo - leave blank
- Send an email intro - No

[2021-09-07 20:33] ChrispinP commented on #7034
@dianamartin Should we update and close this now?

[2021-09-07 20:41] ChrispinP commented on #6377
Glossary updated. Kept it simple for now, can add more terms later if needed. Will update Customer Portal Guide and Mitigations Guide after data migration and have spent more time learning to create user guides and gifs. Once there is more data in the app and the coordinates bug is fixed, circling back to update this documentation will make more sense.

[2021-09-07 20:41] #6377 closed

[2021-09-07 20:43] ChrispinP commented on #5637
No issues, closing

[2021-09-07 20:43] #5637 closed

[2021-09-07 20:44] ChrispinP commented on #6664
No issues, closing

[2021-09-07 20:44] #6664 closed

[2021-09-07 20:45] ChrispinP commented on #3599
No issues, closing

[2021-09-07 20:45] #3599 closed

[2021-09-07 20:45] ChrispinP commented on #3601
No issues, closing

[2021-09-07 20:45] #3601 closed

[2021-09-07 20:45] ChrispinP commented on #3598
No issues, closing

[2021-09-07 20:45] #3598 closed

[2021-09-07 20:46] ChrispinP commented on #3597
No issues, closing

[2021-09-07 20:46] #3597 closed

[2021-09-07 20:46] ChrispinP commented on #3600
No issues, closing

[2021-09-07 20:46] #3600 closed

[2021-09-07 20:46] ChrispinP commented on #3602
No issues, closing

[2021-09-07 20:46] #3602 closed

[2021-09-07 20:46] ChrispinP commented on #5636
No issues, closing

[2021-09-07 20:46] #5636 closed

[2021-09-07 20:49] ChrispinP commented on #6671
no further action for now, closing

[2021-09-07 20:49] #6671 closed

[2021-09-07 20:52] ChrispinP commented on #6805
@amenity should we close this for now?

[2021-09-07 21:01] dianamartin commented on #7034
@ChrispinP yes, let's update and close this. We can create another one for the post migration communication.

[2021-09-07 21:26] dianamartin commented on #6843
@moorerst I think we need to set up a quick meeting with David so he can review, no?

[2021-09-07 21:32] andrewshensky commented on #7048
@alan-deanda The CTN should be pretty up to date at this point. Let me know if you have some time and we can discuss/work through the vector tile publishing process

[2021-09-07 21:46] Nadin-Nader commented on #6867
@SubhaShroff i will send an email for the Stakeholders to test this on TEST

[2021-09-07 21:59] Nadin-Nader commented on #6867
Email sent to Stakeholders for UAT on TEST:

[2021-09-07 22:02] Nadin-Nader commented on #6844
**Status:**
Sree is currently testing this

[2021-09-07 22:07] Nadin-Nader commented on #6321
@Sreelatha-BlazeKannan @TracyLinder this has been deployed to TEST by the DevOps team.
Ready for TEST UAT

[2021-09-07 22:15] Nadin-Nader commented on #6842
@Sreelatha-BlazeKannan @TracyLinder this has been deployed to TEST. Please UAT

[2021-09-07 22:28] Nadin-Nader commented on #6868
@SubhaShroff i UATd this and found that this is ready for PROD

[2021-09-07 22:28] Nadin-Nader commented on #6868
**Status:**
## **Approved for PROD deployment 🙌🎉‼**

[2021-09-07 22:44] Nadin-Nader commented on #6901
Account has been updated. Setting the automation to update PROD account tonight then i will close

[2021-09-07 23:00] Nadin-Nader commented on #6201
**Status:**
Since i could not get a hold of Swapna i sent her another email asking for her response and verification. Waiting on Swapna's response.

[2021-09-08 03:45] johnclary commented on #7002
looks great! i'm sad to say that #7073 is blocking this 😞 i will wrap it up ASAP

[2021-09-08 04:04] johnclary commented on #7096
thanks @jaime-mckeown. @andrewshensky would you keep your ears open for discussion of/interest in mobility project data more generally? just want to keep an eye out for Moped overlap @amenity

[2021-09-08 04:05] johnclary commented on #7091
thanks for doing this!

[2021-09-08 12:56] Lpriya-LIT commented on #7093
@Nadin-Nader Verified in Test, changes look good.
@TracyLinder

[2021-09-08 13:38] #6846 closed

[2021-09-08 13:41] #7091 closed

[2021-09-08 13:54] SubhaShroff commented on #6868
@Nadin-Nader  SCTASK0165134 is submitted for PROD deployment.

[2021-09-08 13:58] SubhaShroff commented on #6867
### Status:
Email sent to stakeholder by Nadin to test this on TEST

[2021-09-08 13:59] SubhaShroff commented on #2397
### Status:
TURP Application Fee is not inserting for old infos (75942, 75943). I am going to work on this today.

[2021-09-08 14:16] SubhaShroff commented on #6562
### Status:
I raised a DEV deployment request - SCTASK0165141 to omit the unwanted fields on Street Info page.

[2021-09-08 14:34] andrewshensky commented on #7020
**Some ideas for potential attribute rules**

1. Populate Modification field for new features
2. Populate Line Type field based on presence of Street Name/Full Street Name
3. Update Place_Text field when changes are made to address range or street name
4. Populate Jurisdiction field/s based on intersection with jurisdictions on insert/update
5. Populate IN_ETJ field based on intersection with juri

[2021-09-08 14:46] atdservicebot opened #7126 "Create new tab "Communications" page, table (exportable) for better Communications device status tracking"
Data Tracker

Looking for a new exportable table to be added that includes the following
Cabinet
- [x] Cabinet ID
- [x] Cabinet Type
- [x] Cabinet Communication Type - Ask Brian to clarify this one
- [x] UPS
- [x] UPS Install Date
- [x] UPS IP Address
- [x] UPS Port
- [x] Monitor Type
- [x] Monitor IP
- [x] Monitor Port
- [x] Cameras	ID
- [x] Status
- [x] Camera IP
- [x] Camera Type
- [x] Signal I

[2021-09-08 14:52] TracyLinder commented on #7017
Note to us: We need to make a new fee for the TDS surcharge so we can report on it separately from the ROW surcharge.

[2021-09-08 15:02] vschandramouli commented on #7017
@TracyLinder I updated the AC to say the Tech Surcharge will be a new fee. Do you want to name it something else so there is no confusion between this and ROW Surcharge?

[2021-09-08 15:09] patrickm02L commented on #7085
@dianamartin will schedule with @johnclary and @ChrispinP to get a technical review on the transactions.

[2021-09-08 15:12] amenity commented on #6848
@dianamartin - please review

[2021-09-08 15:22] amenity commented on #6913
@ChrispinP - check with CTM GIS to see if there's a Global ID we can use as a unique identifier for each case.

[2021-09-08 15:28] amenity commented on #3867
@TracyLinder - this is ready for QA and review with stakeholders

[2021-09-08 15:30] amenity commented on #3867
@ChrispinP - please find out who our new stakeholder is and schedule  a meeting with Diana.

[2021-09-08 15:45] andrewshensky opened #7127 "GIS Modernization Meeting 9/8"
**Meeting Notes**

- Attendance low due to training

- Make determination of when you will no longer support ArcMap as a group

- Updated GIS User list is available in OneNote page

- Shannon is working to complete org chart w/usage

- Software usage report is not updated yet for August
There are problems with PowerBI, IT is working on it, Shannon will provide update

- Noted that Pro does not sup

[2021-09-08 15:46] johnclary commented on #5847
i would like to get this assigned this sprint

[2021-09-08 15:46] #7127 closed

[2021-09-08 15:48] ChrispinP commented on #6913
Case & Submission Templates
[TIA Case Template.csv](https://github.com/cityofaustin/atd-data-tech/files/7130163/TIA.Case.Template.csv)
[TIA Scope Template.csv](https://github.com/cityofaustin/atd-data-tech/files/7130164/TIA.Scope.Template.csv)
[TIA Submission Template.csv](https://github.com/cityofaustin/atd-data-tech/files/7130165/TIA.Submission.Template.csv)

[2021-09-08 15:56] atdservicebot opened #7128 "Add field for "Switch IP" to the traffic signal object"
Data Tracker

Add field for switch IP to the traffic signal. I can provide a spreadsheet to import into datatracker

able to easily get the switch IP from DataTracker instead of a separate spreadsheet

using a spreadsheet

Brian C.

Request ID: DTS21-102615

[2021-09-08 15:59] Nadin-Nader opened #7129 "Update Fee Dates - All ATD Fees; TIA Fees (51060)"
### Make sure all ATD fee codes have the correct dates so they won't break on 10/1

**This card will be used for the ATD fees - TIA Fees (51060)  **

Main card is #6330

[2021-09-08 16:03] Nadin-Nader opened #7130 "Update Fee Dates - All ATD Fees; DS /EX fees ( Multiple lookup tables involved )"
### Make sure all ATD fee codes have the correct dates so they won't break on 10/1

**This card will be used for the ATD fees - DS /EX fees ( Multiple lookup tables involved ) **

Main card is #6330

[2021-09-08 16:13] dianamartin commented on #7128
- Add new field to signal object `switch ip` -
- Add to new IP Table query

[2021-09-08 16:19] dianamartin commented on #7126
Make an "Advanced Search" table/page
Try to stick it into Signals "Communications" section - maybe?

[2021-09-08 17:14] #6958 closed

[2021-09-08 17:20] dianamartin commented on #7128
@patrickm02L I just happened to be talking to the stakeholder about a different issue and they were also able to get information. Just letting you know I'm putting into a different pipeline.

[2021-09-08 17:21] Lpriya-LIT commented on #7129
Expiry date for all TIA fee codes in Lookup - 51060 has been updated.
Commit id - f6fc8eec050d

[2021-09-08 17:25] dianamartin commented on #6848
@ChrispinP Great documentation! @johnclary Take a peep, lots of good information in a different arrangement.

[2021-09-08 17:27] dianamartin commented on #7085
Meeting scheduled 9/13 at 1:30 pm

[2021-09-08 17:30] dianamartin commented on #7125
- Checked system if Maggie had account, she did not
- Created account for Maggie

[2021-09-08 17:30] #7125 closed

[2021-09-08 18:08] #6919 closed

[2021-09-08 18:15] johnclary commented on #6687
@alan-deanda please talk to Steve to better understand what this data is being used for

[2021-09-08 18:22] dianamartin commented on #6864
David was able to get me badge IDs for most of the executives. Couldn't add:
-  Karla T
-  Peggy M
-  Gilda P

they apparently have old badges and would need to get them physically added to the system.

[2021-09-08 18:22] #6864 closed

[2021-09-08 18:22] dianamartin commented on #6864
@moorerst FYI, see above comment.

[2021-09-08 18:34] johnclary commented on #7055
Waiting for Dwayne to deploy process to maint prod.

[2021-09-08 18:37] dianamartin opened #7131 "IT Support: Rudy V. Tablet - factory reset, location tracking, deleting device"
Billy B.
AMD

Messaged 9/1 about finding a tablet that was possibly stolen. Checked for:

 978V

- Jorge said he'd factory reset his tablet and give it to Rudy, 9/8.
- Danny said the location tracking records only stay for 30 days, he said the last active date the tablet was round was 39 days ago. I told him I had checked the geo location records on 9/1.
  - If we delete the device we won't ever k

[2021-09-08 18:39] Nadin-Nader commented on #7129
@Lpriya-LIT This has been sent to the DevOps CM Team to deploy to DEV under **SCTASK0165269**

[2021-09-08 18:40] Nadin-Nader commented on #7129
**Status:**
Waiting on CM Team to deploy to DEV under **SCTASK0165269**

[2021-09-08 18:44] johnclary commented on #7020
@alan-deanda anything else?

[2021-09-08 18:44] SubhaShroff commented on #6562
@Nadin-Nader  @TracyLinder

Please check the following Property Street info page on DEV.  Let me know if that looks good. And also any other changes need in the further pages.

![image](https://user-images.githubusercontent.com/51680715/132566989-813403b5-d1d2-4f5f-b8b6-dd1a38cc4bef.png)

[2021-09-08 18:44] johnclary opened #7132 "Set up version control for CTN"

[2021-09-08 18:45] johnclary commented on #6920
@andrewshensky double-check that that one person was able to do this successfully.

[2021-09-08 18:46] Lpriya-LIT commented on #7090
Expiry date for all ATD fee codes in Lookup - 90266 for SP, C, C8 and ZC folders has been updated.
Commit id - 9ad95e860a98

[2021-09-08 19:04] johnclary commented on #6286
Noting that the SQL query and python script I used for this data is [here](https://github.com/cityofaustin/atd-moped/tree/main/moped-toolbox/component_geo_processing).

[2021-09-08 19:04] dianamartin commented on #6979
Let Sergio know that the only thing was

- Sergio fixed the script to check for error messages
He said

- Deleting 4 DUP records

[2021-09-08 19:14] johnclary opened #7133 "Restrict component features to points or lines (but not both)"
It is currently possible to create a project component with a mix of points and lines. However mixing these geometry types is not compatible GIS.

If we want to display a single component as a map feature in ArcGIS Online, the feature must be comprised of either points or lines, but not both. Also, for the sake of data quality, we probably don't want users to draw, for example, a point which repre

[2021-09-08 19:25] dianamartin commented on #7086
Reached out to Andrea and she said that the "comments" were rare, but they do make then for when transactions are paid weird.
- She asked that the transaction be editable in every status
- We'd move the "Edit" button to the far left of the table and keep the invoice stuff to the "right" side

[2021-09-08 19:33] amenity commented on #5764
@johnclary - understands this to mean that TXDOT will no longer support this data but it doesn't compel us to purge it on our end.

[2021-09-08 19:36] dianamartin commented on #7086
- [x] Added `Transaction Note` to transaction object table
- [x] Added `Transaction Note` to edit transaction form

[2021-09-08 19:45] amenity opened #7134 "Update Phases and Milestones terms in the database"
- Phase and Subphases [here](https://docs.google.com/spreadsheets/d/13EbvdJNoZRCXQOJZJdrUqTUb2-o2puMXhiZN_94_go0/edit#gid=217441231).
- Milestones [here](https://docs.google.com/spreadsheets/d/13EbvdJNoZRCXQOJZJdrUqTUb2-o2puMXhiZN_94_go0/edit#gid=33802623)

[2021-09-08 19:48] atdservicebot opened #7135 "New Employee. will need access to AMANDA to perform scope of work. Thank you very much, Nick,"
AMANDA

New Employee. will need access to AMANDA to perform scope of work.

Thank you very much,
Nick,

Soon — This week

Nick M.

Request ID: DTS21-102620

[2021-09-08 19:53] Nadin-Nader commented on #7090
@Lpriya-LIT @TracyLinder I have sent this over to the DevOps CM Team to deploy to DEV under **SCTASK0165381**

[2021-09-08 19:55] Nadin-Nader commented on #7090
**Status:**
Waiting on DevOps CM Team to deploy this to DEV under **SCTASK0165381**

[2021-09-08 20:00] johnclary commented on #5764
ok—I just re-read that last sentence. I assigned this to myself and will check with our legal about it.

[2021-09-08 20:05] #6961 closed

[2021-09-08 20:05] dianamartin commented on #7112
Talked to Renee this morning and we weren't sure about these being on purpose. We compared a Study details of one that has a Location ID v. a record that didn't have it.

## Has Location ID
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b601e677-3358-46b1-9398-500565e0a1a3)

## Do not have Location ID
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297

[2021-09-08 20:14] dianamartin commented on #7112
- [x] Checked the new "study" record Renee created, it didn't have the "location" field populated
- [x] Checked the "Add study" form, looked like the connection value wasn't being transferred to the study
- [x] Added a record rule
- `location` to a connected value `study_locations>location ID`

[2021-09-08 20:15] #6705 closed

[2021-09-08 20:28] amenity commented on #4799
Mateo's comments in the OG issue:
## Loading spinner
Padding around the loading spinner. I think the spinner could use a little room to breathe here. Could even see it being centered.

Side note: I also see the page load twice when I first log in.

![Screen Shot 2020-12-28 at 2 40 08 PM](https://user-images.githubusercontent.com/5697474/103242208-09a9ce00-491b-11eb-9f18-879d07d0188c.jpg)

## Sorta

[2021-09-08 21:07] johnclary opened #7136 "Follow-up tasks to signal component editing"
See https://github.com/cityofaustin/atd-moped/pull/407

[2021-09-08 21:09] #7073 closed

[2021-09-08 21:42] andrewshensky commented on #7096
HDR is creating application/hub to make sure everyone has the most updated data

Target date for hub (approx. week of 9/13 or 9/20)

The most up to date data will be avialable in the hub HDR is putting together. It will be this data that we publish to the organization as authoritative.

Our current data is marked as authoritative but is not most up to date out there.

Rather than getting data from

[2021-09-08 21:53] mateoclarke commented on #6476
All the work that Jorge completed moving the site to Next.js is great. The last piece missing as far as I can tell is to troubleshoot why the deploy preview build is failing.

First, it seemed like the [build command was failing](https://app.netlify.com/sites/atd-product/deploys/612fd732f2a8090007ff3b00#L206-L214). So I tried to install the `netlify/plugin-nextjs` library which seemed to be the co

[2021-09-08 21:53] Nadin-Nader commented on #6901
User account already existed and is updated. Closing card

[2021-09-08 21:53] #6901 closed

[2021-09-08 22:18] johnclary commented on #7096
Great to know—thanks!

On Sep 8, 2021, at 16:42, andrewshensky ***@***.***> wrote:

﻿
*** External Email - Exercise Caution ***

HDR is creating application/hub to make sure everyone has the most updated data

Target date for hub (approx. week of 9/13 or 9/20)

The most up to date data will be avialable in the hub HDR is putting together. It will be this data that we publish to the organization as

[2021-09-08 22:38] johnclary commented on #7133
@chiaberry some more deets below in case it's helpful. Happy to pair on this to get you oriented.

When a component type must be a line, we want to hide the selectable points layer (`Project_Component_Points_prototype`):
https://github.com/cityofaustin/atd-moped/blob/4007fa676508c8114b54a7c9e5926ce10a33a173/moped-editor/src/utils/mapHelpers.js#L180

And when the component must be a point, we want

[2021-09-09 14:18] dianamartin commented on #7131
I reached out to Danny and he said that

- Now, if the user has enrolled more than five times, we may need to review and delete some of the enrollments

I said

[2021-09-09 14:20] dianamartin commented on #7131
Messaged Jorge

- He said if we delete the old device enrollment we'll never know if the device comes active or not. It's our choice if we want to delete it or not.
 - Just let me know and I can request CTM to remove it.

[2021-09-09 14:22] dianamartin commented on #7131
user replies

Closing this issue. Will create new issue if stakeholder needs a CTM ticket.

[2021-09-09 14:22] #7131 closed

[2021-09-09 14:32] #7034 closed

[2021-09-09 14:32] dianamartin commented on #7034
Closing this issue, will create more if need be,

[2021-09-09 14:34] dianamartin commented on #7100
Knack's last reply

[2021-09-09 14:34] #7100 closed

[2021-09-09 14:46] dianamartin commented on #6264
Just reached out to the DSD GIS team and asked when we they'd be able to prioritize getting the Small Cell team a solution. They said:

C: We should be able to get to it within the next couple of months.
C: I'll keep you posted

[2021-09-09 14:49] dianamartin commented on #7112
Messsaged Renee 9/8

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/f51f8913-3a62-43fe-a82e-47f3df9b380e)

User replied

I replied

[2021-09-09 14:50] dianamartin commented on #7111
Messaged Tracy 9/2

Tracy replied 9/2

[2021-09-09 14:50] #7111 closed

[2021-09-09 14:51] dianamartin opened #7137 "Created new ATD modern sites for high usage sites"

[2021-09-09 15:37] patrickm02L commented on #5764
In the September Sprint Review Meeting:

Lewis suggestion: Pull down the data from the open data portal that is older than 5 years old.
Mateo added: that we could hide the data on VZE by changing the date range.

[2021-09-09 15:48] patrickm02L commented on #6789
@patrickm02L, @xavierapostol, @frankhereford meet to talk about how to think through how the medical events are tracking fatalies.

[2021-09-09 16:47] patrickm02L opened #7138 "Add New Employee Gabriel G. to the DTS Portal"
This is a notification request to add new employee, Gabriel G. to DTS Portal.

Division: Right of Way
User Role: Viewer (Unless a DTS team member)
Home Office Photo - leave blank
Send an email intro - No

[2021-09-09 17:19] dianamartin commented on #7138
@ChrispinP can you do this one, thanks!

[2021-09-09 17:37] dianamartin commented on #7131
- Jorge had some issues with the "Launcher" app showing up on the tablet.
- Discovered that Jorge's device profile existed and needed to be deleted.
- Danny deleted the profile and reinstalled the Launcher app
- Jorge confirmed it's working

[2021-09-09 17:47] Nadin-Nader commented on #6401
Fee Procedures to look at:

DefaultFee_SP_245
DefaultFee_SP_51121
FEE_BP_50000

[2021-09-09 17:52] Nadin-Nader commented on #7135
Sent an email to Nick asking him to fill out the NURF form after speaking to Blake about it.

**Status:**
Waiting on NURF

[2021-09-09 18:24] ChrispinP commented on #7084
New Case Template Admin Menu and Button created that navigates to the Case Template Form
![image](https://user-images.githubusercontent.com/67915167/132741313-3fc870e1-a07e-49e6-bf4e-9da0577735b7.png)
![image](https://user-images.githubusercontent.com/67915167/132741354-679174db-c504-4c69-ab4c-33000771693c.png)

The JS has been updated so the API saves the Knack Record ID for the Case Template
![i

[2021-09-09 18:41] dianamartin commented on #5233
Reached to Surbhi and she said to reach out to APD Contact:
- `Amy Z. `

- `Trey` - Unknown last name

[2021-09-09 18:53] SubhaShroff commented on #2397
@Nadin-Nader SCTASK0165895 - is submitted for DEV deployment of a correction that was not allowing to insert TURP Application Fee and ATD surcharge fee.

[2021-09-09 19:02] ChrispinP commented on #7138
Gabriel added to DTS Portal

[2021-09-09 19:02] #7138 closed

[2021-09-09 19:05] amenity commented on #6600
Per discussion w/ @johnclary and @patrickm02L - moving this to the Icebox for now. We're going to focus on component mapping and let users skip this step of project creation, see #7002 .

[2021-09-09 19:44] dianamartin commented on #7128
- [x] Added `Switch IP` to `signals` object table

[2021-09-09 20:20] amenity commented on #7050
@johnclary @mateoclarke @zappfyllc

After discussions with AMD, I think two basic fields would be really helpful for 1.0:
- "Project sponsor" (ultimate "owner" entity )
- "Project partners" (all entities involved)

This just ensures that users can a)filter down to "their" team's stuff b) find out who's involved in larger projects, before we implement #6625.

I could see the necessity for these evo

[2021-09-09 20:37] amenity opened #7139 "Implement design refinements to Material Table in some random places"
### Apply min-width 8em to dropdowns:
![Screen Shot 2021-09-09 at 3 36 21 PM](https://user-images.githubusercontent.com/1463708/132759009-0a4a5d96-b9c2-4e07-88a7-4ab61bc20c56.png)

- [x] Project phases - phase name, subphase name
- [x] Project milestones - milestone
- [x] Project team - ~name~, role
- [x] Funding sources - source, program, and status columns
- [x] Files - type

### Mark required f

[2021-09-09 21:00] atdservicebot opened #7140 "Clarify results in the "UPS" field under "Cabinet" for multiple signals"
Data Tracker

Confusion over results in the "UPS" field under "Cabinet" for multiple signals. Example attached.

Not sure why this is popping up or if there is a reason for this. Seems to be two fields being joined together but make it less obvious as to what the value means.

https://atd.knack.com/amd#signals/signal-details/5817c099e052e0422be6c929/signal-details/5817c099e052e0422be6c927/

Intern

[2021-09-09 21:04] dianamartin commented on #6447
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:04] #6447 closed

[2021-09-09 21:05] dianamartin commented on #6488
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:05] #6488 closed

[2021-09-09 21:06] dianamartin commented on #6576
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:06] #6576 closed

[2021-09-09 21:06] #6444 closed

[2021-09-09 21:06] dianamartin commented on #6444
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:07] dianamartin commented on #6442
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:07] #6442 closed

[2021-09-09 21:08] dianamartin commented on #6575
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:08] #6575 closed

[2021-09-09 21:08] #6532 closed

[2021-09-09 21:08] dianamartin commented on #6532
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:08] dianamartin commented on #6531
Closing as the CIC Fellowship has ended on 8/20/21.

[2021-09-09 21:08] #6531 closed

[2021-09-09 21:27] atdservicebot opened #7141 "[URGENT] "Received Items" will not associate to "Invoice" record"
Finance & Purchasing

Received items will not attach to invoice. Getting a "File Failed" error message.

Sharon Ballast reported to me she also was having this same problem

https://atd.knack.com/finance-purchasing#purchase-requests/purchase-request-details/608970cf88d515001fa2e6ee/

Internet Browser: Chrome

Adelita A.

Request ID: DTS21-102630

[2021-09-09 21:27] andrewshensky commented on #7055
Dwayne will be accepting a new role in a different department. He has updated Jacquie with our progress on this and she will now be the main contact.

For time being this dataset will live in MAINTEST. This will not impact any processing on our end.

[2021-09-09 21:33] andrewshensky commented on #7055
Street Segment Changes dataset had stopped collecting updates at end of August. Dwayne has updated processing which will allow it to run everyday without stopping.

Processing should begin running again tonight, I will verify to make sure process has restarted and past changes have been captured

[2021-09-09 21:35] ChrispinP commented on #6621
ROW Portal cleanup complete, removal from Data Tracker pending

[2021-09-09 21:40] andrewshensky opened #7142 "Push August Street Segment Changes to CTN with New Process"

[2021-09-09 21:42] andrewshensky opened #7143 "Create Official Documentation for Intial Processing Workflow"

[2021-09-09 21:50] ChrispinP commented on #6913
spoke with Andrew and confirmed that the mapped datasets do not have a hidden Global ID. Will need to determine how we generate the unique IDs for mitigations and what they will look like.

[2021-09-09 21:55] dianamartin commented on #7141
@amenity @johnclary Can you have a Dev please look into this?

Reached out to Adelita. She said that the issue starts happening after they're having is when they have a PR and they've already copied the "Items" records to the "Received Items".

## Issue Details
 When the user uses the multi-select custom check box and selects an invoice ID above on the drop down field and clicks "Add to Selected I

[2021-09-09 22:06] atdservicebot opened #7144 "Implement edits to the Bike Parking Application"
Other / Not sure

I would like to request some edits to the Bike Parking Application. Here is the link: https://atd.knack.com/atd-forms#bike-parking-application/

For the English and Spanish versions, I would like to add, rearrange and delete fields:
- Move “Location Requested” to top
•Delete “Business Organization”
•Delete all fields starting with “What destinations are…” to “Applicant Signature”

[2021-09-10 00:44] johnclary opened #7145 "[BUG] Signal timing dashboard does not display 2022 data"
Steps to reproduce:
Navigate to: https://data.mobility.austin.gov/signal-timing/
Click on the "2022" filter button.

Expected behavior: dashboard updates to show 2022 corridors.

Actual behavior: nothing happens.

Reported by Jonathan L.

[2021-09-10 01:04] #7145 closed

[2021-09-10 01:20] johnclary commented on #6864
thanks @dianamartin !! yay

[2021-09-10 01:21] johnclary commented on #7055
Bummer to hear Dwayne is moving on. Glad he was able to get this mostly wrapped up.

[2021-09-10 13:22] vschandramouli commented on #4823
Updated AC. Moving to Backlog.

[2021-09-10 13:28] vschandramouli commented on #4025
Updated AC. Moving to Backlog.

[2021-09-10 14:03] Lpriya-LIT commented on #7090
Changes has been deployed to Dev,  looks good.
Ready to be deploy in Test

[2021-09-10 14:03] andrewshensky commented on #7055
I was able to verify this morning that processing has restarted and changes that were made while processing was down appear to have been captured. I think we are in a good spot with everything in its current state.

[2021-09-10 14:04] Lpriya-LIT commented on #7129
Changes has been deployed to Dev,  looks good.
Ready to deploy in Test

[2021-09-10 14:38] patrickm02L opened #7146 "Clear out Scoobi test data from MDS database"
Scoobi would like to carry out some test runs of their devices in Austin in order verify MDS is 100% working.

In order for them to test, we need to make sure that the dummy data that we tested with earlier is cleared from the MDS database.

Once the MDS database is clear we'll need to notify Andrea M. on the Shared Mobility Team to let her know Scoobi's MDS is good to go.

[2021-09-10 14:49] atdservicebot opened #7147 "Need PR 2021-04-2600 reopened for corrections"
Finance & Purchasing

Need PR 2021-04-2600 reopened for corrections

Soon — This week

Preferred by noon today; will be out remainder of day after noon.

Error :(

Request ID: DTS21-102640

[2021-09-10 14:58] dianamartin commented on #7147
Went in and changed `PURCHASING_PROCESSING_COMPLETE` - from "Yes" to "No". Status is updated from CLOSED to Process | Purchasing

[2021-09-10 15:02] dianamartin commented on #7147
Messaged and Emailed user

[2021-09-10 15:08] andrewshensky opened #7148 "School Beacon Follow-up Questions / Data Clean Up"
Charles Z. reached out and is looking to finish his tasks by the end of the week of 9/13. He mentioned there is no immediate rush but if you could follow up with him on Monday that would be great.

1. Wants to verify that the School Zone Beacon data he has been working with has been/is being pushed to DataTracker.
2. Wants to know if there is anything else on his end that needs to be completed.

[2021-09-10 17:32] Nadin-Nader commented on #7090
## **Approved for TEST deployment**

[2021-09-10 18:19] sergiogcx commented on #7146
For context, we have about 5955 trips in the database, and 1985 schedule 1 hr. blocks completed. I will be deleting all the trips, as well as resetting the status of those hour blocks:

<img width="678" alt="2021-09-10_14-16-49" src="https://user-images.githubusercontent.com/5282430/132899362-489e7151-28a1-4e5c-981a-3f67eeeb8486.png">
<img width="784" alt="2021-09-10_14-03-52" src="https://user-im

[2021-09-10 18:25] Nadin-Nader commented on #7090
**Status:**
Sent to DevOps to Deploy to TEST under **SCTASK0166343**

[2021-09-10 18:31] Nadin-Nader commented on #7129
**Status:**
Sent to DevOps CM Team for deployment to TEST under **SCTASK0166344**

[2021-09-10 18:34] sergiogcx commented on #7146
Gone:

<img width="392" alt="2021-09-10_14-33-50" src="https://user-images.githubusercontent.com/5282430/132901131-7b308276-06ec-4508-afdf-686b3cbf98e1.png">

[2021-09-10 19:02] patrickm02L commented on #7146
Excellent!

[2021-09-10 19:34] Nadin-Nader commented on #6844
Added to AC:

Make sure Extension Fee inserts based on Property & Street Information irrespective of the WorkType: PVT Long Term

[2021-09-10 20:08] Sreelatha-BlazeKannan commented on #6321
@Nadin-Nader , @TracyLinder - Tested and working as expected.

![image](https://user-images.githubusercontent.com/44907715/132911623-0ef67299-daa7-4a14-ab6e-dd0365492eb5.png)

[2021-09-10 20:50] chiaberry commented on #7141
to test: "Go to the Items table in the PR details and click the check box beside it to add to received items.
Then the item should be copied to the "Received Items" at the bottom of the PR Details page"

[2021-09-10 21:10] dianamartin commented on #7086
Shared with stakeholders on 9/10 at SMO Sprint Review, no modifications to features

[2021-09-10 21:10] #7086 closed

[2021-09-10 21:13] dianamartin commented on #7085
# Sprint Review Feedback 9/10
License & Permit fees
- $1500 for annual license
- Upping permit fee to $40 a month.

[2021-09-10 22:24] #7146 closed

[2021-09-10 22:26] patrickm02L commented on #7146
Sent an email to Andrea M. letting her know that the Scoobi MDS database was clear.

[2021-09-10 22:42] #7136 closed

[2021-09-13 14:14] jaime-mckeown opened #7149 "Engineering Service Areas Error in Data - 311 Reported"
From Bill S. in 311:

![image.png](https://images.zenhubusercontent.com/5cb8d2e073d7e234297df108/3e503ff1-e596-4156-962d-e9df57212617)

[2021-09-13 14:19] dianamartin commented on #7146
John asked me to delete Scoobi Test records in the SMO Knack app
- 2 records
- July & August: Record ID `80` and `84`
- Deleted

[2021-09-13 14:21] Nadin-Nader commented on #6867
@SubhaShroff @TracyLinder Per Paloma's email, all looks ad functions well and has approved the move to PROD.

## **Approved for PROD Deployment🙌🎉‼**

[2021-09-13 14:22] jaime-mckeown opened #7150 "Request to Export AGOL Feature Layers - 311"
From Bill S. in 311:

[2021-09-13 14:23] jaime-mckeown commented on #7150
- Updated the Pay To Park Areas feature layer to allow Exporting
- Traffic Signals and Pedestrian Signals was already set to allow exporting, sent a screenshot.

[2021-09-13 14:33] jaime-mckeown opened #7151 "Access to PNTS - Orlando C."
Sydni emailed asking for access to the PNTS Web App for Orlando.

[2021-09-13 14:34] dianamartin commented on #7126
Emailed Brian

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/7e874f17-4ba8-4365-b1e2-61ee5055532f)

-	The only clarification I needed was for the field you requested to add to the table “Cabinet Communications Type”, can you make sure that this field is there or which field I need to add.

[2021-09-13 14:34] SubhaShroff commented on #6867
Thank you @Nadin-Nader. SCTASK0166681 is submitted to do PROD Deployment.

[2021-09-13 14:41] jaime-mckeown opened #7152 "Shared Mobility Operations Web App Visibility Ranges need updating"
Andrea let me know that all the Service Area polygons weren't visible in the Shared Mobility Operations Web App.

[2021-09-13 14:42] jaime-mckeown commented on #7152
All of the visibilities were somehow changed to visibilities that made no sense. Fixed all layers and let Andrea know that it was fixed.

[2021-09-13 14:42] #7152 closed

[2021-09-13 14:44] jaime-mckeown commented on #7151
- Emailed to find out which App he was trying to get access to.
- He was trying to access the AGOL Web App, no idea why he couldn't as it's shared to the Organization.
- Good to go now.

[2021-09-13 14:44] #7151 closed

[2021-09-13 14:44] jaime-mckeown commented on #7119
Account was created last week.

[2021-09-13 14:44] #7119 closed

[2021-09-13 14:46] moorerst opened #7153 "Meeting: 311/Knack integration discussion"
Attendees: Stephanie, Diana, John, Chandra, Bill
Continuation of discussion on 311 SR integration with Knack
Agenda
-	Control Panel Reports
-	Resources
-	ATD Needs
-	Next Steps

[2021-09-13 14:57] Nadin-Nader commented on #6842
@TracyLinder After Paloma and Kim UATd this on TEST she found that only some of the fees were updated. Come to find out that the commits partially got done. During aour meeting with Martin and George the issue was due to a comma missing and the GL code format changing.
George will send us the new format Sree will fix the comma issue and Martin asked that we recommit the changes  and he will send t

[2021-09-13 15:00] Nadin-Nader commented on #6842
@Sreelatha-BlazeKannan here is the new Fee Schedule (if needed):

[https://app.zenhub.com/files/140626918/83c3282c-3daa-4a32-a7cf-1a1af978b00b/download](https://app.zenhub.com/files/140626918/83c3282c-3daa-4a32-a7cf-1a1af978b00b/download)

[2021-09-13 15:06] moorerst opened #7154 "Meeting: Go Live for HR Forms and Email Notifications"
Attendees: Stephanie, Diana, Linda, Meredith, Nathan

Agenda:
let’s check in before we Go Live with the HR Forms and Email Notifications.

Administrative task to complete prior to Oct 1 Go Live:
Configure settings
Delete test records
Clear Hire Date
Reset Supervisor

Update on Banner integration

Scheduled 9/20

[2021-09-13 15:06] TracyLinder commented on #6844
Currently blocked by #6842 commit.

[2021-09-13 15:32] patrickm02L opened #7155 "Add process for Human Resources Manager SR to Gitbook"
During Service Desks duty had to field a number of New Employee service requests from the Human Resource Manager (HRM) that creates an email but does not create an issue in Zenhub.

There wasn't a process that outlined how to respond to the HRM SRs in the Gitbook knowledge base, so I consulted with Diana M. who showed me how previous staff were fielding the requests.

Steps
- Create an Issue
- Com

[2021-09-13 15:37] dianamartin commented on #6843
Emailed David on 9/9, CC'd Jen

**USER ROLES**
- Added new user role “badge manager” – this will be you (for Cameron) and if we have ATD buildings that require special badge access

**NEW TAB**
- Added new tab “Badge Requests” can only been seen by a user with “badge manager” & “HR Admin” user roles

**TABLE ACCESS**
- User with user role “badge manager” can edit the “Badge Access Requests” table,

[2021-09-13 15:37] ChrispinP commented on #7144
Sent email to Sophia requesting further information to complete this request.

[2021-09-13 15:40] #7147 closed

[2021-09-13 15:44] SubhaShroff commented on #2397
@Nadin-Nader  I tested it for RW-TURP pvt, by doing 'Insert + run' for TURP Application Fee on DEV. Now it adds the fee.
Please let me know if we can push it further.

[2021-09-13 15:45] SubhaShroff commented on #6868
@Nadin-Nader  PROD Deployment is done. Checked with George.

[2021-09-13 15:45] dianamartin commented on #6436
I built out the modern sites for the ATD work groups that need it for the migration.

- Finance
- Transportation Development Services
- Right of Way Management Division
- Human Resources
- Data and Technology Services
- ATSD
- SMB

All others need archiving or linking for historical document repository

[2021-09-13 15:46] #6436 closed

[2021-09-13 15:48] ChrispinP opened #7156 "[ROW - TCP] Review Multiple Submission Attachments Feature"
### Objective
Review the Multiple Submission Attachments feature for TCPs
#3867

### Participants
- Chrispin P
- Diana M
- Darren U
- Robert A

### Agenda
- [x] Make sure feature meets need
- [x] Make sure users know how to use feature
- [x] Make any adjustments to feature
- [x] Plan to enable feature (when/how?)

Testing: Sept 20th - 24th
Go Live: Sept 27th
------
- [x] Schedule meeting
- [ ] Opt

[2021-09-13 15:52] moorerst opened #7157 "Meeting: Kick off for Robin pilot with Information Security Office"
Attendees: Stephanie, Diana, Wendy, Tracy, Karl, Bart
Did not attend: Karl, Bart, Stephanie
Attendees: Wendi, Tracy, Shelby, Diana

Items for Discussion:

- Which office locations you would like to have participate in the pilot program
- Acquire the most recent floor plan of the office space so we can work with Robin to get it in the system – If you have this available please send to me
- Identify

[2021-09-13 15:55] Lpriya-LIT commented on #7130
Expiry date for all ATD fee codes in Lookup - 50050, 50081, 50105 for DS and EX folders has been updated.
Commit id - 3aace92a00eb

[2021-09-13 15:56] jaime-mckeown opened #7158 "Add Bike Rack Inventory feature layer to Shared Mobility Operations Web Map"
Andrea asked for the Bike Rack Inventory to be added to the Shared Mobility Operations Web Map at the request of a city council member.

[2021-09-13 15:57] jaime-mckeown commented on #7158
Andrew will need to create a view layer that will be shared publicly before I can add the data to the Web Map.

[2021-09-13 16:06] jaime-mckeown opened #7159 "Plotter Printing Issues - Harrell"
Harrell can't print to the Plotter at 8700 from Pro.

[2021-09-13 16:07] jaime-mckeown commented on #7159
Tested if I can print to Plotter, had to install a new driver first, then was able to print. Asked Harrell to check if it printed.

[2021-09-13 16:09] jaime-mckeown opened #7160 "AMANDA Street Closures - 9/13"

[2021-09-13 16:14] jaime-mckeown opened #7161 "Create RPP Properties Project - Ryan"
Ryan's current Mxd is located: G:\Parking Enforcement\Parking Management\Ryan Royal\RPP Folders\RPP Documents

Create a Pro Project to help him transition into Pro from ArcMap.

[2021-09-13 16:27] johnclary commented on #6925
i spoke with Cory (CTM) and Everett (Flowbird) this morning. Everett is going to send me additional details about their integration capabilities. Once I review those I will respond, probably with more questions, until we have a clear understanding of our options for protocol/design of the integration.

[2021-09-13 16:28] patrickm02L commented on #7146
@johnclary  realized that we needed to delete the Scoobi trips from the Socrata dataset as well. He wrote a script to isolate records by `vehicle_type = "moped"` to delete them row by row.

[2021-09-13 16:29] jaime-mckeown commented on #7096
Scheduled a follow-up meeting with Bryan at PW for 9/14 at 3:30.

[2021-09-13 17:52] TracyLinder opened #7162 "COS Payment Automation - TURP & EX New Permit Fees (On PROD)🎉🎉"
### As the AMANDA system, I need to automatically pay permit and extension fees for our partner departments, using the Cost of Service payment type.

-----
### AC Clarification 10/20/21

On the COS Payment:
- The stamp user should be AMANDA
- The paidby rsn should be the folder applicant RSN
----

### New Permit Fees
**Acceptance Criteria**
**EX Folder**
- Folder types where this logic needs to be

[2021-09-13 18:07] jaime-mckeown commented on #7160
Updates complete.

[2021-09-13 18:07] #7160 closed

[2021-09-13 18:09] jaime-mckeown opened #7163 "ACL Map Updates - Bike Map / Street Closures"
Maria sent comments for updates to the Bike and Street Closure Maps

[2021-09-13 18:15] chiaberry commented on #2167
PR ready for review: https://github.com/cityofaustin/atd-knack-banner/pull/1

@moorerst & @dianamartin How frequent do you want the script to run? And is there a preferred day and time?

Can we request a consistent filename from CTM for the email address csv? Instead of `2021-07-12-ATDUsers.csv`, `ATDUsers.csv` perhaps?

[2021-09-13 18:15] chiaberry commented on #4546
Addressed in PR for https://github.com/cityofaustin/atd-data-tech/issues/2167

[2021-09-13 18:18] Nadin-Nader commented on #7130
@Lpriya-LIT I have sent this to the DevOps CM Team to deploy to DEV Under **SCTASK0166774**

[2021-09-13 18:19] Nadin-Nader commented on #7130
**Status:**
Waiting on DevOps CM Team to deploy to DEV under **SCTASK0166774**

[2021-09-13 18:24] moorerst commented on #7153
311 team rescheduled meeting to 9/20

[2021-09-13 18:26] moorerst commented on #4737
@dianamartin please review slides for meeting and provide feedback. Thanks
https://docs.google.com/presentation/d/1BccURC5UDt0bZObmNks9lmCfaqiA2Ak-qXa-DIRorJQ/edit#slide=id.p

[2021-09-13 18:34] Nadin-Nader commented on #7129
@Lpriya-LIT This has been deployed to TEST. Please go ahead and UAT to make sure all the fees are correctly deployed to TEST

[2021-09-13 18:54] jaime-mckeown commented on #7163
Updated Maps and sent to Maria for review.

[2021-09-13 18:58] Lpriya-LIT commented on #7090
@Nadin-Nader Verified in Test, changes looks good.

[2021-09-13 18:58] Lpriya-LIT commented on #7129
@Nadin-Nader Verified in Test, changes looks good.

[2021-09-13 19:00] jaime-mckeown commented on #7159
The plotter was giving a paper mismatch error. Asked Harrell to unload/reload the paper. That worked and he was finally able to print.

[2021-09-13 19:00] #7159 closed

[2021-09-13 19:11] dianamartin commented on #2167
@chiaberry @moorerst Nathan said it can run as often as the Banners system updates. So I think every pay period (ex. 9/17, 10/3)

[2021-09-13 19:12] SubhaShroff commented on #7004
@Nadin-Nader  @TracyLinder  sent you the demo in email. Please let me know your feedback.

[2021-09-13 19:14] SubhaShroff commented on #6401
@Nadin-Nader  @TracyLinder  did the changes in the code to reflect the suggestions given in above fee procedures. And sent you the demo testing in email. Please let me know your thoughts and if we can move it to PROD.

[2021-09-13 19:24] moorerst commented on #2167
@chiaberry @dianamartin - so you want the consistent filename ATDUsers.csv with no dates.
So the filename will stay the same and be overwritten bi weekly?

[2021-09-13 19:28] chiaberry commented on #2167
@moorerst @dianamartin @johnclary ideally yes. They are free to upload a version of the csv with the date in the filename, along with overwriting the ATDUsers.csv.

Otherwise I'll need to update the code to figure out how to handle the filenames.

[2021-09-13 19:38] patrickm02L commented on #7155
Example: https://github.com/cityofaustin/atd-data-tech/issues/7138

When a request comes in to “Add a new employee to the DTA portal do the following steps:

Steps
- Create a new issue in ZenHub/Github
- Name the Issue “Add New Employee (First Name, Last initial) to the DTS Portal”
- Paste the contents from the Service Desk email into the body of the issue
- In Edit Mode: comment out
​​ -
 -
 -
-

[2021-09-13 19:46] Sreelatha-BlazeKannan commented on #6842
@Nadin-Nader , @TracyLinder - submitted 3rd commit for #6842 which I did as per George. Here is the 3rd commit id for your reference. Please approve and create task id.

71bdb2abbb8e

[2021-09-13 19:47] andrewshensky opened #7164 "Provide user proper AGOL acccess"
User is unable to access certain maps and data in AGOL

[2021-09-13 19:49] andrewshensky commented on #7164
User has now been granted access to groups that allow them to use requested maps and data

[2021-09-13 19:49] #7164 closed

[2021-09-13 19:54] Nadin-Nader opened #7165 "Request to add new employee, Andrew A. to DTS Portal."
This is a notification request to add new employee, Andrew A. to DTS Portal.

•	Division: Smart Mobility
•	User Role: Viewer (Unless a DTS team member)
•	Home Office Photo - leave blank
•	Send an email intro - No

[2021-09-13 20:00] johnclary commented on #6848
really nice @ChrispinP! i have no further changes. thanks for putting this together!

[2021-09-13 20:04] Nadin-Nader opened #7166 "Request to add new employee, Ramon G. to DTS Portal"
New Employee, Ramon G. was added to the Human Resources Manager application on 09/13/2021.

This is a notification request to add new employee, Ramon G. to DTS Portal.

•	Division: Office of the Director
•	User Role: Viewer (Unless a DTS team member)
•	Home Office Photo - leave blank
•	Send an email intro - No

[2021-09-13 20:10] Nadin-Nader opened #7167 "Request to add new employee, Lance C. to DTS Portal."
New Employee, Lance C. was added to the Human Resources Manager application on 09/13/2021.

This is a notification request to add new employee, Lance C. to DTS Portal.

•	Division: Arterial Management
•	User Role: Viewer (Unless a DTS team member)
•	Home Office Photo - leave blank
•	Send an email intro - No

[2021-09-13 20:37] dianamartin commented on #4737
@moorerst I've reviewed and left some comments for you

[2021-09-13 20:58] amenity commented on #6436
🙌😎 Thanks, @dianamartin !

[2021-09-13 21:01] dianamartin commented on #6436
@amenity it's not quite done...I'll be creating new issues for that.

[2021-09-13 21:31] Nadin-Nader commented on #6868
@SubhaShroff @TracyLinder  I will send an email to Paloma and Kim stating that this is now on PROD

[2021-09-13 21:35] Nadin-Nader commented on #6868
Email to Stakeholders:

Closing card

[2021-09-13 21:35] #6868 closed

[2021-09-13 21:44] jaime-mckeown commented on #7148
Go through data and clean up before talking with Charles tomorrow.

[2021-09-13 21:57] ChrispinP commented on #6913
Created a unique generated Mitigation Improvement ID that now allows us to identify mitigation records in Knack.

[2021-09-13 22:02] ChrispinP commented on #7167
Lance added to DTS Portal, complete

[2021-09-13 22:02] #7167 closed

[2021-09-13 22:04] ChrispinP commented on #7165
Andrew added to DTS Portal, complete

[2021-09-13 22:04] #7165 closed

[2021-09-13 22:06] ChrispinP commented on #7166
Ramon added to DTS Portal, complete

[2021-09-13 22:06] #7166 closed

[2021-09-14 00:55] johnclary commented on #6854
The latest:

[2021-09-14 01:11] johnclary opened #7168 "Publish signal studies dataset to socrata"
Publish signal studies data from Data Tracker to [this Socrata dataset](https://data.austintexas.gov/Transportation-and-Mobility/Traffic-and-Pedestrian-Signal-Evaluations-BETA-/fnxd-mtmb) so that they can be kept current for the [new dashboard](#4383).

[2021-09-14 14:18] dianamartin commented on #7126
- Sync'd with Brian, figured out the "Cabinet Communication Type" field he was wanting.
- Added to the search table and search fields
- Switched some field orders around

[2021-09-14 14:18] #7126 closed

[2021-09-14 14:27] dianamartin commented on #7128
- Added to Edit Signal form
- Added to Signal Details page

[2021-09-14 14:34] andrewshensky opened #7169 "Create View Layer of Bike Parking Data"

[2021-09-14 14:36] SubhaShroff commented on #2397
@Nadin-Nader  SCTASK0167083 is submitted with the TEST deployment plan - for a correction that was not allowing to insert TURP Application Fee and ATD surcharge fee.

[2021-09-14 14:37] jaime-mckeown commented on #7148
- Charles called to discuss the email that I sent yesterday. He will verify the SZB this week and reply with answers.
- He is also getting an error when trying to login to Collector that started this week, will be sending a screenshot.

[2021-09-14 14:45] ChrispinP commented on #6848
no further changes at this time, closing as complete

[2021-09-14 14:45] #6848 closed

[2021-09-14 14:59] Sreelatha-BlazeKannan commented on #6842
@Nadin-Nader , @TracyLinder - George pinged me on TEST move of this commit and I tested the changes also; TEST Changes all are working as expected. with all fixes (manual where ever necessary) George provided these two commit numbers for us to use to Promote the changes to PROD in future.

**d653ce539ea9 - TEST version of LaunchIT branch commit #c5eed6cb4880
**ad0fa52179b9 - TEST version of Launch

[2021-09-14 15:29] moorerst commented on #2167
@chiaberry @dianamartin CTM wants to know what day/time you want the Active Directory employee data exported and starting on what date. i.e. every other Sunday @ midnight???

[2021-09-14 15:34] SubhaShroff commented on #6401
@Nadin-Nader  SCTASK0167106 is submitted to do DEV promote - the GL code structure updated and date constraint to insert the fee.

[2021-09-14 15:35] SubhaShroff commented on #6867
@Nadin-Nader  @TracyLinder  PROD Deployment is done.

[2021-09-14 15:47] moorerst opened #7170 "Import floorplan in Robin for West Ave"
Coordinate with Robin support to import floorplan for Information Security Office @ West Ave

- Our sole office location will be at 1104 West Avenue, Austin 78701. This is (weirdly) a house that’s zoned for office use, and was used to house the Municipal Court prosecutors. We took over their lease, but it may still show up as “Muni Court” in directory services.

- The floor plan is attached, but i

[2021-09-14 16:23] Nadin-Nader commented on #6867
email to stakeholders:

Closing card

[2021-09-14 16:23] #6867 closed

[2021-09-14 17:09] #5082 closed

[2021-09-14 17:10] #4694 closed

[2021-09-14 17:10] dianamartin commented on #7128
Messaged Brian

Let me know if this field needs to be visible in other places.

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/a6538613-0f87-4568-be35-1a50815d4425)

[2021-09-14 17:10] #7128 closed

[2021-09-14 17:11] dianamartin commented on #7033
Checked in with Christina on 9/13 and she said she's having an OPALS meeting on Wed 9/15, she'll be able to provide more feedback after that.

[2021-09-14 17:12] patrickm02L commented on #5083
An Epic that never captured issues. Closing out because it seems superfluous.

[2021-09-14 17:12] #5083 closed

[2021-09-14 17:21] patrickm02L commented on #1828
I think the initial idea was interesting. Not sure that it fits the context of VZ anymore. Moving back to Icebox.

[2021-09-14 17:26] jaime-mckeown commented on #7158
Andrew created a View Layer that is publicly accessible. Added to the map and let Andrea know so she can check it out.

[2021-09-14 17:30] patrickm02L commented on #1878
No movement on this for 2 years. Like the idea, but am going to Icebox again.

[2021-09-14 18:06] jaime-mckeown commented on #7149
- Checked the GISDM version against the AGOL version, they are the same. Let him know that the link he provided was correct.
- The intersection in question lies within COA Full Purpose, so the 2nd intersection just to the north with Colton Bluff Springs may be causing issues as it lies within the 2-mile ETJ.

[2021-09-14 18:08] jaime-mckeown opened #7171 "Engineering Service Areas Update - needs adjusting for COA Full Purpose"
Need to adjust the South Area as the COA Full Purpose has changed.

[2021-09-14 18:46] dianamartin commented on #7087
Showed stakeholders at last Sprint Review, 9/10. They were excited for the invoices, but I felt like the structure of the invoices was kind of off. I had originally set it up where the user had to go to the:
- impoundments page and create a new impoundment, then a record rule would automatically create an invoice record
- go through a renewal, go to renewal history and create a transaction after t

[2021-09-14 18:54] moorerst commented on #7105
@dianamartin can you review this slides for the sprint review and provide your feedback. There are a few gaps where I need your details. https://docs.google.com/presentation/d/19gKPNE7zmJrR9zoLceK2HGP1p2YRtYDwYRLvAtsXD60/edit#slide=id.p

[2021-09-14 19:07] moorerst commented on #7170
sent Robin the floorplan to upload into our environment

[2021-09-14 19:41] patrickm02L commented on #5764
Initial steps to data compliance retention policy.

Go through and audit every query in the VZE and every query that drives the datasets in the VZV, and add a WHERE clause condition that makes it impossible for crashes of a certain age to not show up.

[2021-09-14 20:52] jaime-mckeown commented on #7161
- Created new RPP Properties Pro Project and saved to the same directory as listed above.
- There was a problem adding the Edit View to Pro. After talking to Andrew about Views, he said he's creating them opposite of how I was. Looked online and it seems better to have the editable feature layer with the publicly shared the View Layer.
- Reconfigured each layer and updated all Web Maps that had RP

[2021-09-14 20:57] jaime-mckeown commented on #7096
- Andrew and I met with Bryan T. and Dustin P. from Public Works to discuss further. As it turns out, Bryan assumed that ATD was working with HDR. Andrew and I are unaware of any work going on with HDR for Project Connect.
- Bryan is going to do some research to find out exactly who is working with HDR and if their data is more useful to add to GISDM/AGOL instead of continuing to use the data that

[2021-09-14 21:00] jaime-mckeown commented on #7096
Moving to Review/QA until we hear back from Bryan.

[2021-09-14 21:12] jaime-mckeown opened #7172 "Shared Mobility Operations - setup for use in Collector"
Andrea reached out to see if we can set them up for field data collection for the shared mobility operations data.

[2021-09-14 21:17] jaime-mckeown opened #7173 "Pro Migration: 9/8 - 9/21"

[2021-09-14 21:18] jaime-mckeown commented on #7173
Migrating from ArcMap to Pro on 9/23:

- [ ] Sangeeta in TDS

[2021-09-14 21:20] jaime-mckeown opened #7174 "GIS Map Discussion - Fiber Data with AMD"

[2021-09-14 21:53] Sreelatha-BlazeKannan commented on #6844
@Nadin-Nader , @TracyLinder - Please find attached Demo for EX folder for your reference. All AC working as expected. if you have any questions please do let me know.

https://user-images.githubusercontent.com/44907715/133338881-5e03bcc6-d9cb-4f96-9ebb-768db1bc2023.mp4

[2021-09-14 22:00] jaime-mckeown commented on #7171
- Updated layer in Maint
- Ran Geodatapusher update for layer

[2021-09-14 22:06] jaime-mckeown commented on #7171
Update complete.

[2021-09-14 22:06] #7171 closed

[2021-09-14 22:17] chiaberry commented on #7141
@dianamartin Do you know how recently this stopped working?

[2021-09-14 22:20] dianamartin commented on #7141
@chiaberry the users noticed 5 days ago when they put in the ticket. They use it daily, so I think they would've told us earlier if it broke earlier than that.

[2021-09-14 22:34] johnclary commented on #6854
I have removed the old construction page and replaced it with a button that links to the new "Projects" module.

[2021-09-15 13:11] jaime-mckeown commented on #7158
Andrea requested that the related maintenance table be removed, they only need the point data.

[2021-09-15 13:11] #7158 closed

[2021-09-15 13:25] Lpriya-LIT commented on #7130
Status:
Changes have been deployed to Dev, verified and it looks good.
Ready to Deploy to Test

[2021-09-15 13:37] sergiogcx commented on #5847
The script is mostly finished, I have also extended it to keep track of the devices that are reachable and wether or not those devices can be accessed using username and password.

[2021-09-15 13:38] vschandramouli commented on #6255
Updated Acceptance Criteria. Moving to Backlog.

[2021-09-15 14:15] Nadin-Nader commented on #7004
@SubhaShroff reviewed the demo and it looks good. Only thing i would add is in the error message. I think it would be helpful to include something like "...Unit and Object info values should be up to 4 digits not exceeding 9999."
Other than that, it looks good.
One you add that in there, go ahead and send it to CTM for DEV deployment

[2021-09-15 14:21] SubhaShroff commented on #6322
@Nadin-Nader  @TracyLinder  as per the flow you have provided, I tested for Back Office in localhost. And it looks good. I would need to move it to DEV to test the Portal part. Before that, I want to check with the Portal Street Info page for the new work types and do changes in the code accordingly.

[2021-09-15 14:22] SubhaShroff commented on #6401
@Nadin-Nader  @TracyLinder  DEV deployment is done. I need to test. Since yesterday, the DEV BO is not connecting. ONce its up, will test.

[2021-09-15 14:22] Nadin-Nader commented on #6842
## Ready for TEST UAT

[2021-09-15 14:25] Nadin-Nader commented on #2397
This was fixed and is now on TEST awaiting @SubhaShroff UAT before we UAT with Stakeholders for approval to PROD.

**Status:**
Subha is testing on TEST

[2021-09-15 14:26] Nadin-Nader commented on #7130
@Lpriya-LIT lets go ahead and move this to TEST

[2021-09-15 14:28] SubhaShroff commented on #7004
### Status:
I need to do the change in message as per @Nadin-Nader's feedback given above.

[2021-09-15 14:31] Nadin-Nader commented on #7129
**Status:**
Ready for verification before moving to PROD (Developer UAT done on TEST)

[2021-09-15 14:32] SubhaShroff commented on #6562
### Status:
As per @Nadin-Nader, its in scoping.
Otherwise, streetinfo extra fields on Portal are removed(refer above screenshot).

[2021-09-15 14:35] Nadin-Nader commented on #6321
@Sreelatha-BlazeKannan lets get this on PROD

[2021-09-15 14:36] Nadin-Nader commented on #6321
## **Approved for PROD Deployment🎉🙌‼**

[2021-09-15 14:56] SubhaShroff commented on #2397
### Status:
Tested on TEST with Incomplete application with old infos and submitted. TURP Application Fee & ATD Surcharge Fee added.
RW - 12562049.

[2021-09-15 15:15] TracyLinder commented on #7017
Questions on this one:
1. When will development begin?
2. How long will it take?

[2021-09-15 15:21] TracyLinder opened #7175 "Tech Surcharge on TDS Fees"
**Technology Improvement Surcharge**
- Fee Code: New fee that needs to be configured
- Fee Description: ATD Tech Surcharge TDS
- Fee amount: 4% of fees inserted in folder, if fees are in the spreadsheet provided above.
- Fee Insertion Trigger:
-- Inserted along with other fees in SP, SC, PR, ZC, C8 and C folders. (TBD)

[2021-09-15 15:33] patrickm02L commented on #6789
Frank and Xavier and I met Sep 14th to talk about how to approach this problem.

We came to the conclusion that the best approach to identifying which crashes were related to a medical conditions was to create a foreign key lookup table that could join Serious Injuries and Serious Injury Types.

Identifying which ones were medical flags based on the ATD criteria and 30-day time frame could be acco

[2021-09-15 15:44] dianamartin commented on #4737
# Diana's Notes

## Review Request

## Current Workflow & Identify Pain Points
- Receive banner requests (PDF application, scan/email back from customer)
- Had back and forth with the customer (to confirm location is available)
- Manually enter into AMANDA
- Manually enter into Knack - Street Banner Portal (Lauren & Cathy)
- Installation crew uses it for work order/work tickets

**Q: Who are custo

[2021-09-15 15:44] ChrispinP commented on #7144
Bike Parking Applications updated with new image fields, old fields removed, and location moved to the top. Emails and Application Management table also updated, removing those fields. Pending confirmation from Sophia that everything looks good.

[2021-09-15 16:11] andrewshensky opened #7176 "Provide Bike Rack Maintenance and Install Data for August"

[2021-09-15 16:17] andrewshensky commented on #7116
Symbology has been updated in root and view layer. No issues reported in the week following change.

[2021-09-15 16:17] #7116 closed

[2021-09-15 16:19] andrewshensky commented on #7115
Happy with ease of updating features
Will share with others in group to get input and make aware of new app
Will be testing and trying out app

[2021-09-15 16:19] #7115 closed

[2021-09-15 16:21] patrickm02L opened #7177 "[Feature] Implement Fatality Tracking Tool"
At the September Sprint Review meeting, Lewis presented a new feature that would help the Vision Zero team to track and report fatalities in a more comprehensive way.

The hope is that the Fatality Tracking Tool (FTT) would integrate into the VZE and would act as an enhancement to the CR3 data that the currently received.

The goal via @frankhereford notes

The Vision Zero Team provided some guida

[2021-09-15 16:25] patrickm02L opened #7178 "Create UI comps to communicate functionality of the Fatality Tracking Tool"
The VZ team would like to include the Fatality Tracking Tool to the side nav in the Vision Zero Editor with have a sub navigation menu which includes: Tracking, Map, Statistics, and Presentation.

Preliminary designs created by @frankhereford represent how what the Tracking tool as a table, a profile page and map for Fatalities, and analytics page might look. The sub-nav 'Presentation' is still be

[2021-09-15 16:25] andrewshensky commented on #7142
This process was ran successfully for August data.

There was an issue with the street segment change data but was remedied by Dwayne. This created a backlog of data from about 8/20-9/9. All changes that occurred in that window were given a change date of 9/9.

Due to the issue above, I reran through this process with all 9/9 data and processing was successful.

[2021-09-15 16:25] #7142 closed

[2021-09-15 16:27] andrewshensky commented on #7143
Documentation for this process will available through the url below:
https://atd-dts.gitbook.io/atd-geospatial/comprehensive-transportation-network/ctn-street-segment-update

[2021-09-15 16:29] andrewshensky commented on #7169
View layer has been created and shared with Jaime.

This view layer is shared to the public and has editing disabled.

[2021-09-15 16:31] SubhaShroff commented on #6401
@Nadin-Nader  I tested this ticket on DEV Portal.

- GL Code is updated as per the new structure.
- With Portal Submit, Utility Coordination Fee is added along with ATD Surcharge.(Check date as of now DSD Team has set it to 20-JUN-2021). So the fee is adding. George informed that this date will be changed to '01-OCT-2021' in PROD deployment.

![image](https://user-images.githubusercontent.com/5168

[2021-09-15 16:48] jaime-mckeown commented on #7174
- Met with Edgardo, Brian, and Harrell to discuss the Fiber data again
- Edgardo and Brian have both created their own fiber layers, and they want to have only one layer (I think they forgot that I was already working on creating one layer that is merging the AGOL data with the CAD data)
- They will both be providing me with a copy or access to their fiber data so I can incorporate it into the lay

[2021-09-15 16:49] #7174 closed

[2021-09-15 16:51] jaime-mckeown commented on #7148
- Charles called to discuss the items I sent to him via email. He has fixed most, we fixed a couple while on the phone. He just needs to verify the Web-IO, then will let me know.

[2021-09-15 17:02] moorerst opened #7179 "Discovery: Citybase online payment system"
Get understanding of how Citybase online payment system works for Banner's Payments.

Who should we meet with?

[2021-09-15 17:51] moorerst commented on #7170
Robin confirmed Spaces are counted separate from Desk.
You have two unused conference room (space) licenses and 901 unused desk licenses. We do not charge for buildings or new locations for  expansion under the same account, just license count- if you need more than 2 space licenses please let me know how many and I can provide a quote with a prorated rate as we co-term everything to your current

[2021-09-15 18:05] johnclary commented on #6829
@jaime-mckeown do you still need this issue?

[2021-09-15 18:06] ChrispinP commented on #7144
Sophia is happy with changes, removed old fields from object.

complete, closing

[2021-09-15 18:08] johnclary commented on #4955
@jaime-mckeown is this related to updating the CTN? In which case it is a duplicate of work andrew is doing. But I wasn't sure if this was referring specifically to an ASMP layer

[2021-09-15 18:08] patrickm02L opened #7180 "Create Audit Log for each of the Mobility Providers"
User can review all the potential transactions that they want to invoice.

Create a page that shows all the "data points."

[2021-09-15 18:09] TracyLinder commented on #5538
This needs to be a high priority after fee season. FYI @Nadin-Nader

[2021-09-15 18:11] moorerst commented on #7179
@johnclary will make contact and provide introductions

[2021-09-15 18:12] jaime-mckeown commented on #6829
@johnclary This Issue must have gotten lost when I created it. I will add my notes and close it.

[2021-09-15 18:13] jaime-mckeown commented on #6829
Created Pro Help Document in GitBook for department GIS Users:
https://atd-dts.gitbook.io/atd-geospatial/arcgis-pro/working-in-arcgis-pro

[2021-09-15 18:13] #6829 closed

[2021-09-15 18:18] jaime-mckeown commented on #4955
@johnclary I think this was specially referring to the ASMP Street Network, but it's fuzzy now since it was a while ago. It would probably go along with the work Andrew is currently doing.

[2021-09-15 18:19] moorerst commented on #6843
closing issue Email sent to employees with instructions

[2021-09-15 18:19] #6843 closed

[2021-09-15 18:26] johnclary commented on #6746
@ChrispinP can confirm if this is for the TDS workgroup list? If so, you'll need the names and email addresses of the people who will be in this workgroup?

[2021-09-15 18:30] johnclary commented on #7144
@ChrispinP please convert the signature to the ADA-style checkbox.

[2021-09-15 18:40] johnclary commented on #6626
@dianamartin take a look and feel free to schedule time w/ me

[2021-09-15 19:03] dianamartin opened #7181 "Operations: Set-up DTS Service Rotation for next few weeks - 9 weeks (9/15)"
My calendar item reminded me on 9/3

[2021-09-15 19:17] alan-deanda commented on #6286
@johnclary the feature service for the component points and lines can be found [here](https://services.arcgis.com/0L95CJ0VTaxqcmED/arcgis/rest/services/moped_components/FeatureServer).
I'll post another update once the viewer is up and running.

[2021-09-15 19:18] dianamartin commented on #7181
Updated DTS Service Desk Rotation spreadsheet for easier calendar entry for rotation schedule. Schedule it up to date until Jan 14th 2022.

[2021-09-15 19:18] #7181 closed

[2021-09-15 19:21] dianamartin commented on #6626
Scheduled time on 9/23

[2021-09-15 19:22] andrewshensky opened #7182 "Identify CTN Field Usage"
This will help identify which fields are not being maintained and should be considered for removal

[2021-09-15 19:31] jaime-mckeown commented on #7172
- [ ] Parking Boxes and Corrals: create an Edit View for group to edit
- [ ] Parking Boxes and Corrals: add attachments so they can attach photos to records
- [ ] MM Regulations - add new field call "No_Lock_Near_Water". This will be a Yes/No field like the other fields already in this layer. Setup Domains if not already on fields.
- [ ] MM Regulations: Publish as own feature layer, then create an

[2021-09-15 19:33] jaime-mckeown opened #7183 "Fiber Optic Cable Data Editing: 9/8 - 9/21"

[2021-09-15 19:51] sergiogcx commented on #5847
The script has found that we can't ping about 200 devices, still waiting on the telnet access test but so far it looks like we can login to most of them.

![2021-09-15_15-48-55.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/1621bfbc-a7f9-4890-ac41-0548a1ed0cee)

[2021-09-15 19:54] patrickm02L opened #7184 "Implement a VZ Dev Pipeline"
Create a workflow environment that is comparable to the Moped pipeline.

[2021-09-15 20:04] dianamartin commented on #7156
# Diana's Notes
-  ROW Portal Demo
- TCP Details
- Submissions Table (several)
  - Details icon (Submission Details)
  - Details column will be on the left
- Submission Details
  - Add Row - rename "Add Content"
Q: Add Comment with Attachment
- Makes sense they're together

DEMO
- Creates test TCP record
- Submission 1 is created
- Submission Details
  - Adding Document
  - Adding Mark-up
Currentl

[2021-09-15 20:21] ChrispinP commented on #3867
Made adjustments to feature and enabled for testing according to #7156

Testing will be Sept 20th - 24th and Go Live will be Sept 27th

[2021-09-15 20:26] johnclary commented on #7069
Tilly is working on validating that the input is a valid URL.

[2021-09-15 20:32] johnclary commented on #6722
@johnclary @mateoclarke read ken's mateo

[2021-09-15 20:33] ChrispinP commented on #6746
Sent message to Sangeeta gathering more information on this request.

[2021-09-15 20:35] johnclary opened #7185 "Support OPO Form infrastructure rebuild"
CTM is sunsetting the DTI AWS account at the end of October, so this involves moving the whole site to their enterprise infrastructure.

[2021-09-15 20:42] johnclary commented on #6995
@amenity is this good to go?

[2021-09-15 20:42] johnclary commented on #7124
@amenity is this good to go?

[2021-09-15 20:51] johnclary commented on #4799
We need a design spec for the advanced search state (how does one exit advanced search?)

[2021-09-15 21:45] dianamartin commented on #7087
Sync'd with stakeholders on 9/15 and they seemed happy with the new invoice approach. Told them I'm still working on the following:

- 30 day due date, move to renewal due date for License and Permit
- Flat fee $1500 for license renewal - change "Amount Paid"

[2021-09-15 21:45] johnclary commented on #6286
awesome—thanks!

[2021-09-15 21:54] jaime-mckeown commented on #7183
- [ ] Finishing add CAD GIS data to AGOL Fiber Layer

[2021-09-15 22:58] amenity commented on #7124
@johnclary @sergiogcx - good to go now. We can leave off the "Timeline notes" filter until we implent #6409

[2021-09-16 13:55] xavierapostol commented on #6789
Some suggested edits in []

[2021-09-16 13:58] Sreelatha-BlazeKannan commented on #6321
@Nadin-Nader , @TracyLinder - As per PROD approval, #6321 PROD Commit Deployment Plan sent on 09/16/2021.
Please create task id for the below commit Id’s –
2132d4580c6c
84eb2e0c40b4

[2021-09-16 14:19] SubhaShroff commented on #7004
@Nadin-Nader  - SCTASK0167597 is submitted for DEV deployment.

[2021-09-16 14:47] dianamartin opened #7186 "Add "Housing and Planning" choice on "Department Names" to Sign Fabrication Retirement Form"
Kenny S.
SMB

Emailed

Stakeholder email

[2021-09-16 14:49] dianamartin commented on #7186
I added "Housing and Planning" under "Department Names" on `work_order_sign_fabrication` object.

Emailed user

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/25546d03-91c0-458b-90bb-843467a26c45)

User replied

[2021-09-16 14:49] #7186 closed

[2021-09-16 14:58] dianamartin commented on #7105
# Diana's Notes

- We discussed the discovery meetings we were in and the challenges we're facing with the 311 integration and GIS asset migration.
- We though started talking more about Service Requests rather than Work Orders. We thought perhaps pivoting the project to create a new smaller project to have Service Requests for Parking Meters could ease them into having better tracking and an inte

[2021-09-16 15:10] mateoclarke opened #7187 "VZ Data Quality check"
from XA on 9/16 am:

[2021-09-16 15:21] dianamartin opened #7188 "Update "Journal Voucher" info in AMD Data Tracker - Warehouse Inventory- Sept 2021"
- [x] Spreadsheet emailed from Van month of: `Sept  21 & 22`
- [x] Number of records being updated: `621`
- [x] Format spreadsheet [(Review instructions)](https://atd-dts.gitbook.io/atd-knack-operations/warehouse-inventory-updating-journal-vouchers-jv-information)
- [x] Spot check Transaction IDs, no JV information before import
- `9953`
- `11577`
- `11880`
- [x] Import records
- [ ] Spot check Tr

[2021-09-16 16:11] TracyLinder commented on #7162
Question for Paloma: Will our partner departments pay permit extension fees?

[2021-09-16 16:19] ChrispinP commented on #6746
Confirmed with Sangeeta it is for Vision Teams in TDS. Updated Vision Team to now include Project Connect & Other.
![image](https://user-images.githubusercontent.com/67915167/133648486-0240551f-8cf5-46a6-a031-7e969b4a331e.png)

complete

[2021-09-16 16:19] #6746 closed

[2021-09-16 16:39] andrewshensky opened #7189 "Add Field to Bike Parking Data ID If Feature is Serviceable, Add Halo for Non-Serviceable"
Field crews need way to identify racks that have been mapped but are not serviceable. They have requested that symbology highlight non-serviceable feature (red halo around existing symbology).

[2021-09-16 16:41] moorerst opened #7190 "Add ISO users to Robin"
The SCIM provisioning requires providing CTM a group to provision

- [ ] Asked Scott to work with CTM to set up the Information Security Office DL

Hi Scott, we are adding another group to pilot Robin that is not a part of ATD Employees. The Information Security Office team has a distribution list called Information Security Office DL which contains a list of all of their employees who will need s

[2021-09-16 16:43] andrewshensky opened #7191 "Add Created/Edited By/Date Fields to Attribute Table in Bike Parking Viewer"
This is requested so that monthly data pulls will include data on who collected/edited features. They would also like to be able to view this information in the viewer attribute table to help with QC.

[2021-09-16 16:53] ChrispinP commented on #6621
Data Tracker cleanup almost complete, still need to cleanup users. Sent an email to confirm no TCP users still need access to Data Tracker.

[2021-09-16 16:55] ChrispinP commented on #7144
Updated form signatures to now be electronic with a confirmation checkbox. Removed signature from management table. Checking to see if there is a Spanish version of the ROW image to add.

[2021-09-16 16:58] andrewshensky commented on #7176
Data has been provided

[2021-09-16 16:58] #7176 closed

[2021-09-16 17:02] andrewshensky opened #7192 "Update wording of Question in Bike Parking data"
Type of bolt question in maintenance table needs to be inclusive of nuts and bolts to avoid confusion

[2021-09-16 17:04] andrewshensky commented on #6754
New issues have been created to track feedback
- update field wording #7192
- create new field and update symbology #7191
- Add created/edited by and date to viewer attribute table #7189

[2021-09-16 17:04] #6754 closed

[2021-09-16 17:15] dianamartin commented on #7188
Synced with Van on 9/16. Clarified the transaction IDs are unique while the work order IDs are not. She's looking into the transactions that can be completed for their "JV Status".

[2021-09-16 17:29] SubhaShroff commented on #6322
@Nadin-Nader  SCTASK0167673 - is submitted for DEV Deployment.

[2021-09-16 17:51] atdservicebot opened #7193 "[URGENT] Need help to create a new AMANDA account. THANK YOU"
AMANDA

Need help to create a new AMANDA account.

THANK YOU

Urgently — Today or tomorrow

Nick M.

Request ID: DTS21-102645