[2021-05-27 16:02] sergiogcx commented on #6233
This is the query I've been using to find the foreign keys:

[code]

[2021-05-27 16:05] #6156 closed

[2021-05-27 16:06] jaime-mckeown opened #6239 "OSE Impact Zones GIS Data"
Will be working with OSE to create Impact Zones for all Events, need to create a process.

[2021-05-27 16:28] SurbhiBakshi opened #6240 "Connect Power BI to Amanda data"

[2021-05-27 16:30] dianamartin commented on #6170
# Diana's Notes
Meeting with stakeholders 5/27
- Met with Parking Enforcement stakeholders to discuss their spreadsheet they submitted to us
- Clarified what reports were needed/not needed, which to expand/not expand
- Convert activity type `Towed - ATD` to `# of Tows`

## Report Changes
### Call Log Reports
| REPORT NAME | ACTION |
| -- | -- |
| Daily Call Count (Current Week) - BAR CHART | No Ch

[2021-05-27 16:33] SurbhiBakshi commented on #6240
### Notes -

1. Gita and Amita are working on connecting to Amanda via Power BI.
2. Instructions are similar to the approach I had used earlier this year.
3. The missing part is the Gateway that will enable scheduled refreshes on report.
4. Per David G, a ticket to CTM might be the way to go.
5. I have a ticket to CTM for connecting to MicroStrategy's gateway but that might not be viable if there

[2021-05-27 16:40] dianamartin opened #6241 "Update links in "help.austinmobility.io" page"
- "Data and Technology button" - goes to weird page on DTS Portal home page, should it go to the service request form directly?
@amenity thoughts?
- "Public Information Office button" redirects to a different form: [New PIO form](https://austinmobility.typeform.com/to/uWrgC3)
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b6291877-df75-4663-8983-e10e07d020dc)

[2021-05-27 16:57] jaime-mckeown commented on #6225
- Imported and projected layers to SP
- Merged into one point, line, and poly layer
- Published to AGOL as MetroRapid Expansion feature layer
- Added to TDSD Web Map / App and configured in both
- Let TDSD know that the new layers have been added
- Asked if I should share with the department or COA.

[2021-05-27 17:37] jaime-mckeown commented on #6141
AGOL Workshop released in TRAIN, let TED know so hopefully we can get some of them to take this class.

[2021-05-27 17:43] jaime-mckeown commented on #6155
Checked the Web App, still not updated.

[2021-05-27 17:49] jaime-mckeown commented on #6214
Submit request for the following users to attend the Intro to AGOL Workshop on 8/19:
- Sean M in TED

[2021-05-27 18:18] ChrispinP commented on #6189
New Mitigations page mockup is ready
![image](https://user-images.githubusercontent.com/67915167/119876354-6b339000-beed-11eb-8e12-aff08208c6a8.png)
Primary project location added. Updated Navigation

![image](https://user-images.githubusercontent.com/67915167/119876477-8c947c00-beed-11eb-9ecb-1f960b352e16.png)
Records that need to be updated are highlighted in yellow. We may need to provide more

[2021-05-27 18:23] dianamartin opened #6242 "IT Support: Multiple users unable to access TLC Request form (HR app), account setting issues."
### 1st User
Dan H.
SDD

Emailed 5/26

### 2nd User
Tilly W.
DTS
Slacked

[2021-05-27 18:23] dianamartin commented on #6242
# User 1
- I emailed Nathan and Linda

Nathan, Linda are you able to confirm whether or not Dan has an employee record in there? If not, add one? If either of you are unable to I can add him in the system.

Nate

Linda replied 5/27

Diana

Let us know if your able log in today.

Dan

Diana

Dan

[2021-05-27 18:24] dianamartin commented on #6242
# User 2
I replied to Tilly

 Tilly

Diana

Tilly

[2021-05-27 18:30] dianamartin commented on #6242
Both users successful in logging in

[2021-05-27 18:30] #6242 closed

[2021-05-27 18:36] ChrispinP commented on #6174
Yea, before the update, email was only stored on the Customer object so for the older applications the Customer ID can be used to reference the customers email. Cleaning up this customer data is an issue we have in the backlog #4356

RPP Staff can also edit an application and update the emails as well.

[2021-05-27 18:48] moorerst commented on #6174
That's a large chunk of residents with no email address so the list is not as useful. How would they edit the application to update the email address. I have some time I could work on that to make this list more useful.

[2021-05-27 19:01] atdservicebot opened #6243 "[URGENT] PLease add these vehicles to Tracker Vehicle ID Vehicle Name Vehicle Status Vehicle Display Name Bu..."
Other / Not Sure

PLease add these vehicles to Tracker

Vehicle ID	Vehicle Name	Vehicle Status	Vehicle Display Name	Business Unit	Vehicle Model	Created By	Created Date
20G394	BUCKET TRUCK	Active		arterial management	RAM
20G395	BUCKET TRUCK	Active		arterial management	RAM
20G860	BUCKET TRUCK	Active		arterial management	RAM

Urgently — Today or tomorrow

because Im awesome!!
at least thats what I ke

[2021-05-27 19:04] SurbhiBakshi commented on #4732
Continuing my little novella here -

Email from Knack

[2021-05-27 19:05] SurbhiBakshi commented on #4732
Email to knack -
hi Jessie,

I had set the settings for that Equation to Numeric before, but I think Norma from your team advised me to change it to Date, to make the processing faster.

I reset the field to Numeric, but still see the Date Work Started field in the work_orders_markings object (object_140 - field_3915) populated for all the related records.
I also see some 01/19/1970 values in the

[2021-05-27 19:08] dianamartin commented on #6234
Messaged user

- included the 3 PDF documents
- provided the sign in URL link

Chris

[2021-05-27 19:08] #6234 closed

[2021-05-27 19:10] SurbhiBakshi commented on #4732
Email to Knack -
Hi Jessie,
I should add to clarify that I am using fields
3915 and 3955 to read 3925 and 3926. I might not have needed them if the original field in the grandchild object had been a Date format field, but since that is a Number field, I need to translate the Number into a Date.

Thanks for your help in resolving this issue, appreciate it!

[2021-05-27 19:21] ChrispinP commented on #6174
It will take some time but the easiest solution would be for me to update all application records with customer information that is missing and then re-export again. Would need #4356 pulled on deck and set to high priority.

[2021-05-27 19:29] moorerst commented on #6174
Done. Thank you!

[2021-05-27 19:33] tillyw commented on #4333
This was closed by [Creates project milestone table to add/edit milestones #302](https://github.com/cityofaustin/atd-moped/pull/302)

[2021-05-27 19:33] #4333 closed

[2021-05-27 19:35] amenity commented on #6241
Thanks, @dianamartin ... I wonder about this page. Shouldn't this be on Sharepoint? Trying to remember who requested it...

[2021-05-27 19:38] dianamartin commented on #6243
- [x] Added the 3 new vehicles requested

Send message

Billy

[2021-05-27 19:38] #6243 closed

[2021-05-27 19:40] amenity commented on #6241
I know it [_looks_ like I did](https://github.com/cityofaustin/atd-data-tech/issues/1326), but I am 99% certain that the request actually came from PIO or Finance and I was a terrible PM and didn't push back.

[2021-05-27 19:43] sergiogcx commented on #6197
@amenity As an update for this issue, @tillyw deleted the users with the exception of a couple few due to some Foreign Key constraints. It was late in the day, so I went ahead and carried it to the finish line. After removing the users from the DB, I also checked they were deleted from AWS, in both staging and development, but that only took 5 minutes.

Let @tillyw know if there is anything else t

[2021-05-27 19:46] dianamartin commented on #6241
@amenity I know that Chrispin made an escalation matrix on SharePoint. I didn't know if we were going to use the help.austinmobility.io page or not. That's the one you're talking about, right?

[2021-05-27 20:20] johnclary commented on #6103
@TracyLinder plz make this a `Project`

[2021-05-27 20:58] #6231 closed

[2021-05-27 21:35] jaime-mckeown commented on #6068
Sent Adrien an email to see how the update is going since it's been 2 weeks.

[2021-05-27 21:38] TracyLinder commented on #6104
### Notes

- Paloma used E-combs to give us an overview of ROW's FY22 fee updates

[2021-05-27 21:38] #6104 closed

[2021-05-27 21:39] TracyLinder opened #6244 "Create ROW FY22 Fee Updates Documentation"
Create a document that will allow DTS, ROW, Finance, and Executive Management to:
1. View all FY22 fee updates, line by line
2. Document weekly meeting notes and status reports.
_Deadline: Friday June 4_
- The document is [here](https://docs.google.com/spreadsheets/d/1sKC0Mx-O5tWAWhC2yMWeE15fAn5341hR7zlbFNAGuaM/edit?usp=sharing).

----
![Screen Shot 2021-05-27 at 4.44.01 PM.png](https://images.zen

[2021-05-27 21:50] Nadin-Nader commented on #6216
@TracyLinder Had the meeting with Vish and Subha this morning. We decided that she would start looking into the Folders with the Web Acceptance process first. Since the users usually use the web acceptance process for everything, we want to see what may need to be done to modify it. She will then move on to the others. Vish is going to supply her with the process names.
She will start the estimate

[2021-05-27 21:50] TracyLinder commented on #538
### Update
We will no longer be taking a DTS project approach for this work. We have closed this project with the Case Management Governing Board. Moving forward, the deliverables will be worked as part of our ongoing [ATD-AMANDA](https://github.com/cityofaustin/atd-data-tech/issues/4790) software development program.

[2021-05-27 22:00] #422 closed

[2021-05-27 22:02] TracyLinder commented on #4604
### Update

This project is moving to the backlog due to competing resources and priorities.

[2021-05-27 22:07] johnclary opened #6245 "[Enhancement]: Nest user avatar within sidebar"
- Nest user avatar at top of sidebar and hyperlink it to the account page. Include the user name and a separator below that nav item.
- Remove "Account" navbar item

As part of this work we should refactor our `Avatar` code to be consistent with how Avatar's are constructed across the app. E.g., the Project Activity Log and the Profile page.

<img width="1440" alt="119903178-eefd7480-bf0d-11eb-898

[2021-05-27 22:10] dianamartin opened #6246 "Go Live: Change email list - Sign Fabrication"
- [x] Change email to submission to Sign Shop
- [ ] Change email for Invoice - default to Crystal

[2021-05-27 22:14] Nadin-Nader commented on #2397
@SubhaShroff Looks good on Dev. Lets move forward to TEST and have the Stakeholders UAT in TEST.

[2021-05-27 22:20] dianamartin commented on #6230
Checked the emails and the "View Request Details" link, the URL was changed and the emails weren't updated!
- [x] Corrected: `NEW! COA Internal | Sign Fabrication Request {ATD_WORK_ORDER_ID} has been submitted` email
- [x] Corrected: `NEW! COA Retirement| Sign Fabrication Request {ATD_WORK_ORDER_ID} has been submitted` email

[2021-05-27 22:30] dianamartin commented on #6230
- Submitted new COA Retirement sign request
- Link worked perfectly!

[2021-05-27 22:30] #6230 closed

[2021-05-27 22:35] Nadin-Nader commented on #6021
@SubhaShroff i was only able to look at a few of them due to the system kicking me off but it looks good. I cannot test any further as my DEV login is corrupt now. Lets go ahead and move this to TEST and then have the stakeholders UAT it.

[2021-05-27 22:37] dianamartin commented on #6229
Was able to add
- "# of Technicians" - `COUNT_TECHNICIANS`
- "Total Hours Worked" - `SUM_TECH_HOURS`

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/a4275c15-fc84-4bdd-b427-5817dcf02f62)

[2021-05-27 22:42] dianamartin commented on #6229
Messaged Christina

- provided screen shot
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/923bc1e6-72de-4f4d-89ce-ca52766f98b5)

[2021-05-27 22:42] #6229 closed

[2021-05-27 22:47] dianamartin commented on #6235
Logged in, am seeing the "Attachments table - Non Editable" in the "Closed" status

[2021-05-27 23:52] sergiogcx commented on #6150
There is a PR:
https://github.com/cityofaustin/atd-moped/pull/316

[2021-05-28 00:08] amenity commented on #6236
Emailed Kenny:

[2021-05-28 00:09] #6197 closed

[2021-05-28 00:10] amenity commented on #6197
Thank you, @tillyw @sergiogcx ! 🙏 🕺🏻 💃🏻

[2021-05-28 12:57] andrewshensky commented on #6145
5/26 - Maps delivered to Lauren for her review.

[2021-05-28 14:17] SurbhiBakshi opened #6247 "Document Knack to Power BI process"
[Document](https://docs.google.com/document/d/1yJvEGIV5zvb6NjqW8x0rZEPXng5OUW1p64KqZmoDkiE/edit?usp=sharing)

[2021-05-28 14:29] andrewshensky commented on #5985
5/28 - Bike rack install date filter now linked to bar chart per request by bike parking folks

[2021-05-28 14:34] Nadin-Nader commented on #3640
Spoke to Maria and we agreed to open a new card for the Electrical fee to be taken out. We are leaving the ATD Surcharge fee.

[2021-05-28 14:46] SubhaShroff commented on #6021
@Nadin-Nader  Submitted TEST deployment request - **SCTASK0140787**  for (commits-2b79a93b8a8c, 4e228fc303cc, 0ee04a60133e).

[2021-05-28 14:51] SubhaShroff commented on #5578
@Nadin-Nader  @TracyLinder  @vschandramouli Here is the demo output from crystal report tool as per the latest AC.

- Orientation is changed to landscape to accommodate all the columns of detailed report.
- SCP summary report is moved to top of the report and the CIP summary report is moved to third place.
- I am waiting to hear from Tracy about Project Manager display in case there are more than

[2021-05-28 15:17] jaime-mckeown opened #6248 "AGOL Parking Dashboard Ownership Transfer for Editing - Francesco"
Francesco requested editing rights to the Parking Dashboard Content.

[2021-05-28 16:38] Nadin-Nader commented on #3640
**Status:**
This has been sent to the DevOps CM Team to deploy to PROD under task # **SCTASK0140802**

[2021-05-28 17:29] atdservicebot opened #6249 "Rescind AMANDA ROW permit access for AE"
**Customer:** jonathan w. & copy Paloma

Other / Not Sure

Austin Energy folks (Lucas Haydon) are attempting to make changes on ROW permits in AMANDA including work taking place and dates when they should not have that access. I spoke with Paloma Amayo-Ryan who has said that this has been an issue in the past but appears to be increasing again.

Soon — This week

As soon as possible. This is causi

[2021-05-28 17:41] sergiogcx commented on #6228
Ah, yes there is a PR, test using moped-test:
https://github.com/cityofaustin/atd-moped/pull/330

[2021-05-28 17:47] johnclary opened #6250 "Project Components: Extend "Map Project" step to include component attributes"
Extend the "Map Project" step of the new project workflow to include a form for defining one (for now—only one) project component.

Form fields:
- **Type**: selectable `component_name` value from `moped_components` table. **Required**.
- **Subtype**: selectable `component_subtype` value from the `moped_components` table. **Optional**.
- **Subcomponents**: multi-selectable values from the `moped_su

[2021-05-28 17:49] johnclary opened #6251 "Project Components: Create Map for tab to view components + map"
Add a "Map" tab to the Project View. Tab includes:
- A table that displays `moped_proj_components` records related to the project.
- The project summary map.

<img width="1395" alt="components-home" src="https://user-images.githubusercontent.com/14793120/120045642-1a4b9680-bfd6-11eb-8182-321e10826c1b.png">

Clicking on a table row should highlight the row in light blue and filter the project summa

[2021-05-28 18:31] Nadin-Nader opened #6252 "BUG: After Creating a child RW-Parking from an SE folder, The system inserts an unwanted Electrical Permit fee"
When the system to auto-creates a child parking permit folder, when the folder info 'Parking Reservations' value is 'Yes' on an SE folder, the system is inserting an unwanted Electrical Permit fee (50010). See #3640 for more history.

**Stakeholder:** Maria A
**DTS Manager:** Nate

**Acceptance Criteria:**
-  This only applies to the newly created child RW-Parking Folder from card #3640
-  Electri

[2021-05-28 18:40] Nadin-Nader commented on #6021
##  **Status:**

Waiting on CM Team to deploy to TEST

[2021-05-28 18:42] amenity opened #6253 "Implement style refinements to map hover text"
- [ ] Street-hover label text should be `.MuiButton-containedPrimary` if Material UI styles are accessible from Mapbox...
   - Roboto
   - Color = white
   - Background color: [`primary` `main` class](https://github.com/cityofaustin/atd-moped/blob/7ed1f193349cd452f319ae916f9e9ce8f55a7e97/moped-editor/src/theme/index.js) `#1e88e5` if you must hardcode it
   - `box-shadow: 0 0 1px 0 rgb(0 0 0 / 31%)

[2021-05-28 18:44] Nadin-Nader commented on #5576
##  **Status:**

This card is being and the functions are being reviewed by Sree before the actual creation of the report.

[2021-05-28 18:49] Nadin-Nader commented on #4071
UAT in weekly meeting with StakeHolders

[2021-05-28 18:59] TracyLinder opened #6254 "Cleanup Folder 'Run Procedure' Menus (Fee Tab) (SR) (Deploying to DEV)"
### Refer to #8687 where the work was recorded for this request.

-----
**Stakeholders:** Paloma, Kim, Izzy

**Acceptance Criteria**

-The acceptance criteria provided below applies for RW, DS and EX Folders.
-The fees mentioned below need to be removed from the 'Insert and Run Procedure' menu option in the fee tab of the folders mentioned.

RW -
License Agreement Fees
Film Fees
Investigation Fees

[2021-05-28 19:13] Nadin-Nader commented on #6021
##  **Approved for PROD Deployment 🙌🎉🙌🎉**

[2021-05-28 19:17] TracyLinder commented on #6254
### Changes based on the fee schedule

**Film Fees**
- Remove from RW folder

![Screen Shot 2021-05-28 at 2.08.05 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/200b0b43-db40-4675-96cc-c64e3d5506da)

**Investigation Fees**
- Remove from RW, EX, DS, ECV
![Screen Shot 2021-05-28 at 2.06.38 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/3594d8f7-8785-447f

[2021-05-28 19:19] Nadin-Nader commented on #4071
Need to ReUAT  due to webpage loading issues

[2021-05-28 19:28] Nadin-Nader commented on #1802
Take to AOB or find documentation saying its approved by AOB

[2021-05-28 19:39] Nadin-Nader commented on #4255
Need to research and find out what causing the difference in results

[2021-05-28 19:39] TracyLinder opened #6255 "Change the way Activate Upon Payment Features from ROW Permit Folders behave (On PROD🎉🎉)"
### ROW is considering removing the Activate Upon Payment features from their permit folders.

**Acceptance Criteria**

- When an applicant makes a payment on DS, EX and RW folders through the portal and folder status is changed to 'Active', system should automatically update 'Activate Upon Payment' Info value (75001) to 'No'.

**Batch Job(s):**
System must check everyday as part of a batch job to

[2021-05-28 19:51] TracyLinder commented on #6254
### Misc. Updates
_We need to review this w/ stakeholders._

**RW**
![Screen Shot 2021-05-28 at 2.45.26 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/220e10aa-510b-4637-b3cf-574c3116e1ef)
![Screen Shot 2021-05-28 at 2.45.55 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/14343258-7a86-4691-8e9c-74cfed022dff)
![Screen Shot 2021-05-28 at 2.46.10 PM.png](

[2021-05-28 19:58] Nadin-Nader commented on #4071
##  **Status:**

TEST UAT Passed.

## **APPROVED for PROD Deployment**

[2021-05-28 20:29] SubhaShroff commented on #4071
@Nadin-Nader  **SCTASK0140829** is submitted for PROD Deployment.

[2021-05-28 20:38] amenity opened #6256 "Implement design refinements to project page tab bar"
1) Remove the CSS overrides to background color and font color in project page tab bar.
![Screen Shot 2021-07-19 at 4 35 15 PM](https://user-images.githubusercontent.com/1463708/126382625-79c09e01-6847-4a87-a321-8c232995b313.png)
2) Change the selected tab underline to our [Moped primary light color](https://moped.austinmobility.io/moped/dev/devias).
![Screen Shot 2021-07-20 at 2 21 53 PM](https:/

[2021-05-28 20:52] SubhaShroff commented on #4469
@Nadin-Nader **SCTASK0140831** is submitted for PROD deployment.

[2021-05-28 20:52] SubhaShroff commented on #4469
@Nadin-Nader **SCTASK0140831** is submitted for PROD deployment.

[2021-05-28 21:02] johnclary commented on #6250
cc @amenity

[2021-05-28 21:04] SubhaShroff commented on #6021
@Nadin-Nader I submitted PROD deployment request - **SCTASK0140834**

[2021-05-28 21:04] ChrispinP commented on #4356
Unable to Migrate the Name connection field values from the customer object into the Applicant Name field for older applications. Was able to successfully update Applicant Type, Phone, Email, & No Email/Phone values.

Applications missing an Applicant Name will need to be updated manually. Should we create a new Backlog issue for this or should the onus be on RPP staff to update these older applic

[2021-05-28 21:08] ChrispinP commented on #6174
Finished updating records and sent out a new email with the updated excel file.

Pending any further action

[2021-05-28 21:11] #5799 closed

[2021-05-28 21:12] #6150 closed

[2021-05-28 21:16] #6227 closed

[2021-05-28 21:22] TracyLinder commented on #6244
This is ready to review with the project team.

[2021-05-28 21:24] SubhaShroff commented on #2397
@Nadin-Nader  I submitted a request **SCTASK0140837** (commit-03831069c704) to do TEST deployment.

[2021-05-28 22:05] amenity commented on #5228
Ooh, @chiaberry is on this #6149 ...

[2021-05-28 22:05] #5228 closed

[2021-05-28 22:10] johnclary commented on #6251
To be determined:
- how to "delete" a component
- how to view component details without entering edit mode.

[2021-05-31 16:28] ChrispinP commented on #5965
complete, flex notes removed

[2021-05-31 16:28] #5965 closed

[2021-05-31 16:30] ChrispinP opened #6257 "Delete "csr_flex_notes" from AMD Data Tracker - Jul 2021"
Received automated reminder to delete flex notes in AMD Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd/records/objects/object_95

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 05/01/21

Total Records: 29148
To Delete: 9159
New Total: 19989

[2021-05-31 16:37] ChrispinP commented on #5966
complete, removed flex notes

[2021-05-31 16:37] #5966 closed

[2021-05-31 16:44] ChrispinP opened #6258 "Delete "csr_flex_notes" from Signs & Markings - Jul 2021"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/signs-markings/records/objects/object_172

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 05/01/21

Total Records: `14,771`
To Delete: `4,253`
New Total: `10,518`

[2021-06-01 04:50] amenity opened #6259 "[Bug] Address field in map is flickering"
The geocoder drop-down is flickering after a user enters a search term and then pans the map without clearing the search. Looks like it's resubmitting her search every time she pans the map?

See it in our usability test with Laura D. [here](https://web.microsoftstream.com/video/bd48ccfd-d9dd-4657-a1cc-fe3f71a20cee?st=1659) at 29:00. It stops when she deletes what she has typed in.

She's using Ch

[2021-06-01 05:16] amenity commented on #6259
@sergiogcx This is very very minor, good to sit in the backlog. But maybe a good puzzle for your get-to-know-Mapbox time. 😎

[2021-06-01 05:44] amenity opened #6260 "[Bug] Moped Production won't fully load (or reloads repeatedly?) when Amenity logs in"
When I sign in to Production with SSO, the "Projects" page reloads itself over and over.
https://user-images.githubusercontent.com/1463708/120271516-18e9ca80-c271-11eb-986f-df8f820769bd.mov

- In Firefox I can see a flash of "Network error when attempting to fetch resource".
- I am able to log in with Test Editor without issues.

When I sign into Staging, using Test _Editor_ (the Test Admin creden

[2021-06-01 07:14] amenity commented on #6117
Added this info to #3678 ...

[2021-06-01 07:14] #6117 closed

[2021-06-01 07:20] amenity commented on #3678
Teams message to Chris M.

[2021-06-01 07:49] amenity commented on #6250
Looks so good @johnclary — thank you.

We've been sticking to "Outline" MUI fields. It's not a passionate preference, so I'm fine with filled if you're very fond. I think it might look nice a very transparent version of our primary color rather than grey. Whichever way we go, I think I'd like to keep them consistent. ⬜   ⬜.  ⬜.   ⬜.  ⬜

[2021-06-01 09:12] chiaberry commented on #6260
This looks like what happens to me on moped-test. Were you able to log out? I have tried to logout from test, but I think the page reloads too quickly for it to go through. I've only tried it on Chrome.
![2021-06-01 04 05 06](https://user-images.githubusercontent.com/12474808/120298286-93294780-c28f-11eb-8e09-105f5fd52ccb.gif)

[2021-06-01 13:51] SubhaShroff commented on #6216
@TracyLinder @Nadin-Nader  @vschandramouli
As per the Vish's processes' list, will take 3-4 days overall to come up with the actions in each WAA & Intake/review process.

[2021-06-01 14:39] dianamartin commented on #6054
6/1/21
Testing in TEST Environment
- Created new MMC Issue
- `Asset Type` form - taking forever to load
- Have to manually refresh page
- When page is refreshed, New "Identify Activity" has been added to details

[2021-06-01 14:47] SubhaShroff commented on #4469
@Nadin-Nader  @TracyLinder  PROD deployment is done for this ticket.

[2021-06-01 14:49] SubhaShroff commented on #6021
@Nadin-Nader  There is an issue about pushing this to PROD as per Martin. I will try to get in touch with PIPS team in LIT and see how we can handle this.
![image](https://user-images.githubusercontent.com/51680715/120343727-91c34380-c2be-11eb-9e30-dd0ffd066983.png)

[2021-06-01 14:51] SubhaShroff commented on #2397
TEST deployment is done, I need to test it yet.

[2021-06-01 15:31] moorerst commented on #6174
@ChrispinP thank you for your efforts on this. Closing issue.

[2021-06-01 15:31] #6174 closed

[2021-06-01 15:31] jaime-mckeown opened #6261 "AMANDA Street Closures: 6/1/21"

[2021-06-01 15:32] jaime-mckeown commented on #6261
Updated:
- AMANDA Street Closures data and Web Maps
- Active Parking Permits data

[2021-06-01 15:33] #6261 closed

[2021-06-01 15:45] dianamartin commented on #6054
Also configured "Assign Asset (API)" form
- [x] added `dsdd` field
- [x] added Display Rules
- ASSET TYPE does not contain DSDD - Hide `dsdd`
- [x] added Record Rules
- When `dsdd` is not blank - ISSUE LOCATION NAME to a connected dsdd> Current Location
- MODIFIED DATE - Current Date
- MODIFIED BY - logged in account

[2021-06-01 15:47] dianamartin commented on #6054
Messaged MMC Leads (Allyson/Lance)

[2021-06-01 15:49] sergiogcx commented on #6260
It appears user accounts were deleted accidentally or unknowingly, we need to be careful whenever we use SQL directly or migrations. 🙏 🙏 🙏  Recreating the user entries in production solved the problem.

[2021-06-01 15:49] #6260 closed

[2021-06-01 15:50] moorerst commented on #4356
@ChrispinP thanks for migrating the information you could. Let's not create a backlog issue for the Name field, if it becomes an issue we can address it then. I'll make sure RPP staff is aware of it. But I think they have what they need for renewals. Thanks

[2021-06-01 15:50] #4356 closed

[2021-06-01 15:50] dianamartin commented on #1540
I just messaged Allyson and Lance a moment ago

[2021-06-01 15:53] dianamartin commented on #6158
Signed in as "Assigner" and "Viewer" and checked work orders at all Statuses
- NEW
- IN PROGRESS
- FABRICATION COMPLETED
- CLOSED

[2021-06-01 15:53] dianamartin commented on #6158
Closing since testing has been done

[2021-06-01 15:53] #6158 closed

[2021-06-01 16:00] ChrispinP commented on #6191
Testing is now complete. Only present issue is a data integrity issue with Submitter Name. After being delineated in Excel we also need to make sure the Last Name has a value before import otherwise older records will need to be manually updated in Knack. Knack shoves the Last Name into the Middle Name after delineation by default. If we wanted to clean up the data further, we would remove the Mid

[2021-06-01 16:05] Nadin-Nader commented on #4469
@SubhaShroff Ty. I will let the Stakeholders know

[2021-06-01 16:12] Nadin-Nader commented on #6021
@SubhaShroff i sent a chat to Martin just now to see what can be done or when they think that info will be available in PROD.

**Status:**
Waiting on on Martin's and LIT PIPS Team's response

[2021-06-01 16:24] johnclary commented on #6250
👍  definitely—will update the wireframe.

[2021-06-01 16:30] jaime-mckeown opened #6262 "GIMOB Meeting: June"

[2021-06-01 16:41] amenity commented on #5335
PDF is covering everything that needs to be done. No digital process necessary.

[2021-06-01 16:45] Nadin-Nader commented on #4469
Sent email to Stakeholders letting them know this is on PROD. I will close on Friday 6/4/21:

[2021-06-01 16:46] atdservicebot opened #6263 "Enhancement Request: Add a North arrow to Robin"
**Customer:** Christopher M.

ArcGIS

I pointed out to a GIS person that the Robin map for BOV has east at the top and no north arrow. They agreed that the map needs a north arrow if east goes on top. I was quite confused by the map the first few times I got on the system, and I wondered if reorienting the map or adding an arrow would improve usability.

Unsure

Christopher M.

Request ID: DTS21-1

[2021-06-01 16:48] Nadin-Nader commented on #3640
## **Status:**

Still waiting on PROD Deployment

[2021-06-01 16:51] amenity commented on #5979
Brian is currently using the numbers Joshil puts together to check the Data Tracker reports. Won't completely solve detection reporting needs; other sources' numbers are also off.

Diana's report is working for now, but getting more of a logging capability in addition to current status.

[2021-06-01 17:13] amenity opened #6264 "Coordinate migration of small cell data from Data Tracker to ArcGIS"
April can work with DSD towards making AMANDA can be the single source of information long term.  In the meantime, tracking this in Data Tracker isn't necessary. An ArcGIS feature class with the contact information will enable technicians to get the info they need from the field. TARA can maintain the info there directly.

[2021-06-01 17:16] amenity commented on #6215
Opting for #6264 instead.

[2021-06-01 17:19] ChrispinP commented on #6099
Redesign is nearly complete.

**Case Management** page
![image](https://user-images.githubusercontent.com/67915167/120362558-d22bbd00-c2d0-11eb-8e56-96fa73feb64f.png)
Case Management menu now present with quick navigation to search pages, reporting, change logs, and the customer's view (so a reviewer can submit a submission for a customer if necessary). Buttons moved under section headers.

**Scop

[2021-06-01 17:22] TracyLinder commented on #6099
@ChrispinP this is great documentation!!

[2021-06-01 17:23] Nadin-Nader commented on #3641
Notes were deleted by Battery dying. I was able to speak to Maria via chat and phone over the answers to the questions in the email. We then had a meeting with Sree to discuss the possible solutions.

**Notes from Talking with Maria::**
The below Subtypes below have Event Start time and Event End time info’s. Other than these subtypes; its not used any where in RW.
RW - Street Event
RW - Valet Par

[2021-06-01 17:24] TracyLinder opened #6265 "Meeting: Scoping SIF on 6/4/21"
**Why:** Identify IT deliverables of the SIF project
**Who:** Tracy, Nathan A,, Sangeeta, Peggy
**When:** 6/4/21 @ 3pm

[2021-06-01 17:30] dianamartin commented on #6054
Lance confirmed

I said

Lance

I replied

[2021-06-01 17:30] #6054 closed

[2021-06-01 17:31] Nadin-Nader commented on #3641
@Sreelatha-BlazeKannan Approval has been given for either of the solutions proposed

[2021-06-01 17:40] ChrispinP commented on #6186
Complete
![image](https://user-images.githubusercontent.com/67915167/120367504-8d0a8980-c2d6-11eb-9d41-1f528b0636d4.png)

[2021-06-01 17:40] #6186 closed

[2021-06-01 17:45] ChrispinP commented on #6187
Complete
![image](https://user-images.githubusercontent.com/67915167/120367834-f68a9800-c2d6-11eb-8e8f-a864715bc40b.png)
![image](https://user-images.githubusercontent.com/67915167/120367885-04401d80-c2d7-11eb-8dcd-7dfd156e9e4e.png)

[2021-06-01 17:45] #6187 closed

[2021-06-01 17:53] Nadin-Nader commented on #6021
@SubhaShroff @TracyLinder Spoke to Martin about this and he said that this could not be deployed as it was making changes to Lookups that were taken out during the roll back of the PIPS changes. He mentioned that this has a minimum of 2 weeks until it can be considered for deployment due to PIPS security concerns.

Martin also informed me that Launch IT's PIPS team are still doing testing and that

[2021-06-01 17:54] Nadin-Nader commented on #6021
##  **Status:**

On Hold until PIPS Team either addresses all security concerns for deployments or we get a different resolution from the PIPS team on how we can get this in PROD successfully.

Waiting on PIPS'S response

[2021-06-01 18:10] TracyLinder commented on #6103
### Conversation w/ OSE

- Maria needs to touch base with Frances. We don't think there are any updates this year for OSE.

[2021-06-01 18:22] TracyLinder commented on #2667
Still needs to be reviewed internally with Frances.

[2021-06-01 18:23] TracyLinder commented on #5981
This would also be handy for the farmer's market.

[2021-06-01 18:24] jaime-mckeown commented on #5976
Web Map complete.

[2021-06-01 18:24] #5976 closed

[2021-06-01 18:24] jaime-mckeown commented on #6225
Curtis was ok with sharing with ATD, updated the feature layer.

[2021-06-01 18:24] #6225 closed

[2021-06-01 18:24] amenity commented on #5465
Notes from 5/18 Sprint Review:
- Funding can be simple and dumbed down - or do eCapris in
- Map out eCAPRIS data flow on funding source; on basic level being able to filter between on partnerships with funding

[2021-06-01 18:25] amenity commented on #6151
https://github.com/cityofaustin/atd-data-tech/issues/6151 Covering this here.

[2021-06-01 18:25] #6151 closed

[2021-06-01 18:26] TracyLinder commented on #6226
### Backlog Review w/ OSE on 6/1/2021

1. OSE Folder Process Cleanup  #2666
2. Auto-Create RW-Parking Folder From SE Parent Folder #5981
3. Feature: System auto-creates OSE folder from SE parent folder(NN) #2663
4. OSE Portal Updates (public facing work) #2667

[2021-06-01 18:29] jaime-mckeown opened #6266 "GIS Remote Work Subcommittee: Run Additional Tests"

[2021-06-01 18:36] johnclary opened #6267 "Provide feedback to Shared Mobility about data aggregator RFP"
Shared Mobility are working on an RFP for a new data aggregator procurement (currently fulfilled by Ride Report). They've asked for our input.

[2021-06-01 18:36] johnclary commented on #6267
I provided my comments to Mary, Andrea, and Joseph.

[2021-06-01 18:37] #6267 closed

[2021-06-01 18:47] SubhaShroff commented on #4469
@Nadin-Nader a request SCTASK0141271 is submitted to UNDO the PROD and informed Martin as well.
Reason: Portal related request #6021 is on hold from PROD deployment.

[2021-06-01 19:06] #6228 closed

[2021-06-01 19:07] dianamartin opened #6268 "Delete Test Records: Sign Fabrication"
# Delete
## CLOSED
- [x] **SFAB21-000085**
- [x] 1 comment
- [x] 1 time log
- [x] 1 invoice item

- [x] **SFAB21-000075**
- [x] 1 attachment
- [x] 1 time log
- [x] 2 invoice items

- [x] **SFAB21-000090**
- [x] 1 time log
- [x] 3 invoice items

## FABRICATION COMPLETED
- [x] **SFAB21-000070**
- [x] 1 time log
- [x] 1 invoice item

## IN PROGRESS
- [x] **SFAB21-000065**
- [x] 1 invoice item

## NEW

[2021-06-01 19:10] dianamartin commented on #6130
- Created GitBook page for [Sign Fabrication](https://app.gitbook.com/@atd-dts/s/atd-knack-operations/signs-and-markings/sign-fabrication-work-orders)
- Miro [workflow](https://app.gitbook.com/@atd-dts/s/atd-knack-operations/signs-and-markings/sign-fabrication-work-orders)

[2021-06-01 19:11] dianamartin commented on #6130
Will show SMB staff the documentation

[2021-06-01 19:11] #6130 closed

[2021-06-01 19:15] TracyLinder opened #6269 "Training Needs for ROW Permitting Metrics Updates"

[2021-06-01 19:21] dianamartin commented on #6268
- Deleted 2 "Closed"
- Deleted 1 "New"

[2021-06-01 19:45] dianamartin commented on #6170
Configure `csr_activity` Object Table
- [x] Added new field `Number of Tows` - multiple choice (up to 20), required
- [x] Added new field `Num of Tows` - number
Configure SR Details - Activity Form
- [x] Add 'Number of Tows` field to form
- [x] Update Display Rules

[2021-06-01 19:47] TracyLinder commented on #6218
**Reviewed possible attempt types**

Want to discuss internally w/ the team and then provide us more feedback.

![Screen Shot 2021-06-01 at 2.37.09 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/093a5ef1-c5cd-47f1-9869-6393a0f3a3c7)

[2021-06-01 19:52] TracyLinder commented on #6216
**Update w/ all of the current review processes:**
<img width="620" alt="Screen Shot 2021-06-01 at 2 51 40 PM" src="https://user-images.githubusercontent.com/49930868/120382149-eaa7d180-c2e8-11eb-8444-3ad74706a877.png">

[2021-06-01 20:12] TracyLinder commented on #6263
@moorerst FYI this is a new request, and I just assigned it to you.

[2021-06-01 20:31] johnclary commented on #5357
@johnclary Renee mentioned today that APS stands for "Accessible pedestrian signal" not "Audible push button". Please include that in your taxonomy update.

[2021-06-01 20:54] jaime-mckeown commented on #6266
- Completed ArcMap RDC and Citrix
- Completed Pro RDC and Citrix
- I removed ArcMap and Pro from my laptop, will run tests if I get a chance to re-install the programs

[2021-06-01 20:54] #6141 closed

[2021-06-01 22:02] dianamartin commented on #6263
I reached out to Chris bc I saw this request and I messaged him

Chris said

I replied

[2021-06-01 22:03] dianamartin commented on #6263
@moorerst would it be worth asking Robin about this?

[2021-06-01 22:14] dianamartin opened #6270 "Identify DSD GIS contacts to talk to and discuss managing small cell feature class"

[2021-06-01 22:15] dianamartin opened #6271 "Meeting: Coordinate meeting with DSD GIS folks and ATD GIS"
- Rescheduled meeting for 6/15 w/ Danny and Cheryl
- ~Schedule a meeting for 6/10 at 10 am w/ Danny, optional: Jaime.~

[2021-06-01 23:04] amenity opened #6272 "Add "Status" to advanced filters on "Projects" page"
<img width="1438" alt="Screen Shot 2021-06-01 at 6 46 40 PM" src="https://user-images.githubusercontent.com/1463708/120403487-e7710d80-c309-11eb-9272-08f10b1dacc1.png">

[2021-06-01 23:15] amenity opened #6273 "Onboard Patrick M. 👋✨ 😊"
## Accounts - Amenity

- [x] Submit a [CTM New Employee Request Form](https://atx.service-now.com/sp?id=sc_cat_item_guide&sys_id=b714eb12db7a3f0021ccef92ca961972&sysparm_category=ea848d3adbce37405b03f482ba96193c) for a COA network account, eAccess PIN/HR Portal, and phone
- [x] Submit a CTM service request to add to DTS Distribution Email Group — also add Janet:

- [x] Add to City of Austin Slack

[2021-06-01 23:55] amenity commented on #6236
From Kenny:

[2021-06-02 06:38] vschandramouli commented on #4427
Based on conversation with Kim and Paloma, it looks like changing the name of this folder will be the only need at the moment. Updated AC, moving to backlog so this change can be processed.

[2021-06-02 06:57] vschandramouli commented on #6051
Updated AC for ticket, moving to Backlog.

[2021-06-02 14:56] #6232 closed

[2021-06-02 14:59] TracyLinder opened #6274 "Inactivate Brandon B. from Data Tracker"
### I am in Data collection thru Arterial Management. My former co-worker no longer works in our group so need to get his name taken off, Brandon Burgess.

**Customer:** Jamie

[2021-06-02 15:00] #5924 closed

[2021-06-02 15:00] dianamartin commented on #5924
I worked on the Parking Enterprise Portal and updated reports, these were the ones that gave me grief before. Seems like the reporting has been fixed. Closing this issue.

[2021-06-02 15:08] TracyLinder commented on #5893
This looks good; closing

[2021-06-02 15:08] #5893 closed

[2021-06-02 15:08] TracyLinder commented on #5894
Looks great; closing.

[2021-06-02 15:08] #5894 closed

[2021-06-02 15:11] TracyLinder opened #6275 "Update TIA Email Documention"
The documentation lives in the TIA folder in our drive.

[2021-06-02 15:14] TracyLinder commented on #6188
**Update** Most work has been done however KNACK doesn't allow us to add the navigation menu to child pages. @ChrispinP will check with @chiaberry to see if she has any magic to help w/ this.

[2021-06-02 15:18] dianamartin commented on #6100
- Using this [Test PR](https://github.com/cityofaustin/atd-knack/pull/59)

[2021-06-02 15:22] dianamartin commented on #6274
- [ ] Change the "Assigned To" drop down
- [ ] Update Account Management, make Brandon B. - Inactive

[2021-06-02 15:24] jaime-mckeown opened #6276 "GIS Modernization Bi-Weekly Meeting: 6/2/21"

[2021-06-02 15:26] jaime-mckeown commented on #6276
- Shanon has created Dashboards for each Department, went over each Dashboard so we can see progress
- Went over classes, there will be a couple requests for change at the GIMOB this Thursday since there is not much interest in the Creating and Editing Classes. The first class may be changed to a public class since there are only 3 people signed up (2 in ATD, Meter Shop).
- Use to Software Usage R

[2021-06-02 15:28] jaime-mckeown commented on #6276
She will drop our Dashboard into our folder in Teams.

[2021-06-02 15:29] #6276 closed

[2021-06-02 15:37] #1540 closed

[2021-06-02 15:43] amenity opened #6277 "Diagram sign fabrication work order work flow"

[2021-06-02 15:53] amenity commented on #3643
@TracyLinder - sticking this in the backlog

[2021-06-02 15:55] #6122 closed

[2021-06-02 15:57] amenity opened #6278 "Reach out to Bert about connecting ATD Hub site w/ subsites"

[2021-06-02 16:09] Nadin-Nader commented on #1802
This is ready to be Picked after AOB

[2021-06-02 16:16] TracyLinder commented on #6166
@vschandramouli will begin scoping this over the next 2 weeks.

[2021-06-02 16:17] johnclary opened #6279 "About Page: Page is sidescrolling"
[This page](https://austinmobility.io/about) is side-scrolling :(

[2021-06-02 16:22] TracyLinder commented on #5579
@vschandramouli please help coordinate UAT for this one. Thank you

[2021-06-02 16:35] vschandramouli commented on #5578
@SubhaShroff @Nadin-Nader Added note on first main report that info for Process 61060 also needs to be pulled though it is not used in the main report, only in the sub-report. Please let me know if I need to add anything more.

[2021-06-02 16:50] ChrispinP commented on #6177
Filter tabs removed for Submission tables:
![image](https://user-images.githubusercontent.com/67915167/120519238-028a5e80-c398-11eb-9549-d5dbd77c218a.png)

and Attachment tables:
![image](https://user-images.githubusercontent.com/67915167/120519809-b12e9f00-c398-11eb-9875-7f6c6384c774.png)

[2021-06-02 17:03] dianamartin opened #6280 "Update Journal Voucher fields in AMD Data Tracker"
- [ ] Import spreadsheet information to capture Journal Voucher Dates and Numbers
- see [spreadsheet](https://app.zenhub.com/files/140626918/b39ed7cf-1cb0-4a3d-9f95-2e5e80f61f75/download)

### Steps
- [x] remove all columns from the spreadsheet except `TXN ID`, `Journal Voucher Date`, and `Journal Voucher ID`
- [x] import the file into the `inventory_transactions` object. match on `TXN ID` and map

[2021-06-02 17:12] dianamartin opened #6281 "Update AMD Work Orders - Close and Move Workgroups"
Billy B.
AMD

Assigned Folder:
Please move these to non-technician

- [x] Wil L. - 37 - `there were 36 when I checked`

- [x] Fanta K. - 1

- [x] Joshil B. - 30

- [x] Reza V. - 11 - `there were 10 when I checked`

Please close these out of date work orders

- [x] Test Tech - 6
- [x] EARTC - 14

[2021-06-02 17:13] amenity opened #6282 "Update "Working Remotely" section of ATD Staff Resources wiki"
We want to be able to direct new DTS staff to a section [here](https://app.gitbook.com/@atd-dts/s/atd-staff-resources/working-remotely/getting-started) to do all the things necessary to do remote work.

Needed for Janet and Patrick's first day, 6/7.

---
To include ... (Stuff I'm deleting from the onboarding materials in the DTS wiki)

- [Fill out Remote Access Request Form](https://apps.austintex

[2021-06-02 17:16] ChrispinP commented on #6181
Rules have been updated for these Comment Tables. Need to test again with new data to make sure records are assigned correct cycle # and correctly show up in the table if the Comments field is not blank and meets at least 1 of 3 criteria; Status is Revision Required, Status is Approved, or Show Customer is Yes(checked).

[2021-06-02 17:28] johnclary opened #6283 "Present Moped Project Scheduling Features to E-Team"
Meet with E-Team to discuss project scheduling functionality in Moped and collect additional user needs. [Slides](https://docs.google.com/presentation/d/1HEQXincLU90JRE12r7nFd3kPW7Tv1QWIqaCNTXoGNd0/edit#slide=id.p).

Schedule for June 7, 2021.

Meeting discussion from calendar invite:

[2021-06-02 17:34] TracyLinder commented on #6103
**Update:**
These groups have confirmed they have no fee updates this year:
- Office of Special Events
- Signs & Banners

[2021-06-02 17:36] TracyLinder opened #6284 "TIA Project Meeting 6/2/21"
**Agenda:**
- Review navigation menu updates
- Review mitigations prototype #6189
- Review updated case management features #6099
- Review Customer Portal design updates #6101
- Feature: View TIA case loads & bulk reassign #5633

[2021-06-02 17:53] moorerst commented on #6263
@dianamartin I forwarded the suggestion to Robin's Feedback email address.

[2021-06-02 18:11] johnclary commented on #5740
Alan is finishing up label placement—should be done after than.

[2021-06-02 18:12] johnclary commented on #6138
Meeting with ATSD on 6/8 to review this.

[2021-06-02 18:17] TracyLinder opened #6285 "TIA Case Log, Before & After > New Value"
### In this example, we were hoping to see who the reviewer was, and who it changed to.

![Screen Shot 2021-06-02 at 1.15.47 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/70de4179-e638-4052-887f-44f38a3f6293)

[2021-06-02 18:19] TracyLinder commented on #5633
**Review Q/A w/ Stakeholders:**
- There's not a feature to bulk reassign, but we're open to building this feature in the future if the need to do so arises.
- Update the case/reviewer area filter to filter out 'Request Approved' cases
    - @ChrispinP can you try to filter these out please?

[2021-06-02 18:25] moorerst commented on #6170
@dianamartin all the report modifications and the new # of tows field look great. They all work as documented.

[2021-06-02 18:26] johnclary opened #6286 "Create Moped project viewer proof of concept in AGOL"
Create an ArcGIS Online web app that attempts to mimic the functionality of the [Interim Viewer](https://austin.maps.arcgis.com/home/item.html?id=d6194f783b114453a70eb769853e390c).

Here are two geojson files to get started. I believe you'll need to remove ".txt" from the filename in order to process them.

- [points.geojson.txt](https://github.com/cityofaustin/atd-data-tech/files/7130565/points.g

[2021-06-02 18:28] TracyLinder commented on #6189
![Screen Shot 2021-06-02 at 1.28.15 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/86b9a93c-db03-4c74-90cf-d1103b225760)

[2021-06-02 18:31] TracyLinder commented on #6189
We have approval to move forward with this redesign.

[2021-06-02 18:31] #6189 closed

[2021-06-02 18:31] TracyLinder commented on #6097
![Uploading Screen Shot 2021-06-02 at 1.28.15 PM.png…]()

[2021-06-02 18:37] johnclary commented on #6043
@andrewshensky check-in with Maria A. in Office of Special Events to let her know you're building and this and see if she has a similar need.

[2021-06-02 18:42] johnclary commented on #6050
Meeting with Diana next week to demo.

[2021-06-02 18:43] TracyLinder commented on #6099
- [ ] Rename 'Show Customer' column to 'Show Customer Comment?'
FYI @ChrispinP

[2021-06-02 18:48] johnclary commented on #6155
@jaime-mckeown, @dianamartin might be able to help get the Drupal content updated.

[2021-06-02 18:55] TracyLinder opened #6287 "Usability Testing on TIA Reporting"
**Why:** To gather feedback from TIA management on the reporting features.
**Who:** Upal, Curtis, Tracy, Chrispin, Nathan
**When:** Fri 6/11/2021 3:30 PM - 4:30 PM

[2021-06-02 19:01] johnclary commented on #6146
@andrewshensky plz mark the bike parking layers as authoritative. @alan-deanda can you think of other "authoritative" data?

[2021-06-02 19:02] #6146 closed

[2021-06-02 19:05] dianamartin commented on #6170
Stephanie has reviewed and we'll close it and show stakeholders at our next Sprint Review.

[2021-06-02 19:05] #6170 closed

[2021-06-02 19:05] dianamartin commented on #6235
Emailed users on 5/27

[2021-06-02 19:05] #6235 closed

[2021-06-02 19:07] dianamartin commented on #6121
Haven't heard from user, closing issue. Will reopen if any issues arise from this.

[2021-06-02 19:07] #6121 closed

[2021-06-02 19:08] dianamartin commented on #6116
Closing since no follow-up replies received from users

[2021-06-02 19:08] #6116 closed

[2021-06-02 19:15] moorerst commented on #5884
Sent follow up email to Chandra requesting some direction on next steps.

[2021-06-02 19:20] TracyLinder commented on #5645
After reviewing this with Sangeeta & Amber, this appears to be a duplicate of #4624. We're closing this.

[2021-06-02 19:20] #5645 closed

[2021-06-02 19:21] dianamartin commented on #5805
Ryan's been out on paternity leave so this has been "On Hold" for a bit

[2021-06-02 19:22] TracyLinder opened #6288 "TDS Case Attachments - Make Editable"
### Users need to edit attachments after saving them.
_Currently the # 3 priority for TDS_
![Screen Shot 2021-06-02 at 2.07.21 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/11856d0f-f815-4b35-930d-a143ec68b966)

[2021-06-02 19:23] TracyLinder commented on #6288
Per Chrispin, this will involve rebuilding the objects and will be a significant lift.

[2021-06-02 19:24] jaime-mckeown commented on #6155
Emailed Susanne H. to request to be enrolled in Drupal training and become a Content Editor.

[2021-06-02 19:24] dianamartin commented on #6280
1403 JV blank

[2021-06-02 19:34] moorerst opened #6289 "Update language on RPP Home Page"
Can we change the language at the top of the Home Page to read:
Please be advised that the Parking and Mobility Services Permitting office (1501 Toomey Rd.) is not providing walk-in services at this time. All requests are being handled by appointment only. Please see below for additional details.
-Permitting staff is in the office everyday M-F between 8a-3p.
- Applicants cannot enter the building

[2021-06-02 19:42] TracyLinder commented on #6175
### Priorities

1. Enhancement: Allow TDS Reviewers to save draft comments #5649
2. Enhancement: TDS Portal - New Review Cycle Attachment & Comments Features #4624
3. TDS Case Attachments - Make Editable #6288

[2021-06-02 19:42] #6175 closed

[2021-06-02 19:43] dianamartin commented on #6280
Emailed Van back

[2021-06-02 19:43] #6280 closed

[2021-06-02 19:44] TracyLinder commented on #5649
Per our stakeholder review on #6175, this is the top priority for the TDS mod.

[2021-06-02 19:45] TracyLinder commented on #4624
Per our stakeholder review on #6175, this is the # 2 priority for the TDS mod.

[2021-06-02 19:46] dianamartin commented on #6115
Messaged Christina again 6/2

Christina replied

[2021-06-02 19:46] #6115 closed

[2021-06-02 19:50] moorerst opened #6290 "Update RPP Submitted - Pending Review email notification"
Modify items below From:

- Your application will be reviewed by ATD staff, please allow 7 to 10 business days from 01/04/2021 13:01 for a review to be completed.

- You will receive an email within 7 to 10 business days and instructions on how to pay for your permits/passes.

To:

- Your application will be reviewed by ATD staff, please allow 2 to 3 business days from 01/04/2021 13:01 for a revie

[2021-06-02 19:53] TracyLinder commented on #4624
The issue description has been updated with new acceptance criteria. This is ready for development; I'm placing it in the backlog.

[2021-06-02 19:54] TracyLinder commented on #6288
Per our stakeholder review on #6175, this is the third priority for the TDS mod.

[2021-06-02 19:54] dianamartin commented on #6274
### BB - Unscheduled - 19
- [x] switched to Jamie A. - 19

### BB - Scheduled - 19
- [x] switched to Jamie A. - 19

### BB - Rescheduled - 5
- [x] switched to Jamie A. - 5

[2021-06-02 19:57] TracyLinder commented on #2900
**Notes from our product review on 6/2/21 #6175**

### Priorities

1. Enhancement: Allow TDS Reviewers to save draft comments #5649
2. Enhancement: TDS Portal - New Review Cycle Attachment & Comments Features #4624
3. TDS Case Attachments - Make Editable #6288

[2021-06-02 20:02] dianamartin commented on #6274
- Filtered `traffic_counts` records
- Status is not COMPLETED or CANCELLED to check the records

Messaged Jamie

[2021-06-02 20:06] #6061 closed

[2021-06-02 20:15] atdservicebot opened #6291 "Signs & Markings: Clean up of test work orders on contractor work order page"
**Customer:** Christina T.

Signs & Markings Operations

Last clean up of test work orders for contractor work order page!

Need to remove the following reference IDs:
- 198
- 199
- 200

Also going to remove all of the Work Authorization #13 work orders in the "CLOSED" status.

No work around is necessary. This is just the final clean up because the contractors are starting to work in the work ord

[2021-06-02 20:35] amenity commented on #5355
Can do this with Material UI components.

[2021-06-02 20:42] mateoclarke commented on #5355
https://github.com/cityofaustin/atd-moped/blob/45593430d0a17c8c30701566e3c10704bc893831/moped-editor/src/views/projects/projectView/ProjectView.js#L275-L276

[2021-06-02 20:53] amenity opened #6292 "Extend functionality of "All projects" breadcrumb on project pages"
If user was referred directly from a search on the "Projects" page, should take them back to the same search. This seems straightforward on the tails of #6149 magic... 🤷‍♀️

Tricky part: Down the line, users may not be always coming from the "Projects" page; e.g. could come via a link to the project from a related project, a user's profile page, etc.

[2021-06-02 20:55] andrewshensky commented on #6050
6/2 - Links to sample data/map items shared with John through email.

[2021-06-02 21:07] ChrispinP commented on #6178
Complete
![image](https://user-images.githubusercontent.com/67915167/120552263-a0902000-c3bc-11eb-966c-e8f5496843f4.png)

[2021-06-02 21:07] andrewshensky commented on #6146
Bike Parking layer has now been marked as authoritative.

[2021-06-02 21:24] amenity opened #6293 "Create Moped style examples Devias page"
Would be great to have a `moped/dev/[style type]` pages to see our custom [Devias](https://github.com/cityofaustin/atd-moped/blob/7ed1f193349cd452f319ae916f9e9ce8f55a7e97/moped-editor/src/theme/index.js) (and, down the line, [Material Table](https://github.com/cityofaustin/atd-data-tech/issues/6294)) styles.

Start with typography:
can use this component: https://material-ui.com/components/typogra

[2021-06-02 21:32] amenity commented on #5308
Will be covered in https://github.com/cityofaustin/atd-data-tech/issues/5375.

[2021-06-02 21:32] #5308 closed

[2021-06-02 21:34] amenity opened #6294 "Apply Material Table customizations used on Team table to other instances"
Replicate the customizations on the "Team" table to:
- Phases
- Milestones
- Files

Bonus points:
- Consider small-lift opportunities to further abstract. E.g., the table header component.

[2021-06-02 21:35] dianamartin commented on #6246
- Changed to Crystal T.
- Changed intake form to sign shop folks: Kenny, Carlos, Ruben, Anthony S., Jesse

[2021-06-02 21:35] #6246 closed

[2021-06-02 21:56] ChrispinP commented on #6179
Research: Can clicking on the green button take the user directly to adding content, instead of the additional step of having to click Edit?
Research: Can the customer submit/confirm from the 'Add TIA Submissions Attachments' page?

For these two items, it is possible but we would have to create a new child page. From this new child page they could edit the submission content, then we would redire

[2021-06-02 22:01] dianamartin commented on #6268
- Deleted the last 4 work orders in the system after testing was done with Christina

[2021-06-02 22:01] #6268 closed

[2021-06-02 22:12] dianamartin commented on #6277
Christina said that the workflow looked good and it's exactly what the process is. Is saved in Miro.

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/37ad457d-1d40-4d55-bebc-005f1d2e65bc)

[2021-06-02 22:12] #6277 closed

[2021-06-02 22:14] dianamartin commented on #5485
6/2: Sent finalized email to SMB stakeholders and Finance contact. Christina will work the new requester form distribution with the Sign Shop.

[2021-06-02 22:14] #5485 closed

[2021-06-02 22:15] dianamartin commented on #6206
Followed up with Christina, she said that Louis wasn't there the day she was on site. She has the troubleshooting notes, so she's going to try to catch him again and try to get his tablet from him.

[2021-06-02 22:20] dianamartin commented on #6281
6/2:
- [x] Closed 6 Test Technician records
- [x] Closed 14 EARTC records

[2021-06-02 22:22] ChrispinP commented on #6179
Comments added to the Customer's View Submission page
![image](https://user-images.githubusercontent.com/67915167/120559508-c7ebea80-c3c6-11eb-803b-92a3f20836b6.png)
Comments will be hidden if it meets the conditions

[2021-06-02 22:26] ChrispinP commented on #6181
The comments are now located within the Submission View. Removed these tables. Pending any further action.

[2021-06-03 02:18] SubhaShroff commented on #5578
### UPDATE on Detail Report: In today's sprint call, confirmed with Tracy to concatenate the Project Managers, if there are more than one with a permit.

I will be making that change in the detail report.

[2021-06-03 05:56] amenity commented on #6236
@dianamartin @johnclary — should we set up a time to talk to Kenny about this, or is it straightforward enough that it's ready for Apps Team handoff?

[2021-06-03 06:03] dianamartin commented on #6236
@amenity read Kenny's response and I think they need that categorization to determine ownership and schedule based on the ISD. He didn't out right say that but that's what I speculate. I think a short follow up is needed to finalize this need.

[2021-06-03 12:43] atdservicebot opened #6295 "Enhancement - Data Tracker: Type of Request"
**Customer:** Jamie A.

Data Tracker

In knack under Traffic count @ traffic data collection requests>manage requests the 3rd column attachment can we get that changed to what type of request the requestor is wanting.  Like P (Priority) and when they requestor puts that in it turns to a RED Box so that way myself and others know that one is priority and needs to be done right away.  Also have an o

[2021-06-03 13:29] sreelathab commented on #5576
@Nadin-Nader , @TracyLinder - Test Summary report format sent on 6/2/2021 for review.

![image](https://user-images.githubusercontent.com/65371095/120652943-d9280c00-c445-11eb-9640-db9bb968fc5c.png)

[2021-06-03 14:17] atdservicebot opened #6296 "[URGENT] Export Request: All TLC requests for the department & Report page to export all TLC requests quarterly"
Other / Not Sure

I need an excel report run on all TLC requests for the department.  Additionally, I need the capability to run an excel report quarterly on all TLC requests for ATD employees.

Urgently — Today or tomorrow

Requested by the Director.

Nathan B.

Request ID: DTS21-102145

[2021-06-03 14:20] dianamartin commented on #6296
Nathan talked to me about this request this morning.
- Rob wants an export of the TLC requests for this FY21 - short term.
- Wants to be able to export these requests out quarterly - long term
  - planning to build a HR Report page so that HR Admins or Rob can export the information they need
  - will check on Rob's user roles as well

[2021-06-03 14:58] jaime-mckeown commented on #6238
- Created 1600 ft, 1800 ft, and 2000 ft buffers for the Pecan Street Festival and the last weekend of October Events.
- Published feature layer, created Web Map, and Web App.
- Emailed the team the link to the Web App and let Laura and Dawn know that they need to create AGOL accounts first.

[2021-06-03 15:08] TracyLinder commented on #6296
@dianamartin thanks for jumping in on this one. Need any help?

[2021-06-03 15:10] dianamartin commented on #6296
@TracyLinder thanks, I'm fine. I'm already done, just waiting for Nathan's feedback.

[2021-06-03 15:17] dianamartin commented on #6296
Emailed Nathan

![image](https://user-images.githubusercontent.com/21112975/120669219-e00a4b00-c454-11eb-8aa5-6c90bfc1f1a7.png)

![image](https://user-images.githubusercontent.com/21112975/120669294-edbfd080-c454-11eb-83db-8fd2b0ef535a.png)

[2021-06-03 15:50] #6198 closed

[2021-06-03 16:01] jaime-mckeown commented on #6262
- New GIMOB SharePoint Site
   - Showed the group the page, it is not live yet
- SDE Updates
   - Currently have SDE and SDE_External in GISDM (user schema data, which is no longer supported)
   - Will need to move from this architecture, there are options
   - Option 1: Repoint all external data to SDE, users will then see all External data in the main GISDM connection. SDE External Connection wo

[2021-06-03 16:55] TracyLinder commented on #6200
### Notes

Assigned To: Values should be:
- Robert Alvarez, Shawn Jackson, Juliet Thomas, Darren Ujano, Ryan Mooney, Doug Slauson, Jonathan Thompson, Richard Zapata
Assigned To - Should only allow one value
- Assigned to field isn't populating

After submitting new TCP, system should open the record.

The TCP status isn't populating.
The Submitter name isn't populating.
Missing TCP ID

Project pag

[2021-06-03 16:55] TracyLinder commented on #6200
These results need to be rolled into #6191

[2021-06-03 17:06] dianamartin commented on #6100
@johnclary I finished the documentation, can you please look it over when you have time

[2021-06-03 17:06] TracyLinder commented on #6200
My notes have been cleaned up. @ChrispinP please add any notes you may have, and close this issue when you don't need it to be open anymore. Thank you!

[2021-06-03 17:35] #6262 closed

[2021-06-03 17:36] #6214 closed

[2021-06-03 17:38] jaime-mckeown opened #6297 "Shared Mobility Operations Feature Layer Update"
Andrea updated some of the data, requested that the feature layer be updated.

[2021-06-03 17:39] jaime-mckeown commented on #6297
Update complete.

[2021-06-03 17:39] #6297 closed

[2021-06-03 17:40] jaime-mckeown commented on #6238
Dawn created an account, configured her profile and added her to groups.

[2021-06-03 17:53] johnclary opened #6298 "[BUG] Unit cost not populating correctly after re-stocking"
It was discovered that some inventory restocking activities were resulting in an item having a unit cost of $0.00.

I was able to reproduce the issue by including a dollar sign and other alpha characters in the [restock item form](https://builder.knack.com/atd/amd/pages/scene_1171).

[2021-06-03 18:41] amenity opened #6299 "Improve account and log in functionality"
API + UI

Want to make all user account database changes in the UI.
- Reactivating and deleting users
- Easily see list of active users and important info

[2021-06-03 18:52] TracyLinder opened #6300 "FY22 Backlog: Add TCP Review Fee to SP, GP"
### A new TCP Review Fee was approved for FY22 which requires process updates to the SP and GP folders in AMANDA.
- _This request was put in the backlog until after the AMANDA V7 upgrade. It also requires extensive coordination with DSD._

**Stakeholders:**
- (ATD) Ryan, Darren, Laura
- (DSD) Deborah F, Zachary W., Roderick B, Zackary M.

### Summary
- **SP:** ATD Staff will identify the TCP Fee r

[2021-06-03 18:55] TracyLinder commented on #6300
### Stakeholder Meeting 6/3/21

**Notes:**
Existing TCP related fields (on SP):
Traffic Control Review? (Y or N)

ATD will be responsible for triggering the fee on DSD folders. This would occur during the completeness check formal review. 

Can ATD do this work, or will DSD want to do this
DSD is open to LIT doing the work, so long as 
Can we use a process info on 51300 Traffic Control Review or O

[2021-06-03 18:55] amenity commented on #6293
Some potential starting points:
https://codepen.io/zchry/pen/EzAux

[2021-06-03 18:58] TracyLinder commented on #6300
### Risks of billing TCP fee with existing review fees that have waivers:
_From Deborah F._
If SH is required to be waived 100% or a portion of the fees, need to validate that the other fees are receiving waivers where ATD fee will not receive the waiver. Test where possibly fees for DSD fees are waived & add ATD fees where it should not be waived. Possibly add DSD fees first to be waived, then AT

[2021-06-03 19:09] jaime-mckeown commented on #6266
reinstalled ArcMap & Pro, ran tests and updated the Spreadsheet in Planner.

[2021-06-03 19:09] #6266 closed

[2021-06-03 19:14] amenity commented on #3777
Haven't heard about this in a while.

[2021-06-03 19:22] dianamartin commented on #5760
Messaged Knack 6/3

[2021-06-03 19:26] amenity commented on #6236
Checked with @dianamartin and she's going to work with Kenny on this. 🙏

[2021-06-03 19:30] dianamartin commented on #6291
- [ ] **REF ID: 198**
- 2 attachments
  - [ ] 9784
  - [ ] 9785
- 2 inspections
  - [ ] 74
  - [ ] 75
- 4 work logs
  - [ ] 149
  - [ ] 146
  - [ ] 147
  - [ ] 148

- [ ] **REF ID: 199**
- 1 follow up - 200
- 1 comment
  - [ ] 5857
- 1 attachment
  - [ ] 9729
- 2 inspections
  - [ ] 76
  - [ ] 77
- 4 work logs
  - [ ] 152
  - [ ] 153
  - [ ] 150
  - [ ] 151

- [ ] **REF ID: 200**
- 1 comment
  - [

[2021-06-03 19:53] dianamartin commented on #6291
- [x] contractor work log - 51 records deleted
- [x] contractor inspections - 24 records deleted - Christina
- [x] contractor inspections  - 2 records deleted - Joe Mike
- [x] comments - 2 records deleted - mid-inspection
- [x] attachments - 4 records deleted
- [x] work order status - Approved - 3 records
- [x] work order status - Closed - 3 records

[2021-06-03 19:53] #6291 closed

[2021-06-03 20:22] #4375 closed

[2021-06-03 20:58] ChrispinP commented on #6200
- Replaced old fields with new fields for Submission ID, Assigned To, Submitter Name, etc
- Cleaned up user accounts
- Completed all listed bugs/action items above

**Notes**
1) With new builder, if we default Due Date with a conditional it will remove the ability to inline edit in the table.
2) Should update field casing in Excel before import so it does not include Capitalized values as options

[2021-06-03 20:59] #6200 closed

[2021-06-03 21:09] dianamartin commented on #6212
I created a new page `manage street names`
- configured a table
- added a 'add street name' form

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/89a4522a-37f0-4c43-9382-a40d258b3694)

[2021-06-03 21:10] dianamartin commented on #6212
- [x] Added to Signs Work Order (Admin Menu)
- [x] Added to Markings Work Order (Admin Menu)
Christina was able to review the table and form right after I added it

[2021-06-03 21:10] #6212 closed

[2021-06-03 21:11] dianamartin commented on #6274
Jamie replied

[2021-06-03 21:11] #6274 closed

[2021-06-03 21:12] dianamartin commented on #6296
Nathan replied

[2021-06-03 21:12] #6296 closed

[2021-06-03 22:02] jaime-mckeown opened #6301 "GIS Remote Work Subcommittee Admin"

[2021-06-03 22:03] ChrispinP commented on #6188
I reached out to Chia to see if we can add the Case Management nav menu to the Submission Details pages

[2021-06-03 22:03] jaime-mckeown commented on #6301
- Took over the committee from John C. as he is leaving the city.
- Emailed the team with where we are and who we need test results from as we can't move forward without them.

[2021-06-03 22:07] ChrispinP commented on #6180
Updated TIA Details text with icons and highlighting for user testing. Will remove highlighting if not helpful for users
![image](https://user-images.githubusercontent.com/67915167/120717861-e36df880-c48d-11eb-8d10-c8d08e2878a1.png)

Updated TIA Portal page with buttons for user testing. Will remove buttons if not helpful for users.
![image](https://user-images.githubusercontent.com/67915167/12071

[2021-06-03 22:12] ChrispinP commented on #6099
Completed task items above. Im wondering with inline editing if it would be easier that the Attachment Link shows as an icon instead of blank when added with the same applying for File Attachment. Both would be viewable from the View Attachment Link popup.
![image](https://user-images.githubusercontent.com/67915167/120718447-e4ebf080-c48e-11eb-9f48-61cb55f74767.png)

[2021-06-03 22:22] ChrispinP commented on #5633
Approved cases are now filtered out
![image](https://user-images.githubusercontent.com/67915167/120719631-38127300-c490-11eb-8108-7e40a42497c6.png)

[2021-06-03 22:26] ChrispinP commented on #6097
Reached out to Andrew for updating the Mitigation Map and we were successfully able to make segments clickable and now the features open directly into the blue/white popup that shows the Feature ID and Name
![image](https://user-images.githubusercontent.com/67915167/120719949-cab31200-c490-11eb-953b-cc5be2abcb5c.png)

[2021-06-03 22:45] dianamartin commented on #6282
@amenity I updated the "ATD Staff Resources" wiki and the "DTS Resource Index". I went through most all the links and update any broken or old links. Let me know if you need anything else modified.

[2021-06-04 03:27] johnclary commented on #6298
See attached PR. I added custom code to parse currency strings, and added input validation to prevent restock submission if the restock unit cost and quantity are invalid.

[2021-06-04 03:58] johnclary opened #6302 "[Enhancement] Add forms to change item and source location for issued transactions"
Inventory planners need the ability to safely change the source location and item type for issued transactions. This is currently possible through a generic "edit transaction" form, but we need to ensure that the correct final unit cost is updated accordingly.

[2021-06-04 04:00] johnclary commented on #6302
I added two new forms to the [Edit Transaction](https://builder.knack.com/atd/amd/pages/scene_1086) page. These will conditionally be displayed when the transaction is in a `Completed` status.

<img width="572" alt="Screen Shot 2021-06-03 at 10 58 08 PM" src="https://user-images.githubusercontent.com/14793120/120743853-66f40d80-c4bf-11eb-8a3b-96d3034ad712.png">

[2021-06-04 14:14] dianamartin commented on #6278
Last email with Bert 5/17

He replied

I emailed today 6/4

[2021-06-04 14:17] johnclary commented on #6302
I notified the inventory planners of this change. Closing.

[2021-06-04 14:17] #6302 closed

[2021-06-04 14:18] johnclary commented on #6298
I notified the inventory planners of this change. Closing.

[2021-06-04 14:18] #6298 closed

[2021-06-04 14:39] dianamartin commented on #6270
Email Danny

[2021-06-04 14:40] dianamartin opened #6303 "Meeting w/ April S. to understand Comprehensive Small Cell workflow"
April said 6/7 works for her. I scheduled a meeting for 6/7 at 9 am.

[2021-06-04 14:50] jaime-mckeown opened #6304 "Setup Pro on new Workstation: Harrell"
Meet with Harrell to get Pro configured on his new computer.

[2021-06-04 14:51] jaime-mckeown commented on #6304
Harrell just needed help with a couple things on his new computer.

[2021-06-04 14:51] #6304 closed

[2021-06-04 14:53] jaime-mckeown opened #6305 "Configure AE Poles Pro Project: Harrell"
As I was working on another request, I finally figured out how to connect the data view to the layouts in Pro. Need to go into Harrell's Project and configure so they are all connected.

[2021-06-04 15:07] jaime-mckeown commented on #6305
Updated the layouts to share the same data as the data view. Let Harrell know that it was done, but the extents do not tied to each other.

[2021-06-04 15:07] #6305 closed

[2021-06-04 15:09] dianamartin commented on #6236
Purpose to knowing the school zone?
Last week, thought AISD was out on Wed/Thu. They actually extended the school time, they didn't get out until yesterday. The MMC operators were trying to turn on the school zones in bulk fashion. Know which ones to extend and not to extend.

School Zones are broken up in 5 geographic areas:
- [ ] Central
- [ ] Northeast
- [ ] Northwest
- [ ] Southeast
- [ ] Sout

[2021-06-04 15:41] johnclary commented on #6208
This needs to be migrated from the legacy publisher ([this config](https://github.com/cityofaustin/atd-data-publishing/blob/00f141f2c63451eaa4ee437384ae7d073d835057/transportation-data-publishing/config/knack/config.py#L37)) to atd-knack-services. @chiaberry this one will **not** use the same location field as the rest of the AMD assets. I'll point you to the right fields.

[2021-06-04 15:48] TracyLinder commented on #6203
### 6/4/21 Action Items

- [ ] Merge Ryan's spreadsheet into mine
- [ ] Schedule scoping for EX & TURP updates, with Paloma, Izzy, Kim
- [ ] Draft AC for 6300 (In-process TCP)
- [ ] Schedule review of AIMS spreadsheet with Paloma, Peggy.
- [ ] (Paloma) Send Peggy portal documentation

[2021-06-04 15:58] TracyLinder opened #6306 "Meeting: Scoping: FY22 Fee Updates for TURP, EX"
**When:** Mon 6/7/2021 10:00 AM - 11:00 AM
**Who:** Tracy, Nate, Paloma, Izzy, Kim

[2021-06-04 16:02] TracyLinder opened #6307 "Meeting: Cost of Service: Review AIMS Spreadsheet"
**When:** Mon 6/7/2021 1:00 PM - 1:30 PM
**Who:** Tracy, Paloma, Peggy

The spreadsheet lives [here](https://teams.microsoft.com/l/file/0c160541-0d31-4037-8575-f38a7315a544?tenantId=5c5e19f6-a6ab-4b45-b1d0-be4608a9a67f&fileType=xlsx&objectUrl=https%3A%2F%2Fcityofaustin-my.sharepoint.com%2Fpersonal%2Fpeggy_maccallum_austintexas_gov%2FDocuments%2FMicrosoft%2520Teams%2520Chat%2520Files%2FJVD_Template

[2021-06-04 16:11] sergiogcx opened #6308 "Bug: Filters do not stack up correctly"
Currently, we cannot apply two or more filters on a single field. For example, if we want to search for a project description that contains the word `Lamar` and also contains the word `Koenig`, the filters will ignore the first word and use only `Koenig`.

This is likely a data structure problem caused by the way the filters being stored using the name of the field, so when a new filter is added o

[2021-06-04 16:53] dianamartin commented on #6182
# Diana's Notes
## TIA Requests page
### Announcements table (Header)
  **- Keep default, incorporate page rule**
  - Page rules, hides the table completely
- Custom: Has weird divider bar, scroll bar? hiding the header makes the "No Announcements" look funny

## Filter Menu
- Take "North, Central, South" filters
- Remove the "empty filters" for separation purposes

## Request Information Form - C

[2021-06-04 16:58] Nadin-Nader commented on #2397
Subha is going to test her changes to make sure its ready for UAT

[2021-06-04 17:01] Nadin-Nader commented on #5578
Subha will be working on this today

[2021-06-04 17:02] Nadin-Nader commented on #4071
## **Status:**

Still waiting on CTM DevOps to deploy to PROD.

[2021-06-04 17:12] Nadin-Nader commented on #6021
## **Status:**
Subha spoke with Martin via email and Subha will be working on the single commit for this;
Email from Subha to Martin and their suggestion:

[2021-06-04 17:30] dianamartin commented on #6236
Added fields:
- `ISD NAME`
  - AISD (Austin)
  - DVISD (Del Valle)
  - EISD (Eanes)
  - MISD (Manor)
  - PISD (Pflugerville)
  - RRISD (Round Rock)
  - LISD (Leander)
  - Travis County
  - Private

- `GEO AREA`
  - Central
  - Northeast
  - Northwest
  - Southeast
  - Southwest

Messaged Kenny

Use the selections from this list for the ISD NAMES
AISD (Austin)
DVISD (Del Valle)
EISD (Eanes)
MISD (M

[2021-06-04 17:44] atdservicebot opened #6309 "New Features - HR App - On-Boarding Forms"
**Customer:** Nathan B w/ HR

Other / Not Sure

We are looking at adding additional forms to the HR Knack system for our new on-boarding process that we are rolling out this summer.  I have spoken with Diana and we will be scheduling a meeting with her to discuss, but she asked to have a ticket put in the system.

Flexible  — An extended timeline is OK

July timeline.

Nathan B.

Request ID: DTS21

[2021-06-04 17:57] atdservicebot opened #6310 "[URGENT] Can't assign PR to next level reviewer"
Finance & Purchasing

2021-06-2735
IN PURCHASE APPROVAL SYSTEM. I CANNOT ASSIGN TO NEXT LEVEL REVIEWER.
SORRY FOR THE CAPS

Internet Browser: Chrome

Billy B.

Request ID: DTS21-102155

[2021-06-04 18:12] Nadin-Nader commented on #3640
## **Status:**
This has been promoted to PROD per Martin. I will send an email to the Stakeholders to let them know.

[2021-06-04 18:13] Nadin-Nader commented on #5579
Vish has scheduled a UAT Session with Ryan for Monday 6/7/21 at 2pm

[2021-06-04 18:21] TracyLinder commented on #5891
Future State Workflow:

**First (Stop-Gap)**

- Insert the ROW Admin at the beginning of the folder creation
- Create the EX child folders in Pending Customer Action

**Final (For CIP)**
- Upon activation of UC, the system will create the relative EX permit(s) w/ Pending Customer Action Status
- Sends automated emails all UC folder people records with the child folder information & help text

[2021-06-04 18:23] TracyLinder opened #6311 "New EX Folder Status: Pending Customer Action"
### Add 'Pending Customer Action' as a valid EX folder status.

**Stakeholder:** Tracy, Greg Pep.

**Acceptance Criteria:**
- 'Pending Customer Action' is an available folder status.
- No other automation or processes need to be built.

[2021-06-04 18:37] TracyLinder commented on #6009
### 6/4/21

- Refined #5891 Update when Right-of-Way Admin (50075) is Inserted

[2021-06-04 18:47] Nadin-Nader commented on #6216
Subha is still working on this

[2021-06-04 19:12] dianamartin commented on #6310
I logged in a Admin, reassigned the PR to myself and went to the Review Approved Details page. I clicked around and made sure I understood the expected behavior. Billy just needed to approve his decision instead of "Assign Next Reviewer" at that point.

I messaged him

- "Your Decision" - Approved
- "Submit for Budget Review" - No
- Then the "Next Reviewer" field pops up and then you can assign to

[2021-06-04 19:12] #6310 closed

[2021-06-04 19:31] Nadin-Nader commented on #2397
We were able to test this in our meeting today with ROW (Izzy) and it did not pass as the PVT option in the list is not generating the TURP Right of Way Usage fee (old info # 75942) when the Event Review is accepted.
Subha is going to look over the code to see whats going on.

**Status:**
Not approved for PROD

[2021-06-04 19:44] dianamartin commented on #6281
Emailed Billy back

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/da1b3cb6-bbda-4cba-840d-24855695715f)

[2021-06-04 19:44] #6281 closed

[2021-06-04 19:50] Nadin-Nader commented on #5961
@vschandramouli schedule time with Paloma

[2021-06-04 19:53] dianamartin commented on #6295
I talked to Jamie about this request 2 days ago. He was saying that requesters have put in work but can't convey the urgency/priority of the data collection requests. He spoke with Allison M. about someone from TED being the point of contact to determine which requests were considered Priority.

We talked about which pages this would go on, primarily the "Manage Requests". He'd like a field that i

[2021-06-04 19:55] ChrispinP commented on #6289
I have updated the RPP Portal page, how does this look?
![image](https://user-images.githubusercontent.com/67915167/120856032-d52ee380-c544-11eb-8df2-7e6bcbd01646.png)

[2021-06-04 19:58] atdservicebot opened #6312 "Add Related Table to ATD Maintained Streets to GISMAINT"
**Customer:** Susanne

ArcGIS

Request to add table to GISMAINT. The table will be a related table of ATD_maintained_streets with a 1:Many relationship.

File path: \\coacd.org\dfs\TPSD\ATD\ATD_GIS\Markings\41_Markings_Maintenance_Dates\map_data\atd_maintained_streets.gdb
Table name: contractor_final_atd_maintained_streets_new

Soon — This week

This will be used to track contractor maintenance da

[2021-06-04 20:02] TracyLinder opened #6313 "Meeting: Scoping FY22 Fee Updates for TDS & SIF"
### 6/4/21

[2021-06-04 20:03] ChrispinP commented on #6290
Updated Application Confirmation email
![image](https://user-images.githubusercontent.com/67915167/120856827-fcd27b80-c545-11eb-8c17-1f03a09e43e9.png)

[2021-06-04 20:12] TracyLinder commented on #6313
<img width="1357" alt="Screen Shot 2021-06-04 at 3 11 51 PM" src="https://user-images.githubusercontent.com/49930868/120857699-4a031d00-c547-11eb-912a-39e48b08b830.png">
<img width="1347" alt="Screen Shot 2021-06-04 at 3 12 07 PM" src="https://user-images.githubusercontent.com/49930868/120857710-4f606780-c547-11eb-856b-9cffab043990.png">

[2021-06-04 20:16] TracyLinder commented on #6313
### TDS FY22 Fee Updates:
- Tracy will map the fees in her fee tracker
- Sangeeta & Nate will confirm which fee updates are final
- We will sync back up the week of 6/14

[2021-06-04 20:25] ChrispinP commented on #6275
Updated Links for the approve/reject submission emails.

@TracyLinder Should we re-add these two emails when a reviewer creates either a scope submission or submission record themselves?
![image](https://user-images.githubusercontent.com/67915167/120858865-090c0800-c549-11eb-9149-f03cabfe2e95.png)

[2021-06-04 20:41] dianamartin commented on #6295
Added new field
`Timeline`
- Normal
- Priority - background color: #E41A1C
- CAF - background color: #367DB7

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/188e04e8-63fe-4047-8a9d-8c1054c6069a)

[2021-06-04 20:43] dianamartin commented on #6295
Messaged user

- Normal
- Priority - background color: Red
- CAF - background color: Blue

[2021-06-04 20:44] #6270 closed

[2021-06-04 20:45] #6149 closed

[2021-06-04 21:00] dianamartin opened #6314 "Testing trigger button default look in new builder"

[2021-06-04 21:01] TracyLinder commented on #6313
### SIF

- Will begin charging June 2022
- Be ready to perform UAT by 1st quarter of 2022
- Be ready for go-live by April 2022
- TIA Dev Review team will assess the SIF fees (TIA Portal - KNACK & AMANDA)
- Dan H.'s team will be doing project feasibility & prioritization
- Amica's team will perform the project management (MOPED)
- [ ] Ask John to invite Amica, Dan, and Amenity to next week's meetin

[2021-06-04 21:02] dianamartin commented on #6314
I tested in my sandbox what it would be like to add a trigger button on the details of page
- When I added the "trigger button", the text came in as normal font, not bolded, not underlined, did not look like a button or outline

[2021-06-04 21:06] #6314 closed

[2021-06-04 21:10] dianamartin commented on #6282
Amenity said

[2021-06-04 21:10] #6282 closed

[2021-06-04 21:48] #6313 closed

[2021-06-04 22:13] dianamartin commented on #5934
@amenity yes, I believe so

[2021-06-04 22:15] dianamartin opened #6315 "Update SMB Contractor Help Guide in GitBook"
Christina T.
SMB

- [Contractor SOP: SEFBO](https://docs.google.com/document/d/1wLI_eELis8YTM78-Wvd4vFaWwrB7iJeIc_ga4jRTqZE/edit?ts=60b943c90)
- [Contractor SOP: DIJ](https://docs.google.com/document/d/18HTP8EEYZWbaiPotqPXVjRTEywfcX5H8svFPjwI44nA/edit?ts=60b9438e)

[2021-06-04 22:18] dianamartin commented on #6309
Nathan has scheduled a meeting for 6/15 to discuss this. Will forward Stephanie the meeting invite.

[2021-06-05 01:20] amenity commented on #6314
Thanks, @dianamartin @ChrispinP. I think it makes sense not to have it as a prominent button and would recommend leaving as the default, unstyled w/o custom HTML in TIA. cc/ @TracyLinder.

@ChrispinP - can you remove any custom HTML from the elements in the next test instance, with the exception of those that are standardized in other Knack apps?

[2021-06-05 01:28] amenity commented on #6308
Thanks, @sergiogcx! @chiaberry - will you size, plz?🙏👕

[2021-06-06 19:54] johnclary opened #6316 "Enhancement: Track project road classification level"
Per Cole, it will be helpful for PIO, executives to see projects that impact major streets. Needs further scoping.

Considerations:
- a project may touch multiple roads of different classes
- the CTN features have a road classification in GIS—would need to add that to the vector tiles and decide where to store that info in the Moped DB (an obvious choice would be the `moped_project_feature`

[2021-06-06 22:54] johnclary opened #6317 "Enhancement: Ability to edit and "delete" comments"
As someone who commented on a project, I would like to edit my comment, and maybe even soft-delete it, so that I can fix my typos and my comment will reflect what I intended to say.

#### Considerations
- can anyone edit anyone's comment?
- in addition to the existing created date/author, it would be good to show modified date/author if we allow editing of each-other's comments.
- while we're at i

[2021-06-06 22:57] #6317 closed

[2021-06-07 00:51] amenity commented on #2167
@chiaberry - eying this for you. @johnclary said it will need to be better scoped and is probably a two-weeker.

[2021-06-07 01:24] #6084 closed

[2021-06-07 01:25] amenity commented on #5084
This is tooo old to be relevant.

[2021-06-07 01:25] #5084 closed

[2021-06-07 01:33] amenity commented on #4721
@sergiogcx @mateoclarke — I am not sure why I thought this would relate to #5747... Does this still need to be done?

[2021-06-07 01:35] #5902 closed

[2021-06-07 01:43] #5470 closed

[2021-06-07 01:44] amenity commented on #5178
This is obsolete

[2021-06-07 01:44] #5178 closed

[2021-06-07 01:46] amenity commented on #5747
@sergiogcx Can we call this epic closed?

[2021-06-07 01:48] amenity commented on #5019
JD isn't currently working on the project. We'll add comments as needed. cc/ @sergiogcx

[2021-06-07 01:54] #5304 closed

[2021-06-07 01:58] amenity commented on #5812
This is redundant.

[2021-06-07 04:21] amenity opened #6318 "Onboard Janet to DTS ✨ 😊 👋 and Mobility Project Viewer"
### Housekeeping

- [ ]  ​[Log in to your City of Austin email](https://outlook.office365.com/)​
- [ ]  ​[Set up your email signature](https://docs.google.com/document/d/1OAoBll9rIl6XZq2uOShm5HCbHJboOt0SLP_wK6tjkEE/edit)​
- [ ]  ​[Create a Google account for your Austintexas.gov email address](https://atd-dts.gitbook.io/atd-staff-resources/general/using-google-as-a-city-employee)​
- [ ]  If you do

[2021-06-07 14:05] dianamartin opened #6319 "Requesting access to the "Manage Requests" page on Data Tracker"
Jonathan L.
AMD

Emailed

[2021-06-07 14:05] dianamartin commented on #6319
Gave Jonathan "Traffic Count Editor" user role as he supervises over that team.

[2021-06-07 14:08] dianamartin commented on #6319
Emailed user back, cc'd Jamie A.

[2021-06-07 14:08] #6319 closed

[2021-06-07 14:09] SurbhiBakshi commented on #5966
Thanks @ChrispinP!

[2021-06-07 14:32] SurbhiBakshi commented on #4732
Email from Knack -

Thanks for your patience, the support load has been higher than normal lately, and the setup here requires re-familiarizing so I wasn't able to dive back in head first.

I did sync up with Norma, and she did confirm that using a date type equation would work, and that it wasn't working before with numeric. To be honest, I have seen it set up both ways, and I can't particularly

[2021-06-07 14:33] #6211 closed

[2021-06-07 15:02] moorerst commented on #6263
closing this issue

[2021-06-07 15:02] #6263 closed

[2021-06-07 15:03] johnclary commented on #5847
Just reached out to Brian C. to confirm this is still needed.

[2021-06-07 15:05] johnclary opened #6320 "Publish parking revenue data to open portal"
Per Rob, we should work with Parking Enterprise (Joseph, Jason R) to make their parking revenue and utilization data public.

The data currently lives in ArcGIS Online. We should:
- Work with PE to define which data to publish
- Work with our dev team to implement a publishing script from AGOL to Socrata

[2021-06-07 15:07] johnclary commented on #6320
@SurbhiBakshi can you take the lead on this next sprint? First step will be to meet with Joseph A.

[2021-06-07 15:09] moorerst commented on #972
meeting scheduled 6/11

[2021-06-07 15:12] moorerst commented on #6289
confirmed with RPP staff the changes look good. Closing issue

[2021-06-07 15:12] #6289 closed

[2021-06-07 15:19] TracyLinder commented on #4469
@Nadin-Nader will you please let Martin know that we cannot implement our FT22 fee updates until this goes to PROD.

[2021-06-07 15:27] SurbhiBakshi commented on #6320
@johnclary, sounds good

[2021-06-07 15:43] TracyLinder commented on #6306
### EX Fee Updates

**Excavation Application Fee - New --$290**
- Only applies to subtype Private Contractors 50540
- Exclude if folder info 'Emergency' = Yes
- Includes post-payment features (applicant must pay before folder status updates to Internet Pending)

Excavation Application Fee - Secondary - $95
- Fee line will not be inserted by system
- Applies when folder info 'Secondary' = Yes
- Thi

[2021-06-07 15:58] TracyLinder commented on #6306
### TURP Fee Updates

- No longer charging based on duration (short/long term subtypes)
- We should transition to using the same folder subtypes as #4469
- There's no specific fee name for 'Secondary' because the fee is the same as TURP New Permit

**TURP New Permit $320**
- Applies to subtype Private Contractors
- Exclude if folder info 'Emergency' = Yes
- Includes post-payment features (applican

[2021-06-07 16:03] amenity commented on #5561
@johnclary took care of this [here](https://github.com/cityofaustin/atd-data-tech/issues/6250).

[2021-06-07 16:03] #5561 closed

[2021-06-07 16:06] moorerst commented on #6290
Updates made as requested by RPP staff. Closing issue

[2021-06-07 16:06] #6290 closed

[2021-06-07 16:48] TracyLinder opened #6321 "New Folder Info: Secondary?"
### New RW-TURP & EX folder Info: Secondary?

**Stakeholders:** Kim, Paloma

**Acceptance Criteria:**
- A new info field needs to be added to EX and RW-TURP folders.
- Info Description: Secondary?
- Info type: Boolean
- Default Info Value: 'No'
- Info should be Required for Insert and Required for Issue (Is mandatory for folder creation & issuance)
- "Secondary?" info should be published on Portal

[2021-06-07 16:53] TracyLinder opened #6322 "Update RW-TURP WorkTypes (On PROD)"
# CANNOT GO TO PROD BEFORE 10/1

### Update RW-TURP Worktypes to match new EX subtypes

**Stakeholders:** Paloma, Kim, Izzy

_**Cant go into PROD til after 10/1, can mess with current fee logic**_

**Acceptance Criteria:**
- Work types for Right of Way Permits with Temporary Right of Way use subtype need to be changed to the items below. Work types that currently exist for RW-TURP permits will nee

[2021-06-07 16:55] TracyLinder commented on #6306
Created #6321 New Folder Info: Secondary?
Created #6322 Update RW-TURP WorkTypes

[2021-06-07 17:07] alan-deanda commented on #5740
chevron placement is complete on blowup side. closing this issue, and I'll open a new one to track the placement on the full side

[2021-06-07 17:07] #5740 closed

[2021-06-07 17:10] alan-deanda commented on #5742
Creating a custom base map was the best option for the print bike map.

[2021-06-07 17:10] #5742 closed

[2021-06-07 17:10] #6196 closed

[2021-06-07 17:40] jaime-mckeown opened #6323 "AMANDA Street Closures: 6/7/21"
Update AMANDA Street Closures and Active Parking Permits feature layers & Web Maps.

[2021-06-07 17:41] jaime-mckeown commented on #6323
Updates complete.

[2021-06-07 17:41] #6323 closed

[2021-06-07 18:00] TracyLinder commented on #6306
![Uploading Screen Shot 2021-06-07 at 1.00.05 PM.png…]()

[2021-06-07 18:01] TracyLinder commented on #6306
<img width="856" alt="Screen Shot 2021-06-07 at 1 00 05 PM" src="https://user-images.githubusercontent.com/49930868/121067333-88d7e380-c790-11eb-9fa5-54e9e9f6043f.png">

[2021-06-07 18:33] SubhaShroff commented on #5578
@Nadin-Nader  @vschandramouli  @TracyLinder Here is sample Report output for your review. I have updated the report to display the project managers of the permit in the same row separated by comma. In the output, **6th page** - I have highlighted the permit that displays two Project Managers.
[Uploading 99020_AULCC_Report.pdf…]()

[2021-06-07 19:12] TracyLinder commented on #6106
We've analyzed this as much as we can. We need FSD & partner department feedback. I'm waiting on Peggy to let me know how she'd like to proceed.

[2021-06-07 19:12] TracyLinder commented on #6307
We've analyzed this as much as we can. We need FSD & partner department feedback. I'm waiting on Peggy to let me know how she'd like to proceed.

[2021-06-07 19:12] #6307 closed

[2021-06-07 19:13] dianamartin commented on #6303
rescheduled for 6/8 at 2 pm

[2021-06-07 19:14] #6244 closed

[2021-06-07 19:15] dianamartin commented on #6309
Linda emailed the ATD HR forms that they're looking to digitize into Knack forms.

- 30 day Supervisor Survey Request for Employee SSPR
- 90 day Supervisor Survey Request for Employee SSPR
- 120 day Supervisor Survey Request for Employee SSPR
- Employee 30 Day Feedback

forwarded email to Stephanie

[2021-06-07 19:17] vschandramouli commented on #5579
Performed UAT walkthrough with Ryan M and Darren U. Report output format looks good and information displayed looks appropriate per Ryan and others.

@SubhaShroff  Please work on deployment for PROD.

CC @Nadin-Nader

[2021-06-07 19:29] TracyLinder opened #6324 "TIA Project Meeting 6/7/21"

[2021-06-07 19:34] moorerst opened #6325 "Meeting: HR forms for on-boarding process"
- Meeting to discuss knack forms for our on-boarding process.

- Draft forms located: `G:\ATD\ATD_GIS\02_ENT_APPLICATIONS\app_Human_Resources_Manager\reference`
  - 30 Day Supervisor Survey
  - 90 Day Supervisor Survey
  - 120 Day Supervisor Survey
  - Employee 30 Day Feedback

- Meeting scheduled for 6/16

[2021-06-07 19:45] jaime-mckeown opened #6326 "ATD GIS Data Questions from 311"
From Bill S:

[2021-06-07 19:50] chiaberry commented on #6308
The filters should stack as "and" and not "or" right?

[2021-06-07 19:59] jaime-mckeown commented on #6326
Helped Bill with his questions.

[2021-06-07 20:01] jaime-mckeown opened #6327 "Protected Streets Questions - Scott F."
Scott asked me about being able to see protected streets in GIS. He doesn't have ArcGIS installed, so would need AGOL map to see.

[2021-06-07 20:02] jaime-mckeown commented on #6327
Showed Scott the ATD GIS Reference Web Map since he doesn't have GIS. The protected streets layer was in the map. We noticed that no aerials were in the map, added Nearmap imagery so it would be more helpful.

[2021-06-07 20:30] sreelathab commented on #5576
@Nadin-Nader , @TracyLinder  - Please find the Detail report format layout for review.

![image](https://user-images.githubusercontent.com/65371095/121083557-335a0180-c7a5-11eb-8a04-9fe94a908449.png)

[2021-06-07 21:15] SubhaShroff commented on #2397
@Nadin-Nader  necessary changes are done in local and demo video is sent in email (6/7/2021).

[2021-06-07 21:20] dianamartin commented on #6319
Jonathan replied

[2021-06-07 21:44] johnclary commented on #5735
@amenity is there anything left for @chiaberry to do on this?

[2021-06-07 21:47] johnclary commented on #5779
@chiaberry please move the code you've written to production. then we'll re-test the issue you're experiencing.

[2021-06-07 21:52] SubhaShroff commented on #5579
@Nadin-Nader  @vschandramouli
PROD deployment request is submitted -  SCTASK0143247 (INC0106738).

[2021-06-07 21:58] amenity commented on #5735
@johnclary @chiaberry nope, thanks!

[2021-06-07 21:58] #5735 closed

[2021-06-07 22:00] dianamartin commented on #5735
@amenity don't we need an issue to implement the service request button on all the apps?

[2021-06-07 22:06] amenity commented on #6308
@chiaberry I think so. I have a feeling @johnclary has thoughts.

In sprint planning, @sergiogcx suggested we allow the user to choose and/or. Shall we make an issue for that enhancement  @johnclary? I think it is going to be useful down the line, for sure.

[2021-06-07 22:13] amenity commented on #5735
@dianamartin, that's here: https://github.com/cityofaustin/atd-data-tech/issues/4932

[2021-06-07 22:24] Nadin-Nader commented on #3640
Email to Maria:

[2021-06-07 22:40] ChrispinP commented on #6097
Redesign is now ready to review. Here are the new editable tables. Reviewers are now able to edit, view, and remove mitigations. Multiple locations can now be added to a primary location.
![image](https://user-images.githubusercontent.com/67915167/121095691-6c4ea200-c7b6-11eb-98b9-67d04baa26ad.png)

The edit improvement page:
![image](https://user-images.githubusercontent.com/67915167/121095783-97

[2021-06-08 14:01] SubhaShroff commented on #4071
### Status:
PROD deployment is done last evening. 🎉🎉

[2021-06-08 14:11] SubhaShroff commented on #5579
### Status:
PROD Deployment is done. :)
**NOTE:** George Shirai from CTM Team has suggested to check if it is done, properly, as he doesn't promote the reports, often.

[2021-06-08 14:30] moorerst commented on #5932
Waiting response to check-in email sent to Ryan.

[2021-06-08 14:39] moorerst opened #6328 "Inventory Hotel Desk space at Cameron Rd"
Configure 8700 Cameron Road location in Robin
Currently 5 Hotel desk setup in Robin limited amenities
Possibility 6 -7 more Hotel desk can be set up with limited amenities
There are limited number of chairs at the Hotel desk

- [x] Do an inventory of Hotel Desk availability and needs at Cameron Rd

[2021-06-08 16:17] Nadin-Nader commented on #4469
Spoke with Subha and Martin and we are able to get this and the portal side going again. We will need to reconfigure the commits for #6021 and one for this one.

[2021-06-08 16:20] jaime-mckeown commented on #6312
- Imported new table to Maint
- Added new field to ATD Maintained Streets, setup Attribute Rule to calculate new ID field based on the markings data sequence.
- Checked metadata, need field descriptions for all fields from Christina.

[2021-06-08 16:21] #6327 closed

[2021-06-08 16:21] #6326 closed

[2021-06-08 16:21] jaime-mckeown commented on #6155
Submitted request to become a Drupal Content Editor, waiting to hear back.

[2021-06-08 16:30] Nadin-Nader commented on #4469
Latest commit- 0e10ba55123e approved. Next step, PROD.

[2021-06-08 16:30] moorerst opened #6329 "Error when entering 3 character license plate number in RPP"
Resident getting Invalid License Plate number when entering a 3 digit personal license plate number.

![image.png](https://images.zenhubusercontent.com/5da61135c9a7f8000179986e/fa879116-84c2-44e9-8b6d-3111238becf2)

[2021-06-08 16:34] Nadin-Nader commented on #6021
Audited and approved commits 48199ba190be, 7bc84a190b1d, 6200e2acf126.
Next step is to create DP and request the TASK to deploy to PROD

[2021-06-08 17:05] Nadin-Nader commented on #4071
Sent email to Stakeholders informing them that this is on PROD and to keep an eye on it for any issues (see email below). I will keep this open til Monday 6/14/21. I will follow up then to see if there are issues or if i can close the card.

[2021-06-08 17:10] vschandramouli commented on #6249
Had a meeting with Paloma and Jonathan. They requested a list of users with permissions to RW, EX and DS folders so they can review who needs permissions. Have sent the list today and will touch base with them in a couple days to see if they had a chance to review.

[2021-06-08 17:41] SubhaShroff commented on #6021
@Nadin-Nader  DEV Deployment request is submitted - SCTASK0143598 (for commits-48199ba190be  -7bc84a190b1d  -6200e2acf126  -0e10ba55123e).

NOTES: These commits are to replace the commit -**4e228fc303cc** that was causing the conflict in PROD as per Martin. Lookupcode=99061 table is totally rolled off due to PIPS roll off, in PROD. So I had to do the above commits to resolve the commit conflict in

[2021-06-08 17:44] TracyLinder opened #6330 "Update Fee Dates - All ATD Fees (Main Card)"
### Make sure all ATD fee codes have the correct dates so they won't break on 10/1

**This is the main card for the epic**

The Three child cards are:
50255 (SCP Fees ) - #7089
90266 ( SP,C, C8, ZC fees) - #7090
50200 (RW Fees) - #7093

Card 1 of 3

[2021-06-08 17:45] Nadin-Nader commented on #5579
@SubhaShroff Awesome. I will send an email to the stakeholders and close this out

[2021-06-08 17:49] TracyLinder opened #6331 "Amanda UC folder - Automatic emails that get sent out need to be updated"
Emails sent by the UC folder need to be updated. There is outdated information that confuses customers.
_SCTASK0141163_

[2021-06-08 17:50] TracyLinder commented on #6331
**Email from Jaclyn:**

Emails that need to be updated are generated from the UC folder after the following processes:

INTERNET PENDING ------ Result: Approved ---- Subject Line: Application Accepted

APPLICATION REVIEW ----- Result: Approved ---- Subject Line: Application Accepted

PERMIT COMPLETENESS CHECK ------- Result: [All Results] ------- Subject Line: Austin Utility Location

I included t

[2021-06-08 17:52] TracyLinder commented on #6331
![Screen Shot 2021-06-08 at 12.52.00 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/e885132a-3f42-419e-a51e-137c48b0704a)

[2021-06-08 17:55] Nadin-Nader commented on #5579
Sent email to Ryan and Darren informing them that this is now on PROD and that i will be closing the card on Wednesday if there are no issues. (see email below)

[2021-06-08 17:56] Nadin-Nader commented on #5579
## **Status:**

On PROD, Keeping open til 6/11/21 (Wednesday)  and closing then if no issues are reported

[2021-06-08 17:57] TracyLinder commented on #6331
**Email to Jaclyn:**

Hi Jaclyn,

We've opened a DTS Ticket for this request. It will be prioritized with the other ROW requests in our backlog. Can you tell me what the urgency is on this request please? (Critical, Urgent, Important, Not Very Important...)

Thank You,

[2021-06-08 18:08] TracyLinder commented on #6331
Jaclyn said this is Important, but not urgent or critical.
@Nadin-Nader will get it prioritized in our backlog

[2021-06-08 18:37] #5227 closed

[2021-06-08 19:24] dianamartin commented on #6303
# Diana's Notes

Small Cell

John M. - new boss for small cell
Using Microstrategies
Microstrategies - map

Small Cell - web application (DSD)

Would prefer to enter into AMANDA
Have XY

- Smart Sheets
- Data Tracker
- AMANDA

## Process
- Application comes through AMANDA
- site plans PDF attached
- customer entry for XY coordinates (not required currently) - would like to make required entry
- en

[2021-06-08 19:39] Nadin-Nader commented on #6331
**Bold and Italic = What needs to be added**

Application Accepted email. This email goes out when the Application Review is Accepted:

To: Lozano, Jaclyn <Jaclyn.Lozano@austintexas.gov>
Subject: [TEST] Application Accepted - TEST E-MAIL. PLEASE IGNORE

TEST E-MAIL. PLEASE IGNORE

Thank you for your submittal to the Austin Utility Location and Coordination Committee (AULCC).  Your Utility Coordina

[2021-06-08 21:17] #6145 closed

[2021-06-08 21:52] dianamartin commented on #6328
I checked the 5 stations, amenities include 1 monitor and 1 (4 port) docking station. There was 1 station with a guest chair that rolls and then there was a regular chair. This area just has no chairs, not suitable until this issue is resolved.

Potential Desk Space
- 2 cubes besides the 5 hoteling area
- cube in front of AMD offices (no electrical, I think)
- B VDW old office (between Ronnie and

[2021-06-08 22:06] SubhaShroff commented on #5875
### Status:
I will take up this, once I am done with #6021 & #2616.
Or as per the priority.

[2021-06-08 22:07] SubhaShroff commented on #2397
### Status:
Waiting for the feedback to do the new commit.

[2021-06-08 22:10] SubhaShroff commented on #6216
### Status:
Done with 1st set of processes. After finishing with #6021 tomorrow, I will be picking the processes @TracyLinder has listed.

[2021-06-08 22:13] SubhaShroff commented on #4469
### Status:
Waiting for #6021 to reach TEST stage. Then, I will submit a new request to PROD deploy the reverted commit.

[2021-06-08 22:23] SubhaShroff commented on #5578
### Status:
As per Nadin's feedback on Teams:
[12:15 PM] Nader, Nadin
    Had a few questions, Can the tables be centered to the page? and on page 3 and 4, the tables last 2 lines are on a completely different page, is there any way we can get it on one page?

- The tables are centered.
- The 3rd table, last lines moving to next page :- I tried couple of fixes, but nothing looked as a good solutio

[2021-06-09 14:08] atdservicebot opened #6332 "Please add the size "6x30" to the list of sign sizes under the "Design Review" tab on the sign fabri..."
Signs & Markings Operations

Please add the size "6x30" to the list of sign sizes under the "Design Review" tab on the sign fabrication work orders.

Adding the size of the retirement sign to the list of sign sizes.

None

Christina T.

Request ID: DTS21-102165

[2021-06-09 14:26] atdservicebot opened #6333 "[URGENT] Change permissions to enable approval of TLC form"
Other / Not Sure

I received an email from ATD HR with a link to Knack to approve the teleworking form for Eliza and David . I've received the following error code:

" Kirk's email doesn't have permission to access this page"

Please provide me the correct permissions to approve the form  Thanks, Kirk

Urgently — Today or tomorrow

I need  permission to approve the TLC form today as it is due.

Ki

[2021-06-09 14:31] sreelathab commented on #5576
@Nadin-Nader , @TracyLinder  - Please find the consolidated Summary & Detail report of Permits by City Department. I am still working on Testing the report.
![image](https://user-images.githubusercontent.com/65371095/121374199-51d70e80-c905-11eb-9fab-111560935639.png)

![image](https://user-images.githubusercontent.com/65371095/121374297-67e4cf00-c905-11eb-8d84-0a2c7e53ac84.png)

![image](https://

[2021-06-09 14:36] SurbhiBakshi commented on #6333
@dianamartin - I can look into this issue.

[2021-06-09 14:55] SurbhiBakshi commented on #6333
Changed Kirks permissions in the application and emailed him to check if this resolves the issue for him. Waiting to hear back.

[2021-06-09 15:05] moorerst commented on #6328
Scott is working with Gilda on purchasing chairs for Cameron Rd

[2021-06-09 15:06] #5355 closed

[2021-06-09 15:15] moorerst commented on #5942
Duplicate to issue #3389. Closing this issue

[2021-06-09 15:15] #5942 closed

[2021-06-09 15:19] moorerst commented on #3389
Meeting scheduled for 6/16 to discuss Knack forms for on boarding process issue #6325.
If time permits we will ask about other priorities.

[2021-06-09 15:39] amenity opened #6334 "Work with Nathan to define + refine list of Moped terms"

[2021-06-09 15:51] #6306 closed

[2021-06-09 16:34] amenity commented on #6318
@janetchuhl - added a few items to this list!

[2021-06-09 16:46] jaime-mckeown opened #6335 "Pro Migration Tasks - 6/2 - 6/15"

[2021-06-09 16:50] jaime-mckeown commented on #6335
Shanon updated the installs list, going through to check updates and making other changes that have come up.

[2021-06-09 16:52] SurbhiBakshi opened #6336 "Add Human Resources Manager as one of the options in the DTS Service Request applications drop down"

[2021-06-09 16:55] atdservicebot opened #6337 "KNACK Employee screen indicates Banner Division however there isn't a way to add the field in the Ed..."
Data Tracker

KNACK Employee screen indicates Banner Division however there isn't a way to add the field in the Edit screen

Linda E.

Request ID: DTS21-102175

[2021-06-09 17:10] dianamartin commented on #6337
@SurbhiBakshi I'll take this one

[2021-06-09 17:23] SurbhiBakshi commented on #6337
thanks @dianamartin! Linda brought it to my notice that she can't select Human Resources from the application drop down. I think we were talking about that recently, and should probably discuss in Apps Sync next week. I created an issue as a reminder - #6336

[2021-06-09 17:29] janetchuhl opened #6338 "Add Janet to DTS "About Us" webpage"
preferred pronouns: she/her
headshot on [Google drive](https://drive.google.com/file/d/1hEVYyuf2BNdcUVNLI5smQrTaF03zumBx/view?usp=sharing)

[2021-06-09 17:44] dianamartin commented on #6336
@SurbhiBakshi I think there's another issue that exists to fix the apps list for this

[2021-06-09 17:50] #6273 closed

[2021-06-09 17:55] moorerst commented on #6329
Specialty, Handicap, and Govt all have a minimum of 5 characters

we previously accepted his 3 digit license plate on app 2020-1154. Looks like that must really be his plate #,
Yea, this is definitely an exception to the rule. I only found 1 other 3 character plate entered and three 4 character plates.
if we stick to a 5 character minimum we'll need to add language to include the hash symbols

Ema

[2021-06-09 18:14] amenity opened #6339 "Perform preliminary project planning"
### Getting started
- [x] Review [Mobility Project Viewer overview](https://github.com/cityofaustin/atd-data-tech/issues/1106)
- [x] Review Moped [overview](https://github.com/cityofaustin/atd-data-tech/issues/307) | [roadmap](https://github.com/cityofaustin/atd-data-tech/#workspaces/data--technology-services-5caf7dc6ecad11531cc418ef/roadmap?labels=product%3A%20moped&repos=140626918,185268238) | [

[2021-06-09 18:18] amenity opened #6340 "Perform secondary research"
Take a "mood board" approach in [Miro](https://miro.com/app/board/o9J_l_y7IaA=/)
Collect examples of mobility/infrastructure project tracking assets and tools

[2021-06-09 18:25] dianamartin commented on #6328
I'm working with Scott to evaluate which desks are available for hoteling purposes

[2021-06-09 18:27] johnclary opened #6341 "Replicate automated status logic in new app"
Replicated the automated TPC status based on the child submissions—as is currently implemented in the Data Tracker version.

[2021-06-09 18:28] moorerst commented on #6329
Need to reach out to RPP staff and ask how 3 character license plates are handled in the license reader software.
Also consider moving the minimum to 3 characters

[2021-06-09 18:31] johnclary opened #6342 "[Bug] Knack SSO Certificate Validation Errors"
This validation error is present whether certificate header/footer are present or missing.
![image](https://user-images.githubusercontent.com/67915167/121750144-754eb480-cad1-11eb-9587-25cd66ca4650.png)

Affecting ROW Portal and ATD Forms, two apps setup with new SSO after the New Builder Migration

[2021-06-09 18:53] johnclary commented on #6303
thanks, @dianamartin !

[2021-06-09 18:53] #6303 closed

[2021-06-09 18:59] johnclary opened #6343 "Follow-up with Susanne Harm on new employee email list needs"
From Susanne H:

[2021-06-09 19:01] johnclary commented on #6332
Assigned to Diana for current Sprint.

[2021-06-09 19:49] amenity commented on #4720
@chiaberry is removing the phase drop down

[2021-06-09 19:49] #4720 closed

[2021-06-09 19:59] johnclary opened #6344 "[Bug] Projects List: Current Phase column is blank"
On the projects list view, the "Current Phase" column is blank for new projects. It seems to be related to the fact that the "Current Phase" is now being populated from the "Active" phase of the project timeline.

<img width="974" alt="Screen Shot 2021-06-09 at 2 52 54 PM" src="https://user-images.githubusercontent.com/14793120/121420502-c70d0880-c932-11eb-84f3-586ed2cea7c6.png">

<img width="1071

[2021-06-09 20:09] moorerst commented on #6329
@ChrispinP Response from RPP Staff:
I’d say if it’s not a problem let’s change the minimum. I’ve heard that complaint a few times from residents in the past.

- [ ] change the minimum for license plate from 5 to 3 characters

Thanks

[2021-06-09 20:16] #6199 closed

[2021-06-09 20:16] #6066 closed

[2021-06-09 20:23] chiaberry commented on #6344
@tillyw here is where we wrote the sql view: https://github.com/cityofaustin/atd-moped/blob/main/moped-database/migrations/1621542484886_run_sql_migration/up.sql

[2021-06-09 20:35] jaime-mckeown commented on #6335
Emailed Eric in TED again as his team is not responding to moving forward. I suggested that I work with each work group separately. He liked that idea and sent me an Org Chart. Need to wait to hear back about some people that were missing from the chart.

[2021-06-09 20:37] jaime-mckeown commented on #1979
- Finally met with Maria today. We ended up talking about some things that she needs to be able to do in GIS as she doesn't have time to start fresh at the moment.
- She saved some Mxds to a directory so I can transform them into Pro Projects to make things easier for her to get going. We will be meeting again in a few months to check in.

[2021-06-09 20:37] #1979 closed

[2021-06-09 20:38] amenity commented on #6293
- Set up routing
- Create page view
- Copy https://material-ui.com/components/typography/#component

In the future can include styles:
**Colors**
_Divs/tiles to visualize each of these_
- Background
   - _Dark, Default, Paper? Not sure how these are used..._
- Primary
   - Main
   - (can there be more? What happens?)
- Secondary
   - Main
   - (can there be more? What happens?)
- Text
   - primary

[2021-06-09 20:38] jaime-mckeown opened #6345 "Convert Mxds to Projects for Maria in OSE"

[2021-06-09 20:39] jaime-mckeown commented on #6345
Mxds here: G:\ATD\Office of Special Events\OSE_Forms_Templates\GIS_MapDocs

[2021-06-09 20:39] #4721 closed

[2021-06-09 20:42] chiaberry commented on #6344
I just checked in the hasura console for moped-editor-development to compare the sql view and the moped_project table to see if there were differences on the current_phase results, are they are the same results

the query i ran
[code]

[2021-06-09 20:43] amenity commented on #6256
This may need to be addressed at the theme level so it applies to future tab components.

[2021-06-09 21:01] alan-deanda opened #6346 "Create PHB Icon"
We need a new icon for PHBs on the map. This icon needs to fit in with the existing styles of the map, and it needs to clearly indicate that it is a safer crossing/intersection than others. The icon must be simple in order to draw well on both sides of the print bike map. The icon should probably be more abstract than realistic, although calling back to symbols associated with safety, crossings, a

[2021-06-09 21:16] SurbhiBakshi commented on #6320
Meeting with Joseph and Jason scheduled for June 22nd.

[2021-06-09 21:19] alan-deanda opened #6347 "Adjust parks annotations - blowup side"
The white outline around the park annotations needs to be removed and added as a halo to print better.

[2021-06-09 21:19] alan-deanda opened #6348 "Adjust parks annotations - blowup side"
The white outline around the park annotations needs to be removed and added as a halo to print better.

[2021-06-09 21:57] atdservicebot opened #6349 "Add additional "Warehouse" for markings materials. On markings work order jobs page"
Signs & Markings Operations

Needing to add an additional "Warehouse" for markings materials. On markings work order jobs page, we would like to add "Mobility" as a warehouse option because this is an additional group that is purchasing materials for markings to use.

To see "Mobility" as an additional Warehouse option.

None yet because they just purchased materials for the first time, but we ant

[2021-06-09 22:22] dianamartin commented on #6182
# Diana's Notes - 6/9
- ## Modal Windows
### Enhancement to darken the "x" icon on modal pop-ups
  - Add Commenting labels for "Modal pop-up CSS"
  - If we turn it into a standard, have Dev review code
### Enhancement: Modal Close Styling - disable users from clicking out of model pop-up
- JS code, written in GitBook
- no use case improvement
- [ ] Add section headers
- [ ] Decision: Modal v. Stan

[2021-06-10 04:23] Nadin-Nader commented on #3640
Got a response from Ryan asking if this was the report we went over the other day in the meeting. I responded with yes and to let me know tomorrow if the report is good to go on PROD. If it is i will close the card. Email below:

[2021-06-10 04:25] Nadin-Nader commented on #5579
Got a response from Ryan asking if this was the report we went over the other day in the meeting. I responded with yes and to let me know tomorrow if the report is good to go on PROD. If it is i will close the card. Email below:

[2021-06-10 04:36] Nadin-Nader commented on #6021
@SubhaShroff this has been promoted to DEV by Martin. Please go ahead and UAT the changes and let me know the outcome so we can move this to TEST.

## **Status:**
Dev changes need to be tested to promote to TEST

[2021-06-10 04:37] Nadin-Nader commented on #4469
Still waiting on #6021

[2021-06-10 04:53] Nadin-Nader commented on #5578
@SubhaShroff I spoke to Tracy and had her look at this and her only concerns were that of the information splitting between the two pages.
@TracyLinder if there is nothing we can do to stop the information from splitting in between two pages if there are only a few over the limit, should we still go ahead with it or ask the stakeholders?

[2021-06-10 05:00] Nadin-Nader commented on #2397
@SubhaShroff i have reviewed this and saw that the changes have been made and the fee is calculating the dimensions. Go ahead and do the commit for this to go to DEV

## **Status:**
Ready for Dev Deployment.🙌🎉

[2021-06-10 13:18] Nadin-Nader opened #6350 "Create AMANDA V6 and V7 Accounts for Dawn Kirson"
Create AMANDA V6 and V7 Accounts for Dawn Kirson

[2021-06-10 13:51] SubhaShroff commented on #2397
@Nadin-Nader I did the commit for the code change - **1406a8b67ad5**. Please audit this commit when you are back.

[2021-06-10 14:17] Nadin-Nader commented on #6350
I Have already created this account for the user on AMANDA V6 TEST and PROD. I will send a SN Request to have her added to V7. I also verified and Dawn is already a part of the necessary AMANDA Active Directory groups. Once i create the SN Request, i will close this out.

[2021-06-10 14:24] mateoclarke opened #6351 "VZD Austin Full Purpose check"
From XA:

[2021-06-10 14:39] mateoclarke commented on #5764
Two updates from the May monthly DTS/VZ checkin:

- Brazos data retention isn’t strict to 10 years and can serve as an alternative if we need old data, though not official and not complete data
- The next step should be work to establish summary statistics on older data before archiving older raw data

[2021-06-10 15:38] ChrispinP commented on #6329
I have updated the minimum character count for validation from 5 to 3 characters.
![image](https://user-images.githubusercontent.com/67915167/121551718-7d292e80-c9d5-11eb-9549-9c338501313d.png)

[2021-06-10 16:09] amenity opened #6352 "Implement small refinements to "Timeline" tab"
## Phases table
- Add "Description" field to phases and subphases; e.g. there are multiple types of study phases — stop study, speed study, etc.

## Milestones table
- Remove "Completion estimate" column
- Rename "Date completed" to "Date"

[2021-06-10 16:14] SubhaShroff commented on #6021
@Nadin-Nader I tested in DEV and it all looks good.

[2021-06-10 16:25] amenity opened #6353 "Compile report of VZA hours scheduled vs hours worked"
Per [VZ Progress and Prioritization meeting](https://docs.google.com/document/d/1y_MMs5TgJAheQFMWqbJdch0oeyT_eQhV1e_yaEl3uz0/edit#) today, Lewis and Rob are meeting with APD Chief of Police to discuss how to increase officer participation in VZA.

Meeting is on 6/23 so marking for this sprint, but if you want to do it the first week of the next sprint that works too, @SurbhiBakshi .

[2021-06-10 16:29] jaime-mckeown commented on #6335
- Emailed TED North, Central, South Area Groups
- All of North Area has decided to move to AGOL
- Emailed ATSD about Pro classes again
- Worked with Scott on more device updates

[2021-06-10 16:38] moorerst commented on #6329
@chrispin I'll inform the RPP staff. Thanks
Closing this issue.

[2021-06-10 16:38] #6329 closed

[2021-06-10 16:41] dianamartin opened #6354 "IT Support: Making shortened URL for Accessible Parking Program"
Allen B.
Parking - Mobility Services

Emailed Scott

Website https://www.austintexas.gov/department/transportation (under “Divisions”) then under “Parking Enterprise” – Parking Resources

- I replied to confirm that actual URL he needed

[2021-06-10 16:42] dianamartin commented on #6354
I emailed him the guide to create a TinyURL and confirmed the URL he's trying to shorten.

Emailed user

just plug it into the tinyURL page: https://tinyurl.com/app. I did it for you this time, but if you have to do it in the future just follow the steps I sent you.

[2021-06-10 16:42] #6354 closed

[2021-06-10 17:04] dianamartin commented on #6332
Added `30 x 6` choice to the `Size` field on the `work_order_sign_fabrication` object table

Emailed user

[2021-06-10 17:12] dianamartin commented on #6349
I think this in regarding reimbursements.

[2021-06-10 17:19] dianamartin commented on #6343
Emailed user

[2021-06-10 17:25] Nadin-Nader commented on #6350
AMANDA V7 Request to have account added under SCTASK0144273. Closing

[2021-06-10 17:25] #6350 closed

[2021-06-10 17:29] dianamartin opened #6355 "Meeting: Scoping Meeting: Employee list automation"
### Objective
Let’s discuss what your pain points are with ATD employee list management

### Participants
Susanne H, Debbie W, Stephanie, Diana

Optional: Nathan B.

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x

[2021-06-10 17:30] dianamartin opened #6356 "Meeting w/ DSD GIS: Proposed ownership change - small cell GIS asset discussion"
### Objective
This is a planning meeting about proposed changes and potential project timelines to see if ATD has to make some process changes until a permanent solution is in place for small cell stakeholders.

### Participants
Danny H, Cheryl V, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/

[2021-06-10 17:47] jaime-mckeown opened #6357 "New Contractor in TED requesting ArcGIS - Gavin J."
From Gavin:

[2021-06-10 17:47] jaime-mckeown commented on #6357
To Gavin:

[2021-06-10 17:48] moorerst opened #6358 "Meeting: Parking Meters Discovery Meeting - Part 2"
Attendees: Stephanie, Diana, David S., David D, Gilbert, Jeremy, Steven S., Steven S.

Discovery Meeting - learn more about your parking meter work order processes and CSR processes.

Agenda:
https://docs.google.com/presentation/d/1eiZJwZHQoz3JO-DwGmuWfRcTI1O22iT5AmYIgXJb47g/edit#slide=id.p

[2021-06-10 18:08] SurbhiBakshi commented on #6126
Asked Natalia and Lance to send me a CSV for the data or a sample. The documents in the Box folder did not contain the data in that format.

[2021-06-10 18:25] TracyLinder commented on #6009
### 6/10/21

CIP GIS Data Vision: When going to utility coordination, be able to identify the project in CIP GIS, and import the existing data into the permit folder.

[2021-06-10 18:27] TracyLinder commented on #6311
@Nadin-Nader just fYI I put this on the sprint for June 30th. Not sure if there's room but we'll figure it out.

[2021-06-10 18:44] #6204 closed

[2021-06-10 19:27] SurbhiBakshi opened #6359 "Meeting - Potential Projects for CIC Data Scientist (Vision Zero)"
**Notes [here](https://docs.google.com/document/d/1AnN_Sz7ZoY5Caw3SIrJT-xG58huHUd3ouyBWUc0xYqQ/edit?usp=sharing)**

[2021-06-10 19:29] jaime-mckeown opened #6360 "Request GIS TRAIN Courses"

[2021-06-10 19:30] jaime-mckeown commented on #6360
AGOL Workshop on 8/19

- [ ] Josh B in TED
- [ ] Steven R in TED
- [ ] Ricky C in TED
- [ ] John S in TED
- [ ] Alison M in TED

[2021-06-10 19:32] SubhaShroff commented on #5578
@Nadin-Nader  @TracyLinder
I tried to squeeze the rows in third table. Please check the attached PDF. With this format, another 6 rows of data can fit in the page, if at all any. If that format is ok, let me know if I need to change the 1st, 2nd tables format to bring the uniform look.
[99020_AULCC_Report_with_squeezedRows_in_3rd_table.pdf](https://github.com/cityofaustin/atd-data-tech/files/66339

[2021-06-10 19:41] TracyLinder commented on #6300
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/4f3a31ef-0b28-4fc8-8388-24e9a1050ece)

[2021-06-10 19:43] SurbhiBakshi commented on #6056
1. [List of projects](https://docs.google.com/document/d/1AnN_Sz7ZoY5Caw3SIrJT-xG58huHUd3ouyBWUc0xYqQ/edit?usp=sharing) from Vision Zero

[2021-06-10 19:47] TracyLinder commented on #6300
![Screen Shot 2021-06-10 at 2.46.30 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/f3e2e1a9-29f1-4142-865e-fa45a510d419)

[2021-06-10 19:48] ChrispinP commented on #6191
Boolean and Sum fields are now setup for status automation. Temporary conditionals setup to automate TCP Status. Will meet with Laura to make sure these are working as intended.
![image](https://user-images.githubusercontent.com/67915167/121587662-ac05cb80-c9fa-11eb-9c68-5e0a8188572c.png)
![image](https://user-images.githubusercontent.com/67915167/121587722-ba53e780-c9fa-11eb-97df-33cf14d98377.png

[2021-06-10 19:51] dianamartin commented on #5760
# 6/9
Jessie

I saw this message but want to make sure we're keeping it within context:
﻿"I've previously send tickets in asking about the missing SSO settings for 3 of my applications. I'm just wondering if this is still being resolved or what the latest status is? One of the affected apps is this one: 5d13ae5b438091000ac0197d"
So I'll reply to you here and close that out.
﻿

Is this right?
Sorry

[2021-06-10 19:53] #5760 closed

[2021-06-10 20:05] SurbhiBakshi opened #6361 "Batch copy assignments from 5/17 through 6/13 to extend beyond July 4th."

[2021-06-10 20:05] SurbhiBakshi opened #6362 "Batch copy assignments from 5/17 through 6/13 to extend beyond July 4th."

[2021-06-10 20:36] TracyLinder commented on #6300
I'm at a stoping point with discovery & need stakeholder feedback.
I scheduled a meeting on 6/14 w/ Ryan, Darren, Jaclyn, and Isiah to continue working on this.

[2021-06-10 21:32] jaime-mckeown commented on #6357
- Gavin has a need for Desktop software, asked Scott to install.
- Sent him info to create an AGOL account, created, and configured
- Sent him our Pro Training Page as he is a contractor and can't take any instructor-led classes.

[2021-06-10 22:13] patrickm02L opened #6363 "Add AFD Dispatches Table to VZD"
Steps required:
- [ ] Migrate Frank’s python script in a docker container that manages the data import to Airflow @frankhereford
  - [ ] Migrate code to [atd-etl](https://github.com/cityofaustin/atd-vz-data/tree/master/atd-etl)
  - [ ] Caveat: DTS is planning to migrate from on-prem Airflow to a cloud service
- [x] Add the new table to production and staging DBs
- [ ] Update Hasura configuration

[2021-06-10 22:23] patrickm02L opened #6364 "Add accurate Weather and Time data to VZE crash page"
In sprint review [#34](https://docs.google.com/document/d/1y_MMs5TgJAheQFMWqbJdch0oeyT_eQhV1e_yaEl3uz0/edit#heading=h.3sdgu3b3w33l) we discussed the inaccuracy of road conditions data in CRIS. We should explore external data sources and API, i.e: NOAA.

[2021-06-10 22:25] dianamartin commented on #5925
Testing 6/10
### Tested Parking Enterprise again
- `Dispatch Reports page` - was not logged in, Big button SSO here
- `Dispatch Reports page` - was logged in, when logged out the log-in in half the size, refreshed and back to full size
- `Resources Tracking page` - was not logged in, no Big button SSO page, knack standard log-in
- `Resources Tracking page` - was logged in, when logged out the knac

[2021-06-10 22:29] patrickm02L commented on #6351
- [ ] @mateoclarke to update all the records from XA's query that should be Austin Full Purpose = Y
- [ ] Triage and fix the bug in the ETL logic

[2021-06-11 02:35] chiaberry commented on #5779
I moved the code from RPP test to production. All the inputs here https://atd.knack.com/parking#verify/ go to uppercase once i leave the input, except the first address input. I'm on chrome.

[2021-06-11 03:36] #5019 closed

[2021-06-11 04:09] amenity opened #6365 "[Bug] Can't add new users through UI in Production"
I've tried signing in as myself, w/ SSO, and as `transportation.data+mopedadmin` and can't create new accounts either way.

https://user-images.githubusercontent.com/1463708/121629849-aa132b00-ca41-11eb-91dd-b264121c7eb0.mov

I am using passwords that have
- at least one uppercase letter
- at least one lowercase letter
- at least one special character
- at least one number
- at least 9 characters

[2021-06-11 13:40] SubhaShroff commented on #5875
### Status:
I will look at this ticket today.

[2021-06-11 13:40] SubhaShroff commented on #1877
### Status:
Waiting on #5875 to be completed.

[2021-06-11 13:42] SubhaShroff commented on #5579
### Status:
PROD deployment is done. As per Nadin's comment above, we are waiting for Ryan's response to close this.

[2021-06-11 13:43] SubhaShroff commented on #4071
### Status:
On PROD. Waiting for stakeholders' response.

[2021-06-11 14:21] atdservicebot opened #6366 "Recommendations for cloud photo uploading platform"
Other / Not Sure

Need recommendations for cloud photo uploading platform for staff to submit photos/videos of field work projects. They will be shared on the big TV at 8900 Cameron rd. The staff will be using tablets or phones to submit photos so someplace easy to access and mobile friendly for uploading is essential.

Flexible  — An extended timeline is OK

Susanne G.

Request ID: DTS21-102185

[2021-06-11 14:24] SubhaShroff commented on #4469
### Status:
Waiting on #6021 to get to TEST.

[2021-06-11 14:29] jaime-mckeown commented on #6357
Submit CTM Request for GISDM account

[2021-06-11 14:31] SubhaShroff commented on #6021
### Status:
@Nadin-Nader  TEST deployment is done. I tested it. It looks good. Kindly, let me know if we can move #4469 & #6021 to PROD.

![image](https://user-images.githubusercontent.com/51680715/121702750-c5108a00-ca97-11eb-92e2-58da850c83c1.png)

[2021-06-11 14:58] TracyLinder commented on #6203
### 6/11/21 Updates
- #6306 scoped TURP & EX fee logic updates
- Technical criteria on Add TCP Review Fee to SP, GP #6300
    - Next meeting on 6/14
- Meeting: Cost of Service: Review AIMS Spreadsheet #6307

[2021-06-11 15:02] dianamartin commented on #972
# Diana's Notes
## 311 SR Process
- 1 SR Type: `Parking Machine Issue`
- Go into 311 system to see assignments
  - Pre-assigned in the morning
  - Sometimes during the day, when 311 is checked, radio field tech
- Change the status to "Open" from "New"
- Write down information on paper, then assign to field employee
- Get information back, replace coin selector - make note in SR
- Then Close status

[2021-06-11 15:39] dianamartin commented on #972
# Debrief Discussion
## Next Step
- schedule follow up meeting for additional discussions
  - Permits
  - Inventory
  - GIS Asset Inventory Management
## Green Light
 - If green light on the project, the project should be broken up into mini phases
### Phase 1: Digitize Pay Station Asset spreadsheet
### Phase 2: Service Request Management
- Feature: Activities Table
    - Copy paste Flex Notes? Cr

[2021-06-11 15:50] andrewshensky opened #6367 "Meet with Bike Parking Folks Regarding Tablet Issues"

[2021-06-11 15:50] andrewshensky commented on #6367
- Verified user privilege's -> all were good
- Some issues fixed by stopping app through App Manager in settings
- Uninstalled and re-installed collector on devices, seemed to resolve all remaining issues
- Set up and tested devices for each user to access bike map
- 5 devices were set up with appropriate access and provided to bike parking folks for use in field

[2021-06-11 15:50] #6367 closed

[2021-06-11 15:52] andrewshensky opened #6368 "Provide May Bike Rack Intall and Maintenance Data"

[2021-06-11 15:55] andrewshensky commented on #6368
6/11 - Data was provided to bike parking folks. I also demoed data export process through the Bike Rack Hub for them.

[2021-06-11 15:55] #6368 closed

[2021-06-11 15:59] andrewshensky opened #6369 "Add Relationship IDs to Bike Rack Data/Maintenance Exports"
This will allow Bike Parking folks to match up maintenance records to bike racks after data is exported to csv.

[2021-06-11 16:08] jaime-mckeown opened #6370 "Q2 Stadium Paid Parking Update"
- Joseph called to talk about the paid parking layer for the interactive web map. He would like me to remove the no parking zones, and just make single lines for each curb area for paid parking.
He would also like to add some information regarding Park ATX since there are no pay stations in this area. He or Mary will be sending me some information to add to the information text to to be added to t

[2021-06-11 16:12] jaime-mckeown opened #6371 "Parking Inventory Discussion with Joseph"
- He will be working on creating new SOPs for the Parking Inventory. They need to figure out best practices that will flow to how the data is maintained. At this point, Francesco has 80 different versions due to how the pay station IDs change, it sounds like a complicated process.
- The next step will be to start moving out of AGOL
- He will keep me posted and let me know if they need any help.

[2021-06-11 16:13] #6371 closed

[2021-06-11 16:26] #1728 closed

[2021-06-11 16:26] johnclary commented on #1728
Deployed in production. I let Billy/Frank/Nick know.

[2021-06-11 17:17] #6308 closed

[2021-06-11 17:28] amenity commented on #6299
Discussing https://github.com/cityofaustin/atd-data-tech/issues/6365 with @sergiogcx today.

Was testing with Frank's account; the problem was that he is cleared out of the Moped production database #6197 but he was not taken out of Cognito.

[2021-06-11 17:35] amenity opened #6372 "Patch account creation API to address bug with existing Cognito users"
API needs to check if a user exists already in Cognito, if so use the existing Cognito user when creating the Moped account.

[2021-06-11 17:43] SurbhiBakshi commented on #6056
Annie and Rachel completed the Remote Access form, have sent the form to @scottreedy.

[2021-06-11 17:48] amenity commented on #6219
Spoke with @sergiogcx about this — will be more efficient to handle along with #6372 instead of doing each separately.

[2021-06-11 17:50] amenity commented on #6365
Was testing with Frank's account; the problem was that he is cleared out of the Moped production database but he was not taken out of Cognito.

API needs to check if a user exists already in Cognito, if so use the existing Cognito user when creating the Moped account, so created issue for #6372.

[2021-06-11 17:50] #6365 closed

[2021-06-11 18:17] vschandramouli commented on #5961
Updated AC. Moving to Backlog.

[2021-06-11 18:52] jaime-mckeown commented on #6370
- Updated Parking Layer and sent updated PDF to Joseph.

[2021-06-11 18:53] patrickm02L commented on #145
@SurbhiBakshi demoed the VZA Application for me.

[2021-06-11 19:19] TracyLinder commented on #6021
### UAT Results
- Tested w/ Izzy today & no bugs found.

### Approved for PROD  

[2021-06-11 19:19] TracyLinder commented on #4469
#6021 has been approved for PROD deployment

[2021-06-11 19:23] TracyLinder commented on #5578
Can the column headers copy to the next page if the table breaks onto a second page?

[2021-06-11 20:23] dianamartin commented on #6337
Talked to Linda 6/9/21

I replied

There was some confusion as to if there was an automated process for the HR application
Me

[2021-06-11 20:24] dianamartin commented on #6337
- [x] Removed "Banner Division Name" from the "Employees" Table
- [x] Removed "Banner Division Name" from the View Account Details page
- [x] Removed "Banner Division Name" from the Edit form

[2021-06-11 20:24] #6337 closed

[2021-06-11 20:26] SubhaShroff commented on #4469
PROD Deployment Request is submitted for #4469 & #6021 - **SCTASK0144586**.

[2021-06-11 20:26] SubhaShroff commented on #6021
PROD Deployment Request is submitted for #4469 & #6021 - SCTASK0144586.

[2021-06-11 20:40] SubhaShroff commented on #5875
Reverted the code change done in the portal related procedure on TEST as the code change done for Back office is working for Portal also. That was resulting in double emails of each permit on post payment issuance.
Following are the Permits tested:
12658222 EX

### YET TO EDIT.............................

[2021-06-11 21:02] dianamartin commented on #6315
- Created new GitBook page for "Fill out & Submit a Contractor Work Order | DIJ"
- Created new GitBook page for Fill out & Submit a Contractor Work Order | SEFBO
- Added the SOP help guide for DIJ and SEFBO
- Formatted the instructions, some came in as bold when original help guide wasn't

Will message user to review udpated help guide
- Might remove original GitBook page "Fill out & Submit a Cont

[2021-06-11 21:10] dianamartin commented on #5801
Messaged Amenity

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/836f1692-c99e-4e56-aa2b-7bb4d995fb63)

[2021-06-11 21:11] andrewshensky opened #6373 "Create Troubleshooting Wiki For Collector/Tablets"
There have been multiple issues getting users set up on tablets using collector. This would be a location to document ways certain issues were solved for future reference.

[2021-06-11 21:18] TracyLinder opened #6374 "TIA Reporting: Total Cases by Council District & TIA Need"
Add a reporting section for Total Cases by Council District

[2021-06-11 21:18] dianamartin commented on #5801
- [x] Deleted `TEST VZA desktop`
- [x] Deleted `TEST VZA web`

Did notice `Trial - VZA Development`, either you guys create this one? @amenity @SurbhiBakshi

[2021-06-11 21:19] alan-deanda opened #6375 "add other pard trails to map as separate layer"
The bike map includes some trails that are not in the CTN, and they need to be added as a separate layer. It's unclear why these trails are not part of the network.

[2021-06-11 21:20] TracyLinder opened #6376 "TIA Case Loads: Filter out Inactive Status"
On Area Case Load & Reviewer Case Load, filter out cases w/ status of Inactive.

[2021-06-11 21:20] ChrispinP commented on #6342
Received a response from Jesse on June 9th regarding this issue:
Hm - that's an odd message. I'll see if I can get more clarity around that message.
While I was in there, reviewing the settings, I believe the property values are wrong. You've got URLs in there, but we're expecting the value in those fields to just be something like "email" or "user.email".
Would you mind updating those first in th

[2021-06-11 21:21] dianamartin commented on #5801
@amenity if this is all good, can we close this issue?

[2021-06-11 21:22] TracyLinder opened #6377 "TIA Gitbook Documentation"
_[Gitbook](https://app.gitbook.com/@atd-dts/s/tds-portal/)_

- Data Dictionary (for example, does days under review mean business days or calendar days)
- Glossary of terms
- Case status triggers

- External Customer workflow training/documentation
    - also to help review staff troubleshoot customer portal issues

[2021-06-11 21:24] TracyLinder opened #6378 "TIA Advanced Search: Add column for Engineer Company"
On the search results, add a new column for Engineer Company

[2021-06-11 21:27] TracyLinder commented on #6287
Resulting issues based on Curtis' feedback:
- TIA Advanced Search: Add column for Engineer Company #6378
- TIA: User Documentation #6377
- TIA Case Loads: Filter out Inactive Status #6376
- TIA Reporting: Total Cases by Council District #6374

[2021-06-11 21:27] #6287 closed

[2021-06-11 21:37] dianamartin commented on #1058
I decided to make a GitHub issue template for the Go-Live tasks, here's the draft
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/10516162-f562-4344-a4e8-e5a6478b8447)

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/eb0908f6-1773-4dac-9d31-fd2716c02ca3)

[2021-06-11 21:38] dianamartin commented on #5932
Ryan replied 6/11

[2021-06-11 21:48] dianamartin opened #6379 "Create Forms decision workflow"
I decided to create a forms [decision workflow](https://miro.com/app/board/o9J_lAKE95k=/), I had made something similar for geospatial forms. I took that old decision workflow and updated it to the new form products that DTS uses.

Hoping that this can be a helpful guide for users to determine if they need a Knack form or if they should use FormStack.

![image.png](https://images.zenhubusercontent

[2021-06-11 22:06] amenity commented on #5801
Looks good to me, thanks!

[2021-06-11 22:06] #5801 closed

[2021-06-11 22:32] dianamartin opened #6380 "Created Parking Meters workflow"
@moorerst When you have time can you review please
- [Miro Workflow](https://miro.com/app/board/o9J_l_DTcpg=/)

[2021-06-11 22:41] ChrispinP commented on #6191
Updated the pre-migration process with Excel. Fields are now present in Data Tracker Prod so we can capture Submission ID, Names, & Emails.

[2021-06-13 00:54] johnclary commented on #5781
Good news—[Mapbox GL v2.3.0](https://github.com/mapbox/mapbox-gl-js/pull/10591) now supports data-driven styles for `line-dasharray`. Will try to remember this when we re-visit [project components](https://github.com/cityofaustin/atd-data-tech/issues/3662) styling.

[2021-06-13 23:39] #6272 closed

[2021-06-13 23:39] #6344 closed

[2021-06-14 14:33] patrickm02L opened #6381 "Add Patrick's About Me Photo to the Website"
Please add my headshot to the Website.

My title is Senior Product Manger, and my pronouns are: he/him.

![patrick](https://user-images.githubusercontent.com/5566727/121909356-72330e80-ccf3-11eb-8d89-566911e40e9c.jpeg)

[2021-06-14 14:34] jaime-mckeown opened #6382 "SZB Chat with AMD / Updates to Web Map"
Edward G. in the Signal Shop wanted to talk about the SZB Web Map. He and Roldan C. are going to start working on the project, and had some questions.

[2021-06-14 14:37] jaime-mckeown opened #6383 "AMANDA Street Closures: 6/14"

[2021-06-14 14:57] amenity opened #6384 "[Feature] Project permit tracking"

[2021-06-14 15:18] moorerst commented on #5779
@ChrispinP can you re test this? Thanks

[2021-06-14 15:28] Nadin-Nader commented on #6252
**Status:**
Sree is looking into this at the moment

[2021-06-14 15:41] moorerst commented on #6358
Follow up meeting scheduled for 6/17
Agenda:
- Permit Processes
AMANDA permit requests, Special Events
- Inventory Management
Toolbag
Filing cabinets
Paystation housing
Other parts
- GIS Assets
Pay station, Meter, Zones, Space
Bike corrals, Bike racks
Installation Dates?
 Map ADA zones
 Other maps
- Reporting

[2021-06-14 15:48] jaime-mckeown opened #6385 "Cameron Plotter Error"
Work on plotter to get it to print again. Requiring new print head, but new print head is still causing errors.

[2021-06-14 15:54] moorerst commented on #5932
Follow up meeting scheduled for 6/24

[2021-06-14 16:02] dianamartin commented on #6271
Created issue for meeting itself #6353

[2021-06-14 16:03] dianamartin commented on #6356
Scheduled 6/15 at 10 am

[2021-06-14 16:04] #6271 closed

[2021-06-14 16:05] dianamartin commented on #6355
Meeting schedule for 6/15 at 2 pm

[2021-06-14 16:05] dianamartin commented on #6325
Meeting scheduled for 6/16 at 1:30 pm

[2021-06-14 16:07] dianamartin commented on #6278
I updated the Service ticket I had open `INC0088168`, left a comment

[2021-06-14 16:35] SubhaShroff commented on #2397
@Nadin-Nader  Thanks for approving the commit. I submitted the DEV deployment request for this commit  - **SCTASK0145063**

[2021-06-14 16:36] jaime-mckeown commented on #6383
Updates complete.

[2021-06-14 16:36] #6383 closed

[2021-06-14 16:36] jaime-mckeown commented on #6370
Joseph let me know that the updates are good.

[2021-06-14 16:36] #6370 closed

[2021-06-14 16:37] jaime-mckeown commented on #6357
GISDM account created.

[2021-06-14 16:38] jaime-mckeown opened #6386 "Access to PNTS - Gavin J."
Spoke with Gavin this morning, he needs the ability to create mailing lists for notifications.

[2021-06-14 16:38] jaime-mckeown commented on #6386
Talked to Gavin. Let him know that I would submit a request for him to get an account created on PNTS so he can create notification mailing lists.

[2021-06-14 16:38] jaime-mckeown commented on #6386
Submitted CTM Request for Gavin.

[2021-06-14 16:53] mateoclarke opened #6387 "New employee checklist for Jorge G"
https://atd-dts.gitbook.io/wiki/onboarding/new-employee-checklist

[2021-06-14 16:56] Nadin-Nader opened #6388 "BUG: Event Review Process is not being inserted into the RW-SE Folder with two of the WorkTypes (ON PROD)"
Event Review Process is not being inserted into the RW-SE Folder with the WorkTypes of Arterial/Collector (50535) and Safety Closures (50545). Neighborhood (50540) WorkType already inserts the Event Review Process which is ok but it NEEDS to be on the other two WorkTypes.

**Stakeholders:** Maria, Laura
**DTS Manager:** Nate

**Acceptance Criteria:**

-  This applies to RW-Street Event folder with

[2021-06-14 17:29] amenity commented on #4331
@chiaberry took care of this in #5482

[2021-06-14 17:29] #4331 closed

[2021-06-14 17:44] jaime-mckeown opened #6389 "Q2 Stadium Maps Update"
Changes to be made after first event over the weekend in preparation for Wednesday, which will be a bigger event.

[2021-06-14 18:11] moorerst commented on #6380
@dianamartin please give me access to view the board

[2021-06-14 19:25] moorerst commented on #6380
@dianamartin reviewed the diagram and it looks great

[2021-06-14 19:29] TracyLinder opened #6390 "TIA Project Meeting 6/14/21"
- customer portal ready for usability?
- case management features
- mitigation page
- backlog

[2021-06-14 19:31] TracyLinder commented on #6390
![Screen Shot 2021-06-14 at 2.31.01 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/621c3a5f-15a8-41fe-ad9f-344d2a348957)

[2021-06-14 19:34] TracyLinder commented on #5633
Looks good. closing

[2021-06-14 19:34] #5633 closed

[2021-06-14 19:37] TracyLinder commented on #6180
@ChrispinP this doesn't appear to be done. Please check it.

[2021-06-14 19:39] patrickm02L opened #6391 "Display consistent list order of 'travel modes' between filter buttons"
The travel modes list order changes when you select 'Serious injuries'.

The 'All' and 'Fatalities' filters have Pedestrian before Motorcyclist. When you select 'Serious Injuries' it flips the order to Motorcyclist to Pedestrian.

Keep the order across all filters so that it reads Pedestrian, then Motorcyclist.

![travel by mode-all.jpg](https://images.zenhubusercontent.com/5d68810b05d7792664be403

[2021-06-14 19:40] SubhaShroff commented on #5578
@Nadin-Nader  @TracyLinder @vschandramouli Now column headers are copying to the next page along with the extending table. Please check the attached PDF file.
[99020_AULCC_Report_with_3rd_table_with_headers_in_extended_Page.pdf](https://github.com/cityofaustin/atd-data-tech/files/6650804/99020_AULCC_Report_with_3rd_table_with_headers_in_extended_Page.pdf)

[2021-06-14 19:50] moorerst commented on #6379
@dianamartin this is interesting I think it asked users some good questions when considering a tool for their forms.
On the question Do you want users to login with their COA credentials - would that be a YES for Knack Forms also?

[2021-06-14 19:52] dianamartin commented on #6379
@moorerst I think I need to make a comparison matrix too. Knack does it too.

[2021-06-14 20:02] TracyLinder commented on #6390
**Customer Usability**
- Tracy will try to schedule for next week.

[2021-06-14 20:02] moorerst commented on #6379
@dianamartin I think that would be a good idea it would be easier to represent features that cross multiple platforms

[2021-06-14 20:08] TracyLinder commented on #6390
**case management features**
- Approved

[2021-06-14 20:14] patrickm02L commented on #5093
- Distinguishing crashes on level 5 main lanes versus service roads
- Frank has developed a better way to identify what polygon a crash belongs to.
- Next step: @frankhereford to schedule a work session to go over polygon improvements.

[2021-06-14 20:17] patrickm02L commented on #5764
Next step: Frank, Joel, and Xavier to come up with set of summary statistics by year

[2021-06-14 20:19] TracyLinder commented on #6390
**Mitigations**
- 404 west powell lane is not populating on the mitigations map
- Fee-in-Lieu Total not populating
- I asked Joann & Nate to test mitigations independently

[2021-06-14 20:20] TracyLinder commented on #6099
Approved w/ stakeholders

[2021-06-14 20:20] #6099 closed

[2021-06-14 20:31] jgabitto opened #6392 "Add Jorge to DTS "About Us" webpage"

[2021-06-14 20:31] TracyLinder commented on #6390
### Go-Live Talks
- Training July 22nd
- Go-live the week of July 26th
- Public information release

**Training Needs:**
- They have a standing Thursday meeting 10-11; we can train during this meeting
- Nazlie, Nathan, Joan, Justin Good, Phillip Utubor, Jayesh Dongre

[2021-06-14 20:39] amenity commented on #6340
@janetchuhl pulled together a really solid collection of similar/related maps+dashboards. We'll present it at the sprint review tomorrow and invite stakeholders to send additional examples.

[2021-06-14 20:49] amenity opened #6393 "Conduct Mobility Project Viewer co-creation sessions"
- Start with targeted, smaller groups — PIO
- Down the line, can include members of public advocacy groups; Emily suggested members of the PAC, BAC and UTC would be natural candidates for the curious-citizen's-needs angle imho

[2021-06-14 20:53] amenity opened #6394 "Conduct co-creation session with ATD and CPO PIO"
- [x] Get list of potential participants from Emily (Amenity in Teams)
- [x] Schedule
- [x] Set up Miro board, draft outline/flow, etc.
- [x] Review 👆 ... maybe get feedback from Daniel H.?

[2021-06-14 20:56] patrickm02L opened #6395 "Update Comprehensive Costs Table"
- Needs to be done before July 1
- Update values for comprehensive cost table, `atd_txdot__est_comp_cost`. Need these new values.
- Create a new field similar to `est_comp_cost` but that calculates the cost using the highest injury severity in the crash.
  - Context for change: to help TED better prioritize street treatments and redesign. "flatten the noise of crashes with lots of people involved"

[2021-06-14 20:56] phanaq opened #6396 "Add Annie to DTS "about us" webpage"
Photo: https://drive.google.com/file/d/1zdQUtDSmqhJyR0mkxVjUcqf_pFB4fz-8/view?usp=sharing
Pronouns: she/her

[2021-06-14 20:56] patrickm02L opened #6397 "Update Comprehensive Costs Table"
- Needs to be done before July 1
- Update values for comprehensive cost table.
- Create a new the calculation and new field to use the highest injury severity in the crash.
  - Context for change: to help TED in the context of street treatment priorities
- Update the VZE queries to display the new methodology value

[2021-06-14 20:58] patrickm02L commented on #6397
Accidently, created a duplicate.

[2021-06-14 20:59] #6397 closed

[2021-06-14 21:01] SubhaShroff commented on #2397
@Nadin-Nader  Dev deployment is done - SCTASK0145063. Following RW TURPs are created and I found couple of fees got inserted after TUPR Review approved.
11901309
11901310
This ticket is ready for your testing on DEV.

[2021-06-14 21:03] jaime-mckeown commented on #6389
Made changes based on Frances' email and sent PDF. Waiting for feedback.

[2021-06-14 21:10] dianamartin commented on #4267
Emailed with Ken this morning 6/14

•	Gill said the contract number is MA 2400 NS210000051
Let me know if there’s anything that we can do to help expedite this.

K

D

K

J

K

[2021-06-14 21:16] ChrispinP commented on #6376
Cases that are Inactive are now filtered out by default
![image](https://user-images.githubusercontent.com/67915167/121960596-ee494880-cd2b-11eb-976c-04e725bba6e5.png)

[2021-06-14 21:48] jgabitto commented on #6392
preferred pronouns: he/him
headshot on [Google drive](https://drive.google.com/file/d/1VHo0ajg4SXfzPYK8n2icF_tdruK-tc9V/view?usp=sharing)

[2021-06-14 22:02] jaime-mckeown commented on #6385
Scott called HP support, ended up doing a firm ware update, was still not working. They finally determined that there is a problem, will be ordering a part and sending a tech out to fix it when the part comes in.

[2021-06-14 22:04] jaime-mckeown commented on #6386
Gavin reached out again about getting PNTS. I gave him the Service-Now INC number and the CTM Help Desk Number and told him to call and see if they can help faster by phone.

[2021-06-14 22:06] jaime-mckeown commented on #6389
Map was good, made changes for feature layer and re-published.

[2021-06-14 22:06] #6389 closed

[2021-06-14 22:09] chiaberry commented on #6188
Are the menus in the right place?

https://atd.knack.com/test--tds--09-jun-2021--transportation-development-services-portal#tia-requests/tia-case-details/60c0d98007ba0e0b9590c3e7/tia-case-management/60c0d98007ba0e0b9590c3e7/tia-submission-details/60c0d98807ba0e0b9590c75b/

https://atd.knack.com/test--tds--09-jun-2021--transportation-development-services-portal#tia-requests/tia-case-details/60c0d98

[2021-06-14 22:11] jaime-mckeown commented on #6335
- TED South Area moving to AGOL
- TED Central Area moving to AGOL, still need to hear back from Lee
- Got 8 TED users registered for next Intro to AGOL Workshop

- Eric B. moving to AGOL

[2021-06-14 22:20] ChrispinP commented on #6378
Sealing Engineer added to Case Search
![image](https://user-images.githubusercontent.com/67915167/121966783-d924e780-cd34-11eb-97ef-6d6ae30f8e05.png)

[2021-06-15 04:48] johnclary commented on #5394
I sent the attached quote to Ken B and created a purchase request. Waiting to hear on next steps.

[ATD AWS Price Estimate 6-10-2021.pdf](https://github.com/cityofaustin/atd-data-tech/files/6652864/ATD.AWS.Price.Estimate.6-10-2021.pdf)

[2021-06-15 12:54] andrewshensky opened #6398 "Help user resolve issues connecting to Maint/DM"

[2021-06-15 12:56] andrewshensky commented on #6398
It was identified that the user lost connection to the O drive which broke the connection to Maint/DM. Batch file was provided to user to re-establish connections.

[2021-06-15 12:56] #6398 closed

[2021-06-15 14:46] dianamartin commented on #6278
Bert emailed 6/15

I replied

[2021-06-15 14:56] atdservicebot opened #6399 "Account Access for Finance and Purchasing System"
Other / Not Sure

Can I get permission to create PRs in knack?

Soon — This week

Renee O.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/60c8bf5b0ee8140020424308/screenshot20210615095427.png) (128.11kb)

Request ID: DTS21-102190

[2021-06-15 15:16] jaime-mckeown commented on #6301
- Received RoxAnne's results, added to Spreadsheet
- Emailed Danny, Dustin, and Janny to see about getting 2nd part of test results

[2021-06-15 15:34] SubhaShroff commented on #4469
@TracyLinder  @Nadin-Nader  PROD Deployment is done. Needs verification.  🎉

[2021-06-15 15:36] SubhaShroff commented on #6021
@TracyLinder @Nadin-Nader PROD Deployment is done. I checked it on PROD Portal. It all looked good.
Needs verification. 🎉

[2021-06-15 15:42] jaime-mckeown opened #6400 "Mitigation Database Questions - Nelson"
From Nelson:

[2021-06-15 15:42] jaime-mckeown commented on #6400
I let him know that the TDS Group is currently working on an improved Mitigation Database polygon layer based on the Site Plan Case layer and let him know what fields that are adding.

[2021-06-15 15:44] #6238 closed

[2021-06-15 16:24] Nadin-Nader commented on #5576
@Sreelatha-BlazeKannan can you send me the actual rpt file so i can put it on DEV since CTM doesnt usually do that for DVE and TEST.

[2021-06-15 16:31] TracyLinder opened #6401 "New UC folder review fee"
### We are implementing a new Utility Coordination review fee.

[2021-06-15 16:32] dianamartin commented on #6356
Danny, Cheryl and I looked at a small cell asset - took a look at it's address and used the Property Profile to see what might come up. The permits nearby the address came up and the small cell folder type came up.
Ex. Looked up this address:  `709 1/2 Congress Ave NE`
- This pulled up "Permits" associated to this location
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/

[2021-06-15 16:33] TracyLinder commented on #6401
### Scoping Meeting with Darren 6/15

[2021-06-15 16:36] Nadin-Nader commented on #5578
@SubhaShroff I have reviewed the PDF output and it looks way better with the column Headers in the new page. I sent a screenshot to @TracyLinder but i am pretty sure she will approve the move to DEV. Go ahead and send me the rpt file so that i can get it ready to go on DEV, UAT and then possibly TEST for the stakeholders to UAT before PROD.

![image.png](https://images.zenhubusercontent.com/5e8dfb

[2021-06-15 16:38] ChrispinP commented on #6180
Landing Page has been updated. Ready for user testing
![image](https://user-images.githubusercontent.com/67915167/122091256-3c168d00-cdce-11eb-99a5-b945024802e3.png)

[2021-06-15 16:48] ChrispinP commented on #6181
Table rules updated to not display hidden or empty records
![image](https://user-images.githubusercontent.com/67915167/122092451-8f3d0f80-cdcf-11eb-8b56-d7800a2df66b.png)

[2021-06-15 17:05] sreelathab commented on #6201
@Nadin-Nader , @TracyLinder  - Verified and found that the portal is looking at report code 83933 for DS permit. where the report path was incorrect.

![image](https://user-images.githubusercontent.com/65371095/122094227-8cdbb500-cdd1-11eb-80fc-ad13a4886fc2.png)

I have corrected the path in DEV and TEST as
\\COACD.ORG\DFS\AMANDA\BROWSERFORMS\DEV\50506_F_DRIVEWAY_SIDE_WALK_PERMIT.RPT

Now I can se

[2021-06-15 17:06] ChrispinP opened #6402 "[TDS] TIA Mitigation Map Search Updates"
![image](https://user-images.githubusercontent.com/67915167/122094552-eba12e80-cdd1-11eb-9816-6845dcee544b.png)

- [x] Limit search results to only Texas?
- [x] Remove ArcGIS World Geocoding Service text from the top of the search results?

[2021-06-15 17:23] Nadin-Nader commented on #5576
@Sreelatha-BlazeKannan i have placed this on DEV but found that none of the calculations are working. I also found that the detailed Table after the Number of City Department table is overlapping the output in the "Applicant Name" Field.

[https://app.zenhub.com/files/140626918/17950c3a-4624-44ef-8def-524706229386/download]

[2021-06-15 17:30] ChrispinP commented on #6188
@chiaberry they might get moved, but yes.

You'll notice that the url parameters need to be updated specifically for these two child pages. If you click on Case Details for example you end up on this empty page:
![image](https://user-images.githubusercontent.com/67915167/122097452-4ee09000-cdd5-11eb-993c-11b5dbab4974.png)

![image](https://user-images.githubusercontent.com/67915167/122097510-615ac

[2021-06-15 17:52] TracyLinder opened #6403 "UC - Unpaid Review Fees report, with a monthly batch email job. (SS) (On PROD and Approved by Darren's)"
### A new UC - Unpaid Review Fees report, with a monthly batch email job.

**Stakeholders:** Darren U., Isiah, Jaclyn

**Acceptance Criteria**

`Batch Job`
- Runs on the 1st day of the month
- Emails UC Unpaid Invoices report to: Darren Ujano, aulcc@austintexas.gov

`Custom Report`
_Spreadsheet/Markup is [here](https://docs.google.com/spreadsheets/d/1AOyFJMEuAEtPExn3t_7-obqXkgvWgC8TGwzzhev0nIQ/edi

[2021-06-15 17:53] ChrispinP commented on #6341
Review Completed Date is automated based on Status change
![image](https://user-images.githubusercontent.com/67915167/122099110-3cffec80-cdd7-11eb-924f-b690027df4f6.png)

Submitted Status and Date can default now
![image](https://user-images.githubusercontent.com/67915167/122099947-36be4000-cdd8-11eb-9f3c-60af944b4bbf.png)

TCP Statuses automated. Most recent submission status overrides previous s

[2021-06-15 17:58] TracyLinder commented on #6403
I sent the report markup to Darren for review/approval.

[2021-06-15 18:23] Nadin-Nader commented on #5578
@SubhaShroff Tracy has approved. Lets go ahead and get this moving along

[2021-06-15 18:33] jaime-mckeown commented on #6248
He's done editing, requested to move all content back to ATD Publisher.

[2021-06-15 18:33] #6248 closed

[2021-06-15 18:41] jaime-mckeown opened #6404 "Data Driven PHB GIS Criteria Question - Renee"
Renee asked about a couple of parcels that were not in the churches and multi-family layers while doing research for a district.

[2021-06-15 18:43] jaime-mckeown commented on #6404
Looked into the 2 parcels she was inquiring about.
- the church was listed under Office in the land use inventory instead of Meeting and Assembly
- The retirement community was just added in Jan. 2021, and we last updated the data last fall
She is god with keeping the annual updates, but was glad to see that the process is not missing criteria, but it is not 100% encompassing as we are using parce

[2021-06-15 18:43] #6404 closed

[2021-06-15 18:46] jaime-mckeown commented on #6345
- Created the AMANDA Queries Pro Project and sent Zipped Project to Maria.

[2021-06-15 18:55] dianamartin commented on #6399
Talked to Renee and told her process to get access to Finance and Purchasing system.
- Reach out to Dan
- Go through training slides
- Do quiz
- Get access

Other option is to have one of her colleagues who already has access to the system turn in the PR

[2021-06-15 18:55] Nadin-Nader commented on #5578
@SubhaShroff i have moved the file to DEV. Please UAT and let me know

[2021-06-15 18:57] TracyLinder commented on #6218
# 6/15/21

**Review Previous Action Items**
- ROW: Review attempt names & deficiencies with staff during their weekly Monday meeting on 6/7
- DTS: Perform process analysis #6216

### Notes

### Action Items

[2021-06-15 19:09] SubhaShroff commented on #6216
List provided by Vishwa:
•	RW – TURP
o	Web Application Acceptance Process
o	TURP Permit Intake Process
•	RW – FILM
o	Web Application Acceptance Process
•	RW- Street Vendor
o	Web Application Acceptance Process
o	Vendor Intake Process
o	Vendor Review Process
•	RW - Valet Temp
o	Web Application Acceptance Process
•	RW - Valet Annual
o	Annual Valet Intake/Review Process
o	Web Application Acceptance Pr

[2021-06-15 19:13] jaime-mckeown commented on #6068
Sent another email about this request. Moving it to my backlog since it doesn't seem all that important to CPO.

[2021-06-15 19:18] SurbhiBakshi commented on #6353
Did a quick draft and touched base with Lewis. Lewis would like to get this report by COB Wednesday June 16th because he wants to show it to Rob on Thursday.

Made a quick draft in Power BI because doing this in Knack, although it would gt updated more easily would involve multiple fields to calculate time in hours especially across two days.

[2021-06-15 19:19] TracyLinder commented on #6216
We need to add analysis for process 50520 TURP Review
FYI @SubhaShroff

[2021-06-15 19:34] jaime-mckeown commented on #6345
Meeting with Maria on Thursday to discuss templates.

[2021-06-15 19:35] jaime-mckeown commented on #6382
Diana found an extra charger for tablet that was missing a cable. Need to make sure everything is working OK in the tablet environment for editing.

[2021-06-15 19:35] #6301 closed

[2021-06-15 19:36] #6335 closed

[2021-06-15 19:36] #4856 closed

[2021-06-15 19:36] jaime-mckeown commented on #6312
Need to ask Christina for field descriptions again tomorrow.

[2021-06-15 19:38] #5968 closed

[2021-06-15 19:39] jaime-mckeown opened #6405 "Fiber Optic Cable Data Update"
Continue working on Fiber Optic Cable data edits for updated data.

[2021-06-15 19:40] TracyLinder commented on #5891
**Update**
Will finish AC during next sprint, beginning 6/16
Will pull on deck the sprint after, beginning 6/30

FYI @Nadin-Nader & @vschandramouli

[2021-06-15 19:41] jaime-mckeown commented on #6405
- [ ] Finish merging lines based on area and aerial/underground data
- [ ] Segment merged line layer at traffic signals, segment between underground/aerial, add a new Attribute to distinguish between the CAD data from the old AGOL data, add a new attribute to track AGOL data being updated
- [ ]  After merging CAD data with AGOL data, do a Select by Location within 25 feet of Fiber to find all tran

[2021-06-15 19:56] TracyLinder commented on #6255
**Stakeholder Update**
The ROW team discussed this and found that the feature is often not being used because of various issues/pain points
They'd still like to use it, but update the feature so it works for them

1. After permit issued, can activate upon payment be automatically updated to No?
2. If no fee is paid within a certain time frame, can activate upon payment be automatically updated to

[2021-06-15 20:42] Nadin-Nader commented on #5579
Closing by COB Today 6/15/21 Email sent to Ryan by me below:

[2021-06-15 21:20] Nadin-Nader commented on #6331
2nd email from Tracy's comment.
Bold and Italic = What needs to be added added or answered in the email.
Austin Utility Location (Sent After Completeness Check) This email goes out when the Application Review is Accepted:

To: Lozano, Jaclyn <Jaclyn.Lozano@austintexas.gov>
Subject: [TEST] Austin Utility Location - **TEST E-MAIL. PLEASE IGNORE**

**TEST E-MAIL. PLEASE IGNORE**

Hello:
Thank you for

[2021-06-15 22:01] sreelathab commented on #6388
@Nadin-Nader , @TracyLinder  - analyzed and found that the issue is because of the #4551 PROD move in May 2021. The request is to Exclude the Event review process to fix the bug in RW folder; so to fix this issue, we need to delete 2 rows from Defaultprocessexclusion table.

SELECT * FROM DEFAULTPROCESSEXCLUSION WHERE processcode = 50560
AND subcode = 50510 AND workcode IN (50535,50540,50545)

![i

[2021-06-15 22:19] dianamartin commented on #6355
## Current HR Process
Debbie updates BANNER system with everything, all employee record updates.
- New employee, separated employee, promotions, transfers
- She also manually updates Employee spreadsheet (bc BANNER doesn't update information in real-time?)
  - only keeps track of Employee Names, not email addresses
  - This is what PIO uses to update mail chimp

## What is BANNER database access l

[2021-06-15 22:21] dianamartin commented on #6355
# Next Steps
- Schedule a builder huddle
- Make a workflow that incorporates the systems
- Research the delay in BANNER (why is there a delay)? What is the CTM email creation process like
  - John said he talked with CTM and could be given a data dump of EIN and Email Addresses
- Test the update time line against the BANNER update
  - A short list of employee's Debbie has to update so we can detec

[2021-06-15 22:24] dianamartin opened #6406 "Added Date Fields and created new Employee table for Supervisors in HR App"
Nathan B.
HR

During our scoping meeting for the HR Email automation, we were going to have PIO use the Employee list for now as a stop gap to getting an updated list of new employees.

Nathan mentioned that supervisors aren't really supposed to see EIN IDs and we talked about the Date fields that PIO would need to know when a person was hired/separated.

[2021-06-15 22:30] dianamartin commented on #6406
Created fields for `Accounts` object table
- `Created Date`
- `Modified Date`
- `Date of Hire`
- `Date of Separation`

Also updated:
- Updated Add Employee form - added new fields to form, updated record rules
- Updated Edit Employee form - added new fields to form, updated record rules
- Created new "Employee" table - added Page rules to hide from HR Admin and to show to Supervisor user roles

[2021-06-15 22:58] amenity opened #6407 "Set Patrick up with eCAPRIS"
- [ ] [Request account](https://ecapris.austintexas.gov/login/)
- [x] [Read eCAPRIS / Moped context](https://docs.google.com/document/d/1ICBPcJLQrAvXv2JqHIW5fCCDZqOUF_adxTaochMSZc4/edit#)

[2021-06-16 00:08] SubhaShroff commented on #1802
@Nadin-Nader  @TracyLinder @vschandramouli  Went through the ticket to recollect the facts and review the work done.

1. This ticket Back Office part is in DEV already. I retested it for different people types(RSNs: 11901314, 11901315,  11901317,  11901316). Please let me know if we can move it TEST.
2. AC says portal part TBD. If Portal requirements also added(may be as a separate ticket), I can

[2021-06-16 00:31] amenity opened #6408 "Enable concurrent phases"
Per #6148 , [phases can be concurrent](https://web.microsoftstream.com/video/993b47e9-fad1-49d8-9a1d-fc7f1cfa738f?st=1903).

Nathan suggested that instead of “Active” being yes/no; could have a “Phase status” — with “future” “active” or “current” w/ “current” is what you want to be represented in Summary view.

Questions for stakeholders:
- Can we just have multiple active and have multiple show o

[2021-06-16 00:45] amenity opened #6409 "Provide comment"
Logging  timeline changes: Could be an "add note" button on a phase that would open a modal with the comment component in it. Would capture
- (comment)
- the phase the comment was made on 
- the date the comment was made
- user)

On the comments page, you could filter down to "Timeline" comments, or down to a particular phase to see all comments to that phase

[2021-06-16 00:55] amenity commented on #6148
6/14/21 Meeting - [Recording](https://web.microsoftstream.com/video/993b47e9-fad1-49d8-9a1d-fc7f1cfa738f)
Attendees:  Renée, Ivonne, Robin, Dylan, Nathan, Amenity, John, Mateo, Patrick

[2021-06-16 03:28] SubhaShroff commented on #6216
@TracyLinder Yes, as you mentioned permit status change to 'Active' triggers the inspection processes insertion in the permits(for both DS, EX).

[2021-06-16 03:29] SubhaShroff commented on #6216
@TracyLinder Yes, as you mentioned permit status change to 'Active' triggers the inspection processes insertion in the permits(for both DS, EX).

[2021-06-16 05:08] vschandramouli commented on #6166
Updated AC, moving to Backlog.

[2021-06-16 05:17] vschandramouli commented on #6249
Received updated permission list from Jonathan and Paloma. Would like to review it with @Nadin-Nader before writing down the AC.

[2021-06-16 13:30] jaime-mckeown commented on #6068
Adrien ended up modifying the layer in GISDM so she no longer needs to update the layer in ROWPACT.

[2021-06-16 13:30] #6068 closed

[2021-06-16 13:39] SubhaShroff commented on #2397
### Status:
I tested it on DEV and its ready for DEV testing.

[2021-06-16 13:41] SubhaShroff commented on #6021
### Status:
PROD deployment is done.

[2021-06-16 13:42] SubhaShroff commented on #4071
Status:
On PROD. Waiting for stakeholders' response.

[2021-06-16 13:46] SubhaShroff commented on #5875
### Status:
Tested on TEST. Need to check with Maria Becker if the emails are received.

[2021-06-16 13:53] #6386 closed

[2021-06-16 14:04] andrewshensky commented on #6154
Sample web app has been created (https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=e4b3b32ddada4a42a1963b4ba5491a10)

Meeting set up for 6/17 to review sample and discuss requirements for smooth transfer out of ArcMap and into AGOL.

[2021-06-16 14:12] jaime-mckeown commented on #6382
Need to ensure everything is working properly in tablet environment after I get it working.

[2021-06-16 14:14] jaime-mckeown commented on #6400
Nelson emailed Sangeeta/Allison about his idea for the Mitigation Database. They will be meeting to discuss how they can make the layer work for everyone that is interested.

[2021-06-16 14:14] #6400 closed

[2021-06-16 14:56] andrewshensky commented on #6043
Email was sent out to Maria regarding PNTS transition from ArcMap to AGOL. Awaiting response regarding any feedback.

[2021-06-16 15:21] jaime-mckeown commented on #6043
Maria told me that she doesn't need to save her GIS layers for notifications as they keep the list for reference.

[2021-06-16 15:21] SurbhiBakshi opened #6410 "Set up meetings within department to talk about BI"

[2021-06-16 15:22] SurbhiBakshi opened #6411 "Look into DTS Datasets list to categorize datasets and reports"
I think Surbhi had wanted to pull in the DTS datasets to categorize the datasets and reports in PowerBI. Would be an interesting Discovery Day project.

[2021-06-16 15:24] SurbhiBakshi opened #6412 "Create prototype for reports similar to DTS applications/datasets object"

[2021-06-16 15:26] SurbhiBakshi commented on #6320
@jaime-mckeown - could you point me to AGOL feature services for parking revenue and utilization.

[2021-06-16 15:27] SurbhiBakshi commented on #6320
As per @jaime-mckeown only revenue data is available in AGOL

[2021-06-16 15:33] andrewshensky commented on #6043
Sounds good. I let her know that if there are any other enhancements she can think of that may help their process to let me know.

I still think adding a field to track which division is creating a polygon may be good so it doesn't create noise for other groups using that to track. Also it will give us some insight on who is actually using it.

[2021-06-16 15:35] jaime-mckeown commented on #6043
Yes, I believe that TED is also starting to use PNTS as well, so that will be useful.

[2021-06-16 15:48] amenity commented on #6366
Slack convo from last week, @dianamartin said

Discussing in sprint planning today; why aren't we using OneDrive?
Besides Box.com, these options:
- PIO's Flickr?
- OneDrive
- Signs and Markings Knack app (technicians attach photo to relevant work orders and send Suzanne the WO #; she can look up the URL in Knack)
...

[2021-06-16 15:49] amenity commented on #6366
@amenity - schedule a quick chat w/ Susanne or add to next P&P.

[2021-06-16 15:52] amenity commented on #6366
PS would love to see this when it's up. Time for another SMB open house?

[2021-06-16 15:54] #6208 closed

[2021-06-16 16:06] amenity commented on #4385
Renée has looked at this; good to go.

[2021-06-16 16:06] #4385 closed

[2021-06-16 16:08] jaime-mckeown opened #6413 "Questions about AGOL access to specific data - Amenity/Janet"
Amenity is looking for an easy way to find ATD/mobility related Web Maps in AGOL.

[2021-06-16 16:10] jaime-mckeown commented on #6413
- Janet created an AGOL account, configure profile and added her to ATD Groups.
- Let her know the best way to find ATD Web Maps by looking under ATD_Publisher account then searching
- Asked Amenity about MOPED related maps. Let them know how to search for them as they are all shared to COA_ATD Group.

[2021-06-16 16:12] amenity commented on #6356
DSD GIS is going to meet internally to make sure their GIS team can accommodate this data in their GIS datasets.

[2021-06-16 16:12] #6356 closed

[2021-06-16 16:14] amenity commented on #6215
We won't have to do this extensive cleanup, but will want to remove the small cell tracking functionality from Data Tracker if DSD's GIS team can handle it on their own.

[2021-06-16 16:15] SurbhiBakshi commented on #6353
Check -
- [ ] If Officer Assigned - No Officer Assigned, Amenity, or Officer have Start Time and End Time entered and if there is an entry after Jan 20th .
- [ ] Had to clear some of the No Officer Assigned values which happened in testing when Start Time and End Time were entered and then the assignment was cancelled.

[2021-06-16 16:15] moorerst commented on #6328
Diana met with Jen and identified several additional desk for hoteling. Those desk have been added to the Robin floorplan for Cameron Rd but are inactive because there are no chairs available at this time.

[2021-06-16 16:16] atdservicebot opened #6414 "[BUG] "Provider Company Name" required error shows up when "Issue Type" is NOT Scooter/Electric Bike issues (micro-modal)"
Data Tracker

When I try to make a new CSR  it will not let me because its saying it requires a provider/company and that is a detail meant for scooters

Parking Enterprise Portal

Internet Browser: Chrome

Jasmine L.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/60ca237951ffc0001ea07797/screenshot20210616110531.png) (136.14kb)

Request ID: DTS21-10219

[2021-06-16 16:17] #5761 closed

[2021-06-16 16:19] #4734 closed

[2021-06-16 16:20] amenity commented on #4734
@dianamartin  completed all the clean-up issue a few weeks ago — done! 🎉

[2021-06-16 16:21] amenity commented on #6206
@dianamartin - please ping Christina about this one.

[2021-06-16 16:27] jaime-mckeown commented on #6382
Sent Edward link to SZB documentation.

[2021-06-16 16:34] johnclary commented on #5934
@dianamartin would you put together an updated list with the corresponding product label?

[2021-06-16 17:11] andrewshensky opened #6415 "Documentation For Bike Parking Hub"
Include:
- Filters in Dashboard (What is being filtered/What is not/What is filtered by Bike Rack/What is Filtered by Maintenance)
- Bike Rack vs Maintenance data
- Exporting data to CSV in map viewer
- Getting Address information for maintenance data

[2021-06-16 17:25] jaime-mckeown opened #6416 "New AGOL User Account - Olivia V."
Olivia needs to edit Story Maps, does not have an AGOL account setup yet.

[2021-06-16 17:26] jaime-mckeown commented on #6416
Sent instructions to login to AGOL for the first time, asked her to let me know when she's logged in so I can configure her account.

[2021-06-16 17:43] alan-deanda commented on #6136
Labels are all set

[2021-06-16 17:43] #6136 closed

[2021-06-16 17:45] alan-deanda commented on #6140
the above comment was meant for another issue

[2021-06-16 17:54] alan-deanda opened #6417 "ATX Walk Bike Roll - CTN data request"
This request from Cole regards the extent to which the CTN can fulfill the data needs for the ATX Walk Bike Roll Project. Similar requests may come in the future, at which time I'll create an epic to collect the work.

[2021-06-16 17:59] #6382 closed

[2021-06-16 18:00] jaime-mckeown opened #6418 "Pro Migration: 6/16 - 6/29"
Continue working with ATSD and TED on Pro Migration.

[2021-06-16 18:41] johnclary commented on #6047
Closing since this will be part of the broader street segment convo.

[2021-06-16 18:41] #6047 closed

[2021-06-16 18:58] #6043 closed

[2021-06-16 19:08] TracyLinder opened #6419 "Meeting: SIF Checkin"
### 6/16/21
_John, Tracy, Joe, Peggy, Nathan, Dan_

- Meeting recording is [here](https://web.microsoftstream.com/video/cc5986a7-ba86-4fa9-9084-48a75a4a2399)

[2021-06-16 19:11] jaime-mckeown opened #6420 "GIS Modernization Bi-Weekly Meeting: 616/21"

[2021-06-16 19:15] ChrispinP commented on #5779
Did we have Address capitalize before?

In testing the Address field, the focusout function is technically working but if I use the autocomplete feature, that takes precedence over the focusout. I would have to tap into the address field again, make any changes, and tap out again for it to capitalize. Unfortunately the Knack Address field doesnt include City and State in that formatting so I would

[2021-06-16 19:16] TracyLinder commented on #6419
### Notes

**SIF implementation divided into teams:**
- Communications: Responsible for working with all teams, but primarily w/ Joe & Nathan to push project information to the public.
- Guideline Writers: Docs for external public to learn the tools we make.
- Internal SOPS: How the staff will implement the ordinance & workflows
- TIA Team: Reviewing cases and making SIF recommendations
- Dan's Te

[2021-06-16 19:37] SubhaShroff commented on #1802
The latest demo videos - tested in Amanda BO DEV:
https://user-images.githubusercontent.com/51680715/122281542-fcc06d00-ceaf-11eb-84f1-5b607cdcb3be.mp4

https://user-images.githubusercontent.com/51680715/122281736-372a0a00-ceb0-11eb-933c-e67cb3ae879c.mp4

[2021-06-16 19:38] dianamartin commented on #6414
I was troubleshooting and couldn't figure out why the "Provider Company Name" field kept showing up. There is a display rule that is set to show it when the "Issue Type" is NOT Scooter/Electric Bike issues (micro-modal). I tried a few things
- modified the Display Rules
- Set default to new choice "NO PROVIDER" on field: "Provider Company Name"
- removed the "Required" on "Provider Company Name"

[2021-06-16 19:44] dianamartin opened #6421 "IT Support: Can't access "Applications" page in DTS Portal"
Andrew S.
DTS

Emailed

[2021-06-16 19:45] dianamartin commented on #6421
I checked his user role and he was listed as `Viewer`, updated him to `Admin`

Emailed him back

[2021-06-16 19:45] #6421 closed

[2021-06-16 19:49] moorerst commented on #6325
Attendees: Nathan, Linda, Diana, Stephanie
Discussed different tools for forms intake/management
Diana presented a comparison matrix

- Their main goals for forms are:
keep it simple
centralized place to store forms
knack is very user friendly

- Requirements:
keep survey feedback private only HR staff should have access to view form
All new hire employees are required to complete at 30/60/120 day

[2021-06-16 19:53] jaime-mckeown commented on #6420
- Tools Inventory Worksheet Template added to division areas in Teams
- ArcGIS Pro Migration Analysis Template added to division areas in Teams
- Talked about Data Reviewer: ATD does not currently use this tool
- Went over numbers for installs, ATD is good, all at 10.7.1
- We need to get Desktop uninstalls going for users moving to AGOL in TED.
- Went over training

- Shanon would like us to work

[2021-06-16 19:53] #6420 closed

[2021-06-16 19:57] dianamartin commented on #4267
Steve emailed on 6/15

I talked to John and it seemed like the PR wasn't exactly right. Go a hold of Ken to fix.

Emailed Ken 6/15

Ken

Diana

[2021-06-16 19:59] TracyLinder commented on #6419
### Next Steps:

- Joe/Nathan to work on getting SOP's drafted up
- Tech scoping to begin after we have SOP's to look at
- Dan will have details nailed down next week so we can take a better look at his possible tech needs

[2021-06-16 19:59] #6419 closed

[2021-06-16 20:05] dianamartin commented on #6206
Messaged Christina bc she was supposed to be back to work today, her flights were delayed. She hasn't been able to sync with the technician.

[2021-06-16 20:07] moorerst commented on #3389
@amenity @johnclary
While discussing the HR On boarding forms with Nathan we had a brief discussion on what some of their other priorities might be.

- Right Now:
Add the 4 On Boarding forms to Knack
Move the NEO Feedback form from MS Forms to Knack

- Short Term:
 Add the Secondary Employment Acknowledgement  Form to Knack
Create an evaluation form the the new ATD Supervisor Training program they

[2021-06-16 20:12] dianamartin commented on #6325
# Diana's Notes

Goal to centralize all forms that supervisors/managers and employee fill out
Learned that the forms will be required as it's a new onboarding process:
- 30 Day Supervisor Survey
- 90 Day Supervisor Survey
- 120 Day Supervisor Survey
- Employee 30 Day Feedback
- MS Form "ATD New Employee Orientation (NEO) Evaluation

HR would like these 5 forms to be digitized in the Human Resource

[2021-06-16 20:12] #6283 closed

[2021-06-16 20:15] ChrispinP commented on #6191
2018 to 2020 tcp_project records are now imported and updated

Account records updated with historical TCP Reviewers

[2021-06-16 20:27] johnclary opened #6422 "Give Annie P. access to VZD read-replica"
@phanaq will be assisting VZ with data research. She needs access to the Vision Zero database read replica.

[2021-06-16 20:29] dianamartin commented on #5934
Current Application List

| Name | GitHub Label | App List |
| -- | -- | -- |
| AMANDA | AMANDA Portal | X |
| ArcGIS | | |
| Data Tracker | AMD Data Tracker | X |
| Finance & Purchasing | Finance & Purchasing | X |
| Moped | Moped | X |
| Vision Zero in Action | Vision Zero in Action | X |
| Signs & Markings Operations | Signs & Markings | X |
| Street Banners | Banners | X |
| Vision Zero (Edito

[2021-06-16 20:32] #5747 closed

[2021-06-16 20:34] andrewshensky opened #6423 "Add/Update Bike Rack Data/App in Data/App Inventories"
- [ ] Dataset Inventory
     Currently two outdated records for bike racks, needs to be reconciled/updated

- [ ] Application Inventory
     Add Bike Rack Reporting Hub

[2021-06-16 20:38] amenity commented on #5971
@patrickm02L may have design ideas on this one... Visual to indicate active state would be helpful.

[2021-06-16 20:39] andrewshensky opened #6424 "Look into COA Locator Suggestions in Web App Search"
1. Find out why suggestions are not enabled for COA Locator in Web Apps.
2. Can this be enabled? If not why?

![image.png](https://images.zenhubusercontent.com/605381c005dab9b1270af201/0456f903-ea37-448d-b42c-f990ce93e91e)

[2021-06-16 20:43] amenity commented on #4376
https://github.com/cityofaustin/atd-moped/tree/4376_mc_edit_comments ...

[2021-06-16 20:52] jaime-mckeown commented on #6416
Configured account, added to Groups.

[2021-06-16 20:52] #6416 closed

[2021-06-16 20:53] jaime-mckeown commented on #6418
Trish at CTM got 5 extra seats for ATD in the AGOL Workshop on 8/19. Submitted training requests to get 5 more TED users registered.

[2021-06-16 21:09] johnclary commented on #6422
FYI @SurbhiBakshi

[2021-06-16 21:49] SurbhiBakshi opened #6425 "Meeting - Vision Zero Team for CIC Project"
Met with John, Annie, Lewis and Xavier to discuss the project that Annie will work on.

**Action Items**
- [x] Get Annie access to the read only database, request @Sergio to set up account and permissions.#6422
- [x] Schedule time with Xavier for data dictionary and walk through
- [x] Check if Annie needs help with set up to access data

**Notes**
1. Lewis gave an overview of the Vision Zero progr

[2021-06-16 21:58] SurbhiBakshi commented on #6422
thanks @johnclary and @sergiogcx!

[2021-06-16 22:00] sreelathab commented on #5576
@Nadin-Nader , @TracyLinder  - Nadin, Until the object creation, New function move are completed in DEV, the report would not execute properly. I have sent the updated applicant Name/organization name corrected report for your reference. please review and let me know your thoughts.

[2021-06-16 22:03] SurbhiBakshi opened #6426 "Make duplicate account inactive"
Linda E emailed me asking to delete the private email account for Juan O and retain the account with the CoA email address. I have inactivated the private email account as of now, will check to see if it is ok to delete it.

[2021-06-16 22:11] SurbhiBakshi commented on #6426
Don't see any records associated with either account.

[2021-06-16 22:54] Nadin-Nader commented on #3640
This deployment is working as expected. Closing

[2021-06-16 22:54] #3640 closed

[2021-06-17 13:23] #6333 closed

[2021-06-17 13:24] #6359 closed

[2021-06-17 13:59] dianamartin commented on #6236
Got to sync with Kenny on 6/16, he said he finished populating the spreadsheet. I was able to open it this morning. I'll import the spreadsheet into the school zone beacons table.

[2021-06-17 14:08] Nadin-Nader commented on #4071
Have not heard about any issues with this. Sending email and closing:

[2021-06-17 14:08] #4071 closed

[2021-06-17 14:13] SurbhiBakshi commented on #6426
Deleted the gmail account.

[2021-06-17 15:07] sergiogcx commented on #6220
There is a PR now:
https://github.com/cityofaustin/atd-moped/pull/349

[2021-06-17 15:23] ChrispinP commented on #6374
Total Cases by Council District and Total Cases by TIA Need reports added
![image](https://user-images.githubusercontent.com/67915167/122426730-1a481200-cf56-11eb-81fe-d593595c0ac6.png)

[2021-06-17 15:57] dianamartin commented on #6358
Debrief discussion with Stephanie
- Make a Big Picture workflow of all the systems they touch and how they connect, will help with Builder Huddle

[2021-06-17 16:07] jaime-mckeown opened #6427 "Shared Mobility Operations Feature Layer Update - Mary"
Mary requested an update to the Shared Mobility Operations Feature Layer.

[2021-06-17 16:08] jaime-mckeown opened #6428 "Parking Dashboard Request to Edit - Francesco"
Francesco requested to get all the content for the Parking Dashboard back to do some edits.

[2021-06-17 16:22] andrewshensky opened #6429 "PNTS Migration from ArcMap to AGOL"

[2021-06-17 16:22] dianamartin commented on #6278
# Meeting 6/17

Bert and I synced up about what I could do with the (new!) ATDHub site and the old ATD site

Recommended Tasks
- Check all sub sites in Site Settings that "Site Pages" feature is enabled
- Create modern "Home" pages for all sub sites
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b9004289-9fa6-4c28-99cb-0bfe10545fe8)
- Set Document Library to - Advanced

[2021-06-17 16:30] andrewshensky opened #6430 "Meet with Active Trans Regarding PNTS"
Meeting to discuss PNTS migration to pro and what needs to be included/potential enhancements.

[2021-06-17 16:31] andrewshensky commented on #6430
**Add fields:**
- Project Name
- Notification Purpose

**Enable fields:**
- Created by/date
- Edited by/date

**Remove Attachment capabilities**

**Include nearmap imagery**

**Reach out to other groups**
- PIO
- TED

[2021-06-17 16:44] #6430 closed

[2021-06-17 16:49] moorerst commented on #6328
@dianamartin can this be closed since we have identified the hotel desk and added to Robin. Just need to activate them when the desk set up is complete?

[2021-06-17 16:52] andrewshensky opened #6431 "Incorporate PNTS Enhancement From Active Trans"
**Add fields:**
- [x] Project Name
- [x] Notification Purpose

**Enable fields:**

- [x] Created by/date
- [x] Edited by/date

- [x] Remove Attachment capabilities

- [ ] ~Look in to fine tuning editing of vertices~

[2021-06-17 16:57] moorerst commented on #5884
emailed Chandra and Bill again for update on nest steps.

[2021-06-17 17:01] andrewshensky opened #6432 "Meeting with Special Events Regarding PNTS"

[2021-06-17 17:01] dianamartin commented on #6328
Yeah, I believe so

[2021-06-17 17:12] #6338 closed

[2021-06-17 17:12] #6381 closed

[2021-06-17 17:12] #6392 closed

[2021-06-17 17:12] #6396 closed

[2021-06-17 17:23] Nadin-Nader commented on #5875
@SubhaShroff  I am waiting on AnnMary to get back to me about the emails.

[2021-06-17 17:52] Nadin-Nader commented on #5576
I deployed this to DEV yesterday and reviewed it with Sree. We found that we cannot UAT this due o the fact that the Object needs to be created first (SCTASK0144355, Currently assigned to George Shirai). Once it's created we can run it on DEV and UAT.

**Status:**
Waiting on George rom CTM to deploy

[2021-06-17 18:04] amenity commented on #6219
Talked to @sergiogcx and decided to leave the email turned on. Cognito requires one to include the username and password in the emails, so he is hiding it using HTML.

We'll use this fairly evergreen text.🌲

[2021-06-17 18:10] dianamartin commented on #6206
Christina worked with Louis and found what the issue was and resolved it. Location services was disabled on the Chrome
browser.

[2021-06-17 18:10] #6206 closed

[2021-06-17 18:18] ChrispinP commented on #6098
Memo Details page:
![image](https://user-images.githubusercontent.com/67915167/122451533-e11b9c00-cf6d-11eb-9a14-719433b78f18.png)

Memo Data page:
![image](https://user-images.githubusercontent.com/67915167/122451598-f7295c80-cf6d-11eb-985f-c71a3315736d.png)

I believe we should add the Case Management menu to the Memo Data page as well. Memo has only two statuses now; Being Constructed and Sent.

[2021-06-17 18:20] ChrispinP commented on #6098
Pending review before we decide if we should add the mitigation tables to the Memo Data page or if them being on the Mitigations page is fine.

[2021-06-17 18:36] moorerst commented on #6328
closing issue

[2021-06-17 18:36] #6328 closed

[2021-06-17 18:38] dianamartin commented on #4267
Steve replied 6/17

[2021-06-17 18:38] #4267 closed

[2021-06-17 18:39] moorerst commented on #5884
Response from Chandra: During the call it was mentioned about the message reopening the requests, it would help to get some kind of a status on the research that was being doing on the message reopening the requests.

Austin 3-1-1 will soon be able to start putting resources to this effort, as it will roughly take 3-4 weeks given the other projects in queue at this time. During this timeframe we w

[2021-06-17 18:45] moorerst commented on #5884
@dianamartin Question from Chandra: During the call it was mentioned about the message reopening the requests, it would help to get some kind of a status on the research that was being doing on the message reopening the requests.
Is that question related to the Paging Activity?
Do we have any information on how Knack would handle this?

- Paging Activity
call back to 311 to stop paging
311 will no

[2021-06-17 18:56] atdservicebot opened #6433 "Hub Cabinets are not an asset type?"
Data Tracker

It doesn't look like our Hub cabinets are an asset type

Add Hub cabinets as an asset type

None

Brian C.

Request ID: DTS21-102200

[2021-06-17 18:58] moorerst commented on #5991
schedule meeting for 7/1

- agenda:
check in
resource tracking logs
311 SR integration update

[2021-06-17 18:59] andrewshensky opened #6434 "Add Users and StoryMap to Collaboration Group"
Users need access to collaboration group and StoryMap needs to be shared to group to allow specific users ability to edit and duplicate.

[2021-06-17 19:01] andrewshensky commented on #6434
Confirmed that users now have ability to edit StoryMap

[2021-06-17 19:01] #6434 closed

[2021-06-17 19:41] jaime-mckeown commented on #6345
- After discussing the Map Template map and how maps were created in the past, we are going to keep the one main Project area with the FGDB. Maria will do a Save As for each event and save the Project to a folder within the Project area. Within this folder, she can also save her output PDFs. All Event data will be created within the Project FGDB as separate layers for each event.
- She asked that

[2021-06-17 19:45] dianamartin commented on #5884
@moorerst I think that stop paging alert might be a question for John. We will need to discuss at Builder Huddle.

[2021-06-17 20:13] sreelathab commented on #6252
@Nadin-Nader , @TracyLinder - As of now this is card is on hold; Could not replicate the issue in DEV/TEST so, asked for example folders to do further analysis. Nadin sent an email to Maria until she gets back on that it will be on hold.

[2021-06-17 20:48] dianamartin commented on #6332
Haven't heard from user, so everything is good. Closing

[2021-06-17 20:48] #6332 closed

[2021-06-17 21:04] ChrispinP commented on #6191
2018 to 2020 tcp_submission records are now imported but still indexing for almost 24 hours now.

[2021-06-17 21:15] dianamartin commented on #6406
Showed Nathan on our 6/16 meeting when we discussed forms. He had no additional modifications to make. Closing Issue.

[2021-06-17 21:15] #6406 closed

[2021-06-17 21:16] #6325 closed

[2021-06-17 21:16] dianamartin commented on #6325
Stephanie said she'd create new issues for the form configurations

[2021-06-17 21:16] dianamartin commented on #6355
Will be scheduling a Builder Huddle for this as next steps

[2021-06-17 21:16] #6355 closed

[2021-06-17 21:18] dianamartin commented on #6380
We showed stakeholders at our Part 2 scoping meeting. We modified a few things and will add more workflows that weren't captured in the first discussion.

[2021-06-17 21:18] #6380 closed

[2021-06-17 21:20] dianamartin commented on #6315
Messaged Christina

[2021-06-17 21:20] dianamartin commented on #6295
I was at Cameron and swung by Jamie's office. He said everything looked good. Closing

[2021-06-17 21:20] #6295 closed

[2021-06-17 21:21] dianamartin commented on #6100
In GitBook, can get feedback from team later on. Closing.

[2021-06-17 21:21] #6100 closed

[2021-06-17 22:00] dianamartin commented on #6236
- Imported `158` records
- 1 record was a new on for 7533
Updated School Zone Details page, reordered fields in column layouts.

[2021-06-17 22:01] #6315 closed

[2021-06-17 22:01] dianamartin commented on #6349
Messaged Christina

[2021-06-17 22:03] #6349 closed

[2021-06-17 22:11] dianamartin commented on #6433
- We have a meeting to discuss the cabinet asset creation process with AMD and MMC on 6/23.
- I checked it out and the Cabinet asset page has an "Add Cabinet" page, it does not require going to the Location page and creating a location. It merely asks for the XY coordinates for the cabinet.

[2021-06-17 22:53] SubhaShroff commented on #2397
@Nadin-Nader @TracyLinder While looking into TURP Permit Extension process, I came across COA FRANCHISE(**75942**). That with EXTENSION GRANTED attempt, if 75942 is PVT%,  permit gets ACTIVated. Then I checked for this infocode use and I found it used in Payment procedure as well.
##--YET TO ADD MORE DETAILS of Payment procedure

[2021-06-17 23:00] Nadin-Nader commented on #5576
Spoke to George and he will check with Martin to see if this was done. If not he will do it tonight

[2021-06-18 14:57] Nadin-Nader commented on #5579
Closing Card as i have not heard back from Ryan saying that there are issues with this.

[2021-06-18 14:57] #5579 closed

[2021-06-18 18:16] Nadin-Nader commented on #5576
**Status:**
This has been deployed by George to DEV and is currently being tested by us since the report is already deployed.

[2021-06-18 21:15] SubhaShroff commented on #5578
@Nadin-Nader, I sent you the latest sample PDF outputs after updating the report today. Please review. I sent you the latest .rpt file, as well.

[2021-06-21 01:10] Nadin-Nader commented on #5388
The Task has been closed and commented with deployed.

**Next Step:**

See if this can go to TEST or if its still on hold @Nadin-Nader

[2021-06-21 01:47] Nadin-Nader commented on #5576
Reviewed the report on DEV and it looks good other than it not pulling any data for the date ranges i used 6/6/19-6/22/21. It also added a blank page after each table that had the CIP/Non-CIP totals. @Sreelatha-BlazeKannan we will need to find out why its inserting a blank page before moving to TEST

[2021-06-21 01:54] Nadin-Nader commented on #5578
@SubhaShroff as mentioned in our chat, It looks good to me. Lets get it on TEST for Stakeholder UAT.

**Status:**
Ready for TEST deployment

[2021-06-21 02:06] Nadin-Nader commented on #2397
@SubhaShroff was there more you were going to add?

[2021-06-21 02:17] Nadin-Nader commented on #1802
@SubhaShroff the demos look good. I will send them to the Stakeholders and see if they approve. If they do, we will get it on TEST, Then we will see if they want to UAT it again before moving to PROD.

[2021-06-21 02:29] Nadin-Nader commented on #6021
Email sent to Stakeholders:

————————————————————————————

[2021-06-21 02:29] Nadin-Nader commented on #4469
Email sent to Stakeholders:

[2021-06-21 02:47] Nadin-Nader commented on #6201
This has been sent to AMANDA CTM under **SCTASK0146307** to adjust the path.
**Status:**
Waiting on CTM to make change on PROD

[2021-06-21 13:22] SurbhiBakshi commented on #6131
https://app.zenhub.com/workspaces/data--technology-services-5caf7dc6ecad11531cc418ef/issues/cityofaustin/atd-data-tech/6165

[2021-06-21 13:34] SurbhiBakshi commented on #6056
Teams messaged @scottreedy  to see if computer and third party access are ready to go.

[2021-06-21 14:10] jaime-mckeown opened #6435 "AMANDA Street Closures: 6/21/21"
Update AMANDA Street Closures and Active Parking Permits Feature layers in AGOL

[2021-06-21 14:12] jaime-mckeown commented on #6435
Updates complete.