[2021-04-01 20:11] chiaberry commented on #5585
I'd love a huddle so I can get a good idea of what all the deliverables are

[2021-04-01 20:57] mddilley opened #5685 "Project Summary Map | Set order of layers in the map"
In the map of the Project Summary view, the order in which the streets or points layers are rendered is dependent on the order in which a user selects them and associates them with their project. Ex. If the user sets points initially and then later adds streets, the points layer renders below the streets layer (see screenshots below).

It would be best if an order was able to be set so that the ma

[2021-04-01 21:01] atdservicebot opened #5686 "[URGENT] Need to create new Secondary Intersection for US 183/Loyola. Currently there is a temporarily remove..."
ArcGIS

Need to create new Secondary Intersection for US 183/Loyola. Currently there is a temporarily removed signal there with Signal ID 628. The way the links are currently drawn does not appear to lend itself to create a new Location to then create the Signal.

Urgently — Today or tomorrow

We just found out about this in the MMC. The signal is coming online tomorrow. Not ideal. Sorry we didn't

[2021-04-01 21:43] amenity commented on #5674
@dianamartin - what do you think about this one? Are you able to size with the info provided?

[2021-04-01 21:44] amenity commented on #5686
Thanks for getting this, @dianamartin - lmk if you need anything.

[2021-04-01 21:47] dianamartin commented on #5686
@amenity Allyson and Lance aren't available, so I'll have to try to reach them tomorrow

[2021-04-01 21:48] dianamartin commented on #5686
Message Allyson and Lance about this, hope to get reply by tomorrow 4/2/2021.

[2021-04-01 21:51] amenity commented on #4808
@zappfyllc - pretty sure this issue was to update the table, so not a duplicate.

[2021-04-01 22:12] dianamartin commented on #5674
She's asking for a quick feature to be turned on "in line editing", but right now the information is being updated through an edit form. We are capturing the audit fields (Modified By, Modified Date), but also `Construction Note Date` which seems to be a particular note to see if the note has been updated recently. I think it's used to pull it into a process to update the feature in the Data and P

[2021-04-01 22:23] dianamartin opened #5687 "Create user help guides for parking dispatch for usability testing"
## Create help guide for Dispatcher
- [x] Create SR
- [x] Create SR Activities
- Assigning PEO
- Documenting Warnings/Citations
- Closing SR
- [x] Using Resource Tracking

## Create help guide for PEO
- [x] How to take and attach images and submit
- [x] Manage Time

[2021-04-01 23:05] mddilley opened #5688 "Project Summary Map | Prevent user from removing all features from project extent"
In the Project Summary view, a user can use the edit UI to remove all features from a project extent. This should not be possible since, in the New Project workflow, the user must add at least one feature to define a project. This will require adding a small check to the edit UI.

![Screen Shot 2021-04-01 at 6 03 40 PM](https://user-images.githubusercontent.com/37249039/113362795-c9d8f500-9314-11e

[2021-04-02 03:58] amenity commented on #5148
@mateoclarke — did you do the VZE account removal?

[2021-04-02 04:31] amenity commented on #5603
That URL tho 😍

[2021-04-02 11:20] atdservicebot opened #5689 "[URGENT] 311 not carrying over from datatracker"
_Requested by Allyson R._

Data Tracker

311 not carrying over from datatracker

Internet Browser: Chrome

Allyson R.

Request ID: DTS21-101810

[2021-04-02 13:21] SurbhiBakshi commented on #5596
Notes -
1. Did prep work for interviews including making contact with applicants, writing up interview questions, discussed projects with John, sent information to applicants and scheduling time with panel and applicants.
2. Conducted interviews and debrief
3. Sent ranked order of applicants to CIC.

[2021-04-02 13:21] #5596 closed

[2021-04-02 13:25] SurbhiBakshi opened #5690 "Compile information for Status Report 2"
Information compiled for Status Report 2 is [here](https://docs.google.com/spreadsheets/d/1lJoI70ezoS1wudGEEYx-MJYfguV1c5EpntRpJF4-mFk/edit?usp=sharing)

[2021-04-02 13:52] dianamartin commented on #5289
- Scheduled a short meeting with Billy, 4/2 - to ask about work flow.
- Plan on messaging Max about who actually sends maintenance requests to Billy - TED engineering associates or him

[2021-04-02 14:06] Nadin-Nader commented on #4511
AMANDA Admin/Developer account needed to work on this

[2021-04-02 14:08] jaime-mckeown commented on #5675
Both are registered.

[2021-04-02 14:08] #5675 closed

[2021-04-02 14:08] Nadin-Nader commented on #5388
Still researching and starting to do change after research of CODES

[2021-04-02 14:09] jaime-mckeown commented on #5646
Created a new Issue for TSDS Web App Updates.

[2021-04-02 14:09] #5646 closed

[2021-04-02 14:12] jaime-mckeown commented on #131
Group met with Gil on 3/31 to review Best and Final Offers, made decision. Moving forward with the next phase to of the RFP.

[2021-04-02 14:13] #5480 closed

[2021-04-02 14:17] jaime-mckeown opened #5691 "GISERT COVID-19 Duty Officer"
I was the DO on 4/1.

[2021-04-02 14:17] #5691 closed

[2021-04-02 14:31] dianamartin commented on #5289
# Meeting Notes with Billy - 4/2

We discussed the `Unassigned` - work order status
- In Data Tracker Billy says he reviews work orders daily, especially the `Unassigned` queue
- He's imagining that he'd continue to review that page and catch "new" work orders that are DSDD types.
- Thinking that a new column for the `DSDD` asset would be added to that "Unassigned" work order page or somewhere on

[2021-04-02 14:51] jaime-mckeown opened #5692 "Issue Created in Error."

[2021-04-02 14:51] jaime-mckeown opened #5693 "Fiber Optic Cable GIS Data Update - Meetings with AMD"
Start by meeting with Edgardo to talk about how we can update the Fiber Optic Cable data.

[2021-04-02 14:52] jaime-mckeown commented on #5692
Created 2 Issues due to an error, closing

[2021-04-02 14:53] #5692 closed

[2021-04-02 15:20] jaime-mckeown commented on #5693
- Edgardo mentioned that Kimley Horn was creating GIS data from the CAD drawings about a year ago. He needs to check-in with Brian to see if that data is available. He believes that the Fiber Optic layer in AGOL is pretty accurate, but is missing some pieces and many of the features are now current, so many attributes will need updating.
- Contact him at the end of next week if I haven't heard bac

[2021-04-02 15:29] SurbhiBakshi commented on #5379
Hi @ChrispinP - I can take Signs and Markings and unassign myself from AMD.

[2021-04-02 16:13] TracyLinder commented on #5585
Huddle scheduled for 4/5 @ 11am.

[2021-04-02 16:35] TracyLinder commented on #4643
I believe all of my issues have been updated w/ new specs.

[2021-04-02 17:14] TracyLinder commented on #5629
I updated the project description and added the Project Index label.

[2021-04-02 18:05] Nadin-Nader commented on #5388
Subha has worked on the CODE for this. I have approved the audit in Phabricator for the commit to go through [1ad3804c97c2](http://coaamandadevops01.austintexas.gov/R3:1ad3804c97c2ff12024add176bbbb56b244b64ec) to the sandbox

[2021-04-02 18:09] jaime-mckeown opened #5694 "Access to SZB Map / Add Filter"
Brian asked if I got everything I needed for the Web-IOs, and asked if there was a map available.

[2021-04-02 18:11] jaime-mckeown commented on #5694
- I added him to the Group and sent him a link to the Web App. He asked about being able to Query by SZB Power Source.
- I added the Filter Widget and created filters for SZB AC and Solar Power Sources. Told him to let me know if there are any other filters he would like added.

[2021-04-02 18:12] jaime-mckeown opened #5695 "Pro Migration Discussion with TED"
Meeting with Eric to discuss the Pro Migration for TED.

[2021-04-02 18:15] johnclary commented on #5689
Reached out to CTM and let MMC I'm working on it:

[2021-04-02 18:22] ChrispinP commented on #5659
Created text formulas to generate specific Improvement displays instead of the previous one. The language will make a lot more sense now when reading the Improvement. I then created a Short Text field that is set based on the Improvement selected and will pull in the associated text. I have updated all Mitigation tables to this new Improvement Detail field. Since this field requires field values n

[2021-04-02 18:31] #5639 closed

[2021-04-02 18:33] SubhaShroff commented on #5388
The code DEV promotion request for commit 1ad3804c97c2, is created on ServiceNow : **SCTASK0129406**

[2021-04-02 19:08] alan-deanda commented on #5503
ESRI symbols are not cutting it. With simple shapes, it is difficult to see the logic between the symbol choice once we introduce more than 3 symbols, and with this project we have 6 symbols. I'm moving on to designing PNG symbols in illustrator - I'll continue symbolizing by type and status, but showing greater difference between symbols.

[2021-04-02 19:23] sergiogcx opened #5696 "Moped Editor | Role Multiselect"
A single user should be able to have multiple unique roles, at the moment there can be any number of repetitions.

1. Get a full list of roles for a specific user
2. Put the list of roles and load into a multi-select field.
3. All available roles need to be visible in the multi-select.
4. Obtain the list of fields from multi-select.

[2021-04-02 19:40] TracyLinder commented on #5628
I removed the product index label; this isn't ready for our website yet.

[2021-04-02 19:57] ChrispinP commented on #5380
complete

[2021-04-02 19:58] #5380 closed

[2021-04-02 20:05] ChrispinP opened #5697 "Delete "csr_flex_notes" from AMD Data Tracker - May 2021"
Received automated reminder to delete flex notes in AMD Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd#data/object_95/records

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 03/01/21

Total Records: 25911
To Delete: 6680
New Total: 19231

[2021-04-02 20:06] ChrispinP opened #5698 "Delete "csr_flex_notes" from Signs & Markings - May 2021"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/signs-markings#data/object_172/records

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 03/01/21

Total Records: `12,277`
To Delete: `3,090`
New Total: `9,187`

[2021-04-02 20:20] jaime-mckeown commented on #5695
- We had a good conversation regarding what moving forward with GIS looks like.
- He is concerned that many people have been using ArcGIS for so long, that there would be push back to move to AGOL.
- He did say that their interaction with the software is for viewing purposes, so they could technically move to AGOL.
- I showed him the Web App that I created after talking with Leslie based on the on

[2021-04-02 20:20] #5695 closed

[2021-04-02 20:22] jaime-mckeown opened #5699 "Helping finding ATD GIS Data - Sara from APD"
Sara is looking for the following GIS data sets:
- Traffic Signals
- Stop Signs
- Pedestrian Signs
- Railroad Crossing Signs

[2021-04-02 20:24] jaime-mckeown commented on #5699
Sent her the following:

[2021-04-02 20:41] jaime-mckeown commented on #5699
Double checked with Christina on the layers before sending the information above to Sara.

[2021-04-02 20:41] #5699 closed

[2021-04-02 20:47] #5289 closed

[2021-04-02 20:49] dianamartin commented on #5372
In TEST | AMD - 17 MAR 2021 | AMD Data Tracker
- looked at existing AMD Work Orders that originate from the asset
- noticed they had the wrong asset types, probably bc you can edit after it gets created, just a quick way to create work order
- reviewed the signal work order fields to see which ones can be pre-populated when a new DSDD work order form is created

[2021-04-02 21:15] johnclary commented on #5689
Issue is resolved. Omar restarted the ESB server and that fixed things. I confirmed the data is flowing and let the MMC know.

[2021-04-02 21:15] #5689 closed

[2021-04-02 21:53] ChrispinP opened #5700 "[TDS] Capture tia_request Record ID"
Hello, I would like to do a View-Based PUT in the TDS app to grab the Record ID and put it into a Short Text field "Knack Record ID" (field_824) in the tia_request object.

Here is the Knack Doc: https://docs.knack.com/docs/view-based-put

This will allow us to capture the Record ID, and refer back to it for multiple needs such as specific customer emails and case details.

Here is the reference a

[2021-04-02 22:03] ChrispinP opened #5701 "[DTS] Update Application Details page Environments table with Notes and Modified by fields"
Improve information at a glance by providing Notes field and Modified by fields to be viewable on the Environments table

[2021-04-02 22:03] alan-deanda commented on #5503
![image](https://user-images.githubusercontent.com/42655533/113457373-7625e480-93c4-11eb-8f5b-c70d305cb5e2.png)
these are the proposed symbols for each rack type. green=good, gray=mapped, orange=needs repairs.

[2021-04-02 23:55] ChrispinP commented on #5439
Reviewed custom JS and CSS code, reviewed both builder and front-end functionality. Everything is looking and functioning correctly from my testing. I do not think a Power User is necessary for the Test env. Will want power users available on Switchover day to ensure normal workflow is working as expected i.e. Tracy, Sangeeta, Nathan.

Action Items after Switchover:
[ ] Update icons for Nav Menu a

[2021-04-05 13:53] #5379 closed

[2021-04-05 13:58] Nadin-Nader commented on #4945
Email from Gita said that this can be done. See below:

Next step is to gather all of the Acceptance criteria then set up time with Amita, Jenice and George to see how to work on this and who will be working on this.

[2021-04-05 14:07] jaime-mckeown opened #5702 "AMANDA Street Closures: April"

[2021-04-05 14:35] moorerst commented on #5501
We have two dispatchers doing user testing this week. They will enter SR's into Sharepoint as they normally do but also enter some of the SR's into the Knack application
Diana developed a Help Guide: https://atd.knack.com/parking-enterprise#help/.

[2021-04-05 14:40] moorerst commented on #5684
We were able to successfully test this. A set of desk were grouped together and labeled the PWD Pod.  I was put into a PWD group, that groups role could only see the PWD Pod. On both the desktop and mobile app when I logged in I could only see the PWD Pod of desk available for me to reserve. Closing this issue

[2021-04-05 14:40] #5684 closed

[2021-04-05 14:54] SurbhiBakshi opened #5703 "Update VZA Reporting - April 5, 2021"
Closing this issue since no officers had signed up for the last week.

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/27cb5e8d-0acd-4e52-b3ef-bfebc3c04904)

[2021-04-05 14:54] #5703 closed

[2021-04-05 15:52] dianamartin commented on #5442
Switched Street Banners to new builder 4/5/2021

[2021-04-05 15:55] dianamartin commented on #5442
I did it..I switched Street Banners to the new builder.

[2021-04-05 16:09] TracyLinder commented on #5585
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/62bec341-3f16-44c4-9d4f-f0374a770467)

[2021-04-05 16:15] moorerst commented on #5643
Builder Huddle scoring
Effort 15
Value 14
https://atd.knack.com/dts#project-evaluation/edit-project-evaluation/5fc89003b45a10001cfd14a4/
**Items to consider:**

- complexity around resident logins and multiple customers at one address
- maintenance needed, would need a Admin interface to manage
- would need a profile page where residents can update personal information
- would need to track histor

[2021-04-05 16:17] TracyLinder commented on #5585
We huddled. 😊

[2021-04-05 16:21] moorerst commented on #4601
Intake meeting issue #5511
Builder Huddle issue #5643

[2021-04-05 16:22] moorerst commented on #4601
Builder Huddle completed 4/5
Placing issue in Backlog until review of projects during Product Huddle

[2021-04-05 16:30] #4962 closed

[2021-04-05 16:39] dianamartin commented on #5686
reply from Allyson

I said i'd offer assistance if needed

reply from Allyson

I said

reply from Allyson

[2021-04-05 16:39] #5686 closed

[2021-04-05 16:42] moorerst commented on #5018
Report filters provides the options the Finance personnel requested.
Sent March report to Finance staff with instructions on how to export the report monthly.
Waiting on response from Finance staff

[2021-04-05 16:49] atdservicebot opened #5704 "Add "Burger Activity Center" to the "Location" dropdown of the HR application - Time Log tracking"
Other / Not Sure

Enforcement Officers will be providing support (directing traffic) for the Coronavirus vaccinations. "Burger Activity Center" needs to be added to the "Location" dropdown.

Soon — This week

Have to log in staff information that's been providing support at this location

Shavyvonne W.

Request ID: DTS21-101815

[2021-04-05 16:52] dianamartin commented on #5660
- [x] Created back up of `tmc_activities` - 135,519 records

[2021-04-05 17:11] SurbhiBakshi commented on #5704
@dianamartin  - I can take this.

[2021-04-05 17:17] SurbhiBakshi commented on #5704
Made the change, will let Shavyvonne W know.

[2021-04-05 17:33] Nadin-Nader commented on #1829
Sent a Follow up email to Paloma and Kim but still no response:

[2021-04-05 17:57] Nadin-Nader opened #5705 "Create AMANDA V6 Accounts for LIT Developers AISHWARYA and SUBHASHINI"
Create AMANDA V6 Accounts for LIT Developers AISHWARYA and SUBHASHINI

- Create AMANDA V6 TEST Accounts:
- [x] AISHWARYA
- [x] SUBHASHINI

- Create TASKS for AMANDA Account modification to ATD Department ADMIN
- [x] AISHWARYA **SCTASK0129651**
- [x] SUBHASHINI **SCTASK0129654**

[2021-04-05 17:59] jaime-mckeown commented on #5655
- Moved the data to Maint Dev and tested the steps.
- Emailed the group for who has a Maint Dev account and who does not.
- Ready to show the group tomorrow.

[2021-04-05 18:00] jaime-mckeown commented on #5702
- Austin Marathon added to Events Page. Emailed Frances to check on other April events.
- For now, will only add the Farmer's Market and Austin Marathon to the map, let Frances know to let me know if anything else needs to be added.

[2021-04-05 18:02] jaime-mckeown commented on #5702
- Ran the Active Parking Permits Script.
- Found the Web Map on Parking webpage. Emailed Joseph about it as we are still using outdated parking space data. Asked about being able to change to start using the Maint data since Francesco is updating based on Jeremy's edits in AGOL.

[2021-04-05 18:08] TracyLinder commented on #5580
@vschandramouli can you please add acceptance criteria for this please?
- EX
- RW, Temporary Use of Right-of-Way (TURPS)

[2021-04-05 18:27] Nadin-Nader commented on #5705
Sent an email to Jenice to give her a heads up on the TASKS submitted as this requires the AMANDA ADMIN Login to make changes:

[2021-04-05 18:28] Nadin-Nader commented on #5705
## **Status:**
Waiting on CTM to make changes AISHWARYA **SCTASK0129651**, SUBHASHINI **SCTASK0129654**

[2021-04-05 18:44] amenity commented on #5290
@dianamartin - should we tee this up for our next sprint?

[2021-04-05 19:00] moorerst commented on #5501
@dianamartin the Dispatcher Metrics (Created By and Modified By) on the Reports page is displaying Number of non-311 SR dispatched by dispatcher. Should we also included the 311 SR's they are creating?

[2021-04-05 19:01] dianamartin commented on #5290
Yeah, we're almost there. I've configured it in Test, I just need Billy to look at it then we can schedule something.

[2021-04-05 19:15] SurbhiBakshi commented on #5704
Shavyvonne emailed me, asked me to add vaccinations to make the choice `Burger Activity Center (Vaccinations)`. Made the change and emailed Shavyvonne.

[2021-04-05 19:22] dianamartin commented on #5501
@moorerst I added that report on the page

[2021-04-05 19:33] moorerst commented on #5501
@dianamartin the number of 311 SR's seems to be off by 1. I only count 4 311 SR's entered by Hillary.

[2021-04-05 20:26] jaime-mckeown commented on #5702
- chatted with Francesco, he has not kept track of any changes that have been made to the AGOL Parking Inventory data. He has fixed many spelling errors, block names, etc. in the AGOL data, but that is all.

[2021-04-05 20:27] jaime-mckeown commented on #5702
- I am not going to update the Active Parking Permits AGOL feature layer until I've heard back from Joseph. I guess I should create another issue so I can close this one.

[2021-04-05 20:27] #5702 closed

[2021-04-05 20:30] jaime-mckeown opened #5706 "Active Parking Permits Web Map - Outdated GIS Data"
The Active Parking Permits Web Map on the Parking Webpage https://www.austintexas.gov/paidparking is showing data that is not correct as we are still using parking space data that is static and from many years ago.

I thought by now Parking would be working in the updated Maint GIS data that has relationships between the layers, but they are still working in AGOL.

I emailed Joseph about this as t

[2021-04-05 20:54] jaime-mckeown opened #5707 "Micromobility Complaints Feature Layer"
- Francesco asked me how would be the best way to move forward to update the Micromobility Complaints feature layer in AGOL.

[2021-04-05 20:56] jaime-mckeown commented on #5707
- He asked about continually to export a shapefile from AGOL.
- Told him how we normally update data to AGOL.
- The layer is not shared publicly, so I let him know if it was not going to be shared publicly that he could take over ownership and publish updates himself since he is a Power User.
- It's not going to be public yet, so I moved the feature layer to his account.
- I let him know that when

[2021-04-05 21:50] dianamartin commented on #5661
- [ ] Created back up of `tmc_activities` - 135,519 records
- this kept failing :(
- [x] Exporting TMC_ACTIVITY = Close Issue (Duplicate) - 6107
- 1518 of the 6107 has issues with statuses of Closed Issue (Resolved), spreadsheet will have to be created for import
- [x] Created new .csv of the 1518 activities and their matching TMC issues
- Turned into pivot table to find the duplicates
- [x] Creat

[2021-04-05 21:51] atdservicebot opened #5708 "Online Austin Transportation ArcGIS installation tracker"
Jaime McKeown

Other / Not Sure

There is no master list of all ArcGIS Installations that are installed on computers for ATD. Scott keeps a spreadsheet for his own purposes, but every time I need to do an upgrade, need a list of all users that have ArcGIS installed, or need to know what version every installation is running, I get a Spreadsheet from Scott. Unfortunately, there are normally errors

[2021-04-05 21:51] #5660 closed

[2021-04-05 21:51] dianamartin commented on #5660
John corrected this last week, so working on #5661.

[2021-04-05 21:54] jaime-mckeown commented on #5708
@amenity I talked to Diana about this already, she suggested that I submit a DTS Request. Thanks!

[2021-04-05 21:59] #5707 closed

[2021-04-05 22:01] jaime-mckeown opened #5709 "Create Prototype for ArcGIS Installation Knack Table"
Come up with the fields I would like to see in a new Knack table for keeping track of ArcGIS installations.

[2021-04-05 22:05] dianamartin commented on #5367
Closing this, Chrispin and I have a meeting scheduled for 4/9 to review the changes in RPP Production

[2021-04-05 22:05] #5367 closed

[2021-04-05 22:06] jaime-mckeown commented on #5709
Ask for the following fields to be used in the table:
- Computer Name (text)
- Device Type (text)
- ArcGIS Desktop Version (text)
- ArcGIS Pro Version (text)
- ArcGIS Pro License Type (drop down, concurrent, named, single-use)
- User (text)
- Division (drop down list)
- Location (drop down list (choice of all ATD buildings and Home)

[2021-04-05 22:06] dianamartin commented on #5311
Should follow up with Bert on this to show him the mega menus I've created on the Hub site

[2021-04-05 22:06] jaime-mckeown commented on #5709
Submitted DTS Request.

[2021-04-05 22:07] jaime-mckeown commented on #5709
Configured Request and assigned to Apps Team Product Manager.

[2021-04-05 22:07] #5709 closed

[2021-04-05 22:08] dianamartin commented on #5603
@moorerst When Joseph gets back to us after he reviews, we can either draft and email to Ryan and him letting them know we did our action items for the RPP Petition. Maybe we need to check in to see if they checked in with Joana on the citizen information.

[2021-04-05 22:12] dianamartin commented on #5494
Messaged Lance to see if he's gotten access from CTM

[2021-04-05 22:14] jaime-mckeown commented on #5676
Forgot about this issue, created another Issue. Will close this one.

[2021-04-05 22:15] #5676 closed

[2021-04-05 22:15] johnclary commented on #5700
@TracyLinder @ChrispinP realizing we forgot to discuss this one during the last dev sync...er and maybe Chia wasn't here anyway.

I'll go ahead and assign to @chiaberry and remove everyone else. How soon do y'all need this?

[2021-04-05 22:16] jaime-mckeown opened #5710 "GIS Remote Work Subcommittee - 4/6/21"
Meet with the Subcommittee.

[2021-04-05 22:16] dianamartin commented on #5661
@chiaberry John asked if you could manually re-publish the data in [this view](https://github.com/cityofaustin/atd-knack-services/blob/7032751ccc095c2875ebcc6365fd399549fbf392/services/config/knack.py#L43)

services/config/knack.py:43
        "view_2892": {

[2021-04-05 22:17] jaime-mckeown commented on #5678
Both were registered for the class.

[2021-04-05 22:17] #5678 closed

[2021-04-05 22:19] dianamartin commented on #5687
- Sent to Stephanie for review 4/4.
- Emailed to stakeholders 4/5

[2021-04-05 22:19] #5687 closed

[2021-04-05 22:20] dianamartin opened #5711 "IT Support: Recommendations for personal To Do List - Jim D."
Jim D.
OOD

Messaged me

[2021-04-05 22:22] #5711 closed

[2021-04-05 22:22] dianamartin commented on #5711
replied with

- Met with Jim at 11am and demoed MS Planner and MS List we discussed the pros/cons and overall functionality of the tool
- Made sure he could see it on his Microsoft O365 account
- Said he'd trial it out

[2021-04-05 22:26] dianamartin opened #5712 "Update Parking Enforcement PEO information"
Shavyvonne W.
PE

Messaged

- Toni S. last name is spelled wrong

- Add Gabriel E. as PM shift
- Joseph T. as PM shift

- Sid C. to Nightshift
- D'Andre H. to Midshift.

[2021-04-05 22:27] dianamartin commented on #5712
Replied

[2021-04-05 22:28] johnclary commented on #5674
@dianamartin you are correct that inline editing is not ideal, because we need to capture the modified date and construction note date in order to propagate changes to Socrata and AGOL.  This will no longer be a limitation once we migrate to the new Knack builder in May.

In the meantime, I suppose we could allow Renee to inline edit the modified date, construction note date, and the internal/exte

[2021-04-05 22:29] johnclary commented on #5269
@jaime-mckeown closed. thanks :) :)

[2021-04-05 22:29] #5269 closed

[2021-04-05 22:31] dianamartin opened #5713 "Feature: Finish "Manage Accounts" for Parking Dispatch"
I had created this feature but never finished it. Since I was receiving a handful of requests to change officer information, I knew I had to finish this so that the PE staff could manage their officer's accounts.

[2021-04-05 22:34] dianamartin commented on #5713
- Changed URL slug from "Officer-Accounts" to "Manage Accounts"
- Added "Manage Accounts" to Resource Tracking page as a menu button
- Added "New Account" form
- Added "Edit Account" form
- Added "email address"
- Added "Radio #" "Manage Accounts" table

[2021-04-05 22:38] ChrispinP commented on #5700
@johnclary This is pretty major with all the external emails we will have going out and referring the customer back to their case details and submissions. Without this solution we would have to rethink and rebuild how the customer creates submissions.

I can assist with any building for this to move it along.

[2021-04-05 22:38] dianamartin commented on #5713
Now I need to update the Citation Tracking page to point to this accounts/manage accounts source

[2021-04-05 22:40] dianamartin commented on #5674
@johnclary thanks! I'll convey that to Renee and maybe we can come to a compromise until May!

[2021-04-05 22:47] chiaberry commented on #5700
I'll make this a priority, I was working on the dropdown menu today not realizing this took precedence

[2021-04-06 00:14] amenity opened #5714 "Deploy DSDD Work Order changes to AMD Data Tracker production"

[2021-04-06 00:39] amenity commented on #5674
Thanks, @dianamartin🙏

[2021-04-06 00:44] amenity commented on #5661
@chiaberry do you want an issue for 👆, or is it literally a button-push?

[2021-04-06 00:48] amenity commented on #5708
@jaime-mckeown @dianamartin - thanks! I'll set up a quick chat to discuss.

[2021-04-06 02:36] dianamartin opened #5715 "Feature: Connect "Accounts" object to Citation Tracking table, form"
Connect Citation Tracking Table/Form to "accounts" connection
- Currently the table/form point to the old "officer_names" table
- that table is not up to date and needs to be replaced by the old one
- will have to associate the historical records to new connections

[2021-04-06 13:00] atdservicebot opened #5716 "In the "Manage Account" tab, 2 supervisors listed as "officer" user role, need "admin" rights"
Other / Not Sure

In the "Manage Account" tab I noticed in the "User Roles" tabs Supervisors Christine R. and Toni S. are listed as "Officer" instead of "Admin". Could you give them "Admin" rights?

Urgently — Today or tomorrow

They will need access due to them being Supervisors

Shavyvonne W.

Request ID: DTS21-101825

[2021-04-06 13:27] zappfyllc opened #5717 "Data Migration | Transform IMPD Data to fit moped_proj_phases table"
[ETL Details -- moped_proj_phases mapping tab](https://docs.google.com/spreadsheets/d/1S8BiXf_H09epwPFI9VxeSgmQ6Jp25U-tWDJUlpzq0PM/edit?usp=sharing)

Notes:

- Subphase and milestone columns in the spreadsheet above indicate whether there are subphases or milestones embedded into the phase value stored in the IMPD Projects table in the "ProjectPhase" column. This will come in handy when eventually

[2021-04-06 13:45] zappfyllc commented on #5465
Just a reminder that the current IMPD taxonomies for these additional project domains/attributes are [linked above in the initial post](https://docs.google.com/spreadsheets/d/1VGO57EL1TtASbLz2yeWyLwcTB1lT9LR8G6_QZ4WSifs/edit#gid=0)

[2021-04-06 13:59] dianamartin commented on #5716
Updated user roles for Christine and Toni from "officer" to "admin".

[2021-04-06 13:59] #5716 closed

[2021-04-06 14:15] jaime-mckeown commented on #5650
Account was created.

[2021-04-06 14:15] #5650 closed

[2021-04-06 14:25] jaime-mckeown commented on #5326
- All users in ROW no longer need Desktop software, will need to request removal
- Met with Eric in TED to discuss Migration, he will be talking to division about it in upcoming meeting and will get back to me on how they would like to proceed
- Sent initial email to ATSD to all users
- Sent follow up email to ATSD regarding device locations
- Continue to work with Scott on installs and removals
-

[2021-04-06 14:39] jaime-mckeown commented on #5179
@johnclary update on Pro Migration:
- Continued emailing (meeting with some) Divisions regarding project, have finally gotten to all divisions. All have decided who will be keeping Desktop or moving to AGOL except TED.
- Met with Eric last Friday, he still needs to meet and discuss this with his group.
- Enrolled many users in 2 instructor-led trainings for this month.
- Continue to work with Scot

[2021-04-06 15:13] Nadin-Nader commented on #5389
@TracyLinder Robert has loaded the fix to TEST and i was able to print out the invoice and it had the department name on it.
 I will send Daniil and Paloma and email asking them to test this on TEST.

[2021-04-06 15:17] Nadin-Nader commented on #5389
Sent email to Paloma, Kim and Daniil to test this on TEST:

[2021-04-06 15:32] moorerst commented on #5591
Email and attachments sent 4/5 announcing rollout of Robin at Barton Oaks:
 Hello ATD Team,

We are excited to announce the launch of a desk hoteling pilot at Barton Oaks! We have acquired a desk hoteling software called “Robin”, which will be utilized to reserve desk hotel spaces in ATD buildings. Phase one of this pilot will begin with the Barton Oaks Plaza facility and will expand to other ATD

[2021-04-06 15:38] moorerst commented on #5643
Builder Huddle evaluation is complete. There are some complexities with this project decided RPP V2 will be in backlog until Product Huddle priorities projects.

[2021-04-06 15:38] #5643 closed

[2021-04-06 15:47] chiaberry commented on #5661
@amenity no need for an issue, the button pushing is in progress

[2021-04-06 16:36] chiaberry opened #5718 "Update github API authentication token"
Hi @atdservicebot,
We noticed that, at April 5th, 2021 at 23:20 (UTC) your authentication token (Knack <> Github Service Request Integration, with a user-agent header of PyGithub/Python) accessed the GitHub API, the token you used has an outdated format.
In order to provide additional security benefits to all our customers, we recently updated the format of our API authentication tokens. Please up

[2021-04-06 16:45] moorerst commented on #5018
closing issue to additional updates requested by Financial staff.

[2021-04-06 16:45] #5018 closed

[2021-04-06 17:03] dianamartin commented on #5666
# Email to all stakeholders?

All,

Our Knack applications will be/or have changed on the backend and should not affect the performance of your application. If you notice an buggy behavior or functionality that isn't normal, please submit a [DTS request](https://atd.knack.com/dts#new-service-request/) so a team member can address it.

This change will occur on [May 1st, 2021].

Impacted applicatio

[2021-04-06 17:35] alan-deanda opened #5719 "Healthy Streets Update"
From Jesse:

•	Riverside (all)
•	Belfast (all)
•	Garden Villa Dr, Barton Skyway, Locke Ln, Ray Wood Dr, Cumberland Rd, S 5th St, Live Oak St

[2021-04-06 17:46] jaime-mckeown commented on #2057
Paloma finally responded to Jacquie:

[2021-04-06 18:11] vschandramouli commented on #5579
Outstanding questions:

1. For average deficiencies, would it be okay to calculate per process instead of per attempt?

[2021-04-06 18:13] vschandramouli commented on #5576
Outstanding items to discuss:

1. Report format (PDF, XLS) and layout need to be finalized.

[2021-04-06 18:24] Nadin-Nader commented on #5705
Accounts have been created and modified, Closing

[2021-04-06 18:24] #5705 closed

[2021-04-06 18:30] alan-deanda commented on #5719
All existing Healthy Streets data has been backed up to G Drive prior to removing these segments from the live AGOL data.
- [ ] Comal (Manor to Rosewood)
- [ ] Riverside (all)
- [ ] Belfast (all)
- [ ] Garden Villa Dr, Barton Skyway, Locke Ln, Ray Wood Dr, Cumberland Rd, S 5th St, Live Oak St

[2021-04-06 18:33] mateoclarke commented on #5679
@amenity, this issue is confusing to me. Can you provide more context or a use case? specifically the part about "configuration option".

[2021-04-06 19:04] Nadin-Nader commented on #5557
Created the V6 TEST account and set the automation to create PROD tonight. I also created a Service Now request **(SCTASK0130008)** asking for David to be added to the proper groups in Active Directory and the correct ready only groups in AMANDA V7.

I will send an email to David and let him know his V6 accounts will be ready to go tonight after 630pm. I will close the card once the TASK is closed

[2021-04-06 19:05] tillyw commented on #5679
Sorry, it's hard to articulate this one! The use case would be when a user switched off "Capitally Funded," the DataTable component mutation would include a set statement that clears out "eCapris ID." I'm doing this by setting a new field in ProjectSummaryTable called "childField" under "Capitally Funded." Before running a mutation, DataTable will check to see if the field being modified has the "

[2021-04-06 19:07] Nadin-Nader commented on #5557
Email to David and Micaela:

[2021-04-06 19:12] Nadin-Nader commented on #5389
@TracyLinder Got a response from Daniil and it looks like its fixed on TEST. I let Robert know to go ahead and promote it. He asked that we run it by the AOB first on Thursday to get it on PROD.

[2021-04-06 20:40] amenity commented on #5679
Thanks, @tillyw, that captures it well. I should have also added @johnclary's point [here](https://github.com/cityofaustin/atd-data-tech/issues/5518#issuecomment-809475168) for more context, @mateoclarke.

I don't quite remember why we decided it should be a configuration rather than default behavior for any data "dependent" on a switch.🤔  Does that make it a lot more complicated?

[2021-04-06 20:51] SurbhiBakshi opened #5720 "Integrate 311 SRs"
Need to get a list of the service request types that would need to be directed to this application.

[2021-04-06 20:52] SurbhiBakshi commented on #5720
Check if impounds will be sourced from 311 or if staff adds new records.

[2021-04-06 21:04] SurbhiBakshi opened #5721 "Meeting : Builder Huddle for Shared Mobility Operations"

[2021-04-06 21:09] SurbhiBakshi commented on #5721
Meeting on 04/06/2021

**Resources -**
[Backlog Review ](https://docs.google.com/presentation/d/1QEoZ_obyGOl_hMxW8-MBh-HrVd_kEdTdVP1PDJy_BLE/edit?usp=sharing)
[Miro Workflow Board](https://miro.com/app/board/o9J_lU6H3zc=/)

**Notes -**
1. Look into 311 integration for SR's. (#5720)
2. Demo permits functionality to SMO team so they can start using it.
3. Check if Impound records will come from CSRs

[2021-04-06 21:21] #5704 closed

[2021-04-06 21:21] #4660 closed

[2021-04-06 21:22] #4997 closed

[2021-04-06 21:22] #5006 closed

[2021-04-06 21:22] #5007 closed

[2021-04-06 21:46] dianamartin commented on #5372
- Schedule a quick demo with Billy
- Billy was able to see the changes in Test and approve of the path forward
- Amenity created an issue to deploy changes to production environment #5714, closing this.

[2021-04-06 21:46] #5372 closed

[2021-04-06 21:46] dianamartin commented on #5714
In TEST | AMD - 17 MAR 2021 | AMD Data Tracker
- looked at existing AMD Work Orders that originate from the asset
- noticed they had the wrong asset types, probably bc you can edit after it gets created, just a quick way to create work order
- they are unassigned which I confirmed when going to the "unassigned" tab of the work orders (technicians)
- reviewed the signal work order fields to see whi

[2021-04-06 21:52] alan-deanda commented on #5719
Informed Jesse of the changes, leaving this in Review/QA until I hear back from him.

[2021-04-06 22:30] tillyw commented on #5679
Nope! The configuration is just a single property that tells DataTable whether a field has a dependent field and the name of that field. If it does, DataTable will automatically clear the dependent field if you deselect the main field.

[2021-04-06 22:45] dianamartin commented on #5714
- Reordered the button on the menu bar
- Added menu bar, new page on DSDD details page
- Added form on new page
- Added work order signals table on DSDD details page

[2021-04-07 13:10] andrewshensky opened #5722 "Updates to CTN"
Currently working to update the CTN to include recently completed projects.

[2021-04-07 13:11] #5665 closed

[2021-04-07 13:24] SurbhiBakshi commented on #4408
From meeting on 04/01/2021
 - [ ] Check how assignments over two days will work in reporting.

[2021-04-07 13:39] #3530 closed

[2021-04-07 13:39] #5690 closed

[2021-04-07 13:40] #5010 closed

[2021-04-07 13:40] #3277 closed

[2021-04-07 13:40] #3828 closed

[2021-04-07 13:40] #5001 closed

[2021-04-07 13:40] #5005 closed

[2021-04-07 13:40] #5008 closed

[2021-04-07 13:40] #5009 closed

[2021-04-07 13:42] SurbhiBakshi commented on #5233
Emailed Brazos -

_hi Josh,

Hope you are doing well!

I wanted to check in and see what the status was on getting the reports exported to the SFTP._

[2021-04-07 13:42] SurbhiBakshi commented on #5233
Reply from Josh
_I haven’t heard anything from my development team in a little while on this case.  I’ll follow up with them and let you know as soon as I get an update._

[2021-04-07 13:45] SurbhiBakshi commented on #4732
Meeting to get feedback and determine next steps has been scheduled for April 13th.

[2021-04-07 13:48] #5326 closed

[2021-04-07 13:51] jaime-mckeown opened #5723 "Pro Migration: 4/7 - 4/20"

[2021-04-07 14:19] #5682 closed

[2021-04-07 14:36] moorerst commented on #4388
Closing this issue the workaround has been documented

[2021-04-07 14:36] #4388 closed

[2021-04-07 15:02] jaime-mckeown opened #5724 "Pro Migration Weekly Meeting: 4/7/21"

[2021-04-07 15:06] amenity commented on #5708
Met with @jaime-mckeown and decided that this will me managed in Teams via Excel online for now. That will give her time to pin down exactly what and how she wants to track and see this information before passing it along for app-building. DTS portal would be the ideal place to track this longer term.

[2021-04-07 15:12] amenity commented on #5477
@amenity please compile responses here.

[2021-04-07 15:13] amenity commented on #5664
@amenity - add your notes here.

[2021-04-07 15:15] atdservicebot opened #5725 "Overriding default segment IDs when creating new locations for naming"
Data Tracker

Overriding default segment IDs when creating new locations for naming

Having the option to being able to override default segment names pulled from links to better or more accurately name a new location/asset

Using landmark field to give the appropriate name

Allyson R.

Request ID: DTS21-101830

[2021-04-07 15:16] TracyLinder commented on #2732
Chrispin added some page breaks to the memo; ready to view w/ stakeholders @ next meeting.

[2021-04-07 15:18] TracyLinder commented on #5700
Note to Self: This will fix our email link bugs.

[2021-04-07 15:19] #5477 closed

[2021-04-07 15:20] TracyLinder commented on #5700
Per John, we need to look at error handling on this for when the API fails. He's also asking us to try our best to break it.

[2021-04-07 15:24] TracyLinder commented on #2764
Ready to review w/ stakeholders.

[2021-04-07 15:26] johnclary commented on #5239
i started this [slide deck](https://docs.google.com/presentation/d/1MyQLdixrOWGKq2idRnLdkwbxgHCC0ienZzfxCYD8pXc/edit#slide=id.p) as place to capture documentation. i'm going to translate this to markdown and expand it.

[2021-04-07 15:26] TracyLinder commented on #5535
We need to review w/ stakeholders. What content should go on the home page?

[2021-04-07 15:28] TracyLinder commented on #4768
We need to document all system generated emails, a link to where the email lives in the KNACK builder, when it's triggered, who it goes to, and it's content.

@SurbhiBakshi do you mind attaching your VZA email documentation for our reference please?

[2021-04-07 15:28] TracyLinder commented on #4768
@TracyLinder schedule a sync w/ Chrispin on this.

[2021-04-07 15:33] amenity opened #5726 "Perform 4/13 VZA App officer training"
- [x] Update [registration form](https://docs.google.com/forms/d/1o0Jpe21BboUJgPLZ4Bo7yC8kdynBDZ1whrNAhYgWWDg/edit?usp=drive_web) with new date
- [x] Perform training and have officers fill out registration form
- [x] Create officer accounts
- [x] Add officers to VZA Officer Contact List in Outlook
- [x] [Email officers](https://docs.google.com/document/d/1OBxv49_LD_T2YT9AkyRugjmiScBCnQfI8k3WzRan2

[2021-04-07 15:34] amenity commented on #5664
Shifts are grouped by by day+time+team, not assignment, so they will not render together if one begins after 12am. So we decided that Lewis will keep one assignment per shift and put instructions to move between locations in the assignment notes. We are refraining from doing anymore Knack/dev work on the app until we have more officer participation.

To move forward with this approach, Lewis creat

[2021-04-07 15:34] TracyLinder commented on #5342
John: This is possible, it's being done for the 311 requests in the data tracker. Probably a size 2; Dev work.

[2021-04-07 15:35] #5664 closed

[2021-04-07 15:36] amenity commented on #5726
Sticking another story point on this because I need to review + test assignments with Lewis' new approach before the demo.

[2021-04-07 15:36] TracyLinder commented on #5545
Chrispin built a work-around; bug has been fixed. Closing.

[2021-04-07 15:36] #5545 closed

[2021-04-07 15:37] mateoclarke commented on #3525
We got an email from Mark M on 3/2/21 saying they are updating their automated SFTP configuration for standard extract users. He asked a few questions and ultimately suggested that we create a new user account in an email on 3/22. We saw a two day pattern of records being imported but not a recurring daily extract.

I followed up today, asking if there is something missing in our setup to get the

[2021-04-07 15:38] johnclary commented on #5725
For example, see [this location](https://atd.knack.com/amd#locations/view-location-details/606da47ae058b1001d250ccc/).

The street segment names are not helpful, and the geometries are not current. We are beholden to CTM updating the the segment IDs and geometries.

Current geometries (via Nearmap):
<img width="810" alt="Screen Shot 2021-04-07 at 10 36 33 AM" src="https://user-images.githubusercon

[2021-04-07 15:40] #5595 closed

[2021-04-07 15:42] TracyLinder commented on #4624
@TracyLinder talk to Sangeeta about this.

[2021-04-07 15:46] #5321 closed

[2021-04-07 15:49] amenity commented on #1921
This isn't a giant push implementation-wise, challenge will be getting buy-in from AMD and making sure it will be incorporated into their workflow.

[2021-04-07 15:54] jaime-mckeown commented on #5724
- COA Comparison Chart - ArcMap, Pro, AGOL: Shanon would like our feedback for this list
- Shanon will be adding us to MS Project for Task Assignments
- Talked about upcoming TRAIN Classes
- Talked about the Learning Plans, she assigned Pro Learning Plan to us to see what it looks like
- Watched more of the Change Management Video
- Shanon will be updating the Users, Install Spreadsheet, will let

[2021-04-07 15:54] #5724 closed

[2021-04-07 15:55] Nadin-Nader commented on #4945
## **Next Step:**

Schedule Time with Ryan

[2021-04-07 15:57] Nadin-Nader commented on #5627
Spoke to Deb via chat and she mentioned that this is still in their queue but have been given AMANDA 7 stuff to work on as a Priority. Once they have a window they will pull it in.

Will follow up in On Friday or Monday 4/9 or 4/12

[2021-04-07 15:58] Nadin-Nader commented on #1829
## **Next Step:**

Schedule time with Paloma

[2021-04-07 15:59] amenity commented on #5661
Closing this, @chiaberry - thanks!

[2021-04-07 15:59] Nadin-Nader commented on #2397
## **Next Step:**

Schedule time with Paloma to go over the Excel sheet

[2021-04-07 15:59] #5661 closed

[2021-04-07 16:03] TracyLinder commented on #5627
We're assigning LIT to work on this. @Nadin-Nader will you please let Deb know that we've added our resources to this so we don't have people double-working?

[2021-04-07 16:13] amenity commented on #5486
One for you, @dianamartin!

[2021-04-07 16:18] TracyLinder commented on #2397
@Nadin-Nader can you please ask stakeholders if they are using any reports that pull in either of these infos?

[2021-04-07 16:20] #5148 closed

[2021-04-07 16:23] amenity commented on #4999
Doing this in June; they're changing the data source used for this metric: AMD will be collaborating with the Center for Transportation Research at UT.

[2021-04-07 16:23] #5526 closed

[2021-04-07 16:40] amenity commented on #4908
Not sure precisely when, but @johnclary took care of this.

[2021-04-07 16:41] #4908 closed

[2021-04-07 16:42] jaime-mckeown commented on #5655
- went over the Test Plan with the Subcommittee yesterday, we came up with some changes and additions to the Test Plan
- worked on updating the Test Plan Yesterday
- completed the changes, tested the Mxd and Aprx to make sure the steps all made sense.

[2021-04-07 16:43] amenity opened #5727 "Create v1 version of ArcGIS installation tracker in Excel online"

[2021-04-07 16:43] mateoclarke commented on #5148
Yes, I just deleted his account in VZE. Thanks for the poke, I missed this originally.

[2021-04-07 16:47] jaime-mckeown opened #5728 "BOUNDARIES.Jurisdictions Feature Layer in AGOL not Drawing Properly"
Leslie from TED asked me to look into the Jurisdiction layer in the ATD Transportation Engineering Map as it is only drawing the Full Purpose area, and not the 3 mile ETJ, 5 mile ETJ, or Limited Purpose.

[2021-04-07 16:48] jaime-mckeown commented on #5728
- Looked at the feature layer itself in a new Map, and only the Full Purpose area will draw.
- Submitted a Service-Now Request for the feature layer to be fixed.

[2021-04-07 17:25] atdservicebot opened #5729 "Enable removal of duplicate SRs submitted by dispatchers"
Other / Not Sure

Parking Enterprise Reporting- The Dispatcher made a duplicate SR and there is no way to delete it.

Can we request a way for the Dispatcher to be able to delete a SR.

Soon — This week

Shavyvonne W.

Request ID: DTS21-101835

[2021-04-07 17:34] #5669 closed

[2021-04-07 17:34] alan-deanda commented on #5719
Riverside needs to be added back

[2021-04-07 17:36] alan-deanda opened #5730 "Change Strava POC to Andrew"
Emailing TXDOT to have Andrew be the new point of contact for COA's Strava sublicense.

[2021-04-07 17:37] alan-deanda commented on #2977
@andrewshensky , you can add your issues for helping out with story maps/PIO to this epic

[2021-04-07 17:38] alan-deanda commented on #1715
@andrewshensky we use this epic to track issues with our enterprise databases (MAINT, DM, etc) in order to build a case for creating our own databases in the server.

[2021-04-07 17:40] alan-deanda opened #5731 "Print Bike Map Spring 2021"
The last updates to route comfort levels are currently being implemented. Full-size print reviews have shown that the new workflow has been successful. Creating the entire map in ArcPro renders it in high resolution, and creating the art in Adobe makes room for creative freedom.

This update is being prompted and prioritized by two factors: current stock of the 2020 print bike map is running low,

[2021-04-07 18:36] zappfyllc commented on #5465
re: `CorridorPlan` values stored in the CurrentPhase column in IMPD:

We made the decision to not include CorridorPlan in our initial list of phases/sub-phases/milestones/statuses because of feedback from the card-sorting activity and our initial guesses at whether that actual fit the domains listed. Instead, we would propose that CorridorPlan might be a `Project Type` or some other attribute list

[2021-04-07 18:39] zappfyllc commented on #4574
[Current list of milestones via Gitbook documentation](https://app.gitbook.com/@atd-dts/s/moped-technical-docs/user-guides/project-phases/phase-detail) added to the issue above.

I still think this is a good nice-to-have if we ultimately want to grow the number of milestones that can be selected (via an autocompleted search function or something) so not pressing but context added since this issue

[2021-04-07 18:47] SurbhiBakshi commented on #5729
@moorerst, @dianamartin - want to check if there might be a reason that the SR can't be deleted from the front end (or marked as duplicate). Looks like it can wait till tomorrow, but let me know if you need me to look into this today.

[2021-04-07 18:58] TracyLinder commented on #1994
Vish has been assigned to begin analysis on this project.

[2021-04-07 18:59] tillyw opened #5732 "Set date types to timestamp with time zone for project table"
This would be an ideal backend solution for [Bug: Calendar component is rendering dates incorrectly #5682](https://github.com/cityofaustin/atd-data-tech/issues/5682). This bug was fixed on the frontend with PR [Sets time zone to UTC when formatting for display #260](https://github.com/cityofaustin/atd-moped/pull/260), but a backend solution is preferred. I attempted to implement this solution by s

[2021-04-07 19:09] jaime-mckeown opened #5733 "Problems Connecting to Data in GISDM - Sean M."
From Sean:

[2021-04-07 19:10] jaime-mckeown commented on #5733
Double checked that he is using Desktop and trying to connect to GISDM.

[2021-04-07 19:11] jaime-mckeown commented on #5710
We went over my first draft of the Test Plan, decided on some changes. I will be making those changes before the next meeting next week.

[2021-04-07 19:11] #5710 closed

[2021-04-07 19:18] TracyLinder opened #5734 "Project Kickoff: ROW AMANDA Permitting Metrics 4/14/21"
### View the Kick-Off slides [here.](https://drive.google.com/file/d/1l7idy_LkLHg-qzF9RETOeLIicAfxfn8_/view?usp=sharing)

[2021-04-07 19:23] TracyLinder commented on #4946
### Update

A project kick-off has been scheduled for Wednesday April 14, 2021. We will refine the scope, assign project members, and plan logistics.

[2021-04-07 19:26] amenity opened #5735 "Implement ability to pass values into service request form via URL parameters"
![DTS-Portal_URL-parameters](https://user-images.githubusercontent.com/1463708/113922707-3ccaeb80-97ad-11eb-81d6-7bea271a03f2.png)

Is this possible? Would be useful for the standard "DTS support" button we've discussed putting in all our apps.

[2021-04-07 19:27] sergiogcx opened #5736 "Moped Database | Add CorridorPlan to categories"
From a [conversation with JD](https://austininnovation.slack.com/archives/CNUEPKLB1/p1617817788119800) it appears we need to add `CorridorPlan` to the list of categories for a project, this in order to assist the quality of the data migration.

This is the current state of `moped_categories`

![2021-04-07_13-27-09.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/487df753-002d-429

[2021-04-07 19:30] moorerst commented on #5729
@dianamartin I spoke to Shavyvonne this request for Dispatchers to have access to delete SR's is within the Knack system. I asked if we should require a reason why they are deleting the SR and she agreed that would be helpful.

[2021-04-07 19:40] zappfyllc opened #5737 "Timeline | Edit phase table to include subphases column"
As a user editing the phases in a project, I want to see and edit all subphases related to the phase of the project.

**Details:**

- [x] Update `moped_subphases` so that they can relate to multiple phases, see [Gitbook documentation](https://app.gitbook.com/@atd-dts/s/moped-technical-docs/user-guides/project-phases/phase-detail) and [this spreadsheet](https://docs.google.com/spreadsheets/d/13Ebvd

[2021-04-07 19:47] SurbhiBakshi commented on #4408
Error while resolving assignment scheduled over two days
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/17d65962-dd0d-4d2b-acfc-45ea21e0e8ec)

[2021-04-07 19:53] #5609 closed

[2021-04-07 19:58] jaime-mckeown opened #5738 "Question about GISDM Accounts - OSE"
John C. from CTM emailed about Maria and Richard needing GISDM accounts. Apparently they were in the same Pro class, and John was trying to help them.

[2021-04-07 19:58] jaime-mckeown commented on #5738
Both Maria and Richard already have GISDM accounts. I sent them their usernames, and told them if they had any questions regarding Pro to setup some time with me so we can talk.

[2021-04-07 19:59] #5738 closed

[2021-04-07 20:06] moorerst commented on #5729
@dianamartin informed Shavyvonne the Dispatchers should use Closed Issue (Duplicate) with a note when entering a duplicate SR and not delete them.

[2021-04-07 20:12] alan-deanda opened #5739 "Map Bike Facilities up to Q2"
This issue will track the updates to the bike map by street/trail name. I'll add projects from ATSD here.

[2021-04-07 20:13] alan-deanda opened #5740 "Generate Steepness Chevrons"
We need to generate steepness icons to place along routes in the printed bike map. The existing steepness chevrons were created ~10 years ago, and were likely improvised, as this has been the norm for every new project since with significant steepness. The chevrons are placed at the location in the route in the direction where the steepness occurs, and they roughly communicate the following:

- 1

[2021-04-07 20:14] alan-deanda opened #5741 "Add PHBs, MetroBike data"
Add [PHB](https://austin.maps.arcgis.com/home/item.html?id=e6eb94d1e7cc45c2ac452af6ae6aa534)s to online bike map, and PHBs/[Metrobike](https://austin.maps.arcgis.com/home/item.html?id=7d4d0b1369504383a42b943bd9c03f9a) data to the print bike map.

[2021-04-07 20:14] alan-deanda opened #5742 "Test Basemaps"
* Test base map data from 2 different sources: AGOL's [bike map base map](https://austin.maps.arcgis.com/home/item.html?id=5e1e598cd985425b82d3c900d11843a3), and a base map drawn from CTM's authoritative feature services in AGOL.
* Create front and back exports of each base map layout and add them to copies of the original Illustrator doc from the print bike map 2020.
* Share pdfs of Illustrator d

[2021-04-07 20:14] alan-deanda opened #5743 "Advanced Symbol Layer Drawing"
Once the elevation field has been filled in, symbolize using advanced symbol layer drawing in AGOL

[2021-04-07 20:15] zappfyllc opened #5744 "Phases | Add subphases tables"
- [x] Add moped_subphases [Gitbook](https://app.gitbook.com/@atd-dts/s/moped-technical-docs/user-guides/project-phases/phase-detail)
- [x] Add moped_proj_subphases (to store project-specific subphase data)
- [x] Add `Phase date type` column to moped_phases (see below for info)

**Moped_proj_subphases attributes**
- Project subphase id (auto-incrementing int, primary key)
- Subphase name or id (sho

[2021-04-07 20:19] alan-deanda opened #5745 "Create ArcPro Project for Print Bike Map Spring 2021"

[2021-04-07 20:30] sergiogcx commented on #5612
This is what I have been going by:
https://miro.com/app/board/o9J_lMysndE=/​​​​​​​ 

[2021-04-07 20:33] jaime-mckeown commented on #5723
- checked in with Scott on Installs and Removals that are still pending for AMD.
- checked in on OSE installs / removals, he will get those done tomorrow morning.
- Added many more more comments for Shanon on Installs and Users Spreadsheet so they are there before she updates it again.

[2021-04-07 20:40] atdservicebot opened #5746 "Bicycle and pedestrian data collected through permanent counters and short duration counts (video, t..."
Dylan Johnstone

Other / Not Sure

Bicycle and pedestrian data collected through permanent counters and short duration counts (video, tube counts) should be easily accessible for ATD staff to inform projects and planning, in order to better meet goals defined in the ASMP.

Requesting the API for Austin's bicycle and pedestrian data from TxDOT/TTI's Bicycle and Pedestrian Count Exchange (BP|CX) to

[2021-04-07 20:40] amenity opened #5747 "Data Model + Migration | Perform initial run of Access ---> Moped migration"

[2021-04-07 20:42] sergiogcx commented on #5625
Closing

[2021-04-07 20:42] #5625 closed

[2021-04-07 20:44] amenity commented on #5612
Connection/integration is working, able to pull Access data into local Postgres db.

[2021-04-07 20:44] #5612 closed

[2021-04-07 20:58] Nadin-Nader commented on #2397
Sent email to Paloma and Jaclyn:

From: Nader, Nadin
Sent: Wednesday, April 7, 2021 3:58 PM
To: Lozano, Jaclyn <Jaclyn.Lozano@austintexas.gov>; Amayo-Ryan, Paloma <Paloma.Amayo-Ryan@austintexas.gov>
Cc: Lewallen, Isaiah <Isaiah.Lewallen@austintexas.gov>; Pepper, Gregory <Gregory.Pepper@austintexas.gov>; Perez, Kimberly <Kimberly.Perez@austintexas.gov>
Subject: RE: 2397 Merge Info fields, EX & RW F

[2021-04-07 21:06] Nadin-Nader commented on #4945
Meeting Scheduled for 4/12/21 @ 1030am

[2021-04-07 21:07] sergiogcx opened #5748 "Moped Database | Write a script to wipe out data from staging, orderly"
Once the data is already inserted in local, stage or production. We need to be able to wipe out all IMPD data in an organized way.

[2021-04-07 21:09] jaime-mckeown commented on #5733
- Got on a call with Sean. The layer that wasn't drawing just needed to be re-symbolized as the Supervising Engineers have changed.
- He has also had problems connecting to GISDM. Talked to him about the O Drive and how it's needed to connect. Sent him the batch file to add to his desktop.

[2021-04-07 21:09] #5733 closed

[2021-04-07 21:09] zappfyllc commented on #4835
[Notes from 1/21 meeting with @amenity and Daniel Brooks](https://docs.google.com/document/d/1NEs-42_l8-5-wJ6fc2eKdjszULYkeQpoTbsEsB__Iy8/edit?usp=sharing)

[2021-04-07 21:13] amenity commented on #5736
This will be covered during https://github.com/cityofaustin/atd-data-tech/issues/5465#issuecomment-815135267

[2021-04-07 21:13] #5736 closed

[2021-04-07 21:14] zappfyllc commented on #3655
#5210 covers Enhancements to Project Phases, closing this

[2021-04-07 21:14] #3655 closed

[2021-04-07 21:34] amenity commented on #5700
@zappfyllc has a single view-based PUT that he uses for error-handling. He doesn't hide forms; has them on a view not visible to user.

[2021-04-07 21:46] #5319 closed

[2021-04-07 21:46] #5428 closed

[2021-04-07 21:49] johnclary commented on #4341
@chiaberry this ETL has been broken for some time because we renamed a few of these fields in Knack and they may not match the Socrata or AGOL datasets. E.g. `ATD_FLASHER_ID` became `ATD_BEACON_ID` in Knack.

Good luck! I'm happy to help.

[2021-04-07 21:52] jaime-mckeown commented on #5723
Emailed the following divisions desktop users regarding ATD's Pro Training Page: AMD, OSE, PE, SDD, SM, SMB, TDSD, VZ.

[2021-04-07 22:08] zappfyllc commented on #5700
Reading this over, I am attaching an example of the view-based PUT function I call and an example of calling it, which is all similar to the link @ChrispinP shared above, with a few exceptions I hope might help with how frequently you're getting errors:

- I never use CSS to hide or even re-position an element from the DOM: you can submit a PUT or a POST to a form that's stored on another page of

[2021-04-07 22:14] mddilley opened #5749 "Show drawn points in project summary map and refine UI"
This will involve adding a config to the `mapConfig` object for the drawn points layer so they can be displayed alongside point and street features in the summary view.

Also, some other details:
- [x] Include drawn locations in the "number of locations" total at the bottom of the map
- [x] Update the cursor in drawing mode (right now is the grab for everything)
- [x] Explore data driven styling f

[2021-04-07 22:14] mddilley commented on #5466
Moved some of the tasks above to https://github.com/cityofaustin/atd-data-tech/issues/5749

[2021-04-08 04:23] amenity commented on #4408
@SurbhiBakshi — do you think this is a dealbreaker?

[2021-04-08 04:23] amenity commented on #4408
Probably easiest to discuss in Teams w/ Lewis once you've assessed. 🙏

[2021-04-08 05:23] johnclary commented on #5466
This is very exciting, Mike!

Meandering thoughts prompted by seeing this visually:

How will the user know if they should draw a points, lines, or both? We intend to add constraints around the kinds of components that will be represented with points vs lines, but component-level detail is not part of the project creation process. At this early stage of project creation, it might be enough to add

[2021-04-08 05:43] amenity commented on #5746
@jaime-mckeown @johnclary - how should we size and prioritize this? It seems like there is dev work as well as geo?

[2021-04-08 06:18] amenity commented on #5735
@johnclary I know we've discussed this... Is it tricky because of the conditionally-rendered form fields?

[2021-04-08 07:36] amenity commented on #5466
_"Map the general location of your project using **points** for work at intersections or crossings, e.g. signals, crosswalks, and ramps. Use **lines** to identify work that follows a stretch of road, such as sidewalks and bike lanes._

Totally get where you're coming from and am willing to go there if it makes sense. Concerns:
- If a user creates a new project and straightaway gets an annoying ban

[2021-04-08 12:12] atdservicebot opened #5750 "[URGENT] Add chronological order button in the "Created" column"
Other / Not Sure

I would like to request for a chronically order button option in the "Created" column. In the "Resource Tracking" tab they have that option for the "Radio #".

Urgently — Today or tomorrow

This would make it easy for the Dispatcher to find the last SR they input and might need to add to vs scrolling to locate it.

Shavyvonne W.

Request ID: DTS21-101845

[2021-04-08 13:13] Nadin-Nader commented on #1829
Meeting scheduled for 4/9/21 @ 130pm

[2021-04-08 13:24] Nadin-Nader commented on #5627
Sent email to DEB:

[2021-04-08 13:49] jaime-mckeown commented on #5728
- Ben re-published the Jurisdictions layer, it is now drawing properly again.
- Notified Leslie that the layer is working correctly again.

[2021-04-08 13:49] #5728 closed

[2021-04-08 13:50] jaime-mckeown commented on #5694
He has not requested any other filters, closing Issue.

[2021-04-08 13:50] #5694 closed

[2021-04-08 13:51] jaime-mckeown commented on #5655
- Sent updates to Daniel in WPD for feedback.

[2021-04-08 13:54] jaime-mckeown commented on #5693
Sent Edgardo email reminder about getting the data on 4/8.

[2021-04-08 13:56] SubhaShroff commented on #4071
- I tested for this ticket yesterday(4/7/2021) on TEST instance.
 Currently
 Any Folders with WITHDRAWN, VOID status can't be seen on 'My Permits/Cases' as the page is designed to allow only limited folder statuses to display on this portal page. [Need to check what are the folder statuses that are allowed to display.]

If the bill is generated, for EX, DS, RW with withdrawn or VOID status, the fo

[2021-04-08 14:34] dianamartin commented on #5708
@amenity What the "managed in Teams via Excel online" means? Does it mean Jaime has a spreadsheet in the DTS SharePoint page that she's linking to our DTS Teams channel?

[2021-04-08 14:36] dianamartin commented on #5239
@johnclary fyi: slide deck isn't shared with me

[2021-04-08 14:39] dianamartin commented on #5729
@moorerst @SurbhiBakshi should we close this since we gave the user guidance on how to close a duplicate SR?

[2021-04-08 14:44] #5729 closed

[2021-04-08 14:46] dianamartin commented on #5259
Gilbert has replied to say he'd get a hold of me on 4/6, but we ended up never syncing at 10 am like we discussed. I think I'm going to close this unless he brings up any new issues.

[2021-04-08 14:46] #5259 closed

[2021-04-08 14:47] dianamartin commented on #5603
Closing this, we can just use tasks as reference to let Parking know what we did on our end.

[2021-04-08 14:47] #5603 closed

[2021-04-08 14:52] dianamartin commented on #5715
On 4/6 I did this:
- [x] added "Name" field from accounts object to "New Officer Citation Tracking"
- [x] renamed "Name" to "Officer Name"
- [x] added "Name" field from accounts object to "Edit Officer Citation Tracking"
- [x] renamed "Name" to "Officer Name"
- [x] Tested forms, drop down choices match "Display Name" field for `accounts` object

[2021-04-08 14:52] #5715 closed

[2021-04-08 14:53] dianamartin commented on #5713
Closing, created issue for changes to Citation Tracking module #5715

[2021-04-08 14:53] #5713 closed

[2021-04-08 14:55] dianamartin commented on #5714
Messaged Max

[2021-04-08 14:56] dianamartin commented on #5591
@moorerst should we close this since roll out happened on 4/5?

[2021-04-08 15:20] jaime-mckeown opened #5751 "Question about Road Closures and Google Maps - Adrien at CPO"
From Adrien:

[2021-04-08 15:21] jaime-mckeown commented on #5751
Response from Lance in MMC to send to Adrien:

[2021-04-08 15:25] jaime-mckeown commented on #5751
Also let Adrien know that ATD has a Google Partner Account and that we have sent updates for healthy streets and bike infrastructure in the past.

[2021-04-08 15:59] dianamartin commented on #5750
@SurbhiBakshi I got this

[2021-04-08 16:06] atdservicebot opened #5752 "Add a drop down list for "Issue type-Scooter Electric Bike issues (micro-modal)" input when adding "New SR""
Other / Not Sure

When they add a "New SR" could we also add a drop down list for when they input the "Issue type-Scooter Electric Bike issues (micro-modal)"  that includes the company names vs them having to type that information in?

Below are the company names we would like to have in the list:
Lime
Bird,
MetroBike
Wheels
Other

Soon — This week

Easier to have a drop down list vs having to typ

[2021-04-08 16:15] SurbhiBakshi commented on #5752
@dianamartin - do you want to take this as well since you are in the application?

[2021-04-08 16:20] dianamartin commented on #5752
@SurbhiBakshi Yeah, I can take that one too

[2021-04-08 16:26] dianamartin commented on #5750
cc: @moorerst

Called Shavyvonne on teams, we chatted. She said that they don't need to have the SR types grouped necessarily. They're more interested in the most recent "Created Date" to show up on the top of the table so it's easier for the dispatchers to find the last edited record.

- [x] Un-grouped `Issue Type` to Service Requests table
- [x] Removed 1 of 2 `Issue Type` fields bc it was affec

[2021-04-08 16:26] #5750 closed

[2021-04-08 16:27] dianamartin commented on #5714
@amenity are you able to schedule a quick 30 min meeting with the stakeholders: Billy, Max, you and me to finalize the DSDD work order process or do you want me to?

[2021-04-08 16:29] dianamartin commented on #5752
Shavyvonne told me about this request too when we were discussing adding the "Created Date" to the SR page. She said that it would be easier for the dispatchers to have a multi-select field of "Provider/Company Name" for the micro-mobility scooters.

I told her I can add this field and apply a display rule so that it only comes up when the "Scooter Electric Bike issues (micro-modal)" is selected

[2021-04-08 16:35] dianamartin commented on #5752
- [ ] Added new field `Provider/Company Name` - drop down, multi-choice
- Enabled ability to add more as needed

Messaged Shavyvonne

She said

[2021-04-08 16:35] #5752 closed

[2021-04-08 16:35] moorerst commented on #5591
The rollout happened on 4/5. To date no issues have been reported from the rollout. Closing issue

[2021-04-08 16:35] #5591 closed

[2021-04-08 16:59] dianamartin opened #5753 "[BUG] Running List of quick fixes for Parking Dispatch - Dispatch testing feedback"
## LIST OF THINGS I'VE FIXED
- Un-grouped Created Date on SR Table
- Sorted Created Date on SR Table
- Added Created By & Modified By to SR Table
- Added display rule bc "SR number" kept showing up on "Edit SR" form
- Added display rule for "Issue Code" Duplicate from activity to update parent status to "Closed Issue (Duplicate)"
- Removed modal setting for "New SR" form - dispatcher kept clicking

[2021-04-08 17:12] dianamartin commented on #5753
@moorerst

I messaged Jasmine since Shavyvonne said that she was having some issues with the app when dispatching. She's on a laptop so I wonder if the issues are more noticeable bc she doesn't have the same dual monitor set-up like being in the office.

I've talked to her about some of the issues she's had.

[2021-04-08 17:15] atdservicebot opened #5754 "Add a "Complaint Type" drop down for the the Scooter/Electric Bike issues"
Other / Not Sure

Would like to see a "Complaint Type" drop down added for the the Scooter/Electric Bike issues:

Compliant Type:
Laying on ground/grass
Blocking sidewalk/driveway/ADA ramp
In the street
Damaged device
Device in park area/private property
Device in water

Soon — This week

These are issues that citizen usually input when reporting a Scooter or Electric Bike

Shavyvonne W.

Request

[2021-04-08 17:16] moorerst commented on #5753
@dianamartin when reviewing entries I noticed when she was using the Dispatch Investigator activity she was not populating the Assign To field with a specific Officer - Discussed with Shavyvonne yesterday

[2021-04-08 17:25] moorerst opened #5755 "User Testing: Dispatch Tracking PEO testing"
Staff has provided a list of Officers for testing

Testing will include:

- Accessing My Assignments
- Attaching images from device while on site
- Managing My Time - lunch, break, check in/out

[2021-04-08 17:28] dianamartin commented on #5753
@moorerst Yeah, I think I mentioned it to Hilary the other day too. She's doing that now. I checked the Issues they've created are 88, 19 didn't have the Assigned To filled out.

[2021-04-08 17:43] johnclary commented on #5707
Good to know. thanks!

[2021-04-08 17:49] johnclary commented on #5751
Worth noting here that [Jim has engaged us](https://github.com/cityofaustin/atd-data-tech/issues/5154) and CPO to discuss automating road closure to navigation providers, but it seems to have stalled out. We were supposed to meet with CPO the week of the snowpocalypse, and it never got rescheduled.

[2021-04-08 18:01] jaime-mckeown commented on #5751
Response from Adrien:

[2021-04-08 18:15] amenity commented on #5714
Totes able, @dianamartin!

[2021-04-08 18:18] amenity commented on #5714
Would that be https://github.com/cityofaustin/atd-data-tech/issues/5290 or should I add an additional issue?

[2021-04-08 18:21] johnclary commented on #2608
@alan-deanda would you link to this layer on AGOL?

[2021-04-08 18:28] dianamartin commented on #5714
@amenity I think we can reuse #5290 bc I just did a crash course demo with Max this morning. I showed Billy the other day when I had done it in the test environment.

[2021-04-08 18:29] dianamartin commented on #5754
@SurbhiBakshi I have this too

[2021-04-08 18:30] johnclary opened #5756 "Test new bike rack collector with parking enforcement"

[2021-04-08 18:35] johnclary opened #5757 "Deliver bike rack collector field training to Parking Enforcement staff"

[2021-04-08 18:36] dianamartin commented on #5754
- Created new field `Complaint Type` and added all the choice selections provided by Shavyvonne
- Added to New SR form
- Updated display rule to show `Complaint Type` field when Issue Type is "micro mobility.."
- Added to Edit SR form
- Updated display rule to show `Complaint Type` field when Issue Type is "micro mobility.."

[2021-04-08 18:38] johnclary commented on #5503
@alan-deanda will finish his symbology work, then pass this off to Andrew to configure pop-ups, etc that mirror the existing web map.

[2021-04-08 18:39] jaime-mckeown commented on #5502
Handing off tablet to Andrew to work on bike rack project.

[2021-04-08 18:39] #5502 closed

[2021-04-08 18:40] dianamartin commented on #5443
- I had accidentally copied the Parking Enterprise Reporting Portal for when I was trying to copy the RPP environment, so this is ready to go

[2021-04-08 18:42] SurbhiBakshi commented on #4408
@amenity - Don't think this is a dealbreaker, I have thought of a way around it, and am in the process of implementing it in Power BI.  It might take some time to iron out the steps, but think this should work.

[2021-04-08 18:45] dianamartin commented on #5443
- [ ] Big button code update
- [ ]

[2021-04-08 18:58] dianamartin opened #5758 "Enable COACD single sign on button on Parking Enterprise Reporting Portal"

[2021-04-08 19:22] SubhaShroff commented on #5578
Thank you @Nadin.
@TracyLinder @Nadin-Nader In the case of 3rd table from the report for SCP folder, is it 76765 info I should look for Department Name?
I checked the SCP folder configuration on TEST and 76765 info is not configured for SCP folder.

[2021-04-08 19:32] SurbhiBakshi commented on #4408
**Notes -**

1. Categorize Assignment Date and Time from Knack in `mm/dd/yyyy hh:mm to hh:mm` or `mm/dd/yyyy hh:mm to mm/dd/yyyy hh:mm` format based on if the assignment is scheduled for one day or over two days by length of string (25 and 36).
2. Create Assignment Start Date and Time using the first date and time entry in the record.
3. Create two Assignment End Date and Time columns using the da

[2021-04-08 19:43] jaime-mckeown opened #5759 "Looking for GIS Data with Engineering Service Areas and Council Districts"
From Luke:

[2021-04-08 19:47] TracyLinder commented on #5578
**Email to Stakeholders:**

![image](https://user-images.githubusercontent.com/49930868/114087314-5cc7e100-9879-11eb-8f94-551366d6b0aa.png)

[2021-04-08 19:58] Nadin-Nader commented on #4469
I updated the spreadsheet. We are just waiting on Paloma and CPO to approve the last 2 items.

Subha will be looking into this one.

[2021-04-08 20:09] johnclary commented on #1826
@andrewshensky drawing your attention to this epic. I moved your CTN re-formatting issue into this. I'm going to assign this to you, and we can build out additional issues after we meet next week.

[2021-04-08 20:13] jaime-mckeown commented on #2057
Jacquie back to Paloma:

RoxAnne and Dolores agreed with Jacquie.

[2021-04-08 20:19] dianamartin opened #5760 "[BUG] Knack Issue - Single Sign On (SSO) functionality missing back end"

[2021-04-08 20:53] atdservicebot opened #5761 "Investigate duplicate location records for 806 W Riverside"
Other / Not Sure

I was about to create a damage report (related to WRK20-097480) to a location but found several locations listed for same address --  806 W Riverside.

Soon — This week

Ivonne N.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/606f6c63445149001b2b59c7/location806wriverside.jpg) (95.44kb)

Request ID: DTS21-101860

[2021-04-08 20:56] dianamartin commented on #5492
object: `studies` - field `Study Status`
COMPLETE
NEW
UNASSIGNED
ASSIGNED
DATA COLLECTION
IN PROGRESS
DRAFT REVIEW
FINAL REVIEW
FINAL/SIGNED SEAL

+add "No Studied"?

[2021-04-08 21:01] dianamartin commented on #5754
Messaged Shavyvonne

[2021-04-08 21:06] jaime-mckeown commented on #5746
@amenity if the Dev part of this request gets the data setup for GIS, the GIS portion would not be very much, just creating the GIS Data and getting it into the existing Web Map.

[2021-04-08 21:07] jaime-mckeown commented on #5655
Heard back from Daniel, he only had a couple of suggestions. Changes made, ready for meeting next week.

[2021-04-08 21:59] johnclary commented on #5746
sounds right to me @jaime-mckeown! I've been in touch with Dylan over email and will post my notes momentarily.

[2021-04-08 22:00] johnclary commented on #1826
From Jacquie:

[2021-04-08 22:12] johnclary commented on #5746
We've got a back-n-forth with the A&M folks who manage the BP|CX data platform. I asked them if it would be possible to extract their QA/QCd count data from their platform so that we could pipe it into AGOL and Socrata. Their response below.

TLDR: we'll need to put together our specific data ask and one of our devs can work with them to get the integration going.

Also worth noting that this rela

[2021-04-08 22:15] johnclary commented on #5746
I think we probably have enough info to huddle internally and score/estimate this work without doing further intake with Dylan.

[2021-04-08 22:18] johnclary commented on #5735
I'm not sure it will be tricky at all. You can enlist a builder to try it out. [Here are the docs](https://support.knack.com/hc/en-us/articles/115000997068-How-to-Use-URL-Variables-to-Pre-Populate-a-Form).

[2021-04-09 00:53] johnclary commented on #5761
This surfaces a lot of issues with how we display asset and location data in the Data Tracker.

Here's a hint for answering Ivonne's question:
- look up the work order details
- from the work order details, click through to the TMC issue details
- from the TMC issue details, click through to the hazard flasher asset
- from the hazard flasher details, locate the location ID of the asset

@SurbhiBak

[2021-04-09 13:47] zappfyllc commented on #5747
@sergiogcx @amenity @johnclary
I don't know if this helps, but I'm just going to write out the step-by-step process and see if it aligns. We can discuss today if we need to!

**Step 1. Identify relevant IMPD data**
_Tables:_ `Projects`, `Project_Personnel`, `Employees`
This is the scope of IMPD data we are migrating. The Projects table will contain some relational data that we can use to load into

[2021-04-09 13:54] jaime-mckeown commented on #1841
Checked in with AMD, Billy said that Charles is the only person working on the project at this time. He's hoping they will be able to get more people working on it in the future. It's going to be a long road if they don't put more people on this.

[2021-04-09 14:14] jaime-mckeown opened #5762 "Parking Usage Changes Dashboard and Content - Ownership"
Francesco requested ownership back of all Parking Usage Changes Dashboard content.

[2021-04-09 14:15] jaime-mckeown commented on #5762
- Transferred content to Francesco's Dashboard folder.
- Changed name of folder under ATD Publisher to PRK_Shared_Mobility: Parking Usage Changes Dashboard, there is a lot of content for this Dashboard. I don't want any other content to end up in this folder to get confused.

[2021-04-09 14:30] jaime-mckeown opened #5763 "AE Poles Various Updates: Pro, AGOL, Process"
Harrell uses a couple of Map Documents to create PDF maps for the AE Poles data.

[2021-04-09 15:01] dianamartin commented on #5486
Testing behavior in `TEST | SMB - 17 MAR 2021 | Signs and Markings Operations` (app was copied 3/17)
- Creating new markings WO with jobs
  - Jobs were automatically put into NEED TO BE ISSUED STATUS
  - Checked `Job Status` - conditional rules and those rules are all..blank..YIKES! (in new builder version)
- Logging into SMB Prod
  - Create Marking WO
  - Added 2 jobs
  - WO was in ON HOLD, 2 job

[2021-04-09 15:19] dianamartin commented on #5486
### Updated Jobs object - added condition rule to field
On `work_orders_markings_jobs` object, went to `HOLD WORK ORDER` field and noticed there weren't any conditional rules set
- created conditional rule that looked at the text formula WORK ORDER STATUS that in on this object and said if parent WO is ON HOLD, mark as 1 and did the reverse
![image.png](https://images.zenhubusercontent.com/5cb4c11

[2021-04-09 15:19] #5486 closed

[2021-04-09 15:39] SubhaShroff commented on #4469
The necessary changes are done except the last two items. A commit is done for the changes and DEV promotion request is raised: **SCTASK0130608**

[2021-04-09 15:59] ChrispinP commented on #5700
@zappfyllc @amenity Thanks to both of you for your help.

We did find the CSS unnecessary since the JS does work and the customer does not have access to the page and should not see it and if they do, there would be nothing visibly there. We did update our headers and moved the token outside the ajax call. We believe the current error handling is sufficient with only storing a single value and no

[2021-04-09 16:19] #5671 closed

[2021-04-09 16:46] mateoclarke opened #5764 "Comply with TXDOT CRIS data retention policy (10 years)"
Upon reviewing and signing the attached "Texas Motor Vehicle Traffic Crash Data Confidentiality Agreement" to update our extract delivery method with SFTP access, I noticed they state an explicit 10 year data retention policy. We've talked about 5 years of data being sufficient for most of our analysis. Now would be a good time to enact a process to purge old data and comply with TXDOT's retention

[2021-04-09 16:53] jaime-mckeown opened #5765 "Help with SZB Field Editing - Charles"
Charles called me, needed some help editing in the field.

[2021-04-09 16:56] jaime-mckeown commented on #5765
- Spent some time on the phone with Charles. He was using the Web App instead of the ArcGIS Collector App. The App would not allow him to sign in, it had an error I've never heard of.
- Sent Scott an email asking him if he can take a look at his tablet. The ArcGIS Collector App sounds like it needs to be re-installed.
- Once he can get the App working, I will need to work with Charles on how to ed

[2021-04-09 18:03] #3006 closed

[2021-04-09 18:06] Nadin-Nader commented on #2666
@TracyLinder i Updated the criteria. Please review and let me know. I will send the questions on it to Maria to see what she says and update the criteria with her answers once i hear back.

[2021-04-09 18:09] #5696 closed

[2021-04-09 18:26] Nadin-Nader commented on #2666
Email sent to Maria:

## **Status:**
Waiting on Maria's Response

[2021-04-09 18:34] TracyLinder opened #5766 "Default Assigned Reviewer on TIA Scope & Submissions"
### Currently there is no default reviewer. Should we add functionality so it defaults to the case Lead Reviewer?

[2021-04-09 19:09] dianamartin commented on #5290
@amenity I repurposed this issue and schedule the meeting

[2021-04-09 19:21] vschandramouli commented on #5580
Updated AC, Moving to Backlog.

[2021-04-09 20:02] TracyLinder commented on #423
Note to Self: If we rely on open data for this solution, we won't be able to include franchised information as it will not be published.
@johnclary FYI

[2021-04-09 20:15] TracyLinder commented on #357
### Update
Per Paloma, they're using Teams to meet this need currently, but would still like to see it in the ROW Portal at some point in the future.

[2021-04-09 20:20] TracyLinder commented on #4740
### NOTES
_I need to clean these up_

### ROW Tracking:
Old attempt at collecting & reporting ROW performance measures.
- We're currently using AMANDA Reports to gather data, and tracking/reporting via email.
- Ryan would still like a performance tracking spreadsheet that all ROW groups can submit to, and provide reports.
    - PowerBI solutions in work may meet this need.
- The current AMANDA rep

[2021-04-09 20:24] TracyLinder commented on #5580
Thanks @vschandramouli it looks good. I added user stories to the description. This is ready for development.

[2021-04-09 20:30] chiaberry commented on #5585
Link to work in progress: https://atd.knack.com/test-tds-02-apr-2021-transportation-development-services-portal#tia-requests/tia-request-details/60677899da9d57067ec52e30/

[2021-04-09 20:32] dianamartin commented on #5457
Talked to Christina an she got reassigned to something, will be having a meeting with SMB folks next week so they can plan to kick off this month with SEFBO.

[2021-04-09 20:32] #5457 closed

[2021-04-09 20:34] sergiogcx commented on #4808
There is PRs:
- https://github.com/cityofaustin/atd-moped/pull/271

[2021-04-09 20:59] chiaberry commented on #5718
@mddilley @johnclary Updated the token for atdservicebot and updated in 1password and airflow variables. I'll tell everyone at dev sync today as well

[2021-04-09 21:05] dianamartin commented on #4844
# User Application Example
User applied 3/31/2021
Transaction in 4/2021
Added permit 4/9/2021
JANUARY RENWAL
Due Date 12/31/21
30 day 12/1/21
60 day 11/1/21

User applied 5/31/2021
Transaction in 6/2021
Added permit 6/9/2021
AUGUST RENWAL
Due Date 8/31/22
30 day 7/1/22
60 day 6/1/22

[2021-04-09 21:29] dianamartin opened #5767 "Feature: RPP Mobile Optimization changes for RPP PRODUCTION"
1. Apply Permits page
- add rich text
- insert line break, separate Spanish line and English line
- Look into HTML buttons
- copy text, align right

2. Permit Information
- Label description "Look up address"
- insert line break before <aref> - looks better on the phone bc it splits without it

3.  Permit Information
- Vehicle Details
- Change layout from 2 columns to 1 column
- Create more "Hidde

[2021-04-09 23:16] ChrispinP opened #5768 "[RPP] Update Invoice Email Link and Invoice Page"
Possible bug when navigating to the invoice page for a completed RPP application. Need to verify link is working correctly and that invoice page details and formatting still looks good.

[2021-04-09 23:20] ChrispinP commented on #5767
@moorerst Discuss possible maintenance downtime with team and stakeholders for these mobile optimizations and couple it with the New Builder switchover

[2021-04-10 15:57] johnclary opened #5769 "Publish AMD Inventory Transactions to Open Data Portal"
Publish AMD inventory transactions to Socrata so that the data can be used in PowerBI. See also [#5770](https://github.com/cityofaustin/atd-data-tech/issues/5770)

Neither AMD nor Finance has not asked for this, but I'd like to take the initiative to show them what's possible.

[2021-04-10 16:03] johnclary opened #5770 "Add inventory fields to AMD work order dataset on Socrata"
We should add a few inventory fields to the [AMD work orders datase ](https://data.austintexas.gov/Transportation-and-Mobility/Traffic-Signal-Work-Orders/hst3-hxcz) on Socrata.

- Inventory Status	`field_3556`
- Total Inventory Cost	`field_3823`
- TASK_ORDER	`field_1277` (connected fields on object_86)
- NAME	`field_2632` (connected fields on object_86)
- TK_TYPE	`field_3580` (connected fields on

[2021-04-11 18:38] #2351 closed

[2021-04-11 18:48] johnclary commented on #2884
@moorerst @dianamartin I've removed the work "Reporting" from this product since we've expanded it to include active management of dispatching, etc.

[2021-04-11 19:11] johnclary commented on #3041
@amenity @moorerst I'm closing this out. We did it!

[2021-04-11 19:11] #3041 closed

[2021-04-11 19:14] johnclary commented on #394
See also #1826.

[2021-04-11 20:40] #389 closed

[2021-04-11 20:51] #1692 closed

[2021-04-11 20:51] #1693 closed

[2021-04-11 20:51] #1710 closed

[2021-04-11 20:51] #1716 closed

[2021-04-11 20:51] #1739 closed

[2021-04-11 20:51] #1756 closed

[2021-04-11 20:51] #1780 closed

[2021-04-11 20:51] #1860 closed

[2021-04-11 20:51] #1889 closed

[2021-04-11 20:51] #1896 closed

[2021-04-11 20:51] #1991 closed

[2021-04-11 20:58] #1578 closed

[2021-04-11 20:58] #1592 closed

[2021-04-11 20:58] #1602 closed

[2021-04-11 20:58] #1655 closed

[2021-04-11 20:58] #1839 closed

[2021-04-12 00:33] johnclary commented on #5483
@amenity what are next steps here? Do we need to be tracking this as a `Project Index`?

[2021-04-12 00:36] johnclary commented on #4851
@dianamartin what's blocking this?

[2021-04-12 00:40] dianamartin commented on #4851
I recently tried to test this in the Test SMB environment. I was just cautious about removing your code and adding Mike’s new code for the sign in buttons. I believe @ChrispinP and I found a bug and he was going to follow up with Mike.

There was an issue with specific pages and the log in buttons. I’ll have to get in and identify what it issue was again.

[2021-04-12 00:41] johnclary commented on #5078
@TracyLinder what's the latest on this? Will LIT being picking up the AMANDA work now that we have them back on contract?

[2021-04-12 00:43] johnclary commented on #286
At this point the majority off our apps should be using the same self-signed cert on the Azure AD. We will review the status of all certs in all Knack apps with COACD enabled when we plan for our annual certificate renewal. We have a calendar reminder set for may 31st to begin this processs.

[2021-04-12 00:50] johnclary commented on #1668
@dianamartin @SurbhiBakshi do either of y'all want to take this on next sprint?

[2021-04-12 00:51] #1899 closed

[2021-04-12 00:53] johnclary commented on #4643
Just finished another batch of cleanup. The `Index` label is gone. I'm calling this done.

[2021-04-12 00:53] #4643 closed

[2021-04-12 01:00] johnclary commented on #2673
UTCTR is continuing to work on the data pipeline as described in my previous update. We're in a holding patter until UTCTR completes their work.

[2021-04-12 01:06] johnclary commented on #1962
I'm not sure using the "funding" drop-down makes since. It sounds like we want to know if a signal is part of one or more bond corridors, regardless of whether or not it was funded by mobility bond money. The intent of the funding field was track money sources, so I can see this creating problems. In any case, this issue has been deep in the backlog for a long time, and I'm happy to leave it there

[2021-04-12 01:07] johnclary commented on #1638
I added this to our AMD stakeholder discussions because I'm curious if Lance has found another way to accomplish this. They've done a ton of work in PowerBI so it may not be a need anymore.

[2021-04-12 01:14] johnclary commented on #423
Fair point. This adds quite a bit to the level of effort. TBH when we talked about the legal concerns I thought we kinda decided that it was OK for us to publish the street segments for franchise permits 🤔. Let's talk about this during 1:1

[2021-04-12 01:19] johnclary commented on #2917
@moorerst @dianamartin is there another epic that's capturing the issues for y'all are working on this?

[2021-04-12 01:21] johnclary commented on #127
No, that's not going to work. It's completely oriented around desk reservations and we have no ability to customize ☹️

[2021-04-12 04:50] amenity commented on #5483
@johnclary I believe this is actually feature-sized; not a fully-fledged project... Tracking here: [Create a Sign Fabrication Work Order page for Non-MUTCD signs](https://github.com/cityofaustin/atd-data-tech/issues/5485 )

[2021-04-12 04:50] #5483 closed

[2021-04-12 04:56] amenity commented on #5708
@dianamartin — definitely not my area of expertise — I suggested Google Drive but @jaime-mckeown isn't the _biggest_ fan😉 ... Jaime has been collaborating on a spreadsheet "on Teams" that she said was working out well.

[2021-04-12 13:59] Nadin-Nader commented on #1829
Had the meeting with Paloma and Kim. We went over the Smart Housing issue on V6 PROD and V7 TEST. We found that on V6 PROD the waived calculations are not being inserted and calculated for Transportation like they are for DSD so this is still needs to be looked at to see if it needs to be setup or to see what is stopping the calculation on V6.

As for V7 it is functioning the same way as V6 but it

[2021-04-12 14:00] dianamartin commented on #1668
@SurbhiBakshi did you want to take this one?

[2021-04-12 14:03] dianamartin commented on #5401
This was done. We shared the reporting page with the new source origins with the stakeholders last Sprint Review. They were okay with the changes. May need to change after the pilot if they determine they need more information. Closing this.

[2021-04-12 14:04] #5401 closed

[2021-04-12 14:05] dianamartin commented on #5758
There was a weird bug happening that I escalated to Knack. Some knack applications didn't have the ability to set up the Single Sign On. Chrispin and I did a fairly thorough test on it, converting apps and switching them temporarily to see if they had the functionality. Only 3 apps didn't have them: AMD, SMB and Banners (some of our earliest apps).

[2021-04-12 14:06] SurbhiBakshi commented on #1668
@dianamartin - yes, I can take this one

[2021-04-12 14:08] jaime-mckeown opened #5771 "Request 2nd GIS TRAIN Course - Meter Shop"
I let Jeremy and Steve know about the Creating and Editing in ArcGIS Pro class since they will be active editors in Pro. They both asked to take the class.

[2021-04-12 14:09] #5712 closed

[2021-04-12 14:11] jaime-mckeown commented on #5771
Submitted Service-Now request to enroll Steve in the Creating and Editing in ArcGIS Pro class on 6/22-6/23.

[2021-04-12 14:12] #5652 closed

[2021-04-12 14:12] dianamartin commented on #5652
This was completed March 31st, we were waiting on the stakeholder to review the RPP form and set up a brief with them. The details of what was done is in issue #5603

[2021-04-12 14:12] dianamartin commented on #5652
This was completed March 31st, we were waiting on the stakeholder to review the RPP form and set up a brief with them. The details of what was done is in issue #5603

[2021-04-12 14:13] dianamartin commented on #2917
@johnclary we created separate issues, might not have connected to this epic #5603, #5662

[2021-04-12 14:45] Nadin-Nader commented on #4945
This is going to have to wait until we have the ROW AMANDA Permitting Metrics Meeting (#5734) with Ryan on 4/14/21.

[2021-04-12 14:48] Nadin-Nader commented on #4469
## **Status:**
Waiting on CTM DevOps to deploy to DEV for now (**SCTASK0130608**)

[2021-04-12 15:23] mddilley commented on #4851
@ChrispinP  reached out to me last Thursday, and I looked into it but I didn't follow up with him on Friday. I couldn't find an view where the some of the CSS wasn't working. Could y'all point me to a page? I'm curious to see what is going on. 🙏

[2021-04-12 15:24] jaime-mckeown opened #5772 "SSPR Input"
Spend some time working on input for my SSPR before meeting with John.

[2021-04-12 15:28] #5772 closed

[2021-04-12 15:35] dianamartin opened #5773 "Parking Enterprise Portal - name change, update other inventory and app"
John changed the name of the Product label from "Parking Enterprise Reporting Portal", so we need to change a few things on the application side.
- [x] Change logo to match
- [x] Change the Application Name - builder side
- [x] Change Application Name in Application Inventory

[2021-04-12 15:36] dianamartin commented on #5773
@moorerst some things I need to change, FYI

[2021-04-12 15:47] atdservicebot opened #5774 "Create a report like "Officer Metrics" for Issue Type: Scooter/Electric Bike issues (micro-modal) in Parking Enterprise Portal"
Other / Not Sure

Would like to request for a report to be created like Officer Metrics for scooters. Would like to see the breakdown on how many scooter CSR's were created by each Officers via 311 mobile app or responded to by each Officers via 311.

Soon — This week

This would help with gathering information to see how much time the officers are spending on addressing scooter complaints or inpu

[2021-04-12 15:54] moorerst commented on #5767
@chrispin how much downtime will be needed for this maintenance?

[2021-04-12 15:56] dianamartin commented on #4851
@mddilley We have the TEST | SMB - 17 MAR 2021 | Signs and Markings Operations application that this is happening to.

- Home page
Behavior: when a user clicks on empty space past the button it is still activated

- Need to replace John's JS big button code:
  - starts line 336
  - ends line 550
- CSS Code - Big button
  - starts line 31
  - ends line 71

[2021-04-12 15:57] moorerst commented on #5768
@ChrispinP was this bug reported by someone?

[2021-04-12 15:59] dianamartin commented on #4851
# SMB TO DO
- **Need to replace John's JS big button code with Mike's new code**
  - starts line 336
  - ends line 550

- **CSS Code - Big button - Review to match new code**
  - starts line 31
  - ends line 71

[2021-04-12 16:31] SurbhiBakshi commented on #5761
Here is a [Pivot table](https://docs.google.com/spreadsheets/d/1EJf85Zg2nRwTkodT7FVUCgMat3ATCivyulVTwA7gYFo/edit?usp=sharing) showing possible duplicate records

[2021-04-12 16:37] dianamartin commented on #5767
@moorerst @ChrispinP cc: @johnclary I talked to John about this and we'll need to schedule time to do the form changes and also time to address unscheduled issues during maintenance to make sure we leave ourselves with buffer time.

I've done something similar in the past, I can dig up the email I sent to internal stakeholders to see how long I allotted for the maintenance outage.

[2021-04-12 16:45] dianamartin commented on #5767
Email template to internal stakeholders

## Subject
### What's Happening - Friday, May 3rd, 3:00 pm to 5:30 pm -  Finance and Purchasing System MAINTENANCE OUTAGE

## Body
WHAT'S HAPPENING – TOMORROW, Friday, May 3rd after 3 pm
Need to apply application enhancement configurations.

WHY ARE WE DOING THIS?
The new enhancement configurations will streamline the process for the Finance team so that th

[2021-04-12 16:48] alan-deanda commented on #5730
Response from Carl Seifert at TXDOT:

Demo: metro.strava.com/demo
Request access: https://metroview.strava.com/application
Getting started guide: https://metro.strava.com/get-started#data
Please reach out directly to me with questions about how to use this data.

[2021-04-12 16:48] #5730 closed

[2021-04-12 16:48] atdservicebot opened #5775 "Refine "Projects" page and expand fund-tracking"
Moped

In MOPED,
1.  On the Projects page: https://mobility.austin.gov/moped/projects
as more projects get uploaded, it would be nice to be able to filter by Phase, Staff member, Funding Type, etc.
2.  On the individual project page, instead of CAPITAL FUNDING it would be more helpful to have something like FUNDING SOURCE or even just FUNDING. and to be able to have more than one source.

1. It wo

[2021-04-12 16:48] SurbhiBakshi commented on #5761
Sent Ivonne this location to create the Damage Report. She wants to know if Hazard Flasher Beacons are in pairs - since [Flashing Beacon ID 11](https://atd.knack.com/amd#work-orders/work-order-details/5f95933e51b3ea00155b1934/view-mmc-details/5f94b7ffcc36660017520748/flashing-beacon-details/59a6bfdab4651039367c8dc2/view-location-details/59a6bfbf6193c02dae97d9c1/flashing-beacon-details/59a6bfdab465

[2021-04-12 16:49] moorerst opened #5776 "Dispatch Tracking - Scheduled delete of Resource Tracking Logs?"
Questions for stakeholders:

- Every event is logged for each Officer in the Resource Tracking Log. How log do these events need to be kept before they can be deleted?

- If it is determined the events can be deleted every x days/weeks/months can this be scheduled?

- To eliminate so many events in the log it may be possible to override the existing event with the new event, this would mean there

[2021-04-12 16:53] dianamartin commented on #5761
@SurbhiBakshi I think that you might want to reach out to Allyson or Lance about the hazard flashing beacons and if they are in pairs or maybe even Kenny M.

[2021-04-12 17:09] SurbhiBakshi commented on #5761
Scheduled some time with @dianamartin to talk about how to handle duplicate locations.

[2021-04-12 17:17] moorerst opened #5777 "Dispatch Tracking Sprint Review"
Scheduled 4/29
Sprint Review agenda/slides

- Review Dispatcher User Testing Results (April 5th - 14th)
- List of quick fixes during Dispatch User Testing
- Review PEO User Testing (April 19th
- Next Step:
 Go Live date 5/3 issue #5854
Questions:
- What to do with historical data.
We need to ask them what they'd like to do, just cut over
Export the records for retention purposes - the issues is we

[2021-04-12 17:38] moorerst commented on #5767
@ChrispinP @dianamartin based on our schedule can you propose several dates/times that I can present to the stakeholders?

[2021-04-12 17:39] SurbhiBakshi opened #5778 "Update VZA Reporting - April 12th, 2021"
No officers signed up for last week, so going to close this issue.

[2021-04-12 17:40] SurbhiBakshi commented on #5778
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/c9185328-16da-46a9-aa97-ae9f70940adc)

[2021-04-12 17:40] #5778 closed

[2021-04-12 18:22] #5718 closed

[2021-04-12 18:30] amenity commented on #814
@SurbhiBakshi @dianamartin — I think this issue may be more in the Service Desk realm nowadays... thoughts?

[2021-04-12 18:47] dianamartin commented on #814
@SurbhiBakshi @amenity I think we need to publish our SLAs somewhere for our stakeholders to reference, maybe an end message when a user submits a DTS request?

[2021-04-12 18:54] amenity commented on #814
Ooh, I like the idea of incorporating it into the service request workflow @dianamartin.

[2021-04-12 19:13] SurbhiBakshi commented on #814
+ 1 for @dianamartin 's suggestion. Mightbe a link in the email they get when the service request is submitted?

[2021-04-12 19:17] moorerst commented on #5768
@ChrispinP

1. entered test application 2021-3032
2. received the email for Submitted-Pending Review clicked the Invoice link and it displayed correctly
3. changed the application status to Pending Payment received the email for Review and Approved - Pending Payment clicked the Invoice link and it displayed correctly
4. changed the application status to Complete - Permits Issued did not receive an

[2021-04-12 19:20] johnclary commented on #5749
as discussed you can style drawn points the same as selected points.

[2021-04-12 19:42] ChrispinP opened #5779 "[RPP] License Plate Fields inserting Copied/Random letters during Mobile input"
![image](https://user-images.githubusercontent.com/67915167/114450513-b7c04780-9b9b-11eb-948d-74c2eadc646a.png)

While filling out the RPP application on mobile, entering in the license plates behaves abnormally. As I enter in characters on my phone everything seems fine until the 3rd/4th character. The box fills with similar characters that were already entered.

For example:
1st characters - TES

[2021-04-12 19:46] dianamartin commented on #5773
## Before
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/59c4a804-7b9d-4843-ab20-f23d2829bc0d)

## After
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/8636d6f1-7a3d-4f76-aaaf-d338194f8c5f)

[2021-04-12 19:50] #5773 closed

[2021-04-12 20:11] johnclary opened #5780 "Ability to view aerial imagery on map"
As a Moped project creator, I need to be able to view aerial imagery when I'm selecting/drawing project locations.

Add a radio buttons to the exsting layer toggle (pictured below) that switches between the mapbox basemap  and Nearmap imagery.

![Screen Shot 2021-04-12 at 3 18 56 PM](https://user-images.githubusercontent.com/14793120/114456431-78492980-9ba2-11eb-9f85-fa58c970fb43.png)

[2021-04-12 20:12] johnclary opened #5781 "Usability enhancements for identifying streets vs urban trails"
When selecting line features, users need to be able to easily distinguish between streets and urban trails.

Suggest a combination of:
- Adding contextual information to a pop-up that displays on hover, such as the street name or trail name
- Symbolizing trails with a thinner dashed line

Todo:
- Understand what existing CTN attributes we can add to the vectors to make this possible

<img width="1

[2021-04-12 20:42] amenity opened #5782 "[Feature] "Enhancements" tab on product pages"

[2021-04-12 20:59] dianamartin commented on #5767
cc: @moorerst

@ChrispinP - what's the estimate on the changes we have above? How long do you think it would take you do do all of those items uninterrupted in one day. I would then take that estimate and at 1.5 hours to it. From there we'd have to ask the RPP staff typically when they see the applications come in slower or we suggest an off-peak time like an early morning or late evening maintena

[2021-04-12 21:02] Nadin-Nader commented on #5580
@TracyLinder Moved to on Deck and assigned @subha to look at it.

[2021-04-12 21:10] jaime-mckeown opened #5783 "AGOL Group Request / Access to TDS Web App"
Curtis asked that Dan H. be added to the TDS Group and get access to the TDS Web Application.

[2021-04-12 21:10] SurbhiBakshi commented on #5761
For 806 W Riverside Drive, different child records are associated with different records of the same location -
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/bc500a1e-4c0f-46dc-b78c-30b6c62ce830)

[2021-04-12 21:10] jaime-mckeown commented on #5783
Added Dan to the TDS Group and sent him a link to the Web App.

[2021-04-12 21:10] #5783 closed

[2021-04-12 21:12] amenity commented on #4932
Inspo: On Gitbook.com, they have a chat/feature request/"top links" plug-in, Canny,  is [not as expensive as you would think](https://canny.io/pricing). We could build something simpler but just as good, I think...

- [Popover](https://material-ui.com/components/popover/) component with
- Link to docs
- A [prefilled bug-report](https://github.com/cityofaustin/atd-data-tech/issues/5735)
- Link to [

[2021-04-12 21:27] mateoclarke opened #5784 "Add user last login & login count to Users table"
- [x] Last login
- [x] Login counts

![Screen Shot 2021-04-12 at 4 26 10 PM](https://user-images.githubusercontent.com/5697474/114464869-f5c56780-9bab-11eb-9d1a-37ae099d32a4.png)

[2021-04-12 21:35] Nadin-Nader commented on #2397
Had the meeting with Paloma, Kim, Jaclyn Lozano, Kristin Carlton, Subhashini Shroff, Zackary Martin, John Maldonado, and Roderick Burns today (4/12/21) and went over the COA Division and Facility Owner List. We were able to identify the abbreviation and Descriptions needed as well as what needed to be added or removed from the list.
We were able to get most (95%) of the list completed. The last 5%

[2021-04-12 21:47] Nadin-Nader commented on #5627
Sent an email to Hector after UATing this on TEST again. Aish may have made some changes n TEST because now i can print them. I sent an email to Hector asking him to UAT on TEST.
If it works, we will apply any changes made to TEST, on PROD

Email to Hector

## **Status:**
Waiting on Hector to test

[2021-04-12 22:05] dianamartin commented on #5758
I turned in a ticket into Knack about the new builder and SSO functionality on 4/8

[2021-04-12 22:06] dianamartin commented on #5758
Created CTM ticket `INC0094656` to create AFDS sign-in,

[2021-04-12 22:08] vschandramouli commented on #5576
Possible report layout: to be confirmed with Ryan

![image.png](https://images.zenhubusercontent.com/5f50fe1f66d1a40f7f557fb4/807cd517-0bc3-41c4-9e76-e744eec1ad3f)

[2021-04-12 22:12] jaime-mckeown commented on #5763
- created a new Pro Project for Harrell: has a data view, 8.5 x 11 layout, 11 x 11 layout
- discovered the additional AMD fields for editing that I had added last year were gone. I overwrote them when I updated the data in February.
- Still had the fields in a table in Pro Project FGDB
- Looked into other ways to maintain the extra data since the AE Poles data is updated periodically with a new up

[2021-04-12 22:16] dianamartin commented on #5358
I had worked on this feature and didn't document what I had done :(

- Added code to enlarge "Lunch", "Break", "Clock Out" buttons when in mobile size
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/2499df12-d7d6-425b-8636-64ad25ac3052)

[2021-04-12 22:17] Nadin-Nader commented on #2397
**Meeting Scheduled for 4/14/21 @ 3pm** to go over the last bit of the list before we start working on it.

[2021-04-12 22:19] dianamartin commented on #5358
These enhancements were shown at last Sprint Review with stakeholders, 4/1/21

[2021-04-12 22:19] #5358 closed

[2021-04-12 22:21] dianamartin commented on #5276
This was done last week
- [x] Added connection to `Name` field (from Accounts)
- [x] Added "Name" field to Add Officer Citation Tracking
- [x] Added "Name" field to Edit Officer Citation Tracking

[2021-04-12 22:24] #5276 closed

[2021-04-12 22:26] dianamartin opened #5785 "Update historical citation tracking records so that they are connected to PEO accounts, not "officer names" object table"
When rebuilding connections to "Accounts" - Officer Name #5276, needed to update the historical records.

[2021-04-12 23:19] mateoclarke opened #5786 "LINK MDS setup"
- [x] work with LINK to coordinate the hand-off
- [x] get them setup on MDS data ingestion
- [x] backfill April data by 5/5 monthly reporting deadline

[2021-04-13 03:14] johnclary commented on #5781
@alan-deanda can we have your thoughts on this? can you propose one or more attributes that can be include in the CTN vectors that we can use to symbolize streets vs trails, extract a street name or tail name, or anything else you think would be useful?  cc @andrewshensky @amenity

[2021-04-13 03:21] johnclary commented on #4837
@amenity closing as a dupe of [#4530](https://github.com/cityofaustin/atd-data-tech/issues/4530)

[2021-04-13 03:21] #4837 closed

[2021-04-13 03:49] johnclary commented on #4530
@amenity i took a first pass at scoping this.

I believe we'll need a new component for this kind of interaction. It probably warrants a wireframe:

[2021-04-13 03:56] johnclary commented on #4530
Thinking about this some more, it would be really nice to use an existing async-autocomplete component for this. [React-select](https://react-select.com/home) is a nice one (Material UI may have a recipe as well).

It wouldn't be _that much_ work to use a Knack table as the source for the autocomplete. The data is already there and can be exposed publicly (although we may need to tweak our microst

[2021-04-13 04:11] amenity commented on #5746
@amenity — Thanks for talking to Dylan. Who should be at the huddle?

[2021-04-13 04:12] johnclary commented on #4837
Ah, just realized this is the epic on the v1.0 roadmap. @amenity i don't want to mess that up any further so FYI sorry.

[2021-04-13 04:37] amenity commented on #4530
@johnclary - not sure if it provides what you're wanting, but there's [an "asynchronous" flavor](https://material-ui.com/components/autocomplete/#asynchronous-requests) of Material UI Autocomplete. Would we be able to use the same approach for Data Tracker Signal IDs?

[2021-04-13 05:09] amenity commented on #5775
as more projects get uploaded, it would be nice to be able to filter by Phase, Staff member, Funding Type, etc.

Added to #5482

[2021-04-13 13:26] SurbhiBakshi commented on #5761
Notes -

1. Went through some of the records, different records with the same address have different child records associated with them. Would need to clean up the child records before cleaning/deleting any of the location parent records to make sure those relationships are not lost.
2. Although at first glance, records associated with the same address might look like duplicates, not all of them a

[2021-04-13 13:51] jaime-mckeown commented on #5762
Content moved back to ATD Publisher account.

[2021-04-13 13:51] #5762 closed

[2021-04-13 14:01] jaime-mckeown opened #5787 "AGOL Login Issues - Liane C."
Liane was having problems logging into AGOL, trying to login/password instead.

[2021-04-13 14:01] jaime-mckeown commented on #5787
Sent her instructions with how to login to AGOL.

[2021-04-13 14:03] dianamartin commented on #5448
# List
- New builder switch over, doesn't have Single Sign On functionality when PROD environment has it
  - put in a Knack ticket
- Didn't have conditional rules on a field in object
  - put in a Knack ticket
  - confirmed later that the conditional rules showed up
-

[2021-04-13 14:06] dianamartin commented on #5494
Forgot to document, Lance replied 4/7

[2021-04-13 14:10] dianamartin commented on #5714
Closing since we have the final demo meeting this Friday, 4/16 and we have a different issue for it as well

[2021-04-13 14:10] #5714 closed

[2021-04-13 14:11] jaime-mckeown commented on #5771
Submitted Service-Now request to enroll Jeremy in the Creating and Editing in ArcGIS Pro class on 6/22-6/23.

[2021-04-13 14:11] #5771 closed

[2021-04-13 14:13] #5751 closed

[2021-04-13 14:16] dianamartin commented on #4267
Checked ServiceNow for update
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/a0865057-f3c1-4ca9-805d-a38829bb45ce)

[2021-04-13 14:16] dianamartin commented on #5721
@SurbhiBakshi should we close this?

[2021-04-13 14:33] jaime-mckeown commented on #5723
- Sent Scott ATSD computers that are in the office for Pro installs
- Sent ATSD users with computers at home email regarding getting Pro installed, they need to go into office for Scott to install
- Emailed ATSD regarding ATD's Pro Training Page
- Suggested the Creating and Editing Data Pro Class to Meter Shop (Jeremy and Steve) since they will be continuing to edit the Parking Inventory in Maint

[2021-04-13 14:55] moorerst commented on #5774
Per Shavyvonne: Yes Ma'am it is. The Officers can submit SR's via the 311 APP on their Brazos device for dockless (scooters & bikes) when they are on their beat. By doing so this also allows the Scooter/bike companies to address the issues in a timely manner.

[2021-04-13 15:15] amenity commented on #4837
@johnclary - no I was about to do the same thing.

[2021-04-13 15:21] ChrispinP commented on #5768
@moorerst not sure yet if it is an actual bug, something Diana noticed from testing in the new builder so just want to make sure its still functioning after the switchover and mobile optimizations. So this is something we should QA during that time.

[2021-04-13 15:32] ChrispinP commented on #814
**Possible Options (Check all that apply)**
- [ ] Place link on Service Request Form to external location (Gitbook/Website/Sharepoint)?
- [ ] Place link in Service Request Email to an external location or Knack SLA info page?
- [ ] Place button on Service Request Form to open SLA info in modal?
- [ ] Maintain on Sharepoint?
- [ ] Maintain on Website?
- [ ] Maintain in a public Gitbook?

[2021-04-13 16:03] amenity commented on #4530
@johnclary - thanks so much for sorting this out. 🙏🙏.
#3676 is also on the roadmap and I see you set that to be blocked by this...

[2021-04-13 16:42] moorerst commented on #5767
emailed stakeholders to coordinate which day would be best for the maintenance window

[2021-04-13 16:45] vschandramouli commented on #5579
Possible report layout: Need to confirm with Ryan.

![image.png](https://images.zenhubusercontent.com/5f50fe1f66d1a40f7f557fb4/a21db768-c232-48f5-85f0-5d57a0551053)

[2021-04-13 16:46] alan-deanda commented on #5781
@johnclary , to not get into the "what do we call this trail type?" never-ending cycle, we can use the `LINE_TYPE` field. it includes the On-Street, Off-Street, Off-Street Connectors and Street Crossings. I'll symbolize all non On-Street segments as dashed lines.

[2021-04-13 17:06] amenity commented on #5781
@alan-deanda - that sounds good to me!

[2021-04-13 17:13] Nadin-Nader commented on #2397
@TracyLinder can you give me some input on if the Fee calculation would have a negative short term or long term effect (other than us trying to fix the calculation later on)?

@SubhaShroff Here are her responses from the question you had.

[2021-04-13 17:22] Nadin-Nader commented on #5578
@SubhaShroff here is Ryan's response:

**_> [4/7 10:08 AM] Mooney, Ryan

[2021-04-13 17:27] alan-deanda commented on #5781
@mddilley the new vector tile layer can be found [here](https://tiles.arcgis.com/tiles/0L95CJ0VTaxqcmED/arcgis/rest/services/CTN_Project_Extent_VTs_with_Line_Type/VectorTileServer)

[2021-04-13 17:58] TracyLinder opened #5788 "TIA Project Meeting 4/13/21"
- [x] Mitigation Locations
- [x] Drop-down menu
- [ ] Email Content
- [ ] Customer Portal Home-Page Content
- [x] Get sign-off on Memo
- [ ] Response Memo
- [x] View mitigation data (new)
- [ ] Reporting page
- [ ] Needs Scoping

[2021-04-13 18:15] #5721 closed

[2021-04-13 18:32] mddilley commented on #5781
@alan-deanda Thanks so much for the updating the layer so that I could test it out, and I am able to filter the layer by the `LINE_TYPE`. 🙏

The more I think about it, it would also be useful to include the `LINE_TYPE` field as an attribute in the vector tile layer. Further down the Moped mapping experience, we show the user what features they have associated with a project, and this part doesn't

[2021-04-13 18:40] SubhaShroff commented on #5580
DEV Promotion Request for the changes done is raised: **SCTASK0131373**

[2021-04-13 18:40] jaime-mckeown commented on #5787
Login successful.

[2021-04-13 18:40] #5787 closed

[2021-04-13 18:42] jaime-mckeown commented on #5655
- Combined John's Tabs on Spreadsheet with the Test Plan.
- Added Daniel and Istvan to the Maint Dev Dataset, that's everyone except for Dolph
- Emailed Spreadsheet and Templates to the Group.

[2021-04-13 18:42] #5655 closed

[2021-04-13 18:46] TracyLinder commented on #5788
- [ ] Add pro-rata share to mitigation form

### Mitigation GIS Convo
- Define Needs: Line item tracking (mitigations table), mitigations inserted into Memo, Stakeholder Mitigations Map
- Similar need as MOPED mapping
    - Can this be a MOPED layer?
Challenges:
- KNACK UI
    - Will always have to copy/paste ID's
- Tracking points vs lines

How do we capture locations that don't exist yet?

- [ ]

[2021-04-13 18:51] jaime-mckeown opened #5789 "Complete GIS Remote Test using Various Setups / Cat6 Internet Connection"
Complete the GIS Remote Test.

[2021-04-13 18:52] TracyLinder commented on #5788
Scopes/Submission Cycles - Default Assigned reviewer to TIA Case Lead Reviewer

[2021-04-13 18:56] TracyLinder commented on #5788
### TIA Memo

- [ ] Insert page break after the signature and after each Exhibit

[2021-04-13 18:59] TracyLinder commented on #5788
Response memo is not MVP; put it in the backlog.

[2021-04-13 19:14] TracyLinder commented on #5574
### Update

I met with Ryan & Darren today to give them an update.
- In Scoping: Permits by City Department, Inspections
- In Progress: AULCC, CIP Info
- Blocked: TCP Tracker work

**Action Item:**
- [ ] Schedule another sync 3 weeks from now, include Vish

[2021-04-13 19:24] TracyLinder opened #5790 "Meeting: Huddle on TIA Mitigations Geospatial Needs"
**Date/Time:** 4/15/21 @ 4pm
**Attendees:** Tracy, Chrispin, John, Diana, Andrew

[2021-04-13 19:24] mateoclarke commented on #5786
- email sent to LINK suggestion secure token delivery method.
- email sent to ATD Mobility Services team on expected timeline for implementation.

[2021-04-13 19:28] TracyLinder commented on #5788
### Apps Tasks
FYI @ChrispinP

- [ ] Add pro-rata share to Mitigations form for fee-in-lieu
- [ ] TIA Memo: Insert page break after the signature and after each Exhibit
- [ ] TIA Memo: Fix whatever caused an entire blank page
- [ ] Scopes/Submission Cycles - Default Assigned reviewer to TIA Case Lead Reviewer

[2021-04-13 19:29] johnclary commented on #4530
@amenity yep, that MUI component is what I had in mind, though in these cases it would need to be combined with multi-select. great point—the async select  to knack would be exactly what we use for selecting signal IDs.

[2021-04-13 19:37] TracyLinder commented on #5578
Just an FYI, I updated the spreadsheet & report image in the description.

![image](https://user-images.githubusercontent.com/49930868/114610699-d4c14d00-9c65-11eb-8aae-09770a629397.png)

[2021-04-13 19:40] TracyLinder opened #5791 "TIA Project Meeting 4/19/21"
- [x] Mitigations geospatial solutions
- [x] Email Content
- [x] Customer Portal Home-Page Content
- [x] Reporting page
- [x] Needs Scoping

[2021-04-13 19:52] TracyLinder commented on #2397
@Nadin-Nader I'm not 100% understanding what is being conveyed in the above comment, but I do have a tiny bit of insight.

On TURPS, the fees only work if the value in info `Franchise / COA Department` is `'PVT'`. Any other value in that info, and the fees on the insert + run menu won't work. i.e. Staff has to manually insert the fee. The post-payment feature also looks at this info when the appli

[2021-04-13 19:55] SubhaShroff commented on #2397
For reference I am adding the code, where I found 75943 used to calculate RW fee.:

The following is from COA_FOLDER_FEES package code:
![image](https://user-images.githubusercontent.com/51680715/114611716-f3741380-9c66-11eb-85c9-50cdab7f927d.png)
![image](https://user-images.githubusercontent.com/51680715/114611947-25857580-9c67-11eb-9146-487c58de9a27.png)

**Code in COA_FOLDER_FEES.f_folder_flat

[2021-04-13 19:57] sergiogcx commented on #5251
This one was a breeze, PRs:
https://github.com/cityofaustin/atd-moped/pull/273

[2021-04-13 19:59] SubhaShroff commented on #2397
@TracyLinder  @Nadin-Nader In the above code 75943  is used to check if the selected COA Division is valid before inserting the fee. I think just replacing 75943 with 76765 will sort it.

[2021-04-13 20:13] dianamartin commented on #5774
Talked to Stephanie and right now this information lives in 311 system. I think Shavyvonne is asking for a manual entry for this scooter report.

Reaching out to Shavyvonne now.

[2021-04-13 20:29] vschandramouli commented on #5576
Had a meeting with Ryan, finalized AC. Currently working on converting notes into usable AC for this ticket.

[2021-04-13 20:30] vschandramouli commented on #5579
Had a meeting with Ryan, finalized AC. Currently working on converting notes into usable AC for this ticket.

[2021-04-13 21:02] amenity opened #5792 "Make shift "Description" visible to officers"
Lewis is adding important information for officers in the "Description" field for assignments. It needs to be easily discoverable by officers.

**Scheduler view**
![Screen Shot 2021-04-13 at 4 05 15 PM](https://user-images.githubusercontent.com/1463708/114621316-2e2f7900-9c72-11eb-99a7-4a636b0b930a.png)

- [x] Add "Description" to pop-up when you click on calendar
![Screen Shot 2021-04-13 at 4 09

[2021-04-13 21:12] dianamartin commented on #5774
When Stephanie and I were talking, we were able to talk to Shavyvonne about her request.

# Notes
_Can you help What are you trying to do?_
Trying to find a better way to collect information
311 app - officer created
2 hrs - vendor response time to fix the issue
Issue not fixed, supervisors - confiscate or reach out to vendor to move them or address the issue

Blocking handicap ramp
PEO - can move

[2021-04-13 21:33] jaime-mckeown commented on #5723
- Sent Eric in TED a follow-up email to check-in regarding what path they will be taking moving forward
- Sent Scott uninstalls for more in-office computers: ROW, SDD
- Sent users emails that need to uninstall Desktop that have computers at home: ROW, SDD, TDSD
- Responded to Nathan W. questions about the Pro Migration (Pro on Citrix, access to Access through ArcMap)

[2021-04-13 21:42] jaime-mckeown opened #5793 "CTM Request for ArcGIS Pro to be added to the Citrix Storefront App"
Nathan in ATSD asked about ArcGIS Pro being added to Citrix.

[2021-04-13 21:43] jaime-mckeown commented on #5793
Submitted CTM Request for ArcGIS Pro 2.6.2 to be added to the Citrix Storefront App.

[2021-04-13 21:55] SubhaShroff commented on #5580
Status: Dev promotion is done. Need to be tested by me.

[2021-04-13 21:56] SubhaShroff commented on #5578
Status: Working on the SCP table query.

[2021-04-13 21:58] SubhaShroff commented on #4469
**Status:** Dev Deployment is done today(4/13/2021). I have to test it in DEV.

[2021-04-13 22:07] amenity commented on #5792
@SurbhiBakshi - size plz 👕🙏 ... Setting for next sprint, but would be great to do it sooner if you find the time.

[2021-04-13 22:34] #5223 closed

[2021-04-13 22:35] #5222 closed

[2021-04-13 22:52] dianamartin commented on #5758
- John D. (CTM) emailed me the metadata I needed for the SSO configuration
- Attempted to configure it, tested and there was an issue
- Reached out to Surbhi, we discovered an incorrect field
- Tested and it was successful
- Added COACD big button code

[2021-04-13 23:10] johnclary commented on #1085
Fixed long ago with [atd-mds](https://github.com/cityofaustin/atd-mds).

[2021-04-13 23:10] #1085 closed

[2021-04-13 23:12] johnclary commented on #77
We've adopted the practice of using an SSH bastion on EC2. Closing.

[2021-04-13 23:12] #77 closed

[2021-04-13 23:16] johnclary commented on #216
It's possible to share a mobile device's screen by using Teams. Closing.

[2021-04-13 23:16] #216 closed

[2021-04-13 23:19] johnclary commented on #675
1.5 years later.....it's @amenity!

[2021-04-13 23:21] #678 closed

[2021-04-13 23:21] #679 closed

[2021-04-13 23:21] #677 closed

[2021-04-13 23:21] #676 closed

[2021-04-13 23:21] #859 closed

[2021-04-13 23:21] #675 closed

[2021-04-13 23:23] johnclary commented on #864
It turns out that we don't need this. Our staff now assign commodity codes to inventory items.

[2021-04-13 23:23] #864 closed

[2021-04-13 23:24] johnclary commented on #850
A long lost influencer task that we never got around too. Next time, y'all. Closed.

[2021-04-13 23:24] #850 closed

[2021-04-13 23:26] johnclary commented on #1099
The time has come to do this. I'm waiting on PRF paperwork from Jennifer.

[2021-04-13 23:27] johnclary commented on #1120
We've stopped using Fulcrum. Closing.

[2021-04-13 23:27] #1120 closed

[2021-04-13 23:28] johnclary commented on #1405
We won't be needing this. We're done using AIMS.

[2021-04-13 23:28] #1405 closed

[2021-04-13 23:28] amenity commented on #5781
@mddilley @alan-deanda Definitely agree we need the attribute in the vector tile layer so that we can adjust symbology based on user needs and feedback.

Actually, in the interest of separating content from presentation, we may want _just_ the attribute in the vector tiles. @johnclary  — I bet u have thoughts. 😏

[2021-04-13 23:31] johnclary commented on #1596
Looks like this pre-dates our intersection polygons layer. Closing.

[2021-04-13 23:31] #1596 closed

[2021-04-13 23:45] johnclary commented on #5793
Cool—this should come in handy for others as well.

[2021-04-13 23:47] #96 closed

[2021-04-14 05:35] amenity commented on #5519
@johnclary @tillyw - got feedback from Max S that he wouldn't have known the fields were editable in place if he didn't see the pencil. So putting this in "Needs Scoping" until we get further user feedback.

[2021-04-14 05:53] amenity opened #5794 "Delete a corrupted project"
Opening https://moped.austinmobility.io/moped/projects/156 in staging results in WSOD ☠️

[2021-04-14 10:24] aishwarya2505 commented on #4511
This has been committed. ATD #4511 Commit ID: 27d70bd4502f. Post COA Review, I will be sending the commit request for DEV

[2021-04-14 10:25] aishwarya2505 commented on #4551
This is being tested on DEV. Post confirmation will be moved to TEST.

[2021-04-14 10:27] aishwarya2505 commented on #3640
I am looking in to this one. Will begin code work shortly.

[2021-04-14 13:45] SurbhiBakshi commented on #5233
Update from Josh - Just to let you know a little bit on what is going on internally to explain the delay. Our development team is working on a transition to a new, upgraded reporting system.  Initially they thought that this request would work in the new system and rolled it into the transition.  After some more discussion last week, they realized two things.  First, due to the nature of this upgr

[2021-04-14 13:46] SurbhiBakshi commented on #4732
Christina moved the feedback meeting to Friday April 16th.

[2021-04-14 13:51] SurbhiBakshi commented on #5726
@amenity - I created the accounts for the officers who attended the training on 4/13.

[2021-04-14 13:58] Nadin-Nader commented on #1726
## **Status:**
PROD Ready

[2021-04-14 13:59] dianamartin commented on #5785
There were `5967` officer citation tracking records that needed to be connected to new `Name` connection field
- `1645` records have not been assigned to PEO bc the PEOs that were originally assigned no longer work for the city or are in a different division
- Need to ask PE stakeholders if they want those accounts to be created or if we should leave them as is
- Need to ask about retention, shoul

[2021-04-14 14:05] SurbhiBakshi commented on #5792
Think it might be a good idea to also put the description in the email notification the officers get?

[2021-04-14 14:28] johnclary commented on #5520
@SurbhiBakshi thanks for your help with this. Closing.

[2021-04-14 14:28] #5520 closed

[2021-04-14 14:38] jaime-mckeown opened #5795 "Help adding Parking Inventory to Pro to Edit - Jeremy S."
From Jeremy:

[2021-04-14 14:38] jaime-mckeown commented on #5795
Sent Jeremy instructions along with a screenshot for the easiest way to access the parking inventory data in AGOL via Pro.

[2021-04-14 14:41] SurbhiBakshi commented on #5674
Notes -

- [ ] Switch inline editing to Yes for Internal Note
- [ ] Switch inline editing to Yes for External Notes
- [ ] Add Modified Date to the table and allow inline editing
- [ ] Add Construction Note Date to table and allow inline editing
- [ ] Communicate to Renee that requested changes have been made and once AMD Data Tracker is migrated to the New Builder in May, she will not need to put

[2021-04-14 14:56] moorerst commented on #5767
@dianamartin @ChrispinP per Steve Thursday perhaps. Fridays have ben busy lately for some reason.

[2021-04-14 15:03] moorerst commented on #5758
@dianamartin I was able to login using the big Sign In button

[2021-04-14 15:05] dianamartin commented on #5758
@moorerst I meant to send out an email to everyone about how to log in.
-  Block'o said he wasn't able to see what the dispatchers were seeing and that's bc he was in the wrong user role, so I updated him and got him logged in.
- Email from you or from me about log-ins?

[2021-04-14 15:11] moorerst commented on #5501
3 different dispatchers entered SR's into the new system from April 5th to 13th. Received very positive feedback from the Dispatchers during testing.
Next step for user testing will be with the Officers testing uploading images from device while on site and using the Manage My Time feature. This user testing is targeted for the week of April 19th. we have a list of Officers for testing during each

[2021-04-14 15:11] dianamartin commented on #5758
@moorerst I'll send the email out about logging-in

[2021-04-14 15:15] moorerst commented on #5501
Tracking quick fixes and process questions in issue #5753

[2021-04-14 15:18] dianamartin commented on #5434
- Just created new test environment, waiting for it to finish.
- Will update app inventory and delete old test environment

[2021-04-14 15:23] dianamartin commented on #5774
When in and created the Scooter Metrics Report that Shavyvonne needed
- Under "Officer Reports"
- Created new "Assigned To -Scooter"

[2021-04-14 15:25] dianamartin commented on #5753
@moorerst if you think we're done with tracking during the pilot

[2021-04-14 15:43] moorerst opened #5796 "Meeting: Digital Petition follow up"
Attendees: Stephanie, Diana, Joseph, Ryan
4/13/2021

- RPP staff will provide modified language for:

vehicle information - why it is needed, will not be used for, etc.
petition description - too long should be in a bullet list format so easier to read
support/oppose - I Support/Oppose my street as a Residential Parking Zone

- Add question on form - Renter or Homeowner

Follow up week of April 19

[2021-04-14 15:44] moorerst opened #5797 "Meeting: Digital Petition follow up"
Attendees: Stephanie, Diana, Joseph, Ryan
4/13/2021

- RPP staff will provide modified language for:

vehicle information - why it is needed, will not be used for, etc.
petition description - too long should be in a bullet list format so easier to read
support/oppose - I Support/Oppose my street as a Residential Parking Zone

- Add question on form - Renter or Homeowner

Follow up week of April 19

[2021-04-14 16:13] dianamartin commented on #5774
Shavyvonne said

[2021-04-14 16:13] #5774 closed

[2021-04-14 16:20] dianamartin commented on #5755
Talked with Shavyvonne this morning, we thought that doing the training for PEOs should be done before their shifts.

### To DO
- Create Teams meetings
- Inviting their supervisors and Shavyvonne
- Provide URL to Shavyvonne
####  Monday
  - 8 am
  - 10 am
#### Wednesday
  - 10:30 am

### Demo
- Manage My Time
  - How to log breaks, lunch, clock out
  - Need help, ask dispatcher
- Dispatcher - adds

[2021-04-14 16:26] ChrispinP commented on #5788
Completed action items, memo still needs more spacing adjustments that can be addressed in the existing memo issue.

Submissions will now default to the connected Case Reviewer values for both customer and reviewer submissions. I cant set a conditional on the trigger buttons, only actions. I would have to pass the lead reviewer value down to the submissions if I wanted to set only to lead reviewer

[2021-04-14 16:26] #5788 closed

[2021-04-14 16:37] Nadin-Nader commented on #5557
This has been completed by Andrea and Amita. Closing

[2021-04-14 16:37] #5557 closed

[2021-04-14 16:43] moorerst opened #5798 "Feature: Review new Robin Mobile App Office Pass"
Noticed a new option of the Robin desktop app to Book A Desk. Log into the mobile app to see if it was there also and saw this new feature Office Pass. Was not aware of this new feature.
Contact Robin Support asking what is the policy for communicating new features:
We did send out messages to owners this week, you should have received one yesterday via our messenger app. I'd also recommend signin

[2021-04-14 16:47] mddilley opened #5799 "Investigate and address User API failures"
When trying to create accounts for Andrew and Diana in Moped Staging, Amenity ran into a problem which came down to API errors. For Andrew's account, a Cognito account was created but his permissions did not make it into the DynamoDB table or the User table in the Moped DB. The UI showed an endless spinning wheel.  Andrew's entry in the staging user pool showed that his temporary password was neve

[2021-04-14 16:47] alan-deanda commented on #5781
@amenity , @mddilley, @johnclary  the line type attribute field is included in these vector tiles. let me know if they give you any issues. on the GIS side, a trail has the following fields:
![image](https://user-images.githubusercontent.com/42655533/114747904-2de0bd80-9d06-11eb-9163-8a71d960757c.png)
a street has the following fields:
![image](https://user-images.githubusercontent.com/42655533/11

[2021-04-14 16:53] moorerst commented on #5767
Planned for Thursday 4/22 - all day maintenance window for these changes and switchover to new Knack builder.
Will post maintenance downtime schedule on RPP Home page beginning 4/19

[2021-04-14 16:55] moorerst commented on #5797
closing this is a duplicate

[2021-04-14 16:55] #5797 closed

[2021-04-14 16:57] ChrispinP commented on #5546
No response, closing as resolved.

[2021-04-14 16:57] #5546 closed

[2021-04-14 16:59] ChrispinP commented on #5516
Thanks Mike for your work on this. Will create any followup issues as necessary for updating the Mitigation form.

Closing as complete

[2021-04-14 16:59] #5516 closed

[2021-04-14 17:09] johnclary commented on #5767
Thanks, y'all. Is there a test environment where I can preview these changes?

[2021-04-14 17:13] johnclary commented on #5781
thanks @alan-deanda!

[2021-04-14 17:19] ChrispinP commented on #5767
@johnclary yes, the March 26th RPP Test environment.

[2021-04-14 17:24] ChrispinP commented on #5700
The short text field is successfully passing the Record ID to the child records via txt formula and after updating the email links they are working as intended for newly created cases and submissions to link customers back to their case details page.

No further action needed. Closing

[2021-04-14 17:24] #5700 closed

[2021-04-14 17:28] ChrispinP commented on #5585
Pushed to production. Moving to Review. We are happy with new menu, links work correctly and looks similar to Knack theme. Could be improvements to the styling or mobile optimizations if we want to use for other applications where there is a heavier mobile use.

[2021-04-14 17:30] ChrispinP commented on #5654
all action items completed and reviewed, closing

[2021-04-14 17:30] #5654 closed

[2021-04-14 17:49] johnclary commented on #5767
This looks great! Small suggestion—when I was testing on mobile I was thrown off by the large "Permit Application Type" header on the second page of the app. I suggest we move this to a normal-sized label and put it above the address fields.

Before:
![Screen Shot 2021-04-14 at 12 39 27 PM](https://user-images.githubusercontent.com/14793120/114755751-9ee09f00-9d1f-11eb-9cd2-8ceb8bbc8da8.png)

Afte

[2021-04-14 17:49] amenity commented on #5799
Plot-thickening update:
- I was able to create a test admin account in staging, so
- I tried adding Andrew as an admin and got the same forever-🔄  as before
- I tried adding Andrew as an editor with `andrew.shenskytestemail@austintexas.gov` as the email and it worked
- I went back to update Andrew's email to his real email and hit save — _leaving the password field blank  — not sure if that is kos

[2021-04-14 17:57] amenity commented on #5792
@SurbhiBakshi - YES! That's a great idea.

[2021-04-14 18:06] dianamartin commented on #5785
- Was able to the import and connect the officer citation tracking and account names.
- There were only 4 records that previously didn't have any identifiers that indicated the who they belonged to, they range from 2019 to 2020
- Not sure if the dispatchers/leads will be able to know who these belonged to

[2021-04-14 18:06] #5785 closed

[2021-04-14 18:11] amenity opened #5800 "Update automated VZA emails to officers"
- [x] Include [shift "Description" field](https://github.com/cityofaustin/atd-data-tech/issues/5792#issuecomment-819545446)
- [x] Add [Quick Links blurb](https://docs.google.com/document/d/1OBxv49_LD_T2YT9AkyRugjmiScBCnQfI8k3WzRan2Qw/edit#)

[2021-04-14 18:22] amenity opened #5801 "Turn "VZA Officers" contact list into Outlook group"
This way other people can email all officers, they can email each other to swap shifts or ask questions, etc.

[2021-04-14 18:24] #5726 closed

[2021-04-14 18:27] amenity opened #5802 "Create documentation on VZA Power BI workflow and hand off process to Xavier"

[2021-04-14 18:28] #3154 closed

[2021-04-14 18:31] ChrispinP commented on #5766
Values in Case Reviewers will now be set as Submission Reviewers as submissions are created.

[2021-04-14 18:31] #5766 closed

[2021-04-14 18:32] amenity opened #5803 "VZA Geospatial Analysis"
Lewis now creates more generic locations and let's officers roam as needed, so geospatial analysis of assignments is not very meaningful. Iceboxing these existing issues for now.

[2021-04-14 18:37] amenity opened #5804 "Hide AMD/Signal scheduling elements from scheduler and officer invoicer UIs"
- [x] Scheduler interface
- [ ] Officer interface - will require dev help
![Screen Shot 2021-04-14 at 1.35.57 PM.png](https://images.zenhubusercontent.com/5a5f8dc94b5806bc2bc322a5/2762afda-2e0f-4d5f-ac0e-ea27caf35b9d)

[2021-04-14 18:41] ChrispinP commented on #5439
email sent to stakeholders for 04.14 @ 5pm Switchover

[2021-04-14 18:55] dianamartin opened #5805 "Create FormStack Training for Ryan R."
Waiting for Parking Staff with FormStack comments back before I make user training

[2021-04-14 19:18] jaime-mckeown opened #5806 "Access to AE Poles, help with GIS - Edgardo"
Edgardo needed some help accessing the AE Poles layer. As we were talking, I started asking him about some of the data in his map, which got us onto a conversation about how he maintains the data that is related to the Fiber Optic Cable data.

[2021-04-14 19:19] SurbhiBakshi commented on #5804
The invoicing interface has a header which specifies if the assignments are Vision Zero or Arterial Management. Since this is the same header field that Mike references, I will make the change after discussing with Mike. Changing the header for the  Sign Up Page for Officers will also address the Invoicing table. ![image](https://user-images.githubusercontent.com/13035849/114766663-4bc11900-9d2c-1

[2021-04-14 19:22] jaime-mckeown commented on #5806
- We talked briefly about what he is doing to maintain his data
- He definitely needs some structure to his data. I told him that I would be happy to help him to work on creating GIS data for the point data that is related to Fiber Optic Cable. I asked him to schedule some time where we can talk about his current process, so I can get a better idea of what his needs are.
- We also talked about Pro

[2021-04-14 19:24] #5806 closed

[2021-04-14 19:25] dianamartin commented on #5774
Added a new field "Officer Name Manual Create" - to indicate they were officer driven 311 SRs
By adding this the dispatchers can document the 311 SRs that were created by the officers

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/a92c3c18-1cf3-446b-b45d-48297cc5fba0)

[2021-04-14 19:27] jaime-mckeown opened #5807 "Fiber Optic Cable Associated GIS Data Discussion - Edgardo"
- Edgardo and I will be meeting to discuss all of the associated data that he maintains for Fiber Optic Cable (he will be scheduling)
- Nothing is currently in GIS, he has paper processes, and no easy way to work in the field.

[2021-04-14 19:32] #4752 closed

[2021-04-14 19:34] johnclary commented on #4811
We met with Brian and must have captured notes elsewhere. I'm closing this.

[2021-04-14 19:34] #4811 closed

[2021-04-14 19:38] johnclary commented on #3668
I've moved the non v1.0 issues from this epic to [#5139](https://github.com/cityofaustin/atd-data-tech/issues/5139).

Some of them may come up when set pick up [#3676](https://github.com/cityofaustin/atd-data-tech/issues/3676)

[2021-04-14 19:38] #3668 closed

[2021-04-14 20:01] dianamartin commented on #5760
I put in a ticket with Knack on 4/8.

Knack replied on 4/12 with

I wrote on 4/14

[2021-04-14 20:05] dianamartin commented on #5666
- [x] Send out to Street Banner stakeholders
- [ ] Send out to SMB stakeholders
- [ ] Send out to AMD stakeholders
- [ ] Send out to Finance and Purchasing stakeholders

[2021-04-14 20:10] ChrispinP opened #5808 "[TDS] Enhancement: Ability to Hide Summary Name or Row for Table Groupings on Mitigation Tables"
Ability to hide all Summary Names or the entire Summary Row for Table Groupings
![image](https://user-images.githubusercontent.com/67915167/114772116-0b18ce00-9d33-11eb-8cb7-1afcf061cffe.png)

Reached out to Knack and there is no current options to exclude. Will need custom code for this.

This will de-clutter the Mitigation Tables, especially for the Memo where clarity and spacing is important.

[2021-04-14 20:32] johnclary commented on #4470
Fixed in November [here](https://github.com/cityofaustin/atd-knack-services/commit/bd61a2244e9c224a470851aa9a3941fc46618f2d).

[2021-04-14 20:32] #4470 closed

[2021-04-14 20:34] dianamartin commented on #5434
## Big Button Code Change
- line `85-103`
- replace with [JS code](https://atd-dts.gitbook.io/atd-knack-operations/knack-code/functionality/big-buttons) - `85-106`
- check CSS code

[2021-04-14 21:07] sergiogcx commented on #5744
Ah, yes forgot there is a PR:
https://github.com/cityofaustin/atd-moped/pull/275

Ready for Review

[2021-04-14 21:11] jaime-mckeown commented on #5789
- [ ] City Laptop using NetMotion to connect to Office Workstation: Test using Pro
- [ ] City Laptop using NetMotion to connect to Office Workstation: Test using ArcMap
- [ ] City Laptop using NetMotion to connect to City Network: Test using Pro
- [ ] City Laptop using NetMotion to connect to City Network: Test using ArcMap

[2021-04-14 21:11] ChrispinP commented on #3598
updated field to Department Name

[2021-04-14 21:12] jaime-mckeown commented on #5789
- [ ] Install Pro and ArcMap on my City Laptop to run the following tests
- [ ] City Laptop using NetMotion to connect to City Network: Test using Pro
- [ ] City Laptop using NetMotion to connect to City Network: Test using ArcMap
- [ ] Uninstall Pro and ArcMap from my City Laptop

[2021-04-14 21:14] jaime-mckeown commented on #5789
- [ ] Get Citrix Workspace on my Workstation setup so I can test the personal machine to city computer using Citrix.

[2021-04-14 22:16] dianamartin commented on #5431
### Button Code
- line `336-550`

### COACD Button Code
- line `373-415`

[2021-04-14 22:24] amenity commented on #5382
Covered by #5482

[2021-04-14 22:24] #5382 closed

[2021-04-14 22:28] johnclary commented on #1554
Will try do another test migration with a subset of TCP data from 2021. Depending on how smoothly that goes, we'll decide if we want to refactor the way we manage statuses in the app or push ahead with the migration.

[2021-04-14 22:46] TracyLinder commented on #5734
## NOTES

Attendees: Tracy, Nate, Vish, Ryan, Paloma, Izzy

### 1. Success & Failure
**Why are we doing this, what problems might we solve?**
- So we can have better insight into how permitting team is performing, create accurate & repeatable metrics, measure performance in an automated way that cuts down on manual data manipulation by staff.

**What will make this project fail; what are your conc

[2021-04-14 23:05] sergiogcx commented on #5794
Rather than deleting a corrupted project I wondered if it would be possible to change the code and make it more stable, this because corrupted projects might keep appearing in the future. It seems to be a one-liner simple fix for this error.

[2021-04-14 23:09] sergiogcx commented on #5794
Debugging steps:

<img width="661" alt="2021-04-14_17-50-08" src="https://user-images.githubusercontent.com/5282430/114791436-30fe9c80-9d4c-11eb-8014-0ea02f3e8112.png">

<img width="759" alt="2021-04-14_18-06-35" src="https://user-images.githubusercontent.com/5282430/114791465-3825aa80-9d4c-11eb-99ec-1e06b9294c43.png">
<img width="1027" alt="2021-04-14_17-51-01" src="https://user-images.githubuser

[2021-04-14 23:46] TracyLinder commented on #4946
## KICK-OFF MEETING NOTES
_Issue #5734_

Attendees: Tracy, Nate, Vish, Ryan, Paloma, Izzy

### 1. Success & Failure
**Why are we doing this, what problems might we solve?**
- So we can have better insight into how permitting team is performing, create accurate & repeatable metrics, measure performance in an automated way that cuts down on manual data manipulation by staff.

**What will make this p

[2021-04-15 00:13] #5734 closed

[2021-04-15 05:16] amenity commented on #5775
Funds tracking to be covered in https://github.com/cityofaustin/atd-data-tech/issues/4530.

[2021-04-15 05:22] amenity commented on #5794
@sergiogcx — I'm still seeing nothing

[2021-04-15 05:24] amenity commented on #5794
And refreshed the page and it loaded fine. 😅

[2021-04-15 05:24] #5794 closed

[2021-04-15 14:18] atdservicebot opened #5809 "Give user access to Telework Request Form"
Other / Not Sure

It says I do not have access to the telework request form from the website listed below.

Instructions for supervisors:
1.	Login here: https://atd.knack.com/hr#forms/
2.	Click to view the details of the Telework Request Form
3.	Any forms waiting for approval will be listed under Waiting for Your Review.
4.	To approve/reject, click the Sign button.
If anyone has any problem, pleas

[2021-04-15 14:29] dianamartin commented on #5674
Renee reached out to thank us for this feature

Surbhi and I talked to Renee because she needed to know that she was needing to update the "Modified Date" and the "Construction Note Date".
- @SurbhiBakshi will update on the backend some records that Renee changed today bc she wasn't aware she had to change the dates yet

[2021-04-15 14:38] ChrispinP commented on #5426
TDS Switchover complete

[2021-04-15 14:47] SurbhiBakshi commented on #5674
Updated the Modified Date and Construction Note Date for the records that were changed in the meeting today morning.

[2021-04-15 14:51] dianamartin commented on #5801
- Testing creation of groups in desktop outlook v. web outlook
- Created 2 test groups
  - vza desktop
  - vza web
- Added Surbhi and Amenity as members in both groups
![image](https://user-images.githubusercontent.com/21112975/114889860-1a9a2480-9dd0-11eb-9d83-d2dc91933b5d.png)

[2021-04-15 16:03] SurbhiBakshi commented on #5801
@amenity - One way to reduce efforts to maintain a contact list would be to give Lewis access to the [`Officers`](https://atd.knack.com/vza#officers/) page with the contact information for all the registered officers. He could export that out as a CSV and plug those in the email as and when required.

[2021-04-15 16:09] SubhaShroff commented on #5578
@TracyLinder  @Nadin-Nader

1. I have sent you the sample Report PDF for the review. Once you approve the report, then we can copy it in server to see it in Amanda.
2. I did Report configured in DEV Amanda.

[2021-04-15 16:16] chiaberry commented on #5808
I highlighted some of the rows/cells here https://atd.knack.com/test-tds-02-apr-2021-transportation-development-services-portal#tia-mitigations-directory/tia-mitigation-details/60677899da9d57067ec52e32/

Are the pink cells the ones you want to hide? The text inside the cells. Except not the last pink cell in the table, the one that just says "total" ?

![Screen Shot 2021-04-15 at 11 15 08 AM](http

[2021-04-15 16:17] sergiogcx opened #5810 "Moped Editor | Fix File Upload"
Fixes a bug with file where the file upload dialog would fail if after the first file was successfully uploaded.  This is caused by the state not being cleared after each upload. The sorting is also broken for dates and file size.

PR:
https://deploy-preview-276--atd-moped-main.netlify.app/moped/projects/188?tab=files

[2021-04-15 16:59] SubhaShroff commented on #5580
@TracyLinder  @Nadin-Nader  I have sent you the demo for this ticket today (4/15/2021).

[2021-04-15 17:19] dianamartin commented on #5758
Emailed stakeholders on 4/14, to let them know of the changes

[2021-04-15 17:19] #5758 closed

[2021-04-15 17:20] dianamartin commented on #5434
- Tested links in live app in test environment, links worked fine
- Button redirects were fine as well

[2021-04-15 17:24] ChrispinP commented on #5439
Completed followup actions. New Menu Icon bug where they are not currently displaying. I have messaged Knack about it.

Putting into QA if any further action is necessary.

[2021-04-15 17:30] SurbhiBakshi commented on #5047
@johnclary , @amenity , @mddilley  - so I might have finally figured out what the issue was. The email that Ramon entered in the Google form missed the `t` in austintexas.gov and I either imported it in or copied it over. I got a email delivery failure notice yesterday when I sent out the notification about migration to the New Builder and realized the domain name was not right. I have corrected t

[2021-04-15 17:31] #4341 closed

[2021-04-15 17:54] ChrispinP opened #5811 "[TDS] Update JS to not hide Pro Rata Share % on Improvement Selection"
Currently if Mitigation Type: Mitigation Fee in Lieu is selected the Pro Rata Share % field will show. Once the Improvement selection is chosen the field becomes hidden again unintentionally.

![image](https://user-images.githubusercontent.com/67915167/114915413-247c5180-9de9-11eb-86ba-174b7a77dd4d.png)

![image](https://user-images.githubusercontent.com/67915167/114915553-4f66a580-9de9-11eb-8e27-

[2021-04-15 18:15] amenity commented on #5782
@johnclary — can you size this?

[2021-04-15 18:18] johnclary commented on #5047
oh, wow. that makes total sense. if that's the solution it's a huge relief! and i'm glad we have that test SSO app setup now. it will be helpful in the future.

[2021-04-15 18:22] johnclary commented on #5782
Estimated as a 3. IIRC we use the same tabbed component for both projects and products—ok if we continue that path and have these new tabs + button visible for both project and product indices?

[2021-04-15 18:23] johnclary commented on #5782
Also wondering if, instead of adding tabs, we should have a filtering interface on a single tab showing all issues. Column sorting would be nice too...

[2021-04-15 18:36] amenity opened #5812 "Compile simple design specs for Moped support button"
[Wireframe](https://share.balsamiq.com/c/oMkEZYXZG7h2twGHxcKbCj.png)
![Support modal](https://user-images.githubusercontent.com/1463708/123689889-5febc100-d819-11eb-930f-9b6bf1a5fbb6.png)

[2021-04-15 18:38] amenity opened #5813 "[Feature] Support Menu"
Feather help icon: https://feathericons.com/?query=help
[help-circle.svg.zip](https://github.com/cityofaustin/atd-data-tech/files/6812515/help-circle.svg.zip)

### Design
**Button/menu item**
_See #6585_

**Menu**
A la Google Drive:
![Screen Shot 2021-07-14 at 2 58 28 PM](https://user-images.githubusercontent.com/1463708/125684957-b2ad6bc4-2c0d-4ce5-ad28-b94214d7ff95.png)

### Links
- [Report a bu

[2021-04-15 18:47] johnclary commented on #5674
Thanks for sharing the feedback. Great work y'all!

Heads-up, in order for the changes to be propagated to AGOL and Socrata, the modified date has to be the current date. For example, say that Renee made an edit three days ago, but forgot to set the modified date. So today she goes into the data tracker and sets the modified date to three days ago, the ETL will not pickup those changes. Does that

[2021-04-15 19:12] dianamartin commented on #5809
- Checked account manager and Kimberly P. exists in there and listed as active
- Will reach out to user

[2021-04-15 19:14] mateoclarke commented on #5786
Add a checkbox for making sure we get a backfill of April data by their reporting deadline on 5/5

[2021-04-15 19:19] chiaberry commented on #4961
The Location data type in socrata is "location" I am deleting the column and adding a location column "point"

[2021-04-15 19:23] amenity commented on #5782
I'm down for filters as long as we can pass them in the URL!

[2021-04-15 19:49] dianamartin commented on #5431
- SMB Page without COACD Big Button
Pages that doesn't have:
- manage-records
- manage-hardware
- reimbursements

[2021-04-15 19:54] dianamartin commented on #5809
@SurbhiBakshi I have this one

[2021-04-15 19:59] dianamartin commented on #5809
- Kim said she doesn't have access to this [page](https://atd.knack.com/hr#forms/)
- I checked that page and it's for Supervisors, Designated Head user roles
- I recently noticed she's a supervisor, so I confirmed that
- changed user role to include "Supervisor"

[2021-04-15 20:02] #5809 closed

[2021-04-15 20:04] SubhaShroff commented on #2397
@Nadin-Nader @TracyLinder  **### 76765** infocode should it be mandatory for RW TURP as in EX?
And should it display in ABC Portal for RW TURP? I assume it should work the same as in EX.

[2021-04-15 20:13] johnclary commented on #5809
Thanks, Diana!

[2021-04-15 20:33] amenity commented on #5047
Aha!! 🤞🤞

[2021-04-15 20:46] vschandramouli commented on #5576
@TracyLinder @Nadin-Nader I took a first pass at writing AC for this report. Could you do a quick review and let me know what you think? It can be moved to Backlog if you think it is good to go.

[2021-04-15 21:49] vschandramouli commented on #5579
@TracyLinder @Nadin-Nader Could you take a look at this ticket too?

[2021-04-15 22:08] johnclary commented on #1554
@TracyLinder @ChrispinP I tested out my migration code. It's OK, but the record import functionality in the new Knack builder makes this a lot easier. Good call @ChrispinP! I created yet another version of this app [here](https://builder.knack.com/atd/right-of-way-portal-johns-migration-copy).

This app replicates the functionality of the existing TCP module in the Data Tracker, with a few excepti

[2021-04-15 22:46] #4808 closed

[2021-04-15 23:00] mddilley commented on #5431
Updated Signs and Markings production with the new COACD code so the following pages now have the custom big button login:
- manage-records
- manage-hardware
- reimbursements

The big button code was also updated in both TEST | SMB - 17 MAR 2021 and Signs and Markings Production so that the issue with the underline text decoration and right margin that was clickable is now gone.

[2021-04-15 23:27] mddilley commented on #4851
The new code is now in Signs and Marking production as well as TEST | SMB - 17 MAR 2021 | Signs and Markings Operations. There is a [PR](https://github.com/cityofaustin/atd-knack/pull/29) with the updates to big button code and login code to address the underline text decoration and clickable right margin.

Next step is for me to document the updates now that the big button and custom SSO button s

[2021-04-16 06:07] #5784 closed

[2021-04-16 12:54] jaime-mckeown commented on #5789
- [ ] Get instructions from Scott for how to use Citrix Workspace and configure
- [ ] City Laptop using updated NetMotion to use Citrix Workspace: Test using ArcMap 10.7.1 (waiting for Pro install)

[2021-04-16 12:55] jaime-mckeown commented on #5789
- [ ] Uninstall Pro and ArcMap on my City Laptop

[2021-04-16 13:53] chiaberry opened #5814 "Migrate Travel Sensors to publishing to new ETL"
Migrate the travel sensors ETL to the new Knack ETL.

Legacy Config:
https://github.com/cityofaustin/atd-data-publishing/blob/24c4fbad9d4fc06085fe8254e4584092f8c2746a/transportation-data-publishing/config/knack/config.py#L339

[2021-04-16 13:59] chiaberry opened #5815 "Migrate Signal Timing publishing to new ETL"
Migrate Signal_retiming ETL to new ETL.
 - it only goes to socrata and does not have a location field. [legacy config.](https://github.com/cityofaustin/atd-data-publishing/blob/24c4fbad9d4fc06085fe8254e4584092f8c2746a/transportation-data-publishing/config/knack/config.py#L360)
 - also, we do a full replace every time it runs
 - it’s currently running every hour, but you can move it to once daily

[2021-04-16 14:10] Nadin-Nader commented on #4034
@Nadin-Nader talk to Tracy about this

[2021-04-16 14:16] jaime-mckeown commented on #5795
He's good to go.

[2021-04-16 14:16] #5795 closed

[2021-04-16 14:19] jaime-mckeown commented on #5793
- Boris at CTM has been in contact to get to the Application location. CTM will be installing Pro today and doing some testing before making it available to users next week.
- After chatting with Scott about how Citrix works, I modified the request to make sure they apply the same settings to the Pro group that exist on the ArcMap Group, that way everyone will have access to both Apps.

[2021-04-16 14:20] #5763 closed

[2021-04-16 14:21] jaime-mckeown opened #5816 "AE Poles GIS Data update from AE / New Process for Keeping Additional Fields"
Received updated AE Poles from Blake at AE.

[2021-04-16 14:22] jaime-mckeown commented on #5765
Charles will be meeting with Scott to get his tablet fixed. Will create a new Issue for helping him with Collector.

[2021-04-16 14:22] #5765 closed

[2021-04-16 14:23] jaime-mckeown opened #5817 "SZB Collector App Introduction - Charles"
Work with Charles to learn how to use Collector for SZB Editing.

[2021-04-16 14:45] TracyLinder commented on #5579
@vschandramouli it looks great. I'll move to backlog. Good work.

[2021-04-16 14:59] johnclary commented on #1099
Submitted PRF to Jennifer. She will collect signatures and ask us for the job posting once she has them.

[2021-04-16 15:00] johnclary opened #5818 "Create Job Posting for Software Developer"

[2021-04-16 15:00] TracyLinder opened #5819 "Bug on AMANDA TCI Report: Page Area Too Large"
_Submitted by Nathan C. w/ ROW via Email_
### I received the attached error while trying to send an deficiency report for both permits 2021-049888-EX as well as 2021-045864-EX.

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/d7d812ea-ef92-4c22-a0be-785757a4075e)

[2021-04-16 15:09] TracyLinder commented on #5819
**Email to Nate C**

I’ve created a DTS ticket for this and assigned it to Nate with our team (copied). He’ll be triaging it today and will follow up when he has more information and/or a status update for you.

---

FYI @Nadin-Nader

[2021-04-16 15:30] amenity commented on #5290
- Max has already done a rotation, worked well but don't have the motherboard number (Diana found it in Daniel's OG spreadsheet)
- No more emails
- Really quite intuitive
-

Need the motherboard serial when communicating with TrafficLogix

New DSDD form
- First people to see them are Billy's crew
- They'll communicate the serial numbers and asset ID to Max
- Max fills out the form

New work order

[2021-04-16 15:37] dianamartin opened #5820 "Feature: Configure DSDD emails, Follow-up created, DSDD WO Closed"
Needs a new component
When a follow-up work order
- [x] Updated form record rule for follow-up to associated the dsdd

NEW FEATURES
**Email configuration at at the create of a follow-up
**Email configuration at the time of WO Closed

WORK FLOW
WORKFLOWS
- Work Order by max, say needs Follow-up, Submit WO
- Follow-up Created by Supervisor, Closed WO (EMAIL)
- Follow Created - Unassigned (EMAIL)

Em

[2021-04-16 15:38] dianamartin commented on #5820
Delete Test WOs in PROD

- [ ] WRK21-110995
- [ ] WRK21-111825
- [ ] WRK21-111830
Time Logs

[2021-04-16 15:40] dianamartin commented on #5290
@amenity I created a new issue for the testing and email configurations I need to do

[2021-04-16 15:43] dianamartin commented on #5820
- [ ] Test that Follow-up work order associated DSDD asset
- [ ] Configure Follow-up work order email from this [page](https://builder.knack.com/atd/amd#pages/scene_644/views/view_1718)
- [ ] Configure Close work order email from this [page](https://builder.knack.com/atd/amd#pages/scene_435/views/view_1226)

[2021-04-16 15:49] jaime-mckeown opened #5821 "Transportation Mitigation Meeting - TDSD"
Meet with Sangeeta and Allison to discuss Mitigation GIS layer.

[2021-04-16 15:49] #5810 closed

[2021-04-16 15:53] jaime-mckeown commented on #5821
Allison sent me the Spreadsheet that she has been working on:
- It is an export of the attribute table from the Site Plan Case layer that has been paired down to only include Mitigation Cases for specific years.
- She has added many fields specific to mitigation.
- They would like to create a new GIS Layer based on the updated spreadsheet, they will be sending me another version of the Spreadsheet

[2021-04-16 15:56] #5821 closed

[2021-04-16 15:58] jaime-mckeown opened #5822 "Create Transportation Mitigation GIS Data / Web Map - TDSD"
Create new GIS feature layer in AGOL /Web Map based on Spreadsheet that I will be receiving from TDSD.

[2021-04-16 15:58] jaime-mckeown commented on #5822
- [ ] Create new Transportation Mitigation AGOL Feature Layer
- [ ] Create Web Map
- [ ] Create Web App.

[2021-04-16 16:00] jaime-mckeown opened #5823 "TDSD Web Map Updates"
Sangeeta requested a couple updates to the TDSD Web Map.

[2021-04-16 16:01] jaime-mckeown commented on #5823
- [ ] Remove the Council District Bookmarks
- [ ] Add TDSD Area Bookmarks
- [ ] Add new layers for Street Impact Fees (Cole has published them)
- [ ] Remove old Street Impact Fee Areas Feature Layer that was added for TDSD

[2021-04-16 16:47] dianamartin commented on #5674
@johnclary Thanks for the clarification. Yes, it makes sense it won't update if you backdate a record. We made Renee aware that she's responsible for updating the `Modified Date` and `Construction Note Date` right now. When the new builder is switched, she'll just be responsible for the `Construction Note Date`, but not the `Modified Date` anymore. She's also aware that if she doesn't put the date

[2021-04-16 17:02] andrewshensky opened #5824 "Create updated wiki for Bike Parking field data collection"
This wiki will be used as a supplement to the Bike Rack collector training. It will provide a written description of the new workflow for collecting bike rack data and maintenance records through related tables in collector.

[2021-04-16 17:52] mddilley opened #5825 "Project Extent | Fix geocoder so click and hover events don't propagate through the input box"
When using the geocoder to search for locations, the cursor is interacting with the selectable layers below the input box. This was fixed previously for the [Knack Signs and Markings ](https://github.com/cityofaustin/atd-knack-signs-markings)pin dropping embed.

This also affects the controls for the **layer select checkboxes** and **zoom controls.**

This issue will be helpful as well: https://gi

[2021-04-16 18:05] SurbhiBakshi commented on #5800
### Notes -

Added Shift Description and Quick links blurb to
- [ ] Email officers get when they sign up
- [ ] Seven day reminder email
- [ ] One Day reminder email
- [ ] Email when details on an assignment change
- [ ] Email when an assignment is cancelled.

[2021-04-16 18:48] Nadin-Nader commented on #5627
Hector could not test this as he needed to get a new laptop. He wont be getting his New laptop until Monday. He said he would ask Brandi to try to print on Monday to see if it works.

## **Status:**
Waiting til Monday for results from Hector or Brandi

[2021-04-16 18:49] atdservicebot opened #5826 "This is a test, this service request does not needed to be triaged."
Vision Zero in Action

This is a test, this service request does not needed to be triaged.

This is a test, this service request does not needed to be triaged.

This is a test, this service request does not needed to be triaged.

This is a test, this service request does not needed to be triaged.

Surbhi B.

Request ID: DTS21-101880

[2021-04-16 19:35] TracyLinder opened #5827 "Meeting: Scoping Methodology"
**Date/Time:** 4/16/21 @ 2pm
**Attendees:** Tracy, Nate, Vish
**Objective:** Determine how best to move forward with scoping this project. Identify next steps.

[2021-04-16 19:37] johnclary commented on #4411
Done
<img width="1359" alt="Screen Shot 2021-04-16 at 2 36 49 PM" src="https://user-images.githubusercontent.com/14793120/115075790-3d583600-9ec1-11eb-9c02-c5b484603142.png">

[2021-04-16 19:37] #4411 closed

[2021-04-16 19:42] johnclary opened #5828 "Remove AIMS workflows from Data Tracker"
Effective 4/1/21 AMD will no longer use AIMS for inventory mgmt. We need to remove AIMS entry workflows from the Data Tracker inventory module.

#### Work Orders Object
- Remove "Needs AIMS Entry" status rules from "Inventory Status" field
- Remove `SUM_ITEMS_NOT_ENTERED_INTO_AIMS` formula field

#### Page modifictions
- Remove `AIMS Number` field from all views
- Remove `Needs AIMS Entry` from in

[2021-04-16 19:43] johnclary commented on #5828
Done. I left the `AIMS Number` field intact for historical tracking, but we should not need to reference it after the next four weeks or so.

[2021-04-16 19:43] #5828 closed

[2021-04-16 19:46] #5826 closed

[2021-04-16 20:03] TracyLinder commented on #5827
### Notes

**Considerations:**
- We need to capture review cycle information for pre-issuance reviews and post-issuance reviews (extensions, renewals, modifications)
    - Unknown: Can we capture information for both review types with one process, or will each need it's own process?
    - Will one post-issuance process work across all permit types, or will each permit type require a unique post-is

[2021-04-16 20:06] TracyLinder commented on #5827
@vschandramouli & @Nadin-Nader feel free to add any notes to this issue that I may have missed, or that you just want captured. I'll leave this open for a few days.

[2021-04-16 20:13] johnclary commented on #5081
Created three new fields:
- `Journal Voucher ID`	(`field_3824`)	/ `short_text`
- `Journal Voucher Date`	(`field_3825`)	/ `date_time`
- `Journal Voucher Status`	(`field_3826`)	/ `multiple_choice`

Will document business rules in [#5239](https://github.com/cityofaustin/atd-data-tech/issues/5239)

[2021-04-16 20:13] #5081 closed

[2021-04-16 20:15] johnclary commented on #5400
Prevents editing of transactions and inventory request financials when "Journal Voucher Status" is complete

<img width="1435" alt="Screen Shot 2021-04-16 at 3 03 17 PM" src="https://user-images.githubusercontent.com/14793120/115079263-8a8ad680-9ec6-11eb-9bc5-5e70f2f68580.png">

<img width="1411" alt="Screen Shot 2021-04-16 at 3 01 01 PM" src="https://user-images.githubusercontent.com/14793120/115

[2021-04-16 20:15] #5400 closed

[2021-04-16 20:20] johnclary commented on #5399
We need to implement custom js on all forms which allow editing of a work order's task order to disable editing of the task order field when `SUM_JV_TRANSACTIONS_COMPLETE > 0`.

[2021-04-16 20:49] SubhaShroff commented on #1877
@Nadin What information(fields) should the email contain?
 Is it going to be in the form of Report sent as attachment or any other format it should be sent in?

[2021-04-16 20:58] mddilley commented on #4851
Sorry y'all - accidentally closed this one with the "fixes" keyword in a PR. 🙃

[2021-04-16 21:16] ChrispinP commented on #5808
@chiaberry That last row is the Summary row for the entire table. In Knack we already have the option to hide that last row and even decide how it sums (min, max, avg, sum).

The other 3 pink rows you highlighted yes. These will have the Group Header name in the Group Summary row. We need to be able to either hide the text, simplify it to something like "Group Total", or be able to hide the Group

[2021-04-16 22:00] jaime-mckeown commented on #5823
All of the pop-ups seemed to have lost their configuration, which makes it more difficult for the users to read the pop-ups. Spent way too much time fixing them all since there are a ton of layers in this map. Hopefully this doesn't happen again.

[2021-04-16 22:12] jaime-mckeown commented on #5823
Let Sangeeta know what changes were made.

[2021-04-16 22:15] jaime-mckeown opened #5829 "Signal Engineer Areas - Attribute Updates"
Noticed that the Engineer names were incorrect for 2 areas when looking at the layer in AGOL.

[2021-04-16 22:16] jaime-mckeown commented on #5829
Updated the Central and South Signer Engineer Areas based on updates that I recently made to the PDF map. Updates must not have saved in the GIS Data as I was having issues with saving when I was editing.

[2021-04-16 22:16] #5829 closed

[2021-04-16 22:17] jaime-mckeown commented on #5829
Ran Geodatapusher to update data on GISDM, checked and updates went through.

[2021-04-16 22:19] jaime-mckeown commented on #5823
Unshared the old Street Impact Fee Areas feature layer and added a note. I will delete the layer after I know they don't need it anymore.

[2021-04-16 22:36] #4961 closed

[2021-04-17 00:19] amenity commented on #5433
@SurbhiBakshi - logged in as Officer, Scheduler, and Invoicer. All looked great.

The banner image is broken for me, though.
![Screen Shot 2021-04-16 at 7 13 16 PM](https://user-images.githubusercontent.com/1463708/115095694-d00bcb80-9ee7-11eb-83f2-74b7f07acf3e.png)

[2021-04-17 00:31] amenity commented on #5801
@SurbhiBakshi — I like that idea! But it's also cool to see the group emails and, theoretically, for officers to be able to contact each other that way.🤔

[2021-04-17 17:51] sergiogcx opened #5830 "Moped Editor | Fix Search Feature"
It looks like the change for eCAPRIS to always be a number seems to have broken the search feature, which still searches by text. We need to change the search so that it knows when text is present to parse the text as search, or use a number when searching for the ecapris number.

![2021-04-17_12-49-26.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/ebf6d3ba-2a59-4b87-9a6b-fdb99

[2021-04-17 18:44] sergiogcx commented on #5830
There is a PR:
https://github.com/cityofaustin/atd-moped/pull/281

[2021-04-17 19:37] sergiogcx opened #5831 "Data Migration | Moped Phases -> Subphases"
The phases was large on its own, we are going to have a separate migration phase for subphases and watch its roll back too!

[2021-04-17 21:54] chiaberry commented on #5814
Deleted the location column with datatype Location and added location column with datatype Point in Socrata

[2021-04-18 17:52] johnclary commented on #5399
Deployed in production with PR pending approval. Moving to Review/QA.

<img width="693" alt="Screen Shot 2021-04-18 at 12 35 57 PM" src="https://user-images.githubusercontent.com/14793120/115155298-dfecf200-a044-11eb-97bd-005272269d6f.png">

[2021-04-18 18:28] johnclary commented on #5236
Done in Mar 10 sprint. Available [here](https://atd.knack.com/amd#inventory-cycle-counts/).

<img width="752" alt="Screen Shot 2021-04-18 at 1 27 50 PM" src="https://user-images.githubusercontent.com/14793120/115156451-f6e21300-a049-11eb-99dc-141801061fc8.png">

[2021-04-18 18:28] #5236 closed

[2021-04-18 18:45] johnclary commented on #889
@dianamartin would you attached the G drive file here, please? I'll update it.

[2021-04-18 18:50] johnclary commented on #865
We met multiple times. Van is booking financial transactions for the first time this week ( 🎉 ) and will meet with controller's office to touch base on that process. We're out of the loop on it though.

[2021-04-18 18:50] #865 closed

[2021-04-19 13:59] Nadin-Nader commented on #5580
@SubhaShroff i have reviewed the demo and it looks good. Let me see what the Stakeholder says, then we can proceed.

[2021-04-19 14:03] dianamartin commented on #889
@johnclary Here is the [matrix](https://github.com/cityofaustin/atd-data-tech/files/6336613/warehouse_inventory_user_privileges_matrix.xlsx)

[2021-04-19 14:18] johnclary commented on #20
We've officially terminated AIMS inventory. The Data Tracker is the system of record for AMD inventory. Van will be booking the first set of financial transactions from the Data Tracker this week.

In the past month we've:
- Removed AIMS workflows from the Data Tracker
- Established new workflows for financial processing and implemented controls that ensure the integrity of transactions that have

[2021-04-19 14:26] johnclary commented on #2673
Natalia has sent INRIX performance metric data based on the calculations we're using for SD23 indicators. AMD will review and confirm it's acceptable.

#### Next Steps
- AMD to review data
- Create new SD23 datasets for the performance metrics, which are in monthly rather than yearly format
- Update SD23 measure cards to use new datasets
- Coordinate with CTR to automate data publication to these

[2021-04-19 14:45] #5290 closed

[2021-04-19 14:48] dianamartin commented on #1540
Last Friday, met with stakeholders and showed them the DSDD work orders have been configured. Max can now create an AMD work orders for a technician when a DSDD device needs maintenance. Billy has confirmed that the work orders are exactly what he wants for the technicians. The last piece is to finalize the email notifications for when DSDD work orders are completed and if a follow-up work order w

[2021-04-19 14:51] jaime-mckeown opened #5832 "Request GIS TRAIN Course - Renee O."
Renee asked about a couple of upcoming classes, which would be the best to take.

[2021-04-19 15:15] johnclary commented on #1768
Yes, Jaime took care of this some time ago. Closed.

<img width="519" alt="Screen Shot 2021-04-19 at 10 14 46 AM" src="https://user-images.githubusercontent.com/14793120/115260136-18013d00-a0f8-11eb-83a9-cec2508a78eb.png">

[2021-04-19 15:15] #1768 closed

[2021-04-19 15:15] jaime-mckeown commented on #5832
- Let her know that the 2-day Migrating from ArcMap to Pro would be best as the abridged classes would be faster paced, and she doesn't need the editing class since she doesn't edit GIS Data.
- Submitted CTM Request for the Migrating from ArcMap to Pro Class on 5/18-5/19.

[2021-04-19 15:17] johnclary commented on #1555
Moving to blocked until Billy's team completes their cleanup work.

[2021-04-19 15:18] amenity commented on #145
*Status update*

[2021-04-19 15:18] #5832 closed

[2021-04-19 15:20] jaime-mckeown opened #5833 "Access to GIS - Steven R."
Steven with TED called me since he has received a city laptop that doesn't have ArcGIS installed, and Scott will be taking his old desktop to retire it.

[2021-04-19 15:24] johnclary commented on #5817
@jaime-mckeown would you please continue tagging this work with `Project: Beacon Data Tracking`?

[2021-04-19 15:30] jaime-mckeown commented on #5833
- We talked about his needs with GIS, I told him that his division was still up-in-the-air regarding whether or not they would be keeping ArcGIS moving forward.
- I told him about the Web Mapping Application that was creating based on Leslie's map. I asked him if he could give it a try first.
- Sent him a link to the Web App with an intro to the tools that are available in the Map.

[2021-04-19 15:30] #5833 closed

[2021-04-19 15:32] johnclary commented on #1769
Yep—this has to stay in backlog. Removing from stakeholder discussion epic.

[2021-04-19 15:36] jaime-mckeown opened #5834 "Questions about Publishing Data to AGOL - Chris M."
Chris emailed asking about publishing data to AGOL for a meeting he has tomorrow instead of making a static PDF.

[2021-04-19 15:39] jaime-mckeown commented on #5834
After a couple emails, I checked his AGOL account and he is a COA Power Use. I let him know that he could publish the data himself, but that I would be happy to help if he needed help. Apparently, he was a Power User before he came to ATD, but didn't think to look if his user level stayed the same. With that being the case, he will be able to publish the content, create the map, etc. I let him kno

[2021-04-19 15:57] atdservicebot opened #5835 "I need to be able to log in and approve Telework forms, but I do not have access to the page."
Other / Not Sure

I need to be able to log in and approve Telework forms, but I do not have access to the page.

Soon — This week

I need to approve employee Telework forms.

Isabell P.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/607da81ea3d7dc001bda9e34/accessdenied.png) (13.73kb)

Request ID: DTS21-101885

[2021-04-19 16:05] moorerst commented on #5755
First training session @ 8:00 included 2 PEO's and 2 Leads
Questions from training session:

- will we get a notification when a SR has been assigned to us like in Teams we get a beep?

Knack does not have the option to beep when an assignment is made. We can set up a email notification. Per Shavyvonne not all Officers have city email on their device. We will need to discuss how to handle the noti

[2021-04-19 16:07] jaime-mckeown commented on #5793
- Pro was added to Citrix this morning. I tested it and it works great.
- Let Nathan know that Pro is now available in Citrix.

[2021-04-19 16:07] #5793 closed

[2021-04-19 16:08] moorerst commented on #5755
Second training session @ 10:15 included 2 PEO's and 1 Lead
had some issues with assigning the SR's to the PEO. The Assign To field was not populating, had to manually populate for testing
PEO Bookman was having issues with his device, he was getting kicked out of the browser and the screen froze so he was not able to complete attaching an image.

We will assign some test SR's to both of the PEO's

[2021-04-19 16:11] #5823 closed

[2021-04-19 16:15] moorerst opened #5836 "Enhancements: PEO User Testing"
Will we get a notification when a SR has been assigned to us like in Teams we get a beep?

- [x] Knack does not have the option to beep when an assignment is made. We can set up a email notification. Per Shavyvonne not all Officers have city email on their device. We will need to discuss how to handle the notifications.

For Manage My Time only options are Break/Lunch/Check Out how do we handle ot

[2021-04-19 16:25] atdservicebot opened #5837 "[Signs & Markings] Enhancement: APL Employee Status and AppleOne Contractor Employee Type"
Signs & Markings Operations

Signs & Markings is starting to get contract staff from a contractor "AppleOne". We are needing to add a new account "Employee_Status" called APL so we can start tracking contract staff on work orders. Along with this, under the Invoice Details page, we need to add a new labor "Employee Type" and the cost associated. The new Employee Type is AppleOne Contractor and the

[2021-04-19 16:27] amenity commented on #5154
Had a OneNetwork demo last week. @TracyLinder will set up a meeting with Allyson and Lance to discuss next steps.

[2021-04-19 16:33] mddilley commented on #5781
I tested out some methods of adding dashed lines for trails, but Mapbox GL JS isn't quite there yet. [Line-dasharray](https://docs.mapbox.com/mapbox-gl-js/style-spec/layers/#paint-line-line-dasharray) works but it doesn't support data-driven styles so there is no way to apply the dashed lines to the trails in the project summary map.

I also tried [line pattern](https://docs.mapbox.com/mapbox-gl-j

[2021-04-19 16:36] TracyLinder commented on #2663
**Update**

- ATD & DSD will keep this on both backlogs. Whoever has time first will do the development.
- Work-around for now: Use 'Make a Copy' functionality from the SE folder to create an RW folder.

[2021-04-19 16:41] jaime-mckeown commented on #5727
Created initial list, will use this for a while and see how it works.

[2021-04-19 16:41] #5727 closed

[2021-04-19 16:42] jaime-mckeown commented on #5789
All tests were completed using a hard line connection to the internet. Will perform tests using Wi-Fi if need be. Will wait until I hear about how others on the team did their testing.

[2021-04-19 16:43] #5789 closed

[2021-04-19 16:44] amenity commented on #2669
Moped should provide a large chunk of this functionality; will assess what additional support/tools are needed once as that is clarified.

[2021-04-19 16:44] jaime-mckeown opened #5838 "GIS Remote Work Subcommittee Meeting - 4/20/21"
Weekly meeting to work on recommendations for GIS Remote Work.

[2021-04-19 16:46] ChrispinP commented on #5835
Updated Telework Form access to Supervisors. Updated Isabell's role to Supervisor.

[2021-04-19 16:47] jaime-mckeown opened #5839 "GIS Remote Work Subcommittee"
Subcommittee was created to come up with recommendations for best practices for doing GIS work from home.

[2021-04-19 16:50] ChrispinP commented on #5837
@dianamartin gonna drop this on deck for this week.

[2021-04-19 16:51] amenity commented on #5686
Currently using the "Landmark" field to store this information; in broader discussions with CTM about the unmet needs we have with regards to the street segments base layer.

[2021-04-19 16:53] TracyLinder opened #5840 "Meeting: OneNetwork Demo 4/14/21"

[2021-04-19 16:53] TracyLinder opened #5841 "Internal Meeting: Debrief on OneNetwork Demo"
**Date/Time:** Friday 4/23/21 @ 1pm
**Attendees:** Tracy, Jen, Allison, Luke, Lance, John, Jaimie, Amenity

[2021-04-19 16:54] johnclary commented on #5725
Currently using the "Landmark" field to store this information; in broader discussions with CTM about the unmet needs we have with regards to the street segments base layer.

If this is an ongoing issue we will revisit this option.
See also [#5858](https://github.com/cityofaustin/atd-data-tech/issues/5686)

[2021-04-19 16:54] jaime-mckeown opened #5842 "GIS Remote Work Subcommittee Meeting - 04/13/21"
John brought Esri reps into the meeting this week. They talked about PerfTools.

[2021-04-19 16:56] #5842 closed

[2021-04-19 17:25] ChrispinP commented on #5430
Notified Devs of update and have sent notification email to stakeholders for Thursday April 22nd All Day

[2021-04-19 18:37] johnclary commented on #1728
I reached out to Billy, Nick, and Frank and asked them to confirm that we can proceed with this.

[2021-04-19 18:42] jaime-mckeown commented on #5816
- Added new data to AE_Poles.gdb under COA_Utility_Poles folder for Edgardo
- Additional fields were added for Harrell a while back, come up with the best process for keeping additional fields as data is updated.
- Added a Word Doc for updating AE Poles data for Harrell's version of the data.
- Only need to do a simple Join Field on the AGOL version, so no automation is necessary, steps added to W

[2021-04-19 18:43] jaime-mckeown commented on #5816
- Let Edgardo know there is updated data.
- Let Harrell know that the AE Pole data has been updated and his extra fields are still available for editing.

[2021-04-19 18:43] #5816 closed

[2021-04-19 19:07] dianamartin commented on #1540
## DSDD Assets
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/0e1cf274-ef4a-460f-bafd-83f6c3c0cb9f)

## DSDD Locations for Deployment
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/4e6569aa-6f77-46b7-a278-ceefc6d04dd0)

[2021-04-19 19:10] moorerst opened #5843 "Bug: Dispatch Tracking - Assign To field not populating"
After selecting the Activity - Dispatch Investigator and assigned to a specific PEO the Assign To field is not populating.
Was working previously seems to stop working mid morning 4/19 - noticed during PEO User Testing

[2021-04-19 19:11] TracyLinder commented on #5791
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/18562097-b0e4-4200-a58c-0bd2e3487945)

[2021-04-19 19:14] moorerst commented on #5843
reviewed internally seems to be a Knack bug - Knack ticket submitted

Response from Knack:
Thanks for reaching out and providing us links! We're currently looking into this issue, where forms with a data source "connected to logged-in user" are not capturing the data into the fields as expected. We've also had some reports where record rules doing the same are also not working, so it looks to be r

[2021-04-19 19:17] TracyLinder commented on #5791
Add to each customer email, just before the signature block:
- If you have any questions please contact the reviewing engineer or email us at transportationreview@austintexas.gov.

[2021-04-19 19:27] TracyLinder commented on #5791
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/8257f783-3cbc-4dba-a175-b684e3b67bac)

[2021-04-19 19:34] TracyLinder commented on #5791
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/879ab870-24af-434f-ab74-a995ffb90245)

[2021-04-19 19:37] TracyLinder commented on #5791
Remove this email
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/b585e150-4ad9-45a6-8128-e1a7ea310abd)

[2021-04-19 19:56] amenity commented on #1817
@johnclary @dianamartin  - do you want to include this in https://github.com/cityofaustin/atd-data-tech/issues/4383?

[2021-04-19 19:58] amenity commented on #1601
@mateoclarke @johnclary — I assume this is for Dockless Data Viz?

[2021-04-19 19:59] amenity commented on #1974
@mateoclarke @johnclary — can you provide any details here?

[2021-04-19 20:02] TracyLinder commented on #5791
- [ ] Tracy, ask team for TIA applicant testers

[2021-04-19 20:04] mateoclarke commented on #1974
@amenity this came from a [meeting back in June 2019 w/ Shannon B before she left](https://github.com/cityofaustin/atd-data-tech/issues/170). I don't recall the specifics so I hesitate to guess any specifics but I think its safe to close it.

[2021-04-19 20:05] amenity opened #5844 "Enhancements to Dockless Mobility Data"
Shared Micromobility
- [Data Explorer](https://micro.mobility.austin.gov/)
- [Summary Dashboard](https://data.mobility.austin.gov/micromobility-data/)
- [Open dataset](https://data.austintexas.gov/Transportation-and-Mobility/Shared-Micromobility-Vehicle-Trips/7d8e-dm7r)

[2021-04-19 20:06] mateoclarke commented on #1601
Yeah, this was another unscoped feature request from Shannon B thats almost 2 years ago. Safe to icebox or close imho.

[2021-04-19 20:09] TracyLinder commented on #5791
Ask Curtis & Upal to provide feedback on the reporting page; do usability w/ them on this

[2021-04-19 20:16] TracyLinder commented on #2732
This is done; closing.

[2021-04-19 20:16] #2732 closed

[2021-04-19 20:17] TracyLinder commented on #5659
This is done; closing.

[2021-04-19 20:17] #5659 closed

[2021-04-19 20:17] TracyLinder commented on #5585
This is done; closing.

[2021-04-19 20:17] #5585 closed

[2021-04-19 20:17] TracyLinder commented on #2764
This is done; closing.

[2021-04-19 20:17] #2764 closed

[2021-04-19 20:18] #5790 closed

[2021-04-19 20:20] TracyLinder commented on #5535
**Update:**
- No need to display the TIA Customer Home Page at this time

**Apps Tasks:**
- [ ] Hide TIA Customer Home Page
- [ ] Hide TIA Customer Help Page until we have content for it.

FYI @ChrispinP

[2021-04-19 20:20] vschandramouli commented on #5576
Moving to Backlog as other ticket was reviewed by Tracy.

[2021-04-19 20:21] amenity commented on #1974
@mateoclarke - thanks! Adding a few labels and iceboxing.

[2021-04-19 20:21] TracyLinder commented on #4772
This is ready for usability testing. We will create issues for any updates as the need arises. Closing.

[2021-04-19 20:21] #4772 closed

[2021-04-19 20:31] amenity commented on #1974
Or maybe I just messed up and y'all are referring to [this page](https://data.mobility.austin.gov/device-status/)?

[2021-04-19 20:31] atdservicebot opened #5845 "This is a trial"
Other / Not Sure

This is a trial

Unsure

this is a trial

Surbhi B.

Request ID: DTS21-101895

[2021-04-19 20:33] SurbhiBakshi commented on #5845
Trial to see if service request through DTS Portal in New Knack Builder works. It does, closing this issue.

[2021-04-19 20:33] #5845 closed

[2021-04-19 20:45] jaime-mckeown commented on #5789
- [ ] Tested NetMotion to GIS Workstation to test Pro via Wi-Fi
- [ ] Tested NetMotion to Citrix to test Pro via Wi-Fi

[2021-04-19 20:46] jaime-mckeown commented on #5834
Keep open until tomorrow in case he needs the content shared publicly.

[2021-04-19 20:53] dianamartin commented on #5843
Knack responded

- I tested in the SR # `PSR00-002780`, added the TEST PEO and it finally showed up!
- Success..it is fixed

[2021-04-19 20:54] jaime-mckeown commented on #5706
Look to see if there is a way I can make this map better with the data that is available.

[2021-04-19 20:56] amenity commented on #307
Having completed a substantial number of our Moped 1.0 features, we are currently working on [Project Components](https://github.com/cityofaustin/atd-data-tech/issues/3662). This functionality will allow users to map and track work on specific assets such as traffic signals and will set the groundwork for our Data Tracker integration.  

We've begun usability testing (thanks Renée!) and getting ex

[2021-04-19 21:12] dianamartin commented on #5843
Will associate the missing SRs with the assigned PEOs so we can use it for reporting analysis

[2021-04-19 21:18] johnclary commented on #1974
You didn't mess up @amenity. This is the Dockless Dataviz. Agree we should close it.

[2021-04-19 21:20] johnclary commented on #1817
Yes—thanks. Added to epic.

[2021-04-19 21:22] amenity opened #5846 "Milestones | Implement "Milestones" table in the database"
https://atd-dts.gitbook.io/moped/user-guides/project-phases/milestones

[2021-04-19 21:46] SubhaShroff commented on #1726
@Nadin-Nader I tested this ticket on TEST portal.

FOLDER | SUB | RSN
-- | -- | --
UC | Private   Development/Utility | 12657521
UC | Easement Release | 12657523
RW | Parking Spaces | 12657520
RW | Temporary   Right of Way Use Permit(no fees) | 12657524
RW | Temporary   Right of Way Use Permit(W/ fees) | 12657525
DS | Com. Driveway   & Sidewalk | 12657517
DS | Res. Driveway | 12657522
PSM | Café/P

[2021-04-19 22:21] #5843 closed

[2021-04-19 22:35] SubhaShroff commented on #1726
[ATD- 1726 - Folder 'In Date' Rules (TL) - PROD Deployemnt Plan.docx](https://github.com/cityofaustin/atd-data-tech/files/6339439/ATD-.1726.-.Folder.In.Date.Rules.TL.-.PROD.Deployemnt.Plan.docx)

@Nadin-Nader Here is the PROD deployment Plan, ready. Once, we get a thumbs up, I will create a ServiceNow request for PROD deployment.

[2021-04-19 22:46] dianamartin commented on #5820
Email issue is on #5409, closing this

[2021-04-19 22:46] #5820 closed

[2021-04-19 22:49] dianamartin commented on #5409
Have been spending time testing whether or not I could get follow-up work order details could be on an email. I could get it on there when the WO was "Closed", but not when it gets initially created.

[2021-04-19 22:50] dianamartin commented on #5409
- Updated the record rules for dsdd on Follow-up work order creation form
- [ ] Configure follow-up email
- [ ] Configure closed email

[2021-04-19 23:50] #1974 closed

[2021-04-20 02:25] jaime-mckeown commented on #5706
- The old process wasn't working and was giving bad results.
- Moved work to a Pro Project in the same directory.
- Figured out what should be displayed in the feature layer in AGOL.
- Used amanda row permits from GISAPP1 as the same layer in GISDM is not equal. Need to ask Sean at CTM about that.
- Brought in paystations from AGOL to get correct parking space data to associate with active parking

[2021-04-20 02:26] jaime-mckeown commented on #5706
- [ ] Email Sean about amanda row permits on GISAPP1 vs GISDM.

[2021-04-20 02:45] atdservicebot opened #5847 "Batch update router settings on traffic signals network"
Other / Not Sure

Brian needs assistance running a Python script to batch update network router settings over telnet. He has sent John a list of router IPs to be updated. John has an old version of this script that can be repurposed.

For each router we need to:
- Update login password (John has current and future passwords)
- Enable SSH login
- Enable https web server and disable http web server

[2021-04-20 03:22] johnclary commented on #5847
@amenity @mateoclarke let's try to tackle this in May 5th sprint. I can walk a dev through it. The code will need to run from one of our on-prem linux servers—those have access to the traffic signal network.

[2021-04-20 05:32] amenity commented on #5484
@dianamartin - are we ready to plan and schedule this?

[2021-04-20 05:55] amenity commented on #4851
Thanks, @mddilley !

[2021-04-20 05:56] amenity commented on #4851
@dianamartin — should this stay in Blocked for any reason?

[2021-04-20 06:32] amenity opened #5848 "Add "Info" links throughout app"
Use Feather "info" svg: https://feathericons.com/?query=info in
[Project roles](https://atd-dts.gitbook.io/moped/user-guides/project-roles)
- [ ] "Assign team" page of "New project" workflow
- [ ] "Team" tab on a project page

[2021-04-20 12:57] SurbhiBakshi commented on #5047
Teams messaged Ramon last week to ask him to try again, he messaged me today morning to let me know it worked for him.

[2021-04-20 12:57] #5047 closed

[2021-04-20 12:58] SurbhiBakshi opened #5849 "Meeting - Shared Mobility team"

[2021-04-20 13:11] SurbhiBakshi commented on #5849
**Notes -**
- Met with Mary V, Andrea M and John C to demo the Permits and the Provider Contact functionality, along with automated permit expiration emails.
- Mary mentioned emailing multiple provider contacts for expiring permits since there is some amount of turnover and there is not always one email (headless account) that is getting checked.
- The team would also like multiple zones to be inc

[2021-04-20 13:14] SurbhiBakshi opened #5850 "Create a different data model for permit records"
From #5849 create a parent object for permits, and child objects for zones and devices, so each permit record can have multiple zones.

[2021-04-20 13:24] SurbhiBakshi commented on #4732
Met with Christina and @dianamartin on Friday April 16th.

Notes -

1. Christina wants to see the date fields in the dashboard, but will work with Susanne to incorporate the fields for `number of day` in Power BI because it is much easier to work with date calculations and set multiple filters in Power BI.
2. Here is the [spreadsheet ](https://teams.microsoft.com/l/file/54aa800b-e890-4478-96ea-2e7

[2021-04-20 13:26] SurbhiBakshi commented on #4732
I don't think this issue is blocked by #3114, but being able to set up a data pipeline for these tables on the Open Data Portal will help with getting the information in Power BI. This could be a potential project for our Civic Innovation fellow this summer - @johnclary thoughts?

[2021-04-20 13:31] SurbhiBakshi opened #5851 "Batch copy VZA assignments after May 9th"
Lewis will be amending the current VZA assignment schedule and will let me know by the end of this week which weeks to copy over to May and June.

[2021-04-20 14:13] atdservicebot opened #5852 "Unable to log into Finance and Purchasing system"
Finance & Purchasing

I'm not able to log into Knack applications, specifically the Finance system. I think it has something to do with my name/email change.

Dan Valbracht was helping me and we thought we fixed the issue, but I'm still not able to login.

Internet Browser: Chrome

Liane C.

Request ID: DTS21-101905

[2021-04-20 14:20] jaime-mckeown opened #5853 "Editing Assistance in Pro - Harrell"
- At Harrell's request, I added some additional fields to the AE Poles data for AMD's purposes. Up until this point, he has not done any editing of the data. Now that he is in Pro, he needed some help with how to edit the Attributes.

[2021-04-20 14:32] dianamartin commented on #5484
Messaged Christina this morning 4/20

[2021-04-20 14:36] SubhaShroff commented on #2397
Based on April 15th/16th chat on Teams with @Nadin-Nader(verified with stakeholders), the above questions are answered as Yes.

1.  #76765 infocode should it be mandatory for RW TURP as in EX? --** #YES**
And should it display in ABC Portal for RW TURP? I assume it should work the same as in EX. - **YES.**

[2021-04-20 14:40] jaime-mckeown commented on #5853
Sent Harrell instructions for how to edit the attributes in the AE Poles layer.

[2021-04-20 14:48] #5830 closed

[2021-04-20 14:49] #5602 closed

[2021-04-20 14:50] #5381 closed

[2021-04-20 14:56] SurbhiBakshi commented on #3114
Going back to the original intent of this issue (which got a little side tracked due to other issues) there are three tables that need to be connected from Knack to the Open Data Portal so Susanne can connect to those from Power BI.

1. **Specifications Counts**
- The dataset for this table has been created on the Open Data Portal.
- John has completed the setup for this table to be updated on the