[2022-03-08 20:54] dianamartin commented on #8585
## Corrections
- [ ] Added to display rule no.10 (WORK_TYPE_TROUBLE_CALL is "Other")
  - [ ] Add - Hide/Show - dsdd

[2022-03-08 21:23] TracyLinder commented on #7672
[3:23 PM] Linder, Tracy
    Amayo-Ryan, Paloma you previously asked us to code the fee amount for the FY23 fee ($250) and that staff would manually change the amount in the meantime. Please confirm, should we change the amount or go with the original plan? TY.

[2022-03-08 21:36] Sreelatha-BlazeKannan commented on #6030
@Nadin-Nader , @TracyLinder - Tested in Back Office DEV,  but not able to test in DEV Portal. If anyone has access please do let me know to continue testing.

[2022-03-08 21:49] Sreelatha-BlazeKannan commented on #8590
@Nadin-Nader , @TracyLinder - PROD DP submitted. Kindly approve and create a task id for me.

Commit ID: 20f3437f49d4

[2022-03-08 21:50] andrewshensky opened #8673 "Create AGOL Feature Layer of Sign Data from Maint"

[2022-03-08 22:04] TracyLinder opened #8674 "Bug: Sys does not calculate ROW Usage Fee for metered parking spaces (On PROD🎉🎉)"
### The system should calculate the correct usage fee for TURP metered parking spaces, and insert the fee along with the other ROW Usage fees.

**Acceptance Criteria**

- The acceptance Criteria provided below applies to RW-TURP folders only.
- System should automatically insert TURP Metered Parking Spaces Fee (50321) when attempt 'Approved' is made in TURP Review Process or 'Extension Granted' at

[2022-03-08 22:06] TracyLinder commented on #8674
Hi @vschandramouli - I just assigned this to you for scoping.

[2022-03-08 22:57] atdservicebot opened #8675 "[Enhancement] Annual Signal Retiming Work Plan Management"
Data Tracker

I would like to add this table to Data Tracker and have the assigned engineer fields and the start date in-line editable and for the ones that could autopopulate to do so based on info already in the Data Tracker, such as Corridors (don't worry about limits for now), signals count and PHB count.  We need one table per year that we would build on over time.

I want to have this amazin

[2022-03-08 23:01] dianamartin commented on #7421
I just added a button 3/8 on the AMD Data Tracker Home Page

Add to AMD Data Tracker

[Signal Re-timing Systems](https://atd.knack.com/amd#systems-retiming/)
- Remove "Isolated" from "Corridor Name" field
- Grouped Corridor (New line to Comma Separated)

Status: Change from
- PLANNED - Set as default
- READY FOR DATA COLLECTION - Removed this
- WAITING FOR EVALUATION
- COMPLETED - Renaming TIMING

[2022-03-08 23:26] dianamartin commented on #8585
Messaged stakeholder 3/8

[2022-03-08 23:33] dianamartin commented on #8150
I put in ServiceNow ticket 3/8

• "Signs and markings Test – New launcher" with launcher (the same apps that exist on the profile but be in Admin Mode all the time)
• "Signs and markings Test" without launcher (a super non-locked down version and a version but the same apps that exist on the profile would be downloaded to it)

[2022-03-08 23:35] dianamartin commented on #7822
The meeting series expired. I re-created the meeting series so that I can control if I need to move meeting dates and things since I heard that Renee may not be able to manage the meetings after June.

[2022-03-08 23:40] TracyLinder commented on #8319
## Tracy's PROD UAT
- We're told the rollbacks have all been re-promoted. We need to UAT in PROD again.

### RW - TURP - PVT
_2022-032194 RW_

1. User submits portal application
2. System:
    - Inserted & created bill: TURP Permit Fee - New ($320.00), ATD Tech Surcharge ROW ($12.80)
    - tbd

### RW - TURP - COS & Secondary
_2022-032198 RW_

1. User submits portal application
2. System:
    - tb

[2022-03-08 23:44] SubhaShroff commented on #7829
@Nadin-Nader  @TracyLinder  This ticket is tested on TEST and ready for UAT.

[2022-03-09 13:44] patrickm02L commented on #8639
Discussion from 3/3/22 Sprint Review about the [breadth of Movement and Direction changes](https://web.microsoftstream.com/video/6801feef-e34f-4f5d-985a-02947950b2cb?st=2592) that need to be changed back to Xavier's QA/QC. He's identified hundreds going back to January 1, 2017 that were reverted to their original state with CRIS23 updates.

[2022-03-09 15:33] dianamartin commented on #8228
I followed up on 3/8

She replied 3/8

[2022-03-09 15:33] #8228 closed

[2022-03-09 15:54] dianamartin commented on #8603
# Documentation Overview
## Street Banner Staff

## Customer
### How to Submit an Application
#### LPB Banner Locations v. OTS Banner locations
- call out the minor difference
### Receiving Email for Customer Action

[2022-03-09 16:29] patrickm02L commented on #8639
@chiaberry and I met with @xavierapostal on 3/9/22.

We looked at a PowerBI dashboard he created which showed 417 records that may have been reverted back to before they were QA/QC-ed.

**Filters**
- is not Level 5
- unit_1_dir is not, EAST, NORTH, SOUTH, or WEST
- unit_1_mov is UNKNOWN

He updated a few records on the call which he saved and refreshed to show they saved, but when he went back lat

[2022-03-09 16:32] #8411 closed

[2022-03-09 16:52] Sreelatha-BlazeKannan commented on #8233
@Nadin-Nader , @TracyLinder - Tested in TEST environment and working as expected.

[2022-03-09 16:53] chiaberry commented on #8532
This bug had a few parts. Some where addressed in the PR linked above, #603. Another part had to be addressed by updating the pointer in the prod database, in order to prevent a key value uniqueness violation. Thanks to @frankhereford for identifying and executing the command to do so.

[2022-03-09 16:58] ChrispinP commented on #8120
Old TIA Application has been removed. No followup issues, ready to close.

[2022-03-09 17:04] Sreelatha-BlazeKannan commented on #8233
@Nadin-Nader , @TracyLinder - PROD DP Submitted. please approve and create task id for me.
Commit ID: 3f0519d25587

[2022-03-09 19:21] Nadin-Nader commented on #8590
@Sreelatha-BlazeKannan @TracyLinder This was sent to the DevOps CM Team to be deployed to **_PROD_** under **SCTASK0205210**

[2022-03-09 19:24] Nadin-Nader commented on #8590
**Status:**

This fix will work for the Yes error and once it is on PROD we should be good.
UAT testing on TEST found that there may be a couple of little bugs with this. Card was created for it #8671

[2022-03-09 19:37] vschandramouli commented on #6254
Scoping meeting scheduled with Paloma for 3/10/2022

[2022-03-09 21:43] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - Submitted DEV DP, however not able to test BILLED n REMINDER attempts in localhost as it triggers email. Upon DEV Promotion this can be tested. Please approve and create task id for me.
Commit ID: [d896d8858596](http://coaamandadevops01.austintexas.gov/R3:d896d8858596d837ce2f50f25d9be85c770e5750)

[2022-03-09 21:44] atdservicebot opened #8676 "Add "Switch IP" field to Camera Maintenance Priority List so we can easily verify comm while verifyi..."
Data Tracker

Add "Switch IP" field to Camera Maintenance Priority List so we can easily verify comm while verifying camera operations.
https://atd.knack.com/amd#cameras-maintenance/

Add "Switch IP" field to Camera Maintenance Priority List so we can easily verify comm while verifying camera operations.
https://atd.knack.com/amd#cameras-maintenance/

have to look at separate lists and it just tak

[2022-03-09 22:04] andrewshensky opened #8677 "Publish Sign Data From Maint to AGOL"

[2022-03-09 22:04] andrewshensky commented on #8677
This data has been published and is available through url below:
https://austin.maps.arcgis.com/home/item.html?id=121f5fc528bd4fa3b58761738b340417

[2022-03-09 22:04] #8677 closed

[2022-03-09 22:08] andrewshensky opened #8678 "RAS Data Collection Meeting"

[2022-03-09 22:08] andrewshensky commented on #8678
Christina following up with RAS regarding Poles

Add field in location to tract location status

Christina likes idea of adding QC fields to Sign dataset and adding attribute rules to ease process

Christina to submit request to pull attachments from knack into AGOL so tech can see install images for verification

[2022-03-09 22:08] #8678 closed

[2022-03-09 22:09] atdservicebot opened #8679 "[URGENT] Unable to pay fees on portal for Rejected or Closed ROW Permits (On PROD🎉🎉)"
AMANDA

Customers must be able to pay fees on permits, EVEN WHEN those permits are in a "Rejected" or "Closed" status.  (This was possible at one point in time but apparently is not right now.)  This is resulting in uncollected revenue.

This will quickly become a major issue.

Internet Browser: Chrome

Paloma A.

Request ID: DTS22-103605

[2022-03-09 22:46] TracyLinder commented on #8590
### UAT (For the 'YES' error)

- I did many extensions on multiple types of EX and did not encounter this error. 🎉

[2022-03-09 22:55] TracyLinder commented on #8679
I asked P-lo which folders we need to focus on.

[2022-03-09 23:11] TracyLinder commented on #8319
The EX Folder constantly updated AUP from Yes to No in many of my tests.

[2022-03-09 23:13] TracyLinder commented on #8319
Can we do a bulk folder re-default on TURP & EX?

[2022-03-09 23:26] TracyLinder commented on #8319
### Izzy's Extension Granted UAT
_12710246_

- She re-defaulted the folder, and that resolved the 'YES' error.
- ✅ This was COS, the system correctly inserted, billed & paid the fee
- ✅ System updated the folder infos Extension start & end dates
- ❌ System did not update folder expiration date

[2022-03-09 23:32] TracyLinder commented on #8590
Folders need to be re-defaulted for the YES error to resolve. Can we do a batch re-default of EX folders? (Should we think about TURP too?)

[2022-03-10 14:43] Lpriya-LIT commented on #8232
![image.png](https://images.zenhubusercontent.com/611eac1954217f265acc0499/62dc6168-a28d-4464-9b53-06999e921c4b)

[2022-03-10 14:46] Lpriya-LIT commented on #8232
Commit has been done , will update once it is promoted.

[2022-03-10 14:54] atdservicebot opened #8680 "Additional promo codes needed"
Data Tracker

I'd like to submit a bulk of new promo codes to be added in the Bike Share Benefit Knack application. I am running low and have requested a new batch from Bike Share of Austin.

Urgently — Today or tomorrow

I shared about the employee MetroBike membership benefit in the City News (city-wide) e-newsletter and am running out of promo codes to assign in a timely manner. This new bulk w

[2022-03-10 15:12] frankhereford commented on #8467
This needs to include adding a prefect agent and a PG database for holding flow state if needed.

[2022-03-10 15:42] jaime-mckeown commented on #8669
@andrewshensky I don't think so as the markings data sequence did not have multiple versions. Have you figured this out yet, or do I need to look into this?

[2022-03-10 15:58] #8527 closed

[2022-03-10 16:13] andrewshensky commented on #8669
@jaime-mckeown if you could look at it that would be great. I did look at the attribute rule for that layer and it appeared to be correct.

[2022-03-10 16:13] chiaberry commented on #8289
Follow-redirects is a dependency of axios, which used to have its own security alert (https://github.com/cityofaustin/atd-moped/security/dependabot/36) but is no longer vulnerable.

[2022-03-10 16:19] chiaberry commented on #8620
https://mui.com/guides/migration-v4/
Per the MUI migration guide, we also need to upgrade our react-scripts package to the latest version. We are on version 3.4.1 and the latest version is 5.0.0

I learned about this command `npm-outdated` (https://docs.npmjs.com/cli/v7/commands/npm-outdated) that will go through direct dependences and let us know what the latest version is.

[2022-03-10 16:23] andrewshensky commented on #8660
- User was unable to access map through collector due to there no longer being editable layers in the map.
- Recommended that user should use Explorer for ArcGIS to use map on tablet
- User has Explorer for ArcGIS installed but not accessible or present on home screen of device.
- Currently working with Diana to help resolve this issue

[2022-03-10 16:24] andrewshensky commented on #8636
These updates have been made to the web app and confirmed by the requestor.

[2022-03-10 16:24] #8636 closed

[2022-03-10 16:27] chiaberry commented on #8620
If and when we upgrade to MUI v5, we have to then change our material-table package to `npm install @material-table/core@next`. material-table hasn't been updated to reflect the changes in mui v5, so I'm feeling like its going to be broken in different ways.

[2022-03-10 16:32] andrewshensky commented on #8568
A PHOTO_URL field was added to the sign asset data in MAINT. Once final pilot data is received, workflow and model can be updated to include population of this field

[2022-03-10 16:34] andrewshensky commented on #8540
Through discussion with Alan, the city code speed limit dataset should provide the most reliable data for TED to determine speed limit changes that occured prior to ordinance.

[2022-03-10 16:35] #8540 closed

[2022-03-10 16:50] dianamartin commented on #8601
**Applicant View**
Edit Form for Applicant Info on Review page
New Details section for PII to hide in other status than "Not Submitted"

[2022-03-10 16:57] #8650 closed

[2022-03-10 17:01] andrewshensky opened #8681 "Updates to Speed Limit Change Web App to Track Changes Made Prior to Ordinance"
- [x] Add city code speed limit dataset to map

- [x] Add/Repurpose field to track segments changed prior to ordinace

- [x] Update reporting filters in Dashboard

- [x] Review changes and make refinements with TED

[2022-03-10 17:17] #8649 closed

[2022-03-10 17:45] #8544 closed

[2022-03-10 17:46] alan-deanda commented on #8544
English apps were published on Tuesday 03/01/2022.
Spanish apps were published on Tuesday 03/08/2022

[2022-03-10 17:57] Sreelatha-BlazeKannan commented on #6032
@Nadin-Nader , @TracyLinder - Analysis and Development is in Progress.

[2022-03-10 18:02] alan-deanda opened #8682 "ASMP STN feature"
Now that the ASMP round 2 of outreach is published, our attention turns to generating the next version of the ASMP Street Transportation Network (STN).

Per request from City Council, Single Member District and Zip Codes need to be added to each segment.

Currently creating an attribute rule that can calculate these fields that accounts for when a street segment is on the boundary of two areas or

[2022-03-10 18:05] alan-deanda opened #8683 "ASMP Amendment outreach round 2 support"
This issue tracks ongoing requests for the public outreach material for round 2 of the ASMP Amendment process.

[2022-03-10 18:14] patrickm02L commented on #8222
Shutting down MDS, no longer an Issue.

[2022-03-10 18:14] #8222 closed

[2022-03-10 18:55] Nadin-Nader commented on #8590
Per Isabel and all the UATers, the yes error has been resolved by re-defaulting the EX folder Closing this card and working on the rest of the EX errors on card #8671

[2022-03-10 18:55] #8590 closed

[2022-03-10 18:57] Nadin-Nader opened #8684 "Create New Batch Job to Re-Default EX and TURP Folders (On PROD🎉🎉)"
A new Batch Job needs to be created in order to Re-Default EX and TURP Folders. This will ensure that any changes, additions, deletions, updates will get populated to the EX and TURP folders

[2022-03-10 19:21] frankhereford commented on #8558
I spoke with @tillyw today via a slack huddle, and she gave me some notes:

Looking at SignalProjectTable for inspiration:
* There is logic in SignalProjectTable.js that builds the date to pass on down into Material Table.
* It inspects if there are moped_proj_phases, then grab the date of the first one that is of type `construction`. `is_current_phase` is an indicator as well.
  * There should on

[2022-03-10 19:22] patrickm02L opened #8685 "Change the Urgent option on the SR form to reflect emergency status"
We need to change the `Urgent - today or tomorrow` option on the SR form because staff are opting into it as their primary choice when they don't realize that it is an all hands on deck type issue for us to make the fix.

https://atd.knack.com/dts#new-service-request/

Change the form to reflect this language:

**How soon do you need this?**
- Urgently — Critical that this is addressed today
- Soo

[2022-03-10 19:24] johnclary commented on #8685
@dianamartin when you rename this select option , you will need to double-check [this conditional record rule](https://builder.knack.com/atd/dts/schema/list/objects/object_24/fields/field_404/rules/conditional):

[2022-03-10 19:30] SubhaShroff commented on #7912
@Nadin-Nader  @TracyLinder  @vschandramouli
I have sent a demo for this ticket in email. Please review.

[2022-03-10 19:38] dianamartin opened #8686 "[Open Data] Open Data Portal Refresh - Pilot Kickoff"
Charles P./ Brad M.
CTM

Asking for pilot group of departments to participate in effort to do a data

3/4

Thanks again for attending our meeting yesterday about Open Data Refresh.  Today,  I've included the "How To Guide" that was covered in the meeting.  It's labeled DRAFT, but still covers all the steps demonstrated in Wednesday's meeting.  The link to the Open Data Inventory Tool is included i

[2022-03-10 19:38] Nadin-Nader commented on #8233
@Sreelatha-BlazeKannan @TracyLinder this has been sent to the DevOps CM Team to be deployed to **_PROD_** under **SCTASK0205380**

[2022-03-10 19:42] SubhaShroff commented on #8313
@Nadin-Nader  SCTASK0205381 is submitted for TEST deployment of this ticket.

[2022-03-10 19:44] Nadin-Nader commented on #8232
@Lpriya-LIT @TracyLinder this has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0205383**

[2022-03-10 19:45] atdservicebot opened #8687 "[AMANDA] Fee cleanup: removing and renaming fee (SR) (On PROD)"
### Fee cleanup: removing and renaming fees.

@vschandramouli please link to the fee document here.

----

**Acceptance Criteria**

- The Insert and Run Procedure fee names AND Fee Description of fees need to be updated for RW, DS, EX, LC, UC and GF folders.
- There are also some fee items in the Insert and Run Procedure that need to be removed from the list.
- The Insert button Fee descriptions d

[2022-03-10 19:47] #8685 closed

[2022-03-10 19:47] amenity commented on #8676
This is complicated since there's not currently a relationship that supports this query.

However, it may make sense to rework the data structure so that cameras are associated to a **cabinet** in addition to a location.
- [ ] DTS create an association between the camera and cabinet
- [ ] DTS add column for cabinet switch IP address in the [Camera Maintenance Priority List](https://atd.knack.com/a

[2022-03-10 19:56] johnclary commented on #4602
We've decided to use Citybase for Knack payments. Closing.

[2022-03-10 19:56] #4602 closed

[2022-03-10 20:01] atdservicebot opened #8688 "Not able to log into Knack Finance & Purchasing for a Purchase Order."
Finance & Purchasing

Not able to log into Knack Finance & Purchasing for a Purchase Order.

Urgently — Today or tomorrow

Need to close out my monthly ProCard cycle.

Lisette P.

Request ID: DTS22-103620

[2022-03-10 20:07] Nadin-Nader commented on #7672
@Lpriya-LIT Paloma's response:

[2022-03-10 20:28] jaime-mckeown opened #8689 "Command Center Large Format Print Maps"

[2022-03-10 20:28] dianamartin commented on #8688
Messaged Lisette

![image](https://user-images.githubusercontent.com/21112975/157748836-637d1b9e-f102-451b-8587-0945f8366eb8.png)

User replied

I said

she replied

[2022-03-10 20:28] #8688 closed

[2022-03-10 20:30] jaime-mckeown commented on #8689
- Had to import Mxds from 2020, the imports were causing lot of issues, had to start clean with a new Project
- the public parking layer was out of date, needed to update using the most current layer in AGOL
- recreated both maps, printed, and delivered to Maria

[2022-03-10 20:30] #8689 closed

[2022-03-10 20:32] jaime-mckeown opened #8690 "Incident Information"
Maria is going to create a Microsoft Form for ATD field crews to use to keep track of incidents. She needed the table schema and domains to use in creating the form.

[2022-03-10 20:32] jaime-mckeown commented on #8690
- Sent her spreadsheet of table export
- Created new spreadsheet of the domains for the fields and sent.

[2022-03-10 20:33] dianamartin opened #8691 "Feature: Auto page refresh when button is clicked"
When a user is filling out an application, they get to a page that asks "Do you have a Banner Design ready?"
![image](https://user-images.githubusercontent.com/21112975/157749456-2db2a44e-2ed6-4e04-9be2-06ce89711e53.png)

- If No, you will be taken to the Add Banner Location page - this is a URL redirect to another page
- If Yes, you will be prompted to Add a Design Attachment - this is a trigger

[2022-03-10 20:53] TracyLinder commented on #7689
### 3/10 Project Meeting

**Offset Corrections:**
- There are user stories around the need to correct an approved offset agreement.
- TDS staff may need to pad the agreement with template language about corrections.
- Perhaps add new attempt 'Correct to Final Agreement'

**User Story:** It would be nice if the SIF folder could tell us if the parent SP/C8 has expired.
**User story:** Possibly a new

[2022-03-10 21:01] jaime-mckeown commented on #8669
- connected at ATD Admin, can edit just fine
- gave my regular user edit rights so I can test as an editor, can't create a new record for specialty point, but can for specialty line and short line. That makes no sense since they all use the same sequence.
- Found the problem, the expression was changed, "ATD_ADMIN." was removed from the sequence name. Only ATD Admin can edit without the fully qual

[2022-03-10 21:02] Nadin-Nader commented on #8671
The dates issue may be resolved with #8233
Spoke to Paloma and she is willing to wait til tomorrow to test it again since 8233 may fix the date issue

Reassessing after 8233 is deployed to PROD

[2022-03-10 21:07] jaime-mckeown commented on #8577
Never got any feedback, the basic map must have been all they needed this year.

[2022-03-10 21:07] #8577 closed

[2022-03-10 21:08] jaime-mckeown commented on #8433
- We didn't add attachments to the temporary permits layer this year as OSE said they did not need them.
- I will still try and find any documentation for how we did this in 2020.

[2022-03-10 21:28] dianamartin commented on #8197
# Updates
## Add Form
- [x] Added a filter to remove PPE items that had `0` quantity
![image](https://user-images.githubusercontent.com/21112975/157757663-ef33b357-fc27-4376-8c2b-fd3f923db3b2.png)
- [x] Also added language to let users know that things may not be on the list if there are no on hand quantities

## Edit Form
- [x] Made `PPE Item` editable, unchecked "Read Only"
![image](https://user

[2022-03-10 21:32] dianamartin commented on #8197
Email user 3/10

[2022-03-10 21:33] Nadin-Nader commented on #8679
Folders:

RW, EX, DS, UC, PSM

[2022-03-10 21:40] Nadin-Nader commented on #8671
❌❌❌ System did not insert a folder expiration date when folder was issued. AUP = YES, the system issued the folder after payment was made. ❌❌❌

❌ Extension Granted: System did not insert the process comment into the folder description.

Everything else passed UAT. AUP was Yes, System updated the folder expiration when the payment was made.
❌ Manual Extension:

System did not update folder infos w/

[2022-03-10 21:41] Nadin-Nader commented on #8671
EX - Franchise
_2022-032970 EX _

❌❌❌ System did not insert a folder expiration date when folder was issued. AUP = YES, the system issued the folder after payment was made. ❌❌❌

❌ Extension Granted:

System did not update the folder status from Expired to active.
System did not update folder expiration date.

[2022-03-10 21:41] Nadin-Nader commented on #8671
❌❌ The EX Folder constantly updated AUP from Yes to No in many of my tests.

[2022-03-10 21:42] Nadin-Nader commented on #8671
Izzy's Extension Granted UAT
12710246

She re-defaulted the folder, and that resolved the 'YES' error.
✅ This was COS, the system correctly inserted, billed & paid the fee
✅ System updated the folder infos Extension start & end dates
❌ System did not update folder expiration date

[2022-03-10 21:44] Nadin-Nader commented on #8671
From #8319
## **Test Notes - EX COS & Secondary**
System:
❌ updates folder status to Active - (this should not have happened because AUP is No)
❌ Updates folder expiry to 3/15 (process info end date?) (same as above, AUP is No)
✅ Updated folder infos (estimated start date, estimated end date) w/ the process info dates.
❌ Did not insert extension fees (or any fee) -- system should have inserted and

[2022-03-10 21:45] mateoclarke opened #8692 "Prefect - Update agent labels"
- production
- test
- user_local

Update `atd-data-02` or wait til we have `atd-data-03`?

[2022-03-10 21:53] joelmeyer21 commented on #8388
Please double check Pearce Lane in SE Austin. We have polygons here that I believe actually fall outside the Full Purpose Jurisdiction.

[2022-03-10 21:59] dianamartin commented on #8680
Reviewed the .csv file
- [x] Renamed field "Code" to "Promo_Code"
- [x] Imported 100 records
- [x] Batch updated records bc Type was missing

Email stakeholder

[2022-03-10 22:12] Nadin-Nader commented on #7911
This has been delivered on PROD and new changes are going on #7912. Closing this card

[2022-03-10 22:12] #7911 closed

[2022-03-10 22:17] Nadin-Nader commented on #8232
@Lpriya-LIT this has been moved to DEV Please UAT so we can move to TEST.

[2022-03-10 22:25] TracyLinder commented on #8687
Hi Paloma,

Just a quick note to let you know we received your request. I also want to let you know that great minds think alike; I created a ticket for this in May 2021. My thinking was we'd get through the FY22 changes and then clean up the menus.

I'm going to close this issue as a duplicate (but make note of it on the existing ticket; #6254

Tracy Linder, Product Manager

[2022-03-10 22:25] atdservicebot opened #8693 "BUG - [AMANDA] Folder In Date Rule w/ Internet Pending Status (On PROD🎉🎉)"
AMANDA

Peter M.
Hi all, 2022 024861 000 00 EX was in Application Incomplete since 02/22/22. Yesterday it went into Internet Pending and now it's showing an "In Date" of 02/22/22. 

Last year, we corrected the system so that the "In Date" reflected the date that the Applicant *actually* submitted the request (as opposed to the date that they began the application).

At some point within the past c

[2022-03-10 22:27] TracyLinder commented on #6254
### Update

Paloma created a DTS request for this - #8687. I closed it because it's a duplicate of this issue. Here's what Paloma put in the service request form:

AMANDA

Cleanup "Insert and run procedure" menu on RW, DS, and EX folders - part two.  Presently working to remove unnecessary fees.  As a next step would like to *ADD* fees which should be in the "Insert and run procedure" menu (that a

[2022-03-10 22:27] #8680 closed

[2022-03-10 22:28] jaime-mckeown commented on #8669
Susanne tested, works again.

[2022-03-10 22:28] #8669 closed

[2022-03-10 22:29] #8657 closed

[2022-03-10 22:29] #8658 closed

[2022-03-10 22:30] jaime-mckeown commented on #8453
Colleen updated the last 2 layers that ATSD were talking about merging.

[2022-03-10 22:30] #8453 closed

[2022-03-10 22:34] Nadin-Nader commented on #8034
Approved for PROD but they wont be able to test it as they have to wait for someone to Pay with a check.

[2022-03-10 22:34] #8541 closed

[2022-03-10 22:37] #8542 closed

[2022-03-10 22:39] jaime-mckeown commented on #8409
- SXSW never provided any information for the API feed. It doesn't seem to be important this year as the event is so much smaller.
- Created a temporary permits feature layer based on all the permits for #SXSW and #SF for use by OSE and any other internal teams.

[2022-03-10 22:40] #8409 closed

[2022-03-10 23:00] SubhaShroff commented on #8034
@Nadin-Nader SCTASK0205435 is submitted for PROD deployment.

[2022-03-11 14:04] andrewshensky commented on #8669
That's a strange one. Thanks for getting to the bottom of this

[2022-03-11 14:49] #8628 closed

[2022-03-11 14:55] atdservicebot opened #8694 "[Vision Zero] Bug: The "Download CR3 PDF" button is not working for this crash."
Vision Zero (Editor)

The "Download CR3 PDF" button is not working for this crash.

https://visionzero.austin.gov/editor/#/crashes/15611895

Xavier A.

Request ID: DTS22-103630

[2022-03-11 16:27] #8690 closed

[2022-03-11 16:30] jaime-mckeown commented on #8433
I think I found Sergio's script:
G:\ATD\ATD_GIS\Office_of_Special_Events\SXSW\SXSW_Data_App_Configurations\SCRIPTING

[2022-03-11 16:44] johnclary opened #8695 "Publish web IOs from Data Tracker to AGOL"

[2022-03-11 16:45] johnclary commented on #8695
@dianamartin can you add some details about how the WebIOs are stored in Data Tracker?

[2022-03-11 16:45] alan-deanda commented on #4346
Closing this issue, as Andrew has taken over this process and maintenance is ongoing.

[2022-03-11 16:45] #4346 closed

[2022-03-11 16:45] johnclary commented on #8147
If additional folks need access, Charles will need to let us know. They need to create accounts.

[2022-03-11 16:45] #8147 closed

[2022-03-11 16:46] #4347 closed

[2022-03-11 16:46] alan-deanda commented on #4348
This has been done in a separate issue.

[2022-03-11 16:46] #4348 closed

[2022-03-11 16:47] frankhereford commented on #8694
This crash has had its CR3 file downloaded and stored in S3 which resolves this issue. There are a number of other crashes which encountered some sort of error while downloading CR3s, and I am in the process of cleaning those up and getting valid PDFs, but that is outside the scope of this issue. I believe this stems from CRIS sessions expiring while we were doing the big chunks of CR3s when they

[2022-03-11 16:47] #8694 closed

[2022-03-11 16:47] alan-deanda commented on #1928
A new issue is tracking this now.

[2022-03-11 16:47] #1928 closed

[2022-03-11 16:49] alan-deanda commented on #2000
It is not 2020 anymore.

[2022-03-11 16:49] #2000 closed

[2022-03-11 16:55] johnclary commented on #8407
Next steps:
- Remove the fields from GISMAINT dataset
- CTM service desk request from SPOC to GIS Data Development team to remove fields from DATAMART layer
- Will go through DATAMART change management process

[2022-03-11 16:57] johnclary commented on #8433
@jaime-mckeown would you slack me a copy this script?

[2022-03-11 16:58] #8433 closed

[2022-03-11 17:10] #582 closed

[2022-03-11 17:10] #580 closed

[2022-03-11 17:10] #581 closed

[2022-03-11 17:10] #579 closed

[2022-03-11 17:27] johnclary opened #8696 "Develop attribute rule for associating CTN segments with council districts"
For reference, see [these docs](https://app.gitbook.com/o/-LzDQOVGhTudbKRDGpUA/s/-M3vG5OVht6_BV2LYSXk/signs-markings-banners/markings-gis-maintenance/attribute-rules#segment-id).

Also, [this issue](https://github.com/cityofaustin/atd-data-tech/issues/8682).

[2022-03-11 17:30] johnclary opened #8697 "Get copy of ArcGIS tool that automates traffic regulation creation"

[2022-03-11 17:34] #8502 closed

[2022-03-11 17:38] johnclary opened #8698 "Publish AMD Work Orders to AGOL"
In order to complete #8221 - publish AMD Work Orders to AGOL.

We already have a [public dataset](https://data.austintexas.gov/Transportation-and-Mobility/Traffic-Signal-Work-Orders/hst3-hxcz).

Todo:
- Create AGOL feature services (@alan-deanda)
- Configure ETL scripts (`dev` team)
- Create webmap for AMD staff (@alan-deanda)

[2022-03-11 17:40] jaime-mckeown commented on #7818
Web Map:
https://austin.maps.arcgis.com/home/item.html?id=d42b0ae4802e428e8a3c9d2783b2cb84
Feature Layer:
https://austin.maps.arcgis.com/home/item.html?id=4e1f8bc4003b48a69d60ff3819c2980f

[2022-03-11 17:42] TracyLinder commented on #8693
@Nadin-Nader this looks to be a bug related to #1726, which was promoted to PROD in May 2021. I'll put this on deck.

[2022-03-11 17:43] johnclary commented on #8698
@alan-deanda:
- add an `id` column to the feature service
-  double-check that all the field names in the feature service you create, then let us know when you're ready for us to connect the ETL.

[2022-03-11 17:48] johnclary commented on #8156
Todo:
- Process this month's updates
- Re-share the comfort level verification web-app to capture ATSD edits

[2022-03-11 17:54] #8195 closed

[2022-03-11 17:55] johnclary opened #8699 "Capture colored bike racks as a bike rack type (rather than an additional attribute)"
- Update rack schema
- Re-create symbology
- May need to take extract of layer, make all changes, then overwrite existing layer.

[2022-03-11 17:56] johnclary commented on #8699
@alan-deanda may ask you to take this one on. cc @andrewshensky. hoping to have this done by May 1.

[2022-03-11 18:04] #8673 closed

[2022-03-11 18:04] johnclary commented on #8673
[Layer is here](https://austin.maps.arcgis.com/home/item.html?id=121f5fc528bd4fa3b58761738b340417).

[2022-03-11 18:07] Nadin-Nader commented on #7912
@TracyLinder  @SubhaShroff Demo looks good to go to **DEV**

[2022-03-11 18:11] Nadin-Nader commented on #5909
@vschandramouli I asked Tracy your question, im just waiting on a response.

[2022-03-11 18:13] dianamartin commented on #8695
@johnclary I had taken the Web I/O data from ArcGIS online and imported them to a table in Data Tracker to reference the school zone beacons. They are their own object table, currently not being updated, but I think that we'll eventually want to. I know that AMD technicians want to see the Web I/Os on a map as a reference so not sure if we want to keep the data source in Data Tracker or manage it

[2022-03-11 18:25] Nadin-Nader commented on #8313
@SubhaShroff  this has been deployed to TEST. Please UAT and make ready for 2pm meeting

[2022-03-11 18:26] Nadin-Nader commented on #8233
@Sreelatha-BlazeKannan @TracyLinder This has been deployed to PROD

[2022-03-11 18:41] Nadin-Nader commented on #5909
@vschandramouli Tracy response is below:

[2022-03-11 19:22] vschandramouli commented on #5909
@TracyLinder @Nadin-Nader

Select foldertype from defaultinfo where infocode= 9999

This query should give us all the folders an info is used on, per @SubhaShroff

[2022-03-11 20:14] TracyLinder commented on #7991
## Tracy's PROD UAT 3/11 @ 2pm

### COS
_2022-034458 EX TRACY - UAT: Manual Extension_

### PVT
_2022-034462 EX_

[2022-03-11 21:30] atdservicebot opened #8700 "The Field Diagram is not loading."
Vision Zero (Editor)

The Field Diagram is not loading.

https://visionzero.austin.gov/editor/#/crashes/15577521
https://visionzero.austin.gov/editor/#/crashes/15598030
https://visionzero.austin.gov/editor/#/crashes/15576775
https://visionzero.austin.gov/editor/#/crashes/15588717
https://visionzero.austin.gov/editor/#/crashes/15582090
https://visionzero.austin.gov/editor/#/crashes/15597954
https:/

[2022-03-11 21:39] TracyLinder commented on #8233
### PROD UAT PASSED 🎉
_I'm closing this issue._

[2022-03-11 21:39] #8233 closed

[2022-03-11 21:39] #7991 closed

[2022-03-11 21:44] TracyLinder opened #8701 "Bug: EX Activate Upon Payment Extension Bug"
On the EX folder, when a payment is made and triggers AUP, the system is not inserting a new folder expiration date

[2022-03-11 21:49] TracyLinder commented on #7631
### PROD UAT

- I tested this today and it worked great. The only problem is with the folder expiration date does not populate, but we will fix that on another issue (not sure which one, maybe #8671.

@Nadin-Nader can we close this?

[2022-03-11 21:51] SubhaShroff commented on #8313
@Nadin-Nader I tested it on TEST and the amounts are correct as given in the excel.

[2022-03-11 21:56] TracyLinder commented on #8319
## Current Issues Friday 3-11 / 4pm

### EX Folder

- Franchise Utility WorkTypes needs to be "Yes" on AUP in order for it to update, Currently it is set to "NO"
    - #8671
- The printed permit is populating the wrong expiration date.
    - #8671
- The extension comment is not inserting in the folder description in certain situations.
    - #8671
- Issue with folder expiration date not inserting

[2022-03-11 21:59] #8055 closed

[2022-03-11 22:10] andrewshensky opened #8702 "Update Sign Data from Work Orders with New Workflow"

[2022-03-11 22:12] andrewshensky commented on #8702
**Features Mapped in Maint**
Signs: 1799 -> 1898
Locations: 766 -> 818
**Sign Features Needing QC**
Installs: 625 -> 690
Removals: 402 -> 445
Outliers: 186 -> 193

[2022-03-11 22:12] #8702 closed

[2022-03-11 22:16] Sreelatha-BlazeKannan commented on #8671
@Nadin-Nader , @TracyLinder -  DEV DP submitted. Kindly approve and create task id for me.

This commit will resolve the below Issues in EX Folder for PVT, Project Connect & Franchise subtypes

**EX-PVT & EX-Franchise**

❌❌❌ System did not insert a folder expiration date when folder was issued. AUP = YES, the system issued the folder after payment was made. ❌❌❌

Commit ID:
[230d3ad79bf0](http://co

[2022-03-11 22:20] TracyLinder commented on #8319
<body link="#0563C1" vlink="#954F72">

Issue # | Impact | Folder Type | Description | Status
-- | -- | -- | -- | --
8701 | Urgent | EX | Issue with folder expiration date not inserting in certain situations. | We're sending a patch through DevOps. If all goes well it will be fixed in PROD by Thu/Fri of next week.
8671 | Urgent | EX | The printed permit is populating The wrong expiration date. | We

[2022-03-11 22:24] atdservicebot opened #8703 "[AMANDA] Project Connect applicants not able to add attachments after submittal (Waiting for PC Application to UAT on PROD)"
**Acceptance Criteria**

- Portal must allow users to make attachments to EX folders of subtype Project Connect, even after folder has been submitted.
- There should be no restrictions based on folder status. Users should be able to make attachments of any available attachment type on Project Connect folder no matter the folder status.

AMANDA

"Project Connect" (folder subtype) applicants are *no

[2022-03-11 22:29] frankhereford commented on #8700
In response to ticket #8694, about 8K crashes are having their CR3s downloaded. They had captured the CRIS login page - an outcome we have dealt with a few times in the past. In the course of re-downloading all the CR3s after they were updated over the last few months, these are the stranglers who had a CRIS session expire while the download script was running.

Anyway, these 8K should be done her

[2022-03-11 22:55] TracyLinder commented on #8166
### PROD UAT PASSED 🎉
_I'm closing this._

[2022-03-11 22:55] #8166 closed

[2022-03-11 23:02] dianamartin commented on #8603
I think this is ready for the first [review ](https://atd-dts.gitbook.io/street-banner-portal-or-help-guides/)@moorerst @KaroEngstrom

[2022-03-11 23:17] dianamartin commented on #8224
Brian C. emailed work order red-line PDFs on 3/7
Started to review 3/11

# Remarks Screen 1
## Already On-Site? field

## Assign to Self? field

-[ ] Need to remove display rule for this
  - SELF ASSIGN is YES
  - TECHNICIAN LEAD - to logged in account
  - ASSIGNED DATE to current date

## "Work Type" field

- Based on work order designed this will open the type of ticket

## "Trouble Call Type" f

[2022-03-11 23:29] SubhaShroff commented on #7912
@Nadin-Nader SCTASK0205698 is raised for DEV deployment.

[2022-03-11 23:29] TracyLinder commented on #8319
### Testing TURP Extension Features in PROD
**🎉 Everything Worked!**

----
**COS**
_2022-034656 RW_

🎉 Everything Worked! 🎉

----
**PVT**
_2022-034659 RW_

- TURP ROW Usage fees did not insert; we're fixing on 7829
- 🎉 Everything Worked! 🎉

----
**Franchise**
_2022-034661 RW_
- 🎉 Everything Worked! 🎉

[2022-03-11 23:30] TracyLinder commented on #7785
### PROD UAT PASSED 🎉

@Nadin-Nader can this be closed?

[2022-03-11 23:36] SubhaShroff commented on #7829
UAT is done. As per Paloma feedback:
For '50313 - TURP Unmetered Parking Lane fee' The info on Property & Street information tab - 'Parking Lane : Dimensions' should be considered.
I will get work on that.

[2022-03-12 00:47] frankhereford commented on #8700
## TLDR
The crashes in this ticket have been re-OCR'd and now display the investigator narrative and crash diagram.

## Details

🗒️  [15598030](https://visionzero.austin.gov/editor/#/crashes/15598030) is in the report list twice.

The following query (or modifications to it) can be used to:
1) Verify that we can correctly identify crashes which have had a failed OCR pass for some reason
2) Define

[2022-03-12 00:47] #8700 closed

[2022-03-14 13:13] vschandramouli commented on #6254
3/10/22 - Meeting notes.

The fees mentioned below need to be removed from the folders mentioned.

RW -
License Agreement Fees
Film Fees
Investigation Fees
RW - New folder (would this break something?)
Residential Parking Decal and Hangtag

EX -
Barricade Fees
Default New EX Folder Fee
Investiagtion fees
Working without vlaid Permit fee

DS -
Barricade Fees
Default New DS Folder Fee (confirm with

[2022-03-14 14:01] Lpriya-LIT commented on #8232
@Nadin-Nader Verified in Dev , ready for Test promotion

[2022-03-14 14:50] jaime-mckeown opened #8704 "AMANDA Street Closures - 3/14"

[2022-03-14 14:50] jaime-mckeown commented on #8704
Updates complete.

[2022-03-14 14:50] #8704 closed

[2022-03-14 14:55] #7518 closed, assigned to jaime-mckeown

[2022-03-14 15:37] andrewshensky opened #8705 "Provide Street Event Data"
Extracted shapefile of street events data requested for delivery to contractor.

[2022-03-14 15:38] andrewshensky commented on #8705
I provided the requested shapefile and let the requestor know that using the service in AGOL would allow them to capture any future changes to the data.

[2022-03-14 15:38] #8705 closed

[2022-03-14 15:43] andrewshensky opened #8706 "Add Legacy Council District to Transportation Engineering Web App"
The Council District layer in the map has been updated to reflect new districts, requester would like to see old district too, as they are still needed for current work being down.

[2022-03-14 15:44] andrewshensky commented on #8706
This layer has now been added to the map

[2022-03-14 15:44] #8706 closed

[2022-03-14 17:44] SubhaShroff commented on #7829
@Nadin-Nader  SCTASK0205979 is submitted for DEV Deployment of the above mentioned fix.

[2022-03-14 18:02] Nadin-Nader commented on #6031
Thus has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0205982**

[2022-03-14 18:29] atdservicebot opened #8707 "Need to update Labor charges to include: - Technician - Indirect Overtime (Hourly Rate = $135.6..."
Signs & Markings Operations

Need to update Labor charges to include:
   - Technician - Indirect Overtime (Hourly Rate =  $135.65)
   - Technician - Direct Overtime (Hourly Rate =  $62.21)
   - Superintendent/Engineer/Division Manager – Direct Overtime: $93.57
   - Superintendent/Engineer/Division Manager – Indirect Overtime: $210.36

Would like to be able to use overtime direct and indirect rates

[2022-03-14 18:58] TracyLinder commented on #7689
### 3/14 Project Meeting

- I reduced Monday's meeting to 1 hour
- Vish won't be attending
- Not much to talk about. Looking forward to Thursday reviews w/ Priya

[2022-03-14 19:03] TracyLinder commented on #8375
@Lpriya-LIT @vschandramouli

Are we ready to promote this to DEV & Test?

[2022-03-14 19:06] johnclary opened #8708 "Traffic register check-in: 14 Mar 2022"
Attendees: John, Chrispin, Diana, Gilda, Joana, Eric.

### Misc facts
- Eric is the final co-signer on **every regulation**.  He is Rob's delegate as the "City Traffic Engineer".
- Parking enterprise has periodic meetings to review their upcoming regs and "soft" approve them.
- Joana is responsible for checking the Signs & Markings work order system for completed/installed regs, which she enters i

[2022-03-14 19:07] Lpriya-LIT commented on #8375
@TracyLinder We can promote to Dev first and test whether it works as expected and then request for Test promotion . I'm almost done , will commit the changes and update you.
we need to create 2 user groups , this is not part of DevOps. So I will create a service now ticket and assign it to Amanda Support group.
@vschandramouli

[2022-03-14 19:20] #8708 closed

[2022-03-14 19:25] moorerst commented on #8603
@dianamartin the document is very comprehensive. I haven't completed reviewing it, so far so good it looks great. I'll complete it tomorrow

[2022-03-14 19:41] atdservicebot opened #8709 "Apparent inconsistency between an inventory item screen for a work order and the information returne..."
Data Tracker

Apparent inconsistency between an inventory item screen for a work order and the information returned for that work order in the completed transactions report.

See attachment with screen images.

https://atd.knack.com/amd#inventory-reports/issued/?view_2799_filters=%7B%22match%22%3A%22and%22%2C%22rules%22%3A%5B%7B%22field%22%3A%22field_514%22%2C%22operator%22%3A%22is%22%2C%22value%2

[2022-03-14 19:48] dianamartin opened #8710 "IT Support: Remove Page Rule to remove "Vehicle Tracking" button for Sign Assigner"
Christina T.
SMB

Called me that Kenny S. couldn't see a button on the "My Work Orders Signs".

[2022-03-14 19:55] dianamartin commented on #8710
I checked the page and there was a rule that had the "User Role" is "Sign Assigners" is hides the button. I removed the rule and then Christina send the link to Kenny to test.

[2022-03-14 19:58] frankhereford opened #8711 "Add additional information about PDF CR3 files in Vision Zero Editor"
## User Story

As user of the Vision Zero Editor, I would like to know some additional information about the file stored in S3 that contains (or should contain) the CR3 PDF. It would be helpful to see if the file matches the characteristics of a CRIS Login HTML Page that was inadvertently stored when capturing those documents, or also, an indication if the ORC program determined that the PDF on fi

[2022-03-14 20:06] frankhereford opened #8712 "Execute and monitor a fresh OCR pass on ~10K Crash CR3s"
Recently, ~10K crashes have been identified as candidates to give the OCR system another pass at their CR3s to make sure we have extracted narratives and diagrams wherever possible.

Please see the "Next Steps" in the following comment on #8700: [here](https://github.com/cityofaustin/atd-data-tech/issues/8700#issuecomment-1065749324).

This ticket is to document the work of executing that OCR pass

[2022-03-14 20:09] frankhereford commented on #8700
@patrickm02L

I spoke with @mateoclarke today on slack, and he agreed that this work detailed above would be a good thing to do. I'll write a short issue to capture that work: https://github.com/cityofaustin/atd-data-tech/issues/8712

He also suggested an enhancement to the OCR program which I have written up in this issue for scoping: https://github.com/cityofaustin/atd-data-tech/issues/8711.

[2022-03-14 20:09] mateoclarke commented on #8711
This sounds good. But one comment I'd like to make is that we should probably try to fix the issue where we download and PDFify the "CRIS Login HTML Page" in the ETL process itself. I looked back for a related issue because I thought we had one in the backlog but I must've been mistaken.

[2022-03-14 20:09] patrickm02L commented on #8712
@frankhereford Thanks for documenting this!

[2022-03-14 20:13] frankhereford commented on #8711
@mateoclarke wrote:

I agree with this 100%. @patrickm02L, what would you think about expanding this issue to include that work? IIRC, we have some python code that we can reuse to quickly ID a file as being a valid PDF or an HTML page. Also, even just the file size can be used to tell them apart

[2022-03-14 20:43] Sreelatha-BlazeKannan commented on #8671
@Nadin-Nader , @TracyLinder - Please find attached #8671 DEV Commit for your reference. Kindly approve and create task id for me.

This will update 50510 Crystal report completion Date which will be updated to Folder Expiry date.

![image](https://user-images.githubusercontent.com/44907715/158257961-b1458710-77a9-46f4-84b1-dc2f3da7d005.png)

[2022-03-14 21:17] andrewshensky opened #8713 "Meeting - RAS Sign Data Collection Review"

[2022-03-14 21:19] patrickm02L commented on #8440
When adding a new component the map aerial layer and zoom moves out of place

![Screen Shot 2022-03-14 at 4.13.34 PM.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/35d883cc-af3e-45a3-9eaf-0b32bf15d798)

[2022-03-14 21:19] andrewshensky commented on #8713
- Christina demoed how we need the poles structured in the data
- QC web app was shared through the Austin_Sign_Collection group, so RAS can now directly see the comments Christina and Susanne are making to the features with issues

[2022-03-14 21:19] #8713 closed

[2022-03-14 21:20] andrewshensky opened #8714 "Process for Updating TIA Segments and Intersections"

[2022-03-14 21:24] andrewshensky commented on #8714
- TIA looking to establish process to update segments and intersection quarterly
- Discussed pros and cons of using CTN vs. CTM Street Segments
- Need to figure out how to incorporate/track FeatureID changes during updates
- May need to use CTM street segments due to dual carriage currently being used
- I will be providing CSV of CTN and CTM street segments for review

[2022-03-14 21:24] #8714 closed

[2022-03-14 21:27] dianamartin commented on #8708
I have an old workflow y'all can reference I had made when I was trying to understand the Regulations process. It should show the current process with the 3 approval levels.

[2022-03-14 21:38] dianamartin commented on #8707
@KaroEngstrom I can walk you through this at some point this sprint

[2022-03-14 21:39] dianamartin commented on #8709
@johnclary Should we peek at this before the inventory meeting tomorrow?

[2022-03-14 21:42] mateoclarke commented on #8440
After syncing with @amenity, we're going to target work on this for later this sprint, but keeping VZx the priority. This is less of a regression and more of an incomplete bug fix. Thank you @patrickm02L for the thorough testing to catch it.

[2022-03-14 21:42] dianamartin commented on #8709
Ronnie's attachment reads

[2022-03-14 21:56] Nadin-Nader commented on #6030
This has been sent to the DevOps CM Team for deployment to **_TEST_** under **SCTASK0206074**

[2022-03-14 22:08] Nadin-Nader commented on #8671
The First commit has been sent to the DevOps CM Team to Be deployed to **_DEV_** under **SCTASK0206075**

[2022-03-14 22:11] dianamartin commented on #8686
3/14 - Downloaded the list of Public and Private data sets
- Public 42 records
- Private 32 records (some are owned by the "Community", do not delete those)

[2022-03-14 22:45] Nadin-Nader commented on #8671
@Sreelatha-BlazeKannan I was able to deploy the report to DEV. Please UAT unless the Dev commit needs to go first

[2022-03-14 22:49] Nadin-Nader commented on #8313
Messaged Zach and asked him to please UAT this on TEST. Waiting on Response

[2022-03-14 23:22] Nadin-Nader commented on #8232
@Lpriya-LIT This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0206080**

[2022-03-14 23:24] Nadin-Nader commented on #7912
@SubhaShroffThis has been deployed to DEV, Please UAT and let me know the outcome

[2022-03-14 23:29] Nadin-Nader commented on #8034
@SubhaShroff this has been deployed to PROD. Jaclyn, Darren and Isaiah know but this cannot be tested until a customer tries to pay with a check.
@TracyLinder should we close it and ask then to let us know if it works when someone tries to pay with a check in the future?

[2022-03-15 13:34] andrewshensky opened #8715 "Provide February Bike Rack Install and Maintenance Data"

[2022-03-15 14:18] SubhaShroff commented on #7912
@Nadin-Nader  SCTASK0206186 is submitted for DEV deployment of commits -
"c3df7a2261fe"
"91878deb92e8"

[2022-03-15 14:31] atdservicebot opened #8716 "Need to have the DIGTESS field added to the Signs | Advanced Search and added as a field on the sear..."
Signs & Markings Operations

Need to have the DIGTESS field added to the Signs | Advanced Search and added as a field on the search table.

Would like to have the DIGTESS field added to the Signs | Advanced Search: https://atd.knack.com/signs-markings#work-order-signs/advanced-search-signs/

No work arounds are possible right now.

Need to have ASAP due to a request from Jim.

Christina T.

Reques

[2022-03-15 14:32] SubhaShroff commented on #7829
@Nadin-Nader  DEV deployment is done. I tested it in DEV for unmetered parking lane fees. It works as expected. Please let me know if I can submit TEST deployment for this.

[2022-03-15 15:07] TracyLinder commented on #8687
This turned out not to be a duplicate.

[2022-03-15 15:19] moorerst commented on #8134
Wendy is OOO this week will follow up with her next week to determine if anything else is needed from us.

[2022-03-15 15:20] moorerst commented on #7348
Wendy is OOO this week will follow up with her next week to determine if anything else is needed from us.

[2022-03-15 15:21] moorerst commented on #7101
This will be discussed during our upcoming meeting with HR on 3/29

[2022-03-15 15:23] TracyLinder commented on #5909
### Update

In V7 the system is consolidating the info groups into 1 Project Information section. This will solve this problem. I'm putting this in the icebox until we upgrade.

[2022-03-15 15:37] dianamartin commented on #8716
- [x] added the "Dig Tess #" to Search fields
- Knack seemed to have a bug that I need to report, it kept wiping out all the other fields when I tried to re-order the fields
- [x] Added "Dig Tess #" field to search results

[2022-03-15 15:43] SubhaShroff commented on #7829
@Nadin-Nader  @TracyLinder  SCTASK0206205 is submitted for TEST deployment of unmetered parking lane fees fix.

[2022-03-15 15:46] dianamartin commented on #8707
Went to `invoice_items` and updated the conditional rules

Name | Before | After
 -- | -- | -- |
Technician - Indirect Overtime | $90.43 | (Hourly Rate = $135.65)
Technician - Direct Overtime | $41.47 | (Hourly Rate = $62.21)
Superintendent/Engineer/Division Manager – Direct Overtime: | $62.38 | $93.57
Superintendent/Engineer/Division Manager – Indirect Overtime:| $140.24 |  $210.36

![image](http

[2022-03-15 15:50] Nadin-Nader commented on #8671
@Sreelatha-BlazeKannan the report and commit have both been deployed to DEV Please UAT

[2022-03-15 16:05] dianamartin commented on #8710
Followed up with Christina 3/15

User replied

[2022-03-15 16:05] #8710 closed

[2022-03-15 16:06] dianamartin commented on #8197
Follow-up with Johnny and Ray

They replied

[2022-03-15 16:10] dianamartin commented on #8629
- I submitted a PR request in the Finance and Purchasing application on 3/11
- Received email from Finance

- Went to TechSmith and paid for the software licenses
- Printed to PDF the Invoice and Purchase Request and attached to the required Google folder per John's instructions
- Sent software download link and codes to Karo and Tracy

[2022-03-15 16:10] #8629 closed, assigned to dianamartin

[2022-03-15 16:13] Nadin-Nader commented on #8232
@Lpriya-LIT this has been deployed to TEST. Please UAT and let me know if it is ready for Stakeholder UAT

[2022-03-15 16:15] Nadin-Nader commented on #6030
@Sreelatha-BlazeKannan this has been deployed to TEST. Please UAT and let me know fi it is ready for Stakeholder UAT.

[2022-03-15 16:31] dianamartin commented on #8601
@moorerst I've removed the extra fields and fixed this form. I had to do the same form for OTS.

[2022-03-15 16:43] moorerst commented on #8601
@dianamartin since you have opened a new issue for the Refresh Page message and all other items are complete can this issue be closed?

[2022-03-15 16:44] dianamartin commented on #8601
We can or we can keep it open until the stakeholders see it at the sprint review demo next week unless you're putting this into their agenda

[2022-03-15 17:04] johnclary commented on #8709
Per discussion with Ronnie—this is not a bug. There is confusion happening between the "overall" inventory request status (
"Inventory Status") and the individual "transaction status".

Ronnie asked that we rename "Inventory Status" to "Overall Inventory Status" because it is causing confusion on the finance side.

<img width="950" alt="Screen Shot 2022-03-15 at 12 02 04 PM" src="https://user-imag

[2022-03-15 18:28] atdservicebot opened #8717 "Amanda password reset"
AMANDA

I forgot my Amanda password since I change it not long ago. I apologize for the inconvenience. I promise to right it down.

Soon — This week

We have a lot a Traffic controls to review on Amanda so if possible the sooner i recover this information the better. I understand you all busy and I appreciate your time.

Judith O.

Request ID: DTS22-103660

[2022-03-15 18:28] dianamartin commented on #8709
@dianamartin should I take care of this?

[2022-03-15 18:49] dianamartin commented on #8707
- [x] I reverted the costs for Technician Direct/Indirect and Superintendent Direct/Indirect
- [ ] Add new Employee Type "Technician - Indirect Overtime"
- [ ] Renaming "Technician - Overtime Rate" to "Technician - Direct Overtime"
- [ ] Add new Employee Type "Superintendent/ Supervisor/ Engineer/ Division Manager - Indirect Overtime"
- [ ] Add new Employee Type "Superintendent/ Supervisor/ Engine

[2022-03-15 19:01] #8707 closed

[2022-03-15 19:05] #8660 closed

[2022-03-15 19:16] moorerst commented on #8604
[Slides for Banner Sprint Review](https://docs.google.com/presentation/d/1W0LX83BmTiBWoyZVxed47gX2WsSHIjOjgZl-lvABBUA/edit#slide=id.p)

[2022-03-15 19:19] moorerst commented on #8563
MMC - Lance, Allyson, Brian scheduled 3/24

[2022-03-15 19:27] amenity opened #8718 "[Bug] Data entered is lost if user submits with decimals in funding source "Amount" field"
In [moped_proj_funding](https://db-docs.austinmobility.io/atd-moped-production/tables/moped_proj_funding.html), `funding_amount` is an integer. Currently, if a user tries to submit a number with a decimal (typical in accounting) in the "Amount" field for a funding line item, they get an error and the row disappears when they hit submit.

https://user-images.githubusercontent.com/1463708/158454005-

[2022-03-15 19:39] amenity commented on #8718
@amenity - ask about this in Teams

[2022-03-15 19:55] amenity opened #8719 "Standardize field name display across Material Table instances"
On the "Funding" tab, we have
- First 5 fields: untitled (not ideal if the table is long and the column names aren't visible)
- "Dept-unit" field: [MUI text field default](https://v4.mui.com/components/text-fields/#textfield) (uses field title as placeholder text, then becomes superscript label
- "Amount" field: not sure what this is - I also just noticed the arrows to increase and decrease the va

[2022-03-15 20:48] Sreelatha-BlazeKannan commented on #8671
@Nadin-Nader , @TracyLinder - Tested the above two commits in DEV and working as Expected.

[2022-03-15 20:52] mateoclarke commented on #8639
Hey @patrickm02L, I edited your comment above to add more clarification. Hope thats ok.

[2022-03-15 20:57] SubhaShroff commented on #7912
@Nadin-Nader  I tested this ticket on DEV. Looks good, please let me know if i can move this TEST.

[2022-03-15 21:12] KaroEngstrom commented on #8603
This is great. I took these notes for later.

### CUSTOMER SIDE
Navigating the Street Banner Portal Application
- **Get Started**: add “and allows you to apply/including the online application” or similar to guide the applicant
- **About the Program** – website URL missing “t” for austin

How to Submit an Application
- language suggestion: “When you are ready to apply, click “Get Started”
- **Even

[2022-03-15 21:32] alan-deanda commented on #8698
@johnclary [here](https://austin.maps.arcgis.com/home/item.html?id=784bc0d682eb4c61b028ee28f672ea2d) is the AGOL layer for the AMD Work Orders.
I named the ID field `KNACK_ID`, and I added the `TASK_ORDERS` field as well.

[2022-03-15 21:59] atdservicebot opened #8720 "[Enhancement] Remove/Hide "Timeline notes" button"
We should hide that button since #6409 is not slated to be implemented any time soon. Since we already have #8001 going, the extra button just adds to the confusion.

Moped

Comment tabs - Internal notes and timeline buttons don't work

Internet Browser: Chrome

Ivonne N.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62310bc44e3c4f001e532357/screenshot

[2022-03-15 22:18] amenity opened #8721 "[Bug] "Status" always set to "Tentative" when new funding source is added"
New funding items are always showing "Tentative" as the status, even when user leaves it blank or chooses a value from the drop down.

https://user-images.githubusercontent.com/1463708/158481664-aa493630-bfeb-44d7-95e9-d9ca2e48cd3e.mp4

One is able to set the value upon editing the record, just not creating it.

[2022-03-15 22:38] amenity commented on #6552
![Screen Shot 2022-03-15 at 5 34 06 PM](https://user-images.githubusercontent.com/1463708/158483643-411897f5-93ec-4480-8d34-e904ce06fd8d.png)
Came across this again today and wondering if it might make sense to resolve this by hiding comments in Activity Log until the glory of #6496 @johnclary @patrickm02L

[2022-03-15 22:57] frankhereford commented on #6552
I agree those comments are really unhelpful in that form. The approach of lexing the string and removing HTML tags gets my support - that would make the readability so much better. We might also consider only showing the first 50 characters or so of a comment and truncating it with an ellipsis if needed, perhaps.

Here's something I did in the recent activity log work that might be helpful: https:

[2022-03-15 23:00] amenity commented on #8721
Verified that this is not a regression, also happening in Production.

[2022-03-16 03:47] amenity commented on #8559
Adding to #8406

[2022-03-16 03:47] #8559 closed

[2022-03-16 03:56] amenity commented on #8406
@johnclary how might we get a full list of all the codes that are in Data Tracker but missing from Moped?

[2022-03-16 04:03] amenity commented on #6552
Thanks, @frankhereford 🙏 The thing is that since we ultimately want the comments to render differently than other activity feed items, see [here](https://github.com/cityofaustin/atd-data-tech/issues/6496). So in the meantime, we can let them be accessible only from the "Comments" tab and not the "Activity" tab.

[2022-03-16 13:14] patrickm02L commented on #8639
@mateoclarke yep, definitely. Thanks for the clarity!

[2022-03-16 13:15] xavierapostol commented on #8712
I found a few more that have a narrative, but are missing a "Field Diagram" (strange). I hope this is the correct issue to add these into.
https://visionzero.austin.gov/editor/#/crashes/15570073
https://visionzero.austin.gov/editor/#/crashes/15588763
https://visionzero.austin.gov/editor/#/crashes/15575949

[2022-03-16 13:56] Lpriya-LIT commented on #8232
@Nadin-Nader Verified in Test , Works as expected.
Test folderrsn - 12866695.
Ready for Stakeholder UAT

[2022-03-16 14:04] SubhaShroff commented on #7912
@Nadin-Nader  TEST deployment request is submitted - SCTASK0206469.

[2022-03-16 14:16] andrewshensky opened #8722 "Recreate Map Notes Layer/Add New Note"
- ATSD has requested to add new point to the map notes layer.
- Original map layer is inaccessible due to error and will need to be created.

[2022-03-16 14:19] andrewshensky commented on #8722
- ATSD has requested to add new point to the map notes layer.
- Original map layer is inaccessible due to error and will need to be created.

[2022-03-16 14:23] dianamartin commented on #8150
Danny messaged me 3/15

Thank you for the reminder
I am hoping to have it ready by some time tomorrow, if distractions do not happen

I said

he replied

that said, I do want to have a conversation on exactly what is needed to make sure everything is functioning as expected.
When your ready, you can enroll a device and we can meet and test all the functions
the tether app, I believe will no longer

[2022-03-16 14:36] dianamartin commented on #8686
Realized the OpenData export was not working correctly because I kept getting a blank spreadsheet. Messaged the CTM OD team and Brad got back to me. We sync'd in the afternoon 3/15 and I walked him through my steps.

He told me that the "Department" filter he created isn't perfect that I had to create a custom filter to to be able to capture the "Austin Transportation" and "Austin Transportation D

[2022-03-16 14:42] atdservicebot opened #8723 "[IT Support] Dell cable, light out issue"
Other / Not sure

The dell laptop dock station charger cable only has one working charging cable lit up. The laptop now says "slow charger" on the battery icon.

Flexible  — An extended timeline is OK

Susanne G.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/6231f6d372953f001ed69fc2/img_2682.jpg) (550.33kb)

Request ID: DTS22-103670

[2022-03-16 15:02] dianamartin commented on #8723
Sync'd with user and said to meet up at 11am (3/16)

[2022-03-16 15:13] SubhaShroff commented on #8679
@Nadin-Nader  I raised  a request(SCTASK0206484) to do DEV and TEST deployment of the commit - "14a43e7cd3ad"

[2022-03-16 15:15] vschandramouli commented on #8687
Meeting notes 3/16 -

Paloma mentioned she would work on this fee list and share when it is ready.

[2022-03-16 15:15] vschandramouli commented on #6254
Meeting notes 3/16 -

Paloma mentioned she would work on this fee list and share when it is ready.

[2022-03-16 15:44] patrickm02L commented on #8118
We've scoped out other Issues from this meeting, which can be found in the epic #8508

[2022-03-16 15:44] #8118 closed

[2022-03-16 17:00] #8659 closed

[2022-03-16 17:02] #8554 closed

[2022-03-16 17:04] amenity commented on #8406
It's become evident that keeping these codes updated is a small but must-have need for AMD. From Ivonne, via Teams today:

Different options I see:
- Escalate all of these requests so that a dev can implement them within the week they're requested (potentially even as a patch to Production) ... "requests" could come from
    - Individual users when they request/add new codes to Data Tracker
    -

[2022-03-16 17:07] ChrispinP commented on #8236
Customer Portal landing page updated. Added information buttons for each application type, updated language for login requirements, and updated service verbiage. PIO is helping with the Banner and Link. Meeting scheduled to discuss updates.

[2022-03-16 17:07] ChrispinP commented on #8236
![image](https://user-images.githubusercontent.com/67915167/158647331-266ef2c0-f337-4e8a-b698-62b6b1839f1f.png)

[2022-03-16 17:08] ChrispinP commented on #8237
Meeting scheduled to discuss feature and go live.

[2022-03-16 17:08] #8120 closed

[2022-03-16 17:18] johnclary opened #8724 "[Enhancement] Add Public Works' Task Orders to our ETL Scope"
As requested in #8406, Moped users need the ability to identify PWD's task orders as part of Moped's funding UI.

Currently, our DB view (furnished to us by Financial Services Department) only includes ATD's task orders (department codes `2400`).

We need to:
- [x] Request that our DB view be modified to include PWD task orders (dept code = `6207`)
- [x] Verify that [our ETLs](https://github.com/c

[2022-03-16 17:30] ChrispinP commented on #8163
no further action, closing

[2022-03-16 17:33] ChrispinP commented on #8566
@KaroEngstrom let me know if you need some guidance on this

[2022-03-16 17:36] johnclary commented on #8406
@amenity i just cross-checked Data Tracker vs Moped. These funds are missing from Moped prod:
[code]

[2022-03-16 17:39] ChrispinP commented on #7248
@TracyLinder I think we can close this

[2022-03-16 17:55] vschandramouli opened #8725 "SIF - Auto-populate Property Information in Folder"
Acceptance Criteria:

- All acceptance criteria below applies to SIF folder only
- When a user adds a Primary Property to the SIF folder, the system needs to auto-populate the SIF Folder infos 'Council Districts' and 'SIF District' with values from Property Infos 'Council District' and 'SIF District' of the Primary Property selected in the folder.

[2022-03-16 17:58] dianamartin commented on #8723
Met with Susanne and turns out she has a GIS Modeling computer that has a dual usb-C port and the docking station has a special dual usb-C port to go with that laptop specifically. Her computer was powered on and her battery was at 100% so nothing seemed wrong. I will close out ticket, but have Scott follow-up with Susanne next week when he's back.

[2022-03-16 17:59] dianamartin commented on #8686
Messaged Brad 3/16

[2022-03-16 18:04] ChrispinP commented on #5487
postponing this further until after Customer Portal landing page is live with new banner. :)

[2022-03-16 18:14] vschandramouli opened #8726 "SIF - Auto-Populate SIF amounts folder Info"
Acceptance Criteria:

- All acceptance criteria below applies to SIF folder only
- When a user saves a row in the Building SIF Info freeform, system should total the values provided in all rows of the freeform with Status 'Active' for column 'Total Reduction Amount' and populate that value in the 'Total Reduction Amount' Folder Info.
- System should also total the values provided in all rows of th

[2022-03-16 18:21] amenity commented on #8709
Per discussion in Grooming, "Inventory Request Status" is a good name for this column.

[2022-03-16 18:27] ChrispinP opened #8727 "[TDS-TIA] Data Research: Updating Intersections & Street Segments with CTN/CTM data"
- Determine which dataset is best for updating street segments & intersections data in the mitigations_geo object for TIA
- Determine method and frequency for updating the data in Knack (integration possible?)

[2022-03-16 18:31] vschandramouli opened #8728 "SIF - Unique ID for SIF Building Info Freeform"
Acceptance Criteria:

- All acceptance criteria below applies to SIF folder only
- When a user saves a new freeform row in the SIF Building Info freeform, system must generate a Unique ID for that row (such as 1, 2, 3... and so on) and insert it in the Unique ID column of the newly saved Freeform row.

[2022-03-16 18:40] amenity commented on #7632
@TracyLinder - to-do here for you: check with TIA and create a child issue that reflects their needs. 🙏

[2022-03-16 18:41] amenity opened #8729 "Update council district assi"

[2022-03-16 18:41] amenity opened #8730 "Update all Locations to reflect new City Council districts"

[2022-03-16 18:41] #8729 closed

[2022-03-16 18:43] vschandramouli opened #8731 "SIF - Allow bill payment through portal"
Acceptance Criteria

- All Acceptance Criteria provided here applies for SIF folders only.
- A user whose people record is added as Applicant to the SIF folder should be able to view the SIF folder on the My Permits page of the portal.
- The user should also be able to pay any outstanding bills from the SIF folder through the Portal.

[2022-03-16 18:50] vschandramouli opened #8732 "SIF - SIF folder on Portal"
Acceptance Criteria

- All Acceptance Criteria provided here applies for SIF folders only.
- A user accessing the Portal should be able to search for and view SIF folders through the Public Search tool on the portal.
- All folder information on the SIF portal can be displayed in the folder details without any restriction.

[2022-03-16 18:51] amenity commented on #1792
Users seem to have moved on.

[2022-03-16 18:51] #1792 closed

[2022-03-16 19:15] patrickm02L commented on #8129
In order to complete this task we'll need to:
- Update the data range in the ETL to reflect 2-weeks starting at midnight so that we capture an entire day.
  -  [Reference code](https://github.com/cityofaustin/atd-vz-data/blob/master/atd-etl/app/process/helpers_socrata.py#L317)
- Identify UI Elements to be updated
![Screen Shot 2022-03-16 at 2 15 16 PM](https://user-images.githubusercontent.com/556

[2022-03-16 19:20] dianamartin commented on #8709
Updated `work order signals` table, renamed Inventory Status to Inventory Request Status

## Before
![image](https://user-images.githubusercontent.com/21112975/158671265-0ebdbb05-6148-412f-807c-781bff3bd093.png)

## After
![image](https://user-images.githubusercontent.com/21112975/158671490-d8079300-9c96-4455-b75b-da106ad31cae.png)

[2022-03-16 19:22] mateoclarke commented on #8498
@amenity  https://github.com/cityofaustin/atd-moped/pull/602

[2022-03-16 19:37] amenity opened #8733 "Equity Analysis of the Mobility Annual Plan"
- Equity Analysis Zones (EAZ) - [About](https://services.arcgis.com/0L95CJ0VTaxqcmED/arcgis/rest/services/Equity_Analysis_Zones_2021/FeatureServer) | [Map](https://www.arcgis.com/home/webmap/viewer.html?url=https://services.arcgis.com/0L95CJ0VTaxqcmED/ArcGIS/rest/services/Equity_Analysis_Zones_2021/FeatureServer/0&source=sd)
- Mobility Annual Plan (MAP) - [About](https://data.austintexas.gov/stori

[2022-03-16 19:42] frankhereford opened #8734 "Create documentation about `atd-data03` re: managing users/groups"
Create documentation which details the process of adding and managing users on the `atd-data03` on-prem server. Include:

* [x] Creating / removing users
* [x] SSH key installation and file permission requirements
* [ ] System wide path mgmt
* [x] Group based ACL
  * [x] sudo
  * [ ] docker
* [ ] prefect?

[2022-03-16 19:43] amenity commented on #8733
@amenity please schedule and ask Anna and Laura to submit a concise request.

[2022-03-16 19:44] dianamartin commented on #8500
- [x] Created new connection for `work_order_markings`, name field "Assigned To"
- [x] Created new My Work Orders | Markings table
- [x] Re-named page from "My Work Orders | Signs" to "My Work Orders"

[2022-03-16 19:45] frankhereford commented on #8734
@amenity - I ended up making this assigned to me, but I did not associated it to a sprint since it's going in the backlog. I hope this is how you had suggested - Please let me know if there is anything else you may need on this issue. Thanks!

[2022-03-16 22:12] amenity commented on #4942
@mateoclarke @Charlie-Henry @johnclary - Thought about this some more and I think that Moped data isn't complete and mature enough to make this work impactful. Looking at the [2022 MAP](https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=c4ce502105e748fb8be725eb54a35fae), however, I think that the data model and data is similar enough to Moped that any visualizations/analysis we unlock

[2022-03-16 22:21] amenity commented on #1697
@dianamartin - mind if we consolidate #1749 and #454 into this issue to keep the backlog tidy?

[2022-03-16 22:22] dianamartin commented on #1697
I'm fine with consolidating it

[2022-03-16 22:52] SubhaShroff commented on #7912
@Nadin-Nader  @TracyLinder  I tested it on TEST, works as expected in AC. Ready for UAT.

[2022-03-16 22:56] amenity commented on #1697
Super, thanks. What about #5921?

[2022-03-16 23:06] amenity commented on #454
This potential work is represented in #1697 7.

[2022-03-16 23:06] #454 closed

[2022-03-16 23:06] amenity commented on #1749
Covered by #1697

[2022-03-16 23:06] #1749 closed

[2022-03-17 13:41] dianamartin commented on #1697
## Closed Issues but future tasks?
- Traffic Count Spatial Integration to AGOL from Data Tracker
- Traffic Count, data-set to be published to Open Data Portal

[2022-03-17 14:21] dianamartin commented on #8326
Joshil messaged 3/10

Or rather was it their issue or my meddling?

I replied

"Hi Diana,﻿ Just wanted to let you know we're looking into this and will let you know soon what we've discovered."

![image](https://user-images.githubusercontent.com/21112975/158827180-71221891-f5c4-413e-a476-af440ca26941.png)

[2022-03-17 14:21] #8326 closed

[2022-03-17 14:29] jaime-mckeown commented on #8330
- Added new attribute rule for calculating days of the week fields, only created rules for hours of operation that existed on at least 20 records. There are currently 189 variances of hours of operation in the parking inventory.

[2022-03-17 14:33] #8330 closed

[2022-03-17 14:59] dianamartin commented on #8500
There was a display rule that is on the form that hides the field if "Work_Type" is Markings

[2022-03-17 15:32] amenity commented on #7778
@amenity - also add specs for viewing date stamp and author of note in the heading;
Also try out + /pencil icons next to history.

[2022-03-17 15:43] amenity commented on #8724
A significant number of AMD's projects have PWD funding codes (6207?), so moving this up as equal priority to #7931

[2022-03-17 15:54] SubhaShroff commented on #8693
@Nadin-Nader  I checked this on TEST, it changed the indate with Internet Pending(Was in Pending Payment status and with payment, changed to Internet Pending and also changed the indate as expected).
RSN - 12793518

Is there any other scenarios that EX turns into INTERNET PENDING, other than payment, lets say any process attempt?
Any idea, in PROD example 2022 024861 000 00 EX, what triggered the

[2022-03-17 16:14] #8333 closed

[2022-03-17 16:14] johnclary opened #8735 "[Traffic Register] Feature: Implement three-level approval process"
1.  Technician first submits reg package: reg packages goes to "Admin QC" queue. Package status changes to "Needs Review QA"

2. Admin team has a review queue/page: make edits as needed. ability to add a comment to the reg package. Admin staff can "Request changes" or "Approve".

3. Technician is notified via email of Admin QC result. If approved. Tech can assign to area engineer for review. Other

[2022-03-17 16:32] johnclary opened #8736 "Ability to set regulation "Install Date""
Each individual regulation needs to have an "Install Date" that can be edited after a reg is approved.

Anyone except "Viewer" can update the install date. When install date is populated, the regulation status should change from "Pending Install" to "Installed" or "Active".

[2022-03-17 16:40] johnclary opened #8737 "[Traffic Register] Feature: Ability to track temporary/event regs and auto-retire"
Ability to flag certain regs as temporary and define an expiration date for their removal.

- Where do we track the "temporary" status and expiration date? On the reg package or individual regs?
- Can we automatically retire temporary regs, or do they need to go through the full approval process?

[2022-03-17 16:46] johnclary opened #8738 "Generate "Regulation Text" automatically from regulation fields"
As a user, I'd like to enter in regulation information fields and have the application auto-populate the "Regulation Text" based on the "Regulation Type".

This is the guidance [document](https://cityofaustin.sharepoint.com/:x:/s/atdDTS/EYEsJQHWFZdAnKoTviLAhyYByf4E6C8OWeiVax9jdA_MjA?CID=2353568F-649C-4733-8F69-6831E0811041&wdLOR=c5B5B5623-F0C1-4AB2-93E1-0B9A5F8C3BB5) we provided to Eric B. We will

[2022-03-17 17:18] #8498 closed

[2022-03-17 18:03] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader, @TracyLinder  - DEV Testing is in progress; Emails are not working. trying to debug the same.

[2022-03-17 18:12] johnclary commented on #8724
I reached out to Eva S. at FSD to request PWD task orders

[2022-03-17 18:51] dianamartin commented on #8581
- Looked into "Tasks" and running it to update the csr_issue table with information from the csr_flex_notes table.
- Trying out added the Flex Note table, specifically "What is the Issue?" and answer and user could manually add when "Assigning" the work order
  - Not the best because process is fairly manual and not automated.

[2022-03-17 18:53] dianamartin commented on #8723
@dianamartin let Scott know on Monday to check in with Susanne

[2022-03-17 18:55] dianamartin commented on #8709
Emailed Ronnie 3/16

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/05cf3c13-3d0d-463c-af70-c4c9dde7a8ee)

[2022-03-17 20:19] Nadin-Nader commented on #8671
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0206780**

[2022-03-17 20:42] amenity commented on #7931
@johnclary 👆

[2022-03-17 20:46] Nadin-Nader commented on #8671
I have deployed the report to \\COACD.ORG\DFS\AMANDA\BROWSERFORMS\DEV\. This is where TEST pulls the report from.

[2022-03-17 21:41] jaime-mckeown commented on #8279
@andrewshensky I'm going to leave this issue open and assign it to you. See the comment above with the highlight. You may want to ask CTM if they can start compressing the MAINT database daily to see if that will make a difference for the database views. I don't want to put the request in since it won't be completed before tomorrow. Thanks!

[2022-03-17 21:42] jaime-mckeown commented on #7265
@andrewshensky reassigning the Epic to you for support you continue to provide the team until the new GIS Analyst comes onboard.

[2022-03-17 21:45] jaime-mckeown commented on #7265
Directory for project:
G:\ATD\ATD_GIS\01_ADMIN\DATA_MANAGEMENT\Data_Migration\parking\parking_inventory\Migration_Project\Parking_Migration_Project

[2022-03-17 22:15] amenity commented on #5921
This is a part of #1697

[2022-03-17 22:15] #5921 closed

[2022-03-18 13:44] patrickm02L commented on #7985
Lynn set up automated email to deliver EMS data to us, 3/17/22.

[2022-03-18 14:06] Nadin-Nader commented on #8313
@SubhaShroff Zach Responded and said that the Fee below, ATD SUB-Construction Plan Non-Concurrent ($1,310.00), Is the one he found that is wrong. Its supposed to be like the other image attached, Construction Plan Non-Concurrent ($2,810.00)

![Contruction Plan Fee.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/8522b374-75eb-4355-9ad0-c7579bda8511)

![Actual Wrong Fee Showing.pn

[2022-03-18 14:10] johnclary commented on #7931
@amenity  ☝️☝️

[2022-03-18 14:10] vschandramouli commented on #8674
Scoping meeting scheduled for 3/21/2022

[2022-03-18 14:19] Lpriya-LIT commented on #8375
@TracyLinder Committed the configuration changes and sent the dev deployment plan to @Nadin-Nader.
Once its deployed to Dev , will verify and update here.

[2022-03-18 14:29] amenity commented on #7931
🙈 must have had an un-refreshed browser tab! Sorry for the noise.

[2022-03-18 15:25] frankhereford commented on #8712
@xavierapostol wrote:

it is - thank you! I am about to trigger the re-OCR pass on all crashes missing one or the other pieces of information from the OCR. All the crashes you listed☝️ are in the set that will OCR'd.

I'm going to start with these 8 as another test, and if they are repaired, I'll close this ticket once the larger pass is underway.

[2022-03-18 15:53] frankhereford commented on #8712
There is something more complex going on here. I have triggered the DAG after updating the database to cause these crashes to be processed. The continue to not have a diagram displayed in the VZE.

I will next spin up a copy of the docker image which does this processing and step through the process to see what's preventing these from being handled as normal. 🔧 🔨

[2022-03-18 16:28] andrewshensky opened #8739 "Bi-Weekly Meeting with RAS"

[2022-03-18 16:30] andrewshensky commented on #8739
**- Timeline for pole data. (Pole data in proper schema)**

Would like our QC suggestions to be submitted prior to providing poles in schema.

We will have final QC comments in 2 weeks.

About 2 weeks for RAS to provide official pilot data after final QC comment provided (around April 15).

Total of 4 months once official pilot is provided for all data to be received (approx. August)
Bi-weekly wou

[2022-03-18 16:30] #8739 closed

[2022-03-18 17:50] Charlie-Henry commented on #7931
This is working but it'll null out some fields that I need some help mapping out. Need to ETL this after. 👍

https://github.com/cityofaustin/atd-finance-data/pull/12

[2022-03-18 17:53] ChrispinP commented on #8727
Andrew will merge together the CTN and CTM data together for us so we can compare with Knack dataset for an accurate master list.

[2022-03-18 18:06] ChrispinP commented on #6965
There is a high likelihood that the historical mitigation data will need more historical cases imported. I will separate out the case data from the mitigation data and compare with what we have in Knack. Will do a case import with the missing cases so all mitigations can connect to a case.

Geo IDs do not match updated CTM/CTN data at all so figuring out if this field has any value at all. Partial

[2022-03-18 18:07] amenity commented on #8406
@johnclary added all of the above to Socrata, as the issue specifies, yesterday:
- [Task orders](https://data.austintexas.gov/Transportation-and-Mobility/-TEST-Mobility-Project-Task-Orders/ggav-ufvc)
- [Funding units](https://data.austintexas.gov/dataset/Transportation-Project-Financial-Codes/bgrt-2m2z)

Closing the issue, but need to note that neither the [funds](https://user-images.githubusercon

[2022-03-18 18:07] #8406 closed

[2022-03-18 18:17] KaroEngstrom commented on #8566
Met with Chrispin to work on this (i.e. to learn from him).
- [x] Added both users Renee Orr and Ivonne Natal to the TDS portals as TDS Viewers
- [x] Created a TIA Mitigations page (table view) under TIA Reviews (visible to all logged in users), displaying mitigation funding data for approved TIA cases.

![image](https://user-images.githubusercontent.com/100615928/159059957-3a76071f-72c5-43ac-993c

[2022-03-18 18:21] Nadin-Nader commented on #8671
@Sreelatha-BlazeKannan this has been deployed to TEST. Please UAT

[2022-03-18 19:03] KaroEngstrom commented on #8610
### Sandbox Project - learning Knack

- [x] Initial review Fri 3/11/22 w/ DIana, Chrispin, and John

- [x] Second review Thu 3/17/22 w/ Diana and Chrispin
- Rebuilt child pages from v1 as standalone parents
- Added "Need to Restock" column in Product inventory
- Moved "Add an Order" to a separate child page
- Added Created By/Modified By and Created/Modified date/time fields to Product, Order, and

[2022-03-18 19:16] Nadin-Nader commented on #7912
[Wednesday 5:37 PM] Amayo-Ryan, PalomaTest Results for Ticket 7912

Nader, Nadin and Linder, Tracy
[4:00 PM] Wheeler, Jonathan

Upon testing, it does put in the correct fees when you put 2 in the metered rate. However, it creates a bill but does not include the 4% surcharge. Is there a way to have it to where it creates the bill with both the fee and the surcharge or make it to where it doesn't bi

[2022-03-18 19:24] Nadin-Nader commented on #8232
Comments section for the extensions is not populating the date on the process comments  and the description field on the Folder Tab

Has to update the process comment and the description field

[2022-03-18 19:29] SubhaShroff commented on #8679
@Nadin-Nader  @TracyLinder  PROD deployment request - SCTASK0206993 is submitted.

[2022-03-18 19:53] frankhereford commented on #8712
The above crashes are repaired in terms of the OCR related tasks.

Got the image built and the script behind the dag appears to be working without modification my local copy. I'm going to work through the backlog created by the following query. In the interest of getting this done quickly and ease of monitoring, I'm going to do the OCR task here locally before handing it back to airflow in a few h

[2022-03-18 19:53] #8712 closed

[2022-03-18 20:00] TracyLinder commented on #7689
### PR Types Discussion w/ Makenzie O. (DSD) - 3/18
_Tracy, Makenzie, Amber, Joe, Nathan_

[2022-03-18 20:10] SubhaShroff commented on #7829
@Nadin-Nader  @TracyLinder SCTASK0207009 is submitted for PROD deployment.

[2022-03-18 20:37] TracyLinder commented on #7689
**User Story? - Discuss** - Do we need the 2 SIF infos on the SPC folder (site corrections)

[2022-03-18 21:00] SubhaShroff commented on #8693
@Nadin-Nader  SCTASK0207022 Is submitted for DEV deployment.

[2022-03-18 21:07] Sreelatha-BlazeKannan commented on #8671
@Nadin-Nader , @TracyLinder - Completed TEST UAT, submitted PROD DP. Please approve and create task id for me.
Commit ID: 230d3ad79bf0
&
50510 Crystal Report Move from TEST to PROD.

[2022-03-18 21:13] andrewshensky opened #8740 "Update Sign Data from Work Orders"

[2022-03-18 21:17] andrewshensky commented on #8740
**Features Mapped in Maint**
Signs: 1898 -> 2155
Locations: 818 -> 924
**Sign Features Needing QC**
Installs: 690 -> 778
Removals: 445 -> 489
Outliers: 193 -> 216

[2022-03-18 21:17] #8740 closed

[2022-03-18 21:59] Nadin-Nader commented on #8671
This has been sent to the DevOps CM Team t be deployed to **_PROD_** under **SCTASK0207028** for commit: **230d3ad79bf0**
The report must be deployed by CTM as i do not have rights to deploy reports to **PROD** This is under TASK **SCTASK0207029**

[2022-03-21 14:05] SubhaShroff commented on #8679
@Nadin-Nader  @TracyLinder  This is deployed in PROD.

[2022-03-21 14:07] SubhaShroff commented on #7829
@Nadin-Nader  @TracyLinder  this is promoted to PROD.

[2022-03-21 14:49] atdservicebot opened #8741 "[URGENT] The entire launcher profile is landscape and won't go back to portrait view. It's causing the applic..."
Signs & Markings Operations

The entire launcher profile is landscape and won't go back to portrait view. It's causing the applications and text to be very small. When exiting out of the launcher profile, the tablet is able to go back and forth from portrait/landscape, but as soon as they go back in the launcher profile, the tablet is stuck in the landscape view.

It's difficult for the technician

[2022-03-21 14:51] dianamartin commented on #8741
Checked to see if Danny C. was online, he wasn't so I need to put in a service desk ticket.

[2022-03-21 16:00] andrewshensky opened #8742 "Provide Joined Output of Street Segments from CTN and CTM Datasets"
This is being requested to look for ways to updated TIA segment data and potentially use the CTN.

[2022-03-21 16:52] #7631 closed

[2022-03-21 16:52] Nadin-Nader commented on #7631
This has passed UAT. Closing

[2022-03-21 16:57] Nadin-Nader commented on #7785
Passed PROD UAT 10 days ago, closing

[2022-03-21 16:57] #7785 closed

[2022-03-21 17:06] dianamartin commented on #8224
# Notes 3/21

3/21
Feedback

Signal Attachment/Image - showing
Signal Details

Main Work Order page
- Add "Follow-up" is "Yes"
- Trouble Call, Scheduled

Close Work Order
- Add field "Supervisor Comment"

Time Log
- Require - Technicians
- Require - Vehicle

Make Time, Inventory, Work Completed
- Menu button, modal pop-up

Already On-Site
- Remove this button for now, archive field

Assign to Self

[2022-03-21 17:16] Nadin-Nader commented on #8717
I sent Judith the link to reset her password and she was good to go last week. Closing

[2022-03-21 17:16] #8717 closed

[2022-03-21 17:29] atdservicebot opened #8743 "Need assistance closing on 2 work orders"
Signs & Markings Operations

We have 2 work orders we need assistance closing on the Signs Work Order page. These work orders were created and completed when work tickets were created and managed in MAXIMO! The install details were completed in Maximo as well. We would like to close these work orders with closed dates estimated to when we transferred work ticket systems from Maximo to Knack.

Have

[2022-03-21 17:29] Nadin-Nader commented on #8703
@vschandramouli Please go ahead and scope this out when ready.

[2022-03-21 17:30] Nadin-Nader commented on #8519
@vschandramouli Please go ahead and scope this out when ready.

[2022-03-21 17:33] Nadin-Nader commented on #3989
@vschandramouli Please verify this is still a need With either Jessica D., Darren U., Isaiah L., Jaclyn L. and/or Paloma.
If it is Please put in Backlog and tag me

[2022-03-21 17:38] Nadin-Nader commented on #8684
@SubhaShroff Spoke to Paloma and she informed me that she would like this batch to run daily late in the evening so no other batch would interrupt it.

Please Let me know what other information you need.

[2022-03-21 17:50] Nadin-Nader commented on #6030
@Sreelatha-BlazeKannan spoke to Maria and she will have the UAT done for this sometime tomorrow

[2022-03-21 18:03] amenity commented on #1106
@patrickm02L is slated to PM the Mobility Project Viewer and will most likely be concentrating on this with this summer's Coding it Forward design fellow.

In the meantime, staff in Public Works, ATD, and CIP have been maintaining a publicly-visible AGOL map of the 2022 Mobility Annual Plan:
![2022 MAP map](https://user-images.githubusercontent.com/1463708/159312374-2ebf45e2-978f-406a-9674-8298076

[2022-03-21 18:25] dianamartin commented on #8691
@amenity here is a new one, just letting you know

[2022-03-21 18:56] TracyLinder commented on #7689
**From Nate:** Hey Tracy, quick heads up: we've been talking about naming convention and I think our "Formal SIF Assessment" needs to change to "Formal SIF Calculation" since assessment has a specific function in the ordinances.

[2022-03-21 19:18] atdservicebot opened #8744 "Add an Action to the sign assets "Relocate - New Location""
Signs & Markings Operations

Would like to add an Action to the sign assets. This action would be for "Relocate - New Location". Signs are often relocated, but existing assets are used so we would like to track these more accurately than we have in the past.

Have a "Relocate - New Location" action for sign technicians to use.

Currently most of the Technicians use "Removed" for the location the s

[2022-03-21 19:44] TracyLinder commented on #7689
### Project Mtg 3/21/22

- Finance is starting meetings/working on the FDUs for each service area. Can we get them by the end of March? --- It should be doable.
- **user story** ATD SIF Review on PR will need a companion review comment document on the doc tab.
- **story** - Change SIF Assessment process attempt names to replace the word assessment w/ collection:
    - Formal SIF ~Assessment~ Colle

[2022-03-21 19:49] SubhaShroff commented on #7912
@Nadin-Nader [SCTASK0207352 is submitted for DEV deployment request to add the surcharge.

[2022-03-21 20:14] moorerst commented on #8603
@dianamartin no other changes from me.

[2022-03-21 20:31] amenity commented on #8533
Got Christopher. Also updated [docs on creating accounts](https://atd-dts.gitbook.io/moped/user-guides/manage-users).

[2022-03-21 20:49] #8683 closed

[2022-03-21 20:51] dianamartin commented on #8686
Talked about it in App Sync and will divide up the open datasets and chip away at it.

[2022-03-21 21:27] amenity commented on #7832
FWIW, @chiaberry - the "Canceled projects are not shown." text actually probably belongs in the "No search results" verbiage instead of the way I have it mocked up here.

Reminding myself, @amenity, to update the mockup once you've completed #7402 .

[2022-03-21 21:29] #8603 closed

[2022-03-21 21:57] chiaberry commented on #7832
@amenity , what do you want it to say for no results when searching Staff?

zero results projects page: "Canceled projects are not shown."
zero results staff page: ?

[2022-03-22 01:09] amenity commented on #7832
@chiaberry - Updated wording [here](https://github.com/cityofaustin/atd-data-tech/issues/7402#issue-1021471461).

[2022-03-22 03:07] amenity commented on #7778
@patrickm02L - Renée and Ivonne would like to see this implemented, along with attribution for the Status update on the summary page. They also mentioned that having the ➕  icon all the way over on the right feels a bit awkward.

I mocked up a couple options in the "Project Summary" XD:
![Summary Page – Updating status update](https://user-images.githubusercontent.com/1463708/159399677-28bceb2b-e8

[2022-03-22 13:48] dianamartin opened #8745 "IT Support: Resassign PR 2022-03-3846, incorrect assignment"
Scott R.
DTS

Messaged me 3/21

[2022-03-22 13:52] #8745 closed

[2022-03-22 14:47] dianamartin commented on #8601
Walked through technician process and had to add tables that were "Non-Editable" after WO status is "Work Complete".

Noticed that if "Pick Up" is No, and WO status is "Work Complete" will not show up in Banner Pick up which is what we want, but haven't triggered it to go from "Work Complete" to "Closed".

[2022-03-22 14:58] SubhaShroff commented on #8313
@Nadin-Nader  "991d711116a6" - commit is done to correct the Fee amount of ATD-SUB-Construction Plan Non-Concurrent (83425). Once you audit it, I will submit a DEV deployment request.

[2022-03-22 15:15] #8507 closed, assigned to chiaberry

[2022-03-22 15:15] #8532 closed

[2022-03-22 16:14] dianamartin commented on #8601
Showed stakeholders during sprint review 3/22

[2022-03-22 16:19] #8741 closed, assigned to dianamartin

[2022-03-22 16:23] TracyLinder commented on #7689
### Sync Tracy, Vish, Priya

Two major chunks of work, in order of development:

1. SIF Folder
2. Non-SIF Folder Updates

- We discussed our approach. Finish out SIF, then move to non-SIF.
- Sorted through remaining SIF deliverables & cards. Put them on deck for Priya.
- Priya will begin today her analysis & making comments on all her issues we just put on deck.
- Vish will update AC & documentati

[2022-03-22 16:24] dianamartin commented on #8723
messaged Scot about it 3/22

[2022-03-22 16:25] #8723 closed

[2022-03-22 16:40] SubhaShroff commented on #8684
@Nadin-Nader Redefault is done through the button provided in AMANDA UI. There is no procedure available. Not sure what exactly this button does, other than adding the configured infos, processes. I checked with Guna from DSD, if anyone has done it before in COA. Looks like, it was never attempted before. So, before proceeding on, to start with I have following questions.

1. How(in what way) the

[2022-03-22 16:50] mateoclarke opened #8746 "Update ETL to prevent overwriting of human-updated fields in Unit, Person & PrimaryPerson tables"
_Relates to #8639_

The two specific fields in the Units where we've lost data are `travel_direction` and `movement_id`.

These columns were created by ATD DTS and do not exist in CRIS' data. On import, an upsert should not delete these values.

The first mystery to solve is why these records are being overwritten. Then we need to update the ETL or triggers that run when a Unit record is updated o

[2022-03-22 16:52] Nadin-Nader commented on #8425
This was done a while back. Closing

[2022-03-22 16:52] #8425 closed

[2022-03-22 16:54] Nadin-Nader commented on #8693
@SubhaShroff this has been deployed to DEV please UAT

[2022-03-22 17:07] mateoclarke commented on #8746
One immediate thing I've noticed is that there is an active trigger in the DB that isn't manually version controlled in our [`atd-vzd/triggers` directory](https://github.com/cityofaustin/atd-vz-data/tree/master/atd-vzd/triggers). It is called `atd_txdot_units_create` and contains this SQL code:

[code]

According to our DB, the trigger only runs on INSERT but maybe something about our ETL treats n

[2022-03-22 17:44] mateoclarke opened #8747 "Rename VZD table "atd_txdot_changes" to "atd_txdot_conflicts""
This table gets confused with `atd_txdot_change_log` often. The intention of the database is to protect record changes from automatic CRIS updates by holding them in a queue for manual review. They represent records where incoming CRIS data conflicts with human changes.

[2022-03-22 18:30] KaroEngstrom commented on #8686
3/22
- [x] Moved Data QC notes from the Public spreadsheet to the Public 79 one in SharePoint
- [x] Checked a few dozen items against the Open Data List and Data Inventory; indicated the findings in the Data QC columns - total QC count 31/79

[2022-03-22 18:32] dianamartin commented on #5316
@ChrispinP I think Knack does render icons now, right?

[2022-03-22 18:37] ChrispinP commented on #5316
With the most recent update, FA 4 icons do render in the builder now except in Rich Text views. Would still be nice to have access to FA 5 or 6 icons.

[2022-03-22 18:38] dianamartin commented on #5316
I'm going to close this issue, since they are rendering for us.

[2022-03-22 18:43] moorerst opened #8748 "Report: RPP report for specific zone"
Requested by RPP staff Steve
Need to pull some numbers for two zones in the S. Congress area.
For Zones (8 & 16) also include 200 W Johanna and 1200 Newton St
For years 2019-2022
I have to pull the data for every address in those Zones and number of permits issued for each address.

[2022-03-22 18:43] #8601 closed

[2022-03-22 18:45] dianamartin commented on #8574
followed up with user 3/22, messaged them

Hey Andrea, just checking that the last update I made to SMRT was all good with you? the last message I sent you on 3/3

[2022-03-22 18:46] #8574 closed

[2022-03-22 18:49] dianamartin commented on #8610
This will be an ongoing task for sure, but I think we can close this as your initial training is done.

[2022-03-22 18:49] #8610 closed

[2022-03-22 18:50] moorerst commented on #8605
Discussed with the team during the recent sprint review and decided to cancel this training until the SMB team has soon time to test drive the system with new applications. We'll make any tweaks needed before we do training with the Smart Mobility team.
On hold for now estimated to reschedule at end of April

[2022-03-22 18:50] dianamartin commented on #8150
Need to follow-up with Christina to see if she was able to set-up the tablet and then schedule time with Danny to see what he wanted to test on the new profile

[2022-03-22 18:51] dianamartin commented on #8480
I think it's safe to say she's on-boarded and gotten all the technical set-up behind her

[2022-03-22 18:51] #8480 closed

[2022-03-22 18:52] dianamartin opened #8749 "Feedback Enhancements from Banner Review 3/22"
## Maintenance Work Orders
Joseph brought up Maintenance work orders which we didn't discuss in the technician update, but is important. Will configure those to be similar to what we have for the other work orders.
- [ ] Need to add Statuses
- [ ] Ability to "Close"

## Communicate Email Payment
- [ ] Include link to `ABC Portal` and instructions on what to do
- Lauren will provide email example

[2022-03-22 19:09] SubhaShroff commented on #7912
@Nadin-Nader  The DEV deployment is done and I tested it for surcharge addition. Works as expected. Please let me know if I can submit a TEST deployment request for this.

[2022-03-22 19:17] SubhaShroff commented on #8313
@Nadin-Nader  SCTASK0207586 Is submitted for DEV deployment of the above commit.

[2022-03-22 19:19] moorerst commented on #8609
- [ ] April 1st, change URL links in Street Banner application

- [ ] April 4th, start having customers use intake form
SMB staff will manually direct customers to the new form

- Month of April have SMB staff use new forms/tables/pages and get feedback

- 2nd week of April, have training session with Smart Mobility team on new process

[2022-03-22 19:25] moorerst opened #8750 "Prep for Soft Launch task for Banners Permit and Purchasing in Knack"
## Things to Check
- [x] will give SMB staff time today 3/22 to update the banners statuses
- [x]  Update Customer email "Approved - Pending Payment"
- [x]  Make Payment” button shows - should not appear in any status unless you're "System Administrator" user role
- [x] On OTS Review page, "Add Design Attachment" form and table should not show when bypass occurs
  - [x] Non-Editable and Editable t

[2022-03-22 19:50] dianamartin opened #8751 "[MEETING] Annual Signal Re-timing Metrics Discussion"
### Objective
Discuss how to track ASR metrics

### Participants
Brian C, Lance, Allyson, Brian G., Karo, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting - 3/22
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief

[2022-03-22 19:51] dianamartin commented on #8751
# Diana's Notes
Provide weekly report to ACM
When something has been retimed

Retiming Start/End - equivalent to
- REMOVE "Status Effective Date"

New Metrics:
- weighted average
- percentage change

How things are performing and get travel time (not weighted)
need to get volume data separately

Travel time: collect along the route

Control Delay: how much delay can we control bc there is a traffi

[2022-03-22 20:23] dianamartin commented on #8751
Sounds like MMC will draft up a possible metrics they can pull and then sync with us (DTS) to see how we can relate it to the ASR zones and corridors.  Will wait for them to reach out.

[2022-03-22 20:27] TracyLinder commented on #7689
### Residential PR SIF Assignments Discussion w/ DSD
_ATD: Tracy, Amber, Nathan. DSD: Shanisha, Nathan S._

**Purpose:** Which (residential) PRs do we want ATD SIF Review assigned to? How can we identify them - or how does AMANDA identify them?

**SIF Applicable:**
- Final Plat
- Land Status Determination C8-I folder `(for discussion later)`
- Volume Builders

**Questions:**

- [ ] What is the int

[2022-03-22 20:28] #8751 closed

[2022-03-22 20:31] SubhaShroff commented on #8693
@Nadin-Nader  SCTASK0207689 is submitted for TEST deployment.

[2022-03-22 20:37] Nadin-Nader commented on #8375
@Lpriya-LIT this has been deployed to DEV please UAT

[2022-03-22 20:37] dianamartin opened #8752 "Move AMD Work Order Functionality from Test to Production"
This issue is to help document what steps are necessary to transition functionality from TEST to PRODUCTION in AMD Data Tracker

[2022-03-22 20:38] dianamartin opened #8753 "Creation of 8 new object tables"
Add
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/291d825a-0eaf-435f-9d7c-c4e229f1c222)

[2022-03-22 20:44] andrewshensky commented on #8722
This layer has been recreated and new map note was added

[2022-03-22 20:44] #8722 closed

[2022-03-22 20:44] andrewshensky commented on #8715
This data has been provided

[2022-03-22 20:44] #8715 closed

[2022-03-22 20:48] ChrispinP commented on #8727
Added new CTN fields to Mitigation Geo object in preparation for importing new segments and intersections. Andrew was able to merge segment datasets and provide. Requested intersection datasets now.

[2022-03-22 20:50] dianamartin commented on #8753
## amd_workgroups
- [ ] Auto Increment
- [ ] Workgroup Name - Short Text
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/6837e472-c15a-4d26-a9b6-f1be5031b59b)
Connections
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/abe68549-4b0b-4b70-93d1-f8ae488af437)

[2022-03-22 20:52] andrewshensky opened #8754 "Create Data Structure for New Utility Pole Workflow"
New layers, fields, and domains have been requested to be added to AE Pole data. The new fields and domains will also need to be added to bluebonnet and perdernales data once everything looks good for AE Pole. We will also need to determine process for capturing existing data and adding to updated pole data when received.

[2022-03-22 20:54] andrewshensky opened #8755 "Meet with PWD to Discuss MAP Data"

[2022-03-22 20:54] #8755 closed

[2022-03-22 21:06] dianamartin commented on #8753
## work_order_signal_components
- [ ] Create object `work_order_signal_components`
- [ ] Get finalized table from AMD staff
- [ ] import table `work_order_signal_components`
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/3c824f61-477d-4041-82ad-b92b14250820)

[2022-03-22 21:08] dianamartin commented on #8753
## 3. work_order_component_actual
- [ ] Create object `work_order_component_actual`
- [ ] import table `work_order_component_actual`
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/156bb37c-4b71-4c2d-a54f-560bab4b1b09)

[2022-03-22 21:10] amenity opened #8756 "[Feature] Follow Project & View Followed Projects"
As a Moped user, I want to easily access basic project status and timeline data for _specific projects_ so that I have a flexible, efficient way to see the progress that informs or impacts my work.

## Implementation
**Database**
[need to scope with devs]

**User interface**
- [ ] Add "Follow project" to the project menu, using the [bookmark border icon](https://fonts.google.com/icons?selected=Mat

[2022-03-22 21:16] dianamartin commented on #8749
- Karo added the non-editable & editable tables for Comments, Attachments, Time log, Specifications, and Materials.
- She added the Page rule for Comments and Attachments
- Added Page rule for the work orders statuses and tested them!
🎉

[2022-03-22 21:20] dianamartin commented on #8753
## 4. work_order_signals_component_actions
- [ ] create object `work_order_signals_component_actions`
- [ ] import table `work_order_signals_component_actions`
![image](https://user-images.githubusercontent.com/21112975/159577934-2967e960-db19-4d13-97cc-ec5e8e4f47fb.png)

[2022-03-22 21:21] dianamartin commented on #8753
## 5. work_orders_signals_scheduled_work
- [ ] create object `work_orders_signals_scheduled_work`
- [ ] get finalized table from AMD Staff
- [ ] import table `work_orders_signals_scheduled_work`
![image](https://user-images.githubusercontent.com/21112975/159578134-5e855245-fcfb-479d-a288-8e5f4949da38.png)

[2022-03-22 21:27] dianamartin commented on #8753
# 6. work_order_signals_scheduled_work_actual
- [ ] create object `work_order_signals_scheduled_work_actual`
![image](https://user-images.githubusercontent.com/21112975/159578878-d598206b-ff73-4ed0-b1fd-7bca93b48cf2.png)

[2022-03-22 21:30] dianamartin commented on #8753
## 7. preventative_maintenance_tracking
- [ ] create object `preventative_maintenance_tracking`
- [ ] get finalized preventative maintenance fields

![image](https://user-images.githubusercontent.com/21112975/159579211-f6b417c7-a1ad-45b5-ac73-41447a60f77a.png)
![image](https://user-images.githubusercontent.com/21112975/159579269-c52f2bbe-f0b4-47ba-833b-8e80713aa2b2.png)
![image](https://user-image

[2022-03-22 21:31] dianamartin opened #8757 "Create New Work Order page"

[2022-03-22 21:31] dianamartin opened #8758 "Create Prototype "My Work Order Details" page"
Created a new "My Work Orders - Prototype" table on the `my-work-orders` page
- Hidden to others that do not have the "System Administrator" role

![image](https://user-images.githubusercontent.com/21112975/163624281-1d101497-1001-471c-9eba-9848dacad16e.png)

[2022-03-22 21:37] dianamartin commented on #8757
## 11 Display Rules
ASSET_TYPE is ________, then Show/Hide
- [ ] 1. signal
- [ ] 2. camera
- [ ] 3. school zone beacon
- [ ] 4. school beacon
- [ ] 5. flashing beacon
- [ ] 6. DMS
- [ ] 7. sensor

- [ ] 8. WORK TYPE = Trouble Call
  - show/hide WORK TYPE TROUBLE CALL
  - hide/show SCHEDULE IMMEDIATELY
  - hide WORK SCHEDULE DATE

- [ ] 9. SCHEDULE IMMEDIATELY = No, hide/show WORK SCHEDULE DATE
- [

[2022-03-22 21:40] dianamartin commented on #8757
## 14 Record Rules
- [ ] 1. ASSET TYPE is SIGNAL, ATD LOCATION ID connection value `signals>ATD LOCATION ID`
- [ ] 2.

[2022-03-22 21:46] Nadin-Nader commented on #8684
Asked Paloma, Izzy and Tracy the following in the TEAM chat:

[2022-03-22 21:55] Nadin-Nader commented on #6030
@Sreelatha-BlazeKannan here is Maria's response to her UAT on TEST:

[2022-03-22 21:58] amenity commented on #4400
Too specific and small to keep open at this point.

[2022-03-22 22:01] Sreelatha-BlazeKannan commented on #6032
@Nadin-Nader , @TracyLinder  - DEV DP for #6031. Kindly approve and create task id for me. This will resolve the email triggering

Here is the Commit ID: [8d0a1d656fb6](http://coaamandadevops01.austintexas.gov/R3:8d0a1d656fb65fc97b72e93af9663e099a011b1a)

[2022-03-22 22:08] amenity opened #8759 "Add attribution and date to status updates"
![Screen Shot 2022-03-22 at 12 31 43 PM](https://user-images.githubusercontent.com/1463708/159584016-da3eecf9-d375-4f61-9e2c-823a2d5e1f65.png)

[2022-03-22 22:09] atdservicebot opened #8760 "Create and export reports for particular date ranges"
Right-of-Way (ROW) Portal

Trying to create reports based on fiscal years. We'll need this for budgeting. Primarily, we'll need to export reports on certain date ranges. The current Knack doesn't appear to have a date range option, only a created "before" or created "after" date. Not a created "between" these dates.

We'll be able to pull reports for fiscal years and use it in our ATD revenue esti

[2022-03-22 22:22] dianamartin opened #8761 "Configure Preventative Maintenance section"

[2022-03-22 22:22] dianamartin opened #8762 "Configure Attachments"
- Configure existing object `work order signals images`
- Configure Attachments function

[2022-03-22 22:22] dianamartin opened #8763 "Configure Comments"

[2022-03-22 22:22] dianamartin opened #8764 "Configure Completed Work section"

[2022-03-22 22:22] dianamartin opened #8765 "Configure Schedule Work section"

[2022-03-22 22:24] amenity commented on #8012
Renée is working on getting these to me.

[2022-03-22 22:26] #7882 closed

[2022-03-22 22:28] amenity commented on #7802
Will reopen when we have specifics on what is needed.

[2022-03-22 22:28] #7802 closed

[2022-03-23 12:41] #8452 closed

[2022-03-23 13:17] andrewshensky commented on #8670
All tasks for this issue have been completed

[2022-03-23 13:19] andrewshensky opened #8766 "Update QC Process for Install w/o Poles, Removals, and Outliers"
The QC process for installs w/o poles, removals, and outliers can be streamlined by tracking these attributes in the Sign Maint Dataset. Fields will need to be added and attribute rules will need to be implemented.

[2022-03-23 13:52] SubhaShroff commented on #8693
### Status:
Waiting on CTM to do TEST promotion.

[2022-03-23 13:59] SubhaShroff commented on #8034
### Status:
@TracyLinder  @Nadin-Nader  should we close this?

[2022-03-23 14:11] SubhaShroff commented on #8679
### Status:
Promoted to PROD 5 days ago.

[2022-03-23 14:12] SubhaShroff commented on #7829
### Status:
PROD promoted 2 days ago.

[2022-03-23 14:18] SubhaShroff commented on #8313
### Status:
Waiting for the DEV deployment to be done.

[2022-03-23 14:19] SubhaShroff commented on #8684
### Status:
Currently I am working on it.

[2022-03-23 14:21] andrewshensky opened #8767 "Submit Request to Have AGOL User Role Upgraded"

[2022-03-23 14:25] SubhaShroff commented on #7912
### Status:
SCTASK0207789 is submitted for TEST deployment.

[2022-03-23 15:09] #8581 closed, assigned to dianamartin

[2022-03-23 15:22] ChrispinP commented on #8236
![ATD DSCP Banner](https://user-images.githubusercontent.com/67915167/159734261-edd30e56-6e0a-4cf5-9ba2-5e4472434ad3.png)

[2022-03-23 15:23] amenity commented on #8672
Added my very scrappy works in progress and design inspo to the XD board. Passing back to @patrickm02L for the XD mockup.

@amenity - post meeting pics and notes from yesterday now

[2022-03-23 15:25] atdservicebot opened #8768 "Delete "SXSW-Central Command" from Issue Types"
Parking Enterprise Portal

Delete "SXSW-Central Command" from Issue Types due to being only used during this Special Event

Flexible  — An extended timeline is OK

Shavyvonne W.

Request ID: DTS22-103695

[2022-03-23 15:26] #377 closed

[2022-03-23 15:26] johnclary commented on #377
We're using PowerBI.

[2022-03-23 15:28] TracyLinder commented on #8089
This is complete & delivered. Closing.

[2022-03-23 15:30] #1171 closed

[2022-03-23 15:31] johnclary commented on #1092
We ultimately decided the way Data Tracker inventory handles cable checkouts is sufficient for now. AMD will work on process changes outside of Knack

[2022-03-23 15:31] #1092 closed

[2022-03-23 15:32] johnclary commented on #921
We've gotten by without training laptops for 2+ years.

[2022-03-23 15:36] johnclary commented on #4982
This appears to be a dupe. We hired Patrick.

[2022-03-23 15:36] #4982 closed

[2022-03-23 15:37] johnclary commented on #4981
We hired Patrick.

[2022-03-23 15:37] #4981 closed

[2022-03-23 15:38] #8089 closed

[2022-03-23 15:39] johnclary commented on #4202
closing but will leave #5644 open

[2022-03-23 15:39] #4202 closed

[2022-03-23 15:40] johnclary commented on #805
This will be covered by [#6482](https://github.com/cityofaustin/atd-data-tech/issues/6482)

[2022-03-23 15:40] #805 closed

[2022-03-23 15:41] andrewshensky commented on #8744
@amenity - This should be okay for our current process. It might change a couple minor components on my end but I can talk with Christina to make sure this is captured properly in our current workflow. Thanks for the heads up on this.

[2022-03-23 15:43] johnclary commented on #4979
We hired Patrick.

[2022-03-23 15:43] #4979 closed

[2022-03-23 15:45] johnclary commented on #4831
This will be covered by [#data and perf](https://github.com/cityofaustin/atd-data-tech/issues/4383)

[2022-03-23 15:45] #4831 closed

[2022-03-23 15:48] johnclary commented on #4162
Done

[2022-03-23 15:48] #4162 closed

[2022-03-23 16:08] TracyLinder commented on #8379
Discovery w/ stakeholder scheduled for 3/31/22 @ 10:30

[2022-03-23 16:08] TracyLinder commented on #8535
Discovery w/ stakeholder scheduled for 3/31/22 @ 10:30

[2022-03-23 16:08] TracyLinder commented on #8018
Discovery w/ stakeholder scheduled for 3/31/22 @ 10:30

[2022-03-23 16:11] johnclary opened #8769 "Conduct customer testing for new public Banners portal"
Recruit ATD staff who are unfamiliar with the Banners process and conduct testing with them as "customers".

[2022-03-23 16:12] johnclary commented on #8769
@moorerst @dianamartin please make sure this gets done before go-live.

[2022-03-23 16:28] dianamartin commented on #8769
# To Do
## Write Test Script
- Submit Application
- v1. Do not attach Design Attachment
- v2. Attach Design Attachment

## Invite Testers
Possible testers
- Erin B - AMD
- Renee O - AMD
- Dan Brown - SDD
- Andrea Martinez - SMS
- Ryan Royal - SMS
- Paul Baldwin - MS

[2022-03-23 17:02] dianamartin commented on #8743
Checked these work orders and they were in "Issued" status
- [X] SAM19-012320
    - updated the `COMPLETED_WORK_ORDER` - No to Yes
    - updated the `COMPLETED_DATE` - `7/29/2019`
    - updated the `CLOSED_WORK_ORDER` - No to Yes
    - updated the `CLOSED_DATE` - `7/29/2019`
- SAM19-008565

[2022-03-23 17:06] dianamartin commented on #8743
Messaged user 3/23

[2022-03-23 17:50] patrickm02L commented on #8349
These meetings worked great!

[2022-03-23 17:50] #8349 closed

[2022-03-23 18:06] dianamartin commented on #8617
# Diana's Notes

HR SharePoint site
What's working, not working?
Wanted it to be more interactive, things that people request all the time

## Quick links
- Link to HR Portal
- MetroCards
- Payroll Calendar
- Human Resources Knack application - ATD Telework Form

- Deferred Comp
- Retirement Information
- HR Polices
  - Drivers Safety
  - Car accident

Currently managing the site: Adan M.

[2022-03-23 18:13] johnclary opened #8770 "AMANDA Street Closures - 3/28"

[2022-03-23 18:25] #8696 closed

[2022-03-23 18:27] alan-deanda commented on #8696
Arcade field calculation:

[code]
----
Python script to select by location and adding to selection

[code]

[2022-03-23 18:30] johnclary commented on #8698
@alan-deanda can you change `KNACK_ID` to `ID` ?

[2022-03-23 18:33] johnclary commented on #8697
Per @alan-deanda, AECOMM is going to update the tool to be compatible with ArcGIS Pro

[2022-03-23 18:41] johnclary commented on #8156
Met with Sophia—they are reviewing the data and deciding on final geometry changes to include. Sophia will schedule the next meeting to review feedback on comfort levels, probably as a work session to make live edits together to finish things up.

[2022-03-23 18:42] johnclary commented on #8407
@alan-deanda please take care of this at your earliest convenience.

[2022-03-23 18:44] alan-deanda commented on #8698
@johnclary  the field is now called `ID`

[2022-03-23 18:45] johnclary commented on #8766
### New fields in signs maint dataset
- Type of QC
- QC Status

### Attribute rules
- set status and attributes automatically based on point location

[2022-03-23 18:53] johnclary commented on #8754
Andrew has put together the basic structure for incorporating changes between AMD's data and AE's data.

Andrew will show AMD folks so that they can test it out and provide feedback.

[2022-03-23 18:55] #8743 closed

[2022-03-23 18:59] #8742 closed

[2022-03-23 19:19] moorerst opened #8771 "HR SharePoint Site Redesign"
**Goal of project:**
Redesign the current ATD HR SharePoint site to be more interactive and provide easy access to things that employees request all the time.
Be a one stop shop for all things HR.

https://cityofaustin.sharepoint.com/sites/ATD-HR/SitePages/Home.aspx

**Scope of project:**
- Provide the basic design and framework so ATD HR staff can maintain the site

- Use CTM HR SharePoint site a

[2022-03-23 19:33] moorerst opened #8772 "Design Review for HR SharePoint Redesign"
Design Review and markup for:

- Home page

- HR Resource sections

Employee
Compensation
Employee Relations (policies and procedures)

Will schedule design review meeting with stakeholder for 4/5

[2022-03-23 20:04] dianamartin commented on #8749
# Diana's Notes

## Banner Portal Updates
- [ ] "Get Started" - Program Policies, create new modal page pop-up
- [ ] Lauren to define polices here,

## Website Updates
Thinking about consolidating LPB & OTS pages to the main Street Banner page
-

### LPB Application Materials
- [ ] Change "Application Form" link, change to "Banner Portal"
- [ ] Remove link to PDF

3. Submit your online application

[2022-03-23 20:14] #7776 closed

[2022-03-23 20:28] dianamartin commented on #8768
- [x] Removed `SXSW - Central Command` from "ISSUE_TYPE_MANUAL_CREATE"
![image](https://user-images.githubusercontent.com/21112975/159789745-3972c504-af1a-4e28-9a9a-071a6723b0ad.png)

Let user know of change

[2022-03-23 20:32] #8768 closed

[2022-03-23 20:42] amenity commented on #7544
@johnclary - this is no longer relevant, right?

[2022-03-23 20:44] dianamartin commented on #7544
@amenity the statement of work has been signed and implementation kick off is supposed to be in the next few weeks,

[2022-03-23 20:51] moorerst commented on #8769
sent email to 6 potential user testers. Asked them to reply with date/time they are available for 1 hour user testing

[2022-03-23 21:15] TracyLinder commented on #8236
## Stakeholder Review - Approved for Go-live 🎉

**Updates Requested:**
- Justin will provide updated language for the Determination info button
- [ ] Rename the Determination button to 'TIA Determination'
- [ ] Rename TIA button to 'TIA: Traffic Impact Analysis'

[2022-03-23 21:15] TracyLinder commented on #8236
### Go-live Scheduled for Thursday 3/24/22.

[2022-03-23 21:22] TracyLinder commented on #8237
## Stakeholder Review
_They like it!_

- [ ] Move the **Access TIA Case** button/feature to the Customer Landing Page, and remove the page it's currently on.
- [ ] Add **Access TIA Case** to the nav. menu
- [ ] Update TIA application submittal confirmation page to include the access code
- [ ] Update the customer confirmation email w/ the access code
- [ ] Update TIA Case Details w/ the access cod

[2022-03-23 21:23] TracyLinder commented on #8237
@ChrispinP just FYI i updated the issue name to include _access code_

[2022-03-23 21:27] TracyLinder commented on #6103
@Nadin-Nader let's discuss closing this. 🎉

[2022-03-23 21:37] TracyLinder commented on #7829
**Status:** Nate requested stakeholder verification of PROD completion on Monday 3/21. Pending stakeholder verification feedback.

[2022-03-23 21:37] #8034 closed

[2022-03-23 21:50] patrickm02L commented on #8129
Want to get this onboard 4/6/22, with help from @Charlie-Henry.

[2022-03-23 21:59] KaroEngstrom commented on #8686
3/23
- [x] Checked another set of items against the Open Data List and Data Inventory - total QC count now 59/79

[2022-03-23 22:10] SubhaShroff commented on #8313
@Nadin-Nader  @TracyLinder  The fee amount for ATD-SUB-Construction Plan Non-Concurrent (83425) is changed to $2810 as suggested.

[2022-03-23 22:16] ChrispinP commented on #6965
Mitigation data as clean as its gonna get I think without fixing capitalization and grammar errors. Will begin working on the full case list to see if any cases are missing and need to still be imported into Knack.

[2022-03-23 23:03] SubhaShroff commented on #8693
@Nadin-Nader  I tested this ticket on TEST for EX. It works as expected. Ready for UAT.

[2022-03-24 03:31] amenity commented on #7544
@dianamartin - my bad, I was thinking of Stripe! So we are intending to use this in the new Banner app?

[2022-03-24 04:25] amenity opened #8773 "[Spike] Replace "Projects" page table with Material Table"
How might we allow users to leverage the advanced filtering functionality that Grid Table gives us with the fully-featured and more flexible rendering capabilities of Material Table?

Use the search bar from Grid Table as a query builder and (either on the same page, or on a different page) pass all columns from all returned rows to Material Table to render. User can then [toggle columns](https://

[2022-03-24 07:39] amenity commented on #8672
semi-functional XD prototype [here](https://xd.adobe.com/view/2c9892e4-a5c6-4870-be4c-689289547678-79cb/grid).
![Dashboard - Modal - Milestones](https://user-images.githubusercontent.com/1463708/159866110-81c125dc-ebae-4c7d-8b11-5d4ae7042872.png)
![Dashboard - Modal - Phases](https://user-images.githubusercontent.com/1463708/159866117-96121fa2-9377-4ecf-aa72-95587dc5d03e.png)
![Dashboard](https://

[2022-03-24 07:43] amenity opened #8774 "[Feature] Personalized Dashboard"
As a Moped project team member, I want to easily track and update projects I am working on so that I can keep project data current in an efficient, intuitive way.

This will exist at the "Dashboard" link.

**In-scope**
Basic implementation:
- My projects - links to the Project Summary for each projects I am a team member on
- Quicklinks to most-used views (right now the only option will be the "Si

[2022-03-24 14:08] frankhereford opened #8775 "Crashes are not being delivered and imported from CRIS"
During the daily downloading of CR3s, for the past 3 mornings, I have observed no new crashes having been imported into the system. I recommend that we investigate what is holding up this integration by looking into the CRIS SFTP endpoint, the CRIS query / export itself, and the ETLs used to import that data. When the problem is understood and then resolved, a query to backfill crashes should be e

[2022-03-24 14:19] frankhereford commented on #8775
Our `transportation.data@austintexas.gov` CRIS account which houses the CRIS queries that send us data daily extracts of data has been disabled, presumably from not logging into it frequently enough.

I am going to ask @mateoclarke if it's alright if I call them to resolve it. He has handled this type of communication in the past, but I'm interested in picking up that task if that's a workable rou

[2022-03-24 14:26] patrickm02L commented on #8672
Looks good. The modal edges could be rounded a bit more, and I think you a close button should be added. Though you can probably close by clicking off the modal, I can imagine an "X" button will help navigate that action with intentionality.

<img width="519" alt="Screen Shot 2022-03-24 at 9 21 24 AM" src="https://user-images.githubusercontent.com/5566727/159937657-255b4fa7-f700-4a94-adc7-39826b0b

[2022-03-24 15:26] andrewshensky opened #8776 "Add Attachments to Layer in Shared Mobility Viewer"

[2022-03-24 15:31] Nadin-Nader commented on #8684
@SubhaShroff Just in case you still need it, Here is Paloma's response:

[Tuesday 5:28 PM] Amayo-Ryan, Paloma

I believe we were hoping it would be the whole folder.  (This particular ticket was triggered by the extension issues which were occurring - in part - due to older folders not having the new info field on the Info tab.)  Since any/all additions to a folder have the potential to impact our

[2022-03-24 15:35] frankhereford commented on #8775
I spoke with Mateo on slack, and he gave me a 👍 to call CRIS. I did so, and they were not willing to discuss the account with me, as my name was not associated with the account at creation.

@mateoclarke, I'm afraid they want to speak to you. The representative that I spoke to asked me to pass along that they would want to know that it's an _extract_ account as well.

Sorry I wasn't able to pick t

[2022-03-24 16:44] mateoclarke commented on #8775
I called in and was able to successfully request that they re-enable the account. I'm going to make sure to add you to the reminder to for periodic login Frank. Hopefully that helps mitigate this issue going forward. Here is my support ticket number: #CRIS286871

[2022-03-24 16:51] dianamartin commented on #7544
@amenity yes, this is what we're hoping for the future of banner payments rather than AMANDA

[2022-03-24 17:37] atdservicebot opened #8777 "Update Technician - Indirect cost to include several more decimal places"
Signs & Markings Operations

Need to update Technician - Indirect cost to potentially include several more decimal places. Price needs to be 90.4334007692308 to match up with the FY22 cost calculator that was created by Finance.

We ran into a situation with invoicing where the backup documentation for finance didn't match with the amount we invoiced. Ramona and Kati looked into the problem and fo

[2022-03-24 19:57] ChrispinP commented on #8236
Customer Portal is now Live. Emailed Stakeholders.

[2022-03-24 19:59] andrewshensky opened #8778 "GIS Modernization Meeting"

[2022-03-24 20:01] andrewshensky commented on #8778
Survey to be sent out March 28th

Watershed has upgraded user to 2.9.1

![image](https://user-images.githubusercontent.com/80716478/160000184-035a3723-3abe-40e1-baf7-833419e7166c.png)

[2022-03-24 20:01] #8778 closed

[2022-03-24 20:02] andrewshensky commented on #8776
Option to view attachments has been added to specified layer

[2022-03-24 20:02] #8776 closed

[2022-03-24 21:06] ChrispinP commented on #8237
Prepared TIA Case Details, TIA Reviews, Customer Portal, and Access Code pages for the implementation of the Access Code. Remaining changes must occur for Go Live.

Ready to review

[2022-03-24 21:21] dianamartin opened #8779 "Configure Attachments"
There are 12 attachment requirements

Initially configured three options:
Option | Type | Pro | Con
-- | -- | -- | --
1 | Table view - Patrick suggested | easy to read | lag time and related table
-- | Can separate how many child records get created by splitting up trigger to create records, some on Pg 1, some on Pg 2
2 | Separated, filtered table view | very separated to see section | overkill?
3

[2022-03-24 21:31] dianamartin commented on #8779
Showed stakeholders 3/24, we talked about going the table view route. I said I'd like to try the embedded attachments on the attachment to see what that's like too.

[2022-03-24 21:32] KaroEngstrom commented on #8686
3/24
- [x] Completed the first pass of QC 79/79 comparing the Public 79 list to the Open Data List and Data Inventory

[2022-03-24 21:37] dianamartin commented on #8512
# Feedback Enhancement Notes from 3/24

## CSR & Work Order modules
- [ ] Add Attachment Activity - Provider
- Make this required element for provider

Close (Resolved) Activity
- [ ] Create new "Close Comment" field, make required
- [ ] Create record rule
- [ ] Copy "Close Comment" to "Activity Comment"

## Testing Scenarios
CSR - Send to Other
- Have the ability to create multiple work orders
-

[2022-03-24 21:38] SubhaShroff commented on #8684
@Nadin-Nader @TracyLinder Based on Paloma's response and my analysis, here are the points I want to bring to your notice:
1. Please observe the screenshot on Amanda with 'Redefault' button click. It will redefault - Property, Info, Document, Fixture, Process, File & Milestone and these are selectable. I am not sure if you want all these tabs to be defaulted.
2. Since we are trying to do it program

[2022-03-24 21:42] ChrispinP opened #8780 "[TDS] Enhancement: Update TDS Connected Cases Feature"
I'd like to update the Connected Cases Feature to replace the inline editing with the improved icon + form layout instead. This will improve readability that the field is editable.

Currently:
![image](https://user-images.githubusercontent.com/67915167/160014745-30febbcd-77bf-48de-8453-beb9cd503b53.png)

Improved:
![image](https://user-images.githubusercontent.com/67915167/160015058-eb5849eb-f061-

[2022-03-24 21:54] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - DEV DP for https://github.com/cityofaustin/atd-data-tech/issues/6031 submitted. Kindly approve and create task id for me. This will resolve the email triggering

Here is the Commit ID: [8d0a1d656fb6](http://coaamandadevops01.austintexas.gov/R3:8d0a1d656fb65fc97b72e93af9663e099a011b1a)

[2022-03-24 21:57] Sreelatha-BlazeKannan commented on #6032
@Nadin-Nader , @TracyLinder - Submitted #6032 DEV DP. Kindly approve and create task id for me.

Here is the commit id: [355395df49a2](http://coaamandadevops01.austintexas.gov/R3:355395df49a26c0d828019634c77040340e49dd3)

[2022-03-24 22:09] TracyLinder commented on #8236
We'll leave this open for bug support until 4/1. Good work @ChrispinP !

[2022-03-24 22:12] TracyLinder commented on #7689
**Email from Priya:**

Good Morning.

The estimate to complete 8725, 8728, 8731, 8732 is 1 week.

I have few questions/clarifications regarding 8726, will discuss with Vishwa and provide estimate.

----
#8725
#8728
#8731
#8732

[2022-03-25 12:28] Lpriya-LIT commented on #8232
![image.png](https://images.zenhubusercontent.com/611eac1954217f265acc0499/d95fabc2-ef23-4100-9963-3352f262d22e)

[2022-03-25 12:28] Lpriya-LIT commented on #8232
![image.png](https://images.zenhubusercontent.com/611eac1954217f265acc0499/1ae657e2-53c4-4ed0-86c3-38ef6cde1acd)

[2022-03-25 12:29] Lpriya-LIT commented on #8232
@Nadin-Nader Added the extension dates in comment and folder description. Please refer the screenshots and let me know whether it looks good.

[2022-03-25 12:36] Lpriya-LIT commented on #7672
![image.png](https://images.zenhubusercontent.com/611eac1954217f265acc0499/8bb771e4-a541-4775-88eb-3b9a98e65e2d)

[2022-03-25 12:37] Lpriya-LIT commented on #7672
@Nadin-Nader Updated the fee amount for 75300 from 250 to 50

[2022-03-25 14:28] SubhaShroff commented on #8313
@Nadin-Nader  The change is deployed in TEST and looks good for UAT.

[2022-03-25 15:05] #8775 closed

[2022-03-25 15:19] ChrispinP commented on #8748
Advanced Search page updated to meet report parameters and cleaned up the page. Zone, Permit Application, and Permit records updated with Zone information for searchability. 2 dates added so 'In Between' searches can be completed. Also added Advanced Search to the menu since it was missing and only accessible from the home page.
![image](https://user-images.githubusercontent.com/67915167/160149177

[2022-03-25 15:19] atdservicebot opened #8781 "Erin B. requesting access to Data Tracker"
Data Tracker

Brian Craig suggested that I request access to SMD's Data Tracker page/dashboard.  I will be working with other AMD staff to determine changes we would like made to our work tickets in Data Tracker and it would be helpful to see how SMD currently has theirs set up.  I simply need "view only" access to their work tickets (and the tab/page that will get me there).  Please let me know i

[2022-03-25 15:36] amenity commented on #8777
@dianamartin - can we extend to 13 decimal points in Knack?

[2022-03-25 16:29] andrewshensky opened #8782 "Update Sign Data from Work Orders"

[2022-03-25 16:32] andrewshensky commented on #8782
Features Mapped in Maint
Signs: 2155 -> 2345
Locations: 924 -> 1008
Sign Features Needing QC
Installs: 778 -> 840
Removals: 489 -> 542
Outliers: 216 -> 229

[2022-03-25 16:33] #8782 closed

[2022-03-25 17:02] TracyLinder opened #8783 "Bug: Remove Parking Free-form from PROD (On PROD🎉🎉)"
### The Parking Information free-form tab on the RW folder has been promoted to PROD somehow. This hasn't been approved for release and we need to roll it back.

![image](https://user-images.githubusercontent.com/49930868/160168353-0c445fe8-b377-4733-ba68-6526773d2b6f.png)

[2022-03-25 17:05] Nadin-Nader commented on #8684
@SubhaShroff below is Paloma's response. The last question she referred to Tracy. I asked her and i am waiting on a response:

[2022-03-25 17:09] TracyLinder commented on #8783
@Nadin-Nader FYI i just created this & put it in the backlog. I'm not sure how the free-form got to PROD or how long it's been there. Maria just reported it to me yesterday.

[2022-03-25 17:18] Nadin-Nader commented on #8684
@SubhaShroff here is Tracy's response:

[2022-03-25 18:59] johnclary opened #8784 "Compile list of ATD-managed sub/domains"
The ISO needs a list of domains we manage so that they can add security monitoring to them.

Domains Managed by CTM:
- mobility.austin.gov
- visionzero.austin.gov

Domains Managed by ATD in AWS Route 53:
- austinmobility.io
- austinmobility.org
- austinmobility.net
- getthereatx.org
- getthereatx.com
- getthereaustin.com
- getthereaustin.org
- gosmartaustin.net
- gosmartaustin.org
- smartcommuteau

[2022-03-25 19:30] dianamartin commented on #8781
I will have user reach out to Christina T. for access to SMD

[2022-03-25 19:59] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan This has been Sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0208471**

[2022-03-25 20:06] #8555 closed

[2022-03-25 20:20] Nadin-Nader commented on #6255
All is well per Paloma. Closing

[2022-03-25 20:20] #6255 closed

[2022-03-25 20:21] Nadin-Nader commented on #7673
All is well per Paloma. Closing

[2022-03-25 20:21] #7673 closed

[2022-03-25 20:21] Nadin-Nader commented on #7673
All is well per Paloma. Closing

[2022-03-25 20:22] Nadin-Nader commented on #7283
All is well per Paloma. Closing

[2022-03-25 20:22] #7283 closed

[2022-03-25 20:33] Nadin-Nader commented on #6032
@Sreelatha-BlazeKannan  I have sent this over to the DevOps CM Team to be deployed **_DEV_** under **SCTASK0208477**

[2022-03-25 20:35] chiaberry opened #8785 "Update oracle-py docker base image"
atd-finance-data's docker build is failing because it is dependent on another image that is out of date.

atddocker/atd-oracle-py:production

https://github.com/cityofaustin/atd-finance-data/pull/13/files

[2022-03-25 20:40] Nadin-Nader commented on #8313
Sent a chat to Zach asking him for permissions to send this to PROD.
Waiting response

[2022-03-25 20:42] andrewshensky opened #8786 "Internal RAS Data Meeting"

[2022-03-25 20:42] Nadin-Nader commented on #8313
@SubhaShroff Zach gave permission to Push this to **PROD**🎉🎉

[2022-03-25 20:44] andrewshensky commented on #8786
SMB to continue QCing pilot data through next week
Christina to schedule meeting for next week to review QC findings
Removals with poles can be pushed to Maint
Next week we will demo updated Maint QC process with attribute rules

[2022-03-25 20:44] #8786 closed

[2022-03-25 20:46] Nadin-Nader commented on #8693
##  Approved for PROD🎉🎉

[2022-03-25 21:15] alan-deanda opened #8787 "TCAD?WCAD Documentation"
Wiki found [here](https://atd-dts.gitbook.io/atd-geospatial/miscelaneous/tcad-wcad-land-values-data-process)

[2022-03-25 21:21] #8785 closed

[2022-03-25 21:36] SubhaShroff commented on #8684
@Nadin-Nader  @TracyLinder  SCTASK0208499 is submitted the DEV deployment request.

[2022-03-25 21:42] dianamartin commented on #8500
Sync'd with Christina and tested in Test environment to see if a display rule was broken or a page rule needed to be adjusted.
- Researched if we could find old request for "Assigned To"
- Removed hidden setting for "Jobs Editable" table
- Applied filter to "Issued To" field on table
- Added field "Issued To" on Manage Schedule and Edit Schedule form
- Applied filter to "Issued To" field on table

[2022-03-25 21:53] SubhaShroff commented on #8693
@Nadin-Nader SCTASK0208504 is submitted for PROD deployment.

[2022-03-25 22:06] amenity commented on #8756
In other apps:
![Screen Shot 2022-03-24 at 12 22 11 PM](https://user-images.githubusercontent.com/1463708/160208555-2b92bcd2-fad9-46cf-a41e-e31cb59186e9.png)
![Screen Shot 2022-03-24 at 12 19 23 PM](https://user-images.githubusercontent.com/1463708/160208556-a0669c65-de30-4b0f-8b30-66f2330e30f8.png)

[2022-03-25 23:15] amenity commented on #8777
@dianamartin - nice, sounds straightforward and I see that you gave it a 1. Setting to next sprint, but feel free to do/assign this earlier!

[2022-03-26 21:00] #8441 closed

[2022-03-26 21:01] #7781 closed

[2022-03-26 21:16] johnclary opened #8788 "Migrate Knack Geospatial UI to DTS AWS"
The Knack signs [geospatial UI](https://github.com/cityofaustin/atd-knack-signs-markings) is currently (partially?) hosted on the DTI AWS. I see a cloudfront distro and an S3 bucket. These resources need to be migrated to DTS AWS.

As well, the CI uses CircleCI. Can we move that to Github actions?

[2022-03-26 21:18] johnclary commented on #8788
@mateoclarke @amenity we're under pressure to get this done. Can you estimate effort and timeline so that we can negotiate that with CTM?

[2022-03-26 21:19] johnclary opened #8789 "Migrate from DTI to DTS AWS"
1. create new legacy postgrest cluster
- export schema. can leave records behind? consider the traffic reports DB....
- move to knack-services cluster in a new database
- deploy postgrest to knack services bastion
- configure load balancer, SSL, and CNAME
2. list of austintexas.io redirects:
- transportation.austintexas.io -> data.mobility.austin.gov
3. [Migrate geospatial UI](https://github.com/c

[2022-03-28 15:14] Nadin-Nader commented on #8034
[9:46 AM] Lozano, Jaclyn
Hey Nadin finally found someone who can process payments. They said the check payment worked.

[2022-03-28 15:18] dianamartin commented on #8769
@moorerst are we good with only 3 testers?

[2022-03-28 15:20] Nadin-Nader commented on #8232
@Lpriya-LIT looks good to me, Please send to DEV

[2022-03-28 15:50] frankhereford opened #8790 "Database: Drop `moped_types.type_order`"
We are using the [`moped_types` table](https://db-docs.austinmobility.io/atd-moped-production/tables/moped_types.html) in differently than the way it was initially designed. In our iteration, many projects share the same type, so columns that store project-specific type information are illogical and should be dropped for clarity.

- [ ] Remove `type_order`
- [ ] Remove `on_street`
- [ ] Remove `se

[2022-03-28 16:25] dianamartin commented on #8675
Planning to sync with user at 4 pm, 3/28

[2022-03-28 16:27] dianamartin commented on #8781
Christina emailed 3/25

Erin replied

[2022-03-28 16:27] #8781 closed

[2022-03-28 16:31] dianamartin commented on #8500
Christina will meet with Esteban to get final feedback

[2022-03-28 17:14] SubhaShroff commented on #4822
1. I assume its COMPLETE attempt but not APPROVED, as there is no approved attempt with Maintenance Agreement Process (83728). Please confirm on that.
2. Assuming its COMPLETE attempt, I checked the code for it. With this attempt, the system triggers ISSUE procedure of the PSM permit. This procedure is updating the expiry date along with the following validations :

- if SubCode is Street Patio or

[2022-03-28 17:45] andrewshensky opened #8791 "Add Location Status Field to Asset Locations"
Add LOCATION_STATUS field to track if a location is Active or Inactive. This field is present for signs but needs to be included for locations as well.

[2022-03-28 18:18] mateoclarke commented on #8788
Yeah, sounds good. I need to poke around here and re-familiarize myself with the stack. I'll make some notes and add an estimate.

[2022-03-28 18:18] amenity commented on #3883
@johnclary - do you have the link to that dashboard?

[2022-03-28 18:36] SubhaShroff commented on #8684
@Nadin-Nader  DEV Manual deployment request for the Batch Job is submitted - SCTASK0208880.

[2022-03-28 18:48] andrewshensky opened #8792 "Review/Update Processing Models to Incorporate QC Fields"
The addition of the QC fields and attribute rules have changed how some fields need to capture data through the models. This needs to be reviewed and changes need to be accounted for.

[2022-03-28 18:59] patrickm02L commented on #7178
Rather than creating another Page for the FTT, and discussions with the Vision Zero team we decided to see if we could roll into improvements into the existing crash page.

[2022-03-28 20:46] johnclary opened #8793 "[BUG] Task order ETL fails with unexpected null values"
Our task orders DB view was updated to include task orders from dept `6000`, and~10 of these new task orders unexpectedly have null values for `TASK_ORDER_STATUS` and `TASK_ORDER_DESC`.

I searched eCapris and the Controller's office for such task orders, and they are no where to be found. I think it's safe to assume these task orders were cancelled/not intended for use by anyone.

I've reached ou

[2022-03-28 21:14] #8770 closed

[2022-03-28 21:24] #8632 closed

[2022-03-28 21:29] dianamartin commented on #8675
# Sync Notes 3/28
- showed him the Work Plan page
- he mentioned having a page that shows the zone and the CURRENT YEAR assignment
  - CURRENT YEAR - system/corridors
  - NEXT YEAR
- Keep "Option 1"
- [ ] Add Start Time to form
- [ ] Add Engineer Name to table "Re-timings"

Will email or sync with changes

[2022-03-28 21:32] Nadin-Nader commented on #7912
This has been sent to the DEVOPS CM Team to be deployed to **_PROD_** Under **SCTASK0208760**

[2022-03-28 21:34] Nadin-Nader commented on #6032
@Sreelatha-BlazeKannan this has been deployed to **DEV** Please UAT

[2022-03-28 21:35] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan this has been deployed to **DEV** Please UAT

[2022-03-28 21:44] alan-deanda commented on #8407
fields have been removed from MAINT.

[2022-03-28 21:47] dianamartin commented on #8675
Messaged user 3/28

[2022-03-28 21:51] chiaberry commented on #8620
Other major packages that could be upgraded. Still need to research more the ramifications and changelogs:
react-scripts (3.4.4 -> 5.0.0)
react-router (6.0.0beta -> 6.2.2)

[2022-03-28 22:07] Nadin-Nader opened #8794 "Bug: System Report (50510) Date Errors with EX - Extension Granted (On PROD🎉🎉)"
Report (50510) ROW Performance Summary Report is not showing all of the dates on the printed report.

-  System should be using all 4 Date fields for the INFO tab:
   -  Estimated Start Date, Estimated Completion Date, Extended Start Date and Extended Completion date
-  System Should hide the Extended Date fields (Not showing on the report) when they are null or the permit has not been extended

[2022-03-28 22:10] ChrispinP commented on #8760
Fiscal data is now updated for all TCP Project and Submission records. I added FY21 and FY22 filters to the Resubmittal Chart.

![image](https://user-images.githubusercontent.com/67915167/160495136-c2a8f7a6-732d-40d6-9d72-eb79627625df.png)

Can update reporting filters for any other reports that need them. Need to inquire if YTD metrics are still valuable or if both YTD and FY data should be prese

[2022-03-28 22:26] Nadin-Nader opened #8795 "BUG: ROW TURP Usage fees Descriptions are the same and need to be distinguished from One another (On PROD🎉🎉)"
BUG: ROW TURP Usage fees Descriptions are the same and need to be distinguished from One another.

On the Insert Menu
-  System should append a comment/Pop Up Comment to the "Duplicate" Usage Fee to differentiate between Extensions and the original fees.
-  Comment on the additional fee should say what the fee is for (example: "Extension Fee")

![Usage Fees.png](https://images.zenhubusercontent.co

[2022-03-28 22:28] Nadin-Nader commented on #7829
Closing Card as the only issues with this was the fact that the Usage fees needed some to have a comment showing what the fee is for. This is on card #8795

[2022-03-28 22:28] #7829 closed

[2022-03-28 22:32] Nadin-Nader commented on #8671
This has all been resolved except for the fact that all the dates need to be shown in the report (56210). A card was created for it # 8794.

closing this one

[2022-03-28 22:32] #8671 closed

[2022-03-28 22:59] johnclary commented on #8407
thanks Alan! @amenity FYI

[2022-03-28 23:30] amenity commented on #8790
Hmm... We should check what these values currently are in Access. I have a feeling we might be using this table in a different way than JD intended.

@frankhereford - [here's](https://drive.google.com/file/d/1w6-NHlCUZvlpIi64IYLx01RqVjx2zi7V/view?usp=sharing) an old `.mdb` export of the database. I can ask Nathan for a new one, if you want.

@johnclary - is ☝🏻 how you usually inspect IMPDB data? A

[2022-03-29 00:49] amenity commented on #8788
Thanks @mateoclarke! I'm sticking it in [the Product Sync doc](https://docs.google.com/document/d/1hWzg-qluRBrTetEGjg_eHrR9qT4IqenaUgk6FR6APbU/edit#) for this week for prioritization. Feel free to move to "Future weeks" if you want more time to size it.

[2022-03-29 14:23] amenity commented on #8500
Esteban reviewed and was happy with the state of this feature as a starting point. Christina is going to submit a few more requests for enhancements.

[2022-03-29 14:23] #8500 closed

[2022-03-29 14:26] amenity commented on #8150
Christina hasn't had time to review. @dianamartin - please schedule time.

[2022-03-29 14:28] andrewshensky opened #8796 "Submit CTM Request to have Fields removed from layer in DM"

[2022-03-29 14:30] #8796 closed, assigned to andrewshensky

[2022-03-29 14:39] amenity commented on #3289
@johnclary - I'd like to go through this project with you and SMB before you leave. It sounds like some of the issues aren't obsolete. If you think it's going to need lots of Knack work, we can loop in Chia!

[2022-03-29 14:41] #8748 closed

[2022-03-29 14:53] Nadin-Nader commented on #8795
![Usage Fees.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/d64ee626-8983-43f6-87f7-75076ad769e6)

[2022-03-29 14:54] amenity opened #8797 "Support SMD tablet evaluation"
Priority evaluation criteria:
- Airwatch launcher performance
- Attachment usability (need to be able to view in browser; currently downloads)
- Run through signs work order process to compare general web-app performance & usability differences and Knack compatibility

[2022-03-29 15:11] moorerst commented on #8134
Update from ISO team: Thanks so much for reaching out, Stephanie. Karl was going to reach out with a few questions, then we should be ready to go. Good news – we were able to get an Active Directory entry for our conference room, so it can now be a schedulable resource (that will be one of his questions). 😉 He’s going to be out for the next couple of days, but he / I will reach out then.

[2022-03-29 15:12] moorerst commented on #7348
Update from ISO team: Thanks so much for reaching out, Stephanie. Karl was going to reach out with a few questions, then we should be ready to go. Good news – we were able to get an Active Directory entry for our conference room, so it can now be a schedulable resource (that will be one of his questions). 😉 He’s going to be out for the next couple of days, but he / I will reach out then.

[2022-03-29 15:15] patrickm02L commented on #8652
Duplicate with 8651.

[2022-03-29 15:15] andrewshensky opened #8798 "Research/Respond to Street Segment Question from AE"

[2022-03-29 16:10] TracyLinder commented on #8728
It's ok to label this column **Freeform RSN**

[2022-03-29 16:11] TracyLinder commented on #8731
Bill should be payable for all SIF folder statuses.

[2022-03-29 16:50] TracyLinder commented on #7689
### Core Team Sync 3/29
_Tracy, Priya_

- Went through all SIF cards AC & answered any outstanding questions for Priya.
- She's still working on these. When she's done she will promote up to dev, show us, then promote to test.

[2022-03-29 16:53] dianamartin commented on #8150
We are tentatively planning for Wed afternoon 3/30

[2022-03-29 16:55] dianamartin commented on #8797
I have messaged Danny (CTM) 3/29

[2022-03-29 18:00] Charlie-Henry commented on #8793
I know we have a PR fixing this but for the sake of completion, this is also affecting `s3_to_socrata`

[code]

[2022-03-29 18:03] #8734 closed

[2022-03-29 18:35] #8793 closed

[2022-03-29 19:00] TracyLinder commented on #8529
**Criteria**

- SP, C8, TIA applicants from past 3 years

1. Pull AMANDA data
2. Compare to DSD's outreach list & remove duplicates
3. Send to SIF PIO team chat.

[2022-03-29 19:11] Nadin-Nader commented on #7672
@Lpriya-LIT this has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0209183**

[2022-03-29 19:16] Nadin-Nader commented on #8232
@Lpriya-LIT this has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0209185**

[2022-03-29 19:23] dianamartin commented on #8573
Diana's Meeting Notes

Tracking Employees Daily Activity - audit purposes
Seeing what work is happening
- Confidentiality
- Employee Relations
- Leave Management
- Compensation

## How much details?
Give specifics:
- Daily Tasks
- Task Details
- Submit by 9 am the following morning
- Status: Un-reviewed/ Reviewed?
- Reviewed Date:
- Reviewed By:

"HR Work Log" for staff
"HR Work Log Approval"  - H

[2022-03-29 19:29] TracyLinder commented on #8529
**Current Query (_working_)

Select f.FOLDERRSN, fp.PEOPLERSN, f.FOLDERTYPE, p.REFERENCEFILE, p.ORGANIZATIONNAME, p.NAMELAST, p.NAMELAST, p.EMAILADDRESS
From folder f, FOLDERPEOPLE fp, PEOPLE p
Where f.FOLDERTYPE = 'SP'
And f.INDATE > '20-MAR-22'
And fp.PEOPLECODE = 1
And f.FOLDERRSN = fp.FOLDERRSN
And fp.PEOPLERSN = p.PEOPLERSN;

[2022-03-29 19:32] Nadin-Nader commented on #8035
I asked Jaclyn about this and i am waiting on a response

[2022-03-29 19:46] moorerst commented on #8573
Other features to consider:

- Ability to email employee regarding a specific entry

- Reporting:

  - Ability to export
  - Filter by timeframe
  - Filter by employee

- May have a need to categories in the future (I think this would be good to have)

  - Employee Relations
  - Leave Management
  - Compensation

[2022-03-29 19:50] amenity commented on #8558
@frankhereford @tillyw - in planning we discussed that it would be easiest to remove this column. Additionally, if all goes well with @chiaberry's work on #8773.

[2022-03-29 20:09] moorerst commented on #8769
[Usability Testing Feedback](https://docs.google.com/document/d/1cPHWUrOAl34z6KnpQe3sLtpRNJ7SNtufSXt2Iz7VOiU/edit#)

[2022-03-29 20:31] moorerst opened #8799 "Enhancement: HR Work Log Prototype"
Add new enhancement to the HR portal
Develop a prototype

HR Work Log page(s):

**- Tracking Employees Daily Activity:**
audit purposes
see what work is happening
prioritize work

**- Employee will enter task updates daily**

**- Task details will be entered by 9am for the previous day**

**- Need to capture**
entered date/time
entered by
task details (freeform text)

**- HR Admin will review task

[2022-03-29 20:57] TracyLinder commented on #8529
Data pulled, duplicates removed, & link sent to SIF PIO team chat.

[Here](https://cityofaustin-my.sharepoint.com/:x:/g/personal/tracy_linder_austintexas_gov/EVYBWjsZeDBGmy5eLnzKEgUB3hOd8qwx0axuadAWcyjGGQ?e=yTVjJw)

[2022-03-29 20:57] dianamartin commented on #8777
Christina messaged 3/29

[2022-03-29 21:14] #8672 closed

[2022-03-29 21:34] Sreelatha-BlazeKannan commented on #6728
@Nadin-Nader , @TracyLinder - DEV DP submitted. This will fetch 50698 (Austin Energy) in our report. And also tried to put another fix to resolve the mismatch issue. This can be tested only in TEST/PROD. Kindly approve and create a task id for me.

Here is the commit ID: [9ac89a7bebee](http://coaamandadevops01.austintexas.gov/R3:9ac89a7bebee878dcdbee13c57c2c368f793c2c4)

[2022-03-29 21:54] amenity commented on #8733
### 3/29 internal meeting to review request
@andrewshensky @mateoclarke @Charlie-Henry @amenity

**Now**
- Andrew is building in ArcGIS and checking in periodically with Anna and Laura
- Their initial ask was [project-counts-per-EAZ broken up by type](https://user-images.githubusercontent.com/1463708/160698732-4c647f57-247d-4827-9695-266ad4c59ebb.png)
- ☝🏻  problematic because big projects might j

[2022-03-29 22:27] Sreelatha-BlazeKannan commented on #6030
@Nadin-Nader , @TracyLinder -  #6030 DEV DP submitted. This order 2 commit is to fix the Folder status from Pending Permit to Pending when Subcode – Street event for RW folders.

Kindly approve and create task id for me. Commit ID: [cb3c789415cd](http://coaamandadevops01.austintexas.gov/R3:cb3c789415cdb8800786354b8e5a6cbd570a674b)

[2022-03-29 22:51] ChrispinP commented on #6965
514 TIA Cases have been successfully imported.

This issue is now complete. Next we update the Geo records and then prep Mitigations for import thereafter.

[2022-03-30 14:08] patrickm02L commented on #7178
Latest comp rolling in data from previous FTT designs. Includes: new narrative section, persons section now has extra information, and the other details sections have become tabs in the accordion.

![Crash with FTT details and accordion layout.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/d79ea50d-aee1-4b04-b4f5-47dc2a159a5e)

[2022-03-30 14:09] #7178 closed

[2022-03-30 14:16] frankhereford commented on #8558
Closing sounds good to me. Thanks!

[2022-03-30 14:57] #8250 closed

[2022-03-30 14:57] patrickm02L commented on #8250
Was something we created for Sergio to do before he left. It didn't happen.

[2022-03-30 15:45] chiaberry opened #8800 "Upgrade react-hook-form to v7+"
After upgrading to react 17, we got this warning

[code]

Little-state-machine is a dependency of `@hookform/resolvers` and `@hookform/devtools` which are tools that we use in conjunction with `react-hook-form`. In order to get everything up to the react 17 peer requirement, we need to update react-hook-form to version 7, which introduces breaking changes.

https://react-hook-form.com/migrate-v6-t

[2022-03-30 16:19] #7402 closed

[2022-03-30 16:47] andrewshensky opened #8801 "Internal RAS Data Meeting"

[2022-03-30 16:51] andrewshensky commented on #8801
- SMB working on documenting data issues found in pilot data for RAS
- Demoed new QC workflow
- Discussed nuance of removal data and how to incorporate into maint data
- Briefly discussed plans for future workflow for signs in general
- Brief demo of survey123 workflow I had previously outlined

[2022-03-30 16:58] moorerst commented on #8573
created new issue for developing prototype. Will schedule a follow up meeting for 2 weeks

[2022-03-30 16:58] #8573 closed

[2022-03-30 17:23] moorerst opened #8802 "HR Work Log Prototype Demo"
We recently met with Nathan to review his request for a tool to track employee productivity.
We are calling this tool the HR Work Log.
After gathering his requirements we have been developing a prototype, we would like to demo the prototype during this meeting.

Sprint review meeting scheduled 4/15

Review enhancements captured in issue #8799

[2022-03-30 17:27] moorerst commented on #8772
@KaroEngstrom you can log/track your SharePoint redesign task on this issue.

[2022-03-30 17:33] moorerst commented on #8769
Completed user testing with 3 testers. Combined the feedback into a comprehensive document that we will review with the stakeholders in meeting scheduled 3/31

[2022-03-30 17:37] Nadin-Nader commented on #8035
@SubhaShroff this is the Teams Chat with Jaclyn:

**[2:37 PM] Lozano, Jaclyn**
What security group is the Mobility Bond under? What security group is a process like AT&T(SWBT) 51142 under?
**[2:38 PM] Lozano, Jaclyn**
An email reply? Would that process be sending out an email? No additional fees for that process

**[Yesterday 2:50 PM] Shroff, Subhashini - Vendor**
Mobility Bond is under Review PRO

[2022-03-30 17:39] moorerst commented on #8617
created new issue #8772 to mock up test SharePoint site and review updates with stakeholder

Follow up meeting scheduled for 4/5

[2022-03-30 17:59] amenity commented on #8558
Cool. Pulling it down to a two to represent the time @tillyw put in sola and y'all's pairing. 🙏 Thanks

[2022-03-30 18:09] SubhaShroff commented on #8693
@Nadin-Nader  @TracyLinder  this ticket is deployed in PROD.

[2022-03-30 18:11] patrickm02L opened #8803 "Add Review Page"

[2022-03-30 18:11] moorerst opened #8804 "Manage preliminary real-time road closure vendor procurement process"
Need to get guidance on moving forward with vendor evaluations

3/30 - met with Ken and Dan w/ATD Finance

Provided overview of what the project is and what we want to accomplish:

- The high level goal of the project is to have suite of tools which enable City staff to manage notifications and push road closure notifications to the public and navigation app providers.

- This project has been sco

[2022-03-30 18:11] patrickm02L opened #8805 "Add Splash page"
Create splash page for new applicants that outlines the steps of the application.

- Application Information
- Past Performance
- Attachments
- Review
- Payments

[2022-03-30 18:16] vschandramouli commented on #8674
Updated AC. Ready for Backlog.

[2022-03-30 18:17] Nadin-Nader commented on #6728
@Sreelatha-BlazeKannan  this has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0209457**

[2022-03-30 18:19] amenity opened #8806 "Implement "Project status" edit modal"
Implement "on-page" editing: When user clicks on field, the (single, existing) component used to view+edit that field within the project is pulled up in a modal:

![image](https://user-images.githubusercontent.com/1463708/160929075-34ffc954-6eb6-49e5-bbb5-d7c9e80eb72d.png)

![image](https://user-images.githubusercontent.com/1463708/160929003-7d1fa5d7-e3a8-4bd5-8169-0802ad8690c6.png)

"Status updat

[2022-03-30 18:22] dianamartin commented on #8802
- [x] Created object table `hr_work_log`
Fields:
- HR Work Log ID
- Created Date
- Employee Name
- Work Log Description
- Reviewed By
- Reviewed Date
- Review Status
- Submitted Date
- Work Date
- [x] Created page `My HR Work Logs` - for staff
- [ ]

[2022-03-30 18:23] dianamartin commented on #8799
- [x] Created object table `hr_work_log`
Fields:
- HR Work Log ID
- Created Date
- Employee Name
- Work Log Description
- Reviewed By
- Reviewed Date
- Review Status
- Submitted Date
- Work Date
- [x] Created page `My HR Work Logs` - for staff
- [ ]

[2022-03-30 18:42] TracyLinder commented on #4822
### My Feedback

- Complete attempt is correct
- We need to remove the call to issue procedure.
- We must keep those validations.
- We should add the validations to the process attempt **Complete** - system should check those validations and throw the same errors. If validations aren't met the system should not save the process attempt.

[2022-03-30 19:09] SubhaShroff commented on #8015
@Nadin-Nader  DEV deployment request is submitted for this ticket - SCTASK0209473.

[2022-03-30 19:17] patrickm02L commented on #8691
Looking to launch April 18, or 25th. Meeting with stakeholders tomorrow, 3/30/21.

Based on Product Sync discussed moving it to the the next sprint.

@Mateo, says it's pretty straight forward. Would like you to spell out in a comment what the changes would entail. @dianamartin

[2022-03-30 19:31] patrickm02L commented on #7544
In Product Sync 3/30/2 it was recommended that @dianamartin have a meeting with @mateoclarke and @chiaberry to walk through the particulars, either whiteboarding or wireframes to get a sense of the final state.

[2022-03-30 19:43] moorerst commented on #8804
Emailed Darren with the information regarding applying for a grant.
Response: Great! I believe the grant provides more than $25k (I recall reading something about covering 50% of the cost, which this would be a total reimbursement of $400-500k since the total cost can be about $800k-$1 million).

[2022-03-30 19:47] patrickm02L commented on #8788
In Product Sync 3/30/22 @mateo recommended the next steps is to find a yaml file or actions file. Make new S3 bucket in Amazon account, then change the old URL (possibly from Cloudfront) so that it points to S3.

@john what the due date is for this?

[2022-03-30 19:53] dianamartin commented on #8691
## Banner Designs page
![image](https://user-images.githubusercontent.com/21112975/160913776-d83aa385-577f-4a2e-b652-d514026a7db6.png)

LPB Application>Add Design Attachment (add-design-attachment-lpb)
- form back end: https://builder.knack.com/atd/street-banners/pages/scene_1212
- form front end: [Test Event](https://atd.knack.com/street-banners#lpb-application/623b7e10bb81050021bba801/event-info

[2022-03-30 20:08] andrewshensky opened #8807 "Provide PHB Icon to ATSD Graphic Design"
PHB icon is needed for inclusion in updated legend for print bike map

[2022-03-30 20:08] #8807 closed

[2022-03-30 20:17] patrickm02L commented on #8129
Let’s keep the ETL in Airflow. We’ll save the refactoring and migration to Prefect when we have more knowledge and experience.

[2022-03-30 20:26] patrickm02L opened #8808 "Redundant payments parking data from Barton Springs"
[Spawned off of 8647.](https://github.com/cityofaustin/atd-data-tech/issues/8647)

The parking transactions for the 885 account number was showing almost exactly double of the amount that was showing up in the bank deposit report on the Controller's website.

[2022-03-30 20:37] frankhereford commented on #8467
For all intents and purposes, this issue is ready to close.

The one thing that it explicitly calls out is to distribute block resources on the machine and expand file systems as appropriate, but until we have more of an idea of where those resources are most needed doing this is putting the cart ahead of the horse.

We'll know when we need to use those pv extents and we can open an issue as neede

[2022-03-30 20:37] #8467 closed

[2022-03-30 20:57] amenity commented on #8806
Notes:
- The component will need a project ID to query the data needed to render the status updates for a particular project; not currently available in the URL

[2022-03-30 21:05] Charlie-Henry opened #8809 "[BUG] Task Order to Socrata fails with null values"
[Spawned off #8793](https://github.com/cityofaustin/atd-data-tech/issues/8793)

Some Task Orders fields now contain null records:
- `TK_CURR_AMOUNT`
- `CHARGED_AMOUNT`
- `TASK_ORDER_BAL`

This broke [`s3_to_socrata.py`](https://github.com/cityofaustin/atd-finance-data/blob/production/s3_to_socrata.py) because Socrata can't handle `NaN` values for number datatypes.

`HTTPError: 400 Client Error: Ba

[2022-03-30 21:13] dianamartin opened #8810 "IT Support: Finance and Purchasing - incorrect Assigned To, PR #2022-03-3884"
Dan V.
Finance

Emailed  3/30

[2022-03-30 21:15] dianamartin commented on #8810
I looked at the PR to ensure there was not a weird Reviewer record out there for the Finance Admin. I'll need to filter out the "test" account from that page.
- [x] Removed "Assigned To" from "Finance Admin" to "blank"
- [x] I changed "MANAGER_APPROVALS_COMPLETE" to `Yes`, then PR went to "Budget Review"

[2022-03-30 21:21] #8810 closed

[2022-03-30 21:47] mateoclarke commented on #8788
After spending more time with this, I think the only part of this that is hosted in the old ODD AWS S3 is the [`iframeMapMessenger.js` code](https://github.com/cityofaustin/atd-knack-signs-markings/blob/staging/knack/iframeMapMessenger.js). This is the feature that lets us send data (in this case specifically lat/lon points) from the iframe React app to the Knack app and viceversa.

The React SPA

[2022-03-30 23:01] dianamartin commented on #8797
Sync with Christina on 3/30
- Tablet Testing ipad/Android

## Android - New Launcher
- Opening attachments - working better than old profile, still have to download and open in Adobe to see plans
- Don't have to be in Admin mode to allow Adobe to open (Ask Danny was admin mode bypassed?)
- Launcher profile, not normal apps android mode still
- Hub, can see App Catalog
- Chrome browser - worked wel

[2022-03-31 03:05] atdservicebot opened #8811 "Request for support for the Mobility Annual Plan (MAP)"
Laura D.

Other / Not Sure

ATD leads the Mobility Annual Plan (MAP) process which relies on AGOL maps, both external and internal facing, to coordinate across multiple capital delivery programs. Support is needed to maintain and improve on these tools for use in analytics on bond delivery.

Maintain and improve the internal facing tool used for annual coordination. Work with MAP lead, Laura D., a

[2022-03-31 13:54] dianamartin opened #8812 "[BUG] ATD Robin provisioning"
Bart L.
ISO

Emailed Scott 3/30

- Wendi.W
- Tracy.G
- Melton.V
- Jacob.C
- Stephanie.M
- Stephen.B
- Kelsey.V
- John.C
- Diana.M
- Joana.P
- Marisol.B
- Scott.R
- Gilda.P
- Rob.S

[2022-03-31 13:59] dianamartin commented on #8812
Deleting these accounts that were manually entered
First Round
- [ ] Wendi.W
- [ ] Tracy.G
- [ ] Melton.V
- [ ] Jacob.C
- [ ] Kelsey.V
- [ ] John.C
- [ ] Joana.P
- [ ] Marisol.B
- [ ] Gilda.
- [ ] Rob.S

Second Round
- [ ] Stephanie.M
- [ ] Stephen.B
- [ ] Diana.M
- [ ] Scott.R

[2022-03-31 14:34] dianamartin commented on #8812
@moorerst @scottreedy I removed 13 users, I kept my account intact for now in case we need to make any urgent changes. I was going to check the Robin people list again tomorrow 4/1 to see if the 13 accounts were recreated and then put back people's permissions.

[2022-03-31 14:59] dianamartin commented on #8744
- [x] Added new choice for "SPECIFICATION_NAME" field on `work_orders_signs_asset_spec_actual` object table, "Relocate - New Location"
![image](https://user-images.githubusercontent.com/21112975/161086042-34fcf6c9-5ce1-4283-8a7a-884b7e7f0e69.png)

@johnclary Will this affect the current ETL we have in place? Do we need to have a dev update anything or is this good?

[2022-03-31 14:59] dianamartin commented on #8744
Messaged user 3/31

[2022-03-31 15:06] #8623 closed

[2022-03-31 15:14] SubhaShroff commented on #8684
@Nadin-Nader This is deployed in DEV and tested. Looks good now, working as expected.

(NOTE to self: The batch was throwing error: Error while executing before procedure: DefaultReport_RedefaultEX_TURP. Grant to Batch procedure did the trick. I have to mind it when it is further deployed in TEST/PROD).

[2022-03-31 15:25] Charlie-Henry commented on #8808
[This PR](https://github.com/cityofaustin/atd-parking-data/pull/20) explains what the issue was and how it is being addressed. I had to rebuild the Fiserv table in the parking database to get the new IDs.

[2022-03-31 15:35] Charlie-Henry opened #8813 "PARD Parking transactions Not Matching with Controllers Reports"
[Created by this effort to bring in PARD data into the parking data dashboard.](https://github.com/cityofaustin/atd-data-tech/issues/8647)

We were matching up parking transactions with the Controllers Reports bank deposits tool using [this](https://github.com/cityofaustin/atd-data-tech/issues/7696#issuecomment-1033976957) process.

The totals for the PARD (account 885) are not lining up with the

[2022-03-31 15:52] Charlie-Henry commented on #8813
Fixed this by examining the "Expanded Bank Deposit Summary" report in Fiserv. It turns out that the new PARD data we brought in lags behind by one day. The `Submit Date` field has to be reduced by one day for those transactions. The new PARD data can be identified with the `meter_id` field being `61754`.

This is being done now inside Power BI:

`new_submit_date = IF(meter_id==61754, submit_date-1

[2022-03-31 15:52] #8813 closed

[2022-03-31 15:54] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - Earlier commit was not moved appropriately, so submitted DEV DP. Kindly approve and create task id for me.

Commit ID: [ad554c8c117d](http://coaamandadevops01.austintexas.gov/R3:ad554c8c117d73d1b93feaea78c22f24e9fc81e8)

[2022-03-31 16:06] andrewshensky opened #8814 "Configure AGOL Account for New Parking Meter Tech"

[2022-03-31 16:12] andrewshensky opened #8815 "Create/Publish layer of Potential VZ BBS Upgrade Locations"
Requested by Markus R.

[2022-03-31 16:16] TracyLinder commented on #8018
### Discovery Notes

**AMANDA Data:**

**UC Folder**

Formal Distribution Data:
- Cycle # so we can determine how many are initial reviews, and how many are resubmittals.
- Need to filter by Private / Public / Franchise (We consider CIP to be public)

**311**
- 311 is upgrading their system so the workflow is likely to change soon
- How many CSRs are submitted for each category: (Concerns in ROW,

[2022-03-31 16:33] moorerst opened #8816 "Enhancements from Street Banner Permits in Knack Usability Testing"
- Completed usability testing with 3 testers
- Compiled feedback from testers
- Reviewed feedback with the stakeholder and decided what changes to implement

[Final Usability Testing Feedback](https://docs.google.com/document/d/16w5dKEBGiti3AT_X8QOkRuh8TdMge_6WuunVk_Bczfw/edit#)

Next steps:
- implement changes documented in feedback document
- test
- schedule follow up meeting with stakeholder fo

[2022-03-31 17:04] TracyLinder commented on #8379
**Current State:**
- Currently staff is reviewing TCP without consideration to Review Fee payment status.
-

- Prevent applicants from submitting new TCPs if they have unpaid fees from other projects.
- A daily batch report emailed to TCP Intake w/ a list of all TCP fees paid the previous day.
- A daily task wherein AMANDA fee data updates the associated TCP Case fee data.

**Tasks**
- [ ] Schedul

[2022-03-31 17:35] alan-deanda opened #8817 "ASMP Storymap updates"
Update meeting times in both story maps for the ASMP Amendment's round 2 of public outreach

[2022-03-31 18:33] TracyLinder opened #8818 "Meeting: Weekly Sync (Stephanie & Tracy) - RTRC"
**Beginning 3/31/22 Stephanie & Tracy meet weekly to sync on this project.**
_All meeting notes to be captured here for the duration of the weekly meetings._

[2022-03-31 18:50] andrewshensky opened #8819 "Update sharing of Community Destinations layer"
WPD is requesting for this layer to be shared publicly for inclusion in a web app they are building

[2022-03-31 19:11] TracyLinder commented on #8818
### Notes - 3/31

- Steph has met w/ ROW & MMC and compiled a list of initial requirements. OSE delayed by SXSW conflicts - discovery will be scheduled w them.
- Darren w/ ROW is applying for grant funding. More info to come. Stephanie informed ATD Finance & got some basic guidance about grants.
- Steph met w/ ATD finance. Advised we should follow the city's Solicitation process for this project.

[2022-03-31 19:33] atdservicebot opened #8820 "[SharePoint] Add a new section in ATD Administration to upload documents"
Jessica C.

Other / Not Sure

Please add a new section in ATD Administration to upload documents. These documents will be accessed and viewed by other City departments, City Council, and members of state and federal legislation. The documents will be related to grant tracking projects.

Please add a new section in ATD Administration to upload documents.

Once documents can be uploaded into the sit

[2022-03-31 19:34] johnclary commented on #8744
We're good! If historical records need to be update, make sure to update the modified date so the ETL picks up the changes.

[2022-03-31 20:01] dianamartin commented on #8812
Bart was emailed in the morning 3/31

He replied

From a cursory check it appears all the people you removed have been re-added by SCIIM.
Currently only two users are failing: Diana and Stephen.

[2022-03-31 20:17] Charlie-Henry commented on #8645
I was exploring this data again today and noticed that I am able to match the Flowbird HUB data with the Fiserv transactions and with the controllers deposits. I need to change the HUB database schema again but this does look doable.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3

[2022-03-31 20:19] amenity commented on #2784
[Notion Enterprise](https://www.notion.so/pricing) might be an interesting solution to this.
![Screen Shot 2022-03-28 at 11 43 11 AM](https://user-images.githubusercontent.com/1463708/161142281-ad4f93d7-080f-4d74-9590-3b125fb21d51.png)

[2022-03-31 20:47] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - DEV DP of #6031 – 3 submitted. Kindly approve and create task id for me.
This commit is to fix the issue On Paid and Waived attempt 50562 process is not closing.

Commit ID: [6f7ee477b54a](http://coaamandadevops01.austintexas.gov/R3:6f7ee477b54a32e2b9f92e816b3afc75b56c996d)

[2022-03-31 20:48] SubhaShroff commented on #7912
@Nadin-Nader  @TracyLinder  this ticket is deployed in PROD.

[2022-03-31 20:59] atdservicebot opened #8821 "BUG: Online Payments Delayed in updating payment table (Waiting on CTM to Fix)"
AMANDA

Payments made via ABC Portal are taking 1-3 days to register as paid.  (Note: Customers are providing proof of payment which includes time stamps but AMANDA is not reflecting this immediately.)

Permit #2022-036990 RW was paid in mid-March and as of yesterday was still not reflecting in the system.

Internet Browser: Internet Explorer

Paloma A.

Request ID: DTS22-103720

[2022-03-31 21:08] dianamartin commented on #8812
Messaged Stephanie 3/31

Emailed Bart 3/31

Follow-up

[2022-03-31 21:13] ChrispinP opened #8822 "[DT] Delete CSR Flex Notes - May 2022"
Received automated reminder to delete flex notes in AMD Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd/records/objects/object_95

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 03/01/22 (2 months prior)

Total Records: {value}
To Delete: {value}
New Total: {value}

[2022-03-31 21:19] ChrispinP commented on #8618
Flex notes removed, complete.

[2022-03-31 21:19] #8618 closed

[2022-03-31 21:24] SubhaShroff commented on #4822
Thank you @TracyLinder
The changes are done and DEV deployment request is submitted for the commit - SCTASK0209763.

[2022-03-31 21:28] KaroEngstrom opened #8823 "[Signs & Markings] Delete Flex Notes - May 2022"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/signs-markings/records/objects/object_172

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 03/01/22 (2 months prior)

Total Records: {value}
To Delete: {value}
New Total: {value}

[2022-03-31 21:33] KaroEngstrom commented on #8619
Removed flex notes, complete.

[2022-03-31 21:33] #8619 closed

[2022-03-31 21:36] Nadin-Nader commented on #6728
@Sreelatha-BlazeKannan this has been deployed to **DEV** Please UAT

[2022-03-31 21:46] KaroEngstrom opened #8824 "Update DTS Portal with HR New Hires - May 2022"
Check HR new hires for previous month:
https://atd.knack.com/hr#manage-accounts/

Add all regular employees to DTS Portal as Viewer

[2022-03-31 21:47] KaroEngstrom commented on #8621
Added
- Christopher
- Russell
- Yvette

[2022-03-31 21:47] #8621 closed

[2022-03-31 22:00] Nadin-Nader commented on #7672
@Lpriya-LIT this has been deployed to DEV. Please UAT

[2022-03-31 22:01] Nadin-Nader commented on #8232
@Lpriya-LIT this has been deployed to **DEV**, please UAT

[2022-03-31 22:11] dianamartin commented on #8812
- Stephanie deleted my account
- Confirmed account was recreated
- Added my profile as "owner", "admin"
- I will add permissions to Stephen's account

[2022-03-31 22:25] frankhereford commented on #8820
I am not familiar with the "ATD Administration" application or resource mentioned in this issue and don't find a great match in our triaging instructions. I have reached out to Jessica for clarification and will route this as soon as I hear back. Thanks!

[2022-03-31 22:32] #8812 closed

[2022-04-01 02:57] mateoclarke commented on #8639
@frankhereford, can you post here the outline of strategy we talked about today in the meeting? And one of the whiteboards?

[2022-04-01 03:00] mateoclarke commented on #8746
Action items from 3/31 grooming meeting:
- [ ] Explore the ETL function by experimenting with dummy CRIS unit extracts to insert/update on a fake crash via standard process
- [ ] Discover if the `atd_txdot_units_create` is being executed on "updates"/"upserts".
- [ ] Write updated unit business logic in ETL ([`process_line`](https://github.com/cityofaustin/atd-vz-data/blob/master/atd-etl/app/proce

[2022-04-01 13:26] frankhereford commented on #8820
Jessica C. responded stating:

I have assigned the issue accordingly - thank you!

[2022-04-01 13:50] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan I have sent this over to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0209833** in order to revert commits from **ad554c8c117d**

[2022-04-01 13:56] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan looks like SCTASK0209833 already got deployed to DEV

[2022-04-01 14:00] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan I have sent this over to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0209840**

[2022-04-01 14:13] Nadin-Nader commented on #8684
@SubhaShroff this is ready for UAT on TEST. Please let me know if it will be ready for stakeholder UAT at the 2pm meeting

[2022-04-01 14:15] frankhereford commented on #8639
@mateoclarke - you bet! Here's a recap from my notes.

* From our previous meetings notes, I have written down the action items of:
  * Spot check the UPDATE statements
  * Remove the CRIS provided `veh_trvl_dir_id` from the fields we would be trying to correct
* Additionally, it was recalled that we had agreed to take a different approach of only comparing the units table from prior to the CRIS r

[2022-04-01 14:47] andrewshensky opened #8825 "April - ERC Meeting"

[2022-04-01 14:49] andrewshensky commented on #8825
Meeting notes have been provided to group through real talk channel

[2022-04-01 14:49] #8825 closed

[2022-04-01 15:02] TracyLinder commented on #8821
Nate and I are working to identify the issue.

[2022-04-01 15:27] SubhaShroff commented on #8684
@Nadin-Nader  I submitted another request SCTASK0209869 for DEV/TEST deployment of a commit that takes DefaultReport_RedefaultEX_TURP batch procedure to DEV/TEST.

[2022-04-01 15:39] patrickm02L opened #8826 "Shutdown AFD ETL and DB server on VZ Lightsail Server"
As of April 1, 2022, we're receiving AFD data to our S3 bucket which gets added to the VZDB. We can shut down the Lightsail server that was previously collecting AFD data.

- [x] Inventory services still in place
- [ ] Move everything to on-prem services excluding AFD data
- [x] Report back feasibility of shutting down server
- [ ] ~~Let Gus know to remove Frank's account from the distribution lis

[2022-04-01 15:58] Nadin-Nader commented on #8821
@SubhaShroff here are more notes from Paloma that may help:

The example provided was paid on the 17th or 18th and - as of Wednesday and still did not reflect as paid in AMANDA.

[2022-04-01 16:02] frankhereford commented on #8826
**TLDR:** There's the coordination tool that on there, and we can move that on-prem pretty easy. I'd call that task a `3`. Everything else is good to depricate. Thank you for asking!

The lightsail server is currently offering up:

* The VZ Coordination tool, which has the following stack components:
  * postgres postgis server for GIS data
  * backend endpoint served via `apache` with perl endpoi

[2022-04-01 16:31] dianamartin opened #8827 "IT Support: Update the Inventory Item on incorrect restock transaction"
Johnny P.
AMD

Emailed 3/31

Transaction id: 15598
Restock of 88 audible ped buttons
SKU: 550-89-620003

I restarted and rebooted but nothing seems to work to fix the issue.
Is that something I would come to you about or is there someone else I need to talk to?

[2022-04-01 16:36] dianamartin commented on #8827
I called Johnny to ask what happened and he said that he realized the inventory item he entered was an older version. He needs to add the item on the Finance & Purchasing app first and then redo the transaction. I said we can just simply change the "item" rather than delete the transaction.

He said he'd create it today and we'll sync up on Monday to make the change. The transaction is currently l

[2022-04-01 16:38] dianamartin opened #8828 "IT Support: Access to FEMA reporting code timelogs"
Erin W
Finance

Emailed 4/1

Can I get access to the timelogs for all of our FEMA reporting codes?

I replied

[2022-04-01 16:39] dianamartin commented on #8749
Lauren said she'd reach out to PIO to make the necessary changes to the site.

[2022-04-01 16:49] mateoclarke commented on #8826
I would say migrating the VZ Coordination tool should be pretty low priority and treated as a separate issue. I believe the motivation for this issue was strictly related to the AFD data. Is that true @patrickm02L? I would propose we re-name this issue "Shutdown AFD ETL and DB server on VZ Lightsail Server"

The only benefit I see to migrating the VZ Coordination tool is minor cost savings.

[2022-04-01 16:57] mateoclarke commented on #8467
@frankhereford I didn't see any documentation add [here](https://app.gitbook.com/o/-LzDQOVGhTudbKRDGpUA/s/-M4Ul-hSBiM-3KkOynqS/dts-server-list). Should we make updates there before closing out this task?

[2022-04-01 17:10] andrewshensky opened #8829 "Update Sign Data from Work Orders"

[2022-04-01 17:12] andrewshensky commented on #8829
**Features Mapped in Maint**
Signs: 2345 -> 2432
Locations: 1008 -> 1055
**Sign Features Needing QC**
Installs: 840 -> 865
Removals: 542 -> 594
Outliers: 229 -> 231

[2022-04-01 17:12] #8829 closed

[2022-04-01 17:16] dianamartin commented on #8820
Will have to sync to walk user through new site and functions, plan to do this at 3 pm/4 pm

[2022-04-01 17:51] patrickm02L commented on #8826
@mateoclarke the motivation was in relation to the AFD data yes. In talking with Frank he realized the VZ Coordination tool was also on the Lightsail server. I wasn't sure if we were going to shut down the server completely, so I asked him to do an inventory of what was on Lightsail and report back.

If leaving the Coordination tool on Lightsail works, then we can ignore the migration. Begs the qu

[2022-04-01 18:04] mateoclarke commented on #8467
cool, just noticed your comment above and didn't see anything on the page you linked. A new section is totally fine. Thanks for sharing the link in the issue.

[2022-04-01 18:08] alan-deanda opened #8830 "ASMP round 2 closeout requests"
Close out public feedback forms online, handle other related requests.

[2022-04-01 18:18] dianamartin commented on #8744
followed-up 4/1

[2022-04-01 18:24] SubhaShroff commented on #8684
@Nadin-Nader  The above request is completed. So, I submitted another Manual TEST deployment request to deploy Batch Job. - SCTASK0209908.

[2022-04-01 18:54] SubhaShroff commented on #4822
@Nadin-Nader  This is deployed in DEV and I tested it. We can do UAT today, in the call.

[2022-04-01 19:10] Nadin-Nader commented on #8821
**INC0183807** is with CTM

[2022-04-01 19:11] dianamartin commented on #8816
### LPB Application
- [ ] ADD: Adding the notes on the label line v. the description line bc it’s not obvious
- [ ] Monday and Tuesdays to be bolded
- [ ] ADD: Add “Banner” in front of Date fields to be really clear it’s not event dates
- [ ] REMOVE: “Alternate Date Range” field for LPB application
- [ ] REMOVE: “If you are a first time user, please ensure your design is approved.”

[2022-04-01 19:13] #8769 closed

[2022-04-01 19:14] Nadin-Nader commented on #4822
## Approve to Move to TEST and PROD if all is well on TEST

[2022-04-01 19:14] #8604 closed

[2022-04-01 19:17] atdservicebot opened #8831 "Create a system to track our court case workload for our inspectors (CCM)"
Darren Ujano

Other / Not Sure

We're looking to have a system to track our court case workload for our inspectors

I'm open to creating a case management system in either AMANDA or Knack.

We will be able to track the statuses of filed court cases or charges.

Supervising Engineer, Inspection Supervisor, ROW Inspectors, and Code Investigators.

ROW Engineering & Inspection

['None']

['None']

We

[2022-04-01 19:19] Nadin-Nader commented on #8679
Approved to close per Paloma. If something comes up another card will be created.

[2022-04-01 19:19] #8679 closed

[2022-04-01 19:22] SubhaShroff commented on #4822
@Nadin-Nader  TEST deployment request is submitted - SCTASK0209914.

[2022-04-01 19:39] Nadin-Nader commented on #8794
@Sreelatha-BlazeKannan This has been approved to Move all the way to PROD if it works as expected in each environment

[2022-04-01 21:17] Sreelatha-BlazeKannan commented on #8794
@Nadin-Nader , @TracyLinder - UAT Approved. DEV DP submitted and 50510 Report sent for DEV promotion. Kindly approve and create task id for me.

[2022-04-01 23:05] ChrispinP commented on #8237
Emails, Buttons, Code, and Urls updated for this feature. Old pages are no longer accessible.

Will send followup email on Monday and complete old code and page removal next week.

[2022-04-04 14:26] dianamartin commented on #8827
Followed-up with Johnny 4/4

he replied

I said

he said

I said

user said

[2022-04-04 14:34] dianamartin commented on #8828
I messaged user 4/1

I've changed your permission from "staff" to "supervisor" like Dan.

User replied 4/4

I replied

[2022-04-04 14:34] #8828 closed

[2022-04-04 14:54] dianamartin commented on #8827
I checked for the stock number that Johnny gave me, but I typed in APS and found 2 results. I asked for clarification and am waiting on a response.

I messaged

![image](https://user-images.githubusercontent.com/21112975/161570369-c6641e3d-01af-4665-bd4d-049d35b36b8d.png)

[2022-04-04 15:30] patrickm02L commented on #8652
May need this depending on how we address the ability to look search for fatalities specifically, see [notes](https://docs.google.com/document/d/1McPh2PA2ei4IIhMZTP5j8jvw6GccBLpCYRapYX3WiFI/edit?usp=sharing) from 4/4/22 FTT Review meeting.

[2022-04-04 15:48] dianamartin commented on #4237
this was configured in the `TEST | Austin Transportation Data Tracker | 27 OCT 2021` environment, needs to migrated to Prod Development area

## Page Menu
![image](https://user-images.githubusercontent.com/21112975/161573785-6d78379a-d404-492a-ade8-25b18701e3b7.png)

## Form
![image](https://user-images.githubusercontent.com/21112975/161573892-15dc1b62-5607-41fc-8ad0-43b409a95481.png)

## Attachme

[2022-04-04 15:51] dianamartin commented on #1563
this was configured in the `TEST | Austin Transportation Data Tracker | 27 OCT 2021` environment, needs to migrated to Prod Development area

## Page Menu
![image](https://user-images.githubusercontent.com/21112975/161582617-ad4eca5d-3969-45c7-8605-544ce50cd9c1.png)

## Form
![image](https://user-images.githubusercontent.com/21112975/161582725-54ec76c1-66e3-4a6f-be21-101db74dc56c.png)

## Attachme

[2022-04-04 15:54] dianamartin commented on #8224
Primarily worked on making:
Make Time
- [x] converted from embedded form to menu button, modal pop-up
Inventory
- [x] converted from embedded form to menu button, modal pop-up
Work Completed
- [x] converted from embedded form to menu button, modal pop-up

[2022-04-04 16:10] dianamartin commented on #8224
## "Save/Submit Work"
- No Inventory is needed

## Follow-up
- request follow-up first
- then submit

[2022-04-04 16:30] alan-deanda opened #8832 "SXSW debrief"
COA staff debriefed about SXSW 2022. In general, there is some uncertainty as to how representative of a typical SXSW the 2022 edition has been, but there will be some changes in 2023. With a smaller attendance, there may be reason to expect fewer street activations. Several construction sites in the Rainey District will reduce the number of official events in the neighborhood, as venues and bars

[2022-04-04 16:30] #8832 closed

[2022-04-04 17:07] ChrispinP commented on #8237
Followup Email successfully sent.

Ready to close

[2022-04-04 17:10] ChrispinP commented on #8760
Darren was happy with reporting updates. Will need a followup meeting to go over which reports should have Fiscal Year data presented or Fiscal Year filters.

ready to close

[2022-04-04 17:18] amenity commented on #5125
Meeting today with AMD:
## Notes
- AMD has not completed pick lists, but working on them and close
- Not all work orders are going to have inventory - make it required but have a “no inventory required” option
- Going to need to train technicians that they can now enter “Follow-up Description” without submitting work order using the modal
- Important that techs can truthfully report that checks we

[2022-04-04 17:20] amenity commented on #5125
@dianamartin - can you add a link to the Miro board to this index issue?

[2022-04-04 17:37] amenity commented on #5125
Also, @johnclary @dianamartin ... I think this probably constitutes a project. 😬

[2022-04-04 17:45] amenity commented on #8493
Unless we expect people to be confused/frustrated by the retirement of our dashboard, I'm fine with a simple redirect.

[2022-04-04 18:39] johnclary commented on #8493
sounds good to me—thanks @mateoclarke!

[2022-04-04 18:49] vschandramouli opened #8833 "SIF - Remove Freeform Columns"

[2022-04-04 19:03] TracyLinder commented on #8728
@Lpriya-LIT can you please update with the current status?

[2022-04-04 19:03] TracyLinder commented on #8731
@Lpriya-LIT can you please update with the current status?

[2022-04-04 19:03] TracyLinder commented on #8725
@Lpriya-LIT can you please update with the current status?

[2022-04-04 19:04] dianamartin commented on #5125
@amenity This workflow was in Visio, will need to migrate it to Miro soon. When I create it, I'll link it.

[2022-04-04 19:09] dianamartin commented on #8820
User replied

[2022-04-04 19:09] #8820 closed

[2022-04-04 19:24] amenity commented on #5125
@dianamartin - gotcha. Will you post a screenshot of it here or paste it where you want it in Miro? I need the Miro link to schedule that meeting.

[2022-04-04 19:30] TracyLinder commented on #7689
### 4/4/22

- Land Status Determination C8-I folder - For commercial we'll get it on the SP, we won't assess for residential.

**Add SIF Questions to Commercial & Residential Intake Web Forms:**
- Commercial Questions:
    - ?
- Residential Questions:
    - New single family homes
    - True Greenfield
    - Urban re-subdivisions
    - Legal description of the lot

**User Story:** ATD SIF Review p

[2022-04-04 19:42] Lpriya-LIT commented on #8728
![image.png](https://images.zenhubusercontent.com/611eac1954217f265acc0499/f366492b-4775-43f2-8fd9-111afea26800)

[2022-04-04 19:43] Lpriya-LIT commented on #8728
the Unique id will be generated when the row is saved. Done the coding in localhost, will update once the changes are promoted to Dev and Test

[2022-04-04 19:49] Lpriya-LIT commented on #8833
The freeform columns 'Building Permit #' and 'Date of Permit issuance' has been removed.
The changes are in localhost, will update once it is promoted

[2022-04-04 19:52] mateoclarke commented on #8493
John has now added this language to the Socrata dataset:

[2022-04-04 19:54] mateoclarke commented on #8493
I've put in a request via ServiceNow to redirect the https://micro.mobility.austin.gov/ URL to https://public.ridereport.com/austin.

I'm also advising PIO that they should update language on this website:
https://www.austintexas.gov/sharedmobility

[2022-04-04 20:02] dianamartin commented on #8744
user replied 4/4

I replied

[2022-04-04 20:17] atdservicebot opened #8834 "Locate source feature layer for ASMP Street Network Amendments Round 2"
ArcGIS

Hi, I'm looking for the underlying feature class (if one exists) for this layer:

https://austin.maps.arcgis.com/home/item.html?id=43dc911fb05043d8b2a03d839aa7bcae

Or is this the only layer capturing the new edits to the ASMP?

Soon — This week

Working to update the High Injury Network this week, which is based on the ASMP.

Adrien H.

Request ID: DTS22-103730

[2022-04-04 20:30] dianamartin commented on #5125
## Screen shot of workflow AMD
### Top of flow
![image](https://user-images.githubusercontent.com/21112975/161626562-3d5de1e1-7665-49fa-9e27-0198cb30a259.png)
### Bottom of flow
![image](https://user-images.githubusercontent.com/21112975/161626731-ee771758-f1b3-44bc-a8e8-20db7492c7d1.png)

[2022-04-04 20:41] alan-deanda opened #8835 "Sendero Hills imagery"
ATSD had some technical issues exporting raster imagery from ArcPro to CAD. While we troubleshoot the error, I've exported the requested imagery so that work can progress.

[2022-04-04 20:47] alan-deanda commented on #8835
Rasters sent

[2022-04-04 21:18] atdservicebot opened #8836 "Investigate filter functionality on `created` column in Data Tracker"
Data Tracker

The created filter column is not working

I would like to have the created filter column fixed for the Bike Benefit Program Tracker so that I can filter the dates of when employees have redeemed their Bike Share benefit code so I can send them a renewal notification a year after this date. I usually check this at the beginning of every month.

Checking the dates myself

Eliza Y.

Req

[2022-04-04 22:12] dianamartin commented on #8836
@patrickm02L

I reached out to Eliza on 4/4

she replied

I replied

[2022-04-04 22:12] #8836 closed

[2022-04-04 22:51] amenity commented on #8806
Other options from [this N/N article](https://www.nngroup.com/articles/data-tables/):
- Accordions - note that [Material Table has them](https://material-table-core.com/demos/details-panel/single)
- Edit-in-place (current implementation; they recommend this only for narrow tables though not positive why)
- [Side panel](https://user-images.githubusercontent.com/1463708/161645256-f13b96aa-c72d-4f22-

[2022-04-04 23:22] #8533 closed

[2022-04-05 13:17] amenity commented on #8790
@frankhereford - finally getting to reading this thoroughly. 😅 Totally agree with your assessment of the situation — thanks for explaining. I'm editing the description of this issue so we can strike all three at once.

[2022-04-05 13:32] KaroEngstrom commented on #8772
- [x] Checked in with @dianamartin on the design M 4/4/22
- [x] implemented proposed changes T 4/5/22; ready for Sprint Review with HR stakeholder

[2022-04-05 14:13] SubhaShroff commented on #8015
@Nadin-Nader @TracyLinder  Verified in DEV. Now TURP Info - Total Days of Permit Validity doesn't add in new permits. I checked info tab save and issue. I didn't find any issues. Please let me if we can get it promoted to TEST.

[2022-04-05 14:16] amenity commented on #5125
Thanks, @dianamartin - started the board here: https://miro.com/app/board/uXjVO_E4pQg=/

[2022-04-05 14:30] alan-deanda commented on #8834
I've reached out to Adrien to let her know of the current status of the ASMP round 2 network

[2022-04-05 14:50] SubhaShroff commented on #8015
@Nadin-Nader TEST Deployment request is submitted - SCTASK0210401.

[2022-04-05 14:52] moorerst commented on #8772
@KaroEngstrom @dianamartin sorry I missed the check in meeting yesterday. The review of the redesign updates are the only thing on the agenda for the meeting today . We'll have you demo the redesign and get feedback. Thanks

[2022-04-05 14:52] TracyLinder opened #8837 "TDS Portal Info Request from John"
can y’all (1) itemize what actions a user can take on one of these pages, and (2) estimate what the impact might be if an unauthorized user took those actions?
e.g.
create a scope submission
modify a scope submission
download files associated with the submission

[2022-04-05 14:56] TracyLinder commented on #8684
Hi @SubhaShroff - I think we only need to run the batch job once in PROD.

[2022-04-05 15:04] SubhaShroff commented on #8684
Right @TracyLinder. I had asked Paloma on Friday call, if this needs on daily basis. She said yes. And looks like there would be more new infos added in future. That was her answer.
Please confirm.  Accordingly, I will get this job inactive on DEV/TEST also.  Or set it monthly once?
@Nadin-Nader

[2022-04-05 15:27] TracyLinder opened #8838 "AMANDA Void Permissions for ATD Finance (Waiting on Users to UAT on TEST)"
ATD's finance manager Erin W has requested void permissions for all payments, not just same day.
- Erin W
- Melissa B.

_These are special AMANDA permissions; we may need Gita's approval._

[2022-04-05 15:28] Sreelatha-BlazeKannan commented on #6300
@Nadin-Nader , @TracyLinder - Working on this Card. Analysis is in Progress