[2020-03-25 02:03] amenity commented on #1426
Done!

[2020-03-25 02:03] #1426 closed

[2020-03-25 02:43] johnclary opened #2167 "Integrate authoritative employee data from Banner"
We're currently keeping employee records up to date manually via import and/or cross referencing other sources. We should pull authoritative employee data into the app, e.g:

- name
- email
- phone
- employee ID
- employee supervisor
- division name
- PCN (position control number)
- timesheet reporting codes (e.g. `1012` COVID code)

This data can come from Banner and/or Active Directory

[2020-03-25 02:44] johnclary commented on #2167
Not required for MVP. I reached out to both HRD (for Banner) and CTM (for Active Directory) to understand our options. Will report back.

[2020-03-25 12:37] SurbhiBakshi commented on #1425
have checked twice with April in the last couple of weeks and have not heard back.  (could be Covid-19  related remote work set up )

[2020-03-25 13:41] JaceDeloney opened #2168 "Remove Type from time submittal form"
As a manager, I do not want employees to have to choose between Regular hours and Overtime hours when submitting their time into the COVID-19 Time Tracking app. This information will be calculated by comparing time submitted in this app to the employees' timesheets.

Acceptance criteria:
`Type` is no longer displayed in the COVID-19 Time Log form

![Screen Shot 2020-03-25 at 8.40.22 AM.png](https:

[2020-03-25 13:45] JaceDeloney opened #2169 "Add individual COVID-19 log history to employee home page"
As a user, I went to be able to see all of the hours that I have previously submitted via the COVID-19 Time Log form.

Acceptance Criteria:
A table is displayed below the COVID-19 Time Log form that shows a history of hours submitted by that employee.

[2020-03-25 13:46] JaceDeloney commented on #2169
aaaannnnd this was already completed

![Screen Shot 2020-03-25 at 8.45.56 AM.png](https://images.zenhubusercontent.com/5dc05535495c1e0001182c16/402db887-243a-4085-995e-29945d7095c3)

Closing out

[2020-03-25 13:46] #2169 closed

[2020-03-25 13:58] JaceDeloney opened #2170 "Tracking essential employee hours"
As a manager, I want the ability to track hours by employees designated as “essential” by the department.

This designation should be associated to the employee account.
This designation should be visible to both employees and managers.

**Tasks**:
- Add essential attribute to accounts data
- Add essential column to Employees table
- Add essential column to COVID-19 Time Logs tables (Needs Approva

[2020-03-25 14:01] JaceDeloney opened #2171 "Provide list of employees and managers"
We need to associate employees to managers so that we know which managers should be approving employee's time. Gilda was going to share this with us ASAP.

Once we have this mapped, we need to have Division Managers verify their employee list to ensure accuracy.

[2020-03-25 14:04] JaceDeloney opened #2172 "Expand task list"
We would like to expand the task list to cover more potential tasks that employees might be doing related to COVID-19. Peggy will be sending an expanded list of tasks.

Once we receive this expanded list, we can add the new selections to the COVID-19 Time Log form.

![Screen Shot 2020-03-25 at 9.03.29 AM.png](https://images.zenhubusercontent.com/5dc05535495c1e0001182c16/661b95cc-704f-4732-804a-c18

[2020-03-25 14:06] JaceDeloney opened #2173 "Schedule teams meeting and communications to Division Managers and Supervisors"
We will need to train Division Managers and Supervisors on the process and tools for COVID-19 Time Tracking.

Schedule a Teams meeting and prepare communications to Division Managers and Supervisors.

[2020-03-25 14:10] dianamartin commented on #2168
I removed `Type` from the form. It's still there in the back-end.

[2020-03-25 14:10] #2168 closed

[2020-03-25 14:35] JaceDeloney commented on #2167
@johnclary do any of these data sources include an "essential" designation? Asking re #2170

[2020-03-25 14:39] JaceDeloney opened #2174 "Identify Parking Enforcement Officers SPOC"
We need to identify an Enforcement Officer SPOC so that we can establish a product owner, train them and funnel requests.

[2020-03-25 15:04] JaceDeloney opened #2175 "Create shared test users by role"
We should create shared test users by the following rules:
- Admin
- Editor
- Read-only

These will be used to test new features by roles so that we can ensure the right users have access to the right features. Credentials for these shared roles should be added to 1password.

[2020-03-25 15:09] johnclary commented on #2167
negative. the essential designation is being determined on an ad-hoc basis by staff. will comment on that issue.

[2020-03-25 15:26] jaime-mckeown opened #2176 "GIS Support: Enroll users in Intro to AGOL Workshop - 4/24/20"
Allen B. requested that he and Tim S. be enrolled in the upcoming Intro to AGOL Workshop on 4/24/20.

[2020-03-25 15:26] jaime-mckeown commented on #2176
Submitted CTM Request to enroll Allen and Tim in the class.

[2020-03-25 15:26] #2176 closed

[2020-03-25 15:29] jaime-mckeown opened #2177 "ADA Austin Parking Map - Edit with Collector"
Allen would like to take this down time to go out and verify the ADA parking spaces. I will make the Marked ADA Parking Spaces feature layer editable and add a new field called Verify and allow them to add new points.

[2020-03-25 15:31] jaime-mckeown opened #2178 "Social Service Locations Export - J. Al-Hajeri"
Joseph has requested an export of the Social Service Locations so they can share it with the micro-mobility companies so they can help out.

[2020-03-25 15:51] jaime-mckeown commented on #2178
Emailed shapefile  to Joseph.

[2020-03-25 15:51] #2178 closed

[2020-03-25 15:52] JaceDeloney opened #2179 "Add big login buttons"
Add the custom CSS for the Knack big login button.

![Screen Shot 2020-03-25 at 4.59.52 PM.png](https://images.zenhubusercontent.com/5dc05535495c1e0001182c16/e83c84f4-bb03-4903-81f7-065315506e5c)

[2020-03-25 16:00] JaceDeloney opened #2180 "Adhere COVID-19 Time Tracking export to HSEM template"
Modify the export of COVID-19 time tracking logs to adhere to the HSEM template. @dianamartin already modified the export. @johnclary and I will review the current state with @dianamartin and determine any changes.

[2020-03-25 16:00] JaceDeloney commented on #2152
Closing this out based on new requirements.

[2020-03-25 16:00] #2152 closed

[2020-03-25 16:02] JaceDeloney opened #2181 "Optimize COVID-19 Time Tracking app for mobile users"
<copy and paste optimizations requirements from a similar mobile issue>

[2020-03-25 16:05] JaceDeloney opened #2182 "Test COVID-19 Tracking App on Brazos device"
@dianamartin will need to work with PB to test COVID-19 Tracking App on Brazos device

[2020-03-25 16:16] #2084 closed

[2020-03-25 16:21] #2102 closed

[2020-03-25 16:22] amenity commented on #1486
Rob needs to approve all PRFs.

[2020-03-25 16:24] johnclary commented on #2091
After discussion with SMB we are not providing this data during wave 1.

[2020-03-25 16:24] #2091 closed

[2020-03-25 16:25] #2089 closed

[2020-03-25 16:25] amenity commented on #2118
This epic is not really necessary at this point.

[2020-03-25 16:25] #2118 closed

[2020-03-25 16:26] #2120 closed

[2020-03-25 16:28] amenity commented on #2135
Going to put in assignments without locations.

[2020-03-25 16:33] amenity opened #2183 "Explore child records to limit/clarify maximum slots for Assignments"

[2020-03-25 16:39] JaceDeloney opened #2184 "Additional Roles rules"
### Editing User Roles:

- Only users with superior roles can edit permissions for subordinate users. Example: As an Admin, I cannot change my role to Read-only (or any other role for that matter). Only an IT Supervisor role can change my permissions.
- As an Admin, however, I can edit permissions for subordinate roles. Example: I can change a user's permissions from Read-only to Admin.
- An Admin

[2020-03-25 16:44] amenity opened #2185 "Manage call forwarding for ATD staff"

[2020-03-25 16:44] amenity commented on #2124
Done!

[2020-03-25 16:44] #2124 closed

[2020-03-25 16:48] amenity commented on #1425
@johnclary - FYI: This is blocked...Comptroller's office will be asking for this soon, yeah?

[2020-03-25 16:50] amenity commented on #2130
@johnclary - Surbhi has scheduled two UATs, but DSD is too occupied to get to it at the moment.

[2020-03-25 16:51] amenity commented on #2130
This is a big problem; stalling other things that TIA needs. Needs to be done by Roderick but they are very busy... Not sure who else could do. Sangeeta is concerned since there is a lot of money ATD is not collecting right now.

[2020-03-25 16:52] amenity commented on #2130
@SurbhiBakshi - can you add documentation to this?

[2020-03-25 16:52] dianamartin commented on #2182
Paul B. reached out to me and we're chatting about testing a Brazos device as I type. I'll give him the URL try.

[2020-03-25 16:54] amenity commented on #2130
@johnclary - please follow up with Teri on this.

[2020-03-25 16:55] amenity commented on #1292
Scheduled for Sprint 22.

[2020-03-25 16:59] amenity commented on #2166
Duplicate of #2138

[2020-03-25 16:59] #2166 closed

[2020-03-25 17:02] amenity commented on #2138
Assume this is going to be a series of work sessions.

[2020-03-25 17:05] #2122 closed

[2020-03-25 17:05] #2123 closed

[2020-03-25 17:05] #1428 closed

[2020-03-25 17:09] dianamartin commented on #2182
@amenity @JaceDeloney @johnclary

I send Paul a link to the HR app through teams, he put it into the Brazos browser and he said that their chrome profile is linked to the other devices. He just had to bookmark it.

- [x] Able to sign in using COACD button, went through City of Austin login page
- [x] Was able to see the form
- [x] Was able to submit the form
- we noticed the employee table was mis

[2020-03-25 17:47] johnclary commented on #2130
Sent to Teri today:

[2020-03-25 18:36] SurbhiBakshi commented on #2145
CTM was working on getting Joan GoToMyPC access yesterday afternoon. I emailed her to check in and see if she got any communication from CTM . Will check to see if she was able to get it working when I hear back.

[2020-03-25 18:39] SurbhiBakshi commented on #2145
Email from Joan -Thank you for following with me on this. I did receive communication from CTM, but am currently unsure if I should take any action. I have a laptop and can work remotely using NetMotion. I submitted the form so that I could be added to the atd remote employee spreadsheet.

[2020-03-25 19:00] #1538 closed

[2020-03-25 19:02] #2059 closed

[2020-03-25 19:23] JaceDeloney commented on #1712
@JaceDeloney to take the lead on identifying the requirements for this. Schedule time with devs to discuss early next week.

[2020-03-25 19:31] #1597 closed

[2020-03-25 19:32] sergiogcx commented on #2001
I did not get the extracts until yesterday evening, I began the download and sorting the units files for insertion.

Fixing to let it insert overnight, along with the person and primary person tables.

[2020-03-25 19:52] dianamartin opened #2186 "On-boarding Nate"
- [ ] Get computer

- [ ] Get On-boarding documents in order

[2020-03-25 20:50] jaime-mckeown commented on #2119
Updated data and Web App on Monday again. They will be sending updates every 2 days.

[2020-03-25 21:02] jaime-mckeown commented on #2177
- After discussing with Diana we decided it would be best to make a copy of the parking spaces feature layer to have Allen and Tim edit as they are new GIS users and the AGOL data is the only authoritative data we currently have.
- Created new ADA Parking Spaces Feature layer, editable.
- Created Web App
- Downloaded Collector Classic App to test out Web Map for editing the spaces
- Emailed Allen

[2020-03-25 21:52] JaceDeloney opened #2187 "Help Section"
Create step-by-step instructions on how to use the COVID-19 Time Tracking App. We need separate instructions for employees and managers.

[2020-03-25 21:53] JaceDeloney commented on #2187
@dianamartin created a help tab: https://atd.knack.com/hr#help/

Help Guide
Time Log Entry
1. Navigate to Home page

2. Select Name from the drop down list and fill out fields:

Task
Work Description
Work Date - set to current date
Start Time - set to default at 8 am (can be changed)
End Time - set to default at 4:30 pm (can be changed)
3. Click Add Time Log
4. Review submitted time logs table bel

[2020-03-25 22:39] dianamartin commented on #2185
Reviewed Ashley's spreadsheet of our ATD request. 284 records! I updated the SharePoint spreadsheet we had and updated everyone's status.

Drafted email to let users know how to access their call forwarding. Was going to send it to Austin Transportation Employees, but I'd like someone to review it before I send it out.

@amenity @johnclary: any volunteers? I wanted to send it out 3/25, but i'll wa

[2020-03-26 00:18] sergiogcx commented on #1959
- [ ] Identify the columns that will determine if a crash record will be updated or queued.
- [ ] Clarify with jace if the criteria will be the same for Units or Person/Primary person tables
- [ ] Create flags for the Units table or Person/Primary to identify if they have been edited by a human.
- [ ] Survey the current status of the Python script.
- [ ] Update GraphQL query to include `on_conflic

[2020-03-26 11:47] johnclary commented on #2130
@SurbhiBakshi can you get some more detail from Sangeeta about what the impact is if this is delayed? Do you  know if the fees eventually be able to be collected? Any idea how many cases we're missing/what the loss in revenue is? I need to discuss with Peggy.

[2020-03-26 12:05] SurbhiBakshi commented on #2130
@johnclary yes, doing so

[2020-03-26 12:16] SurbhiBakshi commented on #2130
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/5e6ef170-c15b-421a-aeef-4ea327829fbc)

[2020-03-26 13:01] JaceDeloney opened #2188 "Add Time Form: Set Employee Name Field to Logged-In User"
On the Add Time form, the employee name should be set to the logged in user by default.

[2020-03-26 13:39] SurbhiBakshi commented on #1910
[https://app.zenhub.com/files/140626918/5c9818bd-7316-4456-8add-da1ae4d22738/download](https://app.zenhub.com/files/140626918/5c9818bd-7316-4456-8add-da1ae4d22738/download)

[2020-03-26 13:40] SurbhiBakshi commented on #1910
[https://app.zenhub.com/files/140626918/95a6ced1-b3d9-41b0-a186-b612d007a27a/download](Facility Owner List - needs to be reviewed)

[2020-03-26 13:41] jaime-mckeown commented on #1890
Emailed Harrell, have not heard back. Closing Issue.

[2020-03-26 13:41] #1890 closed

[2020-03-26 13:43] jaime-mckeown commented on #2147
Haven't heard back from Josh. Will open another Issue if he needs more assistance.

[2020-03-26 13:43] #2147 closed

[2020-03-26 13:44] SurbhiBakshi commented on #1910
As per Greg P, Hey there,
- Paloma and team need to see this list.
- need to make sure the pull down menus are the same as the EX and RW sub: Temp Use of ROW. The look up tables need to the same table.
(For some reason, I remember CTM creating an additional look up tables instead of using the same table for all ROW permits. That may have been fixed, but if not, we need to make sure EX – all subs,

[2020-03-26 13:45] jaime-mckeown commented on #2162
Data needs have been completed. Will add any other users to the group when they start work on this project.

[2020-03-26 13:45] #2162 closed

[2020-03-26 13:46] jaime-mckeown commented on #1530
Talked to Sukumar about this request yesterday. He was able to get answers from Brian on what zoom extents they would like (100, 150, 300 ft buffers).

[2020-03-26 13:53] jaime-mckeown commented on #1570
Just started working on this again a couple days ago, moving to next Sprint.

[2020-03-26 13:54] jaime-mckeown commented on #1993
Need to work on this in current Sprint.

[2020-03-26 14:00] jaime-mckeown opened #2189 "Enterprise Street Data Requirements: Session 1 Meeting"
Teams meeting to start discussing street data requirements across the Enterprise.

[2020-03-26 14:27] johnclary commented on #2179
@dianamartin plz test and close :)

![Screen Shot 2020-03-26 at 9.25.27 AM.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/547cac88-9025-4c41-95c5-9d8606788843)

[2020-03-26 14:28] SurbhiBakshi commented on #2138
@johnclary @amenity - I think we need to loop in the TIA group as well. The last two cards on the Trello Board are for the TIA team, and there are a couple of more issues in the backlog.  A separate shorter meeting or include them with ROW? I prefer the first. Anyone else?

[2020-03-26 14:30] moorerst commented on #1504
Approval from RPP staff
Hope everyone is staying safe out there. Just wanted to let you all know I’ve been looking over the site on my end, & the changes that were implemented after the feedback and everything overall looks great. Thanks so much for everything, it’s much appreciated!

[2020-03-26 14:31] moorerst commented on #1504
Approval from Finance staff
I just did the test on Advanced Search and download the Excel report which has all the information that I need to prepare my monthly entries.

[2020-03-26 14:38] johnclary commented on #2188
Appears to be working. @dianamartin plz test.

[code]

[2020-03-26 14:45] dianamartin commented on #2179
@johnclary I tested log in page, it gives me same error. It's working when i right click on button and open in new tab.

[2020-03-26 14:54] dianamartin commented on #2188
@johnclary I tested this and it's working!

[2020-03-26 14:54] #2188 closed

[2020-03-26 14:55] JaceDeloney opened #2190 "COVID-19 Time Tracking App Refinements"
This is a running list of small enhancements to the COVID-19 Time Tracking App

### Update navigation tabs

Staff:
- [ ] Log Time (currently Home) | Help

Supervisors:
- [ ] Log Time (currently Home) | All Logs (currently Time Logs) | Employees | Reports | Help

**Rational:**

Log Time (currently Home)

- Right now this is where users log their individual time. When a user logs in, they're taken t

[2020-03-26 14:55] dianamartin commented on #2179
Talking to Jaime about it to see what her log-in experience was.

[2020-03-26 15:01] dianamartin commented on #2179
So I talked to Jaime and she got the error too, but then she refreshed and then it logged her in. She said he got the error another time, it sounds intermittent. I've now been able to log in after i got the error once and now i'm logging in fine..

Update: I'm got the error again.

[2020-03-26 15:07] alan-deanda commented on #1737
All speed limits have been digitized to a copy of the CTN - the data had to be translated to be compatible with the CTN.
There are questions regarding how to move forward with conflicting speed limits - on average there are about 2-3 conflicts per council district.

[2020-03-26 15:11] alan-deanda opened #2191 "QA bike rack data"
QA bike rack data

[2020-03-26 15:13] #2191 closed

[2020-03-26 15:25] amenity commented on #2121
![Screen Shot 2020-03-24 at 5 59 43 PM](https://user-images.githubusercontent.com/1463708/77664123-e301d580-6f4b-11ea-96f1-14192f432c59.png)

[2020-03-26 15:51] sergiogcx commented on #2001
After downloading and sorting only the units data for 2010->2014, I decided to let the process run overnight.

The process was finished last night, and I just made the update that fixed all but 4 records:

[code]

![2020-03-26_10-49-32.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/d03ac237-f920-4ae7-b43f-7cede98771f6)

[2020-03-26 15:51] #2001 closed

[2020-03-26 16:00] amenity commented on #2190
A few more suggestions:

[2020-03-26 16:01] amenity commented on #2190
On https://atd.knack.com/hr#add-time/

- [ ] Update _COVID-19 Time Log_ to _Add Entry_

[2020-03-26 16:29] SurbhiBakshi commented on #2145
Joan is using Netmotion, I confirmed that is working for her and notified CTM she does not need a GoToMyPC license.

[2020-03-26 16:30] #2145 closed

[2020-03-26 16:47] johnclary commented on #2121
i compared to POST requests from the SAML exchange. for some users, the `redirectUrl` is undefined in the response. when working successfully, the `redirectUrl` is defined correctly, e.g `https://atd.knack.com/hr?state=p%3DCOACD%26s%3Dhome%26h%3Dhome`.

i won't post the request `JSON` here in case it contains tokens.

 at first glance it appears to be an issue on the Knack server response.

[2020-03-26 18:04] mddilley commented on #1241
@tylerwhitson and I paired on this issue 3/18, 3/20, 3/23, and 3/25.

After updating the data publishing script [config](https://github.com/cityofaustin/atd-data-publishing/blob/45dd670cecbb0561889fbae447a5bc0085381211/transportation-data-publishing/config/knack/config.py) with the Knack parameters for `tmc_activities`, we set up locally and ran the [publishing script](https://github.com/cityofaus

[2020-03-26 18:18] jaime-mckeown opened #2192 "ArcMap Help: S. Anekar"
Sukumar is a new user of ArcMap, and he needs to do some analysis for Traffic Signals and CCTV Cameras.

[2020-03-26 18:19] jaime-mckeown commented on #2192
Yesterday I spent about an hour helping him with ArcMap: creating new layer, edting, general use of ArcMap, etc.

[2020-03-26 18:20] jaime-mckeown commented on #2192
He had more questions today, spent more time talking via Teams to help him with more editing and analysis help.

[2020-03-26 18:20] jaime-mckeown commented on #2192
He's going to need more assistance when he completes the first part of his process. I will create a new issue for the next part.

[2020-03-26 18:20] #2192 closed

[2020-03-26 19:18] JaceDeloney opened #2193 "Ability to Revoke Approvals"
If an approver approves a time log on accident, they have no way to revoke approval. To revoke an approved time log, the approver would need to submit a support ticket to DTS.

As an approver, I want the ability to revoke approval if a report has not been sent to HSEM.

[2020-03-26 20:26] mateoclarke commented on #1987
More feedback during a call with Xavier today that this isn't a desired feature. I think we can safely close this issue to declutter the backlog/inbox.

[2020-03-26 20:26] #1987 closed

[2020-03-26 20:41] tylerwhitson commented on #1241
Thanks for documenting this so thoroughly, @mddilley! I created the PR with the changes to the publishing config.

[2020-03-26 20:48] mateoclarke opened #2194 "VZD vs MicroStrategy Records Q/A"
### Action Items from 2020-03-26 meting:

- Reinsert all time data for following tables:

  - [x] person
  - [x] primary person
  - [x] charges
  - [x] units

- [x] Update ETLs for these tables to process all edits from CRIS (if necessary)

- Xavier to investigate discrepancies for Nov 16 and March 18 and share details

[2020-03-26 22:32] amenity commented on #1970
@SurbhiBakshi - I am seeing this at the bottom of the LIT backlog. Do you think we should prioritize above the other backlog issues?

[2020-03-26 22:35] amenity commented on #1970
Also, how does this relate to https://github.com/cityofaustin/atd-data-tech/issues/2130? Has the work already been performed?

[2020-03-26 22:43] amenity opened #2195 "Follow up on outstanding customer request for DSD"
Per [long email thread](https://github.com/cityofaustin/atd-data-tech/files/4390395/TIA-Fees-Email.pdf), a developer is confused by not being able to pay TIA fees online.

[2020-03-26 22:58] amenity commented on #1970
The plot thickens, see #2195 . 🤔

[2020-03-26 23:48] amenity commented on #2195
This is a long confusing mess. Slack convo w/ @SurbhiBakshi

[2020-03-27 00:42] jaime-mckeown commented on #1530
- The Location_Name in the Signals layer has duplicates, will not work for name of PDFs. Can't get 2 fields in the PDF name to also have the Signal ID. Going to use the Signal ID only. Will be simpler as they will be in numerical order.
- Need to figure out how to add credentials to the Script for AGOL as the Mxd's are accessing Nearmap photography from AGOL. Will not draw without being logged in.

[2020-03-27 06:13] sergiogcx commented on #2022
Closing, this is long done :)

[2020-03-27 06:13] #2022 closed

[2020-03-27 06:15] sergiogcx commented on #2194
Backups for the production and staging database have been created, and the tables have been truncated. The ETL's have also been temporarily stopped to help the Hasura servers have less load.

[2020-03-27 06:15] sergiogcx commented on #2194
The above data is being inserted as we speak, please do not touch process id `4642.pts-0.atd-data02` in the following days.

[2020-03-27 12:23] SurbhiBakshi commented on #1970
as soon as fees move to Production, and we confirm the process works, this should move to the top of the backlog, since this will help applicants pay online and not have to go onsite. Fingers crossed, UAT happens soon!

[2020-03-27 14:04] dianamartin commented on #1795
@johnclary I'm looking forwarding to closing #885 soonish 😉

[2020-03-27 14:07] dianamartin commented on #1452
I believe this was closed the end of Feb

[2020-03-27 14:07] #1452 closed

[2020-03-27 14:08] dianamartin commented on #1362
RPP Staff confirmed forms are working as they expected.

[2020-03-27 14:08] #1362 closed

[2020-03-27 14:08] dianamartin commented on #1381
Van confirmed that this Advanced Search for transactions works for Finance's needs.

[2020-03-27 14:08] #1381 closed

[2020-03-27 14:09] dianamartin commented on #1363
Steve was happy with the changes we have made, not modification comments were made in our last Sprint Review.

[2020-03-27 14:09] #1363 closed

[2020-03-27 14:10] #1512 closed

[2020-03-27 14:10] #2067 closed

[2020-03-27 14:11] #1504 closed

[2020-03-27 14:19] dianamartin commented on #1503
@moorerst I just messaged Ryan to ask him

Waiting to hear back now.

[2020-03-27 14:22] dianamartin commented on #1491
on 3/11 Sophia confirmed

[2020-03-27 14:22] #1491 closed

[2020-03-27 14:25] dianamartin commented on #2180
The the COVID-19 tracker we have a HSEM export page that matches the original spreadsheet

![Uploading image.png…]()

[2020-03-27 14:25] #2180 closed

[2020-03-27 14:32] dianamartin commented on #2182
Paul confirmed

on 3/26, I asked if Firefox could be installed on the Brazos devices

[2020-03-27 14:32] #2182 closed

[2020-03-27 14:33] dianamartin commented on #2185
@johnclary Did you get a chance to send out to managers/supervisors yet? I've had a couple of people ask if they can enable call forwarding remotely. So I just emailed them the instructions that CTM gave me.

[2020-03-27 14:33] dianamartin commented on #2179
Big button is on the application and working for most, but there are still Chrome log in errors.

[2020-03-27 14:33] #2179 closed

[2020-03-27 14:34] dianamartin commented on #1481
Completed on 2/26

[2020-03-27 14:34] #1481 closed

[2020-03-27 14:35] dianamartin commented on #2190
Had meeting with Jace on 3/26 about application refinements, we went over the proposed changes list and discussed what we should and shouldn't do to get the application out to the employees.

[2020-03-27 14:35] #2190 closed

[2020-03-27 14:38] dianamartin commented on #2187
Once we finalized what the information we wanted to include on our `Help` page we considered adding the Teams meeting recording. I felt like there was to much lag and the meeting wasn't clear for other users on how to do things.

I created step-by-step videos in Loom and linked them to the help [guide](https://atd.knack.com/hr#help/).

[2020-03-27 14:38] #2187 closed

[2020-03-27 14:39] dianamartin commented on #2157
Ella was going to see if/when she was going to Barton Oaks to pick up the cables.

[2020-03-27 14:45] dianamartin commented on #2033
Jamie emailed Jen D.

[2020-03-27 14:50] dianamartin commented on #2033
Emailed Jen/Jonathan to follow up

I just have an open issue to add it to the Performance Measure page, but I wanted to make sure it was official.

[2020-03-27 14:51] dianamartin commented on #2074
@SurbhiBakshi does this need to be closed?

[2020-03-27 14:51] dianamartin commented on #2071
Meeting was rescheduled to 3/31 (following Tuesday) due to meeting conflict on 3/24.

[2020-03-27 14:52] dianamartin commented on #2157
Ella confirmed

[2020-03-27 14:52] #2157 closed

[2020-03-27 15:00] SurbhiBakshi commented on #2195
Email from Sangeeta - All,

I will contact the applicant directly and figure out the issues.  Thanks

[2020-03-27 15:37] dianamartin commented on #2048
- [x] Created new application (`Right of Way | Portal`](https://atd.knack.com/row#home)

[2020-03-27 16:10] jaime-mckeown opened #2196 "Speed Management (LATM) Update to GISMAINT / GISDM"
Mario is working on updating the LATM layer in GISDM. I sent him a table export of the GISDM version. I also created a AGOL feature layer for him / interns to edit to create a current layer. He has requested to change some of the schema during this process.

Saving this Issue to my Backlog until I receive new data from Mario.

Let Veena P. at PW know when the data has been updated on GISDM

[2020-03-27 18:14] atdservicebot opened #2197 "Call-forwarding from Office phone to Cell phone"
Other / Not Sure

Call-forwarding from Office phone to Cell phone

Flexible  — An extended timeline is OK

Request ID: DTS20-100565

[2020-03-27 18:46] dianamartin commented on #2197
Emailed Manuel

[2020-03-27 18:46] #2197 closed

[2020-03-27 19:22] JaceDeloney opened #2198 "TMC_ISSUE_ID field in MMC Activities Socrata dataset"
Create `TMC_ISSUE_ID` field in MMC Activities Socrata dataset and populate data from Knack (we need to work more with Diana on this to get the data out of Knack)

[2020-03-27 19:23] JaceDeloney opened #2199 "Create MMC Issues Socrata dataset"
Create MMC Issues Socrata dataset and ETL process so that we can later join the two datasets to get more robust analysis

[2020-03-27 19:51] jaime-mckeown commented on #1530
- First export created using Signal ID as the name. Will need to see about getting the name field into the PDF name as well.
- Closing this issue, will create a new issue in the backlog for migrating this process to Pro and Python 3.

[2020-03-27 19:51] #1530 closed

[2020-03-27 19:53] jaime-mckeown opened #2200 "Signal Intersection Aerial PDFs to ArcGIS Pro, Web Map/App"
Need to update the process for the signal intersection aerial PDFs to run in ArcGIS Pro with Python 3.

[2020-03-27 21:02] tylerwhitson commented on #1241
Added "object_83" to the config -> mmc_activities -> ref_obj in [added mmc_activities to config #289](https://github.com/cityofaustin/atd-data-publishing/pull/289) and it looks like the TMC_ISSUE_ID field is now being populated in Socrata from Knack! @dianamartin nothing needed on your end! Thanks @johnclary for clarifying!

[2020-03-27 21:28] mateoclarke opened #2201 "[ETL] Update CR3 PDFs for a crash when a record updates"
Right now we're only saving the raw PDF CR3 on crash record **creation**.

When a record updates from CRIS (via ETL) or by the user (via the Conflict Management UI), we need to fetch a new PDF.

---

From @sergiogcx:

Any changes done by the ETL will include the "System" value in the updated_by  column. We can safely make the trigger assume:

[code]

![2020-03-26_17-21-21](https://user-images.gith

[2020-03-29 10:31] sergiogcx commented on #1510
We ended up using an S3 Lifecicle rule that will delete all objects older than 30 days.

Already implemented, and done.

[2020-03-29 10:31] #1510 closed

[2020-03-29 10:38] sergiogcx commented on #1959
Related to #2194

[2020-03-29 10:40] sergiogcx commented on #2194
Note to self:

In Hasura unique indexes and unique constraints behave the same, but constraints are more performant:
https://medium.com/flatiron-engineering/uniqueness-in-postgresql-constraints-versus-indexes-4cf957a472fd

[2020-03-29 10:40] sergiogcx commented on #2194
Pull request created:
https://github.com/cityofaustin/atd-vz-data/pull/723

[2020-03-29 17:01] zappfyllc commented on #1747
Scheduled for 3/30 at 1 pm

[2020-03-30 13:21] jaime-mckeown commented on #2189
Meeting postponed until Mid-April.

[2020-03-30 13:36] atdservicebot opened #2202 "SMB Data tracker Time logs table for signs"
Data Tracker

I would like to see the data tracker Time logs table for signs. There's a markings table, but not a Signs version of that table available.

https://atd.knack.com/signs-markings#work-orders-markings/markings/work-order-reports-markings/time-log-report/?view_3139_page=1

on the second table only has markings.

Our team will be able to determine total labor hours for signs work orders m

[2020-03-30 14:08] sergiogcx commented on #2194
The data has been inserted, the rest of the ETL modifications will be taken care of #1959

[2020-03-30 14:10] sergiogcx commented on #1959
Note to self:

- The unique indexes will need to be transformed into unique constraints for hasura to be able to work with the on_conflict statement.
- This will be required for all four tables: units, charges, person, primary person (see staging database)

[2020-03-30 14:47] sergiogcx opened #2203 "Update Spin Configuration"
The endpoint for spin has changed, the new endpoint for MDS is `https://mds.spin.pm` the old one `https://web.spin.pm` will be discontinued soon.

To Do:
- [x] Test new MDS endpoint with v0.2
- [x] Test new MDS endpoint with v0.3

Update configuration and upload to S3

[2020-03-30 15:33] moorerst commented on #2115
Added GOTOMYPC documentation to the Connect To Computer on the Google Doc outline also added a link to the ServiceNow Service Request to request a GTMPC account.
https://docs.google.com/document/d/1A-z1F2EzNdU5T8nX_6jAIroswL70kXzYnZFtE9JMkGY/edit#

[2020-03-30 15:38] SurbhiBakshi opened #2204 "TURP Payment online issue"
Please bring this to the attention of the Amanda group.

I am temporarily filling in for Tracy Linder, the Amanda SPOC for Austin Transportation who is on medical leave.

Please copy John Carr on related communication. John, please correct me if I have missed any of the details.

Issue -

Matthew Doughty of Cadence McShane is facing issues with pay for a TURP online.

The payment screen shows “Onl

[2020-03-30 15:43] SurbhiBakshi commented on #2204
INC0033926

[2020-03-30 15:48] dianamartin commented on #2202
Reviewed the application:
`Work Order Markings>Marking>Reports>Time Log Reports`

Added fields:
- `ATD Work Order ID`
- `Requester`
- `Location Name`
- `Count of Vehicles`

[2020-03-30 15:50] moorerst commented on #1503
RPP staff sent email to some ATD employees asking for participation in end user training. Received 3 responses so far.

[2020-03-30 15:58] SurbhiBakshi opened #2205 "TIA fees in Amanda / Portal"
Meeting with Sangeeta Jain and Upal Barua to discuss priorities for TIA group in light of current remote work and physical distancing situation.

[2020-03-30 15:59] SurbhiBakshi commented on #2205
Meeting Attendees - Sangeeta, Upal, John, Amenity, Surbhi

[2020-03-30 16:37] jaime-mckeown opened #2206 "Weekly Update: AMANDA Street Closure - 03/30/20"
Run AMANDA_Street_Events.py to create new AMANDA street closure data for the current week. Update the layer in the Mxd, publish to AGOL, and then update the Street Events and ACE Downtown Conflicts Web Maps on AGOL.

Follow Weekly_Update_for_Special_Events.doc located in G:\ATD\ATD_GIS\Office_of_Special_Events\OSE_GIS\AMANDA_Street_Events for steps to complete.

[2020-03-30 16:38] jaime-mckeown commented on #2206
Spent more time then normal on the updated, needed to modify the script to clean up the Event Names.

[2020-03-30 16:38] #2206 closed

[2020-03-30 18:01] jaime-mckeown opened #2207 "Bus Stop Analysis - J. Meyer"
Joel needs to share the Bus Stop Analysis Web App publicly so CapMetro can see it.

[2020-03-30 18:03] jaime-mckeown commented on #2207
- Let Joel know that in order to share data, Web Maps, or Web Apps publicly that ATD Publisher had to take ownership of the data.
- Changed ownership of the feature layer, Web Map, and Web App, and shared all to Everyone.
- Emailed Joel the link to the Web App.
- Let him know if he needs to edit anything to just let me know and I can change ownership back to him for edits.

[2020-03-30 18:03] #2207 closed

[2020-03-30 18:12] JaceDeloney opened #2208 "Update Bird Token"
New issue to update the token for Bird. Token has been added to 1password.

[2020-03-30 18:44] SurbhiBakshi commented on #1444
Crash ID is no longer the main identifier.

[2020-03-30 19:01] moorerst commented on #2144
Per SR no additional actions needed on this request
The problem has been corrected with the bluebeam licenses. I learned that we can have a pool of licenses as described by Ryan. However, it would be for all of ATD which would encompass TDS and Engineering as well as ROW.

I don’t think there is anything left to find out. I would need to supply the licenses, and double check with the vendor that t

[2020-03-30 19:01] #2144 closed

[2020-03-30 19:13] dianamartin commented on #2202
Christina said

She exported the table and is using it for her dashboard! She said she will let me know if she needs anything else but at first glance that was what she needed. She actually preferred that it was in the same table so that's perfect!

[2020-03-30 19:14] #2202 closed

[2020-03-30 19:14] dianamartin commented on #1683
@johnclary I thought we did this already back when we were migrating markings SRs over..

[2020-03-30 19:32] atdservicebot opened #2209 "I put in request 2 weeks ago to forward my desk number to my cell phone, but my desk number has not ..."
Other / Not Sure

I put in request 2 weeks ago to forward my desk number to my cell phone, but my desk number has not been forwarded.  Can you please forward my desk number 512-974-5690 to my cell phone number 512-767-4239?

Soon — This week

Request ID: DTS20-100575

[2020-03-30 19:38] dianamartin commented on #2209
Emailed user

[2020-03-30 19:38] #2209 closed

[2020-03-30 20:43] mateoclarke opened #2210 "VZD | Re-examine Crash to Location association process to make sure Level 5 crashes aren't in the wrong polygons"
In our Sprint Review #11, we discussed the need for our Crash/Location associations to be more sophisticated than just the simple point in polygon geospatial operation we're currently using.

The use case of a crash below an overpass is one example of where a crash might not be on the roadway or in the location in question, but the point in polygon function would assume it is.

Frank outlined the

[2020-03-30 21:12] SurbhiBakshi commented on #1444
Strategic Measure_Vision Zero

[2020-03-30 21:24] jaime-mckeown commented on #2119
Updated on 3/27/20 & 3/30/20.

[2020-03-30 22:25] atdservicebot opened #2211 "Enable call forwarding for entire ATSD workgroup"
Other / Not Sure

Please enable call fowarding (and mirroring) for the following people:
(all of these names and their forwarding cell numbers are in the excel sheet provided by the Data Management Team (see link below):
(1) Carly Haithcock
(2) Dylan Johnstone
(3) Ella Ryan
(4) Eric Virag
(5) MIke Schofield
(6) Nathan Wilkes
(7) Neil Quarles
(8) Sean Corcoran
(9) Sophia Benner
(10) Tyler Wong [thi

[2020-03-31 00:13] mateoclarke commented on #2210
### Level 5 Polygons

| level_1 | level_2 | level_3 | level_4 | level_5 | street_level | polygon_hex_id |
|---------|---------|---------|---------|---------|--------------|----------------|
|       0 |       0 |       0 |       0 |       1 | 4            | B958A98039     |
|       0 |       0 |       0 |       0 |       1 | 4            | 8A82CD2BAF     |
|       0 |       0 |       0 |       0 |

[2020-03-31 02:32] amenity commented on #2211
@dianamartin is going to discuss alternate options with Laura.

[2020-03-31 04:46] mateoclarke commented on #2140
@JaceDeloney I've updated the business rules to include non-CR3 values to be summed for Comp. Cost.

[2020-03-31 05:00] amenity opened #2212 "Sprint Review - 3/31/2020"
### Objective

-
- [Presentation](https://docs.google.com/presentation/d/16jq5sVlBpGEOuHB4x4ibOq13fKO5SAYBdPcjqmnDHro/edit#slide=id.p)

------
- [x] Schedule meeting
- [x ] Optional: Schedule debrief
- [ ] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ] Create resulting issues

[2020-03-31 05:02] amenity commented on #1933
Going to do #2212 instead after all.

[2020-03-31 05:02] #1933 closed

[2020-03-31 13:00] SurbhiBakshi opened #2213 "ROW Amanda Update"
Meeting to update ROW team on Amanda work in progress

[2020-03-31 13:02] SurbhiBakshi commented on #2213
**Amanda work with Launch IT -**

1. LIT working with DSD and Gita R at CTM to get right permissions for BSA/Dev.
2. Two meetings scheduled for late April with ROW, LIT, DTS to go over Amanda Backlog.

**Amanda work with CTM**

[2020-03-31 14:26] dianamartin commented on #2211
Emailed user

We do have however have another option, Avaya OneX Communicator. If your staff have the following:
•	COA issued laptop
•	VPN access
•	USB headset

You can get calls forwarded to your computer. However, if this I not an option I would highly suggest downloading the teams desktop application on your computer and the teams application on your phone so that you will be able to make call

[2020-03-31 14:26] #2211 closed

[2020-03-31 16:56] dianamartin opened #2214 "AirWatch Request: Add new camera app for Parking Enterprise"
Joseph A.
Shared Mobility Serv.

Emailed

[2020-03-31 16:57] dianamartin commented on #2214
I asked Joseph to clarify which app they wanted

[2020-03-31 16:58] dianamartin commented on #2214
Emailed Danny (CTM)

Danny replied

[2020-03-31 16:58] dianamartin commented on #2214
Waiting for Joseph to confirm he sees the new app in the App Store for the tablet.

[2020-03-31 17:01] dianamartin opened #2215 "Discussion about AMD General Work Order requirements"
### Objective
To find out what AMD work groups need for a general work order

### Participants
Brian C., Billy B., Diana M., Surbhi B., Ben P., Lance B., Jen D., Julian, H., Robin O.

### Agenda
•	Talk through a common AMD workflow
•	Identify similarities in work order fields
•	Identify specific business workflows for specific business units

 [Meeting Notes](https://docs.google.com/document/d/1U5

[2020-03-31 17:03] #2215 closed

[2020-03-31 17:04] dianamartin opened #2216 "Create AMD Workflow for Work Orders"
Review the [AMD Meeting notes](https://docs.google.com/document/d/1U5m4fgEir_atcRwKgmvxc87iJ6OondnMj2KvbPcvuFo/edit#)

Create workflow diagram for next meeting.

[2020-03-31 17:07] dianamartin opened #2217 "AMD Workflow Mark-up Meeting"
Schedule for 4/20, Monday

- [x] Scheduled for 2-3 weeks out from 3/31/2020

### Objective

### Participants

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [ ] Schedule meeting
- [ ] Optional: Schedule debrief
- [ ] Meet and take notes
- [ ] Optional: Debrief with DTS t

[2020-03-31 17:59] mddilley commented on #2175
Test users for all roles have been added to 1Password as "VZE Test User: [role]". These roles were created by appending +[role] to a shared DTS email and then confirming those emails for each user through the Auth0 Dashboard UI.

Access to the admin features works for IT Supervisor and Admin roles since the email addresses pass the @austintexas.gov check in the API. All roles were tested for acces

[2020-03-31 17:59] #2175 closed

[2020-03-31 18:00] #1898 closed

[2020-03-31 18:02] #2184 closed

[2020-03-31 18:09] amenity opened #2218 "Discuss Intake and Level I Support"
### Agenda
_[Google Doc](https://docs.google.com/document/d/1-6IhtCMfOoACwAANIiMnlLosBlHBl_R2Lqh6y3h4hKM/edit#heading=h.9y2xzfo6m7nc)_
- Service Request intake & triage
- End-to-end Level I support workflow
- Coordination with CTM Help Desk
- Roles & responsibilities (e.g. who is involved, shift rotation, etc.)

### Participants
John, Surbhi, Amenity, Diana

------
- [x] Schedule meeting
- [x] Mee

[2020-03-31 18:11] dianamartin commented on #2214
Joseph confirmed

[2020-03-31 18:11] #2214 closed

[2020-03-31 18:17] dianamartin opened #2219 "Feature request: Advanced Search in Finance & Purchasing"
Dan V.
Finance

Emailed

[2020-03-31 18:17] dianamartin commented on #2219
I asked user to clarify which application, in case it was for RPP.

[2020-03-31 18:19] dianamartin opened #2220 "Delete "csr_flex_notes" from Signs & Markings - March 2020"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

Ran filter on: `https://builder.knack.com/atd/signs-markings#data/object_172/records`

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 2/1/2020`

Total Records: `24,663`
To Delete: `11,298`
New Total: `13,365`

[2020-03-31 18:24] dianamartin commented on #2219
Dan confirmed it was for `Finance & Purchasing`.

I added `Needed By` on Search fields and added `Needed By` to search table results.

Emailed user back and will tell them to use the DTS SR in the future.

[2020-03-31 18:25] #2219 closed

[2020-03-31 18:27] #2173 closed

[2020-03-31 18:32] jaime-mckeown opened #2221 "Update Lamppost Banner Mxds / PDFs"
- An update was requested for the Convention Center District Map. When I started looking closely at the data, I realized that many of the maps were still connected to the old FGDB instead of GISDM for the data.
- There is no correlation between the PDF maps and the Web Maps (i.e. only showing only the Active locations).

- Will fix all Mxd data connections and create FGDB Annotation for the banner

[2020-03-31 18:33] dianamartin commented on #2193
@JaceDeloney We don't know when the HSEM export goes out or is submitted. I could have the ability for approvers to edit the record or revert the status back to `Needs Approval`, but that stipulation of before the HSEM report has been submitted is not nailed down.

[2020-03-31 18:34] jaime-mckeown commented on #2221
- Created Lamppost_Banner_Anno GDB for all new annotation.
- Updated Barton Springs Rd Mxd data connections, created new banner support annotation.

[2020-03-31 18:45] dianamartin commented on #2220
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/a2b86a9e-0e31-4e31-95ee-10ef3803e01e)

Starting at 1:45 pm

[2020-03-31 18:50] #2220 closed

[2020-03-31 19:12] dianamartin opened #2222 "IT Support: Log-in Issues - Rosie B."
Rosie B.
Finance

Emailed

[2020-03-31 19:14] dianamartin commented on #2222
I emailed user

Then clicking the “Log-in” button? The password should be your same work computer password to log in. If that doesn’t work you may have to call CTM help desk to help reset your computer password.

User emailed

I responded

[2020-03-31 19:16] JaceDeloney opened #2223 "Locations Index | Time period used for Locations Index page Totals Columns"
As a user, I want to see what time span is being used to total the values in the Locations Index page.

The text should be:

Placement:

![Screen Shot 2020-03-31 at 2.11.41 PM.png](https://images.zenhubusercontent.com/5dc05535495c1e0001182c16/5caf8f26-225a-47aa-9369-a6e7a28fa595)

[2020-03-31 19:24] dianamartin commented on #2222
User emailed

[2020-03-31 19:26] JaceDeloney opened #2224 "Re-associate crash to location when lat/long has been updated"
As a user, when I update a lat/long, I want VZE to re-associate a crash to a location polygon.

We have not currently implemented a process that triggers a re-association of crashes to locations when a lat/long is updated. Implement an actual trigger that runs the association once a lat/long change has been detected.

Question:
- Is there any other time that we would want to re-associate crashes t

[2020-03-31 19:31] tylerwhitson commented on #2198
@JaceDeloney I think it's safe to close this issue!

[2020-03-31 19:42] JaceDeloney opened #2225 "Include all injury severities in crash record export"
As a user, when I export crash records, I want all injuries and the respective severities included in the file.

Currently it doesn't look like crash record exports include data from multiple persons when more than one person is included in a crash. If a crash involves two people, there should be separate injury severities associated to each person. There should also be a unit associated to each p

[2020-03-31 19:43] sergiogcx commented on #2203
@JaceDeloney I can't get a token out of spin using the new host name.

This works (the old host name):
`https://web.spin.pm/api/v1/auth_tokens`

This does not:
`https://mds.spin.pm/api/v1/auth_tokens`

Once I do get a token (from the old endpoint), then the new endpoint works.

From what endpoint are we to get the token from?

[2020-03-31 20:09] JaceDeloney opened #2226 "Include CR3 & Non-CR3s in Location Index Comp Cost Column Calculations"
Currently the Comprehensive Cost column in the Location Index page does not include non-CR3s in their calculations. VZ Team has requested that non-CR3s be included using the standard comp cost calculations for non-CR3 crashes.

[2020-03-31 20:42] JaceDeloney commented on #2203
I followed up with them. Awaiting a response.

[2020-03-31 20:43] #2198 closed

[2020-03-31 22:25] dianamartin commented on #2082
@johnclary I created an `Add Cabinet` form to that page. I did a little rearranging of the fields so that the `Details`, `Edit Form` and `Add Forms` were consistent. I'll create a backlog issue to add the UPS fields to Socrata.

[2020-03-31 22:25] #2082 closed

[2020-03-31 22:26] dianamartin opened #2227 "Add UPS Fields to Socrata/API"
John asked

Here's the [docs](https://atd-dts.gitbook.io/austin-transportation-knack-guides/knack/open-data-portal-socrata-integration)

[2020-04-01 02:10] JaceDeloney commented on #2142
ok @tylerwhitson I have updated the colors based on discussions with you and @amenity. Thank y'all both so much for your help!

To clarify, we have updated the color values for the following:
- VZV widget icons
- Viridis Color Palette (currently used by the By Month, By Mode, and Demographics visualizations)
- Intensity Color Scale (currently used the By Time of Day visualization)

[2020-04-01 02:19] JaceDeloney opened #2228 "Update Vision Zero Logo on VZV"
Previously we used the official Vision Zero logo and colors for the header. After looking at the Vision Zero yard sign page, we (@amenity) realized that the colors used on the Vision Zero yard signs look better. The colors on the yard signs are brighter and pop more.

I need someone to look on the G Drive for a file that we can use. I don't have access. The location of VZ files on the G Drive is G

[2020-04-01 04:58] amenity commented on #2228
I can access the G Drive... Unfortunately there aren't any .svgs. One might be able to extract a vector logo out of the .psd files but my Creative Cloud license has expired. @tylerwhitson - does anyone in PIO have Photoshop? If not, we could at least get a higher resolution image of the current logo.

[2020-04-01 14:42] alan-deanda opened #2229 "Update: Markings work orders 04/01/2020"
51 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-01 15:01] tylerwhitson commented on #2228
@amenity @JaceDeloney I've reached out to our graphic designer for a vector or high-res file of this image. She should be able to obtain it - I'll send it over to y'all once I received it.

[2020-04-01 15:38] sergiogcx commented on #2203
From response:

This confirms that we are going to use both endpoints, one for authentication (web.spin.pm) and another as the mds endpoint (mds.spin.pm).

[2020-04-01 18:54] JaceDeloney commented on #1680
I updated the requirements for this issue to include the following information:
- When the last time the data was refreshed
- Clarification on the geographic boundaries used to collect the data
- Methodology used to collect the data

[2020-04-01 18:54] JaceDeloney commented on #1824
Now tracking this work in #1680

[2020-04-01 18:54] #1824 closed

[2020-04-01 18:55] JaceDeloney commented on #1586
Tracking this work in #1680

[2020-04-01 18:55] #1586 closed

[2020-04-01 19:03] JaceDeloney commented on #2099
Updated these requirements based on @tylerwhitson great feedback. Thanks Tyler!

[2020-04-01 19:06] atdservicebot opened #2230 "Add ATD_WORK_ORDER_ID column to "Specification Counts | Table" for Signs Work Orders https://atd.kn..."
Data Tracker

Add ATD_WORK_ORDER_ID column to "Specification Counts | Table" for Signs Work Orders

https://atd.knack.com/signs-markings#work-order-signs/reports-signs/?view_3071_0_filters=%5B%7B%22value%22%3A%22%22%2C%22text%22%3A%22Current%20Week%22%2C%22operator%22%3A%22is%20during%20the%20current%22%2C%22field%22%3A%22field_3362%22%2C%22type%22%3A%22week%22%7D%5D

The outcome to see implement

[2020-04-01 20:00] dianamartin commented on #2222
Rosie wasn't ready on 3/31 to get assistance. She called 4/1 to see if I could walk her through. After much time, we abandoned downloading MS Teams. I was finally able to get Rosie to sign on to the Finance and Purchasing system like she needed the other day.

[2020-04-01 20:00] #2222 closed

[2020-04-01 20:11] amenity commented on #2228
Regrouping on this since Lewis wants to keep the OG palette and preserve the tagline. @tylerwhitson, can you get us a vector (svg) version of this one?
![download.png](https://images.zenhubusercontent.com/5dc05535495c1e0001182c16/1de03f35-a683-4f8f-9a01-9925781d2f5a)

We can always

[2020-04-01 20:34] #1730 closed

[2020-04-01 20:35] #2015 closed

[2020-04-01 20:35] #2073 closed

[2020-04-01 20:35] JaceDeloney commented on #2226
Disregard. This work is being worked on in #2140

[2020-04-01 20:35] #2226 closed

[2020-04-01 20:37] alan-deanda commented on #2076
@johnclary , I've reached out to AECOM requesting to meet for an hour on April 8th.
I've committed to have a proposed schema for them by this point. We'll also need to talk to ATD stakeholders on deliverables, closing dates.
I'll track my progress on the questions I've sent to the area engineers in a separate issue.

[2020-04-01 20:48] alan-deanda opened #2231 "Markings time table for work performed"
Create a related table per markings asset to track work performed over time, instead of merely updated the `INSTALL_DATE` field.
The proposed schema is as follows:

### Sample Table ###
| Field | Values | Description |
| --------------------- | ----------------- | ------------------------------- |
| x_MARKING_ID | 123456 | Relate will be based on this field |
| WORK_DATE | mm/dd/yyyy | date field

[2020-04-01 20:50] dianamartin commented on #2230
Had to do some research on the tables and how they're connected. Was able to add a related table's field to the `Specification Counts | Table`.

![image](https://user-images.githubusercontent.com/21112975/78185353-882b1b00-7430-11ea-8576-da11443fb96a.png)

[2020-04-01 20:57] dianamartin commented on #2230
Emailed user

![image](https://user-images.githubusercontent.com/21112975/78185920-74cc7f80-7431-11ea-95d1-a634212dd357.png)

[2020-04-01 20:57] #2230 closed

[2020-04-01 21:19] #2194 closed

[2020-04-01 21:32] sergiogcx commented on #1542
This is done!

[2020-04-01 21:32] #1542 closed

[2020-04-01 22:04] sergiogcx commented on #2208
Bird is up and working again! :)

[2020-04-01 22:04] #2208 closed

[2020-04-01 22:05] sergiogcx commented on #2203
Configuration updated

[2020-04-01 22:05] #2203 closed

[2020-04-02 13:45] dianamartin opened #2232 "IT Support: Access to Parking Enterprise Reporting Portal - Jasmine L."
Frank B emailed

[2020-04-02 13:45] dianamartin commented on #2232
Emailed users

[2020-04-02 13:45] #2232 closed

[2020-04-02 13:46] dianamartin opened #2233 "Feature request: [Feature name]"
Jonathan T.
ROW

Messaged

[2020-04-02 13:48] dianamartin commented on #2233
Messaged user back

- [x] Fixed all search fields to be Proper case
- [x] Fixed all search table fields to be Proper case
- [x] Tested the query for Sealing Engineer, got 131 records returned

[2020-04-02 13:48] #2233 closed

[2020-04-02 13:49] dianamartin commented on #2233
User confirmed this was what they needed

[2020-04-02 14:31] dianamartin opened #2234 "Created ATD Geospatial wiki in GitBook"
Jaime M.
DTS

Emailed

[2020-04-02 14:32] dianamartin commented on #2234
I created the environment for [ATD Geospatial](https://app.gitbook.com/@atd-dts/s/atd-geospatial/).

Jaime will create the meeting so I can do the walk through.

[2020-04-02 14:32] #2234 closed

[2020-04-02 14:34] dianamartin opened #2235 "HR App: Essential Employee Form"
John
DTS

Emailed

[2020-04-02 14:39] dianamartin commented on #2235
@johnclary I created the two objects and the [form](https://atd.knack.com/hr#essential-employee-responsibilities/). Please look at it an give any feedback when you have free time.

[2020-04-02 14:58] atdservicebot opened #2236 "(Urgent) I filled out entries on the ATD COVID timekeeping tracker, but messed up the entries (dates and desc..."
Other / Not Sure

I filled out entries on the ATD COVID timekeeping tracker, but messed up the entries (dates and descriptions). There is no way to delete an entry or change a description on the app. But they need to be deleted so that I can resubmit them correctly.

Urgently — Today or tomorrow

This tracker times are supposed to be submitted by 10:00am so the sooner the entries are deleted, the

[2020-04-02 15:01] dianamartin commented on #2236
Just messaged Alex

[2020-04-02 15:02] jaime-mckeown opened #2237 "GIMOB Meeting - March 2020"
Attend the month GIMOB Meeting. Will add my notes to a comment below.

[2020-04-02 15:08] dianamartin commented on #2236
Called Alex and we talked about the need for a `Delete` button on the edit form submission for a user. I - [x] Added `Delete` button
- [x] Configured Display rules for `Edit` and `Delete` buttons
- [x] Added `Work Description` on the `Edit` form

She had mentioned another co-worker needed to change the description and we didn't have it on the form.

[2020-04-02 15:08] #2236 closed

[2020-04-02 15:16] #2229 closed

[2020-04-02 15:17] alan-deanda opened #2238 "QA bike rack data"

[2020-04-02 15:59] dianamartin commented on #2227
Asked @johnclary whether I should include the fields
- `UPS IP Address`
- `UPS Port`

Waiting on his reply. I updated the data set without these fields, bc I can add them later.

[2020-04-02 16:02] JaceDeloney opened #2239 "Replace Unit Description column with Comp Cost"
After a call with Lewis today, he mentioned that it would be helpful to have the comp cost listed on the crash index page. This would help users quickly understand the total comp cost of a crash involving multiple units/persons with low severity injuries. He mentioned that the unit description column isn't heavily used, and if needed, users could find that information using filters.

We need to re

[2020-04-02 16:06] jaime-mckeown commented on #2237
- GISERT - make sure you are checking the calendar to see if you're scheduled
- COVID-19 Dashboard on austintexas.gov website
- Esri Credits - 256 un-allocated credits
- Geospatial Data Services - CTM is starting the ArcGIS Pro Migration, impervious cover contract with Furgo
- Geospatial Technology Management
   - There are still openings for classes, check what's available and sign up. Classes wi

[2020-04-02 16:07] #2237 closed

[2020-04-02 17:08] mateoclarke opened #2240 "500 Status error on https://micro.mobility.austin.gov/"
Reported by Nelson\Nygaard consultants and LianeM.

Reproduced though some users able to get server response on second try.

Might be related to MDS updates but it seems to be an issue in the Python api:
https://github.com/cityofaustin/atd-micromobility-api

![Screen Shot 2020-04-02 at 12 05 25 PM](https://user-images.githubusercontent.com/5697474/78277610-69815e80-74da-11ea-84ee-3a611d9374af.png)

[2020-04-02 17:20] alan-deanda commented on #2238
@johnclary , since we were wondering about bike racks on our geo-backlog groom, it seems they've been active, judging by the amount of bike racks i found in our lake trash bin this morning.

[2020-04-02 17:20] #2238 closed

[2020-04-02 17:55] alan-deanda opened #2241 "GIS Service Request: Bike facilities and transit data"
## GIS Service Request ##

**Requester:**
Outside requester
**Issue Description:**
Bike facilities and transit request
**Resolution / Service Provided:**
Data has been provided

[2020-04-02 17:55] #2241 closed

[2020-04-02 18:02] jaime-mckeown opened #2242 "2020 Esri UC Cancellation"
Denise notified me that our travel to the Esri UC in July has been cancelled.

[2020-04-02 18:04] jaime-mckeown commented on #2242
- Cancelled my hotel reservation through the Esri Housing Bureau. Forwarded cancellation receipt to Denise.
- Notified Roxanne (GIMOB Chair) that Susanne and my registrations need to be cancelled.
- Updated the Spreadsheet in SharePoint that we have cancelled.
- Let Susanne know that everything has been taken care of, but she needs to cancel her hotel reservation.

[2020-04-02 18:05] #2242 closed

[2020-04-02 18:05] jaime-mckeown commented on #2119
Updated on 4/1/20.

[2020-04-02 18:06] #2174 closed

[2020-04-02 18:18] amenity commented on #2170
@johnclary is going to discuss with Nate B. Definitely want to pursue this, but not in scope for now.

[2020-04-02 18:20] amenity commented on #2193
Will need more clarity on this before we work on it. @JaceDeloney - have you heard this requested by any users yet?

[2020-04-02 18:21] JaceDeloney commented on #2193
I was told by @johnclary that this was a requirement. I assume this came in as a request from managers and timekeepers.

[2020-04-02 18:23] #2172 closed

[2020-04-02 18:23] dianamartin commented on #2171
I received information from Scott and Adan, so i was able to associate employees and their managers.

[2020-04-02 18:24] #2171 closed

[2020-04-02 18:35] johnclary commented on #1467
TODO:

1. Ask CTM to change layer settings to allow downloads.
2. Post this link on the data portal dataset: https://www.arcgis.com/home/item.html?id=1142011559ab4f00add7fbba783847ed

Longer term
3. Use Esri > Socrata connector

[2020-04-02 18:43] SurbhiBakshi commented on #2135
Assignments are on hold right now as per Lewis.

[2020-04-02 18:45] johnclary commented on #1888
Closing this issue. We are addressing these with our dedicated server.

[2020-04-02 18:47] johnclary opened #2243 "Migrate Knack Apps to Dedicated Server"

[2020-04-02 18:48] #1888 closed

[2020-04-02 18:49] #2071 closed

[2020-04-02 18:51] johnclary opened #2244 "Write SXSW Docs in Gitbook"
Completed SXSW documentation in GitBook.
https://app.gitbook.com/@atd-dts/s/atd-geospatial/sxsw-gis-support

[2020-04-02 18:51] johnclary commented on #2074
[New issue](https://github.com/cityofaustin/atd-data-tech/issues/2244) to document process.

[2020-04-02 18:51] #2074 closed

[2020-04-02 18:52] dianamartin commented on #1554
I created the [ROW | Portal](https://atd.knack.com/row#home/)

[2020-04-02 18:52] johnclary commented on #2130
@SurbhiBakshi please add notes and close.

[2020-04-02 18:53] johnclary commented on #2204
User was locked out when using portal. This has been resolved per Surbhi.

[2020-04-02 18:53] #2204 closed

[2020-04-02 18:54] #1550 closed

[2020-04-02 18:54] #2133 closed

[2020-04-02 18:54] dianamartin commented on #2227
John said

[2020-04-02 18:54] #2227 closed

[2020-04-02 18:55] #2131 closed

[2020-04-02 18:55] johnclary commented on #2185
@dianamartin plz update and close

[2020-04-02 18:56] dianamartin commented on #2033
Van wrote

Jen wrote back

[2020-04-02 18:56] #2033 closed

[2020-04-02 18:59] dianamartin commented on #2137
DUP of #2277

[2020-04-02 18:59] #2137 closed

[2020-04-02 19:00] dianamartin commented on #2136
Comment from #2082

[2020-04-02 19:00] #2136 closed

[2020-04-02 19:05] atdservicebot opened #2245 "Request to add the "Collector for ArcGIS" app onto the Signs & Markings technician tablet"
Other / Not Sure

Would like to add the "Collector for ArcGIS" application onto the Signs & Markings technician tablets!

Soon — This week

Would like this to be added soon if possible. This is to provide alternative work to staff during COVID-19 if deemed necessary. We are also using collector for inspection of contractor work.

Request ID: DTS20-100595

[2020-04-02 19:29] #2239 closed

[2020-04-02 20:03] SurbhiBakshi commented on #1444
![Screen Shot 2020-04-02 at 3.02.45 PM.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/9d379cf2-b1fe-46a1-a8d0-6ddd86b0d9fa)

[2020-04-02 20:23] alan-deanda opened #2246 "Update: Markings work orders 04/02/2020"
44 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-02 21:11] #2185 closed

[2020-04-02 21:17] dianamartin opened #2247 "Add new "Category" to COVID-19 Task"
Jen D.
AMD

Emailed to ask

[2020-04-02 21:17] dianamartin commented on #2247
Testing Collection Point staffing” has been added.

[2020-04-02 21:17] #2247 closed

[2020-04-02 21:50] sergiogcx opened #2248 "VZD ETL Bug"
Airflow reports this problem:

[code]

[2020-04-02 21:53] sergiogcx commented on #2248
PR:
https://github.com/cityofaustin/atd-vz-data/pull/731

The problem stopped the ETL process last night, but it did not fully break the pipeline.

I was able to replicate the error locally, which means that I lost that code sometime around the time when I was reverting and fixing other branches, or probably around conflict resolutions.

Added again the missing code from and old local branch, and

[2020-04-02 21:54] #2248 closed

[2020-04-02 21:59] mddilley opened #2249 "VZV | Summary view | "By Month" visualization doesn't plot if month total is 0"
When a month total is 0, the "By Month" visualization does not render the cumulative total as a data point. For example, if the cumulative total for fatalities in January and February is 16 and the total for March is 0, the data point for March should plot as 16. The screenshot below shows no data point rendered at all.

Note: This edge case bug is no longer reproducible in VZV staging since one f

[2020-04-02 22:03] sergiogcx commented on #2248
Confirmed to have worked!

![2020-04-02_17-02-59.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/7896fcd1-2aa9-4060-af55-789946f2985f)

[2020-04-02 22:36] johnclary commented on #2069
@dianamartin would you coordinate with Steve and AMD to schedule this migration?

[2020-04-02 22:37] amenity commented on #2069
As far as migration windows, from Lance:

[2020-04-02 22:42] amenity commented on #2233
@dianamartin - what should this issue be named?

[2020-04-02 23:11] SurbhiBakshi commented on #1444
![Screen Shot 2020-04-02 at 6.10.36 PM.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/5c91c03e-49c3-4e70-acc6-5b420b76b2cb)

[2020-04-02 23:21] SurbhiBakshi commented on #1444
(((to_text(`crash_year`) || '-') || to_text(`crash_month`)) || '-') || to_text(`crash_day_of_month`)))

[2020-04-02 23:36] SurbhiBakshi commented on #1444
![Screen Shot 2020-04-02 at 6.36.30 PM.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/d5799fc2-4ace-451c-9748-784ac4905fb0)

[2020-04-03 14:50] SurbhiBakshi commented on #1444
to_floating_timestamp(
  (((to_text(`crash_year`) || '-') || to_text(`crash_month`)) || '-') || to_text(`crash_day_of_month`)
)

[2020-04-03 15:27] #2246 closed

[2020-04-03 17:08] johnclary opened #2250 "Hardware, Accounts, etc."
### Accounts

- [x] Employee Transfer form _submitted 4/6_
@johnclary Has this been filled out already?
- [x] Network account request
- [ ] Phone request - _Will set up with Avaya oneX Communicator, once we set-up a phone extension..._
- [x] 1Password _sent invite_
- [x] Slack - _John set-up_
- [x] Google Drive _shared with work email, needs to create an account first_
- [x] Github Team _had one w

[2020-04-03 17:08] johnclary opened #2251 "Delivery Workflow Training"

[2020-04-03 17:08] johnclary opened #2252 "ROW AMANDA Business Process Training"
In-depth (possibly a series of meetings) screensharing with ROW permit analyst to learn about their processes.
- [x] TIA Folder and Mitigation Fees
- [x] DSD Training
- [x] ROW Basics

[2020-04-03 17:09] johnclary opened #2253 "Transportation Development Services AMANDA Training"
In-depth (possibly a series of meetings) screensharing with TDS analyst to learn about their processes.

[2020-04-03 17:09] johnclary opened #2254 "Onboard AMANDA IT BSA"

[2020-04-03 17:18] johnclary opened #2256 "Introduction to DTS Meeting"
Scheduled for 4/6 @ 9am.

[Slides](https://docs.google.com/presentation/d/1ByRWXmjHut88cTiPVOTgkwTJ2V5_m1Y_0j46FP_kdYw/edit)

[2020-04-03 17:18] moorerst commented on #1503
Met with 5 usability testers during the RPP Sprint Review meeting
Reviewed Usability Test Plan

[2020-04-03 17:22] alan-deanda opened #2257 "Update online bike map"
Published an updated online bike map on 04/03/2020

[2020-04-03 17:22] #2257 closed

[2020-04-03 17:23] johnclary commented on #2251
@amenity would you schedule this for early next week?

[2020-04-03 17:24] johnclary commented on #2250
@dianamartin would you take the lead on software/accounts and hardware?

@amenity including here so you can track when we have accounts setup.

[2020-04-03 17:25] alan-deanda opened #2258 "Test vector tiles for Austin Bike Map"
Create vector tiles from the Austin Bike Map feature layer and create tiles at several tile sizes to find the fastest loading tiles with an adequate amount of detail across scales.

[2020-04-03 17:26] johnclary commented on #2250
@SurbhiBakshi would you work with Nate and LIT to get his Trello username added to their Trello board?

[2020-04-03 17:27] johnclary commented on #2252
@SurbhiBakshi would you schedule time with Nate and Kimberly (ROW) for this? You probably don't need to be present in the training unless you want to be. FYI @dianamartin

[2020-04-03 17:29] johnclary commented on #2253
@SurbhiBakshi would you schedule this one with Sangeeta and Nate? ROW training definitely takes priority over this. FYI @dianamartin

[2020-04-03 17:40] alan-deanda opened #2259 "Update: Markings work orders 04/03/2020"
38 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-03 19:05] atdservicebot opened #2260 "Requested EC500 call-forwarding - Curtis B."
Other / Not Sure

I request the activation of the EC500 call-forwarding feature of my office phone to my mobile phone.

Thanks.

Soon — This week

Requested by 4/10/2020

Request ID: DTS20-100600

[2020-04-03 19:51] jaime-mckeown opened #2261 "GIS to CAD Help - J. Bradley"
Josh is having problems accessing large datasets in GIS through Citrix (parcels, impervious cover). He needs to export data to CAD for a project.

[2020-04-03 19:55] jaime-mckeown commented on #2261
- Spent ~45 minutes helping Josh get data he needs to be able to continue working on his project in CAD. He is accessing GIS from his personal computer through Citrix, and it is so slow that it is timing out when he is trying to access large datasets.
- He is working on one intersection, therefore I exported subsets of wcad and impervious cover to a FGDB so he doesn't need to bring the entire data

[2020-04-03 19:55] #2261 closed

[2020-04-03 19:58] jaime-mckeown opened #2262 "GIS Analysis Assistance with Signals / Camera layers - S. Anekar"
- Sukumar requested to talk about his project regarding signals, cameras, and adding new cameras to signals that currently don't have cameras.
- Spent ~1 hour on the phone with Sukumar as he had multiple questions related to tasks he is trying to accomplish.
- He needs to know how many total signals, how many camera's that are turned on, and how many desired signals there are per Council District

[2020-04-03 20:06] dianamartin commented on #2260
Talked to Curtis and gave him the other option for the oneX Communicator. I was able to walk him through the steps to:
- download
- log in
- test call with him

He was happy and I told him to tell his team.

[2020-04-03 20:06] #2260 closed

[2020-04-03 20:12] jaime-mckeown commented on #2262
Saved copy of Mxd and FGDB here since its related to this project: g:\ATD\ATD_GIS\Arterial_Management\Signal_Intersection_Aerials

[2020-04-03 20:52] #1607 closed

[2020-04-03 21:52] dianamartin commented on #2048
@johnclary This app is ready for your review and maybe we need to talk about the custom scripts you wrote for the TCP Stuff (business day thing)

[2020-04-03 22:14] dianamartin commented on #2186
Dup of #2254

[2020-04-03 22:14] #2186 closed

[2020-04-03 22:17] amenity commented on #1747
**Session 2: 4/3**
_Sergio, Mateo, JD, Amenity, John_

Devs can make progress on the Mobility Project Editor — form rules, UI, etc. — before building out database if we use GraphiQL + JSON server (DB.json) to prototype. Gives us the ability to test queries and even perform user testing without locking ourselves into a particular structure.

[2020-04-03 22:49] amenity opened #2263 "Document functional requirements"
With our user research and data model in hand, we are ready to document the functionality we anticipate building into the Moped minimum viable product.
- [Feature Map](https://docs.google.com/spreadsheets/d/1gNCz63qFpztiuL_JK4aPNnicjCglmATOW1dbpU0wxWk/edit#gid=793932181)
- [User Stories](https://docs.google.com/spreadsheets/d/1gNCz63qFpztiuL_JK4aPNnicjCglmATOW1dbpU0wxWk/edit#gid=1818231416)

_This

[2020-04-04 00:03] amenity commented on #1794
Covered by #2263

[2020-04-04 00:03] #1794 closed

[2020-04-04 00:11] amenity commented on #2263
@zappfyllc - I think that realistically it doesn't make sense for me to start this without walking through the work that you've done. Let's plan to meet in Sprint 22, time permitting.

[2020-04-04 00:33] jaime-mckeown opened #2264 "Great Streets GIS Data / New Web Map based on Asset Map - A. Sellers"
Email from April:

Email from Diana:

[2020-04-04 00:45] amenity opened #2265 "Get access to Access IPD"
Having access to the Interim Project Database Access interface will be very informative for #2263. Amenity and JD both need access, Sergio has set up a version for himself on a Windows VM.

[2020-04-04 01:18] amenity commented on #1497
**Notes**
- Nathan W. points out that ATD staff has extensive involvement in projects owned by our regional partners. E.g. in the process of identifying an ATD "project owner" for I35 because the coordination/collaboration is that intense. As such, data from the Regional Mobility Partners listed in the [System Context diagram](https://drive.google.com/drive/folders/1L12sKoIdv5-vX3Xwf02IPNeP1LecJdo

[2020-04-04 01:19] amenity commented on #1497
@zappfyllc @johnclary - if you have any notes/thoughts from Tuesday's Sprint Review, slap them up here, please. 🙏

[2020-04-04 01:36] amenity commented on #1500
@moorerst @dianamartin - can you check the milestone on this?

[2020-04-04 01:38] amenity commented on #1777
@SurbhiBakshi - does this ring a bell for you?

[2020-04-04 01:40] amenity commented on #1166
I cleaned up templates and migrated over those from atd-geospatial.  🎉

[2020-04-04 01:40] #1166 closed

[2020-04-04 01:42] amenity commented on #1196
@dianamartin - I think this is done, yeah?

[2020-04-04 01:59] amenity commented on #1012
Due to hiring freeze, moving to backlog.

[2020-04-04 02:11] dianamartin commented on #1196
@amenity no, we have a lot of other repo wikis that haven’t made it over yet.

[2020-04-04 20:38] mateoclarke commented on #1444
Hey @SurbhiBakshi, can we circle up on this? It looks like we might be publishing duplicative datasets. Let me know when you have time to talk.

[2020-04-05 19:34] SurbhiBakshi commented on #1444
@mateoclarke, sure, will schedule some time on your calendar.

[2020-04-05 20:02] SurbhiBakshi commented on #1777
@amenity - not immediately :-( going to go through my unrefined notes to see if I have anything.

[2020-04-06 07:07] amenity commented on #307
*Status update*

[2020-04-06 07:35] amenity commented on #145
**Status update**

[2020-04-06 13:46] dianamartin commented on #1500
@amenity I updated the milestone

[2020-04-06 14:39] JaceDeloney commented on #1811
Updated the description for this issue. Once completed, we should have a list of new issues to enhance the performance of VZV on mobile devices.

[2020-04-06 15:32] moorerst commented on #1503
@dianamartin can you review the testing script document when you have a chancehttps://docs.google.com/document/d/1guL_IxbfYD6lSAFX67M5cYIM9lIouMeMpOOH6asgZ3U/edit

[2020-04-06 16:19] jaime-mckeown opened #2266 "Weekly Update: AMANDA street closure - 04/06/20"
Run AMANDA_Street_Events.py to create new AMANDA street closure data for the current week. Update the layer in the Mxd, publish to AGOL, and then update the Street Events and ACE Downtown Conflicts Web Maps on AGOL.

Follow Weekly_Update_for_Special_Events.doc located in G:\ATD\ATD_GIS\Office_of_Special_Events\OSE_GIS\AMANDA_Street_Events for steps to complete.

[2020-04-06 16:21] jaime-mckeown commented on #2266
Update complete.

[2020-04-06 16:21] #2266 closed

[2020-04-06 17:19] #2153 closed

[2020-04-06 17:39] johnclary commented on #2254
@dianamartin would you ask scott for the link to the employee transfer form and submit it?

[2020-04-06 17:49] jaime-mckeown commented on #2262
Emailed Sukumar about signal layer, he is looking at all signals, but may want to filter based on status'.

[2020-04-06 18:13] #2099 closed

[2020-04-06 18:13] #2142 closed

[2020-04-06 18:29] atdservicebot opened #2267 "Join waitlist for call forwarding to cell phone - Anna M."
Other / Not Sure

Join waitlist for call forwarding to cell phone

Flexible  — An extended timeline is OK

Request ID: DTS20-100605

[2020-04-06 18:44] dianamartin commented on #2267
Going to reach out to Anna to see if she's eligible for the oneX communicator option.

[2020-04-06 19:11] SurbhiBakshi commented on #2253
@johnclary,  @dianamartin - Intro + Training scheduled for April 14th.

[2020-04-06 19:13] SurbhiBakshi commented on #2252
@johnclary , @dianamartin - scheduled Introduction + Training (first meeting) for April 7th

[2020-04-06 19:17] dianamartin commented on #2267
Gave Anna the wiki to download the software and configure. She'll let me know if she runs into any trouble. She's an admin on her computer, I added her to the list of oneX Communicator folks.

[2020-04-06 19:22] alan-deanda opened #2268 "Investigate how to get number of lanes data consistently"
Several programs need number of lanes data, such as planning and PHBs. There exist several potential sources for this data. We need to investigate how to ingest this data consistently and document it in the CTN.

[2020-04-06 19:27] alan-deanda opened #2269 "Create related tables to track work dates for Markings"
Create tables to track when markings are installed, maintained, or removed. Table to use asset and work order IDs.

[2020-04-06 19:39] atdservicebot opened #2270 "Install Avaya OneX Communicator"
Other / Not Sure

Install Avaya OneX Communicator

Soon — This week

Need to make calls to customers.

Request ID: DTS20-100610

[2020-04-06 19:45] dianamartin commented on #2270
Emailed Sangeeta about prerequisites:

- you have a COA issued laptop
- access VPN using NetMotion/AnyConnect?

[2020-04-06 19:45] SurbhiBakshi commented on #2250
@johnclary added Nate to the LIT-ATD Trello board.

[2020-04-06 20:00] #2195 closed

[2020-04-06 20:01] amenity commented on #2165
Mike D. from CTM AMANDA Support sent a spreadsheet to Paloma and will follow up with her if she needs anything else.

[2020-04-06 20:01] #2165 closed

[2020-04-06 20:06] dianamartin commented on #2270
Sangeeta was ready to install, so I walked her through. She was able to download the software and I showed her a quick tutorial on buttons and everything.

[2020-04-06 20:06] #2270 closed

[2020-04-06 22:06] dianamartin commented on #2216
Created new Visio workflow: `ATD_work_group_workflow_20200406` - G:\ATD\ATD_GIS\02_ENT_APPLICATIONS\AMD_DATA_TRACKER

[2020-04-06 22:13] jaime-mckeown commented on #2221
- Verified with Lauren that the Pole #s should match the AE Pole layer. There are many poles that have updated numbers or have been removed.
- Edited the banner support layer in MAINT today going through each district and updating the pole numbers and changing the status to removed for poles that don't exist in the AE Pole layer anymore. Pushed updates to GISDM.

[2020-04-06 22:13] jaime-mckeown commented on #2119
Updated on 4/3 and 4/6.

[2020-04-07 11:55] sergiogcx commented on #1959
All the tables are taken care of, except crashes where there isn't a lot of clarity as to what exactly will be the process.

[2020-04-07 13:19] SurbhiBakshi commented on #1425
Checked in with April S to see if she can make it to the Thursday meeting. Yet to hear back.
@johnclary - will slack you her supervisor's name.

[2020-04-07 13:29] SurbhiBakshi commented on #1444
- All three main assets - dataset, performance measure, and story as listed in comment above are shared with OPM and made public. I have asked Nicole and Dorr at OPM to review. Will address changes as needed.

- @johnclary , @mateoclarke and I discussed setting up an ETL process to update OPM dataset from the original VZE dataset.

- Will include a link to the VZE viewer under the Additional Measu

[2020-04-07 13:48] #2256 closed

[2020-04-07 13:49] dianamartin commented on #2218
Related to #2161

[2020-04-07 13:53] dianamartin commented on #2245
Turned in ticket last week 4/3.

Open Task: `SCTASK0060135`, was listed as `low priority`

[2020-04-07 14:28] #2096 closed

[2020-04-07 14:31] jaime-mckeown commented on #2262
Did an Identity between Signals, Proposed CCTV, and Traffic Cameras On with Council Districts. Then a frequency on each to find how many of each per Council District. Saved tables to Sukumar's FGDB, and emailed him that they are there.

[2020-04-07 14:37] atdservicebot opened #2271 "Would you please reset the password for my voicemail box on my office phone (4-6471)? Thank you!"
Other / Not Sure

Would you please reset the password for my voicemail box on my office phone (4-6471)?

Thank you!

Soon — This week

Request ID: DTS20-100615

[2020-04-07 15:25] SurbhiBakshi commented on #1467
1. [Transportation.Bicycle
_Facilties](https://www.arcgis.com/home/item.html?id=1142011559ab4f00add7fbba783847ed)is published on AGOL by CTM Publisher.
2.[Austin Bicycle Facilities](https://data.austintexas.gov/dataset/Austin-Bicycle-Facilities/kfe9-st9c) is published by ATD . This has a link to the AGOL Rest service and the AGOL download page. However the AGOL page needs a sign in, and doesn't of

[2020-04-07 15:29] #2213 closed

[2020-04-07 15:30] SurbhiBakshi opened #2272 "Amanda ROW Update Meeting - April 7th 2020"
Weekly meeting with ROW to update on Amanda issues

[2020-04-07 15:33] dianamartin commented on #2271
Messaged user>
Hi Curtis, you'll need to call CTM to rest your voicemail password. We have it here on the wiki if you need to know the steps to log in with your temporary password: [ATD Staff Resources wiki](https://atd-dts.gitbook.io/atd-staff-resources/phone-resources/phone-resources/checking-voicemail-or-coa-phones)

[2020-04-07 15:34] dianamartin commented on #2271
Curtis said that Scott already told him

[2020-04-07 15:34] #2271 closed

[2020-04-07 15:37] SurbhiBakshi commented on #2272
Amanda work with Launch IT -

LIT working with DSD and Gita R at CTM to get right permissions for BSA/Dev.
- _Two meetings scheduled for late April with ROW, LIT, DTS to go over Amanda Backlog.
Amanda work with CTM_
- Meeting with LIT to introduce Nate and to discuss #1751

#1291 and #1292 - UAT sessions for Valet related tickets scheduled for next week so Nate can join in
#1528 - Swapna needs mor

[2020-04-07 15:55] atdservicebot opened #2273 "Find online training platform to execute 4 hr training"
Other / Not Sure

**Background:**
Working with GivePulse, volunteer organization the helps people find volunteer opportunities. City would like to offer a 4hr class for interested volunteers to the City of Austin's Accessible Parking Enforcement Volunteer Program.

**What:**
To host an online instructor led training for City of Austin's Accessible Parking Enforcement Volunteer Program

**Audience:

[2020-04-07 16:06] SurbhiBakshi commented on #1467
REQ0044420 in Service Now

[2020-04-07 16:20] #2115 closed

[2020-04-07 16:22] amenity commented on #2115
I checked with CTM - they do not have plans to convert documentation from PDFs to HTML.😞

[2020-04-07 17:57] amenity commented on #2251
Scheduled for 4/8

[2020-04-07 18:05] #2259 closed

[2020-04-07 18:38] alan-deanda opened #2274 "Update: Markings work orders 04/07/2020"
50 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-07 18:59] JaceDeloney opened #2275 "Time of day color updates"
Tyler had a good idea to change the colors on the time of day chart to match the viridis color palette. Below are the updated colors. The [google doc](https://docs.google.com/document/d/1Oi6RcAa4-Z47u7CQkasSZc_ufU1GDxItIqlkqDHJVz8/edit?usp=sharing) has also been updated.

![Vision Zero Viewer_ Web (1).png](https://images.zenhubusercontent.com/5dc05535495c1e0001182c16/8a577f5e-b0ab-4800-8b25-8624c6

[2020-04-07 19:03] dianamartin commented on #2273
Turned in a CTM ticket to ask for recommendations based on request criteria.
`CALL0029442`

[2020-04-07 19:11] tylerwhitson commented on #2275
Thanks, @JaceDeloney! I have to credit Arielle for the idea, though :)

[2020-04-07 19:23] JaceDeloney opened #2276 "Remove sidebar"
We need to remove the sidebar to meet the [current designs. ](https://xd.adobe.com/view/7a421c15-d9be-4bcc-5f58-4b26bfb9e1fe-0c73/)

I'm not sure if we need to figure out the mobile responsiveness issues out first before this is completed. @mddilley has some notes about the responsive styles of the the widgets. What else should we consider?

- [x] Remove sidebar when path = `/`
- [x] Update `Conte

[2020-04-07 19:25] SurbhiBakshi commented on #1951
- Question for Paloma - recommended best practice is to enter number of hours, and that will set off calculation with fee amount and 4%surcharge. Will that work for you? #1951.
A - yes, this will work for ROW.
- Question - LIT said we could have them work on putting the Out of System fee on Portal in parallel with the creation of the fee in Amanda. Would that work for you?
A - yes, that will work,

[2020-04-07 19:26] sergiogcx commented on #1959
This was really an epic, but rather than creating a bunch of issues, I upgraded the estimate.

[2020-04-07 20:03] SurbhiBakshi commented on #1951
Follow up with CTM on which subtype code is appropriate

[2020-04-07 20:06] dianamartin commented on #2139
- [x] Added info about how to determine if you have E5/G5 license
- [x] Difference between teams (channel) and group chat

[2020-04-07 20:09] SurbhiBakshi commented on #1968
As per Kim -I’m not quite to sure what the error was for this process. If you have any extra information on that, that would be helpful. However, I can show Nate how this process is suppose to work. It’s up to you if you still want to have this meeting.

[2020-04-07 20:10] SurbhiBakshi commented on #1968
hi Kim,
I can put this issue on hold. When we looked at the Amanda Backlog with Paloma, this is the description I have -

Description: The reactivated attempt result on folder process (50075) Right-of-Way Admin will update the folder status to Active without checking the folder expiration date. You could inadvertently reactivate an expired permit if you aren't paying attention.
Update process code

[2020-04-07 20:19] SurbhiBakshi commented on #2204
as per Swapna T - In general we get ‘online payment being processed’ error message is, when user try to initiate the payment and not complete the transaction and if he comes back again and try to pay it, we will lock the payment for 70 minutes to avoid duplicate payments. May be user  tried before 70minutes to pay it again, that’s why he saw that error message.

[2020-04-07 20:23] SurbhiBakshi opened #2277 "Give applicants ability to pay Transportation Mitigation Fees in ABC Portal"
Upal and Sangeeta from the ATD TIA group would like to make TIA Mitigation Fees payable online.

These fees are paid after a TIA Review is completed and in lieu of TIA mitigations. The amounts can be from $500,000 to $1,000,000. These used to be paid in person by check at Barton Oaks and went to ATD directly. Enabling these fees to be paid online would prevent applicants from going to pay these fe

[2020-04-07 20:27] SurbhiBakshi commented on #2277
Reached out to Dan V to ask about an EFT account. He directed me to Rose M at DSD. Meredith Q answered my email - We do take payments for fiscal through wire transfers, but it’s a City process, not a DSD process, so please talk to Gail R in the Treasury Office if you would like to do wire or ACH transfers.

Have asked Dan to reach out to Gail

[2020-04-07 20:29] #2139 closed

[2020-04-07 20:37] JaceDeloney commented on #2224
@mateoclarke this morning you mentioned that there would be instances where we would run nightly re-associations of crashes to locations. This issue documents the use case where a user manually updates a crash's lat/long, which would trigger an ad hoc association. Is there another use case that I'm not thinking of?

[2020-04-07 21:21] #2267 closed

[2020-04-07 21:39] johnclary opened #2278 "Draft Level 1 Support Rotation Schedule"

[2020-04-07 21:43] johnclary opened #2279 "Create Dev Team Gitbook"

[2020-04-07 21:52] SurbhiBakshi opened #2280 "Wiki for Open Data FAQ"

[2020-04-07 22:19] dianamartin opened #2281 "Unsubcribe from marketing emails, change subscriptions to vendor emails"
UNSUBSCRIBE/CHANGE SUBSCRIPTION MARKETING EMAILS

- [x] Hashi Corp
- [x] Swiftly
- [x] HERE
- [x] Roadmunk
- [x] Tyler Tech
- [x] Oracle
- [x] Mapbox
- [x] CradlePoint

[2020-04-07 22:50] #1959 closed

[2020-04-08 00:03] jaime-mckeown commented on #2262
2nd frequency on the 3 layers mentioned about on Council District from the signals layer which gives multiple council districts if the signal is located on a boundary. Copied tables to same FGDB as before.

[2020-04-08 00:03] #2262 closed

[2020-04-08 04:30] johnclary commented on #2167
we have API access from HRD! i've added that info to 1password. next step is to integrate the appropriate data from that API into the system. leaving in backlog for now.

[2020-04-08 13:26] SurbhiBakshi commented on #1819
Swapna T has been working on this issue. She has turned off the functionality for customers to schedule TCI inspections in Amanda Test. We are waiting for Kim P to test the process in Amanda Test before Swapna can move the change to Amanda Prod.

[2020-04-08 13:32] jaime-mckeown commented on #2177
Checked that Tim had created an AGOL account. He had, configured his profile and added him to the COA ATD Group and COA ATD Parking Group. If they need any help with using Collector, I will open a new issue.

[2020-04-08 13:33] #2177 closed

[2020-04-08 13:34] jaime-mckeown commented on #1993
Closing this issue as I need to update all Lamppost Banner Maps, this will be completed by Issue #2221

[2020-04-08 13:35] #1993 closed

[2020-04-08 13:35] jaime-mckeown commented on #1570
Didn't make it very far, moving to next Sprint.

[2020-04-08 13:39] SurbhiBakshi commented on #1815
Have asked for an update on this CTM ticket - what is the current status and who this ticket has been assigned to?

[2020-04-08 13:42] jaime-mckeown commented on #2264
Email to April:

Response from April:

I asked Diana what TARA was, her response:

Later response:

Finally makes sense that TARA can edit in Knack to update the records.

[2020-04-08 13:45] SurbhiBakshi commented on #1528
1. Swapna T has been working on this request.

2. For RW permits - After some communication with Paloma and Kim, it was determined that there is no workaround for the fact that the ROW group have various RW templates based on the subtype.  Given this, we cannot make the RW permits printable online. Only one template can be used for one folder type, we cannot have different templates for different

[2020-04-08 13:47] SurbhiBakshi commented on #1528
Email from Swapna - I made View Permit Link available for DS and EX folder and ready to test in TEST. Folder status should be either Active or Final. Please test it once and let me know. If all looks good, will move it to PROD.

[2020-04-08 13:47] SurbhiBakshi commented on #1528
Email from Kim - I was able to print both EX and DS permits in a Final status.

[2020-04-08 13:48] SurbhiBakshi commented on #1528
Email from Paloma - I was successfully able to view the permit on both EX and RW folders in an Active status.  I do not have any folders in the Final status in my Portal Test account but I’ve copied Kim here in case she does.

That said, we really old need the permit to be viewable/printable while in the Active status so regardless of the test results for Final status, I’m on board with pushing th

[2020-04-08 14:09] alan-deanda commented on #2269
Tables have been created, existing markings IDs have been loaded
- [ ] Test editing
- [ ] Test compatibility with versioning

[2020-04-08 14:09] #2274 closed

[2020-04-08 14:12] SurbhiBakshi commented on #1815
Good morning,

Email from CTM ref. to update request - Thank you for contacting the Service Desk about your request (REQ0042141). I understand you are seeking an update, as this request was submitted some time ago. I apologize for the delay in our response and will be happy to assist you further.
After some searching, the ticket appears to have been assigned to AMANDA_SUPPORT_SERVICES group for pr

[2020-04-08 14:19] johnclary opened #2282 "Discuss ATD SDE Instances at Esri "On-Site" Hours"

[2020-04-08 14:25] JaceDeloney opened #2283 "Nelson Nygaard Micromobility Usage Data Request"
We have been requested to provide Nelson/Nygaard with micrromobility usage data using custom polygons that are more granular than Census tract, which is how the data is currently delivered on https://data.mobility.austin.gov/micromobility-data/.

**Background:** The city is working with DAA and Nelson Nygaard to conduct a study on local circulation in the downtown and downtown-adjacent areas. They

[2020-04-08 14:26] JaceDeloney opened #2284 "Geoprocessing for micromobility O/D monthly usage data"
The city is conducting analysis to determine how people are getting around central Austin using micromobility. We are going to receive custom neighborhood/district polygons and will need to associate O/D coordinates to them.

Attributes:
- Month
- Lat
- Long
- Polygon ID
- Anything else?

[2020-04-08 14:41] sergiogcx commented on #1689
The first few steps would be:

1. Unzip the files in the machine
2. Issue a new user in IAM with limited access to a folder in S3
3. Move the files to S3
4. Wipe out all files once everything is sent to S3

[2020-04-08 14:50] SurbhiBakshi commented on #1528
Email from Swapna - Thank you so much for confirming. I will deploy this to PROD tomorrow. I will let you all know, as soon as it hit PROD.

[2020-04-08 14:50] johnclary opened #2285 "Move Code-Based Speed Limits to DM"
Waiting on further discussion about streets data.

[2020-04-08 14:52] SurbhiBakshi commented on #1425
@johnclary - have not heard back from April. We will need to ask John G for someone else from his team for UAT work.

[2020-04-08 14:53] johnclary opened #2286 "Define Traffic Registry Schema"

[2020-04-08 14:56] SurbhiBakshi commented on #1968
Cancelled the meeting scheduled to observe the error, Kim will show Nate the process and check if the error persists.

[2020-04-08 15:01] SurbhiBakshi commented on #1910
Email from Paloma - Good evening all,

I ran the list past a few experts and they offered the following …

Possible adds:

Hays County Texas

Blanco County Texas

ATD – AMD

CIP

Possible deletes:

Abovenet - I've never seen them used and they were acquired by Zayo in 2012.

Enterprise Texas Pipeline, Kinder Morgan Pipeline, El Paso Field Svcs - never see them used

Convention Center, so that ther

[2020-04-08 15:03] SurbhiBakshi commented on #1910
Email from Gregory P -

Good stuff Paloma.
Burning the candle.late I see.

Here are my comments:

Kinder Morgan, Enterprise, and EPFS pipelines should stay. They still operate pipelines in COA. We may have some permits for relocations for a couple of these on 2 of the corridors.

ATT cannot be combined. The ATT Texas (dba SWBT) and other ATT's are each recognized as separate entities by the State

[2020-04-08 15:08] johnclary commented on #2231
Dupe

[2020-04-08 15:08] #2231 closed

[2020-04-08 15:56] johnclary commented on #2284
@alan-deanda let's discuss

[2020-04-08 16:26] moorerst commented on #1503
Testing with 5 participates scheduled during the week of April 6th.
Testing will include several per test questions and 5 task to complete. Testing will be observed and scoredhttps://docs.google.com/document/d/1guL_IxbfYD6lSAFX67M5cYIM9lIouMeMpOOH6asgZ3U/edit.

[2020-04-08 16:27] SurbhiBakshi commented on #1819
Teams message from Kim -o I ran some tests and it was all the DS permits that were able to schedule TC inspections online. I then tested it in TEST and they are no longer available. So I believe you can push that to PROD too. What do you think Paloma ?

[2020-04-08 16:27] #1570 closed

[2020-04-08 16:28] jaime-mckeown opened #2287 "PHB Criteria Check-in with Renee / Andres - 4/8/20"
Teams meeting to discuss where we are regarding the PHB process.

[2020-04-08 16:29] jaime-mckeown opened #2288 "PHB Ranking Criteria - moving process to ASMP Street Network - Sprint 22"
- [x] Modify Street Select Script to use the asmp street network data
   - [x] Use street levels 2, 3, 4 (not including RAMP / SVRD) for analysis
   - [x] Use the asmp intersection polygon layer to split polylines
   - [x] Add new fields, Total Demand, Total Risk, Total Safety
- [x] create new version of asmp street network that has bus routes and PHIN/BHIN coded on the layer
- [x] Modify PHB Crit

[2020-04-08 16:37] jaime-mckeown commented on #2287
- Andres compared the original PHB Streets to the PHB Streets split by the ASMP intersection polygon layer. We will be moving forward with the split streets.
- I had done some more research into the ASMP street network and found that most streets that we are interested in are coded for Existing Cross Section (# of lanes, divided road) and street levels are more useful then the CFCC codes that the

[2020-04-08 16:42] jaime-mckeown commented on #2287
@johnclary My meeting with AMD was very productive. We are going to switch to the ASMP Street Network layer from the Street Segment layer which will align their work with the VZ Team much nicer, plus more useful information is available on this dataset. I will be working to move my scripts over to the ASMP and modify any criteria datasets to align with ASMP. See above for notes from our meeting.

[2020-04-08 16:50] #2287 closed

[2020-04-08 16:52] amenity commented on #1341
Emailed Joseph A. on 3/26/20

[2020-04-08 18:06] JaceDeloney opened #2289 "Generate PIR micromobility report"
### This report needs to be finalized by Friday, April 10
We received a PIR requesting micromobility trip data on a per provider basis.

Create a report that includes the following information for the month of August/2019, September/2019, October/2019, November/2019, December/2019, January/2020 and February/2020:
- Number of Total Rides
- Average Number of Rides per Scooter per day
- Average Numbe

[2020-04-08 18:30] dianamartin commented on #2160
I talked to Stephanie about this, she said she'd look into but was just waiting on more context of what wanted.

She understands that we'd like a CTM HD ticket to be reassigned to a work group that multiple people can work. Scott and Jaime, are probably in a work group already we just have to find out what the name is.

[2020-04-08 19:19] JaceDeloney commented on #2224
There are three different use cases:
1. Manual changes to crash record lat/long
2. New records from CRIS
**3. Changes to locations polygon record** create a new issue for this @JaceDeloney

Do these need to be run on different scripts or can we use the same code?

[2020-04-08 19:26] JaceDeloney commented on #2098
@johnclary offered to help look into this

[2020-04-08 19:31] SurbhiBakshi opened #2290 "Ensure TIA folders are visible on the ABC Portal."
TIA folder needs to be visible on Portal, as well as the invoice, so the applicant can pay online.

[2020-04-08 19:32] SurbhiBakshi commented on #2290
Zach W from DSD has put in a request with Amanda support on 3/27.

 Swapna T is working this issue, and has asked for more details. Need to check if she has all the information she needs.

This has been logged as a medium priority issue, might need to escalate this to a higher priority so she can concentrate on this task.

Update after UAT on 04/01/2020 - TIA folder was visible on Production insta

[2020-04-08 19:34] SurbhiBakshi opened #2291 "Total on review screen is not accurate when individual fees are selected in the ABC Portal"
Applicants should be able to select separate ATD Review fees on ABC Portal.

ATD Review fees are getting bundled with other fees, the sum can be more than $100,000 which cannot be paid by credit card. These fees then need to be paid by check, which has to be done in person right now. ATD Review fees are paid to DSD which then transfers these fees to ATD.

[2020-04-08 19:34] SurbhiBakshi commented on #2291
Need to put in a CTM ticket to enable paying separate fees on Portal by clicking check-boxes for those fees.

Check with ROW to see how they are dealing with payments above $100,000 - Checked with Paloma, she has asked her team to break up fees more than $100,000 into smaller amounts and issue separate invoices, so the applicant can pay those online.

Check if there is a way ROW is accepting check

[2020-04-08 19:36] SurbhiBakshi commented on #2291
**Update after UAT on 04/01/2020**

- Check boxes are visible in the Production instance of ABC Portal due to some work done by DSD IT. Applicants can select one particular fee, and the correct amount shows up in the invoice.  This is helpful since applicants can select different fees that will not add up to more than $100,000.

- There is an issue that the total fee is either zero or the sum of a

[2020-04-08 19:38] SurbhiBakshi commented on #2291
- [ ] Will need to put in a CTM ticket to resolve the issue that the total fee is either zero or the sum of all fees.  Need to do some more testing to document this error.

[2020-04-08 19:39] SurbhiBakshi commented on #2277
- [ ] Need to check with Dan or contact someone else at Finance.

[2020-04-08 19:43] SurbhiBakshi opened #2292 "TDSD Fees in Amanda for Zoning Cases"
When Rodrick's group does intake, they should charge the applicant these ATD fees along with the other fees they charge for DSD and PAZ, based on the type of case application.
Rodrick's team will provide the customer with the bill/ invoice.
Based on the type of case application - C8,C814, SP , ZC, and the subtypes, the fees should be automatically calculated for ATD.
Applicant pays these fees at O

[2020-04-08 19:44] SurbhiBakshi commented on #2292
Update after UAT on 04/01/2020 - Fee amount is automatically calculated and inserted when user from Intake team selects the correct fee from the pick-list using the Insert + Run procedure in the Fee tab.

[2020-04-08 19:46] SurbhiBakshi opened #2293 "TDSD review fees in Amanda for Site Plan Cases"
When Rodrick's group does intake, they should charge the applicant these ATD fees along with the other fees they charge for DSD and PAZ, based on the type of case application.
Rodrick's team will provide the customer with the bill/ invoice.
Based on the type of case application - C8,C814, SP , ZC, and the subtypes, the fees should be automatically calculated for ATD.
Applicant pays these fees at O

[2020-04-08 19:47] SurbhiBakshi commented on #2293
Update after UAT on 04/01/2020 -  For Site Plan cases, fee amount is automatically calculated and inserted when a user from the Intake team selects the correct fee from the pick-list using the Insert + Run procedure in the Fee tab after Completeness Check is done.

[2020-04-08 19:49] SurbhiBakshi opened #2294 "TDSD Review fees in Amanda for Subdivision Case applications"
When Rodrick's group does intake, they should charge the applicant these ATD fees along with the other fees they charge for DSD and PAZ, based on the type of case application.
Rodrick's team will provide the customer with the bill/ invoice.
Based on the type of case application - C8,C814, SP , ZC, and the subtypes, the fees should be automatically calculated for ATD.
Applicant pays these fees at O

[2020-04-08 19:49] SurbhiBakshi commented on #2294
**Update after UAT on 04/01/2020 -**
For Subdivison cases, fee amount is automatically calculated and inserted when a user from the Intake team selects the correct fee from the pick-list using the Insert + Run procedure in the Fee Tab after Completeness Check is done. However  ATD Waiver fees - 83426 and 83427 show up only in the Insert procedure pick list and not the Insert + Run pick list. Need

[2020-04-08 19:50] SurbhiBakshi commented on #2294
- [ ]Need to talk to Sangeeta more regarding about ATD Waiver fees -83426 and 83427 show up only in the Insert procedure pick list and not the Insert + Run pick list.

[2020-04-08 19:51] SurbhiBakshi commented on #2130
Documented in #2292, #2293, #2294

[2020-04-08 19:51] #2130 closed

[2020-04-08 20:14] JaceDeloney opened #2295 "PPE Tracking in COVID-19 Time Tracking App"
Set up workflows to track the quantities of personal protective equipment (PPE) on hand at all of our facilities.

Finance and HR have been doing most of the purchases for PPE. Finance is approving purchases in Knack. New purchases are happening almost every day.  Each of the divisions is managing or distributing their supplies on an as needed basis.

Currently there is a spreadsheet that staff ha

[2020-04-08 20:25] moorerst commented on #2160
The workgroup in SN is called ATD_IT - Scott and Jamie are currently the only members of the group. I confirmed that a resource account can be set up to receive email notifications of incidents assigned to the group and/or all members of the group
![image](https://user-images.githubusercontent.com/56606465/78830125-13fef300-79ad-11ea-9fc8-d86c75a28914.png)

[2020-04-08 20:30] sergiogcx commented on #2289
@JaceDeloney For the total number of rides per provider per day? or monthly? or total for all those months combined?

[2020-04-08 20:40] moorerst commented on #2160
If you would like to test what the email notification would look like provide a email address to use.

[2020-04-08 20:41] JaceDeloney commented on #2289
It should be total number of rides for that specific month.

Clarifying information below. I would create a separate doc or worksheet for each provider.

**Columns would be:**
- Number of Total Rides for that month
- Average Number of Rides per Scooter per day for that month
- Average Number of Scooters per day for that month

**Rows would be:**
- August 2019
- September 2019
- October 2019
- Nove

[2020-04-08 20:41] dianamartin commented on #2160
@moorerst so we can't just have it go to a work group queue unassigned?

[2020-04-08 20:44] jaime-mckeown opened #2296 "GISERT COVID-19 Check-In Meeting 4/8/20"
Attend meeting via Teams

[2020-04-08 20:45] jaime-mckeown commented on #2296
- Talked about internal dashboard for beds available, ICU available, etc. Data will need to come from the hospitals.
- Possibly another internal dashboard that GISERT will maintain
   - HIPPA discussion - AGOL not compliant to house this type of data
   - O365 contract is HIPPA compliant, agreement between Microsoft and COA
      - Surveys created with this software since it is compliant
- Tracy a

[2020-04-08 20:48] dianamartin opened #2297 "Data Tracker Bug: "Closed" status issues are still showing up under Engineer Review"
Brian G.
AMD

For some reason these always show up in my engineer review tab as existing requests, however they have been closed for a long time.  Can we somehow make them disappear please?

[2020-04-08 20:48] moorerst commented on #2160
@dianamartin the tickets get assigned to the workgroup ATD_IT by the service desk, when assigned to the ATD_IT group queue the email notification is sent to group email and/or all members of the workgroup. Then either Scott or Jamie (current members) take ownership by assigning to themselves.

[2020-04-08 20:51] dianamartin commented on #2297
Emailed user

John said he did fix it and these records were created before the change. I just need to update the `WORKGROUP` from `SIGNAL_ENG` to `TMC`

[2020-04-08 20:52] dianamartin commented on #2297
Emailed user

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/6699db7e-39a0-4b01-847c-811e14f4f414)

[2020-04-08 20:52] #2297 closed

[2020-04-08 20:54] johnclary commented on #2049
i sent @dianamartin the email template for John D

[2020-04-08 20:55] johnclary opened #2298 "Migrate TCP Business Days Script to New App"
1. Create API Views
2. Update Knack script config

[2020-04-08 20:57] johnclary commented on #2050
@dianamartin lmk if you want to discuss

[2020-04-08 21:03] dianamartin commented on #2251
Amenity and Nate met today, will have follow-up on 4/9

[2020-04-08 21:09] dianamartin commented on #2295
Reference #500

[2020-04-08 21:09] #2296 closed

[2020-04-08 21:09] JaceDeloney commented on #2295
@JaceDeloney  See #500 for any overlap

[2020-04-08 21:11] jaime-mckeown commented on #2119
Updated on 4/8.

[2020-04-08 21:27] moorerst commented on #2160
https://atx.service-now.com/nav_to.do?uri=%2Fkb_view.do%3Fsys_kb_id%3Df986039d1bf98050c00dba651a4bcbb7%26sysparm_rank%3D1%26sysparm_tsqueryId%3D6dd234b51b84dc10f9edc8451a4bcb79

Other departments have an Amanda workgroup and a GIS workgroup.
ATD has ATD_Amanda and ATD_IT.  If there was a ATD_GIS workgroup that Jamie was moved to then ideally there would be a specific work queue for ATD Amanda, GIS

[2020-04-08 21:31] #2275 closed

[2020-04-08 21:38] moorerst commented on #2160
DSD has their own DSD_IT_Support workgroup in SN. This knowledge article in SN directs the service desk what to assign to the DSD workgroup.
https://atx.service-now.com/sp?id=kb_article&sys_id=b425ba651b4f0414a7951f861a4bcb3e

[2020-04-08 21:50] dianamartin commented on #2049
I turned in a CTM HD ticket `CALL0029675`

[2020-04-08 21:53] dianamartin commented on #2160
@moorerst @johnclary @amenity I honestly don't know how Jaime and Scott get the notifications. I guess I should ask them because I'm not clear on the process. We're also in the middle of creating a level 1 triage process for our team. We'd need to figure out how ServiceNow would come into play with this process.

[2020-04-08 21:55] dianamartin commented on #1740
Michael M.
CTM

Reached out about a backlog Immpact issue. It wasn't clear what it was, all he sent me to was an Azure DevOps board that said `As a project manager, I want to receive emails about IMMPACT, so that I know the latest about the application`.

Since we hadn't hear more about this since the original request back in 2018/2019. I said to just add our transportation.data email to the distr

[2020-04-08 22:12] dianamartin commented on #2245
CTM closed this on 4/7. I checked the AirWatch admin console and I checked the profile of a Signs and Markings technician. I reached out to Christina for her to check with a technician if they see it on their screen and they confirmed that see the new application.

[2020-04-08 22:12] #2245 closed

[2020-04-08 22:12] dianamartin commented on #1500
I turned in a CTM HD ticket
- `CALL0029675`
- `REQ0044709`

[2020-04-08 22:20] dianamartin commented on #2216
Follow-up meeting has been scheduled. Need stakeholders to review workflow and approve or modify any changes needed.

[2020-04-08 22:22] dianamartin opened #2299 "Create DTS SharePoint calendar and test how to add on outlook web"

[2020-04-08 22:24] dianamartin commented on #2218
@SurbhiBakshi @johnclary we need to create GitHub issues for our action items we tasked ourselves yesterday.

[2020-04-08 22:25] dianamartin opened #2300 "Create new GitBook Spaces - Knowledge base"
Create new spaces
- [x] Knowledge Base (sensitive)
- [x] Open Data (public)

[2020-04-08 22:26] #2300 closed

[2020-04-08 22:27] dianamartin opened #2301 "Move GH Teams "Onboarding" page to new GitBook space"

[2020-04-09 00:34] johnclary opened #2302 "Disable Knack Proxy Server During Migration"

[2020-04-09 00:34] johnclary opened #2303 "Re-Enable Knack Proxy Server During Migration"

[2020-04-09 00:38] #2302 closed

[2020-04-09 04:02] amenity commented on #1486
Hiring freeze; moving to backlog.

[2020-04-09 04:04] amenity commented on #1995
@johnclary, mind if I assign this to you since you're in touch with Joshil?

[2020-04-09 04:08] amenity commented on #1258
I think this is going to be covered by issues you create for Level I Support Knowledge Base work, @dianamartin. Please close if so!

[2020-04-09 04:09] #1258 closed

[2020-04-09 04:11] #1497 closed

[2020-04-09 04:12] #2205 closed

[2020-04-09 04:13] #1747 closed

[2020-04-09 04:13] #1043 closed

[2020-04-09 04:15] amenity commented on #2114
@johnclary - have you heard any requests for additional Teams training?

[2020-04-09 04:17] amenity commented on #2132
I wasn't able to get to this... Sorry, @Nadin-Nader & @TracyLinder ;)

[2020-04-09 04:17] #2132 closed

[2020-04-09 04:17] #2149 closed

[2020-04-09 04:20] amenity commented on #1795
Bumping to Sprint 22. 🐍

[2020-04-09 04:21] amenity commented on #1499
@moorerst - is this ready to be closed?

[2020-04-09 04:22] amenity commented on #1266
@johnclary @dianamartin - are we still waiting on Billy here?

[2020-04-09 04:31] amenity commented on #1064
@mateoclarke - should we bump this to Sprint 22?

[2020-04-09 12:02] SurbhiBakshi commented on #1673
Meeting on 04/09

[2020-04-09 12:05] SurbhiBakshi opened #2304 "Make ROW permits available to applicants on Portal"
## Request Status:
**This will be ice boxed until after the portal upgrade. At that time we should reassess the complexity of this request based on portal constraints.**

### As a ROW Permit holder, I should be able to view and download copies of my permits for active ROW Permits (DS, EX, RW, PSM)
### As a COA citizen, I want to be able to view ROW permits on the public portal

**Stakeholders:** P

[2020-04-09 12:08] SurbhiBakshi commented on #2304
please refer to #1528 for more details.

[2020-04-09 12:13] SurbhiBakshi commented on #1815
Swapna has incorporate the fix in Dev and Test. Waiting for the fix to be tested before this gets moved to Prod.

[2020-04-09 13:14] dianamartin commented on #1266
@amenity No, I think we got Billy's response. The AMD technicians accounts were imported into the Finance system a while back. I guess I wasn't assigned to this and didn't know it was still open.

[2020-04-09 13:56] SurbhiBakshi commented on #1425
Email from Kim - I am so overloaded right now. This teleworking is so slow and is causing me to get behind in my daily work. I have not been able to do any testing or even focus on the fees. I apologize, but can we push this out?

[2020-04-09 14:10] dianamartin commented on #2299
I tried to make a SharePoint calendar and then I looked up if there was the ability to link it to the outlook web email. All answers said no.

So I looked into the MS Groups bc I realized they show up on my Outlook desktop and Outlook web mail. I created a MS Group (private) and added @johnclary @SurbhiBakshi as testing members.

I was able to sign into outlook web mail and see the group there. Do

[2020-04-09 14:18] dianamartin commented on #2298
- [x] Created api view page and added `TCP tracking submissions` table

[2020-04-09 14:22] sergiogcx commented on #2289
I've download the historic data from the old RDS instance, and inserted into the new RDS instance in a separate table. I've also managed to modify the table to get the report per provider.

[2020-04-09 14:24] SurbhiBakshi commented on #1425
I asked April who else could do UAT, she suggested Tracy L.

[2020-04-09 14:52] dianamartin commented on #2049
Turned in a CTM HD ticket
- `CALL0029734`

[2020-04-09 14:56] #2281 closed

[2020-04-09 15:52] sergiogcx commented on #2289
Reports submitted, let me know if there is anything else I can do for you @JaceDeloney

If this works, would you close the issue for me?

Many thanks!

[2020-04-09 16:35] atdservicebot opened #2305 "SMB "Work Schedule" calendars, Coordination - Y, set Color Highlight: Lime Green"
Signs & Markings Operations

On the Signs & Markings Operation application "Work Schedule" calendars, we would like to identify work orders that have Coordination = "Yes" with a different color. This would be for all of the various views of the Work Schedule calendar.

By highlighting all coordination work with a different color, it will help staff identify when we need to be coordinating. There h

[2020-04-09 16:36] atdservicebot opened #2306 "On the Signs & Markings Operation application "Work Schedule" calendars, we would like to identify w..."
Signs & Markings Operations

On the Signs & Markings Operation application "Work Schedule" calendars, we would like to identify work orders that have Coordination = "Yes" with a different color. This would be for all of the various views of the Work Schedule calendar.

By highlighting all coordination work with a different color, it will help staff identify when we need to be coordinating. There h

[2020-04-09 16:47] SurbhiBakshi commented on #2277
- [ ] in person
 - [ ] in person at Toomey
- [ ] mail in check

applicants have trouble getting checks,

issue invoice in Amanda , put fund code, so money can be mapped, in SP folder, but with TIA mitigation fund code.

bank transfers can be used instead for an EFT, which would be possible because the fee is coming from SP (owned by DSD), which has this set up. ATD Review Fee - create mitigation f

[2020-04-09 17:00] atdservicebot opened #2307 "Completely new enhancement to both Signs & Markings work orders. We need a better way of tracking st..."
Signs & Markings Operations

Completely new enhancement to both Signs & Markings work orders. We need a better way of tracking staff time when they are doing tasks other than the work orders they are specifically working on. These tasks would include when they are fueling up, dropping off brush, and other various things that staff would do throughout their day. This would either need to be a compl

[2020-04-09 17:25] atdservicebot opened #2308 "SMB: Add DOSA form to tracker and associate to WO"
Signs & Markings Operations

Signs & Markings is trying to get rid of the paper DOSA process that we've had in place the past few years. What we are thinking is we could have a button on work orders that has a short statement reminding Technicians that they need to have proper traffic control set up and PPE on (attachment shows what we are thinking). Below this statement we would like a comment fi

[2020-04-09 17:34] JaceDeloney opened #2309 "Add approved by column"
As a timekeeper and COVID-19 Time Tracking approver, I want to be able to see what I have previously approved.

Add an approved by column to the Approved table in the Review Time Logs tab.

[2020-04-09 17:35] alan-deanda opened #2310 "ATSD GIS Support, bike map edits"
Answer questions about accessing/editing bike data on the CTN, and coordinate final edits to print bike map/ongoing edits to online bike map.

[2020-04-09 17:54] dianamartin commented on #2306
Duplicate of #2305

[2020-04-09 17:54] #2306 closed

[2020-04-09 18:00] dianamartin commented on #2308
Attachment screen shot
![image](https://user-images.githubusercontent.com/21112975/78926092-1ec78f80-7a62-11ea-9c14-717a898ecf09.png)

[2020-04-09 18:23] dianamartin commented on #2305
Evaluating the `work_orders_markings_jobs`, it doesn't have the Coordination field on it. Have to make a text formula to get it from the parent table.

- [x] Added `Coordination Jobs`
- [ ] Create `LL Coordination`
- [ ] Create `SL Coordination`
- [ ] Create `SM Coordination`
- [ ] Create `RPM Coordination`

Add filter to
- [ ] Markings Technician Calendar view
- [ ] Marking Supervisor Calendar vi

[2020-04-09 18:36] dianamartin commented on #2305
Talked to Christina and it looks like it can be done, but need to check with Supervisors to see if they want all work groups to be in the filter.

[2020-04-09 19:00] dianamartin commented on #2307
Christina and I talked about this, will need to clarify this a bit better with supervisors.

[2020-04-09 19:06] SurbhiBakshi commented on #2218
@johnclary , @dianamartin  - #2280

[2020-04-09 19:08] SurbhiBakshi opened #2311 "Document process used to get SE data from Amanda for SXSW"

[2020-04-09 19:10] dianamartin opened #2312 "Add new "Assigned To" - Robert A."
Laura R.
ROW
Emailed me

[2020-04-09 19:11] SurbhiBakshi opened #2313 "Delete "csr_flex_notes" from Data Tracker - March 2020"
Received automated reminder to delete flex notes in Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd#data/object_95/records/?builder_table_page=1

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 02/01/20'

Total Records: '35,517'
To Delete: `12,703` (number of records from running the query)
New Total: `22,814`

[2020-04-09 19:11] dianamartin commented on #2312
- [x] Added `Robert` to `Assigned To` field in AMD Data Tracker
- [x] Added `Robert` to `Assigned To` field in ROW Portal

[2020-04-09 19:11] #2312 closed

[2020-04-09 19:25] dianamartin commented on #2308
Talking to Christina about fields on the DOSA form
_I verify that traffic control has been properly set-up and that employees in the work zone are wearing required personal protective equipment (PPE).
- Traffic Control: arrow boards, strobe lights, cones, hazard light, etc...
- PPE: Class III clothing, boots, safety vest, gloves, safety glass, hard hart, noise protection, respirator, chain saw cap

[2020-04-09 19:27] #2272 closed

[2020-04-09 19:32] #2146 closed

[2020-04-09 19:32] mateoclarke commented on #2146
Closed with https://github.com/cityofaustin/atd-vz-data/pull/726

[2020-04-09 19:33] SurbhiBakshi commented on #1292
@johnclary @amenity this is not an LIT item, we need a UAT from ROW. Had to reschedule the UAT today due to scheduling conflicts.

[2020-04-09 19:34] mateoclarke commented on #1099
Moving this to icebox due to hiring freeze

[2020-04-09 19:48] amenity commented on #1266
@dianamartin - cool. Can it be closed, then?

[2020-04-09 20:34] #2301 closed

[2020-04-09 20:34] dianamartin commented on #2301
I moved over the GH sensitive page and deleted it.

[2020-04-09 20:42] #1037 closed

[2020-04-09 20:43] dianamartin commented on #1266
@amenity I defer to John to know for sure this is done and nothing else needs to be done.

[2020-04-09 20:43] #2218 closed

[2020-04-09 21:15] dianamartin commented on #2299
Showed the team and looks like this solution will work for us

[2020-04-09 21:15] #2299 closed

[2020-04-09 21:37] mateoclarke commented on #2283
we're going with April 2019 O/D trip data

[2020-04-09 21:51] sergiogcx opened #2314 "VZD/ETL: Retire old ETL email scripts"
The data is now being uploaded from the SFTP server to S3, now we need to change the business logic to:

- [x] download the files from the bucket
- [x] remove from S3 once processed.

[2020-04-09 21:54] sergiogcx commented on #1689
This is now done, the files are now unzipped and uploaded to S3 and removed from the SFTP server once uploaded to S3. I have also implemented an S3 lifecycle rule that deletes these files in s3 after 30 days if they have not been processed (to avoid collecting files indefinitely).

The above part has been done, closing. Opened a new issue #2314 to implement the business logic to download the files

[2020-04-09 21:59] sergiogcx commented on #1075
One of the main challenges in doing this is concurrency. The servers are small and they only handle X amount of requests at the same time. The servers should be able to handle 10 requests per second concurrently, but not entirely sure how well the mds providers will handle the requests.

What I am thinking of doing, is:
- Allow a few seconds between requests (to not overwhelm the MDS endpoints)
-

[2020-04-09 22:01] sergiogcx commented on #1075
I am fixing to have this process running over the weekend and request data for two months. See how the process behaves, see if there are any errors and make adjustments. If the process runs well, then we can have more assurance the process will work as expected.

[2020-04-09 22:08] sergiogcx commented on #2201
Picking this up for tomorrow Friday 10th, the tasks involve:
- [ ] Change the ETL process so that it inserts the new.cr3_stored_flag = 'N'
- [ ] Change the trigger and add a few lines like this:

[code]

Basically, the logic is: If the stored flag is not Yes and it was updated by System, then change flag to N.

[2020-04-09 22:09] sergiogcx commented on #2201
In terms of testing:
1. I will be running the ETL process repeatedly to purposely update the cr3_stored_flag to N
2. Test the trigger logic (in staging) and find ways it could fail.

[2020-04-09 23:10] mateoclarke commented on #2283
Data has been pulled and shared with @JaceDeloney in csv format.

[2020-04-10 01:06] johnclary opened #2315 "Set Explicit Version Numbers in Transportation Data Publishing"
We should use explicit version numbers in transportation-data-publishing's [requirements.txt](https://github.com/cityofaustin/atd-data-publishing/blob/master/requirements.txt) file.

[2020-04-10 01:07] johnclary commented on #2315
@mddilley let's address this after [your work](https://github.com/cityofaustin/atd-data-utilities/pull/27) on the data utilities is complete.

[2020-04-10 15:27] atdservicebot opened #2316 "(Urgent) I have not added any 1012 time to this new form for the PIO team working at the EOC. I would appr..."
Other / Not Sure

I have not added any 1012 time to this new form for the PIO team working at the EOC.

I would appreciate your help getting this report up-to-date for my team, Emily T., Sam H. and Jacob B. who have been at the EOC consistently since ~March 23.

All of the time sheets have the correct amount of 1012 hours recorded and I have the lists of duties being performed by each. To avoid ad

[2020-04-10 15:43] sergiogcx commented on #2201
For now the SQL trigger idea seems to be a bit of an overkill, one in the sense that any changes done in the UI do not mean that the CR3 has been updated, and secondly in the fact that the only time we really know the CR3 is updated is whenever a CRIS record comes through and it is an existing crash record.

Given these conditions, I think it is best to signal the change using Python code in the E

[2020-04-10 16:02] dianamartin commented on #2316
Emailed user

[2020-04-10 16:03] johnclary opened #2317 "Point TCP Business Days Script to New App"
[This script](https://github.com/cityofaustin/atd-data-publishing/blob/master/transportation-data-publishing/data_tracker/tcp_business_days.py) needs [this config](https://github.com/cityofaustin/atd-data-publishing/blob/8162a7f044cede93e109ffaa629ffb334c803f55/transportation-data-publishing/config/knack/config.py#L699) updated.

We'll have to update `secrets.py` with the new credentials as well.

[2020-04-10 16:07] johnclary commented on #2317
@dianamartin in Data Tracker, the API view is:
-    scene: `scene_754`
-    view: `view_1987`

And the object is `object_147`.

Would you make sure the API view is configured to match what's in Data Tracker, and provide me the scene, view, and object IDs?

Thanks.

[2020-04-10 16:22] dianamartin commented on #2317
@johnclary this is the ROW Portal API View information.

API View
- scene: `scene_22`
- view: `view_26`
- object: `object_2`

[2020-04-10 16:50] #2201 closed

[2020-04-10 21:24] johnclary commented on #1683
Me too. Check w/ @alan-deanda ?

[2020-04-10 21:28] johnclary commented on #1995
Yes, I took it. Thanks.

[2020-04-10 21:29] johnclary commented on #2114
Just followed up with the handful of folks who may require training.

[2020-04-10 21:30] johnclary commented on #1266
This one needs to stay open. This is the last piece of the inventory I've been meaning to get to.

[2020-04-10 21:30] johnclary commented on #1266
(Moving from in progress to on deck)

[2020-04-10 21:41] dianamartin commented on #1683
Closing, this was done a handful of months back.

[2020-04-10 21:41] #1683 closed

[2020-04-10 21:42] jaime-mckeown opened #2318 "Add CPO Projects to IMMPACT - Z. Ashburn (CPO)"
From Zach in Service-Now:

[2020-04-10 21:43] jaime-mckeown commented on #2318
Emailed Sean at CTM to see if ATD managed this applications content as well before starting any work. We only manage ROWPACT, Sean will get the data from the ROWPACT Mxd to add to the IMMPACT application.

[2020-04-10 21:43] #2318 closed

[2020-04-10 22:29] dianamartin commented on #2308
Scheduled to work on it Monday PM

[2020-04-10 22:45] johnclary commented on #1795
Working from [this branch](https://github.com/cityofaustin/atd-knack-api/tree/jc-flex-notes-url).

@dianamartin I created a "Flex Notes URL" field on the markings work order object. This gets populated by a script, and it links to the flex notes page of the connected service request.

I also created a "Flex Note Url" field on the markings job object, which populates from a text formula that pulls

[2020-04-11 00:12] johnclary commented on #2279
[the wiki](https://atd-dts.gitbook.io/atd-dev/) has been created and i’ve started moving stuff there. @mateoclarke please encourage your team
to contribute as needed.

[2020-04-11 00:12] #2279 closed

[2020-04-11 16:22] zappfyllc commented on #1645
The MoPeD data model is heavily impacted by the Interim Project Database data model, so the amount of transformations needed in an ETL process will be either a) minimal and b) well documented. To supplement ETL or synchronization (whichever path is chosen), @zappfyllc can track differences in the two data models as we hone the ERD and further dive into details with Nathan.

My honest opinion is th

[2020-04-11 16:46] zappfyllc commented on #1814
See @amenity's [referenced spreadsheet](https://docs.google.com/spreadsheets/d/1ov27dpfaFW9nk0mVIpshj5Sj5mxoKaQafk8W4oyvqws/edit#gid=222732060) for a thorough list of form providers, but if React Hooks are a tool to be utilized in MoPeD, then I think [React Hook Forms](https://react-hook-form.com/) provides an acceptable level of reuse without added complexity and will likely accomplish the featur

[2020-04-11 16:59] zappfyllc commented on #1776
Additional Spikes to consider (will address with @amenity and add after discussion):

- GIS Integration with Access DB: see flattened Access tables and @zappfyllc can write up spike to point to where to look for this information in the data model

- eCapris integration deep dive: we know the subproject ID is the unique ID that links between the two systems, but we may want to discuss the informati

[2020-04-13 14:47] jaime-mckeown commented on #2119
Updated on 4/10.

[2020-04-13 14:49] jaime-mckeown opened #2319 "Weekly Update: AMANDA street closure - 04/13/20"
Run AMANDA_Street_Events.py to create new AMANDA street closure data for the current week. Update the layer in the Mxd, publish to AGOL, and then update the Street Events and ACE Downtown Conflicts Web Maps on AGOL.

Follow Weekly_Update_for_Special_Events.doc located in G:\ATD\ATD_GIS\Office_of_Special_Events\OSE_GIS\AMANDA_Street_Events for steps to complete.

[2020-04-13 14:50] jaime-mckeown commented on #2319
Update complete.

[2020-04-13 14:50] #2319 closed

[2020-04-13 14:51] Nadin-Nader commented on #1815
@SurbhiBakshi I was able to test this on TEST with and without Swapna on Friday. I was able to create a DS folder  (FolderRSN 12387164) and it Assigned it to the ROWINTAKE Group on the PROCESS tab. The fix is ready for PROD.

![image](https://user-images.githubusercontent.com/63309637/79130044-f1cdf200-7d6b-11ea-815e-43beec7e683a.png)

![image](https://user-images.githubusercontent.com/63309637/79

[2020-04-13 15:15] zappfyllc opened #2320 "Spike: eCapris integration"
We know the subproject ID is the unique ID that links between the eCapris and the Access DB, but there is also various financial information pulled in. We need to know the nature of the current integration (one-time write into the Access DB, or is the financial information updated on a regular basis?).

**Questions**

1. How will we retrieve information from eCapris (API, web hook, scraping, etc.)

[2020-04-13 15:25] zappfyllc opened #2321 "Spike: Investigate Technical Solutions for Messaging/Communication Requirements"
_Context:_ there are several feature requirements for the mobility project editor related to communication, including simple project notes (e.g. rich text field, user id, timestamp, etc.), correspondence (i.e. back-and-forth between project team members during specific phases of the project), and review requests (e.g. a project manager may assign a user or group of users to complete a review of th

[2020-04-13 15:27] dianamartin commented on #1795
@johnclary I tested this in the marking jobs details and going to tweak this so that we rename the URL. Going to make a new issue.

[2020-04-13 15:30] dianamartin opened #2322 "work order markings - Rename "Flex Notes URL""
Page:
Scene
View:

Need some custom code to rename it

[2020-04-13 15:34] dianamartin commented on #2322
Deleting this, was able to do this in Knack.

[2020-04-13 15:40] zappfyllc opened #2323 "Spike: Analytics Integration/Standalone Solution"
_Context_: Several stakeholders would like the ability to run reports and create dashboards with MoPeD's data to inform business decisions and/or present information to the public. Currently, the Vision Zero Viewer works with Power BI as its analytics solution (Xavier uses this?), so that may dictate the requirements for MoPeD. Additionally, a quick or easy way to extract data from MoPeD into a CS

[2020-04-13 15:44] SurbhiBakshi commented on #1815
thanks @Nadin-Nader  moving this issue to Ready to Deploy

[2020-04-13 15:46] zappfyllc opened #2324 "Moped Tables | Implement search and stackable filters"
_Context_: As MoPeD grows, the need to search using advanced functionality (among indices, applying filters, etc.) will become more and more important. Initial user research indicates that searching projects overall is a key feature for MoPeD users, particularly those who are involved in planning and/or leadership of workgroups.

This implementation will use Postgres search, see #3677 for advanced

[2020-04-13 15:48] zappfyllc commented on #1776
The following spikes were created based on the above comment: [2320](https://github.com/cityofaustin/atd-data-tech/issues/2320), [2321](https://github.com/cityofaustin/atd-data-tech/issues/2321), [2323](https://github.com/cityofaustin/atd-data-tech/issues/2323), [2324](https://github.com/cityofaustin/atd-data-tech/issues/2324). Closing this issue and will track subsequent spikes that emerge.

[2020-04-13 15:48] #1776 closed

[2020-04-13 15:54] zappfyllc opened #2325 "Spike: Foreign Key Identification"
_Context_: FKs haven't been used in Vision Zero Viewer's development, but they are going to be integral to MoPeD's success. We know the obvious need to track a Project ID across related entities, but there are many other areas where a foreign key could be enforced because of the many relationships existing in the data model. With that said, there may be some areas where a foreign key should not be

[2020-04-13 15:59] #1795 closed

[2020-04-13 16:00] zappfyllc opened #2326 "Local Development of Postgres DB for Data Model Draft"
_Context_: @zappfyllc has deployed two temporary Heroku applications, one employing GraphiQL and one employing [json-server](https://www.npmjs.com/package/json-server). A flat file in json-server serves as the evolving data model so that queries can be tested with the in-progress schema, specifically to facilitate conversations with Nathan, the architect of the Access DB. This tool will be helpful

[2020-04-13 16:12] johnclary commented on #1795
@dianamartin script is deployed. i tested in production and it worked. closing.

[2020-04-13 16:32] JaceDeloney opened #2327 "Update location details page export fields"
There is a difference in the fields included when you download from the crashes page versus the locations page.

Include the following fields in the locations download:
- [x] crash_sev_id
- [x] all individual crash severities fields (only has serious injuries and killed now)
- [x] time of crash
- [x] day of week
- [x] most up-to-date latitude and longitude (e.g., if lat/long were manually updated,

[2020-04-13 16:53] JaceDeloney opened #2328 "Crash Page Units Table Card"
### Editable Unit Directionality Feature
- [x] Create a new Units card on Crash pages, below Fatalities card if possible
- [x] The Units card should list each unit involved in the crash, with associated information of each unit
- [x] The Units card should have two **new** fields for each unit within the unit table; a Direction field and a Movement field. These two fields should be editable by Admi

[2020-04-13 17:00] dianamartin commented on #885
@johnclary @amenity Closing this since John finished configuring the job flex notes script.

[2020-04-13 17:00] #885 closed

[2020-04-13 17:01] dianamartin commented on #2305
Christina sent to SMB supervisors

[2020-04-13 17:01] #2305 closed

[2020-04-13 17:06] tylerwhitson commented on #1805
Going to close this since I no longer think it's necessary.

[2020-04-13 17:06] #1805 closed

[2020-04-13 17:30] JaceDeloney commented on #1677
This issue is obsolete. Tracking all map page updates in one issue.

[2020-04-13 17:30] #1677 closed

[2020-04-13 17:45] JaceDeloney opened #2329 "Map page updates"
This issue outlines updates to the VZV map page. For reference, please see VZV Map Page Design Enhancements [doc](https://docs.google.com/presentation/d/1tLTUm1LoxbhtopK0nzumebLMJ06BJ7oexLrvBGT9xCQ/edit?usp=sharing).

**Navigation updates**
- [x] Navigation buttons need to be styled for when the user taps on the hamburger menu and navigation buttons display in the sidebar

**Sidebar updates**
- [x

[2020-04-13 18:10] JaceDeloney commented on #2329
Outstanding questions:
- How should we handle alerts (e.g., this site is a work in progress) and disclaimers?

[2020-04-13 18:26] alan-deanda opened #2330 "PDC Map - GIS Support"
Provide AGOL support to staff working on the PDC Map.

[2020-04-13 18:27] moorerst opened #2331 "[RPP Back Office] Refinements after RPP Usability Testing/MAP Enhancements"
**Map Splash page**
Ignore the splash screen.

**Address Search**
Entered address in the search, circle loading.

**Loading time/performance**

- Expectations are high, seems to be taking a long time.  Still spinning, finally got it. Took a long time.
- Taking a long time to load, is annoyed by how long. Seems too long. Would normally, click out of the app and try again.
- 2nd time: Typed in 2100

[2020-04-13 18:33] sergiogcx commented on #1075
I gathered data one month for all providers (except lime and bird which do not respond for January 2018), and the test results were good. I am going to proceed gathering an entire year, Jan 2018 through Jan 2019.

For lime and bird, I will begin from April 15th to January 2019, this is because they both seem to have a limit on how far back you can query data (apparently 2 years).

[2020-04-13 18:38] moorerst opened #2332 "[RPP Back Office] Refinements after RPP Usability Testing/Splash Page"
- Eligibility is large enough for user to see
- Wanted to click on the first link, bc it’s so much larger. First line seems more important because it’s big.

Permit Cost, the “must” is weird.

- [x] Take out “must”.

- Was too much text, suggested making buttons or sections clickable for users that want to find more information.
- Skimming through it, but feels like it’s a lot of information.  A l

[2020-04-13 18:48] atdservicebot opened #2333 "Mac user, AnyConnect VPN wants to remote desktop to work computer"
Other / Not Sure

I would like to access files saved on my desktop on my computer at the office. As an intern I am working from my personal computer, a mac, and using the AnyConnect VPN to access ATD's server. I have access to the G Drive, but do not know how to remote access my city desktop.

Soon — This week

Request ID: DTS20-100645

[2020-04-13 18:49] alan-deanda commented on #2269
@johnclary @dianamartin ,

I spoke with Susanne at length on Friday. We've been having issues with our current plan of connecting dates of installation, maintenance, and removal to the asset feature classes in MAINT. The original idea was to create a related table with a one-to-many relationship class that links assets to Work Orders, and this table would relate to the Jobs table. However, due to

[2020-04-13 18:51] sergiogcx commented on #1075
Currently Running

[code]

[2020-04-13 18:52] moorerst opened #2334 "[RPP Back Office] Refinements after Usability Testing / Application Part 1 - 3"
**Part 1: CONTACT INFO**

- No problems here
- Default caps were unexpected

- [x] She was able to put in only an initial and was able to move forward (question to RPP Staff)

- [ ] Phone and Email fields are automatic hyperlinks, check on this. User felt like it didn’t need to be.

- Users would like the autofill aspect (browsers have this)

**Part 2: PERMIT INFO**

- Nice that the address autoco

[2020-04-13 19:01] moorerst opened #2335 "[RPP Back Office] Refinements after RPP Usability Testing / VEHICLE (Part 4)"
Part 4: VEHICLES

- Why is this the banner in red”. Have to add vehicles in. Placement of that message good?
- Suggested test: “Please add your vehicles below”. The number of ‘residential” vehicles.

- [ ] Assume that it would turn green once criteria is met. (auto refresh?)
- [x] “Add Vehicle”, change to “Save”

- User feels like it shouldn’t allow user to move forward, it should stop you at the

[2020-04-13 19:05] alan-deanda opened #2336 "Update: Markings work orders 04/13/2020"
61 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-13 19:16] moorerst opened #2337 "[RPP Back Office] Refinements after RPP Usability Testing / Review Page"
- Didn’t notice the banner on the Review page. The banner wasn’t eye catching. (Pop-up banner).
- [x] Banner larger?

**Permit Costs**

Subtotal and then Subtotal tax, then have total. Day passes cost: $1.08. User thinks it’s weird math.

**Vehicle Information - Edit button**

Clicked back to Vehicle Information. There is an edit button to edit the vehicle. Page title is clear. Maybe add language

[2020-04-13 19:29] moorerst opened #2338 "[RPP Back Office] Refinements after RPP Usability Testing / Invoice - Payment Options"
## Invoice Page:
- Is math right? Question is in the tax permits? Tax cost per permit, instead assumed it was the total tax.
- Payment Options on invoice were small (as designed)

## Payment Options Page:

- Payment Options Banner

This button give the impression that you can pay online. Scrolled to the bottom read couldn’t pay online, then scrolled up to the top and thought could pay online becau

[2020-04-13 19:33] moorerst opened #2339 "[RPP Back Office] Refinements after Usability Testing / Email configuration"
- [ ] need to change subject line and in the body, to “Reviewed & Approved”

- Link to connect to Application and Payment Options link: giving 404 error message. Corrected itself.

- [ ] There’s no phone number, even on the email to call for phone payment.

- [ ] Include phone number in email.

- [ ] (New) suggested we have email for when submittal of application goes through with invoice page lin

[2020-04-13 19:37] moorerst opened #2340 "[RPP Back Office] Refinements after RPP Usability Testing / Application Configuration"
- [x] Home of RPP - include which browsers are compatible with the application.

- [x] Try not to make the user leave your application to see other information in another website

- [x] Help phone/email should be on all pages of the site no matter what so if user has issues they can ask for help.

[2020-04-13 19:49] jaime-mckeown commented on #2189
- Went through departments on the call to go over everyone's roles and interests for the streets data
- Talked about User Stories Survey
- Next meetings that we can have to get into the details: derived data that departments create, intersections, addressing, etc.
- Review fields in enterprise data (are they all still maintained, resources)
- New Team has been created for this project called Stree

[2020-04-13 19:49] #2189 closed

[2020-04-13 19:54] moorerst opened #2341 "[RPP Back Office] Refinements after RPP Usability Testing / Recommended Process Changes"
- Users thought they could pay online

Realized that has to pay in-person or over the phone.

- The user did not realize that their application needs to be reviewed before payment can be processed.

- [ ] Expectations set to customers:
- submit application expectations. How long will it take? To see the customer’s expectations. Need to say putting in application, payment. Don’t think they should b

[2020-04-13 19:57] dianamartin commented on #2333
Scott emailed

He emailed her instructions 4/13 at 12:12 pm to use Citrix to remote into work computer.

[2020-04-13 19:57] #2333 closed

[2020-04-13 19:58] mateoclarke commented on #2333
Might be good to get those instructions in the wiki for future reference?

[2020-04-13 20:00] dianamartin commented on #2333
@mateoclarke I'll check the current Citrix instructions on the wiki and compare it to Scott's email to her bc I think they're the same

[2020-04-13 20:02] moorerst opened #2342 "[RPP Back Office] Questions after RPP Usability / Questions for RPP Staff"
- [x] Prioritizing the preferred payment (In-person/Phone Payments)

- [x] Eligibility Look-up within Knack (Verify by Address for RPP Staff) - SUPER IMPORTANT
to be discussed in meeting 4/21/2020
Confirmed in meeting we will use the simplified address look up that indicates the address is eligible, number of permits for the address, renewal period

- [ x] Help phone/email should be on all pages o

[2020-04-13 20:05] amenity commented on #885
![image](https://user-images.githubusercontent.com/1463708/79156278-353e5580-7d98-11ea-9701-e076c8c5301c.png)

[2020-04-13 20:07] atdservicebot opened #2343 "Signs_Markings_Operational_Maintenance_Areas - New layer for MAINT/GISDM/AGOL"
ArcGIS

I would like to publish the "Signs_Markings_Operational_Maintenance_Areas" feature layer on GISMAINT, GISDM, and ArcGIS Online internally and pushed on a daily basis. I have talked to the Signs and Markings Point of Contact Christina Tremel about having this dataset published on GISMAINT, GISDM, and AGOL

The Feature layer file path is: \\coacd.org\dfs\TPSD\ATD\Signs_and_Markings\MISC_PROJ

[2020-04-13 20:17] amenity commented on #2307
@dianamartin - will you loop me in on the next discussion, please?

[2020-04-13 22:27] dianamartin commented on #2332
## Before
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/7f2c8c35-a86b-426b-80a6-1c37fb662b46)

[2020-04-13 23:17] dianamartin commented on #2332
## After (Some changes)
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/19ce3c3c-51d1-4c0a-bf55-162bc3e14901)

[2020-04-13 23:17] dianamartin commented on #2332
@moorerst Check out the changes!

[2020-04-14 13:24] SurbhiBakshi opened #2344 "Amanda ROW Update Meeting - April 14th 2020"
Meeting to update Paloma and Ryan on progress on Amanda issues - CTM and LIT

[2020-04-14 13:30] SurbhiBakshi commented on #2344
Amanda work with Launch IT -

Meeting with LIT to introduce Nate and discuss #1951
Question for Paloma - recommended best practice is to enter number of hours, and that will set off calculation with fee amount and 4%surcharge. Will that work for you? #1951.
Question - LIT said we could have them work on putting the Out of System fee on Portal in parallel with the creation of the fee in Amanda. Wou

[2020-04-14 14:08] #2100 closed

[2020-04-14 14:39] SurbhiBakshi opened #2345 "Meeting for ROW Out of System Fees in Portal"
Meeting to discuss getting  ROW Out of System fees in Portal. Put fees from #1951 in Portal once fees are in Amanda.

[2020-04-14 15:03] sergiogcx opened #2346 "ETL: Queue crash record for review on specific columns"
The ETL needs to queue crash records for review automatically if there are changes to the `death_cnt` or `sus_serious_injry_cnt` columns.

[2020-04-14 15:14] sergiogcx opened #2347 "ETL: Queue for Secondary Records"
If a crash record is queued for review on update, the related tables need to be removed from the update pipeline and put into a separate queue. If the crash is approved for update, then the rest of the records need to be inserted together.

- [ ] a user accepts all the changes on a crash -> we process all the edits to related records
- [ ] a user cherry-picks certain changes on a crash -> we don't

[2020-04-14 15:34] sergiogcx opened #2348 "VZE: Create Record Inconsistency UI"
We need a report that will show any inconsistent records in the database.

- [x] Create and test SQL code that can scan for inconsistencies
- [x] Create view in Postgres and track it in Hasura
- [x] Create the UI to show the crashes with inconsistencies.

[2020-04-14 16:28] #2336 closed

[2020-04-14 16:29] alan-deanda commented on #2310
Print bike map edits are finished! I'll create a new issue for when I push an update to the online bike map later this week.

[2020-04-14 16:29] #2310 closed

[2020-04-14 16:29] #2330 closed

[2020-04-14 16:30] alan-deanda commented on #2258
AGOL-created vector tiles are inadequate. Will close this issue and make a new one for testing vector tiles created in ArcPro once updates to the online bike map are finished later this week.

[2020-04-14 16:30] #2258 closed

[2020-04-14 16:30] #1237 closed

[2020-04-14 16:33] alan-deanda opened #2349 "Update: Markings work orders 04/14/2020"
56 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-14 17:33] alan-deanda opened #2350 "PDC Map GIS Support"
Provide on-going support to the PDC Map effort, answering questions about AGOL and providing data if possible.

[2020-04-14 17:34] dianamartin commented on #2308
Christina and I got on at call around 10:50 am and finished around 12:30 pm. Everything looks good, tested all all user roles in Signs side. Markings menu was easier to test bc Supervisor/Tech have same permission.

[2020-04-14 19:56] SurbhiBakshi commented on #2304
This is a pretty complex issue, due to the differences between Amanda and Portal. RW has different templates based on sub types. Portal allows only one template per folder type.
Either the RW templates will have to be reworked to allow for only one template for all the sub types, or there will have to be a change to Portal . Either way is not a simple fix. Iceboxing this issue for now.

[2020-04-14 19:59] SurbhiBakshi commented on #2344
- [ ] Follow up on actual fee amount
- [ ] Does people record have to be an applicant?

[2020-04-14 20:21] JaceDeloney opened #2351 "Project: PPE Inventory Tracking"
Help ATD staff manage the purchasing and issuance of personal protective equipment (PPE) so that we can ensure staff are able to maintain adequate personal protection while working through the COVID-19 pandemic.

## Description
We have received a request to create a PPE Inventory Tracking solution. Currently, each division has been requesting and purchasing their own PPE, causing confusion as to t

[2020-04-14 20:23] #2098 closed

[2020-04-14 20:23] JaceDeloney commented on #2351
Just got off of the phone with Gilda. Here are my notes:

- > Is this tool intended for Peggy and Gilda or for division managers to keep track of their own inventory?
The goal of this tool is for the dept to have a centralized process and tool to track PPE inventory. Right now, division managers and teams are purchasing their own PPE without communicating that to the department. So when the depart

[2020-04-14 20:33] JaceDeloney commented on #2295
Forgot about this issue and created a new issue. Tracking this work in #2351 now. Closing out.

[2020-04-14 20:33] #2295 closed

[2020-04-14 20:33] JaceDeloney commented on #2351
Reference #500 for similarities

[2020-04-14 21:07] Nadin-Nader commented on #1951
Followed up with George on 4/13 and spoke about the concerns brought up by Raj in the meeting.
Concern for me to follow up on:
If a Fee is put into the GF folder for the SP folder will it show up on the SP folder or associate it with the SP folder.

This would be a big project as each folder has different processes that it follows and they would have to be assessed individually to change the proce

[2020-04-14 21:31] Nadin-Nader commented on #2304
@SurbhiBakshi Spoke to Surya and asked her more about this. She informed me that currently the permit that can be printed via Portal is only linked to the folder type and not by sub/work.
If it requires to be different templates by Sub/Work for RW the the Portal will need to be modified.

I also asked how much of an effort that would be, from a scale of 1-5 (5 being huge), Surya said that they wou

[2020-04-14 22:11] #2349 closed

[2020-04-15 11:51] #2134 closed

[2020-04-15 11:54] SurbhiBakshi commented on #1425
@Nadin-Nader contacted George S and has got  information on testing.

[2020-04-15 11:58] SurbhiBakshi commented on #2304
@Nadin-Nader thanks for reaching out to Surya! Let's bring this up in backlog grooming today if possible. I am not sure ROW wants to go the route of having one template, or how much effort would be needed from them for this purpose.

[2020-04-15 12:54] SurbhiBakshi opened #2352 "Service Now Training"
Take some Service Now training to understand how it works

[2020-04-15 13:03] SurbhiBakshi opened #2353 "ATD (ROW) - LIT Meeting | April 20th, 2020"

[2020-04-15 13:18] dianamartin commented on #2307
@amenity I already talked to Christina. Whenever she's ready to provide the labor categories then we'll include you in the discussion. That hasn't been scheduled yet. Christina had to meet with her work groups first to clarify the categories.

[2020-04-15 13:36] dianamartin opened #2354 "Create PPE Tracking pages in Finance & Purchasing app"
After discussion with John and Jace we decided to build out

## Create object tables
### ppe_inventory_items
- [x] PPE INV ID
- [x] CATEGORY
- [x] ITEM NAME
- [x] STATUS
- [x] CREATED BY
- [x] CREATED DATE
- [x] MODIFIED DATE
- [x] UNIT OF MEASURE
- [x] UNIT PRICE
- [x] REORDER THRESHOLD

### ppe_transactions
- [x] PPE TRANS ID
- [x] TYPE: Restock, Issue
- [x] DATE
- [x] QUANTITY
- [x] COMMENT
- [

[2020-04-15 13:38] SurbhiBakshi opened #2355 "ATD (ROW) - LIT Meeting | April 23, 2020"

[2020-04-15 13:40] SurbhiBakshi opened #2356 "ATD (TDSD) - LIT Meeting | April 27th, 2020"
[Agenda](https://docs.google.com/document/d/12OvgzaroeGL-DkZ86mq7d-P6FZtq1XGTBP0Mp1qJJwU/edit#)

[2020-04-15 13:57] #1819 closed

[2020-04-15 13:57] #1815 closed

[2020-04-15 13:57] #1528 closed

[2020-04-15 14:09] jaime-mckeown commented on #2288
Completed the above changes and saved a new FGDB to working area for AMD. Emailed Renee and Andres regarding new output and the changes reflected in the data.

[2020-04-15 14:30] jaime-mckeown commented on #2288
Modified the Demand Risk Safety for PHBs ASMP script. I had forgotten to add indexes for all the table joins, which was making the script super slow. Once the indexes were added, the script completes in about a miniute.

[2020-04-15 14:31] dianamartin commented on #2354
## Tabs/Pages
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/3569afe9-03fa-4c9d-a39f-d7010ca774dd)

# Current Inventory
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b3ed4747-5e2a-4426-8762-e1a1274f87f8)

## Restock form
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/5140ebdc-7d85-4709-b772-fdc0bfafad58)

## Issue

[2020-04-15 14:32] dianamartin commented on #2354
@JaceDeloney @johnclary If you don't get a chance to log in, I've added some screen shots to this issue so you can see the pages that I've created. Let me know if we have any changes.

[2020-04-15 14:34] dianamartin commented on #2269
@alan-deanda @johnclary I think we definitely need to talk more about this and what you and Susanne would like to do so we can help you determine a solution. This is the first time I've heard about this so I think setting up some time to talk would be best. Check our calendars and we can discuss in detail.

[2020-04-15 14:36] dianamartin commented on #2303
@johnclary This is done, correct? We re-enabled Tuesday morning?

[2020-04-15 14:38] dianamartin commented on #2049
John and I worked on getting this done. I had originally sent John D. the wrong metadata file without our keys. John D. had to resend me his metadata file.

I was having problems configuring the apps. So John took a look and configured the ROW app. I still have the RPP app to do.

[2020-04-15 14:38] #2049 closed

[2020-04-15 14:40] dianamartin commented on #501
@amenity this looks very similar to #2251

[2020-04-15 14:42] dianamartin opened #2357 "Meeting to review AMD workflow with staff"
Scheduled 4/20/2020

[2020-04-15 14:43] dianamartin commented on #1503
Completed Usability testing 4/13!

[2020-04-15 14:43] #1503 closed

[2020-04-15 14:44] jaime-mckeown commented on #2288
Modified Churches Schools Multifamily Parks script to optimize and simplify.

[2020-04-15 14:51] amenity commented on #501
@dianamartin - agreed.

[2020-04-15 14:51] #501 closed

[2020-04-15 14:57] moorerst commented on #2332
@dianamartin I really like the changes it looks so much cleaner and it's all on one page not a lot of scrolling

[2020-04-15 15:00] #2034 closed

[2020-04-15 15:02] SurbhiBakshi commented on #2280
Planning to organize by

1. Dataset Name
2. Links (other pages which have the information requested)
3. Department  Contact - group in department that manages operations related to dataset
4. Common Questions  (break those into sub categories by grouping questions asked frequently)

[2020-04-15 15:02] dianamartin commented on #2338
@moorerst I've updated the [Payment Options](https://atd.knack.com/parking#payment-options/) page too, if you wanna look

[2020-04-15 15:03] SurbhiBakshi commented on #2280
not sure if we should include contact information (contact email) for Department Contact here. Would be helpful to have that available quickly, but would need to update in case of staff turnover.

[2020-04-15 15:04] moorerst commented on #2332
@dianamartin I like the addition of About The Program on the Home page

[2020-04-15 15:12] moorerst commented on #2332
@dianamartin could we move Learn more about RPP Program as a bullet under What you should know before applying?

[2020-04-15 15:28] #2269 closed

[2020-04-15 15:28] dianamartin commented on #2332
@moorerst this is true

[2020-04-15 15:32] #2093 closed

[2020-04-15 15:35] moorerst commented on #2338
@dianamartin looks great. Suggested language for In Person Payment
Pay In Person at the Parking and Mobility Services Permitting Office during payment hours
Exact cash, check or credit card accepted

[2020-04-15 15:49] dianamartin commented on #2340
@moorerst
- [x] Added the browser foot note on the front page (RPP)
- [x] Added email footer to all application pages

[2020-04-15 15:50] #1881 closed

[2020-04-15 15:54] dianamartin commented on #2338
### Note if we need Payment Options banner back
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/6f4749df-5aca-4946-bf1d-9028182409f0)

[2020-04-15 15:55] jaime-mckeown commented on #582
Moved to the Backlog until hiring freeze has been lifted.

[2020-04-15 15:59] jaime-mckeown commented on #1844
New issue was created for documenting SXSW in GitBook, closing this issue.

[2020-04-15 15:59] #1844 closed

[2020-04-15 16:07] atdservicebot opened #2358 "Add users to the COA_ATD_Signs_and_Markings Group in AGOL"
ArcGIS

Christina Tremel and I would like to add the following people to the COA_ATD_Signs_and_Markings group on ArcGIS Online.

Cathy Kambalouris
Christopher Sanchez
Jesse Robles
Joe Michael Limon
Lauren Seyda
Tooran Khosh

Soon — This week

I have created a collector map internally for the Signs and Markings division for longline inspections and they need access to the group to use it.

The peop

[2020-04-15 16:14] SurbhiBakshi commented on #2280
Dataset Issues -
- [ ][Traffic Studies: Vehicle Classification Reports:](https://data.austintexas.gov/Transportation-and-Mobility/Traffic-Studies-Vehicle-Classification-Reports/2hke-by7g) - does not have field definitions filled out

[2020-04-15 16:17] JaceDeloney opened #2359 "PPE Inventory Tracking UI Updates"
### Changes to PPE Current Inventory Tab
**PPE Current Inventory**
- [x] Change `PPE Current Inventory` to `Current PPE Inventory`
- [x] Change `Restock` button to `Add`
- [x] Change `Issue` button to `Distribute`
- [x] Change `ATD PPE Inventory` to `Current ATD Inventory`
- [x] Add `Category` column to `Current ATD Inventory` table

- [x] Change `Count` to `Quantity`

_Open Question: Should we re

[2020-04-15 16:21] SurbhiBakshi commented on #1467
Email from Dwayne - I forwarded this on to Collaboration Services.  They will be able to connect the AGOL layer to Socrata.

[2020-04-15 16:21] jaime-mckeown commented on #2358
Added users that had AGOL accounts. Emailed Susanne to let her know that 3 users need to create accounts before I can add them to the Group.

[2020-04-15 16:25] dianamartin commented on #2338
@moorerst I updated the `In-Person payment` information

[2020-04-15 16:32] jaime-mckeown opened #2360 "Add new data to AGOL / TDSD Web Map - N. Saeedi"
Nazlie sent me a FGDB with new data to be added to their AGOL Group and Web Map.

[2020-04-15 16:40] #2095 closed

[2020-04-15 18:35] tylerwhitson opened #2361 "Time of day viz tooltips sticking"
Fix issue causing tooltips to persist after hover

![Screen Shot 2020-04-15 at 1.30.39 PM.png](https://images.zenhubusercontent.com/5cf19d09272c387e1f4f2d1f/57da2b28-ba13-4a55-80aa-5c2b21391a4c)

[2020-04-15 18:47] jaime-mckeown commented on #2288
- AE_Streetlights layer is filtered out to only be STREETLIGHTS
- Signals layer is filtered out to not include permanently removed under Signal Status
- Signal Request layer will be filtered to only show requests in the last 12 months. Waiting to hear back for what request status' and request types they want to include in the analysis.

[2020-04-15 18:49] dianamartin commented on #2359
@JaceDeloney some of these things are not possible bc the "tables" are actually a pivot table and some fields you requested can't be added. Also, I disagree with some of the suggested naming of the pages/tabs.

[2020-04-15 18:55] amenity commented on #2357
Duplicate of #2217

[2020-04-15 18:55] #2357 closed

[2020-04-15 18:55] alan-deanda opened #2362 "CIP feature class duplicates delition"
The Corridor Program office has identified projects in the CIP feature class in Datamart that have ATD_ADMIN duplicates. We need to delete the ATD_ADMIN duplicates so that only the CPO projects are retained in the CIP feature class in Datamart.

[2020-04-15 18:57] tylerwhitson commented on #2228
This is complete. Closing this issue.

[2020-04-15 18:57] #2228 closed

[2020-04-15 18:58] amenity commented on #1921
@amenity - schedule a catch-up with @dianamartin on this.

[2020-04-15 18:59] sergiogcx commented on #2348
This is ready for review, created pr:
https://github.com/cityofaustin/atd-vz-data/pull/751

[2020-04-15 19:00] sergiogcx commented on #2348
Lowered from 5 to 3, the views had been already created and tracked in Hasura (prod and staging), all I had to do is troubleshoot performance and create UI.

[2020-04-15 19:07] amenity commented on #2309
@dianamartin is coordinating with Peggy on this.

[2020-04-15 19:09] amenity commented on #2193
@johnclary - what are your thoughts here?

[2020-04-15 19:20] alan-deanda opened #2363 "Update: Markings work orders 04/15/2020"
52 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-15 19:24] JaceDeloney commented on #1712
- [ ] Change Record ID to Crash ID
- [ ] Show only fields with discrepancies by default. Change `Show only fields with differences` toggle to `Show All Fields`
- [ ] Change `Open Current Record` to `Open Existing Record`
- [ ] Change `Download Current CR3` to `Download Existing CR3`
- [ ] Add `Download New CR3` button in the main options section that allows users to download the new/incoming CR3
-

[2020-04-15 19:29] amenity opened #2364 "Set up DTS Support Knowledge Base in Gitbook"

[2020-04-15 20:10] JaceDeloney commented on #2329
Map view updates = 3 in complexity

[2020-04-15 20:18] dianamartin commented on #2359
@JaceDeloney @johnclary Changes updated, please review.

[2020-04-15 20:21] dianamartin commented on #2364
- [x] Created ATD DTS Service Desk Knowledge Base wiki (private)
- [x] Connected all ATD Wikis
- [x] Started Training page for Service Desk
- [x] Manage Inbox page
- [x] Add tech events to shared calendar page
- [ ] Triage issues while on service desk assignment

[2020-04-15 20:37] amenity commented on #421
Moving this to https://github.com/cityofaustin/atd-data-tech/issues/1850.

[2020-04-15 20:37] #421 closed

[2020-04-15 20:39] dianamartin commented on #2309
I added column on 4/14 during the `Time log` meeting.

[2020-04-15 20:40] dianamartin commented on #2309
I told Peggy that I'd update at EOC type logs with the `COVID Response` - Yes. Accidentally updated the wrong fields for Modified Date/By and overrode the Reviewed Date/By fields. I had to correct them and I said I'd resend the data export to her.

[2020-04-15 21:01] dianamartin commented on #2309
Emailed Peggy

[2020-04-15 21:01] #2309 closed

[2020-04-15 21:02] #2276 closed

[2020-04-15 21:09] amenity opened #2365 "Prep for AMANDA / Launch IT meetings"
### Objective
@SurbhiBakshi is going to reach out to Raj to see what his plans are for facilitating next week's meetings with Launch IT. Let's sync up on what we need to do to prep.

### Participants
Amenity, Surbhi, Nate
Optional: John

### Agenda
What cleanup do we need to do so that we can refer directly to the Zenhub board in the meeting?
![Screen Shot 2020-04-15 at 3.31.04 PM.png](https://ima

[2020-04-15 21:09] dianamartin commented on #2334
## New - Part 1: Contact Info
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/e27ae8ff-82c7-4ebc-98b9-e4855f0d2d18)

[2020-04-15 21:13] dianamartin commented on #2334
## New - Part 3: Required Documents
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/958569e7-d8af-42ce-9df2-40792d4f1f1f)

- New button name `Save Documents`

[2020-04-15 21:47] dianamartin commented on #2335
I have having a refresh issue with the banner not going away, so I decided to create a the `Add Vehicle` form as a modal pop-up that redirects to the parent page, which pushes a refresh to the page.

[2020-04-15 22:16] tylerwhitson opened #2366 "Vision Zero logo skewed on desktop"
![Screen Shot 2020-04-15 at 5.14.50 PM.png](https://images.zenhubusercontent.com/5cf19d09272c387e1f4f2d1f/44c7e042-0d67-45d2-9977-c86880f8f3d3)

[2020-04-15 22:27] #2348 closed

[2020-04-15 22:29] #2346 closed

[2020-04-15 22:34] dianamartin commented on #2335
@johnclary I have implemented a work around, but i'm not super happy about it. Would like your eyes and brain on if this is the best way going about this.

[2020-04-16 02:39] jaime-mckeown commented on #2288
Worked on CSR field:
- they are interested in PHB requests over the last 12 months
- Request Status: Ineligible, Not Recommended, Recently Reviewed, Recommended, Recommended - No Funding, Study, Under Evaluation.
- Add layer to FGDB, modified Script that creates Near Tables, and ran scripts again to include the CSR ranking in the overall ranking.
- Let AMD know that the data has been added and a n

[2020-04-16 13:49] SurbhiBakshi commented on #2365
@amenity @johnclary @Nadin-Nader - wrote to Raj, will update when I hear back

[2020-04-16 14:27] johnclary commented on #2335
@dianamartin happy to take a look at it w/ you

[2020-04-16 14:29] johnclary commented on #2193
Closing. The feature has not been requested by our users.

[2020-04-16 14:29] #2193 closed

[2020-04-16 14:32] johnclary commented on #2303
Yep. Thanks. Closed.

[2020-04-16 14:32] #2303 closed

[2020-04-16 14:46] jaime-mckeown commented on #2343
Started looking over feature class
- FC name needs to be shortened
- Field descriptions need to be added in metadata
- Unique ID field needs to be added, asked if they will need Attribute Assistant or Attribute Rules (Pro) for adding new polygons to layer
- Sent link to GIS Data Standards Doc to help with preparing feature class for upload

[2020-04-16 14:47] jaime-mckeown commented on #2360
FGDB has 2 layers in it, emailed Nazlie to see what layers they want added to TDSD Web Map and if they want only basic attributes as there are a ton of fields in the data.

[2020-04-16 15:06] tylerwhitson opened #2367 "Troubleshoot Time of Day tooltip issue"
Continue troubleshooting why time of day tooltip persists in staging (but not locally)

![Screen Shot 2020-04-15 at 1.30.39 PM.png](https://images.zenhubusercontent.com/5cf19d09272c387e1f4f2d1f/297a11cb-8740-4ec5-bf72-3e3d0c18436e)

[2020-04-16 15:09] moorerst opened #2368 "[RPP Back Office] Sprint Review # 4"
Review Usability Test results with stakeholders

https://docs.google.com/presentation/d/1iEnJlvsk9laNnKyU7zD-aFz7x1oyrRlN4XGuY29ELjY/edit#slide=id.p

[Video Recording of Sprint Review](https://web.microsoftstream.com/video/4ceb6dae-14cc-45e6-8c30-a77da099d44e)

[2020-04-16 15:13] tylerwhitson commented on #2361
Closing issue manually because I forgot to set to automatically close when I merged PR.

[2020-04-16 15:13] #2361 closed

[2020-04-16 15:16] amenity opened #2369 "Document process used to create new set of assignments"
While we're not sure whether we'll get tp #1295, manually duplicating sets (one month, so far) of assignments for Lewis expedites his workflow. We'll document this so it's easy to repeat moving forward.

[2020-04-16 15:26] moorerst commented on #2368
Next Steps from Sprint Review will be to set up 2 additional meetings to discuss
Ineligibility Process
Phone number and email options
Status lookup option

Second meeting to discuss
Geo/Elgiibility Look-up

[2020-04-16 15:50] zappfyllc opened #2370 "Meet with Nathan re: ERD/IPD questions"
Meetings Held:

- [x] 4/3
- [x] 4/16
- [x] 4/27

These meetings will help with clarity and alignment on the data model from an important MoPeD stakeholder: this should ideally be under the ERD Epic.

[2020-04-16 15:53] zappfyllc commented on #2370
Questions for 4/16:
1. Ecapris Discussion
    * Data Source -- how is this info currently being retrieved at first? how often is it updated/retrieved?
    * FDUs
    * Funding Sources -- does eCapris help determining this or do you know from the outset of the project (or is it a mix)? 
2. Access Form Inputs UI
    * Quick overview of tabs
3. Miscellaneous Entity Questions (may be addressed by #2)

[2020-04-16 16:07] #2367 closed

[2020-04-16 16:07] JaceDeloney commented on #2284
@alan-deanda  Attached is the zipped shapefile of the downtown polygons that Nelson Nygaard wants to use. Let me know if you have any questions about how the data is set up.[https://app.zenhub.com/files/140626918/29939506-dd50-4551-a14d-f37bec6d4c25/download](https://app.zenhub.com/files/140626918/29939506-dd50-4551-a14d-f37bec6d4c25/download)

[2020-04-16 16:17] #2366 closed

[2020-04-16 16:20] #2363 closed

[2020-04-16 16:22] alan-deanda opened #2371 "GIS QA Bike Rack Data"
Delete bike racks found in the lake trash bin and restore default edit settings.

[2020-04-16 16:22] #2371 closed

[2020-04-16 16:28] dianamartin commented on #2339
Configured new email for when a user submits an application. Need to test so that I can see what the email says.

[2020-04-16 16:30] alan-deanda opened #2372 "Update: Markings work orders 04/16/2020"
53 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-16 16:32] SurbhiBakshi commented on #2086
- [ ] What information is helpful to have visible on the Locations Details page?
- School District

- [ ] Hide School Closure fields when type is street segment or intersection

- [ ] GIS Notes? Is this something LL should see, sometimes street segments as described by LL don't line up with street segments in GIS.

 - [ ] Create issue(s) for any necessary refinements based on feedback

[2020-04-16 16:37] SurbhiBakshi commented on #2086
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/ebf9aba7-e6cd-4d03-9f85-896c8fb346ce)

[2020-04-16 16:43] SurbhiBakshi commented on #2086
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/cc90c91e-039e-4b71-b6a8-74d6a7ce07bb)

[2020-04-16 17:01] dianamartin commented on #2335
Scheduled time with John on Monday, 4/20

[2020-04-16 17:31] atdservicebot opened #2373 "Meeting: Transition TIA process into Knack - TDSD Tracker"
### Meeting Info
**Date/Time:** 4/30 @ 11am
**Attendees:** Diana, Tracy, Joan, Nathan Aub.
**Agenda in comment below**

Other / Not Sure

Transition from using the TIA Primary List off a Spreadsheet into Knack for inputting projects and project tracking.

Knack keeps track of ROW IDs, project names, timelines, integrated with Amanda to facilitate project tracking. We would also like to be able to

[2020-04-16 18:01] amenity opened #2374 "Discuss DTS App Suite product strategy"
### Objective
Let's have a holistic discussion about the DTS App suite so that we have a shared understanding of the existing ecosystem and where we want it to go.

### Participants
Required: Diana, John, Amenity, Jace
Optional: Surbhi, Stephanie, Tracy

### Agenda
  - What "Projects" (usually features or enhancements) belong to what "Products" (usually individual Knack apps)
 - How can we standar

[2020-04-16 18:07] amenity commented on #2026
I knocked out a bunch of this last night.

Some Product-Op-y thoughts, /cc @moorerst @JaceDeloney @johnclary @TracyLinder:
- Creating labels before activation implies a bit of solution-ing, e.g. `Project: Parking Enterprise Work Order System` issues might be a freestanding Knack app or actually be a part of a Parking Enterprise Reporting Portal product. Maybe we don't create a label until activati

[2020-04-16 18:09] moorerst commented on #2342
Several meetings scheduled to address these questions
Tuesday 4/21 and Wed 4/22

[2020-04-16 18:36] dianamartin commented on #2373
## Agenda of topics to cover for TDS Tracker 2.0 enhancement meeting:
•	Transition from current TIA Primary List (Excel Spreadsheet) into Knack for inputting/tracking projects
•	IT’s perspective on best way to achieve and implement this transition
•	Time-line for piloting and implementation
•	TDS would like Knack to include features that would allow keeping track of ROW IDs, project names, time-li

[2020-04-16 18:36] dianamartin commented on #2373
Reference #1695

[2020-04-16 19:28] dianamartin opened #2375 "Missing Spec & Attachements on Edit GIS page"
Alan D.
DTS

Messaged

[2020-04-16 19:29] dianamartin commented on #2375
Looked into this and it's a RPM job. They are not required to fill out specifications because the material covers the work they did.

Told Alan that we could add a `Materials` table to the Edit GIS page.

[2020-04-16 19:29] dianamartin commented on #2375
Added `Materials` table to Edit GIS page.

[2020-04-16 19:29] #2375 closed

[2020-04-16 19:35] dianamartin commented on #2375
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/8f0d64db-07a8-49b4-b368-ae304ece8ce4)

[2020-04-16 20:20] SurbhiBakshi commented on #1440
-https://www.austintexas.gov/sites/default/files/files/Planning/Demographics/School_Districts_and_The_City.pdf
-https://roundrockisd.org/schools/
-http://www.dvisd.net/schools/

[2020-04-16 20:22] SurbhiBakshi commented on #2086
Action Items  from review meeting with Lewis on 04/16/2020

- [ ] LL would like the school status to show up in the concatenated location name if possible and not have to look up school details for closures. Think a filter based on year might work to filter out school locations with any closures.
- [ ] would like to see number of assignments per location so he can make decisions based on that info

[2020-04-16 20:22] SurbhiBakshi commented on #2086
Need to change (my observations)

- [ ] Add New Location modal needs to go back to parent page when done, and not Reload Form
- [ ] Location - location Details breadcrumb needs to change to Location -  Location Details

[2020-04-16 20:28] SurbhiBakshi opened #2376 "School Closure in Location Name"
From #2086 - Some AISD schools will be rebuilt and are going to be closed over the next few years. These schools should not be assigned a VZA assignment.

[2020-04-16 20:29] SurbhiBakshi commented on #2376
School status to show up in the concatenated location name to show any school closures in AISD.
or
Filter out school names from location drop down based on closure dates.

[2020-04-16 20:35] SurbhiBakshi opened #2377 "Review of AGOL locations"
From #2086 - Some GIS locations need to be reviewed. Keeping track of any such location in GIS Notes in the locations object. Will send to Lewis when done with GIS for further review.
1. Street segments that overlap - for example Parmer Lane from Mopac to IH 35, and Parmer Lane from Metric to IH 35. This may skew reporting.
2. Schools that are at the edge of APD sectors.

[2020-04-16 20:35] SurbhiBakshi commented on #2377
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/ad2379e2-eb92-4801-82eb-6f9c8c937466)

[2020-04-16 20:42] SurbhiBakshi opened #2378 "Report - Locations by Assignment"
From #2086 - Lewis would like to see a report showing how many assignments have been scheduled for a particular location. This will help him assign locations to future assignments. This report already exists in the reporting section, but need to repair it and possibly move it to another section.

[2020-04-16 22:08] dianamartin opened #2379 "Create Manage DOSA page"
Christina T
SMB

[2020-04-16 22:10] dianamartin commented on #2379
- [x] Created `Manage DOSAs` page
- [x] Added filter for `Signs`, `Markings`
- [x] Added to Marking WO and Signs WO admin menu bars

[2020-04-16 22:12] #2379 closed

[2020-04-17 12:43] SurbhiBakshi commented on #2183
- created Test copy - 17 April | TEST| Vision Zero in Action
- documented in DTS Inventory

[2020-04-17 13:49] SurbhiBakshi opened #2380 "Delete test and prototype instances of VZA app"
https://atd.knack.com/dts#applications/view-application-details/5da9dd053520560015f0cc6f/

[2020-04-17 13:52] dianamartin commented on #2373
Note to self: Need to reschedule as soon as we know when Tracy will available.

[2020-04-17 14:46] SurbhiBakshi opened #2381 "Amanda issues to be added"
Paloma sent an email earlier about these issues that may not be in the existing backlog. We need to check the backlog to see if any such issues exist.

[2020-04-17 14:47] SurbhiBakshi commented on #2381
Thanks first to Amenity and Surbhi for the marathon call earlier! We made it through the WHOLE list!!
 
As promised, I combed through the list of requests sent to Tracy and there were only a handful that were not included on the backlog. Also, I’ve included a few “Wish List” items here. These were never submitted to Tracy – given the size of the backlog – but Jim was insistent that I still continu

[2020-04-17 14:49] SurbhiBakshi commented on #2381
[Uploading... QUESTION Portal Payments of Adjusted Fees.pdf ]

[2020-04-17 14:53] SurbhiBakshi commented on #2381
[Email : Re- ROW Permit Dataset](https://app.zenhub.com/files/140626918/b144039b-f3e0-454b-b4d8-984aa22b3ad5/download)

[2020-04-17 15:01] jaime-mckeown opened #2382 "GIS Support: help load data into Mxds - H. McCaslin"
Harrell needed help loading the new AE Poles gis data into his 2 Mxds. Talked him through the process.

[2020-04-17 15:01] #2382 closed

[2020-04-17 15:08] amenity commented on #1982
@johnclary - I think this is done?

[2020-04-17 15:47] #2251 closed

[2020-04-17 15:52] amenity commented on #1886
@johnclary @SurbhiBakshi has an account you can use for this.

[2020-04-17 15:55] amenity commented on #1940
@TracyLinder - will you circle back with Eric and see if this is still needed?

[2020-04-17 15:55] amenity commented on #1624
@TracyLinder - please review.

[2020-04-17 15:57] amenity commented on #1733
@johnclary - here's an example of an OSE issue to refer to when you meet with Maria.

[2020-04-17 16:16] dianamartin opened #2383 "Meeting: Markings Assets - Asset maintenance date in Knack"
### Objective
**Background**
To be able to track when work is being done on a markings asset, Susanne asked me to create a table in MAINT that would be related to our markings assets through the MARKINGs_ID field. The related table would include the ID field, a type of work being done field (Installed, Maintained, Removed), and a Work Order ID. The Work Order ID would allow us to find the time sta

[2020-04-17 16:22] dianamartin commented on #2383
## Diana's Notes
Most of the dates in markings assets don't have historical maintenance dates

**Briefed about process**
Marking WO - `table`
Markings jobs - `table`
1:M - relationship

Susanne looks at:
Job -"Completed date/Install date"

**Current State**

GIS assets - doesn't have a historical maintenance date
- LL
- SL
- SM - PNT
- SM - LN

`Date`: _Last date maintenance (Installation date get

[2020-04-17 16:22] #2383 closed

[2020-04-17 16:32] alan-deanda commented on #2383
## Alan's Notes

* We settled on the date of a Work Order's closing as the most appropriate to track for asset work history.
    * Sometimes jobs are open for long periods of time, and there is a business need to close jobs and work orders sooner.
    * From a materials' longevity perspective, there is not a significant difference in tracking an installation date within a margin error of a few day

[2020-04-17 16:40] #2372 closed

[2020-04-17 16:41] alan-deanda opened #2384 "Download strava data"

[2020-04-17 17:32] #2076 closed

[2020-04-17 17:32] #2362 closed

[2020-04-17 17:35] alan-deanda opened #2385 "Create and test vector tiles of bike map in ArcPro"
Creating vector tiles of the bike map through AGOL results in slow-drawing tiles due to the lesser geoprocessing capabilities of AGOL compared to ArcPro.

The vector tiles will be created in ArcPro, published to AGOL, tested, and sent out to ATSD staff before replacing the existing feature-service loaded bike map with the vector tile version.

[2020-04-17 18:50] JaceDeloney opened #2386 "New PPE Request Form"
As a user, I want to be able to submit a request for additional PPE. As a purchaser, I want to be notified when new requests for PPE are submitted.

Create a new `Request` section that allows users to complete a form when they need additional PPE.

**Form fields:**
- [x] Requester - connection
- [x] Requested Date
- [x] PPE Item - connection
- [x] Quantity
- [x] Request Status
- [x] Modified By -

[2020-04-17 18:51] SurbhiBakshi commented on #1791
[Email Correspondance - DS Permit Worktype](https://app.zenhub.com/files/140626918/c2246631-9033-477f-ae03-267318189206/download)

[2020-04-17 18:52] alan-deanda commented on #2385
Vector Tiles have been created and testing so far seems to demonstrate faster loading speeds than the feature service and the AGOL generated vector tiles.

[2020-04-17 19:00] SurbhiBakshi commented on #1923
[Email Correspondance - TCI_Inspection_Attempt](https://app.zenhub.com/files/140626918/027c8327-7a23-464e-8c6d-7fe3ce865b67/download)

[2020-04-17 19:03] SurbhiBakshi commented on #1713
[Email Correspondance - TCI_Inspection_Attempt](https://app.zenhub.com/files/140626918/027c8327-7a23-464e-8c6d-7fe3ce865b67/download)

[2020-04-17 19:10] SurbhiBakshi commented on #1944
Refer to #1791 for stakeholders.

[2020-04-17 19:12] #2094 closed

[2020-04-17 19:21] SurbhiBakshi commented on #1922
[Email ](https://app.zenhub.com/files/140626918/7531c01e-94b7-49b8-bc71-66817ac4c178/download)

[2020-04-17 20:15] SurbhiBakshi commented on #1664
Waiting for more details from City attorneys

[2020-04-17 20:32] dianamartin commented on #2386
@JaceDeloney @johnclary I've configured the new PPE request form. Check it out [here](https://atd.knack.com/finance-purchasing#ppe-requests/)

[2020-04-17 20:57] #2350 closed

[2020-04-17 20:59] dianamartin commented on #2386
## Form
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/f713b9b6-a0a3-4dab-8d2f-b8a0b5abc75e)

## PPE Items drop down
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/33e4f4f5-7b1d-4bb5-82d2-a31c81aa8624)

## PPE tabs
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/aa88f61e-0d9c-472e-9899-56e193abce9e)

## PPE Requests

[2020-04-17 21:04] atdservicebot opened #2387 "(Urgent) On the Signs & Markings tablet profiles, we need to add a web shortcut through AirWatch. I have alre..."
Other / Not Sure

On the Signs & Markings tablet profiles, we need to add a web shortcut through AirWatch. I have already discussed this with Diana! We would like this web shortcut to be available to the technicians during COVID-19 Shelter in Place mandate: https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=cee30274cc2442d6b6ef35b6a3ec71c2

Urgently — Today or tomorrow

We would like t

[2020-04-17 21:48] dianamartin commented on #2387
Turned in a CTM HD ticket `REQ0045913`

[2020-04-17 22:30] jaime-mckeown commented on #2221
Finally finished updating all the Mxds / PDFs
- All data connections for banner data have been updated to GISDM
- Broken data has been removed
- All lamppost support Anno has been created, a new field added Banner Status so anno doesn't have to be deleted when supports are Inactive
- All lamppost supports are now only showing active banners, inactive are filtered out
- Need to create a single PDF

[2020-04-17 22:32] jaime-mckeown commented on #2119
Updated 4/13, 4/15, 4/17.

[2020-04-20 12:00] SurbhiBakshi commented on #2313
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/ba7db8fa-93d4-499d-8142-2fa6a7e0aedf)

[2020-04-20 12:02] SurbhiBakshi commented on #2313
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/c92c63d3-748d-4b76-9368-07866a93f039)

[2020-04-20 12:07] SurbhiBakshi commented on #2313
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/47c1bcb1-03ca-4dd1-a77b-e80855ec4a2d)

[2020-04-20 12:08] SurbhiBakshi commented on #2313
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/af7ffeba-6846-42e1-8a4d-b8a00df862bb)

[2020-04-20 12:20] SurbhiBakshi commented on #2313
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/e7ac53ba-2989-4c9e-9fe7-3492db2db3c2)

[2020-04-20 12:26] #2313 closed

[2020-04-20 13:39] amenity opened #2388 "AMANDA Reports: Fee Waivers Epic (TL)"
### As an ATD manager; I'd like a report that I can pull whenever I need to answer questions about fees we have waived in AMANDA.

**See child issues for specific report requirements.**
**DTS Manager:**
Tracy Linder

[2020-04-20 13:39] amenity opened #2389 "AMANDA Report: Metered Parking Fees for Parking Benefit Districts"
### TPW would like a menu report for the Parking Benefit Districts

[2020-04-20 13:42] amenity commented on #1944
@SurbhiBakshi - looks like this is covered by #1791, right?

[2020-04-20 13:54] amenity opened #2390 "Issues paying adjusted fees"
See [Email : Question - Portal Payment of Adjusted Fees](https://app.zenhub.com/files/140626918/5a3175dd-0496-49bb-8e4f-1b57d7901e2b/download)

Sounds like this issue may have already been addressed, would need to confirm with Kim P. Per email from Paloma, see #2381

[2020-04-20 13:57] amenity commented on #2386
@JaceDeloney @dianamartin - is this project for HR?

[2020-04-20 14:00] amenity opened #2391 "Conditions Pick fields for EX, DS, RW (NN)"
### As a ROW permit analyst, I'd like the folder conditions pick field to help speed up my workflow, by making commonly used verbiage available.

**Stakeholders:** Paloma, Kim
**DTS Manager:** Nate

**Acceptance Criteria:**
- Update the conditions pick values on DS, EX, RW
    - See [this](https://github.com/cityofaustin/atd-data-tech/issues/2391#issuecomment-652431743) comment

[2020-04-20 14:01] amenity opened #2392 "AMANDA Report: Unpaid fees (TL)"
## **As a user i'd like the system to pull up the list of unpaid fees when i submit a query.**

**Stakeholders:** Paloma, Kim P., Ryan M.
**DTS Manager:** Tracy

**Acceptance Criteria:**
1. System should send an email to rightofway@austintexas.gov on the 1st of every month containing the ATD Unpaid Fees Report for the previous month as an attachment. This needs to be done through batch process.
2.

[2020-04-20 14:03] amenity opened #2393 "Publish ROW data to Socrata"
See [Email : Re- ROW Permit Dataset](https://app.zenhub.com/files/140626918/b144039b-f3e0-454b-b4d8-984aa22b3ad5/download)

Per email from Paloma, see #2381

[2020-04-20 14:03] dianamartin commented on #2386
@amenity it's departmentwide COVID PPE Tracking..so OOD/FIN, not sure if HR is really involved. It's configured on the Finance & Purchasing application.

[2020-04-20 14:04] amenity opened #2394 "Updating AMANDA Permissions"
Per email from Paloma, see #2381

Here’s what we need:
- Matched user rights across the different staff functions, e.g. all Permit Analysts now have the exact same rights.
- Identified six power users, which includes four staff across four separate functions and two supervisors.
- Identified users who needed to have their rights removed either because they are no longer with ATD or no longer with

[2020-04-20 14:06] amenity opened #2395 "Ability to override default Inspector on EX Folders"
As a reviewer on EX folders, I want process assigned users to be updated when I change the inspector name in 'Excavation Inspector' Info field.
----
**Stakeholders: Isabelle P., Paloma A.

**Acceptance Criteria:**
- System should update the assigned user for the following processes when the info field Excavation Inspector (76155) is updated
               - Backfill (50805)
               - Concre

[2020-04-20 14:10] SurbhiBakshi commented on #1944
@amenity  - don't think we can close this, work types and sub types are two different fields for Amanda, both issues have the same stakeholders, since DS folders are generated when DSD creates new PRs.

[2020-04-20 14:13] amenity opened #2396 "Ability to override DS expiration date"
### As a ROW Power User, I need the ability to manually override the DS folder expiration date. The DS parent folder may get extended 90 to 180 days and the BP Expiration Date is expiring the DS folder and it shouldnt.

**Stakeholders:** Kim, Paloma
**DTS Manager:** Nate

**Acceptance Criteria**

- Power Users need to have the ability to manually override DS expiration date
- The DS Expiration dat

[2020-04-20 14:13] SurbhiBakshi commented on #2381
thanks for adding these issues @amenity !

[2020-04-20 14:16] amenity opened #2397 "Merge Facility Owner and COA Division Info for EX & RW Folder (NN)"
### As a ROW permit analyst, I'd like the Facility Owner Info and COA Division info merged into one info. I would like to keep the facility Owner Info and delete the COA Division info once the information has been transferred over into the Facility Owner Info.
**- To be worked with #1910**

**StakeHolders**: Jaclyn L, Isaiah L, Paloma
**DTS Manager:** Nate

**Acceptance Criteria:**
- Merge Franchi

[2020-04-20 14:26] #2381 closed

[2020-04-20 14:44] #2365 closed

[2020-04-20 14:50] moorerst commented on #2160
@dianamartin just following up on the need for resource account for ServiceNow notifications on incidents assigned to ATD_IT . Do we want to set this up, if so what should be the resource account name?

[2020-04-20 15:00] dianamartin commented on #2160
@moorerst I think we might want to have a meeting with Scott/Jaime to find out what works best for them bc we haven't made the Go-Live happen with the DTS Service Desk yet.

[2020-04-20 15:08] #1499 closed

[2020-04-20 15:25] #2140 closed

[2020-04-20 15:26] amenity commented on #1831
This would be great to have, but will probably be a few months before we get all the required information from the City Attorney; will be necessary regardless of outcome there.

[2020-04-20 15:34] amenity commented on #1831
Estimate doesn't reflect time to automate report.

[2020-04-20 15:35] alan-deanda opened #2398 "Update: Markings work orders 04/20/2020"
61 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-04-20 15:45] dianamartin commented on #2339
## NEW: After Submission

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/c0fea7fb-9567-47ea-89e6-a805b88448b5)

[2020-04-20 15:46] amenity commented on #1918
Have been changes to the permit form itself; matter of getting it into production.

[2020-04-20 15:49] amenity commented on #1525
This would be a quick change for CTM.

[2020-04-20 15:51] amenity commented on #1877
Would want to check with DSD to create a generic account to receive this information; Maria might be in a different role.

[2020-04-20 15:52] dianamartin commented on #2338
## OLD LAYOUT
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/f71a852e-70ae-4e30-869d-c24083297ad6)

## NEW LAYOUT
[Uploading... image.png ]

[2020-04-20 15:53] amenity commented on #1877
ROW analyst has to manually send these emails.

[2020-04-20 15:58] #2384 closed

[2020-04-20 16:00] #2286 closed

[2020-04-20 16:00] amenity commented on #1946
Similar to #1525

[2020-04-20 16:02] amenity commented on #1909
Might be a BI workflow for this.

[2020-04-20 16:02] amenity commented on #1909
LIT has developer working on the folder for DSD who can answer questions.

[2020-04-20 16:04] alan-deanda commented on #1737
Moving to blocked - we have discussed the potential issues of extending speed limits beyond the current midblock limits as specified in code in order to meet the current geometry of the street segments layer. While it would mean that the data is more readily available, it is not recommended to assume the limits are to be interpreted as going from intersection to intersection, since according to ci

[2020-04-20 16:04] alan-deanda commented on #1666
Moving to blocked until it is safe to organize in person gatherings.

[2020-04-20 16:07] amenity commented on #1755
Point of contact: Isiaha L.

[2020-04-20 16:09] amenity commented on #1599
Isaiah L. can be point of contact.

[2020-04-20 16:09] amenity commented on #1599
@TracyLinder - check and see what the urgency is on this please.

[2020-04-20 16:11] amenity commented on #1667
Covered by other meetings.

[2020-04-20 16:11] #1667 closed

[2020-04-20 16:11] #1717 closed

[2020-04-20 16:12] dianamartin commented on #1500
- John D.  sent back metadata file.
- [ ] Configure RPP ADFS

[2020-04-20 16:14] amenity commented on #1520
Currently have customers, e.g. Public Works and Water still creating tickets in Maximo and have to separately apply for AMANDA application.

[2020-04-20 16:18] amenity commented on #1939
@Nadin-Nader - can you check if there is a batch process to handle this?

[2020-04-20 16:23] moorerst commented on #2339
@dianamartin several suggestions:

- Dear, xxx
The or Your ......... for address .....

- on the first bullet can you replace "the date application is submitted" with the actual date like in the first sentence (04/20/2020)?

- remove the space between bullet 1 and 2

- bullet 3 language: Once you make payment your permits will be issued. Permits will be active on the day of payment.

[2020-04-20 16:24] amenity commented on #1671
Need to know which users have the access so that this can be reproduced. We have a list of AMANDA users and there permissions to refer to.

[2020-04-20 16:25] alan-deanda commented on #1646
Moving to blocked. Moving to Pro might not be a suitable idea while:

a) the datasets are changing to include work history per asset;
b) there is interest from Public Works in drawing the markings in CAD from an export of GIS, relying on attributes from a domain;
b) the data is hosted on MAINT, which is riddled with bugs;
c) we settle on a proper workflow for assigning IDs and attributes that come

[2020-04-20 16:25] amenity commented on #1986
This is difficult because AMANDA doesn't have triggers for this.

[2020-04-20 16:26] alan-deanda commented on #1737
Actually, closing this issue, as we now have an Epic to track this in issue #1826

[2020-04-20 16:26] #1737 closed

[2020-04-20 16:31] moorerst commented on #2338
@dianamartin new layout looks good
Should there be a title over Permit Information in section one like Application Information?

[2020-04-20 16:35] amenity commented on #1809
@TracyLinder will you submit a ServiceNow ticket for this, please?

[2020-04-20 16:36] amenity commented on #1779
Duplicate of #1520

[2020-04-20 16:36] #1779 closed

[2020-04-20 16:41] amenity commented on #1766
Nathan C. can be a point of contact for this.

[2020-04-20 16:47] amenity commented on #1813
Waiting on feedback from City attorney.

[2020-04-20 16:49] amenity commented on #1614
@TracyLinder @johnclary - will y'all assess this?

[2020-04-20 16:55] amenity commented on #1518
Sree and Raj will send list of questions to @SurbhiBakshi and she will forward to Paloma and Ryan.

[2020-04-20 17:32] #2347 closed

[2020-04-20 18:08] moorerst opened #2399 "[RPP Back Office] RPP Online Application Process Follow up"
This meeting will be a follow up to clarify/review the following processes:

- [x] Ineligibility Process
What happens when a customer has submitted a application but back end review determines the address is not eligible

- [x] Phone number?
needs to be an email not a phone payment. Old RPP email has so much going on in it, suggesting making a new email.
Vanessa’s phone → new admin/cashier phone.

[2020-04-20 18:50] #2398 closed