[2019-07-15 19:20] sergiogcx opened #356 "Labels for GitHub Repos"
We need to be able to update all labels across repos from a single source.

[2019-07-15 19:31] TracyLinder opened #357 "Project: Right of Way Permitting Team Attendance Tracking"
The right-of-way permitting team needs to be able to track times and hours worked so that they can  improve the accuracy of overtime reporting and anticipating wait times for our customers.

## Description
This application will be used to track times and hours worked for the Right-of-Way permit team. This will improve the accuracy of overtime reporting and anticipating wait times for our customers

[2019-07-15 21:53] #289 closed

[2019-07-15 22:32] mateoclarke opened #358 "Decide on Geocoding QA workflow"
1. Human QA Interface in Knack
2. Geocoding processing for missing geocodes
3. Automated QA of TxDOT lat/lon vs addresses

[2019-07-15 23:12] amenity commented on #205
Thanks, @jaime-mckeown for assembling! They look great.

[2019-07-15 23:12] #205 closed

[2019-07-16 01:43] johnclary commented on #215
And the adapter we bought didn't work. Submitted a PR for a new adapter.
https://atd.knack.com/finance-purchasing#reviews/purchase-request-details/5d2d2b05dee15600106e7eed/

[2019-07-16 19:08] mateoclarke commented on #342
https://docs.google.com/presentation/d/1eVCf7SK6WQ-wvjS4CEAE8Tr-KT37G92FgDn9j3YUMWU/edit#slide=id.p

[2019-07-16 19:08] #342 closed

[2019-07-16 19:21] mateoclarke commented on #80
Diana from 1/30/19:

[2019-07-16 19:27] mateoclarke commented on #80
@tcwcodes, I talked to @dianamartin today and we're good to work on this. I've updated the description some and we can talk through our approach on Monday though I'll be remote in Colorado.

[2019-07-16 20:20] mateoclarke commented on #291
Tyler completed this last Thursday so I'm going to close. @tcwcodes do you have slides you could attach to this issue?

[2019-07-16 20:20] #291 closed

[2019-07-16 20:22] mateoclarke commented on #256
I think we've effectively finished this epic. The other issues we can put into the backlog and group as needed.

[2019-07-16 20:47] #256 closed

[2019-07-16 20:53] mateoclarke commented on #328
Haven't heard anything on this. @johnclary should I poke them? I'd prefer to let them drive this but I don't want something to go wrong with ITE next week and their app not getting published in time.

[2019-07-16 20:57] mateoclarke opened #359 "Waze Feed Processor evaluation"
Evaluate the effort and benefit of upgrading our Waze data feed

from @johnclary:

[2019-07-16 21:20] dianamartin commented on #344
We met and reviewed 14 candidates. John to finished reviewing.

[2019-07-16 21:20] #344 closed

[2019-07-16 23:25] johnclary commented on #328
Thanks for flagging. I let Clay know we're dropping this:

[2019-07-17 12:39] johnclary commented on #317
From Waze:

[2019-07-17 12:40] #317 closed

[2019-07-17 15:55] mateoclarke commented on #317
bummer

[2019-07-17 16:06] johnclary opened #360 "Setup Greenhouse Demo for HR"
HR is interested in moving to a paperless interview process. We are suggesting they go with Greenhouse, which is used by ODD. We have a meeting scheduled for August 7th to discuss this project, so I'll target August 7th or later that week for a demo.

[2019-07-17 17:47] sergiogcx commented on #340
I've created a repo for GRIDSMART and uploaded the files Seth created. I will have him set up his environment correctly so that he can run knack in a secure way (not showing api keys).

[2019-07-17 17:47] sergiogcx commented on #340
This is the repo: https://github.com/cityofaustin/atd-gridsmart

[2019-07-17 21:41] johnclary commented on #78
Holy moly, the purchase order has been issued. We need central purchasing to make their payment by the end of the month, and they seem confident they can do that.

[2019-07-17 22:10] dianamartin commented on #272
I deleted these because they were causing URL duplicates.

[2019-07-17 22:10] #272 closed

[2019-07-18 15:04] mateoclarke opened #361 "Move Images and Time Log Buttons from top bar to within the collapsible accordion"

[2019-07-18 17:18] mateoclarke commented on #328
closing this...

[2019-07-18 17:18] #328 closed

[2019-07-18 17:19] mateoclarke commented on #352
rescheduling...

Here's the slides:
https://docs.google.com/presentation/d/1tFZvCeJbKQVoMDdzD2k0-M9amQwR407e4qQYPO6Io5A/edit#slide=id.p

[2019-07-18 17:38] mateoclarke opened #362 "Consider adding vehicles and support techs from time logs also to work orders details section"

[2019-07-18 17:38] mateoclarke opened #363 "android"

[2019-07-18 17:39] mateoclarke opened #364 "What time log fields are required? Can we remove 1 or 2?"

[2019-07-18 17:39] mateoclarke opened #365 "Sticky Footer for forms"

[2019-07-18 17:40] mateoclarke opened #366 "Making the action buttons BIGGER!!!"

[2019-07-18 17:43] mateoclarke opened #367 "Add Time Log button to edit page"

[2019-07-18 17:43] mateoclarke opened #368 "Implement a Home button for easier navigation"

[2019-07-18 17:43] mateoclarke opened #369 "Increase back arrow size for tablet tap"

[2019-07-18 17:44] mateoclarke opened #370 "Updates/Enhancements discovered through Usability Testing"
https://docs.google.com/presentation/d/1tFZvCeJbKQVoMDdzD2k0-M9amQwR407e4qQYPO6Io5A/edit#slide=id.g5dc993fcd7_0_72

[2019-07-18 21:24] TracyLinder opened #371 "BI Project Discovery Stakeholder Survey (Team Task)"
**Task:** Collaborate on the questions to be included in the stakeholder discovery survey.

**Due:** 8/11/19

**Google** Doc: [Here](https://docs.google.com/document/d/1UU2ZMFpuji7sOUdlWE55-ISdydeUom6X1EKPX_l0eOE/edit)

[2019-07-18 21:30] TracyLinder opened #372 "BI Discovery Slack Message"
**Ask the slack community who is doing BI right.**

[2019-07-18 21:33] TracyLinder opened #373 "Create BI Tool Evaluation Matrix Due 7/22/19"
**Task:** Create the matrix template & send the link to the team.

**Due:** 7/22

[2019-07-18 21:37] TracyLinder opened #374 "Complete BI Vendor Evaluation Matrix Document"
**Task:** Add features that the vendor will be evaluated by.
_Example: Public dashboard publishing feature. The public should not pay to access dashboards._

**Due**: 8/11/19

**Doc Link**: [Here](https://docs.google.com/spreadsheets/d/1Ax1ymTcc1QWQn4lls9mJGZTvUNMoIrV6dWJV8p3YblI/edit)

**More Info:** There's an example _(a very rough example)_ vendor review on the matrix doc, so you can see how o

[2019-07-18 21:38] TracyLinder opened #375 "Touch Base W/ Peggy Regarding BI Project"
**Task:** Touch base w/ Peggy about procurement rules & the BI Project budget.

[2019-07-18 21:40] TracyLinder opened #376 "Power BI Licensing Discovery"
Task: Find out how we can get access to Power BI. Jamila Siller is a good 1st contact for this. G5 enterprise license. Find out how to get a few for evaluation, and learn what licensing would look like if we choose Power Bi as the solution.

Due: 8/11/19

[2019-07-18 21:41] TracyLinder opened #377 "Create Data Inventory List For BI Survey"
**Task:** Pull out a list of our complete inventory in our current state. (To be shared with the folks who take the survey.)

[2019-07-18 21:47] TracyLinder commented on #355
Notes are [here](https://docs.google.com/document/d/1wxQR4tgiMEksvgC9pMZ-60cp402b103SrRjVYATInUY/edit).

[2019-07-18 21:47] #355 closed

[2019-07-18 22:12] johnclary opened #378 "Understand PowerBI's Public Sharing Limitations"
Jamila's on leave, so I reached out to Jacquie H:

[2019-07-19 12:33] johnclary commented on #78
Just approved payment of the invoice. Waiting for confirmation from Knack of payment recent. Moving to review/qa.

[2019-07-19 12:35] johnclary opened #379 "Finalize Phone Interview Questions"
Working doc is [here](https://docs.google.com/document/d/1NtcnGztno9isDAtTXd4UFEvBFK8I1JwGaXJDLX9RXUM/edit).

We need this by noon on Monday (7/22).

[2019-07-19 12:37] johnclary opened #380 "Conduct Phone Interviews"
Scheduled for 7/24.

[2019-07-19 12:38] johnclary opened #381 "Conduct In-Person Interviews"

[2019-07-19 12:39] #189 closed

[2019-07-19 15:52] dianamartin commented on #296
## Testing on ISSUED work order
Logged in as viewer
Opened an `Issued` WO from `My Work Orders | Created`

Visible on **Work Order Details**
Viewer Buttons menu
- [x] Add Attachment

- [x] Add Comment

- [x] Edit Work Order
- [x] Cancel Work Order
- [x] Hold

- [x] Comments (non editable)
- [x] Attachments (non editable)
- [x] Locations (non editable)
- [x] Location map with the locations from the

[2019-07-19 21:33] dianamartin commented on #294
## Testing FINAL REVIEW as Technician
- [x] Edit - banner shows up **You cannot edit a work order that has been submitted for Final Review.**
- [x] Submit for Review - banner shows up **This work order has already been submitted for Final Review.**

**Tables**
- [x] Flex Notes (non editable)
- [x] Comments & Attachments (non editable)
- [x] Locations (non editable)
- [x] Location map (non editable

[2019-07-19 21:58] amenity opened #382 "Submit Purchase Request"

[2019-07-19 21:59] amenity opened #383 "Nice photos for presentation deck"

[2019-07-19 22:00] dianamartin commented on #294
## Adding a New Work Order
- [x] New Work Order opens ups
- [x] Instructions & Comments **(required)**
- [x] Location fields appear
- [x] Location Type **(required)**
- [x] Primary Street **(required)** (depending of Location Type selection)
Submitted and created Maintenance work order

[2019-07-19 22:00] #294 closed

[2019-07-19 22:04] amenity opened #384 "Compile presentation"

[2019-07-19 22:04] amenity opened #385 "Week of 9/23-27: Dry-run lunch and learn"
After feedback from team meeting, #555, do presentation to Signs and Markings group. Maybe ODD or CTM folks too. Sara Smith, Christina, Lauren, Kati...

[2019-07-19 22:15] amenity opened #386 "Book hotel"

[2019-07-19 22:15] amenity opened #387 "Book plane tickets"

[2019-07-19 22:20] amenity opened #388 "KnackCon 2019"
Yay! @dianamartin and @amenity are attending [KnackCon 2019](https://www.knack.com/knackcon/chicago2019). 🤓🤓✈️

[2019-07-19 22:24] amenity commented on #388
@johnclary - when you get a chance will you add/amend issues you know off the top of your head and move to backlog?
Size, assign, and pull on deck any that need to happen next week please. 🙏

[2019-07-19 22:28] #296 closed

[2019-07-19 22:41] dianamartin commented on #295
##Testing NEED TO BE ISSUED work order
- [x] Supervisor button menu visible
- [x] Edit - opens up edit form
- [x] Cancel - banner shows up "WARNING: This work order will be cancelled. This cannot be undone.", and Cancel Work Order button
- [x] Hold - hold form shows up, asking for Hold Reason
- [x] Issue - Issue form shows up, asking for "Assigned To"
- [x] Close Work Order - banner shows up **"Th

[2019-07-19 23:08] amenity opened #389 "Project: Residential Parking Permits v1.0"
We replaced a paper-based process with a web-based interface through which residents can easily apply for and renew their residential parking permits.

![RPP Blueprint Print](https://user-images.githubusercontent.com/1463708/61570018-bd810b80-aa4f-11e9-941a-082f6fa4e6a2.png)

This project encapsulates our work to modernize the City of Austin's [Residential Permit Parking](http://www.austintexas.go

[2019-07-19 23:46] amenity commented on #183
@alan-deanda - can you please link to your project indices above? Thanks!

[2019-07-21 00:23] johnclary opened #390 "Create Prototype App"

[2019-07-21 00:25] johnclary commented on #390
I'm developing from these notes:
* Lewis does schedule online in Knack
* Randy references Knack schedule + shift number when creating schedules in Revolution 911
* Randy gives officers their shift number and link to Knack form in reminder email
* On shift, officer follows link using iPhone, enters shift number, which auto-completes and links back to a scheduled shift.
* This creates a “shift” reco

[2019-07-21 00:25] johnclary commented on #390
Current app URL: https://builder.knack.com/atd/vision-zero-in-action-development--copy-of-data-tracker

[2019-07-21 02:46] #295 closed

[2019-07-21 04:00] #297 closed

[2019-07-21 22:41] johnclary commented on #382
I submitted a PR, but Van informed me a PR is not necessary for travel outside of Austin.

[2019-07-21 22:41] #382 closed

[2019-07-21 22:42] johnclary opened #391 "Submit Travel Paperwork to Crystal T"

[2019-07-22 14:43] mateoclarke commented on #379
@johnclary I gave this a look through and I like the questions. They look similar to the ones we asked last time around for this position for the in person round. How many question do we want for this phone interview vs in-person. Should we save some?

Also, noting that Github Issues are public facing and the Google Doc link was set to be "public to anyone with the link." We should all have access

[2019-07-22 15:36] #303 closed

[2019-07-22 15:36] #282 closed

[2019-07-22 15:36] #290 closed

[2019-07-22 15:36] #277 closed

[2019-07-22 15:36] #283 closed

[2019-07-22 15:36] #268 closed

[2019-07-22 15:37] #279 closed

[2019-07-22 15:37] #281 closed

[2019-07-22 15:37] #280 closed

[2019-07-22 15:40] sergiogcx opened #392 "ETL: Migration Signs and Markings: Fix Image Issues"
The images weren't showing after a 5 hour long migration. The file would show up but not the file name. Reached out to knack and opened a support ticket.

[2019-07-22 15:42] sergiogcx commented on #392
The issue has been fixed, as it turns out the file insertions were not made correctly (via raw data), where it should have been an id record.

The migration was re-ran, it took about 3 hours and all the file names are showing as expected.

Ready for review :)  (you can see changes in knack)

[2019-07-22 15:49] alan-deanda opened #393 "Project: B-Cycle Locating Planning"
## Description
Perform GIS Analysis to help determine the location of new B-Cycle to provide first and last mile connections between destinations and transit stations.

### Resources
[cityofaustin/atd-geospatial/issues/76](https://github.com/cityofaustin/atd-geospatial/issues/76)

[2019-07-22 16:13] alan-deanda opened #394 "Project: Comprehensive Transportation Network (CTN)"
## Description
The Comprehensive Transportation Network compiles all data about all mode of transportation into a single GIS line feature class.

### Resources
cityofaustin/atd-geospatial/issues/12](https://github.com/cityofaustin/atd-geospatial/issues/12)

Don't forget to add a new "Project:" label here: https://github.com/cityofaustin/atd-data-tech/labels.

[2019-07-22 16:15] alan-deanda commented on #183
@amenity my project indices are in! Sorry for the long delay on this.

[2019-07-22 16:29] amenity commented on #183
Wonderful, thanks, @alan-deanda! @johnclary @dianamartin @TracyLinder - let me know if you need any help getting yours up. As Mateo pointed out, the [descriptions John has in the newsletters](https://github.com/cityofaustin/atd-data-tech/tree/master/newsletters) are super helpful.

[2019-07-22 17:10] dianamartin commented on #273
I need Christina or Kati to review the Signs and Markings list

[2019-07-22 17:37] #298 closed

[2019-07-22 17:39] TracyLinder commented on #379
@mateoclarke John originally said 3-4 questions since they are 20 minute interviews.

Also, nice catch on the public facing doc!

[2019-07-22 17:40] dianamartin commented on #379
Ditto on the catch. I've sent the 4 questions to Jennifer.

[2019-07-22 17:43] #379 closed

[2019-07-22 17:46] TracyLinder commented on #379
My favorite questions are...

1. Tell us about a project where you had to design a relational database or dataset. What technologies, frameworks, or services did you use?

2. If you were asked to develop a form-based application; what steps would you take to understand the request and make sure the application will meet the requestor’s needs?

3. Imagine you have researched various technical solut

[2019-07-22 18:53] johnclary opened #395 "Attend Open Mobility Foundation Board Meeting"

[2019-07-22 19:34] mateoclarke opened #396 "Prep presentation for "Mobility Industry Research Workshop""
https://www.eventbrite.com/e/mobility-industry-research-registration-64331356820?aff=ayc

[2019-07-23 00:43] TracyLinder commented on #374
The doc is ready and linked in the description above.

[2019-07-23 00:45] #373 closed

[2019-07-23 14:38] sergiogcx commented on #392
Looking good, closing!

[2019-07-23 14:38] #392 closed

[2019-07-23 15:08] mateoclarke commented on #341
This one has already been implemented, right @tcwcodes?

[2019-07-23 16:57] amenity commented on #372
@timwis shared this [excellent report](https://docs.google.com/document/d/1IPzkUVEH071iTLVA5_vKd5Nf3pibDOHlZcs8BbAXh8I/edit?usp=sharing) he put together consulting at the UK environment department. The "engagements" section captures the patterns he observed from data releases in Philadelphia.

[2019-07-23 16:59] amenity commented on #372
Closing this fellow, but I'll add anything else that comes our way via Civic Union.

[2019-07-23 16:59] #372 closed

[2019-07-23 17:32] amenity commented on #373
[Doc here](Microsostrategy GoodData Sisense Looker Power BI Wagon Birst Tableau Qlik Domo Hue Mode Chartio Periscope Pentaho).

[2019-07-23 21:49] sergiogcx commented on #351
This has been already done on my end, the files have ported successfully from the data tracker app to the test signals app.

The exercise took almost 3 hours to execute, no errors reported.

[2019-07-23 21:52] sergiogcx commented on #232
This has been done for most necessary repositories. Closing the issue for now, if more repos are needed on slack, those can be added.

[2019-07-24 13:02] johnclary commented on #271
Putting this in backlog. We're still making updates to the JS; so let's hold off on this until we can test in a copy of the prod app after release.

[2019-07-24 18:32] johnclary opened #397 "Hide Empty Flex Notes"
SRs come over with 10+ flex notes. On the WO details and SR details, we should hide any that are empty.

[2019-07-24 19:59] mateoclarke opened #398 "Change all of the New Work Order icons to plus signs"
we made this update in the footer and we think it should be repeated throughout the app. Right now we're using the wrench to symbolize new work orders

[2019-07-25 05:27] dianamartin commented on #350
Finalizing the request cancellation display filter on Signs and Markings work orders. I think I fixed the issue. Started copy of Signs and Markings Operations app. Will email Kati and Christina new URL in the morning.

[2019-07-25 14:13] mateoclarke opened #399 "Quick review of Get There ATX Website fo a11y"
links to website and google doc are in the email

[2019-07-25 17:17] johnclary commented on #347
I restored the missing accounts as listed above.

[2019-07-25 17:27] johnclary commented on #345
## Status

### In Progress

#### Exports
- [ ] work_orders_signs_markings (Split to two)

### Done

### Todo

[2019-07-25 23:05] johnclary commented on #349
Before we delete any modules from data tracker, let's make a record-less copy of the data tracker as preserve it.

[2019-07-26 15:16] dianamartin commented on #348
Need to record inventory for Signs and Markings Work Orders | Data Tracker PROD

Data Tracker | PROD
`work_orders_signs_markings`  - Record count: 2696
## Signs - 1271
NEED TO BE ISSUED
ISSUED
ON HOLD
FINAL REVIEW
CLOSED
CANCELLED

## Signs - 1271

[2019-07-26 15:20] sergiogcx commented on #346
This one is done, while the script did upload the files, it appears some of the data in a few columns went missing. Those columns are being reinserted and indexed.

I can quickly fix the code and re-upload if needed, let me know if all goes well.

[2019-07-26 15:32] dianamartin commented on #348
## Markings Jobs - Record count: 2349

[2019-07-27 13:18] johnclary commented on #348
@dianamartin we're ready for QA, but with some known issues I'm still working on:

#### `work_orders_markings`

- not all street segments mapped to markings WOs. Holding on this because it's not critical.
- not all created and modified by are mapped to user accounts
- one work order is missing. it was a cancelled test issue in the data tracker.

#### `work_orders_signs`

- some created and modifie

[2019-07-28 15:28] johnclary commented on #183
@TracyLinder @dianamartin would ya'll get these done early this week? Need to send the newsletter. I'll do mine too ;)

[2019-07-28 15:33] johnclary commented on #378
I reached out to Jacquie H and David G. David is on vacay until next week.

[2019-07-28 15:33] #395 closed

[2019-07-28 18:13] dianamartin commented on #347
Plus Alan de Anda, Ed Beaudet and Ella Ryan. I think I'll need to add Jaime too.

[2019-07-28 18:20] dianamartin commented on #348
## Reviewing these, 7/28:
`work_orders_markings`

    not all street segments mapped to markings WOs. Holding on this because it's not critical.
- [ ] Checking this
    not all created and modified by are mapped to user accounts
- [ ] Checking this
    one work order is missing. it was a cancelled test issue in the data tracker.

`work_orders_signs`

    some created and modified by fields are not

[2019-07-28 23:53] johnclary opened #400 "Address Various Minor Issues from Kati's Testing"
As a viewer, clicked EDIT for a WO in NEED TO BE ISSUED, “To Cross Street” appeared even though it was an intersection type location. This is a required field so I could not update WO.

·         Adding asset on Locations details. Chose any action and the action field disappeared. Have to refresh page to get action field back.

·         Asset Table only showing Name, Additional Message, Direction

[2019-07-29 00:32] #300 closed

[2019-07-29 00:37] johnclary commented on #345
Everything is complete, except for outstanding issues with account imports. I'm opening a separate issue for this.

[2019-07-29 00:37] #345 closed

[2019-07-29 01:02] johnclary commented on #347
Done!

[2019-07-29 01:02] #347 closed

[2019-07-29 01:11] sergiogcx commented on #351
Closing issue, attachment upload was tested, fixed and re-run.

[2019-07-29 01:11] #351 closed

[2019-07-29 01:12] sergiogcx commented on #346
The script was fixed and re-run and the files were uploaded successfully.

[2019-07-29 01:12] #346 closed

[2019-07-29 01:12] sergiogcx commented on #232
Task complete, closing. Will create new issues for any other repo that needs updating.

[2019-07-29 01:12] #232 closed

[2019-07-29 02:31] dianamartin commented on #183
😕 I feel like I need to get with someone on this..I'm lost. I guess I've been in project land that I missed what this is.

[2019-07-29 05:01] amenity commented on #183
@dianamartin I got ya. Let’s sync tomorrow.

[2019-07-29 15:02] #380 closed

[2019-07-29 15:14] johnclary opened #401 "Write a Job Description"

[2019-07-29 15:14] johnclary opened #402 "Check-In w/ Peggy About Our Options"

[2019-07-29 15:14] johnclary opened #403 "Hire a Temp Product Manager"
Potential Project assignments:
- BI Discovery
- Vision Zero Editor + Viewer
- Paperless Hiring
- Micromobility Data Management
- Signs & Markings Operations App / Backlog

[2019-07-29 15:17] johnclary commented on #402
Peggy mentioned she was in touch with a potential PM who could join the team. Need clarification on funding as well as our options for hiring temp vs contract.

[2019-07-29 15:31] johnclary opened #404 "Launch OMF Privacy and Security Committee"
Todo:
- recruit participants
- schedule regular meetings
- define goals/deliverables

Possible deliverables:
- privacy principles which define practices for handling, retaining, and distributing MDS data
- data processing toolkit
- list of cities which are using MDS and what approach they're taking

[2019-07-29 15:40] amenity opened #405 "Clean up old service requests"
- [x] Christina to send out SRs and WOs that need to be deleted from the system

CSR Number
--
- [x] 19-00281549
- [ ] 19-00281787

- [x] 19-00282097
- [x] 19-00282344
- [x] 19-00281526
- [ ] 19-00281549

- [x] Delete those SRs and WOs on her list

[2019-07-29 15:46] #350 closed

[2019-07-29 15:52] amenity opened #406 "Post-migration clean up"

[2019-07-29 15:55] mateoclarke commented on #396
This event got cancelled by Office of Economic Development.

[2019-07-29 15:55] #396 closed

[2019-07-29 15:57] #348 closed

[2019-07-29 15:59] #273 closed

[2019-07-29 16:21] johnclary opened #407 "Migrate Street Segment Connections"

[2019-07-29 16:21] #269 closed

[2019-07-29 16:43] amenity opened #408 "Stakeholder meeting to review user research and demo Knack app"
### Objective

### Participants

### Agenda

------
- [ ] Schedule meeting
- [ ] Meet
- [ ] Attach meeting notes to this issue
- [ ] Create resulting issues

[2019-07-29 16:58] amenity commented on #315
There is an issue somewhere for meeting to evaluate this need.

[2019-07-29 17:18] amenity commented on #250
Buy one, get one free. See #388

[2019-07-29 17:18] #250 closed

[2019-07-29 18:36] dianamartin opened #409 "Project Index: Street Banner Request Intake & Management"
## Description
This project migrated the street banner management system from SharePoint to a Knack-based application. The project added needed functionality around banner reservations scheduling, invoicing, and tracking of installation work.

### Resources
- Link to folder `G:\ATD\ATD_GIS\02_ENT_APPLICATIONS\app_Street_Banners_Program_Portal`

### Summary of Project Objectives
**Primary Objective

[2019-07-29 18:36] #409 closed

[2019-07-29 18:36] dianamartin commented on #409
This project was delivered in April, 2019.

[2019-07-29 18:42] dianamartin opened #410 "Project: Traffic Counts"
## Description
This project created a new module in the Data Tracker to help streamline the traffic count and data collection request process for our Data Collection team. This helped the tracking of the data requests and made the process transparent and easier to use for users

### Resources
- Link to folder `G:\ATD\ATD_GIS\02_ENT_APPLICATIONS\AMD_DATA_TRACKER\Traffic_Counts`

[2019-07-29 18:54] amenity opened #411 "Meet to discuss CMS vs Knack for VZA data editing"

[2019-07-29 20:00] johnclary commented on #215
Adapter will arrive tomorrow :)

[2019-07-29 20:44] johnclary commented on #378
Per David G:
- we have unlimited G5 licenses
- it *is* currently possible for any G5 license holder to publish a powerbi license publicly
- you will need a G5 license to view any dashboards which are not published publicly

David also offered to help us get started with PowerBI. I told him we'd be in touch.

[2019-07-29 20:44] #378 closed

[2019-07-29 20:51] mateoclarke commented on #399
@amenity AG gave us until Wed. Do you think you'll have time before then to add input. She also invited us to their meeting with the web design consultant. I'm not planning to go, but up to you if you have bandwidth. Only think its important if we find some showstopper issue.

[2019-07-29 22:07] dianamartin commented on #405
Deleted 23 records this morning. SRs from 7/23 to 7/29.

[2019-07-29 22:23] dianamartin commented on #405
## Delete Flex Notes
- [ ] Filter `csr_flex_notes` object table for no `SR Number`
- [ ] Delete those orphaned flex notes

[2019-07-29 22:52] amenity opened #413 "Project: ROW Activity Dashboard"

[2019-07-29 23:00] johnclary opened #414 "Create Job Posting"

[2019-07-29 23:00] johnclary opened #415 "Hire an IT Geospatial Analyst"
We're hiring a permanent, full-time geospatial analyst in August!

[2019-07-30 03:38] amenity commented on #401
@johnclary @mateoclarke - will probably start with [ODD's PM job description](https://github.com/cityofaustin/odd/blob/master/_jobs/positions/__agile-project-manager.md). Anything in particular you'd like me to add/revise?

[2019-07-30 14:05] #405 closed

[2019-07-30 14:31] johnclary opened #416 "DTS Portal COACD Login is Failing"
We were getting a gnarly SAML error with the COACD login on the DTS portal. I don't have a copy of the error message, because this is resolved. To resolve, I completed our transition to Azure ADFS. This was already in progress; just had to update the login endpoint and deploy our new certs (which are in 1Password and documented [here](https://github.com/cityofaustin/atd-data-tech/wiki/Knack%3A-SSO

[2019-07-30 14:31] #416 closed

[2019-07-30 15:31] dianamartin commented on #349
- [x] Made the copy of the PROD app **30 JULY 2019 | Austin Transportation Data Tracker | Production (Record less)**

[2019-07-30 15:34] dianamartin commented on #349
- [ ] Delete `work_order_signs_DELETE`
- [ ] Delete `work_order_signs_locations_DELETE`
- [ ] Delete `work_order_signs_asset_spec_DELETE`
- [ ] Delete `work_order_signs_asset_spec_actual_DELETE`

[2019-07-30 18:45] amenity commented on #399
Email to Ashley:

[2019-07-30 20:24] #399 closed

[2019-07-30 20:29] amenity opened #417 "Smart Commutes Rewards support"
Smart Commute Rewards CoA platform (SmartCommuteAustin.com powered by RideAmigos) is being merged with the regional platform (myCommuteSolutions powered by RideAmigos).  RideAmigos is trying to preserve the customizations that they have created for us, including SSO.  DaTS support may be need to support the migration by testing the SSO and providing other technical support.  Diana supported the or

[2019-07-30 20:35] amenity commented on #417
Emailed Cari to check on the status of the migration.

[2019-07-30 20:42] amenity commented on #207
ROW agenda: https://github.com/cityofaustin/atd-amanda/93
Smart Commutes: https://github.com/cityofaustin/atd-data-tech/issues/417

[2019-07-30 20:42] #207 closed

[2019-07-30 20:52] amenity commented on #247
[Complete](https://docs.google.com/document/d/1hYIp2gMbeukzTsu7GF--mLwwKyQIE5FLtrKQZI0A5gY/edit#heading=h.b5b3w7oomxfq).

[2019-07-30 21:41] amenity commented on #343
See also Pavement Markings Work Orders not updating on AGOL since 3/15/19

[2019-07-30 21:43] dianamartin commented on #405
## More SR records to delete

- [ ] 19-00281905
- [ ] 19-00281910
- [ ] 19-00280626
- [ ] 19-00280254
- [ ] 19-00280406
- [ ] 19-00280202
- [ ] 19-00280626
- [ ] 19-00281275
- [ ] 19-00281472
- [ ] 19-00281598
- [ ] 19-00281660
- [ ] 19-00281905

[2019-07-30 22:10] sergiogcx commented on #339
Seth has been keeping busy, but this task has been done and I have tested it to work with a few minor changes:

https://github.com/cityofaustin/atd-gridsmart/commits/seth_changes/automate_gridsmart.py

[2019-07-30 22:26] johnclary commented on #407
I was able to import these successfully via spreadsheet. Yay.

[2019-07-30 22:26] #407 closed

[2019-07-31 01:25] #117 closed

[2019-07-31 04:40] johnclary opened #418 "Submit Nomination to Civic Futures"
Due August 9th.

https://docs.google.com/forms/d/e/1FAIpQLSfME3BZ5TGoanpApU7WVwjSqaYWLGHV2nKGV4Tr7P4t-ZOl_g/viewform

[2019-07-31 04:43] johnclary commented on #388
@amenity @dianamartin if you haven't already, would you close the loop with Knack folks and let them know what you're thinking for presentation? Happy to provide feedback on an outline.

[2019-07-31 16:03] amenity commented on #352
My notes
_@mateoclarke @johnclary @dianamartin  - go ahead and edit these directly...I'm sure I missed & miss-wrote a lot of stuff._

Time logs on details page:

- Sometimes there are more than one time log for a given work order
- Day call need and emergency calls the received/go-home fields in the time logs, don't get rid of them - those that need will use
- Billy is cool with it being in both p

[2019-07-31 17:50] amenity commented on #352
Side thought: Love that we are making UIs look consistent across apps, e.g. adding status colors here to the mobile signals app like we have in signs app. It would be great to get a little pattern library going where we could document them so devs and app-builders could reference them as they build out.

Might also consider user testing some things like icons. I personally don't get the "My Workor

[2019-07-31 17:53] dianamartin commented on #352
@amenity Yes, there is consistency on the Signs and Markings app for the status colors and symbols. I haven't added it to the Knack Style Guide, yet..

[2019-07-31 18:41] sergiogcx opened #419 "Make Sample Data for Lewis, Josh"
We need to create a data sample that includes
- [ ] 100 rows for
     - [ ] Crashes
     - [ ] Person
     - [ ] Charges
     - [ ] Units
- [ ] Export to Excel

@johnclary @mateoclarke does this sound accurate?

[2019-07-31 19:01] TracyLinder commented on #381
Interviews were completed on 7/30/19.

[2019-07-31 19:01] #381 closed

[2019-07-31 19:38] TracyLinder opened #420 "Project: ROWMAN Phase 2"
## Description
Phase 2 of the ROWMAN Replacement Project will provide 2 major updates to the web portal Right of Way Management permit applicants use to submit, manage, and pay for permits.

- Creating a new AMANDA folder for managing sidewalk cafe and street patio permits, and adding this permit type to the web portal for applicants.
- Adding an interactive web map to the ROW portal applications,

[2019-07-31 20:59] TracyLinder opened #421 "Project: ROWMAN Phase 3"
## Description
Phase 3 of the ROWMAN Replacement Project will automate fees and payments of Right of Way permits, and give applicants the ability to update certain permits that have already been created in the AMANDA system.

### Resources
- [Trello Board](https://trello.com/b/AOOTUsOE/rowman-phase-3)
- [Draft UC/LM Self-Assignment Workflow](https://drive.google.com/file/d/1Bjz8H30oKYnCsGAj3f2Ciwk

[2019-07-31 21:03] TracyLinder opened #422 "Project: ROWMAN Phase 4"
Phase 4 of the ROWMAN Replacement Project aims to provide staff and the public with real time permitted road closure data.

## Background
Construction related road closure permits often give the contractor an approved timeframe for closing the road. For example, ATD may give a contractor 7 calendar days to perform 2 days of work. As such, it is impossible to know when a contractor is actually in t

[2019-07-31 21:09] TracyLinder opened #423 "Project: Inspector Prioritization Automation"
## Description
The goal of this project is to allow Right of Way Management traffic control inspectors to better prioritize their inspection workload based on priorities identified by the division and department.

[2019-08-01 06:51] mateoclarke opened #424 "8/28 VZ Crash Data Sprint Review"
- [ ] schedule wed 8/28 at 3:30
- [ ] prep slides

[2019-08-01 14:15] johnclary commented on #78
Received confirmation today that payment has been received.

[2019-08-01 14:15] #78 closed

[2019-08-01 14:17] johnclary commented on #215
Received and installed.

[2019-08-01 15:00] sergiogcx opened #425 "Vision Zero: Research PostgREST vs Flask/Sanic"
It would be useful to determine if PostgREST can be used instead of Sanic or Flask for our interests.

Main Objectives:
- [ ] Data Security (Make sure we have all access control)
- [ ] User management and authentication
- [ ] Basic CRUD Operations

[2019-08-01 15:16] sergiogcx commented on #358
As a quick comment, I remember Lewis saying he didn't like the idea of having too many columns containing different lat/longs.

We could have the only two columns for lat/long, and a couple more specifying 1) the origin of the coordinates (Human review, CRIS, CR3, Here, Google, ESRI, etc), 2) The status (Confirmed, Accurate, Not reviewed, pending review, etc), 3) Last update timestamp

[2019-08-01 15:20] mateoclarke commented on #358
I remember different. I remember his asking if it was a problem, and I think @johnclary's response was no, not really. I could be totally misremembering though.

[2019-08-01 15:29] johnclary opened #426 "Clean Up Knack Test Instances"
Scheduled for 9/3 @ 1 pm

[2019-08-01 15:33] johnclary opened #427 "Project: Digitize Vacancy Tracking and Reporting"
Digitizing vacancy tracking will provide Human Resources with a streamlined and efficient process for pulling required reports and will provide more transparency into the process for management.

## Background

Reporting on vacancies is a requirement for all departments in the City and in the process of merging legacy Public Works and legacy Austin Transportation, HR realized each department had d

[2019-08-01 16:57] sergiogcx commented on #358
I remember John's comment, not opposed to either, but maybe have two more columns (one set) of lat/long with geocoding, that could help us determine the difference between what is provided by CRIS and what our GeoCoding determines is the best point for an address.

[2019-08-01 17:00] johnclary commented on #402
Will discuss with Peggy on 8/6

[2019-08-01 17:02] johnclary commented on #403
Potential Projects:
- RPP procurement
- Vision Zero data management/visualization
- Development Review management
- paperless HR initiatives

[2019-08-01 17:07] johnclary opened #428 "Project: Paperless Hiring Process"
## Description
Optimize Austin Transportation's HR hiring processes by digitizing paperwork and reducing the need for manual data entry.

### Resources
 - [Project request](https://docs.google.com/document/d/1ghuo7geHEpCPbCD6AlO-kptP2gXOP1ynWldj4fWf3uA/edit#)
 - [Drive](https://drive.google.com/drive/folders/1XBVT2-yv87knZIdv6Hf-uzH6ce_TcUip)

---
This Github issue represents a project of Austin T

[2019-08-01 17:08] johnclary commented on #428
From Adan;

The HR person going to the interview extracts from the following >sources:

Interview Guide – from HRD/CitySpace (>http://cityspace.ci.austin.tx.us/departments/hrm/hrforms)
Minimum/Preferred Qualifications – Mins come from HRD/CitySpace & >Preferred comes from hiring manager

Job Description – COA website (http://austintexas.gov/hr/jobdesc/>job_title_pay.cfm)

As of today, we are not l

[2019-08-01 17:09] johnclary opened #429 "Meeting "Discuss/Demo Digital Interview Roll Out" with HR"
Scheduled: Wed, 8/7/2019

Meet with HR to clarify need

Attendees: John, Diana, Adan and Nathan B.

[2019-08-01 17:10] johnclary commented on #429
Schedule for 8/7

[2019-08-01 17:18] johnclary commented on #358
Hmm. What about:
-  the original lat/lon from chris (two columns)
- our geocoded results (two columns)
- the QA/confirmed lat/lon (two colums)
- the QA status (confirmed, pending, ...?)

Wondering if we want to track which source was ultimately used as the confirmed lat lon (CRIS, our gecooder, or manual adjustment)?

[2019-08-01 17:31] johnclary opened #430 "Project: Development Review Workflow Management"
## Description
This is the original request submitted by Nathan Aubert, for Transportation's Development Services Division project review platform.

#### Request

#### Success measures

#### Describe any workarounds currently in place and/or alternative solutions you have considered.

#### How have other divisions/departments/cities addressed similar challenges? *

#### Users

#### Stakeholders

#

[2019-08-01 17:35] johnclary commented on #184
Just noting here that I've added a few new labels to `atd-data-tech`:
- Project: Micromobility Privacy
- Project: Paperless Hiring
- Workgroup: DR - Development Review

[2019-08-01 17:35] sergiogcx commented on #358
@johnclary Awesome, I can live with that. The extra columns will give us enough room to work with.

[2019-08-01 17:45] johnclary commented on #419
Closed. See also [#67](Done. See also [#67](https://github.com/cityofaustin/atd-vz-data/issues/67)

[2019-08-01 17:45] #419 closed

[2019-08-01 19:34] mateoclarke commented on #352
Created an Epic for that idea here: https://github.com/cityofaustin/atd-mobile-signals-work-orders/issues/143

I think this would be really helpful once we start developing the Mobile Sign Work Orders app.

[2019-08-01 19:34] #352 closed

[2019-08-01 21:43] amenity commented on #311
@dianamartin @johnclary is happening? Backlog? On Deck for Sprint 4?

[2019-08-01 21:43] amenity commented on #288
@johnclary is this happening? Backlog? On Deck for Sprint 4?

[2019-08-01 21:55] johnclary commented on #311
No, updating this to "Change Signals Airwatch Admin Password" which is what actually needs to be done, based on convo with Diana today.

[2019-08-01 21:57] johnclary commented on #288
No. Rolling this into Micrmobiltiy Privacy. Tagged as such and moving to backlog. Thanks.

[2019-08-01 22:43] amenity commented on #65
@TracyLinder - I moved this over from the portal in April and it has some issues in it. Close/use as an index/reorganize... whatever works for you. 🏃‍♀️

[2019-08-01 23:00] amenity commented on #411
@sergiogcx - will you add a link to your slides here?

From what I understand, we'll be moving forward with a double-headless CMS for VZEditor aka CRIS+ aka where VZ data goes after it's ETL'ed out of CRIS.

Specifics TBD. @mddilley @mateoclarke @johnclary - if you have notes stick 'em here. 🧷

[2019-08-02 16:49] mateoclarke opened #431 "Micromobility Data Aggregation Kickoff Meeting"
### Objective

### Participants

### Agenda

------
- [x] Reach out to Gitthubbers
- [x] Schedule meeting
- [x] Meet
- [x] Attach meeting notes to this issue
- [x] Create resulting issues

[2019-08-02 19:45] TracyLinder commented on #83
@amenity - Look at my last comment on this... it's the term I couldn't think of during our meeting today about 'waiting to see if anything breaks before closing the issue' :laughing:

Also, I think it would be best to track tasks in the description of this issue, instead of on the meeting notes doc. So I moved them over a few minutes ago (scroll up). Let me know if that works for you.

I also upda

[2019-08-02 19:51] TracyLinder commented on #193
**A note from today's meeting regarding this task:**

Decided we should condense the customer forms as much as possible. We are proposing forms for the following:

- Maps / GIS
- IT Support & Hardware
- Everything Else - (Data, Reports, New Features, Projects)

[2019-08-02 22:22] TracyLinder commented on #65
@amenity Thanks for looking out. I've updated this to project index standards.

[2019-08-02 22:27] TracyLinder opened #432 "Project: ATD AMANDA Backlog"
## Description
The purpose of this project is to contract with an AMANDA developer to deliver all items on ATD's AMANDA backlog.

Multiple delivery teams are working on this backlog:
- [Launch IT](https://github.com/cityofaustin/atd-data-tech/issues/1470)
- [Unisys](https://github.com/cityofaustin/atd-amanda/issues/11)
- [ACE Team](https://github.com/cityofaustin/atd-data-tech/issues/1471)

### Re

[2019-08-02 22:36] TracyLinder commented on #430
@johnclary I'm really interested in this project and how it might (or should) intersect with AMANDA.

[2019-08-05 14:38] sergiogcx opened #433 "Discuss Access to High-Res SQL Database"
As per an email message with Brian Craig, we need to grant access to the High-Res SQL database.

[2019-08-05 15:12] johnclary commented on #131
@dianamartin reminder to send me whatever materials you have handy about the level of effort of the cross walk digitization. How many staff, how many hours, and how many features were digitized.

[2019-08-05 15:17] johnclary opened #434 "Schedule Signs Migration Retrospective"
The signs migration was a huge lift for many members on the team. Let's take some time to reflect on what we learned what we can do better as a team going forward.

[2019-08-05 15:22] johnclary commented on #430
@TracyLinder glad to hear it. I've included you on a Weds meeting to collect the details. Lmk if you can't make it; I'd like to reschedule if you can't be there.

[2019-08-05 16:15] sergiogcx commented on #338
From the conversation I had with Seth:

We first tried with ping (which uses ICMP), and failed.

[code]

Then we tried with NetCat:
[code]

This told me the port was open and available for connections, after that we could simply make http requests.

curl will not succeed everythere, but we discovered that it could be done like:

[code]

That would give us A response, any response. Meaning there is

[2019-08-05 16:42] johnclary commented on #215
adapter is not working. need to test :(

[2019-08-05 16:42] dianamartin commented on #131
@johnclary Just composed an email of the GIS Data Collection Project for Crosswalks

[2019-08-05 16:44] johnclary opened #435 "Follow-up Law about Searching the Public Records Center"
As I mentioned on [Open Data Bloomfire](https://opendata.bloomfire.com/questions/3592618), the new public records center has been online for at least a few months now, and has functionality to  allow the public to search and download completed records requests. That functionality seems to be turned off. I can’t get any results to return on the “Public Records Archives”.

I would like to understand

[2019-08-05 16:44] johnclary commented on #435
I left a message with Amanda B. this morning.

[2019-08-05 16:53] johnclary opened #436 "Strengthen Test User Account Passwords"
We have a number of "test" user accounts across our knack apps. The passwords for these accounts meet our complexity requirements, but are still vulnerable to guessing. We should review and update these across all apps.

[2019-08-05 16:53] johnclary commented on #436
@dianamartin sticking this on your plate, but we could table it for our new app analyst.

[2019-08-05 17:18] dianamartin commented on #436
@johnclary I agree to backlog it

[2019-08-05 21:36] johnclary commented on #187
Offer extended and accepted. Yayyyyyyyy

[2019-08-05 21:36] #187 closed

[2019-08-05 21:37] johnclary opened #437 "Submit Employee Transfer"

[2019-08-05 21:37] johnclary opened #438 "Onboard App Analyst"
Our new app analyst starts on 8/19!

[2019-08-05 22:15] johnclary opened #439 "Evaluate COORD"
Parking Enterprise and Smart Mobility have taken an interest in [COORD](https://www.coord.co/). We had a demo period, which ended, but we (DTS) did not participate. My last email to COORD:

[2019-08-06 04:44] johnclary commented on #183
Well I'm the last one to do this, so I get to close it! ;)

[2019-08-06 04:44] #183 closed

[2019-08-06 05:09] johnclary commented on #83
Hey, so, let's get meta. This feels like a "project", and thus needs an index issue. This seems like the right issue to become an Index.

As I started looking at our new "Projects Overview" workspace, it occurs to me that I'd prefer to err on the side having more index issues rather than fewer. E.g., if an epic will span multiple sprints, it's probably big enough be a Project with a capital P. Goi

[2019-08-06 05:10] johnclary commented on #83
also, what are your opinions about tagging people in issue comments? if the people who i want to read my comment are assigned to the issue, should I tag them in a comment? is there a downside to tagging people? @amenity @TracyLinder

[2019-08-06 17:38] johnclary commented on #439
Stephen replied that we will be given another two weeks to demo the app. He'll follow up after that. @jaime-mckeown @alan-deanda would you let me know if you have received your credentials to login to the COORD app?

[2019-08-06 21:00] #402 closed

[2019-08-06 21:00] johnclary commented on #402
Good to go!

[2019-08-06 21:49] amenity commented on #20
**Status update:**
After an extensive [comparison of potential solutions](https://docs.google.com/spreadsheets/d/1r2l_KFgjygCCp1E4oaBa5lyK2QzkVcP5qCu2u85UwcY/edit#gid=2118741241), we determined that building a Knack application in house is the best path forward. In the coming weeks we will resume work on an initial release that we can use to begin usability testing.

[2019-08-06 22:51] amenity commented on #389
**Status update:**
We have refined user stories, calculated [costs of the current RPP process](https://cityofaustin.sharepoint.com/:x:/s/ResidentialParkingPermitApplication/ESD-2AENhERJph8M7HHXNQMB_XF2LWZ6yrSdCwy56uOuIQ?e=PXUm48), and [compiled requirements](https://cityofaustin.sharepoint.com/:x:/s/ResidentialParkingPermitApplication/EUOIzkWg8EFMgyR2jEvs3DsBDZYQxwNIFJog3nqH1_kXFQ?e=sRDyuz) in an

[2019-08-06 23:24] amenity commented on #307
We began research by learning about Active Transportation's [Interim Project Database](https://docs.google.com/document/d/1wja5Hfnchu93j4w7ATYNKO_-5lWixEMyEkulGqIe2l8/edit),  and engaged an outside consultant for technical discovery.

During a project kickoff with MPD stakeholders, we learned about the [current state](https://drive.google.com/open?id=1Qrvx3rpVe6cVOYEeC1DCtx49LbG7LC8Q) of mobility

[2019-08-06 23:32] amenity commented on #238
@johnclary - the link above isn't working for me. 😕

[2019-08-06 23:54] amenity commented on #145
We have [interviewed primary users](https://github.com/cityofaustin/atd-data-tech/issues/208#issuecomment-506549653) and started [implementation in Knack](https://github.com/cityofaustin/atd-data-tech/issues/238). Once the initial prototype is ready, we will do a stakeholder demo, perform usability testing, and iterate on the app.

[2019-08-07 03:11] johnclary commented on #238
@amenity fixed ^^^

[2019-08-07 04:00] johnclary commented on #349
@dianamartin i think we agree that we need a fresh copy of a Data Tracker test environment **with records**. Would you do that, and then I'm comfortable deleting the signs and markings modules from Data Tracker?

[2019-08-07 04:01] johnclary commented on #215
Scott is ordering a new. PR submitted. https://atd.knack.com/finance-purchasing#purchase-requests/purchase-request-details/5d497401860a9e00113f9588/

[2019-08-07 04:05] johnclary commented on #312
I addressed this when completing the ESB integration. There were a handful of flex note attribute code fields set as multiple choice, I switched everything to short text.

[2019-08-07 04:05] #312 closed

[2019-08-07 04:18] johnclary opened #441 "Meet w/ Bruce H to Discuss ATD/CTM Relationship"
Scott and I are meeting with bruce on Aug 7.

[Slides](https://docs.google.com/presentation/d/11kalhkc8Ek1EPjQNV3TU8_NHpHI480ETUXwK89JmP_4/edit?usp=sharing)

[2019-08-07 04:34] johnclary opened #442 ""Add Asset" Form Displays on Closed Work Order"
I'm looking at the location details on [this](https://atd.knack.com/signs-markings#work-order-signs/view-work-orders-details-sign/5d3f0113674b9e001208986e/view-work-order-signs-location-details/5d433682a954d60011cc2376/) closed work order. The add asset form is exposed when logged in as test-technician.

It looks like we don't have any page rules in place to hide this form based on status:
https:/

[2019-08-07 04:40] johnclary opened #443 "Order a Laptop"

[2019-08-07 04:48] johnclary commented on #443
Submitted request to Scott.

[2019-08-07 04:48] johnclary commented on #443
@amenity would you take it from here? You're copied on the request to Scott.

[2019-08-07 04:51] johnclary opened #444 "Reach out to ACC About Potential Partnership"
We're going to discuss a potential data collection partnership with Austin Community College. They may have student resources available to work on this through their paid internship program.

[2019-08-07 11:48] johnclary commented on #414
Sent to Adan.
https://docs.google.com/document/d/1FELWSOMEEehdB-qAYIzehguBEABL9ViJqRJX_WRbDpM/edit

[2019-08-07 11:48] #414 closed

[2019-08-07 12:46] jaime-mckeown commented on #253
The initial run through of the data has been completed and documented. The status is currently on hold until I can connect with Diana so we can spend some time going through the data together.

[2019-08-07 14:01] dianamartin commented on #349
@johnclary Just started the copy for the new TEST app for PROD. `  7 AUG 2019 - TEST | Austin Transportation Data Tracker | Production`

[2019-08-07 14:24] jaime-mckeown commented on #254
Test editing revealed that the relationship classes needed to be modified, have not moved forward with new schema yet. Additionally, due to enhanced editing capabilities in regards to related data, the new process will move directly into ArcGIS Pro.

[2019-08-07 14:33] dianamartin commented on #442
@johnclary Yeah, something weird happened. I noticed it on Alan's computer too yesterday. I'll check it out.

[2019-08-07 15:29] sergiogcx opened #445 "Implement GeoCode columns"
As John suggested:

- [x] the original lat/lon from chris (two columns)
- [x] our geocoded results (two columns)
- [x] the QA/confirmed lat/lon (two colums)
- [x] the QA status (confirmed, pending, ...?)

Let's run with it!

[2019-08-07 15:39] sergiogcx commented on #358
Implementing on issue #445, closing this one.

[2019-08-07 15:39] #358 closed

[2019-08-07 15:40] #339 closed

[2019-08-07 15:42] sergiogcx commented on #337
See #338, closing.

[2019-08-07 15:42] #337 closed

[2019-08-07 15:42] #338 closed

[2019-08-07 16:15] dianamartin commented on #442
- [x] Fixed Page Rules for GIS QA
- [ ] Checking Page Rules for Test Technician

[2019-08-07 17:20] amenity commented on #403
@johnclary - do you have the text you used for my job description kicking around somewhere?

[2019-08-07 17:58] sergiogcx commented on #445
What has been done:

Added specified columns, also added extra columns for Q/A flow control

[code]

Two additional indexes for quick sorting/filtering:

[code]

A trigger, so that the last_updated column always is accurate on any changes made to that specific record.

[code]

[2019-08-07 17:58] #445 closed

[2019-08-07 18:07] amenity commented on #83
I say tag people, don't see a downside. I don't know a lot about the GH notification settings, but I suspect that tagging people has a higher likelihood of them getting an email.
If people complain they get too many emails or aren't seeing things, we could look at something like [this](https://zapier.com/apps/github/integrations/slack/11499/get-direct-messages-on-slack-for-new-github-mentions).

[2019-08-07 18:47] amenity commented on #245
Emailed Scott to see what he needs.

[2019-08-07 19:05] amenity commented on #193
@TracyLinder -
Rethinking this, I think New Project makes sense to have on it's own.

@johnclary, what do you think about handling Bug Reports, Data and Reports, Features and Enhancements into one general request form? Will our customers know which to choose if we have them all separately?

[This is what I was imagining in terms of links and help text](https://docs.google.com/presentation/d/1xlkXr

[2019-08-07 19:11] sergiogcx opened #446 "Vision Zero Editor Server (API): Implement functionality (EPIC)"
We need to implement a series of functions in the API, these

		WRITE:
		- /user/update
		- /user/new
		READ:
		- /user/info

		WRITE:
		- /crash/new
		- /crash/update/<crash_id>

		READ:
		- /crash/<crash_id>
		- /crash/related/<crash_id> #Gets all related records (persons, charges, units)
		- /crash/history # gets history of records, revisions, etc. Will require database table.
		- /crash/person

[2019-08-07 20:00] amenity commented on #245
Scott-approved.

[2019-08-07 20:00] #245 closed

[2019-08-07 20:43] amenity opened #447 "Determine formats for customer communications"
How might we...
 - Give customers regular updates on the status of their requests?
 - Collaborate with customers to maintain accurate prioritization of backlog items
 - Increase organizational visibility into what we're working on and for whom

The easiest option is just leveraging the power of Zenhub filters to give someone a URL they can visit or that we can pull up in meetings with them. Howeve

[2019-08-07 20:49] amenity commented on #447
![screencapture-app-zenhub-workspaces-data-technology-services-5caf7dc6ecad11531cc418ef-board-2019-08-07-12_58_14](https://user-images.githubusercontent.com/1463708/62656944-eac42980-b92a-11e9-96ce-3cd4464f968b.png)
Screencapture of AMD's stuff 😬

[2019-08-07 20:53] amenity commented on #447
@johnclary and I discussed the idea of building a simple dashboard on transportation.austintexas.io that would allow people to see issues & pipelines in a less noisy view. [Here's an example](https://portal.productboard.com/zenhub/1-zenhub-s-roadmap/tabs/2-under-consideration), from ZenHub, ironically, that I like.

[2019-08-07 21:05] johnclary commented on #447
@amenity i like that too

[2019-08-07 21:11] johnclary commented on #193
@amenity are you suggesting a single form with conditionally-displayed inputs, or a simple general form for all requests, and we sort out the specifics after intake?

[2019-08-07 21:17] johnclary commented on #403
Yes, just copied to our drive: https://docs.google.com/document/d/1e1IXmdi7Ov79cofaYmqJUr9q-XRdRzxkpLpNyDU07sU/edit

[2019-08-08 00:19] amenity commented on #193
I was suggesting a single, very general form. But I really defer to y'all as far as knowing what your customers can tell you at the outset that is useful.

I am also fine with there being only one "submit a request" link and it breaking off into IT Support, Maps & GIS, New Projects, etc.

[2019-08-08 07:11] johnclary commented on #193
Well, I'm ready to build some forms and ask some users what they think!

[2019-08-08 14:13] dianamartin commented on #29
@johnclary Are we going to cancel this PR?

[2019-08-08 14:15] dianamartin commented on #349
@johnclary the application is done copying. I called it `7 AUG 2019 - TEST | Austin Transportation Data Tracker | Production (With Records)`

[2019-08-08 14:29] dianamartin commented on #349
Signs and Markings Pages in Data Tracker PROD

## Deleting Pages

- [ ] Work Order Markings Login
- [ ] New Work Order (Signs & Markings) Login
- [ ] Jobs (Signs & Markings) Login
- [ ] Specifications (Signs & Markings) Login
- [ ] Requester (Signs & Markings) Login
- [ ] Reference: Calculators

## Deleting Data (object tables)
- [ ] `work_orders_signs_markings`
- [ ] `work_orders_signs_markings_a

[2019-08-08 14:49] dianamartin commented on #429
## Diana's Notes
Background
Replacement of Interview binder resources
Streamline and make things as easy as possible for HR staff

**Minimal Concerns**
- Records retention
- Panel members are writing (required that is had to be written)

## Phase 1
### Interview packet
- **Daily Interview Schedule**
     - Pull from eCareer, raw data, formatted
     - Generates on Excel Spreadsheet
     - New tab:

[2019-08-08 15:33] jaime-mckeown commented on #439
@johnclary The login I created last time works again.

[2019-08-08 16:12] dianamartin commented on #349
Deleted all Signs and Markings object tables and pages in the Data Tracker Prod environment

[2019-08-08 16:12] #349 closed

[2019-08-08 16:36] dianamartin commented on #430
## Diana's Notes
_Meeting to discuss needs for reviewing Site Plan/TIA cases with ATD Vision Team Members. Specifically, which products may be available for IT team to recommend/help create._

Team: multidisciplinary team
Attendees:

- Joe Calabrese -
- Nathan Aubert -  North Area for TIA reviews
- Sangeeta Jain

Build a process
Development cases go to project manager
- Review period (ex. 30 days)

[2019-08-08 16:41] dianamartin commented on #430
Created blank app `Transportation Development Services Tracker`

[2019-08-08 17:45] amenity commented on #193
<img src="https://media.giphy.com/media/3o7WIva13237Dnwi7S/giphy.gif" alt="Neil De Grasse Tyson saying, `Duuudddde let's do this.'"></img>

[2019-08-08 18:19] johnclary opened #448 "Project: Mobile Signs Work Orders"
Develop a mobile-first web application to be used by street sign technicians to complete work orders in the field. This project builds on the React framework we've used for [Mobile Signal Work Orders]( https://github.com/cityofaustin/atd-data-tech/issues/251)

[2019-08-08 18:29] johnclary commented on #448
@amenity @TracyLinder this does not need to be run through intake yet, I just want to keep it on our radar. I've set Mobile Signal Work Orders as a blocker.

[2019-08-08 18:36] johnclary commented on #430
@dianamartin would you add this to the Data Inventory? https://atd.knack.com/dts#applications/new-application/

(Just did this for Signs & Markings).

[2019-08-08 19:15] johnclary commented on #438
@dianamartin i talked to surbhi about hardware and she's going to with a macbook. we have a new one that mateo can dig up for you.

[2019-08-08 19:19] dianamartin commented on #438
@johnclary Yeah, Mateo asked me where it was and we I found the macbook in our DTS storage room.

[2019-08-08 20:05] #161 closed

[2019-08-08 20:12] amenity commented on #212
Email update from @teripennington on 6/27

[2019-08-08 20:13] #212 closed

[2019-08-08 20:29] amenity commented on #357
@dianamartin @johnclary - do you need any more info to estimate LOE here?

[2019-08-08 21:29] johnclary commented on #90
- assign all to amenity and tracy
- amanda issues go to atd-amanda repo
- GIS issues go to atd-geospatial
- everything else go

[2019-08-09 02:36] johnclary commented on #438
@dianamartin do we need to get a chair?

[2019-08-09 02:47] johnclary commented on #131
Next step: reach out to ACC about a potential partnership (see related issue).

[2019-08-09 02:51] johnclary commented on #435
Had a good conversation with Amanda today. The search functionality is not enabled for non-logged in users. Basically this was done because COA does not want to involve itself in controversial data releases. We also talked about the enormous level of effort staff (in law and in other departments) related to reviewing potentially sensitive emails and sending to the AG for review. A common situation

[2019-08-09 04:25] atdservicebot opened #449 "This is just a test."
Request Date: 2019-08-08 22:26:00

Request ID: DTS19-100005

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d4ce7f379107400116104df

[2019-08-09 04:33] atdservicebot opened #450 "This is just a test."
Request Date: 2019-08-08 22:26:00

Request ID: DTS19-100005

Internet Browser: Edge

Is there anything else we should know?: No, this is just a test.

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d4ce7f379107400116104df

[2019-08-09 12:44] johnclary commented on #132
From Ken on Aug 8:

[2019-08-09 12:46] johnclary commented on #360
We cancelled this because the ask here is a bit different than what an out-of-the-box solution will do.

[2019-08-09 12:46] #360 closed

[2019-08-09 12:47] #435 closed

[2019-08-09 12:48] johnclary commented on #441
This was rescheduled for 8/15

[2019-08-09 13:32] atdservicebot opened #451 "Testing a feature request"
Name

Email

Describe any workarounds you currently have in place or alternative solutions you've considered.

Describe the outcome you'd like to see when this feature is implemented.

Is there anything else we should know?

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d4d707ae2be2a00146435e9

Request ID: DTS19-100035

Request Date: 2019-08-09 08:09:00

[2019-08-09 13:37] johnclary opened #452 "Review Issues Created by Service Bot"
Take a look at these test issues and provide feedback.

At the moment, i'm planning on dropping "request ID" and "DTS URL". But they're handy for testing.

Note that the problem description is mapped to the issue title, and severity, need, issue type, and workgroup are mapped to labels.

Knack intake form:
https://atd.knack.com/dts#new-service-request/

[2019-08-09 13:39] dianamartin commented on #438
@johnclary we have a guest chair, which is the same type that Tracy uses. I also grabbed the Allandale conference chair that was in Koenig (temporarily).

[2019-08-09 13:41] dianamartin commented on #131
@johnclary I can start that email again with Sean Moran from ACC

[2019-08-09 14:01] johnclary commented on #86
Form is here (in progress): https://atd.knack.com/dts#new-service-request/

[2019-08-09 14:14] dianamartin commented on #357
@amenity @john Yes, I think there still needs to be a scoping meeting, unless Tracy's already done one. Like what exact functions they're looking for (Start Time, End Time) Day duration or Breaks and lunch included so they have to sign out in the middle of the day. What kind of reports or reporting numbers they're looking for so we can design the database correctly to capture those things.

[2019-08-09 14:21] dianamartin commented on #438
@johnclary Scott has possession of the chair, it will be en route to Cameron today. He has an SUV today and doing us a solid.

[2019-08-09 14:26] atdservicebot opened #453 "Test Major Bug Report for Parking Meters."
Name

Email

Is there anything else we should know?

Website Address

Internet Browser: Internet Explorer

DTS URL

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/5d4d829fd44eea0010f11877/screenshot20190808at1.43.17pm.png)169.58kb

Request ID: DTS19-100040

Request Date: 2019-08-09 09:26:00

[2019-08-09 16:07] dianamartin commented on #391
@johnclary I'm still needing you to sign my Travel Request form. It's in the google folder you sent us.

[2019-08-09 16:10] dianamartin commented on #271
@johnclary We've made 2 copies of Data Tracker Production, one with records and one without. I think you're free to review the JS and CSS and update the code. [sign-markings code repo](https://github.com/cityofaustin/atd-knack-signs-markings/tree/master/knack)

[2019-08-09 16:10] dianamartin commented on #429
@johnclary Do we still need your notes added to this before closing?

[2019-08-09 16:18] dianamartin opened #454 "Meeting to talk to Data Collection team about spatial workflow and spatial enhancements"
Brandon B.
AMD - Data Collection

Had approached me about setting up a meeting to discuss streamlining their geospatial/attachment process for Traffic Counts. I said that mid August would be a good time for it because we were in the middle of the Sign Migration.

### Processes to merge
1. **New Traffic feature layer** (that Frank Hereford worked on added TIAs volume counts)

2. **Update traffic co

[2019-08-09 16:35] jaime-mckeown commented on #454
@dianamartin, I completed steps 1 & 2 a while back, but just logged into AGOL to double check and found that the Web Map looks like it was corrupted as it won't open anymore, just opens a blank map. Maybe that's why the Socrata script isn't working. I will get the map re-created.

[2019-08-09 16:37] dianamartin commented on #454
@jaime-mckeown I think it's might be a basemap issue. Go into AGO Assistant and update the basemap. Reference on he geospatial repo the issue of me updating the geocoder/basemap.

[2019-08-09 16:40] johnclary commented on #86
@TracyLinder @amenity would y'all add the form submit and confirmation email text for the various cases here?

[2019-08-09 16:45] atdservicebot opened #455 "No"
Name

Email

Describe any workarounds you currently have in place or alternative solutions you've considered.

Describe the outcome you'd like to see when this feature is implemented.

Is there anything else we should know?

DTS URL

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/5d4da2f076dc0300103a166d/bitmoji1.jpg) (29.67kb)

Request ID: DTS19-100050

[2019-08-09 16:47] jaime-mckeown commented on #454
@dianamartin that didn't fix it.

[2019-08-09 16:48] amenity commented on #244
@jaime-mckeown - @johnclary got your form set up [here](https://atd.knack.com/dts#new-service-request) (click "GIS or Maps"). Please check and let us know if you need changes.

[2019-08-09 19:21] atdservicebot opened #456 "Testing if we can create a closed issue."
Name

Email

Is there anything else we should know?

Internet Browser: Chrome

DTS URL

Request ID: DTS19-100060

Request Date: 2019-08-09 14:18:00

[2019-08-09 19:21] johnclary commented on #456
That did not work.

[2019-08-09 19:39] dianamartin opened #457 "Review our security risk by setting password by rule in Knack"

[2019-08-09 20:02] dianamartin commented on #311
Emailed Danny on 8/9, he was able to update the admin pin code. Will update 1password with new code.

[2019-08-09 20:02] #311 closed

[2019-08-09 20:23] johnclary commented on #86
Notes from today about emails and assignments:

## Issue Assignments

- Bug reports and everythign else: assign to both amenity and tracy if it's severe
- AMANDA issues go to Tracy
- GIS issues go to Jaime
- Everything else goes to Amenity

## Emails

### IT Support

- Always Email Scott; close github issue

- Email to Requester:
    - Copy Tracy and Amenity on email if it's severe
        - Subje

[2019-08-09 20:23] johnclary commented on #90
TODO:

- handle "other" division, request type
- document geospatial app selection importance
- document why email/name are short text
- test: all apps, all request types, all divisions
- and cli_args() for deployer
- return records_processed for job logging
- email confirmation messages
- set IT support issues to close in github, setup email to scott < no, to complex. not sending to github
- Add

[2019-08-09 20:23] amenity commented on #86
Thank you. We have received your request and will be in contact with you shortly.

If this is an urgent situation that needs to be addressed immediately, please call a DTS team member directly.
IT Support: Scott Reedy, [phone #]
AMANDA: Tracy Linder, [phone #]
GIS and Maps: Jaime McKeown, [phone #]
Other: Amenity Applewhite, 512-974-3571

@TracyLinder - thoughts?

[2019-08-09 21:15] amenity commented on #193
We'll be iterating on these for sure, but I'm going to call the first drafts done.

[2019-08-09 21:15] #193 closed

[2019-08-09 21:16] #248 closed

[2019-08-09 21:17] #247 closed

[2019-08-09 21:18] #243 closed

[2019-08-12 16:08] amenity commented on #444
@dianamartin will you schedule a meeting, please?

[2019-08-12 16:09] amenity opened #458 "Reach out to Public Works about DTS GIS street imagery"

[2019-08-12 16:10] amenity opened #459 "Meet with Sean from ACC"
Meet with Austin Community College's GIS Department Chair to discuss the options to establish a contract with ACC GIS Inc.

[2019-08-12 16:11] #444 closed

[2019-08-12 16:14] amenity commented on #459
@dianamartin - please include Peggy in this meeting. :)

[2019-08-12 16:17] amenity commented on #439
@dianamartin and @jaime-mckeown - can you add your thoughts about COORD here? Thanks!

[2019-08-12 16:20] amenity commented on #439
@john is going to follow up with Stephen Smyth.

[2019-08-12 16:21] TracyLinder opened #460 "Project: Development Review Workflow Management (Stabilization)"
## Description
This project will deliver a solution for ATD Development Review case management. The solution will allow the Transportation Engineering project manager and various reviewers (AKA the Vision Team) to collaborate on the development cases ATD is responsible for reviewing. The users will be able to view case information, set review deadlines, assign reviews to the Vision Team members, a

[2019-08-12 16:29] TracyLinder opened #461 "Meeting 8/7/19: Scoping the Development Review Workflow Project"
### Objective
Scope the objective of this project, as submitted on ticket #430

### Participants
Tracy Linder, Diana Martin, Joe Calabrese, Nathan Aubert, Sangeeta Jain

------
- [x] Schedule meeting
- [x] Meet
- [ ] Attach meeting notes to this issue
- [ ] Create resulting issues

[2019-08-12 16:30] TracyLinder commented on #461
## Diana's Notes
_Meeting to discuss needs for reviewing Site Plan/TIA cases with ATD Vision Team Members. Specifically, which products may be available for IT team to recommend/help create._

Team: multidisciplinary team
Attendees:

- Joe Calabrese -
- Nathan Aubert -  North Area for TIA reviews
- Sangeeta Jain

Build a process
Development cases go to project manager
- Review period (ex. 30 days)

[2019-08-12 16:31] #430 closed

[2019-08-12 16:37] TracyLinder opened #462 "Diana's Work To Date on Development Review Workflow"

[2019-08-12 16:45] johnclary opened #463 "Meet with AECOM to Review Progress"

[2019-08-12 17:33] amenity commented on #238
@johnclary is going to hand this off to @dianamartin.

[2019-08-12 17:37] amenity opened #464 "AMD monthly meeting"
### Objective
Monthly AMD meeting.

### Participants

### Agenda

------
- [ ] Prep for meeting
- [ ] Meet
- [ ] Attach meeting notes to this issue
- [ ] Create resulting issues

[2019-08-12 17:44] sergiogcx opened #465 "Visual Zero Editor: Prototype Hasura & Deploy to AWS"
Determine if Hasura is a framework that can be used to power the VZ Editor.

[2019-08-12 17:44] #465 closed

[2019-08-12 17:46] sergiogcx commented on #465
The Hasura framework can integrate with Cognito and Auth0, gives full access via GraphQL to the data.

The Hasura endpoint has been password-protected, look for the VZD - Hasura Admin entry in 1Password for the access key.

https://vzd.austintexas.io

[2019-08-12 17:46] sergiogcx commented on #465
You can test it with Postman or curl in the terminal:

[code]

[2019-08-12 17:46] mateoclarke commented on #431
Meeting scheduled for tomorrow at 11am CT.

[2019-08-12 17:47] sergiogcx commented on #465
![Screen_Shot_2019-08-10_at_4_04_12_PM-2.jpg](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/749a071b-dd96-4844-aec2-d056a055caff)

[2019-08-12 17:50] sergiogcx opened #466 "VZ Editor: Implement React Template with Cognito and Flask"
Implement a test react app that will log in to AWS Cognito and pull data from the Flask API

[2019-08-12 17:50] #466 closed

[2019-08-12 17:52] sergiogcx commented on #466
Crash loads the session info (with token) and queries the backend.

![Screen Shot 2019-08-06 at 9.49.19 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/30a5b9e5-2bec-437b-ac50-0385cd61a62c)

The users are managed in AWS Cognito, which can later be associated with CTM’s SAML/Outlook services.

![Screen Shot 2019-08-06 at 9.50.16 PM.png](https://images.zenhubusercontent.com/5b7

[2019-08-12 18:08] dianamartin commented on #459
@johnclary I don't see any time in your calendar this week. How about next Mon, 8/18 @ 1pm?

[2019-08-12 18:29] dianamartin commented on #458
Emailed Ed Poppit to see if he was the right contact about this or if he knew anything about it.

[2019-08-12 18:32] johnclary opened #467 "Train Pilot Techs and Create Desktop Shortcuts"
Scheduled on 8/28 at Bullick Hollow.

[2019-08-12 18:55] mateoclarke commented on #446
If Hasura doesn't work, we can pick this up.

[2019-08-12 19:07] dianamartin commented on #384
@amenity we should meet to get this together for the Executive meeting

[2019-08-12 20:01] TracyLinder opened #468 "Monthly Update to ATD Work Groups"
## Description:
Per John, work groups should receive a monthly update regarding their backlog and work in progress.

**Objectives:**

- Which work groups get updates?
- What info to include in the update?
- Can any of this be automated?

[2019-08-12 20:12] TracyLinder opened #469 "Determine Standard Project Discovery Meeting Questions For Devs"
## Description
Gather standard discovery meeting questions from John & Diana (questions they want asked at all intake meetings).

[2019-08-12 20:13] TracyLinder commented on #469
@johnclary @dianamartin Here is the place to jot down your ideas about standard questions you think would be useful during a project intake meeting.

[2019-08-12 20:14] amenity opened #470 "Create standard discovery meeting doc template"
### The purpose of the discovery meeting is to gather enough info for DTS to
1. Be confident is suggesting an idea solution
2. Provide a rough level of effort (estimate)

**Not In Scope**
* Gathering user stories or requirements
* Project Brief

[WIP here](https://drive.google.com/open?id=1AcjxHv6XCEutSAIzNebnxNR9EL8CORiHrVfNlQuChII)

[2019-08-12 20:49] TracyLinder opened #471 "Create DTS Project User Story Spreadsheet Template"
## User Story
As a DTS PM, I want to document user stories in one place prior to creating GH issues for them, so that I can record any stories that present themselves prior to officially working on user stories.

**Deliverable:** A spreadsheet template that can be used in all DTS project folders.

[2019-08-12 21:04] TracyLinder commented on #471
The template is [here](https://docs.google.com/spreadsheets/d/1Uu1IiwqQGpkgXDWfoQsMKEckT0ry9avlFJyLdLe_DZA/edit#gid=179231394). Nice work @amenity

[2019-08-12 21:04] #471 closed

[2019-08-12 21:15] #80 closed

[2019-08-12 21:15] #341 closed

[2019-08-12 21:49] TracyLinder commented on #461
My notes are [here](https://docs.google.com/document/d/1zwMlS9scKtvQlpUylc0K_ChbTCkCopjbEc1qFjgn9KU/edit#heading=h.k6ieor29rbx5).

[2019-08-12 21:49] #461 closed

[2019-08-12 21:51] TracyLinder commented on #460
**High Level Overview of The Workflow:**

1. This process starts & ends in AMANDA. (The AMANDA user is the PM.)
2. During the Site Plan formal review process, the case is assigned to the PM in AMANDA, which must be completed by the review deadline (also in AMANDA).
3. ATD is not involved in the completeness check process.
4. The PM determines who in the Vision Team is required to provide review co

[2019-08-12 22:57] johnclary commented on #437
I submitted this on 8/8, but I'm leaving it here as a reminder to make sure CTM is working on it.

[2019-08-12 23:06] johnclary commented on #414
Posted: https://www.austincityjobs.org/postings/77925

[2019-08-12 23:14] johnclary commented on #86
@TracyLinder @amenity i've updated the intake form for all request types:
https://atd.knack.com/dts#new-service-request/

I updated the templates to match, with the major change being that IT support, GIS, and "Something Else" are identical:
https://docs.google.com/document/d/1hYIp2gMbeukzTsu7GF--mLwwKyQIE5FLtrKQZI0A5gY/edit#

[2019-08-12 23:46] johnclary commented on #469
- how many users?
- will there be public viewing of info? editing?
- does the solution need to pull in data from an external system? E.g. GIS, eCapri, AMANDA, Data Tracker?
- does the solution to ingest push data to an external system? E.g. GIS, eCapri, AIMs, AMANDA, Data Tracker?
- does your workflow require an approval process? what more can you tell us about that?
- does your solution need to c

[2019-08-12 23:47] johnclary commented on #459
@dianamartin sure!

[2019-08-12 23:52] johnclary commented on #429
"If we wait for central HR, it will never happen” -Nate

Question: What data can be pulled from eCareers? Who is tech contact?

Nathan: Concerns:
- Records Retention, MCS requirements
- Question: interview notes have to be handwritten?

#### PACKET
- Interview schedule
    - Pulled from eCareer into Excel Sheet
    - Get people who are selected for interview, PCN REQ Number (Posting # in ECareer)

[2019-08-12 23:52] johnclary commented on #429
added. closing.

[2019-08-12 23:52] #429 closed

[2019-08-13 14:34] dianamartin commented on #469
- Do you require a importing legacy data?
- Do you need user roles to do different things in a system?
  - _(ex. user for viewing only, user for editing data, user to do both editing/viewing)_
- Do you have a need for users to be notified automatically from a system
  - _(ex. Status change, form submitted, approval request?)_
- Does your business need require strict records retention?
- Does the d

[2019-08-13 14:35] dianamartin commented on #459
- Sent email for proposed meeting time/date

[2019-08-13 15:21] sergiogcx opened #472 "VZE: Build login page with Auth0 + React"
We need to be able to use Auth0 logins and make sure that:

- [ ] We can retrieve the id token
- [ ] We can read a list of claims
- [ ] We can work with different react routers if necessary.

[2019-08-13 15:40] sergiogcx opened #473 "VZD: Protect with Authorization token"
We have to set up the JWT authenticator:
- [ ] Set up async encryption certificate in Hasura
- [ ] Set up configuration in container
- [ ] Test locally first
- [ ] Deploy changes to AWS after

[2019-08-13 15:44] johnclary commented on #469
@mateoclarke we're compiling a list of questions that a PM will ask requesters when we're doing intake on a new project. meant to give us enough info so that we can roughly estimate level of effort based on a conversation with apps/dev teams. anything you want to add?

[2019-08-13 15:49] johnclary commented on #65
@amenity @TracyLinder we're going to pause on this until we hire our new PM. Tracy's priority is now Development Review.

[2019-08-13 15:49] johnclary commented on #65
This did come up in the mgmt meeting yesterday, and remains a high priority to Rob + Peggy.

[2019-08-13 16:09] amenity commented on #86
At first glance, these look great. "If it is critical that you get it, when and why?" sounds weird to me. I'd vote for something more like, "If you need this by a certain time, when and why?"

[2019-08-13 18:08] johnclary commented on #428
Corporate HR via Nathan B:

[2019-08-13 18:10] sergiogcx commented on #431
My raw notes:

[code]

[2019-08-13 18:28] mateoclarke commented on #469
• How many database tables, overall complexity of Entity Relationship Diagram?
• How much of the scope of work can use off-the-self systems vs. open-source custom development?
• How many roles?

[2019-08-13 18:55] atdservicebot opened #474 "TEST: this is my problem description"
Name

Email

Describe the outcome you'd like to see when this feature is implemented.

Describe any workarounds you currently have in place or alternative solutions you've considered.

Is there anything else we should know?

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d53070e3455270011b67157

Request ID: DTS19-100070

Request Date: 2019-08-13 13:53:00

[2019-08-13 18:58] atdservicebot opened #475 "TEST: this is my problem description"
Name

Email

Describe the solution you have in mind.

How will we know that our solution is successful?

Users

Stakeholders

Sponsorship

Would this application affect any of the Strategic Direction 2023 “Mobility” indicators?

Would this application support any of the Austin Strategic Mobility Plan goals?

Describe the outcome you'd like to see when this feature is implemented.

Describe any wor

[2019-08-13 22:00] amenity commented on #401
[Done](https://docs.google.com/document/d/1KsuRBsV3YojlVYZlfRljwp0dj0Tlmjm5FsOpSJ08Gwk/edit#).

[2019-08-13 22:00] #401 closed

[2019-08-13 22:08] TracyLinder commented on #469
Re: Formatting the legacy data question:

1. What is your current solution?
2. What software is used for the current solution?
    * If none, then no legacy question
3. Will the new (project) solution need to include or import any existing data from the named software?
    * If not, no more related questions.
4. Tell us more about the data that needs to be included. What is it used for? What is it

[2019-08-13 22:11] TracyLinder commented on #469
@mateoclarke I'm assuming you're talking about user roles, but please correct me if I'm wrong.

[2019-08-13 22:17] TracyLinder commented on #469
Re: Roles

Let's talk about who will use the solution, and for what purposes.

1. Who needs the ability to view the solution/app?
2. Who needs the ability to edit the solution/app?
3. Will different levels of user (editing) permissions be needed? If so explain.
4. Who will perform user account management?

[2019-08-13 22:20] TracyLinder commented on #469
@amenity I'm thinking we may need a logic based form for this. (Not KNACK powered though.)

[2019-08-13 23:06] johnclary commented on #418
Didn't have time to get feedback (deadline was last week), but here's what I submitted:

[2019-08-14 00:19] amenity opened #476 "Post to Medium"

[2019-08-14 00:19] amenity opened #477 "Promote position"
Slack:
- [x] City of Austin
- [x] Civic Union
- [x] Municipal Design
- [x] Open Austin
- [x] Refresh Austin
- [x] These: https://www.producttankatx.com/slack/

Facebook:
- [x] Austin Digital Jobs

Other:
- [x] CfA job board
- [ ] All the LinkedIn product groups
- [ ] All the ATX product Meetup groups

Optionally, share to personal social media.

[2019-08-14 00:36] amenity commented on #115
*Status update:*
After pitching at Github's Open Source for Good volunteer event, we got a small but mighty team of Hubbers to help move this important work forward. 🙌

[2019-08-14 03:23] TracyLinder opened #478 "Meeting: Huddle w/ Devs on Development Review Project"
**Meeting Date:** 8/20/19 @ 3pm
**Location:** Skype
**Attendees:** Tracy, Diana, John, Amenity

**Agenda:**

1. Overview of the current state
2. Overview of requests / future state

[2019-08-14 04:45] amenity commented on #477
@mateoclarke @johnclary share if you'd like!

[2019-08-14 04:46] amenity commented on #476
[Ta da](https://medium.com/@coaatddts/job-product-manager-austin-transportation-data-technology-services-dcea1d3824e0). 🎉

[2019-08-14 04:46] #476 closed

[2019-08-14 04:49] amenity commented on #386
I think Crystal is actually going to do this.

[2019-08-14 04:49] #386 closed

[2019-08-14 04:49] amenity commented on #387
I think Crystal is actually going to do this.

[2019-08-14 04:49] #387 closed

[2019-08-14 12:18] #29 closed

[2019-08-14 14:55] dianamartin commented on #29
@johnclary FYI: You should have this in your review queue.

[2019-08-14 15:13] dianamartin commented on #459
Meeting scheduled for Mon, 8/19

[2019-08-14 15:34] johnclary commented on #438
@dianamartin would you make sure the remaining Accounts get set up for surbhi?

[2019-08-14 17:30] mateoclarke opened #479 "Create Micromobility Data Aggregation Reading List"
Google Doc here:
https://docs.google.com/document/d/1tSggqlxy_q_ITQznQihm61fXJQfbz-ynVFw3I89F7pE/edit?usp=sharing

[2019-08-14 17:33] mateoclarke opened #480 "Micromobility Data Aggregation Sprint Review #1"
### Objective

- Review/Discuss [Reading List](https://docs.google.com/document/d/1tSggqlxy_q_ITQznQihm61fXJQfbz-ynVFw3I89F7pE/edit?usp=sharing)
- Propose project timeline & scope of work
- Other next steps

### Participants

### Agenda

------
- [x] Schedule meeting
- [x] Meet
- [ ] Attach meeting notes to this issue
- [ ] Create resulting issues

[2019-08-14 17:33] mateoclarke commented on #480
when2meet has been sent to our Github social impact volunteers

[2019-08-14 17:39] #431 closed

[2019-08-14 18:20] jaime-mckeown commented on #244
@amenity the form looks good, I think that should cover what we need. Giving users space to describe what they need usually works best with GIS requests as they are all different.

[2019-08-14 18:25] dianamartin opened #481 "Create Knack sandbox environment - Chris M."
Chris McConnell
Smart Mobility

Emailed

[2019-08-14 18:29] dianamartin commented on #481
Slacked user

[2019-08-14 18:29] #481 closed

[2019-08-14 18:43] amenity commented on #244
Great, thanks! /cc @johnclary

[2019-08-14 18:43] #244 closed

[2019-08-14 18:44] mateoclarke opened #482 "Create a draft project plan/timeline for Micromobility Data Aggregation/Privacy"
To be prepared and offered for feedback at this meeting: https://github.com/cityofaustin/atd-data-tech/issues/480

[2019-08-14 19:59] johnclary commented on #86
I like that!

[2019-08-14 20:08] amenity commented on #86
![Screen Shot 2019-08-13 at 11 13 29 AM](https://user-images.githubusercontent.com/1463708/63052460-fffa0480-bea4-11e9-80f7-f5cd3e24e2fe.png)
We should also have consistency in this dropdown:
- `and` instead of `&` for ATSD
- Remove `(Hr) and `(ROW)`
- `PIO` --> `Public Information Office`

[2019-08-14 20:15] amenity commented on #86
- [ ] Capitalize `An` in ` Flexible — an extended timeline is OK`
- [ ] Replace dash with emdash in `IT Support - Help with licenses, accounts, hardware, etc.`

I also don't know if we need "Feel free to upload something here."

[2019-08-14 20:30] dianamartin commented on #458
Veena called me said she'd ask Justin Norvell if he still has the imagery that he requested from DTS GIS. If not, she'll request it for us.

[2019-08-14 20:30] #458 closed

[2019-08-14 20:53] TracyLinder opened #483 "AMANDA Changes For ATD Dev Services Project"
## Description
Determine the following:

- Will ATD take responsibility for both transportation related reviews on the SP folder?
- If yes, should the reviews be consolidated?
- What info tab changes will be required?

Follow-up Tasks:

- [ ] Ask for implementation date for any changes needed
- [ ] Submit CTM ticket(s) for those changes

[2019-08-14 20:54] TracyLinder commented on #483
**Email sent today to Sangeeta, Nathan, and Joe:**

Hi ATD Dev Team,

I was just in a meeting with Andy Halm when the topic of the changes you’ll be making to ATD Development Services came up. Andy had some really great questions, some that he’ll be reaching out to Sangeeta to discuss. I also have some questions for you.

On the Site Plan folder, there are two types of transportation reviews (see

[2019-08-14 21:02] johnclary opened #484 "Implement Security Controls for Public Knack Forms"
We intend to let our service request intake form live on the public internet without a login, as such, we need controls in place to prevent bot spamming, which will trigger github issues creation, among other problems.

[2019-08-14 21:03] johnclary commented on #484
Slack thread:
https://austininnovation.slack.com/archives/CHZE6BC6L/p1565798943013600

[2019-08-14 21:36] atdservicebot opened #485 "(Urgent) IT Support: TEST Password reset..."
Name

Email

How will we know that our solution is successful?

How soon do you need this?

Is there anything else we should know?

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d54736bda54e700124c6b00

Request ID: DTS19-100075

Request Date: 2019-08-14 15:47:00

[2019-08-14 21:36] atdservicebot opened #486 "(Urgent) Other: TEST — this is a long issue title that should be truncated at 100 characters because anything longer..."
Name

Email

How soon do you need this?

Is there anything else we should know?

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d5476180ff9f800118cb9b0

Request ID: DTS19-100085

Request Date: 2019-08-14 15:59:00

[2019-08-14 21:55] atdservicebot opened #487 "(Urgent) TEST Password reset"
Name

Email

Describe the problem.

How will we know that our solution is successful?

How soon do you need this?

Is there anything else we should know?

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d54736bda54e700124c6b00

Request ID: DTS19-100075

Request Date: 2019-08-14 15:47:00

[2019-08-14 21:55] atdservicebot opened #488 "(Urgent) TEST — this is a long issue title that should be truncated at 100 characters because anything longer..."
Name

Email

Describe the problem.

How soon do you need this?

Is there anything else we should know?

DTS URL: https://atd.knack.com/dts#service-requests/view-issue-details/5d5476180ff9f800118cb9b0

Request ID: DTS19-100085

Request Date: 2019-08-14 15:59:00

[2019-08-14 22:07] mateoclarke opened #489 "Set up VZE deployment with Netlify"

[2019-08-14 22:49] johnclary commented on #452
@TracyLinder @amenity i am closing this and related issues. opening a separate issue for end-to-end testing.

[2019-08-14 22:49] #452 closed

[2019-08-14 22:49] #451 closed

[2019-08-14 22:49] #453 closed

[2019-08-14 22:50] #487 closed

[2019-08-14 22:50] #488 closed

[2019-08-14 22:51] johnclary opened #490 "End-to-End Service Request Intake Testing"
We're **almost** ready for end-to-end testing. Keep on deck for now.

### Things to Test
- non-severe AMANDA issue goes to atd-amanda repo and is assigned to Tracy
- severe issue goes is assigned to Tracy & Amenity and has `(Urgent)` in the title
- non-severe GIS + Maps issue goes to atd-geospatial and is assigned to Jaime
- Data Tracker, Financy & Purchasing, Signs & Markings,
- Any other issue i

[2019-08-14 22:54] johnclary commented on #90
Very close to done. Remaining todos:

- add `cli_args()` for script launcher
- return `records_processed` for job logging
- add credentials to 1pass
- test
- deploy!

[2019-08-14 22:55] johnclary commented on #86
Very close to do. Just need to move email notifications from the service request submit form to the form that is submitted by the service-bot post-github issue creation. This will ensure that the notification emails have a link to the github issue. Est 30 min of work.

[2019-08-14 23:00] amenity commented on #86
🙌 💪 Get it, @johnclary!

[2019-08-15 00:49] amenity commented on #184
Have discussed that we really are using `Service` to translate to `Team`... Whether or not we change the labels to reflect that, we should separate Apps into Knack and AMANDA.

[2019-08-15 03:44] mateoclarke commented on #489
Issue moved to [cityofaustin/atd-vz-data #99](https://github.com/cityofaustin/atd-vz-data/issues/99) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-15 03:44] #489 closed

[2019-08-15 13:49] dianamartin commented on #184
Why haven't we changed `Service` to `Team`? I'm fine with the change if everyone is too.

[2019-08-15 14:35] dianamartin opened #491 "IT Support: Device Status - Cameras CCTV"
Danni Kim
AMD

Had question about camera not working, thought he might need to download something.

[2019-08-15 14:38] dianamartin commented on #491
Did some troubleshooting with Danni on my computer. I opened camera map in Chrome, Firefox and attempted to sign in. Wasn't working, so we went to TMC to see if anyone could shed some light. Talked to Seth and he said that they use a chrome extension plug in that allows tabs to open in IE within Chrome.

Tested in IE to see that Advidia camera did open.

Looked for chrome extension, found the one

[2019-08-15 14:38] #491 closed

[2019-08-15 14:46] dianamartin opened #492 "IT Support: Tablet pincode - hotspot button not working"
Larry Meyer/Melissa Alexander/Billy Bolander
AMD

Larry brought over Melissa's tablet and told me that the hot spot button isn't working. We had changed the admin pin code because we thought the problem was resolved.

[2019-08-15 14:48] dianamartin commented on #492
I used the admin code to turn on the hotspot and then disabled it. Then used the hot spot button and turned it on and off again to make sure that the button worked.

Also called Danny to let him know this was an ongoing issue. He was going to test on his side to see if he could replicate the issue. Found a work around if that didn't work. Technicians have the ability to click on settings, need to

[2019-08-15 14:48] #492 closed

[2019-08-15 15:54] johnclary opened #493 "Feature: Improved Beacon Tracking"
Refactor school zone beacon tracking, support clean-up of school zone beacon data, and handle several related service requests.

[2019-08-15 16:15] TracyLinder commented on #422
### Update

This phase is active as of 8/12/19. I'm currently working on a proof of concept that I'll show to the team on 8/23. Once a high level scope of work is approved by Ryan Ward, a request for an estimate will be sent to Unisys. Next, funding will need to be secured from the Case Management Governing Board. If all goes well, development could start in October.

[2019-08-15 16:18] TracyLinder commented on #83
### Update

This project is near 60% complete. Currently we are working on finishing the service delivery road map diagrams, creating project document templates, and updating the customer submittal forms.

[2019-08-15 16:19] TracyLinder commented on #65
### Update

This project is going back 'On Deck' until the new PM is hired and can manage it.

[2019-08-15 16:21] TracyLinder commented on #420
### Update

- We are currently working through some bugs with the basic click map fatures in test. These features will go to production ASAP. Next up we will begin UAT for the advanced features of the click map.
- The new PSM folder will likely go live this month (August).

[2019-08-15 16:24] TracyLinder commented on #421
### Update

- The updates to fee procedures on ROW permits should go live this month (August).
- We just began UAT on self-assignment on UC & LM folders, and have identified a few critical issues that will require at least one more round of full UAT.
- After the fee procedures go to live, we will begin UAT on self-assignment for RW & EX folders.

[2019-08-15 16:30] TracyLinder commented on #423
### Update

All future phases of this project are on hold. We are however continuing to work on automating the portion of work done to-date. See the epic for this portion [here](https://github.com/cityofaustin/atd-amanda/issues/119).

[2019-08-15 16:32] TracyLinder commented on #432
### Update

- This project is still being scoped.
- The Case Management Governing Board is voting on a request to engage Unisys for this work, for up to $400,00, funded by ATD. The deadline for the vote is Friday 8/16/19.

[2019-08-15 17:21] amenity opened #494 "Meet with AMD for Review and Prioritization"
### Attendees
*AMD: Jen, Billy, Brian VDW, Jonathan*
*DTS: Diana, Amenity, John*

### Resources
[Doc](https://docs.google.com/document/d/1DN4RNQJ2ihtQV5LalRKC-9_PU_LJX_zBR6cHuL7q8oo/edit#heading=h.b9jbavfk3tz7)

[2019-08-15 17:22] TracyLinder commented on #460
### Update

The project intake meeting for this request took place on 8/7/19
- Tracy Linder was assigned as Product Manager for this project on 8/12/19
- The DTS development team will be meeting on 8/20/19 to review this request, determine a level of effort for development, and estimate when this project is likely to go live.
- An update will be sent to the customer after the meeting on 8/20.

[2019-08-15 17:28] amenity commented on #494
**Mobile Signals**
- DTS will train Roman, Gene, and Toby to kick off pilot for next week
- Concerns about "Nearest Signal" detection in Fulcrum
  - Sometimes the signals are too close to eachother and technicians don't catch it
  - Sometimes technicians forget to get it in the field and can't do it afterwards
  - DTS

**MPD**
- Augmented staff Andres will begin working with Nathan to put AMD data

[2019-08-15 17:55] amenity commented on #494
@dianamartin @johnclary - please feel free to add/correct directly in my comment/notes. ☝️

[2019-08-15 21:23] amenity opened #495 "Add mission and values to DTS Presentation Deck"

[2019-08-15 22:33] amenity opened #496 "Add mission and values to DTS Project Brief"

[2019-08-15 23:51] lee-dohm commented on #114
Thanks for the ping @amenity 🙇

[2019-08-16 05:44] amenity opened #497 "Write SOWs for helpful Hubbers"

[2019-08-16 05:56] amenity opened #498 "Coordinate with Andrea at Github to set up Sprint Planning"

[2019-08-16 13:53] dianamartin opened #499 "[BUG] Fulcrum app - Unable to Edit Signal After Nearby Signals Found"
Billy Bolander
AMD

Billy called me this morning, trying to figure out why Toby's tablet wasn't able to select other signals while back at the shop (Cameron).

[2019-08-16 13:57] dianamartin commented on #499
@johnclary Troubleshooting iOS phone v. Android tablet

I logged into Fulcrum website (just incase). Also have Fulcrum on my iOS phone so I was able to troubleshoot with him on the phone on it. He was saying that Toby couldn't select any signals from his android device. I was able to log into the technician account of my phone and change the record's signal record.

I also tested on my own persona

[2019-08-16 13:59] dianamartin commented on #499
This is what I found from Fulcrum on their [release notes](https://www.fulcrumapp.com/releases/#ios)

[2019-08-16 15:17] johnclary commented on #499
@dianamartin thanks for testing. We have custom JS (called a "data event") that populates that field. We will probably need to modify it. I'll probably loop in @mddilley or @mateoclarke to take a look.

[2019-08-16 15:19] dianamartin commented on #499
thanks for having them take a look. Billy said that this is happening daily to all technicians, it's a big problem for them.

[2019-08-16 15:23] johnclary commented on #494
added mine to yours. thanks @amenity

[2019-08-16 15:25] dianamartin commented on #494
I made changes yesterday. Should we create new issues for the meetings we should have?

[2019-08-16 15:48] dianamartin opened #500 "Create Prototype for Uniform Tracking"
## User Stories

### Executive Management team member (HR, Finance)
As a Executive Management team member, I want to know how much overall we're spending on each ATD Division on Uniforms and PPE items so that we can properly budget for it in the future.

### Division Manager
- As a Division Manager, I want to know how much we're spending per employee, monthly, annually so that I can do better budg

[2019-08-16 15:49] dianamartin commented on #500
related to #322, #323

[2019-08-16 15:49] johnclary commented on #499
ok, i've got it fixed. need to set up version control + docs for this and then will migrate to the prod app.

[2019-08-16 15:49] dianamartin commented on #323
User Stories: #500

[2019-08-16 15:52] dianamartin commented on #499
Let me know when it gets to Production so I can test it out before letting Billy know

[2019-08-16 15:55] dianamartin commented on #500
## Interpreting User Stories - Functional Requirements

### Non Functional
Load Employee List from various Divisions
- ROW (Right of Way)
- AMD (Arterial Management)
- SMB (Signs, Markings & Banners)
- PE (Parking Enterprise) Enforcement - Meters
### Functional
Reporting Page - View Cost monthly, yearly, by Division

[2019-08-16 16:00] amenity commented on #494
@dianamartin - yes please!

[2019-08-16 16:00] #494 closed

[2019-08-16 16:06] dianamartin opened #501 "Meeting to go over Signal Mods, Upgrades, Inspection, Signal Timing Needs"
### Objective
Review the required elements for Signal Mods, Upgrades, Inspection, Signal Timing. What information would AMD like to start tracking?

### Participants
Diana, Amenity, Jen, Brian

### Agenda

------
- [ ] Schedule meeting
- [ ] Meet
- [ ] Attach meeting notes to this issue
- [ ] Create resulting issues

[2019-08-16 16:08] dianamartin opened #502 "Meeting to review PM map and PM record discrepancies"
### Objective
Determine if there are any update issues happening. According to AMD, there are some cases where there are signals that are being updated, but the PM map is not reflecting those changes.

### Participants
John, Diana, Billy, Brian VDW

### Agenda

------
- [ ] Schedule meeting
- [ ] Meet
- [ ] Attach meeting notes to this issue
- [ ] Create resulting issues

[2019-08-16 16:13] dianamartin opened #503 "Signal Detection - Date captured when detector status changed (BROKEN to OK)"
Brian VDW
AMD

Brian needs a report of which how many signals (not *detectors) were broken/fixed in the past week. To accomplish this we need a script which logs when a signal's detection is fixed or broken.

Currently, can't customize data range for pie chart on Signal Detector Status Count by Intersection, it can't show a snap shot in time of when the status changed. (BC we were not tracking whe

[2019-08-16 16:51] TracyLinder commented on #470
### Notes From Conversations About This

* Stay in the scope (see issue description)
* We should leave having a working understanding of the business unit workflow related to the project request
* Review the project intake form
* Ask the dev's questions

[2019-08-16 16:58] TracyLinder opened #504 "Create Dev Huddle Template (DTS Workflow)"
### Create a template for PM's to use in presenting information gathered during the 1st project scoping meeting, to the development team.

The draft doc is [here](https://docs.google.com/presentation/d/1i9rcEEsEIWtHLJd_e0foQpNX9bQkffj4zHkzRsguW60/edit).

**Goals of Doc/Template:**
1. Present current state
2. Present desired state
3. Overview of the request & desired outcomes
4. Identify any gaps i

[2019-08-16 18:33] johnclary commented on #499
@dianamartin this has been pushed to production. There is now a "clear selected signal" button that clears out the signal value, and populates the choice list with all signals. This should resolve the issue. Let me know what you hear from Billy. Thanks!

[2019-08-16 18:34] johnclary commented on #499
screenshot :)

![thumbnail_image1.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/1a5549c3-c5ad-4bc6-84f6-ff40a300e9a7)

[2019-08-16 18:42] dianamartin commented on #499
@johnclary I don't think this issue is fixed. I just tested it on the tablet that I have and it continues to not be able to find any signals when I create a new record. Or if I try to edit an existing signal it gives an error message. I'm going to attach screen shots, on iOS this isn't a problem. It's the android interface.

[2019-08-16 18:48] dianamartin commented on #499
We have two tablets at the office that we can test this on Monday.

[2019-08-16 18:57] johnclary commented on #499
ok. two questions. 1) did you sync the app to get the latest updates. 2) are location services enabled?

[2019-08-16 19:13] dianamartin commented on #499
1. I downloaded the app this morning for the first time on the table, I'd assume it's got the latest updates
2. Location services are turned on

I just checked the Fulcrum settings, nothing out of the ordinary. So I attempted to try to create a new record. It said searching for nearby assets and then did the "error with request: undefined" error. Perhaps it's throwing that error bc i'm on wifi. I'

[2019-08-16 20:04] johnclary commented on #86
@amenity @TracyLinder the form work is complete. ready for testing. maybe we make all the issues in a batch, then i'll run the integration service to process everything. once i do that, the github issues will be created and confirmation emails will be sent—hopefully ;)

[2019-08-16 23:25] johnclary commented on #490
We're ready to for final testing. I'm thinking creating these five issues would cover a good amount of the list above:

### Bug Report
- Application: Amanda
- Impact: Minor
- Workgroup: Right-Of-Way

### IT Support
- Urgently needed
- Workgroup: Transportation Engineering

### GIS + Maps
- Not urgently needed
- Workgroup: Office of Special Events

### Feature/Enhancement
- Need: Unsure
- Workgroup

[2019-08-19 15:41] johnclary commented on #215
Ordered and arriving tomorrow.

[2019-08-19 16:33] mateoclarke opened #506 "VZE: Table of all crash records without Lat/lon"
this page can be the starting point for geospatial QA workflows

[2019-08-19 16:36] mateoclarke opened #507 "VZE: Dashboard page"
decide what high level summary statistics and data quality issues we want to highlight on the landing page.

- number of years of life lost
- total number of crashes year to date
- how many records need QA (by fields ex: lat/lon, address, etc)
- reference of study locations
- contributing factors

[2019-08-19 19:44] dianamartin commented on #391
I've submitted my Travel Training Request form. @amenity Do you have any outstanding forms to submit or is this good to close?

[2019-08-19 20:26] dianamartin commented on #459
## Diana's Notes
Street View data is old
Heads up digitizing

**Level 2**
GPS class - cancelled
Sign Inventory Project

**ACC GIS Inc.**
- Staff 2-3 trained up
- Trained team, lose an intern, then bring on someone else
- Plus: done at a fraction of the cost
- Familiar with the original project
- Pilot a small project
- Get better pricing
- Get better estimate of how long it's going to take

Estima

[2019-08-19 20:27] atdservicebot opened #508 "(Urgent) **TEST** Describe urgent IT support"
Name

Email

Describe the problem.

How soon do you need this?

Is there anything else we should know?

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/5d5b007b5beb08001261ff03/download.png) (2.91kb)

Request ID: DTS19-100135

[2019-08-19 20:27] atdservicebot opened #509 "**TEST** feature description"
Name

Email

Describe the problem.

Describe the outcome you'd like to see when this feature is implemented.

Describe any workarounds you currently have in place or alternative solutions you've considered.

Is there anything else we should know?

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/5d5b00fffbe0da00154f565f/download.png) (2.91kb)

Request ID:

[2019-08-19 20:27] atdservicebot opened #510 "**TEST Project*** problem impact"
Name

Email

Describe the problem.

Describe the solution you have in mind.

How will we know that our solution is successful?

Users

Stakeholders

Sponsorship

Would this application affect any of the Strategic Direction 2023 “Mobility” indicators?

Would this application support any of the Austin Strategic Mobility Plan goals?

Describe any workarounds you currently have in place or alternative

[2019-08-19 20:27] atdservicebot opened #511 "**TEST Something Else*** description"
Name

Email

Describe the problem.

How soon do you need this?

Is there anything else we should know?

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/5d5b01aa9ff3c60010089243/download.png) (2.91kb)

Request ID: DTS19-100155

[2019-08-19 20:34] atdservicebot opened #512 "**TEST** ROW BUG"
Name

Email

Describe the problem.

Is there anything else we should know?

Website Address

Internet Browser: Chrome

Request ID: DTS19-100130

[2019-08-19 22:25] amenity commented on #391
Good to close! 🙌

[2019-08-19 22:25] #391 closed

[2019-08-19 23:34] johnclary opened #513 "Deploy DTS > Github Integration"

[2019-08-19 23:42] atdservicebot opened #514 "**TEST** feature description"
Name

Email

Describe the problem.

Describe the outcome you'd like to see when this feature is implemented.

Describe any workarounds you currently have in place or alternative solutions you've considered.

Is there anything else we should know?

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/5d5b00fffbe0da00154f565f/download.png) (2.91kb)

Request ID:

[2019-08-20 15:45] johnclary commented on #410
@dianamartin closing this. Please open additional issues for any outstanding work. Thanks.

[2019-08-20 15:45] #410 closed

[2019-08-20 23:43] johnclary opened #515 "Contribute to ITSA Data Exchange"
JJM has asked that we publish our mobility data to the [ITSA Data Exchange](https://itsa.terbine.io). This is a national IoT data exchange powered by [Terbine](http://terbine.com) for ITS for America.

Terbine has already added a number of our datasets from the open data portal. We need to:
- [ ] create an ITSA Data Exchange account
- [ ] review if any of our open data sets are missing from the pl

[2019-08-21 00:43] johnclary commented on #499
@dianamartin i was unable to reproduce the error message after downloading the updated version of the app. let's test again tomorrow from 8700.

[2019-08-21 01:46] johnclary opened #517 "DTS Newsletter: 4th Quarter"

[2019-08-21 01:47] #517 closed

[2019-08-21 01:57] johnclary opened #518 "DTS Newsletter: Q1"

[2019-08-21 05:22] #418 closed

[2019-08-21 05:24] #437 closed

[2019-08-21 05:24] #86 closed

[2019-08-21 05:28] #490 closed

[2019-08-21 05:31] johnclary commented on #246
This is handled by the "Something Else" category now. Closing.

[2019-08-21 05:31] #246 closed

[2019-08-21 16:16] alan-deanda opened #519 "Online Bike Map Update"
Routes added include:
* Connection from Kramer across N Lamar
* Connection from Braker to Shropshire accross Dessau

[2019-08-21 18:44] johnclary commented on #499
update functionality to be more intuitive. now, regardless of if you’re editing a pm or creating a new one, the app will fetch the entire list of signals, sorted by closest to your location. if this is a new PM, we will populate the signal field automatically with the nearest signal, but the user can modify it.

[2019-08-21 18:47] #499 closed

[2019-08-21 19:09] dianamartin commented on #459
@johnclary Did you want to add your notes so we can close this?

[2019-08-21 19:10] #459 closed

[2019-08-21 19:39] amenity opened #521 "Rubric for project prioritization"
We need a way to prioritize projects to ensure that DTS resources are allocated in an efficient, equitable, impactful way. Having a standard rubric where we can assign points based on predetermined criteria would bring consistency and transparency to the process.

For reference:
 - [A rubric the Austin.gov team made back in the day to prioritize departments transitions to the new website](https://

[2019-08-21 19:59] amenity commented on #521
@johnclary - please stick the USDS doc that you mentioned ☝️.

[2019-08-21 20:12] alan-deanda opened #522 "Project: 2019 Print Bike Map"
## Description
The City of Austin publishes a print version of the bike map every year. The bike map shows the recommended routes for bicycling, and it displays them by level of comfort so that they may be useful for people of all ages and abilities. The bike map is a collaboration between Active Transportation & Street Design, Public Information Office and the Data & Technology Services Team at A

[2019-08-21 20:14] alan-deanda commented on #522
@johnclary this is the new index for the print bike map.

[2019-08-21 20:52] johnclary commented on #521
@amenity donezo

[2019-08-22 12:56] jaime-mckeown commented on #415
@johnclary Is there a way for me to see the applications that have already been submitted or do we have to wait until the job closes?

[2019-08-22 16:25] TracyLinder opened #523 "***TEST*** Issue for Training"
## Test

- One
    - Two
- Three

**Describe the bug**
Include what happens and what you would expect to happen.

**URL**

**What steps can we follow to reproduce the bug you are seeing?**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device**

**Browser**

**How would you rate the impact of

[2019-08-22 16:25] TracyLinder commented on #523
@SurbhiBakshi Please do task 1 & 2 by Friday.

[2019-08-22 23:19] #477 closed

[2019-08-22 23:40] amenity opened #524 "Review applications and schedule screener calls"
Working from [this spreadsheet](https://docs.google.com/spreadsheets/d/1owSp9vjMiLCGATSMgiVF5s3kzzPw18f2GMNzehKtGN4/edit?usp=sharing).

[2019-08-23 22:00] dianamartin commented on #460
I created a new repository: https://github.com/cityofaustin/atd-knack-development-review/, going to add issue of the functional project requirements.

[2019-08-26 14:58] johnclary opened #525 "22 Aug Meeting"

[2019-08-26 14:59] #525 closed, assigned to nobody

[2019-08-26 15:09] #90 closed

[2019-08-26 15:19] johnclary opened #526 "Discuss Procurement w/ Peggy"

[2019-08-26 16:04] johnclary opened #527 "Prep Presentation for Mgmt Meeting on 10/7"

[2019-08-26 16:13] johnclary opened #528 "AMD monthly meeting - 9/19"
https://docs.google.com/document/d/1dYpxNeHr543YwFfXOgRXrvuUTCm0ogv62qnBpndvLVI/edit#heading=h.v9b2wbg7qc9r

[2019-08-26 16:28] johnclary opened #529 "Meet to Review TDSD Unified Comment Tracking App"
Scheduled for 9/4

[2019-08-26 17:49] atdservicebot opened #530 "Test to see how this works"
Name

Email

Describe the problem.

Describe the solution you have in mind.

How will we know that our solution is successful?

Users

Sponsorship

Would this application affect any of the Strategic Direction 2023 “Mobility” indicators?

Would this application support any of the Austin Strategic Mobility Plan goals?

Describe any workarounds you currently have in place or alternative solutions you

[2019-08-26 17:51] #530 closed, assigned to amenity, TracyLinder

[2019-08-27 20:44] #513 closed

[2019-08-27 21:31] TracyLinder opened #532 "Data Pull For Dev Review Import"
Pull data of Sangeeta's Transportation Engineering Reviews, to be used by DTS to import into the tracker.

[2019-08-27 21:32] #532 closed, assigned to TracyLinder

[2019-08-28 18:24] johnclary opened #533 "Project: Develop UI + Workflow for Markings 311 SRs"
# Summary
We have been asked to develop a module in the Signs & Markings Ops app to manage markings 311 issues. It will be very similar to the existing Signs module, in that staff can update/close SRs, as well as issue work orders from the SR.

# Desired outcomes

# Notes

# Resources
- [Project folder](https://drive.google.com/drive/folders/1LeRoQgYhPG7kNiZbvjzfr-1RkLNZ15E8)
- [Github issues](htt

[2019-08-29 03:01] johnclary commented on #374
clearing milestone and backlogging pending re-activation.

[2019-08-29 03:13] johnclary commented on #184
Queuing this up for sprint 7. We will need to make a tiny update to the DTS > Github integration.

Also, I our `settings.yml` is out of sync with labels that we've manually created in `atd-data-tech`. We should reconcile that so that we're keeping our production labels in version control.

Also, I'd like to add: `Type: ETL`.

[2019-08-29 03:19] johnclary commented on #527
Well, the 9/3 mgmt meeting was cancelled, which means we'll be on the agenda for the 10/7 meeting, and y'all will be fresh off your KnackCon presentation. Updated this issue to reflect the change.

[2019-08-29 03:31] johnclary opened #534 "Signs Work Orders: Increase "Add Location" Button Contrast"
It's hard to see the "Add Location" button from the map on the Signs Work Order details page. Let's increase the contrast to optimize for use outdoors. E.g., White button with black text.

![Screen Shot 2019-08-28 at 10.29.05 PM.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/1625c736-8c6d-49e0-844c-fa89e8e372b6)

[2019-08-29 13:28] johnclary opened #535 "Onboard Part-Time Project Manager (Stephanie)"
### Accounts
- [x] CTM Network account request
- [ ] 1Password?
- [ ] Slack
- [ ] Google Drive
- [ ] ~Github Team~*
- [x] DTS Email Group

### Software
- [ ] ~Zenhub Extension~*

### Hardware

*Stephanie will be 100% remote*

- [x] Laptop
- [ ] Badge

### Communications
- [ ] newsletter announcement

\* _Decided to simplify and work via emails and checkins rather than Github/Zenhub. _

[2019-08-29 14:25] alan-deanda commented on #393
@johnclary no more map or support requests have come in for this project. The planners are currently using it. Should I close this project?

[2019-08-29 16:27] johnclary commented on #393
@alan-deanda yep. please set the Milestone and Estimate that reflects when the bulk of the work was complete.

[2019-08-29 18:48] jaime-mckeown opened #536 "Review Applications and Select Candidates"
Narrowed down the pool of applicants for interviews next week. Submitted list to John.

[2019-08-29 18:49] #536 closed

[2019-08-29 21:24] TracyLinder commented on #420
###Update

The advanced click map portion of this phase has been moved to phase 5.

[2019-08-29 21:26] TracyLinder commented on #421
### Update

Self-assignment for RW & EX has been moved to Phase 6.

[2019-08-29 21:30] TracyLinder opened #537 "Project: ROWMAN Phase 5"
Phase 5 of the ROWMAN Replacement Project will deliver advanced features to the map selector tool on our online permit applications.

## Background

ATD’s online Right of Way permit applications include a map selector tool that allows customers to use a map to identify the properties and Right of Way they wish to add to their application. This tool is capable of more features that we aren’t curren

[2019-08-29 21:35] TracyLinder opened #538 "ROWMAN6 Deliverables (Needs cleanup)"
Phase 6 of the ROWMAN Replacement Project will develop new portal features that allow Excavation and Right-of-Way permit holders to add information to permit folders that already exist in AMANDA, and are pending a customer submittal. It will also explore solutions for enabling external reviewer features that would allow our external partners to provide review comments without using AMANDA.

## Bac

[2019-08-30 15:04] alan-deanda commented on #393
@johnclary , I've set the milestone for Sprint 6 because the project was delivered on time (a few weeks ago, probably during Sprint 5 or 4), and choosing Sprint 5 would have made it seem like the project was delivered late.
We haven't done sprint planning formally in atd-geospatial, so let me know if I need to categorize this project differently.
Thanks!

[2019-08-30 17:51] johnclary commented on #393
thanks @alan-deanda. if the bulk of the work was in four or five, i'll set this to sprint 5. my goal is to be able to better estimate our bandwidth for delivering projects, so I want to try to get a realistic estimate of work completed during a given sprint.

[2019-08-30 19:53] amenity commented on #314
Emailed Soolin to ask for access to CTM's training materials that are posted [here](https://coaforms.bloomfire.com/posts/3577038-how-to-build-a-form-in-formstack-101).

[2019-09-01 16:00] #393 closed

[2019-09-03 13:54] SurbhiBakshi commented on #500
- working on figuring table structure and connections for database.

[2019-09-03 14:29] jaime-mckeown commented on #254
Modified relationship classes and discussed the changes with Parking, they are on-board with the new setup. Have not had time to work on project since verifying this change as other projects have taken priority.

[2019-09-03 15:23] mateoclarke commented on #480
Not enough responses so trying again for either W 9/11  or Th 9/12

[2019-09-03 15:25] mateoclarke commented on #467
@dianamartin, I think we completed this one as of Wed 8/28, right?

[2019-09-03 15:42] mateoclarke commented on #534
Issue moved to [cityofaustin/atd-knack-signs-markings #218](https://github.com/cityofaustin/atd-knack-signs-markings/issues/218) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-03 16:16] amenity commented on #314
Uploaded ☝️ [here](https://drive.google.com/open?id=1p6eekmV3In3i8gnwSpfKywHVPf77ds4Z).

[2019-09-03 17:58] amenity commented on #417
I was part of a pilot group of users that worked with Cari over the launch/test period to document bugs and potential UX improvements. The site is now launched!

[2019-09-03 17:58] #417 closed

[2019-09-03 18:02] jaime-mckeown opened #539 "Conduct In-Person Interviews"
Scheduled on 9/5

[2019-09-03 18:25] amenity commented on #433
@sergiogcx - what's the status of this issue?

[2019-09-03 18:26] amenity commented on #215
@johnclary - update on this?

[2019-09-03 19:46] johnclary commented on #215
Turns out the issue is with the projector. I'm closing this and opening a new issue to get a new projector for Allandale.

[2019-09-03 19:46] #215 closed

[2019-09-03 20:32] dianamartin opened #540 "Update Mileage Reimbursement pdf"
Jaime M
DTS

Asked if I could fix the mileage reimbursement form to include the 2 new rows I added for her

[2019-09-03 20:32] dianamartin commented on #540
I updated the calculation to include the 2 new rows. I updated the DTS Shared Document folder on SharePoint and send link to Jaime.

[2019-09-03 20:32] #540 closed

[2019-09-03 21:25] dianamartin opened #541 "DTS Portal - Add object table and fields"
CREATE NEW OBJECT TABLE - ENVIRONMENTS
many instances to one application

- [ ] app id
- [ ] app name
- [ ] notes
- [ ] date created
- [ ] date deleted

[2019-09-04 20:45] johnclary opened #542 "Provide Micromobility Data for PARD Analysis"
Via Parking Enterprise—Parks & Rec is asking for micromobility data for analysis relating to parkland usage.

Spoke with Amanda (PARD) and she agreed the following trip dataset would meet their needs:

Where each record represents a vehicle trip origin or destination, and records include only trips on the Butler trail or in/adjacent to city park land.

Columns:
- Type (Origin or Destination)
- Lat

[2019-09-04 20:47] johnclary commented on #542
@alan-deanda I'll let you know when I have the data ready for you.

[2019-09-05 13:46] johnclary opened #543 "VZD: Update Readme"
We need to update the [README](https://github.com/cityofaustin/atd-vz-data/blob/master/README.md) with a better description of the project.

We can start by pulling descriptions from the `Index` issues. We also need docs about the tech stack and how to get it running.

[2019-09-05 19:16] #162 closed

[2019-09-05 19:19] TracyLinder commented on #529
@johnclary can you provide more info on this? When are we meeting, or have we already?

[2019-09-05 19:23] #504 closed

[2019-09-05 19:44] TracyLinder opened #544 "Collect Feedback For 1st Round of Fixes - DTS Service Request Form Workflow"
**Scope**: Collect thoughts on how the new portal form submission workflow is working, including possible upgrades/fixes.

- [ ] Collect feedback through sprint 7
- [ ] Create issues for any changes/upgrades needed.

[2019-09-05 19:46] TracyLinder commented on #544
See item #211 - It's making us wonder if the ticket is truly reflecting what Billy submitted. A possible solution is

[2019-09-05 20:29] TracyLinder opened #545 "Implement Mandatory Application - DTS Service Request Form"
## Description:

1. Make the application field mandatory
    * Update the 'other' value to 'Other/I Don't Know'
2. Map the application field to the GH issue description

[2019-09-05 20:30] TracyLinder commented on #545
@amenity FYI

[2019-09-05 20:32] TracyLinder commented on #545
See #208 for example of why this would be useful.

[2019-09-05 20:46] amenity opened #546 "Match text in Github description field to text in service request form"

[2019-09-05 20:47] amenity commented on #546
Issue moved to [cityofaustin/atd-knack-dts-portal #2](https://github.com/cityofaustin/atd-knack-dts-portal/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-05 20:47] #546 closed

[2019-09-05 20:50] amenity commented on #544
@TracyLinder - I think the issues should actually go into this repo: https://github.com/cityofaustin/atd-knack-dts-portal/
@johnclary ?

[2019-09-05 20:50] amenity commented on #544
Added one here: https://github.com/cityofaustin/atd-knack-dts-portal/issues/2

[2019-09-06 04:41] johnclary opened #547 "Project: E-Citation System for Parking Enforcement"
Parking Enforcement currently uses APD's citation system (Brazos). As a result, we receive limited support, and staff are unhappy in general with the solution. This project will deliver an ATD-owned citation system for parking enforcement.

[2019-09-06 13:46] dianamartin commented on #529
@TracyLinder We had the issue description say the meeting was scheduled for 9/4. It was a Dev Review that John, Surbhi and I meet this week.

[2019-09-06 13:46] #529 closed

[2019-09-06 16:05] dianamartin commented on #426
We went through and deleted unneeded Knack apps and came up with a naming convention. Surbhi was going to document the apps in the Application Inventory on the DTS Portal app.

[2019-09-06 16:05] #426 closed

[2019-09-06 16:06] dianamartin commented on #502
I scheduled the meeting and didn't invite anyone..so that was a bust. I talked to Billy and he said that he'd do some research first and let me know when to reschedule this meeting.

[2019-09-06 16:07] dianamartin commented on #539
We conducted interviews the other day, in final deliberations today.

[2019-09-06 16:09] dianamartin commented on #467
We met with the signal technicians and did a brief run through of the changes in the new mobile signal work order environment.

[2019-09-06 16:09] #467 closed

[2019-09-06 16:10] dianamartin commented on #526
@johnclary Has this been scheduled?

[2019-09-06 20:17] #539 closed

[2019-09-06 20:55] johnclary commented on #529
@TracyLinder yes sorry we left you out—meant to include you. i'm sure @dianamartin can give you access if you want a sneak peek.

[2019-09-06 20:57] johnclary commented on #526
no, but we discussed briefly yesterday. kicking to sprint 7...

[2019-09-06 21:04] johnclary opened #548 "Evaluate Tools to Share Our Project Backlog with Customers"
I'm exploring some options for sharing our work with customers. Looking at [Roadmunk](https://roadmunk.com).

I'd like to have something to demo for Peggy on 9/9.

[2019-09-06 21:56] sergiogcx commented on #60
It took me all of last Friday to learn about it, I was able to spin up a metabase cluster in AWS Fargate, it is currently connected to the atd-vz-data instance, but we should be able to connect to any other.

You should have been given access to this by now, if not reach out to me and I can give you access.

[2019-09-06 21:58] sergiogcx commented on #60
Ah, yes the url is:
https://atd-metabase.austintexas.io

Maybe the next steps are to set up the email settings through AWS Simple Email Service, so that way we can reset passwords if needed.

[2019-09-07 20:55] johnclary opened #549 "Project: Digital Work Orders for Parking Meters"
Our Parking Enterprise staff currently use a paper-based process for tracking parking meter installations, repairs, and collections. This project will deliver a digital process for the tracking and reporting of these activities.

[2019-09-07 22:26] johnclary opened #550 "Prep for FY21 Planning Meeting"
[Working doc](https://docs.google.com/document/d/1lptGEGhvpAiwVBrgQ8V8s4gRwFslUbh-HUFXeXJUypU/edit#)

[2019-09-08 19:21] johnclary commented on #357
@TracyLinder @amenity whether this is a new feature to Visitor Sign-In, or a new application, this is definitely a project-size work. Adding the `Index` label.

[2019-09-09 14:12] #550 closed

[2019-09-09 14:12] #415 closed

[2019-09-09 14:12] #434 closed

[2019-09-09 15:58] amenity commented on #500
Backlogging this until we get a new PM.

[2019-09-09 16:01] johnclary commented on #460
Dropping the milestone from this since it is an `Index` issue.

[2019-09-09 16:09] amenity commented on #221
@amenity schedule this for Sprint 8.

[2019-09-09 16:10] dianamartin commented on #220
@dianamartin Create issue cards the checklist items

[2019-09-09 16:14] amenity opened #551 "Onboard Surbhi to VZA Citation Reporting App"

[2019-09-09 16:16] amenity commented on #551
@amenity - schedule this.

[2019-09-09 16:26] amenity opened #552 "Explore consolidation of Knack application repos"
Having separate repos for each Knack app has created qyite a bit of overhead in terms of project management workflows. Let's see what a mon-repo would look like.
- Create new repo `atd-knack`
- Begin moving Data Tracker and Finance
- Schedule meeting to see what it will look like to fully consolidate

[2019-09-09 16:31] amenity opened #553 "Review Knack Application inventory"
The [App Inventory](https://atd.knack.com/dts#applications/) will be an important reference tool for Knack PMing.

[2019-09-09 16:33] johnclary opened #554 "Create an Open Dataset of Our Github Issues"
I'm experimenting with ways to report and share our work. A starting point is having an endpoint to fetch all of our github issues. This dataset is that:
https://data.austintexas.gov/City-Government/ATD-Data-Tech-Services-Issues/rzwg-fyv8/data

[2019-09-09 16:38] amenity opened #555 "Gather feedback on KnackCOn presentation draft"

[2019-09-09 16:39] amenity opened #556 "Add DTS service delivery workflow slides to KnackCon deck"

[2019-09-09 16:44] amenity commented on #383
@dianamartin - close this when we have them all, please.

[2019-09-09 16:46] amenity opened #557 "Review DTS' Knack hopes and dreams"
So that I can speak to these when networking/meeting with Knack people, etc.

[2019-09-09 16:50] amenity opened #558 "Stop-gap business cards"

[2019-09-09 16:50] johnclary opened #559 "Get Official Business Cards"
TCOB, y'all!

[2019-09-09 16:56] amenity opened #560 "Prep for AMD 9/19 meeting"

[2019-09-09 18:06] amenity commented on #521
Bring, Peggy, Leann, and Cole into discussions on how to quantify alignment with SD23.

[2019-09-09 18:45] dianamartin commented on #383
Christina had her camera and was able to upload the pictures. [Folder path](\\coacd.org\dfs\TPSD\ATD\Signs_and_Markings\SIGNS\Photos_Videos\Sign Technicians Using Knack). I went and made a parent label so we can go through them easier.

[2019-09-09 18:45] #383 closed

[2019-09-09 19:34] atdservicebot opened #561 "we cannot open CCTV’s using the Device Status page."
Email

Describe the problem.

Website Address

Internet Browser: Chrome

Request ID: DTS19-100190

[2019-09-09 19:35] johnclary commented on #561
@amenity i opened this one after getting an email from the TMC. I restarted the `cctv-service` docker container and everything appears to be working normally again. I let the TMC know. Closing.

[2019-09-09 19:35] #561 closed

[2019-09-09 20:15] amenity commented on #558
@amenity test

[2019-09-09 20:33] amenity commented on #558
@amenity

[2019-09-09 20:47] amenity commented on #558
@amenity testtt

[2019-09-10 00:42] johnclary commented on #542
[code]

[code]

[2019-09-10 11:23] johnclary commented on #542
@alan-deanda the data is here:
https://drive.google.com/drive/u/1/folders/1uJxnfKtyB-SgIwZlH4B0gv6Kh6C4DHiI

Using each of these datasets, would you create a point dataset that contains only points that started or ended on COA parkland, or the Butler trail? You'll need to add a column for if the record is an origin or a destination; I forgot to do that. Thanks!

[2019-09-10 11:32] johnclary opened #562 "Queue Inbound Requests"
As described in [this issue](https://github.com/cityofaustin/atd-knack-data-tracker/issues/131#issuecomment-501867278) there is a rare case that occurs when to inbound requests happen simultaneously that causes record validations to be ignored. Should add a feature to the knack proxy that ensures each record transmission occurs after the previous update is complete.

[2019-09-10 13:35] alan-deanda commented on #542
@johnclary sounds good, thanks!

[2019-09-10 15:42] johnclary opened #563 "Automatically Assign Workgroup Labels for Issues w/ Project Labels"

[2019-09-10 16:00] mateoclarke opened #564 "Micromobility Privacy: Prep scope of work and project timeline for Github Social Impact team"
- [x] scope of work
- [x] project timeline

Related to #480

[2019-09-10 16:06] amenity commented on #231
Tried this out and it's kind of half-implemented in SMB app - this is going to be a lot of work. Would create an icky workflow for non-devs. Can't pull in raw code from GH - have to deploy static files in Amazon.

Not a major issue for now, currently versioning.

[2019-09-10 16:10] mateoclarke commented on #543
reference MoPed project readme for example

[2019-09-10 16:17] amenity opened #565 "Data dump of 1k CRIS crash records from other agencies"
@johnclary would like to be able to follow up on missing lat/long in APD data — (Austin is the only one in TX missing lat/long).

[2019-09-10 16:24] amenity opened #566 "9/12 VZ Data Sprint Review #4"
- Demo QA workflow
- Calendar picker
- Location PR

[2019-09-10 17:27] alan-deanda opened #567 "ATSD ArcGIS support"
Provided ArcGIS training for Eric Virag.

[2019-09-10 17:28] #567 closed

[2019-09-10 18:42] johnclary commented on #503
Just reached out to BVDW:

[2019-09-10 20:19] dianamartin opened #568 "New Inventory Order Form (Warehouse Staff)"
_As as warehouse staff person, I need the ability to track transaction requests that have happened._

**Functional Requirement**
Like a "maintenance" work order - internal staff creates it

[2019-09-10 20:22] dianamartin opened #569 "New Inventory Order Form (Technicians/Customers)"
_As as technician (customer), I need the ability to put in an inventory request so that I can have it ready by the time I need to go out to a project location._

Functional Requirement
Like a "engineer" work order - staff requesting materials to be prepared for them

[2019-09-10 20:24] dianamartin opened #570 "Restock Inventory Items"
_As a warehouse staff person I want the ability to replenish the inventory system so that I can see when we reordered items and document when we received shipments._

Need ability to add new quantity to existing quantity

[2019-09-10 20:26] dianamartin opened #571 "Create Inventory Items"
_As a warehouse staff person, I want the ability to add new inventory items as needed_

[2019-09-10 20:28] dianamartin opened #572 "Move Inventory Items (Stock Transfers)"
_As a warehouse staff person, I need the ability to move an inventory item from one warehouse to another as sometimes there isn't always room in our warehouse._

[Reference: Warehouse Manager template](https://atd.knack.com/warehouse-manager-template#add-stock-transfer/)

- Product
- Origin Warehouse
- Destination Warehouse
- Quantity

[2019-09-10 20:30] dianamartin opened #573 "Evaluate barcode reading in Knack"
_As a warehouse staff person, I need the ability to create a barcode and assign it to an inventory item._

Look into creating your own barcode via Knack
- Reading barcode into field
- Bluetooth/hardwired reader

Also consider using QR codes.

[2019-09-10 20:31] dianamartin opened #574 "Confirm Barcode Format"
_As a warehouse person, I need the ability to scan a barcode that looks for that inventory item and finds it in the system_

[2019-09-10 20:32] dianamartin opened #575 "Generate Purchase Request for item"
_As a warehouse person, I need the ability to create an inventory purchase request for an inventory item_

Streamlined way to create a PR in the Finance app.

[2019-09-11 15:53] sergiogcx commented on #60
Tested, it runs well and scales well.

[2019-09-11 15:53] #60 closed

[2019-09-11 19:35] dianamartin opened #576 "Add blank page to pdf documents - Brian VDW"
Brian VDW
AMD

Came by and asked if I could help them modify some .pdfs for the IMSA training documents they had. They needed it to show up on 2 pages and needed to insert a blank page to make the pages they wanted be side by side.

[2019-09-11 19:36] dianamartin commented on #576
He send a folder path of where the files were, since I have Adobe Pro I was able to add a blank page in between pages 1 -2 for 1-10 chapters.

Emailed user

User emailed

[2019-09-11 19:36] #576 closed

[2019-09-12 14:07] johnclary opened #577 "Attend 9/11 OMF Board Meeting"
Will add meeting minutes when available.

[2019-09-12 18:02] sergiogcx opened #578 "ETL: Explore Apache Airflow"
We will need to investigate tools such as Airflow, for complex workloads efficiently. Airflow is currently being used in the City of San Diego, and the City of Toronto for some of their ETL processes.

For a full list of users, look at this repo:
https://github.com/apache/airflow

The main criteria are:
- [x] Ease of installation, and ease of use.

Answers these questions:
- [x] How does it improv

[2019-09-12 20:11] johnclary opened #579 "Create Job Posting"

[2019-09-12 20:11] johnclary opened #580 "Review Applications"

[2019-09-12 20:11] johnclary opened #581 "Schedule Interviews"

[2019-09-12 20:11] johnclary opened #582 "Hire GIS Interns"

[2019-09-12 20:13] johnclary opened #583 "Submit Position Review Form (PRF) to HR"

[2019-09-12 21:27] atdservicebot opened #584 "We need a new account set up for Sukumar A. for the Data Tracker and other transportation.austin..."
Describe the problem.

How soon do you need this?

Request ID: DTS19-100195

[2019-09-12 21:52] #584 closed, assigned to amenity

[2019-09-12 23:06] amenity opened #585 "Conduct phone interviews"

[2019-09-12 23:06] #585 closed, assigned to amenity, johnclary, TracyLinder

[2019-09-12 23:08] amenity opened #586 "Post phone interview stuff"
- [x] Follow up with all candidates by email
 - [x] Schedule in person interviews and debriefs

[2019-09-12 23:09] #586 closed, assigned to amenity

[2019-09-12 23:11] amenity opened #587 "Prepare questions for in-person interviews"
[WIP here](https://docs.google.com/document/d/1uMGnSxlqyJjefj3YovNMozOu3-EAkTR9MDt4x3XQ1hQ/edit#).

[2019-09-13 17:50] amenity commented on #587
Thanks so much, @dianamartin, for jumping in on this with awesome suggestions. Pretty much took them all.
@mateoclarke @johnclary @TracyLinder - a couple things to focus on when you review: if y'all have time to look at this by mid-day Monday that would be great. Then I can create docs for all the candidates.

[2019-09-14 19:20] johnclary commented on #133
@sergiogcx longer term, I know we want to use a monitoring service, but I've changed to scope of this issue to address near-term concerns. Can you find some time to either (1) set up logrotation to remove old files from these locations or (2) setup a simple bash script that does this on a cron schedule?

[2019-09-14 20:29] johnclary opened #588 "Document how to Support the ESB Integration"
Done, and available on our [team wiki](https://github.com/orgs/cityofaustin/teams/transportation/discussions/6)

[2019-09-14 20:29] #588 closed

[2019-09-16 15:34] dianamartin commented on #573
Found this in Knack help guides: https://support.knack.com/hc/en-us/articles/230232228-Generate-Simple-Numeric-Barcodes-Automatically

Might need assistance from dev team

[2019-09-16 15:37] dianamartin commented on #574
Found this in Knack help guides: [Use a Scanner to Search and Update](https://support.knack.com/hc/en-us/articles/360015666351-Can-I-use-a-barcode-or-credit-card-scanner-with-Knack-)

[2019-09-16 15:49] johnclary commented on #566
My notes:

### Vehicular direction of vehicular movement (not available in CRIS)
- Has to be interpreted from CR3
- Indicates unit direction and action (e.g., northbound turning left)
- Helps with the collision diagrams
- MS2 can plot the collision diagrams automatically with that info
- Best solution: add this to brazos
- Near term—add field. One column or multiple columns?
- TODO: VZ Team to pro

[2019-09-16 16:00] #565 closed

[2019-09-16 16:00] mateoclarke commented on #565
Sergio ran an analysis to see if other public safety agencies do any better at geocoding. This is complete.

[2019-09-16 16:00] johnclary commented on #565
Spreadsheet is [here](https://docs.google.com/spreadsheets/d/1uXAVq2pGkEcZianeNOyUwibCWsy_FsellgQkvESzs-g/edit#gid=925989988).

[2019-09-16 18:19] sergiogcx commented on #578
I have been able to have a good exploration on Airflow, this is an interesting tool that could be a good fit for our stack.

Our main concern was to be able to run docker-contained tasks and to improve and automate our current deployment pipeline. The challenge is that we run a number of different containers through cron-jobs, resetting the cron jobs can be a bit tricky and it is currently a manua

[2019-09-16 18:20] sergiogcx commented on #578
These are some pictures of Airflow running on docker-compose:

![Screen Shot 2019-09-13 at 8.02.19 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/7215480f-3947-4d3b-b15f-11c7579f56df)

![Screen Shot 2019-09-13 at 8.02.27 PM.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/446fe30c-22d6-4c62-aa15-65912f824952)

![Screen Shot 2019-09-13 at 8.01.07 PM.png](htt

[2019-09-16 18:21] #578 closed

[2019-09-16 18:33] #587 closed

[2019-09-16 18:34] mateoclarke commented on #566
My notes:

- Add new column to Unit
  - "Direction of movement"
    - Ex: southbound, left turn
  - With this info MS2 can provide crash diagrams
  - Need example of field values, and define how many columns
  - Natalia: Even just a field reflecting a left turn or a right turn,
    - Manner of collision might already solve this
    - "fhe_collsn_id"
  - Sergio it looks like Collsn_lkp table is mis

[2019-09-16 19:03] #566 closed

[2019-09-16 19:40] johnclary opened #589 "TDSD Application - Pre-Launch Checklist"
Things that need to be done before we launch the Development Review Workflow app.

- restrict/unrestrict test user access
- record cleanup
- verify password strength/security configuration in place
- ?

[2019-09-16 19:41] johnclary commented on #589
@dianamartin would you update this and create issues as needed to this Epic? FYI @TracyLinder

[2019-09-16 20:02] johnclary opened #590 "Configure ADFS"
Configure single sign on on the TDSD application: https://atd.knack.com/development-services#home/

[2019-09-16 20:08] johnclary commented on #590
I've initiated setup on the home page. I sent CTM our app metadata. They will complete their setup, send us their metadata, and I will finish up setup in Knack.

[2019-09-16 20:32] amenity opened #591 "Complete position review form for temporary PM"

[2019-09-16 20:41] sergiogcx commented on #133
This is done, just needs your review:

For the `data` folder:
`~/maintenance-scripts/transportation-data-publishing-datacsv.sh`

For the `xml/sent` folder:
`~/maintenance-scripts/transportation-data-publishing-dataxml.sh`

For testing, just run (it will only print the files that are going to be deleted):

[code]

Crontab (every day at mid-night, and five after midnight):

[code]

Review, and pleas

[2019-09-16 20:48] sergiogcx commented on #133
My understanding is that crontab runs from root's home directory, tested the script execution from there and it lists all files to be deleted.

Also: do we care to log the files that have been deleted?

[2019-09-17 00:09] johnclary commented on #133
@sergiogcx beautiful. the test ran successfully and i uncommented the `rm` statement.

i do not care to log the CSV files, but logging the XMLs makes sense to me. would you just keep a log in `/maintenance-scripts`?

[2019-09-17 00:27] johnclary commented on #343
Merged to `master` and letting `master` run on production for a day until promoting to production.

[2019-09-17 18:06] dianamartin opened #592 "Make test users "inactive""
Need to do this in order to make sure they're out of the system so that I can delete the test records without issue.

[2019-09-17 18:09] dianamartin opened #593 "Delete Test records in TDSD app"
- [x] Delete all test records from `development_review` - 191 records
- [x] Delete all test records from `review_cycles` - 22 records
- [x] Delete all test records from `reviewer_comments` - 51 records

[2019-09-17 18:15] dianamartin opened #594 "Basic help guide for TDSD application"
- [x] Create help guide (if time permits)

[2019-09-17 18:27] dianamartin opened #595 "Project: Integrated Parking Citation Reporting"
Unlock and integrate parking citation data from the Brazos system to enable reporting and insights. This is currently accomplished haphazardly by importing/exporting spreadsheets  into SharePoint.

# How might we integrate Brazos citation reports with Knack?

## Challenge
The Parking Enforcement Division currently has a Knack application to track their reporting citations by citation type and by e

[2019-09-17 19:16] amenity commented on #498
Decided to give up the GH for social good work — too much energy to coordinate.

[2019-09-17 19:16] #498 closed

[2019-09-17 19:37] #551 closed

[2019-09-17 19:40] amenity commented on #140
Thanks, @johnclary ! https://docs.google.com/document/d/1lptGEGhvpAiwVBrgQ8V8s4gRwFslUbh-HUFXeXJUypU/edit#

[2019-09-17 19:40] #140 closed

[2019-09-17 19:43] amenity commented on #497
Did not end up completing these; withdrew from project.😞

[2019-09-17 19:43] #497 closed

[2019-09-18 04:00] johnclary commented on #343
It's done. Merged to prod and prod is running on the prod server again. prod prod prod.

[2019-09-18 04:00] #343 closed

[2019-09-18 12:07] johnclary opened #596 "Purchase Storage Lockers"
For the shower-ers.

PR submitted on 9/16:
https://atd.knack.com/finance-purchasing#my-purchase-requests/purchase-request-details/5d7fde9211e95f001021c421/

[2019-09-18 12:45] johnclary opened #597 "FY19 SSPR Closeout"
- [x] Diana
- [x] Mateo - 9/18
- [x] Tracy - 9/30
- [x] Amenity - 9/18
- [x] Scott
- [x] Jaime - 9/17

[2019-09-18 12:46] johnclary opened #598 "SSPR FY20 — Planning"
- [ ] Diana - 10/6
- [ ] Surbhi - 10/8
- [ ] Alan - 10/16
- [ ] Amenity - 10/16
- [ ] Jaime - 10/15
- [ ] Mateo - 10/25
- [ ] Scott - 10/14

[2019-09-18 17:03] sergiogcx commented on #267
Saw this on slack #atd channel:
https://capmetro.org/ridership-stats/

[2019-09-18 17:23] johnclary commented on #542
@alan-deanda your contact at PARD is amanda.ross@austintexas.gov.

[2019-09-18 17:28] #591 closed

[2019-09-18 18:27] amenity commented on #547
@johnclary - this looks like a dupe of #595 ... yes?

[2019-09-19 14:34] atdservicebot opened #599 "Please add Sean MacLeod to the Data Tracker distribution list for changes to Signal Construction Upd..."
Email

Describe the problem.

How soon do you need this?

Request ID: DTS19-100200

[2019-09-19 15:37] johnclary commented on #590
@dianamartin this is done. would you please test?

[2019-09-19 15:38] dianamartin commented on #590
@johnclary Certainly, I saw you working on it the other day.

[2019-09-19 15:42] dianamartin commented on #590
@johnclary Tested ADFS sign in, works like a charm.

Can we make the button color match the rest of the app?
HTML `#163F6E`

[2019-09-19 16:45] alan-deanda commented on #542
@johnclary the origins table seems to be the same as the destination table. I test-geocoded 1000 trips from each and they all coincide.
From looking at your code above, I think I may have spotted the error:

[code]
Would changing it to start_long/lat fix it?

[code]

Thanks!

[2019-09-19 19:58] TracyLinder commented on #599
@dianamartin @SurbhiBakshi - This is a Data Tracker user account request.

@amenity I've removed us from this ticket, and moved to the 'On Deck' pipeline. Cheers!

[2019-09-19 20:41] dianamartin commented on #599
I updated the Signal Construction Distribution Email and added Sean.

@SurbhiBakshi

**Steps to add new person to email distribution**
1. Data Tracker | Production
2. Go to `signal` object table
3. under the `Tasks` tab
4. Click `Send Construction Status Email`
5. Click `Action` tab
6. Add email
7. then `Update Task`

[2019-09-19 20:41] #599 closed

[2019-09-19 21:18] johnclary commented on #542
@alan-deanda good catch! yep, will re-run the query

[2019-09-19 21:30] mateoclarke commented on #564
Created a new repo to track todos and aggregate documentation and code for this project.
https://github.com/cityofaustin/atd-micromobility-aggregation-privacy.

Links to SoW and draft timeline

[2019-09-19 21:30] #564 closed

[2019-09-19 21:32] mateoclarke commented on #482
https://docs.google.com/document/d/1AbdzYOfbRYPXLKCmppS9ti7JhQjugryPkKQlOD0E_xU/

[2019-09-19 21:32] #482 closed

[2019-09-19 21:32] mateoclarke commented on #480
https://github.com/cityofaustin/atd-micromobility-aggregation-privacy

[2019-09-19 21:32] #480 closed

[2019-09-19 22:59] johnclary opened #600 "Signal Timing Dashboard: Show Green Text if Travel Time Savings is Positive"
Jim requested that the signal timing dashboard display green indicator text if the total travel time savings is positive, and red if it's negative. Currently, the dash uses red text if the travel time savings is lower than the annual goal.

![Screenshot.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/b8b71fa6-0d1d-49b7-9e6c-4644ac9f892e)

[2019-09-19 23:00] johnclary commented on #600
@mateoclarke probably a good for Tyler.

[2019-09-19 23:11] mateoclarke opened #601 "Data request: Micromobility summary of miles per trip"
**Deadline: Friday, September 27**

From email:

We should be able to do this from the open dataset:
https://data.austintexas.gov/Transportation-and-Mobility/Shared-Micromobility-Vehicle-Trips/7d8e-dm7r

~Asking for clarification if this should include only `vehicle_type == "scooter"` or `bicycle` as well.~ All modes.

[2019-09-20 04:33] johnclary commented on #590
Yes—it’s a setting on the login page config.

On Sep 19, 2019, at 09:42, Diana Martin <notifications@github.com<mailto:notifications@github.com>> wrote:

*** External Email - Exercise Caution ***

@johnclary<https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjohnclary&data=02%7C01%7CJohn.Clary%40austintexas.gov%7C62c38f51cfdb440b681608d73d17f8f5%7C5c5e19f6a6ab4b45b1d0be

[2019-09-20 13:57] dianamartin commented on #590
I found where to update it:

_Home>Login Form_
_Options_ (on the left menu)>`credentials` (link the right of COACD)

Login Button (section)
Button Color:

[2019-09-20 13:57] #590 closed

[2019-09-20 14:31] dianamartin commented on #406
@johnclary We should try to close this by end of Oct.

[2019-09-20 15:55] #577 closed

[2019-09-20 16:02] johnclary commented on #184
Bumped to Sprint 8. We can do it!

[2019-09-20 17:10] #528 closed

[2019-09-20 17:21] mateoclarke commented on #601
Article that inspired this report:
https://www.smartcitiesdive.com/news/micromobility-could-replace-48-of-car-trips-in-10-us-cities/562489/ @sergiogcx

[2019-09-20 17:56] dianamartin commented on #220
### Must Have List from Requirements Doc

Submit an inventory request online | Must have | Order management | x | x |   |  
-- | -- | -- | -- | -- | -- | --
Submit an inventory request in-person | Must have | Order management | x |   |   |  
Return an inventory item to the warehouse | Must have | Order management | x |   | x |  
Fulfill an inventory request | Must have | Order management |   |   |

[2019-09-20 20:16] johnclary opened #602 "Complete Civic Futures Nomination Details by 9/24"
From Stephanie:

We’re looking forward to displaying photos and information about your work during the Awards event on October 2nd. We’ve prepared a Google Doc for you to provide more information about your work, including photos of your work and team members:

 https://docs.google.com/document/d/1IGnFN9N5BTlnaWbHis7-AqSiJBHN6QMCN9s5Xm4fi9A/edit#

Two related dates:

The first section includes inf

[2019-09-20 20:19] johnclary commented on #602
@amenity @dianamartin i don't think i'll have a chance to work on this before i leave. thanks for taking care of this!

[2019-09-20 20:29] johnclary commented on #596
Purchase approved. Asked Jen and Brian how we order from Grainger.

[2019-09-20 21:07] johnclary opened #603 "B-Cycle Publisher is Failing Unknown "months" attribute"
See `bcycle_trips` log on http://transportation.austintexas.io/publisher

[2019-09-20 21:45] #554 closed

[2019-09-20 21:46] johnclary commented on #548
I like roadmunk so we'll continue using it for the time being.

[2019-09-20 21:46] #548 closed

[2019-09-20 21:47] johnclary opened #604 "Subscribe to Roadmunk"
It's working pretty well. Starter version is $20/mo.

[2019-09-20 21:48] johnclary commented on #439
We've done some preliminary work and I just don't think this fits our need at the moment. Will let the vendor know.

[2019-09-20 21:48] #439 closed

[2019-09-20 21:49] johnclary commented on #526
I'm going to backlog this for now. I want to move this forward but we have a lot of work on our plate.

[2019-09-20 21:55] TracyLinder opened #605 "UAT 9/20/19: Development Review Application"
**Objective:** Identify any changes necessary before going live on 10/1
**Participants:** Tracy, Nathan, Sangeeta, Amber

[2019-09-20 22:56] TracyLinder commented on #605
**Issues That Must Be Resolved Prior To Launch:**

- [ ] Fix issues with the Development Review Dashboard
    - When Sangeeta attempts to view the Development Review dashboard, only a blank screen populates
    - Tracy had the same results from her test account; both links to the dashboard go to a blank page
- [ ] On the Development Review Table, Change the 'RSN' field name to 'AMANDA ROW ID'
- [

[2019-09-20 22:56] #605 closed

[2019-09-21 00:03] sergiogcx commented on #601
@mateoclarke

These are my findings:

| Category  | Count | Pctg % |
|------|---|----|
|0-1 | 432689700 | 62%|
|1-2 | 141150700 | 20%|
|2-3 | 43560000 | 6%|
|MORE | 83516100 | 12%|
|TOTAL | 7009165 | 100%|

I downloaded the entire dataset from the link above (`https://www.smartcitiesdive.com/news/micromobility-could-replace-48-of-car-trips-in-10-us-cities/562489/`), put in in a SQL instance and ra

[2019-09-21 00:05] sergiogcx commented on #601
I will also lave the data in the RDS instance in case we need to run more queries.

[2019-09-22 22:40] amenity commented on #535
@johnclary - I think this is complete...Bumping to Review/QA

[2019-09-22 22:45] amenity commented on #271
@johnclary - does this need more review? If so, what/who?

[2019-09-23 14:04] #238 closed

[2019-09-23 14:55] sergiogcx opened #606 "Run Right-of-way Inspection Tool"
The right-of-way tool needs to be run, this script processes Right-of-Way Permits and prioritizes them for inspection based on roadway attributes.

https://github.com/cityofaustin/atd-amanda/issues/131

[2019-09-23 16:18] TracyLinder commented on #535
@amenity I don't think so.

[2019-09-23 16:22] amenity opened #607 "Create issues for app requirements"

[2019-09-23 16:29] amenity opened #608 "Review VZA citation app progress"

[2019-09-23 16:41] sergiogcx commented on #606
The issue was completed, the file was uploaded to the same directory as the CSV files initially provided. See issue https://github.com/cityofaustin/atd-amanda/issues/131

[2019-09-23 16:45] amenity commented on #240
Duplicate of #220

[2019-09-23 17:11] mateoclarke opened #609 "VZE/VZD: Drawing tool for Location boundaries"
_Idea from John we need to flesh out and prioritize_

- functionality for version control and street name standardization

[2019-09-23 17:21] amenity opened #610 "Meet with users to review demo and learn about order management"
### Objective
- Demo existing functionality
    - What needs to be seen on inventory pages?
- Talk to users about barcode ID - auto-increment vs stock number
  - We're okay with auto-gen ID, stock number should be on barcode sticker.
- Get feedback on the must-have order management functions - walk me through this process
  - Billy - walk through customer/technician item order
  - Ray - walk thoug

[2019-09-23 17:21] dianamartin commented on #221
Duplicate of #610

[2019-09-23 17:31] #412 closed

[2019-09-23 17:33] dianamartin commented on #20
Meeting with users to review demo and learn about order management before deep dive into development of warehouse inventory. Clarifying user stories for the `Must Have` - Order Management requirements.

[2019-09-23 17:54] dianamartin opened #611 "Submit an inventory request in-person"
### As a technician you need inventory material for your upcoming project and need those items pulled from the warehouse.

[2019-09-23 17:55] dianamartin opened #612 "Return an inventory item to the warehouse"
### As a technician, I did not use all the items I requested for the project. I need to return these items back to inventory.

### Reasons
1. Asked for too much stuff
2. Warranty item
3. Bring it out to job and doesn't needed to be replaced
4. Bring it out and is not the right item, need to get other type/model

Current Process
- Bring back item
- Modify the ICF
- Change quantities

[2019-09-23 17:56] dianamartin opened #613 "Fulfill an inventory request"
### As a warehouse staff member, recieve the ICF.

### Fulfillment process
- Use ICF to pick items
- Can stage items, but usually on the fly

### Documenting the Order
- ICF - Inventory Control Form
- Get ICF form
- Scan and copy form (as needed)
- Enter in AIMS - item used
- File ICF form filing cabinet

[2019-09-23 17:57] dianamartin opened #614 "Track person to whom an item is issued"
### As a AMD Supervisor and Warehouse staff member I want the ability to see how many requests a customer has requested and what items were issued to that customer.

- [x] Need to create a page to show related orders by person

[2019-09-23 17:58] dianamartin opened #615 "Bill inventory items to one or more task orders"
### As a AMD supervisor I want track the items so that can be charged to a project to get reimbursable money for the division.

This is already on the ICF and will be on the DICF/EICF too.

[2019-09-23 18:00] dianamartin opened #616 "Receive an inventory shipment"
### As a Warehouse Staff member I want ability to let Finance know that a shipment has been received so that finance can pay the invoice.

[2019-09-23 18:00] dianamartin opened #617 "Restock Inventory Items"
### As a warehouse staff member I want the ability to change the quantity of the item so that it matches the AIMS inventory system and know how much is on hand in the warehouse.

[2019-09-23 18:01] dianamartin opened #618 "Print barcode labels"
### As a warehouse staff member I want the ability to generate barcode labels so that I can put them on the shelves of the warehouse to track the items.

[2019-09-23 18:01] dianamartin opened #619 "Manually adjust inventory levels to reconcile discrepancies"
### As a warehouse staff member I want the ability to change the quantities to make sure that I'm tracking the items on hand and documenting and discrepancies.

[2019-09-23 18:11] #133 closed

[2019-09-23 18:39] jaime-mckeown commented on #254
- CTM is now not recommending the use of Oracle Sequence/Triggers for calculating Unique ID values, therefore moved on to researching ArcGIS Pro Attribute Rules instead. The Attribute Rules in Pro will provide exactly what is needed for calculating the Unique ID values for the GIS Parking data that requires no additional work by the user as the field is automatically populated.
- Work has continue

[2019-09-23 19:16] SurbhiBakshi commented on #610
September 23, 2019.

Inventory App

Diana will demo existing functionality -

Barcode ID - Auto increment vs stock number
Auto gen id works, stock number should be on barcode sticker.

Must have Order Management functions - walk through this process.

Billy - Walt through customer/ technician item order

Ray - walk through warehouse staff item

Should the cost be included in the Manage Inventory p

[2019-09-23 19:18] SurbhiBakshi commented on #610
Restock inventory is considered a transaction, so can remove the button.

[2019-09-23 19:25] SurbhiBakshi commented on #610
How hard is it to mirror PR process, and include an approval step? especially when supervisor or staff needs to make sure that customer has ordered items that need to be ordered together or is not ordering more than needed.  Need a location code on everything.

[2019-09-23 20:07] SurbhiBakshi commented on #610
**Current Process -**

- Actual Transactions - someone turned in a new request.
- Not tied to Data Tracker right now, will be in the future.
- Will this app replace any tasks? Or will be an addition? Currently staff references AIMS.
- Data entry would not be tied to AIMS, instead of a paper ticket that is handled right now. Currently paper ticket is handled 4-5 times, will this be an addition?
- I

[2019-09-23 20:09] mateoclarke commented on #601
This looks solid, but I think for consistency, we should've also filtered out messy trip data. This is what we've used in the past. Sorry for forgetting to tell you about this.

@sergiogcx

[2019-09-23 20:10] SurbhiBakshi commented on #610
**Proposed Process -**

- ICF (Inventory control form) comes in, processed through AIMS. Actual copy is filed in records, digital copy is made for AIMS, scan and copy. Hard copy maybe sent to City Financial ? sometimes.
- Data entry is done in AIMS as a transaction to show that someone used this item.
- Replace the ICF form. Customer can turn in the EICF - DICF. Electronic/ Digital?
- Billy wants

[2019-09-23 20:27] mateoclarke commented on #601
Updated with those new filters

| Category  | Count | Pct % |
|------|---|----|
|0-1 miles | 3,894,099 | 64.10%|
|1-2 | 1,429,512 | 23.53%|
|2-3 | 440,759 | 7.26%|
|>3 | 310,613 | 5.11%|
|TOTAL | 6,074,983 | 100%|

Updated query:
[code]

[2019-09-23 20:35] mateoclarke commented on #601
email has been sent to KT

[2019-09-24 16:15] amenity opened #620 "Update A & R nomination form to email committee members"
#326 has more complex enhancements for the Awards and Recognition nomination form, but there is one fix we can do for this round of awards: Have an email sent to all the committee members whenever someone submits a nomination.

[2019-09-24 17:32] mateoclarke commented on #601
Updated report has been requested.

- Control date range for YTD
- break down by mode

[2019-09-24 17:43] mateoclarke commented on #601
### Micromobilty Trip Distance by Mode

Category | Total Count | Pct % | Scooter Count | Scooter Pct % | Bike Count | Bike Pct %
-- | -- | -- | -- | -- | -- | --
0-1 miles | 3,419,646 | 64.28% | 3,298,070 | 65.78% | 121,576 | 39.72%
1-2 | 1,251,068 | 23.52% | 337,039 | 6.72% | 45,503 | 14.87%
2-3 | 382,542 | 7.19% | 224,295 | 4.47% | 42,186 | 13.78%
3+ | 266,481 | 5.01% | 1,154,283 | 23.02% | 96,7

[2019-09-24 17:54] #601 closed

[2019-09-24 18:18] #620 closed

[2019-09-24 18:29] amenity commented on #326
Putting this back in the backlog; low hangin 🍇 handled here: https://github.com/cityofaustin/atd-data-tech/issues/620.

[2019-09-24 18:33] #555 closed

[2019-09-24 18:34] #560 closed

[2019-09-24 18:54] amenity commented on #557
https://docs.google.com/document/d/1yNBGQf4Y3rUjkpHilxy49gRINYNKzzrUFZaeQSj4m-s/edit

[2019-09-24 18:56] amenity commented on #544
I think we can close this issue and open others if anything else comes up. @johnclary @TracyLinder ?

[2019-09-24 19:10] #534 closed

[2019-09-24 19:55] SurbhiBakshi opened #621 "Create Shift schedule"

[2019-09-24 19:56] SurbhiBakshi commented on #621
Lewis is able to create shifts using the Knack Calendar. Each shift has the following information -
-[ ] shift id
-[ ] shift date
-[ ] shift start time
-[ ]shift end time

[2019-09-24 20:15] SurbhiBakshi commented on #621
Shift scheduler is able to access forms to create shifts, and the assignments and teams related to the shift through a calendar interface.

[2019-09-24 20:31] SurbhiBakshi opened #622 "Shifts are assigned"
Shift assigner references shifts created  by Shift Scheduler and creates schedules in Revolution 911 (I am not sure this is needed,  will need to confirm this step is needed, think this can be eliminated if shift assigner and officers can access the Knack app interface).

Officers are matched with teams- assignments- shifts. Officers are sent an email notifying them of these assignments (can happe

[2019-09-24 20:52] SurbhiBakshi opened #623 "Officers start shift, issue enforcement actions, end shift"

[2019-09-24 21:02] SurbhiBakshi commented on #623
Officers are ready to start assigned shift. They check in and start shift.

Once on team assignments, they will record enforcement actions in the app with the following details - [ ] enforcement_action_id (auto increment)
- [ ] citation_number(need to check if this number is auto generated, and from where)
- [ ] vza_officer (this should be filled out based on sign in)
- [ ] time
- [ ] location (th

[2019-09-24 21:09] SurbhiBakshi opened #624 "Sprint Review with stakeholders"
[Presentation deck](https://docs.google.com/presentation/d/16A8vnQZa8AAjV3mz4DW0oZocnZVWwtfks7joFi_4Ank/edit#slide=id.g568eddf782_2_82)

- Work done til date
- Demo
- Questions
- Prioritize and up next

### Meeting Info
Scheduled: 10/16/2019

### Attendees
- Jen Duthie
- Patrick Oborski
- John Clary
- Surbhi Bakshi
- Amenity Applewhite
- Diana Martin

**On the Phone**
- Lewis Leff
- Randy

[2019-09-24 21:16] SurbhiBakshi opened #625 "Implement v1 reporting functionality"

[2019-09-25 14:30] SurbhiBakshi opened #626 "Test location component of form"
Test location component of form based on in app location services, but also figure out how to make it work for officers who record all actions at the end of the shift.

[2019-09-25 14:34] SurbhiBakshi opened #627 "Emulate interface for Signs and Markings"
Copy and modify CSS for Signs and Markings especially make buttons bigger for mobile user interface.

[2019-09-25 14:49] SurbhiBakshi commented on #621
- [ ] Set Event Date to today or after today, should not be able to create event dates in the past.

[2019-09-25 18:23] amenity opened #628 "Handout for exec team presentation"
Print out that shows Roadmunk visualization, unfunded and funded.

[2019-09-25 18:33] amenity opened #629 "Wiki pages on preferred software"
@johnclary - Anthony mentioned that at the exec team retreat Rob asked @TracyLinder for DTS to supply the department with a list of recommended software, e.g.
- Project management: Trello (need to see how Asana is working for ATSD?)
- Document sharing & collaboration: Teams/Google
- Realtime chat: Teams/Slack

Maybe we just say "Teams" for everything? I have a feeling there will be gaps. We know,

[2019-09-25 20:32] SurbhiBakshi commented on #625
individual performance

[2019-09-26 14:08] SurbhiBakshi commented on #608
NOTES FROM VZA Dev Review
Shift table
Shift calendar
Shift Details
Location/Assignments
Location/Assignments Details
  Volunteers connection (Accounts)
  Citation connection
  Citation form (on Location/Assignments Details) - similar to Prototype 1 form
My Assignments
Advanced Search
Citation Tables
Reports

[2019-09-26 20:18] amenity commented on #307
*Status update*

[2019-09-26 20:36] sergiogcx commented on #606
Closing

[2019-09-26 20:36] #606 closed

[2019-09-26 20:47] #608 closed

[2019-09-26 20:48] amenity commented on #209
@SurbhiBakshi - were you able to take any photos when you were there?

[2019-09-26 20:53] amenity commented on #145
**Status update**
@SurbhiBakshi has picked up this project. She went to meet APD user Pat O at his APD location to observe his current processes. She has begun definition of the Knack data model, functional requirements, and MVP implementation. She will be reaching out to the VZ team with a few questions about their workflow.

[2019-09-26 21:09] amenity commented on #389
**Status update**
We decided to limit the area of the initial Passport RPP implementation to West Campus. Beginning with this pilot brings the price below the needs-Council-approval threshold, making the amendment much simpler. We have brought on Stephanie M. as a part time project manager. She will oversee the Passport implementation and pick up where Teri left off for the RFP that will go out ne

[2019-09-26 21:20] #602 closed

[2019-09-26 21:20] #385 closed

[2019-09-27 17:33] SurbhiBakshi opened #630 "Meet Stakeholders to understand process for shift creation"
Meet with Lewis Leff and Randolph Davila to understand the nuances of the current process of creating shifts, assignments and teams. Meeting was originally scheduled for 27th Sept, but rescheduled to 2nd Oct.

[2019-09-27 17:38] SurbhiBakshi commented on #630
Questions -
- [ ] Why does the current process have shift, assignments and teams? Can the assignment step be rolled into the team one? Assignments have action and time information. Can that information be collected along with the team information of location, and team members?
- [ ]Does the enforcement action noted in the assignment guide the citations issued during that assignment?
- [ ] Where do

[2019-09-27 18:42] SurbhiBakshi commented on #630
Non Process Questions -
- [ ] how do we restrict assignment times to fit into shift times?
- [ ] how do we stop shift assigner from assigning an officer to an assignment if the officer is already assigned to another assignment?
- [ ] how do we ensure only the assignee is able to log records?

[2019-09-30 16:29] TracyLinder opened #631 "Project: DAPCZ Agenda Management Tool"
## Description
The DAPCZ agenda tool currently in use by Right of Way Management is a non-intuitive Microsoft Word document. Staff and stakeholders need a tool that will foster the coordination the DAPCZ processes depend on.

### Resources

---
This Github issue represents a project of Austin Transportation's [Data & Technology Services](https://transportation.austintexas.io/about/) team. Project

[2019-09-30 19:06] dianamartin commented on #592
I just made everyone `inactive` while I delete and import records.

[2019-09-30 19:06] #592 closed

[2019-09-30 19:52] dianamartin commented on #593
Deleted all test records

[2019-09-30 19:52] #593 closed

[2019-09-30 21:48] #589 closed

[2019-10-01 04:52] johnclary commented on #629
oof; can of worms, but i'm happy rob tapped us for it. maybe a menu of options with pros/cons/considerations, and a callout to our faves?

[2019-10-01 05:12] johnclary commented on #596
AMD has extra lockers which should have been moved to the kitchen at 8900. Need to confirm they're acceptable.

[2019-10-01 14:42] alan-deanda commented on #542
@johnclary I'm moving this project to Review/QA until or if PARD has any further requests.

[2019-10-01 17:33] johnclary opened #632 "Host a Data Needs Workshop for ATD"
We've been tasked by exec leadership to host a data needs workshop with ATD staff. The workshop will seek to identify unmet and future data needs, so that we can better plan for, fund, and address these needs in the long term.

The workshop can take whatever form we like. I'll setup a planning meeting.

[2019-10-01 20:41] atdservicebot opened #633 "This application will be used to track times and hours worked for the Right-of-Way permit team. This..."
Email

Describe the problem.

Describe the outcome you'd like to see when this feature is implemented.

I will be able to report more accurately on overtime worked.
Perhaps we can tie this attendance tracking into our current (KNACK enabled) customer sign-in app, to inform a larger picture out our walk-in customer management.

Describe any workarounds you currently have in place or alternative sol

[2019-10-02 15:58] SurbhiBakshi commented on #630
would like to see a list of locations that would populate the drop down menu, with the option to add more.

[2019-10-02 16:02] SurbhiBakshi opened #634 "Dev Review"
Attendees: John, Surbhi and Diana
Scheduled:10/10

[2019-10-02 16:26] SurbhiBakshi commented on #625
As per LLweis
- [ ] If there could be a way to add up number of citations written per shift (based on individual citation #, not violations), that’d be great.  We’d like to aggregate that and come up with an overall average
- [ ] Will we be able to quickly determine how many individual shifts were filled per month?  (For example, there are two teams of two officers for two periods of the day, so 8

[2019-10-02 23:30] amenity commented on #624
@SurbhiBakshi - was this our meeting last week?

[2019-10-02 23:35] #209 closed

[2019-10-03 13:24] SurbhiBakshi commented on #209
@amenity I did get some photos, and some of the documentation used in the current process.

[2019-10-03 14:05] SurbhiBakshi commented on #624
@amenity , yes, I am going to close this issue.

[2019-10-03 14:59] SurbhiBakshi commented on #634
Non Process Questions -

- [ ]  how do we restrict assignment times to fit into shift times?
 - [ ] how do we stop shift assigner from assigning an officer to an assignment if the officer is already - [ ] assigned to another assignment?
 - [ ] How do we ensure only the assignee is able to log records?
 - [ ] Since location information is getting captured by the device/ app, should there be a place

[2019-10-03 18:27] amenity commented on #209
@SurbhiBakshi - Yay! Would you please stick them here: https://drive.google.com/drive/folders/1IUXtA0WsDXK5WfFidIZCfuDg5DjkHvOt
And if you have any notes, please attach here as comments or link to a Google Doc.

[2019-10-03 19:34] #556 closed

[2019-10-03 19:35] #557 closed

[2019-10-03 19:36] amenity opened #635 "Attend & present at KnackCon 2019"
[Presentation](https://docs.google.com/presentation/d/1Aqm-phv8RcG8zeSlht0R4mTXH9b0tko67ylaevnnbeY/edit#slide=id.g63711e164f_0_55)

---
_**Notes**_

[2019-10-03 19:45] #635 closed

[2019-10-03 19:47] #630 closed

[2019-10-03 19:58] #607 closed

[2019-10-03 20:37] dianamartin commented on #573
- [ ] Test in Finance & Purchasing test application

[2019-10-03 22:14] amenity commented on #388
### New builder

**Major areas of improvement**
 - Live preview
 - Improved coding architecture — separate business logic from infrastructure etc.
 - Testing and stability — automated, maybe??
 - Huge effort into usability — product team will be v focused here, not just for basic users but also super users
 - Iterative approach — "We will never do this again" :) (going heads down for years of radi

[2019-10-03 23:33] #597 closed

[2019-10-04 14:04] dianamartin commented on #388
## Notes

Video Testimonial
How you used Knack?

Brandon - CEO of Knack
The Knack Story

Who is the Knack company?
What are they values?

Started in 2012
5k customers
30,000 apps
200 million records
29 Knack folks, 100 remote

Struggling with data, data management
Unique to your users

THE WHY?
Find your north star - it's you.

Software is providing so much value to customers

THE HOW?
Act on prin

[2019-10-04 14:06] dianamartin commented on #388
## Day 2 Conference Notes

[2019-10-04 15:14] #544 closed

[2019-10-04 15:30] dianamartin commented on #388
# Tips from the Trenches - panel
- Gui Marshall (Fine Mountain Consulting)
- John Bratincevic (Calabash)
- Graham Pellettieri (Pellettieri Associates, Inc)
- Ivan Jovanovic (Averra Technologies)

Discussion Points
- Having a trouble pinning down a: Single Contact, Ambassador, Project Champion
- An app is never finished
- ERD is helpful

_Changes being requested mid-stream, how do you manage that?_

[2019-10-04 16:32] dianamartin commented on #388
# Knack Roadmap - Brandon Griggs

## What drives the road map?
### Knack super power
- Usability
- Functionality
- Venn diagram (sweet spot - Knack)

### Tools over outcomes
- narrow their focus of user market

### Broad user base
- Can't just think of it for a specific group
- Must consider all users

### Customer Research
- Who are all these people?
- What patterns exist in Knack?
- What words t

[2019-10-04 18:04] SurbhiBakshi opened #636 "Questions for Stakeholders"

[2019-10-04 18:13] SurbhiBakshi commented on #636
- [ ] Do you ever need to edit a location?
- [ ] Would you ever need to see frequency of assignments or enforcement actions by the prescribed location? in which case, you should not edit the location, instead create a new location.

[2019-10-04 18:25] mateoclarke opened #637 "Purchase Request TablePlus"
What:
TablePlus
- database admin software for Mac
- useful for remote database connections
- SQL queries
- table/column/schema/triggers modifications

Why:
- I've been testing the free version and its really nice and easy to use. The main reason to upgrade to pro is because you can only have two tabs of work open at a time. It's good software and I think the cost is justified.

Cost:
https://table

[2019-10-04 18:36] dianamartin commented on #388
# Knack and Security
- Knack
- AWS
- Customers

## Areas of Responsibility
AWS
- Software
- Hardware

Knack
- Customer Data (Security in the could)
  - encrypt data, in rest and in flight
  - salting passwords
  - file uploads
  - redundancy
- Infrastructure
- Applications and Software
  - keeping software updated
  - hardening configurations
- Compliance & Auditing
  - HIPPA
  - GDPR
     - SCA -

[2019-10-04 20:04] dianamartin commented on #388
# Understanding Performance Trade offs - Nic
What you can do to improve your knack performance
- Uses `sums` & `counts`
Formulas can come with great complexity

Example
**Order App**
Have `quantity`
- made an equation, referencing from product
- take `quantity` and `product price`

In orders table
- add orders total

In order items
- add order total

Cascading updates, creating dependencies
Can ge

[2019-10-04 21:34] dianamartin commented on #388
# AMA
Knack is moving to SQL, from mongoDB

**Will imports, batch updates, or batch deletes ever be available for the live app?**
- risky for the user to mess up their apps

someone said, what about:
**Two stage - batch update and batch update, approval process?**
  - seems more complicated

**road map: asking about video?**
  - that's not a thing

**apps for phone or tablets?**
- new code base wi

[2019-10-07 14:52] alan-deanda opened #638 "Project: Bike Parking Data Inventory"
We're building GIS tools for tracking information about bicycle rack installations and maintenance.

DTS GIS staff has created an online bike rack data collection map for Parking Enforcement and Active Transportation to manage the installation and maintenance of bike racks in the city. Location data is currently being collected in the field by Parking Enforcement staff, who are providing feedback

[2019-10-07 16:00] johnclary opened #639 "Get VZA Citation Data from Brazos"
Can we get the VZA citation data from Brazos? We have an upcoming meeting with Tyler Tech, so we'll inquire about options.

@johnclary has been speaking with Trey about getting information via CSV files

@SurbhiBakshi has two additional  ideas
- Daniel Y. from ATD gets CRIS data to look at in Microstrategy
- There PDFs with a TON of information can be downloaded from Brazos through the web interfa

[2019-10-07 16:06] amenity opened #640 "Prep for Sprint Review"

[2019-10-07 16:19] amenity commented on #222
Don't really need this epic. :)

[2019-10-07 16:24] amenity opened #641 "Sprint Review with Warehouse Inventory stakeholders"
10/14/2019

[Slides here](https://docs.google.com/presentation/d/1-o0f0gk6-pCdZa9oheQRMvyglyqYTv9VCE844K05sr0/edit#slide=id.g1ebb8a7ebd_0_60)

[2019-10-07 16:30] amenity commented on #617
Duplicate of #570

[2019-10-07 16:31] amenity commented on #615
Let's discuss this in the sprint review

[2019-10-07 16:33] amenity commented on #613
@dianamartin - just confirm this is done & close please. :)

[2019-10-07 16:44] amenity commented on #641
@amenity schedule plz

[2019-10-07 16:49] atdservicebot opened #642 "Mobility Management Center Monthly Activity Report"
## Description
Jim Dale has requested monthly reports on progress from the Mobility Management Center, formerly known as the Transportation Management Center (TMC). PIO has met this request in a couple different ways:
- A [PDF version](http://austintexas.gov/sites/default/files/files/Transportation/ATD_Performance_Report_12-2018.pdf) was produced monthly from July to December 2018.
- They are now

[2019-10-07 16:55] amenity opened #643 "Preliminary research on ATD data needs"
Before doing hosting a workshop, #632, let's compile existing information on data needs:
- @dianamartin - will you upload Jacquie's previous survey [here](https://drive.google.com/drive/folders/1k3Nbl-g-LvUYn9jzxeiXUs3G3qWhsBl8)
- @amenity, @TracyLinder, @johnclary review BNAs

Based on this, create a survey that will fill in gaps and give us updated information.

[2019-10-07 17:03] johnclary opened #644 "Onboard Jace"
Jace starts on 11/4!

### Accounts
- [x] new Employee form (John)
- [x] Network account request (John)
- [x] Phone request (John)
- [ ] 1Password
- [x] Slack
- [x] Google Drive
- [x] Github Team
- [x] DTS Email Group (John)

### Software
- [ ] Zenhub Extension
- [x] Docking station driver

### Hardware
- [x] Desk/Office Space
- [x] Computer
- [x] Monitors
- [x] Docking station
- [x] Chair
- [x] Po

[2019-10-07 18:12] johnclary opened #645 "Recruit 3 New Techs for Pilot Phase"
@dianamartin we want to add three additional techs to the mobile signals pilot. Would you work with Billy to get this done?

[2019-10-07 18:15] dianamartin commented on #645
Skyped Billy, his response:

[2019-10-07 18:15] #645 closed

[2019-10-07 18:18] mateoclarke opened #646 "VZD Sprint Review #6"
### Objective

### Participants

### Agenda

------
- [x] Schedule meeting
- [x] Meet
- [x] Attach meeting notes to this issue
- [x] Create resulting issues

[2019-10-07 18:21] dianamartin commented on #645
Follow up convo
Me:

Bolander, Billy:

Billy:

Billy:

Billy:

[2019-10-07 19:12] johnclary opened #647 "Clarify w/ Lewis What Data We Have in VZD"
Make sure Lewis understands the date we last fetched CRIS data, and reiterate that crashes that happened prior to that date may be missing from our database, because we only did a one-time ETL.

[2019-10-07 19:32] johnclary opened #648 "VZD: Run New ETL from CRIS"
We need to refresh VZD with the latest CRIS data.

For testing, Mateo suggested:
- One query for "updated at": since last ETL
- 2nd query for all of 2019.

Compare differences.

[2019-10-07 19:47] johnclary opened #649 "Street Segments: Discuss Road Class Issues w/ CTM"

[2019-10-07 19:49] johnclary opened #650 "AGOL Training w/ TDS"

[2019-10-08 00:05] johnclary opened #651 "New Sign Service Requests Should Not Default to "Open" Status in CSR"
Gilda reports that 311 service requests of type: Sign - New (code: SIGNNEWT) are defaulting to "Open" status in the CSR system. This setting was changed during the signs migration preparation, however these SRs are handled by Traffic Engineering. We did disable publication of this SR type to the integration, but apparently the default "Open"  status was not returned back to defaulting to "New".

[2019-10-08 00:07] johnclary commented on #651
I reached out to Chandra and Sini and asked them to make the change.

[2019-10-08 00:23] johnclary commented on #637
@mateoclarke hit up @dianamartin to help you submit a purchase request and assign it to me.

[2019-10-08 00:37] johnclary commented on #547
@amenity the challenges around #595 is one of the reasons we want to do this project, which is to procure and/or have our own relationship with Brazos. We've identified this is a project that Stephanie could take on with whatever time is not dedicated to RPP. So I think 595 should icebox until we address this one here. cc @TracyLinder

[2019-10-08 15:20] atdservicebot opened #652 "Project: Parking Meters Work Order System"
Parking Enterprise needs a data tracker solution for work orders on service and installation of new and existing bike racks. This app can be a simplified copy of the existing markings or signs data tracker app
**Note: Scope may include a work order tracking solution for the entire work group, not just for this specific use case.**

## Background

Parking Enterprise is focusing on collecting the lo

[2019-10-08 15:22] sergiogcx commented on #648
I've requested the data, I got the files and ready to make comparisons. I can already tell the differences are significant, will provide details shortly.

[2019-10-08 19:37] dianamartin opened #653 "Add New User - Levi C."
Joe Tower
PE

Requested new user to be added

[2019-10-08 19:42] dianamartin commented on #653
Emailed user

[2019-10-08 19:42] #653 closed

[2019-10-08 22:08] mateoclarke opened #654 "ETL: Update our automation for nightly data dumps"
- Merging data across multiple csv files
- Importing data into both databases
- Reimplementing the scripts based on database changes
- Reimplementing the pipeline (assuming we have access to pull data from an SFTP server instead of using Capybara)

[2019-10-08 22:09] mateoclarke commented on #654
I've spoken with Auzzie and working with her to get access to the SFTP server that TxDOT currently send APD's extract to. Working on getting time with Larbi to get the set up so we can migrate our extraction process from Capybara to SFTP

[2019-10-09 02:11] johnclary opened #655 "Get New Projector for Allandale Conf Rooms"

[2019-10-09 02:12] johnclary commented on #655
Scott requested a quote from CTM purchasing. Once we have that, Brian C and I will review and submit a PR.

[2019-10-09 15:13] #542 closed

[2019-10-09 16:34] amenity commented on #408
Duplicate of #624

[2019-10-09 16:34] #408 closed

[2019-10-09 17:54] sergiogcx opened #656 "Knack-Proxy: Fix 502 Issues"
From speaking with John, it appears that the knack-proxy server is returning a bunch of 502's and it is difficult to determine if it is generated on our end, or coming in from Knack.

Two ways we can approach the problem:

1. Troubleshoot and refactor the knack-server.

2. Refactor and deploy to a lambda function in AWS.

[2019-10-09 17:55] sergiogcx commented on #656
Repo: https://github.com/cityofaustin/atd-knack-proxy

[2019-10-09 19:23] tcwcodes opened #657 "Unusual date formats in Traffic Signals and Pedestrian Signals dataset"
I was sorting through this <a href="https://data.austintexas.gov/dataset/Traffic-Signals-and-Pedestrian-Signals/p53x-x73x">dataset</a> and noticed that all but a handful of the dates under the "modified_date" field have a five-digit year, followed by month, day and time. For example: 51435 Jan 14 06:40:00 PM. It also seems to effect the "Detection Status Date" and "Comm Status Datetime" fields as

[2019-10-09 19:51] dianamartin commented on #657
@johnclary is this anything to be concerned about?

[2019-10-09 21:57] johnclary opened #658 "Respond to Dockless PIR 45523 (CDC Study Data)"
I provided the requested data to Joana for review. It's going to the AD because this is PII.

[2019-10-09 21:57] #658 closed

[2019-10-10 11:42] johnclary commented on #428
Adding [this signature page](https://app.zenhub.com/files/140626918/2d56b74f-d5c3-4dae-a296-62d15bc52898/download) document which was recently circulated to staff. It's being used to track employee receipt of open enrollment paperwork as well a t-shirt size. It's a twofer!

[2019-10-10 11:44] johnclary commented on #657
@dianamartin yes it is. assigning it to me. thanks @tcwcodes.

[2019-10-10 11:48] #403 closed

[2019-10-10 14:39] dianamartin opened #659 "Request for Markings Work Order Collection App, update filter on reports"
Susanne Gov
SMD

Emailed

[2019-10-10 18:12] johnclary commented on #641
@dianamartin my belated notes:

### App Changes
- "Requests Needing Approval": make this match the language we use in the PR system
- Order statuses - can we revisit these? I remember thinking "`requested`" was a bit confusing for an approved request. Maybe `waiting for approval` / `submitted` / `completed` ?

### Discuss with stakeholders:
- What should the approval process look like?
- What are

[2019-10-10 18:27] dianamartin commented on #659
After many failed attempts as making the correct connection from `specification_actuals` to `time log`, I got it to work. I changed fields around to capture the month number from **Date Worked** rather than **Job Completed Date**. The reports have now been updated too.

[2019-10-10 19:17] dianamartin commented on #634
### Notes of Dev Review

Started with:
Event Scheduling Worksheet (Set up in Revolution 9-1-1)

[2019-10-10 21:32] dianamartin commented on #659
Talked to Susanne she expressed that she needed the "Crew Number" field that she had been entering and needed a count of people per time log record. I exported the object and she populated the field and I re-imported the object back in, adding `Count Technicians` field.

[2019-10-10 21:37] dianamartin commented on #659
Skyped Susanne

[2019-10-10 21:39] dianamartin commented on #659
Susanne confirmed she saw the same thing on her side.

[2019-10-10 21:39] #659 closed

[2019-10-10 21:41] amenity commented on #644
@johnclary he's good with common people's keyboard, but wondering if we should get him a chair?

[2019-10-10 21:44] johnclary commented on #644
@dianamartin what's our chair situation? need one for jace. cc @amenity

[2019-10-10 22:33] dianamartin commented on #644
@johnclary @amenity we have a guest chair currently at the desk space for him. No new chairs unfortunately.

[2019-10-10 22:37] amenity commented on #641
[Slides here](https://docs.google.com/presentation/d/1-o0f0gk6-pCdZa9oheQRMvyglyqYTv9VCE844K05sr0/edit#slide=id.g1ebb8a7ebd_0_60).

[2019-10-11 17:30] dianamartin commented on #220
**Restock Items**
- [ ] Create new `Restock items` form
- [ ] Add to Page drop down menu
- [ ] Remove from button from Transactions page

**Move Items button**
- [ ] Create new `Move items` form
- [ ] Add to Page drop down menu
- [ ] Remove from button from Transactions page

**Test Forms**

[2019-10-11 19:03] johnclary opened #660 "Create Signs Asset Feature Class"
We need an authoritative street signs asset feature class. I believe we're going to want it to live on AGOL, so that we can reference the signs work order layers when doing QA/QC. But it's up for discussion.

[2019-10-11 19:04] johnclary commented on #660
@dianamartin would you work with @alan-deanda to make sure he has the schema for this?

[2019-10-11 19:05] johnclary opened #661 "Deploy Signs Work Orders > AGOL Publisher"

[2019-10-11 19:06] johnclary commented on #661
Open PR: https://github.com/cityofaustin/atd-data-publishing/pull/250

[2019-10-11 19:10] johnclary opened #662 "Project: GIS Sign Asset Management"
Sign data management work related to the [citywide sign data collection effort](https://austinmobility.io/projects/131).

## Background

This project is a collaborative effort between DTS and the Signs & Markings Division to improve the workflow and management of sign assets throughout the city. The main goal of this project is to establish a workflow to integrate ongoing sign installs and removal

[2019-10-11 20:26] dianamartin commented on #660
@alan-deanda I believe I send you the spreadsheet of the sign schema when you were creating these AGOL feature classes and GISMAINT layers.
[Network drive](G:\ATD\ATD_GIS\01_ADMIN\DATA_MANAGEMENT\Data_Migration\signs)
File Name: Signs_Layers_AGOL_MAINT_20190816.xlsx

[2019-10-11 22:11] #600 closed

[2019-10-11 22:11] tcwcodes commented on #600
Issue moved to [cityofaustin/transportation.austintexas.io #325](https://github.com/cityofaustin/transportation.austintexas.io/issues/325) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-13 16:09] johnclary opened #663 "Digitize Travel Requests and Reimbursements"
The finance manages staff travel requests and reimbursements through a combination of Excel, PDFs, and lots of printed paper. It requires nearly a full FTE to manage. Everyone is unhappy. No doubt there are out of the box solutions, but like so much of our business, I suspect a custom app is better suited to address the information capture and workflows our bureaucracy requires.

[2019-10-14 00:03] johnclary commented on #631
@TracyLinder this looks like a dupe of #93. I'm going to drop the 'Index' label from this one. Feel free to merge notes/close/etc. Thanks.

[2019-10-14 02:00] amenity opened #664 "Generate Barcodes for Non-AIMS Items"
### As a warehouse staff member, I need barcodes for all items, including non-aims items.

We need to come up with a standard scheme for creating non-aims barcodes. They do not necessarily need to be 11-digits, but they must be unique, and would ideally be driven by a combination of a categorical code and a sequence of numbers.

[2019-10-14 04:44] sergiogcx commented on #656
There is now a PR:
https://github.com/cityofaustin/atd-knack-proxy/pull/10

And a working prototype ready for testing:
https://jr5e1b4gsf.execute-api.us-east-1.amazonaws.com/production

[2019-10-14 16:14] alan-deanda commented on #660
@johnclary , @dianamartin should these be point or multipoint feature classes?

[2019-10-14 17:29] SurbhiBakshi commented on #634
- [ ] Make Calendar read only - take away functionality to drag event or add events, since there is no way of enforcing record rules to populate audit fields.

[2019-10-14 18:30] TracyLinder opened #665 "Meeting 10/21/19: TDSD Application Check-In"
### Objective
Project team debrief on the implementation of the TDSD application that went live on 10/1. Identify any blockers to or resources needed for full user adoption.

### Participants
Sangeeta Jain, Nathan Aubert, Joe Calabrese, Amber Mitchell, Diana Martin, Tracy Linder, Surbhi Bakshi

### Date/Time/Location
Oct 21, 2019 / 1:30-2:30pm / ATD Barton Oaks Rio Grande

### Agenda
* Is the appl

[2019-10-14 18:47] TracyLinder opened #666 "Meeting 11/5/19: TDSD Project - DTS Debrief"
### Objective
What did we learn from this project that we can use to improve our services?

### Participants
Tracy, Diana, Surbhi, John

### Date/Time/Location
Nov 5, 2019 / 2:30-3:30pm / Koenig @ Cameron

### Agenda
* Did we achieve the project objectives?
* What did we do right?
* What did we do wrong?
* What should we do next time?
    * Things we did right that we should repeat, mistakes we ma

[2019-10-14 18:55] johnclary commented on #641
@amenity @dianamartin my notes:

### TODO

- Rename "Project Name" to "Work Location"
    - Option 1: add support for signal asset selection and add an integration to pull asset tables from Data Tracker. The issue there being that that means pulling signals, school zones, and hazard flashers.
    - Option 2: add support for work order selection and add an integration to pull WOs from Data Tracker.

[2019-10-14 19:12] amenity opened #667 "11/4 Executive Team Presentation"
[Slides](https://docs.google.com/presentation/d/1so5_gpWGV05ABdCfUy2J2ELYqSPwi4vaJGnGvn2vw0s/edit#slide=id.g64ff39375a_0_251)

[2019-10-14 20:35] TracyLinder opened #668 "Create Documentation: DTS Service Delivery"
### Objective:

Identify & create all user/staff/stakeholder documentation needed prior to DTS Service Delivery roll-out.

[2019-10-14 20:53] #388 closed

[2019-10-14 21:20] johnclary commented on #660
@alan-deanda these should be point (not multipoint) feature classes. Thanks.

[2019-10-14 22:44] johnclary opened #669 "Produce CSV of Street Centerlines with ROW inspector Zones"
I am in need of a CSV which contains all of the [street segments](https://austin.maps.arcgis.com/home/item.html?id=a78db5b7a72640bcbb181dcb88817652) with the
`ROW_INSPECTOR_ZONE_ID` column from [ROW inspection zones](https://austin.maps.arcgis.com/home/item.html?id=9faba45a08524a458dd346c49361180f) layer.

This can be a simple spatial join. Each segment may cross into multiple zones. That's fine.

[2019-10-14 22:44] johnclary commented on #669
@alan-deanda can you take care of this one for me? @jaime-mckeown FYI

[2019-10-15 00:15] TracyLinder opened #670 "Bug: DTS Portal To GH Assignee"
**What Happened:** I was testing an AMANDA bug report submission. The issue created was assigned to Jamie.

**What Should Have Happened:** It should have been assigned to Tracy.

I'll try to attach the PDF of the form as I submitted it.
https://github.com/cityofaustin/atd-amanda/issues/151

**Related Bug:** The severe AMANDA bug report I just submitted was also assigned to Jamie.
https://github.co

[2019-10-15 00:17] TracyLinder commented on #670
[Portal Test 2.pdf](https://github.com/cityofaustin/atd-data-tech/files/3726841/Portal.Test.2.pdf)

[2019-10-15 00:23] TracyLinder commented on #670
[Portal Test 3.pdf](https://github.com/cityofaustin/atd-data-tech/files/3726854/Portal.Test.3.pdf)
This was what I submitted for the severe bug test.

[2019-10-15 18:31] TracyLinder opened #671 "Meeting: PE Work Order PM Assignment"
### Objective
Give Stephanie an overview of the project scope, where the project is in our workflow, and discuss next steps.

### Date/Time/Location
Oct 15, 2019, 1pm, Skype Meeting

### Participants
Stephanie Moorer, Tracy Linder

[2019-10-15 18:35] TracyLinder commented on #671
## Notes:

- [ ] Stephanie: Sign up for Github, let Tracy know when done
- [ ] Tracy: Add Stephanie to Github team
- [ ] Stephanie: Send stakeholders an email follow up, ask where & when to meet for discovery meeting
- [ ] Stephanie: Schedule discovery meeting

[2019-10-15 18:35] #671 closed

[2019-10-15 20:29] johnclary commented on #656
@sergiogcx I reached out Omar (CTM) and provided him with the new endpoint (knack-proxy.austintexas.io) and cert. We will hold until he's able to test.

[2019-10-15 20:49] alan-deanda commented on #660
@johnclary , both asset feature classes now live in AGOL [here](https://austin.maps.arcgis.com/home/item.html?id=ff625668dbe04e4d8ebd378397c2e86e&view=table#overview).

[2019-10-15 22:53] amenity commented on #641
Mostly captured all my notes above, but a few extras:

Restock Items
- [ ] Remove _Toomey_
Currently have poles in three locations; by the end of the month will all be in one; nothing in Cameron will also be in pole yard

Inventory Item Details
- [ ] Rename Request ID to Purchase Request

Idea for piloting: Begin by giving Billy access and he will have people fill it out on his tablet to see how i

[2019-10-16 00:26] amenity commented on #209
@SurbhiBakshi - bump ☝️ 😉

[2019-10-16 00:59] SurbhiBakshi commented on #209
[https://drive.google.com/open?id=1I-nWVbpAV6OA90CC_AKr_O1obDh7HKgr(url)

[2019-10-16 01:02] SurbhiBakshi commented on #209
@amenity - Added a handwritten log, LLewis's schedule of shifts, and RDavila's assignments.

[2019-10-16 03:08] mateoclarke commented on #646
https://docs.google.com/document/d/1MDHaApLsQ-_akUVLMUn0Eh05HKjYmrjgL_mURtwS9WQ/edit#heading=h.3sdgu3b3w33l

[2019-10-16 15:19] alan-deanda commented on #669
@johnclary I've saved the CSV to AGOL [here](https://austin.maps.arcgis.com/home/item.html?id=dd88cc32f53949559d1ece01f729b8bf). It contains all segments and their respective inspector zones. There are segments with multiple records per row, like the South Congress bridge over Lady Bird Lake (there's a record for zone 1 and zone 4).

[2019-10-16 16:41] dianamartin commented on #624
## Notes with stakeholders
Showing the home page

Lewis: creating the shifts and assignments
Randy: reviews assignments and assign officers
Officers: view shifts, add citations

[2019-10-16 19:02] amenity commented on #642
Spoke to @johnclary about this — existing enhancements and feature requests might cover a good number of these metrics. We'll need to review and prioritize those, then follow up on how to capture the data itself. (Much is infrequently tracked, tracked in spreadsheets, etc. )
cc/ @tcwcodes

[2019-10-16 19:06] amenity opened #672 "Create slides for DTS values in presentation template"

[2019-10-16 19:11] amenity commented on #636
See notes in #624.

[2019-10-16 19:11] #636 closed

[2019-10-16 19:11] #640 closed

[2019-10-16 19:12] amenity commented on #527
Duplicate of #667

[2019-10-16 19:12] #527 closed

[2019-10-16 20:42] johnclary opened #673 "Location Details: Replace Type of Vehicle pie chart with horizontal bar chart of crashes by mode"
Replace the chart pictured in the attached screenshot with a chart of crashes by mode.

![Screen Shot 2019-10-16 at 3.41.41 PM.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/a344dc79-febd-4210-b320-7f006f98d4b6)