[2021-10-11 23:35] #7417 closed

[2021-10-12 13:46] #7391 closed, assigned to jaime-mckeown

[2021-10-12 13:47] #7044 closed, assigned to jaime-mckeown

[2021-10-12 13:50] jaime-mckeown opened #7418 "Add Nearest Street Segment ID to SZB GIS Data"
From Diana:

[2021-10-12 14:12] amenity commented on #7117
Christina spoke with Bowie on Friday and has a few suggestions. Going to work with Christina on this today.

[2021-10-12 14:24] amenity opened #7419 "Review requested fields and compare with AGOL data"
[smb_specs_materials.xlsx](https://github.com/cityofaustin/atd-data-tech/files/7330761/smb_specs_materials.xlsx)

Susanne is going to add all the data manually and then Diana will check it.

[2021-10-12 14:26] patrickm02L commented on #7413
@frankhereford Please take a look at this and let me know if this is something we can accomplish by EOW.

[2021-10-12 14:30] amenity commented on #7202
The subtype field is really important to follow relevant Street and Bridge areas that count as unstriped streets. The completed field isn't as important.

[2021-10-12 15:17] TracyLinder opened #7420 "Update Nazlie's Permissions for SC"

[2021-10-12 15:18] Nadin-Nader commented on #7352
@Sreelatha-BlazeKannan @TracyLinder I have sent this over to the DevOps CM Team to deploy to **_DEV_** under **SCTASK0173015**

[2021-10-12 15:18] TracyLinder commented on #7420
@Nadin-Nader Nazlie needs the same permission on SC that Amber has. Can you please work w/ her for the NURF?

[2021-10-12 15:32] atdservicebot opened #7421 "Update signal retiming corridor extents and prototype new approach"
Create Excel template for Brian and Lance to identify updated signal retiming corridors and perform bulk update through Knack back end.

### Request

Data Tracker

Need help changing extends of existing retiming corridors, but don't see where the corridor to signal definitions exist.

https://atd.knack.com/amd#sync-corridors/?view_367_filters=%5B%7B%22value%22%3A%22ACTIVE%22%2C%22operator%22%3A%22

[2021-10-12 15:45] dianamartin commented on #7418
Thank you! :trophy:

[2021-10-12 16:13] jaime-mckeown commented on #7394
Reviewed her Creating Pro Project Templates Packages How-To document. I will need to look into using Packages instead and see how the SDE connections work within them.

[2021-10-12 16:13] #7394 closed

[2021-10-12 16:16] johnclary opened #7422 "[BUG] Task order > Knack integration is failing with formatting issue"
Our currency formatter function is unable to handle an empty value. As a result, task orders are not being updated in Data Tracker.

Here's the airflow error in question:
[code]

[2021-10-12 16:32] #7413 closed, assigned to frankhereford

[2021-10-12 17:05] frankhereford opened #7423 "Pull CR3s for Gracy Farms @ Burnet Crash Diagram"
I received an email from Adam B. today requesting a set of CR3s be pulled for a crash diagram. This diagram was created prior to me working on that project while I was working as part of the VZ team, which is why it was missing auxiliary data.

Upon approval from @patrickm02L, I responded requesting a geographic extent and time interval, however Adam responded with a list of crash IDs, which made

[2021-10-12 17:07] andrewshensky opened #7424 "REQUEST to add new employee, Melissa B. to DTS Portal"
New Employee, Melissa B. was added to the Human Resources Manager application on 10/12/2021.
This is a notification request to add new employee, Melissa B. to DTS Portal.

•	First Name: Melissa

•	Division: Finance
•	User Role: Viewer (Unless a DTS team member)
•	Home Office Photo - leave blank
•	Send an email intro - No

[2021-10-12 17:46] #7424 closed

[2021-10-12 18:17] #7386 closed, assigned to dianamartin, ChrispinP

[2021-10-12 18:19] dianamartin opened #7425 "[Research] TIA Memos - Collect variety and number of memos types"

[2021-10-12 19:58] jaime-mckeown opened #7426 "ATD Maintained Streets Attribute Rule Error with Single Member Districts"
Christina let me know that ATD Maintained Streets was having the issue again with accessing the single member districts layer for the attribute rule.

[2021-10-12 19:59] jaime-mckeown commented on #7426
Since we have no control over that layer and it is a maintenance layer, we are disabling that rule moving forward. This way she will not continue to run into that problem.

[2021-10-12 20:01] #7426 closed, assigned to jaime-mckeown

[2021-10-12 20:21] atdservicebot opened #7427 "Map the signal requests that need "observation""
ArcGIS

Can you map the signal requests that need "observation"?

Soon — This week

Renee O.

Request ID: DTS21-102810

[2021-10-12 20:22] frankhereford opened #7428 "[BUG] WSOD on Moped teams tab when viewing a certain project"
On the deploy previews and https://moped.austinmobility.io/moped/, the WSOD can be found by visiting [project 176](https://moped.austinmobility.io/moped/projects/176/) (Manor Rd. from Dean Keeton St. to US 183) and clicking on the “team” tab.

When discussing the issue with @amenity, she recalled that this has been previously observed, which @chiaberry affirmed. I looked through open issues, and I

[2021-10-12 20:22] #7408 closed, assigned to johnclary

[2021-10-12 21:29] Nadin-Nader opened #7429 "New UC Folder Review Fee needs to be added to UC Folders with a "Pending Customer Action" status upon submittal"
CPO needs to have UC Folder folders  (or come from the Site Plan or GEP folders), that are "Pending Customer Action" from the self assign process to have the UC Review fee added when Customers complete the application (submit the action required). This is an addition to #6401

Stakeholders: Jaclyn, Isaiah

Acceptance Criteria:
When the applicant makes the required actions on anything that has a st

[2021-10-12 21:31] alan-deanda opened #7430 "ASMP Amendment support"
Systems development needs to be able to compare existing street levels to suggested street levels in order to present and talk about the proposed changes.
I've helped Dan Brooks explore the data in ArcPro so that he can make reports based on the street geometry and related tables.

[2021-10-12 21:49] #7422 closed

[2021-10-12 21:49] chiaberry commented on #7359
@amenity ive been working on this while poking around material table, should "change color to primary main on hover" apply to the information icon, or the whole column title? all of the column titles?

[2021-10-12 21:52] jaime-mckeown commented on #7399
Went through the bus routes and updated the Bus Routes field in the ASMP Street Public Trans HIN layer. There were many changes since so many bus routes were stopped when everything was closed.

[2021-10-12 21:52] #7399 closed

[2021-10-12 22:32] dianamartin opened #7431 "[BUG] User's name is no longer auto-populating in the TLC form and Time Log form"
Ashlande E.
Finance

Emailed

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/5df55e4f-47df-4d0d-acaf-791bac59c8da)

[2021-10-13 04:03] amenity opened #7432 "Calculate and render high-level project dates based on project timeline"
## Calculate
Would require that we have a shared definition of which [phase/milestone](https://docs.google.com/spreadsheets/d/13EbvdJNoZRCXQOJZJdrUqTUb2-o2puMXhiZN_94_go0/edit#gid=217441231) these should be attached to... And probably create each project with those phases/milestones by default.

- Fiscal years (spans all phases of a project?)

- [x] Projected start date (start of Construction phas

[2021-10-13 04:08] amenity commented on #5464
Closing this as it's covered by other issues:
### New fields editable on Summary tab
- Project sponsor #7358
- Project workgroups - multiselect from workgroups #7358
- Funding source - multiselect #6994
- End date - #7432

---

### Read-only fields editable on other tabs
- Current phase (done)

[2021-10-13 04:28] amenity commented on #6205
This is kinda old and overlapping with other things.

[2021-10-13 05:54] amenity commented on #7402
Ideas for how to show the active filters:

### Blue circle
<img width="749" alt="Screen Shot 2021-10-13 at 12 16 36 AM" src="https://user-images.githubusercontent.com/1463708/137074814-73be7967-786c-455e-8b5a-54c840554c67.png">

### Blue icon
<img width="765" alt="Screen Shot 2021-10-13 at 12 18 34 AM" src="https://user-images.githubusercontent.com/1463708/137074912-226984bc-3612-4ab6-8713-dfc6568

[2021-10-13 05:57] #6653 closed

[2021-10-13 07:05] amenity commented on #7428
Thanks, @frankhereford! I actually meant _closed_ issues. I found [this PR](https://github.com/cityofaustin/atd-moped/pull/314) but that was responding to `Cannot read property 'first_name' of null` whereas the console errors I'm seeing this time are `Cannot read properties of undefined (reading 'workgroup_id')` ...

Could still be a deleted user, being as that it's the "Teams" tab.

[2021-10-13 14:03] jaime-mckeown commented on #7395
Meeting was cancelled that was scheduled for 10/13.

[2021-10-13 14:37] moorerst commented on #7370
Updates made by Chia to the Banner integrations:

- Add date of hire when creating new record in knack

- Add created_date when creating new record in knack

- Add user_role of Staff to new records

-  If employee's class is contractor do not mark as inactive

-  Update Banner Division Name with information in banner field divn_name

- if record in knack has Separated as Yes, do not update record

[2021-10-13 14:56] atdservicebot opened #7433 "Need to update the GIS QA filter on the Markings Work Orders page because it doesn't accurately refl..."
Signs & Markings Operations

Need to update the GIS QA filter on the Markings Work Orders page because it doesn't accurately reflect the number of work orders needing GIS QA (most likely a filter just needs to be updated).

When logging into a GIS QA user account we can see the accurate number of work orders needing to be QA/QCed. This doesn't match the Markings | Work Orders GIS QA filter tab.

h

[2021-10-13 15:01] atdservicebot opened #7434 "Publish Sign and Markings Contractor Work Orders to AGOL and Open Data Portal"
Signs & Markings Operations

Would like to incorporate the same GIS QA process we use for markings work orders to the Contractor work orders. Would like the street segments to be captured for the contractor work orders and have those street segments push to AGOL (similar to how markings work orders/jobs push to AGOL).

We'd like to see the flow for capturing contractor work to be similar to the Ma

[2021-10-13 15:36] andrewshensky commented on #6880
**General**

- [ ] Separate viewers for mobile and desktop
- [ ] Bike shops
- [ ] Steepness Chevrons
- [ ] Bike Parking (all/only good status?)
- [ ] Bike Fix it Stations
- [ ] Connections to other transportation (Bus, Train, etc.)
- [ ] Highlight DIY Bike Adventures/Scenic Routes
- [ ] Difficult Intersections
- [ ] Bookmark widget for major areas of interest (Downtown, Surrounding Cities)
- [ ] E

[2021-10-13 15:43] amenity commented on #7431
Thanks @dianamartin! I'll take it to Dev Grooming today.

[2021-10-13 15:55] Nadin-Nader commented on #7325
This is good to go and working. Closing

[2021-10-13 16:00] #7396 closed

[2021-10-13 16:01] jaime-mckeown opened #7435 "Create templates for print map requests"

[2021-10-13 16:09] dianamartin opened #7436 "[Meeting] Review CItyBase API with FS IT and ATD"
### Objective

### Participants
Mark C, John C, Joseph E, Stephanie, Mickey G, Eva S, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ]

[2021-10-13 17:03] patrickm02L commented on #7293
#3931 looks to be related.

[2021-10-13 17:09] dianamartin commented on #7436
# Sample Code
### POST TO CITYBASE
[code]

### API Overview Sample
`
        <cfset jsonString = getHTTPRequestData() />

        <cfset pbHeader = structFind(jsonString.headers,"CityBase-Signature") />

        <cfset cbpb=deserializeJSON(jsonString.content)>

        <cfset headTime = mid(trim(listGetAt(pbHeader, 1)),3,20)>
        <cfset headSha256 = mid(trim(listGetAt(pbHeader, 2)),8,64)>

[2021-10-13 17:44] johnclary commented on #7431
The custom JS we use to set the requester name is clearly broken. However, I don't know why we need this code at all. We have a form rule (pictured below) which sets the submitter's name automatically.

If I recall correctly, we were using custom JS because HR staff had wanted the form to be visually consistent with the original PDF. I am axing this requirement. The form is working again and I rem

[2021-10-13 18:00] moorerst commented on #7370
Notes:

- Separation date is not needed if it's difficult to add

- Would like the separated/inactive employee process to be automated and not have to manually separate employees

- Need to work with HR to have the INACTIVE employees added to Chia's report

- Will report to HR after we review the employee updates on Monday 10/18

[2021-10-13 18:09] johnclary opened #7437 "Builder huddle: Knack <> Citybase Integration"
Schedule for Weds, 10/27

[Technical files](https://cityofaustin.sharepoint.com/sites/CitybaseImplementation/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2FCitybaseImplementation%2FShared%20Documents%2FGeneral%2FTechnical%20Docs&FolderCTID=0x01200016DA610C58D4C24FA76DA0BB07B739CA) from CityBase Teams Team

[2021-10-13 18:15] #7401 closed, assigned to dianamartin

[2021-10-13 18:18] jaime-mckeown opened #7438 "Large Retail Locations Update"
Andres sent me an updated Spreadsheet for large retail locations, need to update the GIS layer.

[2021-10-13 18:19] jaime-mckeown opened #7439 "Churches Update"
Andres created a new Spreadsheet for churches. I will need to compare it to my code block that selects based on text filters from the owner information.

[2021-10-13 18:32] amenity opened #7440 "Publish contractor work orders to AGOL & Open Data Portal"

[2021-10-13 18:33] zappfyllc commented on #7036
@johnclary Your last comment makes sense to me once I reread this entire issue. I think a way to simplify this is to add a `related_status` column in `moped_phases`, then map that column to the options in `moped_status` based on the criteria you've mentioned.

This should simplify the frontend, as we can then just query `moped_proj_phase` where `active` is `true` (since we're adding the constraint

[2021-10-13 18:35] amenity opened #7441 "Create an API view of contractor work orders"
Karo notes 2022/07/14:

SMB
API Views page
Private view
Notes / model [here](https://atd-dts.gitbook.io/atd-knack-operations/knack-integrations/arcgis-online-integration)

[2021-10-13 18:36] amenity opened #7442 "Update script to publish Signs and Markings Contractor work orders to AGOL"
Andrew completed creating an AGOL layer for the "Contractor Work Orders", this is ready to give to a dev. Will need to bring up at next Product Sync.

The ETL will need to be created in Prefect.

[2021-10-13 18:37] amenity opened #7443 "Build GIS QA interface in Knack for contractor work orders"

[2021-10-13 18:37] amenity opened #7444 "Build Knack interface for GIS QA on contractor work orders"

[2021-10-13 19:45] amenity commented on #5054
This is covered by https://github.com/cityofaustin/atd-data-tech/issues/6678

[2021-10-13 19:55] amenity commented on #7359
@chiaberry - just the icon should be blue on hover. Thanks!

[2021-10-13 20:32] TracyLinder opened #7445 "Mtg: SIF Catchup w/ DTS 10/13/21"
Tracy, Amber, Joe, Vish

[2021-10-13 20:36] dianamartin commented on #7369
@moorerst reviewed slides, updated some slides and left comments

[2021-10-13 20:53] patrickm02L opened #7446 "Add CR3 download script to Dev Toolbox"
When Service Request come in for CR3 any Dev should be able to run a script to download them and send them back to the requester.

@frankhereford has a script he runs that we would like to have added to the Dev Toolbox.

- We'll need to make sure that it's refactored and written in python so that it's inline with the stack that we're using.
- We'll need to document it so that Devs can run the scri

[2021-10-13 21:00] frankhereford commented on #7446
A couple of other notes from our meeting:

* The input of the script could be a CSV in the format given out by the VZE's download feature ...
*  ... or any CSV and have the script look for a column that matches `/crash\s+id/i`, for example.

[2021-10-13 21:20] andrewshensky opened #7447 "Document Process to Update Intersection Points From CTN In MAINT"

[2021-10-13 21:44] #7445 closed, assigned to TracyLinder

[2021-10-13 22:35] Nadin-Nader commented on #7420
Per Nazlie's email her account is working how she needed it. Closing request. Email from Nazlie below:

[2021-10-13 22:36] #7420 closed, assigned to Nadin-Nader

[2021-10-14 03:32] amenity commented on #7333
10/12 Discussion with Trimet
ATD - Caitlin, John, Amenity

Jaime S., TriMet
- Capital Projects Planning Manager
- Enhanced Transit Corridors - improving speed and reliability, small team of 1
- Also have a data team

Process
- Data team gave N/N data
- CAD/AVL (Computer-Aided Dispatch / Automatic Vehicle Location) data
- 2018 first round of data processing
- TriMet has only gotten 1-time contracts

[2021-10-14 03:54] amenity opened #7448 "[Bug] Empty "Notes" field on "Team" table shows "Null""
![Screen Shot 2021-10-13 at 10 53 40 PM](https://user-images.githubusercontent.com/1463708/137248738-61bd8943-3074-4738-9b2c-e2290c35493a.png)
This field should display as empty instead of "null"

[2021-10-14 04:44] amenity opened #7449 "Provide a way to clear single-select dropdowns"
We need a way for a user to clear the value on a single-select drop-down when the field is optional.

## Examples

### Subphases
![image](https://user-images.githubusercontent.com/1463708/137253567-83da8d57-12de-46dc-a416-06810f0cd720.png)
Phases do not require subphases.

### Programs
Funding sources don't need programs

[2021-10-14 04:54] amenity commented on #5468
This no longer requires an issue. Will poke at, e.g. #7217

[2021-10-14 04:54] #5468 closed

[2021-10-14 04:55] amenity commented on #6001
Covered by #7134

[2021-10-14 04:55] #6001 closed

[2021-10-14 05:20] amenity commented on #5848
Covered by #7359

[2021-10-14 05:31] amenity commented on #5614
covered by #7030

[2021-10-14 05:31] #5614 closed

[2021-10-14 14:38] dianamartin opened #7450 "[BUG] Can't add study record to Location Details page"
Renee O
AMD.

Emailed

Issue:
- Can not add study from Location details page
- How to handle duplicate intersection (E and W) of signal request?

[2021-10-14 15:29] jaime-mckeown opened #7451 "Update Scripts to run with ArcGIS Pro"
Need to update all scripts that are used in the Data Driven PHB update process so they can be ran after ArcMap is retired from ATD.

[2021-10-14 15:32] jaime-mckeown opened #7452 "AMANDA Street Closures: 10/14"
I forgot to run earlier this week.

[2021-10-14 16:09] patrickm02L commented on #7373
Diana and I met with Eliza Y. on 10/14 to talk about what she was hoping for the form. She expressed wanting to automate the process of receiving emails, assigning codes, and emailing a template back to signees with their new codes.

With the current set up described above there are some concerns about security especially around employee IDs, and share-ability with other members of the team.

Dian

[2021-10-14 16:57] #7452 closed, assigned to jaime-mckeown

[2021-10-14 17:19] zappfyllc commented on #7036
@johnclary Thanks for the clarification: I think this might be a semantical argument and I poorly communicated in my comment above. I am still suggesting we pull the phase for a given project's active phases from `moped_proj_phases` into a `current_phase` field (I think you're suggesting this as the meaningful descriptor), and then my suggestion for `related_status` is effectively a way of simplif

[2021-10-14 17:20] SubhaShroff commented on #7162
@TracyLinder  @Nadin-Nader  @vschandramouli

- Tracy suggested to go for GL accountnumber for COS as 1. - Done.
- As per acceptance criteria Paid By should be 'AMANDA' or any system account. The paid by column takes a peopleRSN. Is there any already configured people record for internal payment purpose? Or one need to be created?
- Though it is not a mandatory field, do you want any particular tex

[2021-10-14 17:45] jaime-mckeown commented on #7452
Made some changes to the Active Parking Permits process.

[2021-10-14 17:46] #7090 closed

[2021-10-14 17:48] #7418 closed

[2021-10-14 17:57] #6322 closed

[2021-10-14 17:57] Nadin-Nader commented on #6842
This has been delivered and has no lagging issues. Closing Card

[2021-10-14 17:57] #6842 closed

[2021-10-14 19:01] zappfyllc commented on #7311
FYI re: looking into cron triggers--

I thought maybe we could use the metadata API to dynamically create cron triggers so we could have a daily sync from Moped to Knack via Hasura and not exhaust the system during the same time it's in use (e.g. adding to event triggers) for the simple act of keeping two tables in sync where the table in Knack is a read-only table to the Knack users, but I did no

[2021-10-14 19:05] atdservicebot opened #7453 "Update labor costs for FY22"
Other / Not Sure

Need to update labor costs for FY22 in the Signs & Markings work order application.

Employee Type  /  Hourly Rate
- Technician - Direct  /  $41.47
- Technician - Indirect  /  $90.43
- Technician - Direct Overtime Rate  /  $62.21
- Technician - Indirect Overtime Rate  /  $135.65
- Superintendent/ Supervisor/ Engineer/ Division Manager - Direct  /  $62.38
- Superintendent/ Supervi

[2021-10-14 19:15] #7430 closed

[2021-10-14 19:19] johnclary opened #7454 "Get shapefile of driven streets from RAS"

[2021-10-14 19:19] johnclary opened #7455 "Develop process to QA/QC sign assets from work orders"
Develop a process to capture sign asset data from Knack Work Orders so that we can eventually updated the data we get from RAS and keep it current.

Some possible tasks:
- Buffer the driven RAS streets
- Select sign installs and removals
- Create locations and sign assets from the work order data

[2021-10-14 19:28] ChrispinP opened #7456 "[TDS-TIA] Enhancement: Include Project Name in Email Titles"
Reviewers would like to remove the Request # and add the Project Name to email titles instead.

[2021-10-14 19:42] #7438 closed

[2021-10-14 20:05] jaime-mckeown opened #7457 "Request new AGOL Named User Account for Signs Data Collection Project"

[2021-10-14 20:08] #7457 closed, assigned to jaime-mckeown

[2021-10-14 20:17] patrickm02L opened #7458 "Create Bond Log for SMRT"
The Bond and Rider ID are always going to be the same number. Instead of entering the Bond ID and Rider ID how might we be able to tie them together?

**How the Bond Works**

A Bond will be affected when there's an increase in devices and amount. For example: they could increase the Rider; the Rider is like an amendment to the bond.

If the Bond runs out, the Rider also runs out unless they get a

[2021-10-14 20:33] amenity commented on #7316
@chiaberry - giving you this one. @zappfyllc will be your point product person for it!

[2021-10-14 20:36] amenity commented on #7030
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Data--Technology-Services-5caf7dc6ecad11531cc418ef/issues/cityofaustin/atd-data-tech/7030?planning-poker) with ZenHub @sergiogcx @mateoclarke @chiaberry @tillyw

[2021-10-14 21:19] #7439 closed, assigned to jaime-mckeown

[2021-10-14 21:31] ChrispinP commented on #7456
TIA Emails updated to include Project Name and removed TIA Case ID & Request #
![image](https://user-images.githubusercontent.com/67915167/137398419-7031281e-5d18-4ca6-835e-cf1c842bd3f6.png)

ready to review

[2021-10-14 21:33] TracyLinder commented on #7282
@vschandramouli can i get an update on this please?

[2021-10-14 21:49] dianamartin commented on #7458
# Diana's Notes from feedback sync

Create `bond_log` object to have the ability to track the events that change with the bond.

- Increase/Decrease the bond amount (which results in a Rider "Amendment")
- Continuation Certificate (an extension of the bond after the initial expiration date)

Fields to Create:
- [ ] Type
- [ ] Amount
- [ ] Effective Rider Date
- [ ] Cert Start Date
- [ ] Cert End D

[2021-10-14 21:52] dianamartin opened #7459 "Way to track "Waiver of Owned Autos""
Andrea M
Shared Mobility

Made a feedback note

[2021-10-14 22:28] dianamartin commented on #7458
Updated Insurance Details page, was really Bond Details
- Updated url slug and page name

Added to Bond table
- Count of Rider field
- Count of Continuation Certs field

[2021-10-15 01:10] johnclary commented on #7232
Ooh nice work! So most can be deleted.

[2021-10-15 01:14] johnclary commented on #7271
thanks @frankhereford—almost done! 🙌

[2021-10-15 13:28] atdservicebot opened #7460 "Add Employee ID Field to TLC Report"
Other / Not sure

Please add employee id field to TLC Report.

Soon — This week

To do my work efficiently.

Jennifer W.

Request ID: DTS21-102830

[2021-10-15 15:13] atdservicebot opened #7461 "[RPP] Application Data for Jan 2022 Renewal Emails"
Other / Not Sure

I'm looking to pull customer email addresses from the knack site in order to send out renewal notices to the residential parking customers.

Flexible  — An extended timeline is OK

By next week if possible. Looking to send out renewal notices. slightly time sensitive

Steve I.

Request ID: DTS21-102835

[2021-10-15 16:38] SubhaShroff commented on #7162
@TracyLinder  @Nadin-Nader  @vschandramouli
A people record is created as follows. Please let me know if you want any changes or additions to it.
![image](https://user-images.githubusercontent.com/51680715/137522694-049353aa-932d-4d02-889f-c98ad1156ae1.png)

[2021-10-15 16:41] amenity opened #7462 "Project: Improved Annual Signal Retiming Management"
Make it easier to update signal retiming corridor assignments in Data Tracker while preserving the corresponding open data sets and [Signal Timing dashboard](https://data.mobility.austin.gov/signal-timing/).

The acronym for this activity is Annual Signal Retiming (ASR) Management.

## Background
The system we have in place for corridor management in Data Tracker was designed quite a long time ago

[2021-10-15 16:50] amenity commented on #7421
[Email exchange with Lance, Brian, and John](https://drive.google.com/file/d/11EDQMXkI8kIMbLQ8wrKWxawRULb5Rm3T/view?usp=sharingc). Scoping a more extensive solution in https://github.com/cityofaustin/atd-data-tech/issues/7462.

@dianamartin - will you please make a template for Brian & Lance for this round?

[2021-10-15 17:13] #6594 closed, assigned to andrewshensky

[2021-10-15 17:14] patrickm02L opened #7463 "[Bug] VZV measure cards not rendering"
The measure cards and several tables are not rendering in the Vision Zero Viewer.

Consulted with @frankhereford who said that it may be that the socrata API endpoint started timing out through the update process. He suspects that rerunning the DAG would get it working again.

![screencapture-visionzero-austin-gov-viewer-2021-10-15-11_03_18.png](https://images.zenhubusercontent.com/5d68810b05d7792

[2021-10-15 17:15] andrewshensky commented on #7329
Values for CTN segments that did not join have been populated

[2021-10-15 17:43] atdservicebot opened #7464 "PNTS GeoLoader Link not working"
ArcGIS

The COA PNTS GeoLoader does not load and shows the 404 "Not Found" error message.

Link: http://coagisp.austintexas.gov/PNTSGeoLoader/#top

Soon — This week

Gavin J.

Request ID: DTS21-102840

[2021-10-15 17:53] patrickm02L commented on #7463
@sergiogcx pointed out that the ETL process that feeds Socrata has stalled.
![2021-10-15_12-49-17.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/0cb2bc76-3e9d-44ae-9cf8-aa86228f076b)

[2021-10-15 18:21] TracyLinder opened #7465 "Add COS Fields GF (ON PROD)"
### We're adding 8 folder infos to the GF folder.

**Stakeholder:** Robert Alv, Darren

**Acceptance Criteria**

- All changes/additions mentioned below are for the GF folder in AMANDA, with subtype 'ATD'.
- The infos should not display on the GF folder when work type is chosen as 'Dev Assessment'.

**Info fields to be added:**

- [ ] 'Fund',
- [ ] 'Department', '
- [ ] Unit',
- [ ] 'Object',
- [

[2021-10-15 18:25] #7463 closed, assigned to frankhereford, sergiogcx

[2021-10-15 18:45] #7460 closed

[2021-10-15 18:53] dianamartin commented on #7453
@amenity It says is needs to be done by Nov 1st.

[2021-10-15 18:56] dianamartin commented on #7453
Asked stakeholder

[2021-10-15 19:05] TracyLinder opened #7466 "‼️ CRITICAL: TURP Folder Issuing w/ Application Fee Payment"
[12:37 PM] Perez, KimberlyImportant!
    Starting 10/13/21, all TURPs with fees were automatically issued without a review once the (new permit) fees were paid. These turps went to an "Active" status after the payment was made. This is a CRITICAL Issue! Nader, Nadin Linder, Tracy

RSN's:
12800422

12800557

12800728

Isabell has changed all current turps back to internet pending.

[2021-10-15 19:15] TracyLinder commented on #7325
Per Kim, she just looked in the queue and the ROW Contractor records are inserting.

[2021-10-15 19:20] andrewshensky commented on #7464
Looks like the user is accessing the GeoLoader through an old url. I have provided the updated url.

[2021-10-15 19:44] #7464 closed

[2021-10-15 19:45] patrickm02L commented on #7205
@chiaberry and I chatted with Samantha to work through an issue with the right side of the widget boxes getting chopped off at smaller desktop view break points.

We also discussed an alternative to why the individual widgets were rendering in a staggered, stacked way, which occurred because 2 i-frames were included on the same line in the CMS aligning one to the left and one to the right. Instead

[2021-10-15 20:04] dianamartin opened #7467 "[MEETING] Review Aggregated TIA Case Import Spreadsheet"
### Objective
Showing the updated spreadsheet broken down into the different areas (North, Central, South)

### Participants
Chrispin, Joan, Diana
Nathan - couldn't make it

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debr

[2021-10-15 20:14] dianamartin commented on #7467
# Diana's Notes
- Legend - color coded, broken down for user by Engineer Areas
Nov 15th:

[2021-10-15 20:16] Nadin-Nader opened #7468 "BUG: Jaclyn would like to stop the creation of UC folders from the GENP folder"
Jaclyn would like to **stop** the creation of UC folders from the GENP folder. The GENP folder is creating a UC child folder at the 30% submittal attempt, in the GENP review process.

Stakeholders: Jaclyn, Isaiah, Greg P.

Here is the GENP ROWID:
12800519    Here is the UC folder it created:
12800988

[2021-10-15 20:27] dianamartin commented on #7287
This page is the one we want to add a message or banner

![image](https://user-images.githubusercontent.com/21112975/137549527-098b404b-11b2-4b73-8554-5e34ab7adfde.png)

[2021-10-15 20:56] dianamartin commented on #7453
User said

- [ ] Technician - Direct / `$41.47`
- [ ] Technician - Indirect / `$90.43`
- [ ] Technician - Direct Overtime Rate / `$62.21`
- [ ] Technician - Indirect Overtime Rate / `$135.65`
- [ ] Superintendent/ Supervisor/ Engineer/ Division Manager - Direct / `$62.38`
- [ ] Superintendent/ Supervisor/ Engineer/ Division Manager - Indirect / `$140.24`

[2021-10-15 21:05] dianamartin commented on #7453
Christina checked the labor costs and they match what they have.

![image](https://user-images.githubusercontent.com/21112975/137553426-107a7016-201f-4bb2-a807-5739ae967fb4.png)

[2021-10-15 21:05] #7453 closed

[2021-10-15 21:21] ChrispinP commented on #5487
Stakeholders would like to implement an informative Customer Video for the Customer Portal utilizing a Sample Test Case and improved documentation.

[2021-10-15 21:43] jaime-mckeown opened #7469 "Review Signs Schema Discussion"
Andrew and I met with Christina and Susanne to go over Signs schema before sending to RAS next week.

[2021-10-15 21:48] jaime-mckeown commented on #7469
- Went over the schema for asset locations and asset sign poles, will be adding some new fields and domains
- Will be removing some fields from FGDB that goes to RAS
- Will be adding attachments to asset sign poles
- Will notate changes in Issue accounting for all the changes to the Signs Dataset.

[2021-10-15 21:48] #7469 closed

[2021-10-15 21:49] jaime-mckeown opened #7470 "Signs Dataset / Schema Updates"

[2021-10-15 22:22] dianamartin commented on #7232
John said 10/15

- [x] Created new object table `school_zone_beacons_new`
- [x] Renamed the old object table `school_zone_beacons_old`
- [x] Imported 708 records into new table
- [x] Rearranged the fields to be more logical
- [x] Added audit fields (Created_By & Modified_By)
- [x] Renamed CreatedDate and ModifiedDate to normal audit field names

[2021-10-16 01:15] amenity opened #7471 "[Bug] Only first status update shows when filter is enabled"

[2021-10-16 01:17] amenity opened #7472 "[Bug] Deleting a status update from the "Comments" tab should also delete it from the "Summary" tab"
https://user-images.githubusercontent.com/1463708/137571231-b0732570-4a38-4c86-b0e5-11b4c39f9a86.mov

---
### See also
- https://github.com/cityofaustin/atd-data-tech/issues/7471
- https://github.com/cityofaustin/atd-data-tech/issues/7473

[2021-10-16 02:54] amenity opened #7473 "[Bug] Hide edit pencil icon when "Status update" is empty"
When there is nothing to edit, the user shouldn't be able to edit. :)
![Screen Shot 2021-10-15 at 9 51 18 PM](https://user-images.githubusercontent.com/1463708/137570969-ca8dc9f5-b7a1-4fe0-acfc-debc9065a5d0.png)

---
### See also
- https://github.com/cityofaustin/atd-data-tech/issues/7472
- https://github.com/cityofaustin/atd-data-tech/issues/7471

[2021-10-16 02:55] johnclary commented on #7427
thanks jaime!

[2021-10-16 19:39] frankhereford commented on #7030
I believe the work is done, or nearly done, on this issue. It's visible in the WIP PR linked above. I am not yet able to test it in the PR review system -- I need to learn how that works when there is a migration involved. I will pursue this on Monday when more folks are online. Thanks!

[2021-10-18 13:21] jaime-mckeown opened #7474 "AMANDA Street Closures - 10/18"

[2021-10-18 13:22] #7474 closed, assigned to jaime-mckeown

[2021-10-18 14:16] Nadin-Nader commented on #7250
@Lpriya-LIT please UAT on TEST. If the space is gone and it looks good let me know and we can send it to PROD

[2021-10-18 14:18] dianamartin opened #7475 "Delete duplicated restock transaction, ID 13253 on "inventory_transactions""
Johnny P
AMD

Emailed

- `Transaction ID 13253`

[2021-10-18 14:23] #7475 closed, assigned to dianamartin

[2021-10-18 14:34] dianamartin opened #7476 "HR App Data Review"
- [x] Add date of hire when creating new record in knack - WORKING (Lawrence M.)
- [ ] Add created_date when creating new record in knack - HAVE TO CHECK NEXT WEEK
- [ ] Add user_role of Staff to new records - HAVE TO CHECK NEXT WEEK
- [x] If employee's class is contractor do not mark as inactive - WORKING (Lawrence M.)
- [x] Update Banner Division Name with information in banner field divn_name -

[2021-10-18 14:50] dianamartin commented on #7476
# Notes
- [ ] make up email address for users that have "No email addresses". we'll use the first.lastname@at.gov naming schema.
-

[2021-10-18 15:10] dianamartin commented on #7476
@chiaberry will update the "no email address" script and add Melissa and Gadius into the system

[2021-10-18 15:20] Nadin-Nader commented on #7327
**Status:**

Sent to CTM DevOps under **SCTASK0174111** to deploy to PROD

[2021-10-18 15:23] atdservicebot opened #7477 "Populate "Completed Date" on 2018 and 2019 work orders"
Signs & Markings Operations

While working on the PowerBI dashboard, Susanne and I noticed that work orders from 2018 and 2019 don't have completed dates. We think this is because tracking of closed work order dates did change over time. Would like to fill out the "Completed Date" on old, closed work orders (from 2018 and 2019) by using the "Closed Date" field.

Would like to have Completed Dates

[2021-10-18 15:24] TracyLinder opened #7478 "New COS infos on UC Folder (ON PROD)"
### Adding existing COS infos & creating 2 new infos.
----

### Acceptance Criteria

All changes/additions mentioned below are for the UC folder in AMANDA.

**Changes to Existing Info**
- Info field Sub Project ID # (#6868) should be displayed under Cost of Service Info Group
- Info fields 'Fund', 'Department', 'Unit', 'Object', 'Work Order #' and 'Sub Project ID #' needs to be added to all UC fol

[2021-10-18 18:13] dianamartin opened #7479 "[MEETING] AECOM's TIA Fiscal Project"
Learning about AECOM's TIA Fiscal Project

Attendees: Sam, Diana

[2021-10-18 19:01] amenity commented on #7477
Thanks, @dianamartin !

[2021-10-18 19:42] andrewshensky opened #7480 "Add Sequencing on CTN Intersection Layer in MAINT"

[2021-10-18 21:00] TracyLinder opened #7481 "Update TDS AMANDA Permissions on GF Folder"
### Update TDS staff permissions on GF as needed for #5538

- [x] Sangeeta Jain
- [x] Amber Mitchell/Hutchins
- [x] Bryan Golden
- [x] Nathan Aubert
- [x] Nazlie Saeedi
- [x] Justin Good

[2021-10-18 21:15] dianamartin commented on #7477
Apply conditional rule
![image](https://user-images.githubusercontent.com/21112975/137807619-6bc1f213-eb34-4fed-a2b4-0ded3099d0ad.png)
Should update 830
- MRK19-008595
- MRK19-008315
- MRK19-008055

[2021-10-18 21:32] #7477 closed, assigned to dianamartin

[2021-10-18 22:00] dianamartin opened #7482 "[CORRECTION] Restock quantity from 50,550 to 50,000"
Ronnie/Johnny
AMD

Ronnie emailed Johnny

I replied

Ronnie replied to me

Stakeholder is requesting

[2021-10-18 22:02] dianamartin commented on #7482
I updated `TXN 13228` from 50,550 to 50,000 on 10/18/21.
![image](https://user-images.githubusercontent.com/21112975/137812877-84e12298-8061-42e3-8942-609cf144bfba.png)

[2021-10-19 15:11] SubhaShroff commented on #7162
@Nadin-Nader  @TracyLinder  @vschandramouli  SCTASK0174388 is submitted for DEV deployment, after Nadin gave approval on Teams.

![image](https://user-images.githubusercontent.com/51680715/137939320-42919034-b806-49cf-817d-16a326ccf570.png)

[2021-10-19 15:34] dianamartin opened #7483 "IT Support: Account creation for Xavier A - Data Tracker"
Crystal T
Finance

Emailed

[2021-10-19 15:35] #7436 closed, assigned to johnclary, dianamartin, moorerst

[2021-10-19 15:41] moorerst commented on #7218
Prototype is ready for demo to the stakeholders in Sprint Review 10/21

[2021-10-19 15:41] #7218 closed

[2021-10-19 15:48] TracyLinder opened #7484 "Create 3 New COS Fields on TCP Tracker Case Details"
Add three fields to the TCP Case Details view.

1. Work Order #
2. Sub-Project ID #.
3. AMANDA Bill # (numeric)

- Alphanumeric
- Not Mandatory
- Include on both Add and Edit forms
    - Location: Under CIP and before Project Notes

[2021-10-19 15:53] #7370 closed, assigned to dianamartin, moorerst

[2021-10-19 16:00] #5577 closed

[2021-10-19 16:00] #7390 closed, assigned to dianamartin

[2021-10-19 16:00] #7188 closed

[2021-10-19 16:01] dianamartin opened #7485 "[MEETING] AMD Weekly Inventory Meeting"
### Objective
Weekly inventory check-in

### Invited Participants
Brian VDW, Ronnie, Ray, John,

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [X] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
-

[2021-10-19 16:10] jaime-mckeown commented on #7470
Reorganized MAINT layers for a more logical field order. Had to basically start over in order to remove most of the fields.

[2021-10-19 16:10] #7470 closed

[2021-10-19 16:11] #7427 closed, assigned to dianamartin, jaime-mckeown

[2021-10-19 16:11] dianamartin opened #7486 "Inventory Meeting Check-In (10/19)"
# Agenda
- Unit Cost Review
  - Correction 55,550 --> 50,000
- Inventory SOP

# Participants
Brian VDW, Ronnie, Ray, Johnny, Diana, Edward

[2021-10-19 16:23] jaime-mckeown opened #7487 "CY22 Signal Builds GIS Data"
Found last year's spreadsheet that Jen sent me. There is specific information that AMD will need to provide before I can create a new layer for CY22.

[2021-10-19 16:58] andrewshensky opened #7488 "Create Public non-Editable Bike Parking Map"
Parking enterprise requested a version of the bike parking map for anyone to view that doesn't have editing capabilities.

[2021-10-19 17:05] amenity commented on #7168
@johnclary - still in progress?

[2021-10-19 18:01] dianamartin opened #7489 "[Meeting] TCP Reports"
### Objective
Finance would like reports from the TCP tracker

### Participants
Peggy, Van, Dan, Chrispin, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with D

[2021-10-19 18:33] dianamartin commented on #7397
@TracyLinder cc: @amenity This came up at a meeting (10/19) Chrispin and I had with Peggy about TCP reports. When do you expect to scope this?

[2021-10-19 18:36] atdservicebot opened #7490 "[URGENT] I am submitting this on behalf of Karla Taylor. John Clary is on vacation. Scott told me to ask Amen..."
Data Tracker

I am submitting this on behalf of Karla Taylor. John Clary is on vacation. Scott told me to ask Amenity, who asked me to submit a support request.

A researcher mentioned the camera thumbnails that used to appear on the “Device Status” page of the data and performance hub. (https://data.mobility.austin.gov/device-status/ ) Would there be a screenshot from when the image thumbnails we

[2021-10-19 18:52] jaime-mckeown commented on #7487
Ivonne will work on getting me the information I need so we can provide the data to Coleen.

[2021-10-19 18:53] jaime-mckeown commented on #7385
- Updated the GIS installs list with the retired computers that Scott sent me
- Went through and made updates based on new users, etc. in the list

[2021-10-19 19:13] dianamartin commented on #7232
LOC21-018005 is the last location in the system before I do a test import for 5 records

[2021-10-19 19:41] dianamartin commented on #7425
Have spreadsheet `TIA_Mitigations_Memo_Analysis` for review

[2021-10-19 21:00] amenity commented on #7299
@sergiogcx - thanks.

@johnclary What would you like to do as next steps? Should we make a follow up issue?

[2021-10-19 21:00] amenity commented on #5847
@sergiogcx - any updates here?

[2021-10-19 21:28] Nadin-Nader commented on #7352
@Sreelatha-BlazeKannan
I sent this to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0174530**

[2021-10-19 21:35] Nadin-Nader commented on #7327
@Lpriya-LIT @TracyLinder Izzy mentioned that this was resolved/not happening anymore. I am closing this per my chat with Izzy and Paloma. We agreed to close this at 4pm today if the issue did not happen again.
I am also closing #7466

[2021-10-19 21:36] Nadin-Nader commented on #7466
@Sreelatha-BlazeKannan @TracyLinder
Izzy mentioned that this was resolved/not happening anymore. I am closing this per my chat with Izzy and Paloma. We agreed to close this at 4pm today if the issue did not happen again.
I am also closed #7327 as well

[2021-10-19 21:36] #7466 closed

[2021-10-20 06:14] amenity opened #7491 "Implement design and layout refinements to "Summary" tab"
Implement design refinements and accommodate additional project information on the "Summary" tab.

**Remove:**
- [x] Capital funding/eCAPRIS toggle — but show the subproject ID hyperlink if there is one in the "Funding" tab #6994
- [x] Project status, see #7036

**New fields:**
- [x] Sponsor #7050
- [x] Public website #7069
- [x] Status update #6995

**Design:**
- [x] Switch to [outlined pencil](h

[2021-10-20 07:06] amenity opened #7492 "Design project status badge"
See https://github.com/cityofaustin/atd-data-tech/issues/7036.

We want a badge/label showing project status, similar to Github:
![Screen Shot 2021-10-14 at 3 58 09 PM](https://user-images.githubusercontent.com/1463708/137394731-098d5ffb-c285-4227-8ede-0797ad72eaab.png)
- I'm thinking it would go in the top bar of a project so that it's visible regardless what tab one is on.
- Icon and/or color sy

[2021-10-20 07:07] amenity commented on #7492
@patrickm02L - I'd love it if you have time to do this, but happy to take a shot if you don't.

[2021-10-20 12:52] patrickm02L commented on #7293
@amenity no, we talked about this at grooming last week. It's more on the GIS side. Would like John to help with scoping.

[2021-10-20 13:23] frankhereford opened #7493 "[BUG] Moped project status not synchronized between comment and summary tabs"
1) When a status is deleted from using the comments tab on a project in Moped, the status disappears from the list as expected. However, when you return to the summary tab, the status remains visible, including after a full refresh of the page. I anticipate that a WHERE condition needs to be added to the query that pulls the project comment data or logic to avoid displaying a comment that has been

[2021-10-20 13:44] SubhaShroff commented on #7374
### Status:
Yesterday, I checked the “Completeness Check Distribution.” process code in TEST environment and it doesn't have any related code to insert the specified fee(83475). Tested it for the same attempt in TEST, it didn't add this fee.

The investigation is in progress.

[2021-10-20 13:56] #7385 closed

[2021-10-20 13:59] jaime-mckeown opened #7494 "Pro Migration: 10/20 - 11/2"

[2021-10-20 14:01] jaime-mckeown opened #7495 "Parking Inventory GIS Data Discussion / Data Updates"
Meeting with Joseph's team to talk about the new Parking Inventory GIS data/schema.

[2021-10-20 14:32] jaime-mckeown opened #7496 "Large Office Update for PHBs"
- Emailed Chris R. at Austin Chamber of Commerce to see about getting updated data

[2021-10-20 14:35] jaime-mckeown opened #7497 "Update AE Poles Data"
Received updated data from AE.

[2021-10-20 14:54] #7473 closed, assigned to frankhereford

[2021-10-20 15:21] frankhereford commented on #7471
@amenity - I am not currently able to reproduce the first behavior you're describing. I see multiple status updates when multiple updates exist both with the "All" or "Status Updates" filter in effect.

I am able to recreate the second issue where a delete event isn't propagated to other views. I'm going to work on that right now, and see if I can uncover the first behavior, but if not, I'll get i

[2021-10-20 15:28] vschandramouli commented on #7478
Completed AC. Ready for Review/Backlog. Pasting previous notes on ticket in this comment for reference.

** Existing infos**
- Four FDU infos (Fund, Department, Unit, Object)
- Work Order #
- Sub project ID #  (can we group this info with the COS info group?) #6868

**2 new infos:**

- COS Partner Department? (Y/N) with help text 'Is this application for a Cost of Service City Department?'
- COS D

[2021-10-20 15:28] TracyLinder commented on #3603
On deck for Chrispin to begin development. Around 3-6 hours of build time.

[2021-10-20 15:51] atdservicebot opened #7498 "[Finance] Add 3115 Capital Delivery Unit # for PR Requests"
Finance & Purchasing

Need to add a new Unit to the select list, add 3115 Capital Delivery

Allow Capital Delivery to use their unit number on PR requests

N/A

Dan V.

Request ID: DTS21-102855

[2021-10-20 16:08] #7250 closed

[2021-10-20 16:10] TracyLinder commented on #7468
My Thoughts:

To my knowledge there has never been a feature on the GENP folder that would generate a child UC folder. So my 1st question is why is this even happening?

[2021-10-20 16:16] TracyLinder commented on #7175
Sree is currently doing the analysis.
@Sreelatha-BlazeKannan I'd like to see your analysis before you begin working on this one please.

[2021-10-20 16:18] TracyLinder commented on #7374
**Update**

Subha is looking through code to find any clues as to what caused this bug. Nate emailed Zach asking for more example folders.

[2021-10-20 16:46] TracyLinder commented on #7478
Assigned to Subha; going on deck. High priority for this sprint.

[2021-10-20 16:53] TracyLinder commented on #7465
@Nadin-Nader I'd like LIT to start building this out during this sprint.

[2021-10-20 16:57] TracyLinder commented on #7282
Sticking this on Deck. Cannot begin until #7478 is done.

[2021-10-20 17:06] TracyLinder commented on #7327
**Small update to Sree's AC update above:**

_Work type Project Connect is also treated exactly as Private Development._

RW_ TURP - Except for Private Development **and Project Connect** all city departments fee must not be able to pay from Portal.
Upon making the payment on private development portal status must change from pending payment to internet pending.
Franchise there will not be any fee

[2021-10-20 17:11] atdservicebot opened #7499 "We were wondering if it was possible to incorporate this SBO work order form (https://atd.knack.com/..."
Signs & Markings Operations

We were wondering if it was possible to incorporate this SBO work order form (https://atd.knack.com/signs-markings#work-order-sbo/) into the standard Markings "New Work Order" form only when selecting SBO/Whereabouts as the Requester type. Currently, this form has a different link and there has been confusion with the SBO Requester that is submitting this information!

[2021-10-20 18:35] #7472 closed, assigned to nobody

[2021-10-20 18:45] Nadin-Nader commented on #7481
Automation has updated Bryan's AMANDA PROD profile/closing card

[2021-10-20 18:45] #7481 closed, assigned to Nadin-Nader

[2021-10-20 18:45] TracyLinder commented on #7071
@dianamartin thank you.
I just gave you access to view my meeting recording in case you wanted to watch it.

[2021-10-20 18:46] amenity commented on #7428
Shouldn't happen in theory b/c we won't delete users, but might as well add the small bit of code that causes the error. @sergiogcx said just needs a `?` ...

[2021-10-20 19:28] #7355 closed

[2021-10-20 19:46] TracyLinder commented on #2663
I want to talk to OSE about this prior to putting it on deck. We're meeting next month for the monthly prioritization.

[2021-10-20 19:56] atdservicebot opened #7500 "Add field for projected completion date to signal projects"
Data Tracker

Please add a field for "Projected Completion Date" on the Projects page.  https://atd.knack.com/amd#projects/

This new field will make it easier to post the Signal Projects List on the AMD webpage and to track completion dates and need dates.

Do not have a way to track this info now.

Renee O.

Request ID: DTS21-102865

[2021-10-20 19:58] TracyLinder commented on #4013
I created a new issue for this work in error #5538.
This was delivered yesterday.

[2021-10-20 20:16] frankhereford commented on #7271
Lewis and I spoke briefly this afternoon about his efforts picking a location and reviewed some of the conditions for locations to have been included in the SAI analysis that his team is working on (which I was involved in prior to joining DTS). This led us to review the conditions for inclusion of crashes and locations in the VZE in relation the Austin Full Purpose jurisdiction. We agreed that if

[2021-10-20 20:20] TracyLinder commented on #6226
### Backlog Prioritization 10/20/21
_Tracy & Nate_
FYI @Nadin-Nader

**Backlog Prioritization Order:**

1. #6300
2. #6255
3. #6728
4. #1802
5. #5891
6. #6792
7. #5909

![Screen Shot 2021-10-20 at 3.14.35 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/83607811-dd15-48e2-a87b-f0fbe55560de)

![Screen Shot 2021-10-20 at 3.14.44 PM.png](https://images.zenhubusercontent.com/5cca1e

[2021-10-20 20:30] #7205 closed

[2021-10-20 20:45] andrewshensky opened #7501 "Update List of Garage Info in Affordable Parking Program Web App"

[2021-10-20 21:09] jaime-mckeown commented on #7451
- Pushed new Pro script versions to Github atd-geospatial repository
- Saved old scripts to include _ArcMap
- Ran Churches Multifamily Parks and Streets for PHBs ASMP as they use available data, both ran smoothly.
- Will run the rest after all data has been collected and ready to run the entire process

[2021-10-20 21:10] jaime-mckeown commented on #7451
- Updated to documentation in GitBook as some of the data collection methods have changed since data is now available, but just needs updating.

[2021-10-20 21:11] #7451 closed, assigned to jaime-mckeown

[2021-10-20 21:14] jaime-mckeown opened #7502 "Attend Scripting in ArcGIS with Arcade Class"
All day class on 10/26.

[2021-10-21 13:44] #7489 closed, assigned to dianamartin, ChrispinP

[2021-10-21 14:17] frankhereford commented on #7271
Lewis messaged me on teams today and gave us the last location to diagram. It's C9A32B46BD DAVIS LN, MANCHACA RD, W DITTMAR RD, and the root note above has been updated. I expect to get to do this early next week.

[2021-10-21 14:43] TracyLinder commented on #7017
@vschandramouli can you please update AC. Each fee needs to insert w/ the ATD Tech Surcharge TDS.

[2021-10-21 14:51] TracyLinder commented on #7283
**Notes**

TURP extension fee is triggered by process attempt. Which one? Can this attempt be used to apply COS payment?

[2021-10-21 14:56] TracyLinder commented on #7283
Vish will begin scoping & meet with stakeholders.

[2021-10-21 15:32] moorerst opened #7503 "Go Live: Parking Meters Non 311 Service Request"
Go Live scheduled for 11/1

**Action Items:**
- [x] Update CSR map for Service Request details page for PM
  - [x] Created a [pull request](https://github.com/cityofaustin/atd-knack/pull/72) to change the code
- [x] Create new SR Details for PM
- [x] Configure Resource Tracking for PM (separate) stuff
- [x] Updated "Manage Accounts" page for PM Admin
- [x] Add Parking Meter staff to system
- [x] F

[2021-10-21 15:35] moorerst commented on #7503
Meeting with Parking Enforcement scheduled for 10/18

[2021-10-21 16:09] moorerst commented on #7503
List of techs to be added to the system:
David Smith
Steve Slawson
Gilbert Marrero
Jose Aviles
Julio Woolf
Wilber Santiago
Ali Merabtene
Robert Boatman
Steve Smith
Kyle Baldwin
Roy Flores
Dworski Paul
Jeremy Stephens

[2021-10-21 16:38] #7497 closed, assigned to jaime-mckeown

[2021-10-21 16:40] jaime-mckeown opened #7504 "AE Poles Update for PHBs"
Create new Streetlights layer for next year's data driven PHB process.

[2021-10-21 16:45] #7504 closed

[2021-10-21 18:41] andrewshensky commented on #7454
We have been given access to this data through a group in AGOL. There is no "Date Driven" field included in the data, which is necessary to track installs and removals that take place after streets are driven. I have communicated to Christina that a date field will need to be included. She will be reaching out to RAS so they can add the date driven data.

[2021-10-21 18:49] #7206 closed

[2021-10-21 18:53] patrickm02L opened #7505 "Implement MetroBike Sign Up 2.0"

[2021-10-21 18:56] andrewshensky opened #7506 "Publish Style File Holding Bike Map Symbology to AGOL"
This will allow us to access and use custom symbology created for the bike map in our online versions.

[2021-10-21 18:56] patrickm02L commented on #7505
Decided to create the epic out of existing issue #7373

[2021-10-21 19:01] jaime-mckeown commented on #7494
Sent check-in emails to the following:
- AMD
- Meter Shop / Mobility Services
- Smart Mobility
- Sangeeta in TDSD
- Chris in OOD
- ATSD

[2021-10-21 19:57] jaime-mckeown opened #7507 "Help User Access NearMap"
Priya was trying to create a new account to access Nearmap Imagery on their website.

[2021-10-21 20:21] dianamartin commented on #7503
- [x] Updated new "CSR Activity" choice: `Repair/Replace`
- [x] Updated new staff permissions - we will have to finalize this with a follow-up email on who needs "PM Admin" access @moorerst
- [x] Updated notification emails from "Officer" just the Assigned Name

[2021-10-21 20:46] #7507 closed, assigned to jaime-mckeown

[2021-10-21 20:47] sergiogcx commented on #7428
There is a PR:
https://github.com/cityofaustin/atd-moped/pull/441

## Live demo:
https://deploy-preview-441--atd-moped-main.netlify.app/moped/projects/176?tab=team

## Screenshot:

![2021-10-21_15-45-13.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/779a087c-f3e3-4324-9514-a1f864f71828)

[2021-10-21 21:30] jaime-mckeown opened #7509 "SIF Map Deliverable Scoping Meeting"

[2021-10-21 21:36] #7509 closed, assigned to jaime-mckeown

[2021-10-21 21:39] sergiogcx commented on #5847
@amenity Yes, let me post an update of the state of things.

I basically had it all wrapped up with about 700 responsive hosts with SSH and HTTPS enabled, minus telnet and HTTP. Also, the password was changed for these according to this doc:
https://docs.google.com/document/d/1LsAFg5JeN-FnxC0utGt7niXDXIQkdXUt8X98Qz_nSVM/edit

Unfortunately, I am told the password in that document is wrong. I alrea

[2021-10-21 21:48] dianamartin opened #7510 "AMD Warehouse Inventory Order Tracking"
Ronnie B.
AMD

### Would like the ability for Inventory Planners and AMD stakeholders to be able to track when warehouse inventory items have been ordered and estimate received dates.

### ATD Finance is also interested in an inventory report

[2021-10-21 21:51] atdservicebot opened #7511 "Create TIA GIS layer for COA Mobility Annual Plan"
ArcGIS

Spreadsheet attached with 3 projects

- Map Primary and Cross Street of project extents (300 feet buffer)
- Curbline to Curbline
- Coordinate with PW Coleento add to AGOL "COA Mobility Annual Plan (MAP) Charrette Web Map Coordination Tool"
- South Congress Avenue and Sheraton Avenue
- Tinnin Ford Rd and Elmont Drive
- Lonview St And W. 25th St

Soon — This week

Needed by 11/12/2021

Nelso

[2021-10-21 22:00] dianamartin commented on #7431
This issue has been resolved since the field has been removed from the user interface and completed on the back end.

[2021-10-21 22:00] #7431 closed

[2021-10-21 22:03] #7458 closed

[2021-10-21 22:07] #7479 closed, assigned to dianamartin

[2021-10-21 22:08] #7483 closed, assigned to dianamartin

[2021-10-21 22:35] amenity commented on #7449
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Data--Technology-Services-5caf7dc6ecad11531cc418ef/issues/cityofaustin/atd-data-tech/7449?planning-poker) with ZenHub @chiaberry @frankhereford @mateoclarke @sergiogcx @tillyw

[2021-10-22 14:32] atdservicebot opened #7512 "Remove duplicate project at signal ID 1100"
Data Tracker

There is a duplicate project at signal ID 1100 (FM 1826 @ Seton/HEB driveway).  Please delete Project ID 64.   https://atd.knack.com/amd#projects/?view_2928_sort=field_3861-field_199|asc

Thank you.

Flexible  — An extended timeline is OK

Renee O.

Request ID: DTS21-102875

[2021-10-22 14:52] atdservicebot opened #7513 "Update fields available in AGOL"
Signs & Markings Operations

In preparation of the sign data collection project, we are needing a few additional field to what is pushed from Knack to ArcGIS Online. The "Asset Name" is currently concatenated in the AGOL dataset so we'd like to add the following as individual fields: MUTCD, Category, Sub-Category, Message, Additional Message, Size, and Mount Long.

On AGOL this is how we'd like th

[2021-10-22 15:05] atdservicebot opened #7514 "Update sign condition statuses"
Signs & Markings Operations

From discussions about Sign Condition tracking, we are adjusting the sign conditions and removing "Excellent" as a condition. This new conditions will only include "New", "Good", "Fair", and "Poor". We would like to adjust conditions currently in Knack to reflect this change. For any assets classified as "Excellent" condition we would like to adjust this to "Good" cond

[2021-10-22 16:33] patrickm02L opened #7515 "Create invoice notes in SMRT"
In the meeting on 10/22/21, Andrea asked for the ability to add notes to the Invoice.

She noted that the internal notes that were created were not populating in the invoice and wondered if we could include that kind of functionality. We determined that the invoice notes should be separate from the internal notes, so we'd need to create the ability to add notes to the invoice.

Also discussed addi

[2021-10-22 19:36] #7428 closed, assigned to sergiogcx

[2021-10-22 19:49] andrewshensky opened #7516 "Provide AGOL Access for Two Users"

[2021-10-22 19:54] #7516 closed, assigned to andrewshensky

[2021-10-22 19:56] dianamartin opened #7517 "Update "Journal Voucher" info in AMD Data Tracker - Warehouse Inventory- OCT 20 2021"
Van submitted email 10/22

- [x] Spreadsheet emailed from Van month of: Oct 20, 10/20/21
- [x] Number of records being updated: `203`
- [x] Format spreadsheet [(Review instructions)](https://atd-dts.gitbook.io/atd-knack-operations/warehouse-inventory-updating-journal-vouchers-jv-information)
- [x] Spot check Transaction IDs, no JV information before import
  - `13022`
  - `13212`
  - `12942`
- [x]

[2021-10-22 20:16] jaime-mckeown opened #7518 "SXSW 2022 GIS Support"

[2021-10-22 21:46] #7517 closed, assigned to dianamartin

[2021-10-25 12:43] jaime-mckeown opened #7519 "AMANDA Street Closures - 10/25"

[2021-10-25 12:58] #7519 closed, assigned to jaime-mckeown

[2021-10-25 13:36] andrewshensky opened #7520 "Add Updated Comfort Level Tiles to Live Online Bike Map"

[2021-10-25 15:52] johnclary opened #7521 "Migrate MetroBike trip publisher to Airflow"
Migrate [this script](https://github.com/cityofaustin/atd-data-publishing/blob/production/transportation-data-publishing/bcycle/bcycle_trip_pub.py) (which is currently failing) to a standalone repo and deploy it on Airflow

[2021-10-25 16:58] dianamartin opened #7522 "[MEETING] 311/Knack/ESB Discussion"
### Objective
Determine what changes were happening that ESB might need to reconfigure our 311 integration set-up

### Participants
Chandra, Bill, Omar, John, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x

[2021-10-25 16:59] alan-deanda opened #7523 "ASMP Amendment data support"
Provide support to the Systems Development team on the ASMP data. This issue covers the week starting on Monday Oct 25th. The team is expecting to publish a story map on Nov 1st.

[2021-10-25 16:59] alan-deanda opened #7524 "mandatory ethics training"

[2021-10-25 16:59] #7524 closed, assigned to alan-deanda

[2021-10-25 20:51] #7498 closed, assigned to dianamartin

[2021-10-25 20:51] #7520 closed, assigned to andrewshensky

[2021-10-25 20:53] andrewshensky opened #7525 "Add Bike Shops to Live Online Bike Map"
Format bike shops to display relevant data through labels, disable popups to avoid clutter

[2021-10-25 21:16] johnclary opened #7526 "[Feature] Ability to track inventory item order status"
There was conversation on tracking the inventory items that are or order, not received yet
- Would be nice if we could link the inventory items to their PR numbers, if not then having a way to reference the order on the inventory item. I know we've talking about linking the two in the past.

They'd want to track this information:
- `PR Number`: Ex. `2021-10-21001`
- `Purchase Order Status` - would

[2021-10-25 21:24] andrewshensky opened #7527 "Add Bookmarks to Live Online Bike Map"
Include major areas of the city and surrounding cities.

[2021-10-26 13:17] atdservicebot opened #7528 "Asset Map signal request status is incorrect"
Data Tracker

The signal request status on the asset map does not reflect the status on the Signal Request page.  For example Req ID REQ18-003235 at Dittmar @ Palace Parkway is shown as ARCHIVED on the SIGNAL REQUEST page but is shown as UNDER EVALUATION on the asset map.

Thanks

https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=c9bda776b1934e439285570b29d3259c

Internet Browser: Chr

[2021-10-26 14:45] #7382 closed, assigned to sergiogcx, mateoclarke

[2021-10-26 16:02] #7486 closed, assigned to dianamartin

[2021-10-26 16:03] dianamartin opened #7529 "Inventory Meeting Check-In (10/26)"
### Objective
Checking in with stakeholders

### Participants
Ray, Johnny, Ronnie, Jorge, Ed, Brian VDW, John, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief wi

[2021-10-26 17:09] moorerst opened #7530 "Develop prototype for Banners Permits and Payments in Knack"
Met with stakeholders to review what we learned in the discovery meetings for the Citybase online payment process.

Stakeholders are ok with the timeline. In the meantime we will begin developing a prototype for external facing application using some of the requirements we discussed

Discussions
Mailed Application discourage this process
try to only do online payments only

Debit/Credit
Have ACH o

[2021-10-26 17:45] #7529 closed, assigned to johnclary, dianamartin

[2021-10-26 18:03] johnclary opened #7531 "[Bug] Inventory item restock quantity is incorrect when quantity is >= 1,000"
For example, see [this item restock page](https://atd.knack.com/amd#inventory-items/inventory-item-details/5dfa6acb2057600ac95e79ff/re-stock-item-v2/5dfa6acb2057600ac95e79ff/).

The "Current total On-hand" is not being copied correctly into the "Previous quantity on-hand" field.

<img width="773" alt="Screen Shot 2021-10-26 at 1 02 10 PM" src="https://user-images.githubusercontent.com/14793120/138

[2021-10-26 18:18] Nadin-Nader opened #7532 "Isabel would like to update Russell Bond's AMANDA account"
Isabel would like to update Russell Bond's AMANDA account to match that of Joshua Woodyard

[2021-10-26 18:29] #7531 closed, assigned to johnclary

[2021-10-26 18:47] chiaberry opened #7533 "Rename moped_categories to moped_types"
spun off from https://github.com/cityofaustin/atd-data-tech/issues/7316

Project Type > Project type (rename moped_categories to moped_types and moped_proj_categories to moped_project_types: moped_types contains the list below and moped_project_types is where each project has a record for each and every project type it can be)
Project type will start with the AMD options given in Data Tracker (Sig

[2021-10-26 19:32] patrickm02L opened #7534 "Build prototype of Bike Share Benefit app"
To stand up prototype we'll need:

- Re-purpose the current sign up form
- Create backend form details for backend management
    * Staff Access
    * Vendor Access
- Codes page that allows BikeShare of Austin to sign off on codes approval.

[2021-10-26 19:34] patrickm02L opened #7535 "Create email response templates"
There are 2 slightly different responses for emails based on whether the employee is renewing a membership or not.

If new employee is signing up for the first time they’ll need a unique code assigned to an individual employee. Code will need to be included to the email. Austin Energy has a different form because they have a different email domain.

Model email templates from Eliza is currently us

[2021-10-26 19:34] patrickm02L opened #7536 "Implement single sign-on"
Set up single sign-on for the app so that multiple Austin staff can have access.

Refer to [Gitbook documentation](https://app.gitbook.com/o/-LzDQOVGhTudbKRDGpUA/s/-LzNSSXajDFpzOv2IhIv/knack/single-sign-on).

[2021-10-26 20:16] Nadin-Nader opened #7537 "Joan Minyard Needs only her TEST account Updated"
Joan Minyard Needs only her TEST account Updated to match that of Sangeeta. She would only like for TEST to be like Sangeeta's and PROD to stay the same

[2021-10-26 21:03] andrewshensky opened #7538 "Attend Scripting In Arcade Online Training"

[2021-10-26 21:16] #7511 closed, assigned to jaime-mckeown

[2021-10-26 21:18] #7502 closed, assigned to jaime-mckeown

[2021-10-26 22:22] Nadin-Nader opened #7539 "Create 7 new AMANDA User Accounts for David Smith"
Create 7 new AMANDA v6 User Accounts for David S.:

- [x] Steve Smith
- [x] Jeremy Stephens
- [x] Kyle Baldwin
- [x] Robert Boatman
- [x] Ali Merabtene
- [x] Julio Woolf
- [x] Gilbert Marrero

Send Request for V7 Accounts for:

- [x] Steve Smith
- [x] Jeremy Stephens
- [x] Kyle Baldwin
- [x] Robert Boatman
- [x] Ali Merabtene
- [x] Julio Woolf
- [x] Gilbert Marrero

[2021-10-27 13:37] jaime-mckeown opened #7540 "Cleanup CapMetro Metro Rapid Service Data for COA Mobility Annual Plan MAP"
Caitlin sent Coleen multiple layers for routes and stops for upcoming CapMetro Metro Rapid data. Coleen asked if I could cleanup the data and merge the point/line layers into only one each before adding to the MAP.

[2021-10-27 14:34] moorerst opened #7541 "Meeting: Parking Enforcement Sprint Review"
•	Review work flow for Parking Meters non 311 Service Request (Parking
        Meters related issues)
•	Parking Meters team is on board. Discuss Go Live date

- Who needs to have training?
- Quarterly deletion of resource records

[2021-10-27 15:06] atdservicebot opened #7542 "Vision Zero Editor narrative and map not populating"
Vision Zero (Editor)

I am noticing some crashes do not have a narrative or map populating. Here are some examples:

- [x] https://visionzero.austin.gov/editor/#/crashes/18321640
- [x] https://visionzero.austin.gov/editor/#/crashes/18540151
- [x] https://visionzero.austin.gov/editor/#/crashes/18544308
- [x] https://visionzero.austin.gov/editor/#/crashes/17828062
- [x] https://visionzero.austin.gov

[2021-10-27 15:21] jaime-mckeown opened #7543 "Remove fields for FGDB to RAS"
RAS let SMB know that coding the MUTCD and Asset Size fields was not part of the contract and the price would increase. She asked me to remove the fields and send her an updated FGDB.

[2021-10-27 15:24] johnclary opened #7544 "Implement CityBase payments in Banner application"
Dev spike to scope CityBase payment integration with Knack.

- [Google drive folder](https://drive.google.com/drive/u/0/folders/1GMhQjN-I4mojBMz1SDMJM0-tdTuZwl7n)
- [Sharepoint](https://cityofaustin.sharepoint.com/sites/CitybaseImplementation/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2FCitybaseImplementation%2FShared%20Documents%2FGeneral%2FTechnical%20Docs&FolderCTID=0x01200016DA

[2021-10-27 15:45] atdservicebot opened #7545 "Urgent Account Request for Judith O."
**Customer:** Judith O.

AMANDA

I need access to Amanda please, I recently moved to ROW. Thank you in advance.

Urgently — Today or tomorrow

I'm a traffic control reviewer and some of my work is entered on Amanda. My time limit for revision is 5 to 9 business days .

Judith O.

Request ID: DTS21-102900

[2021-10-27 16:01] #7468 closed, assigned to SubhaShroff, Nadin-Nader

[2021-10-27 16:26] johnclary opened #7546 "Get programmatic access to bank reports (Fiserv)"
Get programmatic access to parking transaction bank reports from Fiserv. Ashlande currently must download these manually as PDFs.

[2021-10-27 16:30] jaime-mckeown opened #7547 "Admin Updates for TDS in AGOL"
From Curtis:

[2021-10-27 16:41] atdservicebot opened #7548 "Please create an AMANDA account for Adrianna M."
AMANDA

Please create an AMANDA account for Adrianna. She will need similar permissions to Bryan G. (her manager), Amber H. and Sangeeta J.

Soon — This week

To perform essential job functions (review of site plan, subdivision, zoning cases).

Adrianna M.

Request ID: DTS21-102905

[2021-10-27 16:59] sergiogcx opened #7549 "[Spike] Moped Summary - DataTable Styling"
We need to work on [style changes for the summary page](https://github.com/cityofaustin/atd-data-tech/issues/7491); this is a challenge given DataTable's iterative nature.

Initially, we thought deprecating DataTable would be the best path forward but that is blocking other developers from completing their work in other parts of the summary page and in the DataTable component itself.

This spike i

[2021-10-27 17:54] #7522 closed, assigned to johnclary, dianamartin, moorerst

[2021-10-27 17:58] #7500 closed, assigned to dianamartin

[2021-10-27 18:12] TracyLinder opened #7550 "Create Knack app for managing fee recovery workflows"
There is a workflow management component to this monthly report for the Cost of Service Program. We will use KNACK to meet this need. John is committing to building the bare bones for the KNACK portion.

[2021-10-27 19:09] moorerst opened #7551 "Robin Contract Renewal"
Current Robin contract expires 12/31/21
Current contract is for 1100 desk/10 spaces
Team has agreed to renew contract for 500 desk/ 15 spaces

ATD Purchase Request has been submitted

**Purchase was process by CTM Purchasing PR #0012127
Aims CT 2400 20122100180
RQS # is 20120200163 and ecapris  # is 134993.**
**City of Austin Solicitation - RFQ 2400 KMB0022 - Office Space Management Software**

[2021-10-27 19:18] atdservicebot opened #7552 "Add "Comments" field under the Re-stock form"
Data Tracker

I would like to request the addition of a comment section under the Restocking Module.

This function will allow me to have a visual confirmation for checks and balances when referencing DO/PO during the restocking process.

After Restocking is performed I am currently not aware of how I can currently view the DO/PO of a particular restock transaction.

When available...

John P.

[A

[2021-10-27 19:19] jaime-mckeown opened #7553 "Intersection Validation Question from 311"
From Bill S. at 311:

[2021-10-27 19:32] jaime-mckeown opened #7554 "Project Connect AGOL Data Question"
From Jonathan R in PW:

[2021-10-27 20:40] #7554 closed, assigned to jaime-mckeown

[2021-10-27 21:00] TracyLinder opened #7555 "Meeting 10/21 Discuss SIF IT Risks & Schedule"
Attendees: Peggy, Tracy, Curtis, Amber, Joe, Nathan
----

Current SIF IT Deliverable Risks:

The V7 Upgrade project may delay our user testing; we won't know more until they provide a schedule.
Any V7 project delays will impact our schedule also.
Any scope/requirements changes after we start building out the AMANDA deliverables could add 1-3 weeks to the schedule (each time).
Deciding if we should

[2021-10-27 21:01] #7555 closed, assigned to TracyLinder

[2021-10-27 21:11] zappfyllc opened #7556 "Add hyperlink for signal id"
We need a hyperlink generated by the Knack record ID for a given signal ID within the `signal_id` column of the table created in #7316. We have decoupled this issue for the table to give adequate time to change how we're storing the Signal ID and its corresponding Knack record ID.

- [ ] Store the new column for the Knack record ID in `moped_proj_features` (or wherever the `signal_id` is stored)
-

[2021-10-27 21:24] andrewshensky opened #7557 "Update Bike Facility Data in MAINT"

[2021-10-27 21:28] atdservicebot opened #7558 "[URGENT] Database connection errors trying to join a table to the EXTERNAL.TCAD_FOR_PLANNERS_SVW"
ArcGIS

I am getting database connection errors trying to join a table to the EXTERNAL.TCAD_FOR_PLANNERS_SVW feature class on Datamart. I am currently working from BOP. This has changed since the last time I needed to work with parcel-level data, and I think there's something funky with how CTM has the TCAD feature class configured. Could you please help me understand why it won't let me join?

Ur

[2021-10-27 21:45] dianamartin opened #7559 "IT Support: Acess to premium workspaces for PowerBI"
Allyson R.
AMD

Emailed

[2021-10-28 01:11] #7537 closed, assigned to Nadin-Nader

[2021-10-28 01:25] #7532 closed, assigned to Nadin-Nader

[2021-10-28 04:35] #7549 closed, assigned to sergiogcx

[2021-10-28 14:54] #7543 closed, assigned to jaime-mckeown

[2021-10-28 14:59] #7558 closed, assigned to jaime-mckeown

[2021-10-28 16:02] TracyLinder opened #7560 "COS Group Mtg 10/28/21"

[2021-10-28 16:47] patrickm02L opened #7561 "Update Moped QA Testing Script"
Update [script](https://drive.google.com/drive/folders/1o1f_KdKMrF2MDSFp50IWoQlgswNGRsCg) to help with the testing for the latest Moped Release.

[2021-10-28 17:18] #7374 closed, assigned to TracyLinder, SubhaShroff, Nadin-Nader

[2021-10-28 18:55] dianamartin opened #7562 "IT Support: Account Creation for DTS Portal - Patrick M."
Patrick M.
DTS

Messaged

[2021-10-28 18:56] #7562 closed, assigned to dianamartin

[2021-10-28 19:02] jaime-mckeown opened #7563 "GIMOB Meeting - November"
Creating this issue before I forget. Please add notes below and @ john.

If there is a vote, you will be voting for ATD.

Thanks!

[2021-10-28 19:10] dianamartin opened #7564 "IT Support: Delete accidental archived permit - Create temporary delete button"
Andrea M
SMS

Messaged

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/df1615a8-e405-402e-80a5-0acd0059da8a)

[2021-10-28 19:12] #7564 closed, assigned to dianamartin

[2021-10-28 19:57] frankhereford opened #7565 "Create fields in Data Tracker's project object for Moped project IDs"
All strings:

- [ ] Moped Project ID
- [ ] Moped Project Name
- [ ] Moped Project Status

[2021-10-28 19:59] frankhereford opened #7566 "Create mechanism to insert Moped IDs into Data Tracker"
@zappfyllc As I've been thinking about this, my understanding is that there will be a token or key that is used to authenticate to Knack for this `insert` operation. This key shouldn't be embedded into the JS app as that would allow an unscrupulous user to extract it and gain unintended access to that API.

Because of this, I believe we may need either create a flask API or a Lambda function that

[2021-10-28 20:07] frankhereford opened #7567 "Create columns in Moped database to store Knack ID"
- [x] Knack Record ID in `moped_projects`

@zappfyllc - do you think that this is going to be a strictly 1:1 relationship, or could there be multiple knack records per project or vice versa?

[2021-10-28 20:08] frankhereford opened #7568 "Create housekeeping ETL script to synchronize Moped Project data → Knack"
I imagine this to be a Python script DAG running in Airflow with a schedule no less frequently than nightly.

@zappfyllc - Depending on how many projects we are talking about, we could either do a full scan of the moped data and verify that data lines up with what is stored in Knack, or if we have too many records, we could inspect the moped data's `last_updated` fields (adding them if needed) and

[2021-10-28 20:12] TracyLinder opened #7569 "Meeting: Overview - TDS Pre-Dev Assessments App 11/4/21"
### Final stakeholder meeting before going live with the TDS Reviews Mod

**Date/Time:** Nov 4, 2021 @ 11am
**Attendees:** Tracy, Diana, and everyone who reports to Upal.,

----

Hi Everyone,

The new TDA Reviews Mod is now live in the TDS KNACK Portal and ready for user testing! You can kick the tires on the mod anytime you like by logging into the TDS Portal and clicking on the TDA Reviews headi

[2021-10-28 20:17] #7560 closed, assigned to johnclary, TracyLinder

[2021-10-28 20:24] #7557 closed, assigned to andrewshensky

[2021-10-28 20:24] #7538 closed, assigned to andrewshensky

[2021-10-28 20:31] #7480 closed, assigned to andrewshensky

[2021-10-28 20:35] atdservicebot opened #7570 "Bug: EX and DS permits are not being sent to SiteSub - (SS) (UAT on PROD)"
_Submitted by Paloma_

**Acceptance Criteria**

The Acceptance Criteria below applies to all DS and EX folders.
- System needs to send a copy of the generated DS/EX Permit as an email to SiteSubPermits@austintexas.gov when users perform the following actions:
    - When user clicks on email/print option in AMANDA Folder tab and selects DS or EX Permit document.
    - When the issuance procedure is

[2021-10-28 20:40] #7488 closed, assigned to andrewshensky

[2021-10-28 20:53] andrewshensky opened #7571 "Look into Experience Builder vs Web Appbuilder for Online Bike Map"

[2021-10-28 21:02] #7525 closed, assigned to andrewshensky

[2021-10-28 21:06] #7415 closed, assigned to andrewshensky

[2021-10-28 21:29] #7487 closed, assigned to jaime-mckeown

[2021-10-28 21:34] frankhereford opened #7572 "Support local cloning of Production database"
- New `./hasura-cluster` command for devs to clone the Moped Production database locally
- Write up documentation in GitBook

With the substantial number changes to the original Moped database design, it is worthwhile for us to invest in our migration management processes. This will allow devs to better test their migrations before deploying to Production.

[2021-10-28 21:38] jaime-mckeown opened #7573 "MAINT Parking Inventory GIS Training"
Provide training on how to edit the parking inventory data in MAINT.

[2021-10-28 21:40] jaime-mckeown opened #7574 "Neighborhood Block Parties / Past Locations Map"
From Maria:

https://tx-prod-tc-public.azurewebsites.us/viewballot?f=110/travis/427a.pdf

[2021-10-28 21:43] Nadin-Nader opened #7575 "Update Alexia Cox's AMANDA Permissions"
Alexia Cox requested to have her AMANDA Permissions updated to match that of LaTonya Adams

[2021-10-29 14:54] dianamartin opened #7576 "IT Support: TIA Troubleshooting"
Jayesh D./Nathan A.
TDS

Emailed

![image](https://user-images.githubusercontent.com/21112975/139456765-6feea836-9e8c-4346-8ca2-33b1cc8b8569.png)

[2021-10-29 15:12] alan-deanda opened #7577 "Bike Map Blowup final draft #2"

[2021-10-29 15:18] #7495 closed, assigned to jaime-mckeown

[2021-10-29 15:19] alan-deanda opened #7578 "full size bike map final draft 2"

[2021-10-29 15:20] jaime-mckeown opened #7579 "Prep for PE Team Training to Edit in MAINT"

[2021-10-29 16:16] alan-deanda opened #7580 "VZ Polygonizer meeting notes"
## Meeting Notes

When the original Vision Zero Polygons were created, future data maintenance needs were unaccounted for. With time, it's become clear that the data used to create the polygons didn't always align with real-world streets as shown in satellite imagery, and there is [a list of polygons that need to be updated](https://github.com/cityofaustin/atd-data-tech/issues/7278).

Some of thes

[2021-10-29 16:24] atdservicebot opened #7581 "[Report] Create a nightly automated export of inventory data"
Data Tracker

Automatically export the inventory items list to an Excel file each night at a predetermined time between 10 PM and 5 AM.  This export would only include inventory items which have an ACTIVE status and a FINANCIAL type.

This list is used to determine the quantity of an item on hand and its unit cost at the time the list is ran.  The product of those gives the total value for that in

[2021-10-29 16:54] zappfyllc opened #7582 "Add additional columns to signal project management table view"
Add three new columns for the signal projects table in #7316:

- [ ] Designer (from Project Team) - hyperlink (open in new tab) to Team tab
- [ ] Inspector (from Project Team)- hyperlink (open in new tab) to Team tab
- [x] Project completion date (from Project Phases/Milestones) - hyperlink (open in new tab) to Timeline tab
- [x] Add hyperlink (open in new tab) to Timeline tab to existing "Targete

[2021-10-29 17:27] #7575 closed, assigned to Nadin-Nader

[2021-10-29 18:11] amenity commented on #7581
Will probably store these on G Drive

[2021-10-29 18:34] patrickm02L commented on #7276
@johnclary Sergio walked me through turning on the DAG for Scoobi. It's live and we're monitoring it in advance of go-live on 11/1.

[2021-10-29 18:54] dianamartin commented on #7513
Reached out to Christina to see if the fields she wanted are correct and which "Asset Name" field she wants, there are 3.

[2021-10-29 19:35] zappfyllc commented on #7566
Per convo on 10/29 with @johnclary and @frankhereford:

We will actually create a toggle component on the project details page to connect to Knack (i.e. sends the request over to insert a new record into the `moped_projects` object) and then if the request fails, the user can just retry the toggle.

Let's call the label text "Connect to Data Tracker" for now

[2021-10-29 19:44] andrewshensky opened #7583 "Automate CTN Intersection Update Process"
Current manual process is documented but can be automated using model builder to produce output of intersection points that are new or have moved since previous update.

[2021-10-29 19:45] jaime-mckeown commented on #7579
Sent directory location for the test projects in case anyone wants to poke around the data before we meet.

[2021-10-29 19:49] mateoclarke commented on #7581
Ronnie gave me a call after speaking with Brian C. He said the solution doesn't necessarily have to be a nightly export and seemed to suggest that a real time report in the Reports tag might be just as good. Either way, it sounds like there needs to be more discovery and scooping work before we commit to implementation.

[2021-10-29 20:20] #7579 closed

[2021-10-29 20:21] jaime-mckeown opened #7584 "New AGOL Users in ATSD"
Nathan requested new accounts for Matthew C. and Garrett D. in ATSD and requested that they are added to the same groups as Sean C.

[2021-10-29 20:22] jaime-mckeown commented on #7584
Sent the link to help them login for the first time.

[2021-10-29 20:38] jaime-mckeown commented on #7584
Both logged in. I configured their profiles and added them to all the same groups as Sean.

[2021-10-29 20:38] #7584 closed

[2021-10-29 20:46] jaime-mckeown opened #7585 "Test GISDM External under GISDM Test"
Test external data in preparation for the move from gisdm external to gisdm.

[2021-10-29 20:46] jaime-mckeown commented on #7585
Will test with Cap Metro data since we update that data to external.

[2021-10-29 20:54] dianamartin commented on #7513
Reviewed ` sign_specification_actuals` in AGOL, "Additional Message" already exists

- [ ]  MUTCD labeled - MUTCD_CODE
- [ ] Size labeled - ASSET_SIZE
- [ ] Category labeled - ASSET_CATEGORY
~Additional Message labeled - SIGN_MESSAGE~
- [ ] Mount Long labeled - SIGN_MOUNT
- [ ] Message labeled - ASSET_NAME
- [ ] Sub-Category labeled - SUB_CATEGORY

[2021-10-29 21:46] johnclary commented on #7276
Excellent—thanks!

[2021-10-29 21:47] jaime-mckeown commented on #7585
Works fine, can't test Geodatapusher at this point.

[2021-10-29 21:47] #7585 closed

[2021-10-31 01:59] johnclary opened #7586 "Hire an IT BSA Sr for Apps team"

[2021-10-31 01:59] johnclary opened #7587 "Create job posting"
It's time to do this!

[2021-10-31 01:59] johnclary opened #7588 "Write interview questions"

[2021-10-31 02:00] johnclary opened #7589 "Identify interview panel"

[2021-10-31 02:06] johnclary opened #7590 "Onboard Charlie"
## Accounts

- [x] Submit a [CTM New Employee Request Form](https://atx.service-now.com/sp?id=sc_cat_item_guide&sys_id=b714eb12db7a3f0021ccef92ca961972&sysparm_category=ea848d3adbce37405b03f482ba96193c) for a COA network account, eAccess PIN/HR Portal, and phone
- [x] Submit a CTM service request to add to DTS Distribution Email Group
- [x] Add to City of Austin Slack - `austininnovation.slack.com

[2021-10-31 02:26] johnclary opened #7591 "ProductOps training for Charlie"
[DTS project delivery presentation](https://docs.google.com/presentation/d/1rgwcH4-G6_f9XR4hB2d82iYnulMsgsMRPxGltBXdprw/edit#slide=id.p)

[2021-10-31 02:27] johnclary commented on #7591
@amenity plz schedule at your convenience

[2021-10-31 17:04] johnclary commented on #3622
This is resolved by https://github.com/cityofaustin/atd-data-tech/issues/1046. The publication status no longer involves the KITS database.

[2021-10-31 17:04] #3622 closed

[2021-10-31 17:07] johnclary commented on #7406
This is nearly done. All that's left to do is add the text content at the bottom of the page that explains more about the program.

<img width="1437" alt="Screen Shot 2021-10-31 at 12 06 04 PM" src="https://user-images.githubusercontent.com/14793120/139594353-d75ad5a4-d213-4137-b40f-53a96b18b34f.png">

[2021-10-31 17:09] johnclary commented on #1915
This will be resolved by https://github.com/cityofaustin/atd-data-tech/issues/7410. It's easy enough to search by street name to bring up a lists of nearby cameras. Closinng.

[2021-10-31 17:09] #1915 closed

[2021-10-31 17:09] johnclary commented on #1313
No longer needed thanks to https://github.com/cityofaustin/atd-data-tech/issues/1046.

[2021-10-31 17:09] #1313 closed

[2021-10-31 17:13] johnclary commented on #705
This has been resolved by https://github.com/cityofaustin/atd-data-tech/issues/1046.

[2021-10-31 17:13] #705 closed

[2021-10-31 17:23] johnclary commented on #1046
Done. I've added links in this issue description to code, documentation, etc.

[2021-10-31 17:23] #1046 closed

[2021-10-31 17:25] johnclary commented on #144
Let's just close this out.

[2021-10-31 17:25] #144 closed

[2021-10-31 17:25] johnclary commented on #1469
We canceled this project.

[2021-10-31 17:26] #1469 closed

[2021-10-31 17:26] johnclary commented on #181
We canceled this project

[2021-10-31 17:26] #181 closed

[2021-10-31 17:26] johnclary commented on #6781
I sent comments to the ASMP team in August.

[2021-10-31 17:26] #6781 closed

[2021-10-31 17:27] #598 closed

[2021-10-31 17:29] johnclary commented on #643
Closing this issue.  Our service delivery workflow enables these needs to surface.

[2021-10-31 17:29] #643 closed

[2021-10-31 17:29] johnclary commented on #632
#closed

[2021-10-31 17:29] #632 closed

[2021-10-31 17:31] johnclary commented on #1663
We've done a lot of work on TCP reporting since this issue was created. Closinig.

[2021-10-31 17:31] #1663 closed

[2021-10-31 17:34] #2052 closed

[2021-10-31 17:35] johnclary commented on #1980
@patrickm02L looks like this one may be redundant to similar requests we've talked about scoping.

[2021-10-31 17:35] johnclary commented on #1758
@patrickm02L this might could be closed. Removing myself as an assignee.

[2021-10-31 17:36] johnclary commented on #2113
We did it, right? Closed

[2021-10-31 17:36] #2113 closed

[2021-10-31 17:38] johnclary commented on #2424
We're not doing this.

[2021-10-31 17:38] #2424 closed

[2021-10-31 17:39] #2993 closed

[2021-10-31 17:40] johnclary commented on #2516
We're pursuing citybase instead

[2021-10-31 17:40] #2516 closed

[2021-10-31 17:41] johnclary commented on #3584
It's been a long time since we've heard of this problem. I'm going to close this this.

[2021-10-31 17:41] #3584 closed

[2021-10-31 17:41] johnclary commented on #2514
We're pursuing citybase instead.

[2021-10-31 17:41] #2514 closed

[2021-10-31 17:42] johnclary commented on #3919
We're pursuing citybase for knack payements. And a vendor solution for RPP.

[2021-10-31 17:42] #3919 closed

[2021-10-31 17:44] johnclary commented on #4080
This got done early this year. The apps team knocked it out with the new builder migration. They're the best.

[2021-10-31 17:44] #4080 closed

[2021-10-31 17:45] #4857 closed

[2021-11-01 13:02] zappfyllc commented on #7036
@amenity @johnclary and I touched base about this on 10/29 quickly post our call with Frank regarding AMD/Knack integration.

I'm going to assign this to myself to sort out the data model this week and get the work queued up for next sprint, but we're all in agreement about the following:

- Status changed by UI actions or changes in phase: no longer a dropdown field (really just a read-only value

[2021-11-01 13:50] johnclary opened #7592 "[BUG]"
# Parking Data Management

## People
- Joseph Alhajeri
- David Smith
- David Dale
- Jeremy Stephens
- Van Pham
- Ashlande Evans
- Peggy MacCallum

## Vendor: Flowbird
- Parking pay stations software and payment processing
- Parking and entry pass kiosks at pools
- Online parking and passes e-tickets
- Sends mobile payments to COA through Fiserv

### Software: Smartfolio
- Staff portal for download

[2021-11-01 14:10] jaime-mckeown opened #7593 "AMANDA Street Closures: 11/1"

[2021-11-01 14:10] jaime-mckeown commented on #7593
Updates complete.

[2021-11-01 14:10] #7593 closed

[2021-11-01 14:12] jaime-mckeown opened #7594 "GISERT Map Request"
Request for the COVID-19 Facility Locations maps to be updated.

[2021-11-01 14:18] moorerst commented on #7101
Go Live delayed per Nathan:
I want to hold a month or so before we roll out the on-boarding tool.  I need to make sure there is a smooth transition on all of the things we have already started and need to currently keep the continuity on those.  I am thinking I will do the first Supervisor Training Course in Dec/Jan and then we will roll out the on-boarding at that time.  Sorry for the delay.... W

[2021-11-01 14:24] moorerst opened #7595 "Modify who can approve Telework Request Forms"
Rob has given the approval to allow his A.D.'s to approve the telework request forms on his behalf.  I think currently the emails go directly to him and the A.D.'s are not getting those.  Is that something we can change without a huge amount of work?  We also need to include Upal - even though he isn't an A.D. - he reports directly to Rob.

Nathan: Let me check with Anthony and see if he really wa

[2021-11-01 14:39] dianamartin commented on #7513
Asked John if Chia was the only one that could refresh the data or if Frank could

[2021-11-01 14:41] dianamartin commented on #7587
I created a draft google doc of the job posting, ready for @johnclary review. Slacked link to him.

[2021-11-01 14:49] moorerst commented on #4601
Vendor solution will address RPP upgrades. Closing this issue.

[2021-11-01 14:49] #4601 closed

[2021-11-01 14:49] moorerst commented on #3345
Vendor solution for RPP will address this feature

[2021-11-01 14:49] #3345 closed

[2021-11-01 15:02] jaime-mckeown commented on #7594
Updates complete, sent Izadora new PDFs.

[2021-11-01 15:02] moorerst commented on #7476
Updated script ran successfully. Closing this issue.

[2021-11-01 15:02] #7476 closed

[2021-11-01 16:02] mateoclarke commented on #7542
TL;DR: The problem is resolved and was traced back to the authentication errors we had with TXDOT earlier this summer. When our primary account expired, the PDFs we retrieved during that time period weren't CR3s Forms and instead a PDF version of the CRIS login page. That problem was addressed and we got the true CR3 PDFs but we hadn't yet re-run the OCR program on the effected records. Below, I d

[2021-11-01 16:02] #7542 closed

[2021-11-01 16:02] jaime-mckeown opened #7596 "AGOL Web Map / Remote Desktop Assistance - Renee"
Renee needed help trying to select traffic signals using AGOL Web Map as her RDC wasn't working.

[2021-11-01 16:04] jaime-mckeown commented on #7596
- Added the Select Widget to the Signals that need Observations Web App so she could select.
- She told me that she normally uses Citrix to remote to her desktop. She has a city laptop, therefore doesn't need to use Citrix. I showed her how to RDC directly from her laptop to her desktop. It worked.

[2021-11-01 16:04] #7596 closed

[2021-11-01 16:13] Lpriya-LIT commented on #7017
Update - Surcharge fee name has been updated as " ATD Tech Surcharge TDS "

[2021-11-01 16:26] andrewshensky opened #7597 "October STREET SEGMENT Update"
Updates made to CTN will cover all street segment changes that occurred from 10/1-10/31.

[2021-11-01 16:36] patrickm02L commented on #1980
Closing this because it's redundant.

[2021-11-01 16:36] #1980 closed

[2021-11-01 16:38] #1758 closed

[2021-11-01 17:01] johnclary opened #7598 "Project: Centralize Parking Data"
An effort to centralize all of TPW's parking transactions into a single data store.

## Background

ATD's parking transaction data flows through a dizzying number of systems and services. Payments through physical meters, the ParkATX app, and kiosks at public pools are each housed in a different vendor solution. This has led to a cumbersome administrative process for conducting financial reconcili

[2021-11-01 17:04] johnclary opened #7599 "Get programmatic access to pool parking and pass transactions (Flowbird - hub)"

[2021-11-01 17:05] johnclary opened #7600 "Get programmatic access to ParkATX transactions (Passsport)"

[2021-11-01 17:08] johnclary opened #7601 "Create public dataset of parking transactions"
I've staged a private dataset of Flowbird meter transactions [here](https://docs.google.com/presentation/d/1ByRWXmjHut88cTiPVOTgkwTJ2V5_m1Y_0j46FP_kdYw/edit#slide=id.p).

This is "Smartfolio" data from the DR-direct `transaction_history` report.

[2021-11-01 17:39] sergiogcx commented on #7572
Work in Progress PR:
https://github.com/cityofaustin/atd-moped/pull/445

Will be adding comments to the PR as to what it is missing.

[2021-11-01 17:39] sergiogcx commented on #7572
### 1. Main Security Goals
1. Ensuring database endpoint and credentials are not exposed to github, and reduce the risk of merging by accident by making the credentials not part of the git workflow.
2. Implement port-forwarding via bastion-to-rds ssh linking.
3. Make automation comprehensive and less cumbersome by not using .pgpass and instead use an alternative configuration file in the ~/.ssh fo

[2021-11-01 18:10] sergiogcx commented on #7185
This is pretty much wrapped up. The final testing has already happened and we just need to move some files from S3 and some records from DynamoDB into their new home.

[2021-11-01 18:26] Nadin-Nader commented on #6870
@Sreelatha-BlazeKannan I have sent this to the DevOps CM Team to deploy to **_DEV_** under **SCTASK0177491**

[2021-11-01 18:28] Nadin-Nader commented on #6870
**Status:**
Waiting on the the DevOps CM Team to deploy to **_DEV_** under **SCTASK0177491**

[2021-11-01 18:34] Nadin-Nader commented on #7352
@Sreelatha-BlazeKannan I have sent this to the DevOps M Team to Deploy to **_DEV_** under **SCTASK0177493**

[2021-11-01 18:34] Nadin-Nader commented on #7352
**Status:**
Waiting on the DevOps CM Team to Deploy to **_DEV_** under **SCTASK0177493**

[2021-11-01 18:35] #7539 closed

[2021-11-01 18:35] Nadin-Nader commented on #7539
Closing as all accounts have been made

[2021-11-01 18:36] Charlie-Henry opened #7602 "Add Charlie to "About Us" page"
Add Charlie to our [team website](https://github.com/cityofaustin/atd-product).

Pronouns: He/Him
Title: Data Scientist
Headshot photo: [google drive](https://drive.google.com/file/d/1KAgUV2fRPxI9EFQYTb1Y0Xvo5k7DiooY/view?usp=sharing)

[2021-11-01 18:37] Nadin-Nader commented on #7327
@Sreelatha-BlazeKannan this has been deployed. Please UAT

[2021-11-01 18:49] sergiogcx commented on #7358
Finished the sponsor on Friday, now working on the partner. The partners will be inserted as they are selected, and soft-deleted as the partners are unselected from the menu.

![2021-11-01_13-46-43.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/c07860c9-9f15-4b85-b80d-847452512f25)

[2021-11-01 18:54] jaime-mckeown commented on #7574
- Joined the records in the Spreadsheet to the amanda row permits layer based on FOLDERRSN and created a new layer
- Created an 8.5 x 11 layout PDF and sent to Maria for review.

[2021-11-01 19:21] johnclary commented on #6925
I tested the DR-direct tool and was able to extract transactions from 2019-present using the `transaction_history` report. Documentation about the DR direct tool is in 1Passsword. I wrote a basic ETL and will add that code [here](https://github.com/cityofaustin/atd-parking-data).

[2021-11-01 19:24] Sreelatha-BlazeKannan commented on #7327
@Nadin-Nader , @TracyLinder - Once #7162 changes are in TEST, this can be tested

[2021-11-01 19:40] zappfyllc commented on #7358
Great work, @sergiogcx!

[2021-11-01 19:41] jaime-mckeown opened #7603 "ROW Permits Web Map Discussion with Paloma"
Meeting with Paloma to go over the ROW Permits Web Map I created and also to talk about the recent request I completed for Jim.

[2021-11-01 19:41] patrickm02L commented on #7373
Intake Meeting template: https://docs.google.com/document/d/1NjuQ8a7pNsgDu_gVujnUNA3Np64TSXvV7l_Ig6D4yN8/edit?usp=sharing

[2021-11-01 19:42] jaime-mckeown opened #7604 "GIS Modernization Project Bi-Weekly Meeting: 11/3"

[2021-11-01 19:44] jaime-mckeown commented on #7395
Next meeting is scheduled for 11/10.

[2021-11-01 20:28] dianamartin commented on #7287
Joan responded

- If lead transportation development engineer is not hyperlinked? Is this something we can enable? If so, please direct applicants here: http://www.austintexas.gov/page/how-submit-transportation-impact-analysis

- For this note:
![image](https://user-images.githubusercontent.com/21112975/139736991-438f9fa1-48fc-40dd-94bf-b5ad1affc450.png)

3. We can add a Note under Attachment box

[2021-11-01 20:34] dianamartin opened #7605 "[Enhancement] Bulk Delete of TIA attachment records"
Jayesh D.
TDS

Spoke with him when troubleshooting some issue and he brought up that it takes the TDS Reviewers time to individually delete an attachment on the tables and asked if there was a way to easily delete attachments. Ex. Scope submission attachment records

[2021-11-01 20:38] dianamartin opened #7606 "[Enhancement] Limit Scope Submission Attachment Types for TIA Attachments"
### As a TIA Reviewer, I only want to see Scope specific documents during the Scope review. All other attachment types should only be available during the Submission review phase.

**Acceptance Criteria:**
Limit scope attachment types to: Determination Form, Scope, Other

[2021-11-01 20:48] amenity commented on #7036
@johnclary @zappfyllc - y'all are the best. This sounds perfect.
Making this into its own epic with a couple other issues.

[2021-11-01 20:55] amenity commented on #7492
@patrickm02L - I really like where this is going. Wondering about the icons... Are you proposing a different one for each status? I didn't see any others on the XD and wonder if we might should just go with ▶️ for all the greens.

[2021-11-01 20:59] jaime-mckeown commented on #7547
Ivan created account, configured.

[2021-11-01 21:11] TracyLinder opened #7607 "Create new info (Activity) & Add to Permit Folders (On PROD🎉🎉)"
### Our Cost of Service permits need to be updated with a new funding info 'Activity'

**Requested by:** Van w/ Finance

**Acceptance Criteria:**
A new info field needs to be created based on the criteria below:
- Info Code: New, needs to be created
- Info Description: Activity
- Info type: Character (only allows digits)
- Info Group: Cost of Service
- Applicable to folders: EX, RW (subtype Tempor

[2021-11-01 21:20] jaime-mckeown opened #7608 "Question about street changes (one-way vs. 2-way)"
From Jacquie:

[2021-11-01 21:20] TracyLinder commented on #7607
@vschandramouli can you please put this on your plate? We need to get the AC done and get this on deck ASAP.
This info is the same as the four FDU fields we built on #7004
Check it out and let me know what questions you have.

FYI @Nadin-Nader

[2021-11-01 21:21] jaime-mckeown commented on #7608
I asked John about this, he suggested reaching out to TED to see if there is a process in place for alerting of changes to roads.

[2021-11-01 21:22] jaime-mckeown commented on #7608
Emailed Alison M:

[2021-11-01 21:23] TracyLinder commented on #7478
@Nadin-Nader or @vschandramouli can you please help facilitate UAT on this as soon as possible?

[2021-11-01 21:50] Nadin-Nader commented on #7162
@SubhaShroff can you send me a demo of this on DEV? My Dev portal is not allowing me to log in.

[2021-11-01 22:15] dianamartin commented on #7576
Sync'd with Tracy and she said we're good to delete the the trigger buttons as the other fields allow the user to check and uncheck the fields.
![image](https://user-images.githubusercontent.com/21112975/139749170-4d95cf2b-c6b2-4670-8f96-7a177d3e054a.png)

[2021-11-01 22:18] dianamartin commented on #7576
## Final check box fields
![image](https://user-images.githubusercontent.com/21112975/139749394-72f9d862-3663-4c92-b1c8-f87894aee5da.png)

[2021-11-01 22:18] #7576 closed

[2021-11-01 22:20] dianamartin commented on #7233
Need to talk to stakeholder about options

[2021-11-01 22:24] johnclary commented on #7071
do'h—i've made all the requested changes except:

@johnclary do this!

[2021-11-02 00:31] johnclary commented on #6925
I asked Darren for login access to Smartfolio for both Charlie and me.

[2021-11-02 00:31] johnclary commented on #7599
I asked Darren for login access to Flowbird ub for both Charlie and me.

[2021-11-02 05:01] amenity commented on #5629
@TracyLinder - moving to backlog until we have issues inside it that we are working on. I am also up for closing it. I hope we can continue to iteratively polish our service delivery so we don't need to make a big dedicated push again.

[2021-11-02 05:06] johnclary commented on #7602
Title: Data Scientist

[2021-11-02 12:22] jaime-mckeown commented on #7540
Coleen has added the layers to the MAP.

[2021-11-02 12:22] #7540 closed

[2021-11-02 12:22] #7594 closed

[2021-11-02 12:24] jaime-mckeown opened #7609 "Cybersecurity Awareness Training"
Complete training.

[2021-11-02 14:20] SubhaShroff commented on #7162
@Nadin-Nader  Sent you demo through email, today.

[2021-11-02 14:40] Nadin-Nader commented on #6255
Sent email to Paloma and Kim asking them the above. See the email below:

[2021-11-02 15:14] #7609 closed

[2021-11-02 15:17] jaime-mckeown opened #7610 "Neighborhood Block Parties: Residential Parcels by Council District Maps"
Maria would like 8.5 x 11 maps by Council District that highlight residential parcels:
- Single family (including duplexes)
- Multi-family (triplex, fourplex, apartments, condos, etc.)
- grey area around Council District
- create one map first so Maria can review

[2021-11-02 15:24] TracyLinder opened #7611 "Create User Accounts on ROW Portal"
Paloma, Darren, Kim, Izzy

[2021-11-02 15:25] jaime-mckeown commented on #7574
Talked to Maria about Map:
- She would like the Council Districts layer to be added
- Add a NBP Count per Council District

[2021-11-02 15:32] andrewshensky opened #7612 "October INTERSECTION Update"

[2021-11-02 15:42] moorerst commented on #971
Closing this project the RPP online external application and back end management has been successfully in production for over a year.

[2021-11-02 15:42] #971 closed

[2021-11-02 15:44] moorerst commented on #4103
RPP new fee structure has successfully been in production for over a year.

[2021-11-02 15:44] #4103 closed

[2021-11-02 15:49] moorerst commented on #2917
Digital RPP Petition is in production using Formstack: https://cityofaustin.formstack.com/forms/rpp_petition

[2021-11-02 15:49] #2917 closed

[2021-11-02 15:50] dianamartin commented on #7287
Sent email to stakeholders 11/2

•	the Splash Page - “TIA Portal”
•	the TIA Application, page 3 “Required Documents” (I don’t have a link for this, I just created a Test Case and walked through to the “Required Documents” page)
•	the TIA Case Details>TIA Details>”Add TIA Submission Attachment” (this is a link to the Test Case “Chris's Test | C14-2021-TEST”)
•	the TIA Case Details>TIA Details>”Add

[2021-11-02 15:50] moorerst commented on #4611
Robin Desk Reservation system is in production at various ATD facilities Barton Oaks and 8700 Cameron Rd.

[2021-11-02 15:50] #4611 closed

[2021-11-02 15:53] moorerst commented on #2840
We replaced a SharePoint list with a form-based app that allows parking enforcement officers to manage dispatching and scheduling. Extensive reporting is also available.

[2021-11-02 15:53] #2840 closed

[2021-11-02 15:55] moorerst commented on #933
Stakeholders are currently working on a vendor solution with Passport.

[2021-11-02 15:55] #933 closed

[2021-11-02 15:56] Nadin-Nader commented on #7162
@TracyLinder; @SubhaShroff the demos look good. In my opinion, this can go to **TEST**

[2021-11-02 15:58] dianamartin commented on #7611
@TracyLinder were you doing this or did you still want me to create them?

[2021-11-02 15:58] moorerst commented on #7369
Diana is developing the external facing interface based on the initial requirements we got from the stakeholders.

[2021-11-02 15:58] #7369 closed

[2021-11-02 16:00] moorerst commented on #7196
demo'd to Parking Meters team. They really liked it. Made a few tweaks based on their feedback. Will meet with Parking Enforcement again to agree on Go Live date.

[2021-11-02 16:00] #7196 closed

[2021-11-02 16:01] jaime-mckeown commented on #7603
- Showed Paloma how I did the query in Pro for Jim's request a few months back.
- I also showed her the Web Map I created that may be able to help them with queries, but was able to show her how slow it can be since the AMANDA ROW Permits layer has so many overlapping polygons.
- She mentioned that there is a new Folder Type called PSM (Public Space Management) that is not currently in the GIS dat

[2021-11-02 16:01] dianamartin opened #7613 "Inventory Meeting Check-In (11/2)"
## Attendees
Ronnie, John, Jorge, Brian C, Brian VDW, Johnny

Jorge had to drop off around 11:40 am

[2021-11-02 16:01] jaime-mckeown commented on #7603
Sent Sean at CTM a message about PSM Folder Type availability in GIS layer.

[2021-11-02 16:14] dianamartin commented on #7613
Diana's Notes
Q: Can you query for a specific item and query
- Add a link to Inventory Requests
- Add a link to Work Order Details screen

Completed Inventory Transaction Report
- Work Order Details
- Inventory Request Details

Work Order Details
- Link to Inventory Item details

[2021-11-02 16:16] jaime-mckeown commented on #7494
- Got new GIS (ArcMap/Pro) install lists from Scott. Going through lists trying to organize and prep for ArcMap removal.

[2021-11-02 16:18] jaime-mckeown commented on #7603
Paloma asked mentioned that the Sidewalk Cafes was acting strange in ROWPACT. I looked them up and there is no information except the name when you click on one. I also asked Sean about this to see if more information is available to add to the pop-up.

[2021-11-02 16:19] jaime-mckeown commented on #7603
Sean will add the PSM folder type with the same parameters as the other main folder types so it's added to AMANDA ROW permits in GISDM.

[2021-11-02 16:20] atdservicebot opened #7614 "Solution to stop use of "2432" task order, instead use "24ART21""
Data Tracker

Update default TK number to reflect new nomenclature when creating work orders in Datatracker. All new numbers should start with 24ART21 and are replacing 2423 numbers.

Currently techs can manually reassign work orders but its not ideal.

https://atd.knack.com/amd#mmc/

Internet Browser: Chrome

Allyson R.

Request ID: DTS21-102930

[2021-11-02 16:36] alan-deanda opened #7615 "Interim Mobility Viewer support"
Assist Orlando in fixing the model that creates the data for the Interim Mobility Viewer.

[2021-11-02 16:41] moorerst opened #7616 "Complete Robin Pilot Evaluation Report"
https://docs.google.com/document/d/1Pd5yHhmO-abK0Yy3nyqa9zFck_J74KXh/edit

[2021-11-02 17:08] SubhaShroff commented on #7162
@TracyLinder  @Nadin-Nader  SCTASK0177830 - is submitted for TEST deployment.

[2021-11-02 17:10] jaime-mckeown opened #7617 "AGOL Admin for ROW Accounts"
Asked Paloma to send me a list of ROW members so I can make sure that their AGOL accounts are configured.

[2021-11-02 17:42] jaime-mckeown commented on #7603
Sean worked on the Sidewalk Cafes in ROWPACT. Now when a record is selected, more information is available.

[2021-11-02 17:50] Nadin-Nader commented on #7478
@TracyLinder @SubhaShroff I have UATd this on TEST and it looks good. I will send an email to Paloma asking her to test this as well.

[2021-11-02 18:01] dianamartin commented on #7614
We discussed this in our weekly inventory meeting.
- We talked about potentially solving it by training the techs to stop using the old task orders and user the new task order.
- Idea to add a "Display Name" so that on the task order it is tagged with "DO NOT USE" to alert the technicians to not choose it
- Have back end check box to filter pick list, to hide task orders that are not in use and us

[2021-11-02 18:03] amenity opened #7618 "Implement project status badge"
As a Moped user, I want to see a concise status label so that I can quickly know a project's status without sifting through other project summary fields.

![project_status](https://user-images.githubusercontent.com/34947604/140184001-1522b687-9f31-43ab-8eeb-0e0b8dad757f.png)

## Badges
<img width="1212" alt="Screen Shot 2021-11-24 at 3 20 19 PM" src="https://user-images.githubusercontent.com/14637

[2021-11-02 18:04] moorerst commented on #5488
Closing this issue no additional documentation is needed. Additional features will be addressed in vendor solution.

[2021-11-02 18:04] #5488 closed

[2021-11-02 18:07] TracyLinder commented on #2666
Lets get this to PROD before the code freeze in December.

[2021-11-02 18:18] TracyLinder commented on #6031
AC has been updated

[2021-11-02 18:21] TracyLinder commented on #6032
AC has been updated

[2021-11-02 18:24] TracyLinder commented on #5981
Can we get this scoped & backlog ready during the V7 code freeze?

[2021-11-02 18:25] TracyLinder commented on #6226
### OSE 11/2/21

1. #2666 Folder Process Cleanup: We want this in PROD before the code freeze
2. RW-Street Event: Update info types Event Start & End Times#3641
3. Scope Auto-Create RW-Parking Folder From SE Parent Folder#5981

[2021-11-02 18:42] jaime-mckeown commented on #7574
Updated map and sent new PDF to Maria for review.

[2021-11-02 18:59] amenity commented on #7590
Sent @Charlie-Henry Sprints and Dev ceremonies... @johnclary - should I send him Apps ceremonies as well?

[2021-11-02 19:07] amenity commented on #6762
Christina and Suzanne confirmed they have everything they need. Thanks, @chiaberry @dianamartin @frankhereford !

[2021-11-02 19:07] #6762 closed

[2021-11-02 19:09] jaime-mckeown opened #7619 "RPP Properties Questions from 311"
Bill from 311 emailed about RPP Properties:

[2021-11-02 19:10] jaime-mckeown commented on #7619
He emailed again before I responded:

[2021-11-02 19:11] jaime-mckeown commented on #7619
To Bill:

[2021-11-02 19:13] TracyLinder commented on #6218
### 11/2/21

We re-grouped to determine if we're ready to continue with this project. We decided we're going to keep it in the backlog until all Cost of Service deliverables are done. In the meantime ROW staff will be working on #6453 Deficiency types

[2021-11-02 19:15] TracyLinder commented on #6216
Spoke w/ stakeholders about this today; staff will pick this back up while we work on COS auto-payments

[2021-11-02 19:15] TracyLinder commented on #6120
Spoke w/ stakeholders about this today; staff will pick this back up while we work on COS auto-payments

[2021-11-02 20:03] dianamartin commented on #1841
Tested
- [ ] Creating add form SZB asset in Location Details page
- [ ] Added Text Formula on SZB to bring in "Zone Name" as current is short text to be populated
- [ ]

[2021-11-02 20:23] johnclary commented on #7521
✅ DAG deployed
✅ Legacy script removed

we're done

[2021-11-02 20:23] #7521 closed

[2021-11-02 21:22] Nadin-Nader commented on #7478
@SubhaShroff @TracyLinder looks like there may be an update to the list for UC. Waiting on results from Jaclyn's UAT

**Status:**
Waiting on Jaclyn's UAT results

[2021-11-02 21:47] Nadin-Nader commented on #6562
**Status:**
Asked Paloma to test this on TEST. Waiting on results

[2021-11-02 21:48] Nadin-Nader commented on #6201
**Status:**
Swapna and Anu from CTM are looking into this

[2021-11-02 21:59] Nadin-Nader commented on #7545
Updated Judith's account and sent her an email (see below):

I will close tonight after the automation runs

[2021-11-02 22:10] johnclary commented on #7071
Ready to deploy daily ETL via [this DAG](https://github.com/cityofaustin/atd-airflow/pull/72)

[2021-11-02 22:55] amenity commented on #6008
I don't notice these anymore... did something change, @johnclary ? Or can this be iceboxed?

[2021-11-02 23:21] amenity commented on #7528
Thanks, @jaime-mckeown ... It seems like it's been updated since you checked last week:

![Screen Shot 2021-11-02 at 6 17 54 PM](https://user-images.githubusercontent.com/1463708/139965127-ac94b5ef-c29f-494f-9e0f-0f6d1f0ae49e.png)

 @dianamartin @johnclary - ideas why this would have been down?

[2021-11-02 23:22] johnclary commented on #6008
i defer to you and other devs if this is still a prob. iirc we don't have imagery previews in local or stage, but no nasty error message either

[2021-11-02 23:26] johnclary commented on #7528
I can take this one—prob my fault :/

[2021-11-02 23:40] amenity commented on #7528
Thanks, @johnclary !

[2021-11-03 03:19] amenity commented on #7581
Further email thread:

**Ronnie 10/29**

**John 10/29**

[2021-11-03 03:30] amenity opened #7620 "[Meeting] Discuss signal corridor retiming update process"
## Agenda
- Discuss new corridor re-timing structure
- Show Prototype on `TEST | Austin Transportation Data Tracker | 11 June 2021` environment

## Participants
Brian G., Lance, Jonathan, Amenity, John, Diana
Brian C.?

[2021-11-03 03:33] amenity commented on #7421
[Email thread about this request](https://drive.google.com/file/d/1ksjpuQc8wQJXkurGknSs8Ws2VnP0Z4HB/view?usp=sharing). @dianamartin is helping out with this update, but we're also discussing the process and how things may need to change in #7620 ...

[2021-11-03 04:01] amenity commented on #7069
@sergiogcx - I spoke with @tillyw and she's good for you to take this from here as you do the Data Table deprecation.

[2021-11-03 13:39] #7494 closed

[2021-11-03 13:40] jaime-mckeown opened #7621 "Pro Migration: 11/3 - 11/16"

[2021-11-03 13:40] SubhaShroff commented on #7162
### Status:
@TracyLinder  @Nadin-Nader  Tested for it on TEST and its ready for your testing.

[2021-11-03 13:41] #7553 closed

[2021-11-03 13:46] SubhaShroff commented on #6255
### Status:
Work in Progress and waiting for the responses from Paloma/Kim.

[2021-11-03 13:47] SubhaShroff commented on #6562
### Status:
Waiting for UAT to be done.

[2021-11-03 13:48] SubhaShroff commented on #7478
### Status:
Waiting on Jaclyn's UAT results.

[2021-11-03 13:49] jaime-mckeown commented on #7547
Never heard back from Joe, will setup account if he ever creates one.

[2021-11-03 13:49] #7547 closed

[2021-11-03 13:55] vschandramouli commented on #7283
Updated AC. Ready for backlog pending review.

[2021-11-03 13:58] atdservicebot opened #7622 "[Bug] Crash IDs that do not have a unit."
Vision Zero (Editor)

Here is the list of crash IDs that do not have a unit.
14832414
17451702
17546179

It does not appear that there is an issue with Comprehensive Cost (https://github.com/cityofaustin/atd-data-tech/issues/6875), but this is a minor data integrity issue.

https://visionzero.austin.gov/editor/#/crashes/

Internet Browser: Chrome

Xavier A.

Request ID: DTS21-102935

[2021-11-03 14:16] dianamartin commented on #7421
Brian checked in with me today and asked if the things we talked about changing were going to happen. I said we'd probably want to wait until we all talk on 11/10/21.
- I did mock up a primary corridor and secondary corridor tracking in the `TEST | Austin Transportation Data Tracker | 11 June 2021`
  - won't delete that until AMD approves the concept and it's built in the PROD environment

[2021-11-03 14:20] dianamartin opened #7623 "[DOCUMENTATION] Robin Evaluation Report from Smart Mobility"
Shelby S.
SM

Emailed us

[2021-11-03 14:21] dianamartin commented on #7623
@moorerst Should we ask when she needs this by?

[2021-11-03 14:27] moorerst commented on #7616
Duplicate Closing this issue

[2021-11-03 14:27] #7616 closed

[2021-11-03 14:29] dianamartin commented on #7530
Created
- `Portal` - Customer "Home" page
- Splash page - `Get Started`
- `Eligibility` - modal pop-up

[2021-11-03 14:46] moorerst opened #7624 "Meeting: Parking Meters Sprint Review"
•	Parking Meters non 311 Service Request GO Live
•	Review requirements for managing Excel spreadsheets within Knack

Scheduled 11/18

[2021-11-03 14:49] Nadin-Nader commented on #7545
automation has updated the account. Closing

[2021-11-03 14:49] #7545 closed

[2021-11-03 14:57] andrewshensky commented on #7268
As CTN is migrated to feature dataset, attribute rules will need to be transfered and may offer opportunity for new attribute rules to be created. I will close this issue and the transfer/re-assessment of new attribute rules can be cover in a new issue when the time comes.

[2021-11-03 14:57] johnclary opened #7625 "[Enhancement] Refactor details page links from various inventory tables"
Per AMD request, update various links in inventory tables for consistency.

1. The [completed txns report](https://atd.knack.com/amd#inventory-reports/issued/)

<img width="1404" alt="Screen Shot 2021-11-03 at 9 53 32 AM" src="https://user-images.githubusercontent.com/14793120/140084479-d7d33215-4d17-4594-a1ba-ef7223e9a88e.png">

2. [inventory item details](https://atd.knack.com/amd#inventory-item

[2021-11-03 15:00] TracyLinder commented on #5540
We are meeting w TDS tomorrow 11/4 to provide quick training and prep for an official go-live date.

[2021-11-03 15:01] johnclary opened #7626 "[Enhancement] Add "Inventory status" column to non-tech work orders table"
Add the "inventory status" column to the [non-tech work orders table](https://atd.knack.com/amd#work-orders-timing-engineers/)

<img width="1415" alt="Screen Shot 2021-11-03 at 9 58 36 AM" src="https://user-images.githubusercontent.com/14793120/140085689-da7ad1e2-8fa9-48cd-8556-12bcc313f3bd.png">

[2021-11-03 15:05] patrickm02L commented on #7515
Show at Sprint on Friday, Nov 5.

[2021-11-03 15:06] #7276 closed, assigned to sergiogcx, patrickm02L

[2021-11-03 15:06] patrickm02L commented on #7276
Refer to Shared Mobility dashboard to see trips. Everything else looks good.

[2021-11-03 15:09] patrickm02L commented on #6833
Progress will move at the speed of 311. This issue is currently on hold until 311 issues can be resolved.

[2021-11-03 15:09] Nadin-Nader commented on #7352
**Status:**
This is having a merge conflict and needs to be addressed when Sree gets back 11/4. Martin has given his advice on what to do in order to mitigate the issue, see below:

[2021-11-03 15:14] Nadin-Nader commented on #6870
@Sreelatha-BlazeKannan this has been deployed to **DEV** Please UAT when you get back 11/4

[2021-11-03 15:15] Nadin-Nader commented on #6870
**Status:**
Ready for UAT on **DEV**

[2021-11-03 15:17] atdservicebot opened #7627 "Update Street Signs Work Orders dataset in Open Data Portal (Socrata)"
Other / Not sure

The Street Signs Work Orders dataset in the Open Data Portal (Socrata) have switched descriptions between the "Funding Number" and "Task Order Number" column.

Link: https://data.austintexas.gov/Transportation-and-Mobility/Street-Sign-Work-Orders/ivss-na93

It will be less confusing with the correct descriptions

No

Susanne G.

[Attachment](https://api.knack.com/v1/applications/

[2021-11-03 15:23] TracyLinder commented on #4624
Putting on deck for Diana.

[2021-11-03 15:24] Nadin-Nader commented on #6562
@SubhaShroff spoke with Paloma yesterday and she found 2 things:

![MicrosoftTeams-image (4).png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/06b19ac1-a27c-4b99-bb22-0add1688938f)

![MicrosoftTeams-image (5).png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/a773d2fb-9307-457e-bfa4-bad0194325f6)

[2021-11-03 15:25] patrickm02L opened #7628 "Change SM labels to be more descriptive and reflect correct subgroups"
@johnclary there are a few labels that need to be amended for Shared Mobility/Smart Mobility.

I've already changed the Product label from SMO to Smart Mobility Reporting Tracker.

I'm proposing that we change "Workgroup: SM" to "Workgroup: Shared Mobility Services," and create a new label "Workgroup: Smart Mobility."

[2021-11-03 15:25] patrickm02L opened #7629 "Change SM labels to be more descriptive and reflect correct subgroups"
@johnclary there are a few labels that need to be amended for Shared Mobility/Smart Mobility.

I've already changed the Product label from:
- "Product: SMO" to "Product: Smart Mobility Reporting Tracker."

I'm proposing that we change:
- "Workgroup: SM" to "Workgroup: Shared Mobility Services,"
- Create a new label "Workgroup: Smart Mobility Office."

[2021-11-03 15:26] johnclary commented on #7626
Done.

[2021-11-03 15:27] #7626 closed

[2021-11-03 15:30] jaime-mckeown commented on #7604
- Citrix: need to update Shanon on ATD's need for ArcMap (Nathan is no longer using, I need to re-check with Sean C at ATSD)
- Software update in Pro: Shanon is looking for feedback regarding how departments would like to deal with the option for users to upgrade themselves. CTM is looking to disable this through the registry
- Shanon is looking to get full Pro users to share how they work with ot

[2021-11-03 15:30] patrickm02L commented on #7629
via @johnclary

[2021-11-03 15:32] Nadin-Nader commented on #7478
@SubhaShroff i spoke to Jaclyn and got her UAT notes for this. She said;

So the Partner Department Drop Down list we will need to remove Project Connect and add "PAR COA Parks & Recreation".
We also need to fix the extra "S" at the end of Watershed Protection

[2021-11-03 15:37] dianamartin commented on #7425
Tracy said that AMANDA has only been collecting TIA Mitigation Payment dates in 2018?
- She said that we may have 1.5 years worth of data
- Anything before 2018 we may not have dates for

[2021-11-03 15:39] andrewshensky commented on #7527
Future changes and additions may be needed but bookmarks have been added to the live bike map so this issue will be closed

[2021-11-03 15:39] #7527 closed

[2021-11-03 15:45] amenity commented on #7450
@dianamartin - check again w Renée, plz :)

[2021-11-03 15:45] moorerst opened #7630 "Enhancement: Parking Meters non 311 Service Request Excel attachment"
Attached are two types of spreadsheets we use on almost a daily basis.
We currently print these off but if we could find a way to send electronically to the tech and then have the tech return them electronically it would be great.

Will discuss further in Sprint Review scheduled 11/5

[2021-11-03 15:47] #7450 closed

[2021-11-03 15:47] moorerst commented on #7551
Ken asked if this needed to be a multi year Master Agreement or a 1 year renewal. Since the adoption of this tool has been slower then expected we opted for 1 year renewal with fewer desk/spaces.

[2021-11-03 15:49] moorerst commented on #7624
Notes from David:
Attached are two types of spreadsheets we use on almost a daily basis. We currently print these off but if we could find a way to send electronically to the tech and then have the tech return them electronically it would be great.

[2021-11-03 15:55] Nadin-Nader commented on #6844
**Status:**
Waiting on 7327 to go to PROD in order to close

[2021-11-03 15:55] johnclary commented on #7613
I created:
- #7626
- #7625

[2021-11-03 15:55] #7613 closed

[2021-11-03 15:55] dianamartin commented on #7590
Added Charlie to GitBook, sent new invite link to him.

[2021-11-03 15:57] #6203 closed

[2021-11-03 15:57] #5513 closed

[2021-11-03 15:58] Nadin-Nader commented on #6255
**Status:**
Vish has updated Subha and she is currently working on this

[2021-11-03 16:00] moorerst commented on #7595
Follow up with Nathan:
Not yet.  Jim Dale is on vacation and I will get with him next week.  I have my 1:1 with Anthony tomorrow and I will ask him.

[2021-11-03 16:04] TracyLinder commented on #6255
@vschandramouli can you please update the AC with the feedback you provided Subha? Thank you.

[2021-11-03 16:05] amenity commented on #7526
@dianamartin will prototype this in TEST to demo to stakeholders.

[2021-11-03 16:05] jaime-mckeown commented on #7617
- CTM Request for Paloma's account to be changed to a COA User
- Configured Isabell's AGOL account

[2021-11-03 16:06] amenity commented on #7625
@johnclary notes here. :)

[2021-11-03 16:08] TracyLinder commented on #7017
**Status:** Still in development in Local

[2021-11-03 16:11] johnclary commented on #7482
Yes—resolved and customers notified.

[2021-11-03 16:11] #7482 closed

[2021-11-03 16:14] andrewshensky commented on #7350
This update has been made and was verified to work successfully during October Street Segment update

[2021-11-03 16:14] #7350 closed

[2021-11-03 16:16] johnclary commented on #7303
Per discussion with MMC. We will track:

- Device ID
- Device Type
- Signal ID
- Location (ATD) – we’ll have some that aren’t associated with a signal (like high rise CCTVs)
- IP Address
- Timestamp (with date)
- Online (true/false)

I blocked off 11/11 and 11/12 to spike on this

[2021-11-03 16:19] #7238 closed

[2021-11-03 16:22] TracyLinder opened #7631 "Update EX Extension Granted & Create COS Payment Automation (Passed PROD UAT)"
### Updates to Right-of-Way Admin Process - Extension Granted Attempt

**Overview:**
In order to implement Cost of Service payment automation on excavation extension fees, the workflow and features of the AMANDA extension features must be updated.

**Workflow / Acceptance Criteria:**

Role | Task
-- | --
User | Saves attempt 'Extension Granted'
System | Performs Validations:✔️Process Infos are ent

[2021-11-03 16:24] TracyLinder commented on #7631
@vschandramouli is going to meet w/ stakeholders and finalize the AC

[2021-11-03 16:25] amenity commented on #7117
@dianamartin - please update

[2021-11-03 16:26] #7514 closed

[2021-11-03 16:34] amenity commented on #7419
Susanne is going to do this.

[2021-11-03 16:49] TracyLinder commented on #7465
@Lpriya-LIT here is clarification:

These infos should only populate when:
- Subtype is ATD
- And Work type is Null, or work type is not Pre-Dev Assesment

Is this possible?

[2021-11-03 16:51] johnclary commented on #7513
@dianamartin you can let christina know we're good ✅

<img width="1355" alt="Screen Shot 2021-11-03 at 11 50 20 AM" src="https://user-images.githubusercontent.com/14793120/140107055-0dc195db-8370-4baf-b497-2890f60e670c.png">

[2021-11-03 16:51] #7513 closed

[2021-11-03 17:18] Lpriya-LIT commented on #7465
@TracyLinder Yes it is possible, will work on it

[2021-11-03 17:20] dianamartin commented on #7324
![image](https://user-images.githubusercontent.com/21112975/140146361-a668e36f-e6bb-4d1e-b9d0-5ad2817524a1.png)

[2021-11-03 17:26] #7324 closed

[2021-11-03 17:34] dianamartin commented on #7117
I pinged Christina 11/2

Christina replied

## Notes from feedback meeting
(These are the notes from the last meeting I had with the Supervisors about the vehicle tracking)
- Update "Out of Service" tab to include both vehicles and equipment
- Create view for technicians to use that doesn't include the "Add Vehicle" and "Edit Vehicle" options.
- Add a Created by field to the table
- "Fleet - Quick

[2021-11-03 17:42] johnclary opened #7632 "GIS updates for new council districts"

[2021-11-03 17:43] johnclary commented on #7632
@jaime-mckeown would you find out what the status of the new district layer is?

[2021-11-03 17:50] Nadin-Nader commented on #6728
Spoke to Paloma on this and she asked that we wait til Friday's meeting to discuss this as she wanted to run it one more time to see if the numbers are still not matching. She also mentioned that the mismatch is not that big so she has a thought that it may not be the report itself.

**Status:**
Waiting on results and the Friday meeting to go over them

[2021-11-03 17:57] johnclary commented on #5887
It's done!

[2021-11-03 17:58] dianamartin opened #7633 "Create SharePoint site for OSE: Office of Special Events"
Maria A.
OSE

Messaged

I replied

[2021-11-03 18:00] dianamartin commented on #7633
Created a new modern SharePoint site: atd_OSE
- Couldn't use `atdOSE` or `atd OSE` as they were already taken
Shared link with Maria
Re-linked site to the ATDHub page menu links
Moving over files from Teams SharePoint to New SharePoint

[2021-11-03 18:06] johnclary opened #7634 "Update maint layer from Vision Zero database"
Also, create a new ID sequence on and assign all features a new ID in a new column.

[2021-11-03 18:07] johnclary commented on #7634
@alan-deanda work with Sergio to get read access to the Vision Zero read-replica. Same permissions that Jaime has.

[2021-11-03 18:08] zappfyllc commented on #7618
@johnclary @amenity I added the data model above. I believe `current_phase` and `phase_simple` should just be queries resulting from the existing relationships (we can have the assigned dev verify these) while `current_status` should be set via UI actions. Then, we can have the application logic dictate whether to show the `status_name` or the `phase_name` based on @johnclary's suggestions in the

[2021-11-03 18:10] zappfyllc opened #7635 "Add current phase and current status to new project mutation"
Re-estimate, this is much smaller than before

- [x] Add a "Potential" phase to `moped_proj_phases` when a new project is created and set `is_current_phase` to `true`
~~- [ ] Set `status_id` to the int that points to "active" in `moped_project_status` when a new project is created (see #7638)~~
~~Remove the table `moped_proj_status_history` (separate issue/PR is fine but want to remove to avoid co

[2021-11-03 18:10] johnclary commented on #7278
@alan-deanda would you pick a few of these that are straight-foward and give it a shot? based on your questions that come up we can discuss as a bigger group

[2021-11-03 18:16] johnclary commented on #7236
Meeting schedule 11/9 to discuss with DTS VZ folks

[2021-11-03 18:19] johnclary commented on #7523
Waiting to hear from Cole.

[2021-11-03 18:21] johnclary commented on #2608
Alan will reach out to Ben V. for an update

[2021-11-03 18:26] #7591 closed

[2021-11-03 18:28] amenity opened #7636 "Create DTS Project Delivery presentation"

[2021-11-03 18:36] johnclary commented on #2608
Please also find out how we can change dataset titles and descriptions, e.g.:https://data.austintexas.gov/dataset/TRANSPORTATION_bicycle_facilities/uwbq-ycek/data

[2021-11-03 18:48] chiaberry commented on #7316
@amenity @zappfyllc Question about editing a project's funding source. Now that Mateo's branch is in main and I'm looking at the funding sources, when you add a source there's a lot more information (amount, status, program). My question is if this is editable from the Signal Project Table, how should it handle including all that information?

[2021-11-03 18:51] johnclary commented on #7583
Andrew is reviewing the output from the first run of the automated process.
Todo:
- include in the model a distance check to determine if an intersection is new or moved.

[2021-11-03 18:52] SubhaShroff commented on #7478
@Nadin-Nader  The above mentioned changes are done and committed. After your approval, I submitted SCTASK0178252 for DEV deployment request.

[2021-11-03 19:01] johnclary opened #7637 "Migrate to CTN feature dataset"
Migrate to CTN feature dataset
Considerations:
- symbology layers
- map doc references
- migrate attribute rules
- ... ?

[2021-11-03 19:03] patrickm02L commented on #7226
Met with Xavier and Mateo on 11/3/21 to get a preliminary understanding of the ask. Will bring to grooming on 11/10/21.

@patrickm02L to add additional notes and send to Xavier to see if we've captured the extent of the issue.

[2021-11-03 19:09] #7633 closed

[2021-11-03 19:16] Nadin-Nader commented on #7162
**Status:**
Sent Paloma a message via Team Chat asking her to UAT this when she has a moment so we can get this on PROD. Waiting response

[2021-11-03 19:33] Nadin-Nader commented on #7017
**Status:**
LakshmiPriya has done the coding for this on Local but is having connectivity issues and cannot TEST and commit the changes yet. She will reach out to Martin for help if by 4pm 11/3/21 the issue is not resolved.

Trying to get this on TEST for Stakeholder UAT on Friday or earlier

[2021-11-03 19:44] #7492 closed

[2021-11-03 19:45] #6994 closed

[2021-11-03 19:45] patrickm02L commented on #7492
Updated based on feedback. We've decided to go with the Solid badges.

font-weight: medium (500)
font-size: 16pt (21px)
font-family: Roboto

F34335 - Red
E0E0E0 - Grey
FFCC66 - Yellow
2DA44E - Green
1276D1 - Blue

Icons can be found [here](https://fonts.google.com/icons?selected=Material+Icons+Outlined:assignment_returned&icon.query=circle).

![Badges – 2.png](https://images.zenhubusercontent.com/

[2021-11-03 19:46] #6481 closed

[2021-11-03 19:46] zappfyllc opened #7638 "Add new moped_project_status table and corresponding values"
- [ ] Add a table named `moped_project_status` and a relationship between `moped_project` (a project has one status)

Status options are the following:
- Active
- Cancelled
- On hold
- Archived

Context: we want to decouple the existing `moped_status` table from serving both `moped_users`, `moped_components` **and** `moped_project`

[2021-11-03 19:53] jaime-mckeown commented on #7604
Mike has moved to Pro as well. Updated the Citrix Servers Dependencies Spreadsheet and let Shanon know.

[2021-11-03 20:01] jaime-mckeown commented on #7604
Emailed Shanon about the idea of disabling the update in the registry in Pro, ATD would love this to keep users at the same version.

[2021-11-03 20:02] #7604 closed

[2021-11-03 20:04] jaime-mckeown commented on #7632
Wait to see if it is mentioned at the GIMOB tomorrow. If not, need to email RoxAnne about the status.

[2021-11-03 20:23] TracyLinder commented on #7606
### Discovery Notes

We will update this issue to focus on limiting the type of attachments available during the application / scope phase to:
- Scope
- Determination Form
- Other

- [ ] Rename issue & update description

[2021-11-03 20:24] dianamartin commented on #7606
# Diana's Notes
There were certain ways to approach this issue
- Training issue - user upload guidance has been implemented
- Scope Submission and TIA Submission are on 2 different tables, they both have "Attachment Types" and those selections can be deleted for each phase.
- `Scope`
- `TIA Determination Form`
- `Other`

[2021-11-03 20:26] #7605 closed

[2021-11-03 20:26] TracyLinder commented on #7605
After speaking with Diana and Jayesh, we've determined that this feature would require DTS-DEV work, and I don't believe the value of this feature justifies the use of our DEV team. Should this need resurface in the future we will reconsider. The stakeholder has been informed & agrees. Closing.

[2021-11-03 20:27] TracyLinder commented on #7606
This will require power user approval before building / development.
- Joan, Nathan A.

[2021-11-03 20:36] zappfyllc opened #7639 "Add UI triggers for project status and apply design updates to project menu"
- [x] Update "Rename" menu item to use the [_outlined_ Pencil](https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Aedit%3A)
- [x] New menu item, "Place on hold" using [Pause Circle](https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Apause_circle%3A) - should set the project's `status_id` to the int pointing to `on hold` in `moped_project` (related to `moped_pro

[2021-11-03 20:39] TracyLinder commented on #7606
**Email to Power Users:**

Howdy Joan & Nathan,

Jayesh gave us some good user feedback on TIA submittal attachments. He reviewed a scope submission where the applicant submitted all TIA attachment types instead of just the scope and determination forms.

We're now wondering if the scope submission attachment types should be limited to 3 options: Scope, Determination Form, and Other. This will pre

[2021-11-03 20:42] TracyLinder commented on #7606
Name & description have been updated.

[2021-11-03 20:46] TracyLinder commented on #7456
I emailed Joan to inform her that this update was made 20 days ago. Closing.

[2021-11-03 20:46] #7456 closed

[2021-11-03 20:47] zappfyllc opened #7640 "Hide cancelled projects"
Based on new `moped_status` relationship to `moped_project` (stored with `status_id`)

- [x] Hide cancelled projects from "All projects" list
- [x] Hide cancelled projects from "Dashboard" table (Signal projects table)

[2021-11-03 20:53] amenity commented on #7368
@moorerst - what is the prioirity on this?

@sergiogcx suggests looking at the DAG we use for MDS.

[2021-11-03 21:12] dianamartin commented on #7552
# Current Re-Stock Item form
![image](https://user-images.githubusercontent.com/21112975/140193348-0f7fb0a0-e428-410b-bb95-cdb4c988ae19.png)

- This form did not have a "Comment" field, it was already there but not visible on the form
- Added "Comment" field to Re-Stock Item form

## Updated Form
![image](https://user-images.githubusercontent.com/21112975/140193518-c598c090-90e4-482b-a51f-2eca4915

[2021-11-03 21:33] andrewshensky opened #7641 "Update CTN Intersection Documentation to include Automation"
Much of this process has been automated. Documentation needs to be updated to reflect workflow with automation in place

[2021-11-03 21:34] amenity commented on #6233
@zappfyllc - please set up a time to align database approaches with @sergiogcx and @mateoclarke to discuss this and #7036 ...
- This
- Status table

[2021-11-03 21:38] zappfyllc commented on #7316
@chiaberry my bad, I did not at all check the funding tab. This will follow the same pattern as the hyperlinked project team and phase (construction, completion) date columns. You can read from `moped_proj_fund_source` and concatenate the values just like you did with the signal ids for now.

[2021-11-03 21:56] amenity commented on #7117
@dianamartin - thanks. Feel free to resize this issue and put back in progress or make a separate issue for a future sprint for enhancements you and Christina decide to do.

[2021-11-03 21:57] #7619 closed

[2021-11-03 22:01] #7628 closed

[2021-11-03 22:27] amenity commented on #3672
@johnclary - what are next steps here? Thoughts:
- If we want to continue to maintain points and lines, we won't be able to have the kind of advanced filtering available in the IMPDV. Or the experience won't be as seamless, bc the user will have to apply to each feature class separately
- We may not need a real-time map, but something updated nightly or on-demand is reasonable.
- This may not be a

[2021-11-03 23:43] atdservicebot opened #7642 "Add a TCP field to the DS folders (LP) - (On Prod)"
### New folder info on DS 'Traffic Control Plan' (info code 75076, same as EX) & add to portal application workflow.

- Mandatory on portal? **Yes**
- Mandatory for issuance? **Yes**

Right-of-Way (ROW) Portal

Add a TCP field to the DS folders (all sub & work types).  This can be mirrored after the TCP field on EX folders.

Customers will be able to provide us their DS TCP info during the applica

[2021-11-04 01:21] dianamartin commented on #7627
This seems like an OpenData Portal issue. Seems to be a 1 of it's just a description update.

[2021-11-04 01:22] dianamartin commented on #7642
@TracyLinder this needs to be reviewed

[2021-11-04 12:41] jaime-mckeown commented on #7573
- create features
- create relationships between features (add selected to relationship - recommended or type the ID)
- create parking restriction (have to add to relationship as it is a table)
- topology (mainly parking spaces must be snapped to a parking zone)

[2021-11-04 12:41] jaime-mckeown commented on #7573
![image](https://user-images.githubusercontent.com/48842809/140315181-79de4c6b-f0e3-4aea-9ee2-6c8877671415.png)

[2021-11-04 12:58] jaime-mckeown commented on #7573
- Spatial Views don't reflect changes made on the underlying schema, so the edits being made won't be seen in the view until it is updated. Will need to look into how we can automate a nightly process for the spatial view.
- The spatial view will need to be pushed to GISDM, then AGOL (check with CTM that we can add spatial views to geodatapusher for updates and scripts for pushing to AGOL.)

[2021-11-04 13:17] jaime-mckeown commented on #7573
- need to go into Maint Edit Maps
   - make spatial view not selectable
   - make spatial view and street centerline not editable

[2021-11-04 14:10] dianamartin commented on #7614
- [x] Created new field `Deactivate` - Yes/No
- [x] Batch updated Status = "Active", Deactivate = "No" - `814`
- [ ] Batch updated Status = "Inactive", Deactivate = "Yes" -`1,614`

[2021-11-04 14:38] jaime-mckeown commented on #7573
- Need to figure out a query that can find all spaces tied to ADA Restrictions, etc.

[2021-11-04 14:54] SubhaShroff commented on #7478
@Nadin-Nader  The deployment is done. Here are the changes reflecting in DEV. Can we move this change to TEST?
![image](https://user-images.githubusercontent.com/51680715/140336728-7eef9203-32f6-41d0-b80c-2149a5b4e1e7.png)

On Portal:

![image](https://user-images.githubusercontent.com/51680715/140336577-02797659-bf32-4e0e-8827-0245ed604e61.png)

[2021-11-04 15:09] TracyLinder commented on #7606
Power user Nate A. approved this change. Moving this to the backlog for possible implementation this sprint or next. FYI @dianamartin

[2021-11-04 15:12] jaime-mckeown commented on #7573
Status Type Field: Active, Inactive, Retired (default to Active)

Space/Zone/Restriction/Paystation Status: add Proposed - new to Status field

[2021-11-04 15:13] patrickm02L opened #7643 "Build CSR tables"
Create the tables for the Service Request as a new tab in SMRT. Use Parking Enforcement Portal as a template.

The micro mobility devices will come from Micro Mobility Service Request, whereas Scoobi, a moped, will be housed in the Parking Enforcement Violation SR as a new type because it can be ticketed - ATD-Shared Vehicle Services.

[2021-11-04 16:07] frankhereford commented on #7622
@patrickm02L

I put together a query to find all the crashes in the database without units. The three which are listed in the issue are correctly noted as being in that set, but I just wanted to get a handle on how big the total list was. As an aside, the query also checks to see if the crashes which are missing units are also missing people in the persons table. (They all are.) The query I used i

[2021-11-04 16:16] ChrispinP commented on #7461
@moorerst Does RPP Staff need any further followup for the renewal list or are we good to close?

[2021-11-04 16:18] ChrispinP commented on #7484
@TracyLinder any further adjustments needed for these ROW COS fields?

[2021-11-04 16:30] moorerst commented on #7461
@ChrispinP confirmed with RPP staff that the list provided the information they needed to send out the notices for January renewals. Thanks.
Closing this issue.

[2021-11-04 16:30] #7461 closed

[2021-11-04 16:32] TracyLinder commented on #7569
### Notes

- Diana will make the updates from today's stakeholder feedback (see her notes), then delete test records, then we will inform TDS that the app is live.

Tracy: make issue to review the connect cases features

[2021-11-04 16:54] jaime-mckeown commented on #7563
@andrewshensky no notes from meeting?

[2021-11-04 16:56] andrewshensky commented on #7563
Meeting Notes: @Johnclary

**GIMOB Chair**: RoxAnne's time as chair ending soon. Asked for volunteers for new GIMOB Chair. Would like to hold vote on new chair during December meeting.

**GIS Software/Database Account Request Form**: Do we only need SPOC approval or should we continue to require Manager Approval? Some issues have occurred with manager approval requirement, particularly for interns

[2021-11-04 16:59] #7563 closed

[2021-11-04 17:25] jaime-mckeown commented on #7573
Create help documentation for editing

[2021-11-04 17:49] moorerst commented on #7368
@amenity next sprint will be fine.
I'm not familiar with DAG. Email format was preferable because there are other individuals within HR that can also use the summary to make updates in other systems/applications. i.e. Train

[2021-11-04 17:56] sergiogcx commented on #7368
@chiaberry this an example use of the email operator, now that I have a better understanding of what the DAG is supposed to do I think it may be insufficient. But for here it is for what it's worth:

https://github.com/cityofaustin/atd-airflow/blob/faef3309a40621338e974a436c687bf1d6b866f3/dags/atd_mds_monthlyreport_production.py#L49

[2021-11-04 18:23] jaime-mckeown opened #7644 "Create Queries for reporting on Parking Inventory"
Research how best to create reports from new schema of parking inventory based on relationships.

[2021-11-04 18:24] jaime-mckeown opened #7645 "Create Help Doc for Parking Inventory MAINT Editing"
Getting Started
- [x] Definition Queries
- [x] Rotating the data frame
- [x] Automatically select related records
- [x] Topology
- [ ] Spatial Views

Editing in MAINT
- [ ] General Editing
- [ ] Adding data to relationships
- [ ] Retiring records
- [ ] Definition Query details (ex: removing Retired records)
- [ ] Topology details (Validating, using the Error Inspector, etc.)

[2021-11-04 18:28] jaime-mckeown commented on #7644
PARKING_ZONE_ID will tie parking restrictions to zones and spaces.

[2021-11-04 18:54] dianamartin commented on #5540
@ChrispinP we just captured some changes from our meeting. I'll be updating them whenever you're not in TDS this week.

[2021-11-04 19:02] Nadin-Nader commented on #7548
Created the account in TEST and set the automation to run for tonight. Andrea was needing to run the batch early and was able to get Adrianna's account created on PROD.

Sent CTM a request asking for Adrianna's account to be created in V7 and added the AD Groups under **SCTASK0178593**

[2021-11-04 19:02] #7548 closed

[2021-11-04 19:18] Nadin-Nader commented on #6255
Received an email from Paloma with UAT results:

![image.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/8987c18b-cd6d-4daa-974b-bd4bff07df0a)

[2021-11-04 19:41] dianamartin commented on #7541
# Diana's Notes
Training for Officers
- Requesting SRs for Parking Meters

Help Guide - Submitting a SR to Parking Meters
- Adding SR
- Adding Photo

Nov. 8-12
Nov. 15
PEP

6/8/2021
4600 total -
3700 records -
2976 records - 2 months

1. Delete Filter
Every quarter delete 2 months from the date
- calendar reminder
 - November
 - February
 - May
 - August
- new github template

1. Out of Service Re

[2021-11-04 19:56] xavierapostol commented on #7622
I believe that all crashes should have at least 1 unit and 1 person. What I have seen is that some investigators do not use the "UNKNOWN" flag that is available to them and there doesn't seem to be a validation tool on the system prior to it being submitted to TxDOT. In the 3 cases I provided the CR3 has a null in the field to identify the unit. Currently, no one but me is actively checking for th

[2021-11-04 19:58] Sreelatha-BlazeKannan commented on #7327
@Nadin-Nader , @TracyLinder - Tested in TEST For Private Development and Project Connect able to make payment online. Ready for TEST UAT.

[2021-11-04 20:04] patrickm02L commented on #7373
Scheduled meeting for Monday, 11/8 to review the building of the app, go over the intake template and evaluation for building.

[2021-11-04 20:34] TracyLinder commented on #7478
**Email to Stakeholders**

Howdy UC Team,

I want to make you aware that I directed Nate not to make the updates you requested yesterday to the list of values in the Partner Department Name field,.

The list of departments must be limited to our COS Partner Departments, which are: ATD, AE, AW, PWD, WPD, and CPO. Parks & Project Connect are not COS partners and therefore will need to pay per invoic

[2021-11-04 20:34] TracyLinder commented on #7478
### These are the COS Partner Departments
<img width="502" alt="Screen Shot 2021-11-04 at 3 32 42 PM" src="https://user-images.githubusercontent.com/49930868/140415807-f7e04819-6d65-4f4c-ab62-191fbaea1afc.png">

[2021-11-04 20:41] amenity opened #7646 "Project: Contractor Work Orders"

[2021-11-04 20:50] dianamartin opened #7647 "Set-up scheduled delete of Resource Tracking Logs"
DTS

Create scheduled delete of Resource Tracking Logs
- [x] Write out deletion steps
- [x] GitHub Issue Template
![image](https://user-images.githubusercontent.com/21112975/140553167-49905501-0cda-43d5-b260-582f0da6201e.png)
- [x] Outlook event notification (quarterly)
![image](https://user-images.githubusercontent.com/21112975/140553367-3889d85d-6bc8-479b-a78d-86e7e32ec4b8.png)

[2021-11-04 21:00] moorerst opened #7648 "Enhancement: Parking Enforcement Dispatch Tracking New Out of Service Reason"
Parking Enforcement staff requested new choice field for Out of Service Reason

- Inspections

[2021-11-04 21:07] andrewshensky commented on #7583
Functionality now includes a field in the output identifying whether an intersection point was moved or is new. Modified points within 100ft of existing intersection point are marked as 'Moved' and modified points beyond 100ft are marked as 'New'. This radius may need fine tuning in the future but the process is pretty solid.

[2021-11-04 21:07] #7583 closed

[2021-11-04 21:08] atdservicebot opened #7649 "Need to add "Vision Zero" as a specific Division requester in our application."
Signs & Markings Operations

Need to add "Vision Zero" as a specific Division requester in our application.

Have Vision Zero send us work orders for various special projects under "Vision Zero" as the requester.

No work arounds other than sometimes staff from Transportation Engineering will submit the work orders for Vision Zero.

Needing this as soon as possible for a special project we are sta

[2021-11-04 21:08] moorerst opened #7650 "Prep for Parking Meters non 311 SR's Go Live"
Planned Go Live date 11/15

- [x] Provide Help Guide to Parking Enforcement leadership to provide to PEO's
- [x] Testing with PEO's week of 11/8
- [x] Testing with Parking Meters admin staff 11/8
- [x] Testing Notes/Feedback
- [x] Modifications from testing
- [ ] Delete test records

[2021-11-04 21:18] andrewshensky opened #7651 "Clean up CTN Intersection Point data/Verify Issues Not From Processing"
The topology rules set up in the new CTN dateset identified duplication of intersection points (108). Duplicated points need to be removed and verification is needed to make sure duplicates aren't being created in update process. This can be tested during sample processing with updated automated processing for intersection points.

[2021-11-04 22:31] dianamartin opened #7652 "Delete "dispatch_resource_tracking_log" from PEP Parking Enterprise Portal - NOV 2021"
Received automated reminder to delete dispatch resource tracking logs in Parking Enterprise Portal and reference the Dispatch Resource Tracking Log Archiving wiki

Ran filter on: https://builder.knack.com/atd/parking-enterprise/records/objects/object_12

Filter:
`Status` is `Marked for Deletion`
`CREATED_DATE` is `before` <one months ago>  9/5/2021

Total Records: `4695`
To Delete: `2989`
New Tota

[2021-11-04 22:37] dianamartin commented on #7650
Create help guide for
- New SR for Parking Meters
- Add Image for SR for Parking Meters

Create new PEO Filter
- Showing only Parking Meter Issue Types
- Form Rule to set correct "Issue Type"

Create My Assignments "Add Attachment" button - only for Parking Meter techs

[2021-11-04 22:40] dianamartin commented on #7624
- Ask about testing spreadsheets flow, week Nov. 8th-12 - Parking Meters
- Nov. 15th, Parking Enforcement training, test SR record creation
- Nov. 19th - Clear all test records from system
- Nov. 22nd - Go Live

- What are Parking Meter's Reporting Needs
  - PE wants a report for PEO creations of SRs for Parking Meters

[2021-11-05 05:20] sergiogcx opened #7653 "Design refinements: Project description"
Implement project description as required in #7491

[2021-11-05 05:22] sergiogcx opened #7654 "Design refinements: Current Phase"
Implement current phase as required in #7491

[2021-11-05 05:23] sergiogcx opened #7655 "Design refinements: Capital Funding"
Implement capital funding as required in #7491

[2021-11-05 05:23] sergiogcx opened #7656 "Design refinements: Start Date"
Implement start date as required in #7491

[2021-11-05 05:24] sergiogcx opened #7657 "Design refinements: Status Update & Current Status"
Implement current status as required in #7491

[2021-11-05 05:44] sergiogcx opened #7658 "[Bug][Snackoo] Fix staff multi-select"
Staff role multi-select goes crazy when selecting a lot of roles.

[2021-11-05 13:49] Sreelatha-BlazeKannan commented on #6870
@Nadin-Nader , @TracyLinder - Development is in Progress for all fees mentioned in excel for folders SP/ZC/C/C8/TIA.

[2021-11-05 13:51] vschandramouli commented on #7607
Added Acceptance Criteria. Moving to Backlog.

[2021-11-05 14:13] jaime-mckeown commented on #7632
From Jacquie at GIMOB:

[2021-11-05 14:35] johnclary opened #7659 "[BUG] Global search is affected by previous advanced search"
To reproduce:
1. Do an advanced search from the projects page. Make it specific. E.g. `Project ID is 228`
2. Navigate to a project summary page from a project in the search results
3. Use the global search to find another projects.

Expected result: global search works normally
Actual result: global search only displays results from the previous advanced search

<img width="1297" alt="Screen Shot

[2021-11-05 14:38] johnclary opened #7660 "[BUG] Milestone "complete" attribute is blank"
To reproduce:
Add a new milestone. Do not toggle the "complete" switch

<img width="1371" alt="Screen Shot 2021-11-05 at 9 37 02 AM" src="https://user-images.githubusercontent.com/14793120/140528084-1fdeb77e-53db-4c29-b200-d47ad4426337.png">

[2021-11-05 14:47] dianamartin commented on #7624
- [ ] Send email on Monday that has help guides and log-in instructions
- [ ] Set-up spreadsheet test workflows (2 versions)
  - Toomey Route, No. 22
  - David emailed it to us
- Jeremy shared monthly report spreadsheet for David D.

### Updates
- Manage Accounts
  - [ ] Edit user roles/status?
- [ ] Add new Issue Type - `Meters- Preventative Maintenance`
- [ ] Add Attachment button - Parking Mete

[2021-11-05 14:47] moorerst commented on #7624
PM stakeholders agreed to following test plan:

- Nov 8th - test preventive maintenance spreadsheet workflow using the Toomey route #23

Will send communication to team on Monday 11/8

- Nov 15 - test SR workflow with both PE and PM

Requested new activity type - PM

No reporting needs at this time

[2021-11-05 14:48] johnclary commented on #7632
👍 thanks for the update. Moving to backlog

[2021-11-05 14:51] jaime-mckeown commented on #7610
- Found out that council districts won't be updated for a few months, let Maria know. She would like to move forward with creating maps for all 10 districts

[2021-11-05 15:47] jaime-mckeown opened #7662 "AGOL Admin for TDSD"
Curtis requested a couple more people be added to their Group in AGOL (Dan H. and Upal B.)

[2021-11-05 15:48] jaime-mckeown commented on #7662
- Dan's account was already configured for TDS
- Configured Upal's account and added to Groups
- Let him know that Joe still hasn't created an account

[2021-11-05 16:01] jaime-mckeown commented on #7662
Curtis let me know that Joe may not need to use the TDS Web App. Let him know to have Joe contact me if that changes in the future.

[2021-11-05 16:01] #7662 closed

[2021-11-05 16:02] dianamartin commented on #7648
Added new choice to `Out-of-Service-Reason`

[2021-11-05 16:06] jaime-mckeown opened #7663 "Add DAPCZ to ROWPACT"
Peter M. in ROW requested that the DAPCZ layer be added to ROWPACT.

[2021-11-05 16:08] jaime-mckeown opened #7664 "Get Bluebonnet Electric's Utility Poles if available"
Harrell has requested that we get a copy of Bluebonnet Electric's utility poles.

[2021-11-05 16:29] jaime-mckeown commented on #7664
Looked around Bluebonnet Electric's website. Ended up emailing the Manager of Function/App Support to see if they have GIS data or location information regarding their utility poles.

[2021-11-05 16:54] SubhaShroff commented on #7478
@TracyLinder  @Nadin-Nader  submitted SCTASK0178740 to remove "PAR COA Parks & Recreation" from the list.

[2021-11-05 17:07] dianamartin commented on #7503
Closing, we have another issue # 7650 that is working on training documents for Parking Meters and Parking Enforcement

[2021-11-05 17:07] #7503 closed

[2021-11-05 17:09] amenity opened #7665 "[Bug] unneccessary scroll bars show up in map components panel on Windows/Chrome"
|Property | Value|
|------------ | -------------|
| Browser | Chrome 95.0 |
| Operating System | Windows 10 |
| Resolution | 1860x932 |

**Screenshot Attached**
[Screenshot URL](https://live.browserstack.com/issue-tracker/d63bdb08a8624e4b5ea7a984737acbfc024ab301/win10_chrome_95.0.jpg)
 ![Screenshot URL](https://live.browserstack.com/issue-tracker/d63bdb08a8624e4b5ea7a984737acbfc024ab301/win10_chro

[2021-11-05 17:09] patrickm02L opened #7666 "Project: Bike Share Benefit"
Online application for City of Austin staff to sign up for the Bike Share Benefit program which allows for free monthly rides through Bike Share Austin.

## Background

This project will expand and streamline the scope of Transportation Demand Management’s (TDM) capacity to process requests, maintain security of staff information, and collect analytics on the Bike Share Benefit (BSB) program succe

[2021-11-05 17:18] amenity commented on #7665
![Screen Shot 2021-11-05 at 12 17 47 PM](https://user-images.githubusercontent.com/1463708/140551847-a3b7688f-8a35-4ffe-8af4-ce721df2a5eb.png)

[2021-11-05 17:30] #7647 closed

[2021-11-05 17:35] amenity opened #7667 "Reorder project page tabs"
![Screen Shot 2021-11-05 at 12 29 55 PM](https://user-images.githubusercontent.com/1463708/140553411-a8e5022e-acb4-4dc4-b098-567d7412eeb5.png)

Change to
1. Summary
2. Map
3. **_Timeline_**
4. **_Team_**
5. **_Funding_**
5. **_Comments_**
6. **_Files_**
5. Activity Log

[2021-11-05 17:35] dianamartin commented on #7652
![image](https://user-images.githubusercontent.com/21112975/140553802-b4d6a841-7197-4889-97f3-815d090d578d.png)

Start Delete: 12:33 pm
End Delete: 12:35 pm

[2021-11-05 17:35] #7652 closed

[2021-11-05 18:06] atdservicebot opened #7668 "I would like an account to test the ABC Portal from a resident perspective."
AMANDA

I would like an account to test the ABC Portal from a resident perspective.

Flexible  — An extended timeline is OK

Amenity A.

Request ID: DTS21-102955

[2021-11-05 18:33] jaime-mckeown commented on #7644
- Found that retired records existed in some of the layers / table. Checked with Joseph on archiving those and he agreed. Exported copies to Maint_Edit FGDB in case they are needed in the future. Data now only contains Active records.

[2021-11-05 18:40] jaime-mckeown opened #7669 "Create and Automate Parking Restrictions Spatial View"
Need to automate the creation of the Parking Restrictions Spatial View as it will need to be re-created daily or hourly.

Will create a Python Script, then a Script Tool, then look into how I can run it on a schedule in Pro.

[2021-11-05 18:40] amenity opened #7670 "Add "Project Delivery" to workgroup options for Moped users & alphabetize list"
New division under Amica, "Project Delivery".

Also please alphabetize options in the dropdown on the user editing page:
![Screen Shot 2021-11-05 at 1 39 03 PM](https://user-images.githubusercontent.com/1463708/140562057-65aaf7b0-2dde-4d71-bbab-d03355551a7e.png)

[2021-11-05 18:41] zappfyllc commented on #7639
@amenity should we distinguish between "Delete" and "Cancel"? I think these and "On Hold" specify/communicate three different statuses:

- On Hold: a project is suspended and may resume an active status in the future
- Cancelled: a project was created, may have made some progress, but was cancelled for any reason
- Deleted: could be a user mistakenly entering a project into Moped for any variety o

[2021-11-05 18:42] johnclary commented on #7071
Made [some progress](https://github.com/cityofaustin/atd-cost-of-service-reporting/blob/production/knack_run_jvd_report.py) on the JVD report. Going to hold off on further development until Van runs her test with controller's office. She will manually complete the JVD template, and I'll reference it once the controller's office approves it.

[2021-11-05 18:47] amenity commented on #7649
@dianamartin - thanks. Mind doing this soon?

[2021-11-05 18:48] andrewshensky opened #7671 "November ERC Meeting"

[2021-11-05 18:50] andrewshensky commented on #7671
ERC Meeting notes have been provided to team through slack

[2021-11-05 18:50] #7671 closed

[2021-11-05 18:50] jaime-mckeown commented on #7669
Steps:
- Need to have ability to overwrite (check permissions after to see if they still remain for the users)
- Create Database View
- Register with GDB
- Change Privileges (if needed)

[2021-11-05 18:59] Nadin-Nader commented on #7478
**Status:**
On TEST but changes made still need to go to DEV. TASK for changes to DEV is SCTASK0178740

[2021-11-05 19:13] dianamartin commented on #7649
@amenity nope, this isn't difficult

[2021-11-05 19:18] dianamartin commented on #7649
- [x] `Division` field did not have `VISION ZERO`, added it
![image](https://user-images.githubusercontent.com/21112975/140566549-e4f7989c-2b8a-4c11-8dc7-ef23b2353376.png)

- [x] Changed Joel M. to VZ from ATSD

[2021-11-05 19:21] #7649 closed

[2021-11-05 19:22] dianamartin commented on #7514
Sync'd with Christina 11/2 and told her about the update

[2021-11-05 19:29] SubhaShroff commented on #7162
@Nadin-Nader  @TracyLinder  After UATing today,
Other City Department EX, RW-TURP also should be COS Auto-payment.  I am going to add Other City Department  to the list that goes in COS Auto-payment.   Project Connect  is already taken care.

@vschandramouli  Can you please update the AC for the below or if I am allowed to edit AC, I can do that 🙂 :
- Project Connect -  **NO** COS Auto-payment.
-

[2021-11-05 19:48] dianamartin commented on #7117
Made the suggested changes with Christina. She'll show team the changes next week.

[2021-11-05 19:51] Nadin-Nader opened #7672 "Update PSM, Vendor, Valet and other TURP Fee amounts for FY22 that were missed (On PROD🎉🎉)"
Update PSM, Vendor, Valet and other TURP Fee amounts for FY22 that were missed

**Acceptance Criteria**

Link to Fees:
https://www.austintexas.gov/sites/default/files/files/Transportation/Right_of_Way/Fee%20Schedule%202021-2022.pdf

[2021-11-05 19:54] Nadin-Nader opened #7673 "BUG: TURP ROW Usage Fees are not updated or calculating Properly (On PROD🎉🎉)"
TURP ROW Usage Fees are not updated or calculating Properly
In all tiers the following fees were not correct:
Sidewalk Space Extension, Alley extension, Additional traffic lane extension

Link to Fees:
https://www.austintexas.gov/sites/default/files/files/Transportation/Right_of_Way/Fee%20Schedule%202021-2022.pdf

[2021-11-05 19:55] dianamartin commented on #7627
@amenity I'm going to fix this issue

[2021-11-05 20:13] chiaberry commented on #7316
@amenity & @zappfyllc  I added `purchase_order_number` to moped_proj_financials and brought it into this view. But now as I'm going to write the update/mutation I've run into a snag. I tried testing an upsert where I add a dummy PO# to an existing project

[code]

and I get a constraint violation error, `"message": "Not-NULL violation. null value in column \"subproject_name\" violates not-null con

[2021-11-05 20:13] frankhereford commented on #7567
Thanks to @chiaberry for her help answering my questions while I've begun to understand all the relationships and terminology of Knack! While this issue is literally just adding a column to a table in `moped_projects`, it's been been a learning process (builder.knack.com, knack-explorer.austinmobility.io, atd-knack-services) to know that this field will be storing a 24 character hex string.

[2021-11-05 20:25] patrickm02L opened #7674 "Refine Data and Performance Hub Styling"
Met with @johnclary on 11/5/21 to go over how to clean up the [Data and Performance Hub](https://brave-wozniak-4a02f0.netlify.app/), how to standardize the styling across the main landing page cards, and what happens when the cards open up to their own page.

Reference:
- [ATD Branding Guidelines](https://drive.google.com/file/d/1op7hXYnQOYYzW8P1-8LISoQA0WmVvpQL/view)
- [Proposed DTS Website Brand

[2021-11-05 20:49] dianamartin commented on #7627
Signed into Socrata as transportation admin and made changes to column metadata
![image](https://user-images.githubusercontent.com/21112975/140576721-8bed1e19-9ddc-4e9f-946c-6994b05c7473.png)

[2021-11-05 20:59] #7627 closed

[2021-11-05 21:02] SubhaShroff commented on #6255
@Nadin-Nader  SCTASK0178810 is submitted for DEV deployment of the changes to reflect Paloma's email.

[2021-11-05 21:05] dianamartin commented on #7606
For "Attachment Type" field on `TIA_scope_submission_content` removed all other types except for
- `Scope`
- `TIA Determination Form`
- `Other`

Removed fields:
- Site Plan
- Traffic Impact Analysis Document
- TIA Appendix/Appendices
- Trip Distribution Spreadsheet(s)
- Synchro Analysis File(s)
- Signal Timings
- Response Memo
- Final Memo

[2021-11-05 21:07] chiaberry commented on #7316
@johnclary  ^^^ here's the question I was bringing up at dev sync

[2021-11-05 21:37] jaime-mckeown commented on #7669
- Got the script working
- Created a script tool and setup to run automatically

[2021-11-05 21:38] jaime-mckeown commented on #7669
Realized that I need to filter out Retired records from Spatial Join. Having problems with the query. See if someone can help me out with that next week.

[2021-11-05 21:44] Sreelatha-BlazeKannan commented on #7327
@Nadin-Nader , @TracyLinder - As per our meeting today with Stakeholders Kim and Paloma, this can be moved to PROD once #7162 moved to PROD.

[2021-11-05 22:19] amenity commented on #7627
Thanks, @dianamartin !

[2021-11-07 03:45] johnclary opened #7675 "Get feedback/input from PIO"

[2021-11-07 03:46] johnclary commented on #7675
I submitted PIO's request form to let them know about this work and ask for their input.

[2021-11-07 18:21] johnclary commented on #7550
We have a basic working prototype in the ROW portal which needs additional feedback from staff. We will refine the app after we complete the November fee updates manually.

[2021-11-07 18:23] johnclary commented on #423
We delivered an initial, manual prototype of this solution and need to re-prioritize further development. Since we last visited this work we have gained programmatic access to AMANDA, so we are essentially unblocked.

[2021-11-07 18:28] johnclary commented on #3163
We have moved this project into the backlog after developing some basic arcgis online viewers for TED staff. We'll need to revisit this after #662

[2021-11-07 18:32] johnclary commented on #7666
@patrickm02L I moved this to "needs scoping"

[2021-11-07 18:55] johnclary opened #7676 "Product: CCTV Image Service"
A service that provides live images from Austin Transportation's traffic cameras.

![cctv-cropped](https://user-images.githubusercontent.com/14793120/140657945-4f353ef2-9016-4427-9e87-1a07341d917f.jpg)

### Resources

- Images are available following the URL pattern `https://cctv.austinmobility.io/image/< camera-id >.jpg`
- Our [public traffic camera dataset](https://data.austintexas.gov/Transport

[2021-11-07 19:31] johnclary commented on #7546
Charlie, Van, and I met with Lesly (Fiserv) last week. Lesly provided us a list of "discretionary" fields in their transaction data which are populated by vendors (Flowbird, in this case).

I followed up via email with two requests:
- Please set up ClientLine access for Charlie
- I'd like to know more about what, if any, options are available for us to access the transaction report data programmat

[2021-11-07 19:34] johnclary commented on #6925
@Charlie-Henry has been investigating the transaction data to identify a common row identifier between the meter transactions and Fiserv transactions. He's going to out to Darren (Flowbird) about this now that we have a better understanding of Fiserv's data (via #7546)

[2021-11-07 19:39] johnclary commented on #7599
Per Darren:

I replied to ask for clarification

[2021-11-07 19:41] johnclary commented on #2526
@TracyLinder since the work for this project is substantially complete, can we close out this project and manage the remaining issues as typical enhancements/bug fixes/etc?

[2021-11-07 19:44] johnclary commented on #7600
We're meeting with Joseph tomorrow to get a tour of Passport's "OpsMan" back-office reporting platform.

[2021-11-07 20:03] johnclary opened #7677 "[BUG] Projects in "On Deck" pipeline are not rendering on project list"
There is a case issue [here](https://github.com/cityofaustin/atd-product/blob/a286a9f7788b64f7da964ceb8a762fbc2228f3c6/components/wrappers/IssuesContextWrapper.js#L47) that is preventing "On Deck" projects from rendering in the projects list. E.g., [this project](https://github.com/cityofaustin/atd-data-tech/issues/4946) is no where to be found.

[2021-11-07 22:20] johnclary commented on #638
@andrewshensky @alan-deanda is there still active work remaining for this project?

[2021-11-08 12:51] patrickm02L commented on #7561
Added a few items to test for. Tested on 11/5/21

[2021-11-08 12:51] #7561 closed

[2021-11-08 13:09] zappfyllc commented on #7316
@chiaberry let me check with both @amenity and @johnclary on whether they see the columns in `moped_proj_financials` as relevant to the later scope of Moped (it was originally conceived as a 1:1 match to consolidate any financials coming over from external systems so as not to always perform reads and writes nor throw everything into `moped_project`), but for now let's actually add `purchase_order

[2021-11-08 13:56] andrewshensky commented on #638
I think we can probably close this one. Data collection is ongoing but everything has been pretty stable for the past couple of months.

[2021-11-08 14:53] vschandramouli commented on #7283
Updated AC, moving to Backlog.

[2021-11-08 14:54] Nadin-Nader commented on #7478
@SubhaShroff the changes have been deployed to **DEV** Please UAT

[2021-11-08 15:02] Lpriya-LIT commented on #7672
@Nadin-Nader If possible, could you please let me know the fee codes for the above mentioned fees

[2021-11-08 15:05] dianamartin opened #7678 "Update "Journal Voucher" info in AMD Data Tracker - Warehouse Inventory- NOV 5 2021"
- [x] Spreadsheet emailed from Van month of: Nov 5, 2021
- [x] Number of records being updated: `136`
- [x] Format spreadsheet [(Review instructions)](https://atd-dts.gitbook.io/atd-knack-operations/warehouse-inventory-updating-journal-vouchers-jv-information)
- [x] Spot check Transaction IDs, no JV information before import
- `13266`
- `12929`
- `11278`
- [x] Import records
- [x] Spot check Trans

[2021-11-08 15:20] dianamartin commented on #7678
![image](https://user-images.githubusercontent.com/21112975/140768544-b1ac1447-7434-4dd8-9ebf-97b5a5565ca2.png)

[2021-11-08 15:41] patrickm02L opened #7679 "[Bug] Infinite Refresh Loop on Login"
When initially logging into Moped Test the page falls into an infinite refresh loop that does not stop. I can stop it by hitting "X" on the refresh button and clicking on a the Projects tab to reload the page.

Video shows:
- Looping behavior
- Errors in the console
- Stopping the loop

https://images.zenhubusercontent.com/140626918/bfb589e7-3a25-47b5-a759-de1d9e137eb9/infinite_loop_login__1_.mp4

[2021-11-08 15:44] dianamartin commented on #7569
This is what the Connected Development Cases looks like on the TIA Reviews
- it's a separate form on the selections.
![image](https://user-images.githubusercontent.com/21112975/140772404-7f8a1e7e-df61-4285-8d00-7e889cf65824.png)
- Also, the "Edit Review" buttons are in different locations on the "Development Reviews" page compared to the "Development Assessment" page. Did you need them to match at

[2021-11-08 15:57] patrickm02L commented on #7666
#7373 Initial request and Epic.

[2021-11-08 16:03] dianamartin commented on #7614
@johnclary I'm just trying to remember. Allyson wrote we're overriding `2423`, but is it `2432`?
- 2423 - has `188` records
- 2432 - has `0` records - this is what is on the issue title now..
Which is it?

[2021-11-08 16:11] moorerst commented on #7650
@dianamartin as a PM Admin if I select Issue Type Preventive Maintenance should I need to enter a Address if the Preventive Maintenance is covering a wide range of addresses?

[2021-11-08 16:12] moorerst commented on #7648
confirmed with Jasmine that the new Out of Service reason "Inspection" is showing in the list. Closing issue.

[2021-11-08 16:12] #7648 closed

[2021-11-08 16:12] #7658 closed

[2021-11-08 16:15] dianamartin commented on #7650
@moorerst that's currently how we have the SR Issue set-up.. it might be something we have to change.

[2021-11-08 16:22] patrickm02L commented on #7679
Talked to @frankhereford who was having a similar but different issue with the infinite refresh in Test.

After talking with Frank, we've determined that this is a band-aid of a hack to a much bigger problem around how Frank, Chia, Jorge, and I all share a database ID of 46. See PR [#456](https://github.com/cityofaustin/atd-moped/pull/456#pullrequestreview-800333138)

[2021-11-08 16:31] moorerst commented on #7541
Following the meeting PE requested we moved their testing date back to Nov 15th. With possible Go Live week of Nov 22nd.
Created new issues for other items discussed in the meeting. Closing issue.

[2021-11-08 16:31] #7541 closed

[2021-11-08 16:32] dianamartin commented on #7614
@johnclary the only concern I have is the 2423 Miscellaneous Other Tasks that get used. Does Billy and Supervisors have an alternative for those types of things?

[2021-11-08 16:35] dianamartin commented on #7606
Joan replied 11/8

[2021-11-08 16:37] atdservicebot opened #7680 "Add Radar to the Detection Type in the Signal database"
Data Tracker

Please add Radar to the Detection Type in the Signal database and add it as a choice for the "Advanced Search" in the Signal List.

The ability to track the number of intersections with radar installed

None

As soon as possible.

Brian V.

Request ID: DTS21-102960

[2021-11-08 16:48] atdservicebot opened #7681 "Add a new field to the School Zone Beacon Zone data indicate "System" integration"
Data Tracker

We'd like to add a new field to the School Zone Beacon Zone data that tells us what "System" it is integrated into.

https://atd.knack.com/amd#school-zone-beacons/school-zone-beacon-zones/

Two options for the new "System" field would be 'Zone Watch' or 'Stratos'. We can provide a list or update the fields ourselves once able.

None

Lance B.

Request ID: DTS21-102965

[2021-11-08 17:00] TracyLinder opened #7682 "BUG: Bugs on GF w/ TCP Fee (On PROD🎉🎉)"
### Updates to GF subtype Austin Transportation, no work type

StakeHolders: Robert A., Paloma

- [ ] System should insert & bill the TCP Review Fee & surcharge during the automatic add phase
- Traffic Control Review $220
- ATD Tech surcharge ROW 4% of Traffic Control Review Fee
- [ ]  Add TCP Review Fee to Insert & Run menu on fee tab. When this fee is selected the System should insert & bill the

[2021-11-08 17:12] Nadin-Nader commented on #7465
@Lpriya-LIT This has been send to the DevOps CM Team to deploy to **_DEV_** Under **SCTASK0179115**

[2021-11-08 17:12] Nadin-Nader commented on #7465
**Status:**

Waiting on the DevOps CM Team to deploy to **_DEV_** Under **SCTASK0179115**

[2021-11-08 17:15] moorerst commented on #7551
Ken is requesting we reach out to Robin and request a sole source justification letter similar to what was used for the AE Robin procurement. Sent email to Robin contact.

[2021-11-08 17:17] atdservicebot opened #7683 "Add FY22 tab for citation information"
Parking Enterprise Portal

We need a FY22 tab. So we can enter in Oct '21 - Sept '22 citation information

Flexible  — An extended timeline is OK

Jasmine L.

Request ID: DTS21-102970

[2021-11-08 17:18] johnclary commented on #4383
@johnclary push your latest changes and send link to renee

[2021-11-08 17:19] johnclary opened #7684 "Signal Projects Dashboard 2.0"

[2021-11-08 17:22] TracyLinder commented on #7465
When UAT is ready, our SME is Robert Alvarez.

[2021-11-08 17:36] TracyLinder commented on #7682
@Nadin-Nader lets talk about this

[2021-11-08 17:37] amenity commented on #7639
@zappfyllc I'm totally on board with this distinction. "Deleted" projects are data our users wouldn't want to include in any analysis, but canceled projects might conceivably be useful.

[2021-11-08 17:48] andrewshensky opened #7685 "Bike Rack Install Data Request"
Request for Bike Rack Installs from 10/1/2020-9/20/2021

[2021-11-08 17:53] frankhereford commented on #7565
Re #7567, these columns are going to need to be writable via a "view based POST," so in addition to creating these records, a view needs to be created with an un-authenticated API endpoint that can be used to create new records in the projects object.

[2021-11-08 17:55] patrickm02L opened #7686 "Create a new logo"
Update logo on the app to reflect the Smart Mobility Office.

[2021-11-08 18:01] zappfyllc commented on #7639
@amenity Agreed. If we add a third option to this menu, maybe we use the trash icon for "Delete", use the cancel icon for "Cancel", and add a third icon (clock/calendar) for "Place on hold"?

[2021-11-08 18:14] frankhereford commented on #7565
Steps taken in Knack's "TEST | Austin Transportation Data Tracker | MOPED DEV - 12 OCT 2021" app:

* Create short_text field called `Moped Project ID`. Not required. Must be unique. No default value. "Moped's internal ID for a project." as the description.
* Create short_text field called `Moped Project Name`. Not required. Not required to be unique. No default value. "Project name as defined in M

[2021-11-08 18:43] johnclary opened #7687 "[Enhancement] Create new banner image for Austinmobility.io"
The [bicycle logo](https://austinmobility.io/) doesn't adequately capture the scope ATD's portfolio. Replace it with a new image/logo.

![bike banner.jpeg](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/3e27fe9b-e274-4bea-b763-3d9424d3689a)

[2021-11-08 18:52] frankhereford commented on #7565
POST'ing to `https://api.knack.com/v1/pages/scene_514/views/view_3047/records` using headers

![image](https://user-images.githubusercontent.com/3653206/140800533-12b2999f-944b-4ea6-ab3f-410ac49f0362.png)

[code]

creates a new record in Knack.

[2021-11-08 19:10] amenity commented on #6506
@patrickm02L - will you get these from Jacob?
- [Palette](https://user-images.githubusercontent.com/1463708/140802438-aa2793c5-0043-47f8-918e-e8bc5421b117.png) as adobe swatches?
- [Streetscape vectors](https://user-images.githubusercontent.com/1463708/140802238-27c6f1a9-dfa3-48f4-a0e9-98b5c6f15c70.png)
- [Icons](https://user-images.githubusercontent.com/1463708/140802589-67799069-28f9-4cfe-9753-a

[2021-11-08 19:13] amenity commented on #7639
@zappfyllc - yep. I'll get you an updated mock up today

[2021-11-08 19:22] patrickm02L commented on #7373
@dianamartin Added you to this Epic for quick reference.

[2021-11-08 19:37] #7533 closed

[2021-11-08 19:56] atdservicebot opened #7688 "Add Andrew A. as a receiver for Central Texas Heavy Duty Vehicle Reports form emails"
Other / Not sure

Add my email to the recipients of the following form:

https://atd.knack.com/atd-forms#hdvi/

Soon — This week

Andrew A.

Request ID: DTS21-102975

[2021-11-08 20:01] TracyLinder opened #7689 "SIF IT Project Meetings"
### All SIF-IT meeting notes.

**Meeting Info**
- IT Project meetings currently occur twice weekly. _Amber, Nathan, Joe, Tracy, Vish, Peggy/Dan_
- Core team meets once weekly. _Tracy, Vish, Priya_

**Resources / Links**
- [SIF OneDrive Folder](https://cityofaustin-my.sharepoint.com/:f:/g/personal/tracy_linder_austintexas_gov/El3RlU9bxVJMvoJXVLOxfnoBuvhzf4iHt8VgBstEmSEG2g?e=IWS39u)
- [SIF Miro (Wor

[2021-11-08 20:09] #7677 closed

[2021-11-08 20:12] alan-deanda commented on #7578
Made final updates to the draft, closing this issue.

[2021-11-08 20:12] #7578 closed

[2021-11-08 20:13] #7577 closed

[2021-11-08 20:13] #7615 closed

[2021-11-08 20:15] alan-deanda opened #7690 "Safe Routes to School data demo"
Help Orlando make a demo of safe routes to school data that updates phase and other relevant fields with data pulled from the interim mobility database.

[2021-11-08 20:27] #7358 closed

[2021-11-08 20:28] #7069 closed

[2021-11-08 20:28] #7653 closed

[2021-11-08 20:29] #7657 closed

[2021-11-08 20:30] #7655 closed

[2021-11-08 20:31] dianamartin commented on #7688
Cari B. was still listed as a recipient, changed to Andrew A.

[2021-11-08 20:33] sergiogcx commented on #7654
Ah, this is done. Closing.

[2021-11-08 20:33] #7654 closed

[2021-11-08 20:33] #5847 closed

[2021-11-08 20:44] chiaberry commented on #7007
I haven't been able to replicate/witness the misaligned table columns, however I did see (or not see) the missing total in view 16. It was set as visibility:hidden in the css, I have commented that part out.

[2021-11-08 20:55] sergiogcx commented on #7656
Not going to be needed. Closing.

[2021-11-08 20:55] #7656 closed

[2021-11-08 21:06] TracyLinder opened #7691 "Meeting: Prep for Code Freeze"
### Identify the deliverables we need to ship before the code freeze, and determine if we can get it all done by 12/6

See [this spreadsheet](https://docs.google.com/spreadsheets/d/1wUtogzgwOsOV4pgWZtTiZAjrwZrUUqkMgyn9WsK22dI/edit?usp=sharing)

[2021-11-08 21:15] TracyLinder commented on #7691
### All the Things

#7682
#7672
#7673
#2666 Ose Folder Process Cleanup
#7631
#7862 Bug on GF for TCP Fee

[2021-11-08 21:34] zappfyllc commented on #6233
@zappfyllc will provide a list of unnecessary tables we can delete (I'll check prod, staging, and schema)

[2021-11-08 21:39] #7688 closed

[2021-11-08 22:11] dianamartin commented on #7526
@johnclary I've prototyped an [Inventory Item Order Status Report](https://atd.knack.com/backup-apr-23-2021-finance-and-purchasing-system#inventory-report/) so we can review tomorrow

[2021-11-08 22:12] dianamartin commented on #7515
Showed to stakeholders, they had no additional changes. Closing

[2021-11-08 22:12] #7515 closed

[2021-11-08 22:13] dianamartin commented on #7459
Showed to stakeholders in previous sprint review. There were no feedback changes, Closing.

[2021-11-08 22:13] #7459 closed

[2021-11-08 22:17] dianamartin commented on #7614
Emailed Allyson, Lance, Billy and Ronnie 11/8

at Billy

Ronnie replied

[2021-11-08 22:24] dianamartin commented on #7649
- Added to choice `work_orders_markings` - `VISION ZERO`
- Added to choice `work_orders_markings` - `VISION ZERO`

[2021-11-08 22:32] ChrispinP commented on #5487
Finished making rough draft of the Customer Submission Process Video. Getting feedback from Nathan & Joan for final draft.

[2021-11-08 22:47] dianamartin commented on #7623
I emailed Shelby 11/8

I forget whether I emailed you or not about this. Did we ask when this needed to be completed by?

[2021-11-08 22:48] patrickm02L opened #7692 "Add Badge Icons and Colors to Material Moped UI XD file"
Copy and Paste the Colors and Icons to the Moped XD file.

[2021-11-08 23:04] dianamartin commented on #7683
I called Jasmine to confirm what she wanted to update.
- The `parking_citation_numbers` has an object for `FY`, it already has `22` listed - _will have to add more fiscal years next fiscal year_
- [x] Updated the filter on "Parking Citation Tracking" page to be FY is `22`, it was "21"
- [x] Added a description on the "Parking Citation Tracking" page to remind users/builders to update this page eve

[2021-11-08 23:04] #7683 closed

[2021-11-08 23:17] #7572 closed

[2021-11-08 23:22] dianamartin commented on #7614
Emailed back 11/8

•	2423210700, Signal Trouble Calls
•	2423002000, Signal Knockdowns

Checked PROD environment and updated work orders>"task order" fields that were missing the filter.
1. New Work Order form
- [x] Added "Status" = "Yes" filter
2. Work Orders>Edit Work Orders | Mobile
- [x] Added "Status" = "Yes" filter

[2021-11-08 23:24] dianamartin commented on #1841
@dianamartin Need to test this in Test Environment
- [ ] Test School Beacon Creation
- [ ] School Beacon configuration - TMC Issue
- [ ] School Beacon configuation - Work Order

[2021-11-08 23:31] amenity opened #7693 "[Feature] SIF Project Tracking"
## Resources
- [Street Impact Fee Roadway Capacity Plan Map](https://austin.maps.arcgis.com/apps/View/index.html?appid=af6815a6521747f3a5dc1dfd11a8da6e)

## Notes
  - 17 service areas - wherever the funds are drawn is where they need to be spent
  - 1148 projects right now - subset of ASMP GIS map, these are all projects eligible for SIF funding
  - There are a lot of criteria
- Each service area

[2021-11-08 23:32] dianamartin commented on #7606
Joan confirmed

•	Trip Distribution Spreadsheet(s)
•	Synchro file(s)
•	Traffic Impact Analysis Document
•	TIA Appendix/Appendices
•	Site Plan
•	Signal Timings
•	Response Memo
•	Final Memo
•	Other (e.g., traffic volume Excel spreadsheets) or we can specify Traffic Volume Excel Spreadsheets for above-mentioned conditions.

[2021-11-08 23:33] dianamartin commented on #7606
@TracyLinder Am I okay to proceed?

[2021-11-09 00:23] ChrispinP commented on #3603
So I just realized this issue has a bit of a Frankenstein problem. It would be a table consisting of two different objects and thus wouldnt mesh well. Deficiencies and Review Dates live on the Submission object whilst the other fields live on the TCP Project object. Since it is a one to many relationship, pulling multiple records of Submission data won't be ideal. Its similar to how the TCP Status

[2021-11-09 01:30] TracyLinder commented on #7689
### 11/8/21

Discussing: The city manager will keep financial records for street impact fees showing the source and disbursement of all street impact fees collected in or expended from each service area.

Q: How much do I need to consider E-CAPRI in this conversation/solution?

Tracy: Should phase 1 of this project include the disbursement portion of this ordinance/requirements?

Dan: We don't thi

[2021-11-09 03:01] #7491 closed

[2021-11-09 08:32] amenity opened #7694 "[Feature] Backend geospatial queries"
As a Moped user, I want to easily see, in Moped, project information that is determined by project location and geometry.

### In Scope
- https://github.com/cityofaustin/atd-data-tech/issues/10889
- https://github.com/cityofaustin/atd-data-tech/issues/14156

### Out of Scope / Future
- (iceboxed) [Jurisdiction](https://github.com/cityofaustin/atd-data-tech/issues/10890)
- [SIF Service Area](https:

[2021-11-09 08:57] amenity commented on #7680
@dianamartin - is it me, or is it already available as a type?
<img width="736" alt="Screen Shot 2021-11-09 at 2 56 01 AM" src="https://user-images.githubusercontent.com/1463708/140893495-16e68045-0be4-412d-ac20-1e69e056480b.png">
?

[2021-11-09 14:31] patrickm02L commented on #7534
**Staff sign up tracking and promo codes examples**

[City of Austin Employee Pass Program](https://docs.google.com/spreadsheets/d/1IpYz9ewzzpUR2AsQbMunzJLIW1-iN4o9c81WakoKzzc/edit#gid=0)
[Austin Energy Employee Pass Program](https://docs.google.com/spreadsheets/d/1aQmfsBiB_GY2g7XU7WHXILmmHOGxEI4FRNmMKqamCIQ/edit#gid=0)

[2021-11-09 14:51] SubhaShroff commented on #7478
@Nadin-Nader  Its tested on DEV, ready for TEST deployment.

[2021-11-09 14:59] patrickm02L commented on #7629
Changed "Product: SMO" back to it's original "Product: Shared Mobility Operations" label to coincide with the service bot.

Will check later today to see if Shared Mobility Operations label is working.

Created a new label for "Product: Shared Mobility Reporting Tracker"

Created new workgroup labels: "Workgroup: SMO" for Smart Mobility Office, "Workgroup: SMS" for Shared Mobility Services.

May n

[2021-11-09 15:06] Nadin-Nader commented on #7672
@Lpriya-LIT here is the link to the fee codes that Tracy has. Please let me know if this will work. If not i can try to get it some other way (The fee amounts are in the link in the AC.
https://drive.google.com/drive/u/1/folders/17nc2pJqTVMqo7CncLaPKwWYJgwVpTGSi

[2021-11-09 15:06] Nadin-Nader commented on #7673
@Sreelatha-BlazeKannan here is the link to the fee codes that Tracy has. Please let me know if this will work. If not i can try to get it some other way (The fee amounts are in the link in the AC.
https://drive.google.com/drive/u/1/folders/17nc2pJqTVMqo7CncLaPKwWYJgwVpTGSi

[2021-11-09 15:14] SubhaShroff commented on #7162
@Nadin-Nader  @TracyLinder  SCTASK0179303 is submitted for DEV deployment to add Other City Department to COS Auto-payment.

[2021-11-09 15:16] zappfyllc commented on #6233
@sergiogcx Confirmed via prod/staging/SchemaSpy and my initial pass on creating `atd_moped`, we should be safe to delete the following tables (context is given in parentheses):

- `moped_fund_opp` (not used in current funding tab/functionality and was originally meant for unfunded needs to identify funding opportunities for projects that lacked funding)
- `moped_group` (meant for grouping project-

[2021-11-09 15:26] patrickm02L opened #7695 "[Meeting] SMO Knack Platform Brainstorm"
Meeting with Smart Mobility Office team to get insights into other applications we can build 11/16/21 @ 1pm.

Via Eliza Y.

[2021-11-09 15:29] patrickm02L commented on #7373
Held meeting on 11/8/21 to go over the Project Evaluation and Intake template for the Bike Share Benefit App. Also acted as a kickoff meeting. Eliza Y. and Andy A. attended.

[2021-11-09 16:19] johnclary commented on #6722
We met with Ken last week to plan for this. I'll be working on it throughout the week.

[2021-11-09 16:45] patrickm02L commented on #7692
The Icons and Badges have been added

![Screen Shot 2021-11-09 at 10.42.31 AM.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/8c9016b3-cbc9-4486-82f5-a03527d6d711)![Screen Shot 2021-11-09 at 10.43.27 AM.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/d4b87969-3567-4824-80a3-d40ee4ec00c4)

[2021-11-09 16:45] dianamartin commented on #7680
@amenity it is available when you edit the detector, but he wants it on the "Advanced Search" screen for the Signals List.

Looks like there are fields, in both object tables that are similar.

Object Table: `signal_detectors`
Field: `DETECTOR_TYPE`, choices:
- `GRIDSMART` - sums this in signals
- `LOOP` - sums this in signals
- RADAR
- SENSYS
- `VIDEO` - sums this in signals
- FLIR
- MIOVISION
-

[2021-11-09 16:46] #7692 closed

[2021-11-09 17:16] dianamartin commented on #7614
I switched the last two task orders
• 2423210700, Signal Trouble Calls
• 2423002000, Signal Knockdowns
to be "Deactivate" = "Yes".

I'll switch the filters for the task orders from "Status" = "Active" to "Deactivate" = "No".
1. New Work Order form
- [ ] Added "Deactivate" = "No" filter
2. My Work Order Details - Embedded "Work Details"
- [ ] Added "Deactivate" = "No" filter
3. Work Orders (Technic

[2021-11-09 17:20] SubhaShroff commented on #7162
@Nadin-Nader  @TracyLinder  I tested the DEV deployment for Other City Department from DEV Portal -

![image](https://user-images.githubusercontent.com/51680715/140972001-ec6ece66-b1f1-4481-815a-8bd320a70d97.png)

![image](https://user-images.githubusercontent.com/51680715/140973098-d3a00869-5eec-4f9d-8f70-f3ddcfaed5d7.png)

[2021-11-09 17:53] SubhaShroff commented on #7478
@Nadin-Nader  SCTASK0179344 is submitted for TEST deployment.

[2021-11-09 18:27] dianamartin commented on #7287
Joan emailed asking to keep the following Attachment Types for TIA Submissions
•	Trip Distribution Spreadsheet(s)
•	Synchro file(s)
•	Traffic Impact Analysis Document
•	TIA Appendix/Appendices
•	Site Plan
•	Signal Timings
•	Response Memo
•	Final Memo
•	Other (e.g., traffic volume Excel spreadsheets) or we can specify Traffic Volume Excel Spreadsheets for above-mentioned conditions.

I removed: Det

[2021-11-09 18:32] dianamartin commented on #7569
Sync'd with Tracy on 11/9
- We reviewed my changes, they looked goo
- Identified the need to add an "All" filter, set it as default
- Deleted all test records on
  - TDA_review
  - TDA_meeting
  - TDA_attachment

![image](https://user-images.githubusercontent.com/21112975/140983683-4cbcbe4a-422e-47ee-bed1-f9d6893187bc.png)

[2021-11-09 18:36] alan-deanda commented on #7523
Currently helping troubleshoot field calculation errors and publishing story map themes.

[2021-11-09 19:34] johnclary opened #7696 "Explore ability to match Fiserv reports to Controller's Office bank reports"
- Investigate what data is available via the [Controller's Office bank reports](http://finance.austintexas.gov/web/Treasury/Bank/BankTransSearch.cfm) and how we can match bank deposits to what we're seeing in Fiserv reports.

- Identify the fields we need from this data that will be useful in our data warehouse. Then we'll ask the Controller's Office for database access to this data

[2021-11-09 19:35] johnclary commented on #7696
@Charlie-Henry would you please add Ashlande's notes to the issue description?

[2021-11-09 19:37] johnclary opened #7697 "Develop database schema"
Develop a postgres schema for housing transaction data. The database will store unified/post-processed transaction data from all data sources.

[2021-11-09 19:39] amenity opened #7698 "Adjust alignment on project "Summary" tab"
Currently:
![Screen Shot 2021-11-09 at 2 58 22 PM](https://user-images.githubusercontent.com/1463708/141005213-9561f097-6087-4010-aed9-42d2f375a082.png)

[2021-11-09 19:40] johnclary commented on #7697
@Charlie-Henry this should get you started running postgres locally

- [docker-compose.txt](https://github.com/cityofaustin/atd-data-tech/files/7507508/docker-compose.txt)
- [readme.md](https://github.com/cityofaustin/atd-data-tech/files/7507509/readme.md)

[2021-11-09 19:41] dianamartin commented on #7606
Joan emailed asking to keep the following Attachment Types for TIA Submissions
•	Trip Distribution Spreadsheet(s)
•	Synchro file(s)
•	Traffic Impact Analysis Document
•	TIA Appendix/Appendices
•	Site Plan
•	Signal Timings
•	Response Memo
•	Final Memo
•	Other (e.g., traffic volume Excel spreadsheets) or we can specify Traffic Volume Excel Spreadsheets for above-mentioned conditions.

I removed: Det

[2021-11-09 19:43] johnclary opened #7699 "Test out Fiserv report scheduling and Python processing"
- Get access to Fiserv ClientLine BusinessTrack or whatever
- Test out scheduled email report delivery of transaction data
- Develop basic Python code to open files and extract data

[2021-11-09 19:47] johnclary opened #7700 "Project: ATD Executive Dashboard Alpha"
Develop a PowerBI [dashboard](https://app.powerbigov.us/links/tQAnbdsvMB?ctid=5c5e19f6-a6ab-4b45-b1d0-be4608a9a67f&pbi_source=linkShare) that provides an overview of our department's performance.

## Background

The Transportation Department utilizes multiple datasets from multiple sources across multiple platforms to perform analysis. Some data is ingested through an automated process while other

[2021-11-09 19:55] johnclary commented on #7700
@Charlie-Henry we'll use this epic to track all things related to this work. Would you please issues to this epic as they come up?

[2021-11-09 20:01] dianamartin commented on #7534
- [x] Created App - `Smart Mobility`

[2021-11-09 20:11] Sreelatha-BlazeKannan commented on #7673
@Nadin-Nader , @TracyLinder - I got the fee codes for the below fees. However, I am not able to get the amount for these. When I saw the lookup table I see the fee amounts as below. Could you please confirm the fee amounts?
Sidewalk Space Extension - 50312
Alley extension - 50357
Additional traffic lane extension - 50320

![image](https://user-images.githubusercontent.com/44907715/140997322-095b0f

[2021-11-09 20:27] Nadin-Nader commented on #6562
**Status:**
This has been approved for **_DEV_** move

[2021-11-09 20:38] Nadin-Nader commented on #7673
@Sreelatha-BlazeKannan Here is what Paloma said:
[2:33 PM] Amayo-Ryan, Paloma

No problem!  I've circled the fee amounts below.  What's tricky about these is that the fees change based on the duration of the permit:

![Fees Not calculating.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/5cc35c7e-18a1-43c2-8d54-bf32ab3bdb1d)