[2020-06-17 19:58] TracyLinder opened #3058 "Move DB Object From Dev to Test & Prod"

[2020-06-17 20:04] TracyLinder commented on #1791
**Status:** A portion of this should be test ready in the next few days. Still doing more research.

[2020-06-17 20:05] dianamartin commented on #3048
Talking to Scott about the "Annual Equipment Costs for Knockdowns"
- Referencing Signal Work Down
- Damage Report - linked to Work Orders
- Look at Inventory Items to find the items
- Evaluate all costs from work order
- `Incident Date` - if knockdown the pole, if foundation is damaged. 3 week to 1 month that damage occurred
  - Date of knockdown

THINGS IN WORK ORDER MOST IMPORTANT
- References `

[2020-06-17 20:10] TracyLinder opened #3059 "DEV - Application Incomplete"

[2020-06-17 20:10] TracyLinder opened #3060 "DEV - Application Incomplete"

[2020-06-17 20:11] TracyLinder commented on #3060
@licarir can you please add an estimate to this when you're ready?

[2020-06-17 20:14] TracyLinder opened #3061 "Analysis - EX Portal Attachments Attachment Sizes"

[2020-06-17 20:14] TracyLinder opened #3062 "DEV - EX Portal Attachments"

[2020-06-17 20:17] TracyLinder commented on #1726
**Status:** This needs a lot of analysis.

[2020-06-17 20:17] SurbhiBakshi commented on #2817
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/9e1fb465-6095-4735-a8c7-728ac3e3bb8f)

[2020-06-17 20:29] TracyLinder opened #3063 "Analysis - DS Sub & Work Issue"
### Robert & Tracy to further define this issue. Meeting date TBD; Tracy to schedule.

[2020-06-17 20:29] TracyLinder opened #3064 "DEV - DS Sub & Work"

[2020-06-17 20:30] licarir commented on #1791
The DS child folder is created when the BP is created. DSD doesn't know what the Sub and Work are. Once ATD goes in to complete the folder, they have blanks in sub or work and that cannot be allowed. @TracyLinder will walk me through it at a later date.

[2020-06-17 20:37] sergiogcx opened #3065 "VZD: Test Viewer for Data Quality"
We have created the viewers in Staging and Production, as well as creating a column `austin_full_purpose` with required values. The next step is to make sure the views are feeding the data we are looking for.

We need to make sure that:

- [x] The output data of the view is what we are expecting.
- [x] The quality of the analysis is more accurate
- [x] The performance of the queries is acceptable.

[2020-06-17 20:38] sergiogcx commented on #3065
This is how the views work:

### 1. The View
The view `view_atd_crashes_full_purpose` gathers all the crashes YTD that happen within the full purpose jurisdiction OR have no coordinates and have a city_id of 22. It may be less performant, because it gathers the entire dataset for the year first, then you can filter on any parameters you need.

This is an example on how to use it:

[code]

You may

[2020-06-17 20:47] sergiogcx commented on #3065
Also, the source code for the function is this:
https://github.com/cityofaustin/atd-vz-data/blob/master/atd-vzd/triggers/find_crashes_in_jurisdiction.sql

and for the view:
https://github.com/cityofaustin/atd-vz-data/blob/master/atd-vzd/views/view_vzv_crashes_full_purpose.sql (edited)

[2020-06-17 21:26] dianamartin commented on #3048
Talked to Scott and we modified the existing Damage Reports so they are more useful.
- [x] Created an `Advanced Search Damage Reports` page so that he and his team can filter easily for things they need.

[2020-06-17 21:26] #3048 closed

[2020-06-17 21:29] SubhaShroff commented on #2401
Submitted Dev promotion request :SCTASK0075249 along with Dev Deployment Plan.

[2020-06-17 21:40] TracyLinder commented on #1877
@Nadin-Nader is this ready for acceptance criteria yet?

[2020-06-17 21:46] #3002 closed

[2020-06-17 21:49] #2997 closed

[2020-06-17 22:08] mateoclarke commented on #2637
Hey y'all, my apologies for missing the `@mentions`. As I mentioned via Slack, we have this prioritized for Sprint 27 so we will be able to delivery by 7/1. I'll reach out to @dianamartin if I run into any questions during implementation.

[2020-06-17 22:18] jaime-mckeown commented on #1917
Completed migrating over to MAINT. Will need to create the relationships when I create the parking spaces.

[2020-06-17 22:18] #1917 closed

[2020-06-17 22:19] jaime-mckeown commented on #1973
Completed migrating over to MAINT. Will need to create the relationships when I create the parking spaces.

[2020-06-17 22:19] #1973 closed

[2020-06-17 22:22] dianamartin opened #3066 "Feature request: Inventory Management Report"
Van emailed and asked for another report that Finance needs for inventory tracking

[2020-06-17 22:27] dianamartin commented on #3066
Messaged Van bc I had some questions

**That additional inventory report you're requesting, what do you call the report?**

**Also, I think we already have it. It's not a report, but it's under the "Inventory" page.
The current page shows these things: "Total On-Hand" is "Quantity On-hand", We have "Unit Cost"**

**What does "extended cost" mean for you?**

Extended cost = Quantity on-hand  multip

[2020-06-17 22:27] dianamartin commented on #3066
Was able to copy the `inventory` page table and add it to the new report page `Inventory Management Report` that I had made.

Configured it so it wasn't overly complicated and messaged Van the report link.

[2020-06-17 23:13] sergiogcx opened #3067 "VZ Events: Allow for SQS Event PRs to be deployed & removed once in master"
The SQS events are becoming hard to test, so we need to be able to create PRs and test them before shipping to master.

- [ ] Deploy SQS PRs
- [ ] Removes SQS PRs once unused.
- [ ] If possible, does not remove SQS if someone else merges to master.

[2020-06-17 23:39] Nadin-Nader commented on #2401
**Status:**
Verified and found that the TASK for the CM Team was made and is on their Trello Board in their initial entry column "To-Do". This should be promoted today or tomorrow since it is a DEV deployment

[2020-06-18 12:36] licarir commented on #1791
@TracyLinder I was able to get the JavaScript file to work yesterday so we can customize the folder screen to lock down and open up the Work and Sub type field based on role for your folders, in this case the DS folder. Let's setup a meeting and you can walk me through current and desired behavior of these fields on the DS folder. Thank you.

[2020-06-18 13:56] Nadin-Nader commented on #2880
Was able to add to DEV. Will now promote to TEST and PROD but it has to go to the CM Team

[2020-06-18 14:37] licarir commented on #2401
@Nadin-Nader They sent a weird task to our board. Can you review and let us know what to do with it? It doesn't mention Commits or a Deployment plan or anything.

SCTASK0075245

[2020-06-18 14:45] SubhaShroff commented on #2401
@licarir @Nadin-Nader I had created SCTASK0075245 , this TASK needs to be open, to keep the REQ0053201 open, until #2401 is moved to PROD. Otherwise no action is needed.

[2020-06-18 15:36] johnclary opened #3068 "Project: AMANDA v7 Upgrade"
We're supporting the citywide upgrade to version 7 of our case managements software, AMANDA.

## Background & Context

- DSD hired project manager (Tom C.), reports to Teri, is managing the upgrade for all departments
- v7 upgrade kicked off two weeks ago

**Project Timeline Targets:**

- Nov. 30 Setup all users accounts for testing, IT testing.
- Dec. 4 Perform basic test on the permissions
- Dec

[2020-06-18 15:45] johnclary opened #3069 "Project: AMANDA Portal Upgrade"
We're supporting the City's upgrade of the Austin Build & Connect permitting portal, aka the AMANDA Portal.

## Background
The [current AMANDA user portal](https://www.austintexas.gov/page/austin-build-connect-abc) is using outdated security technology that has consistently caused critical performance and security issues. It also limits our ability to develop new features. This upgrade will fix al

[2020-06-18 15:51] Nadin-Nader commented on #2401
@licarir i will look into it as this is supposed to be on the CM Team board

[2020-06-18 16:05] Nadin-Nader commented on #2401
@licarir  Im am going to close SCTASK0075245 as a duplicate of SCTASK0075249 which has the deployment attached and is in the CM DevOps Team board in their TO- DO Pipeline.

Please go ahead and close the card.

[2020-06-18 16:25] atdservicebot opened #3070 "This is a TEST - Showing Jacob and Maria how stufffffff worksBug Report — Something is not working ..."
Other / Not Sure

This is a TEST -  Showing Jacob and Maria how stufffffff worksBug Report — Something is not working
 GIS or Map IT Support — Help with licenses, accounts, hardware, etc.
 Feature or Enhancement — An application I use could be improved
 New Project — My needs are not met by the technology & data available to me
 Something Else

anpianrghttps://atd.knack.com/dts#new-service-request

[2020-06-18 16:29] Sreelatha-BlazeKannan commented on #1893
SCTASK0075453  Service ticket to the View from DEV to TEST Created.

[2020-06-18 16:30] amenity opened #3071 "Update Amenity's phone number in automated confirmation emails"
![Screen Shot 2020-06-18 at 11 30 29 AM](https://user-images.githubusercontent.com/1463708/85047245-29d02780-b157-11ea-9e55-7859352fedc1.png)
If this could be changed to my cell that would be rad. :)

[2020-06-18 16:54] sergiogcx opened #3072 "VZE: Update VZE displayed global filters"
Taken from issue #2910

Update VZE global filter to include crashes where @sergiogcx
(there may be other pages like locations that will also need this this global filter)

`austin_full_purpose = true OR (city = 22 & lat/lon = null)`

[2020-06-18 16:56] moorerst commented on #933
@johnclary Had meeting on 6/17 with Joseph, Jason R and Gil Z (Purchasing). The option of a Sole Source was discussed Gil provided a overview of that process, first step being the Certificate of Exemption (CEO). Joseph is going to take a shot at the first draft of the CEO which details a set of specs that only this vendor can provide. As of now this is how we are proceeding.

[2020-06-18 17:53] #2944 closed

[2020-06-18 17:56] Sreelatha-BlazeKannan commented on #3058
Sent the PROD Move request on 06/18/2020 to move the View from TEST to PROD

[2020-06-18 18:05] mddilley commented on #2794
Both the [test demographics dataset](https://data.austintexas.gov/Transportation-and-Mobility/-UNDER-CONSTRUCTION-TEST-Crash-Report-Data/3aut-fhzp/data) and [production dataset](https://data.austintexas.gov/Transportation-and-Mobility/-UNDER-CONSTRUCTION-Vision-Zero-Demographic-Statis/xecs-rpy9/data) have been truncated and populated with all records from our production Hasura instance. The ETL sc

[2020-06-18 18:06] mddilley commented on #2790
See https://github.com/cityofaustin/atd-data-tech/issues/2794#issuecomment-646222580

[2020-06-18 18:09] mddilley opened #3073 "VZ ETL | Update demographics dataset with crash_id"
One of the fields that we expect to see for each person or primary person records in the Socrata datasets is the associated `crash_id`. This column ties the individual to the data available in the crash dataset.

Need to updated the ETL script to include this field in the person and primary person queries.

[2020-06-18 18:13] mddilley commented on #3073
`crash_id` has been added to the GraphQL queries in the ETL script in https://github.com/cityofaustin/atd-vz-data/pull/827. This column was added for both the test and production Socrata datasets, and the ETL was run to populate it. The `crash_time` was also concatenated with `crash_date` to align with the formatting in the crash dataset.

[2020-06-18 18:13] #3073 closed

[2020-06-18 18:24] dianamartin commented on #2843
@amenity can we close this?

[2020-06-18 18:25] dianamartin commented on #2964
Teams training slides and recordings have been posted on each Teams Chat! Susanne H. was emailed some links separately since she didn't make it to the session and declined it. I assumed she wouldn't be able to access the meeting chat.

[2020-06-18 18:27] #2964 closed

[2020-06-18 18:28] dianamartin commented on #2992
@johnclary should we close this issue? I saw you created other ones.

[2020-06-18 18:38] johnclary opened #3074 "Identify ATD staff that have not completed the take-home equipment log"
As part of the telework request form, staff must confirm if they have taken home equipment AND submitted the
[take-home equipment form(https://atd.knack.com/dts#equipment/).

We need to identify any users that have stated that they took home equipment on the TLC form, but did not in fact submit the take-home equipment form.

[2020-06-18 18:39] johnclary commented on #3074
@dianamartin let's hold off on this until ~6/29

[2020-06-18 18:43] sergiogcx commented on #2910
I've created a new issue for this task #3072

I have also created a new PR:
https://github.com/cityofaustin/atd-vz-data/pull/830

[2020-06-18 18:45] dianamartin opened #3075 "Feature request: Adding "Take-Home Equipment" as big button on DTS home page"
John asked

[2020-06-18 18:46] dianamartin commented on #3075
- Home page already had a rich text from an old button - Trello
- Used it and configured the new icon, button name and URL
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/21575d93-f28a-4ba2-97b3-d1cbd537215f)

[2020-06-18 18:46] #3075 closed

[2020-06-18 18:48] sergiogcx commented on #3072
I have created a PR:
https://github.com/cityofaustin/atd-vz-data/pull/830

The feature seems to have been a lot simpler to implement than I initially anticipated. The crashes table now shows a list based on the two conditions.

The crash table also appears in the Locations index page, when you click on a single Location you can see a list of crashes for that specific location. Adding the same logi

[2020-06-18 19:01] TracyLinder opened #3076 "TIA Requirements Gathering 6/18/20"
#### Meeting
Scheduled 6/18

#### Participants
Nate, Joan, Tracy, Surbhi, Diana

#### Agenda
- go over TIA workflow
- go over refinements discussed from last time
- modify changes needed this time around

[2020-06-18 19:32] amenity commented on #3044
@dianamartin @johnclary - Dev or Apps Team on this one?

[2020-06-18 19:43] amenity commented on #314
Call with Amber T. and Carlus:

City has a very limited number of Formstack licenses, so to use it you have to:
- Submit a ServiceNow request to check out a license, like a library book
- Can see live submissions while you have the license "checked out" (usually only a month but can extend if necessary)...
- To continue receiving submissions after that you would set up
        - A regular Excel ex

[2020-06-18 20:07] sergiogcx opened #3077 "VZE: The Non CR3 upload broken in master"
The NonCR3 upload tool is broken in master. We need to find a way to fix it. From what Mateo shows me the the page goes completely blank when uploading a file. Also the download template link does not work in master (once deployed).

[2020-06-18 20:07] mateoclarke opened #3078 "VZE | Bug | Non CR3 Upload Tool"
Two bug we're encountering in staging environments for the NonCR3 Upload tool

- [ ] On the `visionzero-staging` subdomain, the button to download the csv template 404s and redirects to austintexas.gov not found page. https://visionzero-staging.austinmobility.io/downloads/non_cr3_template.csv
- [ ] On `vze-staging` subdomain, when you upload the csv template, the page bombs on a `Number.toFixed()`

[2020-06-18 20:08] dianamartin commented on #3044
@amenity Surbhi asked me about this. I usually defer to John as to what he'd like to do.

[2020-06-18 20:08] sergiogcx commented on #3077
Closing, this is a dupe of https://app.zenhub.com/workspaces/data--technology-services-5caf7dc6ecad11531cc418ef/issues/cityofaustin/atd-data-tech/3078

[2020-06-18 20:08] #3077 closed

[2020-06-18 20:15] Nadin-Nader commented on #3058
SCTASK0075453 was created for this and is assigned to AMANDA_SUPP. The CM Team will deploy today by 530pm

[2020-06-18 20:18] amenity opened #3079 "Explore other filter/search options for the "Available Assignments" table"
Pat had feedback on the [search filters](https://docs.google.com/document/d/1PBtoOPWAwLMduMZs9jJhMu-YX213UgxbOuNnVBAumko/edit#) during https://github.com/cityofaustin/atd-data-tech/issues/1476. The main issue is the [extensive drop down](https://user-images.githubusercontent.com/1463708/85091767-dc32d980-b1ad-11ea-90a0-bdd6654b1d83.png) for the date pickers is overwhelming/confusing. Unfortunately

[2020-06-18 20:24] dianamartin commented on #3076
## Diana's Notes

### Workflow Changes
- [ ] Change `Start Application` to `Start Request`
- [ ] Change `Add Submission Comment`, Comment Type: `Scope` to `Submission

### TIA Request Form
- [ ] Page Rule to add a least one Project Location before submitting, otherwise can't submit

### TIA Review
- [ ] Add TIA Status `Scoping`
- [ ] Have TIA Scope default be `blank`
- [ ] When Scoping Status is s

[2020-06-18 20:27] dianamartin opened #3080 "[BUG] Log in Issues to HR application for TLC form"
Nathan B. (HR) /Curtis B. (TDS)

forwarded email from Curtis

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/709f4711-ee6f-44f0-9a5e-7ec944c52896)

[2020-06-18 20:29] dianamartin commented on #3080
I emailed back

- Curtis told me it was Nazlie and Justin
- I checked Nazlie's account - she didn't have an email associated to her account - Weird!
- Justin wasn't in the system, he is an aug-contractor. I added him into the system.

[2020-06-18 20:29] amenity opened #3081 "Explore options to clarify which shifts an Officer is meant to sign up for"
Ran into some [usability issues](https://docs.google.com/document/d/1PBtoOPWAwLMduMZs9jJhMu-YX213UgxbOuNnVBAumko/edit#) during https://github.com/cityofaustin/atd-data-tech/issues/1476:
- Officers might sign up for only one assignment in a shift
- Officers might sign up for two different assignments at the same time
- Officers might sign up for the same assignment twice

Ideally this would be
- Gr

[2020-06-18 20:31] mddilley commented on #2790
After exporting 1/1/2020 - 3/31/2020 date range(after running the updated ETL), years of life lost calculation aligns with Sergio's SQL query for the data currently available - 739 years of life lost.
[Excel of Socrata export](https://app.zenhub.com/files/140626918/19359756-140c-4123-aaa0-8e84c1dd1872/download)

[2020-06-18 20:32] dianamartin opened #3082 "Feature request: Add other equipment choices to Take-Home Equipment form"
John C.
DTS

messaged

[2020-06-18 20:34] dianamartin commented on #3082
- [x] Added `laptop`
- [x] Added `tablet`
- [x] Removed/Commented out `View_177 - Technician Equipment Tracking`

[2020-06-18 20:34] #3082 closed

[2020-06-18 20:37] dianamartin opened #3083 "TIA module refinements - after Requirements Gathering (6/18)"
## Diana's Notes

### Workflow Changes
- [x] Change `Start Application` to `Start Request`
- [x] Change `Add Submission Comment`, Comment Type: `Scope` to `Submission

### TIA Request Form
- [x] Page Rule to add a least one Project Location before submitting, otherwise can't submit
- [x] Project Locations - `Trips Per Day` is populated, set conditional rule for `Trips Per Day Range`

### TIA Revie

[2020-06-18 20:52] jaime-mckeown opened #3084 "Migration Check-in Meeting - 6/18/20"
Joseph and I met to discuss the project after a long hiatus of not moving forward.

[2020-06-18 20:54] Nadin-Nader commented on #3058
@Sreelatha-BlazeKannan @TracyLinder
Got a message from Trello saying:

Martin Aponte moved the card #1893 - EX & DS Permit Template Update - PROD View Move Request to Done on DevOps CM Team
Reply via email

I will go ahead and close the TASK if hasnt done so already and then send the new task for the reports to Tango to deploy

[2020-06-18 20:57] jaime-mckeown commented on #3084
- I will need to develop a migration plan that we can share with the Meter Shop, include diagrams.
- Discussed how the data will be maintained after the migration. The new GIS Analyst may need to be the new person to take over the GIS side. Jeremy can maintain the process, but the GIS may be too complicated in the new system with relationship classes, SDE, versioning, etc.
- See about getting a co

[2020-06-18 20:57] #3084 closed

[2020-06-18 21:15] Nadin-Nader commented on #3058
Martin has closed the TASK. I will close this issue and create the task for the reports to be deployed to DEV TEST and PROD.

[2020-06-18 21:15] #3058 closed

[2020-06-18 21:24] johnclary commented on #1995
nada...

[2020-06-18 21:37] jaime-mckeown commented on #3027
- After talking about it, Joseph is good with showing the percentage of credit card transactions as they are the majority. It will be easy to spot where coin is used at a higher level.
- He also verified that the data is for 2019, not FY19.
- Updated the Field Alias' to account for data being by calendar year vs. FY.
- Reconfigured data and published feature class to AGOL.

[2020-06-18 21:37] #3027 closed

[2020-06-18 21:40] Nadin-Nader commented on #1893
@Sreelatha-BlazeKannan  @TracyLinder  #3058 has been closed by the DevOps CM Team and the views were added. I have created the TASK for AMANDA Tango to deploy the forms to DEV, TEST and PROD (SCTASK0075639)

[2020-06-18 21:41] jaime-mckeown commented on #1574
- Started working on parking spaces migration to SDE.
- Not too far into working on the data I noticed that the parking spaces were not matching to the pay stations. I asked Joseph about that and he thought the parking spaces were related to the parking zones. I told him that they were related to both zones and meters / pay stations. Since this may be a problem, I will continue getting the parking

[2020-06-18 22:20] Nadin-Nader commented on #1893
**Status:**

Waiting for deployment by Team TANGO at CTM

[2020-06-18 23:16] sergiogcx opened #3085 "VZV: Fix Netlify Deployments"
It looks like this line is breaking VZV. It is a line that is not being used anywhere in the rest of the code:

![2020-06-18_18-13-22.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/872f7b40-8522-4b92-90c0-9e0316c7ea40)

[2020-06-19 00:08] #3085 closed

[2020-06-19 01:14] amenity opened #3086 "Update automatic Github label for Data Tracker and Signs and Markings issues"
Oops... 😬

I consider my attempt to brand "SMB Data Tracker" and "AMD Data Tracker" a failure and would like to revert our names to "Data Tracker" and "Signs and Markings" if, at some point, that's easy?

[2020-06-19 01:16] amenity commented on #3071
I believe it would make sense to do this at the same time: https://github.com/cityofaustin/atd-data-tech/issues/3086

[2020-06-19 01:18] amenity commented on #3071
@johnclary @dianamartin @SurbhiBakshi will we still need to have everyone's numbers on this email with the new Service Desk set up?

Don't suppose we could do some magic rollover-to-whoever-is-on-shift business, could we?

[2020-06-19 02:23] amenity commented on #2786
@johnclary sticking this in Review/QA.  🙌

[2020-06-19 02:28] amenity commented on #2938
### Notes from today's call
- Jacob B. - wears lots of hats, prepping for media, web content, newsletter, etc.
- Maria S. - started a few weeks before COVID-19 so still learning the ropes - newsletter, social media, Spanish translation ... + passionate about sustainability - active trans, etc.

**Current workflow:**
- Customer submits request through [Typeform](https://austinmobility.typeform.com/

[2020-06-19 02:45] #1474 closed

[2020-06-19 02:46] amenity commented on #1476
@SurbhiBakshi - feel free to add notes and do the honors of closing!

[2020-06-19 03:00] amenity opened #3087 "Meet with CTM to learn about using Formstack"
Call with Amber T. and Carlus:

City has a very limited number of Formstack licenses, so to use it you have to:
- Submit a ServiceNow request to check out a license, like a library book
- Can see live submissions while you have the license "checked out" (usually only a month but can extend if necessary)...
- To continue receiving submissions after that you would set up
        - A regular Excel ex

[2020-06-19 03:01] amenity commented on #314
Meeting [here](https://github.com/cityofaustin/atd-data-tech/issues/3087).

[2020-06-19 03:09] amenity commented on #2938
Emailed Jacob & Maria

[2020-06-19 03:10] #2938 closed

[2020-06-19 03:16] amenity commented on #1476
[Recording here](https://web.microsoftstream.com/video/12db4ea2-9a61-4312-88da-36e7c0fb6ed8).

[2020-06-19 03:18] #3078 closed

[2020-06-19 03:21] amenity commented on #2843
@dianamartin Yesss! Great work.🙌

[2020-06-19 03:24] amenity commented on #2904
@dianamartin - thanks. 🙏
@TracyLinder - here's a new product for ya. Diana can tell you what it does. 😆

[2020-06-19 04:28] mateoclarke opened #3088 "VZE | Read only users shouldn't be able to edit Units data"
Forgot to implement role based edit buttons for this the first time around. No harm since the edit permissions are locked in the Hasura API but we should clean it up for better UX.

![Screen Shot 2020-06-18 at 11.26.56 PM.png](https://images.zenhubusercontent.com/59f0b24ba468affe6df81d8f/b2235cb4-ba2c-4e5c-87d3-abfbde7508ac)

[2020-06-19 13:57] jaime-mckeown opened #3089 "GIS Support: AGOL Web Maps to Images for Presentation - Joshil B."
Email from Joshil:

[2020-06-19 13:58] jaime-mckeown commented on #3089
Response to Joshil:

[2020-06-19 15:03] mateoclarke opened #3090 "VZx | DevOps | Shut down resources on old AWS account"

[2020-06-19 15:35] SurbhiBakshi commented on #3081
#986 or [code ](https://www.knack.com/developer-documentation/#add-checkboxes-to-a-table)

[2020-06-19 15:38] mddilley opened #3091 "VZ | Updating version # on release"
It is easy to miss a version update in the VZ apps when creating a new release. It would be an improvement to find a way to update the version numbers in VZE and VZV other than pulling from `package.json`.

Slack discussion: https://austininnovation.slack.com/archives/CHZE6BC6L/p1592577894137400

[2020-06-19 16:28] Nadin-Nader commented on #1872
@TracyLinder Sree and i will try to deploy to DEV (Currently Trying). We got it on DEV now we just need to get it to pull the data. Once that is done I can create the deployment to CTM Tango

[2020-06-19 16:39] jaime-mckeown commented on #3089
Joshil will be using these maps in a presentation. I let him know that he can switch from his presentation to the Web Maps directly so he can interact with the maps while talking about them. In case he still wanted static images for his presentation, I created a JPG of each map and emailed them to him.

[2020-06-19 16:39] #3089 closed

[2020-06-19 16:41] jaime-mckeown commented on #3089
Saved this in the One_Offs folder.

[2020-06-19 17:54] dianamartin commented on #3071
@amenity we can change the email content, but we'll have to talk about taking everyone's contact info down if that's the direction we're going.

[2020-06-19 18:00] Nadin-Nader commented on #1872
@TracyLinder @Sreelatha-BlazeKannan got the report to work and deployed to DEV.
Task for the TEST deployment has been created and sent to AMANDA_SUPP (SCTASK0075805)

**Status:**

Waiting on deployment to TEST and UAT on TEST. Then if all is well, deployment to PROD.

[2020-06-19 19:58] Nadin-Nader commented on #1673
From: Amayo-Ryan, Paloma <Paloma.Amayo-Ryan@austintexas.gov>
Sent: Tuesday, June 9, 2020 6:07 PM
To: Nader, Nadin <Nadin.Nader@austintexas.gov>; Perez, Kimberly <Kimberly.Perez@austintexas.gov>
Cc: Linder, Tracy <Tracy.Linder@austintexas.gov>
Subject: RE: Trello Card #1893 - 50509 and 50512 RW Templates

Good afternoon all,

Yes, I support the changes Kim mentions.  Please feel free to push to PRO

[2020-06-19 20:10] Nadin-Nader commented on #1726
1726 - Larger Project and may affect all folders if they choose to save for later and they come back later, the submittal date is the date that they began the application and is a big a problem for performance measures. Paloma thinks this is an AMANDA wide issue. Needs to be brought up in the AMANDA GOVERNING BOARD.

[2020-06-19 20:13] Nadin-Nader commented on #1910
@Nadin-Nader Get with Greg and Jaclyn

[2020-06-19 20:18] Nadin-Nader commented on #2980
@TracyLinder Paloma mentioned that she doesnt know why this may be needed as they do not add Parcels to permits. Can you please reach out?

[2020-06-19 20:21] Nadin-Nader commented on #2984
@TracyLinder Paloma asked for you to work with Evelyn as she is SME for this.

[2020-06-19 20:21] Nadin-Nader commented on #2986
@TracyLinder Paloma asked for you to work with Evelyn as she is SME for this.

[2020-06-19 20:23] Nadin-Nader commented on #1576
EX Folder should go to expired status the day after the actual expiration date hits. Expires any day (Holiday,weekend) at 12:01
Should mirror what the RW TURP folder is doing

[2020-06-19 20:28] Nadin-Nader commented on #1742
@Sreelatha-BlazeKannan Per Paloma there are multiple TCI report requests. Please look for all TCI Requests and I will schedule a meeting with Ryan to see if there is any overlapping in information and refine the requirements.

[2020-06-19 20:30] Nadin-Nader commented on #2391
@Nadin-Nader get list from Tracy to start going through it (sent on May 14th).

[2020-06-19 20:34] licarir commented on #2511
@Nadin-Nader On your comment on May 18th, there is a link to a video. I can't seem to open it. There is a lot of back and forth here. I need to know what the immediate steps are before and after they expect to have a date filled in on the Initial Distribution process. Are they on the Initial Distribution and they add and save a specific attempt and then it closes all of the other processes but nee

[2020-06-19 20:36] Nadin-Nader commented on #1951
Paloma will have users test and get back to us next week to give an update.

[2020-06-19 20:36] Nadin-Nader commented on #2406
Paloma will have users test and get back to us next week to give an update.

[2020-06-22 13:18] jaime-mckeown opened #3092 "Weekly Update: AMANDA street closures - 06/22/20"
Run AMANDA_Street_Events.py to create new AMANDA street closure data for the current week. Update the layer in the Mxd, publish to AGOL, and then update the Street Events and ACE Downtown Conflicts Web Maps on AGOL.

Follow Weekly_Update_for_Special_Events.doc located in G:\ATD\ATD_GIS\Office_of_Special_Events\OSE_GIS\AMANDA_Street_Events for steps to complete.

[2020-06-22 13:19] jaime-mckeown commented on #3092
Ran update, no changes to data this week.

[2020-06-22 13:19] #3092 closed

[2020-06-22 14:52] sergiogcx opened #3093 "VZD | Fix Jurisdiction SQS Code"
There is a bug in the Jurisdiction SQS code that needs fixing:
https://github.com/cityofaustin/atd-vz-data/blob/6032debce7e53f04ac2e623697d70801284a85d3/atd-events/crash_update_jurisdiction/app.py#L54

This should be a relatively simple fix, but the new code needs to be executed in order to establish that it works.

[2020-06-22 14:59] dianamartin opened #3094 "Robin Demo - Workspace reservation software system for hoteling/hot-desking"
### Objective
- Scheduled 6/22

### Participants
- Peggy, John, Subhi, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [ ] Schedule meeting
- [ ] Optional: Schedule debrief
- [ ] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ] Create resulti

[2020-06-22 15:01] dianamartin commented on #3094
## Diana's Notes

USER VIEW
Toggle
Spaces or Desks
Floorplans would be accurate to what a user expects
Has a calendar, choose a date or time
 - time settings: admin has access to change permissions
Filterable by amenties on the desk
- certain monitors
- certain desks

Desks are "Green"- who else is around them
Can show permanent people (assigned desk) or hoteling desk

Click desk - Desk Name, Name

[2020-06-22 15:12] SurbhiBakshi commented on #3094
**### Notes**
- Dropdown for Multiple buildings, multiple floors, all in one interface/ viewer
- You can look for multiple days, sort of like selecting a seat on a flight.
- Admin can customize settings, 8 hours, 4 hours.
- Filter by amenities - role to needs, example specific work stations for specific roles.
- Hoteling + Assign, some people will be there every day versus some people need to to c

[2020-06-22 16:04] Nadin-Nader commented on #1729
This has been sent to CTM DevOps CM Team to deploy (SCTASK0076106). Waiting

[2020-06-22 16:09] Nadin-Nader commented on #2401
**Status**
In the CM Teams "In Progress" Pipeline SCTASK0075249

[2020-06-22 16:15] Nadin-Nader commented on #1872
**Status**
Currently with the AMANDA CTM Tango team SCTASK0075805. Just waiting on deployment

[2020-06-22 16:31] alan-deanda commented on #2887
As Healthy Street Block Captains are being trained and beginning to take shifts, there doesn't seem to be much need for an app like this to be created. Moving the issue to Ice Box for now, in case it comes back up

[2020-06-22 16:39] dianamartin commented on #3080
- Justin emailed this morning saying he still had issues logging in
- I send him a screen shot of what i had in the system.
- He corrected the email, I had an "e" at the end of his last name.
- Corrected that and he confirmed he was able to log in.

[2020-06-22 16:39] #3080 closed

[2020-06-22 16:55] JaceDeloney opened #3095 "Associate City ID 22 to Crash IDs"
Xavier was able to identify crashes that were occurring outside of the full purpose, but still in the city of Austin. He would like us to update the `city_id` field to `22` for the following `crash_id`s:

[2020-06-22 17:07] Sreelatha-BlazeKannan commented on #2633
@TracyLinder , @Nadin-Nader
[Email Invoice Template v1.0.docx](https://github.com/cityofaustin/atd-data-tech/files/4814599/Email.Invoice.Template.v1.0.docx)

We need these clarifications to continue on #2633

1.	Email Invoice feature exists in the current system for TIA Folder or not? Or we do it manually using the email option in fee/document tab?
2.	If it does not exist, do you want to it under

[2020-06-22 17:22] Nadin-Nader opened #3096 "Meeting for Folder "In Date' Rules (Related to #1726)"
###As Permit Reviewer, when an applicant goes to submit a permit, saves it but doesnt complete it, when the applicant comes back later to actually submit the permit, the permit shows the application date as the date the application was submitted and not the actual submittal date. This causes problems with performance measures, reporting and metrics since what is looked is the submittal date and no

[2020-06-22 17:23] Nadin-Nader commented on #3096
@TracyLinder  Spoke to Paloma and Kim about this one and Paloma stated that this is a Larger Project and may affect all folders if the applicant chooses to save the application for later, then they come back later and submit the application. When the applicant does this, the submittal date is the date that they began the application and is a big a problem for performance measures. Paloma thinks th

[2020-06-22 17:24] Nadin-Nader commented on #3096
Created this card as the first meeting card for #1726 and closing the card after i update it

[2020-06-22 17:26] #3096 closed

[2020-06-22 17:41] sergiogcx commented on #3093
Created a PR, still a work in progress until I can deploy and test.
https://github.com/cityofaustin/atd-vz-data/pull/835

[2020-06-22 17:50] #2961 closed

[2020-06-22 17:55] alan-deanda opened #3097 "Healthy Streets on Google Maps part 2"
I've submitted a KML of our current Healthy Streets data through the [google partner dashboard](https://partnerdash.google.com/apps/basemap/myuploads). The dashboard will update me once my contribution has been accepted. At this point, we might be able to see Healthy Streets on google maps the same way they show up in Oakland.

[2020-06-22 17:57] alan-deanda commented on #3097
@johnclary  it seems that our previous look at this issue did not result in Healthy Streets displaying on google maps. I'm waiting to see if my submission has been accepted.

[2020-06-22 18:18] jaime-mckeown opened #3098 "Smart Trips Austin - Eastside 2019 Story Map Edits - Ashley G."
Ashley emailed and requested that the Smart Trips Austin Eastside Story Map have the ownership changed to the Smart Trip Austin account so edits can be made.

[2020-06-22 18:46] JaceDeloney commented on #3057
Sergio and I discussed this last Friday. It appears that everything is running fine since Sergio turned it back on Thursday. There is an ETL that runs a backfill for anything missing for the current month for all providers, so no further action needed at this time. Closing out.

[2020-06-22 18:46] #3057 closed

[2020-06-22 18:59] moorerst commented on #933
per email communication with Gil and Joseph
6/18 - Gil, I also wanted to follow-up with 2019 total gross revenue: $4,664,997.45
Please let us know what you find out about having to go to Council or not.
6/19 - So what I found out was that if revenue exceeds $61,000 within a fiscal year, then we have to take this to Council for approval.

Thank you for looking into this Gil. Just to clarify, there

[2020-06-22 19:44] licarir commented on #2511
@Nadin-Nader are you the proper point of contact for questions such as the above?

[2020-06-22 19:57] atdservicebot opened #3099 "(Urgent) Unable to sign into Knack. Says email/password incorrect. Tried manual sign in with same results."
Other / Not Sure

Unable to sign into Knack. Says email/password incorrect. Tried manual sign in with same results.

Urgently — Today or tomorrow

Need to complete TLC form per manager's request.

Requested By

Request ID: DTS20-100830

[2020-06-22 20:13] jaime-mckeown commented on #3098
Edits complete, ownership changed back to ATD Publisher.

[2020-06-22 20:13] #3098 closed

[2020-06-22 20:25] dianamartin commented on #3099
Checked the system and he wasn't entered in there. I entered the user in, will be emailing him to confirm who is supervisor is and let him try again.

[2020-06-22 20:31] alan-deanda opened #3100 "Update: Markings work orders 06/22/2020"
49 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-06-22 20:45] Nadin-Nader commented on #1910
Sent email to Jaclyn and Greg asking them to revise the spreadsheet and explain it a bit more so that we can make the necessary updates. Email is below and so is the attached zip i sent:

[https://app.zenhub.com/files/140626918/194fe7b0-c18e-4c65-94d0-89eb5fe70835/download](https://app.zenhub.com/files/140626918/194fe7b0-c18e-4c65-94d0-89eb5fe70835/download)

[2020-06-22 20:46] SubhaShroff commented on #2401
**Status**
The changes are deployed and I have tested it in Dev. It is available for Dev Testing.

[2020-06-22 22:21] alan-deanda opened #3101 "Update Aerial Imagery on Google Maps"
ATD would like Google Maps' aerial imagery to be updated to reflect the new murals Black Austin Matters (Congress Ave) and Black Artists Matter (E. 11th St.), as has been done in Washington DC with their Black Lives Matter.

I've done some research and found that Google Maps does accept aerial imagery from their content partners (I became a partner earlier this morning to upload Street Closure dat

[2020-06-22 22:45] dianamartin commented on #3099
- Messaged user in Teams this morning 6/22, but got no reply.
- Emailed user this afternoon 6/22, has an away message _"I am currently out of the office from 6/12 to 7/27 and will not have access to email."_

[2020-06-22 22:47] sergiogcx opened #3102 "VZ: Patch 1.9.1"
Create a patch that:
- [x] Updates version in VZV
- [x] Fixes problem in CircleCI and SQS (This one is kind of urgent)
- [x] Fixes Frank's SQS code

[2020-06-22 23:48] amenity opened #3103 "Learn about City Space functionality and departmental access"
A new version of [CitySpace](https://cityspace.austintexas.gov/Home), the City of Austin intranet, was recently released. Word on the street is that the new platform is very user-friendly.

I was involved with the effort when I first started at the city and know that the intention used to be to replace all the myriad departmental intranet Sharepoint sites. If this is still the case, getting our HR

[2020-06-22 23:51] amenity commented on #3103
I just submitted a "how do we get access" ticket through their feedback link. Will see what that turns up. I get the feeling looking at the site that they reigned in the scope and are only keeping content that is relevant to _all_ city staff on CitySpace and encouraging departments to maintain one-off Sharepoint sites for their internal stuff.

[2020-06-23 13:54] Sreelatha-BlazeKannan commented on #2632
Submitted the Demo on 06/19/2020. Waiting for feedback.

[2020-06-23 13:54] Sreelatha-BlazeKannan commented on #2634
Submitted the Demo on 06/19/2020. Waiting for feedback.

[2020-06-23 13:54] Sreelatha-BlazeKannan commented on #2631
Submitted the Demo on 06/19/2020. Waiting for feedback.

[2020-06-23 14:37] sergiogcx commented on #3095
So I found out that about 11,000 records do not have the same

[2020-06-23 14:44] sergiogcx commented on #3095
Before I made changes, I wanted to find if `rpt_city_id` is always identical to `city_id`, as it turns out it isn't, from running this query the result shows that almost 11,000 rows have different values.

[code]

So I think the best way forward to retain the original values is to create a column and extend our trigger logic to copy the original value into the new column.

[2020-06-23 15:39] alan-deanda commented on #3101
Although the Google Maps representative I spoke with yesterday indicated that imagery is acceptable to submit, this morning I've received a different response from another representative:

It seems they'll accept our data submission, but we may not see it reflected in the map as quickly.

[2020-06-23 15:39] #3100 closed

[2020-06-23 15:43] dianamartin commented on #3080
- Curtis told me that the 3rd person having log in issues is Philip U.
- Added Philip U. as a user
- Emailed user

[2020-06-23 15:45] dianamartin opened #3104 "[BUG] Change Shared Mobility Service to be under Mobility Services division"
Jacob C.
PE

Emailed

[2020-06-23 16:21] Nadin-Nader commented on #3050
Maria will send a spreadsheet that shows which infos to remove.
Infos will be the same across all work-types for the Street Event Subtype of RW
Robert will need to know which subtypes to exclude

Maria sent the initial list of info that need to be cleaned up but the spreadsheet has extra tabs on it with notes that may note be associated with the request.
The info tab list also has questions and co

[2020-06-23 16:21] Nadin-Nader commented on #3050
Meeting Scheduled for 6/23/2020 at 1130am

[2020-06-23 16:40] dianamartin commented on #3104
- Filtered `Shared Mobility Services`
- Changed to `Mobility Services`
- Emailed Jacob the new listing

[2020-06-23 16:40] #3104 closed

[2020-06-23 16:48] licarir commented on #2664
I found this code in DefaultFee_RW_NEW which appears to be the problem. When it runs F_UPDATE_STATUSCODE to 50600 'Pending Payment', that is where we need to change it to 50005 (Pending) status.

-- Start Mathi 06/06/2018 -- TN989:Folder Created via BO, Update folder stauts into Pending Paymnet
SELECT COUNT(*) INTO ln_FeeCount
FROM   AccountBillFee
WHERE  AccountBillFee.FolderRSN = argFolderRSN AN

[2020-06-23 16:55] dianamartin opened #3105 "Meeting: DTS Service Desk Workflow"
### Participants
- Jaime, Scott, Reedy, Diana

### Agenda
- Discuss the service desk workflow

[2020-06-23 16:59] licarir commented on #2664
@TracyLinder @Nadin-Nader
Does any other department use these folders? Does this type of folder and status combination ever need to go into Pending Payment status by default? If not, this is a very easy change to one line of code if I am correct.

[2020-06-23 17:05] dianamartin commented on #3105
## Diana's Notes

`ATD_IT queue` - ServiceNow

**Historically**
+ Added Jaime - fulfiller
+ Add everyone to ServiceNow to manage the ticket?

**GIS SPOCs - Account Request form**
- GIS SPOCs in ServiceNow
- GIS SPOCS could fill out tickets
- They're not fulfillers

### CURRENT WORKFLOW
- Anything that `ATD_IT`, both Scott and Jaime emails
- Assigned to group, members get notification
- Assign them

[2020-06-23 17:08] licarir commented on #2396
Apparently the Provider: The Jets label got removed for some reason so I wasn't seeing this on ZenBoard.

[2020-06-23 17:08] alan-deanda opened #3106 "Update: Markings work orders 06/23/2020"
35 total work orders currently in GIS QA

Worked on _ work order(s)
Escalated _ work order(s)
Created/updated _ markings short line features
Created/updated _ markings specialty line features
Created/updated _ markings specialty point features

[2020-06-23 18:01] Nadin-Nader commented on #2880
**Status:**
SCTASK0076454 Has been created and sent to the DevOps CM Team for Promotion to TEST and PROD.

[2020-06-23 18:21] moorerst commented on #3105
@johnclary we had a good meeting with Jamie and Scott. These are the meeting notes

[2020-06-23 18:42] alan-deanda commented on #3097
I've been informed the data is currently being uploaded.

[2020-06-23 18:45] TracyLinder commented on #2664
@licarir I don't think any other department uses RW-Street Event. It doesn't ever need to go into pending payment by default, from what I understand.

[2020-06-23 18:49] TracyLinder commented on #1766
**Email from Subha:**

Hi Tracy/Nadin,

Reports for EX, 50510 and 50562 do not have deficiencies queried in any section. I think requirement doesn’t apply for these two reports. Please clarify.

Thanks,
Subha

*My Response:**

Hi Subha,

Thanks for letting us know. You are correct and we can remove that from requirements.

Thanks,

Tracy Linder, Product Manager

[2020-06-23 19:00] dianamartin opened #3107 "Feature request: Make "Quantity" editable in Edit PPE Form, Add "Note" field"
Gilda P.
Admin

Emailed

[2020-06-23 19:01] dianamartin commented on #3107
@JaceDeloney You can add or modified the details here if you have anything else to add

[2020-06-23 19:16] Nadin-Nader commented on #1978
From: Amayo-Ryan, Paloma <Paloma.Amayo-Ryan@austintexas.gov>
Sent: Monday, June 8, 2020 8:41 PM
To: Nader, Nadin <Nadin.Nader@austintexas.gov>
Cc: Linder, Tracy <Tracy.Linder@austintexas.gov>
Subject: RE: Update email address used for Bill/Invoices #1978

Hey again Nate!

Thanks so much for your considerable patience with me!  Let me know if any of the formatting is problematic … Bold can replaced

[2020-06-23 19:16] dianamartin opened #3108 "[BUG] HR app - log in incorrect for Joan M."
Joan M.
TDS

messaged me

im trying to fill out the telework request form
​and i am getting the following error

[2020-06-23 19:17] dianamartin commented on #3108
- I checked Joan's account, her name was right, but her email was her former email
- she had a recent name change
- fixed the email to current name
- user tested and it's working

[2020-06-23 19:17] #3108 closed

[2020-06-23 19:28] SurbhiBakshi commented on #3043
Notes -
1. License record is for operator
2. Permit (called a license, but essentially a permit) is issued in the name of the business, and applies to a location.
3. Typically, an operator applies for a permit, rarely a business will apply for a permit.
4. Parent record is the license - issued to operator
5.Child records are the permit - issued to the business name, specific to a location.
6. In a

[2020-06-23 19:30] moorerst commented on #3105
@dianamartin @johnclary  here is a report from Service Now of incidents for Department Austin Transportation Closed in the last 6 months by any group Not ATD_IT

[ATD.incidents.closed.by.group.not.ATD_IT.for.last.6.months (1).xlsx](https://github.com/cityofaustin/atd-data-tech/files/4821452/ATD.incidents.closed.by.group.not.ATD_IT.for.last.6.months.1.xlsx)

I put a filter on Sub Category to get an

[2020-06-23 19:31] licarir commented on #1673
Script has run on PROD.

[2020-06-23 19:32] #1673 closed

[2020-06-23 19:43] dianamartin commented on #3045
Recorded on 6/17

[2020-06-23 19:43] #3045 closed

[2020-06-23 19:45] licarir commented on #1791
Internet Pending are from Applying on line.
Folders will be created as part of the BP process. DS folder created as child of BP. Pending status initially. Doesn't always have a work type. Customer tells right of way management that they are ready to get the permit. Try to add info/update FPD and press save, don't allow changes if sub and work type is null.

[2020-06-23 19:47] dianamartin commented on #3099
User messaged me

[2020-06-23 19:47] #3099 closed

[2020-06-23 19:51] dianamartin commented on #3105
@moorerst @johnclary

I put the spreadsheet into a pivot table to extract the `Categories` and `Sub categories`

Categories
--
Business Applications and Services
Communications
Employee Services
Hardware
Hardware Services
IT Infrastructure
IT Infrastructure Services
Security and Access
Software
Software Services

Sub Categories
--
Account Request
Active Directory
Adobe (Other)
Adobe Acrobat
Amanda

[2020-06-23 19:58] TracyLinder commented on #1580
**To Subha:**

Hi Subha, this looks great. Go ahead and promote it up.

Thanks,

Tracy Linder, Product Manager

[2020-06-23 20:09] TracyLinder commented on #1713
Subha sent a demo, it looks great, and I asked her to promote it.

[2020-06-23 20:27] amenity commented on #725
@mateoclarke @johnclary - should this go in the backlog?

[2020-06-23 20:27] TracyLinder commented on #2983
**Ash sent us a demo, this was my response:**

Hi Ash,

This is really great work! I do have 1 revision due to a missing requirement on our part:
-	When adding fees, be sure to include the ATD Tech Surcharge

Nate I think we should have your feedback before moving forward on this one. I also have a question for you: when the folder status updates to approved, should there be either an issue date o

[2020-06-23 20:30] dianamartin commented on #3107
Gilda emailed

[2020-06-23 20:30] #3107 closed

[2020-06-23 20:35] mddilley opened #3109 "VZV | Map | Mapbox street layer doesn't load in Safari"
In Safari desktop, the Mapbox street layer does not load. This affects both staging and production. Tiles load as expected on Safari mobile.

<img width="1250" alt="Screen Shot 2020-06-23 at 3 33 11 PM" src="https://user-images.githubusercontent.com/37249039/85458548-dac72f80-b566-11ea-8c23-323ad4af6a4e.png">

<img width="1243" alt="Screen Shot 2020-06-23 at 3 42 04 PM" src="https://user-images.gi

[2020-06-23 20:36] jaime-mckeown opened #3110 "Speed Limit Web App / Maps Edits - Joel M."
Joel requested to make edits to the Speed Limit Web Maps and App.

[2020-06-23 20:36] jaime-mckeown commented on #3110
Changed ownership to Joel so he can make changes.

[2020-06-23 20:43] sergiogcx commented on #3095
This has been done, the update was made to production (11900 rows affected in 16 s 44 ms) using this SQL query:

[code]

[2020-06-23 20:56] #3102 closed

[2020-06-23 20:58] #3095 closed

[2020-06-23 20:59] #2910 closed

[2020-06-23 21:24] SurbhiBakshi commented on #2960
@JaceDeloney - [here](https://atd.knack.com/smo#home/) is some work that I did for this issue, let's talk about the TBD items later this week?

[2020-06-23 21:32] jaime-mckeown commented on #1182
Completed a change to how the criteria was being calculated for the CSR field, with a new output created for AMD. No other changes have been requested.

[2020-06-23 21:38] jaime-mckeown commented on #254
Started working on this project again recently as the Parking GIS Analyst left her position. The parking meter / pay station data has been migrated to MAINT. Removed the relationship classes between parking spaces and meters / pay stations as the relationships were not necessary. Started migrating the parking spaces, hope to finish soon. Creating the parking restrictions for each parking zone will

[2020-06-23 21:51] SurbhiBakshi commented on #2971
### **[Meeting Notes]**(https://docs.google.com/document/d/1ZaD8YD7i7vcWeltFagtsoLmbpMzMa0_vjuDMfEZD66c/edit?usp=sharing)

[2020-06-23 21:51] #2971 closed

[2020-06-23 21:52] dianamartin opened #3111 "NEO To Do List"
### Update and Review content of slides for recording
- [x] Updated slides of Module 6
- [x] Updated slides of Module 7

### NEO Completion Module Forms
- [x] Create new Module forms for 4
- [x] Create new Module forms for 5
- [x] Create new Module forms for 6
- [x] Create new Module forms for 7

### Recording
- [x] Record conclusion Module 2
- [x] Edit Module 5 video to have no intro
- [x] Record

[2020-06-23 21:53] SurbhiBakshi opened #3112 "Meeting | June 29, 2020 - Biweekly Update"

[2020-06-23 21:57] SurbhiBakshi opened #3113 "Create dataset in the Open Data Portal"

[2020-06-23 22:00] SurbhiBakshi opened #3114 "Publish Core Signs and Markings data to the Open Data Portal"
Published datasets:
- [Markings Work Orders](https://data.austintexas.gov/Transportation-and-Mobility/Roadway-Markings-Work-Orders/nyhn-669r)
- [Sign Work Orders](https://data.austintexas.gov/Transportation-and-Mobility/Street-Sign-Work-Orders/ivss-na93)
- [Markings Jobs](https://data.austintexas.gov/Transportation-and-Mobility/Roadway-Markings-Jobs/vey3-7n3x/)
- [Time Logs](https://data.austintex

[2020-06-23 22:02] SurbhiBakshi opened #3115 "Meeting - UAT for Signs and Markings data in Power BI"
Meet with Susanne to see if the data connection from the Open Data Portal will work for her.

[2020-06-23 22:08] SurbhiBakshi commented on #2817
Going to start work on one of the requested dataset in #3113 and #3114. Based on how that process goes, will apply those steps to the remaining datasets requested.

[2020-06-23 22:23] jaime-mckeown commented on #131
Christina is out of the office until tomorrow. I will update this project after I hear back from her.

[2020-06-23 23:10] atdservicebot opened #3116 "sharepoint site for ATD VISTA program"
Other / Not Sure

sharepoint site for ATD VISTA program

Soon — This week

Requested By

Request ID: DTS20-100835

[2020-06-23 23:14] dianamartin commented on #3116
Laura emailed me in the morning asking about this. I told we should chat so I can understand why they think they need standalone SharePoint site for the Vista Program rather than putting it under the ATSD site.

We were able to sync this afternoon and Laura said the Vista program is managed by multiple divisions and they needed a place where the VISTA workers could put their project files. They di

[2020-06-23 23:20] #1594 closed

[2020-06-23 23:23] dianamartin commented on #3116
- Created `VISTA` subsite under ATD SharePoint page
- Called page `VISTA Program`
- Configured site permission
- Send URL link to Laura

[2020-06-23 23:30] #3116 closed

[2020-06-24 13:38] jaime-mckeown opened #3117 "DAPCZ GIS Layer Question - Mary V."
From Mary:

[2020-06-24 13:41] jaime-mckeown commented on #3117
Let Mary know that the DAPCZ layer is available on GISDM and she can export it directly from there. Let me know if she needs me to export the layer for her.

[2020-06-24 13:57] JaceDeloney commented on #65
**Status Update**
We have reached out to MMC staff to see if they need help creating BI views using the new datasets we published a few months back. [Here](https://github.com/cityofaustin/atd-data-tech/issues/1241) is the issue where we completed that work. Still awaiting a response.

There has been no other work related to BI Discovery.

[2020-06-24 13:59] JaceDeloney commented on #2673
I don't remember having a conversation about this one, @johnclary. Can you help me understand the context, urgency, and why it's blocked?

[2020-06-24 14:01] JaceDeloney commented on #987
**Status Update**
The CRIS data reprocessing effort has completed. The team has been implementing a variety of data quality improvements over the past several weeks. We have shared the URL to VZV with local Vision Zero advocates and have received good feedback. VZV is schedule for public release the week of July 7.

[2020-06-24 14:02] JaceDeloney commented on #251
**Status Update**
We have not received any new requests related to the Mobile Signal Work Orders app.

[2020-06-24 14:03] JaceDeloney commented on #255
**Status Updates**
All of the updates to both VZD & VZE can be found in our release notes [here](https://github.com/cityofaustin/atd-vz-data/releases/).

[2020-06-24 14:07] JaceDeloney commented on #1192
**Status Update**
We have had two Sprint Reviews with the Shared Mobility Services Team thus far. The Shared Mobility Operations Dashboard now enables staff to view information on monthly trip reporting and permitting. We are currently enhancing the homepage and provider page.

Overall, there is concern about the changing nature of shared mobility regulations and processes. I will be writing up so

[2020-06-24 14:09] JaceDeloney commented on #3041
**Status Update**
Over the past month, we have been meeting with citywide HR representatives on the potential to use the COVID-19 Tracking App for all city employees. We have demoed the app, discussed potential changes, and provided timing expectations if another department is interested in adopting this tool. We have not heard back from any new departments at this time.

[2020-06-24 14:10] JaceDeloney commented on #2351
**Status update**
No real changes to this app overt he past several months. Gilda is the main power user and has been asking for relatively small changes, which Diana has been able to handle quickly.

[2020-06-24 14:12] JaceDeloney commented on #129
**Status Update**
I will be taking over this project starting in July. Next steps are to meet with Alan on the status of AECOM's GIS project. I will then begin meeting with stakeholders to identify a process to handle new updates to the registry. The tool we will use for this is TBD.

[2020-06-24 15:10] dianamartin commented on #3012
## Diana's Note

### My Employees
- Employees connected to Supervisor
  - Custom

###

[2020-06-24 15:23] jaime-mckeown commented on #131
SMB has checked on the status a couple times since submitting the Scope of Work to Finance. At this time, Finance is working with CTM to determine if they can proceed with DIR or if they should just move on to advertising for a bid.

[2020-06-24 15:52] TracyLinder commented on #2880
Going to prod tomorrow 6/25

[2020-06-24 15:55] #2924 closed

[2020-06-24 15:59] TracyLinder opened #3118 "DevOps - Promote to Dev"

[2020-06-24 15:59] TracyLinder opened #3119 "DevOps - Promote to Test - Film Expiration (NN)"
Request is submitted for TEST deployment: SCTASK0085129.

[2020-06-24 16:03] SurbhiBakshi commented on #2817
Overlaps with #1913, going to close #1913.

[2020-06-24 16:05] SurbhiBakshi commented on #2817
From johnclary on 2020-01-29:

@amenity @SurbhiBakshi we can and should do this, although the SMB folks need to be aware that Socrata does not support table relationships. They would have to build those from within PowerBI (if that's even possible).

Another alternative would be to pull data into power BI directly from Knack, which is something @SurbhiBakshi has been working on for VZA. @SurbhiBak

[2020-06-24 16:06] SurbhiBakshi commented on #2817
From SurbhiBakshi on 2020-01-29:

@john, would need to test the ability to join Knack datasets in Power BI, think it should be there, but will look into it. I like the idea of pushing data into a dedicated reporting database.

[2020-06-24 16:06] SurbhiBakshi commented on #2817
From SurbhiBakshi on 2020-01-29:

@amenity, @john adding the test to the issue I have for joining Knack and Brazos datasets. Probably good to see if datasets from Knack and Socrata can also be joined.

[2020-06-24 16:06] TracyLinder opened #3120 "DevOps - Promote to Dev - TCI 'Return to Work'"

[2020-06-24 16:06] TracyLinder opened #3121 "DevOps - Promote to Test - TCI 'Return to Work' (NN)"

[2020-06-24 16:07] SurbhiBakshi commented on #2817
Issue Description from #1913 -
Member
atdservicebot commented on Mar 2
What application are you using?

Signs and Markings Data Tracker

Describe the problem.

Is it possible to add the Signs and Markings Work Orders, Specifications, Jobs, and Work History into Socrata Austin Open Data Portal?

It would be great to make this data accessible to the public similar to the traffic signals work orders,

[2020-06-24 16:09] #1913 closed

[2020-06-24 16:13] TracyLinder commented on #3063
We met 6/23 to discuss.

[2020-06-24 16:13] #3063 closed

[2020-06-24 16:15] zappfyllc commented on #3004
6/24 started list of views based on preliminary thoughts on feature set. Added link to the description above. This should help inform later mockups, give context to certain features, document questions/thoughts on what kind of functionality might be required from a given area of the application, and allow us to document where certain features may be reusable (e.g. the "Map Project Geometry" featur

[2020-06-24 16:18] TracyLinder commented on #3024
INC0042185 was closed by CTM.

[2020-06-24 16:18] #3024 closed

[2020-06-24 16:21] TracyLinder commented on #1926
@kaarthym5 you have this on your plate for sprint 27 right?

[2020-06-24 16:29] TracyLinder commented on #1742
@Nadin-Nader will check w/ Sree for an update on this today.

[2020-06-24 16:31] jaime-mckeown commented on #3117
Mary found the layer on GISDM and exported it.

[2020-06-24 16:31] #3117 closed

[2020-06-24 16:33] jaime-mckeown commented on #3054
Jesse forwarded an email this morning from CTM Help Desk requiring my approval. I gave my approval, then emailed RoxAnne P. at CTM to see why they are asking since the GIS SPOC has to submit the form.

[2020-06-24 16:33] #3054 closed

[2020-06-24 16:34] johnclary commented on #2673
Status: CTR is working with AMD to setup ETLs between INRIX and Socrata. That will open up the door for viewer development....this fall?

@johnclary please loop jace in on CTR meetings.

[2020-06-24 16:36] jaime-mckeown opened #3122 "GIS Install / Account Creation Form on Service Now - Issues with process"
A couple issues have come up with the new Service-Now GIS Install / Account Creation Form. I emailed RoxAnne at CTM to let her know so they can get the bugs worked out.
- When a user submited a request in Service-Now for a new GIS Account, it was assigned to all GIS SPOCs. That shouldn't be happening.
- I submitted a request for a user to get a new GISDM Account. He received an email from the Help

[2020-06-24 16:37] TracyLinder commented on #3118
**From Subha:**

Hi Tracy/Nadin,

I committed the code for #1580. Please review/audit the code. Once its approved, I will raise a ServiceNow request for Dev Deployment. Here are the commits in order: 24ef93d2a429,  d60bb4ce40b5.

Thanks,
Subha

[2020-06-24 16:38] JaceDeloney commented on #2673
Talked to @johnclary. Since the metrics for this viewer are focused on traffic metrics from INRIX, this does not fit into MOPED in the near term.

It would be good to understand AMD's needs priority-wise. We can talk about this at the next AMD meeting.

[2020-06-24 16:48] Sreelatha-BlazeKannan commented on #1872
Nadin Renamed 56210 report code and sent to Surya for  TEST deployment

[2020-06-24 16:50] Sreelatha-BlazeKannan commented on #1729
had a commit conflict with PROCESS_SP_0000005 and reverted and committed the whole procedures again on 06-23-2020

[2020-06-24 16:52] Sreelatha-BlazeKannan commented on #1951
It is in PROD Now.

[2020-06-24 16:53] Sreelatha-BlazeKannan commented on #2406
It is in PROD Now.

[2020-06-24 16:58] TracyLinder commented on #1951
**Email to Stakeholders:**

Good Afternoon,

Some good news today. The work for #1951 for the GF folder for out of system fees is now in Production! These fees are also payable on the portal. Yay!

Please let us know if there are any questions.

All the Best,

Tracy Linder, Product Manager

[2020-06-24 17:08] alan-deanda commented on #2907
@mddilley , @JaceDeloney  the High Injury Network Vector Tiles for the Vision Zero Viewer are available [here](https://tiles.arcgis.com/tiles/0L95CJ0VTaxqcmED/arcgis/rest/services/HIN_for_VZV/VectorTileServer). Let me know if y'all need anything else.

[2020-06-24 17:09] #3106 closed

[2020-06-24 17:29] kaarthym5 commented on #1926
Hello Tracy, yes we have this story on for sprint 27
________________________________
From: Tracy Linder <notifications@github.com>
Sent: Wednesday, June 24, 2020 12:21 PM
To: cityofaustin/atd-data-tech <atd-data-tech@noreply.github.com>
Cc: Madhan, Kaarthy <Kaarthy.Madhan@austintexas.gov>; Mention <mention@noreply.github.com>
Subject: Re: [cityofaustin/atd-data-tech] EX Portal Attachments during

[2020-06-24 17:49] moorerst commented on #933
The Stakeholders are reviewing the option of a Sole Source procurement instead of an RFP for the Parking Management System

[2020-06-24 17:51] moorerst commented on #1488
Intake meeting will be scheduled after the current HR project for digital Telework Forms is complete.

[2020-06-24 17:54] moorerst commented on #3105
Follow up meeting to be scheduled with a week. Giving us time to review the report from Service Now of tickets closed for ATD by CTM so we can create a better list of what customers would contact CTM to handle.

[2020-06-24 17:56] moorerst commented on #3012
Testing the modifications for Supervisors to see and approve only the Telework Request for their direct reports.

[2020-06-24 18:08] #1476 closed

[2020-06-24 18:17] amenity opened #3123 "Discuss Officer workflow usability and review backlog"
Determine approach for Officer workflow usability improvements:
- #3079
- #3081

Review backlog.

[2020-06-24 18:23] amenity commented on #2879
@SurbhiBakshi - once this is complete, please let @johnclary know and block off three hours on his schedule to do

Note that if the field names match Data Tracker it makes the import easier.

[2020-06-24 18:25] amenity commented on #3123
@amenity - please schedule for early the week of 7/6.

[2020-06-24 18:28] JaceDeloney commented on #1803
This issue is irrelevant

[2020-06-24 18:28] #1803 closed

[2020-06-24 18:29] #2867 closed

[2020-06-24 18:29] #2868 closed

[2020-06-24 18:29] #2870 closed

[2020-06-24 18:30] alan-deanda commented on #3055
Requested app to collect feedback on top candidates for Healthy Streets is now live. The link to the app will be shared by PIO. Moving this to Ready to Deploy until it's published.

[2020-06-24 18:30] amenity commented on #2114
@dianamartin - would you recommend we hold a third training or are we good to close this?

[2020-06-24 18:33] alan-deanda opened #3124 "Create and publish Crowdsource Polling App to collect feedback on Congress Ave Temporary Protected Bike Lanes"
ATD is installing temporary protected bike lanes on Congress Ave between from Riverside to 11th St. This issue creates a crowdsource polling app to collect public feedback, and it will essentially mimic the app for [Reviewing Current Healthy Streets](https://austin.maps.arcgis.com/apps/CrowdsourcePolling/index.html?appid=87a64b5983e84cb5a84b9628d84f122d).

[2020-06-24 18:35] dianamartin commented on #2114
@amenity I think we can close this

[2020-06-24 18:35] #3094 closed

[2020-06-24 18:36] johnclary opened #3125 "Evaluate desk reservation system"

[2020-06-24 18:38] johnclary commented on #3011
Based on evaluations and demos we would like to go with Robin, pending a quote that meets our budget expectations and is comparable to competing solutions.

[2020-06-24 18:38] dianamartin commented on #3070
@amenity are we going to delete this one?

[2020-06-24 18:39] johnclary commented on #3125
@johnclary get quotes

[2020-06-24 18:45] moorerst commented on #2872
John to follow up with Finance on online payment with Stripe.

[2020-06-24 18:50] sergiogcx commented on #2969
I've just looked at the extract from CRIS, and it is sort of difficult to see what exactly is going on. So I need a bit more time to investigate.
- I've created CSVs of production and compared against CRIS, but the data output formats are different and it is difficult to follow up with actual differences.
- Will reduce the datasets to something smaller, such as only fatalities and suspected seriou

[2020-06-24 18:52] amenity opened #3126 "6/29 AMD Progress and Prioritization Meeting"
### Objective
- Update AMD on the progress of current projects
- Discuss next steps on
    - PHB Ranking
    - Project Tracking
- Review backlog and re-prioritize as necessary

### Participants

### Agenda
[Google doc](https://docs.google.com/document/d/1erIRRmY1GrhYrAdDjL-AvWSbskOBPH8pzyyZthdNq8A/edit#heading=h.9y2xzfo6m7nc)

------
- [ ] Schedule meeting
- [ ] Optional: Schedule debrief
- [ ] Me

[2020-06-24 19:18] amenity opened #3127 "Discuss IT Support request intake workflow"
### Objective
Scheduled meeting: 6/30

Follow up on https://github.com/cityofaustin/atd-data-tech/issues/3105.

How can we streamline the IT Support service request process so that it runs smoothly for ATD staff, CTM, and the DTS Service Desk team?

### Participants
John, Jaime, Scott, Stephanie, Surbhi

------
- [x] Schedule meeting
- [ ] Meet and take notes
- [ ] Create resulting issues

[2020-06-24 19:18] alan-deanda commented on #2829
Removing estimate and closing. This is better captured in [this issue](https://github.com/cityofaustin/atd-data-tech/issues/2977)

[2020-06-24 19:18] #2829 closed

[2020-06-24 19:21] jaime-mckeown commented on #3122
Back and forth emails with Roxanne about the issues I encountered.

[2020-06-24 19:24] amenity commented on #3127
@moorerst  - please mark @jaime-mckeown, Scott, and @SurbhiBakshi as optional.

[2020-06-24 19:28] amenity commented on #2992
@johnclary - do you want to schedule recurring meetings about re-entry?

[2020-06-24 19:29] sergiogcx opened #3128 "VZD Events: Automate city_id change"
In a recent issue (#3095) Xavier requested that we update the city_id to 22 for some of the records that fall in jurisdiction id 3,5,7,8 and 10. This process can be automated, and it probably should for further analysis. It may be best to do this using the event handler. We would simply have to translate the process into Python and GraphQL

**This will be particularly important for new records com

[2020-06-24 19:31] amenity commented on #2114
Diana confirmed that this is good to close.

[2020-06-24 19:31] #2114 closed

[2020-06-24 19:31] SurbhiBakshi opened #3129 "Meeting | June 24, 2020 - Open Data Monthly Meeting"

[2020-06-24 19:31] #2888 closed

[2020-06-24 19:34] SurbhiBakshi commented on #3129
### **[Notes** ](https://docs.google.com/document/d/1CGvLz07IrP1sZEPOigRsctA6UNuqvFsVv7K7zlqXavc/edit?usp=sharing)

[2020-06-24 19:34] #3129 closed

[2020-06-24 19:37] amenity commented on #3074
@johnclary @moorerst - should @dianamartin plan to do this on Monday?

[2020-06-24 19:37] SurbhiBakshi opened #3130 "Research and Meeting | July 2, 2020 - Open Data Standards"
**[Notes ](https://docs.google.com/document/d/14WEidZpvOKV44VdUC2H3dr1DU6iZ1fGzEcwedj1hUlM/edit?usp=sharing)**

[2020-06-24 20:01] JaceDeloney opened #3131 "Update heading levels to improve accessibility"
When looking at VZV using the [WAVE chrome extension](https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh?hl=en-US), the following errors and issues show up:

**2 Errors**
- Empty heading
- Empty button

**7 Alerts**
- 6 skipped heading levels
- 1 noscript element

To allow for better navigation and understanding of VZV for people using screen readers, t

[2020-06-24 20:35] dianamartin commented on #2799
I forgot that I asked Joshil this back on 6/3.

**Conversation**

He said

It's on the N side since it's split between two intersections but I suppose that's just semantics

- [x] Deleted Cabinet with `ID 956` - SW Corner

[2020-06-24 20:35] #2799 closed

[2020-06-24 20:49] Nadin-Nader commented on #1729
**Status:**

Service Now TASK for AMANDA CM Team is SCTASK0076819. Waiting for it to be deployed

[2020-06-24 21:09] jaime-mckeown commented on #3122
She will be working on getting the bugs worked out of the process with the Help Desk.

[2020-06-24 21:09] #3122 closed

[2020-06-24 21:10] jaime-mckeown commented on #3110
All edits are complete, content ownership has been changed back and shared back to Everyone.

[2020-06-24 21:10] #3110 closed

[2020-06-24 21:20] dianamartin commented on #2917
@amenity I forgot, when do we evaluate this request?

[2020-06-24 21:27] alan-deanda opened #3132 "Bike Facilities data request"
Provided bike facilities to students requesting the data.

[2020-06-24 21:27] #3132 closed

[2020-06-24 21:40] jaime-mckeown opened #3133 "Shared Mobility Operations feature layer - Mary V."
From Mary:

[2020-06-24 22:10] jaime-mckeown opened #3134 "CTM looking for GIS data for AW - Dwayne M."
From Dwayne:

[2020-06-24 22:11] jaime-mckeown commented on #3134
Emailed Dwayne links to all the data in AGOL:
- CPO maintained Mobility Bond Corridors
- PAZ maintains Great Streets, but I recently got a copy and pulished from PAZ
- Traffic Signals is only in AGOL, sent a link to the feature layer

[2020-06-24 22:40] dianamartin commented on #2856
#### To Do - 6/24/2020
- [x] Import Green Zone customer records - `Completed - 6/24`
- [ ] Export Green Zone customers not associated with an application
- [ ] Reformat Permit Application spreadsheet
- [ ] Import Green Permit Application spreadsheet
- [ ] Reformat Green Teal Permit spreadsheet
- [ ] Import Green Teal Permit spreadsheet

[2020-06-24 22:49] dianamartin opened #3135 "Account Creation: AMD Data Tracker - Darren U."
Darren U./Ryan M.
ROW

Email

[2020-06-24 22:49] dianamartin commented on #3135
- Confirmed Darren was a new employee
- Added him into the system
- Emailed user instructions for log-in

[2020-06-24 22:49] #3135 closed

[2020-06-25 00:30] amenity commented on #3044
@johnclary - what's the process for fixing these? Would like to get back to Lance.

[2020-06-25 00:53] amenity commented on #2840
Figuring out who is going to do this intake meeting...

@dianamartin - can you share a link to the Sharepoint site?

[2020-06-25 01:01] #3081 closed

[2020-06-25 01:02] amenity commented on #3079
@SurbhiBakshi - can you add some notes on what you'd recommend with this? We can discuss during #3123 . 🙏

[2020-06-25 01:07] amenity commented on #3123
Scheduled for 7/6.

[2020-06-25 01:54] amenity commented on #2923
Emailed Mary V. to see if she would be interested in trying out Formstack to build this form.

[2020-06-25 02:29] amenity commented on #2917
Thanks, @dianamartin. Emailed Ryan to get more information.

[2020-06-25 02:39] dianamartin commented on #2917
@amenity I just saw the email you sent to Ryan. He did give me a copy of an RPP petition, it's attached in my above notes. He also said they call each petitioner to confirm their signatures.

He said typically residents collect signatures to get approval in the neighborhood to convert it into a RPP zone.

[2020-06-25 04:35] dianamartin opened #3136 "Record NEO - Overview ATD Divisions"
- [x] Record ATD Divisions

[2020-06-25 06:06] amenity opened #3137 "Add "Help" Tab"
WIP content [here](https://docs.google.com/document/d/1c4rxYMsSTMeXGTUEV1I3VXsKsNu-4oiieCM9Qdx62QI/edit?usp=sharing).

[2020-06-25 14:12] dianamartin commented on #2840
@amenity Link to [Dispatch SharePoint](https://cityofaustin.sharepoint.com/sites/ATD/dispatch/) - it's not even on their Parking Enterprise SharePoint. I've linked it now, but it wasn't linked before.

[2020-06-25 15:10] SurbhiBakshi opened #3138 "Meeting | June 25, 2020 Strategic Directions Alignment Managers Quarterly Meeting"

[2020-06-25 15:43] zappfyllc commented on #3042
Renée and Robin emphasized the convenience of integrating with AMD Data Tracker. Nathan Wilkes obviously prefers onboarding them to the Interim Project Database, but Renée and Robin seemed hesitant to do so, more willing to wait for Moped if given the choice between no interim solution and joining the Access DB. There’s a spreadsheet between ATSD, AMD, SRTS, etc. that is updated monthly to facilit

[2020-06-25 15:52] dianamartin commented on #3074
@johnclary

Scott talked to Rob and here is some new information:

- I've go into the DTS Portal and added a field for `Attachment`, `Additional Notes`, `Modified By`
- I've created a `Details` page that required log in by a viewer
- I've created an `Edit` form that allows a user to change what equipment they have and require an image attachment of their set-up as verification.
- I've not enabled

[2020-06-25 15:59] JaceDeloney commented on #3128
Based on yesterday's discussion, we need to revert the changes requested in #3095. I misunderstood the priority and need for that request. We will revisit the request at a later date. Please do not make the changes outlined above (for now). Moving this back to the backlog.

[2020-06-25 16:02] JaceDeloney opened #3139 "Revert changes made in 3095"
Based on yesterday's discussion with Xavier and the team, we need to revert the changes requested in #3095. I misunderstood the priority and need for that request. We will revisit the request at a later date. Please revert the changes made in #3095.

[2020-06-25 16:05] #3012 closed

[2020-06-25 16:07] dianamartin opened #3140 "Feature request: Refinements after TLC Approval workflow meeting"
### Forms - for supervisor
Model after HR Forms
 - [x] New Details page
 - [x] table to show TLC forms connected to Supervisor Manager Name
 - [x] Sign-off form (existing one from Approve Form page)
 - same process

### New Components created
- [x] `Manage Designees` - for HR Admin user role, on the HR Form Details of the TLC Form
- [x] User role `Department Head Designee` created
- [x] Added new

[2020-06-25 16:18] moorerst commented on #2840
@amenity I can do the intake meeting for this request

[2020-06-25 16:21] JaceDeloney commented on #3139
I was misinformed about this. This is no longer a request

[2020-06-25 16:21] #3139 closed

[2020-06-25 16:33] dianamartin commented on #3140
@johnclary cc: @moorerst

Stephanie and I sync up this morning and corrected any thing we saw was weird. They was just some filters I had to fix. We tested together to come up with this:

### User Roles:
- `HR Admin`
- `Viewer` (Supervisor, I haven't renamed this yet)
- `Staff`

### Expected Behavior (Admin/Department Head Designee - user role)
- User turns in TLC form
- Supervisor sees tab `Forms

[2020-06-25 16:48] atdservicebot opened #3141 "Enhanced Functionality to Create Work Orders from GIS Data"
Signs & Markings Operations

TOP PRIORITY: Turning on "Add Location" for Requesters: We want to allow Requesters submitting work orders to signs and markings to be able to add the "Location" points on the map in advance. This will improve the process for the Technicians and allow them to complete work tickets more efficiently.

As a secondary request we would like Requesters to have the ability to

[2020-06-25 16:58] dianamartin commented on #3141
@amenity

I've talked to Christina about this request. We looked at the possibility of allowing SMB Requesters the ability to create locations. My only concern now after reading the request is the ability for the engineers to put Actions on the locations. My understanding is to indicated "Add, Replace, Remove" or something like that.

We would only want users to put locations that don't exist alre

[2020-06-25 17:16] jaime-mckeown commented on #3133
- The data that is in the Mxd that Mary would like published was not all in the same coordinate system and all in shapefiles instead of a FGDB.
- Since Mary is new to GIS, I figured it would be easier to fix and organize the data myself. Scott put in a request for me to have rights to edit within the Parking Enforcement directory on G.
- Created a FGDB, projected data that wasn't in State Plane an

[2020-06-25 17:17] jaime-mckeown commented on #3133
I also cleaned up the Micromobility Complaints data that is in the same directory, updated the connections in the Mxd, and archived the shapefiles.

[2020-06-25 17:18] SurbhiBakshi commented on #3114
**Prep for Discovery Day**
- [ ] Install Homebrew
- [ ] Install Python 3
- [ ] Install MiniConda
- [ ] Install Visual Studio
- [ ] Install VS Python extension
- [ ] Set up dataset in the Open Data Portal

[2020-06-25 17:20] moorerst commented on #3105
Sample of high level categories for CTM Request

- Account Management (COACD)
Account locked/disabled
Password reset
Folder Permissions (G: drive)

- Amanda
Portal
Browser
Folder
Access
Attachments

- Enterprise Applications
Banner
CSR
ServiceNow
Project Dox
Outlook
eAccess

- Voice/Phone
Voicemail
Conference Bridge
Call Forwarding

- Remote Access
Netmotion
Citrix
GoToMyPC

- GIS
Addressing
Data

[2020-06-25 17:48] sergiogcx opened #3142 "VZD Events: Update SQS events on insertion"
It looks like the scripts were written and meant to work on update, not on insertion. These scripts need to be fixed otherwise it could cause the SQS events to fail.

Example output on insertion:

[code]

After inspection the old record does not exist, which makes sense on a new insertion:

![2020-06-25_12-53-11.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/a82081b1-1d82-44f0-

[2020-06-25 18:13] SurbhiBakshi commented on #3138
[Notes](https://docs.google.com/document/d/1owWXTTLG7AOkMbWsj7pPFEul8N3JVCJ9n3swqnTzJuk/edit?usp=sharing)

[2020-06-25 18:13] #3138 closed

[2020-06-25 18:21] dianamartin commented on #3053
Duplicate of #1484

[2020-06-25 18:21] #3053 closed

[2020-06-25 18:23] dianamartin commented on #3105
@moorerst Should we close this issue now that we have our notes in it? We can create the new issue for our meeting next week and just link it.

[2020-06-25 18:29] #3105 closed

[2020-06-25 18:30] moorerst commented on #3105
@dianamartin yes we can close it. Issue 3127 is for the upcoming meeting and is linked to this issue.

[2020-06-25 18:37] Nadin-Nader commented on #1872
Updated the Parameters for Surya on DEV and sent her an email asking her to proceed with the deployment.

[2020-06-25 18:55] alan-deanda commented on #3124
The app has been published. I'll track any support for it through a general Healthy Streets support issue.

[2020-06-25 18:55] #3124 closed

[2020-06-25 18:58] atdservicebot opened #3143 "Add a distinct "NO DETECTORS" option for "DETECTOR_TYPE""
Data Tracker tracks detectors of various types installed on traffic and pedestrian signals.
<img width="381" alt="Screen Shot 2020-06-25 at 5 58 27 PM" src="https://user-images.githubusercontent.com/1463708/85803763-86aa7f80-b70d-11ea-9bf0-15479b7cdf66.png">

Currently, we have a single "DETECTOR_TYPE", "CBD/NO DETECTORS" used for both
- CBD - In the Central Business District and pre-timed for opt

[2020-06-25 18:58] Nadin-Nader commented on #1893
Sent email to CM Team asking for update:

[2020-06-25 19:02] Nadin-Nader commented on #1729
Hi Martin,

Seems like I am confused with all of the different commits. I was looking at this and found that we have TWO tasks for this SCTASK0076819 (this one is in your To-do column); and SCTASK0076106 (this one is in your Merge Conflicts column) can you let me know which one you would like to keep open for these commits and can you tell me what the commits are?

From: Aponte, Martin <Martin.Apo

[2020-06-25 19:20] JaceDeloney opened #3144 "Updates to non-CR3 upload process"
Sergio and Jace met with Xavier to review the non-CR3 upload process. Below are the action items that came from that discussion:
- [x] Duplicates
    - Keep latest only
    - Primary key from form_id to call_num
- [x] Make sure the script for location_id is working (on non cr3s)
- [x] Call ids as crash ids
- [x] Remove validation on address
- [x] Report any records that already exist in the databa

[2020-06-25 19:21] amenity commented on #3143
Emailed Joshil these questions
-   What does CBD stand for? 🙂
-   What questions will this distinction help you answer?
-   Once we have the fields updated, who would be in charge of updating the values on existing signals? How long would that take?
-   What is the approximate percent of signals currently assigned "CBD/NO DETECTORS" are actually "NO DETECTORS"? Are *all* the others "CBD"?

[2020-06-25 19:23] dianamartin commented on #3143
@amenity CBD = Central Business District

[2020-06-25 19:25] Nadin-Nader commented on #1872
@Sreelatha-BlazeKannan Sent email to Surya:

![image.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/2d0fbf32-0562-4cc9-a827-525623c7f987)

Next Step PROD?

[2020-06-25 19:28] TracyLinder commented on #1872
awesome @Nadin-Nader! I'll test this ASAP, and then hopefully move to PROD

[2020-06-25 19:35] amenity commented on #2840
@moorerst -wonderful, thank you! Please include @dianamartin.

[2020-06-25 19:36] Nadin-Nader commented on #1893
@Sreelatha-BlazeKannan @TracyLinder Surya will be deploying this all the way to PROD today.

[2020-06-25 19:42] Nadin-Nader commented on #2880
@TracyLinder Sent email to Greg:

![image.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/c4e2b9b8-dc79-4667-8bd3-1b313a61389c)

[2020-06-25 19:43] #2880 closed

[2020-06-25 19:51] jaime-mckeown commented on #3134
I found the Mobility Bond Corridors in GISDM under a different name, sent info to Dwayne as well.

[2020-06-25 19:51] #3134 closed

[2020-06-25 19:52] #3142 closed

[2020-06-25 19:52] jaime-mckeown commented on #3133
- Published the Shared Mobility Operations Feature Layer
- Created a Web Map the also included the dapcz and parking zones
- Created a Web App for Mary to share with the Micro-mobility providers.

[2020-06-25 20:33] mddilley commented on #3109
After looking closer at request for the base layer in Safari, it turns out the the whitelist for the VZV key was too restrictive for the request when using Safari but not when using Chrome or Firefox. I adjusted the URLs (staging and production) for VZV and VZE in the Mapbox dashboard. The map was tested across Chrome, Firefox, and Safari, and base layer tiles loaded for all three after the fix so

[2020-06-25 20:33] #3109 closed

[2020-06-25 21:01] jaime-mckeown commented on #3133
- Mary requested that parking zones were removed from the map.

[2020-06-25 21:01] #3133 closed

[2020-06-25 21:32] TracyLinder commented on #3008
Diana & Tracy will be working on this on 7/1 @ 1pm.

[2020-06-25 21:47] licarir commented on #2511
@TracyLinder @Nadin-Nader

I found a clause in the process attempt code for COMPLETE attempts on the Initial Distribution process that make it not updated that folder process when complete attempt is used. Do you know why this would be and if we should make this not happen for only certain Folder > Sub & work > Process scenarios? For instance, we update all of the dates and close the process  when

[2020-06-25 22:30] dianamartin commented on #3018
Looked at Employee list and the supervisors look like they're populated now. Not sure if the automated script updated them, but the last time checked ~300 records didn't have supervisors.

[2020-06-25 22:30] #3018 closed

[2020-06-25 22:32] dianamartin commented on #3140
@moorerst John and I synced up and we tested and final some final renaming changes. He's going to reach out to Nathan to tell him the supervisor approval is ready to go. He got to see the DHD approval workflow, we just have to ask Nathan if he prefers the email notification to the named approver or not. If he does, we have to change the form.

[2020-06-25 22:32] #3140 closed

[2020-06-25 22:35] dianamartin commented on #3140
@moorerst
## Changes from 6/25
- [x] Changed `Forms` to `Staff Forms` - the tab and the page name
- [x] Changed `Needs Approval - Supervisor` to `Needs Approval` on the Staff Form details
- [x] Added a `Timekeeper` user role - we thought it needed to be separate bc the `Admin` role was changed to `Supervisor`. The `Timekeeper` is only applicable for the COVID Time Tracking part of the application

[2020-06-25 22:43] amenity commented on #2917
@dianamartin - thanks, somehow glossed over that part of your notes 🤦 .

@moorerst is going to do intake on this one. I agree this should go in the RPP Knack App — same users (residents, RPP staff) and (slightly) overlapping data.

[2020-06-25 22:50] dianamartin opened #3145 "Discovery Day v4 | Knack Builder, Lucid Chart/Miro review"
Here's a template you can start from if you'd like:
### Challenge or Solution
I want to see how not using the Knack beta environment and trying to recreate an existing knack application in the new builder environment.
- [x] Recreate the `Trivia/Quiz` application in Surbhi's sandbox
- [ ] Create workflow chart in Miro on Trivia/Quiz
- [ ] Create workflow chart in Lucid Chart on Trivia/Quiz (if time

[2020-06-25 22:53] mateoclarke opened #3146 "Discovery Day v4 | Google Vision + Github Actions"
## Challenge or Solution
For discovery day I will work on Google Vision API and GitHub Actions

- [x] Get google vision api to read typed text as well as hand-writing
- [x] See if you can get GitHub actions to delete resources on AWS after closing a PR.
- [x] Investigate GitHub actions as an alternative to CircleCI.

## Prerequisites
Steps for Google Vision:
- [x] Make PR
- [x] Install google api

[2020-06-25 22:54] dianamartin commented on #3145
Will pick Surbhi's sandbox - to recreate the the Trivia Application I made using

[2020-06-25 22:55] mateoclarke opened #3147 "Discovery Day v4 | Traffic Registry"

[2020-06-25 22:56] sergiogcx commented on #3146
For discovery day I will work on Google Vision API and GitHub Actions

- [ ] Get google vision api to read typed text as well as hand-writing
- [ ] See if you can get GitHub actions to delete resources on AWS after closing a PR.
- [ ] Investigate GitHub actions as an alternative to CircleCI.

Steps for Google Vision:
- [ ] Make PR
- [ ] Install google api library
- [ ] Download sample PDFs ...or a

[2020-06-25 22:58] mateoclarke opened #3148 "Discovery Day v4 | Push (Bike Facilities & Aerial Imagery) Data to Google Maps"
## Challenge or Solution
What is the problem you want to solve or solution you want to explore?

## Prerequisites
Software, data, getting a local dev environment set up, etc.

### Are there any hurdles you foresee? How might we address them?

## Deliverable
Everyone will have three minutes to present their work (with the option to save the recording) and a slide in the Discovery Day presentation d

[2020-06-25 23:13] dianamartin commented on #3147
### To Do tomorrow (6/26)
- [ ] Sync with John about what the potential requirements are

[2020-06-25 23:15] mateoclarke opened #3149 "Discovery Day v4 | Deep Dive of OSM compatibility with CoA Street Data"

[2020-06-25 23:21] mateoclarke opened #3150 "Discovery Day v4 | Headless CMS with Hasura"
Explore how Hasura could be used as a CMS/content data store for DTS static sites using like Jekyll, Hugo, or Gatsby.

## Prerequisites

- [x] read [tutorial](https://hasura.io/blog/exploring-hasura-as-a-headless-cms/) & install libraries
- [x] find & watch talks/videos on Hasura static site publishing
    - [Going Static in a Dynamic World with Hasura and Nuxt.js by Debbie O'Brien | NuxtJS](https

[2020-06-25 23:22] mateoclarke opened #3151 "Discovery Day v4 | React Hook Form + Material UI"
## Challenge or Solution
[react-hook-form](https://react-hook-form.com/get-started) is a React form library that aims to improve both developer experience and performance of forms. It also integrates well with [Material UI](https://material-ui.com/) which provides solutions for more complex form needs (multi-select, autocomplete, validation). Both of these libraries could provide a solution to cre

[2020-06-25 23:54] amenity commented on #3143
@dianamartin @johnclary - Updated the description based on answers from Joshil and reviewing Data Tracker... but I'm a little confused. 🙃

My concerns:
- Is there any historic data that would be corrupted if rename "CBD/NO DETECTORS" to "CBD"?
- This terminology... What does it even mean when a detector type is "NO DETECTORS"? And "CBD" is a location... wouldn't it be more accurate to call the det

[2020-06-26 04:52] amenity commented on #2923
Mary is interested in trying out Formstack, so kicking this to "In Progress" and will plan to support her as needed.

[2020-06-26 05:02] amenity commented on #2802
@zappfyllc - are there notes I should attach to this?

[2020-06-26 05:25] #1534 closed

[2020-06-26 13:25] Nadin-Nader commented on #1893
@Sreelatha-BlazeKannan @TracyLinder
Deployment has been halted due to the heading being cut off on some of the forms and to see where this font file needs to be ran or placed in order for the barcodes to come out.
Surya messaged and will be closing the task because this deployment is incomplete and we now need approval from Gita and Jenice to run the file or place it on the appserver.

[2020-06-26 13:30] jaime-mckeown opened #3152 "Discovery Day v4 | Attribute Assistant to Attribute Rules"
### Challenge or Solution
Migrating to ArcGIS Pro requires moving data that is currently using Attribute Assistant to Attribute Rules in Pro. Attribute Rules use Arcade for the expressions. Today, I need to start by learning more about Arcade, find good help documents, and eventually work on creating new Attribute Rules using a copy of the Markings GIS data as test data to work with.

### Prerequi

[2020-06-26 15:21] dianamartin commented on #3140
@moorerst This morning Denise R. - Finance asked how to notate a work schedule that was different for one day. So I added a field `Work Schedule Note`.

- [x] Added to the New TLC Request Form
- [x] Sign Form Details section
- [x] HR Form Details section

[2020-06-26 15:52] dianamartin commented on #3143
@amenity @johnclary I'm a little weary for this change to take affect, I think we need to make sure all primary stakeholders sign off on this change as well. That would be the MMC and Brian VDW. Brian does a lot of detection reporting and I don't know the affect it would have on his historical reporting (if any).

That's why these AMD requests can be difficult bc they don't funnel them through to

[2020-06-26 16:14] dianamartin commented on #3145
# UI Comparisons
## New Builder
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/148c7c9c-0bb2-46e6-a6cb-7e17fd5d8faa)

## Old Builder
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/4a90b53b-4538-4332-814c-982e6c6b7178)

[2020-06-26 16:29] dianamartin commented on #3145
## UI Menus
- moved from the top to the left - _feels kind of weird, was looking around for it_

[2020-06-26 17:47] Nadin-Nader commented on #2444
email from Sree:

[2020-06-26 17:52] Nadin-Nader commented on #2444
Hi Ryan,

Hope you are doing well. I am reaching out to you regarding the TCI Inspection report requests that were sent to us here at ATD. We had Sree (LIT Developer) look through all of the requests to see if the TCI Inspection reports overlapped in the information you are looking for.

We would like to set up some time next week to go over her findings and ask you some questions for these report

[2020-06-26 18:46] jaime-mckeown commented on #3152
Watched Suzanne's video on Arcade: https://www.youtube.com/watch?v=LIhHkTBYcmA&t=8s
The content concentrated on using Arcade in AGOL for label expressions. I need to learn more about how to use it in conjunction with Attribute Rules.

[2020-06-26 18:47] jaime-mckeown commented on #3152
Found a video online from an Esri Developer Summit:
https://www.google.com/search?sxsrf=ALeKk03LuSKEm4HIgd-hy5DMluRd7jO9-Q%3A1593194949200&ei=xTn2XsPTC9m4tQaA34Mo&q=arcgis+pro+attribute+rules+tutorial&oq=arcgis+pro+attribute+rules+tu&gs_lcp=CgZwc3ktYWIQAxgAMgUIIRCgAToECCMQJzoFCAAQkQI6BAgAEEM6BQgAELEDOgcIIxDqAhAnOgIIADoHCAAQsQMQQzoICAAQsQMQkQI6BggAEBYQHjoICAAQFhAKEB46BwgjELACECc6BAgAEA06CAgAEA0QBRA

[2020-06-26 19:06] TracyLinder commented on #2388
Convo w/ Paloma & Kim:

This is still a need, yes. ACE even more than ROW.

[2020-06-26 19:21] TracyLinder commented on #2647
**ROW Waiver (Adjustment) Reasons:**

- Smart Housing (already on list)
- Council Approved Waiver
- Ordinance Required Waiver

**Using:**

- SMART Housing
- City Department (will stop using)
- Other
- General Adjustments

[2020-06-26 19:24] jaime-mckeown commented on #3152
Attribute Rules in Arcade: https://www.youtube.com/watch?v=HuWymMh6igk&feature=emb_rel_pause

[2020-06-26 19:32] TracyLinder commented on #2388
**(Project Specific) Report Info:**
- Make it exportable to excel
- Query by Fee Comment
- Fee amount waived
- Fee Comment
- Fee waiver reason
- Folder RSN
- Folder Name
- Total
- Only include our folder types in this query (see folders below)

**(General) Report Info:**
- Make it exportable for data analysis

Report Parameters:   Adjustment Start Date, Adjustment End Date 
Folder Type
EX, RW, DS,

[2020-06-26 19:46] TracyLinder commented on #2987
Preferred solution: Keep the info as a free-text & remove it from Sidewalk Cafe

[2020-06-26 19:47] TracyLinder commented on #2987
@TracyLinder follow up w/ Unisys on this

[2020-06-26 19:48] TracyLinder commented on #1910
Paloma is good w/ the input provided by Jaclyn & Pepper, doesn't need to review it.

[2020-06-26 20:07] amenity commented on #3143
@dianamartin - thanks, let's definitely make sure everyone is on board. Adding it to Monday's AMD meeting agenda.

[2020-06-26 20:51] amenity commented on #725
Duplicate of #706

[2020-06-26 20:51] #725 closed

[2020-06-26 21:04] Sreelatha-BlazeKannan commented on #1729
@TracyLinder  @Nadin-Nader - #1729 – Transportation Mitigation Fee-in-Lieu successfully moved to DEV and tested all components in DEV environment as well. Please TEST in DEV and let us know if this can be moved to TEST Environment.

[2020-06-26 21:24] amenity commented on #1236
@SurbhiBakshi - is this still relevant?

[2020-06-28 21:36] amenity commented on #2380
@SurbhiBakshi - is this still relevant?

[2020-06-29 01:05] amenity commented on #1179
This was covered by #2813.

[2020-06-29 01:05] #1179 closed

[2020-06-29 01:08] amenity commented on #145
After [reviewing the VZA Scheduling interface with the AMD Signals workgroup](https://github.com/cityofaustin/atd-data-tech/issues/2668), we determined that it makes sense to extend the application to support scheduling APD officers for traffic control during signal installation and maintenance. Work is now in progress to [integrate the app with Data Tracker](https://github.com/cityofaustin/atd-da

[2020-06-29 01:16] amenity opened #3153 "Pilot VZA 2.0 with Officers"
Open VZA App to a group of officers to
- Sign up for assignments
- Track activities (Start, end, notes) while on assignment

[2020-06-29 01:45] amenity commented on #132
*5/18/20 Status Update*
We’re re-prioritizing this work based on the Mobility Bond Viewer. Ken to focus on Inrix data and will utilize the data lake as a repository for this data.

[2020-06-29 01:58] amenity commented on #3143
From Joshil by email:

[2020-06-29 05:41] amenity commented on #1262
Duplicate of #1249

[2020-06-29 05:41] #1262 closed

[2020-06-29 05:43] amenity commented on #991
#2813 covers this.

[2020-06-29 05:43] #991 closed

[2020-06-29 05:53] amenity opened #3154 "Roll out VZA App 2.0"

[2020-06-29 06:24] amenity commented on #1914
@jaime-mckeown @johnclary - shall we call this project (beautifully!) complete?

[2020-06-29 06:45] amenity opened #3155 "Onboard AMD Signals Scheduler"
- [x] Review process for requesting & reassigning VZA shifts with Jen and Lewis
- [x] Create account for Billy
- [x] Show him how to use the app

Need to check on how many officers they would need for a shift... We have it set up for 3 right now and Lewis usually only does two. E.g. if AMD needs 8 officers, create 4 assignments.

[2020-06-29 08:14] amenity opened #3156 "Hold AMD Progress and Prioritization Meeting"
### Agenda
[Google doc](https://docs.google.com/document/d/1erIRRmY1GrhYrAdDjL-AvWSbskOBPH8pzyyZthdNq8A/edit#heading=h.9ox6arwv1c23)

------
- [x] Schedule meeting 6/29
- [x] Optional: Schedule debrief
- [x] Meet and take notes
- [x] Optional: Debrief with DTS team members
- [ ] Create resulting issues

[2020-06-29 08:17] amenity opened #3157 "Hold SMB Progress and Prioritization Meeting"
### Agenda
[Google doc ](https://docs.google.com/document/d/1vCdcwPUW2t6g3F8aH1Ku7tq8QolPkjoXYkmKFdnY4Ms/edit#heading=h.9kialbik2pcj)

------
- [x] Schedule meeting 6/30
- [x] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
- [ ] Create resulting issues

[2020-06-29 08:29] amenity opened #3158 "Design data model"

[2020-06-29 08:52] amenity opened #3159 "[Feature] Project Definition"
As a Project Team Member, I want to create a new project so that I can track this work through the Mobility Project Database.

**In-scope:**
- Multi-step process involving inputting project details (name, description, etc.), identifying a project owner and associated staff, and mapping a project's geometry.
- Required fields

**Out-of-scope:**
- Templating features that may dictate "New Project" r

[2020-06-29 08:55] amenity opened #3160 "Feature: Project Templates"
As a Project Manager, I want to enforce consistency both within and across various types of projects so that I can prevent redundancy and ensure that shared standards and workflows are leveraged appropriately.

**In-scope:**
- Bundling custom Project Standards and Project Workflows for specific types of projects.

**Out-of-scope:**
- WYSIWYG editors for projects (i.e. you may be able to choose wha

[2020-06-29 14:14] jaime-mckeown commented on #3152
### What was my mission?
To explore ArcGIS Pro Attribute Rules and the Arcade scripting language
### Was it hard?
The integration into Pro with the Attribute Rules is great, but learning Arcade will be a little challenging. They say it is similar to JavaScript, but I'm not a developer. I do have a good knowledge base with Python to help.
### What did you learn?
- I watched multiple Esri Technical

[2020-06-29 14:21] SurbhiBakshi commented on #2380
@amenity - this is done, going to close

[2020-06-29 14:33] sergiogcx commented on #3146
There is a PR for this issue:
https://github.com/cityofaustin/atd-vz-data/pull/840

So far the Actions work well, the next steps is to test the custom condition on PR close and make sure the PRs are being deleted as expected.

- [ ] Make sure the PRs are created to begin with.
- [ ] Make sure the code handles PR close event and runs action
- [ ] Test the PRs are getting deleted

[2020-06-29 14:35] sergiogcx commented on #2969
I've got the data, but as I had been checking on the database and the triggers we will need I realized that we don't have any code that updates the new incoming records and checks whether they belong in the full purpose jurisdiction map.

We will need to create a trigger or an event handler to make this happen automatically per record creation or record update.

[2020-06-29 14:36] sergiogcx opened #3161 "VZD: Create trigger or event handler to update the full purpose flag"
We need to create a trigger or an event handler to be able to determine if a record is part of the full purpose jurisdiction polygon.

[2020-06-29 14:42] johnclary commented on #3044
Assigned to me / will update Lance.

[2020-06-29 14:45] johnclary commented on #3044
Looks like there's an issue with a column Name in the KITS DB. Possibly related to recent KITS release? Will need to investigate further. The error:

[2020-06-29 14:46] dianamartin commented on #3044
@johnclary You're already assigned :)

[2020-06-29 14:47] zappfyllc commented on #3004
List updated as of 6/29; will revisit as needed but is a great starting place for all of the feature set and for eventual screens/mockups

[2020-06-29 14:47] #3004 closed

[2020-06-29 14:47] zappfyllc commented on #2820
UI Views completed as of 6/29.

[2020-06-29 14:47] JaceDeloney commented on #642
This was completed a few months back but never closed. MMC has what they need to pull in the new datasets into a Power BI view. We are meeting with Lance tomorrow to discuss the steps required to do so.

[2020-06-29 14:47] #642 closed

[2020-06-29 14:50] johnclary commented on #3044
@dianamartin yes, because i assigned it to myself.

![Screen Shot 2020-06-29 at 9.49.41 AM.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/7356727d-e82b-4f74-81e7-9aca29515fa3)

[2020-06-29 14:54] johnclary commented on #3143
Agreed—discussing today. FWIW I think this is a reasonable request, size 3. Will need to reconfigure some reports and possibly make a few minor updates to the detection module workflows.

[2020-06-29 14:58] zappfyllc commented on #2802
@amenity this has been unproductive--meetings are too distracted and have been more about hearing Nathan's concerns and generating his buy-in than actually coming to a decision re: facility types and project types. Notes generated below:

**Notes**
- Very few Facility Types are not important when creating/adding facilities to a project, so we identified the few project-level facility types from th

[2020-06-29 14:58] #2802 closed

[2020-06-29 15:04] TracyLinder commented on #1630
Convo w/ Mooney: We do need a way to follow up w/ deficiencies that are still open so they can follow up.

[2020-06-29 15:04] #3152 closed

[2020-06-29 15:08] jaime-mckeown commented on #1914
@amenity John asked me to keep it open for a little while. I haven't heard from Renee and Andres for a few weeks now.

[2020-06-29 15:10] jaime-mckeown opened #3162 "Weekly Update: AMANDA street closure - 06/29/20"
Run AMANDA_Street_Events.py to create new AMANDA street closure data for the current week. Update the layer in the Mxd, publish to AGOL, and then update the Street Events and ACE Downtown Conflicts Web Maps on AGOL.

Follow Weekly_Update_for_Special_Events.doc located in G:\ATD\ATD_GIS\Office_of_Special_Events\OSE_GIS\AMANDA_Street_Events for steps to complete.

[2020-06-29 15:11] jaime-mckeown commented on #3162
Ran script, had to modify the table to filter out the events that have been removed from the OSE Events Page. Re-published feature layer.

[2020-06-29 15:11] #3162 closed

[2020-06-29 15:16] dianamartin commented on #3111
##SharePoint changes

New Employee Orientation (NEO) Training
- [ ] Add `Overview of Key Policies & Procedures`

Modification – see yellow highlights:
Module 2
Professional and Ethical Conduct – Your City Time, Gifts & Nepotism
- [ ] Add `&`

Module 4
Probationary Period, SSPR & Development Resources
- [ ] Remove ";amp,amp"

## Text and audio has a grammatical error – my apologies
Module 4

Lifelo

[2020-06-29 15:19] Nadin-Nader commented on #2664
@TracyLinder Had the meeting/Demo with Maria, Kaarthy, Robert and Deb to show that the status of the RW SE folder doesnt go to Pending Payment anymore when copied. It also did not pick up the fee that was on the original. Maria was happy about it.

**Next Steps**
Robert will send to CM Team to promote the changes
Maria will UAT
Should be in PROD by end of week if UAT Bandwidth is open  (Maria said

[2020-06-29 15:20] Nadin-Nader commented on #3047
Successful meeting/Demo with Maria, Kaarthy, Robert and Deb to show that the status of the RW SE folder doesnt go to Pending Payment anymore when copied. It also did not pick up the fee that was on the original. Maria was happy about it.

Next Steps
Robert will send to CM Team to promote the changes
Maria will UAT
Should be in PROD by end of week if UAT Bandwidth is open (Maria said it should be)

[2020-06-29 15:23] moorerst commented on #2917
Responses from Ryan
I have provided answers to your questions below. Thank you for working on this. I did attach two petitions I use depending what type of RPP application I receive. The first one is for a normal RPP application and the second is for a VMU or Vertical Mixed Use RPP application. The only difference is we don’t collect license plate information on the VMU petition because we don’t c

[2020-06-29 15:27] TracyLinder commented on #1949
Convo w/ Mooney: We don't have inspector areas programmed yet, so this isn't possible right now.

[2020-06-29 15:28] johnclary opened #3163 "Project: Map-driven Street Sign Work Orders"
Enable transportation engineers to create street sign work orders from a mapping interface.

### Background and Context

This project encompasses our work to support ATD's citywide prima-facie speed limit conversion from 30 to 25 MPH. Our work includes IT support for the systematic collection of speed limit sign locations, roadway widths, and SMB Data Tracker enhancements to allow for the easy cre

[2020-06-29 15:30] jaime-mckeown opened #3164 "GIS Question regarding exporting signal asset data to CSV - Joshil B."
From Joshil:

[2020-06-29 15:30] johnclary opened #3165 "Meet to have initial follow-up discussion"
### Objective
Scheduled 6/29

### Participants
- Alison, Joel, Christina, John, Susanne, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team members
-

[2020-06-29 15:35] dianamartin commented on #3165
## Diana's Notes
Data Collection - Jan 2021

Location data set from Knack

Collecting sign data
Tablet - with points in existing data set
- verification, they're in the spots we are expecting

Measuring street widths
Near map - measuring (not too time consuming)

Couple trips out there.
- Existing signs in spots
- Other signage needed
- QC'ing

811 - dig tess
30 --> 25 mph

NORMAL OPERATIONAL BUDG

[2020-06-29 15:36] JaceDeloney commented on #3144
Be sure to discuss this with @sergiogcx on Wednesday

[2020-06-29 15:41] johnclary commented on #3165
My notes:

- whats our timeline? ASAP, but expectation is that this work may take a year.
- Downtown conversion is currently in progress. Possibly being tracked by Lee/Dipti but ??? Need to put a process in place.
- TED expects to drive all/most city streets to find signs
- TED will also need to capture lane widths. will probably do this with Nearmap. PWD street widths are not reliable enough due

[2020-06-29 15:43] sergiogcx commented on #3146
A screenshot from GitHub actions:

![2020-06-29_10-33-20.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/cd86f051-0f00-42d7-b978-859df4d3bf42)

[2020-06-29 15:48] TracyLinder commented on #1831
Convo w/ Mooney: Fees are not being assessed currently, we'll come back to this when we have this need again in the future.

[2020-06-29 15:51] moorerst commented on #2917
Intake meeting scheduled for July 8th

[2020-06-29 15:54] amenity commented on #307
**Status Update**
Over the past month, we've held a series of work sessions to refine the [Feature Map](https://docs.google.com/spreadsheets/d/1gNCz63qFpztiuL_JK4aPNnicjCglmATOW1dbpU0wxWk/edit#gid=793932181) and other functional requirements. Together with the ERD, this tees us up to hit the ground running on implementation once the DTS Dev Team joins us in mid-July. Jace has joined the core team

[2020-06-29 15:56] sergiogcx commented on #3146
Example of Google Vision API:

![2020-06-29_10-55-51.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/3faddd55-1db2-49a7-a187-e5969f53b8b7)

[2020-06-29 15:56] #3146 closed

[2020-06-29 16:03] sergiogcx commented on #3161
Not needed, code is already written just neglected to look at event handlers.

[2020-06-29 16:03] #3161 closed

[2020-06-29 16:10] Nadin-Nader commented on #3052
From the meeting it looks like the requirements that we have so far may be enough for LIT to start researching and working on this.

When the work Type Neighborhood (NPH) is used on the RW, SE folder and the reviewer Accepts/Approves, three new processes should be added. 72014 APD Review, 50040 Fire Review, 72008 Trash and Recycling Review.
Once Accepted or Approved, The RW, SE Folder with NPH Wor

[2020-06-29 16:11] TracyLinder commented on #2647
### OSE

**Currently Using**
- Events

**Needs**
- None, Events is working

[2020-06-29 16:19] TracyLinder commented on #2388
### OSE

**Parameters:** Start Date, End Date [Info: Event Start Date]

**Folders to Include:** RW, Street Event

**Report Info:** Folder RSN, Work Type, Folder Status, Folder Name, Fee Date, Fee Name, Fee Amount, Adjustment Amount, Adjustment Reason, Adjustment Comment, Billed To (First Name, Last Name, Org Name)

[2020-06-29 16:20] atdservicebot opened #3166 "Add Admins for the Commute Connections SP site"
Other / Not Sure

TDM team members need to be added as admins for the Commute Connections SP site:
Cari B.
Kelsey V.
Arthur C.

Soon — This week

Requested By

Request ID: DTS20-100850

[2020-06-29 16:30] Nadin-Nader commented on #3052
Sree got back and said that this is do able but needed to know if this was applicable to Web Applicants or if they can use the one process that is shared "Event Intake". If not then the Web Acceptance process would have to be added and adjusted to others. Sree will work on this and will get back to us if anything on #1709.

New acceptance criteria summary has been added to #1709:

Description Of U

[2020-06-29 16:30] TracyLinder opened #3167 "ROW Fee Waiver Report (TL)"
### ROW Fee Waiver Report Info

**Stakeholder:** Paloma
**DTS Manager:** Tracy
**Note:** This issue has been updated to include acceptance criteria from #3168

- Menu Report on ATD Menu option
- Parameters:
    - User able to query by fee comment (accountbillfee.feecomment)
- Folders to include in query: EX, RW (Exclude Street Event Subtype), DS, LC, ECV (transportation subtype), PSM, GF (transpor

[2020-06-29 16:30] TracyLinder opened #3168 "ROW General Fee Waiver Report (TL)"
##ROW General Fee Waiver Report
- Copy #3167 and change the report parameters.
    -  User able to query by adjustment Start Date, Adjustment End Date

-------

### ROW General Fee Waiver Custom Report

**Stakeholders:** Paloma, Kim
**DTS Manager:** Tracy

- Menu Report
- Make it exportable for data analysis
- Report Parameters:   Adjustment Start Date, Adjustment End Date 
- Folder Types to inclu

[2020-06-29 16:30] johnclary commented on #3143
OK w/ Brian VDW and Ben / TMC

[2020-06-29 16:30] TracyLinder opened #3169 "OSE Fee Waiver Report (TL)"
### OSE Fee Waiver Report

**Stakeholder:** Maria A.
**DTS Manager:** Tracy

- Menu Report
- Output: Exportable to Excel
- Parameters: Start Date, End Date [Info: Event Start Date]
- Folders to Include: RW, Street Event
- Include all fee waiver types

**Report Info:**
- Folder RSN
- Work Type
- Folder Status
- Folder Name
- Billed To (First Name, Last Name, Org Name)
    - From Folder People; Use

[2020-06-29 16:32] Nadin-Nader commented on #1709
From Card #3052:
From the meeting it looks like the requirements that we have so far may be enough for LIT to start researching and working on this.

When the work Type Neighborhood (NPH) is used on the RW, SE folder and the reviewer Accepts/Approves, three new processes should be added. 72014 APD Review, 50040 Fire Review, 72008 Trash and Recycling Review.
Once Accepted or Approved, The RW, SE Fo

[2020-06-29 16:32] #3052 closed

[2020-06-29 16:43] johnclary commented on #875
@johnclary create new issue:
- ability for other AMD groups to create work orders for signal techs.
- need to add attachment type dropdown to signal attachments
- need to verify/test permissions & workflows for non-technician users
- ask Jonathan/signal engineer to test

[2020-06-29 16:47] atdservicebot opened #3170 "For the Shared Micromobility Dashboard, is there a way we could incorporate B-cycle data here? Since..."
Data Tracker

For the Shared Micromobility Dashboard, is there a way we could incorporate B-cycle data here? Since the dashboard doesn't specify docked vs. dockless, maybe we could add this into the dashboard. Since we no longer have any dockless bikeshare active in Austin, people are assuming that the 0 bicycle trip data means we don't have any bike trips at all, and it'd be great if we could inc

[2020-06-29 16:47] TracyLinder commented on #2647
Acceptance criteria has been updated; this is ready for development.

[2020-06-29 16:49] moorerst opened #3171 "Digital RPP Petition"
### Objective
Intake meeting for request (https://github.com/cityofaustin/atd-data-tech/issues/2917)

### Participants
PE: Ryan Royal
DTS: Diana, Stephanie, Chrispin

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [

[2020-06-29 17:03] TracyLinder commented on #1742
I just updated the description; this is ready for development.

[2020-06-29 17:04] TracyLinder commented on #1630
I just updated the description; this is ready for development.

[2020-06-29 17:07] dianamartin commented on #2933
Reach out to Danni, Brian VDW, Billy about training on how to create these assets.

[2020-06-29 17:08] johnclary opened #3172 "Update Hazard Flasher Asset Tracking"
- Change hazard flasher display name to include flasher type
 - Rename Hazer Flashers to "Flashing Beacons"
- Update page titles, buttons, etc on Work Orders, Location Details

[2020-06-29 17:11] atdservicebot opened #3173 "Report: ROW Unbilled Fees"
AMANDA

Report: ROW Unbilled Fees

We'd like a report to show us all fees that have been added to one of our folders, but not yet billed.

None

It's not a high priority; can be done when resources are available.

Requested By

Request ID: DTS20-100860

[2020-06-29 17:11] zappfyllc commented on #3042
per 6/29 meeting with AMD in backlog review and project prioritization, it looks like we will proceed with building out some of the lightweight project management functionality described above^^^. I will close this issue out and we can open up a separate one for next sprint to documenting requirements prior to building the Knack app. @johnclary and @amenity

[2020-06-29 17:11] #3042 closed

[2020-06-29 17:12] dianamartin opened #3174 "Export back end Work Tickets as tablular spreadsheet"
Work Tickets - export
- Export all 17K records - tabular format

[2020-06-29 17:14] TracyLinder commented on #2444
I've updated this epic & both child issues. This is ready for development.

[2020-06-29 17:16] zappfyllc opened #3175 "Document requirements for Project Tracking in AMD's Data Tracker"
I will follow DTS' process for tracking requirements (i.e. user stories) for Knack apps, otherwise, I'm happy to get building in a non-production copy of Data Tracker. Will plan to deliver the requirements in the upcoming sprint; ideally, we can do it all (requirements + development) in the same sprint.

See #3042 for initial research/discussion, including proposed spreadsheet to track projects in

[2020-06-29 17:18] TracyLinder opened #3176 "Fee Waivers: Analysis With Finance Division"
**Date/Time:** 7/8 @ 2pm
**Attendees:** Tracy, Nate, Van P., Dan V.

[2020-06-29 17:19] johnclary opened #3177 "Ability for other AMD groups to create work orders for signal techs"
This functionality exists today. Mostly just a training issue, with some minor mods discussed today:
- need to add attachment type dropdown to signal attachments
- need to verify/test permissions & workflows for non-technician users
- ask Jonathan/signal engineer to test

[2020-06-29 17:26] TracyLinder commented on #3176
**Email to Van & Dan w/ Finance:**

Hi Van & Dan,

I hope you are both doing well. I’m writing because we’ve started development on some customer fee waiver reporting in AMANDA. I’d like to set up a meeting to discuss this with somebody on your team, and ask what specific info (if any) that finance is interested in for ATD fee waivers in AMANDA; can you please tell me who best to set up a quick me

[2020-06-29 17:26] johnclary opened #3178 "Create "Problem Found" and "Action Taken" Pick Lists"
Per discussion with Brian and Brian today, we'll move forward with adding an autocomplete pick-list for the "problem found" and "action taken" fields on signal work orders.

TODO
- Brian and Brian are going to send us a list of choices
- We will change out the "problem found" and "action taken" fields from paragraph text to pick lists
- add a "Work Details" paragraph text to capture more notes.
-

[2020-06-29 17:28] TracyLinder opened #3179 "Meeting: TCI Reports Analysis"
### Meeting Info

**Date/Time:** 6/29/20 @ 10am
**Participants:** Ryan M, Tracy, Nate, Sree

[2020-06-29 17:30] TracyLinder commented on #3179
We discussed all issues that were related to #2444. Two were moved to the ice box, the other 2 were updated with requirements.

[2020-06-29 17:30] #3179 closed

[2020-06-29 17:32] TracyLinder opened #3180 "Meetings: Fee Waivers, OSE, ROW"
### Meeting Info

- We met with ROW (Paloma, Kim) on 6/26
- We met with OSE (Maria) on 6/29
- **Purpose:** Refine requirements for waiver reporting

[2020-06-29 17:32] johnclary opened #3181 "Update Knack <> Active Directory SSL Certs"
TODO
- [x] HR
- [x] VZA
- [x] AMD Data Tracker
- [x] SMB Data Tracker
- [x] DTS Portal
- [x] RPP
- [x] Finance System
- [x] Shared Mobility
- [x] TDS Tracker
- [x] Street Banners Program Portal

- ?

[2020-06-29 17:34] #3180 closed

[2020-06-29 17:47] TracyLinder commented on #1709
I just updated the issue description & added more acceptance criteria. One is TBD - should there be a calculated end date on the 3 new processes?
    - I'll send Maria an email asking for clarification

[2020-06-29 17:56] TracyLinder commented on #1709
**Email to Maria:**

Hi Maria,

I have more questions about #1709, on the 3 new processes being added:
•	Should we add an auto-calculated process end date?
o	This would inform the reviewers of how long they have to submit a review.
•	In cases where the reviewer never saves an attempt on these processes, it will cause the process to remain open on their task list. To remedy this, I’m suggesting tha

[2020-06-29 18:42] amenity commented on #1125
Haven't heard more about performance issues.

[2020-06-29 18:42] #1125 closed

[2020-06-29 19:05] amenity commented on #1634
@dianamartin - could you provide an estimate for this, please?

[2020-06-29 19:06] dianamartin commented on #3166
I added the following users to be `admin` user roles.
- messaged Julie and told her how to add/remove user roles in the future

[2020-06-29 19:06] #3166 closed

[2020-06-29 19:08] dianamartin commented on #1634
@amenity This is a `1` and can be done today. I had to do a thing for Christina (I'll be creating an new issue for it)

[2020-06-29 19:09] dianamartin opened #3182 "[BUG] Markings Work Schedule Updates Needed"
Christina T
SMB.

Emailed me

#### ATD_SAM_JOB_ID
- [x] 20-017595
- [x] 20-018205
- [x] 20-019020
- [x] 20-019265
- [x] 20-019260

[2020-06-29 19:09] amenity commented on #717
@johnclary - Any updates on this? Any questions can go in [tomorrow's meeting agenda](https://docs.google.com/document/d/1vCdcwPUW2t6g3F8aH1Ku7tq8QolPkjoXYkmKFdnY4Ms/edit#).

[2020-06-29 19:17] Nadin-Nader commented on #1893
@Sreelatha-BlazeKannan Surya has placed the files on DEV and TEST. Once you approve and test it she will copy the file to PROD. Then we can deploy the forms to all 3 environments.

[2020-06-29 19:18] dianamartin commented on #3182
I've changed the jobs that Christina asked me to change the status from `NEED TO BE ISSUED` to `CANCELLED'.

- Emailed user about the update

[2020-06-29 19:18] #3182 closed

[2020-06-29 19:19] amenity commented on #1562
@dianamartin could you add an estimate to this, please?

[2020-06-29 19:21] dianamartin commented on #1562
@amenity For some reason, I thought I did this. I"ll send this to Christina to see if we did do this.

[2020-06-29 19:24] amenity commented on #1583
@dianamartin @johnclary - is this related to https://github.com/cityofaustin/atd-data-tech/issues/1610 ?

[2020-06-29 19:28] amenity commented on #1876
@dianamartin @johnclary - should we Icebox this? Or [discuss tomorrow](https://docs.google.com/document/d/1vCdcwPUW2t6g3F8aH1Ku7tq8QolPkjoXYkmKFdnY4Ms/edit#)?

[2020-06-29 19:33] amenity commented on #315
@johnclary - would this be a freestanding app or part of SMB Data Tracker?

[2020-06-29 19:33] amenity commented on #1701
Will be covered by #315 when that is picked up.

[2020-06-29 19:33] #1701 closed

[2020-06-29 19:34] amenity commented on #1531
Closing, cc/ @dianamartin @SurbhiBakshi

[2020-06-29 19:34] #1531 closed

[2020-06-29 19:34] dianamartin commented on #1583
@amenity Yes, it looks like these issues are related.

[2020-06-29 19:36] dianamartin commented on #1876
@amenity discuss tomorrow, if they can't remember what this is then it's not that important and then we can icebox/backlog.

[2020-06-29 19:39] dianamartin commented on #315
@amenity I think I added this feature to the SMB tracker... maybe we can find the closed issue that I did..

[2020-06-29 19:41] amenity commented on #1651
@dianamartin can you add an estimate to this, please?
@alan-deanda - can you add a `Need:` label, please?

[2020-06-29 19:43] dianamartin commented on #1651
@alan-deanda cc: @amenity I thought I did this, Alan?

[2020-06-29 19:50] amenity commented on #1943
@johnclary @SurbhiBakshi - moving this to Needs Scoping ... Do you have more information on what you had in mind, and/or should we set something up with ROW?

[2020-06-29 19:56] amenity commented on #1407
@johnclary - was this ever deployed?

[2020-06-29 20:04] amenity commented on #1562
@dianamartin thanks! If so, will you update [tomorrow's doc](https://docs.google.com/document/d/1vCdcwPUW2t6g3F8aH1Ku7tq8QolPkjoXYkmKFdnY4Ms/edit#) accordingly? (Move from "Backlog" to "Recently Completed")

[2020-06-29 20:06] dianamartin commented on #1562
Will do, if she verifies it

[2020-06-29 20:20] sergiogcx opened #3183 "VZD Events: Locations event trigger returning errors [BUG REPORT]"
This error repeats every time there is no location found for a crash:

![2020-06-29_15-16-16.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/7d6270d4-9bc0-4dd5-a847-06696560d509)

[2020-06-29 20:27] dianamartin commented on #1562
@amenity Just confirmed, this should stay in the backlog. Hasn't been done yet.

[2020-06-29 20:34] dianamartin commented on #3172
- [ ] Rename Hazer Flashers to "Flashing Beacons"
- [ ] Change hazard flasher display name to include flasher type
- [ ] Update page titles, buttons, etc on Work Orders, Location Details

[2020-06-29 20:38] alan-deanda commented on #2907
@JaceDeloney , @mddilley , the updated High Injury Network is saved [here](https://tiles.arcgis.com/tiles/0L95CJ0VTaxqcmED/arcgis/rest/services/High_Injury_Network_Vision_Zero_Viewer/VectorTileServer).

[2020-06-29 20:47] sergiogcx commented on #3183
A PR has been created:
https://github.com/cityofaustin/atd-vz-data/pull/841

[2020-06-29 20:59] SurbhiBakshi commented on #3181
@johnclary @dianamartin - finished updating all the apps listed above, if you think of any others that need to be updated, let me know.

[2020-06-29 21:14] Nadin-Nader commented on #1951
Hi Paloma/Kim,

Hope you are both doing well and staying safe. I was reaching out to you regarding the Out of System Fees #2406 and #1951 to see if you were able to gather enough information from your users UAT’ing the Out of system fees changes. Please let me know the outcome as soon as you can.

Respectfully,

Nadin A. Nader
IT Business Systems Analyst
Data and Technology Services
Austin Transpo

[2020-06-29 21:15] Nadin-Nader commented on #2406
Hi Paloma/Kim,

Hope you are both doing well and staying safe. I was reaching out to you regarding the Out of System Fees #2406 and #1951 to see if you were able to gather enough information from your users UAT’ing the Out of system fees changes. Please let me know the outcome as soon as you can.

Respectfully,

Nadin A. Nader
IT Business Systems Analyst
Data and Technology Services
Austin Transpo

[2020-06-29 21:18] SurbhiBakshi commented on #1419
@johnclary - wrote to David to see if we have received data through May.

[2020-06-29 21:31] dianamartin commented on #1634
Christina is going to ask the original requester to see if this is still needed.

[2020-06-29 21:33] dianamartin commented on #315
@johnclary @amenity I think we can close this

[2020-06-29 21:37] dianamartin commented on #1562
Talked to Christina 6/29, we need to add a new field `Remove Hold Date` and configure it to the `Remove Hold` button/form record rules. They can calculate on the fly if they need to do further analysis.

[2020-06-29 22:28] dianamartin commented on #3172
@johnclary should I make the changes in Knack, Socrata and AGOL and you'll update the script that is associated and might break?

[2020-06-29 22:59] dianamartin opened #3184 "IT Support: Log-in issues for Human Resources app, accessing TLC form"
Darren U./Ryan M.
ROW

Emailed

[2020-06-29 23:00] dianamartin commented on #3184
- [x] Added Darren into system

Emailed users

[2020-06-29 23:00] #3184 closed

[2020-06-30 03:47] TracyLinder opened #3185 "Meeting: Stakeholder UAT - TDS Missing Fees"
**Date/Time:** 7/2/20 @ 1:30pm
**Attendees:** Tracy, Nate, Sangeeta, Sree

[2020-06-30 03:48] TracyLinder opened #3186 "DevOps (Test to Prod) - TDS Missing Fees"

[2020-06-30 03:55] TracyLinder opened #3187 "DevOps - Promote to Dev - TDS Missing Fees"
**All related notes were captured in the comments of the parent issue. Work was performed from 6/17/20 - 6/22/20.**

[2020-06-30 03:56] #3187 closed

[2020-06-30 05:05] TracyLinder commented on #1766
### Update

- Subha sent us a demo on 6/24
- I responded with the below on 6/30

Hi Subha,

The demo looks great. My only feedback is actually a new requirement, see below.

•	On report 50514; Deficiency Corrected Date Field: The query should validate the deficiency status (FolderProcessDeficiency.SatusCode) instead of whatever it's currently validating. The field should populate based on the foll

[2020-06-30 05:08] TracyLinder commented on #1766
I just updated the issue description with additional requirements that were emailed to Subha.

[2020-06-30 05:18] TracyLinder commented on #2406
@Nadin-Nader the comments say this is already in PROD. Wasn't UAT done before moving to PROD?

[2020-06-30 05:24] TracyLinder commented on #1951
@Nadin-Nader the comments say this is already in PROD and UAT passed. Is your email to Paloma & Kim correct?

[2020-06-30 08:06] amenity commented on #315
@dianamartin cool! Done.

[2020-06-30 08:09] #3183 closed

[2020-06-30 13:39] jaime-mckeown opened #3188 "Errors trying to open Mxd using current ArcGIS Version - Tyler W."
Laura D. emailed that Tyler needs to be upgraded to the latest version of ArcGIS as he can't access commonly used Mxds.

[2020-06-30 13:40] jaime-mckeown commented on #3188
Let Laura and Tyler know that Tyler will need to coordinate with Scott to get his computer upgraded, cc'd Scott in response.

[2020-06-30 15:10] #1484 closed

[2020-06-30 15:13] johnclary commented on #1485
@dianamartin would you dig up our normal checklist for these issues and add it here?

[2020-06-30 15:23] dianamartin opened #3189 "Testing: Microsoft 2 Factor Authentication (2FA)"
Get together with volunteers on 2FA
- [Pre-registration of device](https://account.activedirectory.windowsazure.com/proofup.aspx?proofup=1)

[2020-06-30 15:36] Nadin-Nader commented on #1872
@Sreelatha-BlazeKannan @TracyLinder;  I was able to run this on TEST. I created the task for CTM and Surya to deploy to PROD SCTASK0078266

[2020-06-30 15:38] alan-deanda commented on #1651
@dianamartin , @amenity , all of these concerns have been addressed through UI improvements and clarifying our process for digitizing markings.

[2020-06-30 15:38] #3030 closed

[2020-06-30 15:39] alan-deanda commented on #1911
The 2020 Edition of the Austin Print Bike Map has been delivered to ATD! Sophia and ATSD will begin distributing the map to bike shops this week.

[2020-06-30 15:39] #1911 closed

[2020-06-30 15:42] dianamartin commented on #3127
## Diana's Notes
- John said he'd like transportation.data email cc'd
- Thinks that we want to have all DTS members be fullfillers

### Talking about proposed workflow
- Members and transportation.data will receive emails
- When someone opens a ticket and CTM can't open a ticket
- Create KB article to CTM
  - To instruct them to send it to `ATD IT` group
  - We can make it so that if it's not an E

[2020-06-30 15:47] dianamartin commented on #1651
@alan-deanda @amenity then we'll close this

[2020-06-30 15:47] #1651 closed

[2020-06-30 15:48] moorerst commented on #3127
DEVELOPMENT SERVICES: What to Assign to DSD IT Group
KB0013659
34 views
Introduction

Need to know what to assign to DSD_IT support group.

Instructions

This KB article is intended as an Internal Reference/Resolution ONLY for CTM Service Desk Staff.

Internal

DSD IT handles IT functions that are unique to DSD only. CTM Service Desk handles computer issues common to all departments such as with d

[2020-06-30 15:50] alan-deanda opened #3190 "St Johns Project Update Story Map support"
ATSD will soon publish a story map with updates coming to St Johns Ave. Support includes publishing data, translating annotations, and responding to requests. Adding this to the templates epic, as this will likely help define templates as well.

[2020-06-30 16:08] moorerst commented on #3127
Action Items:

- [ ] Discuss with CTM the option to having the CTM ServiceDesk direct ATD users to the DTS Service Request Form for specific issues
- [ ] Create content for ServiceNow Knowledge Article which defines what should be assigned to the ATD_IT group in ServiceNow (see sample KB article above KB0013659)

[2020-06-30 16:44] Nadin-Nader opened #3191 "Add Font File to APPServers"
### Font file is needed in order for the Barcode to appear on the forms
Issue is related to #1893

**Font file needs to be added to** C:\Windows\Fonts path and possibly C:\Program Files\CSDC\WebServer\webapps\AMANDA5\images\report\font
On servers (coaamandabodev01, coaamandabotst, coaamandabotst2

Request for CTM: SCTASK0077368

[2020-06-30 17:09] Nadin-Nader commented on #3191
Chat with Surya:

[6/26 8:15 AM] Nader, Nadin
    Good Morning. Sorry i didnt get back to you sooner about the forms. Ok so i had Sree test it and she said that there is a file that needs to go on the appserver in order for the Barcodes to come out instead of just numbers, also one of the column names is cut off and needs adjusting. I have asked Sree to fix theses so as of right now i guess, pleas

[2020-06-30 17:11] Nadin-Nader commented on #3191
Conversation continued:

[11:26 AM] Nader, Nadin
    Hi Surya. Hope you had a great weekend.
​[11:26 AM] Nader, Nadin
    do you have a sec?
​[11:26 AM] Rathanlal, Surya
    Hi Nate.. sure
​[11:30 AM] Nader, Nadin
    So that font file deployment supposedly has not worked.
​[11:31 AM] Rathanlal, Surya
    ok.. what needs to be done?
​[11:31 AM] Nader, Nadin
    They were asking to see if it was be

[2020-06-30 17:13] #3043 closed

[2020-06-30 17:14] Nadin-Nader commented on #3191
###**Status:**
Currently deploying files to DEV on the specified paths: C:\Program Files\CSDC\WebServer\webapps\AMANDA5\images\report\font  and  C:\Windows\Fonts on the same servers (coaamandabodev01, coaamandabotst, coaamandabotst2.)
Also restarting Services

[2020-06-30 17:16] Nadin-Nader commented on #3191
@Sreelatha-BlazeKannan can you please test to see if the files are on Dev and if the barcode comes out? Once approved Surya will do the same for TEST. Then we can deploy to PROD once TEST is approved.

[2020-06-30 17:16] TracyLinder commented on #3191
@Nadin-Nader two things:
1. Can you please update the pipeline?
2. Which issue is this related to?

Thanks!

[2020-06-30 17:16] dianamartin opened #3192 "Hardware, Accounts, etc.."
### Accounts

- [x] Network account request _CTM email confirmed email account was created_
  - [x] Follow-up to update email to `Chrispin` - `REQ0055141`
- [x] Phone request - should have been rolled up with the original New Employee Request form. _Will need to follow-up_
- [x] 1Password - sent to Chrispin's email
- [x] Slack - Chrispin sent to work email
- [x] Github Team - invited Chrispin to T

[2020-06-30 17:17] dianamartin opened #3193 "DTS Orientation Meeting"

[2020-06-30 17:17] dianamartin opened #3194 "Knack Business Process Training"
Going over ATD Divisions that use Knack, potentially use Knack
- High level projects - Scoping
- Operational functionality - how we fit into their operations/tools

[2020-06-30 17:17] dianamartin opened #3195 "Introduce Chrispin to DTS Delivery Workflow"

[2020-06-30 17:19] dianamartin commented on #3192
### Accounts

- [x] Employee Transfer form _submitted 4/6_
@johnclary Has this been filled out already?
- [x] Network account request
- [ ] Phone request - _Will set up with Avaya oneX Communicator, once we set-up a phone extension..._
- [x] 1Password _sent invite_
- [x] Slack - _John set-up_
- [x] Google Drive _shared with work email, needs to create an account first_
- [x] Github Team _had one w

[2020-06-30 17:21] dianamartin commented on #3193
Scheduled for 7/6 @ 11 am.

[Slides](https://docs.google.com/presentation/d/1ByRWXmjHut88cTiPVOTgkwTJ2V5_m1Y_0j46FP_kdYw/edit)

[2020-06-30 17:22] Nadin-Nader commented on #3191
@TracyLinder i updated this one and #1893 to show the relationship, pipeline and dependency. :)

[2020-06-30 17:22] johnclary commented on #3163
My initial thoughts: I see three components to this work:

### Sign data capture and management

#### Needs
- Define a process to systematically survey all speed limit signs, and track progress as survey areas are complted.
- Ability to capture sign location and condition in the field

#### Solutions

- Thinking about the crosswalk data collection that @dianamartin did. Break the city into logical

[2020-06-30 17:23] johnclary opened #3196 "DTS Team Huddle"
Scheduled huddle meeting on 7/7

[2020-06-30 17:25] moorerst commented on #3127
One thought is to create a SN Knowledge Article which contains instructions for the CTM ServiceDesk to direct users to complete the DTS Service Request Form for a specific issue.
This knowledge article would be a link next to specific items in the overall What to Assign to ATD_IT Support document.
Ex - Residential Parking Permit Application see KB00xxxxxx
KB00xxxxxxx - directs CTM Servicedesk to t

[2020-06-30 17:29] #1806 closed

[2020-06-30 17:29] johnclary commented on #1806
Closing this as the issue is no longer being reported.

[2020-06-30 17:32] johnclary commented on #1246
I don't know what I was thinking. Closing.

[2020-06-30 17:32] #1246 closed

[2020-06-30 17:36] johnclary commented on #1797
@dianamartin do we still need to do this?

[2020-06-30 18:07] jaime-mckeown opened #3197 "AGOL user account demotions / deletions"
Ben at CTM sent out the bi-annual list of demotions and deletions for AGOL.

[2020-06-30 18:09] jaime-mckeown commented on #3197
- Went through both lists of users listed under ATD and filtered out who has left the city or just the department. Sent emails to both groups letting them know they need to login before the update date to keep their same privileges in AGOL.
- 3 users from the CPO Office were listed as ATD. Since CPO has it's own GIS SPOCs I changed their Bio's to reflect CPO. I also sent the CPO GIS SPOCs an email

[2020-06-30 18:11] jaime-mckeown commented on #3164
I did not hear back from Joshil about my response to his question yet.

[2020-06-30 18:20] jaime-mckeown commented on #3188
- It turns out that Tyler has 10.6.1 installed as well. I tried to open the Mxds they are having a problem with and also received errors on both Mxds. One Mxd was giving additional errors about the data frames. Since we all are using 10.6.1 the problem may actually be that the Mxd has finally gotten corrupt if they have been doing Save As on the same Mxd for a while.
- Since Dylan was still able t

[2020-06-30 18:41] Sreelatha-BlazeKannan commented on #1709
Reply from Maria on 06/30/2020 -

I have more questions about #1709, on the 3 new processes being added:
•	Should we add an auto-calculated process end date? **No, thank you. They are more of a curtesy review rather than an official one.**
o	This would inform the reviewers of how long they have to submit a review.
•	In cases where the reviewer never saves an attempt on these processes, it will cau

[2020-06-30 18:41] TracyLinder commented on #2807
### Update

PR0011296 was assigned to Jane N. on 6/22. I sent the email below to her today :

Hi Jane,

I see that this has been assigned to you. This is my first PR request since 2010 when we still used a paper form, so I’m unfamiliar with the process. Can you please inform me of the next steps?

All the Best,

Tracy Linder, Product Manager

[2020-06-30 18:55] johnclary opened #3198 "Diana Offboarding"
**[Resources and Documentation](https://docs.google.com/document/d/1n277cKoPm_8PBGMnnjZbAvQM4OkptgUJWv-pM4h7cik/edit#)**

[2020-06-30 18:55] johnclary opened #3199 "Assign Sharepoint Admin Backup"

[2020-06-30 18:56] johnclary opened #3200 "Assign Airwatch Backup"

[2020-06-30 19:03] TracyLinder commented on #2987
Unisys was informed today.

[2020-06-30 19:19] TracyLinder commented on #2486
- [ ] Tell Unisys about PSM Fee Issue resolution/feedback from Paloma
- [ ] Send Unisys PSM email templates
- [ ] Finish post payment bugs
- [ ] Schedule SCP3 UAT

[2020-06-30 19:21] johnclary opened #3201 "Allow Requesters to Add Location Points when Creating a Work Order"
- Do this in TEST first
- Have Christina test it in TEST
- "move" to prod

### Update: use this issue to have dev work on map enhancement to allow users to create locations in SMB Tracker

[2020-06-30 19:23] johnclary commented on #1634
Closing per Christina

[2020-06-30 19:23] #1634 closed

[2020-06-30 19:28] johnclary commented on #1111
Closing per Christina.

[2020-06-30 19:28] #1111 closed

[2020-06-30 19:29] #2491 closed

[2020-06-30 19:30] johnclary commented on #1610
Closing per Lauren and Kati.

[2020-06-30 19:30] #1610 closed

[2020-06-30 19:31] johnclary commented on #1535
Closing per Lauren and Kati

[2020-06-30 19:31] #1535 closed

[2020-06-30 19:34] johnclary commented on #1674
Christina is going to test.

[2020-06-30 19:36] johnclary commented on #1732
@alan-deanda are these just sitting in your queue right now?

[2020-06-30 19:40] johnclary commented on #1966
@amenity @dianamartin let's huddle on this request. priority issue for banners.

[2020-06-30 19:40] #1122 closed

[2020-06-30 19:40] johnclary commented on #1583
Not doing this per Lauren and Kati

[2020-06-30 19:40] #1583 closed

[2020-06-30 19:44] johnclary commented on #2307
Pending the OK from Christina.

[2020-06-30 19:48] dianamartin opened #3202 "Feature request: Add "Locations" choices to COVID Time Log Form/Tables/Reports"
Peggy M.
Finance

Emailed

Locations
--
7AC1 (alternate Care Site)
7If1 (ISOFAC 1 - Crowne Plaza)
7IF2 (ISOFAC 2 - Embassy   Stonelake)
7LW1 (Logistics Warehouse 1   (Expo Center))
7MTC (Mobile Testing Centers)
7PL1 (Prolodge 1 - LaQuinta)
7PL2 (Prolodge 2 - Motel 6)
7PL3 (Prolodge 3 - Days Inn)
7PL4 (Prolodge 4 - Country Inns   & Suites)
7PL5 (Prolodge 5 - Roadway Inn)
7TC1 (Testing Ctr 1 - St.

[2020-06-30 19:53] TracyLinder commented on #1872
@Nadin-Nader this wasn't ready for PROD when you submitted the deployment ticket. It's ready now though; i just finished testing. I'll make this an epic & create an issue for DevOps.

[2020-06-30 19:54] TracyLinder opened #3203 "DevOps (Test to Prod) - ROW Performance Measure Report"
This is the deployment card for #1872

[2020-06-30 19:56] TracyLinder opened #3204 "DevOps (Local to Test) - ROW Performance Report"
**Work notes for this were captured on the parent issue.

[2020-06-30 19:58] #3204 closed

[2020-06-30 20:01] jaime-mckeown commented on #3197
I spent some time going through the AGOL users to find new ATD accounts so I could make sure their Bio's were filled out with the correct logo so I can find them easier. All of the CPO accounts that were under ATD I moved to CPO and their GIS SPOC as they have their own GIS Support, even though they are technically under ATD.

[2020-06-30 20:09] Nadin-Nader commented on #3191
@Sreelatha-BlazeKannan  @TracyLinder  Surya will be deploying to TEST app servers then once approved to the PROD ones. Once this is done we will be able to deploy the forms on #1893

[2020-06-30 20:12] dianamartin opened #3205 "IT Support: ROW SharePoint Permission Levels"
Paloma A.
ROW

Emailed

-	Evelyn P.
-	Isabell P.
-	Kimberly P.
-	Peter M.

[2020-06-30 20:14] dianamartin commented on #3205
I checked the ROW SharePoint site and realized it was inheriting permissions from the ATD Main SharePoint site. It doesn't allow ROW managers to have site permission controls so I disabled inherited permissions and set up new permission groups.

- [x] Added the myself, Paloma and her staff she wanted to be Owners
- [x] enabled `Everyone except external users` for Members
- [x] enabled `Everyone ex

[2020-06-30 20:14] #3205 closed

[2020-06-30 20:21] TracyLinder commented on #2633
- Option 1: Enable email on fee tab
- Option 2: 'Email Invoice' attempt on Initial Intake Process

- [ ] @Sreelatha-BlazeKannan is checking to see if option #1 is possible
- [ ] Tracy needs to get fee structure attachment from Sangeeta

[Email Invoice Template v1.0.docx](https://github.com/cityofaustin/atd-data-tech/files/4854226/Email.Invoice.Template.v1.0.docx)

[2020-06-30 20:28] TracyLinder commented on #2633
**Email to Joan M, Nalizie:**

Hello,

I hope you are both doing well. We’re currently working on your request to automate the TIA invoice email feature (more info here). We will need the fee structure document that you’d like to be attached to the email that goes to the customer with the invoice. Are either of you able to send that to me?

All the Best,

Tracy Linder, Product Manager

[2020-06-30 20:54] #2911 closed

[2020-06-30 20:55] #3088 closed

[2020-06-30 20:57] mateoclarke commented on #2637
- scene_179
- scene_142
- scene_189

[2020-06-30 20:57] TracyLinder opened #3206 "Update Dev Permissions Lindert"
Copy from test account

[2020-06-30 21:40] sergiogcx commented on #2969
Finished the ETL in staging. I had been blocked due to a few bugs in SQS (event triggers)

This is the output of the ETL process:
![2020-06-30_14-20-47.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/beb3b6b8-feca-4b82-b45e-18ca19cc3883)

You can see the number of records in the conflict resolution queue:
![2020-06-30_14-25-42.png](https://images.zenhubusercontent.com/5b7edad729

[2020-06-30 21:42] sergiogcx commented on #2969
In SQS this is the way things look:

Staging was able to handle the load of a large number of updates:
![2020-06-30_14-21-57.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/98b0ed4e-9f83-4309-ad4e-d1b713e91d3f)

There was a large number of invocations, but the throttle limit (concurrency) was never reached:
Jurisdiction Trigger:
![2020-06-30_14-21-08.png](https://images.zenhubus

[2020-06-30 21:47] JaceDeloney opened #3207 "Updates to the monthly trips table"
The Shared Mobility Services Team and Ride Report would like to view and compare the monthly trip numbers from the following three sources:

- CoA Total Trips
- Ride Report Total Trips
- Provider-Reported Total Trips

Additionally, the Shared Mobility Services Team would like to record which monthly trip number source was chosen as the official number that is used in the monthly per-trip fee invoi

[2020-06-30 21:57] Sreelatha-BlazeKannan commented on #2633
Option 1 – Enable email in Fee tab would not work for TIA Folder invoice email updates.

•	Reason 1 - From Email id is retrieved from the Valid User email id which can not be set to common email id
•	Reason 2 - Body message/subject cant be updated for TIA folder as this setup is for enterprise level

So, we would continue to work with Option 2 – Folder process new attempt “Email Invoice”.

[2020-06-30 22:09] SurbhiBakshi opened #3208 "Knowledge Base Article for CTM Help Desk to know when to direct tickets to ATD - DTS"

[2020-06-30 22:10] SurbhiBakshi commented on #3208
### [Document  ](https://docs.google.com/document/d/1yJHldeQXgF6G6HWSXq9Ndcx8miZ2SsDYqHd0ei3c7iQ/edit)

[2020-06-30 22:11] jaime-mckeown commented on #3197
Managed some of the Groups, added new members that were missing from COA ATD, AMD, ATSD, Vision Zero.

[2020-06-30 22:15] dianamartin commented on #3174
- [ ] exporting `work_orders_signals` - 17,157 records
- [ ] email to Brian C and Brian VDW

[2020-06-30 22:22] #3174 closed

[2020-06-30 22:25] dianamartin commented on #3044
John sent Lance some information and he responded this morning with his findings.

Email

[2020-06-30 22:25] #3044 closed

[2020-06-30 22:30] dianamartin commented on #3172
- [x] Create `New Work Order` (old) - Under `Hazard Flasher`, shows `Hazard Flasher` - rename to `Flashing Beacon`
- [ ] Create `New Work Order` (old) - Under `Asset Type`, shows `Hazard Flasher` - rename to `Flashing Beacon`
  - change under object table
- [ ] Check `Edit Work Order` (Old)
- [ ] Check `Edit Work Order` (New)
- Update TMC Activity Form
  - [ ] Record Rules
  - [ ] Display Rules

-

[2020-06-30 22:54] dianamartin commented on #3189
I emailed all volunteers and send instructions on how we can test. Asked that we test on our own and then we can sync up next week to discuss results and issues we had.

[2020-07-01 01:27] TracyLinder commented on #1978
@Nadin-Nader what are the next steps for this issue?

[2020-07-01 01:35] #2965 closed

[2020-07-01 13:23] #3164 closed

[2020-07-01 13:24] jaime-mckeown commented on #3188
Dylan let me know that he created a new Mxd, I did not hear back if Tyler could access.

[2020-07-01 13:24] #3188 closed

[2020-07-01 13:24] #3197 closed

[2020-07-01 13:33] jaime-mckeown opened #3209 "Marked ADA Space Export from Parking Data - Shelby S."
From Jeremy:

[2020-07-01 13:36] Nadin-Nader commented on #1978
@TracyLinder  Could not find where the email is to make the changes. This is a good small change for The Jets. Also could this one be related to the one Sree is working on?

## **Next Steps:**
- [ ]  Create Request to CTM to have the ROW Bill/Invoice email's from address changed to rightofway@austintexas.gov on DEV, TEST, PROD; and to have the ROW Bill/Invoice email's wording changed to what was a

[2020-07-01 13:42] jaime-mckeown commented on #3209
Exported a shapefile of the Marked ADA Spaces from the Parking Inventory data on AGOL and emailed to Shelby.

[2020-07-01 13:42] #3209 closed

[2020-07-01 13:50] jaime-mckeown commented on #1574
- Joseph decided that the pay stations and parking meters should not be related to the parking spaces. I removed the relationships from the database. This will actually make the data much cleaner with only one-way relationships.
- Worked on the parking space migration, made good progress. Hopefully won't take too much longer. I should finish in the next Sprint.

[2020-07-01 13:52] jaime-mckeown commented on #2200
Certain pages in the Map Series absolutely refuse to export. I've tried many different setups, but still having issues. Hopefully this will be resolved during the next Sprint.

[2020-07-01 13:52] Nadin-Nader commented on #2391
Found the email:

From: Amayo-Ryan, Paloma
Sent: Wednesday, July 17, 2019 6:02 PM
To: Linder, Tracy <Tracy.Linder@austintexas.gov>
Subject: FW: ACTION REQUESTED: Pick Fields for EX, DS, RW

Hey Tracy,

It just occurred to me that this is still sitting on the back burner.

If it’s easy/quick to do then the ask is to edit the Folder Tab (Conditions Field) pick fields for the EX, DS, and RW folder ty

[2020-07-01 13:53] jaime-mckeown opened #3210 "GIMOB Meeting - July 2020"
Attend the month GIMOB Meeting. Will add my notes to a comment below.

[2020-07-01 14:04] #583 closed

[2020-07-01 14:05] #1914 closed

[2020-07-01 14:25] johnclary commented on #1573
@jaime-mckeown talk to Jeremy and Joseph to come up with a plan of action/coordinate.

[2020-07-01 14:27] johnclary commented on #1752
Moving to icebox.

[2020-07-01 14:29] johnclary commented on #2781
@jaime-mckeown check with Joseph to see if there are updates needed.

[2020-07-01 14:39] johnclary commented on #1646
@alan-deanda re-assigning to @jaime-mckeown.

[2020-07-01 14:51] johnclary commented on #3148
@alan-deanda can you provide an update here?

[2020-07-01 14:52] johnclary commented on #3148
nm—i see a separate issue. closing this one.

[2020-07-01 14:52] johnclary commented on #3097
@alan-deanda what's the latest?

[2020-07-01 14:53] johnclary commented on #2886
@alan-deanda what's the latest?

[2020-07-01 14:53] johnclary commented on #2602
moving this to review/qa

[2020-07-01 15:11] JaceDeloney commented on #1419
@johnclary Let's chat about this to see when we can fit this work into your schedule.

[2020-07-01 15:13] #3005 closed

[2020-07-01 15:13] #2973 closed

[2020-07-01 15:13] #2960 closed

[2020-07-01 15:13] Nadin-Nader commented on #3191
Font File has been deployed to TEST. Sree will be checking to see if it works, if so it will be deployed to PROD.
Once this is complete, the templates (#1893) can be deployed to DEV TEST and PROD.

[2020-07-01 15:40] #1951 closed

[2020-07-01 15:41] #2406 closed

[2020-07-01 15:43] TracyLinder opened #3211 "DEV Teasting - Mitigation Fees"

[2020-07-01 15:43] TracyLinder opened #3212 "Customer UAT - Mitigation Fees"
### Meeting with customer to facilitate testing of #1729.

**Date/Time:** 7/16/20 @ 1:30pm
**Attendees:** Tracy, Nadin, Sangeeta

[2020-07-01 15:44] moorerst commented on #3127
@johnclary @dianamartin @SurbhiBakshi  I spoke with CTM about having the Service Desk direct users to complete the DTS Service Request Form for predetermined issues/request. They agreed that if we don't want to manage incidents in SN the best option would be to create a knowledge article similar to the one above for DSD_IT. In that article have a list for Types of Incidents and Requests that shoul

[2020-07-01 15:44] TracyLinder opened #3213 "DevOps (Dev to Test) - Mitigation Fees"
A ServiceNow Request is submitted for TEST deployment along with the Deployment Plan: SCTASK0080280.

[2020-07-01 15:44] TracyLinder opened #3214 "DevOps (DEV to Test) - Mitigation Fees (NN)"
### Sangeeta approved this work to go to Prod on 7/16/20. With #1729

[2020-07-01 15:46] dianamartin commented on #3111
Finally published Module 4 on SharePoint

[2020-07-01 15:46] #3111 closed

[2020-07-01 15:51] TracyLinder commented on #2394
**Status:** Get final approval from Paloma & Kim, then promote to Prod.

[2020-07-01 15:54] dianamartin opened #3215 "Feature request: Update Take-Home Equipment form"
Scott R
DTS

Had conversation with Rob and there has been discussion about what information we should track regarding equipment that staff take home.

- Need to track serial numbers for individual components (laptop, monitors, docking station, etc...)
- Need to have photo attachment available for users to upload their images of their equipment
- Need to have user able to edit their own records
  -

[2020-07-01 15:54] TracyLinder commented on #2631
@Nadin-Nader please make time to review the demo sent to us on 6/19.

[2020-07-01 15:56] TracyLinder opened #3216 "Watch Demos & Provide Feedback - TIA Folder Updates"
Demos were sent to us on 6/19

[2020-07-01 15:59] TracyLinder commented on #2632
Will watch demos #3216

[2020-07-01 16:00] TracyLinder commented on #2634
Will watch demos #3216

[2020-07-01 16:06] mddilley opened #3217 "VZ Socrata ETL | Remove unused columns from VZ datasets"
Unused columns like the mode flags that were replaced with the mode fatal/serious injury count columns remain in the test and production crash and demographics datasets. Removing these columns would make datasets easier to navigate, reduce confusion when developing against them, and remove code that no longer needs to be maintained.

- [ ] Ensure the flags are not used anywhere in VZV
- [ ] Remove

[2020-07-01 16:07] TracyLinder commented on #3050
@Nadin-Nader will update this today, and determine if it needs to be assigned to a dev team, or if he can do it himself.

[2020-07-01 16:09] #2907 closed

[2020-07-01 16:15] TracyLinder commented on #3025
@johnclary this is the meeting where my computer restarted at the end. Were next steps discussed or identified?

[2020-07-01 16:15] #3025 closed

[2020-07-01 16:16] TracyLinder commented on #2391
### Status

Should be ready for LIT development for Sprint 28.

[2020-07-01 16:19] TracyLinder commented on #3120
**Status:** Nate will work on DevOps during Sprint 28.

[2020-07-01 16:21] JaceDeloney opened #3218 "Update CR3 ETL process"
We need to update the ETL process so that we pull a CR3 for any record with the austin_full_purpose flag or city_id = 22. That would allow us to download CR3s for crashes that do not have city_id = 22 but that are part of the full purpose geographic boundary.

[2020-07-01 16:21] TracyLinder commented on #1978
### Update

LaunchIT told us yesterday that this kind of customization is not possible. I've added it to the July AOB agenda; will update this issue to Blocked until we get AOB feedback.

[2020-07-01 16:22] TracyLinder opened #3219 "July AOB Meeting"
- Custom Email Invoice Features

[2020-07-01 16:26] TracyLinder commented on #1877
Nate, can you please add notes from your stakeholder meeting and update the description w/ acceptance criteria?

[2020-07-01 16:26] sergiogcx commented on #3218
Working on this, it should be an easy fix.

[2020-07-01 16:32] dianamartin opened #3220 "IT Support: Log-in issues for Human Resources app, accessing TLC form - Kaustabh G."
Kaustaubh G.
TDS

Messaged

[2020-07-01 16:33] dianamartin commented on #3220
- Checked the system, he wasn't in there
- Added user to the system
- Messaged back

User confirms

[2020-07-01 16:33] #3220 closed

[2020-07-01 16:35] Nadin-Nader commented on #2394
Waiting for final approval from Kim and Paloma to move the permissions changes to PROD.

[2020-07-01 16:36] TracyLinder commented on #2980
After talking to Mike w/ CTM GIS, we've decided that this bug may not be worth the effort it would take to fix it. Users would likely need to be trying to break the map to recreate this bug. We will re-open this issue if users provide feedback that this is a true need.

[2020-07-01 16:36] #2980 closed

[2020-07-01 16:40] #1599 closed

[2020-07-01 16:46] TracyLinder opened #3221 "Epic - Issues Related to TCI Inspection Fees"
### Parent issue for all ATD AMANDA issues related to traffic control inspection fees.

COA Legal Dpt is not currently allowing ROW to charge these investigation fees (as of 7/1/20). This will remain in the Icebox until ROW is able to assess these fees again.

[2020-07-01 16:49] mddilley opened #3222 "VZV | Map | Date picker updates"
- [x] When testing VZV on my iPhone X, I noticed that the month/year dropdown menu is broken in the mobile full screen mode that appears when selecting date range. After checking in BrowserStack on iPhone 11 and Galaxy S10 and S9, the problem is reproduced (sometimes flashes a menu with radio buttons to select month). A user can still browse by using the up and down arrows at the bottom of the vie

[2020-07-01 16:50] sergiogcx opened #3223 "VZD: Full purpose flag needs updating"
About 500 records are showing the wrong value for the austin_full_purpose flag, those need to be updated.

This is the list of records that need to be updated:

[code]

[2020-07-01 16:50] sergiogcx commented on #3223
This is already done, created issue to document the work done on the database.

[2020-07-01 16:50] #3223 closed

[2020-07-01 16:53] sergiogcx commented on #3218
I've updated the query to look like this:

[code]

The output:

[code]

[2020-07-01 16:54] TracyLinder commented on #2894
**Email to Unisys:**

Hi David,

This one looks like it’s ready to move to PROD, but I’m not sure if I told you that yet. Can you start working on the promote if you haven’t already please?

Thanks,

Tracy Linder, Product Manager

[2020-07-01 17:00] TracyLinder commented on #1994
**Status:** I didn't get to scoping this. Clearing milestone; will look at getting this scoped during a future sprint.

[2020-07-01 17:04] sergiogcx commented on #3218
The output SQL looks good:

[code]

[2020-07-01 17:04] sergiogcx commented on #3218
The PR is read for review:
https://github.com/cityofaustin/atd-vz-data/pull/846

[2020-07-01 17:05] TracyLinder commented on #2796
This went to PROD during sprint 27.

[2020-07-01 17:05] #2796 closed

[2020-07-01 17:22] #1560 closed

[2020-07-01 17:23] #1613 closed

[2020-07-01 17:23] TracyLinder opened #3224 "Meeting: Create LIT Reference Questionnaire"
**Date/Time:** 6/22/20 @ 3:30pm
**Attendees:** Tracy, David (DSD), Deanna (CTM)
**Purpose:** Create a list of questions to send to LaunchIT's customer references, to be used in helping us select a vendor for this project.

[2020-07-01 17:24] #2897 closed

[2020-07-01 17:28] #3224 closed

[2020-07-01 17:29] #1558 closed

[2020-07-01 17:29] #1581 closed

[2020-07-01 17:50] #3218 closed

[2020-07-01 17:56] mateoclarke opened #3225 "VZD | Data Inconsistency between Crash and Unit fatality counts"
With the creation of the `atd_fatality_count` field on the crash table which populates from `death_cnt` but is editable AND with use of the `death_cnt` field from units table in some VZV widget, there are now scenarios where counts on crashes and units do not add up in our reporting.

As a quick fix for this problem we propose to make death count & Sus serious injury fields editable on all tables

[2020-07-01 18:04] #3076 closed

[2020-07-01 18:06] SurbhiBakshi commented on #1943
@amenity - Think this is related to some work I did a while back for Signs and Markings, that approach seems to be working for them, this was the proposed solution in case it hadn't worked. I think this could be iceboxed.

[2020-07-01 18:07] TracyLinder opened #3226 "TIA Module: Review Status"
**Review Status**
 See if possible, Requester to get Submission Details page in the email link, so they just have to add attachments rather than them adding more submissions "accidentally"
 Or, Set status In Review to prevent requester from added a new submission

_(This came from #3083)_

[2020-07-01 18:10] #3083 closed

[2020-07-01 18:32] atdservicebot opened #3227 "Digitize Signs and Markings invoice process"
Automating the invoicing process in the Signs and Markings Operation app. Signs & Markings is finalizing updates for Signs & Markings materials and costs. We are doing this in the effort to automate the invoicing process that we currently have.

Right now, Signs and Markings invoicing takes hours of manual effort for Cathy to complete. There are also confusion that happen regularly between Signs &

[2020-07-01 19:03] dianamartin commented on #3008
@TracyLinder I added the links to the plan and the metrics spreadsheet

[2020-07-01 19:05] TracyLinder commented on #2664
**Status:** Currently in DEV, needs to be tested before moving to Test for customer UAT
- Nate will do the DEV test

[2020-07-01 19:06] TracyLinder commented on #3047
**Status:** See parent issue.

[2020-07-01 19:08] TracyLinder commented on #2511
**Status:** Robert will continue to develop this in sprint 28

[2020-07-01 19:09] TracyLinder commented on #1791
**Status:** Robert will continue working on this during sprint 28.

[2020-07-01 19:11] TracyLinder commented on #1926
**Status:** Kaarthy will continue refining requirements during spring 28.

[2020-07-01 19:13] TracyLinder commented on #1809
**Status:** Will be ready for development after Kaarthy meets w/ stakeholders during sprint 28.

[2020-07-01 19:14] dianamartin commented on #2855
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/fe906301-8e74-46fc-a38b-f64a4f09e6de)

[2020-07-01 19:20] JaceDeloney commented on #2914
The team has decided to use joins. Outstanding question: Should these jurisdictions live in VZD or in ESRI?

[2020-07-01 19:20] #2914 closed

[2020-07-01 19:20] licarir commented on #1809
To be done:
1. Email batch job to remind users to complete their application or else it will be aborted.
   A. Batch Job
   B. Batch Procedure - utilize email package to send email for all incomplete applications older than X days
   C. Lookup table update
2. Cleanup batch procedure
   A. Batch Job
   B. Batch Procedure - set all older than X days to abort so cleanup nightly job will remove AMANDA

[2020-07-01 19:20] TracyLinder commented on #1726
**Status:** A bit more analysis during sprint 28 is needed to get this ready for development. Tracy will schedule time w/ The Jets to discuss.

[2020-07-01 19:27] TracyLinder commented on #2392
**Status:** Kaarthy will finish refining this during Sprint 28

[2020-07-01 19:28] TracyLinder commented on #1809
**Status: Robert to continue working on this during Sprint 28. Likely won't be done until Sprint 29.

[2020-07-01 19:33] TracyLinder commented on #1580
**Status:** Promote to Dev in progress.

[2020-07-01 19:34] TracyLinder commented on #1713
**Status:** Currently promoting to Dev

[2020-07-01 19:35] TracyLinder commented on #2401
**Status:** User testing on DEV coming up.

[2020-07-01 19:36] TracyLinder commented on #1766
**Status:** Subha will be sending us a demo soon. If that looks good, move this to DEV.

[2020-07-01 19:37] TracyLinder commented on #1576
**Status:** Subha will be sending a demo to us this week. If that is approved, it will go to Test next.

[2020-07-01 19:38] TracyLinder commented on #1729
**Status:** Currently in DEV pending Tracy review/approval to promote.

[2020-07-01 19:40] JaceDeloney opened #3228 "Re-estabilish daily process for pulling in CR3 records"
Restart the daily ETL process for pulling in Crash data into VZD. Reach out to CRIS via email and get the SFTP set up.

[2020-07-01 19:40] TracyLinder commented on #2988
Features are included in demo for #2631

[2020-07-01 19:42] TracyLinder commented on #2633
**Status:** Currently in development with LIT.

[2020-07-01 19:43] JaceDeloney opened #3229 "Re-insert 2019 & 2020 crash data"
Ensure that 2019 and 2020 data is up-to-date.

[2020-07-01 19:43] TracyLinder commented on #2444
**Status:** Currently being developed by LIT

[2020-07-01 19:45] TracyLinder commented on #2391
**Status:** Further analysis needed, and work to be performed during sprint 28.

[2020-07-01 19:47] TracyLinder commented on #1709
**Status:** LIT will begin development during sprint 28.

[2020-07-01 19:51] TracyLinder commented on #1687
Tracy: Make this an epic. Separate issues for back office and portal; assign to LIT & Sree, on deck.

[2020-07-01 20:02] TracyLinder opened #3230 "Create AMANDA Product Issue Standards"
### The way we organize our work in git/zen needs to be better defined for our teams.

[2020-07-01 20:05] mateoclarke opened #3231 "VZE | Pagination bug"
Xavier showed us an example where the pagination in the DataTable component showed you on page 14 out of 13 which displays a blank list.

I think this would be reproducible by starting with a large query, paginating multiple pages deep, then narrowing your search to have a much smaller query with fewer pages than the page you are on.

[2020-07-01 20:06] TracyLinder commented on #2391
@Nadin-Nader I'm going to un-assign myself from this one & let you take lead on it. 🙏

[2020-07-01 20:18] SurbhiBakshi opened #3232 "Test for Fees/ Payments - Partner and SMO staff"
[Document](https://docs.google.com/document/d/1ok0QUsLFpp5w6ykz62O686N-XeIJNR_lzJlMZNTYAZo/edit?usp=sharing)

[2020-07-01 20:20] TracyLinder commented on #1910
**Status:** Contact Greg P & Jaclyn to get final input list.

[2020-07-01 20:23] mateoclarke opened #3233 "VZE | Expand VZE Universe of crashes"
Two proposed features here:

- [ ] We should include all public safety jurisdictions (LTD & ETJ) no only full purpose
- [ ] Add an advanced filter that would filter the data to match the VZV universe of crashes (full purpose + lat/lon null & city Id = 22)

[2020-07-01 20:25] JaceDeloney opened #3234 "Add descriptions for Fatality and Suspected Serious Injury in Crash Data info icon"
Add descriptions for fatality and suspected serious injury to the bottom of the Crash Data information popup:

**Definitions**

**Fatality:** A fatality is defined as a death that resulted due to injuries sustained from the crash, at the scene
or within 30 days of the crash.

**Suspected Serious Injury:** A suspected serious is defined as a severe injury that prevents continuation of normal
activi

[2020-07-01 20:27] dianamartin commented on #2855
## UPDATED
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/74583e9e-6171-4e4f-acdd-6dbcac6ba140)

## REPORTS page
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/9eeaf7e0-9828-40ef-ba3e-620e8286f352)

## SURVEY RESULTS page
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/895ecd83-fab1-4dd5-8ee6-ea7b128ea15f)

[2020-07-01 20:29] SurbhiBakshi commented on #2974
@JaceDeloney - sent you the details

[2020-07-01 20:30] SurbhiBakshi commented on #3207
@JaceDeloney - these updates are done.

[2020-07-01 21:23] mateoclarke opened #3235 "VZE | Make the Location Crashes export match the same fields as the Crashes csv export"

[2020-07-01 22:10] mateoclarke commented on #2928
We did this and she is cool with it. Currently forking her Jekyll repo for ATX

[2020-07-01 22:10] #2928 closed

[2020-07-01 22:14] JaceDeloney opened #3236 "Updates to the Demographics visualization"
- [x] Change the title of the gender visualization from Sex to Gender
- [x] Add an information icon to the visualization title. Remove the information icon that displays when the user selects the Race/Ethnicity button. This information icon should persist at all times.
- [x] Change the text in the information icon popup to:

**Demographics Data**
To compare crash demographics data with historical

[2020-07-01 22:51] JaceDeloney commented on #3232
Testing complete. All steps have passed

[2020-07-01 22:51] #3232 closed

[2020-07-01 22:55] mddilley commented on #2791
GraphQL query to check fatality totals by day of week

[code]

[2020-07-02 13:26] SurbhiBakshi opened #3237 "Delete "csr_flex_notes" from AMD Data Tracker - June 2020"
Received automated reminder to delete flex notes in Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd#data/object_95/records/?builder_table_page=1

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 05/01/20 - NEEDS_CHANGING

Total Records: `19,007`
To Delete: `4,496` (number of records from running the query)
New T

[2020-07-02 15:26] #3127 closed

[2020-07-02 15:29] SurbhiBakshi commented on #1236
@amenity - done with this issue, going to close this issue.

[2020-07-02 15:29] #1236 closed

[2020-07-02 15:33] #2380 closed

[2020-07-02 15:37] moorerst opened #3238 "IT Service Desk Work Flow"
### Objective
Review options for streamlining Service Request
Meeting scheduled 7/13/20

Follow up to #(https://github.com/cityofaustin/atd-data-tech/issues/3127)

### Participants
John, Diana, Surbhi, Jamie, Scott, Stephanie

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------

[2020-07-02 16:07] moorerst commented on #2840
Scoping meeting scheduled for 7/15/20

[2020-07-02 16:10] alan-deanda commented on #2886
@johnclary  the team expressed interest in such an app for batch 2 at the last meeting, but they likely won't focus on it until the public feedback process is closed and the data has been analyzed.

[2020-07-02 16:12] alan-deanda commented on #3097
@johnclary  The data has not been used, a reviewer marked it as a duplicate. This is likely an error, and they haven't realized that it's a re-submission with re-formatted the data. I've asked them to revisit data upload. Waiting to hear back from them.

[2020-07-02 16:33] jaime-mckeown commented on #3210
@johnclary @alan-deanda - see below for GIMOB notes:

### Josh Conrad UT Phd student - Austin AI Housing Analysis
- New project, just received a grant for this project - Bridging Barriers sponsored by Good Systems
- Trying to connect campus researchers with the City of Austin
- Spatial and historical analysis of housing in Austin
- How has housing changed, how are these changes related, are these

[2020-07-02 16:33] #3210 closed

[2020-07-02 17:12] licarir commented on #1791
DefaultInfo_DS (info validation procedure) already stops changes when sub or work are null. Looking into Folder validation procedure next.

![image.png](https://images.zenhubusercontent.com/5ebae52ece896d5e6d9acd69/47956a09-b20f-4cc9-a200-5dcbcad0fd33)

[2020-07-02 18:11] SurbhiBakshi commented on #3081
###  **Visual cues**
(for officers to focus at assignments within a shift, and not get confused by availability of other assignments.)

### Grouping
so officers can see the assignments grouped together as one defined package.
1. by date,
2. shift time (morning, afternoon, evening),
3. team,
4. officer (1, 2, 3 - depending on the number of officers required for that assignment)

- Use color to show

[2020-07-02 18:42] Nadin-Nader commented on #1877
My notes got misplaced so i had to send an email to Paloma for the information we discussed:

Hi Paloma,

Hope you are doing well. I was reaching out because unfortunately, I have misplaced my notes on the acceptance criteria, where we were on this request and where we left off on this. I was wondering if you could help me verify the information I did find by giving me the acceptance criteria that

[2020-07-02 19:07] #3036 closed

[2020-07-02 19:07] #3181 closed

[2020-07-02 19:08] #3207 closed

[2020-07-02 19:09] kaarthym5 commented on #1726
@TracyLinder what folder type does this “in date” field pertain to?

[2020-07-02 19:10] SurbhiBakshi commented on #3237
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/b33a5aa3-6701-4b41-815a-d73e4269ec93)

[2020-07-02 19:12] SurbhiBakshi commented on #3237
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/7f532255-fe91-4d54-9e1e-4c6147e87b23)

[2020-07-02 19:14] alan-deanda commented on #1732
@johnclary , @dianamartin , when I add the `GIS_STATUS is Ready for QA` filter I am no longer seeing tickets with DUMMY_SPECS that don't require segment IDs to close

[2020-07-02 19:16] SurbhiBakshi commented on #3237
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/ca997273-1479-4b4f-97cf-7bad73a8f780)

[2020-07-02 19:18] SurbhiBakshi commented on #3237
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/27cfc770-d8cf-457f-8852-07524083a802)

[2020-07-02 19:21] #3130 closed

[2020-07-02 19:24] #3237 closed

[2020-07-02 20:55] SubhaShroff commented on #1713
Dev Deployment Request is submitted on ServiceNow: SCTASK0079148

[2020-07-02 20:55] SubhaShroff commented on #1580
Dev Deployment Request is submitted on ServiceNow: SCTASK0079145

[2020-07-02 20:59] JaceDeloney opened #3239 "Provide access to new Shared Mobility Operations dashboard users"
Provide access to new Shared Mobility Operations dashboard users:

Name: Timothy S
Role: Shared Mobility Team Staff
Email: <get from Jace or check email thread>

Name: Michal N
Role: Shared Mobility Partner
Email: <get from Jace or check email threa>

[2020-07-02 22:03] #2974 closed

[2020-07-02 22:11] licarir commented on #1791
@Nadin-Nader
I found the configuration to require Sub Code to be filled out. Please review commit #6106bed0 for me to promote. The main thing is the ValidFolder table update. The other items I am just converting to standalone procedure as explained in the notes on the commit.

[2020-07-02 22:47] dianamartin commented on #3202
- Peggy replied on 6/30 (Tuesday) that this can get done "next week"
- [ ] Adding new field `Locations`
- [ ] Adding choices provided by Peggy
- [ ] Email Peggy, Jace that this was done

[2020-07-02 22:50] SubhaShroff commented on #1713
Status:
Promoted to Dev, I tested it on Dev and its working as expected. Ready for Dev Testing.

[2020-07-02 23:00] dianamartin commented on #3202
## Add Time Log
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/c96e4959-6101-43f5-a369-c9b764dcad6c)

## Review Time Log table
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/d4367a7d-0a56-4aa1-a842-975cf003c270)

## HSEM Report
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/77a2f310-22eb-4f13-a1ce-188c2f73b096)

[2020-07-02 23:00] #3202 closed

[2020-07-02 23:22] #3157 closed

[2020-07-02 23:23] dianamartin commented on #2994
@johnclary where are we on this?

[2020-07-02 23:25] dianamartin commented on #3215
emailed Scott and John on the progress

•	This would show the users details
•	A button to “Add equipment” as a new line item
•	A table to show the user what equipment has been added and “Taken Home”
o	User can edit the record, they can’t delete the record

•	This page shows each person’s equipment records grouped under their Division and Name.
•	I did a lot of clean up and retroactively added the

[2020-07-05 18:43] #3011 closed

[2020-07-05 18:44] johnclary commented on #3125
I submitted the Purchase Request. [Here it is](https://atd.knack.com/finance-purchasing#my-purchase-requests/purchase-request-details/5f021e1e6e294700158462c2/).

[2020-07-05 18:58] johnclary commented on #2994
Based on latest discussion w/ Peggy, and the longer timeline we now have for re-entry, let's postpone this for now.

In the meantime, we are going to purchase Robin software for desk reservations, and configure up to 50 workspaces for hoteling. Let's see how that goes, and determine if we need additional info from managers.

Closing.

[2020-07-05 18:58] #2994 closed

[2020-07-05 18:59] johnclary commented on #1732
@alan-deanda thanks. Closing.

[2020-07-05 19:00] johnclary commented on #2886
Thanks. when does the public feedback process close?

[2020-07-05 19:07] johnclary commented on #2840
Note that PE has plans to migrate from Brazos to a new e-citation software that does suck. We have an [unscoped issue for this](https://github.com/cityofaustin/atd-data-tech/issues/547), which I just moved to blocked, because last we heard, PE was not ready to move forward. I'll message Jason R about it now and CC @moorerst.

I mention this because, ideally, the e-Citation data would not be manual

[2020-07-05 19:17] johnclary commented on #547
Blocked pending PE's decision to begin this procurement. My last email to Jason R:

[2020-07-05 19:19] johnclary commented on #1943
OK—not sure we discussed this during our last meeting, though it did not sound like a priority. We'll leave here in need's scoping until the next meeting.

[2020-07-05 19:20] johnclary commented on #1911
@alan-deanda amazing. I want one! We'll keep my eye's peeled at CycleEast

[2020-07-05 19:25] johnclary commented on #3141
See also the enhancement described [here](https://app.zenhub.com/workspaces/data--technology-services-5caf7dc6ecad11531cc418ef/issues/cityofaustin/atd-data-tech/1876).

[2020-07-05 19:27] johnclary commented on #1876
Let's consider this functionality as we evaluate [the larger request for GIS-based work order creation](https://app.zenhub.com/workspace/o/cityofaustin/atd-data-tech/issues/3141)

[2020-07-05 19:29] johnclary commented on #717
Iceboxed per discussion with group.

[2020-07-05 19:32] johnclary commented on #3141
Also, note that we have a [smaller issue](https://github.com/cityofaustin/atd-data-tech/issues/3201) to simply allow requests to create location points. This request represents more robust GIS-based work order creation, whereby work orders are directly tied to and update GIS sign assets.

[2020-07-05 19:33] #3156 closed

[2020-07-05 19:36] johnclary commented on #3114
Great. I suggest playing around with a few of the `sodapy` examples. See if you can upsert data, as described here: https://github.com/xmunoz/sodapy#upsertdataset_identifier-payload-content_typejson

And feel free to add something on my calendar for pair programming.

[2020-07-05 19:41] johnclary commented on #3074
@dianamartin i can't find these changes in the live app, even after logging in. what's the trick?

[2020-07-05 19:43] johnclary commented on #2992
Done. closing.

[2020-07-05 19:43] #2992 closed

[2020-07-05 19:50] johnclary commented on #2996
@TracyLinder can this be closed? Do we need to loop-in Upal's group?

[2020-07-05 19:51] johnclary opened #3240 "Meet with OOD and TDM to discuss plan for re-entry"
Scheduled for 7/6.

Questions:
- How many hotel spaces do we need, at which office locations? Can we begin with a smaller number than increase that with each phase of entry?
- What is our deadline for having the first batch of hotel spaces set up?

Agenda items from DTS:
- Scott: Update on hotel desk setup and hardware availability
- John: Update on desk reservation software. We have evaluated a n

[2020-07-05 19:53] johnclary commented on #2872
We're meeting with the Treasury to discuss on 7/15

[2020-07-05 19:56] johnclary commented on #2784
[We presented](https://github.com/cityofaustin/atd-data-tech/issues/2786) to the e-team. Rob is going to think on our findings/proposal and reach out again. In the meantime, we agreed that focusing on Moped would have the biggest impact in advancing Rob's goal for better visibility into ATD's work.

@amenity I'm relegating this to the backlog for the time being.

[2020-07-05 19:57] #2786 closed

[2020-07-05 20:01] johnclary opened #3241 "Knackpy v1.0"
There are quite a few issues with Knackpy that we're going to address with v1.0. In my defense, these are mostly issues with the Knack API that the current version of knackpy doesn't address. They:
- Consistent returns of `NoneTypes` for null values
- Force all records to contain all fields, regardless of if they are null.
- Support for file uploads
- Pythonic use of logging and exception handling

[2020-07-05 20:02] johnclary commented on #2298
Sprint 29 :). Marking as blocked by [Knackpy v1.0](https://github.com/cityofaustin/atd-data-tech/issues/3241)

[2020-07-05 22:01] dianamartin commented on #3074
@johnclary i thought I updated a different issue going into detail on the new pages. I don’t have the pages active yet. It’s on the backend and you have to know the URL. Let me find it.

[2020-07-05 22:02] dianamartin commented on #3074
It’s in issue #3215

[2020-07-06 06:10] amenity commented on #3189
Sorry, by the time I got your instructions I'd already set it up — so I didn't pay close attention.

I didn't have to do the URL to register a device beforehand. When I opened O365 after getting back from vacation I got a message along the lines of "your organization wants to have more security" and I _**think**_ there was an option to set it up right away or defer? It worked like 2FA works on oth

[2020-07-06 11:47] #2936 closed

[2020-07-06 14:24] SubhaShroff commented on #1580
Status:
Promoted to Dev, I tested it on Dev and its working as expected. Ready for Dev Testing.

[2020-07-06 14:24] licarir commented on #1791
@Nadin-Nader Let me know when you can audit

[2020-07-06 14:52] dianamartin commented on #3189
@amenity thanks for testing it, I'll mark that you set-up the Text to Mobile Number option.

[2020-07-06 15:03] licarir commented on #1926
@Nadin-Nader @TracyLinder
Hello, Kaarthy is going to email Paloma because we need a screenshot of this scenario where multiple permit submittals with attachments is being done on Portal.
What is the folder type of the parent that will be associated with all of the EX permits with different streets, or are they all created at one time with no parent?

[2020-07-06 15:56] alan-deanda commented on #3097
@johnclary  Google Maps is now marking the data as in use. It doesn't show up by default yet, but it does seem to be affecting routing by car. I've tested this by getting directions by walking, biking and driving.
I'm still asking Google whether or not the data will show up by default on the basemap as is the case with Oakland and San Francisco. Either way, the closures have an expiration date of

[2020-07-06 16:19] mddilley commented on #3151
# What I learned
- It takes time to set up initially
- Fast development after initial work
- Capture this work by creating components built with components
- Less code complexity
- React Hook Form has dev tools and a builder

# Hard and not so great things
- Both react-hook-form and Material UI have a learning curve
- Material UI’s opinions made using it along with react-hook-form difficult at tim

[2020-07-06 16:19] #3151 closed

[2020-07-06 16:21] Nadin-Nader commented on #2631
- [ ] At initial folder setup/creation, the status should be Pending
- [ ] After fees have been billed, the status should be Pending Payment
              - [ ] Option: Use 'Calculate Fees' attempt on Initial Intake, this would add any missing fees and create one bill for all fees on fee tab. First we'd need to make sure the system isn't adding unnecessary fees. Then folder status would update to

[2020-07-06 16:27] Nadin-Nader commented on #3216
@Sreelatha-BlazeKannan @aishwarya2505 @TracyLinder Demo looks good and meets the acceptance criteria.
Review from Demo:

 At initial folder setup/creation, the status should be Pending
 After fees have been billed, the status should be Pending Payment
- Option: Use 'Calculate Fees' attempt on Initial Intake, this would add any missing fees and create one bill for all fees on fee tab. First we'd ne

[2020-07-06 16:37] Sreelatha-BlazeKannan commented on #1766
Subha Sent Demo on 7/1/2020 and waiting for Feedback.

[2020-07-06 16:42] Sreelatha-BlazeKannan commented on #1576
Subha sent a demo on 06/30/2020

[2020-07-06 16:46] amenity commented on #2876
@dianamartin @moorerst - Clearing the Sprint 26 milestone on this. If you want to shoot to do this in an upcoming sprint feel free to label as such. 🏃‍♀️🏁

[2020-07-06 16:47] amenity commented on #2697
@dianamartin @johnclary  - Clearing the Sprint 26 milestone on this. If you want to shoot to do this in an upcoming sprint feel free to label as such. 🏃‍♀️🏁

[2020-07-06 16:47] JaceDeloney opened #3242 "Add ability to create new monthly trip record to Monthly Trips Comparison table"
As a user, I want to be able to create new monthly trip records to the Monthly Trips Comparison table for mobility providers that do not have MDS feeds. Currently, SMO only populate new records for mobility providers that have MDS feeds. Some providers (e.g., Revel) do not yet have an MDS feed, so they rely on the provider to self-report their trip numbers.

- [x] Add a button to the Monthly Trips

[2020-07-06 16:48] amenity commented on #288
@johnclary was this covered by any of your recent OMF hustle?

[2020-07-06 16:50] amenity commented on #2742
@dianamartin @TracyLinder  - Clearing the Sprint 26 milestone on this. If you want to shoot to do this in an upcoming sprint feel free to label as such. 🏃‍♀️🏁

[2020-07-06 16:51] amenity commented on #2753
@dianamartin @TracyLinder  - Clearing the Sprint 26 milestone on this. If you want to shoot to do this in an upcoming sprint feel free to label as such. 🏃‍♀️🏁

[2020-07-06 16:52] amenity commented on #2754
@dianamartin @TracyLinder  - Clearing the Sprint 26 milestone on this. If you want to shoot to do this in an upcoming sprint feel free to label as such. 🏃‍♀️🏁

[2020-07-06 16:53] amenity commented on #2240
@mateoclarke - should we bump this to Sprint 28?

[2020-07-06 16:54] Nadin-Nader commented on #3203
**STATUS:**
With CTM SCTASK0078266 for deployment to PROD. Waiting for deployment

[2020-07-06 16:54] amenity commented on #2278
@johnclary @dianamartin - we can close this, si?

[2020-07-06 16:55] dianamartin commented on #2278
@amenity I think so, I defer to John

[2020-07-06 17:08] Nadin-Nader commented on #3191
Font Files have been deployed to all three environments. Closing card.

[2020-07-06 17:08] #3191 closed

[2020-07-06 17:24] Nadin-Nader commented on #1893
All necessary Views and Files have been placed on all servers for AMANDA.
Next Step:

- [ ] Create Task for Surya to deploy forms to all 3 environments (DEV TEST and PROD)
- [ ] UAT

[2020-07-06 17:26] dianamartin opened #3243 "[BUG] Supervisor signed as Dept Head Designee"
Frances H
OSE

Emailed

[2020-07-06 17:28] dianamartin commented on #3243
I called Frances to get the scoop on what happened. She signed as "Supervisor", but somehow didn't choose to reassign to Dept Head Designee. She was able to sign as DHD.

So I rolled back the 3 records she had done that for.
- Emailed correspondence chain to let everyone know we resolved the issue

[2020-07-06 17:28] #3243 closed

[2020-07-06 17:31] Nadin-Nader commented on #1893
**Status**
CTM TASK number SCTASK0079585. Waiting on Deployment of forms to all 3 environments

[2020-07-06 17:44] Nadin-Nader opened #3244 "Deployment to PROD EX & DS Permit Template Update"
With #1893

[2020-07-06 17:45] Nadin-Nader commented on #3244
Status
CTM TASK number SCTASK0079585. Waiting on Deployment of forms to all 3 environments

[2020-07-06 17:47] dianamartin opened #3245 "Feature request: Supervisor to edit TLC records after making an approval decision"
## As a Supervisor I want the ability to edit my approval in case I made a mistake so that I don't have to ask DTS to change records for me on the back end.

Ex. If I approved a staff person and meant to click "Not Approve".

[2020-07-06 17:56] moorerst opened #3246 "[RPP Back Office] Sprint Review # 7"
Scheduled 7/10

Agenda:
https://docs.google.com/presentation/d/1q4uW2-swFe4DSHHW5oeeIwGNG8ZGJolMP0Lr9z6kKlM/edit#slide=id.g1ebb8a7ebd_0_60

Participants:
Stephanie, Diana, Chrispin, John, Steve, Ryan, Jacob, Courtney

[2020-07-06 18:15] Nadin-Nader commented on #2394
Hi Kim/Paloma,

Hope you are staying safe and had a great 4th of July weekend.  I was reaching out again to see if I have your go ahead to update the user permissions on TEST and PROD.
Paloma, I also wanted to ask you if the permissions you have on TEST are the ones you want on PROD? If so let me know and I will update PROD  for you as well.

Respectfully,

Nadin A. Nader
IT Business Systems Analy

[2020-07-06 18:20] amenity commented on #3195
Scheduled for 7/7/20.

[2020-07-06 19:09] dianamartin commented on #2840
@johnclary @amenity @moorerst I didn't think the dispatch entry was the same as the e-citation system migration? It's possible it could be though.

[2020-07-06 19:30] dianamartin opened #3247 "Meeting: Office Hoteling Process 7/6"
### Objective
Scheduled 7/6 @ 2:30 pm
### Participants
Gilda, Cari, Tien-Tien, Scott, Nathan B., Alan, John, Chris W.

### Agenda
[https://app.zenhub.com/files/140626918/ad9e9587-7399-41c7-90b7-fe563cd141d2/download](https://app.zenhub.com/files/140626918/ad9e9587-7399-41c7-90b7-fe563cd141d2/download)

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] O

[2020-07-06 19:31] amenity commented on #3079
We made the filters buttons instead of the drop down. Unfortunately, we can only filter on one field with that simplified set up. We learned that sectors aren't important and think it's more likely they'll want to sort by "Next Week" "Next Month" etc. over "Morning" "Afternoon" "Evening". We'll start with that and see how it goes in the pilot.

[2020-07-06 19:34] Sreelatha-BlazeKannan commented on #1729
@TracyLinder  - Please do let us know whether it is ready to move from DEV to TEST

[2020-07-06 19:37] amenity opened #3248 "Refinements based on 7/6 Huddle"
Sign Up
- [x] Move the full calendar to the bottom
- [x] Replace 👆with a "My Assignments" calendar that only shows the logged in Officer's assignments. Hoping that this will help them quickly correct if they sign up for multiple assignments at the same time.
- [x] Show only the "Next Week" "Next Month" filters
- [x] [Dev issue to add checkboxes to sign up for all Assignments in a given Shifts](htt

[2020-07-06 19:38] amenity commented on #3248
@amenity - create issue for Devs and get on their Backlog Grooming agenda

[2020-07-06 19:40] #3079 closed

[2020-07-06 19:40] SurbhiBakshi commented on #3079
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/45735c48-5242-4ba7-89f7-0cac18a9666b)

[2020-07-06 19:46] amenity commented on #2566
@SurbhiBakshi - feel free to add to this w/ questions for the review.
@amenity - schedule plz

[2020-07-06 19:47] amenity opened #3249 "Customizations to improve Vision Zero in Action Officer workflow"
We're building the  [Vision Zero in Action](https://github.com/cityofaustin/atd-data-tech/issues/145) app so that ATD staff can efficiently schedule Vision Zero in Action shifts*, APD officers can sign up for shifts and track their activities while on shift, and APD administrative staff can perform invoicing for this work.

Lewis is currently using VZA App 1.0 to schedule Vision Zero in Action shi

[2020-07-06 19:48] Sreelatha-BlazeKannan commented on #1872
As per Nadin this will be planned to move from TEST to PROD on 07/07/2020.

[2020-07-06 20:07] alan-deanda opened #3250 "Bike Facilities Data Request"
Responded to a bike facilities data request forwarded to me by Laura D.

[2020-07-06 20:07] #3250 closed

[2020-07-06 20:08] alan-deanda commented on #3190
Re-published CAD reference data. Next steps include translating annotations and helping with the configuration of the Story Map.

[2020-07-06 20:14] JaceDeloney commented on #2640
Use checkboxes as outlined here:
https://reactstrap.github.io/components/alerts/

[2020-07-06 20:19] dianamartin commented on #3247
## Diana's Notes

### Gilda Update:
Phase 1 - July 1, now pushed to July 27th. 12 spaces, spaces that are vacant. Staff left to take care for another facility.

Giving some spaces to PWD. Scott went to those spaces, and put 1 monitor, 1 PC tower. No laptop, no docking stations. Some hotel spaces, putting phone not attached to a particular person. To not attach to a particular station.
- just need

[2020-07-06 20:21] #2456 closed

[2020-07-06 21:59] Nadin-Nader commented on #1576
@TracyLinder @Sreelatha-BlazeKannan @SubhaShroff I Reviewed the demo for this and found that it meets the acceptance criteria and it is ready.

- [x] The Expire EX Folder batch job is promoted to Prod. It runs daily.
- [x] EX folder will expire the morning after the folder expiration date

[2020-07-06 22:16] #3193 closed

[2020-07-06 22:31] dianamartin opened #3251 "Delete "csr_flex_notes" from Signs & Markings - June 2020"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/signs-markings#data/object_172/records

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 5/1/2020

Total Records: `17,666`
To Delete: `6,113`
New Total: `11,553`

[2020-07-06 22:35] dianamartin commented on #3251
## Total Number of Records
![image](https://user-images.githubusercontent.com/21112975/86658922-0c9cb500-bfaf-11ea-9758-ac3ae8e4a584.png)

## To Delete
![image](https://user-images.githubusercontent.com/21112975/86658859-00185c80-bfaf-11ea-85ef-c2fa652fbdab.png)

[2020-07-06 22:36] dianamartin commented on #3251
![image](https://user-images.githubusercontent.com/21112975/86659056-2807c000-bfaf-11ea-8261-347cf9123b6c.png)

started: 5:36 pm
ended: 5:38 pm

[2020-07-06 22:37] amenity opened #3252 "Review request with SMB"
Scheduled for 7/7

[2020-07-06 22:37] amenity opened #3253 "Builder Huddle on Banners Availability Calendar"
Monday 7/13/20.

[2020-07-06 22:38] #3251 closed

[2020-07-06 22:39] dianamartin commented on #3247
@johnclary @alan-deanda Add any notes here, I'll check back tomorrow and close it if there's nothing to add.

[2020-07-06 22:40] dianamartin commented on #3189
Scott responded saying he's set his up - MS Authenticator app
Amenity - configured sending security code via text to access MS 2FA

[2020-07-06 22:50] dianamartin commented on #3172
## Updated in Socrata
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/caeae42b-643d-42fa-ad1d-d8d116f70694)

[2020-07-06 23:17] dianamartin commented on #3172
@johnclary if i change the name of the knack object from `hazard_flashers' to `flashing_beacon`, will it break the script?

I plan to check the AGOL layer to see if it updates, I think it updates at around 3 am.

Also, I didn't change the AGOL dataset name to "Flashing Beacons" bc I was scared it would break. I didn't touch it. I did rename the Socrata dataset however.

Let me know what I should d

[2020-07-07 14:17] dianamartin commented on #3172
@johnclary FYI: I just checked the Data Publication log, there was an error for the `hazard_flashers_agol` bc it seemed like it was looking for that "ATD_FLASHER_ID" field.

[2020-07-07 14:38] dianamartin commented on #3143
Querying `signals_detectors`
- [ ] Detection Type `CBD/NO DETECTORS` is 69 records
- [ ] Detection Type `CBD/NO DETECTORS` rename to `PRE-TIMED`
- [ ] Delete Detection Type `CBD/NO DETECTORS` - after Joshil updates the field with either `PRE-TIMED` or `NO DETECTION`

[2020-07-07 14:47] #3165 closed

[2020-07-07 14:47] dianamartin commented on #3165
@johnclary Closing, we have a follow-up `DTS Huddle: Citywide Speed Limit Conversion` scheduled 7/7 at 2 pm

[2020-07-07 15:12] dianamartin commented on #3177
Emailed the users that had been identified as having submitted a bunch of "File Attachments". I needed to get feedback on "Attachment Types" so we can add them to File Attachments. We also need to create a better workflow for the AMD Work Order.

[2020-07-07 15:15] dianamartin commented on #3201
@johnclary So do you want me to just coordinate with Christina on when she can set-up training for the engineers on how to create locations?

Should we sync up before I do this?

[2020-07-07 15:25] TracyLinder opened #3254 "LM Click Map - Update LM Map Across All Sub-Types"
### As an LM applicant, I need to be able to add multiple properties, and have the option to add segments if needed or to skip adding segments.

**Stakeholders:** Arthur, Melissa

**Acceptance Criteria:**
- The map-viewer that's currently in test for the License Agreement sub-type is applied to all LM folder sub & work types. (7/27/20)

[2020-07-07 15:25] TracyLinder opened #3255 "LM Click Map - Allow Multiple Folder Properties"
LM applicants need to be able to add multiple properties during the application workflow.

![image](https://user-images.githubusercontent.com/49930868/86805044-2258bb80-c03d-11ea-818e-5f0011bfd8ed.png)

[2020-07-07 15:28] atdservicebot opened #3256 "Want to join the wait-list for call-forwarding. I meant to ask if we could make phone calls via Team..."
Other / Not Sure

Want to join the wait-list for call-forwarding. I meant to ask if we could make phone calls via Teams, but forgot. Just haven't had luck and employees/managers keep calling my desk phone (leaving messages) and i can't answer/intercept.

I did also see that central HR comes up as a city number when they are calling from their cell phones. Is that something extra?

Any suggestions

[2020-07-07 15:58] dianamartin commented on #3256
I messaged Adan on Teams, hear more about what he wants. I asked him about his computer set-up to see if his hardware requirements made him eligible to download Avaya OneX Communicator. He checked all the boxes.

I sent him the ATD Staff Resources wiki where the instructions were, he began downloading. He got caught up bc it asked for admin credentials. I remoted into his laptop and put my credent

[2020-07-07 15:58] #3256 closed

[2020-07-07 16:11] dianamartin commented on #3177
## Attachment Type categories
I’m seeing these categories come up repeatedly:

- [ ] Diode Card
- [ ] Field Images
- [ ] Permit
- [ ] Phasing Sheet
- [ ] Signal Modification
- [ ] Signal Layout
- [ ] Timing Sheet
- [ ] Traffic Control Plan (TCP)
- [ ] Wiring Plans
- [ ] Other
- [ ]

We can plan on keeping the field “File Description” to allow a more descriptive field of what the attachment is.