[2022-06-15 17:49] dianamartin commented on #9490
# Notes from Sprint Review - 6/9/22

## Bug/Minor Functional Changes
- [x] BUG: Hide “Business Structure Type” - Other, hide field unless “Other” choice is selected
- [x] Replaced “Created Date” on a Attachments table in My Applications, only showed “Modified Date”
- [x] Edit Application form: changed a form submission rule to redirect to parent page
- [x] Successful submission notification email

[2022-06-15 18:10] #9265 closed

[2022-06-15 18:25] KaroEngstrom opened #9493 "Update Court Case Management System based on Tech Review v2 Feedback"
Based on team review W 6/22/22, update the following items:

- [x] Revise and resubmit functionality
- [x] Add Inactivate Attachment functionality
- [x] Configure when Court Case Number is added and displayed: made the CC# display; need to ask SMEs when the court case number comes in so I can configure the means to add it in (currently can add it via edit at any point; they may want a dedicated bu

[2022-06-15 18:30] dianamartin opened #9494 "[BUG] Need SMO deleted promo code backup records from Knack"
_Originally posted by @dianamartin in https://github.com/cityofaustin/atd-data-tech/issues/9469#issuecomment-1156719837_
- [x] Downloaded spreadsheet
- [x] Update spreadsheet
- [x] Added "Type" field to indicate
  - "Austin Energy" or "City of Austin" codes
- [x] Imported new COA `100 records`
- Import didn't work well, Promo Code wasn't populated

## While completing this step, I accidentally...

[2022-06-15 18:34] dianamartin commented on #9494
Patrick is aware of this, I told him right away. I checked the system and I remembered that there were about ~500 to 600 records in the promo object table.

I queried the table to see if the 100 new records I imported that came out blank were part of the deleted batch. Looks like they were a different 100 records.

[2022-06-15 18:44] #9413 closed

[2022-06-15 18:46] mateoclarke opened #9495 "Comments with rich text should render with rich text features & rich text should get sanitized before entered the DB"
You can make a status update with rich text from the Dashboard modal. You can make an internal note with rich text from the Project Comments tab.

But depending on where you view the Internal Note or Status update (two types of comments)  the rich text does not render.

Also, make sure we sanitize any rich text going into the DB with DOMPurify.

[2022-06-15 18:52] mateoclarke opened #9496 "Add new "Notes" section to Crash Details page"
- [x] As a first step, add a new card component to the Crash Details page for notes following the pattern of other cards displayed currently.
- [x] Write a GraphQL query that pulls all the notes for a given crash
- [x] display data from the GraphQL response in a UI table as is mocked up.
- [x] Make sure this works for both read-only and editor user types.

![](https://camo.githubusercontent.com/6a

[2022-06-15 18:53] mateoclarke opened #9497 "Add ability to create a new note"
A user with editor access should be able to create a new note

- [x] Conditionally display form field for "Date" and "Note" text if user is an editor. Hide when user only has read-only access
- [x] Use current date as default, but allow user to select date with datepicker UI. Highlight date field with focus when active.
- [x] When the user clicks "Add" button, send a graphQL mutation to insert a n

[2022-06-15 18:53] mateoclarke opened #9498 "Add ability to edit & delete an existing note"
Editing will allow staff to make small changes to existing notes. Date will remain the same after editing.

In order to edit, user will click on pencil button. Text box will highlight blue, and user will have the ability to make changes to the text.

User can choose to save the updated text by selecting the blue check mark button, or exit editing by clicking on the red X button.

![Notes – Edit mo

[2022-06-15 18:58] Charlie-Henry commented on #9339
I have some code for this @mateoclarke, would it make sense for us to start an `atd-data-science` or `atd-data-viz` repo?

[2022-06-15 18:59] dianamartin commented on #9490
-[x] Created [workflow](https://miro.com/app/board/o9J_l4LSuvE=/) for customer navigation

[2022-06-15 19:03] Charlie-Henry commented on #9445
I worked on [dash](https://plotly.com/dash/). Created some combination plots using dash with a little selector. Also created a function that would query the crash dataset on socrata for crashes within 100 feet of intersections.

https://github.com/Charlie-Henry/Dash-Discovery

[2022-06-15 19:03] #9445 closed

[2022-06-15 19:09] Charlie-Henry commented on #9338
I've reenabled `app_data_to_db` and it ran with no issues. I added some additional logging so I will close this for now.

[2022-06-15 19:09] #9338 closed

[2022-06-15 19:18] dianamartin commented on #9053
# Pages to update with views, scenes, form
- My Work Order -
- Work Orders - Technician
- Work Orders - Non-Technicians
- My Work Orders - Prototype

[2022-06-15 19:19] mateoclarke commented on #9053
Javascript essentially needs to do this business logic:
If the user value in the Lead Tech field matches the current user, disable the field from being updated.

Diana will provide a list of scenes and views (including one that is currently hidden from users in production)

[2022-06-15 19:24] dianamartin commented on #9153
## Code
// --- Begin Item Copying ---
$(document).on("knack-view-render.view_315", function (event, view) {
  // automatically submit 'copy' form when modal renders
  $("button[type=submit]").submit();
});

$(document).on("knack-form-submit.view_315", function (event, view, record) {
  // Insert a copy of an item to the same purchase request

  var formUrl =
    "https://api.knack.com/v1/pages/sce

[2022-06-15 19:37] Charlie-Henry commented on #9357
Summary of changes:
Overall:
- Added new buttons for switch between views and hid all tabs to make it easier to navigate

2020 Bond view:
- Added new Department drop-down selector
- New Programs and Subprograms added

All bond spending view:
- New tab that visualizes all three bond programs.

2020 Bond schedule view:
- Gantt Chart of bond work with 5 tiers of hierarchy
- Program and Sub program dr

[2022-06-15 19:39] ChrispinP commented on #9103
Did initial SSO setup on the Reviewer Dashboard login page

Created the ServiceNow ticket: INC0203209

Emailed CTM to setup. Pending Response

[2022-06-15 19:43] patrickm02L commented on #8738
Discussed in Product Sync 6/15. We'll need to finish creating patterns in the [spreadsheet ](https://cityofaustin.sharepoint.com/:x:/s/atdDTS/EYEsJQHWFZdAnKoTviLAhyYByf4E6C8OWeiVax9jdA_MjA?CID=2353568F-649C-4733-8F69-6831E0811041&wdLOR=c5B5B5623-F0C1-4AB2-93E1-0B9A5F8C3BB5) before Dev can start developing.

Revisit for 6/29/22 Sprint.

[2022-06-15 19:46] andrewshensky opened #9499 "Transfer Ownership of SIF Service Area Storymaps"
PIO has requested ownership of 18 storymaps be changed to new user for additional editing

[2022-06-15 19:47] andrewshensky commented on #9477
This data has now been provided to requestor

[2022-06-15 19:47] #9477 closed

[2022-06-15 19:48] andrewshensky commented on #9464
Michael S. has now been confirmed as added to both classes

[2022-06-15 19:48] #9464 closed

[2022-06-15 19:49] andrewshensky commented on #9491
Request has been submitted to CTM to have ability added in geodatapusher to update Signals layer in DM

[2022-06-15 19:51] andrewshensky commented on #9378
I believe this can now be closed. I have not heard anything additional regarding this in the past few days.

[2022-06-15 19:51] #9378 closed

[2022-06-15 19:54] andrewshensky commented on #9351
This data has been delivered over the past couples week. Data for all month has now been added to the parking transaction dashboard. I am expecting additional changes/modifications but will be closing this specific issue.

[2022-06-15 19:54] #9351 closed

[2022-06-15 20:29] dianamartin commented on #9053
@mateo added the scenes and views to the issue, see comment above.

[2022-06-15 20:46] atdservicebot opened #9500 "[Data Tracker] Daniel Account Access"
Data Tracker

Daniel is a new staff engineer and needs access to the DATA TRACKER.  When trying to access the DATA TRACKER from the main login page using COA account, the system does not let him login and kicks him back to the main login page.

Soon — This week

Daniel W.

Request ID: DTS22-104370

[2022-06-15 20:51] Charlie-Henry commented on #9340
Fixed, now the chart will show the date down to the time as well. So now any dupes on a single day will not create a double amount for that day. Closing this.
<img width="356" alt="Screen Shot 2022-06-15 at 3 50 48 PM" src="https://user-images.githubusercontent.com/30810522/173925088-5ef3884f-34a8-4c5b-a60a-58a7e2f0ee76.png">

[2022-06-15 20:51] #9340 closed

[2022-06-15 20:51] dianamartin commented on #9500
@ChrispinP Can you please figure out what they're trying to do and whose account to mirror?

[2022-06-15 21:00] andrewshensky opened #9501 "Transfer Ownership/Make StoryMap Public"
PIO has requested the Shared Streets Pilot Program storymap be made available to the public

[2022-06-15 21:02] #9501 closed

[2022-06-15 21:30] mateoclarke commented on #9472
We discussed this briefly in Dev Planning but decided we needed @amenity's input

[2022-06-15 21:41] mateoclarke commented on #9495
This is one example of where we're stripping out the tags:
https://github.com/cityofaustin/atd-moped/blob/main/moped-editor/src/views/projects/projectView/ProjectSummary/ProjectSummaryStatusUpdate.js#L56

[2022-06-15 21:51] patrickm02L commented on #8546
Work continued on #9357.

[2022-06-15 21:51] #8546 closed

[2022-06-15 21:57] ChrispinP commented on #9275
Street Map Lookup button added
![image](https://user-images.githubusercontent.com/67915167/173938396-394e3a8b-dfd0-4392-9729-078df3bf0bd2.png)

closing as complete

[2022-06-15 21:57] #9275 closed

[2022-06-15 21:58] patrickm02L commented on #9339
Charlie with create a repo called `atd-data-viz `in https://github.com/cityofaustin.

[2022-06-15 21:59] ChrispinP commented on #9500
Added Daniel to Data Tracker as Viewer. Emailed user.

complete, closing

[2022-06-15 21:59] #9500 closed

[2022-06-15 22:01] patrickm02L commented on #8733
Unassigned @mateoclarke and @Charlie-Henry on 6/15/22 Sprint review to clean things up a bit. They'll continue to be notified if things change in the epic.

[2022-06-15 22:03] ChrispinP commented on #9422
John confirmed all records were not in the dataset. Melissa requesting a meeting to go over in greater detail what makes a COS fee record active vs archived and how the JV update affects that.

@johnclary would you like to schedule this meeting with Finance?

[2022-06-15 22:03] patrickm02L commented on #7887
@johnclary we're closing this Issue but if you have any feedback please feel free to chime in.

[2022-06-15 22:03] #7887 closed

[2022-06-15 22:07] patrickm02L commented on #7601
@johnclary wanted to get your thoughts on getting permissions to make this data set public. Charlie and I have talked to Joseph a few times, but he's hesitant release the data until the parking inventory is up to date.

[2022-06-15 22:10] ChrispinP commented on #9447
**App Administration menu:**
![image](https://user-images.githubusercontent.com/67915167/173940285-cb06d51a-3740-4d1f-bbfe-631347cd0d95.png)

**Add Regulation Item button and table:**
![image](https://user-images.githubusercontent.com/67915167/173940418-7fd2c0c7-84e9-4b3b-a7d7-487fed8e1016.png)

**Backfill form:**
![image](https://user-images.githubusercontent.com/67915167/173940527-7a6f80b6-0716-

[2022-06-15 22:12] patrickm02L commented on #9065
@Charlie-Henry will schedule a meeting with Tracy when she returns to go over details.

[2022-06-15 22:14] patrickm02L commented on #8945
Charlie will wrap up by merge, and hope everything goes well by 6/17.

[2022-06-15 22:24] patrickm02L commented on #9471
Cleaning up Charlie's Issue 6/15/22. He hasn't really worked on this, so I'm un-assigning him.

[2022-06-15 22:29] patrickm02L opened #9502 "June SD2023 Reporting"
We have three items that are scheduled in June that need updating, probably need a new issue for these.

Data received:
Data | Measure ID | Contact
-- | -- | --
- [x] | M.A.2.b | Lance B, Allyson R
- [x] | M.A.5.b | Lance B, Allyson R
- [x] | M.C.6.b | Nathan W

Narrative received:
Data | Measure ID | Contact
-- | -- | --
- [x] | M.A.2.b | Lance B, Allyson R
- [x] | M.A.5.b | Lance B, Allyson R
-

[2022-06-15 22:32] patrickm02L commented on #8863
Closing this and making a new epic.

[2022-06-15 22:34] patrickm02L opened #9503 "SD 2023 Reporting"
Updating Strategic Direction Socrata datasets. Working toward goals for 2023. There are other goals that reference 2029.

[SD 2023 Dashboard](https://data.austintexas.gov/stories/s/Mobility-Dashboard/gzb5-ykym/)

[2022-06-15 22:52] patrickm02L opened #9504 "[Spike] Develop Metrics to Include in Dashboard"
Collect data from SD reporting. Look through the goals and measure that support those goals to help determine if they offer any insights to help guide the strategic direction.

Reference: [Public Works dashboard](https://cityofaustin.sharepoint.com/sites/PW/OPM/PWStat/Pages/SBOReports.aspx)

[2022-06-15 23:57] #9467 closed

[2022-06-16 14:00] rebeccabrand opened #9505 "1:1 meetings with Dev team"
### Objective
For Rebecca to meet members of the DTS development team, allowing her to familiarize herself with the team's work and flag any potential collaborations for her summer fellowship projects.

### Participants
- [x] Meeting with Chia @ 10:30 AM EST, 6/16

- [x] Meeting with Frank @ 12 PM EST, 6/16

- [x] Meeting with Tilly @ 2 PM EST, 6/16

- [x] Meeting with Mike @ 4 PM EST, 6/17

- [x]

[2022-06-16 14:17] rebeccabrand opened #9506 "Set up Dev environments"
**Planning to update after 1:1 meeting with @frankhereford at 11 AM CST / 12 PM CST on Thursday, June 16.**

As a UX/UI designer with the DTS team, I want to set up appropriate GitHub repos on my local device so that I can better understand the link between the design & development of our tools.

**Is your feature request related to a problem? Please describe.**
N/A

**Describe the outcome you'd l

[2022-06-16 14:51] andrewshensky commented on #9499
Ownership has now been transferred for new user to edit maps.

[2022-06-16 14:51] #9499 closed

[2022-06-16 14:54] andrewshensky opened #9507 "Configure AGOL Account/Submit Ticket for DM Access"
ATSD has an new employee (Nicole A.) that needs their AGOL account configured and Access to DM. Scott will be handling the ArcPro Install.

[2022-06-16 15:10] atdservicebot opened #9508 "[Formstack] The "Get Home Safe Form" giving an error message when you trying to submit"
Other / Not sure

The "Get Home Safe [Form](https://cityofaustin.formstack.com/forms/get_home_safe_parking_ticket_waiver_form)" on the Austintexas.gov [website](https://www.austintexas.gov/article/know-you-go-get-home-safe) is giving an error message when you try to submit the form. Not sure how long this issue has been not working.

https://cityofaustin.formstack.com/forms/get_home_safe_parking_t

[2022-06-16 15:12] patrickm02L commented on #7718
Potential Issue for Rebecca.

[2022-06-16 15:27] moorerst opened #9509 "Modify contact information in Knack RPP"
Update contact information in Knack RPP
Effective 6/17 Steve is changing positions and going to work for ROW Permitting.

- [x] Remove Steve's contact information and add Paul B and Shameca T

https://atd.knack.com/parking#contact-us/
https://atd.knack.com/parking#rpp/

[2022-06-16 15:51] #9492 closed, assigned to mateoclarke, roseeichelmann

[2022-06-16 15:56] johnclary commented on #9422
yes @ChrispinP will schedule - thanks

[2022-06-16 15:58] johnclary commented on #9340
nice!

[2022-06-16 16:00] patrickm02L opened #9510 "Conduct VZ discovery to determine how to build VZ/Moped Viewers"
On 6/16 Rebecca and Patrick talked about what we needed to suss out what to build for the Vision Zero/Moped Viewers. It will include a combination of reviewing the research from last year's CIC Fellow, comparing NYC Vision Zero Viewer and ATX VZV and reviewing current Issues for Viewer builds.

Reference:
- [Research Summary](https://docs.google.com/presentation/d/1oqPyPEg_Gyt4_mYj-t4ZFob5tdqsX296

[2022-06-16 16:22] #9385 closed

[2022-06-16 16:22] ChrispinP commented on #9509
Updated the RPP Portal, Payment Options, & Contact Us pages. Updated Permitting Office Location record.

complete

[2022-06-16 16:32] andrewshensky opened #9511 "Create Viewer for Displaying Special Event Occurence by Street Segment"
OSE is request a viewer be created showing special event occurrence by street segment

[2022-06-16 16:52] moorerst commented on #9151
@dianamartin I reviewed the updates and all looks good.

[2022-06-16 16:52] frankhereford opened #9512 "Deploy Hasura graphql-engine 2.7.0 to staging"
With the merge of [the-devil-is-in-the-details](https://github.com/cityofaustin/atd-moped/pull/666) into main, the `graphql-engine` 2.7.0 needs to be deployed to staging. This will require some devops, in the form of configuration changes, in AWS to deploy the correct version of `graphql-engine` in the task definition for our staging ECS cluster.

I propose the following deployment plan:

1) Docum

[2022-06-16 16:52] moorerst commented on #9509
Confirmed complete. Closing issue

[2022-06-16 16:52] #9509 closed

[2022-06-16 16:54] frankhereford opened #9513 "Deploy Hasura graphql-engine 2.7.0 to production"
With Hasura's `graphql-engine` having run in staging for an acceptable amount of time and passed any tests required of it, a plan to install this same version in production is required. The process should be similar to the deployment onto staging, and I will propose a punch list of deployment steps in reply to this issue.

[2022-06-16 16:55] frankhereford opened #9514 "Moped `graphql-engine` upgrade to 2.7+"

[2022-06-16 17:30] johnclary opened #9515 "Enhancement: Remove "Projects" header from project list"
Remove the "Projects" header from the top of the projects list. This would save vertical space, and align us a bit better with the personalized dashboard page, which does not have a header.

Before:
<img width="1139" alt="Screen Shot 2022-06-16 at 1 28 12 PM" src="https://user-images.githubusercontent.com/14793120/174131152-70a709b1-528d-442d-a491-0ab2fbe9e4e2.png">

After:
<img width="938" alt="S

[2022-06-16 18:05] #9209 closed

[2022-06-16 18:44] KaroEngstrom opened #9516 "My Cases: After completing Review Process build, add menu filters by status?"

[2022-06-16 19:27] mateoclarke commented on #8960
This is still on my plate to break down into smaller tasks but going to wait until we get further along with https://github.com/cityofaustin/atd-data-tech/issues/9297

[2022-06-16 19:27] mateoclarke opened #9517 "Update database schema for Fatality Review Board Recommendations"
- [x] Create `fatatality_review_board_recommendations` DB table
  - id: auto increment primary key
  - crash_id: integer (foreign key to `atd_txdot_crashes`)
  - coordination_partner_id: integer (foreign key to `atd__coordination_partners_lkp`)
  - recommendation_status_id: integer (foreign key to `atd__recommendation_status_lkp`)
  - text: string
  - created_at: timestamp
  - created_by: user_id

[2022-06-16 19:28] mateoclarke opened #9518 "Add component to display existing Fatality Review Board Recommendations for a crash"
This section will live below the Crash Narrative section and above the Notes section.

It will include two drop down menus to capture the `Coordinating Partners` and `Status`, as well as an area to add text updates.

![Notes-0.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/0cdcff99-f92b-4f69-be95-7ea83ffd461a)

TK: @mateoclarke to fill in feature requirements here.

[2022-06-16 19:28] mateoclarke opened #9519 "Make Fatality Review Board Recommendations editable"
Editing capabilities on recommendations will only be available to those with `Editor` ,`Admin` , or `IT Supervisor` permissions. They will have the ability to edit `Coordination Partners` and `Status`, as well as the text update.

**Ability to Edit**
Grey pencil button is visible.

![Recommendations – Edit mode – Buttons on right.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/7

[2022-06-16 20:25] ChrispinP commented on #9103
Received the XML Metadata from CTM.

Traffic Register is successfully setup with SSO. Tested by Karo and I. Saved IP Cert in 1Password.

Enabled SSO for all Login pages and added a login page for the Home page.

complete

[2022-06-16 22:53] Sreelatha-BlazeKannan commented on #8916
@Nadin-Nader , @TracyLinder , @vschandramouli  - PROD DP Submitted. Please approve and create task id for me.

Commit order to promote changes from TEST to PROD
1.	Manual commit as per the DP (Please make sure Gita/George updates the user permission as per TEST)
2.	Post the ATD-SIF Review documents template in PROD Server
3.	Commit Order 1 – ee87bf3c08dd
4.	Commit Order 2 - 4561676cc5c0

[2022-06-17 13:55] dianamartin commented on #9449
Scott replied 6/16

[2022-06-17 13:55] #9449 closed

[2022-06-17 13:58] dianamartin commented on #9151
Closing issue, now that PM tested feedback updates.

[2022-06-17 13:58] #9151 closed

[2022-06-17 14:27] atdservicebot opened #9520 "Assist User with AGOL Access"
ArcGIS

Hello! I am a summer fellow working on UX/UI design with DTS. I'm hoping to take a look at the existing proof-of-concept for the improved Moped viewer, which has been built through and hosted on ArcGIS Online. Could I please get log-in/edit access for whichever ArcGIS Online account is associated with this work? Thank you!

Soon — This week

My review of the current proof-of-concept is cri

[2022-06-17 14:35] Charlie-Henry commented on #9520
@rebeccabrand, @andrewshensky can set you up with access to AGOL 👍

[2022-06-17 14:41] atdservicebot opened #9521 "[URGENT] 311 and Datatracker are not talking/service requests not coming from 311"
Data Tracker

311 and Datatracker are not talking/service requests not coming from 311

https://atd.knack.com/amd#mmc/

Allyson R.

Request ID: DTS22-104385

[2022-06-17 14:44] rebeccabrand commented on #9520
Thanks @Charlie-Henry & @andrewshensky!

[2022-06-17 15:10] frankhereford commented on #9521
There's a meeting with the folks who run the ESB this morning, and we'll bring this up if the ESB outage is on-going.

[2022-06-17 15:36] rebeccabrand commented on #9510
Making a Miro board to compile [initial thoughts & findings here. ](https://miro.com/app/board/uXjVOsWhYcQ=/?share_link_id=203291198518)

[2022-06-17 16:10] mateoclarke opened #9522 "[BUG] Exception error in local VZE Location crashes list"
**Describe the bug**

When you try to clear search field data from a Location page, you can bomb the app.
I discovered this Bug in my local dev environment and I'm curious if its a real concern/regression.

(Note: this is not currently replicable in staging or production VZE instances)

**URL**
https://localhost:3000/#/locations/644AF55CFC

**What steps can we follow to reproduce the bug you are s

[2022-06-17 16:15] dianamartin commented on #9222
We completed our usability testing/training with the SMS team at our 6/17 meeting. They created provider contacts and provider accounts. Showed how to link and unlink accounts.

[2022-06-17 16:15] #9222 closed

[2022-06-17 16:41] #9520 closed

[2022-06-17 16:48] andrewshensky commented on #9507
AGOL account has been configured and DM account ticket has been submitted. Leaving this issue open until CTM confirms DM account was created.

[2022-06-17 16:50] andrewshensky commented on #9511
This viewer has now been created and shared with requestor.
https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=b4d6adeb79564a608ae18c65f2762614

[2022-06-17 16:50] #9511 closed, assigned to andrewshensky

[2022-06-17 16:55] patrickm02L commented on #9322
Alan presented to the Austin SS4A Grant App meeting on 6/17/22 on the progress of the [AGOL map](https://austin.maps.arcgis.com/apps/dashboards/9d92714102b54ff5b2ca5836b13188c0).

[2022-06-17 16:56] frankhereford commented on #9521
No mention of the ESB in this context during the meeting, and the service appears to be restored to a nominal status. @dianamartin indicated she'd write Allyson & the MMC with this news. 🙏

Thanks!

[2022-06-17 16:56] #9521 closed

[2022-06-17 16:56] roseeichelmann commented on #9522
I was able to reproduce this bug, here is the error message I got:

![Screenshot from 2022-06-17 11-49-58](https://user-images.githubusercontent.com/67130963/174343590-e29afbc4-bcfe-45aa-9efd-d520e294cc44.png)

[2022-06-17 16:59] andrewshensky opened #9523 "Request for GIS TRAIN Class - Sydni L."
User needs to be added to coming Spatial Analysis Class through TRAIN

[2022-06-17 17:01] andrewshensky commented on #9523
Request has been submitted to have user added to requested class. I will leave this issue open until I receive confirmation user has been added.

[2022-06-17 17:17] andrewshensky opened #9524 "Update Bike Route Comfort Level FS/Share with ATSD"
The bike route comfort level feature service needs to be updated to reflect changes made during last CTN monthly updates. ATSD would also like to use the FS for analysis they are conducting so it should be shared with them after update

[2022-06-17 17:53] #9249 closed

[2022-06-17 18:12] johnclary opened #9525 "Enhancement: Display an alert banner when viewing a deleted project"
If a project is "deleted", it's still possible to navigate to it using the project URL. However, when viewing a deleted project, there's no way to tell that the project is in a deleted status.

We should provide obvious visual feedback when viewing a deleted proejct.

[2022-06-17 18:21] dianamartin commented on #9494
I had submitted a knack ticket to undo the batch delete on 6/15.

Sterling from Knack replied

﻿
To get this completed we will need confirmation directly from the account holder's email address.

I asked about the restoration and he replied

I emailed from transportation.data email and sterling was able to process the request.

[2022-06-17 18:21] #9494 closed

[2022-06-17 18:22] dianamartin commented on #9494
@patrickm02L I checked the back end and saw that the records were in the ~600+ records rather than ~500+ records. I think everything has been fixed.

[2022-06-17 18:24] dianamartin commented on #9469
Eliza followed-up 6/15

I had just updated the codes and replied back on 6/15

Also let her know about the accidental deletion.

[2022-06-17 18:24] #9469 closed

[2022-06-17 18:33] #9257 closed

[2022-06-17 18:34] johnclary commented on #9257
It's done! I let Renee and Ivonne know that we updated 150 projects with missing milestones.

[2022-06-17 19:12] johnclary commented on #9238
We met again today. We discovered that the flex note field maps were not configured correctly. Robert was just able to fix that. He's still working on configuring the activities. We're working async on teams.

Once the inbound activities are sorted, we'll need to decided what the "stop paging" UI should look like. i'm going to make a separate issue for that @dianamartin

[2022-06-17 19:19] Sreelatha-BlazeKannan commented on #8916
@Nadin-Nader , @TracyLinder , @vschandramouli - Created Task ID with Subha's help here is the ID -
SCTASK0226694, SCTASK0226700(manual) for your reference. Sent an email to Gita on MITCHLLA user access. Following it up with George on PROD Move.

[2022-06-17 19:27] andrewshensky commented on #9491
CTM has now added the functionality to push signal updates from Maint to DM.

[2022-06-17 19:27] #9491 closed

[2022-06-17 19:31] andrewshensky commented on #9475
CTM has updated the functionality in Geodatapusher and the updates have been pushed from AGOL to Maint and then to DM. I have communicated with the requestor that these updates have now been made.

[2022-06-17 19:31] #9475 closed

[2022-06-17 19:32] andrewshensky commented on #9523
Sydni has now been added to the requested course in TRAIN

[2022-06-17 19:32] #9523 closed

[2022-06-17 20:14] Sreelatha-BlazeKannan commented on #8916
@Nadin-Nader , @TracyLinder , @vschandramouli  -  George have created the document on PROD. The DevOps commits will go at 5:30 this afternoon as per George. George has sent an email to Gita on User permission updates for SIFREV user.

[2022-06-17 20:33] amenity commented on #9257
Sweet! Thank you, @johnclary

[2022-06-17 20:58] Charlie-Henry commented on #9504
I started with some reports we already have Power BI that may be of interest. Peggy said she was interested in a monthly-style report similar to what PWD does with their operations reports.

Metrics:
- Corridor travel times (from INRIX data, exactly how Lance and Allyson are getting the data into Power BI I'm not sure) [link](https://app.powerbigov.us/links/ignL8e-xE_?ctid=5c5e19f6-a6ab-4b45-b1d0-

[2022-06-17 21:35] dianamartin commented on #9490
# Short List
- Context Update
  -  Context on “Get Started” - should we have the information about “Expression of Interest” form there? (Some users got confused)
See above comment

[2022-06-17 22:16] mddilley opened #9526 "Research VZE Sass build warnings and migrate"
After replacing `node-sass` in https://github.com/cityofaustin/atd-vz-data/pull/1074, the app build shows several warnings relating to Sass deprecations. It creates noise and could impair build troubleshooting in the future.

The link in the warnings is dead, but quick search points to https://sass-lang.com/documentation/cli/migrator as the way forward here.

Link to log and example:
https://app.n

[2022-06-17 23:11] amenity commented on #9472
@chiaberry @johnclary - my inclination would be to restrict all comments to be edited only by their author. I dunno why an admin needs the ability to edit comments.

[2022-06-17 23:23] amenity commented on #9472
Just saw John's personal opinion and updating the issue accordingly.

[2022-06-18 05:42] #9455 closed

[2022-06-18 05:44] #8806 closed

[2022-06-18 06:48] mateoclarke commented on #9492
An open question we may need to re-address is if we need to store the `created_by` data as a user_id or as an email address. This depends on what's easiest to pull from Auth0, our user management and authentication database. We should reference the the Users/Staff page to review queries and Auth0 data.

[2022-06-20 13:47] patrickm02L opened #9527 "Transpose context from COA website to Dockless Online License Application"
Feedback from User testing revealed the information on the DOLA may be redundant. In order to resolve the issue of redundancy we observed that a comparison of the content from the [COA License page](https://www.austintexas.gov/page/shared-mobility-regulations-and-license-application) and the [DOLA portal homepage](https://atd.knack.com/smrt#portal/) should be consolidated/edited for efficiency.

W

[2022-06-20 14:51] patrickm02L commented on #9504
This is a great start! Can you create a Miro board where all of these dashboards or images of the dashboards exist, so then we can start to move things around visually and explore how to combine them or what elements of these dashboards we'd like to incorporate or not.

[2022-06-20 17:20] patrickm02L commented on #7240
Cleaning up the Issue. Moving this to the backlog.

[2022-06-20 18:21] patrickm02L commented on #8980
@frankhereford I'd like to work on restoring the Crash Diagrams before next VZ Sprint 7/7/22. Looking to put it on next Sprint 6/29/22. Can you help with sizing?

[2022-06-20 18:41] patrickm02L commented on #8395
Assigned you for reporting purposes. No action needs to be taken.

[2022-06-20 21:15] ChrispinP commented on #9489
Added the Announcement to the RPP Portal page:
![image](https://user-images.githubusercontent.com/67915167/174678486-3b662457-16c1-4464-83b2-a02ca236b87d.png)

ready to review

[2022-06-20 21:22] patrickm02L commented on #9448
Learned a ton! Want to continue on this path for the next Discovery Day 7/29/22.

[2022-06-20 21:22] #9448 closed

[2022-06-20 21:23] #8965 closed

[2022-06-21 03:50] amenity commented on #9472
@chiaberry - do you feel comfortable providing an estimate on this one, or would you like to discuss in grooming?

[2022-06-21 13:32] dianamartin commented on #9489
Confirmed that this message shows up on the Customer Portal

[2022-06-21 13:45] patrickm02L opened #9528 "Improve UI for "Staff" page"
Create design consistency across pages in Moped by updating the Staff page to reflect the latest header removal enhancement of the Projects page #9515.

Access design improvement in [PR 687](https://github.com/cityofaustin/atd-moped/pull/687) Netlify link.

**Current Desktop View**
![screencapture-deploy-preview-687-atd-moped-main-netlify-app-moped-staff-2022-06-20-08_58_47.png](https://images.zen

[2022-06-21 14:33] dianamartin commented on #9370
Had scoping meeting 6/21 w/ Brian VDW and Ronnie

Talked about what they wanted to accomplish:
- Having the inventory planners track their work (what PRs were entered, their status, what was received)
- Allowing stakeholders of inventory materials also be able to know what the status of the orders are

They've been tracking on a [spreadsheet](https://cityofaustin.sharepoint.com/:x:/s/atdAMD/ERhAgl

[2022-06-21 14:57] #9489 closed, assigned to dianamartin, moorerst, ChrispinP

[2022-06-21 15:09] andrewshensky opened #9529 "Transfer SIF Storymaps to ATD and Share to Public"
PIO has completed their work on the SIF Storymaps and they now need to be shared to the public

[2022-06-21 15:17] andrewshensky commented on #9529
PIO has confirmed everything is correct.

[2022-06-21 15:17] #9529 closed

[2022-06-21 15:31] dianamartin commented on #9508
I tested the form 6/21 and tried to submit the form and also received the same error message.
![image](https://user-images.githubusercontent.com/21112975/174839127-7bee7146-fb88-4be4-b22b-4cfb98fa6cda.png)

[2022-06-21 16:21] chiaberry commented on #9472
I think it should be a 2, unless we get into adding "edited" and/or "last edited" dates in the database, then i'd bump it up to a 3 and we'd need to discuss a bit in grooming.

[2022-06-21 16:25] dianamartin commented on #9508
I submitted at CTM ticket - `INC0204254`

Need to talk to CTM FormStack admin to figure out if form needs to be corrected or if new form is required. I think it has to do with the AWS to OneDrive switch because this form requires attachment uploads.

[2022-06-21 16:32] dianamartin commented on #8997
Closing, no feedback from stakeholders

[2022-06-21 16:32] #8997 closed

[2022-06-21 17:00] #9250 closed

[2022-06-21 17:13] atdservicebot opened #9530 "[AMANDA] Dan R Access for SIF"
AMANDA

I need access to AMANDA for Dan R. I need his permissions to mirror mine.

Soon — This week

By the end of the week. He is our only SIF Tech and will need to be able to log into and use AMANDA in order to do critical functions of the SIF program.

Nathan A.

Request ID: DTS22-104390

[2022-06-21 17:23] amenity commented on #4747
### Moped 1.0 Documentation
- [User guide](https://atd-dts.gitbook.io/moped/user-guides/getting-started)
- [Data dictionary](https://db-docs.austinmobility.io/atd-moped-production/index.html)
- [Project index](https://austinmobility.io/projects/307)
- [High-level project presentation](https://docs.google.com/presentation/d/1pAHCgVao0tO5aq95I6nhXuAd2_--CmwMSF3FW3PQrxY/edit#slide=id.p) - Google slid

[2022-06-21 17:31] amenity opened #9531 "[Documentation] Moped 2.0 User Guide"
Update the [Moped User Guide](https://atd-dts.gitbook.io/moped/user-guides/getting-started#using-moped-with-data-tracker)* to reflect the application's extended functionality and userbase.

_*Part of our [Moped 1.0 documentation efforts](https://app.zenhub.com/workspaces/data--technology-services-5caf7dc6ecad11531cc418ef/issues/cityofaustin/atd-data-tech/4747)_

[2022-06-21 17:32] andrewshensky opened #9532 "Sign Updates from Work Orders"

[2022-06-21 18:01] johnclary opened #9533 "[Tech debt] Choose between Formik and React Hook Form"
We're using Formik on the Logins page, and React Hook Form on the Account and Staff pages. These libraries do the same thing. Let's pick one (my preference is Hook Form) and remove the other.

[2022-06-21 18:08] dianamartin commented on #9443
Synced with Eliza on 6/21, she just needs an ability to make minor edits on some applications.

[2022-06-21 18:13] #9443 closed

[2022-06-21 18:25] TracyLinder opened #9534 "SIF Release Stabilization (Deploying to TEST)"
## Documentation of the bugs/issues encountered until stabilization date 7/21/22.

[2022-06-21 18:56] TracyLinder commented on #9534
**Permissions 6/21**
- Amber & Nate did not have insert permissions. Gita fixed accounts / users confirmed this is fixed. ✅

[2022-06-21 19:03] #8309 closed

[2022-06-21 19:04] andrewshensky commented on #9532
**Signs**
Assets Requiring QC: 1715
Total Assets: 6038
**Locations**
Total: 1857

[2022-06-21 19:04] #9532 closed

[2022-06-21 20:32] dianamartin commented on #9052
Chris thinks we should create a "grand parent" object. Need to test in TEST environment to see if this will work or be more confusing.

[2022-06-21 21:15] amenity commented on #9528
@patrickm02L @johnclary - It would be cool to get rid of the header to match the new "Projects" page! I don't think we can justify design/dev on anything beyond the page is only visible to admins, i.e. us.

[2022-06-21 21:46] dianamartin opened #9535 "Removing breadcrumb links SMRT DOLA"
## Removing breadcrumb links
  - Decision: Turn it off
  - [x] Create - NEW ISSUE
  - [x] Will try to implement this, insert [code](https://atd-dts.gitbook.io/atd-knack-operations/knack-code/functionality/disable-nav-links)

_Originally posted by @dianamartin in https://github.com/cityofaustin/atd-data-tech/issues/9490#issuecomment-1159242595_

[2022-06-21 21:54] dianamartin commented on #9535
Example

[code]

[2022-06-21 22:02] dianamartin commented on #9535
Created new application to test breadcrumb links
- [x] App Info
- [x] Parent Comp
- [x] Busi. Info
- [x] Past Perf.
- [x] Fleet Info.

[2022-06-21 22:16] dianamartin commented on #9535
Put in PR for peer review, 6/21

[2022-06-21 22:36] dianamartin commented on #9438
Checked on this project and I had started it, but had never finished it. I just had to increase the font on the form and test it out.

## My Forms - view
![image](https://user-images.githubusercontent.com/21112975/174908024-6a8231ad-a1ea-4f61-80f5-a36da6802857.png)

## HR Forms - view
![image](https://user-images.githubusercontent.com/21112975/174908116-2156dff5-9e1e-420c-93cc-2c34bcecbb34.png)

#

[2022-06-21 22:52] patrickm02L commented on #9528
Here's a quick and dirty mock up of how the Staff page might look with the header removed based on the Projects Page with header removed.

**New Projects Page Example**

<img width="1510" alt="Screen Shot 2022-06-21 at 5 37 40 PM" src="https://user-images.githubusercontent.com/5566727/174908594-4990a296-8dba-4e7c-a3b1-09ce0770b576.png">

---

**Proposed Design Update**
 - Remove the "Staff" header

[2022-06-22 00:23] amenity commented on #9330
@chiaberry - I spoke with @johnclary and he's good with the simplified approach we discussed where the parent project appears under the project description:
![Screen Shot 2022-06-21 at 4 44 21 PM](https://user-images.githubusercontent.com/1463708/174917704-7235a9d4-0813-489c-a341-7793ab7acfb4.png)

[2022-06-22 01:40] johnclary opened #9536 "Upgrade to react-router v6.3"
React-router v6 had a number of breaking changes since we adopted the v6.0.0beta release. We need to upgrade to a stable release so that we can move on to other outdated package updates.

[2022-06-22 05:10] amenity commented on #9531
See #9434 for potential tools. 😻

[2022-06-22 13:37] dianamartin commented on #9348
Dan replied 6/10

[2022-06-22 13:37] #9348 closed

[2022-06-22 13:57] johnclary commented on #9330
@amenity does the underline implies that you can edit the parent project to something else? i suggest this renders as a hyperlink to the parent project.

[2022-06-22 14:05] johnclary commented on #9528
@patrickm02L this looks really good! what do y'all think about grouping the download button with the Add Staff button? or, if we want to be ruthless about vertical space, moving the Add Staff Button and filter toggle to be inline with the search and download buttons.

[2022-06-22 14:30] moorerst commented on #9213
The system launched 6/21 for Orange Zone permit renewals. Closing issue

[2022-06-22 14:30] #9213 closed

[2022-06-22 14:34] moorerst commented on #9026
The new portal for RPP Orange Zone renewals launched 6/21. Residents from other zones will continue to purchase permits from the Knack system until further notice. No need to redirect residents at this time. When all the zones have transitioned to Passport we will open a new issue.

[2022-06-22 14:41] moorerst opened #9537 "HR Digital SSPR Sprint Review"
Scheduled 6/29

Agenda:
Review work flow
Review form updates
Review access @ Employee, Supervisor and Division Manager level

will schedule a check in meeting with Diana prior to this meeting

[2022-06-22 14:53] amenity commented on #9330
@johnclary - yes! Good call.

[2022-06-22 14:54] dianamartin commented on #8761
Will show and demo to stakeholder on 6/27

[2022-06-22 14:56] dianamartin commented on #9050
## Follow up on 6/27
- Ask Brian about decision about "No Inventory Used" for materials
- Need to have quantity on hand for this to work

[2022-06-22 15:32] #9356 closed

[2022-06-22 15:48] ChrispinP commented on #9093
Reached out to Mike and Chia on what is needed. For now we are going to attempt a more modular approach so right now there is no need to create every combination of field mapping for each variation of reg text. Moved documentation to the [Google Drive - Reg Text Automation](https://docs.google.com/spreadsheets/d/1keWdmOVl2GM4KTnm-KbnCI8HJc01anq5VlAdbzyf4Us/edit#gid=1749632919).

Ready for Devs, no

[2022-06-22 15:56] dianamartin commented on #9508
Syncing with Mireya 6/22 on the bug

I said

[2022-06-22 16:08] atdservicebot opened #9538 "Add a "Rapid Response Maintenance" field to Markings Maintenance Work Orders"
Signs & Markings Operations

Would like to add a "Rapid Response Maintenance" field check box to Markings Maintenance Work Orders. A special rapid response group is being created to do only maintenance. This group will be creating maintenance work orders (which technicians are already able to do).

 We would like to add a rapid response maintenance check box field that the Lead Technician can use

[2022-06-22 16:15] chiaberry commented on #9440
I am hoping once this PR is merged (https://github.com/cityofaustin/atd-moped/pull/692), this bug will be solved

[2022-06-22 16:17] atdservicebot opened #9539 "Add "Banners Calendar" link to Signs and Markings Admin menu bar in Signs and Markings application"
~Street Banners~, Signs and Markings Operations

If possible, we would like to link this page (https://atd.knack.com/street-banners#calendar/) as a button on the same line as the "Project Cost Estimates" button on the Signs | Work Orders page.

The Signs & Markings Supervisors would like to have the banner calendar more visible so they can assist Joseph (the Banners Specialist) with scheduling as

[2022-06-22 16:51] patrickm02L opened #9540 "Project: Private-Public Partnership (P3) Management"
Smart Mobility Office staff would like to track new projects by private sector organizations wishing to propose smart mobility projects.

## Background

The Smart Mobility Office would like to improve the workflow and management of smart mobility projects. They currently have a process that requires them to download responses and then populate them into a tracking spreadsheet. It's a fairly manual

[2022-06-22 16:56] TracyLinder opened #9541 "Make SIF Info 84034 Mandatory on PR (UAT in V7 TEST))"
**Info 'SIF Required' (84034) needs to be mandatory on the PR folder**

[2022-06-22 17:06] dianamartin commented on #9468
# Project Evaluation & Builder Huddle Notes - 6/22
## Proposed Objects

1. application
2. attachments (contract, insurance, and submittals)
3. commenting?
4. vetting checklist
5. contract checklist
6. commissioning checklist
7. in service checklist
8. decommissioning checklist

## Functionality
Public Facing - Application Form - no log in required
- Automated email functionality
- Checklist - rela

[2022-06-22 17:10] dianamartin commented on #9508
Removed integration to OneDrive and set up attachment settings
![image](https://user-images.githubusercontent.com/21112975/175097074-eb0836de-5c50-4653-95fe-6398d6636752.png)
- I set it to "if less than 14mb"

[2022-06-22 17:42] rebeccabrand commented on #9510
Hi @patrickm02L - I'm updating the time estimate from a '3' to '5' - 3 full days might be a stretch, but it's taking me a bit longer than 1 full day to record everything. Plus, I'm hoping to discuss doing some mockups as part of this discovery section.

[2022-06-22 17:50] atdservicebot opened #9542 "[Data Tracker] WKR21-137385 missing location field on Inventory Request page"
Data Tracker

Data Tracker WKR21-137385 needs to have the location field populated for the inventory request screen.  It is currently blank.  The location is ANDERSON LN / WOOTEN PARK DR.  The signal ID field is populated (#100).  I reopened the work order and was going to edit this to add the location information, but I did not find this field to edit it.  (I left it open for now.)

Flexible  — A

[2022-06-22 18:05] TracyLinder commented on #9425
**Next:** Huddle internally on 6/24.

[2022-06-22 18:06] TracyLinder commented on #9025
**Update:** SIF Estimator Worksheet to be built on #9425

[2022-06-22 18:07] patrickm02L commented on #9510
Sounds good. Can you send a meeting invite to @amenity and me when you feel like your at a finishing point?

[2022-06-22 18:10] TracyLinder commented on #9422
@ChrispinP can you please email me the spreadsheet w/ the records?

[2022-06-22 18:11] TracyLinder commented on #8949
This needs additional scoping.

[2022-06-22 18:15] dianamartin opened #9543 "Council Approved new ASMP language, update ASMP site content"
Reference #9235

Cole emailed 6/22

- [x] 1.	Remove (or archive?) the `Street Network Table` tab, and replace it with the Amended Street Network tab (then rename it to Street Network Table)
- Updated slug for "Street Network Table | ARCHIVED - 20220622" - `street-network-table-archived-20220622`
- Removed "Include this page in the Page Menu"
- Removed "Page icon"
- Renamed "Archived Street Network

[2022-06-22 18:18] andrewshensky opened #9544 "Fernando C. - Request to Update User AGOL Privledges"
User needs upgraded privileges to be able to create content.

[2022-06-22 18:23] andrewshensky opened #9545 "Identify Data for Bike Plan Update and Configure into New Project"
ATSD would like to us to provide geospatial support with the Bike Plan Update. After an initial conversation with them, we will need to identify locations of required data and add to new Pro project for initial processing.

[2022-06-22 18:27] patrickm02L commented on #9527
Reference the [Banners COA page](https://www.austintexas.gov/page/street-banners) for how to architect the information.

@dianamartin will add wireframes as an example of how we'll build out the relationship between COA page and Knack.

[2022-06-22 18:31] andrewshensky opened #9546 "Assist ATSD with Bike Plan Update"
ATSD has reached out seeing if we can provide spatial analysis to help better identify locations that may benefit from adding new bike routes.

[2022-06-22 18:33] #9524 closed

[2022-06-22 18:35] patrickm02L opened #9547 "Update VZ shifts 6/20/22-8/14/22"
Copy the last 8-weeks from 4/25/22-6/19/22 to fill in the next round of assignments. The new assignments will run from 6/20/22-8/14/22.

@ChrispinP will update by 6/27/22.

[2022-06-22 18:44] amenity commented on #9538
Need to discuss with Christina so we understand the reasoning here.

[2022-06-22 18:56] dianamartin opened #9548 "[Design Service] Street Banner Website Content Update"
When we were rolling out the Street Banners application we needed to updated the Street Banners Program to make sure the content was up to date and the customer could access the information they need to fill out an application.

[2022-06-22 18:56] amenity commented on #8738
@ChrispinP gave @chiaberry and @mddilley an example regulation text formula, so this is ready for dev grooming.

[2022-06-22 18:57] johnclary commented on #8238
i'm going to add this to https://github.com/cityofaustin/atd-data-tech/issues/8238 - and in fact this issue may now be redundant @mateoclarke @mddilley ?

[2022-06-22 18:59] patrickm02L commented on #9504
Rachel C. shared the last [PWStat meeting](https://cityofaustin.sharepoint.com/sites/PW/PWOPM/BI/SitePages/PWstatMeetingRecordings.aspx) with us, and invited us to the next meeting to observe how they present their metrics.

[2022-06-22 19:00] chiaberry commented on #8738
https://github.com/cityofaustin/atd-data-tech/issues/9093#issuecomment-1163288362 comment from Chrispin with doc linked

[2022-06-22 19:10] dianamartin commented on #9548
Met with Lauren initially to gather what content she wanted to remove from the Street Banners website (old version).

## Old Street Banners page
![image](https://user-images.githubusercontent.com/21112975/175116695-ee38e23f-4f4b-4cd8-b2ec-9885db8e9764.png)

## Old Lamppost Banner page
![image](https://user-images.githubusercontent.com/21112975/175116920-0cc360b4-a174-4a70-a723-7a9aae6e9fc6.png)

#

[2022-06-22 19:10] patrickm02L commented on #9490
@dianamartin can you put something on my calendar for us to review?

[2022-06-22 19:28] dianamartin commented on #9548
Created wire frame to show PIO what changes Street Banner Program wanted to make

## Wire Frame in Miro
![image](https://user-images.githubusercontent.com/21112975/175117441-3cb58379-f4e2-4ad7-b988-e8660cfec7ff.png)

Met with PIO team 6/2/22
"Discussion: Drupal website updates to Street Banner Program pages"
- Talked to Susanne, Anton, Lauren, Cathy, Stephanie and I
- Talked about the wire frame a

[2022-06-22 19:33] atdservicebot opened #9549 "BUG: AULCC Agenda not populating UCC# correctly. The agenda is instead populating the primary contact pho..."
AMANDA

AULCC Agenda not populating UCC# correctly. The agenda is instead populating the primary contact phone number in the place of the UCC #.

Internet Browser: Edge

Jaclyn L.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62b36ac95529f3001e0f2df8/capture2222.png) (68.7kb)

Request ID: DTS22-104410

[2022-06-22 19:34] dianamartin commented on #9548
Corresponded with Antone in PIO about images and links he needed for the update week of 6/13-6/17.

Antone replied 6/17

I replied

[2022-06-22 19:37] patrickm02L commented on #7601
6/22/22 talked in Product Sync and decided that these to-dos as well as providing a Read.me with caveats about the data quality and using data would get us to the point of publishing.

[2022-06-22 19:38] dianamartin commented on #9508
Shavyvonne said 6/21

![image](https://user-images.githubusercontent.com/21112975/175121842-c9014360-0fc4-4159-ac6e-917c5f76426c.png)

Mireya (CTM) messaged Shavyvonne

[2022-06-22 19:57] dianamartin commented on #9538
Rapid Response Maintenance for delineators
- How much is the program going to cost us?

Techs to create maintenance tickets
- Workgroup?
- Rapid Response Maintenance? Yes/No field
- Add to Maintenance Work Order (technicians only)

BUG - Create work order goes to "Issued" when technician creates is

[2022-06-22 20:14] dianamartin commented on #9539
- [ ] Add new button here, on `Cost Estimate MENU`
- [ ] Link to a URL
![image](https://user-images.githubusercontent.com/21112975/175127756-21671f67-67a8-459e-a278-1669377c1b9f.png)

![image](https://user-images.githubusercontent.com/21112975/175127699-3ec52a7f-a088-417a-bcef-68a973efbc84.png)

![image](https://user-images.githubusercontent.com/21112975/175127537-0a8d7d5b-fda1-486a-9922-0d6efb67f

[2022-06-22 20:21] Sreelatha-BlazeKannan commented on #9541
- @Nadin-Nader , @TracyLinder , @vschandramouli  - DEV Commit submitted. Please approve and create task id for the same. Commit ID: [fe6e05b619c3](http://coaamandadevops01.austintexas.gov/R3:fe6e05b619c3bddda5e067afc6e79308c2fb05dc)

[2022-06-22 20:23] johnclary commented on #9093
@ChrispinP let's sync real quick about the best way to format these "patterns" for the devs.

[2022-06-22 20:43] atdservicebot opened #9550 "[Bug] WRK21-135015 incorrect inventory routing/status"
Data Tracker

WRK21-135015 has a problem.  Four items have been JV'd.  There are 3 other items (added after the first 4) that have not been JV'd.  Because this WO has a back chargeable TK, it is currently in the FDU Review queue.

However, since 4 items have already been JV’d, the Edit Financials screen does not allow any edits to the FDU.  The first 4 items that were JV’d never had an FDU review

[2022-06-22 20:45] johnclary commented on #9329
In grooming, we decided that subprojects will be disassociated if the parent project is deleted 😵

[2022-06-22 20:47] dianamartin commented on #9542
Messaged Ronnie 6/22

[2022-06-22 20:49] johnclary opened #9551 "[Enhancement] Include project IDs in Moped project name"
Wherever the project name is rendered, include the project ID.
- [x] [Subproject search](https://user-images.githubusercontent.com/1463708/187770030-da92b8b2-65fa-4149-a337-cdac5bfb26be.png) - put project ID in parents `Johns latest project (#102)` - ?
- [x] [Global search](https://user-images.githubusercontent.com/1463708/187769776-b3a02517-e1a6-42c7-b542-668824f07e46.png) - put project ID in par

[2022-06-22 20:52] chiaberry commented on #9551
#9330 does this link

[2022-06-22 20:54] #9542 closed

[2022-06-22 20:55] ChrispinP commented on #9447
Updated help text, updated Side Direction values, and added text formulas for adding FT to offset distance fields. This process is now active.

Ready to review and close

[2022-06-22 21:21] johnclary commented on #9525
@amenity FYI

[2022-06-22 21:47] ChrispinP commented on #9093
@johnclary Diana's comment was not inclusive of everything so I have updated with all 3 possible options in how we can update the records. Is it then still required that I create those 38+ Field ID combinations using the $ sign?

[2022-06-22 21:54] dianamartin commented on #9543
Messaged Cole 6/22

Also let Alan know

Cole replied

[2022-06-22 21:54] dianamartin commented on #9550
@johnclary wanted to get your opinions on this..

[2022-06-22 22:36] johnclary commented on #9525
Good question—i say out of scope. If you want to edit a project that no one can see, I say have at it?

[2022-06-22 22:38] johnclary opened #9552 "Rename "Subprojects" to something less ambiguous"
Meredith Q. pointed out that our use of "Subprojects" in Moped is confusing, because the term has a special meaning in eCapris. We need use different language to describe parent-child project relations in Moped.

For consideration:
- Associated projects
- Related projects
- Subprojects (lean into ambiguity)
- Sidecars 🛵
- Primary / secondary projects

[2022-06-22 22:42] johnclary commented on #9552
@amenity something to think about when you're bored

[2022-06-22 22:44] johnclary commented on #9457
+1 i really like the unified view projects relevant to me. tabbing it out makes it hard to find what i'm interested in.

[2022-06-22 22:48] #9480 closed

[2022-06-22 23:27] mddilley opened #9553 "Update moped users table with `is_deleted` column"
Moped users currently use status_id = 0 for soft delete. We should update with a boolean `is_deleted` column. This one is a bit different since the Moped API handles user management. I linked to the GraphQL queries/mutations in that code below.

Update:
- [x] Tables listed below and comment new fields in DB
- [x] Mutations and code that soft delete
- [x] Any UI that filters on status_id = 0
- [x]

[2022-06-22 23:52] atdservicebot opened #9554 "I am requested access to the DTS AGOL. I've never had a log in but am in a place where it makes sens..."
ArcGIS

I am requested access to the DTS AGOL. I've never had a log in but am in a place where it makes sense to have access for several projects we're working on now.

Soon — This week

Need it by Thursday 6/30 for a meeting with Vision Zero folks.

Patrick M.

Request ID: DTS22-104420

[2022-06-22 23:53] amenity commented on #9457
Future hopes and dreams can live [here](https://github.com/cityofaustin/atd-data-tech/issues/3683).

[2022-06-22 23:54] amenity commented on #9525
Agreed.

[2022-06-23 15:23] amenity opened #9555 "Review and expand dashboard inspiration/examples"
Existing examples [here](https://xd.adobe.com/view/2c9892e4-a5c6-4870-be4c-689289547678-79cb/).

[2022-06-23 15:28] ChrispinP commented on #9354
The copy is now ready: TEST V7 | ROW | 22 JUN 2022 | Right of Way Portal
and can be found [Here](https://atd.knack.com/test-v7-row-22-jun-2022-right-of-way-portal#home/)

Let me know if anything else is needed :)

[2022-06-23 15:31] atdservicebot opened #9556 "Create Street Banners Pick-up Reminder Notifcation button"
~Data Tracker~ Street Banners

In the Banners system, can there be "Comment Status" : Banner(s) ready for pick up.

If possible, there can be autogenerated comment that says: Your banner(s) have been removed and are ready for pickup at 8900 Cameron Rd, Suite 300, Mon-Fri 8am-2pm. If they have not been picked up 10 days from removal, they may be discarded or donated.

Make it easy for Street Banner

[2022-06-23 16:16] andrewshensky commented on #9554
User now has access to AGOL and necessary groups.

[2022-06-23 16:21] Nadin-Nader commented on #9116
Created the account in V6, Set the automation for V6 PROD and created TASK SCTASK0228169 for her V7 Account.
Waiting on automation email to close

[2022-06-23 16:23] dianamartin commented on #9543
Cole messaged 6/23

![image](https://user-images.githubusercontent.com/21112975/175347783-858afedc-0c90-47ec-b76e-02e917f63734.png)

[2022-06-23 16:25] andrewshensky opened #9557 "Develop Model to Create Geometry Based on Scoring Criteria"
Identify which areas might benefit the most from bike infrastructure and which are missing from the current update.

[2022-06-23 16:26] #9543 closed

[2022-06-23 16:39] dianamartin commented on #9550
@johnclary Ronnie explained it like this:

[2022-06-23 17:00] patrickm02L commented on #9357
Updates requested by Meredith on 6/23/22. @Charlie-Henry

**2020 Bond Spending**

- [ ] Remove the fiscal year filter from side menu for 2022

October 1 we want the the new dataset to start for 2023.
When fiscal year 2023 starts remove 2022.

Meredith will do mock ups in excel (hold for further instructions)

- [ ] The filter on the left show the “Programs” “Sub Programs” etc expanded.
* Apply to

[2022-06-23 18:48] atdservicebot opened #9558 "[URGENT] I need to have my AMANDA PROD password reset (Waiting on CTM)"
AMANDA

I need to have my AMANDA PROD password reset

Urgently — Critical that this is addressed today

Elena C.

Request ID: DTS22-104430

[2022-06-23 18:56] TracyLinder opened #9559 "DS & EX Automated Email - Jessica D. INC0203755 (On Prod)"
### The system is sending DS payment reminders to users who aren't associated with the folder.
**This needs to be de-bugged.**

![image](https://user-images.githubusercontent.com/49930868/175376612-1f1f4cde-0ad0-4a24-935c-fa4ef27b5b12.png)

----
**Here is another example:**

<img width="1300" alt="Screenshot 2022-10-25 at 3 48 52 PM" src="https://user-images.githubusercontent.com/49930868/19787914

[2022-06-23 19:04] TracyLinder commented on #9223
Duplicate of #9451. Closing

[2022-06-23 19:04] #9223 closed

[2022-06-23 19:05] TracyLinder commented on #7689
### Project Mtg 6/23/22

- Finance is working on their internal SOPs regarding SIF financing.
- #9541 is in progress pending DEV promote

[2022-06-23 19:35] chiaberry opened #9560 "[BUG] Update seed data with additional users"
**Describe the bug**
Include what happens and what you would expect to happen.

Added account for Rebecca in moped staging. Logged into  moped-test and her account is unable to see any project page and instead gets this error.

![Screen Shot 2022-06-23 at 2 29 37 PM](https://user-images.githubusercontent.com/12474808/175382634-12432e83-487f-4c5d-9e41-f8227d38b9ac.png)

Her account is able to view

[2022-06-23 19:37] chiaberry commented on #9560
I can sign in locally with her credentials. I checked the permissions for subprojects (her account is an editor acccount), but all the permissions for editors exist for parent_project_id

[2022-06-23 20:27] johnclary opened #9561 "[Tech debt] Upgrade to react-scripts v5"
We're currently on react-scripts `3.x`. Upgrade to `5.x`. This will resolve a number of vulnerabilities, for example https://github.com/cityofaustin/atd-data-tech/issues/8303.

[2022-06-23 20:28] amenity opened #9562 "[Bug] Can't create user accounts in Staging"
Following [these directions](https://atd-dts.gitbook.io/moped/user-guides/manage-users#create-a-new-user-account), I tried to create an account for @roseeichelmann using her `@austintexas.gov` email address. I got the following error message:
<img width="1206" alt="Screen Shot 2022-06-23 at 3 11 05 PM" src="https://user-images.githubusercontent.com/1463708/175393545-3506873a-d231-4ea4-956b-7b91b04

[2022-06-23 20:31] chiaberry commented on #9562
She is in the cognito pool, but there is no azure account associated with it. but I think it wont add her, since it thinks she already exists
![Screen Shot 2022-06-23 at 3 29 33 PM](https://user-images.githubusercontent.com/12474808/175394100-5fc42d4b-dda2-4cdf-bde8-0554f420df6b.png)

[2022-06-23 20:39] patrickm02L commented on #7601
In a meeting with SMS on 6/23/22 which included: Diana, Joseph, Patrick, Charlie, and Ryan, we discussed the use cases for publishing the data.

Finance team has a need, requests from other internal teams were coming in, and there was an intention to use the data for staff to learn PowerBI.

We determined that the order of operations for publishing the data would happen after Joseph and team have

[2022-06-23 20:45] patrickm02L commented on #9547
@ChrispinP thanks for issuing the frag order on the 8-week timeframe. Looks good!

[2022-06-23 20:46] ChrispinP commented on #9447
Updated Display rules for Intersections to show From Street as Cross Street:
![image](https://user-images.githubusercontent.com/67915167/175396514-d6b4e524-69be-4ae6-af94-bcb0f0454d93.png)

[2022-06-23 20:51] chiaberry commented on #9560
This is where the error is coming from
https://github.com/cityofaustin/atd-moped/blob/main/moped-editor/src/views/projects/projectView/ProjectView.js#L198

when I sign in as Rebecca and check `localStorage.atd_moped_user_db_data`, it comes back as the string `'undefined'`

[2022-06-23 21:55] #9547 closed

[2022-06-24 16:10] TracyLinder commented on #7689
### Discuss #9425 at next meeting

- AMANDA or KNACK?

[2022-06-24 16:11] TracyLinder commented on #9425
I will ask Nate & Amber if they want this in AMANDA Portal or KNACK.

[2022-06-24 16:33] dianamartin commented on #9508
Mireya resolved this ticket - `INC0204254`

Second portion - there is no apparent pattern for the missing emails. Will have to research further.

[2022-06-24 16:41] atdservicebot opened #9563 "We need help removing signature records from a Contractor Work Order. Contractor had accidentally fi..."
Signs & Markings Operations

We need help removing signature records from a Contractor Work Order. Contractor had accidentally filled out the wrong work order so we had to reopen the work order. Contractor deleted materials records but work order is still showing old signature information.
Contractor Work Order Reference ID: 238
https://atd.knack.com/signs-markings#work-orders-contractor/manage-co

[2022-06-24 16:46] patrickm02L commented on #9527
Meeting scheduled for 6/28/22.

[2022-06-24 16:53] dianamartin commented on #3147
this is happening, no more discovery on this. Closing bc it's being done #130

[2022-06-24 16:56] dianamartin opened #9564 "[MEETING] Traffic Register Sprint Review - JULY 2022 (7/15)"
### Objective
- Update on regulation import process
- Check-in on admin back fill task
- Demo where we are on Traffic Register, talk about usability within engineering.

### Participants
Eric, Nathan, Gilda, Joana, Chrispin, Karo, Diana

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add li

[2022-06-24 17:25] rebeccabrand commented on #9510
Working on some XD mockups here:

https://xd.adobe.com/view/03bb86d3-02c8-4124-8921-b48a5b032976-56e8/

Let me know if this link doesn't work for you.

[2022-06-24 18:17] TracyLinder commented on #9422
### 6/24/22 Meeting w Finance
_Tracy, Chrispin, Peggy,

- Task: Analyze the voids - who did them, what date, why did that happen?
    - We need data to move forward.
    - Re-meet at 2:30

- PERMISSIONS: Access has been denied by CTM who referred to an audit that requires controller's approval.
-

[2022-06-24 18:23] amenity commented on #2903
@dianamartin - I believe you're the most qualified to act as product manager for this application.

[2022-06-24 18:27] dianamartin commented on #129
Have been working with Chrispin and stakeholders to get a solution for the admin team to be able to enter regulations into the new Traffic Register application. We had a meeting with the admin team after developing a new page for them to enter data. Went over some the back fill page again on 6/22, they started entering records in on 6/23. 33 records so far!

A few weeks ago John delivered the regu

[2022-06-24 18:32] dianamartin commented on #130
## 6/24
Have been working with Chrispin and stakeholders to get a solution for the admin team to be able to enter regulations into the new Traffic Register application. We had a meeting with the admin team after developing a new page for them to enter data. Went over some the back fill page again on 6/22, they started entering records in on 6/23. 33 records so far!

A few weeks ago John delivered

[2022-06-24 19:03] alan-deanda commented on #6539
The ASMP Amendment was officially adopted on June 9th, 2022. All published ASMP Amendment web viewers have been updated to reflect the official adoption of the amendment.  SSD has provided DTS GIS with the final version of the new ASMP Street Network, and it is currently being distributed to internal databases as well as being published to ArcGIS Online as authoritative data

[2022-06-24 19:05] #9194 closed

[2022-06-24 19:05] #9193 closed

[2022-06-24 19:06] alan-deanda opened #9565 "Update ASMP Amendment Web Viewers"
Since the ASMP Amendment was adopted on June 9th, 2022, all viewers need to be updated to reflect this.

[2022-06-24 19:07] #9565 closed

[2022-06-24 19:10] Nadin-Nader commented on #9541
@Sreelatha-BlazeKannan This has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0228442**

[2022-06-24 19:12] TracyLinder commented on #6300
### Update

Darren asked where this is in priority. He let us know this is causing frustration with DSD and the customer because the fee is becoming a bottleneck.

[2022-06-24 19:13] alan-deanda opened #9566 "Check ASMP in AGOL"
Now that the ASMP Amendment has been formally adopted, the ASMP Street Network needs to be updated on MAINT, DM and AGOL.  The data currently lives in MAINT, and a geodatapusher job will push it to DM. Once this happens, check AGOL to ensure the data has been transferred successfully from DM.

[2022-06-24 19:46] dianamartin commented on #663
@amenity this sounds like a fun project.. :)

[2022-06-24 19:56] rebeccabrand commented on #1106
How might we make information about Austin's mobility projects easily accessible to stakeholders and the community?

### Design Phase
I (Rebecca) am the UX/UI Design Fellow staffed to this project phase. In order to start prototyping features of the Mobility Project Viewer (MPV), I'm performing Vision Zero/Moped discovery work (#9510) that focuses on several key topics.

### VZ/Moped Discovery

-

[2022-06-24 20:11] TracyLinder opened #9567 "ROW Portal [COS] - Show Voids & Make Filters"
### Finance staff needs to see the voided COS payments in the data table, but only when they want to look at it.

**To-do:**
1. Show VOIDED payments in existing table
2. Add data filters for PAYMENTS, VOIDED, VOIDED with JV
- PAYMENTS should exclude voided records.
3. Default table view to PAYMENTS

[2022-06-24 20:16] TracyLinder commented on #9422
**Issue:** There were 92 cost of service fees in May that were JV'd  **and** voided, which should never happen.

**Cause:** The workflow currently used by ATD Finance uses outdated data to perform JVs, so the voided payments are not updating the data sheets being used, causing finance to transfer money on voided fees.

**Solution:** ATD Finance will reconcile their data files against KNACK Void da

[2022-06-24 20:16] #9422 closed

[2022-06-24 20:17] TracyLinder commented on #9567
### Stakeholder review meeting scheduled for Friday July 1st.

[2022-06-24 20:32] TracyLinder commented on #3068
### Status June 24, 2022

**We are currently** performing end-to-end user acceptance testing on V7 test. We are near completion, having finished testing on 16 of the 23 major workflows ATD is responsible for.

**Upcoming Dates:**
- UAT Ends: July 11
- System goes down for the migration: Friday July 29 - Monday August 1 at 8am

[2022-06-24 20:35] Charlie-Henry opened #9568 "[Spike] Barton Springs Kiosk Cash Reconciliation"
ATD does some accounting work for the Barton Springs pool pass kiosks. This spike is to see what we can do to help Finance with monitoring the cash transactions, collections, and the deposits in the City's Controllers account.

What I've learned so far:
- It appears that the Flowbird Hub is where most of these transactions are taking place. It is possible that some transactions are captured on Sma

[2022-06-24 20:39] TracyLinder commented on #5078
### Update June 24, 2022

The Street Impact Fee program began assessing fees in AMANDA on June 22nd using the newly created SIF folder in AMANDA. SIF Reviewers are being assigned to plan review (PR) folders in AMANDA and are able to perform their job functions.

Just before rollout last Friday 6/17 the project team was made aware of a plan review workflow requiring a system integration with Projec

[2022-06-24 20:45] dianamartin commented on #5054
## 6/24
Chrispin was able to import in the historical TIA mitigation records. We rolled out the new historical TIA mitigation pages for TED in May 2022 and got the TED stakeholders to review and start managing the regulations. We followed up with them and got feedback on critical fields they needed and did several tweaks to get the pages exactly right.

Last update, 6/8/22 we created the ability f

[2022-06-24 20:59] johnclary opened #9569 "[Feature] Ability to track Interim DB project and component IDs"
As we transition workgroups to Moped, the workgroup may have redundant project data in the interim mobility project database. We need to be able to track in Moped a few IDs from the interim database, so that we can avoid duplicating data during the full-blown migration.

## Todo

### DB
- add nullable column `interim_project_id` type `integer` to `moped_project`
- enable select, insert, and update

[2022-06-24 21:45] mddilley commented on #9053
@dianamartin These updates are live in `TEST | Austin Transportation Data Tracker | 31 JAN 2022`

### view_1048
Test record to see that technicians can add themselves as lead if they are not already assigned as lead:
https://atd.knack.com/test--austin-transportation-data-tracker--31-jan-2022#work-orders/work-order-details/62b49fb9ab68ef001f879ba5/assign/62b49fb9ab68ef001f879ba5/

Test record to se

[2022-06-24 22:10] amenity opened #9570 "[Feature] Signal Projects View"
Tablular view of signal projects customized for Arterial Management staff.

![Screen Shot 2022-06-24 at 5.25.08 PM.png](https://images.zenhubusercontent.com/5a5f8dc94b5806bc2bc322a5/663bbdfd-41e4-4f0d-887c-831cb7975022)

[2022-06-27 12:42] frankhereford commented on #9302
Feedback from Gavin J:

[2022-06-27 12:43] frankhereford commented on #9303
Feedback from Gavin J:

[2022-06-27 12:44] frankhereford commented on #9304
Feedback from Gavin J:

[2022-06-27 13:08] andrewshensky commented on #662
6/27/2022 - Official pilot data has been received from the vendor and approved by ATD staff. Our next round of data delivery is scheduled to take place this week (6/27). DTS is currently tracking all sign installs/removals and working on processing procedures to merge the install/removal data with the vendor data. We have created an internal QC web app allowing SMB to QC and review data delivered

[2022-06-27 14:07] dianamartin commented on #9053
@mddilley Thanks, I took a look at them this morning. It looks like it's working as expected. I'm going to show the stakeholders today I think..to get their feedback so we can push to Prod.

[2022-06-27 14:34] #9536 closed

[2022-06-27 15:41] atdservicebot opened #9571 "Crashes search option is not working. I get the Error! GraphQL error."
Vision Zero (Editor)

Crashes search option is not working. I get the Error! GraphQL error.

https://visionzero.austin.gov/editor/#/crashes

Internet Browser: Edge

Samson N.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62b9cee3678ed5001f1c0e28/capture_3.jpg) (35.49kb)

Request ID: DTS22-104440

[2022-06-27 15:48] dianamartin commented on #9563
WO: `238`
Status: Issued

## Remove - Clear to Blank
- [ ] Contractor Submitted Date
- [ ] Contractor Submitted By
- [ ] Contractor Signature
- [ ] Phone

[2022-06-27 15:54] dianamartin commented on #9563
Messaged stakeholder 6/27

![image](https://user-images.githubusercontent.com/21112975/175982106-e980de6a-8fc7-4a04-a0c4-b729d37781d9.png)

[2022-06-27 15:58] andrewshensky opened #9572 "Create Public Map Showing Updated HIN Data"
VZ would like there to be a map created and shared to the public showing the updated HIN data and the 5 associated sublayers.

[2022-06-27 16:02] andrewshensky commented on #9572
There is an existing map, at the link below, displaying this information for the old HIN data. I have reached out to the requestors to see if they would like the data in the existing map updated or if they would like an entirely new map.

https://austin.maps.arcgis.com/apps/View/index.html?appid=9d133c89a7944d589e55123aba0ee07f

[2022-06-27 16:02] dianamartin commented on #7822
# 6/27
- [ ] Brian C: Decision about "no inventory used" and keeping quantity of "no inventory used" in the system
# 9052 - was discussed on 5/31 with dev to see if it is possible.

[2022-06-27 16:07] ChrispinP opened #9573 "[TDS-TIA] Rules Update: Lead Reviewer for Central Area"
Update all 3 TIA applications to assign Jayesh instead of Nazlie as both the Lead Reviewer and Case Reviewer for the Central Area

[2022-06-27 16:09] ChrispinP commented on #9573
Updated.
![image](https://user-images.githubusercontent.com/67915167/175986226-f27a0d9f-632e-4976-b54a-417ab2e5811c.png)

[2022-06-27 16:12] johnclary commented on #9569
@amenity thoughts on where this field should on the project summary page?

[2022-06-27 16:31] ChrispinP opened #9574 "[TDS-TIA] Enhancement: Cycle Number Override field"
Add a Cycle Number Override field to all TIA cycle objects: TIA_scope_submission, & TIA_submission
Then allow for editing on Submission tables for Reviewers
![image](https://user-images.githubusercontent.com/67915167/175989250-2bb67531-ae66-4a7c-86b7-3df646b4956b.png)

Same as built for TDR and TCP.
![image](https://user-images.githubusercontent.com/67915167/175989771-ae87791c-6241-4e2d-9b2f-ef47d

[2022-06-27 17:40] ChrispinP commented on #9567
### Added a COS Menu to toggle between two tables: Pre Filtered and Custom Filtered. Defaults for Custom Filter set to if Voided fees have JV IDs
![image](https://user-images.githubusercontent.com/67915167/176000756-dfe742fe-bbad-434f-b6de-b7a3603507be.png)

### New Pre-Filtered table is a copy of the original table. Defaults to Payments filter. Added filters for Voided, JV IDs Blank, All, and one

[2022-06-27 19:09] TracyLinder commented on #7689
### Stabilization Mtg 6/27/22

**How are things going?**
- Slower than expected. There are 6 processes in the SIF Queue right now. Most are R101 (single family home).
- Slow on commercial. No volume builder yet.
- Task Sree with pulling data for the ATD SIF Review Process
- Amber will look at PR folders created recently and see if there are any that she thinks ATD should have been assigned to.

[2022-06-27 20:03] #9323 closed

[2022-06-27 20:03] #9324 closed

[2022-06-27 20:03] #9310 closed

[2022-06-27 20:51] patrickm02L opened #9575 "Set up Interviews with Moped Staff"
@rebeccabrand please fill out details

[2022-06-27 21:23] KaroEngstrom commented on #9539
M 6/27/22

- [x] Added the link as shown:
![image](https://user-images.githubusercontent.com/100615928/176037799-ff9b0a65-fe91-4b2b-af56-a0f78adddf7f.png)

- [x] Notified requester via email.

- [x] Updated change log.

[2022-06-27 22:43] dianamartin commented on #8675
- [ ] Exported `signal_corridor_retiming`
- [ ] Created new spreadsheet for import
- [ ] Imported spreadsheet
- [ ] Created details widgets and added all field sections

[2022-06-27 23:27] johnclary opened #9576 "[Enhancement] Increase issue count in austinmobility.io socrata query"
I noticed that the Socrata query which fetches issues was capped at 10k. Some naive person apparently thought that was future proof 🙈

[2022-06-28 02:10] frankhereford opened #9577 "Renew Airflow's SSL certificate via the EFF certbot"
Airflow's SSL certificate expired last week. This machine is not exposed to the wider internet, so the risk is minimal, but it should be addressed as soon as reasonably acceptable.

Chia developed programmatic acquisition of a new certificate at last renewal in [this issue](https://github.com/cityofaustin/atd-data-tech/issues/8555). As a result of her work, `certbot` and the route-53 authenticatio

[2022-06-28 04:50] mateoclarke commented on #9355
Realized we still need the pw from Gita and I followed up via Teams. Assigning myself until that is complete.

[2022-06-28 14:04] dianamartin commented on #9200
## 6/27
- [x] Exported `signal_corridor_retiming`
- [x] Created new spreadsheet for import
- [x] Imported spreadsheet
- [x] Created details widgets
- [x] Added all field sections to details page
- [x] Named sections
- [x] Created edit form
- [x] Added all field sections to edit page

[2022-06-28 14:18] dianamartin commented on #9200
# Details
![image](https://user-images.githubusercontent.com/21112975/176201652-fc755be1-ccbb-4681-b544-e4be2ab4bf46.png)

# Edit Form
![image](https://user-images.githubusercontent.com/21112975/176201862-09408a53-c880-4881-b02d-35d65d9de17b.png)
![image](https://user-images.githubusercontent.com/21112975/176201949-2f8e5030-5a60-45f8-8602-19d972793bee.png)
![image](https://user-images.githubuserco

[2022-06-28 14:28] dianamartin commented on #9490
Patrick and I reviewed on 6/24 and all these updates were good, not changes. Closing.

[2022-06-28 14:28] #9490 closed

[2022-06-28 14:28] #9535 closed

[2022-06-28 15:08] Sreelatha-BlazeKannan commented on #9541
@Nadin-Nader , @TracyLinder , @vschandramouli  - Tested in DEV and it is working as expected. Submitted Test DP. Please approve and create task id for the same.

Here is the screent shot -
![image](https://user-images.githubusercontent.com/44907715/176211846-099af678-9b2b-4c74-accd-d3a99a37ce23.png)

Commit iD: fe6e05b619c3

[2022-06-28 15:58] #9216 closed

[2022-06-28 16:03] patrickm02L opened #9578 "Track down missing Records in VZE"
Xavier identified a discrepancy between the total number of crashes in the CRIS database and the crashes in VZE. We briefly talked about the this issue in the 6/7/22 VZ sprint review, and decided to have a follow-up meeting to suss out the breadth of the issue.

[Meeting link](https://cityofaustin-my.sharepoint.com/:v:/g/personal/patrick_mcdonnell_austintexas_gov/EVWFUb6ZYHNOs-NVxvfkSMMBP59FvtzwVL

[2022-06-28 16:06] johnclary opened #9579 "Meet with NW to discuss Project Delivery onboarding"
Scheduled for 6/28

[2022-06-28 16:08] johnclary commented on #9579
Notes:

- Nathan is supportive.

- It will be important to keep track of any projects that are duplicated in Moped and Access. (see https://github.com/cityofaustin/atd-data-tech/issues/9569)

- It would be better to have PDD only track current + future projects in Moped (nothing historical)

- Nathan estimated < 50 projects.

- It might makes sense to both PDD and TED into Moped. What are the impl

[2022-06-28 16:08] #9579 closed

[2022-06-28 16:16] Nate-Nader commented on #9116
user has been able to work in her PROD environment successfully. closing

[2022-06-28 16:21] moorerst commented on #9556
Response from stakeholder:
Looks good to me! Although isn’t our zip 78754?

Thank you so much! I think this is going to make a huge difference and make things so much easier for us.

[2022-06-28 16:22] Nate-Nader commented on #9541
@Sreelatha-BlazeKannan @TracyLinder i have sent this over to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0229102**

[2022-06-28 16:28] #9576 closed

[2022-06-28 16:32] johnclary opened #9580 "Onboard Project Delivery (PDD) and Transportation Engineering (TED) divisions"
- [x] #9669
- [x] #9652
- [x] #9569
- [x] Training?

Like #8560, this epic may also include any enhancements determined to be must-haves for successful PDD/TED Moped use.

[2022-06-28 17:29] andrewshensky commented on #9572
Data in existing map was replaced with new version of HIN. Text in the splashscreen was also updated for relevancy with new data.

[2022-06-28 17:29] #9572 closed

[2022-06-28 17:35] moorerst commented on #9537
@dianamartin not sure how we want to approach the SSPR Sprint Review meeting. I put some slides together if we want to use them as a overview. We can discuss further in the check in meeting.
https://docs.google.com/presentation/d/1CqNPtJqTVVOSfnLoLZ0pEr2vsJjBogYMvvRcj6u9DJI/edit#slide=id.geec2d7738f_0_21

[2022-06-28 17:38] johnclary opened #9581 "[Tech deb] Upgrade austinmobility.io to React, Node, and NextJS"
We've lagged quite a ways behind on upgrades to the DTS website.

[2022-06-28 17:38] andrewshensky opened #9582 "Notify Users Impacted by Bi-Annual AGOL Cleanup"
Bi-annual AGOL cleanup will be taking place on July 21st. User impacted, those who will either have account deleted or downgraded, need to notified to login prior to July 21st deadline.

[2022-06-28 17:41] moorerst commented on #8268
@dianamartin @mateoclarke FYI this issue contains some questions the stakeholder had regarding CityBase payment process.

[2022-06-28 18:13] #9539 closed

[2022-06-28 18:17] moorerst opened #9583 "Meeting: City Base Knack Integration Kickoff"
Grabbing time to kick off the project to move the Austin Transportation Department to the CityBase Payment Platform. A detailed agenda and meeting materials will be shared closer to the meeting itself.

- Introductions
- Overview of Scope
- Web Payments
- Discuss Knack Integration
- Reporting
- Approach
- What to expect from CityBase
- Change Management
- Project Plan
- Next Steps
- Q&A

Attendees

[2022-06-28 18:31] TracyLinder commented on #9541
I've asked Amber (ATD) and Makenzie (DSD) to test.

[2022-06-28 18:38] Sreelatha-BlazeKannan commented on #9541
@Nadin-Nader , @TracyLinder , @vschandramouli - Tested and working as expected in TEST. Ready for UAT and PROD Move.
![image](https://user-images.githubusercontent.com/44907715/176257772-f64268fd-d9e0-4fdf-be6a-f46279a16cb9.png)

[2022-06-28 18:42] #8731 closed

[2022-06-28 18:42] #8851 closed

[2022-06-28 18:42] #8892 closed

[2022-06-28 18:42] #8894 closed

[2022-06-28 18:42] #8916 closed

[2022-06-28 18:42] #8375 closed

[2022-06-28 18:42] #8726 closed

[2022-06-28 18:42] #8728 closed

[2022-06-28 18:42] #8732 closed

[2022-06-28 18:42] #8852 closed

[2022-06-28 18:42] #9101 closed

[2022-06-28 18:42] #8725 closed

[2022-06-28 18:42] #8893 closed

[2022-06-28 18:42] TracyLinder commented on #8908
@Sreelatha-BlazeKannan or @Nadin-Nader did this go to PROD?

[2022-06-28 18:43] TracyLinder commented on #8857
@Sreelatha-BlazeKannan or @Nadin-Nader did this go to PROD?

[2022-06-28 18:43] #8551 closed

[2022-06-28 18:48] Sreelatha-BlazeKannan commented on #8857
@Nadin-Nader , @TracyLinder - Yes went along with SIF PROD move as per Lakshmi Priya's DP.

[2022-06-28 18:49] Sreelatha-BlazeKannan commented on #8908
@Nadin-Nader , @TracyLinder - Yes went along with SIF PROD move as per Lakshmi Priya's DP.

[2022-06-28 19:22] frankhereford commented on #9355
I was able to sync with @TracyLinder today, and she was kind enough to give me some background on this task, and I have provided this update to her via slack, but wish to record it here as well.

[2022-06-28 19:44] #9556 closed

[2022-06-28 19:44] atdservicebot opened #9584 "Content design refresh on the Shared Mobility COA page"
Mary Vo

Other / Not Sure

Content design on http://austintexas.gov/sharedmobility. This page is very long and we'd like it to be more condensed while still informative.

Maybe make more use of accordions? And simpler language?

Could check with CPIO on Google Analytics for the number of bounce rates or session duration before and after the changes.

The public!

Jason R

['Accessibility to and eq

[2022-06-28 19:46] dianamartin commented on #9527
- Patrick and I met on 6/28 at 11 am to prototype and wire frame the SMRT content.
- We met with Mary on 6/28 at 1 pm to show the wire frame and discuss any changes.
- Decided to move forward with the prototype plan

## Next Steps
- [ ] Fill out PIO request form
- [ ] Update website page

[2022-06-28 19:47] atdservicebot opened #9585 "Transitioning our Shared Mobility Expression of Interest form from Formstack to Knack. https://www.a..."
Other / Not Sure

Transitioning our Shared Mobility Expression of Interest form from Formstack to Knack. https://www.austintexas.gov/page/shared-mobility-regulations-and-license-application

Flexible  — An extended timeline is OK

I'll be out for the month of July, but you can work with Andrea Martinez on this while I'm away.

Mary V.

Request ID: DTS22-104450

[2022-06-28 20:00] atdservicebot opened #9586 "Any order I open I get an error about layers not being able to be added to the map."
Data Tracker

Any order I open I get an error about layers not being able to be added to the map.

https://atd.knack.com/amd#mmc/view-mmc-details/62bb52f19ef4a7001fbe0490/

Internet Browser: Chrome

Chris S.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62bb5c507c0fe9001e6ee83f/datatrackerror.jpg) (184.68kb)

Request ID: DTS22-104455

[2022-06-28 20:03] #9284 closed

[2022-06-28 20:03] atdservicebot opened #9587 "AMANDA Permit Data Request"
### Permit data request
_Customer: Ryan M._

Folder Types:  DS, RW, EX (remove street event subtype from RW)
Property RSNs are [here](https://github.com/cityofaustin/atd-data-tech/issues/9587#issuecomment-1171434941).

**From Ryan:**
Need determine the number of permits issued within roughly two blocks of I-35 over the past year? And also for 3 blocks?

Sections:
•	2222/290 to MLK
•	MLK to Riversi

[2022-06-28 20:04] Charlie-Henry commented on #9584
Involves the city's website, not sure if we deal with that? @patrickm02L

[2022-06-28 20:12] dianamartin commented on #9548
Messaged Lauren - 6/28

I think you have to email Anton to say you're happy with the website updates so he can remove the old LPB and OTS web pages. Let me know when he does so I can update the pages I have linked to those sites in Knack.

[2022-06-28 20:15] KaroEngstrom commented on #9538
T 6/28/22

Additional requests from the requesting team, received via email:

* Feedback: "I logged in as the Test Technician and the form looks exactly how we wanted it to look! I have a couple additional add ons to this request, to ensure it works for our group."

1. Add this “Rapid Response Maintenance” yes/no form to the Maintenance markings work orders when a Supervisor is submitting a work o

[2022-06-28 20:23] frankhereford commented on #9419
This is ready for review in our next Prefect Huddle, and [this PR](https://github.com/cityofaustin/atd-prefect/pull/14/files) will come out of WIP very shortly after the KV store is worked out so it can be controlled via the Prefect UI.

[2022-06-28 20:27] #9339 closed

[2022-06-28 20:35] #9462 closed

[2022-06-28 20:41] dianamartin commented on #9586
I walked over to Chris's desk and saw the error message he attached to this issue. He said whenever he opens the maps in the View  MMC details page, he always gets an error.

[2022-06-28 20:44] #8863 closed

[2022-06-28 20:59] dianamartin commented on #9586
@andrewshensky Can you see if this user is in the AMD group? That's the only thing I can thing of as to why the layers won't show up for them. Do they just have to sign into AGOL?

[2022-06-28 21:15] dianamartin commented on #9583
# Diana's Notes

Introductions
## Attendees:
- Taejin T. - City Base
- Josh P. _ City Base
- Alex W. - City Base SME
- Mark C. - CTM
- Mateo - DTS
- Gail R. ?
- Stephanie M. - DTS
- Diana M. - DTS
- Chia B. - DTS
- Eva S. - CTM
- Gail R. - CTM

## Scope
- Web payments
- Standard Checkout and Postback
- Revenue Management Reporting
  - refunds, voids, actions taken on standard
  - Knack can see thi

[2022-06-28 21:23] atdservicebot opened #9588 "[URGENT] Update Legend and Symbolize New Features in PM Map"
Data Tracker

Need the legend on the PM map to be updated to include 2020,2021 and 2022

https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=ac06705397e44f42bbb401481c010e94

Need this by the end of this week for a presentation.

https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=ac06705397e44f42bbb401481c010e94

Internet Browser: Firefox

Brian C.

Request ID: DTS22-104465

[2022-06-28 21:43] dianamartin commented on #9583
- How to provide support for payment?
- etc..phone, work

[2022-06-28 21:52] alan-deanda opened #9589 "Update AMANDA street closures map"

[2022-06-28 21:53] #9589 closed

[2022-06-28 21:53] andrewshensky commented on #9586
@dianamartin It looks like it was probably an AGOL permissions issue. I have now added Chris to the COA_ATD and COA_ATD_Arterial_Management groups. I believe that should be sufficient but let me know if any additional privileges may be needed.

[2022-06-28 21:56] alan-deanda opened #9590 "Update Active Parking Permits"

[2022-06-28 21:56] #9590 closed

[2022-06-28 21:57] alan-deanda opened #9591 "Add users to ATSD AGOL group"

[2022-06-28 21:57] #9591 closed, assigned to alan-deanda

[2022-06-28 21:59] ChrispinP commented on #9217
Finished prepping all 38 spreadsheets and prepping all fields in the Traffic Register. I updated Line Item ID and text formulas to accommodate the data. Short text fields added for all Connection fields to maintain data integrity should something not connect, data is inaccurate, for text formulas, and the ability to duplicate and update records for all the additional Retire records that must be ad

[2022-06-28 22:06] ChrispinP commented on #9217
**To Import into regulation_approved**

- [ ] ANGLEPARK
- [ ] BIKELANE
- [ ] BUS STOP
- [ ] CABZONES
- [ ] COMMSRZN
- [ ] CONSTSPD
- [ ] CUSTSRZN
- [ ] EXCLUSIVEZN
- [ ] HANDICAP
- [ ] LIMOMVNT
- [ ] LOADZONE
- [ ] MISCPARK
- [ ] NBIKESAT
- [ ] NOTRUCKS
- [ ] NPATALLY
- [ ] NPATSTRT
- [ ] NPBIKELANE
- [ ] NPSPECHR
- [ ] ONEWAYAL
- [ ] ONEWAYST
- [ ] PARALLEL
- [ ] PASSZONE
- [ ] PAYSTATION
- [ ] P

[2022-06-28 23:15] mateoclarke opened #9592 "[VZE] Replace moment.js with date-fns or standard JS time methods"
We should remove moment.js since its been deprecated and will be hard to maintain in the long run.
https://momentjs.com/docs/#/-project-status/

We've already done [this](https://github.com/cityofaustin/atd-moped/pull/392) in moped (a [couple](https://github.com/cityofaustin/atd-data-tech/issues/9393) time actually)

Here's an example of Tilly replacing moment with date-fns
https://github.com/city

[2022-06-28 23:36] mateoclarke commented on #9583
After the meeting, Diana, Chia, and I did some whiteboarding to talk through the flows, Knack tables and schema modifications needed (new Transactions Table object). At a high level, we feel good about keeping the transaction data in sync in near real time with the postback data from Citybase to Knack. But we still need more details from a technical perspective.

![IMG_2569](https://user-images.gi

[2022-06-29 01:00] mateoclarke opened #9593 "Review and refactor list of phases and milestones for PD & TE"
Need to provide clear specs to dev team on what updates these tables will need to add more workgroups.
# To-do
- [x] @johnclary - get Amenity the current state of [these tables](https://docs.google.com/spreadsheets/d/13EbvdJNoZRCXQOJZJdrUqTUb2-o2puMXhiZN_94_go0/edit#gid=33802623) in the database
- [x] @johnclary ~update doc~ update Moped `/dev/lookups` view
- [x] @johnclary - post in Teams for dis

[2022-06-29 01:03] mateoclarke commented on #9560
So we just need to add folks to the seed data if they wanna use test, right?

[2022-06-29 01:26] atdservicebot opened #9594 "Update URL for Hanwha cameras"
Data Tracker

AMD recently started installing a new brand of CCTV cameras and the thumbnail images  for these are not displaying on the City's web page.

The Hanwha Cameras use a different URL string to capture thumbnail images. I contacted Hanwha and obtained the URL string. Please incorporate this into the script that captures CCTV images for the City's web page.

http:////stw-cgi/video.cgi?msub

[2022-06-29 02:36] chiaberry commented on #9560
Yes, i just need to look up the correct user IDs on staging and then add
matching entries in the seed data. I'll add them in one of my next PRs.

On Tue, Jun 28, 2022, 8:04 PM Mateo Clarke ***@***.***> wrote:

[2022-06-29 03:46] #9210 closed

[2022-06-29 04:07] amenity commented on #9588
I happen to be working right now and got an email about this, so going to go ahead and assign @andrewshensky and @dianamartin.

[2022-06-29 13:04] andrewshensky commented on #9588
@dianamartin It looks like the data has been updated without updates being made to the symbology or legend widget in the map. I have just made those changes and will now reach out to the requestor to verify everything looks correct.

[2022-06-29 14:50] andrewshensky commented on #9588
Requestor has confirmed changes meet needs to close this issue. Additional changes to the map were requested. I will close this issue and track future map modifications in a new issue.

[2022-06-29 14:50] #9588 closed

[2022-06-29 14:53] andrewshensky opened #9595 "Add Layer/Update Filter Capabilities in PM Map"
AMD would like Equity Zone data added to the PM Map and would like filtering capabilities updated to allow for the selection of multiple years.

[2022-06-29 15:11] amenity commented on #9200
Waiting for Allyson to test this, but it looked good to her at first glance.

[2022-06-29 15:13] TracyLinder opened #9596 "Meeting: Prototype review w Stakeholders (ROSY)"

[2022-06-29 15:26] #8908 closed

[2022-06-29 15:27] #8857 closed

[2022-06-29 15:27] #9017 closed

[2022-06-29 15:28] #5066 closed

[2022-06-29 15:28] #8357 closed

[2022-06-29 15:29] patrickm02L commented on #9527
FYI: Amenity has access to the Google Analytics so we can do analysis of user behavior on the COA website.

[2022-06-29 15:30] TracyLinder commented on #9587
I'll take this one.

[2022-06-29 15:38] amenity opened #9597 "Projects Map | Conduct user research"
### Objective
Set up interviews with Transportation staff who from the MUG (Moped User Group) who have insights about what they expect from the Moped Viewer and how it will affect their experience.

Sub-tasks include:

- [x] User interviews
- [x]  Notes synthesis
- [x]  Affinity mapping
- [x]  Translate to feature requirements
- [x]  Follow up with any questions

### DTS Examples
- [Moped 0.7.0 Us

[2022-06-29 15:50] TracyLinder opened #9598 "SIF PDox Integration"
### All expedited plan reviews are managed by DSD using an integration with Project Docs. We need to insert ATD SIF Review into this process ASAP.
_This was a missed requirement during SIF discovery._

[2022-06-29 16:00] amenity opened #9600 "[Enhancement] Unit Cost - increase decimal places to 4"

[2022-06-29 16:01] amenity opened #9602 "[Meeting] Review proposed enhancements with stakeholders"
Set up meeting with stakeholders to determine how we should use the "Received Items" if inventory planners will be involved in the process and show proposed enhancements.

# 7/27
Talked to AMD stakeholders on 7/26 to get agenda together to talk to Finance team.

## Finance Enhancements
- [x] Discussion: How Finance utilizes "Received Items" - Allow Inventory Planners access?

- [x] Discussion: If

[2022-06-29 16:08] amenity opened #9603 "Implement new order tracking fields in TEST"
Building out Order Tracking fields in TEST Finance and Purchasing
- new object table
- reference #9370

[2022-06-29 16:12] amenity commented on #9238
Thanks for doing this, @johnclary! Will you adjust the pipeline and label sprints, please?

[2022-06-29 16:15] atdservicebot opened #9604 "[IT Support] Update the filters that are on the banner drop off and pick up pages"
Street Banners

We would like to reevaluate the filters that are on the banner drop off and pick up pages. One filter we would definitely like to remove for the pick up banner page is the filter of "Will Pick Up - yes" because we have come across several organizations that come to pick up their banners after checking no on the will pick up field.

Soon — This week

Christina T.

Request ID: DTS22-

[2022-06-29 16:17] amenity commented on #7528
@johnclary - will this be resolved with #6482?

[2022-06-29 16:24] dianamartin commented on #9273
@amenity do you know the status of #7410 is?

[2022-06-29 16:26] rebeccabrand commented on #9510
Presented progress to Patrick & Amenity on Monday, 6/28.

Refined presentation for Moped Sprint Review on Tuesday, 6/29.

The presentation is [linked here.](https://docs.google.com/presentation/d/1iNNyt2RdcqZ_d0z5rg7SnnMC4RUdkc1y32QPZrktNQw/edit#slide=id.g139f5f52248_0_20)

[2022-06-29 16:27] #9510 closed

[2022-06-29 16:27] #9506 closed

[2022-06-29 16:28] rebeccabrand commented on #9505
Finished these intro meetings @patrickm02L, unless you think there's anyone else I should meet with.

[2022-06-29 16:29] TracyLinder commented on #9355
I gave @frankhereford the green-light to continue with the next step.

[2022-06-29 16:35] TracyLinder commented on #9587
We need the GIS segment ID's and the folder types Ryan wants included.

[2022-06-29 16:46] TracyLinder commented on #9327
Ready for UAT in Test

[2022-06-29 17:04] patrickm02L commented on #9505
It's good to close.

[2022-06-29 17:51] Charlie-Henry commented on #9504
SD 2023 Measures we could potentially update monthly:

[Web page with all measures for mobility](https://data.austintexas.gov/stories/s/Mobility-Dashboard/gzb5-ykym/)

Capital Metro:
- Transit Travel Time Reliability: Percent Change in MetroBus
On-Time Performance (M.A.2.a)
- Change in average MetroBus travel speed (M.A.5.a)

INRIX data (currently analysis is completed by CTR)
- Percent change in

[2022-06-29 18:23] TracyLinder commented on #9327
Let's test this at this Friday's meeting.

[2022-06-29 18:27] atdservicebot opened #9605 "Street Segment ID Request from DTS-AMANDA"
### Tracy needs street segment ID's for #9587.
**Per the customer the street segments we need to query against are:**
Sections:
• 2222/290 to MLK
• MLK to Riverside
• Riverside to 290/Ben White

----

None

(This is Tracy.) I need a list of all street segment IDs within the range below to finish a query for #9587.

Soon — This week

This was a request by Jim D to support the IH 35 project planning

[2022-06-29 18:35] TracyLinder commented on #9587
I opened #9605 to request the street segment ID's from ATD-GEO

[2022-06-29 18:43] amenity commented on #9370
@dianamartin has completed scoping and will do a bit of preliminary, low-hanging fruit work before backlogging this project.

At that point, AMD can prioritize it among their other project requests.

[2022-06-29 19:06] Charlie-Henry commented on #9568
Met with Peggy today. She thinks it would be a good idea to build a mock-up using some static data for the parking meter cash transaction reconciliation. Show it to Denice and Ashlande sometime next week is the plan

[2022-06-29 19:07] johnclary commented on #8311
Resolved by https://github.com/cityofaustin/atd-moped/pull/688.

[2022-06-29 19:07] johnclary commented on #8311
Resolved by https://github.com/cityofaustin/atd-moped/pull/688.

[2022-06-29 19:07] #8311 closed

[2022-06-29 19:09] atdservicebot opened #9606 "Add column to table on "Camera Maintenance Priority" list"
Data Tracker

Adding work order status to [Camera Maintenance Priority summary page](https://atd.knack.com/amd#cameras-maintenance/?view_1484)

Having work order status as a column to Camera Maintenance Priority summary page

None

Allyson R.

Request ID: DTS22-104485

[2022-06-29 19:11] amenity commented on #7544
Leaving this in the backlog, but assigning to you, @chiaberry . @mateoclarke will support you and also do some pm tasks while @moorerst is out.

[2022-06-29 19:15] #9586 closed, assigned to dianamartin, andrewshensky

[2022-06-29 19:21] amenity commented on #6482
@johnclary is going to schedule a meeting next week for us to review and scope outstanding work, @dianamartin.

[2022-06-29 19:23] KaroEngstrom commented on #8953
### Karo's notes - W 6/29/22

**TO DO**
- [ ]  Look up specific details on how Microsoft365 AD profiles display file usage info for selected person (SharePoint People webpart; Teams profile; etc.) and which files are shown (SharePoint, OneDrive?, other?) - find out what criteria guides the selection of files that are shown
- [ ] Karo will follow up with Adan to debrief on the following:
1. Trainin

[2022-06-29 19:24] amenity commented on #9577
@frankhereford - let's discuss your recommended approach here, assuming we want to take care of it quickly.

[2022-06-29 19:25] atdservicebot opened #9607 "Remove 'to assign' and update existing drop down fields on 'Camera Work Order' to: Assigned to Con..."
Data Tracker

Remove  'to assign' and update existing drop down fields on 'Camera Work Order' to:
Assigned to Contractor
Assigned to CoA Staff
Installed: MMC Verified
Installed: MMC Not Verified

New 'Camera Work Order' Statuses to:
Assigned to Contractor
Assigned to CoA Staff
Installed: MMC Verified
Installed: MMC Not Verified

None

Allyson R.

Request ID: DTS22-104490

[2022-06-29 19:28] atdservicebot opened #9608 "Add to Issue Type: Abandon Vehicle Vehicle Abatement"
Parking Enterprise Portal

Add to Issue Type:
Abandon Vehicle
Vehicle Abatement

Unsure

Shavyvonne W.

Request ID: DTS22-104495

[2022-06-29 19:28] dianamartin commented on #9438
Meredith replied 6/23

That is exactly what I envisioned for the first round and I am so excite to share this with Jennifer. I will meet with her tomorrow and once I get the final thumbs up, we can go live next week!
I appreciate you,

[2022-06-29 19:30] dianamartin opened #9609 "Feature: 30-60-90 Supervisor Survey Updates"
# HR Meeting 6/29

Enhancements
- [x] Have the ability to know the number of email sent
- related object table
- CREATE AUDIT LOG FOR EMAILS
- EMAILED DATE

- [x] `HR Notes` - Rich Text
- [x] Add New `HR Status`
  - NEW
  - IN PROGRESS
  - CLOSED

Would like to go live in July 18th

[2022-06-29 19:32] mddilley commented on #9052
So far, I've tried:
- Hooking into Chosen.js to set the value of `field_1209`
   - That didn't work as [the docs show it might](https://docs.knack.com/docs/javascript-jquery-examples#set-connection-field). The value doesn't update, and I'm unable to get the work order to populate the value or text of the select.
   - I think this is because it is an asynchronous autocomplete
- Tried updating the D

[2022-06-29 19:34] amenity commented on #9513
@frankhereford - we were thinking that it would be good to do this during this sprint so that it can be in the next release

[2022-06-29 19:35] moorerst commented on #7544
@amenity @mateoclarke we have some next steps identified in issue #9583 from the kick off meeting yesterday. I can spend some time on Thursday creating issues for task that are time sensitive and schedule a stakeholder meeting with Banners team  and Financial POC once they are identified.

[2022-06-29 19:35] frankhereford commented on #9513
@amenity wrote:

I can't wait to discuss it with you today in planning, but the short-story is that I'm massively in agreement with you. Sooner the better - this sounds great.

[2022-06-29 19:36] frankhereford commented on #9355
The script is successfully running. Due to the two data-sources being out of sync initially, it seems that we're going to have to issue ~6K requests to the knack API which isn't the fastest, but I'm optimistic that within a few hours, this process will be done.

That said, both additions and soft-deletes to the knack API are returning without error, so unless the data doesn't appear to be in good

[2022-06-29 19:37] johnclary commented on #8624
I followed [these steps](https://mui.com/material-ui/migration/migration-v4/) to get a deploy preview working. There are lingering issues that need to be investigated.

[2022-06-29 19:50] rebeccabrand opened #9610 "Define Moped "Projects map" feature requirements"
Based on the Design Discovery research (#9510) conducted in late June 2022, Rebecca will create a universal list of potential features for the Mobility Project Viewer (#1106). This will be informed by the user research & testing process (#9709).

[2022-06-29 20:44] amenity commented on #9498
@mateoclarke - this will be up next for Rose.

[2022-06-29 20:45] ChrispinP commented on #9088
I emailed finance that this update is complete. Melissa also let me know what occurred for the duplicate records as well with fees being split between different Funds

closing

[2022-06-29 20:48] amenity commented on #9522
This might be an edge case... can wait to see how it affects users.

[2022-06-29 20:57] #9570 closed

[2022-06-29 21:01] #7217 closed

[2022-06-29 21:05] amenity commented on #9261
@frankhereford and @mddilley feel that their work here is sufficient to begin scoping out #9196

[2022-06-29 21:05] #9261 closed, assigned to frankhereford, mddilley

[2022-06-29 21:07] andrewshensky commented on #9605
@TracyLinder Do you just need the segment IDs for each segment in those sections of I-35 included in the issue?
Also, would this segment data need to come from the City-wide street segment data and not the CTN?

[2022-06-29 21:13] amenity commented on #9196
@frankhereford and @mddilley are going to provide more information here and add tasks representing the work ahead.

[2022-06-29 21:14] amenity commented on #9053
@dianamartin - this is ready for a re-review. 😎

[2022-06-29 21:15] moorerst opened #9611 "Training HR Sharepoint Redesign"
During the recent Sprint Review we reviewed some of the updates made by the stakeholder. There are some opportunities to provide follow up training and suggestions on:

- the SharePoint list for the training and development section (replace excel spreadsheet)

- builder tips to replicate some of DSD HR SharePoint.

[2022-06-29 21:16] dianamartin commented on #9053
@amenity Mike's been updating this issue #9052 - He's still working through some stuff from what I read.

[2022-06-29 21:17] amenity commented on #9404
You can add it to a product sync agenda here: https://docs.google.com/document/d/1hWzg-qluRBrTetEGjg_eHrR9qT4IqenaUgk6FR6APbU/edit#

[2022-06-29 21:21] amenity commented on #9577
Will leave the Prefect-ization to another day. Command used will go in Gitbook.

[2022-06-29 21:28] amenity opened #9612 "Github Action-ify the Frank Approach to Prefect-ing"
This issue is to track work related to extending the existing GitHub actions related to deployment and CI for the proposed systems found in [PR 9](https://github.com/cityofaustin/atd-prefect/pull/9) and [PR 14](https://github.com/cityofaustin/atd-prefect/pull/14).

Criteria for success include:

* Define process for initially deploying a new script
  * Documentation
  * Example boilerplate code to

[2022-06-29 21:34] patrickm02L commented on #9568
@patrickm02L heads up!

[2022-06-29 21:39] patrickm02L opened #9613 "Prototype dashboard with data from current dashboards"
Based on the research from #9504 it makes sense to build out an MVP of to see how an Executive Dashboard might operate.

Using data from the following dashboards:
- Signs and marking
- MMC
- Vision Zero
- Capital Metro

We're looking to create a single dashboard that's an amalgamation of other dashboards so that other teams can continue to use what they've created while we reference their data.

A

[2022-06-29 21:45] amenity commented on #7544
Thanks, @moorerst 🙏🏻

[2022-06-29 21:46] ChrispinP commented on #8338
gonna backlog this until we determine what type of documentation is necessary and once the app is in a more formalized state

[2022-06-29 21:47] patrickm02L commented on #9504
This spike helped us to create an Issue for prototyping a new dashboard.

[2022-06-29 21:47] #9504 closed

[2022-06-29 21:50] moorerst opened #9614 "Enhance Announcement Message on RPP Application"
in the meeting this morning with the RPP team they indicated they are still getting a lot of Orange Zone residents entering applications in Knack despite the Announcement on the home page. Is there any updates we can do to make it more visible like make it Red or Bold Announcement - Orange District Residents. Open to any thoughts you may have.

- [x] double messaging. One on the first page of the

[2022-06-29 21:50] patrickm02L commented on #8947
@Charlie-Henry will email Erin to see if there's still any interest in getting training. If not, we'll close this Issue or Icebox it in case they want to get training later.

This might also be an opportunity to pivot to work with Meredith in PDD.

[2022-06-29 21:52] dianamartin commented on #9604
Cathy sent me a meeting invite for 6/29 to talk about the Banner drop off and pick up filters. was there and there and she told me she put in this request and I was already updating something on these Banner drop off and pick up pages.
- [x] Removed on the filter "Will Pick Up"
- [x] Updated the filter for the Banner Drop Off Page to:
- App Status - contains Approved
- Banner Status - is not - Del

[2022-06-29 21:52] amenity commented on #9454
In progress, now adding autocompletes for filters where there is a pick list available.

[2022-06-29 21:54] patrickm02L commented on #8938
@Charlie-Henry will follow Peggy and Cole to get a sense of what the next steps are.

[2022-06-29 21:58] #7993 closed

[2022-06-29 21:58] dianamartin commented on #9548
Lauren emailed Anton - 6/28

Not sure if you’re waiting on me, but I want to let you know that I give my final approval on the street banner program webpage! Please un-publish the two pages we want removed.
Thank you for all of your work!

Anton replied

I have submitted the request through the CPIO typeform. I have designated the deadline for completion to happen by next Tuesday, July 5. Once the

[2022-06-29 21:58] #9548 closed

[2022-06-29 22:09] dianamartin opened #9615 "Reorder Inventory Report to match PR Tracker spreadsheet in TEST"
After discovery meeting on 6/29. Talked to Brian V. and Ronnie about which fields they think they need in this new report page. Since had already prototyped a page in the Test environment, I was going to just adjust the fields in the system and add a few missing elements to make the table a bit better.

- [x] Reorder the fields to be in the same order as PR Tracker spreadsheet
- [ ] Add `Purchase

[2022-06-29 22:40] ChrispinP commented on #9614
Added the same messaging from the Portal page to the first page of the application:
![image](https://user-images.githubusercontent.com/67915167/176557422-f2113b2e-8c13-4c21-96d7-3cfb9b268050.png)

Updated the How It Works section of the Get Started page and added a linked Big Button for navigation.
![image](https://user-images.githubusercontent.com/67915167/176557523-373dec4d-78e4-4e2c-bc6c-f2cf5e

[2022-06-29 22:50] dianamartin commented on #9615
Prototyped an Order Tracking page

- Created new object: `order_tracking`
- Created new object: `delivery_received`
- Created new Item Details page
- Created Tracking Info table
- Created Add Order Tracking form
- Created Deliveries Received
- Created Add Delivery form

![image](https://user-images.githubusercontent.com/21112975/176558541-3a8f4cfc-6b21-4590-bad4-5817cebd7d1f.png)

[2022-06-30 00:01] mddilley commented on #9053
Just did another round of testing because I noticed one of the test links above wasn't working as expected.

Tested:
- ✅ `view_1048` with https://atd.knack.com/test--austin-transportation-data-tracker--31-jan-2022#my-work-orders/my-work-order-details2/61f852ef4373c6177acb3dd8/re-assign/61f852ef4373c6177acb3dd8/
- ✅ `view_1048` with https://atd.knack.com/test--austin-transportation-data-tracker--31

[2022-06-30 13:03] andrewshensky commented on #9507
6/24 - CTM has now closed this ticket verifying access to DM is now provided to requestor

[2022-06-30 13:03] #9507 closed

[2022-06-30 13:04] andrewshensky commented on #9365
New VZ data provided by Ivonne has been added to the MAP/EAZ Dashboard.

[2022-06-30 13:04] #9365 closed

[2022-06-30 13:20] patrickm02L commented on #7806
We haven't had any follow requests to do this. I think it's an idea we wanted to document with the hopes that it would materialize into an initiative in the city. I don't see this growing in need. Putting this in the Icebox incase it comes up again.

[2022-06-30 13:51] dianamartin commented on #7806
@patrickm02L Should it be icebox of just stay in backlog? We could also bring it up again after the Expression of Interest project.

[2022-06-30 14:22] andrewshensky opened #9616 "Append First Round of RAS Data from AGOL to MAINT"

[2022-06-30 14:26] andrewshensky commented on #8985
Workflow needs to be determined during initial append process. Once initial process is finalized, those steps and notes will be documented.

[2022-06-30 14:27] Nate-Nader commented on #9606
@amenity this one is for Data Tracker but i cant add you to the card or update it in anyway that is not a comment

[2022-06-30 14:29] Nate-Nader commented on #9608
@moorerst  this one is for Parking Enterprise Portal but i cant add you to the card or update it in anyway that is not a comment

[2022-06-30 14:53] amenity commented on #9594
From Brian

[2022-06-30 14:54] moorerst commented on #9614
@ChrispinP the enhancements look great. Hopefully this will help redirect the orange zone residents.
Closing this issue. Thanks

[2022-06-30 14:54] #9614 closed

[2022-06-30 15:04] dianamartin commented on #9608
Shavyvonne called me 6/30

- Submit an "abandoned vehicle" issue
- follow-up for tow (police, code enforcement)
- activity: `Vehicle Abatement` - submit at 311 request before tagged vehicle for abatement

Would like to see officer to create service request - "abandoned vehicle" SR issue rather than the PE dispatchers.
- reassign: dispatcher or officer can reassign
- follow-up: vehicle abatement

[2022-06-30 15:05] rebeccabrand commented on #9597
@amenity - I'm working on the usability testing plan [here.](https://docs.google.com/document/d/13DYTyX7TfqRlsf4h2-PN0LkpjofmIc6GXunJ5Xr1n6A/edit#)

[2022-06-30 15:13] atdservicebot opened #9617 "Remove CLOSED processes from task list (Reyes Camacho) (Deploying to PROD)"
AMANDA

Remove CLOSED processes from task list(Reyes Camacho)

Internet Browser: Edge

Jaclyn L.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62bdbb629c5d50001f307e41/capturetl.jpg) (1.29mb)

Request ID: DTS22-104500

[2022-06-30 15:21] rebeccabrand opened #9618 "Create Moped Viewer usability testing plan"
As the UX/UI designer leading the design process for the Mobility Viewer addition to Moped, I need to perform user research & testing to better understand the ideal feature requirements of this new product. This involved mapping out a testing plan and recruiting users to participate.

### Checklist

- Rebecca is using [this template](https://docs.google.com/document/d/13DYTyX7TfqRlsf4h2-PN0Lkpjofm

[2022-06-30 15:21] moorerst opened #9619 "HR Sharepoint Redesign Research"
Questions from Sprint Review issue #8953

- [ ] Reach out to CTM SharePoint team, how to make sure others can't open files
Find out specific details on how Microsoft365 AD profile riles display file usage info per user (SharePoint People webpart; Teams profile; etc.) and which files are shown (SharePoint, OneDrive?, other?) - find out what criteria guides the selection of files that are shown

- [

[2022-06-30 15:21] frankhereford opened #9620 "Orchestrate SSL Certificate renewal for `airflow.austionmobility.io`"
@chiaberry's work in #8555 opened up the possibility for automation of SSL certificate deployment on `atd-data02`. During discussion around the subsequent renewal of the certificate, the automation of the process has been considered.

During our bi-weekly planning meeting, the group generally agreed that work does not seem to be worth the effort at this time.

That said, composing a Prefect flow t

[2022-06-30 15:24] #9505 closed

[2022-06-30 15:25] moorerst commented on #8953
Created new issues for research and training.
Closing this issue

[2022-06-30 15:25] #8953 closed

[2022-06-30 15:45] #9214 closed

[2022-06-30 15:46] frankhereford commented on #9577
@amenity wrote:

I may have misremembered that I was to write a placeholder issue for the down-the-road automation of renewal. I wrote a short ticket for it in [9620](https://github.com/cityofaustin/atd-data-tech/issues/9620), but please feel free to close it if it's not helpful. Thank you!!

[2022-06-30 16:08] moorerst opened #9621 "Meeting: Citybase Knack Integration Project Brief"
- [x] Schedule a meeting to go over the [project brief](https://drive.google.com/drive/u/0/folders/1GMhQjN-I4mojBMz1SDMJM0-tdTuZwl7n  ) with Banners Program stakeholders and Finance POC

ATD Finance POC - not identified yet, Erin W.
Nicholas M (SMB, new OTS & LPB program manager)
Cathy (SMB)
Lauren (SMB)

[2022-06-30 16:08] TracyLinder commented on #9425
### Mtg 6/30/22

- Formal submittal via KNACK for the 1st version of the SIF estimator worksheet.
- Discussed AMANDA as an option. Due to the workflow, AMANDA won't be a decent solution until January of 2023.

[2022-06-30 16:08] dianamartin commented on #9425
# Notes 6/30
- Would like a place for a user to have a way to submit the SIF Estimator spreadsheet
- They would create a folder in AMANDA

AMANDA has attachment upload features, can be managed online by logged in user.
- Discuss AMANDA solution possibly. Won't be a decent solution until Jan 2023.

So we're definitely going to do this.

[2022-06-30 16:15] moorerst opened #9622 "Discovery with other COA departments on Citybase Implementation"
It was suggested that we meet with several other COA departments who have completed citybase implementation

- [x] Schedule a meeting with Hotel Occupancy Tax program (Eva)  and/or Libraries (Bob B) about their Citybase implementation (include any curious/available ATD stakeholders)

[2022-06-30 16:23] TracyLinder commented on #9425
### Recap of Form Requirements

- All fields from the Determination Form intake
- Zoning/Site plan/ Case # (not required)
- Add field for SIF Folder RSN
- Add field for council district (same as TIA application) & auto-assign to the lead reviewer (same as TIA) & Lead Reviewer Area
- Feature to email the lead reviewer to notify that a worksheet has been submitted for review.
- Email conformation to

[2022-06-30 16:24] TracyLinder commented on #9425
@ChrispinP this is ready to begin. I'll schedule a followup to review your work.

[2022-06-30 16:33] TracyLinder commented on #9587
Here is the segment data i got from Andrew.
[I35_SegmentIDs.xls](https://github.com/cityofaustin/atd-data-tech/files/9021747/I35_SegmentIDs.xls)

[2022-06-30 16:36] TracyLinder commented on #9587
Hi @Sreelatha-BlazeKannan I added the folder types (EX, DS, RW (exluding street event) and the property ID's to this issue. You can move forward with your query please & thank you!

[2022-06-30 16:37] TracyLinder commented on #9605
I attached the data Andrew provided me in [this comment](https://github.com/cityofaustin/atd-data-tech/issues/9587#issuecomment-1171434941). I think this is good to close.

[2022-06-30 16:37] moorerst opened #9623 "Complete Financial Documentation Citybase Knack Integration"
- These will need to be completed and returned as part of the implementation process to set up ATD as a billing system on the new Citybase online payment portal platform.  All departments intending to utilize this platform are required to complete and submit these documents.
[Memo Citywide Online Payment](https://docs.google.com/document/d/1aOQfMflmEl0_jk4vhSHK0ep1WVQwjZxa/edit)
[Online Credit Car

[2022-06-30 17:10] #9496 closed

[2022-06-30 17:15] TracyLinder commented on #9332
### Update
- Chrispin made a copy of the KNACK app
- Frank has successfully connected to it
- Next the 3 of us will sync on next steps on 7/5
- We meet w/ CTM on 7/6

[2022-06-30 17:18] andrewshensky opened #9624 "Update Signal Engineer Data/Push from Maint to DM"
The signals group has made changes to signal engineer areas data. This data needs to be updated in Maint and then pushed to DM.

[2022-06-30 17:23] TracyLinder commented on #7689
### We need to sync w/ corporate finance
- to verify that SIF AMANDA payments are working correctly for their purposes. Contact is Mark C. We'll need examples of SIF payments we've already taken in.

[2022-06-30 17:40] andrewshensky opened #9625 "Update Signal Engineer Areas Print Map"
The signals group would like their print map showing signal area responsibilities updated as many changes have taken place

[2022-06-30 17:50] atdservicebot opened #9626 "Attempting to sign in to Knack, but pressing "Sign-In" button only loops back to same screen."
Other / Not sure

Attempting to sign in to Knack, but pressing "Sign-In" button only loops back to same screen.

Soon — This week

Brian K.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62bde192aeac75001e9819d1/login.png) (67.15kb)

Request ID: DTS22-104505

[2022-06-30 17:55] TracyLinder commented on #9355
This looks great. Thank you @frankhereford!

We'll pause here until we sync w/ @ChrispinP next week on 7/5/22.

[2022-06-30 18:04] mddilley opened #9627 "Create and destroy DB in test RDS Postgres instance"
To create a DB for each test instance, we should create a DB in an RDS instance and then destroy it when it is no longer needed to preview a branch. This can be implemented with Python scripts that will then populate tasks in a Prefect flow. A new test RDS instance can be used for development purposes.

Steps:
- [x] Create a small moped-test RDS instance for development
   - `atd-moped-test` in AW

[2022-06-30 18:11] dianamartin commented on #9606
This is the email Allyson sent to some of the stakeholders 6/30

•	Request to add work order status to camera maintenance priority summary page
•	Updated camera work order detail status
- [ ] Remove ‘to assign’
- [ ] Add ‘Assigned to CoA staff’
- [ ] Add ‘Assigned to Contractor’
- [ ] Add ‘Installed: MMC Verified’
- [ ] Add ‘Installed: MMC Not Verified’

[2022-06-30 18:14] dianamartin commented on #9200
- [ ] Continue updating the ASR fields labels on Details page
- [ ] Continue updating the ASR fields labels on Edit Form page

[2022-06-30 18:16] atdservicebot opened #9628 "Update Signs & Markings' feature layers in GISMAINT"
ArcGIS

Change feature layers in GISMAINT for:
markings_specialty_line,markings_short_line, and markings_specialty_point

Change field INSTALL_DATE into LAST_WORK_DATE with an attribute rule that returns the max WORK_DATE from the related dates table whenever a new row is added where WORK_TYPE is Install/Maintained.

Flexible  — An extended timeline is OK

Susanne G.

[Attachment](https://api.knac

[2022-06-30 18:20] #9375 closed

[2022-06-30 18:20] Sreelatha-BlazeKannan commented on #9587
@TracyLinder , @Nadin-Nader - I see only below records as per the above segment ID's for DS,EX and RW Folder types. And it is associated with only one Property RSN - 3370929
![image](https://user-images.githubusercontent.com/44907715/176749686-75dd829d-25bf-4e5d-8d69-24abe14f1ab1.png)

[2022-06-30 18:21] KaroEngstrom opened #9629 "[DT] Delete CSR Flex Notes - August 2022"
Received automated reminder to delete flex notes in AMD Data Tracker PROD and reference the Flex Note Archiving wiki

Ran filter on: https://builder.knack.com/atd/amd/records/objects/object_95

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 06/01/21 (2 months prior)

Total Records: 25864
To Delete: 7782
New Total: 18082

[2022-06-30 18:23] frankhereford opened #9630 "Create Prefect flow tasks which create and destroy ECS clusters"
This issue is intended to track the work of developing the deployment orchestration for the `graphql-engine` service as part of the Moped test deployments. The graphql endpoint will be provided using the Amazon ECS service, following the pattern set forward in the Moped Production and Moped Staging environments.

Generally, the following is a list of the AWS resources which shall be created and co

[2022-06-30 18:46] rebeccabrand opened #9631 "Design Projects Map prototypes in XD"
As the UX/UI Designer for the Projects Map, I need to draft wireframes of the product for the purpose of user testing and defining feature requirements.

- [x] Rebecca reviews XD comments
- [x] Rebecca drafts multiple wireframes / refines feature requirements
- [x] Rebecca builds out new XD file [living here](https://xd.adobe.com/view/da09889b-be6e-457d-bb9f-eeaf4dbdd825-8f5a/)
- [x] Share files w

[2022-06-30 18:51] rebeccabrand commented on #9618
@patrickm02L - here is my [user testing plan document.](https://docs.google.com/document/d/13DYTyX7TfqRlsf4h2-PN0LkpjofmIc6GXunJ5Xr1n6A/edit#)

[2022-06-30 18:52] TracyLinder opened #9632 "BUG: TCP Report Error - Page area too long"
### "I am receiving an error while trying to open an inspection report for permit number **2021-035505-EX**. When I try to send this report or save it a **page area too large error appears**.

**Customer:** Nathan C.

[2022-06-30 18:54] TracyLinder commented on #9632
@Nadin-Nader can you please assign this to a dev for de-bugging?

[2022-06-30 19:07] TracyLinder commented on #9541
We need DSD to test - Mackenzie is out ill. Tracy needs to ask for another tester.

[2022-06-30 19:12] #9317 closed

[2022-06-30 19:14] amenity commented on #9318
@amenity - check with HR to see when this will close and what next steps are.

[2022-06-30 19:29] KaroEngstrom opened #9633 "[Signs & Markings] Delete Flex Notes - August 2022"
Received automated reminder to delete flex notes in Signs and Markings Operations PROD and reference the Flex Note Archiving wiki

W 8/1022

Ran filter on: https://builder.knack.com/atd/signs-markings/records/objects/object_172

Filter:
`ISSUE_STATUS_CODE` contains `closed`
`CREATED_DATE` is `before` 06/01/21 (2 months prior)

Total Records: 23846
To Delete: 6862
New Total: 16984

[2022-06-30 19:31] Nadin-Nader commented on #9617
This is something that may have to be done after the V7 upgrade. I will follow up with Jaclyn to see if this is urgent or if it can wait

[2022-06-30 19:43] Nadin-Nader commented on #9632
@TracyLinder I reached out to Nathan asking for the report number but have not gotten a response yet

[2022-06-30 19:56] amenity commented on #8972
# Ideas
- Do Discovery Day research on standards/techniques that we could adopt
- Consider offering alternate vector tiles that the user could choose from
- Get input from PIO - especially on bike icons

[2022-06-30 19:58] amenity commented on #9322
@alan-deanda - create issue for dashboard

[2022-06-30 20:00] andrewshensky commented on #8733
@amenity Here is the link to the current dashboard for this project. It may be worth including in the email to aid users.
https://austin.maps.arcgis.com/apps/dashboards/c948db63ff9f4941a7d237bc0bfac940

[2022-06-30 20:29] mddilley commented on #9052
@dianamartin I've finally found some success here! 🎉 To test:

1. Go to a work order in `TEST | Austin Transportation Data Tracker | 31 JAN 2022` like https://atd.knack.com/test--austin-transportation-data-tracker--31-jan-2022#work-orders/work-order-details/61f852ef4373c6177acb3dd8/
2. In the Work Order Details view, click the "Follow-Up Work Order" button
3. When that view loads, you should see t

[2022-06-30 20:44] dianamartin commented on #9626
@ChrispinP this user looks new, are the in the ROW Portal already?

[2022-06-30 21:21] dianamartin commented on #9508
Followed up with Mireya on 6/30

she replied

They patch was applied on the 27 - I think the issue was sporadic before then.  After you reported the problem, I checked other forms and the file repo. and it was working.  I submitted a ticket to have research but they did not tell me much (first tier service desk usually assumes is user error )  But then the issue came up because daily submissions b

[2022-06-30 21:26] amenity commented on #9385
@johnclary - In dev sync, @frankhereford explained that this doesn't need to be tied to a release since there is no code involved. He actually thinks it may be better to stagger them.

[2022-06-30 21:27] amenity commented on #9385
Wait... this must be the wrong issue... 🙈

[2022-06-30 21:31] dianamartin commented on #9508
Mireya said that CTM still needs to do research as to why there were missing emails that never made it to the resource account.

[2022-06-30 21:33] amenity commented on #9512
_Here we go_ 🙃

@johnclary - In dev sync, @frankhereford explained that this doesn't need to be tied to a release since there is no code involved. He actually thinks it may be better to stagger them.

[2022-06-30 22:07] patrickm02L commented on #9631
@amenity talked with Rebecca today about how to approach user testing, and thought that creating some low-fi wireframes would be a good start. Wanted to put this on your radar.

[2022-07-01 01:22] alan-deanda commented on #9566
request sent to CTM on 06/24, awaiting response

[2022-07-01 12:32] amenity commented on #8371
@dianamartin @mateoclarke - not urgent, but let's get this process documented while @johnclary is still here. 🧠

[2022-07-01 13:07] atdservicebot opened #9634 "[URGENT] Knack info not loading. I can login but cannot queue anything."
Finance & Purchasing

Knack info not loading. I can login but cannot queue anything.

Tried application in both Chrome & Firefox

PO BOX 1088

Internet Browser: Chrome

Error :(

Request ID: DTS22-104515

[2022-07-01 13:35] #9605 closed, assigned to TracyLinder, andrewshensky

[2022-07-01 13:37] #9595 closed

[2022-07-01 13:39] andrewshensky commented on #9616
This data has now been appended. Updates Location/Sign Counts below:

**Total Locations Mapped:**
7420
**Total Signs Mapped:**
24,580

[2022-07-01 13:39] #9616 closed

[2022-07-01 13:40] dianamartin commented on #9634
- [x] Checked the knack status, all good status
- [ ] Ken B. got a hold of me via email, talking on Teams now about the issue. Looks like he and Jon C. are able to log in, but the "All Purchase Requests" page is not loading.
- [x] I've opened the backend and that page is just spinning as well. Something is up.
- [ ] Put in ticket with Knack

[2022-07-01 13:41] andrewshensky commented on #9624
This data has been updated in Maint and pushed to DM

[2022-07-01 13:41] #9624 closed

[2022-07-01 13:44] frankhereford commented on #9512
@amenity wrote:

I'm excited to get this deployed - thank you Amenity!

It would be my preference to do this well outside of business hours, ideally on a Saturday. I'll bring up this proposal today in the dev sync unless you'd prefer something else. If we could get this out this weekend, I'd then advocate for getting production rolled out after business at some point this upcoming week, and then w

[2022-07-01 14:09] johnclary commented on #9593
i sent the current phases and milestones to @amenity via slack

[2022-07-01 14:09] KaroEngstrom opened #9635 "Ensure the workflow updates each Assigned To field appropriately"

[2022-07-01 14:27] #9634 closed

[2022-07-01 14:32] johnclary commented on #9238
✅ i followed up with Robert on teams to ask if he resolved the activity field maps

[2022-07-01 14:38] johnclary commented on #9273
schedule for July 5th.

[2022-07-01 15:15] KaroEngstrom commented on #9367
F 7/1/22

- [x] Added new hires from June 2022 as folows:
- Shannon R.
- Gavin J.
- David S.
- Brian K.

- [x] Created an issue for August 2022
- [x] Updated change log

[2022-07-01 15:26] mddilley commented on #9052
@dianamartin Let me take a look at that real quick. I've been having issues with the custom JS not updating as quickly as I'm making changes.

Ok, it is working again now. I had to add code back in to set a selected option with the value of the original work order ID. Sorry about that!

[2022-07-01 16:08] frankhereford commented on #9308
Feedback processed and LTP symbology used as requested.

[2022-07-01 16:12] johnclary commented on #8238
just want to point out [this issue](https://github.com/cityofaustin/atd-data-tech/issues/7910) about `current_status` which may overlap with this work.

[2022-07-01 16:15] johnclary commented on #8308
This was resolved with https://github.com/cityofaustin/atd-moped/pull/688

[2022-07-01 16:15] #8308 closed

[2022-07-01 16:29] KaroEngstrom opened #9636 "Update DTS Portal with HR New Hires - August 2022"
Check HR new hires for previous month:
https://atd.knack.com/hr#manage-accounts/

Add all regular employees to DTS Portal as Viewer

[2022-07-01 16:39] rebeccabrand commented on #9631
@patrickm02L more sketches to come...

![Doc - Jul 1 2022 - 12-36 PM.jpg](https://images.zenhubusercontent.com/62a6851f8cb947503837405d/f56e2fab-c29c-4ff4-8843-dbd8d937fb74)

[2022-07-01 16:41] andrewshensky opened #9637 "Sign Updates from Work Orders"

[2022-07-01 16:49] andrewshensky commented on #9637
**Signs**
Assets Requiring QC: 1,759
Total Assets: 6,304
**Locations**
Total: 1,963

**Totals after first round of vendor data**
Signs Assets: 24,846
Locations: 7,526

[2022-07-01 18:54] #9637 closed

[2022-07-01 19:24] dianamartin opened #9638 "Correct 2 Purchase Requests that were assigned to ATDProCard"
Sharon B.
Finance

Emailed that there were 2 PRs that were incorrectly assigned to ATDProCard instead of going to Budget Review.

[2022-07-01 19:26] dianamartin commented on #9638
2021-10-3342
2022-06-4175
- [x] Corrected `review` record - wiped "Next Reviewer", Submit to Finance = from No to Yes
- [x] Corrected `purchase_review` - wiped "Assigned To", MANAGER APPROVAL COMPLETE = from No to Yes

[2022-07-01 19:30] atdservicebot opened #9639 "BUG: DS Permit Expiration Bugs when processes are updated (LP) (On Prod)"
### System is updating DS expiration date when an attempt is added to folder process Traffic Control Inspection. This should not happen.

**Acceptance Criteria**

- All Acceptance Criteria written applies only for DS folder.
- System should not update Expiration date when any attempt is made in the Traffic Control Inspection Process.
- When the expiration date of the parent BP is extended, system

[2022-07-01 19:49] TracyLinder commented on #9567
### Stakeholder Review

It went great. They love it. Closing.

[2022-07-01 19:49] #9567 closed

[2022-07-01 19:55] dianamartin commented on #9638
I emailed the stakeholder 7/1

•	2021-10-3342
•	2022-06-4175

![image](https://user-images.githubusercontent.com/21112975/176960596-b843a68c-395a-4b69-a1ca-67d6103f81a9.png)
![image](https://user-images.githubusercontent.com/21112975/176960621-91eaedc4-b831-40ab-9690-858dfa662a7c.png)

![image](https://user-images.githubusercontent.com/21112975/176960881-7052d29b-8fbd-49cc-a98d-80d450a98eb7.png)

[2022-07-01 19:57] #9638 closed

[2022-07-01 20:06] alan-deanda commented on #9322
Today concludes what may be called phase 1 of the geospatial analysis for the SS4A grant application. We have compiled and analyzed the universe of intersections for funding considerations. The next phase involves assigning cost values and provide further analysis.

[2022-07-01 20:06] #9322 closed

[2022-07-01 20:08] alan-deanda opened #9640 "SS4A Dashboard"
Make an internal dashboard that breaks down the prioritization and cost of intersections considered for funding in the SS4A grant application.

[2022-07-01 20:09] alan-deanda opened #9641 "SS4A Map phase 2"
Assign cost and further analyze intersections being considered for funding in the SS4A grant application.

[2022-07-01 20:18] frankhereford opened #9642 "Remove extra, old records showing up in certain projects' activity log"
In, at least, project ID 227 & 228, there are activity log entries which need to be removed.

![Screen Shot 2022-07-01 at 2 13 26 PM](https://user-images.githubusercontent.com/3653206/176963128-c20a3858-3ba6-42b0-8105-b139e11701b1.png)

They appear to be dated at or around when we launched Moped. Please see this thread in slack for more information: https://austininnovation.slack.com/archives/CNUE

[2022-07-01 20:22] frankhereford commented on #9642
Here are some sql snippets that i used looking at the read replica that might be helpful:

[code]

[2022-07-01 20:39] dianamartin commented on #9468
@patrickm02L @KaroEngstrom Here is the [workflow ](https://miro.com/app/board/o9J_lkl-1hE=/)for SMO P3 in Miro.
Karo and I spent some time on our 1:1 to decipher their workflow so we're prepared with questions when we meet with them next week.

[2022-07-01 20:46] frankhereford commented on #9512
The group expressed support to move forward over the weekend. 🙏

[2022-07-01 20:53] frankhereford commented on #9302
Feedback processed 🙏

[2022-07-01 20:58] frankhereford commented on #9303
Feedback processed.

[2022-07-01 21:05] johnclary commented on #9642
just want to point a tiny potential bug in the [activity log query](https://github.com/cityofaustin/atd-moped/blob/f19ae38ce0079ddabb158d5f1df4c9031118f1f1/moped-editor/src/queries/project.js#L415), we're filtering for active users only

[code]

we don't want to do that—a no-longer-active user may be responsible for historical project activities.

[2022-07-01 21:07] frankhereford commented on #9305
Feedback processed

[2022-07-01 21:09] dianamartin commented on #9052
@mike I tested this function this afternoon and it seems to be working now. I won't meet with them until 7/11 so that's when I plan to demo this. I'll let you know when it's time to move things into Production. Thank you 🙏🏽

[2022-07-01 21:09] dianamartin commented on #9053
@mike I tested this function this afternoon and it seems to be working for me. I won't meet with them until 7/11 so that's when I plan to demo this. I'll let you know when it's time to move things into Production. Thank you 🙏🏽

[2022-07-01 21:18] dianamartin commented on #9634
Knack replied with some information about performance environments 7/1

All new Knack accounts have been using this new environment since February. We’re now currently migrating all existing customers. We’d love to move your account over to the performance environment now so you can take advantage of these improvements.
You can learn more about our new performance environment in the document attac

[2022-07-01 21:23] frankhereford commented on #9304
feedback processed

[2022-07-01 22:20] mateoclarke commented on #9621
Hey Stephanie, Peggy asked Erin W to be our ATD Finance POC and Erin went ahead and scheduled a call for Tuesday. I've forwarded the invite to y'all and I'll also loop in our stakeholders.

[2022-07-01 22:39] dianamartin commented on #9585
@patrickm02L I've prototype the Shared Mobility EOI [form](https://atd.knack.com/smrt#expression-of-interest/), take a look.

[2022-07-02 20:46] mddilley commented on #9196
Adding the task from the flow that Frank and I talked through so far so we can keep adding issues to this epic. Most of the create and destroy pairs will likely make up a single issue. Current priority is the DB and GraphQL engine tasks.
- [x] Create DB
- [x] Destroy DB
- [x] Create Hasura GraphQL cluster
- [x] Destroy Hasura GraphQl cluster
- [ ] Create SQS for activity log
- [ ] Destroy SQS for

[2022-07-02 20:58] mddilley opened #9643 "Commit `network.yaml` to the Moped DB code and test"
Whenever an update is made to the Moped DB schema through the Hasura console, a file called `network.yaml` is generated. In order to avoid deleting it each time we make an update, we should test committing this file to the codebase and make sure it plays nice with the CI/CD flow. This task should be the only change in the PR for this update so that we can observe the effects of the change in isola

[2022-07-02 21:11] mddilley opened #9644 "[Tech debt] Normalize the way project note authors are tracked and rendered"
When a project status update is created, the field called `added_by_user_id` has not been captured accurately and has been populated with `1` for records in the past. This bug was patched in https://github.com/cityofaustin/atd-data-tech/issues/9472 for records going forward, but we should looked at going back and updating the fields with the user ID that matches the user name populated in the `add

[2022-07-04 14:15] frankhereford commented on #9512
This worked just as expected, including making the transition seamlessly with zero downtime apparent to any users. I'm comfortable advocating for this same change to be pushed to production this week. Thanks!

[2022-07-04 14:15] #9512 closed

[2022-07-04 19:58] ChrispinP commented on #9425
### SIF Application built:
![image](https://user-images.githubusercontent.com/67915167/177210257-8509a507-c05e-43d7-8fa9-34af0f148685.png)
![image](https://user-images.githubusercontent.com/67915167/177210530-86304ad3-f586-407c-8c49-3caad779fbb9.png)
**Still to do: Emails**

### SIF Information Button on Customer Portal:
![image](https://user-images.githubusercontent.com/67915167/177210639-9dd8dfc

[2022-07-05 14:12] #9367 closed

[2022-07-05 14:23] KaroEngstrom commented on #9619
T 7/5/22

- [x] Reached out to Dave G at CTM on profile cards to see what options exist beyond the basic Microsoft functionality outlined [here](https://support.microsoft.com/en-us/office/profile-cards-in-microsoft-365-e80f931f-5fc4-4a59-ba6e-c1e35a85b501)

[2022-07-05 15:09] Charlie-Henry opened #9645 "Refresh Bond Dashboard Data Automatically"
Currently, Microstrategy/E-Capris data is being manually updated by Meredith in a spreadsheet that lives on OneDrive. A Power BI dashboard is waiting for this spreadsheet to update and then will refresh with new data.

***

The idea is to use the Microstrategy REST API to grab the data on a schedule, or have a DB view created for us from the E-Capris database where we can get the data we need.

**

[2022-07-05 15:12] Charlie-Henry commented on #9645
First steps I completed on this issue was to:
- Reset my password so I can use the VPN to access Microstrategy
- Tried to use the Microstrategy REST API but I couldn't get authenticated, @mateoclarke sent an email to our CTM rep to get some help.

[2022-07-05 15:20] patrickm02L commented on #9585
This works nicely!

![screencapture-atd-knack-smrt-2022-07-05-10_19_41](https://user-images.githubusercontent.com/5566727/177361913-3edd885a-bc3e-4c92-a619-cd1457aa1da6.png)

[2022-07-05 15:20] TracyLinder commented on #9534
### 7/5/22 - Permissions Issues

1. Perrymnd - No longer has permissions to create a SIF folder.

2. RAMIREDA - System throws this error when user attempts to use his task list.
<img width="258" alt="Screen Shot 2022-07-05 at 10 09 24 AM" src="https://user-images.githubusercontent.com/49930868/177362014-7ecf0cee-a401-4085-9477-8668f9a72f85.png">

[2022-07-05 15:26] SubhaShroff commented on #9632
@Nadin-Nader  I recreated a permit TCI process attempts and deficiencies. And looks good on DEV and I see no issues. We can replace the PROD rpt file with the one on DEV. But before that I would like to have a call and see if its any other issue.

[2022-07-05 15:55] SubhaShroff commented on #9327
@Nadin-Nader  can I submit PROD deployment request for this ticket?

[2022-07-05 16:04] #5487 closed

[2022-07-05 16:04] TracyLinder commented on #5487
We will update & maintain our docs as we go. Closing this.

[2022-07-05 16:05] TracyLinder commented on #3605
We need to discuss w/ stakeholders during a prioritization meeting.

[2022-07-05 16:07] TracyLinder commented on #5474
This work has been done on various other issues. Closing this.

[2022-07-05 16:07] #5474 closed

[2022-07-05 16:08] TracyLinder commented on #3605
This is only meeting documentation. Closing.

[2022-07-05 16:09] johnclary commented on #6482
Notes from today's convo.
- Signal projects: replace with Moped Viewer
- Signal timing: replace with PowerBI
- Operations overview - replace with powerbi / executive dashboard. john's todo: check with Brian if its being used
- Operations map: take this down; it has been broken for a long time.
- Traffic volumes:  take this down; it has been broken for a long time.
- Traffic signal monitor: TBD, po

[2022-07-05 16:09] TracyLinder commented on #8550
We need to discuss w/ stakeholders during a prioritization meeting.

[2022-07-05 16:10] #3605 closed

[2022-07-05 16:13] TracyLinder commented on #7248
Closing this.

[2022-07-05 16:13] #7248 closed

[2022-07-05 16:15] #8203 closed

[2022-07-05 16:16] TracyLinder commented on #8612
Currently KNACK cannot attach docs to emails.

[2022-07-05 16:16] TracyLinder commented on #8612
We need to discuss w/ stakeholders during a prioritization meeting.

[2022-07-05 16:16] TracyLinder commented on #5473
Work has been done & re-done. Closing.

[2022-07-05 16:17] TracyLinder commented on #9025
We need to discuss w/ stakeholders during a prioritization meeting.

[2022-07-05 16:55] rebeccabrand commented on #9618
@patrickm02L / @amenity - I'm keeping track of potential users and a schedule for the testing in [this Google sheet.](https://docs.google.com/spreadsheets/d/1Mcv1rI5PsU5TuYOvZGwhw5cvJQGWifDq0BPB_EtcQOM/edit#gid=0)

[2022-07-05 17:57] amenity commented on #6482
Summary of today's discussion w/ @dianamartin @mateoclarke @johnclary and @amenity.

### High-level product purpose
Our team is not resourced to maintain the department's external website content — data and data visualization are our domains. So our custom code should be limited to the production, management, and presentation of of ATD's data.

That said, when we empower staff to create and manage

[2022-07-05 18:06] TracyLinder commented on #9011
**Update:**
OSE met w/ Meter Shop to discuss creating a sample report for us to work with. Let's pick this up in November.

[2022-07-05 18:14] TracyLinder opened #9646 "New OSE Report/Attachment with Application Details"
### When the applicant clicks submit on the RW-Street Event application, we want the system to insert an Application Details folder attachment. Same as happens with SE application.
_SE report template attached._

Requested by: Maria

[ACE_Application_PDF.pdf](https://github.com/cityofaustin/atd-data-tech/files/9048578/ACE_Application_PDF.pdf)

[2022-07-05 18:19] TracyLinder commented on #9541
@Sreelatha-BlazeKannan @Nadin-Nader can you please promote to PROD?

[2022-07-05 18:53] amenity commented on #9640
The MVP internal dashboard is up and the 5-point estimate accurately reflects the work @alan-deanda did on it.

![image](https://user-images.githubusercontent.com/1463708/177395878-19430c5a-6098-4b3d-a323-e751ce86a72a.png)

In addition to the map, it has a list of individual potential projects as well as supplementary statistics, charts, and information.

[2022-07-05 18:53] #9640 closed

[2022-07-05 19:07] amenity opened #9647 "Project: Safe Streets for All Grant Application"
Austin Transportation is submitting an application in US DOT's inaugural round of [Safe Streets and Roads for All Grants](https://www.transportation.gov/grants/SS4A). DTS is supporting the geospatial analysis that -- are performing to determine where funding would be used.

### Safe Streets and Roads for All (SS4A) Grant Program
_The [Bipartisan Infrastructure Law](https://www.congress.gov/bill/11

[2022-07-05 19:10] dianamartin commented on #9468
# Diana's Notes - 7/5
## Smart Mobility Kick Off Meeting

P3 Panel - Do they change?

- fluctuate number of panel members
Discovery: email to based user role?

## Current Process
1. P3 - individual review first
- do research on company
- look at website

Standard way of evaluating
spreadsheet
![image](https://user-images.githubusercontent.com/21112975/177372500-fbc6437a-dd92-40ac-be34-e2a3c5984a5d

[2022-07-05 19:15] mateoclarke commented on #9623
Finance POC is Erin W

[2022-07-05 19:23] mateoclarke commented on #9621
Meeting notes and agenda here:
https://docs.google.com/document/d/1dbwhmCbWlSSiaEKlthMKdOExGPQD0a6JP7_mVTBuCeA/edit?usp=sharing

[2022-07-05 19:42] mateoclarke commented on #9583
Going to close this issue since the mtg is complete and these notes are moving forward into notes for other mtgs (specifically https://github.com/cityofaustin/atd-data-tech/issues/9621)

[2022-07-05 19:42] #9583 closed

[2022-07-05 20:13] dianamartin commented on #9621
# Diana Notes - 7/5
Attendees:
Luke U., Mirna G., Nick M., Lauren, Cathy, Peggy, Dan V., Erin W., Mateo, Diana

[2022-07-05 21:24] andrewshensky opened #9648 "Provide additional AGOL Privlidges for Two Users"
TED is requesting 2 users (Dan R. and Don P.) receive additional privileges in AGOL to perform critical Tasks

[2022-07-05 21:26] andrewshensky commented on #9648
Dan R. and Don P. have now been given additional privileges in AGOL and have confirmed access to required maps and data

[2022-07-05 21:26] #9648 closed

[2022-07-05 21:26] andrewshensky opened #9649 "July - Street Segment Updates"

[2022-07-05 21:27] andrewshensky opened #9650 "July - Intersection Point Updates"

[2022-07-05 21:33] #9545 closed

[2022-07-05 21:34] andrewshensky commented on #9625
6/30 - This map has been provided to Brian G. through teams

[2022-07-05 21:47] SubhaShroff commented on #9632
@Nadin-Nader  @TracyLinder  - After investigating into this bug, following are my observations:

- Its the data(with bullet points), though the text length is not too much in FOLDER DESCRIPTION field for this particular permit is causing issue.
    The possible solutions worked on DEV - 1. For this particular field set the font to 8 or 9 on report.

[2022-07-05 21:48] TracyLinder commented on #9332
**Sync w/ Frank & Chrispin:**

- We need V7 PROD credentials from CTM.

[2022-07-05 21:51] amenity commented on #9642
Thanks, @frankhereford @chiaberry @johnclary. Would anyone care to hazard an estimate for this?

[2022-07-05 21:52] dianamartin opened #9651 "Create "transactions" object for Street Banner payments, prep for CityBase in TEST"
- Need to create a new object table `transactions_street_banners`
- Need to get from LPB and OTS to create new transactions so that information could be fed to CityBase

[2022-07-05 21:56] amenity commented on #8238
@mddilley @johnclary @mateoclarke should we wrap #7910 into this issue? Or add this to #9150?

[2022-07-05 22:07] #9302 closed

[2022-07-05 22:07] #9303 closed

[2022-07-05 22:07] #9304 closed

[2022-07-05 22:07] #9305 closed

[2022-07-05 22:07] #9306 closed

[2022-07-05 22:08] #9307 closed

[2022-07-05 22:08] #9308 closed

[2022-07-05 22:08] tillyw commented on #9349
closing because https://github.com/cityofaustin/atd-moped/pull/702 accomplishes the same goal

[2022-07-05 22:08] #9309 closed

[2022-07-05 22:10] mateoclarke commented on #8238
I think moving it to the #9150 Epic was the right move. 👍

[2022-07-05 22:10] ChrispinP commented on #9217
1 Stop Sign Reg didnt connect because it was lowercase > fixed
Finishing update for unique Doc + Reg ID, once done I will be able to investigate why there is one extra Tow Zone record.

[2022-07-05 22:11] frankhereford commented on #9220
Feedback on individual maps have been completed for the maps in the first wave of 5. The remaining 4 maps have been completed.

Deliverables sent via OneDrive to Lewis, Mario & Gavin include:

* The PDFs of the maps themselves
* A file hierarchy of CR3s organized by approach for each intersection
* A spreadsheet of crash data organized by approach for each intersection
* Shapefiles including all t

[2022-07-05 22:11] #9220 closed

[2022-07-05 22:12] dianamartin commented on #9651
- [x] created object `transactions_banners`
- [x] Configured unique INV ID
- [ ] getting transaction create via status update to "Approved - Pending Payment"

[2022-07-05 22:14] amenity commented on #9628
@andrewshensky - do you need anything from me on this?

[2022-07-05 22:14] ChrispinP commented on #9425
Email rules are complete for the 3 Review Areas for the Finalize and Submit button. Will BCC Lead Reviewer just like TIA Determinations.

Im thinking we may want to update the Navigation Tab from Development Assessments to something more inclusive now.

[2022-07-05 22:16] ChrispinP commented on #9573
Complete, closing

[2022-07-05 22:16] #9573 closed

[2022-07-05 22:17] amenity commented on #9577
Thanks, @frankhereford !

[2022-07-05 22:17] ChrispinP commented on #9354
Frank has successfully Tested the V7 connection.

[2022-07-05 22:18] #9103 closed

[2022-07-05 22:19] amenity commented on #8676
@dianamartin - what would you recommend?

[2022-07-05 22:21] ChrispinP commented on #9447
Primary Street was also disabled from being required to be left blank for inaccurate streets.

Admin staff have successfully entered over 300 records.

Complete, Closing

[2022-07-05 22:21] #9447 closed

[2022-07-05 22:22] amenity opened #9652 "Create production Moped accounts for PDD users"
- [x] Amica B. - division manager
- [x] Fernando C.
- [x] Adam B. – project manager
- [x] Manuel G. – project manager
- [x] Frank G. – project manager
- [x] John F. – project manager
- [x] Yvette M. – project manager
- [x] Paul T. – project manager
- [x] Meredith Q.

[2022-07-05 22:22] ChrispinP commented on #9360
Reviewing on July 12th with stakeholders.

[2022-07-05 22:24] dianamartin commented on #8676
@amenity I would say we should circle back with Lance to see if he's given this more thought about how the AMD assets should be related. We need to figure out if the "Switch IP" is captured anywhere else already and if we need to associate the cameras to another table to bring in that information.

[2022-07-05 22:27] amenity commented on #8238
Oh weird, that wasn't showing up for me. Sorry for the noise, y'all! 🙉

[2022-07-05 22:37] #9495 closed

[2022-07-06 13:10] andrewshensky commented on #9628
@amenity No I think we are good on this one. I will be discussing this further with SMB today. I'll go ahead and put this in On Deck and remove you from the issue. Thanks!

[2022-07-06 13:20] atdservicebot opened #9653 "[AMANDA] Sean C. Access"
AMANDA

I need AMANDA access.

Soon — This week

As soon as possible as its needed to being his training.

Sean C.

Request ID: DTS22-104525

[2022-07-06 14:04] johnclary commented on #9427
Resolved by https://github.com/cityofaustin/atd-data-tech/issues/9561

[2022-07-06 14:04] #9427 closed

[2022-07-06 14:05] johnclary commented on #8306
This was resolved somewhere along the way, possibly https://github.com/cityofaustin/atd-data-tech/issues/9561

[2022-07-06 14:05] #8306 closed

[2022-07-06 14:06] johnclary commented on #8291
resolved by https://github.com/cityofaustin/atd-data-tech/issues/9561

[2022-07-06 14:07] johnclary commented on #8292
This was resolved. Possibly by https://github.com/cityofaustin/atd-data-tech/issues/9561

[2022-07-06 14:07] #8292 closed

[2022-07-06 14:08] johnclary commented on #8293
Resolved by https://github.com/cityofaustin/atd-data-tech/issues/9561

[2022-07-06 14:08] #8293 closed

[2022-07-06 14:08] #8290 closed

[2022-07-06 14:10] johnclary commented on #8294
This remains open and cannot be fixed automatically. I added the dependabot link to the issue description.

[2022-07-06 14:10] johnclary commented on #8295
This was resolved some time ago.

[2022-07-06 14:11] johnclary commented on #8302
Resolved by https://github.com/cityofaustin/atd-moped/security/dependabot/18

[2022-07-06 14:11] #8302 closed

[2022-07-06 14:12] johnclary commented on #8296
resolved with https://github.com/cityofaustin/atd-data-tech/issues/9561

[2022-07-06 14:12] #8296 closed

[2022-07-06 14:13] johnclary commented on #8304
Resolved with https://github.com/cityofaustin/atd-data-tech/issues/9561

[2022-07-06 14:13] #8304 closed

[2022-07-06 14:18] johnclary commented on #8206
I also reviewed this. The github discussion suggests that so long as we are sanitizing any data that is input that is later rendered by quill, we are ok. https://github.com/quilljs/quill/issues/3364#issuecomment-901371460.

Apparently the CVE is under dispute. We have no resolution at this time.

[2022-07-06 14:20] #9561 closed

[2022-07-06 14:51] moorerst opened #9654 "Generate a listing of all RPP Addresses"
Per our email conversation last week:

The list that was previously generated in issue #8307 did not include zip codes.

- [ ] recreate the listing of RPP address and include zip codes

Had email communication with Alan regrading this request (he generated the previous list).
His response: I’m happy to do the request. I will likely get to it on Friday afternoon, but it won’t take too long

[2022-07-06 15:35] andrewshensky opened #9655 "Configure AGOL Account for New User (Sean C.)"

[2022-07-06 15:37] andrewshensky commented on #9655
User's account has been configured and access have been provided to two AGOL groups. Awaiting input from user if additional privileges will be needed.

[2022-07-06 15:49] frankhereford commented on #9577
The Airflow SSL certificate has been renewed and will remain valid until October 4th, 2022. While previously, we have used snapd to install a snap that provided the certbot utility, I have switched over to using the docker images certbot pushes up to docker hub.

I have documented the steps taken in a script found in `/root/renew_airflow_ssl_cert.sh` which should be a one-stop-shop that can be exe

[2022-07-06 15:49] #9577 closed

[2022-07-06 16:10] frankhereford commented on #9513
@amenity May I pull this on-deck with an eye to complete it on Thursday after the dev sync?

[2022-07-06 16:28] chiaberry commented on #9642
I can't tell if its a straightforward removing data that predates a certain date (then I would say 3) or if it would be more complex (5)

[2022-07-06 16:32] patrickm02L commented on #9309
![W Howard Ln - The Lakes Blvd - Center Line Rd.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/37c4fa2a-4d19-44fa-8c52-dfe616accd74)

[2022-07-06 16:34] patrickm02L commented on #9307
![Cameron Rd - 290 SVRD EB.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/4e1c5511-93ce-483f-8f0e-ae32df2f386b)

![Cameron Rd - 290 SVRD WB.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/e0d68c9f-a1f2-47a4-8818-7f96a1360dda)

[2022-07-06 16:35] patrickm02L commented on #9306
![E Rundberg Ln - North Creek Dr.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/92cae9c5-6010-444b-9f5f-fc0ac48d0d99)

[2022-07-06 16:36] patrickm02L commented on #9305
![Collinfield Dr - Mearns Meadow Blvd - Rundberg Ln.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/5bce6262-74fa-4f40-89d4-de09dc70f875)

[2022-07-06 16:36] patrickm02L commented on #9304
![E Oltorf St - Burton Dr.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/8156fd66-b181-4355-9541-5d0ab4eb63e7)

[2022-07-06 16:37] patrickm02L commented on #9303
![E Oltorf St - East Side Dr.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/c4e5e4ed-083d-4b43-bed4-59baa0ffe70a)

[2022-07-06 16:37] patrickm02L commented on #9302
![Montopolis Dr - Fairway St.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/51bdf3cb-1782-4928-bb21-49d073b23c8c)

[2022-07-06 16:41] Charlie-Henry commented on #9645
CTM got my authentication issue sorted today. However, we are moving in about a month to a cloud-version of Microstrategy that will supposedly have a Power BI plug-in. I'll see how easy it is to run this report via the REST API and if it seems more complex than I think, I'll wait for our change to the cloud solution. I have a meeting with Jeff S scheduled to discuss in August.

[2022-07-06 16:47] moorerst commented on #9621
I reviewed the recording for this meeting. Good debrief for the stakeholders and great progress on moving forward with the questionnaire. Issue #9622 was created for Discovery meetings with other COA depts. Will update that issue when meetings are scheduled. Closing this issue

[2022-07-06 16:47] #9621 closed

[2022-07-06 16:55] moorerst commented on #9623
Portions of the questionnaire were completed during the debrief meeting when the stakeholders were in attendance.

- [ ] Erin will review/complete the remaining questions

- [ ] Lauren/Cathy will look for # of annual transactions and average price
- [ ] Determine who will forward Citywide Online Payment Memo to Director for signature?

We will follow up with them on Monday 6/11

[2022-07-06 17:00] TracyLinder commented on #9587
I sent the data to Ryan; pending feedback.

[2022-07-06 17:10] dianamartin commented on #9609
- [ ] created new object `email_reminder_log`
  - Email Log ID
  - connection
  - Sent Date
  - Sent To
  - Form Type
  - Duration
- [ ] created connection on `form_30_60_90_supervisor_survey_employee_SSPR`
- [ ] added `HR Notes` - rich text
- [ ] added `HR Status` field - multi-choice

[2022-07-06 17:27] moorerst commented on #8268
These questions were addressed/answered during the Project Debrief meeting with the stakeholders
issue #9621

[2022-07-06 17:29] moorerst commented on #8268
These questions have been resolved. Closing this issue.

[2022-07-06 17:29] #8268 closed

[2022-07-06 18:00] dianamartin commented on #9609
Synced with Stephanie 7/6, we called Hannah on and were able to show her quickly the new enhancements.

- [x] I deleted the test records
- She said she'd do some testing
- They will put out communication to the supervisors
- we still plan to go live on 7/18

[2022-07-06 18:09] patrickm02L opened #9656 "Expression of Interest form"
- [x]  create new object: request_object
- [x] create new EOI form
- attachments
- simple form

[2022-07-06 18:09] dianamartin opened #9657 "Feature: Update TDS banner "An official website of the City of Austin""
Amenity A/ /Diana M.
DTS

Update banner to read "An official website of the City of Austin", similar to RPP banner

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/7b823dba-80de-4958-be1d-c3ffe0d6478c)

[2022-07-06 18:09] patrickm02L opened #9658 "Panel Review Digital Scoring"
### Judging Criteria
- Quality/Appropriateness
- Desirable
- Feasible
- Viable
- Community Priorities

### Reviewer Rating
- Yes
- No
- Not Sure
- N/A

- [x] create new object: `request_object`
- similar to SSPR Rate Competencies (radio buttons)
- `Overall rating`: green, yellow, red - multi-choice
- `Questions` - rich text
- `Final Comments` - rich text

[2022-07-06 18:10] patrickm02L opened #9659 "Project Management Milestones"
Include a page in the P3 Portal that captures the milestone for each phase on the pilot program workflow.

<hr>

![Screen Shot 2022-08-24 at 10.07.36 AM.png](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/3934e51a-8e3e-4f19-9e61-4be74219476c)
[Link to diagram](https://cityofaustin.sharepoint.com/sites/SmartMobility-PublicPrivateInitiatives/Shared%20Documents/Pilot%20Program%20Knack%

[2022-07-06 18:10] patrickm02L opened #9660 "P3 Final Tweaks for Test Week and Go-Live"
- Attachment for final document
- Email to user

[2022-07-06 18:19] moorerst commented on #9608
set up meeting to review with Shavyvonne

[2022-07-06 18:35] tillyw opened #9661 ""On hold" status badge doesn't render on dashboard"
"On hold" status badge doesn't render on dashboard. Similar to [[Bug] "On Hold" Project Status does not display on /moped/projects page #9174](https://github.com/cityofaustin/atd-data-tech/issues/9174)

![Screen Shot 2022-07-06 at 1.53.43 PM.png](https://images.zenhubusercontent.com/5cf19d09272c387e1f4f2d1f/f74f86b4-aa30-47f5-8a45-028cac1a1684)

![Screen Shot 2022-07-06 at 1.54.18 PM.png](https://

[2022-07-06 19:02] dianamartin commented on #9606
Messaged Allyson 7/6

![image](https://user-images.githubusercontent.com/21112975/177623728-94cd5505-563c-4471-b0ba-eaef3fc01ae5.png)

[2022-07-06 19:04] #9606 closed

[2022-07-06 19:08] dianamartin commented on #9481
## Steps
- [ ] Added new page `New SSPR`
- [ ] Add fields
- Employee Name
- Supervisor Name
- Fiscal Year
- Plan Start Date

## Configured Record Rules
![image](https://user-images.githubusercontent.com/21112975/177624702-bb403afc-341e-4eb4-bd84-e0fb2c39be72.png)

[2022-07-06 19:32] amenity commented on #9404
@ChrispinP - what type of Dev support did you envision here? When were you planning to try this out?

[2022-07-06 19:32] mateoclarke commented on #9513
Sounds good to me Frank.

[2022-07-06 20:02] atdservicebot opened #9662 "Add user Jenny K. to Data Tracker for Grant Billing"
Data Tracker

Jenny K. needs access to the data tracker webpage for grant billing.  https://atd.knack.com/amd#home/

Soon — This week

Needed by 7/22/22

Jenny K.

Request ID: DTS22-104530

[2022-07-06 20:03] atdservicebot opened #9663 "Add user Sharon M. to Data Tracker for Grant Billing"
Data Tracker

Need access to https://atd.knack.com/amd#home/ for grant billing process

Soon — This week

Needed by 7/22/22

Sharon M.

Request ID: DTS22-104535

[2022-07-06 20:06] moorerst commented on #9608
7/6 Response from stakeholder regarding meeting:

Good afternoon Ladies,
I just spoke with Lyndon and he wants to hold off on creating an “abandoned” issue type until it is confirmed that we will be assisting APD with abandon/vehicle abatement. Right now, it’s basically still up in the air if us or code enforcement will be tasked with assisting APD.  I will keep you Ladies informed.

[2022-07-06 20:29] KaroEngstrom commented on #9662
W 7/6/22
Checking with Dan V. on the permissions level

[2022-07-06 20:31] TracyLinder opened #9664 "Bug: RW-Vendor Emails Wrong Permit Report"
### The system is sending the wrong report on Vending-Permit Email (50552)

----

This is the incorrect report attached to the email.
[Incorrect.pdf](https://github.com/cityofaustin/atd-data-tech/files/9057855/Incorrect.pdf)

This is the correct report that should be attached to the email.
[Correct.pdf](https://github.com/cityofaustin/atd-data-tech/files/9057857/Correct.pdf)

[2022-07-06 20:46] andrewshensky opened #9665 "July - Intersection Pts to Vector Tiles"

[2022-07-06 20:47] andrewshensky opened #9666 "July - Segments to Vector Tiles"

[2022-07-06 20:51] mateoclarke opened #9667 "Add modal to edit milestones from personalized dashboard"
Only show milestones, not phase. This might require breaking up the timeline component so Milestones and Phases display independently.

[2022-07-06 21:15] TracyLinder commented on #9332
### Meeting w/ V7-CTM 7/6/22

- Gave CTM update: We've connected our test KNACK app to V7 test without issue.
- Discussed go-live & switching PROD KNACK from V6 to V7.
- DTS will switch connection on the morning of Mon Aug 1st. Frank said it will take about 10 minutes.

**Action Items:**

- [ ] Tracy: Create git issue for connecting to Prod
- [ ] Tracy: Block calendar for Frank & Chrispin the morn

[2022-07-06 21:16] TracyLinder commented on #9355
The test connection is complete & worked great. I will create a separate issue for the PROD connection.

[2022-07-06 21:17] TracyLinder commented on #9354
@ChrispinP I think we're good to close this one. Please close if you agree. Thank you!

[2022-07-06 21:20] TracyLinder opened #9668 "Update Config ROW COS integration with AMANDA V7 PROD (On 8/1/22)"
## Scheduled early am Monday 8/1/22

### Update ROW COS PROD app integration with AMANDA V7 PROD.

1. Update code to connect to AMANDA V7 PROD RO (currently on V7 Test)
2. Move code over to ROW COS PROD in KNACK.

[2022-07-06 21:34] TracyLinder commented on #9332
**Downtime Email:**

Hello,

DTS will be updating the COS Reporting integration to connect to AMANDA V7 the morning of 8/1.
When: Monday Aug 1st
Time: 8am - 12pm
What to Expect: The COS Reporting app will be buggy and the data will not be reliable during the update.
Action Required: ATD Finance should hold on exporting COS data until notified the update is complete.

Please let me know if there ar

[2022-07-06 21:58] #9354 closed

[2022-07-06 22:20] Charlie-Henry commented on #9645
I got this working with a little help from @johnclary 👍

Running a POST request at `/api/reports/{reportId}/instances` runs the report and returns the results back in JSON form. I might need some help parsing that when I get back next week 🐟

[2022-07-06 22:23] patrickm02L commented on #9578
Discussed in the grooming meeting 7/6/22. It was estimated that this approach would be a 4 - three to write a script to come up with a complete set of crashes, and one to suss out what the problem is creating the Issue and what to do to fix it.

We've decided to approach solving the missing records by picking up a previous Issue #8746, and run a backfill which would allow us to capture the missing

[2022-07-06 22:35] johnclary commented on #9645
super cool!

On Jul 6, 2022, at 18:20, Charlie Henry ***@***.***> wrote:

﻿
*** External Email - Exercise Caution ***

I got this working with a little help from @johnclary<https://gcc02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjohnclary&data=05%7C01%7Cjohn.clary%40austintexas.gov%7C6c8b321ceed94394159a08da5f9db801%7C5c5e19f6a6ab4b45b1d0be4608a9a67f%7C0%7C0%7C63792742826668

[2022-07-06 22:39] dianamartin commented on #9482
Created SSPR Details page
- [ ] configured HR Forms `Details`
- [ ] configured `SSPR>Form Details`
- [ ] Added View Details components
- [ ] Added "Add Priority" button
- [ ] Added Priority Table
- [ ] Added "Add Documentation" button
- [ ] Added Attachments table
- [ ] Added Competencies button
- [ ] Added Competencies table

[2022-07-06 23:11] dianamartin commented on #9482
- [ ] Testing Components
- [ ] Setting up configuration for all forms and features

[2022-07-07 04:39] #9652 closed

[2022-07-07 04:52] amenity opened #9669 "Create production Moped accounts for TED"
- [x] Max
- [x] Cody
- [x] Eric
- [x] Caitlin
- [x] Nelson

[2022-07-07 05:00] amenity commented on #9669
Teams message in to Cody & Max with a proposed list of users & titles.

[2022-07-07 05:06] amenity opened #9670 "[Bug] User must explicitly add scheme to URL field"
If a user enters a URL without `http:\\`  or ``https:\\`, the resulting hyperlink takes them to a Moped 404 page.

Expected behavior: Hyperlink appends `https:\\` in front of schema-less URLs.

[2022-07-07 05:12] amenity commented on #9670
I'm not sure what best practice is here — can/should a hyperlink append `https:\\` in front of schema-less URLs?

Meredith Q reported it as a bug and I agree it's unexpected.

[2022-07-07 07:13] amenity opened #9671 "Write interview questions"

[2022-07-07 07:14] #9671 closed

[2022-07-07 07:17] amenity commented on #9671
Andrew and Alan did [this](https://docs.google.com/document/d/1MjGatrGFNBIJPlBDgnT9uDX6_vHHgEhP360lc54betc/edit) (restricted doc)... just documenting.

[2022-07-07 07:25] amenity commented on #9390
@patrickm02L did this.

[2022-07-07 07:25] #9390 closed

[2022-07-07 07:26] amenity commented on #9141
@mateoclarke - can we close?

[2022-07-07 07:30] amenity commented on #9435
@johnclary - I kinda feel like we closed https://github.com/cityofaustin/atd-data-tech/issues/5191 prematurely...

[2022-07-07 13:55] KaroEngstrom opened #9672 "Add Open Data Suggested Enhancement: Additional Items for No Refusal Initiative"
A visitor, jb----- at gmail com, has suggested new data to be displayed on your site:

Email sent on July 6th for 6/30-7/4
"No refusal initiative" only has the DWI arrest data of 41 DWI arrests for the entire period. I believe we deserve to see the following additional data: - How many stops were conducted in total - How many police hours did this initiative require - How many of those hours were

[2022-07-07 15:15] johnclary commented on #5558
Closing this since we solved this with #9267

[2022-07-07 15:15] #5558 closed

[2022-07-07 15:17] johnclary commented on #6057
Closing because we've been working actively on this part of the codebase. Will open specific tech debt issues as we identify additional improvements.

[2022-07-07 15:17] #6057 closed

[2022-07-07 15:23] #6600 closed

[2022-07-07 15:24] johnclary commented on #6697
Looks like this moved to icebox accidentally. Backlog now.

[2022-07-07 15:44] johnclary commented on #6730
I don't know that https://github.com/cityofaustin/atd-data-tech/issues/6697 is really a priority, but we really should get the database side (this issue) taken care of. It is hard to retroactively fix this.

[2022-07-07 15:48] johnclary commented on #7381
Not needed. We decided to use client JS to push straight from Moped into the Data Tracker.

[2022-07-07 15:48] #7381 closed

[2022-07-07 15:54] johnclary opened #9673 "[BUG] Inactive or soft-deleted users' names render as "Unknown user""
Users may be inactivated or soft-deleted when they leave the City or no longer use Moped. When this happens, we want to preserve the record of their project membership and activity. Currently, however, their name in the "Team" table and activity feed becomes "Unknown User".
<img width="1366" alt="Screen Shot 2022-07-08 at 3 01 13 PM" src="https://user-images.githubusercontent.com/1463708/178065945

[2022-07-07 16:17] atdservicebot opened #9674 "[Enhancement] Multiple DOs and Contractors per Project"
Moped

In MOPED, we need to be able to have more than one DO and more than one Contractor on a project.

In MOPED, we need to be able to have more than one DO and more than one Contractor on a project.

None

Meredith Q.

Request ID: DTS22-104540

[2022-07-07 16:26] ChrispinP commented on #9270
@johnclary imports were successful, thanks for your help. We can close this.

[2022-07-07 16:32] johnclary opened #9675 "[Enhancement] Use native PostGIS geometry types"
We currently store components' spatial data in a `jsonb` column in the `moped_proj_features` [table](https://db-docs.austinmobility.io/atd-moped-staging/tables/moped_proj_features.html).

We should use native PostGIS `geometry` columns to store spatial data. This will allow us to perform spatial queries and other operations against our component data.

See scoping effort [here](https://github.com/

[2022-07-07 17:09] dianamartin commented on #9482
- [ ] Configured "Add Documentation" form
- [ ] Configured "Rate Competencies" form
  - [ ] Added display rules
  - [ ] Fixed filter on this table

[2022-07-07 17:31] chiaberry commented on #9417
Here is what the fields are in staging
![Screen Shot 2022-07-06 at 4 49 06 PM](https://user-images.githubusercontent.com/12474808/177832715-3a2cc1f7-3a5e-4e3f-844b-30cd1d4d567e.png)
And here are the badges for those projects
![Screen Shot 2022-07-06 at 4 49 12 PM](https://user-images.githubusercontent.com/12474808/177832844-2fb3d810-6c9f-4ae4-bd29-c271da92e4e1.png)

How does dropping current_statu

[2022-07-07 17:47] amenity commented on #9674
@johnclary - Anything to weigh in on here? Ivonne anticipated that once other groups started using Moped we'd get more clarity around this level of detail, especially wrt funding... So my inclination is to provide some simple specs and cue this up for next sprint.

[2022-07-07 18:18] johnclary commented on #9670
@amenity you're referring to the "Website" field on the project summary page? anywhere else?

[2022-07-07 18:29] atdservicebot opened #9676 "Add three additional funding sources"
Make these funding source available by adding them to the `moped_funds` table.

| fund_id|fund_name|
|-|-|
|8181 | 2010 MOBILITY BOND|
|820B | 2020 BOND|
|8401 | ATD TRANSPORTATION CIP|

### Original request

Fund 820B needs to be added to the Fund list on the Funding page when adding a new funding source.  820B is the 2020 bond.

Fund 820B needs to be added to the Fund list on the Funding page wh

[2022-07-07 18:38] atdservicebot opened #9677 "Change ASSET_CONDITION field domain in markings_short_line, markings_specialty_point, and markings_s..."
ArcGIS

Change ASSET_CONDITION field domain in markings_short_line, markings_specialty_point, and markings_specialty_line to be the same domain asset condition as the signs with the addition of "Unknown" status.

Also, adding ASSET_CONDITION field to the dates tables (markings_short_line_dates, markings_specialty_point_dates, and markings_specialty_line_dates) with the domain values the same as si

[2022-07-07 18:44] #9141 closed

[2022-07-07 18:47] mateoclarke commented on #8746
In Backlog Grooming on 7/6, we discussed expanding the scope here to make sure person and primary person table table is also protected for overwrites.

[2022-07-07 18:51] atdservicebot opened #9678 "Update Area in Data Tracker for Signals #1040: 7th & Waller and #1063: 5th and Waller"
ArcGIS

The area needs to be changed on the data tracker for these signals:

#1040: 7th & Waller

and #1063: 5th & Waller

both signals are saying Southwest area but should be Southeast area.

Flexible  — An extended timeline is OK

Reza V.

Request ID: DTS22-104555

[2022-07-07 19:05] moorerst opened #9679 "Meeting: Citybase integration with Knack Discovery Session 1"
Meeting scheduled 7/12

Agenda (provided by Citybase)
- Discuss/align on knack integration
- Fill out the [Standard Checkout Configuration Worksheet]( https://docs.google.com/document/d/17IVV1g-5nZlHazqnVTmjk_xzoNH6L63i/edit)

[2022-07-07 19:08] atdservicebot opened #9680 "User needs access to AGOL and Potentially ArcGIS Pro"
ArcGIS

I am a new employee who started on Tuesday, July 5th and need an account or instructions on how to access ArcPro from my desktop.

Soon — This week

Would like this by end of business Friday, July 8th in order for me to get set-up and begin to get acclimated to the city's processes.

Hayden B.

Request ID: DTS22-104560

[2022-07-07 19:10] andrewshensky opened #9681 "Create/Publish Street Data Meeting Certain Criteria for ATSD"
ATSD has requested data created and published if criteria below is met

All single lane segments greater than 40ft and level 1/2 that are completely outside of 150ft AAA Buffer. Dissolved by Street Name, width, and level

[2022-07-07 19:13] #9063 closed

[2022-07-07 19:22] johnclary commented on #7409
We've transitioned shared mobility reporting to Ride Report.

[2022-07-07 19:22] #7409 closed

[2022-07-07 19:23] atdservicebot opened #9682 "Add "ArcGIS Field Maps" Application to the Signs & Markings tablet Launcher Profile"
Other / Not sure

Would like to add "ArcGIS Field Maps" application to the Signs & Markings tablet Launcher Profile.

Flexible  — An extended timeline is OK

Would like to have this added to the launcher profile by the beginning of August.

Christina T.

Request ID: DTS22-104565

[2022-07-07 19:24] johnclary commented on #7406
Because AMD's reporting process in flux, we do not plan to move forward with the re-designed signal timing dashboard. Instead we will redirect the old URL to the AMD department webpage.

[2022-07-07 19:24] johnclary commented on #7684
Closing — we will cover this with the Moped Viewer.

[2022-07-07 19:24] #7684 closed

[2022-07-07 19:27] johnclary commented on #9417
@chiaberry that sounds good to me. thank you!

[2022-07-07 19:29] KaroEngstrom commented on #9662
Th 7/7/220

- [x] Heard back from Dan that this should be Viewer level
- [x] Added Jenny K as a Viewer
- [x] Notified requester via Teams

[2022-07-07 19:29] #9662 closed

[2022-07-07 19:31] KaroEngstrom commented on #9663
Th 7/7/220

- [x] Heard back from Dan that this should be Viewer level
- [x] Added Sharon as a Viewer
- [x] Notified requester via Outlook

[2022-07-07 19:31] #9663 closed, assigned to KaroEngstrom

[2022-07-07 19:33] johnclary commented on #9674
yep, we have an unscoped issue for it: https://github.com/cityofaustin/atd-data-tech/issues/8259

i will ask Meredith clarifying questions in teams and CC you.

[2022-07-07 19:36] andrewshensky commented on #9680
I have reached out to the requestor informing them how to generate an AGOL account. I also inquired about whether they have ArcGIS Pro installed. If not, I will request Scott to install.

[2022-07-07 19:39] dianamartin commented on #9682
This is an AirWatch request.
@andrewshensky Is this okay, that I update this? You think Parking Meters will be thrown off?

[2022-07-07 19:57] johnclary opened #9683 "[Enhancement] Show task order balances on funding tab"
It would also be useful for users to see the balance on task orders and we have access to that information.

Let's create a second table on the "Funding" page with the columns

Task Order (lookup drop down like new FDU fields)
Balance
Note?
???

[2022-07-07 19:58] johnclary commented on #8259
I split off task order needs into https://github.com/cityofaustin/atd-data-tech/issues/9683 and will refine this to contract tracking.

[2022-07-07 20:14] johnclary commented on #8259
@amenity not sure if this belongs on "Team" or "Funding" tab. i lean funding.

It needs a visual spec and would be good to run this by the rest of the MUG

[2022-07-07 20:36] atdservicebot opened #9684 "Assign PR to budget/review PR 2020-06-1784"
Finance & Purchasing

could you please assign this PR to budget/review  PR 2020-06-1784

Flexible  — An extended timeline is OK

Error :(

Request ID: DTS22-104570

[2022-07-07 20:53] TracyLinder commented on #9425
**Stakeholder Review 7/7/22**

- Rename tab to 'Assessments'
- Add a link to the SIF estimator worksheet
- Add value 'Subdivision' on type & add to filters
- Remove zoning & dev assessment filters
- Add field for case number
- Remove the word application from the customers pages, landing page

- Landing page: remove the email link for help & replace with a link to [this](https://www.austintexas.go

[2022-07-07 21:02] dianamartin commented on #9682
Submitted CTM Service Now ticket `INC0208947` - 7/7

[2022-07-07 21:06] dianamartin commented on #9483
Set up Staff Forms
- [x] Added new table for "Success Strategy Performance Reviews | SSPRs"

[2022-07-07 21:14] dianamartin opened #9685 "Configure HR Forms page - SSPR"

[2022-07-07 21:15] dianamartin opened #9686 "Configure eSignature - My Forms | Employee"
Configured the "My Forms | Employee" and allows the "Employee eSignature" field to be accessible only in "Mid-year - Employee Feedback" and "Year-end - Employee Feedback".

[2022-07-07 21:25] #9330 closed

[2022-07-07 21:27] #9454 closed

[2022-07-07 21:34] andrewshensky commented on #9678
@dianamartin I believe all signal data is automatically pulled in to AGOL from DataTracker. Does this edit need to be made in DataTracker?

[2022-07-07 21:36] dianamartin commented on #9678
@andrewshensky it's true the signal data is pulling from ArcGIS Online, that's why I'm wondering if the signal area map has been updated and the map that john's script is pulling from the correct source. I was kind of thinking that the AGOL data (Signal Engineer Areas) might need to be updated?

[2022-07-07 21:43] patrickm02L commented on #9497
After the VZ Sprint Review meeting 7/7/22, in which we got feedback from the VZ team, we've decided to replace the date picker with a time stamp. The thought is that creating a note should be a singular event that is meant to create documentation on that date.

[2022-07-07 21:57] dianamartin opened #9687 "Configure Division Manager SSPR Pages"
## Divisions Page Configured
- [x] 1. Administration
- [x] 2. Active Transportation & Street Design
- [x] 3. Arterial Management
- [ ] 4. Corridor Program Office

- [x] 5. Data and Technology Services
- [x] 6. Enforcement Services
- [x] 7. Finance
- [x] 8. Human Resources
- [x] 9. Mobility Services
- [x] 10. Office of Special Events
- [x] 11. Office of the Director
- [x] 12. Parking Services
- [x]

[2022-07-07 22:01] atdservicebot opened #9688 "Maybe V7 will fix this? Capturing it here so we can be on the lookout. DS permits are reflecting a..."
AMANDA

Maybe V7 will fix this?  Capturing it here so we can be on the lookout.

DS permits are reflecting an "Expires" date (Folder Tab) even though the permit has *not* been reviewed or issued.  The date populating in this field is comping from the related Building Permit expiration date.  It should not be doing this.

My concern is that customers will go into their ABC Portal account and see th

[2022-07-07 22:21] dianamartin commented on #9484
- [X] Created SSPR table on "My Forms"
- [X] Created "My SSPR Details Page"
- [x] Copying over page elements
- [ ] Configuring all elements

[2022-07-07 22:28] frankhereford commented on #9513
This was completed as planned today after the dev sync. Thanks everyone!

[2022-07-07 22:28] #9513 closed

[2022-07-07 22:34] mateoclarke commented on #9513
![wizard](https://user-images.githubusercontent.com/5697474/177882495-b1187cb4-a8d9-43f7-8d34-e9a5e42127d2.gif)

[2022-07-08 13:19] johnclary commented on #9435
agreed—added to #5191

[2022-07-08 13:33] #9460 closed

[2022-07-08 13:34] KaroEngstrom commented on #8957
F 7/8/22
I'd like to pick this up in mid-August as July is booked

[2022-07-08 13:49] dianamartin commented on #9684
@KaroEngstrom are you able to do this for me? I have some recently closed issues that explain how to do this. If you need more help I can jump online.

[2022-07-08 13:59] KaroEngstrom commented on #9684
@dianamartin Sure!

[2022-07-08 13:59] andrewshensky opened #9689 "Send out Notifications for AGOL Clean-up"
CTM has provided a second round list of users that need to be notified. These users received the previous message but need to receive follow up notification.

[2022-07-08 14:14] KaroEngstrom commented on #9684
F 7/8/22

`PR 2020-06-1784`
Find the PR...

- [ ]  Updated "Assigned To" field to blank
- [ ]  Updated "Manager Approvals Complete" from "No" to "Yes"
- [ ]  Status updated to "Budget Review

[2022-07-08 14:36] atdservicebot opened #9690 "Set Up New Employee Kate L with Laptop, Business Phone, and Mifi"
Data Tracker

New employee setup.  Kate L. will start on July 18 and will need a laptop and a business phone number.  She will most likely need a MIFI as well.

Soon — This week

Kate will be in the office on Wednesday to fill out paperwork.

Peggy M.

Request ID: DTS22-104580

[2022-07-08 14:37] patrickm02L commented on #9498
@mateoclarke I've updated the description for this Issue and added a new mock-up. Please add any technical specs that are needed.

[2022-07-08 15:01] patrickm02L opened #9691 "Location Tab Notes Section"
This feature will work the same way the Crash Tab notes section does #9297

Staff would like to add an additional section to the current individual locations pages. This notes section would convey thoughts and capture details about the specific location.

**UI Considerations**
- View for non-editing roles
- View for editing roles
- Behavior when the edit button is activated
  - View for an editabl

[2022-07-08 15:03] patrickm02L commented on #9691
@mateoclarke putting this on your radar. This feature was requested in the VZ Sprint Review on Thursday, 7/7/22.

Will bring this to grooming on 7/20/22.

[2022-07-08 15:11] andrewshensky commented on #9628
The field names in this request have now been updated. I have discussed the proposed attribute rules with the requestor and we are currently exploring options

[2022-07-08 15:11] #9684 closed

[2022-07-08 15:23] KaroEngstrom commented on #9690
F 7/8/22

- [x] Urgency consult with Diana to get this done in the next few hours
- [x] Contact Peggy about creating a NERF, if not yet done
- [x] Contact Scott about the hardware items (Teams and Outlook)
- [ ] Follow up on all items

[2022-07-08 15:56] KaroEngstrom commented on #9619
F 7/8/22

- [x] Met with Adan yesterday for training and showed the way to turn off Delve. Covered the steps and he completed them immediately, and also shared with his team. HR now knows how to turn off the display of the extra information. Emphasized that this does NOT change permissions on file, just prevents them from being displayed alongside the Profile Cards in the Microsoft365 web apps. Em

[2022-07-08 15:56] #9619 closed

[2022-07-08 16:13] atdservicebot opened #9692 "Remove the ACL Shuttle Location Inset and Remove the Festival Area from key"
ArcGIS

Remove
- Remove the ACL Shuttle Location Inset
- Remove the Festival Area from key
	- Leave Festival Area Label

Change
- Road Closure from blue to Red
- ACL Affected Area hash color from Red to Orange and change label to 'Production Impact Area'

Add 'Event Impact Area' with the highlighted area in the attached update.

Event Impact Dates
10/7-10/9 & 10/14-10/16

Production Impact Dates
9

[2022-07-08 16:42] KaroEngstrom commented on #9611
F 7/8/22

### TRAINING SESSION Th 7/7/22
- [x] Met with Adan yesterday for training and showed the way to turn off Delve. In the same meeting, we covered some options for formatting HR team's info. See related issue: #9619
- [ ] Completed a training session and covered the following:
* LISTS
HR SharePoint – Training and Development subpage
Recommended Courses Excel spreadsheet converted into a Lis

[2022-07-08 16:44] frankhereford commented on #9668
Looking forward to this - thank you for all your work organizing and getting everyone connected with the right information and in the right place! 🙏 💯

[2022-07-08 16:51] KaroEngstrom opened #9693 "[SharePoint] Update permissions to the HR hub document library and the new HR hub site page"
Follow-up from #9611

Th 7/7/22

- [x] Checked in with Diana on possibly removing Owners from the document library and the page for HR Staff Hub
- [x] Per Diana, I will investigate options and what other departments might be doing to handle this in SharePoint (concern is over the continuity of access if no DTS Owners are included)

[2022-07-08 17:56] alan-deanda commented on #9641
Phase 2 has been exported. The groups will look at this data and determine the next steps of the geospatial analysis.

[2022-07-08 17:58] alan-deanda opened #9694 "Update Amanda Street Events week of 07/05/2022"

[2022-07-08 17:58] #9694 closed

[2022-07-08 18:00] alan-deanda opened #9695 "Update Active Parking Permits layer and maps week of 07/05/2022"
The active parking permits layer was re-made due to bugs with the previous one. The layer was then added to the maps and apps that reference the active parking permits data.

[2022-07-08 18:00] #9695 closed

[2022-07-08 18:17] SubhaShroff commented on #9327
@Nadin-Nader  SCTASK0231546 is submitted for DevOps commits PROD deployment.
SCTASK0231547 - is submitted for Manual deployment part.

[2022-07-08 19:05] TracyLinder commented on #9688
I think there are other DS bugs related to issue/expiry date that we should try to identify while we are debugging this.

[2022-07-08 19:06] TracyLinder commented on #9639
**Notes**

A TCP inspection was logged on the DS folder, and this triggered the system to update the DS extension date by 180 days. The Traffic Control Inspections process should not trigger an expiration date change.

[2022-07-08 19:29] KaroEngstrom opened #9696 "Delete Signs and Marketing Contractor Work Logs #679 and #680"
Christina T. contacted me with an urgent request about this contractor work logs that reflected work that was not completed. The logs were created by a contractor as a workaround to close a work order when the work had previously been completed.

- [ ] Checked the `contractor_work_log` records against the links provided by the requester (in images below), confirming these were the same items
![ima

[2022-07-08 19:37] mddilley opened #9697 "Refactor Moped user activation in UI and API"
In the UI and API, the update form/route and activation action/route are very tightly woven. The deactivate action makes an API call to a route that is solely dedicated to user soft deletion/deactivation. We should create a similar route in the API that is tasked with user activation so that we can debug and troubleshoot user management bugs more effectively and possibly refactor more down the lin

[2022-07-08 19:39] #9696 closed

[2022-07-08 19:42] amenity opened #9698 "Preserve users' name display when soft-deleted"
_Follow-up work @mateoclarke identified reviewing https://github.com/cityofaustin/atd-moped/pull/703:_

[2022-07-08 19:58] mddilley commented on #9673
This probably explains the "Unknown User" that displays for soft deleted users. That code is in [ProjectActivityLog](https://github.com/cityofaustin/atd-moped/blob/main/moped-editor/src/views/projects/projectView/ProjectActivityLog.js). If we query all users, then we won't see that fallback text for any users.

Refactoring [this function](https://github.com/cityofaustin/atd-moped/blob/a2f9c8921634

[2022-07-08 19:58] mateoclarke commented on #9698
This may be the same as this one:
https://github.com/cityofaustin/atd-data-tech/issues/9673

[2022-07-08 19:59] #9698 closed

[2022-07-08 20:06] andrewshensky opened #9699 "Update Bike Comfort Level FS and Vector Tiles"
Monthly street segment updates have been completed so processing of bike routes can now take place

[2022-07-08 20:09] andrewshensky commented on #9681
This data has been created and published to AGOL at location below. This data was also provided to requestors through email

https://austin.maps.arcgis.com/home/item.html?id=4933d61e5e3144e0a1c996e865976e6c

[2022-07-08 20:09] #9681 closed

[2022-07-08 20:10] #9655 closed

[2022-07-08 20:10] andrewshensky commented on #9650
The CTN intersection point data has now been updated in Maint

[2022-07-08 20:10] #9650 closed

[2022-07-08 20:11] andrewshensky commented on #9649
The CTN street segment data has now been updated in Maint

[2022-07-08 20:11] #9649 closed

[2022-07-08 20:28] andrewshensky commented on #9678
@dianamartin the signal engineer areas data was updated recently but only engineer names were changed and the area names all seem correct. I queried the AGOL signal data for all features located in the Southeast engineering area, 14 of 202 features in the Southeast area had a SIGNAL_ENG_AREA other than Southeast. Since the signal data in AGOL is updated daily from datatracker, do you know where th

[2022-07-08 21:06] andrewshensky opened #9700 "Submit Request for DM and Maint Access for Rajibul"

[2022-07-08 21:07] andrewshensky commented on #9700
Request has been submitted to CTM. Once confirmation of account creation is provided. Access will need to be given to relevant datasets

[2022-07-08 21:29] #9277 closed

[2022-07-08 21:29] #9349 closed

[2022-07-08 21:29] #9472 closed

[2022-07-08 21:31] frankhereford opened #9701 "[Bug] WSOD on VZV map page"
It's possible to trigger a WSOD of by clicking on a the city council overlay and not clicking on a crash in the VZV map view.

[wsod_vzv.webm](https://user-images.githubusercontent.com/3653206/178072969-06320cbe-f4c9-462f-b68b-29b4843b47e2.webm)

The mouse pointer does change into the "clickable thing here" symbol too, which makes me think we might want to consider popping up a little info window

[2022-07-08 21:42] mateoclarke opened #9702 "New Employee Checklist - Kate L"
## Accounts - Team Lead
- [x] Submit a [CTM New Employee Request Form](https://atx.servicenowservices.com/sp?id=sc_cat_item_guide&sys_id=b714eb12db7a3f0021ccef92ca961972) for a COA network account, eAccess PIN/HR Portal, and phone
- [x] Submit a [CTM service request](https://atx.service-now.com/sp) to add to DTS Distribution Email Group:
- [ ] Add "First Last Name" to email distribution list "ATD

[2022-07-08 21:43] mateoclarke commented on #9690
Seems like this item is just part of our normal [New Employee Checklist](https://app.gitbook.com/o/-LzDQOVGhTudbKRDGpUA/s/-LzDGg7hKQ_fUjXnzGGx/onboarding/new-employee-checklist).

@maccallump, we usually copy that checklist as a new issue and assign to the onboarding supervisor instead of going through the DTS Service Request process. I'm making a new issue to capture that and assigning to Peggy,

[2022-07-08 21:58] mateoclarke commented on #9690
Nevermind, I found enough information and made a few guesses to complete the NERF form. Here is the SN Request Number: REQ0114464

[2022-07-08 21:59] mateoclarke commented on #9702
I've completed the NERF to the best of my abilities.
ServiceNow Request # REQ0114464

[2022-07-09 21:13] #9553 closed

[2022-07-09 21:14] mddilley opened #9703 "Create Prefect flow tasks to create and destroy test API"
To create a test API for each test instance, we should create and destroy test Lambda and API Gateway resources that are currently deployed using [Zappa](https://github.com/zappa/Zappa) in moped-test, staging, and production using a secret config.

Another layer of this is creating a configuration in Secrets Manager so that the API can get the corresponding env vars from Secrets Manager. This is t

[2022-07-11 12:28] patrickm02L opened #9704 "Update OCR to Handle the new CR3 form for 2023"
A new [CR3 form](https://app.zenhub.com/files/140626918/a062378b-ab63-4950-855a-c57d7ca90ee1/download) will be implement on 1/1/23 as mandated by TxDOT. The improvement adds new field as outlined in the [Functional Requirements Specification](https://app.zenhub.com/files/140626918/61feba8b-0c1d-415a-8727-7f2cf169c859/download) document which include:

- Intersecting Road Speed Limit
- Direction of

[2022-07-11 12:31] patrickm02L commented on #9704
#### 2023 CR-3 form v.0.10

![2023 CR-3 form v0.10-1.jpg](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/19742da2-5354-4144-b496-80409e539eb1)
![2023 CR-3 form v0.10-2.jpg](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/a8c9fa60-aa2a-4eb4-bd8b-7ea6961f391b)
![2023 CR-3 form v0.10-3.jpg](https://images.zenhubusercontent.com/5d68810b05d7792664be403f/b88ca8d8-a7ca-485e-b

[2022-07-11 13:21] #9329 closed

[2022-07-11 13:21] #9417 closed

[2022-07-11 13:21] #9457 closed

[2022-07-11 13:21] #8950 closed, assigned to chiaberry

[2022-07-11 13:52] dianamartin commented on #9678
@amenity I think we might need a dev to poke around to see which AGOL layer they're referencing for the Signal Engineering Areas as I'm not super sure.

[2022-07-11 14:00] KaroEngstrom commented on #9690
Closing this as #9702 has it covered

[2022-07-11 14:00] #9690 closed

[2022-07-11 14:40] #6907 closed

[2022-07-11 14:42] amenity commented on #6907
SMD uses ATD Maintained Streets for longline markings and raised pavement markings (RPMs).

[2022-07-11 14:44] #9604 closed

[2022-07-11 14:46] amenity opened #9705 "Add a "Rapid Response Maintenance" field to Socrata"

[2022-07-11 14:49] amenity commented on #9705
Christina said they starting to report on this in August. @amenity -add to dev backlog grooming agenda