[2022-04-05 15:29] TracyLinder commented on #8838
I sent an email to Gita & Amita asking if we need approval prior to granting this access; or if ATD even has the ability to grant these permissions ourselves.

[2022-04-05 15:35] moorerst commented on #8772
@dianamartin @KaroEngstrom
The site looks really nice and fresh. Good job!
I have few observations:
-  Welcome to ATD Human Resources home page - should Home Page be capitalized?

-  The purpose of the Human Resources - suggestion The Purpose of ATD Human Resources...

- I was confused by the titles under the images I thought that's what I was going to see. Can there be a title on the images to in

[2022-04-05 16:12] moorerst commented on #8772
@KaroEngstrom I kinda changed by mind I think I like HR Function and HR Team better.
We can let the stakeholder decide.

[2022-04-05 16:24] #8720 closed

[2022-04-05 16:24] #8759 closed

[2022-04-05 16:49] TracyLinder opened #8839 "SIF District FDU Mapping"
### We need to map each SIF district value to the correct FDU for that district.
- How do we make sure that when the fee is paid, the correct GL code is chosen?

[2022-04-05 17:07] TracyLinder commented on #7689
![SIF Timeline](https://user-images.githubusercontent.com/49930868/161811916-327b58c5-b6e8-4a4b-8354-5ecb58f916a2.jpeg)

[2022-04-05 17:09] Lpriya-LIT commented on #8232
@Nadin-Nader Verified in Dev, Ready for Test Promotion

[2022-04-05 17:10] Lpriya-LIT commented on #7672
@Nadin-Nader Verified in Dev, Ready for Test Promotion

[2022-04-05 17:20] atdservicebot opened #8840 "[Enhancement] Add "Requester" group to "STREET NAME CHANGE""
Signs & Markings Operations

Need to add a Requester group to the Signs & Markings application called "STREET NAME CHANGE". We have several different street name changes that we process and we would like to have a requester group to easily sort and track these requests.

Have a requester group called "STREET NAME CHANGE".

No other work arounds needed at the time.

Within the next couple of weeks

[2022-04-05 17:56] alan-deanda commented on #8834
I've sent the data to the VZ team.

[2022-04-05 17:56] #8834 closed

[2022-04-05 17:56] #8835 closed

[2022-04-05 17:56] #8787 closed

[2022-04-05 17:58] Lpriya-LIT commented on #8732
@TracyLinder Committed changes, Ready for Dev promotion

[2022-04-05 18:00] dianamartin commented on #8816
@moorerst I'll probably have to sync with you sometime. Maybe tomorrow?

Also, can you test OTS process? I haven't tested it yet against the new enhancements.

[2022-04-05 18:21] dianamartin commented on #8772
# Diana's Notes
- Karo leads this meeting
- Adan likes "hero" elements
  -  auto size text

### Top of HR page section
- keep Mission Statement - likes the summary

- ### 3 Main HR Function sections
- [ ] change "Compensation" page to hero links

### Supervisor Resources section
- call to action button
- can add "Click Here" to be more obvious or "-----> Supervisor Resources"

### HR Contact secti

[2022-04-05 18:24] amenity opened #8841 "Assess feasibility of draggable rows in Material Table Core"
Draggable rows would be the most user-friendly option for ordering milestones. Example [here](https://www.ag-grid.com/react-data-grid/row-dragging/#example-simple-managed).

See https://github.com/mbrn/material-table/issues/1219 for Material Table* implementation, but note that we are [now using Material Table **_Core_**](https://github.com/cityofaustin/atd-moped/pull/622)._

[2022-04-05 18:35] alan-deanda opened #8842 "Transfer AMANDA Street Events Update wiki to gitbook"
The previous documentation lived in a word doc in G Drive. It's been moved to gitbook where it will be more accessible.

[2022-04-05 18:35] alan-deanda opened #8843 "Transfer AMANDA Street Events Update wiki to gitbook"
The previous documentation lived in a word doc in G Drive. It's been moved to gitbook where it will be more accessible.

[2022-04-05 18:35] #8843 closed

[2022-04-05 18:39] Charlie-Henry commented on #8813
This wasn't quite right. The AMEX transactions for the PARD data does not need to be reduced by one day, so the DAX code is:

`new_submit_date = IF( AND(meter_id==61754, card_type <> "AMEX"), submit_date-1, submit_date)`

[2022-04-05 18:41] moorerst commented on #8772
- Karo did a good job of leading the review with the stakeholder.

- She reviewed each section. It was nice that each section displayed a different style so the stakeholder could see different possibilities.

- Overall he was very happy with the initial redesign.
Action items:
- He will review the look and feel of the site with his team as well as additional content that can be added.
- We will sc

[2022-04-05 18:49] ChrispinP commented on #8837
Put together a Miro board with the actions currently available to customers

[TIA Customer Actions](https://miro.com/app/board/uXjVO_O5HjA=/)

[2022-04-05 18:50] dianamartin opened #8844 "Update "Journal Voucher" info in AMD Data Tracker - Warehouse Inventory- FEB 2022"
Crystal emailed spreadsheet 4/5

- [x] Spreadsheet emailed from Finance staff month of: FEB 15-16 2022
- [x] Number of records being updated: `284`
- [x] Format spreadsheet [(Review instructions)](https://atd-dts.gitbook.io/atd-knack-operations/warehouse-inventory-updating-journal-vouchers-jv-information)
- [x] Spot check Transaction IDs, no JV information before import
  - `14689`
  - `14380`
  -

[2022-04-05 18:51] moorerst opened #8845 "HR SharePoint Site Redesign Feedback Sprint Review"
- Presented the initial redesign ideas to the stakeholder
- Get rest of team to review the initial mock up
- Meet again in 2-3 weeks
- Feedback meeting scheduled for 4/19

[2022-04-05 18:54] ChrispinP commented on #5487
Throwing back on deck now that Customer Portal is now live

[2022-04-05 18:58] TracyLinder commented on #8732
@Lpriya-LIT thank you. Will you be submitting deployments to Nate?

[2022-04-05 18:58] dianamartin commented on #8844
![image](https://user-images.githubusercontent.com/21112975/161829305-03b50be6-dc90-4c10-a42d-39615eae6efe.png)

Start import: 1:56 pm
End import:

Email stakeholder

[2022-04-05 19:09] Lpriya-LIT commented on #8732
@TracyLinder  yes Tracy. Nate reviewed the commit and I have sent him the dev deployment plan as well.

[2022-04-05 19:26] amenity commented on #8841
The major hurdle I'm anticipating, @tillyw is the apparent [bugginess of implementing with draggable rows](https://github.com/mbrn/material-table/issues/1219#issuecomment-1002368377).

[2022-04-05 19:27] Lpriya-LIT commented on #8375
Done a commit to add the new folder group 'SIF'.
@Nadin-Nader Please request for Dev deployment , have sent the deployment plan

[2022-04-05 19:27] amenity commented on #8841
@patrickm02L - which of the icons would you prefer as row "handles" in the "Milestones" table?
![Screen Shot 2022-04-05 at 2 25 52 PM](https://user-images.githubusercontent.com/1463708/161834180-42233c52-d27a-4868-8cd1-823521121025.png)

[2022-04-05 19:32] alan-deanda opened #8846 "Amanda Street Events Update 04/05/2022"

[2022-04-05 19:32] #8846 closed

[2022-04-05 20:12] #8784 closed

[2022-04-05 20:46] SubhaShroff commented on #4822
@Nadin-Nader  @TracyLinder  PROD deployment is done for this ticket.

[2022-04-05 20:51] atdservicebot opened #8847 "I created a duplicate signal: 1133 and 1135 are the same. Please delete 1135."
Data Tracker

I created a duplicate signal:  1133 and 1135 are the same.  Please delete 1135.

Soon — This week

Renee O.

Request ID: DTS22-103745

[2022-04-05 20:54] TracyLinder commented on #7689
### Followup w/ Commercial Plan Review
_Tracy, Amber, Mac, Nate_

**Story:** Automated email on PR folders w/ SIF info.

**Notes:**

- Add SIF verbiage to the Commercial Intake Form - you may be subject to SIF, just FYI
- Commercial intake will assign ATD SIF Review to all 15 & 25 day reviews beginning 6/21.
- Do not assign ATD SIF Review to DA cases (exemptions)

- Mac asked SIF team to speak to

[2022-04-05 20:55] Lpriya-LIT commented on #8833
@TracyLinder Committed changes, Ready for Dev promotion
@Nadin-Nader Have sent you the Dev deployment plan.

[2022-04-05 20:57] Lpriya-LIT commented on #8728
@TracyLinder Committed changes, Ready for Dev promotion
@Nadin-Nader Please request for Dev deployment , have sent the deployment plan.

[2022-04-05 20:58] #8625 closed

[2022-04-05 21:40] dianamartin opened #8848 "IT Support: Finance and Purchasing - incorrect Assigned To, PR #2022-03-3873"
Dan V.
Finance

Messaged

I replied

[2022-04-05 21:41] dianamartin commented on #8848
I changed
- [x] Removed "Assigned To" from "Finance Admin" to "blank" - Reviews object
- [x] I changed "MANAGER_APPROVALS_COMPLETE" to `Yes`, then PR went to "Budget Review"
- [x] Removed "Assigned To" from "Finance Admin" to "blank" - Purchase Request object

[2022-04-05 21:42] dianamartin commented on #8848
Messaged user
I just updated it for you
![image](https://user-images.githubusercontent.com/21112975/161854516-9ae98f2f-e0d3-4817-8e0f-a4a737e4daa0.png)

he replied

[2022-04-05 21:42] #8848 closed

[2022-04-05 23:06] amenity commented on #7959
FWIW, Notion's solution is similar to ours and also buggy. This might just be a toughie.

[2022-04-05 23:49] amenity commented on #8724
@johnclary - ping

[2022-04-05 23:53] amenity commented on #8809
@johnclary @Charlie-Henry - what is the impact of this bug? Trying to prioritize.

[2022-04-05 23:56] Charlie-Henry commented on #8809
This is fixed in test @amenity, I need to address @johnclary's changes then pull into main. Not exactly sure what the impact is but it is updating once daily currently.

[2022-04-06 00:18] amenity commented on #8809
Gotcha - moving this to Review/QA. Thanks, @Charlie-Henry !

[2022-04-06 01:32] amenity commented on #8257
Moving into #8259

[2022-04-06 01:32] #8257 closed

[2022-04-06 12:16] Nadin-Nader commented on #7672
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0210631**

[2022-04-06 12:26] Nadin-Nader commented on #8232
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0210634**

[2022-04-06 14:25] SubhaShroff commented on #8015
@Nadin-Nader  This ticket is in TEST and verified by me. Ready for UAT.

[2022-04-06 14:29] atdservicebot opened #8849 "[Enhancement] Implement refinements to Work Order Advanced Search"
We noticed today that `ASSET_TYPE` filter is not available in the [advanced search for work orders](https://atd.knack.com/amd#work-orders/advanced-search-signals/).

- [ ] Add `ASSET_TYPE` to [work order advanced search](https://atd.knack.com/amd#work-orders/advanced-search-signals/?view_2133_page=1&view_2133_filters=%5B%7B%22operator%22%3A%22is%20blank%22%2C%22field%22%3A%22field_2080%22%7D%2C%7B

[2022-04-06 14:46] moorerst commented on #8802
sprint review scheduled for 4/13

[2022-04-06 14:48] patrickm02L commented on #8491
@mateoclarke turned off MDS Prefect 4/5/22.

[2022-04-06 14:48] #8491 closed

[2022-04-06 14:48] moorerst commented on #8605
scheduled 4/19

[2022-04-06 14:50] dianamartin commented on #8847
Looked at both signals, request is to delete 1135 but it has a separate location. Might have to delete the location record too.
1133 - LOC22-021820
1135 - LOC22-021825

[2022-04-06 14:55] moorerst commented on #8609
Target date 5/2

[2022-04-06 15:08] patrickm02L commented on #8643
In lieu of Calendly, we could set up a calendar that has designated times for vendors to chose from.

[2022-04-06 15:10] Nadin-Nader commented on #8794
@Sreelatha-BlazeKannan I have deployed the updated report to **DEV**, Please UAT

[2022-04-06 15:10] TracyLinder commented on #8760
Darren has received the data he needed. Closing.

[2022-04-06 15:14] TracyLinder commented on #7261
This will require resources from the DEV team.
@johnclary do you have any comments or notes about this you should add here before your departure?

[2022-04-06 15:16] TracyLinder commented on #8236
This is stable. Closing.

[2022-04-06 15:17] TracyLinder commented on #8237
Leave this open until 4/15.

[2022-04-06 15:20] TracyLinder commented on #8566
**My Feedback:**

- Looks good
- Please add a link button to take users to the advanced search page for mitigations.

[2022-04-06 15:24] TracyLinder commented on #5474
Materials will need to be updated to include instructions about the access code.

[2022-04-06 15:30] chiaberry commented on #8299
fixed with other updates: https://github.com/cityofaustin/atd-moped/security/dependabot/8

[2022-04-06 15:30] #8299 closed

[2022-04-06 15:31] #8300 closed

[2022-04-06 15:40] dianamartin opened #8850 "IT Support: AMD tablet troubleshooting APR 2022 (Lawrence R, Randy P)"
Jorge G.
AMD

Messaged
## 3/30

I replied

So it seemed to be fixed but returned back to landscape. He just fixed it, can you confirm it fixed the issue?

user replied

[2022-04-06 15:43] Nadin-Nader commented on #8375
This has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0210699**

[2022-04-06 15:45] dianamartin commented on #8850
## 4/1
User

Randy P's tablet
he is in the field right now with his truck so idk. but its definitely not in the shop we didn't hear it go off.

I replied

user replied

[2022-04-06 15:50] dianamartin commented on #8850
## 4/6
User

I replied

he replied

I said

he said

![image](https://user-images.githubusercontent.com/21112975/162015562-19fca116-c956-42a7-82b0-47bdcecaecc6.png)

I suggested

user replied

[2022-04-06 15:54] Nadin-Nader commented on #8728
This has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0210703**

[2022-04-06 16:04] dianamartin commented on #8850
Closing, will open a new on for a different sprint/week.

[2022-04-06 16:09] dianamartin commented on #8850
## 4/6 Part 2
user said

I said

[2022-04-06 16:10] amenity commented on #8849
Teams message to Allyson:

[2022-04-06 16:11] amenity commented on #8849
@dianamartin - Allyson said she spoke to you about this?

[2022-04-06 16:14] #8850 closed

[2022-04-06 16:21] amenity commented on #8849
Talked to Allyson and confirmed that she doesn't need anything for service requests, but we should add "asset type" to the advanced search for work orders.

[2022-04-06 16:21] dianamartin commented on #8849
Yes, that's what I talked to her about bc I noticed it and I suggested it thinking it would be useful for users.

[2022-04-06 16:32] Nadin-Nader commented on #6031
This has been deployed to DEV, Please UAT

[2022-04-06 16:35] moorerst commented on #8816
@dianamartin I completed testing OTS - no additional comments. I'm available until 2:30

[2022-04-06 16:40] TracyLinder commented on #8684
### Approved for PROD
_by me_

[2022-04-06 16:52] amenity commented on #8849
@dianamartin - please check to see whether this page is pre-filtered in any way (it has "signal" in the name and URL, so maybe this explains why asset type isn't available?).

Also, would be good to understand why "Follow up needed" value must be supplied. We updated that [here](https://github.com/cityofaustin/atd-data-tech/issues/8648) and now it's kind of tricky because no work orders come up un

[2022-04-06 16:55] dianamartin commented on #8816
Stephanie and I synced about her comments on the LPB form and updated the OTS forms too. Just minor changes to wording and sorting orders. Ready for stakeholder review.

[2022-04-06 16:59] TracyLinder commented on #8319
Good job team! You fixed all the crazy bugs.

[2022-04-06 16:59] #8319 closed

[2022-04-06 17:04] TracyLinder commented on #7840
@Nadin-Nader FYI

[2022-04-06 17:04] #8572 closed

[2022-04-06 17:05] TracyLinder commented on #6201
@Nadin-Nader FYI

[2022-04-06 17:33] dianamartin commented on #8799
Sync'd with Stephanie and updated
- Removed all test "delete" buttons
- Updated Status Colors
- Added "Email" Y/N
- Added Employee Email (text formula)
- Added Employee Email Edit (email)
- Submitted Date - activated Time settings
- Updated Edit Log | Staff and Supervisor to include "Review Comments"
- Added "Email" Y/N to Edit Log | Supervisor to allow supervisor to email employee comments

[2022-04-06 17:45] #8798 closed

[2022-04-06 17:45] #8814 closed

[2022-04-06 17:46] johnclary commented on #8830
@alan-deanda add some details about what was done and close

[2022-04-06 17:46] #8682 closed

[2022-04-06 17:47] johnclary commented on #8407
Waiting for CTM to confirm there are no downstream impacts.

[2022-04-06 17:48] johnclary commented on #8407
@andrewshensky please let Susanne know when this is complete

[2022-04-06 17:48] chiaberry commented on #8297
fixed https://github.com/cityofaustin/atd-moped/security/dependabot/11

[2022-04-06 17:48] #8297 closed

[2022-04-06 17:49] vschandramouli opened #8851 "SIF - Email Resource Account when Payment is made."
Acceptance Criteria:

- System needs to automatically send an email to email ID of user that made Final Assessment attempt in SIF assessment process when payment on a SIF folder is made.
- Email body:
Subject: SIF Payment Made - 22-12345678-SIF (Folder Number)

Invoice # XYZ (Invoice Number) for $1,000,000 (Fee Amount) has been paid on 22-12345678-SIF (Folder Number).

[2022-04-06 17:51] chiaberry commented on #8298
https://github.com/cityofaustin/atd-moped/security/dependabot/9

[2022-04-06 17:51] #8298 closed

[2022-04-06 17:53] chiaberry commented on #8288
Can't find this package on the dependabot alerts, closed or open. Am going to close issue, we can reopen if it pops up again.

[2022-04-06 17:53] #8288 closed

[2022-04-06 18:05] vschandramouli opened #8852 "SIF - Mitigations Assessed folder info"
Acceptance Criteria:

- A new folder Info needs to be created for SIF:
-- Description: Mitigations Assessed?
-- Type: Boolean
-- Info Group: SIF Financials
-- Functionality: When this info is answered Yes and folder info 'Mitigation Offset?' is answered No, system needs to throw an alert message (not hard stop) when user saves folder info.
-- Alert message text: If mitigations are assessed, please

[2022-04-06 18:05] johnclary opened #8853 "Create print map project templates for ArcGIS Pro"
Create a re-useable ArcGIS Pro template for print maps.

Document standards and best practices. E.g., use AGOL layers when possible to avoid connection issues.

[2022-04-06 18:06] chiaberry commented on #8305
fixed https://github.com/cityofaustin/atd-moped/security/dependabot/17

[2022-04-06 18:06] #8305 closed

[2022-04-06 18:15] johnclary opened #8854 "Submit print bike map to Esri Conference Map Gallery"
- Register for online conference
- Figure out what the submission requirements are

[2022-04-06 18:18] #8815 closed

[2022-04-06 18:18] johnclary commented on #8815
Sent to Markus

[2022-04-06 18:19] johnclary commented on #8792
Updated on 3/30, but needs to be refined.

[2022-04-06 18:21] #8766 closed

[2022-04-06 18:24] #8791 closed

[2022-04-06 18:26] johnclary opened #8855 "Merge QC removals into production sign data"

[2022-04-06 18:27] #8830 closed

[2022-04-06 18:36] johnclary commented on #8754
Closing this out - will open new issues once AMD starts providing more feedback

[2022-04-06 18:36] #8754 closed

[2022-04-06 18:42] johnclary commented on #8681
Closing and will open additional issues as needed. Andrew is meeting w/ Max later today.

[2022-04-06 18:42] #8681 closed

[2022-04-06 18:44] johnclary commented on #8279
Holding off until parking GIS analyst is hired

[2022-04-06 18:45] johnclary opened #8856 "Offboard Jaime M."
## IT Permissions and Access

- [x] 1password
- [x] Slack
- [x] Miro
- [x] DTS Portal
- [x] Data Tracker
- [x] Signs and Markings
- [x] GitHub - (reassign issues, too)
- [x] Google Drive
- [x] SERF

## Admin

- [x] DTS email DL
- [x] About Us
- [x] DTS Team Slide
- [x] DTS SharePoint team lists - references the "About Us" page on austinmobility.io

## Recover organization assets

- [x] Badge - Rem

[2022-04-06 18:52] vschandramouli opened #8857 "SIF - New folder Info for PR, SP, C8, BP (Deploying to TEST)"
Acceptance Criteria:

- Two new info fields need to be added to BP, PR, SP and C8 folders

-- Description: SIF Folder RowID
-- Type: Numeric

-- Description: SIF Required?
-- Type: Boolean

[2022-04-06 19:05] Lpriya-LIT commented on #8726
@TracyLinder Committed changes, Ready for Dev promotion
@Nadin-Nader Please request for Dev deployment , have sent the deployment plan.

[2022-04-06 19:08] SubhaShroff commented on #8684
Tested on TEST for following permits:
12486717 - EX(AWU)  with Indate - Jun 09, 2020
12582391 - RW (Private Long-term) - In Date Nov 06, 2020

[2022-04-06 19:09] TracyLinder commented on #8857
### More Info
There are 2 new infos

1. SIF Required?
2. SIF Folder ROW ID

[2022-04-06 19:12] TracyLinder commented on #8852
The AC looks great. Pending the alert message.

[2022-04-06 19:16] TracyLinder commented on #8725
Priya is still working w/ CTM on this. Currently working w/ Martin on possible solutions.

[2022-04-06 19:17] andrewshensky opened #8858 "Discuss processing of KMZ with TED"
User from TED needs assistance working with a KMZ to produce a map.

[2022-04-06 19:24] dianamartin opened #8859 "[BUG] Bond Expiration Date not showing up correctly"
Andrea M.
SMS

Messaged 4/6
## Bug Notifications

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/83ed292c-47f1-43ca-b069-99ebd85462a6)

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/d4314acb-56ba-4b21-84a0-bccd9ae5496f)

## Additional Reqeust

[2022-04-06 19:24] Nadin-Nader commented on #8726
This has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0210765**

[2022-04-06 19:27] SubhaShroff commented on #8684
@TracyLinder  @Nadin-Nader  SCTASK0210766 is submitted for PROD deployment.

[2022-04-06 19:29] dianamartin commented on #8859
@patrickm02L
I synced with Andrea 4/6 and asked for clarification on this request.

I checked the "Home" page, Bond table and noticed that the "Bond Expiration Date" was not populating. Upon inspection on the back end, that field was "Insurance Expiration Date" but renamed to "Bond Expiration Date".

- [x]  Added "Updated Bond Expiration Date" field to table which was the correct date field Andrea

[2022-04-06 19:29] #8859 closed

[2022-04-06 19:29] andrewshensky opened #8860 "Remove Hopdoddy Garage from Affordable Parking Map"

[2022-04-06 19:31] dianamartin commented on #8827
user replied 4/5

[2022-04-06 19:43] frankhereford commented on #8639
A set of ~ 1200 units have been identified as candidates for restoration of the `movement_id` and `travel_direction` field. The crashes related to these units have had their geometry pulled, and the majority lay along the high injury roadways. This set has been sent to the VZ team, along with a map depicting of the spatial correlation between the HIR and the set of crashes in question, for review.

[2022-04-06 19:44] amenity commented on #7700
Peggy is going to attend our team meeting next week to review @Charlie-Henry's SXSW presentation. She'll be able to guide the direction to take things with intended audiences and @patrickm02L will PM the work.

[2022-04-06 19:46] amenity commented on #7700
Here's the [CoA Compass Power App](https://apps.gov.powerapps.us/play/543b60d5-c5f9-4a5e-bf51-c5cb8924c619?tenantId=5c5e19f6-a6ab-4b45-b1d0-be4608a9a67f).

[2022-04-06 19:48] dianamartin commented on #8849
@amenity there was just a setting on the "Follow-up Needed" field I switched off, it was a required value that didn't need to be.

The table itself is not filtered to any particular "Asset Type"
![image](https://user-images.githubusercontent.com/21112975/162058801-3f680834-3e6e-4cd5-95a0-d68c952afc8d.png)

[2022-04-06 19:50] amenity commented on #8724
@amenity - please make an issue for that last item.

[2022-04-06 20:22] Sreelatha-BlazeKannan commented on #8794
@Nadin-Nader , @TracyLinder - Tested in DEV and it is working as expected. Ready for TEST promotion.

![image](https://user-images.githubusercontent.com/44907715/162063823-0ab06368-15d6-4a41-82e4-d4a4bff9c4f6.png)

![image](https://user-images.githubusercontent.com/44907715/162064024-8e8cf2ce-ebe9-4fce-ae3e-9d49eacd7e45.png)

[2022-04-06 20:34] #8724 closed

[2022-04-06 20:35] Nadin-Nader commented on #8833
**_SCTASK0210708_** to **_DEV_** Commit 2d133cafadee

[2022-04-06 20:45] patrickm02L commented on #8639
@frankhereford thanks for sending over to the VZ team for review.

[2022-04-06 20:54] amenity commented on #8841
The existing approaches ☝🏻 aren't easily transferrable to our use case, largely because of the inline editing conflick.

@amenity - please make an issue for Tilly for a simple fix that prevents unexpected visible reordering. Check with Ivonne.

[2022-04-06 20:58] #8841 closed

[2022-04-06 21:23] amenity opened #8861 "Migrate/port VZ ingest DAG to Prefect"
The two DAG which I would like to work on to get into prefect are:
* [atd_visionzero_download_production](https://airflow.austinmobility.io/tree?dag_id=atd_visionzero_download_production)
* [atd_visionzero_hasura_import_production](https://airflow.austinmobility.io/tree?dag_id=atd_visionzero_hasura_import_production)

They are responsible for downloading the latest CSV from CRIS onto the airflow m

[2022-04-06 21:31] frankhereford commented on #8861
The two DAG which I would like to work on to get into prefect are:
* [atd_visionzero_download_production](https://airflow.austinmobility.io/tree?dag_id=atd_visionzero_download_production)
* [atd_visionzero_hasura_import_production](https://airflow.austinmobility.io/tree?dag_id=atd_visionzero_hasura_import_production)

They are responsible for downloading the latest CSV from CRIS onto the airflow m

[2022-04-06 21:50] SubhaShroff commented on #8035
@Nadin-Nader  SCTASK0210803 is submitted for DEV deployment request.

[2022-04-06 21:53] amenity commented on #8840
Will also need to ask Christina if new users will be requesting these STREET NAME CHANGEs.

[2022-04-06 21:55] frankhereford opened #8862 "New Moped projects return a `graphql-engine` error on creation"
**Describe the bug**
When I attempt to create a new Moped project, the application displays an `alert` window with the following message: `Error: database query error`.

**URL**

Any recent moped deployment, including local, recent PRs and test. I have not attempted to create a project in production.

**What steps can we follow to reproduce the bug you are seeing?**
1. Navigate to the create proje

[2022-04-06 21:59] amenity opened #8863 "April 2022 Updates to SD 2023 Reporting"

[2022-04-06 22:19] amenity commented on #8863
We'll have a meeting about this with Peggy next week, @KaroEngstrom @Charlie-Henry .

[2022-04-06 22:23] amenity commented on #8863
Oh wait... @dianamartin @johnclary - is this a dupe of #4814?

[2022-04-06 22:37] chiaberry commented on #8862
I tried adding a new project via the hasura console running locally and got this error
[code]

I used the variables I got from adding a new project
[code]

We aren't sending start_date, so im still confused here

[2022-04-07 15:08] Lpriya-LIT commented on #8725
@TracyLinder Committed changes, Ready for Dev promotion
@Nadin-Nader Please request for Dev deployment , have sent the deployment plan.

[2022-04-07 15:45] SubhaShroff commented on #8684
SCTASK0210766 is deployed in PROD. Yet Batch job (SCTASK0210771 ) has to be deployed.

[2022-04-07 16:21] andrewshensky commented on #8860
The has been completed and confirmed by requestor.

[2022-04-07 16:23] andrewshensky opened #8864 "GIMOB Meeting - April"

[2022-04-07 16:31] #8864 closed

[2022-04-07 17:22] dianamartin commented on #8779
# Diana's Notes 4/7
## Payment Information section
- 1500 and 750
- Collect payment at six month term
- Put $750 first then $1500 total over 12 months

## Eligibility section on Get Started
- [ ] Add bullet, expression of interest form
- TX Sales Tax License

## Application Changes
- Add new field "Adding to Fleet?" - Mary V.
- If "Renewal" - don't show "Initial Fleet" only
  - "Additional Units"

[2022-04-07 17:23] dianamartin opened #8865 "[Meeting] SMS Sprint Review Meeting 4/7 - Feedback"
### Objective

### Participants

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [x] Optional: Debrief with DTS team members
- [x] Create resulting issues

[2022-04-07 17:24] dianamartin commented on #8865
# Diana's Notes 4/7
## Payment Information section
- 1500 and 750
- Collect payment at six month term
- Put $750 first then $1500 total over 12 months

## Eligibility section on Get Started
- [ ] Add bullet, expression of interest form
- TX Sales Tax License

## Application Changes
- Add new field "Adding to Fleet?" - Mary V.
- If "Renewal" - don't show "Initial Fleet" only
  - "Additional Units"

[2022-04-07 17:25] dianamartin commented on #8805
This was shown to stakeholders on 4/7, minor modifications being addressed on #8865

[2022-04-07 17:52] #8827 closed

[2022-04-07 17:56] dianamartin commented on #8863
@amenity i'm not sure, but it could be..

[2022-04-07 18:03] dianamartin commented on #8675
Need to follow-up with Brian

[2022-04-07 18:26] amenity commented on #8676
AR - Not every camera associated with signal, e.g. the one on top of the Austonian.

BC - Have discussed with John and thinks we could come up with a logic that makes sense.

[2022-04-07 18:33] amenity commented on #8698
Usefulness will increase significantly after #5125 . Will be fun to use some of the visualization approaches we applied with Signs and Markings work orders after that.

[2022-04-07 18:35] andrewshensky opened #8866 "Meeting - RAS Sign Data Collection"

[2022-04-07 18:36] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - Submitted DEV DP of #6031. Kindly approve and create task id for me. This will fix the html email issue.

[2022-04-07 18:40] andrewshensky commented on #8866
@johnclary Meeting notes below:

- Christina and Sussane provided QC notes to RAS
      RAS did intial review of notes, no major question

- RAS will ID all signs where possibilities of double signs may be present
      A manual review will take place to identify locations of double signs

- Next data delivery will be official pilot data

- RAS will provide timeline for final Pilot data tomorrow o

[2022-04-07 18:40] #8866 closed

[2022-04-07 18:50] andrewshensky opened #8867 "Meeting - Changes to Bike Parking Data"

[2022-04-07 18:51] andrewshensky commented on #8867
- Powdered coated racks will need to be added as new TYPE
      New symbology will be needed

- Field will need to be added for Rack Color
      Sophia has provided possible colors for domains from manufacturer

- Gilbert interested in identifying locations that have not been serviced in 6 month
      Data to be provided in excel table during next monthly delivery
      We will want to migrate mai

[2022-04-07 18:51] #8867 closed

[2022-04-07 19:00] TracyLinder commented on #7689
### 4/7 Project Mtg

**Agenda:**

- [ ] Priya to demo SIF in DEV
- [ ] For discussion items above.

[2022-04-07 19:20] Nadin-Nader commented on #8726
@Lpriya-LIT this has been deployed to DEV

[2022-04-07 19:24] Nadin-Nader commented on #8725
@Lpriya-LIT This has been sent to the DevOps CM Team to deploy to **_DEV_** under **SCTASK0210988**

[2022-04-07 19:40] frankhereford opened #8868 "Investigate and fix sync issue related to Moped's URL and label in Knack"
This issue is to document a task I have worked on today:

@johnclary brought this to the group's attention in our recent planning meeting and was kind enough to share more details with me later in the day. 🙏

In production, the current configuration of production Data Tracker appears to differ from the development configuration. The Moped application is geared to use configuration as presented by

[2022-04-07 20:14] Nadin-Nader commented on #7672
@Lpriya-LIT This has been deployed to TEST, Please UAT and verify it is ready for Stakeholder UAT

[2022-04-07 20:15] Nadin-Nader commented on #8232
@Lpriya-LIT this has been deployed to TEST. Please UAT and verify all is well for stakeholder UAT

[2022-04-07 20:23] frankhereford commented on #8868
John requested that I double check that I can reproduce the exact behavior in dev by configuring it as is prod. While I believe I have conducted this test, I did not make an adequate recording of the results to show, so I am going to do it again with better documentation and leave that here.

At this point, he suggested that I present the work done to @amenity and discuss what backfilling code may

[2022-04-07 21:10] amenity commented on #8868
Sounds good, thanks @frankhereford @johnclary

[2022-04-07 21:12] SubhaShroff commented on #8684
@Nadin-Nader  @TracyLinder  The batch job is deployed in PROD to run ONCE.

[2022-04-07 21:38] amenity opened #8869 "[Enhancement] Include "last modified" in advanced filters"
When thinking about the simplest way to provide a stable view list of ordered projects for Ivonne, it seems like the easiest solution would be to allow the user to add a filter for "Last modified". She could drill down do all projects modified during a given time range and sort them by a static field like "name" or "eCAPRIS ID".

<img width="774" alt="Screen Shot 2022-04-07 at 4 04 40 PM" src="htt

[2022-04-07 21:53] alan-deanda opened #8870 "ASMP round 2 support"
Issue to track support for the ASMP round 2 GIS support.

Tasks include reports from Survey123, edits to storymaps, and general help compiling and analyzing feedback.

[2022-04-07 22:31] Nadin-Nader commented on #6031
This has been Sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0211035**

[2022-04-07 22:36] Nadin-Nader commented on #8794
@Sreelatha-BlazeKannan i have deployed this to TEST. Please UAT

[2022-04-08 03:19] #8862 closed

[2022-04-08 03:34] mateoclarke commented on #8129
Going to schedule some time for us to dig into it together.

[2022-04-08 04:06] frankhereford commented on #8639
Xavier responded with the following:

I will execute his instructions. I appreciate the well considered feedback!

[2022-04-08 13:44] Lpriya-LIT commented on #8232
@Nadin-Nader Verified in Test , works as expected.

[2022-04-08 13:48] Lpriya-LIT commented on #7672
@Nadin-Nader Verified in Test. Fee amount for fee code 75300 has been updated from 250 to 50

[2022-04-08 15:40] andrewshensky opened #8871 "Submit Request to Register User for 2 GIS Courses in TRAIN"

[2022-04-08 15:41] andrewshensky commented on #8871
Prerequisites were verified with user and request has been submitted

[2022-04-08 15:41] #8871 closed

[2022-04-08 17:45] andrewshensky opened #8872 "Configure AGOL Account and Request GISDM Access for New User"

[2022-04-08 17:46] andrewshensky commented on #8872
Account has been configured and GISDM request has been submitted

[2022-04-08 17:46] #8872 closed

[2022-04-08 17:47] andrewshensky opened #8873 "Provide Extracts for Parking Inventory Data"

[2022-04-08 17:47] andrewshensky commented on #8873
Data has been provided to requestor

[2022-04-08 17:47] #8873 closed

[2022-04-08 17:49] Nadin-Nader commented on #8035
@SubhaShroff so i had Jacklyn look at the demo and she came back with the following:

[2022-04-08 19:03] SubhaShroff commented on #8795
@Nadin-Nader I fixed this bug to the root. Instead of comments the fees will display with 'Extension'  when those are added with Permit Extension Granted attempt. Otherwise, if just Insert + Run the 'TURP Right-of-Way Usage Fees', the fees will be added without 'Extension'. Meter Parking fees is an exception. The following are the screenshots of the fees and Property & Street info(localhost).
![im

[2022-04-08 19:11] atdservicebot opened #8874 "Internet connecting to the atdcamvideo laptop at 8900 Cameron Rd is unable to connect to internet using Ethernet or Wifi"
Other / Not sure

Internet connecting to the atdcamvideo laptop at 8900 Cameron Rd (the tech room where the laptop is connected to the TV) is unable to connect to the internet using Ethernet or Wifi. I have tried switch the Ethernet ports and restarting the laptop, but it is still unable to connect to the internet.

Flexible  — An extended timeline is OK

Preferable next week to figure out why it

[2022-04-08 20:30] Sreelatha-BlazeKannan commented on #8794
@Nadin-Nader , @TracyLinder - Tested in TEST environment. all working as expected and ready for UAT and PROD Move.

[2022-04-11 14:12] andrewshensky opened #8875 "Update Bike Shop Layer for Bike Maps"
ATSD has provided an updated list of bike shops, which includes additions and removals from the current dataset

[2022-04-11 14:24] dianamartin commented on #8874
I messaged Scott on 4/11

[2022-04-11 16:06] atdservicebot opened #8876 "TED has requested that we modify Instructions and Comments for work orders to read, “Install 25 MPH ..."
Signs & Markings Operations

TED has requested that we modify Instructions and Comments for work orders to read, “Install 25 MPH neighborhood signs.” The work orders that need modified are listed on the spreadsheet attached. This is so TED can filter work orders for this specific project.

Instructions and Comments on the work order will read “Install 25 MPH neighborhood signs" as the first part o

[2022-04-11 16:18] frankhereford opened #8877 "[Feature] Update VZ change log system to capture "before" and "after" state of changes"
The JSON stored in the change log system captures only the "before" state of a record being updated, which requires the subsequent change log entry or final state of a record be discovered to compute the actual difference in the update.

The VZ change log system could be improved by borrowing some of the moped-like behaviors and capturing both states and optionally computing and storing the diff.

[2022-04-11 16:41] atdservicebot opened #8878 "Grant access for Michael S. to the Shared Mobility Reporting Tracker and Shared Mobility AGOL group"
Other / Not sure

Hi, can we grant access for Michael S. to the Shared Mobility Reporting Tracker on Knack and to the Parking Enterprise ArcGIS Online workgroup?

Soon — This week

Michael S. is joining our team this week and starting tomorrow (4/12). Thank you in advance!

Mary V.

Request ID: DTS22-103765

[2022-04-11 17:28] KaroEngstrom commented on #8840
4/11/22 with @dianamartin

- [x] Checked in with requester to see if this needed to be associated with an Account type
     [12:05 PM] DTS
     For this issue 8840, do you just need "STREET NAME CHANGE" as they new Requester? Or will you need to create an
     account that is for Street Name Change?
     [12:08 PM] REQUESTER Just street name change as the requester! The work orders will be created

[2022-04-11 17:54] Nadin-Nader commented on #6728
This is still waiting on CTM DevOps to deploy to TEST under SCTASK0211411

[2022-04-11 18:03] KaroEngstrom commented on #8849
4/11/22

- [x] Added Asset Type option to the Advanced Search

![image](https://user-images.githubusercontent.com/100615928/162798174-3e0de1a1-770d-482e-847d-c59c3ea4f37e.png)

- [x] Added Asset Type column to the results table on the same page

![image](https://user-images.githubusercontent.com/100615928/162798255-cb846d9f-d0ac-4a72-b123-abcd98bf2cfa.png)

- [x] Contacted the requester via email

[2022-04-11 18:08] atdservicebot opened #8879 "[URGENT] Can I have a AMANDA profile similar to Sangeeta Jain's one? Currently, it seems I don't have privile..."
AMANDA

Can I have a AMANDA profile similar to Sangeeta Jain's one? Currently, it seems I don't have privilege to create a folder in AMANDA and putting a general fee for ATD.

Urgently — Critical that this is addressed today

Matiur R.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62546dfeeb0ff2002096b2d9/microsoftteamsimage.png) (7.32kb)

Request ID:

[2022-04-11 18:36] johnclary opened #8880 "[ROW] Process Cost-of-Service (COS) JV imports for March 2022"
- In Knack, rename `Approval Date` to `Import Date`
- For each file—remove rows that do not have a Journal Voucher ID. Save as CSV.
- Import the file(s) to Knack. Only import `Journal Voucher ID` and `Fee Number`. Set the `Import Date` field to default to current date.
- Confirm that the number of imported records matches what was expected
- Let Melissa (and others cc'd) that the import is complet

[2022-04-11 18:38] johnclary opened #8881 "Document Cost-of-Service (COS) Import Process"

[2022-04-11 18:40] johnclary opened #8882 "[Enhancement] Create Excel Macro for combining cost-of-service-files"
Develop a macro that combines the monthly COS spreadsheets into a single file.

[2022-04-11 18:42] johnclary commented on #8882
@amenity @TracyLinder FYI

[2022-04-11 18:49] KaroEngstrom commented on #8840
4/11/22
REQUESTER: "I'm looking at it now on the Signs Work Orders and it looks perfect. That's exactly what we were wanting!"

[2022-04-11 18:49] #8840 closed

[2022-04-11 18:51] Nadin-Nader commented on #8879
Copied over Sangeetas button permissions to Matiur's AMANDA account on TEST. Sent a message asking to test it on TEST before moving to PROD

[2022-04-11 19:20] TracyLinder commented on #7689
### 4/11 Project Meeting

**Affordability** - We feel like the free-form tab layout will work.

[2022-04-11 19:23] TracyLinder commented on #8851
Email to the user who saved the Formal Collection attempt on SIF Collections process.

Subject: SIF Payment Made - 22-12345678-SIF

Body:
Invoice # XYZ for $1,000,000 has been paid on 22-12345678-SIF.

[2022-04-11 19:31] andrewshensky opened #8883 "Add Bike Route to Airport"
ATSD has provided paved trail bike route to the airport that needs to be added to CTN

[2022-04-11 19:32] andrewshensky opened #8884 "Submit Request to Remedy Maint Accessibility Issue for TED User"

[2022-04-11 19:35] andrewshensky commented on #8884
Worked with user to reestablish connection to O. Once reestablished bad user error was displayed. Looks like it could be a log in/credential issue. Ticket has been submitted to CTM on behalf of user to address this issue.

[2022-04-11 19:35] #8884 closed

[2022-04-11 19:35] andrewshensky commented on #8883
Route has been added to CTN

[2022-04-11 19:35] #8883 closed

[2022-04-11 19:37] andrewshensky commented on #8875
New bike shops have been added. An existing type field in the dataset was used to filter out non-bike shop locations (visitor center, fix-it station, etc.)

[2022-04-11 19:37] #8875 closed

[2022-04-11 19:44] atdservicebot opened #8885 "Need to update funding #'s on a few Sign Fabrication Work Orders."
Signs & Markings Operations

Need to update funding #'s on a few Sign Fabrication Work Orders.

Update Funding # for:
- SFAB22-000690: 8119-2507-C075-5560
- SFAB22-000635: 8119 2507 C075-5560

https://atd.knack.com/signs-markings#work-orders-sign-fabrication/

N/A

Christina T.

Request ID: DTS22-103775

[2022-04-11 19:48] alan-deanda opened #8886 "Active Parking Permits Documentation"
Documentation has been moved to gitbook here:
[https://atd-dts.gitbook.io/atd-geospatial/special-events/active-parking-permits](https://atd-dts.gitbook.io/atd-geospatial/special-events/active-parking-permits)

[2022-04-11 19:48] #8886 closed

[2022-04-11 19:49] alan-deanda commented on #8842
The new wiki page lives here:

[https://atd-dts.gitbook.io/atd-geospatial/special-events/amanda-street-events-update](https://atd-dts.gitbook.io/atd-geospatial/special-events/amanda-street-events-update)

[2022-04-11 19:49] #8842 closed

[2022-04-11 19:52] frankhereford commented on #8639
After generating the set of update statements from the revised set of proposed restorations, I started to check a sample of the changes in the output to make sure they made sense. This led me to find uncover a mistake that I had included in my script which generated the change set. All the proposed restorations were non-operations, setting the value to what was already in the present database.

Up

[2022-04-11 19:53] #8639 closed

[2022-04-11 19:57] atdservicebot opened #8887 "We would like to see if you’d be able to change the number for inspections in the conditions box on ..."
AMANDA

We would like to see if you’d be able to change the number for inspections in the conditions box on the EX permits to 512-660-0417 instead of the 512-974-7161 number for future permits that apply to our group. Contractors can text or call that number, so we’d like for it to say ‘Call or text 512-660-0417 for inspection…’ from now on.

Just a change to the Permit Reports and/or Pick Field l

[2022-04-11 20:08] andrewshensky opened #8888 "Provide User Access to Group within AGOL"
User from 311 is requesting access to view parking related data

[2022-04-11 20:08] #8888 closed

[2022-04-11 21:01] atdservicebot opened #8889 "Please add "Transportation Project Delivery," to the drop down menu for telework request forms. Ami..."
Human Resources

Please add "Transportation Project Delivery," to the drop down menu for telework request forms.  Amica and her group are new and we need to add them.

ATD HR will be able to make necessary employee adjustments to the appropriate group.

None.  They would stay in the wrong group.

As soon as possible.

Nathan B.

Request ID: DTS22-103785

[2022-04-11 21:10] Sreelatha-BlazeKannan commented on #2666
@Nadin-Nader , @TracyLinder - TEST DP’s submitted. This will move the entire epic to test. So, that complete flow can be tested in TEST Environment. Kindly approve and create task id for me.

#2666 EPIC Commit ID’s
-------------------------------

**1.	#6030 Commit ID’s**
a.	Order 1 - b1c225dce3bb & 5a290ad50351 – Already in TEST
b.	Order 2 - [cb3c789415cd](http://coaamandadevops01.austintexas.gov

[2022-04-11 21:13] Sreelatha-BlazeKannan commented on #6030
@Nadin-Nader , @TracyLinder - TEST DP submitted. Please create task id for me.

#2666 EPIC Commit ID’s
-------------------------------

**1.	#6030 Commit ID’s**
a.	Order 1 - b1c225dce3bb & 5a290ad50351 – Already in TEST
b.	Order 2 - [cb3c789415cd](http://coaamandadevops01.austintexas.gov/R3:cb3c789415cdb8800786354b8e5a6cbd570a674b)

**2.	#6031 Commit ID’s**
a.	Order 1 - d896d8858596
b.	Order 2 - a

[2022-04-11 21:15] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - TEST DP submitted. Please create task id for me.

https://github.com/cityofaustin/atd-data-tech/issues/2666 EPIC Commit ID’s
1. https://github.com/cityofaustin/atd-data-tech/issues/6030 Commit ID’s
a. Order 1 - b1c225dce3bb & 5a290ad50351 – Already in TEST
b. Order 2 - [cb3c789415cd](http://coaamandadevops01.austintexas.gov/R3:cb3c789415cdb8800786354b8e5a6cbd570a674b)

[2022-04-11 21:16] Sreelatha-BlazeKannan commented on #6032
@Nadin-Nader , @TracyLinder - TEST DP submitted. Please create task id for me.

https://github.com/cityofaustin/atd-data-tech/issues/2666 EPIC Commit ID’s
1. https://github.com/cityofaustin/atd-data-tech/issues/6030 Commit ID’s
a. Order 1 - b1c225dce3bb & 5a290ad50351 – Already in TEST
b. Order 2 - [cb3c789415cd](http://coaamandadevops01.austintexas.gov/R3:cb3c789415cdb8800786354b8e5a6cbd570a674b)

[2022-04-11 21:17] KaroEngstrom commented on #8849
- [x] Removed specific reference to signals from the slug and title

![image](https://user-images.githubusercontent.com/100615928/162834851-05b46413-adde-447e-804c-21b09d2d96df.png)

- [x] Removed signals from the view tag in Knack builder

![image](https://user-images.githubusercontent.com/100615928/162834902-f4884d8d-90dd-49c3-ba45-3712d287de04.png)

[2022-04-11 22:20] Charlie-Henry commented on #8315
Meredith, Amica, Fernando, and I met last week to review the dashboard. Changes are noted below

Changes:
- Tick marks for X-axis on chart
   - These are not supported by Power BI, shockingly. I've included a separate tab called "Test Vertical" that adds vertical grid lines which might be suitable as a replacement for tick marks?
- ✔️ Shifted things around based on our meeting, chart now lines up

[2022-04-11 22:26] alan-deanda opened #8890 "AMANDA street event updates 04/11/2022"

[2022-04-11 22:26] #8890 closed

[2022-04-11 22:27] alan-deanda opened #8891 "Active Parking Permits Update 04/11/2022"

[2022-04-11 22:27] #8891 closed

[2022-04-11 23:20] Nadin-Nader commented on #6030
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0211462**

[2022-04-11 23:22] Nadin-Nader commented on #6031
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0211462**

[2022-04-11 23:23] Nadin-Nader commented on #6032
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0211462**

[2022-04-12 01:10] johnclary commented on #8866
thanks!

[2022-04-12 05:41] amenity commented on #8012
@amenity - please make implementation issue.

[2022-04-12 13:46] vschandramouli commented on #8857
Updated ticket. Moving to On Deck and assigning Priya.

[2022-04-12 14:11] Lpriya-LIT commented on #8857
@vschandramouli Please confirm whether these 2 are mandatory infos. And what is the info group.

[2022-04-12 14:15] dianamartin commented on #8874
Scott said 4/12

I can take a look at it

[2022-04-12 14:44] Nadin-Nader commented on #8684
@SubhaShroff @TracyLinder Left a message in TEAMS on the "On PROD" channel stating this was on PROD and that i would close.

[2022-04-12 14:44] #8684 closed

[2022-04-12 14:54] #8879 closed

[2022-04-12 14:54] Nadin-Nader commented on #8879
The update went to PROD and it worked. Closing

[2022-04-12 15:26] Nadin-Nader commented on #8035
@SubhaShroff Jaclyn said that the info code for the "Adjust Review Due Date" is **61060**

[2022-04-12 15:50] vschandramouli commented on #8795
@SubhaShroff @Nadin-Nader  I think this looks good and can be deployed to Dev.

[2022-04-12 15:53] vschandramouli opened #8892 "SIF - Replace the word Assessment with Calculation in SIF Assessment Process"
Acceptance Criteria:

- Need to replace the word 'Assessment' to 'Calculation' in SIF Assessment process
-- Process name needs to be changed to SIF Calculation Process
-- Attempt names need to be changed to Formal Calculation, Final Calculation, Correction to Final Calculation.

[2022-04-12 16:07] dianamartin commented on #8224
- [x] Worked on AMD workflow - 4/12

[2022-04-12 16:08] vschandramouli opened #8893 "SIF - Remove Freeform Columns"
Acceptance Criteria:

- Remove free-form columns from SIF Building Info Freeform: SIF Service Area, Council District

[2022-04-12 16:18] TracyLinder commented on #8857
@Lpriya-LIT @vschandramouli
- Not mandatory
- Choose group 'SIF Infos' _(I might have the name wrong; the one you recently created.)_

[2022-04-12 16:19] vschandramouli opened #8894 "SIF - SIF Building Info Freeform Changes"
Acceptance Criteria:

- Any freeform columns in Yellow means update to existing column.
- Any freeform column in Orange means new column.
- Any Strikethrough means the column needs to be removed.

Changes to freeform are in Sheet1 tab of document below.

https://cityofaustin-my.sharepoint.com/:x:/g/personal/tracy_linder_austintexas_gov/EXdDr5oy9wlHrmzdLkMZjCsB1uKOL8ql6hDjrUoxAR8ypw?e=Utw76U

[2022-04-12 16:20] TracyLinder commented on #8857
@Lpriya-LIT another requirement for display order.
- SIF Required? needs to be ordered just before SIF Folder RowID

[2022-04-12 16:25] Lpriya-LIT commented on #8857
@TracyLinder The Group name is SIF Site Info

[2022-04-12 17:14] SubhaShroff commented on #8795
Thank you @vschandramouli
SCTASK0211700 is submitted for DEV deployment.

[2022-04-12 17:17] moorerst commented on #8799
Will review with stakeholder 4/13

[2022-04-12 17:21] moorerst commented on #8802
@dianamartin @KaroEngstrom here are the slides for you to review for the HR meeting 4/13. Thanks

https://docs.google.com/presentation/d/1tZs8CAFDGUqDB9iWxn0AMvlLJc16bxUDWem9ZqFxcuQ/edit#slide=id.p

[2022-04-12 17:27] KaroEngstrom commented on #8889
T 4/12/22

- [x] Added Transportation Project Delivery as a choice in the Division field in the Accounts table
![image](https://user-images.githubusercontent.com/100615928/163016792-6c5388f3-8e12-42c3-8573-3a4c6b09b275.png)

- [x] Changed requested user's division to the new one
![image](https://user-images.githubusercontent.com/100615928/163017187-351ac990-551f-4dbc-9237-8cde2915a0f1.png)

- [x]

[2022-04-12 17:35] amenity commented on #6552
@frankhereford - pulled this up again as possible work for @tillyw and would love your advice: Considering our [ultimate dream activity feed state](![image](https://user-images.githubusercontent.com/1463708/163020783-715e5e4b-195c-4274-aed7-bbbf53f419d8.png)), do you think addressing this bug now will be a step forward, or something that would be overwritten?

[2022-04-12 17:49] dianamartin commented on #8802
I think the slides look good, we are prepared for it since we have other stakeholders in that meeting :)

[2022-04-12 18:09] atdservicebot opened #8895 "This crash is showing that there is no unit or person, but the CR3 has data for both."
Vision Zero (Editor)

This crash is showing that there is no unit or person, but the CR3 has data for both.

https://visionzero.austin.gov/editor/#/crashes/14720068

Internet Browser: Chrome

Xavier A.

Request ID: DTS22-103790

[2022-04-12 18:13] xavierapostol commented on #8895
Also the following 2:
https://visionzero.austin.gov/editor/#/crashes/17546179
https://visionzero.austin.gov/editor/#/crashes/17451702

[2022-04-12 18:17] xavierapostol commented on #8895
These are all missing a person:
18837015,18832992,18832909,18832902,18825785,18825785,18819042,18818842,18818987,18818927,18814659,18814659,18814659,18813602,18813602,18806265,18806261,18806255,18806255,18803233,18800455,18800455,18795157,18794811,18794036,18794036,18794036,18794036,18789481,18789481,18789481,18789481,18782182,18782182,18789479,18782163,18782163,18779944,18779918,18779135,18779135

[2022-04-12 18:37] alan-deanda opened #8896 "Spanish review of print bike map 2022"
Review, provide feedback on, and provide translations for the Spanish version of the Austin Bike Map 2022.

[2022-04-12 19:28] KaroEngstrom commented on #8802
Looks sharp and comprehensive!

[2022-04-12 19:34] andrewshensky opened #8897 "Provide Table of On-Street CTN Intersection Points"

[2022-04-12 19:38] KaroEngstrom commented on #8889
4/12/22
- Response from Requester: "Yes, that works. Thank you!"

[2022-04-12 19:38] #8889 closed

[2022-04-12 19:41] andrewshensky opened #8898 "Final Review of Bike Map/Provide Final PDFs to ATSD"

[2022-04-12 19:43] TracyLinder commented on #3068
### Update

The V7 upgrade timeline has been extended.
![Screen Shot 2022-04-12 at 2.42.08 PM.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/1429e70c-4b01-46b5-bb95-3582c2386260)

[2022-04-12 19:59] TracyLinder opened #8899 "Permissions Update - Kensley I."
Kensley needs to be able to issue EX, RW, DS folders.

[2022-04-12 20:07] TracyLinder opened #8900 "Bug - Expiration email on SB-Banner folders"
**See screenshot of the batch email ATD-banner customers are receiving. I believe this is due to a batch job created by DSD.**
<img width="951" alt="Screen Shot 2022-04-12 at 2 55 39 PM" src="https://user-images.githubusercontent.com/49930868/163044773-c2db00a3-0b24-4f19-95f7-54567e33d6f1.png">

[2022-04-12 20:08] TracyLinder commented on #8900
**Email to Surbhi w/ DSD:**

Hi Surbhi,

Can you please help or route me appropriately? ATD uses the subtype Banner on the SB folder. Recently customers have reported receiving expiration notifications and they are confused about it. (See screenshot.)

My assumption is DSD must have created a batch email job on the SB related to folder expiration. If this is correct, may I ask that you implement a

[2022-04-12 20:58] Charlie-Henry commented on #8315
Latest comments from Meredith:
1. ✔️It’s the April column that I want to have be a different color.  So whatever the current month is.  Not the Actual Spend row.
3. ✔️I would still want the Cumulative Baseline vs Actual and the Cumulative Planned vs Actual amounts to show up for the current month.
4. ✔️In the final version, of course, we’d want the table to say “Actual Spend” instead of “Actual Sp

[2022-04-12 21:12] dianamartin commented on #8675
Brian was still out when I wanted to check in with him - 4/12, will try this week to sync up.

Lance emailed 4/8, and shared spreadsheet of **Proposed ASR Metrics** with Brian G., Allyson and me.

Goldberg replied

[2022-04-12 21:16] dianamartin commented on #8675
## Input
![image](https://user-images.githubusercontent.com/21112975/163055830-7db6c522-c0d8-4488-baba-09d25897393d.png)

## Calc
![image](https://user-images.githubusercontent.com/21112975/163055903-1aa04bfe-b81c-482c-9008-8a63e5697170.png)

## Display
![image](https://user-images.githubusercontent.com/21112975/163055949-26cd2027-a5d3-4cf0-8281-dd5a99609c70.png)

[2022-04-12 21:38] chiaberry opened #8901 "Add Signals Projects columns to Moped Projects List View"
Converted this part into an epic: _In order to achieve an eventual goal of "One Table to rule us all" aka getting parity between the Signals Dashboard table and the Project List View Table, we need to be able to get the same information from the Signals Dashboard table in the SQL View_

Columns on moped_project that are more straight forward to access:
- [x] task order
- [x] contractor
- [x] proje

[2022-04-13 05:04] mateoclarke commented on #8877
Definitely in favor of both these actions. Would be good to discuss and document the level of effort and preferred approach for this change so we can estimate the work before prioritizing.

[2022-04-13 13:54] SubhaShroff commented on #4822
### Status:
On PROD a week ago. I am not sure if the stakeholders are informed to do the review.

[2022-04-13 13:55] SubhaShroff commented on #8015
### Status:
Ready for UAT.

[2022-04-13 13:56] SubhaShroff commented on #8693
### Status:
This was deployed in PROD 2 weeks ago. Waiting to close.

[2022-04-13 13:58] SubhaShroff commented on #8313
### Status:
Deployed on PROD 2 weeks ago.

[2022-04-13 13:59] SubhaShroff commented on #7912
### Status:
Almost 13days ago, it was deployed on PROD.

[2022-04-13 14:36] #8808 closed

[2022-04-13 14:45] Charlie-Henry commented on #8646
This was merged a while back 🤐
https://github.com/cityofaustin/atd-parking-data/pull/19

[2022-04-13 14:45] #8646 closed

[2022-04-13 14:48] Charlie-Henry commented on #8645
We spoke about this and we have not identified this script as needed, yet.

WIP script to do this is here:
https://github.com/cityofaustin/atd-parking-data/blob/hub-data-script/meters/flowbird_hub_data.py

[2022-04-13 14:48] #8565 closed

[2022-04-13 14:50] Charlie-Henry commented on #8546
whoops, I've been documenting Meredith's comments and my changes in https://github.com/cityofaustin/atd-data-tech/issues/8315

[2022-04-13 15:22] Nadin-Nader commented on #8899
Updated TEST with the permissions needed. Kensley is now testing on TEST to see if all is well.

[2022-04-13 15:59] dianamartin opened #8902 "[BUG] Device Status Page Issues - April 2022"
Allyson R
AMD

Emailed this morning 4/13

[2022-04-13 16:21] Nadin-Nader commented on #6728
@Sreelatha-BlazeKannan this has been deployed to TEST. Please UAT

[2022-04-13 16:22] Nadin-Nader commented on #8375
@Lpriya-LIT @TracyLinder this has been deployed to DEV, Please UAT

[2022-04-13 16:25] Lpriya-LIT commented on #8726
@TracyLinder @Nadin-Nader Verified in Dev, We can Deploy to Test once all the additional corrections are done and approved by SIF Team

[2022-04-13 16:26] Nadin-Nader commented on #8728
@Lpriya-LIT @TracyLinder this has been deployed to DEV, Please UAT

[2022-04-13 16:26] TracyLinder commented on #8892
@Lpriya-LIT good job catching this.
Yes please do make the update to the process discipline.

[2022-04-13 16:26] Lpriya-LIT commented on #8833
@TracyLinder @Nadin-Nader Verified in Dev, We can Deploy to Test once all the additional corrections are done and approved by SIF Team

[2022-04-13 16:27] Lpriya-LIT commented on #8728
@TracyLinder @Nadin-Nader Verified in Dev, We can Deploy to Test once all the additional corrections are done and approved by SIF Team

[2022-04-13 16:29] Lpriya-LIT commented on #8732
@TracyLinder @Nadin-Nader Verified in Dev, As per Gita I have to do a additional commit to make SIF folder available in Public Search. Work in progress

[2022-04-13 16:30] Lpriya-LIT commented on #8375
@TracyLinder @Nadin-Nader Verified in Dev, We can Deploy to Test once all the additional corrections are done and approved by SIF Team

[2022-04-13 16:47] frankhereford commented on #6552
Great question @amenity - I would skip right over this and jump right to writing the routines that format comments in the way they are shown on the mockups on #6496. That page is going to look great.

However, at the risk of being pedantic, I think that if one were to fix this bug, that bulk of new code would be copied right into the implementation of #6496 to provide the actual comment text. On t

[2022-04-13 17:02] Lpriya-LIT commented on #8892
@TracyLinder Committed changes, Ready for Dev promotion
@Nadin-Nader Please request for Dev deployment , have sent the deployment plan.

[2022-04-13 17:02] Lpriya-LIT commented on #8893
@TracyLinder Committed changes, Ready for Dev promotion
@Nadin-Nader Please request for Dev deployment , have sent the deployment plan.

[2022-04-13 17:07] andrewshensky opened #8903 "Review New Bike Map Icons and Provide Feedback"

[2022-04-13 17:30] mateoclarke commented on #8902
CCTV docker service has been restarted and service restored.

AR confirms MMC is all good now:

[2022-04-13 17:30] #8902 closed

[2022-04-13 17:30] ChrispinP commented on #8880
Imported Journal Voucher IDs for 1123 records (AE, ATD, AWU, CPO, PWD, & Watershed)

1117 records updated. 6 records currently missing from Knack or Fee Number does not match.

[2022-04-13 17:52] #8869 closed

[2022-04-13 17:53] #8262 closed

[2022-04-13 17:55] Lpriya-LIT commented on #8857
@TracyLinder @vschandramouli Please confirm that the info needs to be added in BP as well.
In title BP is included not in AC, so just wanted to confirm before committing changes

[2022-04-13 18:17] TracyLinder commented on #8831
**AMANDA VS KNACK:**
- Only choose AMANDA if this solution depends on AMANDA data,.

[2022-04-13 18:29] chiaberry commented on #8901
reminder to open an issue / address the new columsn on the export csv button

[2022-04-13 18:30] TracyLinder commented on #8018
**Backlog Grooming Notes:**

- Let's do PowerBI
- Huddle w/ Diana, Charlie, Chrispin

[2022-04-13 18:32] TracyLinder commented on #8057
We've chosen a different solution; we will import these ourselves.

[2022-04-13 18:33] #8223 closed

[2022-04-13 18:38] TracyLinder commented on #8837
Still need to document: The impact if a user were to access/view TIA cases they should not have access to. The impact of somebody uploading docs on a case that doesn't belong to them.

[2022-04-13 18:41] #8236 closed

[2022-04-13 18:43] TracyLinder commented on #8237
Everything is stable. Still need to document #8837.
Closing this

[2022-04-13 18:43] #8237 closed

[2022-04-13 18:48] amenity commented on #8880
@ChrispinP - please figure out wuzzup with those 6 records. 🕵️‍♂️

[2022-04-13 19:01] andrewshensky opened #8904 "Initial MAP/EAZ Analysis"

[2022-04-13 19:03] andrewshensky opened #8905 "Create Initial Dashboard for MAP/EAZ Analysis"

[2022-04-13 19:07] TracyLinder commented on #8857
@Lpriya-LIT yes, please add to BP

[2022-04-13 19:09] amenity commented on #8602
@dianamartin @johnclary - please make sure there is an (index?) issue for the outstanding work here. 🙏 ⏳ Also we need to let Chandra P. know that John is leaving and put him in touch w/ Mateo/Diana.

[2022-04-13 19:13] Nadin-Nader commented on #8892
@Lpriya-LIT @TracyLinder I have sent this over to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0211997**

[2022-04-13 19:16] TracyLinder opened #8906 "Map SIF Districts to Funding Numbers"
- Lookup table to map each info value to it's corresponding GL Account # (FDU)
- When user creates a bill on the SIF folder, the system should append the correct GL Account number based on the SIF District lookup table.

**Note for testing:**
- Loop in Mark C. from corporate finance to get sign-off that payments are appending to FDU correctly in his db.

[2022-04-13 19:20] Nadin-Nader commented on #8893
@Lpriya-LIT @TracyLinder this has been deployed to TEST, please UAT

[2022-04-13 19:24] TracyLinder commented on #7689
### Core Team Mtg 4/13

- There are a couple of cards pending deployment to DevOps. If they are in Dev by tomorrow's team meeting, Priya will do a demo.
- @vschandramouli create an issue for the system to copy down the SIF info values from the PR to the BP when the child permits are created by a process attempt.
- Create: Map SIF Districts to Funding Numbers #8906
- We need to review #8894 w/ team

[2022-04-13 19:26] dianamartin opened #8907 "Feature: Add "Remove" button on Insurance Details page"
Andrea M.
SMS

Messaged

I synced with Andrea and a she was back filling the Insurance information, she duplicated some records. She needed a way to delete the duplicates.

[2022-04-13 19:27] dianamartin commented on #8907
I added a "delete" button on the Insurance Details page, renamed it to "Remove" and added the trash can icon.

Stakeholder was able to review it and was happy with the change.

[2022-04-13 19:27] #8907 closed

[2022-04-13 19:29] Lpriya-LIT commented on #8857
@TracyLinder Committed changes, Ready for Dev promotion

[2022-04-13 19:33] Nadin-Nader commented on #8857
@Lpriya-LIT @TracyLinder this has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0212008**

[2022-04-13 19:33] TracyLinder opened #8908 "SIF Calculation Process Infos & Functionality (Ready for PROD Deployment)"
Acceptance Criteria:

- Two new Process infos need to be inserted in the SIF Calculation Process.

-- Description: SIF Building#
-- Type: AlphaNumeric

-- Description: SIF Invoice Amount
-- Type: Numeric

- The following validations must be added to the 'Final Calculation' attempt in the SIF calculation process.

-- Pre-condition: System must not allow the user to save the attempt if the process i

[2022-04-13 19:34] TracyLinder commented on #8908
@vschandramouli please update the AC

[2022-04-13 19:56] dianamartin commented on #8802
What are your steps
NB:
- Mostly review them,
- Question them
My HR Work Logs - Email is "YES"

## Configure Report
- Add Table
- Export function

Remove filter on TLC Report
-

[2022-04-13 20:02] andrewshensky commented on #8407
Received a form to fill out and a message from CTM saying this request will be completed within 10 days. The change request form has been submitted on 4/13.

[2022-04-13 20:10] ChrispinP commented on #8880
Matched the records, the 6 records are actually duplicates on the PWD spreadsheet.
![image](https://user-images.githubusercontent.com/67915167/163261749-b8cd6b5e-8146-4edd-a9e5-c77f57747891.png)
Therefore, all 1117 records updated and accounted for.

Email sent to Melissa and folks. Complete, Ready to close

[2022-04-13 20:29] andrewshensky commented on #8897
This has been provided to requestor through slack

[2022-04-13 20:29] #8897 closed

[2022-04-13 20:51] mateoclarke opened #8909 "Add Project "Following" button to Project Summary page [UI]"

[2022-04-13 21:26] mateoclarke opened #8910 "Add Project "Following" to Database schema [DB]"
This is a placeholder for the backend requirements to go along with the [UI feature](https://github.com/cityofaustin/atd-data-tech/issues/8909)

[2022-04-13 21:59] dianamartin commented on #8802
Emailed stakeholder 4/13

- I attached step by step instructions on how to test and the overall process for the HR Work Logs

[2022-04-14 00:14] tillyw commented on #8909
https://user-images.githubusercontent.com/35410637/163289690-1b969c64-965b-4908-a644-5008b515ce1d.mov

hi y'all! it was easy enough to go ahead and implement something similar to what we discussed during grooming. how do y'all feel about this type of implementation for following/unfollowing projects? @amenity @mateoclarke

[2022-04-14 05:52] amenity commented on #6552
Super helpful, exactly what I wanted to understand. Thanks, @frankhereford !

[2022-04-14 05:54] amenity commented on #8863
Nice, thanks Charlie! Feel free to store this stuff in spreadsheet and link if that’s more legible for you.

[2022-04-14 05:56] amenity commented on #8546
@Charlie-Henry - no worries. We can close this as a dupe as long as all your work is accounted for in the story points/estimate.

[2022-04-14 12:44] frankhereford opened #8911 "Vision Zero Editor is unavailable (HTTP Status Code `502`)"
**Describe the bug**
The Vision Zero Editor is returning a 502 error from the cloudfront service

**URL**

https://visionzero.austin.gov/editor

**What steps can we follow to reproduce the bug you are seeing?**
1. Visit https://visionzero.austin.gov/editor

**How would you rate the impact of this issue?**
- [x] Severe — cannot perform work, no workaround
- [ ] Major — can only perform work using a

[2022-04-14 13:02] frankhereford commented on #8911
https://www.netlifystatus.com/ is currently reporting:
![Screen Shot 2022-04-14 at 7 52 28 AM](https://user-images.githubusercontent.com/3653206/163395840-8f3af82e-97ea-454f-850f-4cafb895bcd1.png)

This reported service degradation matches our issue, and I will continue to monitor this until service is restored. I will coordinate with the VZ product manager @patrickm02L to determine if further act

[2022-04-14 13:03] frankhereford commented on #8911
I spoke with Xavier A. this morning to give him a status update via Teams:

[2022-04-14 13:59] atdservicebot opened #8912 "There CR3 is not populating for this crash"
Vision Zero (Editor)

There CR3 is not populating for this crash

https://visionzero.austin.gov/editor/#/crashes/18834784

Internet Browser: Chrome

Xavier A.

Request ID: DTS22-103795

[2022-04-14 14:00] frankhereford commented on #8911
Netlify now reports that all systems are operational. Closing - thanks all.

[2022-04-14 14:00] #8911 closed

[2022-04-14 14:16] #8844 closed

[2022-04-14 14:28] frankhereford commented on #8912
This crash has had a CR3 on file in the past, and has had it replaced with the CRIS login page as we have seen in the past. I am setting it to have its CR3 redownloaded, and will rerun the ETL which does this operation.

[2022-04-14 14:33] frankhereford commented on #8912
The restoration process is complete. Closing - thanks!

[2022-04-14 14:39] dianamartin commented on #8750
## Data Clean up
3/22: will give SMB staff time today to update the banners statuses

OLD STATUS | NEW STATUS or ACTION
-- | -- |
Reservation Input | Check for "Payment Received" = "Yes" --> Approved
-- | Check for "Payment Received" = "No" --> Approved - Pending Payment
Removed | Set To Pickup or To Dispose depending on "Will Pick Up?" field
To Pickup | Export of table
To Dispose | app stat: Appr

[2022-04-14 14:42] frankhereford commented on #8324
I imagine this is actually related to the fact CTM shutdown our airflow server during the backup the other night. I'm going to make a new issue related to moving that back-up window and also pull a backup from the day before. Thanks for the heads up.

[2022-04-14 14:55] frankhereford opened #8913 "Retiming VZDB backup window WRT 8PM central CTM server updates"
It happens that CTM has established a pattern of doing the server updates between 8:00 & 8:30 PM. This time overlaps with our daily VZDB backup, resulting in a incomplete backup when CTM updates occur. This has an effect on the lightsail server which looks for the previous day's backup, which it can not find.

Xavier A. reported the missing VZ data, which I have restored from another recent backup

[2022-04-14 14:58] frankhereford commented on #8913
The particular event (failed restoration of VZDB on lightsail server on 2022-04-14) has been addressed and the service restored. 🏁

[2022-04-14 14:59] frankhereford commented on #8324
The particular event (failed restoration of VZDB on lightsail server on 2022-04-14) has been addressed and the service restored. 🏁

[2022-04-14 15:52] dianamartin commented on #8878
- [x] Added new user Michael S. to Shared Mobility | SMRT Knack app

@andrewshensky can you add the user to the AGOL group that for Shared Mobility or Mobility Demand Management?
- Mirror Mary V.'s permissions if possible, let me know if you can't locate the correct folks.

[2022-04-14 16:03] KaroEngstrom opened #8914 "Update "Journal Voucher" info in AMD Data Tracker - Warehouse Inventory- March 2022"
- [x] Spreadsheet emailed from Finance staff month of: March 2022, Journal voucher date 3/18/22
- [x] Number of records being updated: 248
- [x] Formatted spreadsheet [(Review instructions)](https://atd-dts.gitbook.io/atd-knack-operations/warehouse-inventory-updating-journal-vouchers-jv-information)
- [x] Spot checked Transaction IDs, no JV information before import (14719)
- [x] Imported records

[2022-04-14 16:07] patrickm02L commented on #8811
@amenity @andrewshensky Does anybody have knowledge about this request? It has the new app tag, and I'm wondering if this came out of a conversation or meeting? Also, wondering which PM this would fall to?

[2022-04-14 16:14] amenity commented on #8811
@patrickm02L - thanks for pointing this out. You're exactly right, it's work @andrewshensky has underway. I can take care of it!

[2022-04-14 16:28] dianamartin commented on #8750
Configured emails to be clean looking like the Smart Mobility customer emails, font is "Roboto" rather than whatever Knack decided.

### On 4/6
They looked like this..
![image](https://user-images.githubusercontent.com/21112975/163432680-ee75a697-f069-4eec-8415-bd92fc237d1b.png)

### On 4/14
when I was testing...so how they turned to some serif font instead of what they had been looking like
![ima

[2022-04-14 16:41] patrickm02L commented on #8895
@frankhereford please take a look at this and let me know what the lift is, so we can determine urgency.

[2022-04-14 17:12] Nadin-Nader commented on #8887
@Sreelatha-BlazeKannan here is Plaomas Response

[11:19 AM] Amayo-Ryan, Paloma
Hey Nate!  It is the Pick Field available on the Folder Tab, Conditions Field.  Here's what that Pick Field looks like when you select it from the DS Folder Type:

![DS Folder Type.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/fd307c20-4ed3-4e5c-a266-9fb4b78bccf9)

[11:20 AM] Amayo-Ryan, Paloma
And

[2022-04-14 17:20] dianamartin commented on #8750
Updated all other emails:
"Approved - Pending Payment" that happens on Edit Form and Add Comment for LPB and OTS
- [x] Edit Form - lpb
- [x] Add Comment - lpb
- [x] Customer Action - lpb
- [x] Edit Form - ots
- [x] Add Comment - ots
- [x] Customer Action - ots

[2022-04-14 17:46] KaroEngstrom commented on #8566
4/14/22 - worked with @ChrispinP on this

- [x] Added link button from $ TIA Mitigations page to Mitigations Advanced Search

![image](https://user-images.githubusercontent.com/100615928/163439702-0560745e-d4d0-4f7a-9f9c-c8b3c2ad1612.png)

- [x] Added link button from Mitigation Advanced Search to $ TIA Mitigations page

![image](https://user-images.githubusercontent.com/100615928/163439811-bd01f0

[2022-04-14 18:04] Charlie-Henry commented on #8315
Next round of feedback from Meredith and changes from me:
✔️ - Addressed
⭕ - Issue or limitation
- ✔️ Bug that the totals were lining up for programs where there was spending/obligated prior to FY21
- ⭕ Right justify text in the tooltip for the graph
   - Changing this is not supported by Power BI
- ✔️ Format "Actual Spend" in the tooltip to include the "$"
- ✔️ Bug that some numbers in the table

[2022-04-14 18:35] Nadin-Nader commented on #8899
Spoke to Kensley about her PROD account and she informed me that it is working as requested. Closing card

[2022-04-14 18:35] #8899 closed

[2022-04-14 18:37] Nadin-Nader commented on #8795
Checked and still waiting on CTM to deploy.

[2022-04-14 18:38] Nadin-Nader commented on #6030
Still waiting on CTM

[2022-04-14 18:38] Nadin-Nader commented on #6031
Still waiting on CTM

[2022-04-14 18:38] Nadin-Nader commented on #6032
Still waiting on CTM

[2022-04-14 18:41] dianamartin commented on #8691
@amenity The go live for this is was bump to May 1st, but we'd like this done before then so we can test before the go-live

[2022-04-14 18:41] Sreelatha-BlazeKannan commented on #8887
@Nadin-Nader , @TracyLinder - Analysis and development is in progress

[2022-04-14 18:52] vschandramouli commented on #8839
Duplicate of #8906 . Closing.

[2022-04-14 18:53] #8839 closed

[2022-04-14 18:54] vschandramouli opened #8915 "SIF - Autopopulate SIF Folder Row ID Info field"
System needs to autopopulate the SIF Folder Row ID folder info in PR, BP, SP, C8 folders when a new SIF folder is created based on their relationship (TBD).

Moving to icebox for now.

[2022-04-14 18:57] andrewshensky commented on #8878
@dianamartin The AGOL account for Michael S. has now been configured and permissions were granted to mirror Mary V's. Let me know if you want me to email them, letting them know of the permission changes.

[2022-04-14 19:03] vschandramouli opened #8916 "SIF - Add Process 'ATD - SIF Review' Process to PR (Deploying to TEST)"
### Add ATD SIF Review Process to PR

1. When attempt 'Distribute formal reviews' is made on folder process Coordinating Reviews
2. And the folder info 'SIF Required?' is Yes,
3. The system should insert folder process ATD SIF Review:
    - Insert process comment "Cycle: 1" or whatever the next cylce number is
    - Set to-start & to-end value (_using current logic_) (_matching the other formal re

[2022-04-14 19:06] andrewshensky opened #8917 "MAP/EAZ Meeting to Discuss Initial Analysis"

[2022-04-14 19:07] dianamartin commented on #8878
@andrewshensky thanks, I'll email the stakeholders and cc you!

[2022-04-14 19:07] andrewshensky commented on #8917
**Meeting Notes**

Excel document with initial analysis and link to dashboard were provided to attendees.

**Summary**
•	Discussed intial findings in excel document
o	Nuance of each dataset and using project length to estimate project cost
o	Discuss difference between unique project count and count of EAZ intersections per project
o	Data is broken down in multiple ways: Projects by EAZ type, Proje

[2022-04-14 19:07] #8917 closed

[2022-04-14 19:18] andrewshensky opened #8918 "RAS Data Collection Check in"

[2022-04-14 19:20] andrewshensky commented on #8918
Discussed feasibility of receiving 4 monthly data deliveries from RAS rather than 8 Biweekly delivers. Seems feasible on our end, will discuss further with RAS during next sync up

[2022-04-14 19:20] #8918 closed

[2022-04-14 19:28] dianamartin commented on #8878
Emailed stakeholders 4/14

Mary had put in a request to give you access to the Shared Mobility | SMRT Knack application and the ArcGIS Online group. You have now been given permission to access those things.

he replied back 4/14

[2022-04-14 19:28] #8878 closed

[2022-04-14 19:30] SubhaShroff commented on #8684
@Nadin-Nader  @TracyLinder  Since Gita suggested to change the package procedure name as per the naming convention. So, I have done the changes and submitted DEV/TEST request - SCTASK0212183.

[2022-04-14 19:43] patrickm02L commented on #8129
@mateoclarke I asked Charlie to show me the updated 2-week date window, when he was showing me the map we were able to search up to 2-weeks but we noticed that the date picker defaulted to Feb rather than March. Where in the code would we need to make the update so that it shows the correct default month (in the case we expect March)? ![Screen Shot 2022-04-14 at 2.39.03 PM.png](https://images.zenh

[2022-04-14 20:01] TracyLinder commented on #7689
### 4/14/22 Project Meeting

- We need to look at the free-form tab once again. We updated it. @vschandramouli we need to create a ticket for the updates. Yellow means update to existing column. Orange means new column.
- **New folder info:** Total Existing Land Use Reduction - numerical
- Invoicing: SIF staff will batch invoice by PR

[2022-04-14 20:13] Charlie-Henry commented on #8315
I've also changed Power BI's data source to the new "Transformed" tabs that Meredith added to the spreadsheet. This includes data out to FY2028. If you want to display these years in the below table then first click on the table then use the filter pane to select those years:
![image](https://user-images.githubusercontent.com/30810522/163468291-e72a3ab5-c9a8-4e35-9185-d9a05264a095.png)

[2022-04-14 20:42] SubhaShroff commented on #8035
@Nadin-Nader  After looking into Amanda with the given information, 61060 is the process code of Adjust Reivew Due Dates process. And 51515(Review Due Date) is the process info of this process.

With the given inputs, summarized and edited the Acceptance Criteria.

I have sent the demo of the latest changes in email. Please review and let me know.

[2022-04-14 20:56] amenity opened #8919 "[Feature] Follow Projects"

[2022-04-14 21:01] amenity commented on #8909
@tillyw - exactly! 🙌 Should I change this estimate a 2?

[2022-04-14 21:13] atdservicebot opened #8920 "[AMD Data Tracker] Account Request: Erin W."
Data Tracker

I need access to the data tracker as I am responsible for managing the performance measure and inventory purchase process and need access to review numbers/reports.

Soon — This week

Erin W.

Request ID: DTS22-103800

[2022-04-14 21:49] dianamartin commented on #8920
@KaroEngstrom I've assigned you to this issue, please mirror users account to Crystal T.

[2022-04-14 22:07] dianamartin commented on #8750
### Data Clean-up
![image](https://user-images.githubusercontent.com/21112975/163483671-859b8c98-5615-42d0-9663-d06aa15d9d45.png)

## LPB as of 4/14
Status | Record Count | New Status
-- | -- | -- |
Reservation Input | 8 |
Reservation Input- Payment Received = Yes | 2 |
Installed | 10 |
To Pickup | 29 |
To Dispose | 25
Removed | 0 | --
 Completed | 271
Cancelled | 17

## OTS
- Reservation Input
-

[2022-04-14 22:16] KaroEngstrom commented on #8920
Th 4/14/22
 - [x] Added a user account to Data Tracker for the requester mirroring the permissions for Crystal T.
![image](https://user-images.githubusercontent.com/100615928/163484166-25964724-7813-4aab-95c6-3a667f08bc11.png)
- [x] Messaged requester via email: "I’ve added an account for you in the [Data Tracker]. You will be able to use the Single Sign-On (SSO) to log in automatically – just cli

[2022-04-14 22:22] amenity commented on #8691
@dianamartin thanks for the reminder.

[2022-04-15 03:52] dianamartin commented on #8750
Finally finished the data clean up of LPB and OTS statuses! URLs were also switched over, just waiting for PR to clear to finalize.

[2022-04-15 05:06] amenity commented on #8691
@mateoclarke volunteered to pick this one up and take care of by the end of next week so there is time to test. 🙏

[2022-04-15 13:20] KaroEngstrom commented on #8920
F 4/15/22
Requester response: "Thanks Karo!"

[2022-04-15 13:20] #8920 closed

[2022-04-15 14:12] atdservicebot opened #8921 "Issues with crash `case_id` = 220420178"
Vision Zero (Editor)

Could you take a look at the crash with `case_id` = 220420178? It has been approved by TxDOT on 3/18/2022 and BRAZOS has a confirmation from LexusNexxis on 3/11/2022.

https://visionzero.austin.gov/editor/#/crashes

Internet Browser: Chrome

Xavier A.

Request ID: DTS22-103805

[2022-04-15 14:31] frankhereford opened #8922 "Update / deprecate AWS λ functions using Python 3.6 runtime"
AWS has announced that they are ending support for their python 3.6 runtime environment. Python 3.6 hit EOL at the end of last year. This AWS change will occur in two phases:

* No more patches or security updates after July 18, 2022
* No more updates or creation of python 3.6 runtime λ functions after August 17, 2022

Ideally, we should have this completed by the July deadline, but we really *mus

[2022-04-15 15:12] Charlie-Henry commented on #8129
Looks like it is this script that is populating the calendar view. Possibly related to this [object](https://github.com/cityofaustin/atd-vz-data/blob/e99a1ab0bb1f0bd7e4b45bb0f8ebad93c4a42b37/atd-vzv/src/views/nav/SideMapControlDateRange.js#L122)?

[2022-04-15 15:31] Sreelatha-BlazeKannan commented on #8887
@Nadin-Nader , @TracyLinder - DEV Commit submitted. Updated condition pick list for EX & DS Folders. Kindly approve and create task id for me.

 This will update the below Condition Picklist for EX & DS Folder -
EX
![image](https://user-images.githubusercontent.com/44907715/163590007-8c04f875-c23f-4bb4-8bbe-69eeb2264032.png)

DS
![image](https://user-images.githubusercontent.com/44907715/163589995

[2022-04-15 15:41] Sreelatha-BlazeKannan commented on #8887
@Nadin-Nader , @TracyLinder - Here is the updated Pick List with New Phone Number.
EX Folder
![image](https://user-images.githubusercontent.com/44907715/163590895-aa0fb8e8-2dce-4946-8f64-2a2a929d271d.png)

DS Folder
![image](https://user-images.githubusercontent.com/44907715/163591070-98a90a05-69a0-45c3-9837-73b8999cb5f2.png)

[2022-04-15 15:53] #7691 closed

[2022-04-15 16:05] atdservicebot opened #8923 "Create AMANDA account for new user"
AMANDA

Hello,

I will be required to use the AMANDA system after changing positions and am requesting account access.

Thank you

Soon — This week

Needed by 04/29/2022 to access AMANDA and transition roles.

Matthew S.

Request ID: DTS22-103810

[2022-04-15 16:08] andrewshensky opened #8924 "Update Sign Data from Work Orders"

[2022-04-15 17:19] andrewshensky commented on #8924
Features Mapped in Maint
Signs: 2432 -> 2708
Locations: 1055 -> 1166
Sign Features Needing QC
Installs: 865 -> 950
Removals: 594 -> 711
Outliers: 231 -> 234

[2022-04-15 17:19] #8924 closed

[2022-04-15 17:29] TracyLinder commented on #7689
### Canceled - IT Project Meeting Mon 4/18

Hi Team,

I'm cancelling Monday's meeting and hoping to take a personal day.

@MacCallum, Peggy & @Valbracht, Dan we're scheduled to do the FDU mapping this coming week. Is it possible to have the FDU's by Monday 4/18?

Thanks,
Tracy

[2022-04-15 17:33] andrewshensky opened #8925 "Biweekly Meeting w/ RAS"

[2022-04-15 17:46] andrewshensky commented on #8925
Finalized pilot data will be delivered in no longer than 2 weeks
RAS will put together schedule showing when and where particular areas will be delivered
RAS is now planning on providing data on a monthly basis
Photos for future deliveries will be shared in same format as current

[2022-04-15 17:46] #8925 closed

[2022-04-15 17:54] moorerst commented on #8802
I tested each of the various scenarios did not experience any issues with the work flow.
The addition of the In Progress status was a great idea.

We'll follow up with the stakeholders on Monday.

[2022-04-15 17:58] TracyLinder commented on #7689
### Volume Builder Discovery Mtg 4/15/22
_Amber, Tracy, Vish, Shanisha J._

[2022-04-15 18:40] SubhaShroff commented on #8795
@Nadin-Nader Tested this ticket on DEV, and 4 fees are not calculating as expected. Noticed that lookup table records related to these fees have different values on DEV. So, did the necessary changes and submitted the DEV deployment request - SCTASK0212389.

[2022-04-15 19:02] TracyLinder commented on #4822
PSM application volume is low, so testing in PROD isn't an option right now. Closing this.

[2022-04-15 19:02] #4822 closed

[2022-04-15 19:03] TracyLinder commented on #8108
Paloma: We haven't had any new PC applications yet to test this with.

[2022-04-15 19:04] TracyLinder commented on #7912
This is OK to close.

[2022-04-15 19:05] TracyLinder commented on #7912
### Status

- Paloma was not aware this went to PROD. We need to post it in the teams chat & leave this open for another week.

[2022-04-15 19:07] TracyLinder commented on #8693
Paloma is asking staff if they've seen this issue happening recently.

[2022-04-15 19:13] TracyLinder commented on #8794
### Approved for PROD 🎉

[2022-04-15 19:18] TracyLinder commented on #8887
### Status

- Currently in local on the way to DEV
- @Sreelatha-BlazeKannan please move to Test after you do your own test on DEV.

[2022-04-15 19:26] TracyLinder opened #8926 "BUG: EX Portal Application Free-Form on Project Connect (On PROD🎉🎉)"
### The portal application page that collects the free-form data is displaying the free-form rows for TURP and SCP.
<img width="741" alt="Screen Shot 2022-04-15 at 2 24 47 PM" src="https://user-images.githubusercontent.com/49930868/163626241-ef73eb71-d9b2-4a1c-aee1-b742575da9fd.png">

<img width="811" alt="Screen Shot 2022-04-15 at 2 26 37 PM" src="https://user-images.githubusercontent.com/4993086

[2022-04-15 19:32] TracyLinder commented on #8015
### Approved for PROD 🎉

[2022-04-15 19:35] dianamartin commented on #8758
Renamed the new "My Work Orders" page
![image](https://user-images.githubusercontent.com/21112975/163624334-3fb32fcd-4b32-4f7f-8f04-138eecd1c21a.png)

and starting to build the other components

[2022-04-15 19:35] TracyLinder commented on #7672
@vschandramouli  please add this to the TEAMS ROW channel asking for UAT.

[2022-04-15 19:48] TracyLinder opened #8927 "Bug: DS/EX - When AUP is triggered but system can't issue (On PROD)"
### System should not issue folder if there is a system error when payment is made online.

When AUP is yes, but the system throws an error, the system inserts a folder comment w/ the error and should cancel AUP.
Instead the system is updating the folder status to Active even though the issue procedure wasn't called.

[2022-04-15 19:49] TracyLinder commented on #8927
Find all Active folders that don't have a folder reference number.

[2022-04-15 19:57] TracyLinder commented on #8927
<img width="680" alt="Screen Shot 2022-04-15 at 2 48 47 PM" src="https://user-images.githubusercontent.com/49930868/163626351-fbc2f22f-e3f7-4c2f-9b84-15f50e4e6284.png">

[2022-04-15 19:59] TracyLinder commented on #8927
@Sreelatha-BlazeKannan this is assigned to you for analysis. If you have questions please include @vschandramouli.

[2022-04-15 20:29] SubhaShroff commented on #8015
@TracyLinder  @Nadin-Nader SCTASK0212405 - submitted the PROD deployment request.

[2022-04-15 20:55] Sreelatha-BlazeKannan commented on #8794
@Nadin-Nader , @TracyLinder - PROD DP Submitted. Kindly approve and create task id for me.

[2022-04-15 21:30] dianamartin commented on #8763
- Created `work_order_comments` object
- Connected to `work order signals` object
- Created Comments table
- Created Menu button for "Add Comments" button

[2022-04-17 23:37] amenity commented on #8922
Thanks, @frankhereford 🙏 Adding a future-but-not-too-distant sprint label so we make sure to pull this up before June. Can can-kick from there as necessary.

How would I look up which of our applications rely on the Python 3.6 runtime environment?

[2022-04-18 02:50] johnclary commented on #8880
Thanks @ChrispinP!!!

[2022-04-18 14:08] Nadin-Nader commented on #8821
Still waiting on CityBase's resolution

[2022-04-18 15:19] andrewshensky opened #8928 "Update User AGOL Access to Allow for StoryMap Editing"

[2022-04-18 15:33] Charlie-Henry commented on #8129
@patrickm02L I synced with @mateoclarke and it looks like this calendar view is still working as previously intended. It will just show the first two months of data, since January 2018 is our first month, it will show February 2018 as the next month. Not a regression, so we could make this a backlog issue and go ahead and merge this in?

[2022-04-18 15:36] #8001 closed

[2022-04-18 15:40] chiaberry opened #8929 "Expand Projects List table with columns from Signal Dashboard"
In order to achieve an eventual goal of "One Table to rule us all" aka getting parity between the Signals Dashboard table and the Project List View Table, we need to be able to get the same information from the Signals Dashboard table in the SQL View

Here are the columns on the signals table missing from the View

Issue 8901
- [x] task order
- [x] contractor
- [x] project DO #

Issue 8930
- [x] s

[2022-04-18 15:49] mateoclarke commented on #8129
Yeah, I just think its the default behavior of the calendar library to show the start date + 1 month regardless of which of the two dates you click. I agree its suboptimal UI but its how it currently works in prod too. We could dig into it more and try to configure it differently but seems like a lot of effort no real benefit imo.

[2022-04-18 15:56] patrickm02L commented on #8129
Thanks for looking into this. As long as it's not a result of Charlie's adjustment, I think it's fine to stay as is. I don't see this as a major issue in the scheme of things. I'm not going to create another issue to update the user experience of the date picker.

[2022-04-18 15:58] #8129 closed

[2022-04-18 16:03] chiaberry opened #8930 "Add signal ids and project types to project list view"
signal IDs -- in moped_proj_components
 project types -- moped_proj_types

[2022-04-18 16:41] andrewshensky commented on #8928
User was added to storymap collaboration group to allow for editing

[2022-04-18 16:41] #8928 closed

[2022-04-18 17:24] chiaberry opened #8931 "Persist visible columns when filtering project list view"
We have the ability to toggle which columns are in view in the project list material table, however when you filter or refresh the table, the columns revert back to the default selection.

[2022-04-18 17:28] patrickm02L commented on #8131
Retreat happened on 4/8/22. Everything is captured in this [Miro board ](https://miro.com/app/board/uXjVON1-NDE=/). Need create a follow-up meeting to go through the Team Roadmap.

[2022-04-18 17:28] #8131 closed

[2022-04-18 17:54] atdservicebot opened #8932 "Delete a duplicate provider "Jump (Uber)" from the SMRT Tracker"
Shared Mobility Operations

Delete a duplicate provider "Jump (Uber)" from the SMRT Tracker

Flexible  — An extended timeline is OK

Andrea M.

Request ID: DTS22-103815

[2022-04-18 17:55] Nadin-Nader commented on #8887
This has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0212601**

[2022-04-18 18:07] patrickm02L commented on #8711
@patrickm02L Bring to grooming 4/18/22.

[2022-04-18 18:15] frankhereford commented on #8913
In my opinion, we need to move any airflow DAGS that run on an on-prem server between 8-9PM on a Tuesday to run between 9-10PM or another time as appropriate.

[2022-04-18 18:31] atdservicebot opened #8933 "Project: Digital SSPRs"
Build ATD managers and staff a digital platform for professional planning and performance review in compliance with the City's [Success Strategy and Performance Review](https://www.austintexas.gov/department/sspr-program).

## Background
In 2008, the City of Austin Human Resources Department implemented a mandatory, standardized framework for employee performance reviews.

**Standardized Operating

[2022-04-18 18:39] patrickm02L commented on #8895
@xavierapostol can you send us the query that you were able to get this data set? It's really helpful to provide a list of blank CR3's. I truncated this list as a reference - it takes a lot to scroll through this.

[2022-04-18 18:50] chiaberry commented on #8929
@amenity @mateoclarke @johnclary  I made this epic and have two issues opened for some of the columns. I havent made issues for the other columns, are there any that you think AMD would not want?

Also, should all of the columns that are added to the project list table also be able to be selected in the dropdown filters (aka advanced search?)

I also opened an issue for persisting displayed column

[2022-04-18 18:56] patrickm02L commented on #8921
Backfill from the date of the CR3 (2/11/2022) and look +- 4 days to make sure there wasn't a gap in grabbing CR3s from that time period. If it doesn't fix the problem, we'll know to do some investigation on the ETL.

[2022-04-18 19:03] patrickm02L commented on #8922
This is something that @mateoclarke is working on to shut MDS #8483, #8492 will take care of AWS.

[2022-04-18 19:04] patrickm02L commented on #8922
I spoke to Frank only MDS environments are affected. Closing this because it's resolved by other Issues that we have on the docket.

[2022-04-18 19:04] #8922 closed

[2022-04-18 19:28] atdservicebot opened #8934 "I keep getting told access denied when I am trying to log into netmotion on my COA laptop."
Other / Not sure

I keep getting told access denied when I am trying to log into netmotion on my COA laptop.

Soon — This week

Chris S.

Request ID: DTS22-103825

[2022-04-18 19:34] amenity commented on #8934
@dianamartin - is this a Scott? CTM?

[2022-04-18 19:35] dianamartin commented on #8934
@amenity yeah, it's a CTM thing. They might need to get into Netmotion first then start the wi-fi

[2022-04-18 19:36] moorerst commented on #8605
@KaroEngstrom we will be using this Help Guide for training with the Smart Mobility. There have been some changes to the application since the Help Guide was completed.
Are you able to make some updates:
https://atd-dts.gitbook.io/street-banner-portal-or-help-guides/customer/navigating-the-street-banner-portal-application

The order of the buttons have changed:
![image](https://user-images.githubu

[2022-04-18 19:45] KaroEngstrom commented on #8605
@moorerst @dianamartin
I updated the image to reflect the current button order on https://atd.knack.com/street-banners#portal/

![image](https://user-images.githubusercontent.com/100615928/163867032-6265af01-c910-4ed0-b02c-df6b92e10408.png)

I'll try to tinker with the size so it matches the other images in the series (it's larger right now).

[2022-04-18 19:54] moorerst commented on #8605
@KaroEngstrom can you also change the button definitions at the top to match the button order. Thanks

[2022-04-18 19:57] KaroEngstrom commented on #8605
@moorerst
Yes, only noticed that after merging the image change.
Updated the text above the image to match the current button order as well.

[2022-04-18 20:07] xavierapostol commented on #8895
Sure thing! Here you go:
`----------------------------- CHECK FOR CRASHES WITHOUT A UNIT AND/OR WITHOUT A PERSON
with persons as (
  select crash_id, unit_nbr, prsn_nbr, prsn_type_id
  from atd_txdot_person atp
  union all
  select crash_id, unit_nbr, prsn_nbr, prsn_type_id
  from atd_txdot_primaryperson atp
  )
select
	c.crash_id, c.case_id, c.crash_date, case when p.crash_id is null and u.crash_

[2022-04-18 20:08] SubhaShroff commented on #8783
@TracyLinder  @Nadin-Nader  If I remove Parking Information free-form for RW, it won't display for any of RW subtypes. Hope that is already known and expected. Please confirm.

[2022-04-18 20:16] moorerst commented on #8605
@KaroEngstrom a few additional updates. Thanks

- How To Submit and Application/Event Information Section:

Remove - Alternative Date Range - alternate date range for banner installation and update the image

- Adding Design Attachment:

Update the instructions and move under the Add Design Attachment title like the image below:
![image](https://user-images.githubusercontent.com/56606465/163870545

[2022-04-18 20:24] SubhaShroff commented on #8795
@Nadin-Nader  This ticket is deployed in DEV and I tested it for the TURP Right of Way Usage fees - both regular and extension: looks good now. DEV RSN: 11904277.

[2022-04-18 20:28] atdservicebot opened #8935 "Add new user with mirrored permissions to AMANDA"
AMANDA

Dari M. has joined our group as a Project Coordinator and needs his AMANDA permissions upgraded to mirror mine (Amber H., known as Amber M. in AMANDA).

Soon — This week

Dari M.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/625dc9bb71907e0021fccbc3/amandanewuseraccountorpermissionsmodificationrequestform_darimajd.docx) (79.71kb)

Request ID: D

[2022-04-18 20:42] SubhaShroff commented on #8684
@Nadin-Nader  I tested this ticket on DEV as I had privileges to RUN a batch job in DEV. But couldn't test it in TEST due to no access to do so. In DEV, the batch job completed, successfully.
Please let me know if I can submit PROD request for this.

[2022-04-18 20:52] dianamartin commented on #8609
@moorerst We changed the Street Banner big buttons to redirect to the new pages. Cathy has already been instructing customers to use the applications, she's had 2 customer enter things in and there were no issues that's she's heard about.

[2022-04-18 20:54] andrewshensky opened #8936 "April - Street Segment Updates"

[2022-04-18 20:55] andrewshensky opened #8937 "April - Intersection Point Updates"

[2022-04-18 20:55] dianamartin commented on #8609
4/18
Lauren emailed saying
- the "Permit #" field needed to be added back to the application, they still use that to find the AMANDA records
- [x] Added back "Permit #" to Application details and Edit Forms
- Cathy had a user enter a new app but they had an old one, she needed the attachments moved from the old app to the new app and add the permit numbers to the new app
- [x] Moved 2 attachments

[2022-04-18 20:55] #8936 closed

[2022-04-18 20:57] #8937 closed

[2022-04-18 21:05] KaroEngstrom commented on #8605
@moorerst @dianamartin I hope these will work for you.

## Event Information Section
- [x] Removed the Banner Text line from instruction to reflect the form
- [x] Removed the Alternative Date Range line from instruction to reflect the form
- [x] Added the word Banner to Installation Date and Removal Date to reflect the form
- [x] Updated the image

![image](https://user-images.githubusercontent.co

[2022-04-18 21:10] Sreelatha-BlazeKannan commented on #8887
@Nadin-Nader , @TracyLinder - Tested in DEV and phone numbers changed. as per the approval submitted TEST DP for your reference. Kindly appove and create task id for me.

Here is the commit ID: [7d356b545815](http://coaamandadevops01.austintexas.gov/R3:7d356b54581510813ba426aea3d5c88e8a0351f7)

[2022-04-18 21:24] johnclary opened #8938 "Explore ability to generate citywide teleworking estimates"
Using Tarrytown as a test case, explore how we might produce estimates of the number of people/households who are teleworking.

Would it be possible to enrich these estimates (or give context to them) using traffic count data, or other census data (such as population growth)?

The deliverable is a few slides which explain a potential methodology which can be reviewed by Cole K. and Anthony S.

[2022-04-18 21:27] johnclary commented on #8938
@Charlie-Henry can you estimate this work?

[2022-04-18 22:03] Nadin-Nader commented on #6030
This has been deployed to TEST

[2022-04-18 22:04] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan this has been deployed to TEST. Please UAT

[2022-04-18 22:06] Nadin-Nader commented on #6032
@Sreelatha-BlazeKannan  this has been deployed to TEST please UAT

[2022-04-18 22:13] Nadin-Nader commented on #8887
@Sreelatha-BlazeKannan  this has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0212675**

[2022-04-18 22:23] Nadin-Nader commented on #8794
@Sreelatha-BlazeKannan i have sent this over to CTM to deploy to **_PROD_** under **SCTASK0212676**

[2022-04-19 04:12] johnclary commented on #5912
Unfortunately, we've settled on documenting the likely issues to triage, and generally resolve the issue by asking the ESB team to restart our their integration service that pushes to Knack.

[2022-04-19 04:12] #5912 closed

[2022-04-19 11:53] Lpriya-LIT commented on #8892
![image.png](https://images.zenhubusercontent.com/611eac1954217f265acc0499/2532d94b-2392-4ad1-8d3f-dfdd82c41a1f)

[2022-04-19 11:55] Lpriya-LIT commented on #8892
@TracyLinder @Nadin-Nader Verified in Dev, Process and Attempt names has been updated. Ready for Test Promotion along with the other cards

[2022-04-19 11:56] Lpriya-LIT commented on #8893
@TracyLinder @Nadin-Nader Verified in Dev. SIF Service Area, Council District has been removed

[2022-04-19 12:01] Lpriya-LIT commented on #8857
![image.png](https://images.zenhubusercontent.com/611eac1954217f265acc0499/2fd77e54-ea3f-4d8c-9586-89644c313622)

[2022-04-19 12:02] Lpriya-LIT commented on #8857
@TracyLinder @Nadin-Nader Verified in Dev, The two new info fields has been added to BP, PR, SP and C8 folders

[2022-04-19 13:32] SubhaShroff commented on #8015
### Status:
This ticket is in PROD now.

[2022-04-19 13:47] moorerst opened #8939 "Banners Permits and Purchasing in Knack Soft Launch"
As of  Monday 4/18 the team began using the new application.
Meeting 4/19

- How is it going
- Make sure Joseph is familiar with processing the work orders

[2022-04-19 13:49] andrewshensky opened #8940 "Update Online Bike Map Vector Tile Route Layer"

[2022-04-19 13:53] andrewshensky opened #8941 "April - Update Bike Route Comfort Level Feature Service"

[2022-04-19 13:59] atdservicebot opened #8942 "Cause specific crash to have its CR3 restored or downloaded"
Vision Zero (Editor)

This crash is not able to download the CR3

https://visionzero.austin.gov/editor/#/crashes/18838706

Internet Browser: Chrome

Xavier A.

Request ID: DTS22-103835

[2022-04-19 14:31] vschandramouli commented on #8894
Re-purposing this ticket to include newly discussed changes to Freeform. Pasting old description of ticket below:

Acceptance Criteria:

- For all freeform columns that record percentages in SIF Building Info freeform, we need a numeric column next to it that records the actual amount that corresponds to the percentage.
- Transit proximity amount column needs to be added next to Transit Proximity

[2022-04-19 14:46] vschandramouli opened #8943 "SIF - Copy down SIF info vlaues"
- System needs to copy down SIF Infos from PR to BP when child BP folder is created from PR folder.
- Info fields to be copied down TBD

[2022-04-19 14:55] Charlie-Henry commented on #8938
@johnclary I think a 3 is fine for testing different ways of estimating this for the 78703 zip code. City-wide would be a bigger lift once we get some consensus around the approach

[2022-04-19 14:58] moorerst commented on #8939
Team processed several new applications in the system a few questions came up:

- Can I edit an existing comment - no you can copy/paste the old comment and add as a new comment with updated information

-  How can Joseph see what work he may have in the future? - Joseph uses the Technician Schedule and Calendar feature. This works fine for him

-  Sometimes the status Pending Delivery does not ge

[2022-04-19 15:00] moorerst commented on #8605
Next Steps:

- meet with Smart Mobility team provide them a update on what is happening with the new application

- Determine if they have access to the mailbox

- Provide them with the Help Guide

- Review the workflow

- Provide access to a test system so they can become familiar with managing the program

[2022-04-19 15:16] johnclary commented on #7601
ETL is complete and deployed to Prefect test. The dataset is currently private.

@Charlie-Henry
- please add a description and column metadata to public dataset.
- Please review and delete [this](https://data.austintexas.gov/dataset/Parking-Transactions/tag2-gnds/revisions/0) dataset if it's not needed

[2022-04-19 15:17] johnclary opened #8944 "Meet with Patrick and parking folks to discuss open parking txn data"

[2022-04-19 15:17] johnclary opened #8945 "Migrate parking ETLs to prefect prod"

[2022-04-19 15:18] johnclary opened #8946 "Parking spatial data"

[2022-04-19 15:20] dianamartin commented on #8934
Emailed user 4/19

[2022-04-19 15:22] #7889 closed

[2022-04-19 15:23] dianamartin commented on #8939
Started copying new Street Banner test environment 10:23 am

[2022-04-19 15:25] johnclary commented on #7895
@Charlie-Henry would put FSD's response to our request for this data here?

[2022-04-19 15:28] TracyLinder commented on #8927
**Examples sent from Paloma:**

22-015207 DS - 1609 GREENWOOD AVE - invoiced 03/15/22, Activate Upon Payment was marked, invoice paid 03/15/22. Audit shows that I adjusted something on this permit 03/30/22 @9:37 but I did not, I was in a meeting. The expiration date changed but not by me.

RESULT: I DID NOT COMPLETE PROCESS initially but I did now and then hit Issue/Approve and Issued Date is now

[2022-04-19 15:30] johnclary commented on #8645
Not urgent, but we need to circle back with Finance to see how big of a need this is.

[2022-04-19 15:39] johnclary opened #8947 "Meet with Finance folks to discuss PowerBI training"
From Ashlande

[2022-04-19 15:40] johnclary commented on #8947
Training links provided by Charlie:
- https://docs.microsoft.com/en-us/learn/modules/introduction-power-bi/
- Here are the city resources for it: https://docs.microsoft.com/en-us/learn/powerplatform/power-bi?WT.mc_id=powerbi_landingpage-marketing-page

Training video that a city person did: https://web.microsoftstream.com/video/4c91d35d-0507-49fc-9243-b51e7684ebe9?channelId=8e5e83fa-e659-4705-b8f9

[2022-04-19 15:47] johnclary commented on #7887
[Charlie's work in progress.](https://app.gitbook.com/o/-LzDQOVGhTudbKRDGpUA/s/mIbPlhSICnKK9WwKFJLl/)

[2022-04-19 15:53] johnclary opened #8948 "Release public parking datasets"
- [x] [Meet with internal stakeholders](https://github.com/cityofaustin/atd-data-tech/issues/8944)
- [x] Finalize dataset metadata and descriptions
- [x] Make datasets public

[2022-04-19 15:53] SubhaShroff commented on #8926
@TracyLinder  @Nadin-Nader  Checked for this bug on DEV & TEST Portals. DEV portal doesn't have this bug. Not sure why TEST/PROD portals are not in sync with DEV. I have sent an email to Swapna(CCed to you both) about it.

[2022-04-19 15:56] johnclary commented on #8948
@Charlie-Henry would update this issue description with a link to all the related Socrata datasets?

[2022-04-19 15:59] atdservicebot opened #8949 "Add another list value under TCP status for "ROW Engineer Review""
Right-of-Way (ROW) Portal

Add another list value under TCP status for "ROW Engineer Review"

TCP Reviewers would be able to select "ROW Engineer Review"

The team just emails the engineers right now.

the sooner, the better! :)

Darren U.

Request ID: DTS22-103840

[2022-04-19 16:00] johnclary commented on #7887
@Charlie-Henry please add your list of todos here

[2022-04-19 16:03] SubhaShroff commented on #8684
@Nadin-Nader  SCTASK0212819 - is submitted for PROD deployment request - Package procedure name change as per naming conventions.

[2022-04-19 16:06] moorerst commented on #8933
Discussed priorities with Nathan, this is something he would like to have in place by Oct.
Will set up scoping meeting within the next 3 weeks

[2022-04-19 16:10] johnclary commented on #8811
@amenity 👋

[2022-04-19 16:12] johnclary commented on #8642
We've had a long-standing backlog item to bring the trail counter data into our data ecosystem, so that staff and residents can make use of the data. Also, Rob has asked to focus on building out an executive dashboard in order to do a better job of telling the story of ATD's successes through data.

I am excited by the possibility of partnering with BP|CX, but also daunted by inter-org collaborati

[2022-04-19 16:18] johnclary commented on #8945
@Charlie-Henry discuss this with the rest of the devs and estimate it

[2022-04-19 16:20] dianamartin commented on #8845
# Diana's Notes

## Focus areas
1. Leave Management/Benefits
2. Payroll - 2nd row
3. Training & Development-
5. Safety - 2nd row
6. Records - 2nd row

[2022-04-19 16:20] johnclary commented on #8809
Todo:
- Patch ETL w/o Pandas
- Promote Prefect flow to prod

[2022-04-19 16:26] chiaberry opened #8950 "[BUG] Filtering on "is blank" or "is not blank" does not give desired results"
**Describe the bug**

In moped open the advanced search / filters and filter "project sponsors" is blank or is not blank. You will get nothing for is blank and everything for is not blank. Same behavior for "project partners"

I expect to get a list of projects with no sponsors or partners if i search "is blank"

[2022-04-19 16:29] dianamartin commented on #8932
Looking at the Provider List, I do see two "Jump" vendors.

Messaged Andrea 4/19

she replied

We only need 1 jump provider and I believe I added all the info under that one
Keep the one with the address

[2022-04-19 16:30] #8932 closed

[2022-04-19 16:41] amenity opened #8951 "Offboard Jaime"
Docs here: https://atd-dts.gitbook.io/wiki/offboarding/off-boarding-checklist

[2022-04-19 16:46] moorerst opened #8952 "HR SharePoint Redesign Enhancements"
Based on feedback from sprint review they would like the design to include the following focus areas:

- Leave Management/Benefits
- Payroll/Compensation- 2nd row
- Training & Development
- Safety - 2nd row
- Records - 2nd row
- Employee Relations - ????

HR will meet with their team to discuss the content for each area.
For now they just want the proposed design in place to review with staff.

[2022-04-19 16:47] #8772 closed

[2022-04-19 16:49] #8750 closed

[2022-04-19 16:52] johnclary commented on #8938
@Charlie-Henry can you have this ready by 5/4 so that we can review internally? Due to Anthony on 5/6

[2022-04-19 16:59] KaroEngstrom commented on #8845
- [x] Built out the 4 by 2 link grid for the focus areas (Quick Links > Film Strip) and the linked site pages (w/o content for now) per notes above. Changes in the titles and images can be implemented based on the decisions and content as we receive them.

![image](https://user-images.githubusercontent.com/100615928/164055636-61a52435-3313-4785-9f7f-c6c73068bf7f.png)

[2022-04-19 17:01] moorerst opened #8953 "HR SharePoint Redesign Sprint Review/HR Team Feedback"
The HR team is going to meet prior to this meeting to review the design and provide content for each of the focus areas:
1.	Leave Management/Benefits
2.	Payroll/Compensation- 2nd row
3.	Training & Development-
4.	Safety - 2nd row
5.	Records - 2nd row
This meeting is to review the feedback from the HR team and plan next steps

~Meeting scheduled 5/26~
Rescheduled 6/29

[2022-04-19 17:04] moorerst commented on #8845
@KaroEngstrom I created a new issue for the enhancements. Can you add the information above to issue #8952. I'm going to close this issue.

[2022-04-19 17:07] moorerst commented on #8845
New issue created for the enhancements and future sprint review (5/17)

[2022-04-19 17:07] #8845 closed

[2022-04-19 17:09] moorerst commented on #8816
Enhancements from usability testing have been implemented and reviewed with the stakeholders. Closing this issue.

[2022-04-19 17:09] #8816 closed

[2022-04-19 17:11] dianamartin commented on #8799
cc: @moorerst Sync'd with Nathan and he said he and Jennifer would review the HR Work Logs tomorrow, 4/20 and get back to us by the end of the day so we can delete test records and finalize things so they can go-live with their new module.

[2022-04-19 17:12] moorerst commented on #8802
cc: @moorerst Sync'd with Nathan and he said he and Jennifer would review the HR Work Logs tomorrow, 4/20 and get back to us by the end of the day so we can delete test records and finalize things so they can go-live with their new module.

[2022-04-19 17:14] dianamartin commented on #8874
Scott synced with user last week and gave instructions on what to do.

[2022-04-19 17:14] #8874 closed

[2022-04-19 17:14] johnclary opened #8954 "Upgrade 311 integration to meet new standards"

[2022-04-19 17:15] #8744 closed

[2022-04-19 17:15] johnclary opened #8955 "Configure new ESB test env for AMD Data Tracker"
[Here](https://builder.knack.com/atd/austin-transportation-data-tracker-esb-test-environment-20) it is.

[2022-04-19 17:15] moorerst commented on #8799
closing this issue. Tracking stakeholders feedback on issue #8802

[2022-04-19 17:15] #8799 closed

[2022-04-19 17:16] johnclary opened #8956 "Draft interface mappings for receipt of paging activities"

[2022-04-19 17:17] dianamartin commented on #8150
did the remain testing tasks on #8797

[2022-04-19 17:17] #8150 closed

[2022-04-19 17:18] dianamartin commented on #8797
Followed up with Christina 4/19

[2022-04-19 17:20] #8865 closed

[2022-04-19 17:21] dianamartin commented on #8686
Will close, going to create new issue for continued refresh tasks

[2022-04-19 17:21] #8686 closed

[2022-04-19 17:22] dianamartin opened #8957 "[Update Data] Open Data Portal in Open Data Inventory"
- Reference the OpenData spreadsheet that Karo compiled in "OpenData" folder in Google Drive
- Update Open Data Inventory
- Check/Update: Owner, Data refresh and status

[2022-04-19 17:44] amenity commented on #8951
I already removed her from Slack, @andrewshensky

[2022-04-19 17:45] moorerst commented on #8802
Response from stakeholder: This looks great.  I went through and played around with it.  I will get with Jennifer tomorrow and get her feedback.

[2022-04-19 17:54] frankhereford commented on #8949
Thanks to @dianamartin for her help triaging this - 🙏

[2022-04-19 17:59] #7368 closed

[2022-04-19 18:01] dianamartin commented on #7368
@chiaberry was this converted to an email notification?

[2022-04-19 18:05] chiaberry commented on #7368
I prematurely closed it -- the code is reviewed and in prefect but I need to toggle the switch to turn it on officially

[2022-04-19 18:15] xavierapostol commented on #8942
Also, these 2:
https://visionzero.austin.gov/editor/#/crashes/18838701
https://visionzero.austin.gov/editor/#/crashes/18840761

[2022-04-19 18:16] dianamartin commented on #7368
that's exciting 👍🏽

[2022-04-19 18:19] KaroEngstrom commented on #8952
4/19/22 per HR team's request

- [x] Built out the 4 by 2 link grid for the focus areas (Quick Links > Film Strip) and the linked site pages (w/o content for now) per notes above. Changes in the titles and images can be implemented based on the decisions and content as we receive them.

![image](https://user-images.githubusercontent.com/100615928/164069832-78e9b16d-0bc4-4bb7-badd-d9ebb056abbe.png)

[2022-04-19 18:37] mateoclarke commented on #8909
The proposal looks good to me @tillyw! Looking forward to reviewing the code. 👍

[2022-04-19 18:44] #8941 closed

[2022-04-19 18:44] #8940 closed

[2022-04-19 18:46] andrewshensky opened #8958 "April - Segments to Vector Tiles"

[2022-04-19 18:47] andrewshensky opened #8959 "April - Intersections to Vector Tiles"

[2022-04-19 18:54] SubhaShroff commented on #8035
@Nadin-Nader  DEV deployment request is submitted for the feedback changes - SCTASK0212868.

[2022-04-19 18:57] TracyLinder commented on #8831
**Discovery/Scoping** scheduled 5/17/22 @ 2:30pm

[2022-04-19 18:58] #8959 closed

[2022-04-19 18:58] #8958 closed

[2022-04-19 19:00] Nadin-Nader commented on #8887
@Sreelatha-BlazeKannan This has been deployed to TEST. Please UAT

[2022-04-19 19:05] patrickm02L opened #8960 "Fatality Review Board Recommendations"
For crash records with fatalities, staff would like to add notes to the crash page to reflect the Fatality Review Board recommendations, as well as Coordinating Partner and Status of the recommendations.

**UI considerations**
- View for non-editing roles
- View for editing roles
- Behavior when the edit button is activated
  - Drop down menus with list of Partners & Status
  - View for an editabl

[2022-04-19 19:18] Nadin-Nader commented on #8794
@Sreelatha-BlazeKannan i spoke to Anu and she said that she deployed this to PROD. Please verify. I will also verify and if all is well i will let ROW know about it.

[2022-04-19 19:26] patrickm02L commented on #8960
Non-editable Recommendations component in relation to the rest of the components on the page.
![Recommendations - Not editable](https://user-images.githubusercontent.com/5566727/164080415-5b15a74a-2d4b-450a-8133-100ddaf4458e.png)

[2022-04-19 19:29] patrickm02L commented on #8960
**View with Editor Permissions**

![Recommendations - Editor view](https://user-images.githubusercontent.com/5566727/164080555-d1044c12-a41f-4311-8881-80c4631dd818.png)

**Edit mode**

![Recommendations - Edit mode](https://user-images.githubusercontent.com/5566727/164080685-ff42df62-45a6-496b-a609-9a4e7da91633.png)

**Editing Coordinating Partner**

![Recommendations - Edit Coordination Partner](

[2022-04-19 19:49] SubhaShroff commented on #8795
@Nadin-Nader  @TracyLinder  - This ticket is tested on TEST. The fee names & amounts look good for both regular TURP Right of Way Usage fees and the Usage fees that are added with permit extension.
RSN: 12866624
This is ready for UAT.

[2022-04-19 19:49] #8934 closed

[2022-04-19 19:55] moorerst commented on #8605
Diana showed the Smart Mobility team the process of entering an application and reviewing the application on the backend.

Clean up items:

- [ ] switch the OTS and LPB images on the Home Page
- [ ] Event Information page remove the question Have you submitted an application before?
- [ ] Follow up with CTM on access to the group mailbox
- [ ] Application Details page highlight the Customer Action

[2022-04-19 19:56] dianamartin commented on #8605
# Diana's Notes
# Knack Action Items
- [ ] Remove: Have you submitted a street banner app before?

Customer must click "Action Completed"
- [ ] add Yellow Banner

- [ ] Update ALL emails font
- `Ensure banners are properly labled...`

- [ ] Update TEST ENVIRONMENT for test links
Check OTS:
Remove Locations in Knack or filter out
- [ ] Update Maps to remove: 11, 24, 40, 49, 65

# Action Items outsi

[2022-04-19 20:04] KaroEngstrom commented on #8605
T 4/19/22

After internal and training meetings, edited the Gitbook Help Guide for Customers, _How to Submit an Application_ page, to reflect updates to the application (updated listed in the comment above):
- [x] Removed instruction line for "Have you submitter a street banner application before?" from the _Event Information_ section

![image](https://user-images.githubusercontent.com/100615928/1

[2022-04-19 20:05] mateoclarke commented on #8494
Now that Mike's paperwork is signed and a start date established, I think we're good to close this out!  🙌

[2022-04-19 20:05] #8494 closed

[2022-04-19 20:22] patrickm02L commented on #8942
@xavierapostol thanks.

[2022-04-19 22:01] Sreelatha-BlazeKannan commented on #8887
@Nadin-Nader , @TracyLinder - Tested in TEST Environment; working as expected. EX & DS folder condition phone numbers updated. Ready for UAT and PROD promotion.

[2022-04-19 22:18] Nadin-Nader commented on #8313
Have not heard any issues on this. Closing

[2022-04-19 22:18] #8313 closed

[2022-04-19 22:31] Nadin-Nader commented on #6728
Status: Currently Testing/Analyzing

[2022-04-19 23:00] Nadin-Nader commented on #8923
Email to Matthew:

[2022-04-19 23:04] Charlie-Henry commented on #8315
Latest changes based on Meredith comments on 4/18:
1. ✔️ On this current dashboard, I want only FY22 to be an option.  In a few months, I’ll want to add FY23, and then when FY22 is over, I’ll want it to only be FY23.  So this dashboard is only for the current year, or the current and next year.  Never for more than that.  I know there’s monthly baseline data entered now for later years, but that’s

[2022-04-20 12:22] Nadin-Nader commented on #7912
Closing card

[2022-04-20 12:22] #7912 closed

[2022-04-20 12:23] Nadin-Nader commented on #8693
Closing card

[2022-04-20 12:23] #8693 closed

[2022-04-20 12:24] Nadin-Nader commented on #8015
Status: Paloma will let us know on Friday if we can close

[2022-04-20 12:38] atdservicebot opened #8961 "[Signs & Markings] User permission issues with LPB Application Dashboard page"
Street Banners

When I try to log-in , I'm now getting a message stating " I don't have permission to access this page".

I must have access to this application in order to schedule and assign work tasks to staff

https://atd.knack.com/street-banners#lpb-application-dashboard/

Internet Browser: Chrome

Jesse R.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/

[2022-04-20 14:16] atdservicebot opened #8962 "Give Permission to Dari M. for Development Review Map"
ArcGIS

Need to give access permission to Dari M. for our GIS webmap: https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=f90baebe5f0a49ddb3f5ff52672b3bbf#

Also, when you open the map, there is a message that pops up that says that the school zone beacon layer cannot be added

Soon — This week

Dari just joined our team last week and needs access to our map to aid in his reviews

Nazli

[2022-04-20 14:25] dianamartin commented on #8961
I checked the new Street Banners pages to see what their permissions were, added `Banner | Technician` to the LPB and OTS Dashboard ones.

Messaged Jesse 4/20

[2022-04-20 14:28] dianamartin commented on #7530
Closing this issue, since we are past the prototype stages and the app development is in a soft launch stage.

[2022-04-20 14:28] #7530 closed

[2022-04-20 15:00] dianamartin commented on #8605
Added Yellow banner for "In Progress - Customer Action Needed"
![image](https://user-images.githubusercontent.com/21112975/164260949-086a16c6-b58b-4f42-8d01-69b296a0fc86.png)

[2022-04-20 15:07] andrewshensky opened #8963 "School Zone Beacon Data Error in Development Review Web App"
User reported an error saying school zone beacon data cannot be added to the map.

[2022-04-20 15:14] TracyLinder commented on #8949
@ChrispinP are you able to do add this value before Friday?

[2022-04-20 15:15] patrickm02L commented on #8779
Pages are ready to test, send link to SMS Team to do initial testing for Fri, April 22. Ask them to give general observations and provide screen shots.

https://atd.knack.com/smrt#app-option-1/
https://atd.knack.com/smrt#app-option-2/
https://atd.knack.com/smrt#app-option-3/

[2022-04-20 15:16] TracyLinder commented on #8783
@SubhaShroff this is correct. We don't need to see it anywhere.

[2022-04-20 15:18] patrickm02L opened #8964 "Comments and Review"
Staff would like a way to comment on each record and aggregate them into one email that will be sent through the app. Create a mock up of what this will look like to show on April 22, 2022.

Similar to TDS commenting process. Use this as a reference for the Online App comments.

[2022-04-20 15:32] Charlie-Henry commented on #8315
Just sharing that Meredith used the dashboard during the 2020 bond quarterly meeting 💯

<img width="817" alt="Screen Shot 2022-04-20 at 10 07 55 AM" src="https://user-images.githubusercontent.com/30810522/164267707-9d11ff2b-529c-4c85-a89d-05299abaca34.png">

[2022-04-20 15:34] patrickm02L opened #8965 "DTS Retreat Follow Up"
Discuss how to capture the team's work from the DTS Retreat #8131, particularly around strengths finder, commitments, and the roadmap activities.

Review the [roadmap section](https://miro.com/app/board/uXjVON1-NDE=/). Suss out where the the actions will go in their respective quarters.

[2022-04-20 15:51] #8134 closed

[2022-04-20 15:53] #8962 closed

[2022-04-20 15:55] moorerst commented on #8933
Diana and Karo will be doing some discovery to see what other departments are doing with their SSPR process. PWD was one department HR mentioned.

[2022-04-20 15:57] patrickm02L commented on #8779
Sent email to SMS team 2/20/22 asking them to test the links for the upcoming Sprint meeting.

[2022-04-20 16:01] #8792 closed

[2022-04-20 16:09] amenity commented on #8914
No response from Crystal to Karo's email, so going to close.

[2022-04-20 16:11] andrewshensky commented on #8904
Initial analysis was presented and shared with user group on 4/14

[2022-04-20 16:11] #8904 closed

[2022-04-20 16:12] amenity commented on #8849
Karo reached out to Allyson and hasn't gotten feedback so closing.

[2022-04-20 16:12] #8849 closed

[2022-04-20 16:13] amenity commented on #8675
@dianamartin - circle back with Lance, Brian optional.

[2022-04-20 16:14] #8566 closed

[2022-04-20 16:16] amenity commented on #8952
Closing this since the enhancements have been implemented and there's a follow up issue for next steps. 🙌 cc/ @moorerst

[2022-04-20 16:16] #8952 closed

[2022-04-20 16:18] #8914 closed

[2022-04-20 16:36] amenity commented on #7101
@moorerst - @dianamartin isn't quite sure what this is... Can you clarify what's left to do, if anything?

[2022-04-20 16:47] patrickm02L opened #8966 "Update VZA shifts 4/25-6/19/22"
Copy the last 8-weeks from 2/28-4/24 to fill in the next round of assignments. The new assignments will run from 4/25/22-6/19/22.

[2022-04-20 17:01] Nadin-Nader commented on #8375
@Lpriya-LIT @TracyLinder all 6 commits have been sent to be deployed to **_TEST_** By the DevOps CM Team under **SCTASK0213187**

[2022-04-20 17:03] Nadin-Nader commented on #8833
@Lpriya-LIT @TracyLinder all 6 commits have been sent to be deployed to **_TEST_** By the DevOps CM Team under **SCTASK0213187**

[2022-04-20 17:04] Nadin-Nader commented on #8726
@Lpriya-LIT @TracyLinder all 6 commits have been sent to be deployed to **_TEST_** By the DevOps CM Team under **SCTASK0213187**

[2022-04-20 17:05] Nadin-Nader commented on #8725
@Lpriya-LIT @TracyLinder all 6 commits have been sent to be deployed to **_TEST_** By the DevOps CM Team under **SCTASK0213187**

[2022-04-20 17:42] andrewshensky opened #8967 "Update Bike Route Steepness Points/Processing Model"
Steepness points need to be updated to capture latest street segment additions. Processing model also needs to be updated to correct for change from PROJECT_EXTENT_ID to CTN_Segment_ID.

[2022-04-20 17:42] alan-deanda commented on #8903
The icons still need some work - the metrobike shelter is not very distinguishable.

The icons need to be designed with the capabilities of ArcPro's style user interface in mind, which is more limited than Illustrator. Icons need to be designed so that they use as few layers as possible, and the svgs may need to be re-drawn once brought into ArcPro, as some issues aren't visible in Illustrator. In

[2022-04-20 17:43] #8870 closed

[2022-04-20 17:45] alan-deanda opened #8968 "Impact Map for UT April 23rd"
OSE has sent us a detailed request for an event impact map for April 23rd, covering the UT area. The map has been sent to OSE for review, and we're awaiting any potential feedback before closing this issue.

[2022-04-20 17:58] Charlie-Henry commented on #8938
Yes this is a reasonable timeframe. Also, I've gotten access to INRIX data with Lance's help.

[2022-04-20 18:13] frankhereford opened #8969 "Refactor out the `moped_` table prefix in the Moped DB"
This issue stems from [a conversation](https://austininnovation.slack.com/archives/CNUEPKLB1/p1650468861955929) today in the #atd-moped channel.

The moped database uses a `moped_` prefix on all table names, which may be considered redundant information given that the tables are in the `moped` database. For queries which benefit from having explicit names, the fully qualified table name can be use

[2022-04-20 18:19] Nadin-Nader commented on #8725
@Lpriya-LIT @TracyLinder this has been deployed to TEST. Please UAT

[2022-04-20 18:20] Nadin-Nader commented on #8726
@Lpriya-LIT @TracyLinder this has been deployed to TEST. Please UAT

[2022-04-20 18:21] Nadin-Nader commented on #8728
@Lpriya-LIT @TracyLinder this has been deployed to TEST. Please UAT

[2022-04-20 18:21] Nadin-Nader commented on #8833
@Lpriya-LIT @TracyLinder this has been deployed to TEST. Please UAT

[2022-04-20 18:22] Nadin-Nader commented on #8375
@Lpriya-LIT @TracyLinder this has been deployed to TEST. Please UAT

[2022-04-20 18:27] johnclary commented on #8317
This is done—CTM created an open dataset for this. @alan-deanda would you please share the link here and add it to the data inventory?

[2022-04-20 18:29] johnclary opened #8970 "Create updated ASMP dataset on MAINT and DM"
Create updated ASMP dataset on MAINT and DATAMART.

[2022-04-20 18:31] johnclary commented on #8970
This is pending until the ASMP update is formally adopted by council. At which time Cole will reach out.

[2022-04-20 18:36] #8961 closed

[2022-04-20 18:38] atdservicebot opened #8971 "Change the division for performance measure 9453 from Vision Zero to Signs & Markings"
Data Tracker

Please change the division for performance measure 9453 from Vision Zero to Signs & Markings. https://atd.knack.com/amd#performance-measures/performance-measures-fiscal-details/61e9948077f14207219666bd/

Flexible  — An extended timeline is OK

Melissa B.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62605302de3ef3001e24d88f/screenshot2022

[2022-04-20 18:38] johnclary opened #8972 "Develop new standard map icons for DTS geo products"
**Colors**
- In https://github.com/cityofaustin/atd-data-tech/issues/4761, asked the user for information

**Bike icons**
- Meet review what we have existing, and identify what might be missing
- Create/modify new SVGs as needed
- Test them on online bike map

For other discussion:
https://github.com/cityofaustin/atd-data-tech/issues/8903

[2022-04-20 18:39] johnclary commented on #8972
@alan-deanda will schedule a meeting with Andrew, Noelle, and Sophia. @amenity  as optional.

[2022-04-20 18:41] johnclary commented on #8896
Alan has been providing feedback on needed. Leaving in review q/a in case additional questions come up.

[2022-04-20 18:42] johnclary commented on #8898
Completed

[2022-04-20 18:42] #8898 closed

[2022-04-20 18:42] johnclary commented on #8156
Final version of map has been reviewed with ATSD. Waiting for confirmation that it has been sent to print.

[2022-04-20 18:44] johnclary commented on #8205
@alan-deanda working to transfer notes to Gitbook. Please try to complete this during the current sprint.

[2022-04-20 18:44] dianamartin commented on #8675
I emailed  Lance, Allyson, Brian G, Brian C 4/20

[2022-04-20 18:45] johnclary commented on #8388
thanks @joelmeyer21. @alan-deanda will be re-focusing on this work in the next two weeks. please let us know if any specific areas are a priority.

[2022-04-20 18:46] johnclary commented on #8697
@alan-deanda plz follow up with AECOMM

[2022-04-20 18:47] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - #6031 DEV DP submitted. Kindly approve and create task id for me. This commit will remove the semicolon from the to-email address as it is throwing an error in TEST.

Commit ID: [2792c4969685](http://coaamandadevops01.austintexas.gov/R3:2792c49696851f9a9af797bbaf3a5e188cc4a4a5)

[2022-04-20 18:48] Sreelatha-BlazeKannan commented on #6032
@Nadin-Nader , @TracyLinder - Testing is in progress

[2022-04-20 18:48] johnclary commented on #7928
@alan-deanda will try to get to it this sprint, but definitely wants to get it done in early May.

[2022-04-20 18:51] Charlie-Henry commented on #8947
This was moved to 5/2, and do you want to be invited @amenity?

[2022-04-20 18:53] johnclary opened #8973 "Organize / update Bike data on Open Data Portal"
For both of these datasets:

- #8172 - Bike facilities
- #2608 - Bike racks

Ensure data is published to Socrata, metadata is complete, geodatapusher is configured, DTS data inventory is updated.

[2022-04-20 18:54] Charlie-Henry opened #8974 "Passport Transactions appears to have really low counts for the first of each month"
I was poking around the parking dataset in Socrata and noticed we're getting really low counts on the first of each month which sounds like a bug in our script processing the passport data. [passport_txns.py](https://github.com/cityofaustin/atd-parking-data/blob/production/meters/passport_txns.py)

<img width="813" alt="Screen Shot 2022-04-20 at 1 50 49 PM" src="https://user-images.githubuserconte

[2022-04-20 18:56] johnclary commented on #2043
We're not doing this.

[2022-04-20 18:56] #2043 closed

[2022-04-20 18:57] atdservicebot opened #8975 "Add a new CCTV "Camera Type" called Wisenet to Data Tracker"
Data Tracker

Adding new CCTV "Camera Type" called Wisenet

Being able to add CCTVs as type Wisenet (Currently types included Sarix, Pelco, Advidia)

None

Have a few in the field and continuing to install them so would like so we can make sure records are being kept properly

Allyson R.

Request ID: DTS22-103860

[2022-04-20 19:01] johnclary commented on #8963
Andrew swapped out the old layer reference with our authoritative layer. Waiting for custom to confirm this can be closed

[2022-04-20 19:06] moorerst commented on #8609
Closing this issue. Issue #8939 has the most recent enhancements from the sprint review.

[2022-04-20 19:06] #8609 closed

[2022-04-20 19:08] johnclary commented on #8905
Andrew put together initial dashboard for the MAP folks. Need to integrate point and polygon data with linear project data.

[2022-04-20 19:10] #8905 closed

[2022-04-20 19:11] johnclary commented on #8407
CTM put this on hold due to some external applications relying on this dataset. @andrewshensky can you follow up with CTM.

[2022-04-20 19:11] andrewshensky commented on #8905
@johnclary https://austin.maps.arcgis.com/apps/dashboards/c948db63ff9f4941a7d237bc0bfac940

[2022-04-20 19:14] johnclary commented on #8352
This layer is ready to go. Let's wait for print map to be finalized.

[2022-04-20 19:15] johnclary commented on #8854
Waiting for print map to be finalized

[2022-04-20 19:16] johnclary commented on #7769
Doing this on an as-needed basis.

[2022-04-20 19:16] #7769 closed

[2022-04-20 19:18] johnclary commented on #8951
Per CTM—the SERF has been completed.

[2022-04-20 19:20] SubhaShroff commented on #8783
Thank you for confirming @TracyLinder.
@Nadin-Nader  DEV deployment is requested.

[2022-04-20 19:31] Charlie-Henry commented on #8974
Found the issue:
https://github.com/cityofaustin/atd-parking-data/commit/8f1bb277bcf8b1005da324e2908e0287682eb47a

[2022-04-20 19:47] mateoclarke opened #8976 "AFD & EMS ETL change requests"
After asking XA to review the tables that have been implemented in both production & staging VZD, he provided changes requests.

Update 5/18/22: After discussing in our monthly meeting, we've split out the change requests into separate issues:
- https://github.com/cityofaustin/atd-data-tech/issues/9075
- https://github.com/cityofaustin/atd-data-tech/issues/9076
- https://github.com/cityofaustin/at

[2022-04-20 20:12] dianamartin commented on #8964
I apparently started doing this the last time I was working on SMRT, yay me!

I'm just adding a few more options for the user so we can talk about it on Friday.

[2022-04-20 20:16] Charlie-Henry commented on #8315
Talked to Meredith just now
   - Change FY21 to "Prior fiscal years"
   - Move bond programs file to a staging version
   - She'll add new data to the excel doc about bond $ allocation

[2022-04-20 20:56] Nadin-Nader commented on #8923
Created account and set the automation create the PROD account. I also created a request to have Dari added to V7

[2022-04-20 21:26] amenity opened #8977 "Meet with AMD to get direction on "Projects" table enhancement priority"
Scheduled for 4/25:
- Would the leftmost column being frozen be helpful? https://cb-freeze-column--atd-moped-main.netlify.app/moped/dashboard
- Do we need to be able to filter by (aka advanced search)
  - Signal ids
  - current phase
  - status update
  - funding source
  - designer
  - inspector
  - construction start date
  - project completion date

@chiaberry

[2022-04-20 22:00] johnclary commented on #8315
Awesome!

[2022-04-20 22:15] johnclary commented on #8975
No concerns, but noting that our CCTV thumbnail publisher will handle a new camera type the same way it handles Pelco cameras when [trying to fetch a thumbnail image](https://github.com/cityofaustin/atd-cctv-images/blob/e4b4b5a70f4c340eba0349e693a6648a94e008c3/cctv/camera.py#L77).

If this new camera type has a different interface to access image thumbnails, I'd consider that a separate issue to s

[2022-04-20 22:37] dianamartin commented on #8971
I've communicated with Melissa on this. This will require some poking around bc the Performance Measure stuff can be tricky.

[2022-04-20 22:39] dianamartin commented on #8964
Sync'd with Patrick, we decided that Option 2 provided no real value. The "commenting" function of Option 1 is great for internal reviewer comments. Option 3 is good for providing "Attachment Comments" so that the applicant can see them. We've outlined a process and will need to scope a little more about the details of the SMS review. We'll talk to the stakeholders on Friday about it.

[2022-04-20 22:40] dianamartin commented on #8605
Will have to update the AGOL maps and make sure the 7 OTS locations are removed
![image](https://user-images.githubusercontent.com/21112975/164336515-ed5a535c-3521-4b02-a6f2-c6bd2af0bab0.png)

[2022-04-20 23:16] alan-deanda opened #8978 "AMANDA street events updates 04/20/2022"

[2022-04-20 23:16] #8978 closed

[2022-04-21 02:07] amenity commented on #8971
@dianamartin - thanks, sounds good. Will you size and assign a sprint, plz? 🙏👕

[2022-04-21 02:15] amenity commented on #8975
Thanks, @johnclary. Adding to our AMD agenda so we can discuss that. @dianamartin - will you assign+size+schedule as you see fit?

[2022-04-21 03:51] amenity commented on #8909
@tillyw @mateoclarke - should I approve this issue and expect another that matches the UI we discussed in Dev Sync, or wait for this to match that direction.

[2022-04-21 04:22] amenity commented on #1835
@ChrispinP - did you mean to thaw this? 🧊 🌞

[2022-04-21 12:15] atdservicebot opened #8979 "The "Home" screen on the SMRT Tracker shows bonds and insurances that are due. I'd like for these to..."
Shared Mobility Operations

The "Home" screen on the SMRT Tracker shows bonds and insurances that are due. I'd like for these to not show once I receive the updated document and update the due date in the SMRT Tracker. so essentially I am only seeing items coming due or past due.

I should only see items that are due. If you look at the "Home" screen you can see I've updated the info for Bird and

[2022-04-21 13:28] atdservicebot opened #8980 "Restore missing CR3 for certain crash #18848386"
Vision Zero (Editor)

There is data from the OCR process but not "Download CR3" button.

https://visionzero.austin.gov/editor/#/crashes/18848386

Internet Browser: Chrome

Xavier A.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62615bed9b30d6001ee59149/capture.png) (79.91kb)

Request ID: DTS22-103870

[2022-04-21 13:37] frankhereford commented on #8267
@patrickm02L - I'd like to propose that this be closed. I ran into it searching for other issues today, and I think we're pretty stable with me running the download process. Open to any direction of course!

[2022-04-21 13:40] SubhaShroff commented on #8684
@Nadin-Nader  The procedure name change part is promoted to PROD.

[2022-04-21 14:06] patrickm02L commented on #8267
Thanks, we'll close it. If we have an opportunity to hand off it the future we'll have this issue to look back on.

[2022-04-21 14:10] patrickm02L opened #8981 "CR3 Data Quality - April 2022"
Tracking recent CR3 Issues for April.

[2022-04-21 14:13] dianamartin commented on #8971
@ChrispinP we can pair on this so you can learn how the Performance Measures are configured

[2022-04-21 14:15] SubhaShroff commented on #8783
@Nadin-Nader  @TracyLinder  The Parking Information Freeform is removed in DEV. Can I get it moved to TEST?

![image](https://user-images.githubusercontent.com/51680715/164477461-116818eb-11cd-4ee0-b146-a02889ba2d0c.png)

[2022-04-21 14:16] #8652 closed

[2022-04-21 14:49] ChrispinP commented on #1835
@amenity negative. It might have unintentionally got grabbed during the board fixing.

[2022-04-21 15:09] dianamartin commented on #8979
@patrickm02L Synced with Andrea 4/21 to hear what she wanted to see/not see in the system. The current Bond Expires seemed weird with the filters, the behaviors were not right. So I added a new table and added filters and it seemed to be working better. I opted to create a second table to separate the "Current Month" and "Next 3 Months", just so the user could see it at a glance.

Andrea also caug

[2022-04-21 15:12] Lpriya-LIT commented on #8894
@TracyLinder @vschandramouli Committed changes, Ready for Dev Deployment.
@Nadin-Nader

[2022-04-21 15:13] dianamartin opened #8982 "[Smart Mobility] Account Access request for David O."
Eliza Y.
SMO

Emailed 4/21

[2022-04-21 15:58] Charlie-Henry commented on #8974
Pushed this change up to our docker image. Prefect will be using this and I've re-ran through our data to populate the first of each month.

[2022-04-21 16:00] SubhaShroff commented on #8035
@Nadin-Nader  Had a quick call with Jaclyn and this what she suggested:
Remove 'Email Notice' attempt for Project Connect Review process. I will do this change.

[2022-04-21 16:21] alan-deanda commented on #8697
Sent a follow-up email to AECOMM, awaiting reply.

[2022-04-21 16:38] TracyLinder commented on #8908
@Sreelatha-BlazeKannan will do this work,

[2022-04-21 16:42] Charlie-Henry commented on #8644
Amazon SES will now send the incoming emails to the `emails/new` location. Will open a PR for the changes to `fiserv_email_pub.py` 👍

[2022-04-21 16:43] TracyLinder commented on #7689
###

- We haven't started FDU mapping; behind schedule. `Talk to Peggy`
- Vish & Tracy meeting next Tuesday to write AC for ATD SIF Review process / PR / VBPMR

[2022-04-21 17:35] Sreelatha-BlazeKannan commented on #8927
@Nadin-Nader , @TracyLinder - I see the above examples are from DS folder. does it occur only on DS folder?  or EX too?

[2022-04-21 18:11] vschandramouli commented on #7672
UAT meeting on 4/21 - Approved by Paloma. Ready for PROD deployment.

[2022-04-21 18:11] Lpriya-LIT commented on #7672
@TracyLinder @Nadin-Nader @vschandramouli UAT done, Ready for PROD.

[2022-04-21 18:15] Lpriya-LIT commented on #7672
@Nadin-Nader Please request for Prod promotion, have sent you the deployment plan
@TracyLinder @vschandramouli

[2022-04-21 18:17] #8721 closed

[2022-04-21 18:36] Charlie-Henry commented on #8634
Steps to get Project for Web to Power BI:

1. Download template [here](https://github.com/OfficeDev/Project-Power-BI-Templates/blob/master/Project%20for%20the%20Web/Microsoft%20Project%20for%20the%20Web%20Power%20BI%20Template.pbit)
2. Go Office.com -> Power Apps
3. Click Apps on sidebar
4. Find and click Project on the list
5. Get the url from this page of the form: https://<envrioment>.<region>.

[2022-04-21 18:36] #8634 closed

[2022-04-21 19:06] andrewshensky commented on #8855
A workflow has been established to merge eligible removals into production while by passing the QC process. This initial merge reduced sign removals needing QC from 711 to 288.

[2022-04-21 19:06] #8855 closed

[2022-04-21 19:09] andrewshensky opened #8983 "Create Domain for QC_STATUS Field in Sign Production Data"

[2022-04-21 19:14] tillyw commented on #8909
it's okay! i wouldn't worry about approving it. i'm going to work off the other issue from this point forward

[2022-04-21 19:16] TracyLinder commented on #7689
### Project Meeting 4/21

[2022-04-21 19:28] dianamartin commented on #8939
Set up Banner Test environment for Smart Mobility and send out lengthy email on 4/20

### ATXBanners – email inbox

•	Add the inbox to your Outlook environment [Desktop]or [Web]
•	Add [atxstreetbanners] email
** Luke is going to submit a new CTM service desk ticket to have Nicholas added

### Short-hand

•	LPB: lamppost banners
•	OTS: over-the-street banners

### Test Environment

Test Environment

[2022-04-21 19:34] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan This has been sent to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0213541**

[2022-04-21 19:40] Nadin-Nader commented on #7672
@Lpriya-LIT @TracyLinder This has been sent to the DevOps CM Team to be deployed to **_PROD_** under **SCTASK0213545**

[2022-04-21 19:41] SubhaShroff commented on #8035
@Nadin-Nader DEV deployment request is submitted for the changes after talking to Jaclyn to day - SCTASK0213542.

[2022-04-21 19:42] #8935 closed

[2022-04-21 19:42] Nadin-Nader commented on #8935
User has been added to AMANDA TEST and PROD

[2022-04-21 19:51] Nadin-Nader opened #8984 "BUG: ROW Deficiency Report (50514) is throwing a "Page Area to Large" error on PROD (Waiting on Blake)"
Blake B. reported that the ROW Deficiency Report (50514) is throwing a "Page Area to Large" error on PROD This only seems to be happening on this permit ( 21-202490-EX).

![image.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/be1e37e9-b30f-490b-b99a-2b40d70e5b90)

![image.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/6ff72ed0-54ea-4533-b8d4-7550fcc16ac0)

[2022-04-21 19:58] SubhaShroff commented on #8783
@Nadin-Nader @TracyLinder The Parking Information Freeform is removed in TEST also. I tested it and its ready for UAT.

[2022-04-21 20:07] TracyLinder commented on #8906
Pending FDU numbers

[2022-04-21 20:29] dianamartin commented on #8605
Updated the web map applications:
- [x] OTS Customer Facing
- [x] OTS Reference Map embedded in Street Banner Knack App

[2022-04-21 20:33] dianamartin commented on #8605
@moorerst completed all the feedback changes, closing.

[2022-04-21 20:33] #8605 closed

[2022-04-21 20:36] dianamartin commented on #8982
Eliza replied 4/21

[2022-04-21 20:36] #8982 closed

[2022-04-21 21:26] andrewshensky opened #8985 "Create Documentation for Appending QC Signs into Production"

[2022-04-22 13:48] SubhaShroff commented on #8035
@Nadin-Nader  DEV deployment is done and I tested it for all the changes. Looks good to me now. Kindly, let me know if I can submit TEST deployment request.

[2022-04-22 14:36] #8923 closed

[2022-04-22 14:36] Nadin-Nader commented on #8923
User has logged in and PROD account was created. Closing Card

[2022-04-22 14:47] dianamartin commented on #8957
Karo and I synced to remember which spreadsheet we used to QC the datasets and we mapped out the relationships in [Miro ](https://miro.com/app/board/uXjVO6vKjok=/)to confirm where the datasets lived and what we needed to update.

# Steps
- Update existing dataset records in Opendata Inventory
  - [ ] Confirm data owner?
  - [ ] Descriptions
  - [ ] Hosted
- Added new dataset records

[2022-04-22 15:24] SubhaShroff commented on #8035
@Nadin-Nader TEST manual deployment of the merge document is submitted - SCTASK0213691.
Another TEST deployment request is submitted for the commits - SCTASK0213696.

[2022-04-22 15:45] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan this has been deployed to DEV, please UAT

[2022-04-22 15:48] Nadin-Nader commented on #8892
@Lpriya-LIT lets send this to TEST when ready

[2022-04-22 15:49] Nadin-Nader commented on #7672
@TracyLinder @Lpriya-LIT this is now on PROD. I will post and send the message to ROW via TEAMS chat.

[2022-04-22 15:59] Sreelatha-BlazeKannan commented on #8908
@TracyLinder  - Analysis is in Progress

[2022-04-22 16:05] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - Tested in DEV and working as expected. here is the email received to customer email id (my austin dev id). I will be submitting the TEST DP by today.

![image](https://user-images.githubusercontent.com/44907715/164752543-47d5af32-bcab-4617-a992-ce4c5ba4a5d2.png)

[2022-04-22 16:11] patrickm02L opened #8986 "[Meeting] SMS Sprint Review Meeting 4/22 - Feedback"
### Objective
Bi-weekly meeting to review improvements to SMRT application. This meeting focused on attachments and comments.

### Participants
DTS & SMS

### Agenda
[link](https://docs.google.com/document/d/1ON5j-wlFHzI94eNYhWsiezusfX0KKwqKEyEoaJe3gU8/edit?usp=sharing)

------
- [x] Schedule meeting
- [ ] Optional: Schedule debrief
- [x] Meet and take notes
- [ ] Optional: Debrief with DTS team m

[2022-04-22 16:18] patrickm02L commented on #8986
## Patrick's Notes

### Option 3 - Table

- [ ] Add note to indicate how long the page will take to load
- [ ] Check to see if there are validation issues with attachment files have the same name

### Approval letter

- [ ] create template on City of Austin letter head
- [ ] include Mary & Courtney's signatures

### Submittal Deadline

- [ ] Create time range to close application
- May 13 for June

[2022-04-22 16:22] andrewshensky opened #8987 "Calculate Missing Asset Condition Values from Production Sign Data"
The production sign data contains missing values for Asset Condition. Should be able to join back to work order data to pull in Condition values.

[2022-04-22 16:43] #8868 closed

[2022-04-22 16:43] #8451 closed

[2022-04-22 17:12] alan-deanda opened #8988 "ATSD support"
Help ATSD staff solve issues with accessing data on AGOL.

[2022-04-22 17:32] alan-deanda opened #8989 "Re-organize print bike map assets"
The 2021 edition of the print bike map was the first one to be produced on ArcGIS Pro. At the time, the project was saved with a date naming convention. These projects were used to create the May 2022 (bike month) edition of the bike map, and with minimal changes between editions.

Having reached stability, these projects should now have a stable naming convention. All assets (projects, databases,

[2022-04-22 17:49] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - TEST DP submitted. Kindly approve and create task id for me.

Commit ID: 2792c4969685

[2022-04-22 18:18] dianamartin commented on #8018
# 311 ODP

[2022-04-22 18:19] TracyLinder commented on #8018
### Huddle Notes

- Diana: 311 data is available on the open data portal
- TCP tracking data is in KNACK. We would need to push data to the open data portal (ODP).
- AMANDA data: Tracy can write the AMANDA queries.
- 311 data being requested is considered 'activity data' which isn't available on ODP

Charlie:
- Going from KNACK to Socrata is straight forward.

Tracy:'
- prefer to push AMANDA data

[2022-04-22 18:39] TracyLinder commented on #8018
- I emailed an update to Darren. I told him I'd update him again after our next huddle.
- Our next huddle is scheduled on 5/3.

[2022-04-22 19:03] TracyLinder commented on #7689
### Informal SIF Overview of Updates to DSD Folders w/ DSD IT - 4/22/22

[2022-04-22 19:06] atdservicebot opened #8990 "Cause data count requests to have an assignee name listed, when possible"
Data Tracker

In the Traffic Count & Data Collection page on Data Tracker, there’s several requests that come in initially “Assigned To” one employee, and when another employee goes into the Details and modifies that "Assigned To" to their name, it no longer lists that Assigned To column on the main page of lists.  One example is the Tara/Salt Springs count request, which came in assigned to Jamie

[2022-04-22 19:12] andrewshensky commented on #8407
I have received confirmation from CTM that this is now complete. After a minor accessibility issues during the process, the data is now accessible in DM. I have reached out to Susanne and Christina letting them know of the changes.

This issue will now be closed.

[2022-04-22 19:12] #8407 closed

[2022-04-22 19:52] andrewshensky opened #8991 "Add Outlier Pole/Sign Features to Sign Production Data"

[2022-04-22 19:52] alan-deanda commented on #8989
- [x] move fgdb
- [ ] move blowup map
- [ ] move full scale map
- [ ] re-connect blowup map fgdb data
- [ ] re-connect full scale map fgdb data
- [ ] switch blowup map from DM to AGOL
- [ ] switch full scalemap from DM to AGOL

[2022-04-22 20:37] dianamartin opened #8992 "[Discovery] Digital SSPR Tools"
Nate B.
HR

Requested digital SSPR Tool, reference #8933

[2022-04-22 21:14] andrewshensky commented on #8991
This has been completed. This process has reduced the count of Outlier Features needing QC from to 234 to 39

[2022-04-22 21:14] #8991 closed

[2022-04-22 21:16] SubhaShroff commented on #8926
@Nadin-Nader  @TracyLinder  This bug was fixed in 6844 and the commit was [82377d878650](http://coaamandadevops01.austintexas.gov/R3:82377d878650982dbfa423f6c3cbd436c98854d1). 6844 was on PROD. The related lookup table=50226 entries are not in TEST/PROD now. Not sure, how those entries got reverted.
I will get in contact with CTM team and see if I need to redo the commit or if they can use the sam

[2022-04-22 21:18] Charlie-Henry commented on #8018
Here is the repo for our Knack -> Open Data Portal data publishing. https://github.com/cityofaustin/atd-knack-services#publish-records-to-the-open-data-portal

Chia, Frank, and Mateo didn't know of a time we did a AMANDA -> Open Data Portal script

[2022-04-22 21:19] #8983 closed

[2022-04-22 21:21] Nadin-Nader commented on #8795
Paloma and Isabel Approved the move to PROD

[2022-04-22 21:23] Nadin-Nader commented on #8783
This was approved to go to PROD by Paloma and Isabel

[2022-04-22 21:32] Nadin-Nader commented on #8887
@Sreelatha-BlazeKannan This has been sent to the DevOps CM Team to be deployed to **_PROD_** under **SCTASK0213797**

[2022-04-22 21:40] Nadin-Nader commented on #6031
@Sreelatha-BlazeKannan I have requested that the new changes be moved to **_TEST_** under **SCTASK0213800**

[2022-04-22 21:58] SubhaShroff commented on #8783
@Nadin-Nader PROD deployment request is submitted - SCTASK0213804.

[2022-04-22 22:08] SubhaShroff commented on #8795
@Nadin-Nader SCTASK0213807 is submitted for PROD  deployment.

[2022-04-25 13:34] Lpriya-LIT commented on #8894
@Nadin-Nader @TracyLinder Verified the changes in Dev, Ready for Test promotion.

[2022-04-25 13:36] Lpriya-LIT commented on #8375
@Nadin-Nader @TracyLinder Verified SIF configuration in Test, looks good.

[2022-04-25 13:37] Lpriya-LIT commented on #8833
@Nadin-Nader @TracyLinder Verified in Test , the 2 columns 'Building Permit #' and 'Date of Permit issuance' has been removed.

[2022-04-25 13:38] Lpriya-LIT commented on #8728
@Nadin-Nader @TracyLinder Verified in test, Unique id is generated.

[2022-04-25 13:39] Lpriya-LIT commented on #8726
@Nadin-Nader @TracyLinder Verified in test , works as expected.

[2022-04-25 13:41] Lpriya-LIT commented on #8725
@TracyLinder @Nadin-Nader Verified in Test , The SIF Folder infos 'Council Districts' and 'SIF District' are auto-populated with values from Property Infos 'Council District' and 'SIF District' of the Primary Property selected in the folder.

[2022-04-25 16:11] chiaberry commented on #8929
| column     | show | Filter |
| ----------- | ----------- | --------- |
| task order    | must      | could |
| contractor   | must       |  must |
| project DO  | must     |  |
| signal IDs  | must     | could   |
| project types  | must   | should  |
| current phase    | must      | must |
| status update   | must       |  could |
| funding source    | must     | should |
| designer   |     |

[2022-04-25 16:18] andrewshensky opened #8993 "Update Sign Data from Work Orders"

[2022-04-25 16:22] andrewshensky commented on #8993
**Features Mapped in Maint**
Signs: 3326 -> 3479
Locations: 1435 -> 1608
**Sign Features Needing QC**
Installs: 950 -> 980
Removals: 288 -> 319
Outliers: 39 -> 53

*Starting numbers differ from previously end point due to bulk upload of QC features covered in other issues

[2022-04-25 16:22] #8993 closed

[2022-04-25 17:08] ChrispinP commented on #8966
VZA assignments imported, complete

[2022-04-25 17:09] ChrispinP commented on #8949
Would need to know the purpose of this status and what triggers or causes this new status.

[2022-04-25 18:22] #8644 closed

[2022-04-25 18:22] #8974 closed

[2022-04-25 18:30] frankhereford opened #8994 "Install software on `atd-data03` for Prefect, system monitoring and misc system administration"
### Concerns
* Prefect depends on Python 3.7+, which is not available from the normal CentOS 7 repositories.
* Python 3.10 is the latest, stable & supported version, so we'll target that.
* Building this release of python requires a more recent version of libopenssl, which is similarly not available in the CentOS 7 repos.
* LVM lv mounted at `/home/` is only 1G in size; needs expansion
* GCC bundl

[2022-04-25 18:35] moorerst commented on #8933
Scoping meeting scheduled 5/16

[2022-04-25 18:47] moorerst opened #8995 "HR Digital SSPR Discovery Meeting"
Meet with stakeholder to get a better understanding of what the goals are.

Request:
Looking to move the SSPR process over to the HR Knack System for all management to use. issue #8933

What are other department doing? (PWD, CTM, etc.)
github issue #8992

Meeting scheduled with stakeholder 5/16

[2022-04-25 18:51] TracyLinder commented on #7689
### Project Meeting 4/25/22

**Agenda:**

- [ ] Review timeline
- [ ] Update on #8906
- [ ] Review Zen Board
- [ ] Move Core Team meetings from Wed to Mon
- [ ] Recap of Tracy's meeting w/ DSD IT on Friday
- [ ] Upcoming AW Meeting

[2022-04-25 19:07] TracyLinder commented on #8906
### Update from Dan:

- Request submitted 2 weeks ago
- Met with controller's office this morning & there are concerns about tracking this revenue
- ATD is looking at local gov. code as it pertains to impact fees
- One issue is the SIF ordinance requires a separate fund for each service area, and that's a lot. Can we make it easier?
- Dan is researching local gov. code to learn more about possible

[2022-04-25 19:07] TracyLinder commented on #8906
**WE NEED TO MOVE FORWARD WITH DUMMY NUMBERS**

@vschandramouli @Lpriya-LIT let's discuss.

[2022-04-25 19:09] dianamartin commented on #8975
Sync'd with Karo and we looked at this issue. We initially had an issue finding the field because it wasn't provided by the requester. We did eventually find it under Signal details page and it was a related table. The field wasn't called "Camera Type", but "CAMERA_MFG".

- [x] Added "WiseNet"
![image](https://user-images.githubusercontent.com/21112975/165157394-13d8b2c3-20e9-4074-8193-b3434e2dede

[2022-04-25 19:09] TracyLinder commented on #8906
**Vish**

- We can do the dev w/ dummy numbers
- He's not confident that online payments will work w/ dummy numbers.

[2022-04-25 19:14] TracyLinder commented on #8906
**Joe:**

- We need a backup plan for these funding numbers not being available on 6/21
- Dan: We'll need a legal opinion.
- Tracy: We can stick it all in one fund at split the retroactively after the FDU's are available.

**Nate:**
- When do we need the FDU's by if we go with the dummy number approach?
    - Tracy: IDK. Need to talk to Priya.

[2022-04-25 19:19] dianamartin commented on #8971
Synced with Karo to show her where the change needed to happen in the AMD Data Tracker.

It was on the `performance_measures` object, just needed to change the "Division" from "Vision Zero" to "Signs and Markings". Luckily, it was an easier change that originally thought.

[2022-04-25 19:20] KaroEngstrom commented on #8975
Mon 4/25/22
- [x] Messaged Allyson: "Hi Allyson, We added the  new CCTV "Camera Type" called Wisenet to the Data Tracker. This is live in the app now. Please let me know if you need anything else!"; she responded with "Thank you!!" Closing the issue.

[2022-04-25 19:20] #8975 closed

[2022-04-25 19:31] TracyLinder opened #8996 "Feature: ROW Emergency Permit Fee (On PROD🎉🎉)"
**Email from Ryan M. 4/25/22:**

The City Council will be considering an item on May 5 that will allow us to begin charging emergency permit application fees. If passed, we would want to begin assessing this fee ASAP. It already exists in the fee schedule and I think the work was done in AMANDA, but we just need to enable it. What would the timeline look like to enable if it’s passed on 5/5?

**Ac

[2022-04-25 19:48] TracyLinder commented on #8996
**My Response:**

We have done the work in AMANDA V6 for the emergency permit fee and we commented it out so we could use it in the future. I need to speak with my team to get a better understanding of the considerations that could affect the delivery timeline, but my estimate is **5 weeks** from start to PROD.

[2022-04-25 20:00] alan-deanda commented on #8989
Maps, databases, etc for both sides of the print bike map have been switched to their new authoritative versions.

[2022-04-25 20:00] #8989 closed

[2022-04-25 20:02] Sreelatha-BlazeKannan commented on #6032
@Nadin-Nader , @TracyLinder - Tested in TEST Environment; all working as expected and ready for UAT.

[2022-04-25 20:03] Sreelatha-BlazeKannan commented on #6031
@Nadin-Nader , @TracyLinder - Tested in TEST Environment; all working as expected and ready for UAT.

[2022-04-25 20:04] Sreelatha-BlazeKannan commented on #6030
@Nadin-Nader , @TracyLinder - Tested in TEST Environment; all working as expected and ready for UAT.

[2022-04-25 20:06] Sreelatha-BlazeKannan commented on #2666
@Nadin-Nader , @TracyLinder - Tested in TEST Environment; all working as expected and ready for UAT.

[2022-04-25 20:14] #8966 closed

[2022-04-25 20:14] patrickm02L commented on #8966
Rock and Roll!

[2022-04-25 20:29] amenity commented on #8990
@dianamartin - are you able to work with Jonathan to intake and prioritize this issue?

[2022-04-25 20:51] dianamartin commented on #8990
@amenity this is an easy fix. The other pages that are for the Data Collection team, Jamie have the "Assigned To" field viewable.

[2022-04-25 20:51] #8773 closed

[2022-04-25 20:52] #8901 closed

[2022-04-25 21:02] dianamartin commented on #8990
@KaroEngstrom When I took a look at this page, the field already exists on the table. I think I just need to email the requester to give clarification.

[2022-04-25 21:22] Nadin-Nader commented on #8857
This has been sent t the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0214209**

[2022-04-25 21:29] dianamartin opened #8997 "[BUG] Parking Meters added are not showing up under "Assigned To""
Jacob C.
Parking Meters

[2022-04-25 21:32] dianamartin commented on #8997
I looked into this and there was a filter for
User Status - Active and Division is - Parking Meters

Neither Melton or Jacob were assigned to the correct Division. I corrected that in the system.

Emailed stakeholders 4/25

Follow-up email

[2022-04-25 21:41] Nadin-Nader commented on #8893
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0214213**

[2022-04-25 21:50] Nadin-Nader commented on #8892
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0214216**

[2022-04-25 21:57] Nadin-Nader commented on #8894
This has been sent to the DevOps CM Team to be deployed to **_TEST_** under **SCTASK0214217**

[2022-04-26 13:50] andrewshensky opened #8998 "Request for GIS TRAIN Classes - Yvette M."
User would like to be registered for 2 upcoming GIS courses.

[2022-04-26 14:34] SubhaShroff commented on #8926
@Nadin-Nader  DEV deployment is done. I tested it on DEV portal for extra fields. As it was already working(not displaying the extra freeform fields on DEV) and no change after the deployment. So, after you have approved, I submitted TEST promotion request for this ticket - SCTASK0214398.

[2022-04-26 14:44] SubhaShroff commented on #8795
### Status:
@Nadin-Nader  @TracyLinder  This ticket is promoted to PROD.

[2022-04-26 14:49] SubhaShroff commented on #8015
### Status:
Informed to Paloma. User is doubting after deploying this ticket, 'insert + run' TURP Extension fees are not working. I will verify it.

[2022-04-26 15:05] Nadin-Nader opened #8999 "Project: AMANDA FY23 Fee Updates"
Implementation of ATD FY23 fee schedule updates for fees maintained in the [AMANDA System](https://github.com/cityofaustin/atd-data-tech/issues/4790)

## Background

The city's yearly [Budgeting Process](https://financeonline.austintexas.gov/afo/afo_content.cfm?s=1&p=57), Department Fee schedules, Fee Logic/Workflow and Fee amounts have to be updated in AMANDA, if it has an applicable change, by S

[2022-04-26 15:12] frankhereford opened #9000 "Add `crash_created` timestamp to `atd_vz_data.public.atd_txdot_crashes`"
Adding a timestamp that is set to the current time when a crash record is initially created from the CRIS → VZ ETL would allow for a much easier diagnosis of potential or on-going issues with the ETL itself. This will allow for quicker and more informed responses to crash ingest issues.

I propose this be run on the database. The data will self populate as new records are created and no changes ar

[2022-04-26 15:18] TracyLinder commented on #8916
1.  Backend user saves attempt 'Create Permits' on process Coordinating Reviews'
2. If folder info 'SIF Required?' is yes, the system should insert the ATD SIF Review Process
- IDK what the process status should be; probably open
- Assigned to ATD SIF Review (@vschandramouli please confirm name)
- The system should insert a to-end date value (we're not sure how the system decides what end date to

[2022-04-26 16:04] #7724 closed

[2022-04-26 16:13] TracyLinder commented on #4026
Work has been delivered. Closing this EPIC.

[2022-04-26 16:13] #4026 closed

[2022-04-26 16:16] TracyLinder commented on #4852
**We need to dig into this more**
- Work w/ DSD stakeholders & IT before we finalize the AC
- EX inspectors need to know how/when to use the 'Deferred' attempt

Let's come back to this maybe after FY23 fees are updated.

[2022-04-26 16:19] TracyLinder commented on #4282
- This requires more stakeholder coordination w/ DSD. To be done with the other discovery #2395

[2022-04-26 16:22] TracyLinder commented on #2392
**Status / Convo w/ Paloma:**

- We still need a smart way to identify unpaid ROW permit fees. Not sure if the current request is what we need, but we do need a solution for this.

[2022-04-26 16:50] moorerst opened #9001 "Enhancement Banners Permit and Payment in Knack"
- [x] Curious about the statuses. There’s a reservation “Thrive Summit 2022” ID 421. Joseph installed and submitted work ticket. My status is “Installed” but the Work Order Status is still “Need to be installed”. Are we missing something?

I did ask stakeholders if they wanted me to made the form modal so that it would update upon submission.

- [x] I’m entering an application for HRD. When enteri

[2022-04-26 17:01] alan-deanda opened #9002 "ASMP Amendment support round 3 - AGOL requests"
ASMP Amendment Round 3 requests for AGOL ownership transfers, publishing and other related tasks will be tracked on this issue

[2022-04-26 17:04] alan-deanda opened #9003 "Address ranges for level 1 streets"
For round 3 of the ASMP Amendment, street level 1 roads need address ranges.

- [x] create copy of current draft
- [x] transfer address range from street.segment data to draft copy
- [x] join address range back to current draft

[2022-04-26 18:17] frankhereford opened #9004 "Repair `atd_kits_sig_status_to_socrata`; notify appropriate parties of the unreachable MySQL server"
## TLDR
~KITS integration is down.~ We learned that it was the KITS system itself that was down. It was a planned outage KH needed to perform an update.

## Note
This is my first exposure to these scripts. While I'm comfortable with dealing with what they do at a technical level (mysql connections, etc), I am unfamiliar with the task they are meant to execute and who the stakeholders are. Any info

[2022-04-26 18:19] frankhereford commented on #9004
Brian responded with:

I am going to follow his suggestion and reach out to Chad on teams.

[2022-04-26 18:23] TracyLinder commented on #8674
I'm going to ask @vschandramouli to provide feedback for @SubhaShroff questions above.

1. Should we add the info (75948) Hourly Meter Rate to RW-TURP?
2. Does the parking rate increase with the extension tiers as other TURP ROW fees do?

[2022-04-26 18:32] frankhereford commented on #9004
@mateoclarke gave some more information - thank you!

He indicated that he believed that the KITS database is managed / operated by Kimley Horn.

I will reach out to her via email if I don't hear back from Chad in response to the teams message I sent after Brian suggested that message him.

[2022-04-26 18:43] TracyLinder commented on #8838
**From Gita:**

Hi Tracy,

Hope all is well with you.

A Service Now ticket from you on their behalf should work for updating these permissions.

Thanks

Gita

[2022-04-26 18:44] amenity commented on #9004
Thanks, @frankhereford @chiaberry @mateoclarke . I'm pretty sure that while we maintain these ETLs, the KITS platform is outside our purview. Brian C. can confirm. I can email Brian to confirm that distinction and hopefully close out the issue on our end.

[2022-04-26 18:47] TracyLinder commented on #8838
I asked @Nadin-Nader to submit a Service Request ticket for this, per Gita's instructions.

[2022-04-26 18:50] frankhereford commented on #9004
@amenity wrote:

Thanks Amenity - that's perfect. Thank you for doing that. I've set a reminder in slack to turn the DAG back on in the morning. @chiaberry kindly turned it off so we wouldn't get notified every five minutes in the airflow channel.

[2022-04-26 18:56] atdservicebot opened #9005 "Rename performance measure 9353 in Data Tracker"
Data Tracker

Please update the division for performance measure 9353 from Transportation System Development to Arterial Management. https://atd.knack.com/amd#performance-measures/performance-measures-fiscal-details/61e9947f77f14207219666ac/

Flexible  — An extended timeline is OK

Melissa B.

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/62684038278227

[2022-04-26 18:58] #8963 closed

[2022-04-26 19:09] chiaberry opened #9006 "Add funding source column to Projects List Table"
Add Funding Source Name.

filtering is a "should", if its straightforward, include it.

[2022-04-26 19:11] andrewshensky opened #9007 "Add Non-Linear Projects to MAP_EAZ_Lines Dataset"
2 non-linear datasets (VZ Intersection Safety and Street Rehabilitation) need to be incorporated into the MAP_EAZ_Lines dataset, which includes all other MAP projects. This will allow all project types to be incorporated into one dataset, streamlining the MAP/EAZ Dashboard.

[2022-04-26 19:24] chiaberry opened #9008 "Persist column configuration between user sessions"
Follow up enhancement to this issue: https://github.com/cityofaustin/atd-data-tech/issues/8931

Previous issue addressed the column configuration resetting between renders. This issue should persist the toggled columns between reloading, navigating away, new sessions.

Configuration could be stored in url, as a cookie, or in local storage.

[2022-04-26 19:36] andrewshensky commented on #8987
The missing values for asset condition have now been calculated to the production sign data following a join back to the work order dataset.

[2022-04-26 19:36] #8987 closed

[2022-04-26 20:01] TracyLinder commented on #7689
### Mtg w/ AW 4/26
_Tracy, Amber, Reyna, Jaron._

Idea: Any time AW/TAPS/Infill is added as a formal review on the info tab of the PR, the sys should auto-update the SIF info to yes at the same time. Reyna will send us the info code.

NOTES:
- PR intake requires the applicant to submit a WWWSPV form. This is how intake knows if AW should be assigned as a formal reviewer.
- Reyna will send us their

[2022-04-26 20:34] KaroEngstrom commented on #8990
T 4/26/22 Synced with Diana and explored potential batch update need for this (none at this time).
 
- [x] Updated [Traffic Count & Data Collection Requests table](https://atd.knack.com/amd#traffic-count-traffic-data-requests/) to initially show both old ASSIGNED TO and new Assigned To fields for side-by-side comparison
- [x] Compared the fields and if they are matching, remove the old ASSIGNED TO

[2022-04-26 20:45] Nadin-Nader commented on #8887
@Sreelatha-BlazeKannan @TracyLinder this has been deployed to PROD

[2022-04-26 20:48] Nadin-Nader commented on #8887
I let ROW know this is on PROD via TEAMs

[2022-04-26 20:49] frankhereford commented on #8994
This is completed, and the prefect library (and CLI tooling) it provides can be used similarly to we have on data02.

[2022-04-26 20:49] #8994 closed

[2022-04-26 20:49] Nadin-Nader commented on #8783
@SubhaShroff @TracyLinder this has been deployed to PROD

[2022-04-26 20:51] Nadin-Nader commented on #8783
I informed Paloma and Isabel via TEAMs chat

[2022-04-26 21:44] SubhaShroff commented on #8926
@Nadin-Nader  This is deployed in TEST. I tested it on TEST Portal. The extra fields are removed. Here is the screenshot of it.

![image](https://user-images.githubusercontent.com/51680715/165397332-1c12d069-cac0-417c-bf99-4f0be04088e0.png)

![image](https://user-images.githubusercontent.com/51680715/165397443-eba42e2b-aabe-40c2-bce9-beb64cacae18.png)

I think its ready for UAT.

[2022-04-27 14:25] dianamartin commented on #9001
Emailed stakeholders of the updates 4/26

![image](https://user-images.githubusercontent.com/21112975/165541051-e5590991-b79b-48b9-aad9-1d57df7122c3.png)

[2022-04-27 14:33] moorerst commented on #8802
Stakeholders approved the design and work flow. Tool went live 4/25. Closing this issue.

[2022-04-27 14:54] dianamartin opened #9009 "Remove Linker 21 on OTS Web Map Applications"
Cathy K.
SMB

Emailed 4/27

I replied - 4/27

You’ll go to the OTS Dashboard>OTS Banner Locations
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/596e147f-fda1-4bcb-997d-c9f8cb46fc7a)
Query the table to look for the location you want, Click “Details”
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/239cb999-1a61-4c4f-a442-9b4f7ec01521)
Then clic

[2022-04-27 15:08] dianamartin commented on #9009
Removed Location for Linker no. 21 on the
- [x] City of Austin's Street Banner Program: Over-the-Street Interactive Web Application – Customer View on website
- [x] Web Map Reference embedded in Street Banner application

[2022-04-27 15:16] dianamartin opened #9010 "IT Support: Remove AirWatch Profiles for 3 users, getting reassigned to new techncians"
Jorge G.
AMD

Messaged 4/27

| Name | ID | Action
| --- | --- | -- |
Larry | JY1R | Deleted
Roman | H2QX	| Deleted
Ed | FJCB |  Deleted
Lawrence | MT9Y | Deleted

[2022-04-27 15:30] atdservicebot opened #9011 "New Report, Replacing OSE Parking Spreadsheet for big events"
AMANDA

We would like a report for the Meter Shop that lists the information in AMANDA in a format that will be helpful for both of us.

A spreadsheet that lists the information input into AMANDA from the portal and the AMANDA users at the Office of Special Events is useful for the Meter Shop to install materials on the ground.

We currently have a separate spreadsheet that we update. What happens

[2022-04-27 16:24] TracyLinder commented on #9005
I updated issue name & assigned to @amenity

[2022-04-27 16:26] dianamartin commented on #8691
# Testing - 4/27

[2022-04-27 16:46] amenity commented on #9004
There was a KITS update yesterday that caused this outage, so closing on our end. I learned a lot though! 😅

Good info from Lance via email:

DTS has process(es?) that query data from KITS to publish to Socrata which we see as a DTS process, but one that Kimley-Horn assists with from the KITS platform side as need😅

#### KIT-y things I had never looked at before this incident

**Related repos**
-

[2022-04-27 16:48] mateoclarke commented on #9004
I don't know if this is ready to close. The DAG isn't yet functional.

[2022-04-27 16:50] Nadin-Nader commented on #8999
Email from Nathan Aubert (**_TDS_**):

[2022-04-27 16:52] amenity commented on #9004
Aha, thanks @mateoclarke. Catching up on Slack now. I'll hand closing duty over to y'all. ;)

[2022-04-27 17:07] dianamartin commented on #8691
Feel good about enhancement, it's behaving as expected.

[2022-04-27 17:07] #8691 closed

[2022-04-27 17:18] Nadin-Nader commented on #8674
Asked Paloma and Tracy Subha's question. Waiting on a response

[2022-04-27 17:21] mateoclarke commented on #9004
Adding myself as assigned to this issue. I've shared with LB our current "permissions denied" error and suggested the need for enhanced permissions for our account to access the KITS DB.

[2022-04-27 17:35] vschandramouli opened #9012 "SIF - Add Process 'ATD - SIF Review' Process to VBMPR"
**This ended up being a duplicate feature of #8916

Process functionality expected to be similar to #8916. More information TBD.

[2022-04-27 17:41] dianamartin commented on #9010
Waiting on Jorge to tell me that Lawrence's tablet is successfully working again, not upside down

[2022-04-27 17:47] moorerst opened #9013 "Add new RPP zone to backend portal"
Can you help us with adding a new RPP zone to the Knack Permitting portal? We have the Woods of Westlake neighborhood becoming a permanent RPP area with a new Area # being 50.

[2022-04-27 17:49] moorerst commented on #9013
@dianamartin would they add it themselves from Lookup/RPP Zones/Add RPP Zone?

![image](https://user-images.githubusercontent.com/56606465/165588448-2c794827-c2a5-4ce5-a22a-d1abd2754715.png)

[2022-04-27 17:51] moorerst commented on #9013
Does the Eligibility Listing also need to be updated?

[2022-04-27 17:53] dianamartin commented on #9013
@moorerst The spreadsheet "Eligibility Listing" is supposed to be updated by Ryan. The one on the app should be updated from that RPP Zone Address table. Yes, they should update the zone on that page.

[2022-04-27 18:02] #8760 closed

[2022-04-27 18:08] SubhaShroff commented on #1829
@Nadin-Nader  Is it possible to get the list of fees with feecodes that are eligible for SH waiver?

[2022-04-27 18:08] TracyLinder commented on #2900
### Update - Spring 2022

The portal stakeholders are currently fully focused on the Street Impact Fee Project #5078. I've halted new development to the Transportation Development Services Portal until after SIF has released and been stabilized. (_Around July 2022_)

[2022-04-27 18:10] amenity opened #9014 "Provide users a quick view of the projects they are following"

[2022-04-27 18:10] patrickm02L commented on #8643
In grooming4/27/22, Stephanie is following up about project standardization.

[2022-04-27 18:10] dianamartin commented on #8986
Configure Attachment Option - 3 (Table), ping Patrick so he can start testing

[2022-04-27 18:15] amenity commented on #8882
@TracyLinder - does this need a ROW label?

[2022-04-27 18:15] #8990 closed

[2022-04-27 18:15] TracyLinder commented on #8949
**Notes:**

- Some TCP case statuses do have automation features/triggers.
    - @ChrispinP can you please comment w/ a list of the case status that have the automation triggers?

[2022-04-27 18:15] TracyLinder commented on #8880
Per Chrispin, this can be closed. We'll create a new issue for each import requested.

[2022-04-27 18:15] #8880 closed

[2022-04-27 18:21] TracyLinder commented on #8882
@amenity yes. I added workgroup ROW & the product label.

[2022-04-27 18:28] #8988 closed

[2022-04-27 18:28] #8968 closed

[2022-04-27 18:44] Nadin-Nader commented on #8984
I have spoken to Anu and she found that the issue could be with the Folder description. She asked that i have Bake change the name to something shorter. I sent an email to Blake. Waiting on his response:

[2022-04-27 18:47] dianamartin commented on #9013
Sent stakeholders email - 4/27

RPP staff can actually update this in the RPP Portal themselves.
You’ll find it under “Look Up”> RPP Zones
![image](https://user-images.githubusercontent.com/21112975/165597835-0afc2bc1-c0de-4734-aea0-094d597e77c9.png)
Click “Add RPP Zone”
![image](https://user-images.githubusercontent.com/21112975/165597868-f124f1e4-0b18-48df-8bba-07cb5293af95.png)
And fill out the

[2022-04-27 18:57] andrewshensky opened #9015 "Push all QC Feature to Production Sign Data"

[2022-04-27 18:58] andrewshensky opened #9016 "Internal RAS Data Collection Sync"

[2022-04-27 18:58] Lpriya-LIT commented on #8892
@TracyLinder @Nadin-Nader Verified in Test, Process and Attempt names has been updated.

[2022-04-27 18:59] Lpriya-LIT commented on #8894
@TracyLinder @Nadin-Nader Verified in Test, looks good.

[2022-04-27 19:00] Lpriya-LIT commented on #8857
@TracyLinder @Nadin-Nader Verified in Test, The two new info fields has been added to BP, PR, SP and C8 folders.

[2022-04-27 19:00] Lpriya-LIT commented on #8893
@TracyLinder @Nadin-Nader Verified in Test. SIF Service Area, Council District has been removed.

[2022-04-27 19:02] andrewshensky commented on #9016
**Meeting Notes**

- Demoed feature alignment Pro project
- RAS pilot data still expected by end of this week, however still awaiting confirmation
- Need to add field for Removal Date to sign asset layer
- Install dates for Removals will need to be cleared and transferred to new Removal Date field
- All Asset Conditions of "5" can be changed to "4" to fit updated domains

[2022-04-27 19:02] #9016 closed

[2022-04-27 19:05] TracyLinder commented on #8732
@Lpriya-LIT can you please add a comment with your recent updates?

[2022-04-27 19:20] TracyLinder commented on #8906
### FAKE GL NUMBERS

Please follow this format (_not all districts are in the example below_)

<div ccp_infra_version='3' ccp_infra_timestamp='1651087169859' ccp_infra_user_hash='881534590' ccp_infra_copy_id='21fc64a5-e435-4032-aa08-4d0a6229b156' data-ccp-timestamp='1651087169859'><html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet

[2022-04-27 19:21] TracyLinder commented on #8906
@vschandramouli please tidy up the AC & assign to Priya & put On Deck

[2022-04-27 19:26] TracyLinder commented on #8906
**NOTE** Payments can only be tested in test environment.

[2022-04-27 19:27] TracyLinder opened #9017 "SIF AMANDA Permissions"
**The following users need SIF folder permissions:**

- [ ] Tracy - LINDERT
- [ ] Vish - CHANDRAV
- [ ] Amber - ~MITCHEA~ MITCHLLA
- [ ] Nathan - AUBERTN
- [ ] Dan V - VALBRACD
- [ ] Bryan G -  GOLDENB
- [ ] Sree - SRBLAZE, SBLAZETEST
- [ ] Subha - SHROFFS,SHROFFS1
- [ ] Nadin - NADERNAD, NADERTEST

[2022-04-27 19:28] mateoclarke opened #9018 "[Enhancement] Ability to add non-Moped users to Project Team"
As a Moped user, I need the ability to add team members to projects who do not have login access to Moped.

### In scope
- On the staff page, add a "Role" option called "No login" that enables staff to create non-user staff members.
- Remove the ability to create a user with a "Viewer" role (b/c viewer-specific functionality is not currently implemented in the editor UI)
- Update the Moped API to

[2022-04-27 19:32] #9009 closed

[2022-04-27 19:33] dianamartin commented on #8939
@moorerst when do we close this one?

[2022-04-27 19:34] dianamartin commented on #9001
Lauren replied 4/26

[2022-04-27 19:34] #9001 closed

[2022-04-27 19:35] Lpriya-LIT commented on #8732
@TracyLinder A custom web service is used to make a folder visible in Public search,  Need to do a commit to add SIF to that, Work in Progress

[2022-04-27 19:36] dianamartin commented on #8971
Follow-up with stakeholder
4/27 at 2:35 PM

[2022-04-27 19:38] #8971 closed

[2022-04-27 19:39] dianamartin commented on #9005
@amenity I grabbed this one and assigned to Karo to do because I saw it in the inbox, but it hadn't been assigned out.

[2022-04-27 19:43] TracyLinder commented on #9017
@Lpriya-LIT the list of users is ready in the description. Thank you.

[2022-04-27 19:45] TracyLinder commented on #7689
### 4/27 Core Team Mtg
_Tracy, Vish, Priya_

- Everything in the Review/QA column is in Test & ready for UAT
- Do we need to add SIF infos to SPC folder? `Discuss w/ team`
- We will move forward w/ FDU mapping #8906

**Priorities:**
1. FDU Mapping
2. PR - ATD SIF Review
3. VBMPR - ATD SIF Review

[2022-04-27 19:47] dianamartin commented on #9010
Jorge replied

[2022-04-27 19:47] #9010 closed

[2022-04-27 19:49] dianamartin commented on #8992
- Karo and I synced on 4/22 and slapped together a SSPR prototype. We focused on capturing the content on the PDF version of the SSPR. It looks overall workable.
- Demoed the module to Stephanie on 4/27

Next Steps:
- discovery on user permissions and the forms

[2022-04-27 19:59] atdservicebot opened #9019 "Update AMANDA Permissions - Bryan G. - SPC & DA (Waiting for automation to Update PROD)"
**User:** Bryan G
**ID:** GoldenB
**Permissions Requested:** SPC, DA - Identical to MITCHEA

----
### DTS Request Form Submission:

AMANDA

Please add permissions for Site Plan corrections and exemptions as well as zoning DA cases. Permissions would look identical to Amber Hutchen's profile.

Thank you.

I will have the ability to send comments to applicant via AMANDA and approve/reject site plan

[2022-04-27 20:00] TracyLinder commented on #8916
### Email to PR Leads
_Mackenzie O & Christopher H._

Hello,

ATD will begin working on the PR folder next week to add SIF features. An overview of those features is below. I met with DSD's IT managers last week and got their approval to move forward with this development. I will also be sending out a separate email about user acceptance testing (UAT).

I have 2 questions for both of you:
When int

[2022-04-27 20:16] ChrispinP commented on #8949
@TracyLinder I have created a Miro board for the Statuses as they are currently set up [Status Workflow](https://miro.com/app/board/uXjVO5Hzd54=/)

[2022-04-27 21:02] patrickm02L commented on #8960
We can use the work that Chia's doing in Moped to help with Multi-select for coordinating partners, as well as a JSON blob.

[2022-04-27 21:27] TracyLinder commented on #9019
@Nadin-Nader I assigned this to you. Please email Bryan the NURF.

[2022-04-27 22:05] amenity commented on #9005
Thanks, @dianamartin !

[2022-04-27 22:10] amenity commented on #9014
@mateoclarke @tillyw - will you please describe a bit and size the approach you're taking?

[2022-04-27 22:55] amenity opened #9020 "Update GIS emergency contact on automated DTS service request confirmation email"
![Screen Shot 2022-04-27 at 5 38 39 PM](https://user-images.githubusercontent.com/1463708/165644519-528d9ba7-8755-4a11-b6a6-69174b642604.png)

[2022-04-28 12:52] vschandramouli commented on #8906
Updated AC, moving to On Deck.

[2022-04-28 13:15] #8998 closed

[2022-04-28 13:19] andrewshensky opened #9021 "Sign Direction Not Populating with Domain Value"
Sign direction values from work orders are the description value, not the coded value of the production domain. Values currently in production need to get updated and this issue needs to be remedied in the processing model to prevent the issue in the future

[2022-04-28 13:36] dianamartin commented on #6965
Closing since the historical TIA case import has been completed, will create a new issue for the TIA geo location association.

[2022-04-28 13:36] #6965 closed

[2022-04-28 13:38] dianamartin commented on #8548
- [x] Chrispin did formatted coordinates to match mitigation locations
- [ ] Currently associating Street Segments to TIA data

[2022-04-28 13:39] #6776 closed

[2022-04-28 13:39] Nadin-Nader commented on #8887
Per Paloma:

[2022-04-28 13:47] andrewshensky opened #9022 "Values Missing from ASSET_SIZE in Production Data"
There is a much higher number of null values than expected. Should be able to join back to work order data to populate missing values

[2022-04-28 13:51] dianamartin opened #9023 "[MEETING] Historical TIA Mitigations - Next Steps & redefine goals"

[2022-04-28 14:08] SubhaShroff commented on #8035
@Nadin-Nader I tested Merge Document on TEST. It looks as follows and the highlighted part is meant for user phone. Since, we have not given any phone number for 'Project Connect Office' user account, it will always display empty. That is my observation. Needs feedback on it. **Otherwise, its ready for UAT.**
RSN: 12867135
![image](https://user-images.githubusercontent.com/51680715/165770669-5ed61

[2022-04-28 14:09] dianamartin commented on #9023
# Diana Notes
Steps
- Merging TIA Mitigation datasets
- Cleaning the TIA Mitigation data - grammar & spelling, records are using the same data values
- Data values in those fields make sense
  - content formatting
- Reviewed to remove duplicates from the different datasets
- Resulted 960 records
- To get them into TDS portal, need to tie to TIA cases
- Imported historical TIA Cases
- Match TIA Mit

[2022-04-28 14:10] atdservicebot opened #9024 "[TDS Portal] - Feature: TDM Measures"
Transportation Development Services (TDS)

I have a performance measure that I would like to be able to report on. I would like to add information to the TIA portal on Transportation Demand Management (TDM) measures. It is something we track as a team, but we do not put that data into the TIA KNACK portal. I need the goal TDM % reduction (based on the geographic area of the project) and then want

[2022-04-28 14:27] atdservicebot opened #9025 "[TDS Portal / TIA] - Update TIA Mod for SIF"
## Updates to the TIA Mod for SIF
**SIF goes into effect 6/21 and needs to be incorporated into the TIA Mod.**

- Mitigations Page:
    - Move Fee-in-Lieu table below constructed improvements & hide when there is no data.
    - Move the mitigation count fields to the Mitigation Fee section

- Case Details Page:
    - New tia case detail field: SIF Service Area (_(17 values total) A through P, and

[2022-04-28 14:42] frankhereford commented on #9004
Chad at CTM responded to my teams message from Tuesday today via email:

[2022-04-28 14:49] dianamartin commented on #8727
We intent to re-purpose this issue to be the task for updating Geo records with the TIA Mitigations

[2022-04-28 14:57] Lpriya-LIT commented on #9017
@TracyLinder @vschandramouli Created request to Add the users to SIF - Button Permission
Request Number - SCTASK0214980

[2022-04-28 14:57] dianamartin commented on #9023
- Geo association task #8727
- Import task #8548
- ** Create new Mitigations Details page
- ** Update TIA Mitigations page

[2022-04-28 15:18] moorerst opened #9026 "Redirect RPP customer to Passport solution"
RPP request will be moving from Knack to the Passport solution around July 1st 2022.
The plan is to process the Orange RPP renewals using the new Passport solution and going forward.
Communications will go out to RPP permit holders in June announcing the new system/process.
Beginning in July customers will receive another communication will specific details and will be able to purchase their RPP p

[2022-04-28 15:29] #8939 closed

[2022-04-28 16:15] atdservicebot opened #9027 "Requesting account for the TDS Knack system."
Transportation Development Services (TDS)

Requesting account for the TDS Knack system.

Soon — This week

Matthew S.

Request ID: DTS22-103905

[2022-04-28 16:21] dianamartin opened #9028 "Enhance "TIA Mitgations" search page for TIA Mitigation Managment"
From meeting 4/28 #9023

# Enhancements on TIA Mitigations

- [x] Add locations fields (intersections, street segments)
- [x] Add `Project Address`
- [x] Add (New field) `Fund Status`
- Available
- Pending
- Spent
- [x] Add (New field) `Category`: "Historical" (to differentiate between historical TIA Mitigations v. more recent ones. To help with filtering)

[2022-04-28 16:22] dianamartin opened #9029 "Create "Mitigations details" page on TIA Migitations search page"
From meeting #9023

Requester would like the ability for a stakeholder to location a TIA Case that has a mitigations on it and be able to open up a details page to see the individual mitigations.
![image](https://user-images.githubusercontent.com/21112975/165801118-a12e54a1-70d3-41d3-9d65-6770d44b1cca.png)

This would be built on the current "[TIA Mitigations](https://atd.knack.com/development-ser

[2022-04-28 16:42] TracyLinder commented on #9027
**Email to Customer:**

Hello Matthew,

We received your request for a new user account. The TDS user accounts are managed by TDS power users. Those folks are: Nathan A., Amber H, Bryan G., Nazlie S.

Please let me know if the PM's aren't able to help.

Thanks,
Tracy

[2022-04-28 16:42] #9027 closed

[2022-04-28 16:46] moorerst commented on #8818
**Update - 4/28**

- Scheduled meeting with Office of Special Events - meeting has been rescheduled several times. Currently scheduled for 5/3

- Forwarded requirements that were documented from meeting with MMC to Lance for review. Wanted to make sure we captured what they wanted.

- Darren facilitated a demo with the vendor One Network, I did not attend.

- Updated the SOW, communicated with Dar

[2022-04-28 16:48] TracyLinder commented on #9024
Scoping meeting w/ Nathan & Bryan scheduled for 5/12.
- @ChrispinP will be out so i invited @dianamartin

[2022-04-28 17:09] Nadin-Nader commented on #8232
@Lpriya-LIT I have sent this over to the DevOps CM Team to be deployed to **_DEV_** under **SCTASK0215038**

[2022-04-28 17:49] moorerst opened #9030 "Update RPP - Add RPP Zone Restriction Days/Time"
Add the following day/times to the RPP/Add RPP Zone /Restriction Day/Times drop down:

 Monday-Sunday 8am-8pm

[2022-04-28 18:30] TracyLinder commented on #7689
### Updated Timeline

![SIF TIMELINE](https://user-images.githubusercontent.com/49930868/165822190-cb863ed2-5fe6-4a64-8447-1f96305594af.jpg)

[2022-04-28 18:35] TracyLinder commented on #8906
***Update:**

Per Gita's feedback we are taking a different approach. @Lpriya-LIT please comment with a summary of Gita's feedback. @vschandramouli please update AC.

[2022-04-28 18:41] TracyLinder commented on #7689
### Project Meeting 4/28

**Agenda:**

- [ ] #8906
- [ ] Priya to demo SIF in test. `Can we begin UAT?`
- [ ] Recap of conversations w/ Austin Water
- [ ] Review timeline & SIF board

[2022-04-28 18:43] Lpriya-LIT commented on #8906
**Discussion with Gita **
We need to have different fee codes for each District. we have to link the GL codes with each fees.
So there will be 17 fee codes.
The district name can be added to the fee description.
Example : ATD - Street Impact Fee - A, ATD - Street Impact Fee - B and so on.
It is not a good approach to add GL numbers in lookup table, better approach is to configure in Amanda so that

[2022-04-28 18:44] SubhaShroff commented on #8674
@Nadin-Nader  @TracyLinder After call with Paloma today, here are the responses from her:

1. Should we add the info (75948) Hourly Meter Rate to RW-TURP? Yes
2. Does the parking rate increase with the extension tiers as other TURP ROW fees do? No.

I started working on this with these inputs.

[2022-04-28 19:03] TracyLinder commented on #8906
**FDU Status from Dan V,**
- Dan emailed the city's controller... asking for help. If they tell Dan no, we will move forward with creating 17 funding numbers.

[2022-04-28 19:12] SubhaShroff commented on #1829
@Nadin-Nader @vschandramouli  As per our call with Paloma today, I am updating here with the responses from her:

1. Is it possible to get the list of DS fees with feecodes that are eligible for SH waiver? It is mentioned Inspection fees. I am not sure which is which.

![image](https://user-images.githubusercontent.com/51680715/165827323-89adf54b-6aab-4263-a844-45f7123bf58c.png)

The call was reco

[2022-04-28 19:15] frankhereford commented on #9004
Cole R. at Kimley-Horn wrote the group asking that we try to access the mysql server again after they found a "SME SQL role that was changed" which they reverted. The DAG was turned back up and is processing data once again. Thanks everyone!

[2022-04-28 19:15] #9004 closed

[2022-04-28 19:39] Lpriya-LIT commented on #8726
Freeform column names are updated in #8894. Need to update the coding to include the change. Work in Progress.

[2022-04-28 19:44] mateoclarke commented on #9000
Just wanted to articulate my support for this enhancement. Frank mentioned to me he thought it would be beneficial to make this update as he works on refactoring/Prefect-ifying the CRIS ingest process.

[2022-04-28 20:10] #9005 closed

[2022-04-28 21:00] frankhereford commented on #9000
We had [a brief discussion about the column name](https://austininnovation.slack.com/archives/CM9MK950S/p1651176097823319) in slack today, which lead to the outcome of picking `imported_at`. The intent is to describe the event when we pulled the data into the VZD and differentiate it from when the crash was originally created in upstream systems.

I plan on creating a PR shortly after today's dev

[2022-04-28 21:12] atdservicebot opened #9031 "It is about the "adjust due date" feature in KNACK. Though we're adjusting the due date, the adjuste..."
Transportation Development Services (TDS)

It is about the "adjust due date" feature in KNACK. Though we're adjusting the due date, the adjusted due date is not reflected in the reviewer's side.

https://atd.knack.com/development-services#tdr-advanced-search/search-tdr-cases/tdr-case-details/60dcb8998493a1001e0d8c6b/

Internet Browser: Edge

Matiur R.

[Attachment](https://api.knack.com/v1/applica