[2020-08-13 15:39] ChrispinP commented on #3630
Removed duplicate time values, verified drowpdowns now only showing correct values. Verified records that no empty fields are present.

complete

[2020-08-13 15:43] TracyLinder commented on #2511
There’s a typo down there. This is definitely in Prod now. 🎉

All the Best,

Tracy Linder (she/her)
Product Manager, Data & Technology Services
Austin Transportation Department
——————————————————————
data.mobility.austin.gov<https://gcc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdata.mobility.austin.gov%2F&data=02%7C01%7CTracy.Linder%40austintexas.gov%7C7945cc805599404f4caf08d8359631ff%

[2020-08-13 15:48] TracyLinder commented on #3447
### Email to Sangeeta:

Hi Sangeeta,

The 2 fees that were missing from the Insert + Run are now live in Prod. Below is a screenshot of the ticket details. Please let us know if anything isn’t working as expected.

[2020-08-13 15:48] #3447 closed

[2020-08-13 15:55] moorerst commented on #933
Status email from Joesph to Gil Aug 13th
Hello Gil,

I really apologize on the delayed response. Yes, you will be receiving a Sole Source COE for this very soon. I apologize on the delay, I have been putting everything together as time allows and it has gotten away from me. I will block of time and try to get it submitted by the end of next week.

[2020-08-13 15:55] jaime-mckeown commented on #3586
Emailed James to see if he resolved the connection issue.

[2020-08-13 15:56] jaime-mckeown commented on #3516
Commented on Francesco and Ryan's CTM Requests regarding their GISMAINT accounts to see if they will be completed soon.

[2020-08-13 16:01] jaime-mckeown opened #3687 "New RPP Districts Feature Layer / Map / App - Ryan R."
- [x] Publish new feature layer that has RPP Zones and Districts that Francesco created.

- [x] Create Web Map, add RPP Properties feature layer (for public viewing)

- [x] Create Web App (for public viewing)

- [ ] Need to get map added to RPP Website

[2020-08-13 16:18] sergiogcx commented on #3575
Ideas:
1. I need to find ways to create backs within Socrata.
2. Extract data from Socrata
3. Rehearsal of the extraction and insertion.

Problems or constraints:
- Currently VisionZero Viewer looses all its data for 15 minutes.
- The amount of disk space in the airflow server.

[2020-08-13 16:19] sergiogcx commented on #3575
Alternative:
- Insert to staging first, if all succeeds proceed to insert to production.

Pros:
- Easier to implement
- Staging and production always stay updated.

Cons:
- Does not have backups, no way of rolling back.

[2020-08-13 17:00] mateoclarke commented on #3611
Closing this now that we have https://github.com/cityofaustin/atd-data-tech/issues/3666 scheduled.

[2020-08-13 17:00] #3611 closed

[2020-08-13 17:01] mateoclarke commented on #2783
@JaceDeloney we didn't talk about this one during planning yesterday, maybe we push this back into Sprint 32?

[2020-08-13 18:49] amenity commented on #3661
Yup, I think Sergio is a master of such systems. ;) Are y'all tracking versions of the VZ crash reports, @JaceDeloney ?

[2020-08-13 18:55] JaceDeloney commented on #3661
@amenity I'm not. @sergiogcx might have more insight here.

[2020-08-13 19:43] TracyLinder commented on #3500
### Meeting Notes:

- The only possible concern is with Code Folders, who have used 'City Department' in the past, but aren't anymore.
- Code requested a data pull of all folders related to a people record type 'City Department'
    - Hoping @licarir can help w/ this

Next Steps:
- [ ] Design the solution
    - Identify all records that should not be 'City Department'
    - Update their people rec

[2020-08-13 19:46] TracyLinder opened #3688 "[Bug] Custom New Submission & Pay Fees Buttons on TIA Module Not Activating"
### Clicking on the 'New Submission' button isn't doing anything.
- Example link [here](https://atd.knack.com/development-services#review-status/view-details/5f31b0eff10652001618909b)

[2020-08-13 21:07] Nadin-Nader commented on #1766
@Sreelatha-BlazeKannan @SubhaShroff i have deployed Report 50514 to DEV and TEST

[2020-08-13 21:19] JaceDeloney opened #3689 "Update cityid classification for certain jurisdictions"
Xavier requested the we make the following updates to allow for additional jurisdictions to be included with city_id 22. This would allow him to do additional analysis in coordination with other, adjacent municipalities (e.g., coordinating crashes with the City of Buda).
- [ ] Update crashes that fall within jurisdictions (5,3,7,8,10) to be classified as `city_id` = 22

[2020-08-13 21:20] JaceDeloney opened #3690 "Update location associations query"
- [ ] Update the query for city_id on the table atd_txdot_crashes when the trigger for the location is run.

[2020-08-13 22:05] ChrispinP commented on #3638
No email notification updates needed.

Payment Options page did need an update though with the new google maps location, hours, and payment options/methods

This page will also need to be updated for whomever manages it: http://austintexas.gov/page/permit-application-process-residential-permit-parking-program

[2020-08-13 22:05] licarir commented on #3536
@Nadin-Nader I have promoted these two records to TEST now. Code 90245 for lookup1 of 199 and 191. Please review and let me know if it looks correct so I can get this to PROD soon. If we need to figure out how to get it to email from Test, we can work on that.
Thank you.

[2020-08-13 22:07] ChrispinP commented on #3625
Surbhi and I found two workarounds currently:
1) concatenate month number with the month name for reports
2) use the issued date field and group by month

Reports will also need to be grouped into yearly/ytd options to separate 2020 permits from previous years.

[2020-08-14 00:14] sergiogcx commented on #3575
Since the ETL is not even active, I am going to go ahead and merge this in without review:
https://github.com/cityofaustin/atd-vz-data/pull/904

This basically allows us to pass via environment variables the names of the dataset we need the script to upsert to.

[2020-08-14 01:34] TracyLinder opened #3691 "Scoping Meeting: RW Renewal/Extension Processes"
**Date/Time:** 8/19/20 @ 1pm
**Attendees:** Tracy, Nate, Kaarthy, Robert, Kim

[2020-08-14 04:06] TracyLinder opened #3692 "[Bug] Public Ability to Edit Case Details and Remove Breadcrumbs"
### TIA applicant is able to edit TIA case details after submission.
### The public is able to edit TIA case attachments

**Requirements:**
- Only TIA Case Reviewers should have the ability to update case information after customer submittal (from backend)
    - Excluding the 2 scenarios where the applicant is sent a link to add case attachments
- On the Submission Confirmation page:
    - Replace

[2020-08-14 04:09] TracyLinder opened #3693 "[Update] Change Submit Button Text for Edit Forms/Pages"
### Change button text from 'Submit' to 'Save & Continue'
- Button is located at the bottom of the Requester/Project Information page during the customer application workflow.

![image](https://user-images.githubusercontent.com/49930868/90212837-f0641300-ddb9-11ea-9c5c-ab2a14cfce96.png)

[2020-08-14 04:13] TracyLinder opened #3694 "[Bug] Delete Multiple Fields: Edit Request Details Page & TIA Review Details"
### Remove 3 fields from two pages on the TIA Portal
- Trips per day, land use, intensity of site
- Pages: Edit Request Details (public portal), and tia-reviews/view-tia-review-details

![image](https://user-images.githubusercontent.com/49930868/90213022-68323d80-ddba-11ea-82d0-f0de106fd59b.png)

[2020-08-14 04:28] TracyLinder opened #3695 "[Update] TIA Email Process for Comments, Scope, Attachments, and Submissions"
### When adding a scope type comment on TIA Review details and updating the Scope status to 'Approved', the system is sending the 'Request Submission' email to the customer.
- The Request Submission email should only be sent when the user clicks the button 'Request Submission' from the review details page.

[2020-08-14 04:33] TracyLinder opened #3696 "[Bug] Project Location Not Populating - TIA Public Portal"
### There is a project location in the case details, but it isn't loading on the review status > view details page

![image](https://user-images.githubusercontent.com/49930868/90214193-5ef6a000-ddbd-11ea-81f9-5db4b6abccfd.png)

[2020-08-14 04:35] TracyLinder commented on #3688
I'm testing a different case, and the page is working as expected, but the green button isn't there.

![image](https://user-images.githubusercontent.com/49930868/90214294-a0874b00-ddbd-11ea-95d9-cefa10d89436.png)

[2020-08-14 04:37] TracyLinder commented on #3688
You know that might be because I was logged in and had backend permissions.

[2020-08-14 04:42] TracyLinder opened #3697 "[Bug] Fee Status Field Error"
### Update Fee Paid Field to accept 'No' as a valid value.
- When updating the 'Review Fee Sent' field to 'Yes', and the Fee Paid field to 'No', the system throws the error "Fee Paid is Required"

![image](https://user-images.githubusercontent.com/49930868/90214598-a3cf0680-ddbe-11ea-9f74-9868d4696ff7.png)

[2020-08-14 04:46] TracyLinder commented on #3695
I just updated the title & description after doing more testing

[2020-08-14 12:30] Nadin-Nader commented on #2391
@Sreelatha-BlazeKannan @TracyLinder i looked as well and found that this is on TEST:

![image.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/06a4ffa3-b3d8-4034-9870-d3fe228cf59d)

[2020-08-14 12:54] Nadin-Nader commented on #1709
**STATUS:** On DEV pending UAT

[2020-08-14 12:55] aishwarya2505 commented on #1709
@Nadin-Nader , I shall test it now in DEV

[2020-08-14 12:56] Nadin-Nader commented on #3465
Waiting on deployment plan to send to CM DevOps Team

[2020-08-14 13:38] aishwarya2505 commented on #1709
@TracyLinder @Sreelatha-BlazeKannan @Nadin-Nader Tested 11884719 (RW , Street Event, Neighborhood) and 11884720 (RW, Parking Spaces, Neighbourhood). The validations work only for Street Event and Neighborhood.

[2020-08-14 13:38] Nadin-Nader commented on #1910
Sent email to everyone and set a meeting for the 18th at 1230pm to go over and refine the requirements and acceptance criteria.

**Status:**
Meeting set for the 18th @1230pm

[2020-08-14 15:49] SurbhiBakshi opened #3698 "Meeting - Help Billy B login into AMD Data Tracker using COACD."

[2020-08-14 15:51] SurbhiBakshi commented on #3698
- Billy was not able to log into https://data.mobility.austin.gov/data-tracker/#home/ using COACD credentials.
- He did not remember the non COACD credentials since it has been some time since he has used them.
- I asked him to try https://atd.knack.com/amd#home/.
- He got the same undefined error. But clicking back on the browser tab helped log him into the app.
- He is fine using the Knack inter

[2020-08-14 15:52] SurbhiBakshi opened #3699 "Update Covid 19 records for Frances H"

[2020-08-14 15:53] SurbhiBakshi opened #3700 "Meeting | DTS Service Desk Intro - August 14, 2020"

[2020-08-14 15:56] SurbhiBakshi opened #3701 "Meeting | DTS Service Desk Intro - July 24, 2020"

[2020-08-14 15:57] SurbhiBakshi opened #3702 "Meeting | DTS Service Desk Intro - July 31st, 2020"

[2020-08-14 15:58] SurbhiBakshi opened #3703 "Meeting | DTS Service Desk Intro - August 7th, 2020"

[2020-08-14 15:58] #3703 closed

[2020-08-14 15:58] #3702 closed

[2020-08-14 15:58] #3701 closed

[2020-08-14 15:58] #3698 closed

[2020-08-14 16:08] SurbhiBakshi commented on #3699
Went over process with Frances

[2020-08-14 16:08] #3699 closed

[2020-08-14 16:22] SubhaShroff commented on #1766
Thank you @Nadin-Nader.
@TracyLinder @Nadin-Nader @Sreelatha-BlazeKannan  I tested 50514, 50516 for the fixed UAT comments in DEV and TEST for all four folders: EX, DS, RW & ECV.
Its ready for your testing in DEV as well as TEST with updated reports.

[2020-08-14 16:30] ChrispinP commented on #3651
Update List of ROW TCP Tracker Users

**Name | Email**
Hector Aguilera | hector.aguilera@austintexas.gov
Robert Alvarez | robert.alvarez2@austintexas.gov
Paloma Amayo-Ryan | paloma.amayo-ryan@austintexas.gov
Brandi Bradshaw | brandi.bradshaw@austintexas.gov
John Carr | john.carr@austintexas.gov
Jessica Davis | jessica.davis@austintexas.gov
Micaela Gonzalez | micaela.gonzalez@austintexas.gov
Shawn

[2020-08-14 16:38] #3700 closed

[2020-08-14 16:46] amenity commented on #1674
@ChrispinP - thank you for the thorough testing and thought on this! So is it that the button doesn't actually disappear, it just moves? A screenshot or gif would be super helpful!

[2020-08-14 17:07] Nadin-Nader commented on #2631
@Sreelatha-BlazeKannan @aishwarya2505 @TracyLinder Reviewed the demo with the added changes and in my opinion it looks good.

[2020-08-14 17:13] Nadin-Nader commented on #3293
@Sreelatha-BlazeKannan @TracyLinder I have deployed this to DEV and TEST.

[2020-08-14 17:14] ChrispinP commented on #3566
Sent email to Kelsey for video link. Added field to form. Added field to bike share submissions table

Pending response from Kelsey to add video link

[2020-08-14 17:16] jaime-mckeown commented on #3687
Sent Ryan a link to the RPP Web App.
https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=ef0754fa549f48b4b499cc44d6eff9c0

[2020-08-14 17:33] SurbhiBakshi commented on #3535
In the reimburables_tracking object-
- [ ] Create a conditional on work_order_signs setting it to a Custom
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/0e163ecb-b063-4123-ad49-434ecbda0d5c)
- [ ] Create a conditional on work_order_markings setting it to a Custom, same as above.

In the Reimbursable Trackings table,
- [ ] Create a Trigger action that changes the Remove

[2020-08-14 17:45] johnclary commented on #3651
Thanks, @ChrispinP !

[2020-08-14 17:46] Nadin-Nader commented on #1709
@aishwarya2505 @Sreelatha-BlazeKannan Commit b205878910e6 is still in their to do column (SCTASK0089966). Gita just completed the Account portion of the work.

[2020-08-14 17:50] JaceDeloney opened #3704 "Check and update MDS versions for all providers"
When we upgraded to supporting 0.4.0 none of our providers used that version at the time. So we had to have some level of "backwards compatibility" for providers (like Spin) that still used older MDS versions. Over the past 6 months, a lot of providers have updated their MDS version.

Here is the current list:
[code]

- [x] check on all providers to see if we are using their latest MDS version
- [

[2020-08-14 17:51] JaceDeloney opened #3705 "Update MDS ETL processes for MDS version updates"
- [ ] update the ETL process that periodically checks for and uses the latest version from the provider

Related to #3704

[2020-08-14 17:58] Nadin-Nader commented on #2632
@TracyLinder @Sreelatha-BlazeKannan @aishwarya2505 I reviewed the demo and saw that the user can input their own unique values in the Field Type, meeting the update acceptance criteria.

[2020-08-14 18:01] amenity opened #3706 "Learn about VZ Coordination Tool"
### Objective
The VIsion Zero team has been building a geospatial tool to help understand what work may be happening or planned for at some of our highest Vision Zero comprehensive cost locations. It will also be used by the 2018 Vision Zero bond engineer team.

Frank has gotten it to a good alpha version and there are some interesting aspects that may fit nicely with the MOPED concept as it moves

[2020-08-14 18:07] kaarthym5 commented on #1926
@tracylinder @licarir set up meeting with stakeholders to get feedback and approval on this ticket.

[2020-08-14 18:10] Nadin-Nader commented on #3465
Received Deployment plan. Will send to CM DevOps by COB

[2020-08-14 18:26] kaarthym5 commented on #2397
@nadin-Nader we would need this updated list to complete this merge request. I have also set up a meeting with the stakeholders to get the final requirement refinement and move this to the backlog.

[2020-08-14 19:21] ChrispinP commented on #3697
Both fields were requiring a 'yes' value to submit the form. Removed this option since both answers can be 'No' or one can be 'Yes' with the other as 'No'.

complete

[2020-08-14 19:52] johnclary opened #3707 "Ability for technician to edit item comment after item has been issued"
As a a signal tech, I need to be able to add a comment on an item transaction that has already been issued to me.

We need to enable this commenting for special cases relating to conflict monitors, in which we need to know if the monitor was replaced or upgraded depending so that funds can be billed accordingly. The technician does not know this information until they're actually on-site at the wo

[2020-08-14 19:55] TracyLinder commented on #3526
Per Paloma, there are more updates to include in this section. We'll have more acceptance criteria to add next week 8/21.

[2020-08-14 19:57] TracyLinder commented on #3293
We just tested this in TEST, and it' isn't working as expected, and looks different than the report in DEV.
TEST RSN 2301353
[https://app.zenhub.com/files/140626918/41b25621-46cd-43b4-83b0-eb13dbb703d2/download](https://app.zenhub.com/files/140626918/41b25621-46cd-43b4-83b0-eb13dbb703d2/download

@Nadin-Nader @Sreelatha-BlazeKannan

[2020-08-14 19:59] TracyLinder commented on #2391
Per Palmoa, DTS can perform UAT on this when it's in test. Let them know when it hits prod.

[2020-08-14 20:09] TracyLinder commented on #1809
The customer warning template has been updated.

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/71e9a951-17dc-46aa-b3a1-b635216b26a4)

[2020-08-14 20:56] TracyLinder commented on #3293
### Update

- It seems the bug i described in my last comment is only happening with that folder; I can't replicate it.
- The 'Location Description' is still taking up a whole page, see Test RSNs: 12388517, 12394737

[2020-08-14 21:18] SubhaShroff commented on #1580
@TracyLinder @Nadin-Nader @Sreelatha-BlazeKannan This ticket is PROD Deployed.

[2020-08-14 21:30] TracyLinder commented on #1580
Stakeholders have been informed that this is in Prod. Great work team!

[2020-08-14 21:30] #1580 closed

[2020-08-14 21:33] TracyLinder commented on #3697
I tested this on record ID 15, and it worked as requested. Closing ticket.

[2020-08-14 21:33] #3697 closed

[2020-08-14 21:34] TracyLinder commented on #2632
@Sreelatha-BlazeKannan @aishwarya2505 please promote this up. Thank you!

[2020-08-14 21:51] TracyLinder commented on #2632
@Sreelatha-BlazeKannan @aishwarya2505 the demo looks great. Please promote to DEV.

[2020-08-14 21:51] TracyLinder commented on #2631
@Sreelatha-BlazeKannan @aishwarya2505 The demo looks great. Please promote to DEV.

[2020-08-14 21:52] TracyLinder commented on #2634
@Sreelatha-BlazeKannan @aishwarya2505 The demo looks great. Please promote to DEV.

[2020-08-14 21:58] TracyLinder commented on #1766
I just tested in TEST, and this looks great! I'm going to schedule some UAT with stakeholders before approving a promote. Thanks @SubhaShroff

[2020-08-14 22:00] ChrispinP commented on #3696
Cannot replicate this bug. Project Location logic was verified and is in place to make sure this field is completed upon form completion. Some existing test completions may have not filled this field in initially. Project Address is set to required for TIA Reviews.

Should 'Address' for Development Reviews also be set to required?

[2020-08-14 22:00] jaime-mckeown commented on #3686
All admin work is complete. I will change Parking staff's privileges after we go over everything.

[2020-08-14 22:06] TracyLinder commented on #1766
Meeting w/ Stakeholders scheduled for 8/18 @3pm.

[2020-08-14 22:19] SubhaShroff commented on #1713
@TracyLinder @Nadin-Nader  #1713 is DEV deployed. I tested it for the updated functionality. Its ready for your testing.

[2020-08-14 22:20] mateoclarke commented on #3666
**VZE front end reflections**

- no problems with routing, except with some Auth0 login
  - lazy loading included in CoreUI template
  - adding new pages was easy
- Netlify worked well, except for Auth0 preview app deployments
- no issues with Bootstrap + CoreUI, good documentation
- new Non CR3 upload tool component/editable spreadsheet, using React library was easy
- expanding on the functionali

[2020-08-14 22:34] ChrispinP commented on #3695
I believe this is working as intended when scope status changes.
![image](https://user-images.githubusercontent.com/67915167/90297347-c4956b80-de53-11ea-871b-2690be628185.png)

@TracyLinder do you have a copy of the email you recieved? I do not see 'Request Submission' text, just that Scope is approved and that a submittal and documents are needed to continue the review process.

[2020-08-14 22:45] ChrispinP commented on #3688
Confirmed these two custom buttons are not working. Will need to fix custom css/js or revert back to a default functional knack button.

[2020-08-14 22:55] ChrispinP commented on #3693
This is something we probably want to verify for all edit forms/pages to change 'Submit' button text to 'Save Changes' text. Would there be any cases for our this app or others where using Save instead of Submit does not make sense?

[2020-08-14 23:06] ChrispinP commented on #3694
@SurbhiBakshi @johnclary is this an existing issue by chance to remove these fields or are they still intended to be used and function appropriately?

A) I need to make sure these fields function and look correct on the add and edit review forms as well as the detail pages OR
B) need to remove/hide these fields from the forms and detail pages as well as any tables

[2020-08-15 03:25] amenity commented on #3666
[Recording here](https://web.microsoftstream.com/video/99863f6f-2162-4014-bdb8-7a36ea9d8b07). 📺

[2020-08-15 04:01] amenity commented on #2475
Ps plz think of clever names for DTS admin component repo. @mateoclarke - you have a gift for this ;)

[2020-08-15 04:12] amenity commented on #2475
PS, found this list of Material UI components I could see being slick for Moped:

- [Steppers](https://material-ui.com/components/steppers/) — related features: [Project Workflows](https://github.com/cityofaustin/atd-data-tech/issues/3655), [Project Phase Change](https://github.com/cityofaustin/atd-data-tech/issues/3655), [Reviews and Approvals](https://github.com/cityofaustin/atd-data-tech/issues

[2020-08-15 04:54] amenity commented on #3666
- Refactored #2475 for "Decide on a UI" framework fun
- #3343 covers my prep work
- @johnclary - wanna factor [this]( https://github.com/cityofaustin/atd-data-tech/issues/3507) in somewhere?

[2020-08-16 14:05] zappfyllc commented on #3661
I think this should be renamed to "File Attachments" if we're not using an existing repository product (Google Drive, Sharepoint), because I didn't imagine any sort of file directory with versioning. S3 would be fine for simple file storage, however, while versioning with S3 is easy-to-achieve, I think there needs to be user validation for versioning to justify that functionality because 1) no one

[2020-08-16 19:31] amenity commented on #3661
Oh, that's a really good point, @zappfyllc. If versioning wasn't requested by anyone, it makes sense to leave it out for now. Besides the backend implementation, it also complicates the UI to add version search/navigability.

That said... I personally find versioning + revisions (thinking Google Drive, OSX Time Machine) to be functionality that really saves the day every once in a while and makes

[2020-08-16 19:47] sergiogcx commented on #3661
File versioning is quite easy with S3, also retrieving a list of versions for a file is simple via API. As far as integration with Sharepoint or Google drive it should be also attainable by using [S3 Lambda Triggers](https://docs.aws.amazon.com/lambda/latest/dg/with-s3.html) and writing some python code for integration via something like [SharePlum](https://pypi.org/project/SharePlum/) or [PyDrive

[2020-08-16 22:07] #3666 closed

[2020-08-17 02:16] #3636 closed

[2020-08-17 02:38] johnclary commented on #3637
Tested w/ BrowserStack on Galaxy Note and Galaxy Tab S (Tab A and Tab E are not available).

[2020-08-17 02:38] #3637 closed

[2020-08-17 02:39] johnclary opened #3708 "Add CSS Optimizations for Mobile"

[2020-08-17 02:40] #3708 closed

[2020-08-17 02:43] johnclary commented on #1863
Dupe of [this issue](https://github.com/cityofaustin/atd-data-tech/issues/1648).

[2020-08-17 02:43] #1863 closed

[2020-08-17 04:21] amenity commented on #3706
<img width="1070" alt="Screen Shot 2020-08-14 at 2 15 29 PM" src="https://user-images.githubusercontent.com/1463708/90356905-c0fe1200-e016-11ea-816e-7fce9b71a2f8.png">

*[Recording](https://web.microsoftstream.com/video/1f261591-dadb-4ff8-a152-ffcc161fb019)*

## Data

**Austin Transportation**

- Active Mobility Projects (Interim Project DB, ATSD, Nathan Wilkes)
- Development Mitigation
- Emerging

[2020-08-17 04:24] amenity commented on #3706
@sergiogcx @mddilley - do y'all have anything to add? Sergio, not sure I captured where you were going with QGIS...

[2020-08-17 12:58] SurbhiBakshi commented on #3694
@ChrispinP - going to look at this today, dont think this has come to my notice before in the TIA app

[2020-08-17 13:51] Nadin-Nader commented on #1709
@aishwarya2505 @Sreelatha-BlazeKannan @TracyLinder  Commit b205878910e6  (SCTASK0089966) Has been completed and deployed. All portions of the work should be deployed and ready for Testing

[2020-08-17 14:22] Nadin-Nader commented on #3465
@Sreelatha-BlazeKannan @TracyLinder  I have submitted the Tasks for the CM Team to promote to Dev. SCTASK0090281 for the regular commit and SCTASK0090285 for the manual commit. I will be deploying the report to DEV today.

[2020-08-17 14:28] SurbhiBakshi commented on #3694
@ChrispinP - I can't find another issue that addresses this task. @TracyLinder - did you have a conversation about this with Diana, I am guessing she put in the 'DELETE' comments. I found the edit form, if that is what you need @ChrispinP

[2020-08-17 14:37] jaime-mckeown commented on #3516
No reply from CTM about their MAINT accounts, directly emailed person assigned to Francesco's request, emailed CTM DBA Team about Ryan's request since it still has not been assigned to a person.

[2020-08-17 14:46] johnclary commented on #3694
@ChrispinP unless Tracy says otherwise I think you can go ahead and delete these. Before you delete them, you'll want to check the display rules on any forms that use these fields and remove those first.

[2020-08-17 14:49] Nadin-Nader commented on #3536
@licarir it looks good in the lookup. Let me see if i can get Jaclyn to create and send herself or me an email, if not i will start an application and let her process it to see if i get the email. Once that is done i will let you know.

[2020-08-17 14:53] moorerst commented on #3638
Thanks looks like everything is up to date. One question do you know what this sad face is about?

![image](https://user-images.githubusercontent.com/56606465/90409998-73fa5a00-e06f-11ea-9cd4-9cddef1f9881.png)

[2020-08-17 14:57] Nadin-Nader commented on #2662
Sent email asking for clarification:

Maria,

Hope you are doing well. I am reaching out to you about 2662. Robert looked over the corrections that were needed and made some updates. He also added the following comment:

Maria said keep Safety Inspection fee (75040) as there is code in another fee procedure that requires that exist. That email is in the notes above.
79275 Date Notification Mailed

[2020-08-17 15:51] aishwarya2505 commented on #1709
@Nadin-Nader @TracyLinder @Sreelatha-BlazeKannan I am currently working with Martin as I am unable to log in to DEV. I should be able to test post resolving it.

[2020-08-17 16:11] jaime-mckeown commented on #3516
Finally got a response from CTM after directly emailing. They should finally be able to create database connections.

[2020-08-17 16:11] #3516 closed

[2020-08-17 16:12] moorerst commented on #3625
@ChrispinP question: the total of permits in the Number of Permits Issued pie chart is higher than the Monthly Permit Issuance YTD table
hang tag / 971 - 797
decal / 942 - 799
day pass / 931 - 769
Is this because the pie chart is counting permits issued before 2020? Just want to understand the difference. Thks

[2020-08-17 16:16] #3650 closed

[2020-08-17 16:17] jaime-mckeown commented on #2128
Meeting with Francesco this afternoon to go over the more technical details of the parking data before meeting with Francesco and Ryan on Wed.

- [ ] Enterprise GDBs, versioning, CTM's weekly updates to GDB

- [ ] Feature Dataset, Topology, Relationship Classes

- [ ] Feature Classes and Table

- [ ] Attribute Rules

[2020-08-17 16:23] jaime-mckeown commented on #2128
Meeting with Francesco and Ryan to discuss the data setup

- [ ] Overall data, how it differs from current setup in AGOL

- [ ] Relationship Classes and how they work for editing the data (select related data option)

- [ ] Active / Retired records, process to correctly retire restrictions, zones, etc.

Add more topics after discussion with Francesco.

[2020-08-17 16:29] jaime-mckeown opened #3709 "Parking Data Overall Discussion with Francesco and Ryan"
Meeting with Francesco and Ryan to discuss the data setup

- [x] Overall data, how it differs from current setup in AGOL

- [x] Relationship Classes and how they work for editing the data (select related data option)

- [x] Active / Retired records, process to correctly retire restrictions, zones, etc.

- [x] Enterprise GDB, Versioning

- [x] Topology, ability to help with QC of data

[2020-08-17 16:34] alan-deanda opened #3710 "Bike Rack Support - changes to collecting feature layer"
Gilbert requested the following changes to the Bike Rack collecting layer:

- [x] Dropbox work performed can you add in installed new and repaint and new paint
- [x] on the Dropbox for type can you add in micro Mobility station
- [x] can we add the purple dot for it identifying the micro mobility station?

[2020-08-17 16:36] #3686 closed

[2020-08-17 16:43] jaime-mckeown opened #3711 "AGOL Subcommittee Meeting - 8/19/20"
Attend the quarterly AGOL Subcommittee Meeting.

[2020-08-17 17:11] Sreelatha-BlazeKannan commented on #2983
@TracyLinder , @Nadin-Nader  - Submitted Demo on  08/11/2020 and approved the PickList changes to Promote to DEV. Would like to know whether all changes can be promoted to DEV?

[2020-08-17 18:09] jaime-mckeown opened #3712 "Create Spatial View of Parking Restrictions based on Parking Zones"
https://esriaustraliatechblog.wordpress.com/2013/04/22/how-to-create-an-arcsde-spatial-view/

Definition I used when testing:

SELECT ATD_ADMIN.parking_zones.OBJECTID, ATD_ADMIN.parking_zones.SHAPE, ATD_ADMIN.parking_zones.PARKING_ZONE_ID, ATD_ADMIN.parking_zones.PARKING_ORIENTATION, ATD_ADMIN.parking_zones.PARKING_SPACES, ATD_ADMIN.parking_zones.ZONE_DESCRIPTION, ATD_ADMIN.parking_zones.METER_ROU

[2020-08-17 18:46] alan-deanda opened #3713 "Story Map Collaborating Group troubleshooting"
Natalie C. with PIO is having issues sharing items with the Story map Collaboration Group on AGOL. I'm helping her troubleshoot the issue.

[2020-08-17 18:52] #2566 closed

[2020-08-17 18:53] alan-deanda commented on #3608
Emailed Gigi M. at the Budget Office and Benny VandenAvond in the Risk Management Office about this request. I was referred to them by building services.

[2020-08-17 19:07] amenity opened #3714 "Refine in-app and email confirmation for Officers on sign up"
Two elements to this:

**Confirmation email**
Currently the confirmation email that goes to officers is sent in the evening. Surbhi implemented this as a workaround for a broken trigger, but ideally the confirmation email would go out immediately. @mddilley, can you walk through the back end of the sign up workflow you implemented and see if we can set up an immediate email?

**In-app confirmation

[2020-08-17 19:09] JaceDeloney opened #3715 "Add person to crash_id 1005"
When the information for crash_id 1005 was first entered, the VZ team only knew of 1 person that was fatally injured. They didn't realize that there was an injury to another person in the crash. After looking at the CR3, the VZ team realized that another person had been seriously injured. We need to update crash_id to include this additional person.

- [x] Add an additional person to crash_id 1005

[2020-08-17 19:10] amenity commented on #3714
@mddilley - we can bump this to Sprint 32 if that's better for you. :)

[2020-08-17 19:11] amenity opened #3716 "Perform training for pilot officers"
- [x] @amenity schedule
- [x] Hold training
- [ ] Debrief

[2020-08-17 19:11] amenity opened #3717 "Perform feedback session for pilot officers"

[2020-08-17 19:12] amenity opened #3718 "Review VZA admin workflow internally"

[2020-08-17 19:17] zappfyllc commented on #3659
Applying the "Should Have" label here only because of AMD (our initial group to onboard) and their collective concern for using two different applications (their original hope was that we could just build out Data Tracker.

[2020-08-17 19:18] amenity opened #3719 "Review VZA Admin workflow with Randy"
### Objective
Ensure that Randy is getting everything he needs to
- Process invoices
- Manage SEU Cancellation Policy violations

_[Agenda](https://docs.google.com/document/d/12gEcpodsSDgvI998tCgVEcgxo5E9TlVJog9cTdtmIv8/edit)_

### Participants
Randy, Surbhi, Amenity

------
- [x] Schedule meeting
- [x] Optional: Schedule debrief
- [ ] Meet and take notes
- [ ] Optional: Debrief with DTS team memb

[2020-08-17 19:23] amenity opened #3720 "Update email notification when an assignment they have taken is updated"
- Updates to VZA shift location
- Convert to a signal shift

Should come from `no-reply`

[2020-08-17 19:23] zappfyllc commented on #2460
@amenity @JaceDeloney This is an old issue I never did solely because Sergio wasn't available yet, but I think Jace can take this on in terms of exploring what would actually be needed in terms of a Vision Zero integration. As of now, this isn't MVP so not pressing, but do y'all want me to rename this to "Feature: Vision Zero" and assign it to Jace for the eventual backlog?

[2020-08-17 19:31] JaceDeloney commented on #2460
Sounds good. We have a nearer-term [epic](3316) to host the Vision Zero street segment polygons on AGOL.

[2020-08-17 19:31] alan-deanda commented on #3518
Wiki is now live [here](https://app.gitbook.com/@atd-dts/s/atd-geospatial/google-maps-partner/google-partner-account)

[2020-08-17 19:31] #3518 closed

[2020-08-17 19:31] alan-deanda commented on #3517
Wiki is now live [here](https://app.gitbook.com/@atd-dts/s/atd-geospatial/google-maps-partner/google-partner-account)

[2020-08-17 19:31] #3517 closed

[2020-08-17 19:40] alan-deanda opened #3721 "Strava Data Download"
Downloading Strava Data for 2020 Q2

[2020-08-17 19:49] aishwarya2505 commented on #1709
@TracyLinder @Nadin-Nader @Sreelatha-BlazeKannan  tested this and it works as expected. (11889876, 11873936)Please go ahead and test this one.

[2020-08-17 19:59] sergiogcx commented on #3466
I've configured Auth0 to accept PR wildcard domain settings, here are the good news and the bad news.

The bad news: Wildcard domain settings are not currently supported by Auth0.

The good news: That feature has now been implemented, but it is not fully enabled. As of a few days (hours) that has been the response through the community blogs:

https://community.auth0.com/t/how-come-allowed-web-ori

[2020-08-17 20:00] sergiogcx commented on #3466
It took me a few hours because I had been trying to troubleshoot the Auth0 settings after not having initial success. I did however find where I can find error logs.

![2020-08-17_14-59-41.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/43e0a2d6-7b08-4e0c-aff0-e5839993e4a9)

[2020-08-17 20:00] alan-deanda commented on #3608
Neither the Budget Office nor the Risk Management Office track this data.
However, Benny will check with their HR dept, as the data seems pertinent to COVID-19 planning.

[2020-08-17 20:01] sergiogcx commented on #3466
CONCLUSION:

- Dead end, we have to wait until Auth0 fully enables wildcard expressions in Allowed Web Origins.

- Whenever they are enabled, we will be able to use PRs for VZE.

[2020-08-17 20:05] SurbhiBakshi commented on #3625
@ChrispinP @moorerst - we should know which date to use for the reports - the issue date or the transaction date. We can base the month number of the chosen date.

[2020-08-17 20:17] #1868 closed

[2020-08-17 20:31] jaime-mckeown commented on #2128
Went over a lot of things with Francesco today. Will talk more about the data setup and schema on Wednesday when Ryan can attend as well.

[2020-08-17 20:31] #2128 closed

[2020-08-17 20:40] Sreelatha-BlazeKannan commented on #2277
@TracyLinder , @Nadin-Nader  - PROD Deployment request submitted on 08/17/2020

[2020-08-17 20:41] Sreelatha-BlazeKannan commented on #1729
@TracyLinder , @Nadin-Nader - PROD Deployment request submitted on 08/17/2020

[2020-08-17 21:02] Sreelatha-BlazeKannan commented on #3293
@TracyLinder , @Nadin-Nader - Recreated the issue in DEV and Corrected the same. Sent the updated report and DP to Nadin for DEV & TEST Deployment.

[2020-08-17 22:15] ChrispinP commented on #3602
Field added, formula to be updated

[2020-08-17 22:17] ChrispinP commented on #3601
new field added, original field maintained until replaced. received field values from Darren and updated.

[2020-08-17 22:17] ChrispinP commented on #3600
field created but need to update with formula

[2020-08-17 22:19] ChrispinP commented on #3599
new field added with help text

[2020-08-17 22:19] ChrispinP commented on #3598
new field added. received field values from Darren and updated.

[2020-08-17 22:20] ChrispinP commented on #3597
new field added with help text. received field values from Darren and updated.

[2020-08-17 22:27] amenity opened #3722 "2020 DTS Product Team Offsite"
### Objective
In our [first DTS Product Team Work Sesh](https://docs.google.com/document/d/1XwT87Gc05eIdIkAPFx6wjwjLPLdHSiZfZzR30MwTwBw/edit#heading=h.28aimt7v9k5o) we hammered out all things product-ops. This time, let's take a step back and think about strategy.

### Participants
Tracy, Stephanie, Jace, John

### Agenda
[WIP agenda here](https://docs.google.com/document/d/1iALR8HiuWbQuNwco4epmvb

[2020-08-17 22:28] mateoclarke commented on #3715
Added in production.

![Screen Shot 2020-08-17 at 5 27 45 PM](https://user-images.githubusercontent.com/5697474/90450303-fbb38900-e0ae-11ea-8232-54b791c7f73f.jpg)

[2020-08-17 22:28] #3715 closed

[2020-08-17 22:46] #1656 closed

[2020-08-17 23:04] amenity commented on #3300
@SurbhiBakshi - removing the Sprint 30 milestone from this one.

[2020-08-17 23:04] amenity commented on #3415
@SurbhiBakshi - did this happen?

[2020-08-17 23:08] amenity commented on #2325
@zappfyllc — backlog, maybe?

[2020-08-17 23:10] amenity commented on #2817
@SurbhiBakshi - if this is ongoing, should we remove the milestone?

[2020-08-18 00:01] amenity commented on #1341
Whoa — _this_ certainly fell off my radar. 😬

@JaceDeloney @moorerst — have either of you heard anything about this request lately?

@johnclary @moorerst - would this be a feature in the [PE Reporting Portal](https://github.com/cityofaustin/atd-data-tech/issues/2884)?

[2020-08-18 00:03] #689 closed

[2020-08-18 00:06] amenity commented on #689
[Et voilà](https://atd-dts.gitbook.io/wiki/product-ops/product-delivery-workflow)!✨

[2020-08-18 00:14] amenity commented on #3435
Since we're not doing this for a while, collapsing sub-issues into a task list in #1966.

[2020-08-18 00:14] #3435 closed

[2020-08-18 00:14] amenity commented on #3394
Since we're not doing this for a while, collapsing sub-issues into a task list in #1966.

[2020-08-18 00:14] #3394 closed

[2020-08-18 00:15] amenity commented on #3395
Since we're not doing this for a while, collapsing sub-issues into a task list in #1966.

[2020-08-18 00:15] #3395 closed

[2020-08-18 00:15] amenity commented on #3413
Since we're not doing this for a while, collapsing sub-issues into a task list in #1966.

[2020-08-18 00:15] #3413 closed

[2020-08-18 00:15] amenity commented on #3412
Since we're not doing this for a while, collapsing sub-issues into a task list in #1966.

[2020-08-18 00:15] #3412 closed

[2020-08-18 00:21] amenity commented on #975
@johnclary I think we can do this if we 📌 all the index issues to the pipelines. Is this a good idea?

[2020-08-18 00:22] amenity commented on #2430
There was never clarity on what this was meant to achieve... I think the wiki can be organically refined for now.

[2020-08-18 00:22] #2430 closed

[2020-08-18 00:24] #1873 closed

[2020-08-18 00:24] #1571 closed

[2020-08-18 00:24] #826 closed

[2020-08-18 00:26] #1014 closed

[2020-08-18 00:26] #1015 closed

[2020-08-18 00:27] Nadin-Nader commented on #2662
@licarir Here is Maria's response:

Hi,

Thanks for  sending this over.

Here are more questions than answers.
Maria said keep Safety Inspection fee (75040) as there is code in another fee procedure that requires that exist. That email is in the notes above.
Sounds good. I assume this means the auto add of the fee per day? Shouldn’t be a big deal to keep it as is. As it doesn’t bill it and we can

[2020-08-18 00:28] amenity commented on #1013
Applicable if/when we get to https://github.com/cityofaustin/atd-data-tech/issues/1010

[2020-08-18 00:28] #1013 closed

[2020-08-18 00:28] amenity commented on #1014
Applicable if/when we get to https://github.com/cityofaustin/atd-data-tech/issues/1010

[2020-08-18 00:28] amenity commented on #1015
Applicable if/when we get to https://github.com/cityofaustin/atd-data-tech/issues/1010

[2020-08-18 00:29] amenity commented on #1012
Moving into issue itself #1010.

[2020-08-18 00:29] #1012 closed

[2020-08-18 00:32] amenity commented on #2701
@moorerst — hasn't this one been taken care of?  possibly a dupe?

[2020-08-18 00:35] amenity commented on #2141
See https://github.com/cityofaustin/atd-data-tech/issues/2430#issuecomment-675179679

[2020-08-18 00:35] #2141 closed

[2020-08-18 00:38] amenity commented on #2374
Added to this [agenda](https://docs.google.com/document/d/1iALR8HiuWbQuNwco4epmvbkZIYDx_YvE1s4sO0wO1is/edit#).

[2020-08-18 00:38] #2374 closed

[2020-08-18 00:39] amenity commented on #2429
Will open a new issue if this becomes a priority.

[2020-08-18 00:39] #2429 closed

[2020-08-18 00:40] amenity commented on #843
@johnclary - mind if I Icebox this?

[2020-08-18 00:53] Nadin-Nader commented on #3465
@Sreelatha-BlazeKannan @TracyLinder I have added the report to DEV. We are just waiting on the deployment by the CM DevOps team.

[2020-08-18 01:09] Nadin-Nader commented on #3293
@Sreelatha-BlazeKannan @TracyLinder i have deployed the form to both DEV and TEST.

[2020-08-18 01:52] Nadin-Nader commented on #2277
@Sreelatha-BlazeKannan  @TracyLinder  The DevOps Deployment TASK is SCTASK0090582. The Deployment for the LookUp is going to CTM Tango as it is a LookUp on PROD and i cant add it to PROD. I have submitted the task for this and it is SCTASK0090583.

[2020-08-18 01:54] Nadin-Nader commented on #1729
@Sreelatha-BlazeKannan  @TracyLinder  The DevOps Deployment TASK is SCTASK0090582. The Deployment for the LookUp is going to CTM Tango as it is a LookUp on PROD and i cant add it to PROD. I have submitted the task for this and it is SCTASK0090583.

**Status:**
Waiting on CTM  Tango and CM DevOps team to deploy to PROD

[2020-08-18 01:56] Nadin-Nader commented on #3425
The DevOps Deployment TASK is SCTASK0090582. The Deployment for the LookUp is going to CTM Tango as it is a LookUp on PROD and i cant add it to PROD. I have submitted the task for this and it is SCTASK0090583.

Status:
Waiting on CTM Tango and CM DevOps team to deploy to PROD

[2020-08-18 03:29] amenity commented on #632
@johnclary - do you have a sense of whether this workshop is still desired?

[2020-08-18 03:46] amenity commented on #595
@moorerst - reassigning this to you as the Parking Enterprise PM and myself as the AMD PM since this project could both divisions' products. (It would be lovely to have citations in the VZA App.)

That said, this isn't a customer request and doesn't need intake, per se. It's fine for it to lounge in the Backlog until we have pressing use cases, but good to be aware of it in the meantime.

Correct

[2020-08-18 03:55] amenity commented on #114
Iceboxing this until a use case arises...
In the meantime, the UT content has been really built out and I think we could refer people there in a pinch.

[2020-08-18 03:59] amenity commented on #559
TCOB by closing this issue. 🤪

[2020-08-18 03:59] #559 closed

[2020-08-18 04:01] amenity commented on #702
@TracyLinder - I'm tempted to close this and leave change management strategy to each PM to handle however they see fit... thoughts?

[2020-08-18 04:02] amenity commented on #314
I'm going to call this closed

[2020-08-18 12:48] atdservicebot opened #3723 "Enhance filter options on ATD Signal Request AGOL map"
In the [ATD Signal Request AGOL map](https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=7ee6d705358a443eae77e6bab54df34d&query=Signal%20Requests,REQUEST_ID=246) the filters are configured to be OR conditions. This means that applying filters doesn't drill down the data but rather increases the data displayed — the reverse of expected behavior.

User context: From the Signal Request pag

[2020-08-18 13:52] Nadin-Nader commented on #2391
@Sreelatha-BlazeKannan Per Martin, he will deploy this to TEST in about 5 min.

[2020-08-18 14:19] SurbhiBakshi commented on #2817
@amenity - removed the milestone

[2020-08-18 14:23] SurbhiBakshi commented on #3415
thanks for the reminder @amenity - this did happen

[2020-08-18 14:23] jaime-mckeown commented on #3712
Created new spatial view on MAINT based on parking zones and parking restrictions. For the zones with multiple Active restrictions, parking will need to figure out how they want to show that with in the  view.

[2020-08-18 14:23] #3712 closed

[2020-08-18 14:23] #3415 closed

[2020-08-18 14:25] jaime-mckeown commented on #3687
Still waiting on the Summary and Description from Ryan. Then we can work on getting it added to the RPP website.

[2020-08-18 14:25] SurbhiBakshi opened #3724 "Meeting | Open Data Standards - August 26, 2020"

[2020-08-18 14:27] jaime-mckeown commented on #3586
James returned to work to have no internet at his house so he couldn't try adding the network drive last week. I haven't heard back from him, so I'm assuming that he fixed it and forgot to let me know. Closing issue.

[2020-08-18 14:27] #3586 closed

[2020-08-18 14:56] Nadin-Nader commented on #3536
Sent email to Jaclyn and Isaiah asking them to test this on TEST:

Good Morning,

Hope you are doing well. I am reaching out to you regarding the UC Email - Critical Updates card #3536. I was wanting to see if you could go ahead and test out the email and look at the verbiage on TEST to make sure it is what you want and how it’s supposed to look.

Once you have reviewed it please let me know if an

[2020-08-18 15:02] sergiogcx commented on #3575
After speaking yesterday with @JaceDeloney, we are going to try implementing this in production on Wednesday evening.

[2020-08-18 15:05] sergiogcx commented on #3704
Whenever I query spin in MDS v0.4, it errors out asking me for the start time; however, as far as I understand in the MDS specification it says it isn't required, and therefore it was not implemented in our MDS 0.4 driver:

https://github.com/openmobilityfoundation/mobility-data-specification/tree/main/provider#trips-query-parameters

[2020-08-18 15:05] sergiogcx commented on #3704
For Spin, I will try to play along and provide a start date, and see if they can provide results.

[2020-08-18 15:11] sergiogcx commented on #3704
As a note to self, this is a related previous issue: https://github.com/cityofaustin/atd-data-tech/issues/1088

[2020-08-18 15:11] johnclary opened #3725 "Train TED Staff"

[2020-08-18 15:13] #3452 closed

[2020-08-18 15:14] johnclary opened #3726 "Setup Speed Limit Sign Collector <> Knack integration"

[2020-08-18 15:15] johnclary commented on #3725
@alan-deanda please schedule for Thursday of this week.

[2020-08-18 15:20] SurbhiBakshi opened #3727 "Add Remove Assignment functionality to Today's Assignments"
Add the Remove Assignments from the Today's Assignments table on the My Assignments page for VZA Officers.

[2020-08-18 15:25] alan-deanda opened #3728 "Send Jaime data locations for ATSD, Healthy Streets, Bike Racks (PE)"

[2020-08-18 15:33] zappfyllc commented on #3667
This feature is not a must-have in the sense that it was requested by AMD in the initial version of Moped, but our proposed workflow for entering in a new project is New Project (name, brief details) > Project Staffing (assign staff to the project) > Map Project Geometry (this feature). We were going to require project geometry for every project in order to ensure that projects will appear on a ma

[2020-08-18 15:36] moorerst commented on #3625
@ChrispinP @SurbhiBakshi I think i vote for using the issue date. However I'm confused by how the dates are populated. In the screenshot below the Issue Date (not shown on screenshot) and Transaction Date 8/12/2020 is before the Create Date 8/13/2020.

![image](https://user-images.githubusercontent.com/56606465/90533531-47614380-e13e-11ea-9236-fcbeca63e8b5.png)

[2020-08-18 16:17] zappfyllc commented on #3628
@amenity I finally have eyes on this and I see where you're going with it. Let me mine some of the data from the comments in work orders to see what values for Project Categories they are mentioning and how it relates to our Moped schema in terms of entities/workgroups/project types. As far as their actual request/requirement goes, we could add the domain "Project Category" to their Knack app rela

[2020-08-18 16:20] zappfyllc commented on #2325
@amenity This is happening on the fly within Hasura. I think instead of having a bunch of documentation around foreign key decisions we made, I can simply walk through the schema with @sergiogcx and we can discuss why the decisions were made, modifications we may want to make, etc. I'm going to ditch the waterfall-ish documentation as much as I can as we have tangible pieces of Moped like Hasura s

[2020-08-18 16:21] #2325 closed

[2020-08-18 16:34] zappfyllc commented on #2321
@amenity thoughts on moving this to the icebox? We have project notes to capture ongoing information related to the project at a given moment in time, but this was moreso related to the idea of a channel-like method of communicating between project members. I don't think this is MVP and it's up-in-the-air on whether it's necessary at all, but I do think it's an interesting enough idea to explore s

[2020-08-18 16:39] zappfyllc commented on #2320
Closing this and referencing it in our project financials and eCapris integration features for future reference

[2020-08-18 16:39] #2320 closed

[2020-08-18 16:54] amenity commented on #2321
Agreed.

[2020-08-18 17:44] moorerst commented on #3404
Followed up with CTM security on this issue. They requested a internal meeting to walk through the Knack/Stripe integration before requesting a meeting with the vendor to understand how their application is set up from a security perspective.  They also suggested we review the PCI Quick Start Guide which is a introduction of what they do.
[PCI Compliance Quick Start Guide.pdf](https://github.com/c

[2020-08-18 17:44] amenity commented on #3628
@zappfyllc — I like that approach. So they wouldn't actually be "creating" projects in Moped the way AMD will be for the time being, just much simpler functionality getting their data moving toward the Moped data model. Correct?

[2020-08-18 18:22] moorerst commented on #3404
From the PCI Compliance Quick Start Guide:

- [ ] Before setting up a payment card processing solution, request a merchant ID from the Treasury Department and begin gathering the following information to help the ISO with your PCI compliance assessment:

- [ ]  Expected number of annual credit card transactions

- [ ] Different ways payments are accepted (e.g., in person, phone, web, IVR, manual)

[2020-08-18 18:26] Sreelatha-BlazeKannan commented on #3293
@TracyLinder , @Nadin-Nader  - Tested this in DEV & TEST environments and working as expected.

![image](https://user-images.githubusercontent.com/44907715/90550976-4e944b80-e156-11ea-951c-8725b3bcef12.png)

![image](https://user-images.githubusercontent.com/44907715/90551029-610e8500-e156-11ea-9f09-1ee1a269c64b.png)

No additional Page in Location Description.  Report is ready for UAT

[2020-08-18 19:10] zappfyllc commented on #3628
Exactly! Perfect, I will comb through some of their data and then send an email to SMB regarding what I find involving the Project Category and get their input. Once we're there, I will close this issue and open up a new one for the Knack/Moped effort of adding in the project categories (easy enough!).

P.S. Ignore my blocking above^^^, I was showing Leslie Zenhub and added in fake dependencies an

[2020-08-18 19:12] TracyLinder commented on #1946
@Nadin-Nader I'm assigning this to LIT for sprint 31.

[2020-08-18 19:13] TracyLinder commented on #1525
@Nadin-Nader I'm assigning this to LIT for sprint 31.

[2020-08-18 19:17] ChrispinP commented on #3723
This seems geospatial, not sure how it would affect functionality for other users, possible new filter feature.

[2020-08-18 19:37] jaime-mckeown commented on #3723
@amenity is this something you will triage before it comes to me?

[2020-08-18 19:53] TracyLinder commented on #1766
I tested this with the stakeholders today & they approved for prod.

### Approved for production

[2020-08-18 20:00] Nadin-Nader commented on #2397
@kaarthym5 @TracyLinder List has been added and so has the acceptance criteria. Moving to Backlog.

**Status**
Ready to start work

[2020-08-18 20:02] Nadin-Nader commented on #1910
@kaarthym5 @TracyLinder List has been added and so has the acceptance criteria. Moving to Backlog.

**LIST:**
[Facility Owner Drop Down Menu.xlsx](https://github.com/cityofaustin/atd-data-tech/files/5092545/Facility.Owner.Drop.Down.Menu.xlsx)

**Status**
Ready to start work

[2020-08-18 20:05] amenity commented on #3723
@jaime-mckeown @ChrispinP Yup! This is fully a Geo issue, so during triage it goes to Jaime. A bit confusing b/c it came in as "Data Tracker" but it's actually AGOL.

[2020-08-18 20:11] TracyLinder commented on #3302
**Status:** This will be on hold until 8/27 due to staff resources

[2020-08-18 20:16] TracyLinder commented on #3545
### Notes

- ROW Permits Visible for folder types: EX, RW, DS
- Are there any types of permits we shouldn't publish for any reason?: I don't think so.
- This only applies to permits that have been issued
- The permit needs to update as the folder info/data changes.
    - Per Sree, each time the permit report is generated the system would add it as a new folder attachment, so the most current info

[2020-08-18 20:27] #3545 closed

[2020-08-18 20:30] TracyLinder opened #3729 "Portal Feature: Publish Folder Conditions"
## INC0536944 submitted to ATS

### Both permit holders and the public should be able to view the folder conditions while looking at the folder in the AMANDA portal.

**Stakeholders:** Paloma, Kim, Ryan
**DTS Manager:** Tracy

**Acceptance Criteria:**
- When using the portal public search feature, the user is able to view the folder conditions
- When signed in as an internet user, the user is able

[2020-08-18 21:14] #2455 closed

[2020-08-18 21:26] ChrispinP commented on #3566
Kelsey provided video link for bike share video, https://youtu.be/36tYdPD1Mn0

Updated field to include a link to the video

complete

[2020-08-18 21:54] TracyLinder commented on #3293
@Sreelatha-BlazeKannan i just tested and it looks great.

### Approved to promote to PROD. 🎉

[2020-08-18 21:55] TracyLinder commented on #702
@amenity I agree. Closing.

[2020-08-18 21:55] #702 closed

[2020-08-18 22:02] TracyLinder commented on #3539
@ChrispinP I added the two files that Darren sent us to this issue's description. Just FYI

[2020-08-19 01:12] sergiogcx commented on #2240
- I've renamed the repo atd-dockless-api to `https://github.com/cityofaustin/atd-micromobility-api`.
- I've refactored the code so that instead of running in Sanic, it uses Flask.
- There is no longer any need for Docker. All of those files are now removed.
- I've switched from Travis to GitHub Actions.

I've also created two stages, one for production and another for staging (master branch).

Cur

[2020-08-19 07:01] #3706 closed

[2020-08-19 07:33] #1539 closed

[2020-08-19 08:38] amenity opened #3730 "Perform user research"

[2020-08-19 08:41] amenity opened #3731 "Discovery"

[2020-08-19 08:42] amenity opened #3732 "Ecosystem Research"

[2020-08-19 09:00] #3730 closed

[2020-08-19 12:57] amenity commented on #3343
[WIP here](https://balsamiq.cloud/senhupm/p9y6tuy)...

I got through some basics but didn't get to the project timeline parts that I was hoping to have ready for #2475. 😞
 @JaceDeloney @zappfyllc - feel free to take a stab at that. The budget part of the financials is also at large.... 🙈 📆 🙈 💰

@johnclary — I would 💛 some sketches of your fancy table visions... (Needs Matching isn't MVP, but could

[2020-08-19 13:05] Nadin-Nader commented on #2983
@Sreelatha-BlazeKannan, @SubhaShroff, @aishwarya2505  or @TracyLinder i do not have the email with the demo in my inbox anywhere. Can one of you send it to me please?

[2020-08-19 13:19] jaime-mckeown opened #3733 "Critical Arterials GIS Data Meeting with MMC - Lance B."
From Lance:

[2020-08-19 14:05] JaceDeloney opened #3734 "Extract CR3s for records that have them in the TXDOT system"
Xavier notified us that there are records in the TxDOT FTP feed that have CR3s, but do not have a CR3 in our database.

Here are some examples:
https://visionzero.austin.gov/editor/#/crashes/17817892
https://visionzero.austin.gov/editor/#/crashes/17817540

I am assuming this is something to do with a previous ETL downtime/failure.

[2020-08-19 14:20] SubhaShroff commented on #1766
Thank you @TracyLinder.
@TracyLinder @Nadin-Nader PROD Deployment request are submitted: SCTASK0090973,  SCTASK0090979

[2020-08-19 15:45] TracyLinder commented on #1910
We're merging this issue w/ #2397. Closing.

[2020-08-19 15:45] #1910 closed

[2020-08-19 15:51] TracyLinder commented on #3664
Email to Customer:

Hi Isaiah,

Just following up on this ticket. Has this issue been resolved for you?

Thanks,

Tracy Linder (she/her)
Product Manager, Data & Technology Services
Austin Transportation Department

[2020-08-19 16:00] TracyLinder commented on #2396
@Nadin-Nader can you please find out if this is still a need?

[2020-08-19 16:35] kaarthym5 commented on #1926
@tracylinder @licarir the stakeholders are comfortable with the approach we suggested. Moving forward with the approval.
- here the attachment will be the visible on the parent folder only .

[2020-08-19 16:38] jaime-mckeown commented on #3709
- Going to create a copy of the data that they can use as a sandbox area to explore the data without worrying about modifying the actual data.
- Their MAINT accounts are finally working
- Send email to CTM Help Desk regarding Ryan's Pro license.

[2020-08-19 17:07] SurbhiBakshi commented on #3480
1. July 20 - July 26 ----Aug 17 - 23
2. July 27 - Aug 2 ----Aug 24 - 30
3. Aug 3 - Aug 9 ----Aug 31 - Sep 6
4. Aug 10 - Aug 16 ----Sep 7 - Sep 13
5. Aug 17 - Aug 23 ---- Sep 14 - Sep 20
6. Aug 24 - Aug 30 ----Sep 21 - Sep 26
7. Aug 31 - Sep 6 ---- Sep 7 - Oct 4 ???

[2020-08-19 17:18] TracyLinder commented on #2956
Just tested this & it works great. Closing.

[2020-08-19 17:18] #2956 closed

[2020-08-19 17:19] TracyLinder commented on #2951
Just tested this & it looks great. Closing.

[2020-08-19 17:19] #2951 closed

[2020-08-19 17:19] TracyLinder commented on #2955
Just tested this & it looks great. Closing.

[2020-08-19 17:19] #2955 closed

[2020-08-19 17:20] TracyLinder commented on #2953
Solutions for the issues listed in the description have been implemented. Just tested this & it looks great. Closing.

[2020-08-19 17:20] #2953 closed

[2020-08-19 17:20] TracyLinder commented on #2950
Just tested this & it looks great. Closing.

[2020-08-19 17:20] #2950 closed

[2020-08-19 17:26] TracyLinder opened #3735 "UAT Bug - UC & LM Self-Assign: Click Map doesn't display properties added"
### When adding properties using the Click-Map, it appears to the user that nothing was saved, but the back-end is updating with the properties added.

**Steps to Reproduce Bug:**
1. Follow self-assign workflow until you get to the map selector
2. Add a street segment, skip adding parcels
3. The map reloads, and it appears to the user that nothing happened
4. Continue the application until it is s

[2020-08-19 17:30] TracyLinder opened #3736 "UAT - UC & LM Self-Assign: Remove Assigned User from Insert Infos Process"
### On both the LM & UC folders, on Process 84056 Insert Infos, the Assigned User should default to Null (Don't assign to anyone)

- This is needed to avoid unnecessary clutter on user task lists.

[2020-08-19 17:32] TracyLinder opened #3737 "UAT BUG - UC Self-Assign: Folder Property Did Not Copy Over"
### On test RSN 12394821, the folder property did not copy over from the SP to the child UC.

[2020-08-19 17:35] TracyLinder opened #3738 "Review w/ Unisys - UC Self-Assign: Move Create Child Feature"
### Can the create child feature on the SP folder for UC be moved from 'Utility Coordination Review?' to 'ROW Review?'

- It appears that 'Utility Coordination Review' infos were created just for the create UC child feature, when an info already existed for this group's review on the SP folder. Can we move the feature to the existing info and get rid of 'Utility Coordination Review?'?

[2020-08-19 17:54] #3709 closed

[2020-08-19 17:56] jaime-mckeown opened #3739 "Create Parking Test Data for PE"
Create a copy of the new parking data so PE can explore the data without worrying about messing it up. The copy is an exact replica, including the relationships, topology, and versioning so they can explore all aspects of the new setup.

[2020-08-19 18:12] jaime-mckeown opened #3740 "Transfer AGOL Content between users - Joel M."
Joel requested the content that was transferred to Frank H's user account be moved back to his ownership since he is back to work.

[2020-08-19 18:12] jaime-mckeown commented on #3740
Transfer complete.

[2020-08-19 18:12] #3740 closed

[2020-08-19 18:29] zappfyllc commented on #2326
Primary Keys Update/Discussion (cc @sergiogcx @mateoclarke @amenity @johnclary):

There are valid arguments for utilizing both UUIDs (universally unique identifiers) and serial keys (most commonly for our purposes, an auto-incrementing integer) as the data type for primary keys in tables (see references below). Based on Moped's feature set, requirements, and imagined future use cases, I am using t

[2020-08-19 18:38] amenity commented on #3716
Will have assignments through the first week of October. @amenity sync up with Mike on when he can deploy.

[2020-08-19 18:40] amenity opened #3741 "Test Officer Workflow"
Run through basic workflow.
- PC (Windows 8, Chrome)
- iPhone

Get info from Pat on which devices specifically the officers will be using in the field. Sync w/ dev team to see if we can use BrowserStack to emulate.

[2020-08-19 18:41] amenity commented on #3741
@SurbhiBakshi - if you could make a script that would be wonderful.🙏

[2020-08-19 18:42] jaime-mckeown opened #3742 "2016 Mobility Bond Corridor Projects Feature Layer in TDSD Web Map - Sangeeta J."
From Sangeeta:

[2020-08-19 18:45] johnclary commented on #2326
thanks @zappfyllc for the thorough explanation. this makes sense to me and sounds good. agree that UUIDs are overkill in many regards. another approach (maybe) would be to use [MD5 hashses](https://www.postgresqltutorial.com/postgresql-md5/) in places where we are inclined to use UUIDs, with the thinking that we can feel confident the IDs would be globally across all records in the Moped DB. I onl

[2020-08-19 18:47] amenity commented on #2856
@ChrispinP - please add other data you're importing to this epic🙏

[2020-08-19 18:49] johnclary commented on #2326
also, it looks like the `uuid-ossp` [extension](https://www.postgresql.org/docs/current/uuid-ossp.html) supports hashes with a smaller footprint. found via [this SO question](https://stackoverflow.com/a/39444532/2103784).

[2020-08-19 18:51] amenity commented on #3578
@ChrispinP - please add links for all the apps that you updated and @SurbhiBakshi can check 'em.

[2020-08-19 18:53] amenity commented on #3535
Will check back with Cathy and Christina before we close this.

[2020-08-19 18:55] amenity commented on #3651
When you create an account, you can create a password for them just to satisfy that required field. It won't affect their COACD login.

[2020-08-19 18:55] #3583 closed

[2020-08-19 18:56] #3630 closed

[2020-08-19 18:59] amenity commented on #3417
@johnclary - @ChrispinP is waiting for a tablet to test this out.

[2020-08-19 19:02] JaceDeloney opened #3743 "Update location polygon for crashes that had updated lat/longs during SQS downtime"
The trigger to update the location polygons of crashes is working when users update lat/longs. However, there is an outstanding issue where crashes that had updated lat/longs while the SQS was broken do not have updated location polygon associations. The problem is that the lat/longs for these records were updated before the SQS was fixed and never updated afterwards.
- [x]  identify crashes that

[2020-08-19 19:04] JaceDeloney commented on #3743
[no_location_ksi_prod.csv.zip](https://github.com/cityofaustin/atd-data-tech/files/5098716/no_location_ksi_prod.csv.zip)

[2020-08-19 19:12] amenity commented on #1674
@ChrispinP - record a Teams meeting to walk through options please!

[2020-08-19 19:15] johnclary commented on #3343
@amenity looks like a wrecked by fancy filter material ui code. attached a sketch (and added to balsimq).
<img width="499" alt="Screen Shot 2020-08-19 at 2 14 51 PM" src="https://user-images.githubusercontent.com/14793120/90679868-6fc46d00-e226-11ea-85fe-654f1acf2bf9.png">

[2020-08-19 19:16] amenity commented on #1674
@ChrispinP - test this once you get a tablet. :)

[2020-08-19 19:17] amenity opened #3744 "Request tablet to use for testing purposes"
Reach out to Scott — ask him if there is one that is already configured for Signs and Markings.

[2020-08-19 19:17] johnclary commented on #3417
@ChrispinP i had some luck testing on browserstack if you want to mess around with that. login deets are in 1Password.

[2020-08-19 19:19] amenity commented on #3417
Thanks @johnclary!  Probably a good idea for Chrispin to have a tablet to test on regardless, right? E.g. for #1674 ...

[2020-08-19 19:27] johnclary commented on #3417
agreed

[2020-08-19 20:03] jaime-mckeown commented on #3711
# Map Viewer Beta
- Map Viewer Beta will become the primary version, saved in Beta will remain in Beta, need to re-save in the New Map Viewer.
- Map Viewer Classic will be secondary, but saved as classic map
- Don't try and open a new map in the classic maps as it can corrupt the map.
# AGOL Credit Usage
- Andrew has been working on breaking down the credit usage, creating scripts to add more info

[2020-08-19 20:03] #3711 closed

[2020-08-19 20:40] TracyLinder opened #3745 "LM Self-Assign: Email Template Update"
### Update the email template that the system sends the SP folder applicant when a child LM folder is created. See screenshot below for the requested update.

![image](https://user-images.githubusercontent.com/49930868/90687268-37c32700-e232-11ea-90b8-354554e100b0.png)

[2020-08-19 20:50] jaime-mckeown opened #3746 "ATD Maintained Streets Registered as Versioned - Christina T."
Christina is trying to edit the ATD Maintained Streets layer in MAINT, but I forgot to version it when I set it up.

[2020-08-19 20:50] jaime-mckeown commented on #3746
Christina and Susanne needed to close out of ArcMap to remove the locks on the data, then I was able to register the layer as versioned.

[2020-08-19 20:50] #3746 closed

[2020-08-19 21:06] TracyLinder opened #3747 "UC & LM Self Assign: Button Updates"
### Update to 3 buttons on the Self-Assign Workflows

1. On the submission confirmation page: remove the Cancel Assignment Button (Both LM & UC)
2. On the Acknowledgments Page: When clicking 'Cancel - I do not meet these criteria', update the folder status to 'Pending Customer Action' (LM only)
3. On the Application Attachments Page: When clicking 'Cancel this Application', update the folder statu

[2020-08-19 21:07] TracyLinder commented on #3735
This error happens on both LM & UC workflows.

[2020-08-19 21:30] jaime-mckeown opened #3748 "Engineering Service Areas GIS data - 311"
Email chain:

[2020-08-19 21:34] SurbhiBakshi opened #3749 "Meeting | SD 2023 - August 18, 2020"
Went over the feedback received from OPM regarding edits to the metric wording.

[2020-08-19 21:34] #3749 closed

[2020-08-19 21:35] #2807 closed

[2020-08-19 21:37] SurbhiBakshi commented on #3114
1. Specification Counts Table - view_3304
2. Reimbursable Trackings - view_3305
3. work_orders_signs_markings_time_logs - view_3307

[2020-08-19 21:37] jaime-mckeown commented on #3748
Emailed Eric to let him know the name of the layer that they should be using, the layer they are referencing is an old layer that is no longer available.

[2020-08-19 21:38] jaime-mckeown commented on #3739
Test data created.

[2020-08-19 21:38] #3739 closed

[2020-08-19 21:39] jaime-mckeown commented on #3733
- Requested a shapefile of the Critical Arterials layer
- Requested a shapefile of the Vehicle Priority Network (from the ASMP)

[2020-08-19 21:40] atdservicebot opened #3750 "Remove Real-Time Traffic Volume page"
Data Tracker

Can we remove this site: https://data.mobility.austin.gov/radar/ ? I don't see data coming in for any of the intersections that I tried.

https://data.mobility.austin.gov/radar/

Internet Browser: Chrome

---
Requested by: Jen D., AMD
Request ID: DTS20-101035

[2020-08-19 22:11] jaime-mckeown commented on #3733
Emailed them the following: Critical Arterials shp, Vehicle Priority Network shp, Regional Roadways shp, and an Excel Spreadsheet breaking down the Vehicle Priority Network fields as they were cut-off in the export.

[2020-08-19 22:11] #3733 closed

[2020-08-19 22:13] jaime-mckeown opened #3751 "Pay 2 Park Areas Web Map/App - Joseph A."
Joseph has requested that I create a Web Map to embed in their website for the Pay 2 Park Areas. I will create a Web App as well.

[2020-08-19 23:16] #3713 closed

[2020-08-19 23:16] #3590 closed

[2020-08-19 23:16] #3461 closed

[2020-08-19 23:16] #3710 closed

[2020-08-19 23:16] #3462 closed

[2020-08-19 23:16] #3608 closed

[2020-08-19 23:29] Nadin-Nader commented on #2391
@Sreelatha-BlazeKannan  @TracyLinder @aishwarya2505 I have tested this on TEST for the same RSN, for each folder type (EX, RW, DS) and found that the changes are correct. I approve the move to PROD @TracyLinder what do you think?

[2020-08-20 04:00] johnclary commented on #2240
@sergiogcx thank you!!

[2020-08-20 06:38] mateoclarke opened #3752 "Updates to OPM Strategic Measure_Vision Zero dataset and metric calculation - M.D.1"
Vision Zero team has to report certain metrics to the Office of Performance Management. Of focus is the yearly number of KSI persons per 100k. https://data.austintexas.gov/stories/s/Number-of-persons-and-number-of-persons-per-100-00/xgcc-d979

Currently, this metric is powered by a [static dataset](https://data.austintexas.gov/Public-Safety/Strategic-Measure_Vision-Zero-Traffic-Deaths-and-I/qn39-u

[2020-08-20 13:34] zappfyllc commented on #2326
Helpful info for building UUID-OSSP if we go that direction: "Historically this module depended on the OSSP UUID library, which accounts for the module's name. While the OSSP UUID library can still be found at http://www.ossp.org/pkg/lib/uuid/, it is not well maintained, and is becoming increasingly difficult to port to newer platforms. uuid-ossp can now be built without the OSSP library on some p

[2020-08-20 13:46] jaime-mckeown commented on #3748
Eric responded that he will forward info on to 311.

[2020-08-20 13:46] #3748 closed

[2020-08-20 15:36] JaceDeloney commented on #2224
This work has already been completed (likely in a separate issue). Closing out.

[2020-08-20 15:36] #2224 closed

[2020-08-20 15:38] JaceDeloney commented on #1553
This was completed, but never closed. Now it is! :)

[2020-08-20 15:38] #1553 closed

[2020-08-20 15:39] JaceDeloney commented on #1906
This was never closed out, but was completed. Closing out now

[2020-08-20 15:39] #1906 closed

[2020-08-20 16:17] jaime-mckeown commented on #3649
Meeting with Billy Friday morning to go over the current fields that are in Knack.

[2020-08-20 16:20] TracyLinder commented on #1909
Possible Solution:  50075 Right-Of-Way Admin: Add new attempt 'Start Review'

[2020-08-20 16:33] jaime-mckeown commented on #3687
I found a Summary and Description for RPP on their webpage. Added the info to the Feature Layer, Web Map, and Web App. Emailed Ryan to let him know that the App is ready to be embedded into the RPP webpage.

[2020-08-20 16:33] #3687 closed

[2020-08-20 16:33] #3690 closed

[2020-08-20 16:41] TracyLinder commented on #1516
@Nadin-Nader can you please add the updated pick values from the stakeholders to the issue description, then move to the backlog?

Thanks!

[2020-08-20 16:43] sergiogcx commented on #2240
Hi @johnclary You're very welcome, I am still wondering what's the best way to test it to make sure it works every time without a hiccup.

I am thinking I need to download the viewer and switch endpoints, but wondering if there is a good way to tell things are working as intended. Like maybe giving the endpoint an edge case that we know could cause it to fail?

[2020-08-20 16:53] johnclary commented on #2326
yuck, then maybe not UUID-OSSP then. i'm not totally sold on the idea that incremental IDs are a blocker to external integrations, but I don't have a lot of experience there. ccing @sergiogcx .

[2020-08-20 17:10] TracyLinder commented on #2662
**Further Work:**
- Parking Reservation - Make Mandatory
- Event Type - Update pick list w/ values provided by Maria
Food Truck
Sidewalk Closure
Display Vehicle
Alley Closure
Escort
Festival
Parade
Run
Safety
Walk
Other

This work has been done in branch. @licarir will work on getting it promoted to Test.

[2020-08-20 17:28] sergiogcx commented on #2326
If the benchmark is strictly on performance, there isn't all that much difference between integers and uuids in PostgreSQL. I tend to go for keeping things as simple as possible and to avoid unnecessary complexity, and for me it boils down to ease of use and developer experience.

If the decision is between MD5's and UUIDs, I'd stick with UUIDs. If it is between UUIDs and integers, I'd want to kno

[2020-08-20 17:28] sergiogcx commented on #2326
If you need a technical opinion, here are my two cents on UUIDs:

Pros:
1. They are easy to shard data with
2. Data PKs remain unique when merging in datasets from multiple sources, they can make data integrations easier.
3. It could simplify transactional logic when you need to know your PK before insertion.
4. UUIDs help privacy, it isn't as vulnerable to enumeration attacks (e.g., not as easy t

[2020-08-20 17:40] moorerst commented on #3483
Link to the online form has been posted on the RPP website:
http://www.austintexas.gov/department/residential-permit-parking
Asked Steve to have this statement added to the link on the website:
**Application is most compatible with the Chrome/Firefox browsers. It is not compatible with Internet Explorer.**

[2020-08-20 17:59] jaime-mckeown commented on #3742
I updated the feature layer symbology to match the symbology of the map on the website. I emailed Sangeeta to let her know that the layer was already in the map and that the symbology had been updated. Then she realized she sent me the wrong link. Will create new Issue for request.

[2020-08-20 17:59] #3742 closed

[2020-08-20 18:02] jaime-mckeown opened #3753 "Substandard Streets GIS Layer - Add to TDSD Web Map"
Sangeeta asked if there is a GIS layer of Substandard Streets. She would like it added to the TDSD Web Map.
https://data.austintexas.gov/stories/s/Substandard-Streets-Capital-Renewal/kznw-7fbe/

[2020-08-20 18:19] jaime-mckeown commented on #3753
- Looked on AGOL and GISDM, can't find anything.
- Emailed Adrien at CPO to see if they have a GIS layer.

[2020-08-20 18:24] atdservicebot opened #3754 "We have this website where we have to fill out our "Telework Request Form" biweekly. I was only able..."
Other / Not Sure

We have this website where we have to fill out our "Telework Request Form" biweekly. I was only able to successfully complete this 1 time. Now, when I try to log in, it says account not active. Today when I tried to log in, it let me log in, sent me a verification code to my phone which I typed in and clicked submit, then it went back to the main page and said, "Account not activ

[2020-08-20 18:45] zappfyllc commented on #2326
Thanks @sergiogcx, that is a helpful technical breakdown and aligns with what I've read. It seems you and @johnclary are on the same page and so I feel more comfortable closing the UUID discussion and deciding on integers, with the understanding that #2 and #4 in your pros list are my biggest concerns but can likely be solved by 1) centralizing writes to project-related data in Moped and 2) ensuri

[2020-08-20 18:47] johnclary opened #3755 "Stop uploading file attachments to Markings Work Order AGOL Feature Service"
CTM says we're taking up too much storage (~40gb). Instead of uploading the files, we can just publish link to each file's location in Knack.

[2020-08-20 18:57] sergiogcx commented on #2326
@zappfyllc Thank you for working on the database JD, its definitely one of the hardest parts of any project.

I think the integers will work fine, but as an additional proposal, it would not be a bad idea to keep the UUID in the projects table so we can use it for sharing, what do you think? The UUID would still be a unique-index but it would not be a primary key, so that way any possible index bl

[2020-08-20 19:02] ChrispinP commented on #3754
Sent response to Shameca requesting more details about issue. Will investigate

[2020-08-20 19:05] zappfyllc commented on #2326
@sergiogcx 100% agreed, not a fuss at all!

[2020-08-20 19:12] mateoclarke opened #3756 "Storybook followup tasks from MOPED Discovery Day"
- [x] Set up Github Action to auto deploy updates. https://www.learnstorybook.com/intro-to-storybook/react/en/deploy/
- [x] Explore how to package component library and import into moped repository.

[2020-08-20 19:22] sergiogcx opened #3757 "VZE: Inconsistent KSI Report is broken"
Visiting this link is shows a WSOD:
https://visionzero.austin.gov/editor/#/reports/inconsistent_ksi_counts

The console shows:

[code]

[2020-08-20 19:37] ChrispinP opened #3758 "[Feature] Test Inline Editing and other new Knack Beta Features"
Test:

- [x] [Inline Editing]
- [x] [Inline Editing Filters]
- [x] ['Has Changed' Record Rule]
- [x] [Page Views]
- [x] [Field Views]
- [x] [Other Beta Features/Changes]

[2020-08-20 19:52] SurbhiBakshi commented on #3750
@johnclary - can you take a look at this issue?

[2020-08-20 20:05] sergiogcx commented on #3734
It's strange, I do see the the ETL detecting those crashes and attempting to make updates:

I did find the file in AWS:

![2020-08-20_14-41-24.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/58bd7529-dcbc-4839-8f3f-12bd9346fbe1):

I did not see this update in the database:

![2020-08-20_14-41-50.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/de247a64-0565-481

[2020-08-20 20:06] sergiogcx commented on #3734
I also noticed the ETL has been running for 20 hours, it usually takes a few seconds/minutes at a time:

![2020-08-20_15-03-50.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/185e7c28-f8b2-4836-a4b3-451ced6e22f8)

[2020-08-20 20:21] jaime-mckeown opened #3759 "Speed Limits Maps / App ownership change for edits - Joel M."
Joel requested access to the Speed Limits Maps and App to make some edits.

[2020-08-20 20:22] jaime-mckeown commented on #3759
Changed ownership to Joel's account.

[2020-08-20 20:26] sergiogcx commented on #3734
It looks like the CR3 ETL just hangs after a while. I ran into this problem with crashes and multithreading, reducing the concurrency solved the problem for that issue. I am going to try the same here.

[2020-08-20 20:36] Nadin-Nader commented on #2632
@aishwarya2505 Aish i sent you an email asking if these are missing commits or if this was needing to go to CTM Tango to deploy as i dont have permissions to do. If these have commits then i will get it to the CM Team. Let me know so we can get this to one of the teams.

From: Nader, Nadin
Sent: Thursday, August 20, 2020 3:28 PM
To: Aishwarya Ramesh <Aishwarya.r@launchitcorp.com>
Cc: Linder, Tracy

[2020-08-20 20:38] jaime-mckeown commented on #3753
- Adrien sent me a link to the feature layer that has substandard streets in it.
- Added the new layer to the Web Map.
- Emailed Sangeeta to let her know that it has been added.

[2020-08-20 20:39] aishwarya2505 commented on #2632
@Nadin-Nader : This is the commit ID : d411da944535 .

[2020-08-20 20:43] jaime-mckeown commented on #3759
He also requested the feature layer be changed to edit.

[2020-08-20 21:13] Nadin-Nader commented on #2632
Hello Nadin,

Yes, you got it. That one commit d411da944535 ,covers both the tickets.

Also, each time my VPN goes through the password reset process I am unable to access Teams. You can e-mail me if you need me to look at something real quick. 🙂

Best Regards,
Aishwarya Ramesh

[2020-08-20 21:21] SurbhiBakshi commented on #3741
Test Steps -

[2020-08-20 21:31] jaime-mckeown commented on #3759
Joel completed his edits, changed ownership back to ATD Publisher.

[2020-08-20 21:31] #3759 closed

[2020-08-20 21:51] Nadin-Nader commented on #2632
@aishwarya2505 @TracyLinder @Sreelatha-BlazeKannan I have submitted the request for deployment to DEV to the CM DevOps Team:
Task fo CM DevOps team is SCTASK0091486.

**Status:**

Waiting on CM DevOps team to deploy to DEV (SCTASK0091486)

[2020-08-20 21:51] Nadin-Nader commented on #2634
@aishwarya2505 @TracyLinder @Sreelatha-BlazeKannan I have submitted the request for deployment to DEV to the CM DevOps Team:
Task fo CM DevOps team is SCTASK0091486.

**Status:**

Waiting on CM DevOps team to deploy to DEV (SCTASK0091486)

[2020-08-20 22:14] licarir commented on #2662
![image.png](https://images.zenhubusercontent.com/5ebae52ece896d5e6d9acd69/89ca2470-2958-4ff3-bb19-5a59d2501726)

[2020-08-20 22:33] sergiogcx commented on #3734
I stopped all the CR3 processes and started anew, all CR3s seem to have been loaded.

[2020-08-20 22:33] TracyLinder commented on #3526
### Addendum Bug Images

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/53d0b263-fe2b-43ab-bd98-1470864af9c1)

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/663b75a5-9ee5-45e6-b89b-ffd6241c6927)

[2020-08-20 22:47] sergiogcx commented on #3734
Two things I need to change is:
- The timeout, the DAG needs to stop executing after 1 hour tops.
- Filter out any temporary records, those do not need to have a CR3.
- Reduce the threads if possible.

[2020-08-20 23:21] sergiogcx commented on #3734
For airflow I created this PR, and went ahead and merged it to master. It will not affect running processes.
https://github.com/cityofaustin/atd-airflow/pull/25

[2020-08-20 23:23] sergiogcx commented on #3734
I've created a PR that filters out any temporary crashes:
https://github.com/cityofaustin/atd-vz-data/pull/908

[2020-08-20 23:56] sergiogcx commented on #3757
This turned out to be an easy fix :)

The abstract engine expects the order_by object to be already initialized. That was not initialized in the config, so it failed every time it tried to sort the data.

To fix it, I just had to initialized the order_by object, but I went a bit further out by implementing a fail-safe mechanism in the abstract engine so that even if not initialized it will do it f

[2020-08-20 23:59] sergiogcx commented on #3757
As a side note, I tested the code by switching the .env files and ran the local host against the production Hasura API. I did have to go into Auth0 and allow localhost into the prod environment, after the testing I have rolled back the changes for security.

[2020-08-21 00:04] sergiogcx opened #3760 "MDS: Bug: Jump MDS endpoint has been failing for the past 6 hours"
The ETL pulling data from Jump has been failing for the past 6 hours today, since 12:20 until now 7pm.

This is the error message:

[code]

Will ping the endpoint and see what's up, will also try version 4

[2020-08-21 00:06] sergiogcx commented on #3592
I found this article in Hasura:

https://hasura.io/docs/1.0/graphql/manual/event-triggers/clean-up.html

[2020-08-21 00:06] sergiogcx commented on #3592
We may need a separate DAG that runs every week or every few days at night.

[2020-08-21 02:09] sergiogcx commented on #3592
I've created a PR for this purpose:
https://github.com/cityofaustin/atd-airflow/pull/26

[2020-08-21 02:09] #3592 closed

[2020-08-21 02:11] sergiogcx commented on #3760
For some reason I can't the endpoint to issue a token, it says the scope type is invalid:

![2020-08-20_20-23-05.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/8563c043-c310-4f11-a369-6ddf7084c00c)

[2020-08-21 02:22] sergiogcx commented on #3592
It's working by the way:

Before Execution:
![2020-08-20_21-18-00.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/b76489f9-9ca0-4638-bd0a-9a2e7944dc0a)

Execution:
![2020-08-20_21-20-49.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/6a947b45-a942-4f8b-99d9-be1dfd0829af)

After:
![2020-08-20_21-21-02.png](https://images.zenhubusercontent.com/5b7edad7290aac725a

[2020-08-21 02:30] sergiogcx commented on #3575
For production, I first have created two backups:

[code]

[2020-08-21 03:23] #3575 closed

[2020-08-21 06:38] amenity commented on #2475
###  ✨[Demos](https://drive.google.com/file/d/1YLNHrXg7tv-IseU2LFsYDiQk9_KbMsEw/view?usp=sharing)✨

### Authentication + Frontend Framework + Form Builder

Sergio's research spanned several areas...

- Liked Cognito; doesn't need a third-party log in window

- Used [Matx](https://github.com/uilibrary/matx-react) React Material UI admin dashboard theme
  - Material UI has many good components, more

[2020-08-21 13:44] SurbhiBakshi opened #3761 "Meeting | Open Data Meetup - August 28, 2020"

[2020-08-21 14:05] SurbhiBakshi opened #3762 "Meeting | DTS Service Rotation Retro - August 20, 2020"
### [Retro Notes  ](https://miro.com/app/board/o9J_knWmS3g=/)

Action Items in #3763

[2020-08-21 14:16] SurbhiBakshi opened #3763 "Improve DTS Service Rotation process"
From #3762 , Action Items

- [x] Note what happens to vendor email especially the ones related to new features and conferences
- [x] Outlook rule for Github issues (not DTS Service Requests)
- [x] Document how to transfer issues from one team member to another between rotations
- [x] Figure out which issues are urgent and process to address those - made a separate issue #3806
- [x] Make a note in

[2020-08-21 14:57] SurbhiBakshi opened #3764 "Bug - Remove from My Assignments not working as expected"
Though the Remove from My Assignments form works in the Future Assignments table, it does not work in the Today's Assignments table.

[2020-08-21 15:27] #3764 closed, assigned to SurbhiBakshi

[2020-08-21 18:06] TracyLinder opened #3765 "Bug: RW-Street Event Web Application Acceptance Process Missing (TL)"
### Per stakeholder, folder process 'Web Acceptance Intake' is missing from their folders, causing staff to miss application submittals. This is a critical bug.

**Stakeholder** Maria A
**DTS Manager:** Tracy

**Acceptance Criteria:**
- When an applicant submits an RW-Street Event via portal, the system should:
    - Update the folder status to 'Internet Pending'
    - Insert 'Web Application Acce

[2020-08-21 19:50] jaime-mckeown opened #3766 "TDSD Web Map - Optimize performance"
Look into the TDSD Web Map to see if there are any ways that I can make it run faster.
- maybe grouping feature layers into multiple feature feature layers would be faster for the data that we have sitting in the TDSD directory.
- Can look into making a copy and migrating it to the Web Viewer BETA version.

[2020-08-24 03:36] #3633 closed

[2020-08-24 12:15] atdservicebot opened #3767 "Resolve Device Status page links for CCTV's"
Data Tracker

Device Status page links to CCTVs are not working. We've also had numerous other groups reach out with the same issue.

Internal to AMD, we have a workaround by accessing cameras via direct IP. However, other groups do not have this ability.

There is a chance this could be related to the knack migration, but it may just be coincidence.

I've tried multiple browsers

https://data.mob

[2020-08-24 13:26] jaime-mckeown commented on #1646
- Created Thiessen Polygons for Intersections as this will be the quickest way to find the nearest intersection. Will make it only on Insert so the editor can change the intersection when a better choice is available.
- Figured out how to make an Intersect Attribute Rule work for finding the Intersection ID.

[2020-08-24 13:27] #3753 closed

[2020-08-24 13:27] SurbhiBakshi commented on #3752
Meeting with Nicole scheduled for 08/27/2020

[2020-08-24 13:27] #3751 closed

[2020-08-24 14:08] SurbhiBakshi opened #3768 "Meeting - Configure short term solution for VZA unfilled assignments reporting"
FYI @amenity - going to meet with Lewis later this week to discuss.

[2020-08-24 14:29] jaime-mckeown commented on #3723
The Filter Widget just needed to be changed to an AND filter vs. an OR filter.

[2020-08-24 14:29] #3723 closed

[2020-08-24 14:47] SurbhiBakshi commented on #3767
FYI - @johnclary @amenity

[2020-08-24 15:00] jaime-mckeown opened #3769 "ATD Story Maps Input Collaboration Group - Add member"
Natalie C. emailed asking for Lewis L. to be added to the ATD Story Maps Input Collaboration Group.

[2020-08-24 15:00] jaime-mckeown commented on #3769
Added Lewis to the group and emailed Natalie to let her know.

[2020-08-24 15:00] #3769 closed

[2020-08-24 15:05] jaime-mckeown opened #3770 "Markings Specialty Point layer Geodatapusher Error"
Received a Geodatapusher Error for one record in the markings specialty point layer for a duplicate unique ID.

[2020-08-24 15:05] jaime-mckeown commented on #3770
Since Susanne G. is currently maintaining the markings GIS data, I emailed her and asked her if she could update the record.

[2020-08-24 15:05] #3770 closed, assigned to jaime-mckeown

[2020-08-24 15:06] johnclary commented on #3752
+1 for Approach 2

[2020-08-24 15:44] johnclary opened #3771 "TMC asset map is not auto-zooming to CSR address"
As pictured, the TMC asset map on the [TMC Issue Details page](https://atd.knack.com/amd#tmc/view-tmc-details/5f4157ec59c75d0018d8e124/) is not auto-zooming to the reported address of the 311 CSR.

![thumbnail_image001.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/61f74c20-5d22-4058-b2d7-f6e7e4f5ee0d)

[2020-08-24 15:44] moorerst commented on #933
8/21 Joseph communicated with vendor to express that a sole source procurement will be pursued because the current contract is scheduled to expire Dec 2020.
Requested the vendor provide a letter of justification that clearly states the reason for Passport being the sole provider and why. This letter must be on a company letter head and signed by an authorized representative of Passport. Can you pl

[2020-08-24 15:45] #3771 closed

[2020-08-24 15:45] johnclary commented on #3771
This was caused by the switch to the Knack Standard theme, which broke our custom JS that gets/sets the map iframe `src`. Fixed in [this commit](https://github.com/cityofaustin/atd-knack/commit/02040d53202be9178a763c1f82c9c3ca4cc7ec83).

[2020-08-24 15:47] johnclary opened #3772 "Improve usability on MMC page"
From Lance:

![Screen Shot 2020-08-24 at 10.48.23 AM.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/9d39f01f-4f7a-49f7-9ca3-3d777c0f6c1a)

[2020-08-24 15:54] johnclary commented on #3772
This is a theme setting and can be adjusted under Live App Design > Page Width. It's currently set to "Max Width", which limits the max width of any view in the app. We can switch this to full-width, though the app page's will be really wide on large monitors.

Here's what it looks like in test, on my laptop screen:
![Screen Shot 2020-08-24 at 10.51.57 AM.png](https://images.zenhubusercontent.com/

[2020-08-24 16:00] amenity commented on #3767
Is this a duplicate of #3622, @johnclary?

[2020-08-24 16:07] moorerst commented on #3638
@ChrispinP I reviewed the page and the links.
One update: Under In Person Payment can you remove - **Please make payment by mail or over the phone.**
It seems confusing to have that statement when we have phone and mail payment options mentioned above. Curbside for limited days/hrs is the available option for In Person.
Everything else looks great, all the links work as expected. Thanks

[2020-08-24 16:10] johnclary commented on #3767
@amenity separate issue. fixed as described [here](https://app.gitbook.com/@atd-dts/s/atd-dev/legacy-scripts-and-services#cctv-service-is-a-sanic-app) and asked Surbhi to add this to the knowledge base.

[2020-08-24 16:11] #2640 closed

[2020-08-24 16:16] jaime-mckeown opened #3773 "Critical Arterial's Export from AGOL - Allyson R."
From Allyson:

[2020-08-24 16:16] amenity commented on #3767
Thanks, @johnclary & @SurbhiBakshi — so this is fixed? I don't need to reach out to Lance and figure out who from other groups will need access to these and for what in order to assess urgency?

[2020-08-24 16:19] jaime-mckeown commented on #3773
I checked the critical arterial layer in GISDM against the version in AGOL. The version in AGOL had more streets included. Double checked against the table Allyson sent. Emailed her the AGOL version.

[2020-08-24 16:19] #3773 closed

[2020-08-24 16:34] amenity commented on #3772
@johnclary —
Why would the core AMD folks dislike this change? b/c their screens aren't as big so this will make the text smaller?

Questions:
 - Can any be removed from this view?
 - Why is _Engineer Area_ so often empty — should it be concatenated with _Location_ where it exists?
 - Why is _Issue Reported_ so often empty — should it be concatenated with _Issue_ where it exists?
 - Can _Status_ b

[2020-08-24 18:22] amenity commented on #3723
Thanks, @jaime-mckeown ! Did you reach out to Jen or would you like me to?

[2020-08-24 18:23] amenity commented on #3768
Wonderful, @SurbhiBakshi . Let me know how I can help ya!

[2020-08-24 18:24] jaime-mckeown commented on #3723
@amenity I emailed her after I made the change.

[2020-08-24 18:29] ChrispinP commented on #3566
Improvements made to the Bike Share form, updated to a checkbox and inclusion of acknowledgement text. Additional grammatical improvements.

![image](https://user-images.githubusercontent.com/67915167/91082129-d2927b80-e60d-11ea-84a7-43eb068d5965.png)

complete

[2020-08-24 18:38] licarir commented on #2662
@TracyLinder @Nadin-Nader These last two changes have made it to TEST for UAT now.

[2020-08-24 18:40] amenity commented on #2475
@zappfyllc — recording for your viewing pleasure.

[2020-08-24 18:40] #2475 closed

[2020-08-24 18:40] ChrispinP commented on #3638
Agree. Cleaned up In-Person Payments section.

complete

[2020-08-24 18:40] #3638 closed

[2020-08-24 18:42] amenity commented on #3566
Thanks, @ChrispinP! Looks like this is deployed, too, right?

[2020-08-24 18:56] #3653 closed

[2020-08-24 18:56] Nadin-Nader commented on #2396
Had a meeting with Kim, Ryan and Paloma and we went over the acceptance criteria for this. I explained to them that this will have to be researched to see how much the DS folder Expiration date affects the BP or the BP Expiration date. Moving to Backlog

Power Users need to have the ability to manually override DS expiration date
The DS Expiration date should be disassociated from the BP Expiratio

[2020-08-24 18:58] #2828 closed

[2020-08-24 19:04] kaarthym5 commented on #1909
@tracyLinder @licarir meeting with Stakeholders Paloma and Kim is complete. Stakeholders agreed to the solution we presented. As discussed a new process will be created, list to refer here will be from “Row Intake Group”. Will update AC and move the story to backlog.

[2020-08-24 21:02] jaime-mckeown opened #3774 "Pavement Markings Work Orders Feature Layer - taking 38GB of storage"
Andrew from CTM let us know that this feature layer was taking 38GB of hosted feature layer storage, which is ~25% of all COA hosted feature storage.

[2020-08-24 21:04] jaime-mckeown commented on #3774
- Andrew asked Esri if they could verify where the size was coming from as this feature layer has many relationships and attachments connected through Knack.
- Esri suggested that we turn off Enable Sync if it is not needed as feature layers can "grow" in size when that is enabled.

[2020-08-24 21:22] Nadin-Nader commented on #1923
After the meeting with Ryan, Kim and Paloma this morning we found that this request is like the UC Task List Bug and Clean up (#2511). They would like the TCI Inspection Process to not populate the Assigned To field automatically and for the process to drop off of their Task Lists when closed. Ryan said that this should not be assigned to anyone automatically and to go ahead and delete all of them

[2020-08-24 21:32] jaime-mckeown opened #3775 "Pay to Park Areas - republish feature layer: Francesco Z."
Francesco asked me to re-publish the Pay to Park Areas feature layer.

[2020-08-24 21:33] jaime-mckeown commented on #3775
- Republished feature layer to AGOL.
- The schema for the symbology had changed, therefore I needed to reconfigure the updated feature layer in the Web Map (symbology, pop-up, etc.)

[2020-08-24 21:33] #3775 closed

[2020-08-24 21:37] jaime-mckeown commented on #3774
After turning off Enable Sync, the feature layer is now only 26MB. Will need to remember that in the future to make sure that doesn't happen again...

[2020-08-24 21:37] #3774 closed

[2020-08-24 21:53] Nadin-Nader commented on #1923
Ryan Responded:

From: Mooney, Ryan <Ryan.Mooney@austintexas.gov>
Sent: Monday, August 24, 2020 3:52 PM
To: Nader, Nadin <Nadin.Nader@austintexas.gov>
Subject: RE: TCI Task List Issue and Clean Up #1923

Nathan Chandler
Ed Bryant
Eddie Flores
Harvey McKinney
Blake Barnard
Patrick Maldonado

[2020-08-24 21:53] amenity opened #3776 "Configure authentication and user accounts"
Check one last time if Auth0 has pushed support for Netlify deploy previews. If not, move forward with Cognito.

[2020-08-24 21:56] ChrispinP commented on #1674
Coordinate fields and Add Location button both completely missing for all signs works
![image](https://user-images.githubusercontent.com/67915167/91098412-08902980-e627-11ea-950c-fe698199b9da.png)
Except for work orders with the 'Issued' status where the below problems occur

Default View (Coordinate fields do not show on page load, Add Location button positioned with CSS above the mapbox TM):
![i

[2020-08-24 22:31] johnclary commented on #3649
thanks @jaime-mckeown. good stuff. let me know if you need any help/input from me.

[2020-08-24 22:33] johnclary commented on #3763
looks like a productive retro @SurbhiBakshi! let's discuss during app sync?

[2020-08-24 22:37] johnclary commented on #1674
thanks @ChrispinP! the first case is expected behavior: the add location button should not be visible if the work order is not an an "issued" state. worth noting that we have an [open issue](https://github.com/cityofaustin/atd-data-tech/issues/3201) to change this behavior.

the misplaced "add location" button is a minor bug that we'll need to pass off to the dev team.

[2020-08-24 22:39] johnclary commented on #3750
yes. added to backlog and will at least debug it in sprint 32.

[2020-08-24 22:40] johnclary commented on #632
#icebox

[2020-08-24 22:41] johnclary commented on #843
i'm just going to close it. we've done a pretty good job?

[2020-08-24 22:41] #843 closed

[2020-08-24 22:43] johnclary commented on #975
i think that's an ok idea. shall we discuss at product sync? what about.....a separate zenhub workspace? <collective groan>

[2020-08-24 22:47] johnclary commented on #1341
i think it's fair to say that we see the [parking inventory data migration](https://github.com/cityofaustin/atd-data-tech/issues/1825) as a blocker to this work. i wonder if a GIS collector app would solve most of this need. we definitely need to scope it but i'm hopeful we could get it done with Jaime's help and the new GIS analyst on Joseph's team.

[2020-08-24 22:56] amenity commented on #3767
@SurbhiBakshi wrote to Lance to let him know the issue was resolved.

[2020-08-24 22:56] #3767 closed

[2020-08-24 23:35] amenity opened #3777 "[BUG] "Add Location" button disappearance bug when a comment is added to Signs Work Orders"
From the Work Order Details page, if you add a comment to the work order, the "Add Location" button disappears from the embedded map, and you must refresh the page in order to proceed.

Steps to reproduce:
- Login as a technician user.
- Navigate to a signs work order details page in an Issued status.
- Add a comment to the work order.
- "Add Location" button is not visible on map.

All the infos

[2020-08-24 23:38] amenity commented on #3201
@mddilley @johnclary - would it make sense to do #3777 alongside this one?

[2020-08-24 23:45] amenity commented on #1341
@johnclary - thanks. Should @moorerst scope?

[2020-08-25 00:13] amenity commented on #975
~groan~ ... but yeah, I think this is worth discussing. :) I think it might be a better idea. TBH, this is really only an issue with Data Tracker.

[2020-08-25 03:30] #1419 closed

[2020-08-25 03:37] johnclary commented on #2457
@SurbhiBakshi the B-Cycle publishing script attempts to update the dataset on a nightly basis. However, the source data files are only updated on a monthly basis. Whenever a new data file is uploaded to Dropbox by B-Cycle, our script will pick it up. However, B-Cycle staff do not consistently provide the new data files in a timely manner, and our program staff must reach out to them and ask them t

[2020-08-25 03:37] #2457 closed

[2020-08-25 03:42] johnclary opened #3778 "Retire Data Tracker metdaata updater script and delete module from Data Tracker"
The [metadata updater](https://github.com/cityofaustin/atd-data-publishing/blob/master/transportation-data-publishing/data_tracker/metadata_updater.py) provided an interface for searching app metadata from within the Data Tracker. Now that we have the [metadata explorer](http://knack-explorer.netlify.app/), we don't need this Data Tracker functionality.

Todo:
- disable script task from atd-data-d

[2020-08-25 03:57] johnclary commented on #3778
done, done, and done.

[PR](https://github.com/cityofaustin/atd-data-deploy/pull/62)

[2020-08-25 03:57] #3778 closed

[2020-08-25 12:45] Nadin-Nader commented on #2632
@aishwarya2505 @TracyLinder @Sreelatha-BlazeKannan This has been deployed to DEV by George at CTM

[2020-08-25 12:45] Nadin-Nader commented on #2634
@aishwarya2505 @TracyLinder @Sreelatha-BlazeKannan This has been deployed to DEV by George at CTM

[2020-08-25 12:58] SurbhiBakshi commented on #2457
thanks @johnclary! will update the Wiki to reflect that.

[2020-08-25 13:35] amenity commented on #3647
@johnclary - as you wrap up AMD's inventory, do you have a sense of the level of effort for this request? Also, is there a specific ask from Susanne that we can speak with her about?

[2020-08-25 13:44] amenity commented on #3589
I asked Christina whether we're sure a "warehouse" column will meet their needs, being as that there are times when a material is sourced from more than one warehouse. So a single field/column for a given line item would not be sufficient.

Their idea with this original request is that a material from multiple sources would have multiple line items indicating the quantity from each source.

SMB is

[2020-08-25 14:00] SurbhiBakshi commented on #3589
thanks @amenity! Then we don't have to meet the 3-4 week timeline.

[2020-08-25 14:13] Nadin-Nader commented on #1516
Received email from Isaiah:
Nate

Please remove all but Gregory Pepper and Isaiah Lewallen.  Please add Jaclyn Lozano.

Thank you

Isaiah Lewallen
Engineering Associate C
Utility Coordinator
Austin Transportation Department
Right-of-way Management Division

[2020-08-25 14:15] Nadin-Nader commented on #1516
**Status:**
Ready for Work

[2020-08-25 14:39] SurbhiBakshi opened #3779 "Meeting | SD 2023 Status 2 report - Aug 25, 2020"
Meeting to edit measures

[2020-08-25 14:56] licarir commented on #3765
@TracyLinder @Nadin-Nader Is there a PROD RSN that we can use to trouble shoot this? What specific folder did this bug appear on? Thank you.

[2020-08-25 14:57] amenity commented on #3684
@zappfyllc — should #3776 be under this epic?

[2020-08-25 15:08] zappfyllc commented on #3628
Update @amenity: I'm writing a quick python script to pull most frequently used words within SMB work orders for both signs and markings, and then I'm sorting by Requester (311, Maintenance, Transportation Engineering, etc.) to see patterns. Initial takeaway from eyeballing the data is that we may have to leverage the same type of pattern as Nathan used in ATSD for drilling down more specific inst

[2020-08-25 15:19] aishwarya2505 commented on #2634
@TracyLinder @Nadin-Nader @Sreelatha-BlazeKannan Tested this in DEV , FolderRSN 11894774 and the changes work as expected.

[2020-08-25 15:19] zappfyllc commented on #3684
@amenity Yes, and I would have it block SSO as a feature, which maybe could be rolled up as an issue in this Epic as well, but I'd keep them separate for now until @sergiogcx and/or @mddilley can weigh in on the amount of work entailed to implement SSO. If SSO implementation is not Epic-worthy (many sprint's worth of work), then I would move it underneath this larger feature.

[2020-08-25 15:19] aishwarya2505 commented on #2632
@TracyLinder @Nadin-Nader @Sreelatha-BlazeKannan Tested this in DEV , FolderRSN 11894774 and the changes work as expected.

[2020-08-25 15:23] amenity commented on #3684
Oops — I meant to come back and correct this. I realized that configuring authentication (#3776) — obviously belongs under SSO (#3682). And they should then block this, yes?

[2020-08-25 16:14] zappfyllc commented on #2326
Moving this to Sprint 32 for finishing the following:
- Reducing database scope (remove tables that won't be included in first few releases)
- Building queries to test out working relationships and identifying missing relationships
- Time-pending: "Summary" entities, 1:1 project entity destructuring proposal: I need to set up moped_proj_timeline and a few other of these tables that are 1:1 with pr

[2020-08-25 16:22] Nadin-Nader commented on #2663
Sent meeting request to Maria:

Hi Maria,

Hope you are doing well. I was reaching out to you about an enhancement request we have, 2663 Feature: System auto-creates OSE folder from ACE parent folder. I was wondering if we could go ahead and set up a meeting to continue to get the preliminary scoping done on this. SO far from Tracy’s notes there are infos that already have the logic for what you a

[2020-08-25 16:43] kaarthym5 commented on #1909
@tracylinder @licarir this requirement scoping is complete, ready to start work.

[2020-08-25 16:44] kaarthym5 commented on #1926
Requirement refinement complete. Ready to start work @tracylinder @licarir

[2020-08-25 16:45] Nadin-Nader commented on #2634
**Status:**
Ready for UAT on DEV

[2020-08-25 16:50] zappfyllc commented on #3684
Sure, they're all arguably a part of the same overlying capability so how we want to slice them up is fine with me. SSO doesn't have to be the implementation choice for user authentication, but I'm assuming it will be and provides the most value from an end-user perspective (hence why it was called out as its own feature).

[2020-08-25 17:09] #3483 closed

[2020-08-25 17:14] moorerst commented on #3404
Reached out to Jeremiah to determine who should attend the meeting from his team. He forwarded to Matt as the lead of Compliance Management.
Per Matt include him, Tarek, John and myself. Will schedule for next week.

[2020-08-25 17:46] moorerst commented on #3404
Meeting schedule 8/31

[2020-08-25 17:56] mateoclarke commented on #3635
This record is not in CRIS or Brazos. At least I couldn't find it in my searches with the crash ID given.

This record was created manually using information that was provided via email on 11/21/19

![Screen Shot 2020-08-25 at 1.47.32 PM.jpg](https://images.zenhubusercontent.com/59f0b24ba468affe6df81d8f/8bf54af1-b134-4f6b-88df-85e95180d353)

We should go ahead and create the related person and uni

[2020-08-25 18:30] moorerst opened #3780 "[RPP Back Office] Evaluate Survey"
The resident has the option to complete a short survey from a link included in the Approved-Pending Payment email notification.
We are not getting any responses from the survey.  What can we do to get more looks and responses to the survey?

For reference here is the email details for when the application is reviewed and approved:
Dear {NAME OF APPLICANT},

Residential Parking Permit Application s

[2020-08-25 19:11] amenity opened #3781 "8/25 Sprint Review"
- [Slides](https://docs.google.com/presentation/d/1Sg40siCXWdhQLZ8fql3ur2duZoCBzKhGQXrh8MI5vPI/edit#slide=id.p)
- [Recording](https://web.microsoftstream.com/video/760716a9-931e-444e-9acc-0a0b31c235e6)

[2020-08-25 19:56] jaime-mckeown opened #3782 "Protected Bike Lanes Request - Heather K. from ARR"
From Heather:

[2020-08-25 20:05] SurbhiBakshi commented on #3763
@johnclary modified the rule to stop comment notifications from Zenhub coming to the inbox. @ChrispinP - tagged you on on this issue

[2020-08-25 20:11] Nadin-Nader commented on #2396
@TracyLinder
**Status:**
Due to V7 Code Lockdown for this. Tracy will need to discuss with Deanna

[2020-08-25 20:15] atdservicebot opened #3783 "[Knack Style Guide] Update field-naming conventions"
- Use only alpha-numeric characters or spaces. Do not use special characters or double spaces.
- Do not begin a field name with a number
- Avoid using the name `ID`. Instead use `Record ID`, `Attachment ID`, etc.
- Limit fields to at most 63 characters in length

[2020-08-25 20:16] Nadin-Nader commented on #1923
@Nadin-Nader Set meeting between Jets and Ryan Mooney

[2020-08-25 20:19] jaime-mckeown commented on #3782
- Talked to John during my 1:1 to see where the best location would be to get the protected bike lane data from since there are so many options. After looking around, decided to send her a subset of the CTN of all bicycle facilities.
- I also included the Domain table for the Bicycle Facility field in the email to help with figuring out the data.

[2020-08-25 20:26] jaime-mckeown commented on #3649
Talked to John about the School Zone Beacon data after talking with Billy.
- Location address field is currently geocoded through HERE service which can give unusual results. We are going to allow the Signal Tech's to assign an address to each SZB, with the address fields broken up for cleaner editing (Street Number, Street Pre-Direction, Street Name, Street Type). Domains can be added on Street P

[2020-08-25 20:26] licarir commented on #3765
12530325 is one sample that I located. Surya said that if a folder does not ever get into the Application Incomplete Status and then the Internet Pending status, it will not run the procedure on the back end which inserts the 70000 procedure properly. The one I checked above through the audit button did not ever enter those statuses.

[2020-08-25 20:54] SurbhiBakshi commented on #3783
@johnclary @ChrispinP - works for me, assume the 63 character limit is for the field name. I have wondered if it would be a best practice to limit characters in a field entry as well?

[2020-08-25 21:02] amenity commented on #3159
Notes from 8/25 Sprint Review:
- Project names are very messy; standardization could be powerful
- At the same time, projects are named by all sorts of entities and we don't have the authority to change the name
- This is especially important when it comes to reporting (didn't catch the precise reason why 🙃 )...

[2020-08-25 21:13] jaime-mckeown opened #3784 "Pay To Park Areas - republish feature layer: Francesco Z."
Joseph had Francesco make more changes to the Pay To Park Areas data and needs it re-published.

[2020-08-25 21:35] jaime-mckeown commented on #3784
After I re-published Francesco asked about the labels as they didn't match how they were displayed in ArcMap. I let him know that AGOL isn't very smart with labels, it can't do anything fancy. Mueller was spelled wrong. Fixed and re-published.

[2020-08-25 21:35] #3784 closed

[2020-08-25 21:40] SurbhiBakshi commented on #3752
Here is the table and measure card if we choose to use the aggregate table, I am using population numbers from the OPM dataset
1. Dataset
2. [Measure Card]

[2020-08-25 21:41] JaceDeloney commented on #3743
Last week we discussed this issue not being relevant anymore, but the issue has come up again.

Lewis let us  know that Xavier pdated the lat/longs for a bunch of crashes on William Cannon last week, but they aren't showing up in the updated polygon. Here is an example: https://visionzero.austin.gov/editor/#/crashes/16441342

At minimum, let's spend some time verifying that this process is working

[2020-08-25 22:12] jaime-mckeown commented on #3649
PREFIX_DIRECTIONn
- E (East)
- N (North)
- S (South)
- W (West)

PREFIX_TYPE
- CR
- FM
- IH
- SH
- US

STREET_TYPE
- ALY (Alley)
- AVE (Avenue)
- BLVD (Boulevard)
- BND (Bend)
- BR (Branch)
- BRG (Bridge)
- CIR (Circle)
- CRES (Crescent)
- CT (Court)
- CTOF ?
- CV (Cove)
- CYN (Canyon)
- DR (Drive)
- EXPY (Expressway)
- GDNS (Gardens)
- GLN (Glen)
- HOLW (Hollow)
- HWY (Highway)
- LN (Lane)
- LOOP

[2020-08-25 23:59] amenity commented on #1341
@moorerst — here ya go! 😎

[2020-08-26 00:34] sergiogcx commented on #3743
- [x] identify crashes that belong to the wrong location:
This was done by running a SQL script:

[code]

- [x] Update the location of those records manually (I updated the records manually in staging, the script worked.

This is the SQL to update records manually:

[code]

- [x] once the process has been identified, automate it and make it a nightly job so that we have the same redundancy as our

[2020-08-26 00:41] sergiogcx commented on #3743
UPDATE: I've run the script in production, and I could not find any more crashes that belong in the wrong location. This task is fully automated.

This is a list of all the crashes that were fixed:

[code]

[2020-08-26 03:23] johnclary opened #3785 "Review new Knack pipeline proof-of-concept"
I've started building a new Knack ETL pipeline, [atd-knack-services](https://github.com/cityofaustin/atd-knack-services).

I've done just enough to prove the concept and would like to get feedback from the dev team before going any further.

Goals of this new design:
- reduce knack server load by using an S3 data store for common/frequent tasks
- keep the code as modular as possible
- make the cod

[2020-08-26 03:25] sergiogcx commented on #3645
There is a PR associated to this and ready to be reviewed:

https://github.com/cityofaustin/atd-vz-data/pull/915

[2020-08-26 14:30] atdservicebot opened #3786 "(Urgent) This is a test"
Other / Not Sure

This is a test

Urgently — Today or tomorrow

This is a test

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/asset/5f4671b96136290015a21e95/screenshot20200826at8.39.55am.png) (37.42kb)

Request ID: DTS20-101050

[2020-08-26 14:38] Nadin-Nader commented on #2391
@TracyLinder @Sreelatha-BlazeKannan @aishwarya2505  Per Martin, this has been deployed to PROD. I will send Paloma and Kim an email informing them that this is on PROD and that we are closing the card.

[2020-08-26 14:38] #2391 closed

[2020-08-26 14:44] moorerst commented on #3389
At their request scheduling week of 8/31

[2020-08-26 14:45] SurbhiBakshi commented on #3786
Closing this issue since it was a test

[2020-08-26 14:45] #3786 closed

[2020-08-26 15:00] johnclary commented on #3766
You can consider simplifying the geometry of layers you have control over. E.g. with [mapshaper](https://mapshaper.org/).

[2020-08-26 15:02] Nadin-Nader commented on #3414
@SubhaShroff @TracyLinder @Sreelatha-BlazeKannan
Reviewed the PDF outputs for the report and from what i can gather (from looking at the info on this card and the report) is that the acceptance criteria seems to have been met based on the info filled out by Ryan (above). I did have one thing i saw on Page 2 of 3 in the Portrait Report sample sent:

![image.png](https://images.zenhubusercontent.com

[2020-08-26 15:10] jaime-mckeown opened #3787 "Create Attribute Rules based on Attribute Assistant Rules"
Work on creating Attribute Rules for Markings data to replace current Attribute Assistant Rules.

[2020-08-26 15:11] amenity commented on #3634
Had a meeting earlier this week; @SurbhiBakshi is looking into this. @ChrispinP will follow up.

[2020-08-26 15:11] jaime-mckeown commented on #3787
- Created Thiessen Polygons for Intersections as this will be the quickest way to find the nearest intersection. Will make it only on Insert so the editor can change the intersection when a better choice is available.
- Figured out how to make an Intersect Attribute Rule work for finding the Intersection ID.

[2020-08-26 15:12] johnclary commented on #2052
Scripts are ready!

[2020-08-26 15:13] #1000 closed

[2020-08-26 15:14] #2770 closed

[2020-08-26 15:14] #2850 closed

[2020-08-26 15:14] johnclary commented on #2050
This is done and ready.

[2020-08-26 15:14] #2050 closed

[2020-08-26 15:15] johnclary commented on #1648
We did it!

[2020-08-26 15:15] #1648 closed

[2020-08-26 15:16] amenity commented on #3482
Waiting to get specifics on the records retention policy here.

[2020-08-26 15:17] johnclary commented on #1411
Not needed as we have this info in the source data from the controller's office database

[2020-08-26 15:17] #1411 closed

[2020-08-26 15:18] #2981 closed

[2020-08-26 15:18] johnclary commented on #2981
Scratching this indefinitely....

[2020-08-26 15:19] johnclary commented on #3000
Steve/Knack is currently reviewing the master agreement. We're waiting for them to sign it.

[2020-08-26 15:25] amenity commented on #3440
@moorerst will follow up with Nathan; this is going to be a lot of work on our end and we're not convinced it would have an impact.
We can provide any additional lists/reports that would help him address this.

[2020-08-26 15:26] johnclary opened #3788 "Discovery Day v5"

[2020-08-26 15:27] amenity commented on #3389
We're iceboxing #1488, but some of the information in there might be useful to include in this discussion.

[2020-08-26 15:30] amenity commented on #3418
@ChrispinP — heads up, this is coming your way. 😎

[2020-08-26 15:31] JaceDeloney commented on #3635
Moving this back to the backlog until we hear more from the VZ team on next steps.

[2020-08-26 15:32] amenity opened #3789 "Review how existing CSR integrations are handled in Knack apps"

[2020-08-26 15:33] johnclary commented on #3619
It's the "TYPE" column in the controller's office database.

[2020-08-26 15:33] #3619 closed

[2020-08-26 15:36] amenity commented on #1341
@moorerst - please check in with Joseph to see if this is still a need and, if so, what priority is.

[2020-08-26 15:43] amenity commented on #2317
ROW has a 9 day turnaround so there's a Python script that calculates business days. Need to get this into the new app.

[2020-08-26 15:47] #3779 closed

[2020-08-26 15:49] amenity commented on #2051
@johnclary - please forward an example of a "What's Happening" email to Chrispin

[2020-08-26 15:50] amenity commented on #2051
Also please add docs to the Knack wiki.

[2020-08-26 15:51] amenity commented on #2298
Duplicate of #2317

[2020-08-26 15:51] #2298 closed

[2020-08-26 15:53] #3762 closed

[2020-08-26 15:54] amenity commented on #3566
Waiting for an email from Kelsey before closing.

[2020-08-26 15:55] amenity commented on #3535
Haven't heard about any issues on this...

[2020-08-26 15:55] #3535 closed

[2020-08-26 15:58] #1674 closed

[2020-08-26 15:59] atdservicebot opened #3790 "Adjust the Traffic Signal Request Ranking table so that locations and their scores are available at the same time."
Data Tracker

In the Traffic Signal Request Ranking Page I am not able to see the location and scores for the location at the same time (see attachment).

Is is possible to widen the view window for the data?

You can scroll across and see the rankings but you cannot tell what location they are associated with

[Attachment](https://api.knack.com/v1/applications/595d00ebd315cc4cb98daff4/download/as

[2020-08-26 16:09] #3727 closed

[2020-08-26 16:09] #3480 closed

[2020-08-26 16:11] amenity commented on #3714
@mddilley - labeling this Sprint 32 because it would be wonderful to have going for our pilot with officers, but it can wait if that won't work for you. Also, will you add an estimate, please?

[2020-08-26 16:19] amenity opened #3791 "Review Officer registration process and adjust as necessary"

[2020-08-26 16:30] #2602 closed

[2020-08-26 16:33] amenity commented on #3750
@johnclary - moving to On Deck. 🐛

[2020-08-26 17:14] atdservicebot opened #3792 "Markings GIS Data - Add New Fields / Domain - Susanne G."
ArcGIS

Add "WORK_DATE" date column and "DATE_SOURCE" text column (domain choice between "Data Tracker" and "GIS") for the following tables:

ATD_ADMIN.markings_short_line_date
ATD_ADMIN.markings_specialty_point_date
ATD_ADMIN.markings_specialty_line_date

Flexible  — An extended timeline is OK

Request ID: DTS20-101060

[2020-08-26 17:22] Nadin-Nader commented on #3308
@TracyLinder @SubhaShroff @Sreelatha-BlazeKannan I have reviewed the demo it hits all of the acceptance criteria below except for the protal portion of the acceptance criteria. This is only due to the fact that the work has been done in the Local Host environment and cant be tested on DEV until a commit is deployed to DEV:

-New info created, description is "“Name of Party that will place Temporar

[2020-08-26 17:41] Nadin-Nader commented on #1946
Subah is making a change to this and will be sending an updated DEMO. I also emailed CTM Tango informing them that i was cancelling and closing SCTASK0066577 Since LIT is working on this.

[2020-08-26 17:47] Sreelatha-BlazeKannan commented on #2983
@TracyLinder , @Nadin-Nader - Commited changes in DEV on 08/19 and submitted DEV deployment plan and tested the same in DEV Ready for UAT in DEV

[2020-08-26 17:49] Sreelatha-BlazeKannan commented on #1709
@TracyLinder , @Nadin-Nader  - DEV Testing completed by Aishwarya and Ready for DEV UAT

[2020-08-26 17:51] Sreelatha-BlazeKannan commented on #1713
@TracyLinder , @Nadin-Nader  - Completed by Subha and sent the Demo on 08/25/2020

[2020-08-26 17:52] Sreelatha-BlazeKannan commented on #2632
@TracyLinder , @Nadin-Nader  - Commited changes in DEV on 08/19 and submitted DEV deployment plan and tested the same in DEV Ready for UAT in DEV

[2020-08-26 17:53] Sreelatha-BlazeKannan commented on #2631
@TracyLinder , @Nadin-Nader - Commited changes in DEV on 08/19 and submitted DEV deployment plan and tested the same in DEV Ready for UAT in DEV

[2020-08-26 17:55] Sreelatha-BlazeKannan commented on #3169
@TracyLinder , @Nadin-Nader  - Subha working on the changes

[2020-08-26 18:04] jaime-mckeown opened #3793 "Republish Shared Mobility Operations feature layer - Andrea M."
Andrea requested that the Shared Mobility Operations feature layer be re-published as the Wheels operating area has changed.

[2020-08-26 18:13] sergiogcx commented on #2595
This is done:
https://app.gitbook.com/@atd-dts/s/atd-dev/visionzero-sftp-etl

[2020-08-26 18:13] #2595 closed

[2020-08-26 18:14] jaime-mckeown commented on #3793
Data has been re-published to AGOL.

[2020-08-26 18:14] #3793 closed

[2020-08-26 18:21] johnclary commented on #3783
No concerns from me about the character limit on a field entry. There are no constraints wrt to text length in PostgeSQL or Esri feature classes.

[2020-08-26 18:30] mddilley commented on #3714
@amenity - I'm reading Knack docs today to see what our options are for this feature. Happy to work on it this week so y'all will know before the pilot.

[2020-08-26 18:32] zappfyllc commented on #3628
**Goal:** Identify potential taxonomy for work orders submitted to the SMB team in order to add a “Project Category” field in the SMB Knack App that syncs well with Moped project-level data. Identify any patterns within current requests and the workgroup requesting the work.

**Method:** I queried the “work_orders_signs” and “work_orders_markings” objects in the Knack app to identify a record set

[2020-08-26 18:37] jaime-mckeown commented on #1769
Added School Name field to Audit data that the Signal Technicians will be using to clean-up the School Zone Beacon GIS data.

[2020-08-26 18:50] zappfyllc commented on #2410
Removed #2326 because we can proceed to set up the infrastructure regardless of Hasura and then migrate the metadata over. @sergiogcx let me know if there are any foreseen challenges with that approach, as I don't mind migrating over immediately but trying to clean up things before we start tracking/committing all the changes only because it speeds things up a bit on my end.

Action items that can

[2020-08-26 18:54] #3691 closed

[2020-08-26 18:55] Nadin-Nader commented on #1525
**Status:**
Waiting on Varun Etakula from CTM to deploy

[2020-08-26 19:02] TracyLinder commented on #1823
Per Robert, this went to PROD yesterday.

[2020-08-26 19:04] TracyLinder commented on #3536
@Nadin-Nader can you follow up w/ Jaclyn please?

[2020-08-26 19:09] TracyLinder commented on #3293
Sree will send Prod plan tomorrow 8/27

[2020-08-26 19:13] TracyLinder commented on #1525
@Nadin-Nader what environment is this being deployed to?

[2020-08-26 19:13] JaceDeloney commented on #3752
Since @SurbhiBakshi also has to create two new measures using population data, it was decided that Approach 2 makes the most sense. Will assign this to Surbhi and discuss action items from tomorrow's meeting.

[2020-08-26 19:17] SurbhiBakshi commented on #3752
Hi @JaceDeloney , slight correction to the comment above, I have two more VZ related metrics for this wave, but not related to population. I agree with Approach 2, but we would still need to know what population data to use.

[2020-08-26 19:18] amenity opened #3794 "Feature: Power BI integration"
As a ____, I want to _____ so that I can _____.

**In-scope:**

**Out-of-scope:**

**Resources:**
- Wireframe

**Data Model:**
_Brackets = relational data source
Parentheses = additional context/questions
Asterisks = required field for entry_

**Additional notes:**

[2020-08-26 19:22] sergiogcx commented on #3785
Question for @johnclary do knack datasets have a sequential primary key? Or is there a way to implement one? Reason I am asking is because this could help with integrations, instead of dumping entire datasets we can work the integrations to be progressive.

We would still have the full dataset in S3, but we would also save money in S3 (bandwidth costs) and it would be less resource expensive on Kn

[2020-08-26 19:23] mateoclarke opened #3795 "VZE - Expand logic how "Download CR3 PDF" button is displayed"
Right now, when the cr3-api attempts to retrieve a CR3 PDF, even if the PDF doesn't exist, the script downloads a blank PDF file. We should improve the user experience to make it more clear to users when a 1) good CR3 PDF exists and is available to download/review, 2) there is a blank PDF placeholder in S3, or 3) there truly is no file retrieved.

![Screen Shot 2020-08-26 at 3.10.28 PM.jpg](https:

[2020-08-26 19:28] sergiogcx commented on #3795
The download logic is this:

https://github.com/cityofaustin/atd-vz-data/blob/804edf754434a6681e96a48806e6c5947976fd40/atd-etl/app/process/helpers_cr3.py#L33

[2020-08-26 19:29] amenity commented on #3756
https://medium.com/encode/setting-up-storybook-with-material-ui-and-styled-components-5bdacb6db866

[2020-08-26 19:30] amenity commented on #3756
@sergiogcx - if you have thoughts/resources re: Github actions, please add them here 🙏

[2020-08-26 19:32] jaime-mckeown commented on #3793
The Wheels Operating Area number of zones changed, so I needed to re-add Wheels to the Web Map for the new zone to show.

[2020-08-26 19:34] amenity opened #3796 "Configure AWS database"

[2020-08-26 19:36] amenity opened #3797 "Configure AWS authentication"
Spinning up Cognito resources and connecting to Hasura.

[2020-08-26 19:37] amenity opened #3798 "Set up AWS frontend resources"
Set up Cloudfront distributions and domains (Route 53, city, etc.) and linking them accordingly.

[2020-08-26 19:38] amenity opened #3799 "Set up Netlify for Staging and Production branches"

[2020-08-26 19:40] amenity commented on #3799
Need to make a decision about branch names; will we continue the "Master" pattern we're using now ... Github is shifting the default to "Main", so let's do that.

[2020-08-26 19:40] Nadin-Nader commented on #1946
@SubhaShroff i have updated the card with the correct info for the Number of days requested, It is 75390. Good catch :)

[2020-08-26 19:40] TracyLinder commented on #1823
Stakeholders have been notified.

[2020-08-26 19:40] #1823 closed

[2020-08-26 19:41] amenity commented on #3776
Covered by #3797

[2020-08-26 19:41] #3776 closed

[2020-08-26 19:44] mateoclarke commented on #3743
Thanks for taking care of this Sergio!

[2020-08-26 19:45] Nadin-Nader commented on #2663
Had Meeting today and will update with acceptance criteria.
@Nadin-Nader update and add recording link

[2020-08-26 19:50] SurbhiBakshi commented on #3752
@johnclary @JaceDeloney @mateoclarke - Here is the table and measure card I created to prep for the meeting tomorrow - It does not match the VZ Viewer or OPM metric charts because I am sourcing from the [VZ dataset](https://data.austintexas.gov/Transportation-and-Mobility/Vision-Zero-Crash-Report-Data/y2wy-tgr5/data) but using the population numbers used for the OPM metric.
1. [Dataset](https://da

[2020-08-26 19:54] amenity commented on #3799
Resources:
- https://github.com/marketplace/actions/netlify-actions
- https://github.com/netlify/actions

[2020-08-26 19:55] SurbhiBakshi opened #3800 "M.D.1 - Create Draft Aggregate Dataset and Measure Card with VZ Viewer dataset"

[2020-08-26 20:09] amenity commented on #3799
Going to stick with Netlify instead of using Github Actions.

[2020-08-26 20:26] amenity commented on #3508
Only made this issue to group stuff for Zenhub roadmap purposes.

[2020-08-26 20:26] #3508 closed

[2020-08-26 20:38] jaime-mckeown opened #3801 "Pay To Park Areas Embed Code for Web Page - Mary V."
Mary asked for the embed code for the Pay To Park Areas Web Application.

[2020-08-26 20:38] jaime-mckeown commented on #3801
Used this article to create the code:
https://support.esri.com/en/technical-article/000012322

[2020-08-26 20:39] jaime-mckeown commented on #3801
Sent Mary below code:

<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><small><a href="//austin.maps.arcg

[2020-08-26 20:44] sergiogcx commented on #3756
Thanks Amenity, I will 😃

[2020-08-26 20:45] sergiogcx commented on #2410
Thanks for these notes, excited to get started.

[2020-08-26 20:52] sergiogcx commented on #3704
Ok, so it looks like I have been able to connect to the MDS v0.4 of Spin:

![2020-08-26_15-51-32.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/99645e71-5ec9-4a81-b3c4-4eebbc747576)

[2020-08-26 21:00] SurbhiBakshi opened #3802 "Meeting | SD 2023 Strategic Measure Collaboration / Transportation Cost Data - Aug 26, 2020"

[2020-08-26 21:03] SurbhiBakshi opened #3803 "Meeting | Returned Equipment for DTS Portal - Aug 26, 2020"
Gilda would like to see a Returned Equipment field on the Take Home Equipment page in the Admin tab. She needs to report this information to Rob. She can export the table if that field is included.

[2020-08-26 21:05] SubhaShroff commented on #1946
Thank you @Nadin-Nader.
@TracyLinder @Nadin-Nader @Sreelatha-BlazeKannan  I have sent you the updated demo video for this ticket today(8/26/2020).

[2020-08-26 21:10] SurbhiBakshi commented on #3802
OPM has asked us to look into different sources to see if we can get MSA level data. Liane is going to ask Dan to look into this and also look into checking if we can request for a study.

[2020-08-26 21:45] jaime-mckeown commented on #3649
Created a Spreadsheet to send to Billy so he can verify the fields that they will be modifying before I create the dataset in AGOL.

[2020-08-26 21:59] jaime-mckeown opened #3804 "Looking for Signals and PHBs layer - Xavier A."
Xavier needs access to the Traffic Signals and PHB AGOL layer, also needs a data dictionary to know what all the fields mean. Request came through Jen.

[2020-08-26 22:00] jaime-mckeown commented on #3804
Sent Xavier a link to the Traffic Signals and Ped Signals layer in AGOL. He asked about a data dictionary. John referred me to the Socrata data as there are field descriptions for most of the fields on the website. Sent link to Xavier.

[2020-08-26 22:00] #3804 closed

[2020-08-26 22:11] ChrispinP opened #3805 "IT Support: Create Escalation Procedures for DTS Service Desk on SharePoint"
- [x] Rules
- [x] Urgent Issue Guidelines/Examples
- [x] Link to Service Desk Ticketing for all other issues
- [x] Support Times
- [x] Contact Tree/Structure
- [x] Accessible to ATD Department personnel only

[2020-08-26 22:13] ChrispinP commented on #3744
Sent email to Scott requesting Tablet

[2020-08-26 22:23] ChrispinP commented on #3693
Change to apply to all appropriate edit/change forms in current applications that do not already have custom submit text

- [ ] ATD Forms
- [ ] Visitor Login
- [ ] Strategic Mobility
- [ ] Data Tracker
- [ ] DTS
- [ ] Finance and Purchasing
- [ ] HR
- [ ] Parking Enterprise
- [ ] RPP
- [ ] ROW
- [ ] Shared Mobility
- [ ] Signs & Markings
- [ ] Street Banners
- [ ] TDS
- [ ] VZA

[2020-08-26 22:29] ChrispinP commented on #3789
Will schedule 1x1 with John to review CSR integrations before end of Sprint 32.

[2020-08-26 23:05] sergiogcx commented on #3704
I got spin to work with MDS v0.4, already upgraded in production:

![2020-08-26_18-03-53.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/20bd3da7-09d5-44ee-9de3-698ab0c731c6)

[2020-08-26 23:43] SurbhiBakshi opened #3806 "Create Phonetree in Sharepoint for urgent communications"
From #3763

[2020-08-26 23:44] sergiogcx commented on #3799
Based on @mddilley 's comments on Slack:

[code]

My reply:

[code]

[2020-08-26 23:45] SurbhiBakshi commented on #3763
Updated Rotation team in Slack channel.

[2020-08-26 23:59] amenity commented on #3507
No longer applicable.

[2020-08-26 23:59] #3507 closed

[2020-08-27 00:18] amenity commented on #3741
According to #208, officers use iPhone 10R/XR during their shift and Windows 8 PCs otherwise. Email in to Pat to confirm.

[2020-08-27 00:32] amenity commented on #3714
Thanks, @mddilley !

[2020-08-27 02:10] johnclary commented on #3785
@sergiogcx yes. we can add an auto-incrementing integer to any dataset. the current design uses created/modified timestamps to select which records to process. but you're suggesting a sequence would have other benefits?

[2020-08-27 04:46] amenity opened #3807 "Moped | Project Geometry - Create wireframe for VZ polygon base geometry approach"

[2020-08-27 04:54] amenity commented on #3741
Confirmed. @ChrispinP shall we divide and conquer — one of us tests iPhone 10R, the other Windows 8 with Chrome? I have no preference which.

[2020-08-27 14:02] jaime-mckeown opened #3808 "Longhorn Dam Story Map: Re-Publish to share edits - Natalie C."
From Natalie:

[2020-08-27 14:04] jaime-mckeown commented on #3808
She referenced the South Pleasant Valley Road Story Map in the email. This Story Map is already shared with the Organization. I let her know that all other Longhorn Dam data and Maps are shared except a Spanish version that is under Dylan's user.

[2020-08-27 14:21] jaime-mckeown commented on #3808
I misunderstood her ask as Sharing instead of Publishing. I have re-published the Story Map so the edits are now visible to the Organization.

[2020-08-27 14:21] #3808 closed

[2020-08-27 14:26] jaime-mckeown opened #3809 "Garage Entrances: New Editable Feature Layer - Jeremy S."
From Jeremy:

[2020-08-27 14:31] atdservicebot opened #3810 "I need the IP address to access the VPN."
Other / Not Sure

I need the IP address to access the VPN.

Soon — This week

Request ID: DTS20-101065

[2020-08-27 14:32] jaime-mckeown commented on #3809
After talking with Jeremy about his request, I asked him is there was a reason for using a line instead of a point since points are much easier to see when there are already a ton of lines. He liked the idea, will create as a point layer.

[2020-08-27 14:53] #3469 closed

[2020-08-27 14:57] scottreedy commented on #3810
This person is at City Hall and a member of the Office of Design & Delivery. Don't know how we received this ticket?

[2020-08-27 15:08] johnclary commented on #3810
i reached out to Chase and provided the URL.

[2020-08-27 15:40] sergiogcx commented on #3795
Related Issue • Error catching for uploaded CR3s that don’t exist #1783

[2020-08-27 16:06] amenity opened #3811 "Moped | Phases and Milestones - Create wireframe"
Phases and Milestones Tables: https://balsamiq.cloud/senhupm/p9y6tuy/r0869

[2020-08-27 16:11] SurbhiBakshi commented on #3625
Add field "Issued Month Number Text " to the permits object so month number is a text field. This field is a conditional that will get populated from the Issue Month field (number).
For each report -
- [ ] In the Source tab, add a condition to match at Source - Issued Date is not Blank
- [ ]  In the Report tab, under Table Rows in the Layout include Issued Month Number Text as Month No and Issued

[2020-08-27 16:30] moorerst commented on #3482
Tracy met with the City Clerk's Office. Here are the takeaways from that meeting:

- It’s very unlikely that we’ll see a new record series that will allow us to get rid of the PII sooner than the 2 years that the records have to be held for.

- City Clerk's Office is going to ask the State Records office if they are interested in creating a series for it, but again it’s very unlikely.

Conclusion

[2020-08-27 17:07] johnclary commented on #3667
for discussion: rather than drawing project geometries, i want to propose that users select one or more location polygons.

[2020-08-27 17:10] moorerst commented on #933
8/27 Per Joseph - So I have finally been able to complete the certificate of exemption for Passport. I have attached for your review. I have asked Passport to send over their letter of justification and should receive that on Friday. I figured at that point we can have you submit a PR in the knack system and we can email Dan so we can have it pushed forward. Once approved by Dan and Peggy, I think

[2020-08-27 17:18] amenity commented on #3667
@johnclary — we discussed using @frankhereford's polygons, yes? To stave off [modifiable aerial unit](https://en.wikipedia.org/wiki/Modifiable_areal_unit_problem) issues?

[2020-08-27 17:22] mddilley commented on #3799
I finished out the build config in Netlify for `main` and `production` branches and verified auto-deploy for both with a small change to the readme pushed to GH.

It is worth noting that I ran into a previous issue with Netlify builds failing because warnings are treated as errors. I read [this](https://community.netlify.com/t/new-ci-true-build-configuration-treating-warnings-as-errors-because-pro

[2020-08-27 17:23] johnclary commented on #3667
@amenity yes. because:
- that should give a generalized-enough area to describe the project work, while keep while standardizing
- make it easy to join project data to other things we capture in those same polygons (e.g. crashes)
- add a wider user base of people looking at those polygons and helping to flag issues with their geometries (they're very good but i believe there are still quite a few

[2020-08-27 17:38] Nadin-Nader commented on #1946
@SubhaShroff @Sreelatha-BlazeKannan @TracyLinder I have reviewed the demo and all of the acceptance criteria has been met.  Good with me to promote to DEV.

[2020-08-27 17:39] amenity commented on #3790
Whereas removing the max-width container has some kinda funky layout ramifications [here](https://github.com/cityofaustin/atd-data-tech/issues/3772), https://atd.knack.com/amd#signal-requests/ is _only_ a table, so it looks fine with that modification:
<img width="1141" alt="Screen Shot 2020-08-27 at 12 31 55 PM" src="https://user-images.githubusercontent.com/1463708/91475776-af600a00-e861-11ea-9f

[2020-08-27 17:54] amenity commented on #3790
Also, @johnclary, how hard is it to:

Concatenate two columns, e.g.
<img width="738" alt="Screen Shot 2020-08-27 at 12 31 55 PM" src="https://user-images.githubusercontent.com/1463708/91477599-31e9c900-e864-11ea-8e06-b4ab000fbc86.png">

[2020-08-27 17:58] mddilley opened #3812 "VZV | Map | Mode filters reset after changing type filter on touch devices"
While using the map on my iPhone, I noticed a bug where mode filters that were removed would reset to active after changing a type filter. I tested in BrowserStack and saw the same bug in iPhone 8, iPad, Galaxy Tab, and Samsung S10 devices. Bug not present in Windows or macOS.

To reproduce:
1. Use a touchscreen device to go to VZV map view
2. Remove any mode filter
3. Change the type filter
4. Se

[2020-08-27 17:59] amenity commented on #3667
😍

[2020-08-27 18:05] johnclary commented on #3667
Using location polys, project geometries would look like this, for example:

<img width="1048" alt="Screen Shot 2020-08-27 at 1 00 17 PM" src="https://user-images.githubusercontent.com/14793120/91478614-cc96d780-e865-11ea-93fd-5ec79b43dd4d.png">

[2020-08-27 18:07] amenity commented on #3790
Emailed Renée:

[2020-08-27 18:08] TracyLinder commented on #3747
Per David, these are ready for testing.

[2020-08-27 18:11] amenity commented on #3772
@johnclary — are you saying we can't remove/override max width on a per-page basis within a given app? We can't keep it on details pages, remove it on just-table pages?

[2020-08-27 18:12] amenity commented on #3772
It's not beautiful distributed like that, but also not a big deal IMHO.

[2020-08-27 18:19] johnclary commented on #3667
So the locations polygons covers creating/editing, but for visualization purposes I think we're still going to need a dedicated map layer of Moped projects.

This layer would contain features that look like the one pictured above, with each project feature having a single geometry that is a union of all of the location polygons that it references.

Whenever we want to view all projects on a map, w

[2020-08-27 18:20] johnclary commented on #3667
If this all makes sense and sounds agreeable I can create some issues for it.

[2020-08-27 18:24] TracyLinder opened #3813 "PSM Bug: No Expiration Date"
### Upon folder issuance, no expiration date was inserted.

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/beed809b-b8dd-42d7-9b32-df4596d82322)

[2020-08-27 18:25] TracyLinder commented on #3813
Unisys has been informed.

[2020-08-27 18:38] jaime-mckeown commented on #3782
Heather emailed back with a protected bike lane question. Apparently there is still a value in the domain for Protected Bike Lane, it must be an old value. I will check with Alan in case he needs to update the domain.

[2020-08-27 18:48] amenity commented on #3772
I guess we could just update that theme setting, give everyone a heads up, see if/where it causes problems and take it from there.

[2020-08-27 18:55] amenity commented on #3790
More convo:

**Renée**

**Amenity**

[2020-08-27 18:57] amenity opened #3814 "Remove two columns from Traffic Signal Request Ranking table"
Per #3790 , remove “First Ranking Month” and “Landmark” from the https://atd.knack.com/amd#signal-requests/ table.

[2020-08-27 19:00] amenity commented on #3814
@SurbhiBakshi @ChrispinP - not urgent, but would be helpful to take care of this sooner to see if it will resolve #3790 .

[2020-08-27 19:00] amenity commented on #3790
Will see if https://github.com/cityofaustin/atd-data-tech/issues/3814 will resolve it.

[2020-08-27 19:11] Nadin-Nader commented on #3642
Have a meeting with Maria to verify the acceptance criteria for tomorrow 8/28/2020 at 1030am

[2020-08-27 19:19] amenity commented on #3667
Really like the improved usability and cleaner data we will get by doing it this way instead of having everyone be artistic.

The downside that comes to mind for me is that overlapping polygons are a little clunkier to deal with from a cartographic perspective. Offsetting polylines for visualization is [standard, design-wise,](https://glantz.net/blog/the-worlds-best-designed-metro-maps/) and [pret

[2020-08-27 19:26] amenity commented on #3667
Actually, just as I say that I take it back. I guess something like this could work just as well on roads...
![image](https://user-images.githubusercontent.com/1463708/91485708-e0940680-e870-11ea-9f48-046b430bee12.png)

Would be like a tidier version of [Strava heatmaps](https://www.strava.com/heatmap#6.00/-122.62950/45.59950/blue/ride):
![image](https://user-images.githubusercontent.com/1463708/9

[2020-08-27 19:43] ChrispinP commented on #3693
Updated. Will give time to review or make any further updates.

[2020-08-27 19:59] Nadin-Nader commented on #2632
@Sreelatha-BlazeKannan @TracyLinder @aishwarya2505
I have looked over the changes on DEV and found that all acceptance criteria has been met. I also verified the infos had the correct options.

[2020-08-27 20:16] ChrispinP commented on #3806
duplicate of #3805

[2020-08-27 20:16] #3806 closed

[2020-08-27 20:21] TracyLinder commented on #3499
@licarir can you check out the EX & DS folder issuance procedure and see what kind of people validation is happening please?

[2020-08-27 20:23] SurbhiBakshi opened #3815 "Meeting | SD2023 Measures assigned to ATD (Wave 2/3) - August 27, 2020"

[2020-08-27 20:29] Nadin-Nader commented on #3536
Sent a second email to Jaclyn and Isaiah along with a Teams chat message asking them to test this on TEST:

From: Nader, Nadin
Sent: Thursday, August 27, 2020 3:26 PM
To: Lozano, Jaclyn <Jaclyn.Lozano@austintexas.gov>; Lewallen, Isaiah <Isaiah.Lewallen@austintexas.gov>
Cc: Linder, Tracy <Tracy.Linder@austintexas.gov>
Subject: RE: UC Email - Critical Updates #3536 Follow up
Importance: High

Hi Jac

[2020-08-27 20:36] SubhaShroff commented on #1946
Thank you @Nadin-Nader.
DEV Deployment Request is submitted : **SCTASK0092850**

[2020-08-27 20:39] TracyLinder commented on #3500
### Email to Shawn

Hi Sean,

This is a follow up to an AOB item I spoke on regarding cleaning up the ‘City Department’ people records in AMANDA. Attached is a list of your folders that have ‘City Department’ records attached to the people tab.

Our ask of you: Do you have any concerns with us cleaning up the ‘City Department’ people records in AMANDA? In practice this would mean updating the peop

[2020-08-27 22:58] Nadin-Nader commented on #3536
@licarir i received the response from Jaclyn in 3 different emails. I will just put her response and if there is a change,requested, then i will paste it in another comment in full.

[2020-08-27 23:02] Nadin-Nader commented on #3536
@licarir here is the other one she had a comment on:

**Email Examples**

AULCC Tracking Number #:
ROWID: 12394866
Project Name:map test cancel selection
Applicant:  Jaclyn Lozano

Project Contact:  Jaclyn Lozano

Project Description: test map for cancellation errors

1.  Once the Project is reviewed, please begin a Spreadsheet or Minutes Sheet to record resposes, identify areas of conflict, and n

[2020-08-27 23:11] amenity commented on #3343
Closing this and adding individual wireframe issues.

[2020-08-27 23:11] #3343 closed

[2020-08-27 23:22] #3781 closed

[2020-08-27 23:25] amenity commented on #3628
@zappfyllc — thanks, really cool to see this technique. Creating a "Work Order Category" taxonomy with ~"Project Category"~ the related project sourced from Moped seems logical to me.

@johnclary thoughts?

[2020-08-27 23:34] amenity opened #3816 "Moped | New Project - Create wireframe"
[Wireframe here](https://balsamiq.cloud/senhupm/p9y6tuy/r2278).

[2020-08-27 23:39] amenity commented on #3816
@JaceDeloney @johnclary @zappfyllc — I feel like this one is pretty straightforward...ready for review.

[2020-08-27 23:52] amenity opened #3817 "Moped | Feature: Roles and Permissions"
As a project team member with a project in Moped, I want to have access to edit project-related data for that project so that I can utilize the features of Moped.

Alternatively:

As a user who is not a team member of a given project in Moped, I want to have access to read-only project-related data for a given project so that I can fully explore a project's data without fear of accidentally changi

[2020-08-28 00:19] #3555 closed

[2020-08-28 01:02] mateoclarke opened #3818 "VZE | Spike Upgrade to CoreUI 3.2.0"
We used CoreUI v2.1.12 when we started developing VZE. This is a spike to evaluate the level of effort required to upgrade to v3+.

Document the steps for better sizing and scoping.

[2020-08-28 01:07] zappfyllc commented on #3667
@johnclary if we repurpose project components (what Nathan calls facilities) as these polygons to roll up into one project-level, we actually are set up for both your proposal and what ATSD ultimately wants. Of course we wouldn't start with the level of detail that Nathan stores at the component-level, but I do love this suggestion because it requires less work down the road when we add additional

[2020-08-28 02:44] mateoclarke commented on #3795
@sergiogcx yeah, that issues is less descriptive but is the same big picture issue we're talking about here. I'm gonna go ahead and archive that one.

[2020-08-28 02:44] #1783 closed

[2020-08-28 02:47] mateoclarke commented on #3812
Good find!
![image](https://user-images.githubusercontent.com/5697474/91515496-f1fc0380-e8ae-11ea-919d-9e3be391a052.png)

[2020-08-28 13:06] Nadin-Nader commented on #3536
@licarir email from and too Isaiah:

From: Nader, Nadin
Sent: Friday, August 28, 2020 8:05 AM
To: Lewallen, Isaiah <Isaiah.Lewallen@austintexas.gov>; Lozano, Jaclyn <Jaclyn.Lozano@austintexas.gov>
Subject: RE: [TEST] Austin Utility Location - **TEST E-MAIL. PLEASE IGNORE**

Good Morning Isaiah and Jaclyn,

I have updated the card for Robert, I did want to ask you where you would like us to put Jac

[2020-08-28 15:06] jaime-mckeown commented on #3649
- Billy said the fields were good.
- Created the feature class, included some of the fields he didn't need for future use and turned them off for the edit project.
- Created the School Zone Beacon Audit Map and configured. Added Bookmarks for each school to make it easier for the tech's to get around in the map.
- Created the School Zone Beacon Audit Web App for desktop editing.
- Checked the Web

[2020-08-28 15:08] jaime-mckeown commented on #3649
- [ ] Go over Web App with Billy, get Tech names to add to Group.

- [ ] Training with Tech's to go over Editing in Web App and Collector.

[2020-08-28 15:26] jaime-mckeown commented on #1769
@amenity @johnclary should this Issue be assigned back to Apps since all I did was add the School field in the GIS data for the Audit?

[2020-08-28 15:30] jaime-mckeown commented on #3472
- The coordinates can be updated in Knack after the points have all been moved to the correct locations.
- @amenity @johnclary should I add an installation date to the GIS audit data?

[2020-08-28 15:38] Nadin-Nader commented on #3642
@TracyLinder Spoke to Maria and she said that the acceptance criteria is correct. The only worry she had (its not really a worry because they manually change it and it doesnt happen often) is that the applicant will be selecting multiple properties instead of segments and that may cause the count to be off.
She is not worried about it at this moment as this usually happens with new applicants and

[2020-08-28 15:40] SurbhiBakshi commented on #3281
changes - remove the design infrastructure - track outcome and not means - move away from street design/infrastructure- what constitutes a design project, cleaner and more straightforward - goal and outcome- actions and activities, not concentrate on design measures.
system efficiency and congestion ???

category -  safety

LL will talk about enforcement, access management, education, projects in

[2020-08-28 15:41] SurbhiBakshi commented on #3281
KO prefers percentage, numbers will come before percentage, include visualization to show numbers in story. percent change is more reflective of change over time, but numbers represent real persons.

[2020-08-28 15:41] jaime-mckeown opened #3819 "Parking Migration Project Discussion with Joseph"
- I wanted to catch up with Joseph to see how things were going after I spent a couple hours working with the team.
- Francesco and Ryan will be taking some time to get to know the test data and get comfortable with a new process. The data will continue to be maintained in AGOL for now.
- I let him know that I won't be able to be very involved since we are down a person now.
- They will let me kno

[2020-08-28 15:42] SurbhiBakshi commented on #3281
vision zero goal is zero, number should be going down.

[2020-08-28 15:44] #3819 closed

[2020-08-28 15:46] #3782 closed

[2020-08-28 16:00] SurbhiBakshi commented on #3269
Story page has a good definition of a multi jurisdictional project. Hard time defining the level of project. Annick - keep it at a high level - identify active projects in CAMPO plan, MPO - use that. Use number not percentage? Define coordination on a project - two agencies, or more?
Jim D - inter-local agreements?
what does success look like?
is IH 35 one project or more?
how do we communicate th

[2020-08-28 16:01] SurbhiBakshi commented on #3269
[campo projects](https://47kzwj6dn1447gy9z7do16an-wpengine.netdna-ssl.com/wp-content/uploads/2020/07/2045RTP_07082020_Final_Project_List.pdf
)

[2020-08-28 16:05] SurbhiBakshi commented on #3269
400,000$ or more

[2020-08-28 16:14] SurbhiBakshi commented on #3270
include in the story page - Major Corridor Network map

[2020-08-28 16:16] SurbhiBakshi commented on #3273
include in story page - trend graph lines - roll non SOV for measure card, show different non SOV in Story - Additional information.

Goal - non SOV - 50

[2020-08-28 16:17] jaime-mckeown commented on #3792
- D_ATD_MARKING_DATE_SOURCE domain created on MAINT.
- Can't add new fields as Alan and Susanne have locks on the table.

[2020-08-28 16:17] SurbhiBakshi commented on #3274
2018 is baseline
when the process moved from DSD to ATD

[2020-08-28 16:19] SurbhiBakshi commented on #3274
Annick is not ok with area type categorization.

[2020-08-28 16:19] SurbhiBakshi commented on #3274
goal - 30 % or more

[2020-08-28 16:21] SurbhiBakshi commented on #3274
New TIA-TDM process has targets, downtown, outside and inside the loop?

[2020-08-28 16:23] SurbhiBakshi commented on #3274
meet or exceed drive alone trip targets

[2020-08-28 16:24] SurbhiBakshi commented on #3275
stay away from percent reduction - change to percent change

[2020-08-28 16:25] SurbhiBakshi commented on #3275
include in story page - speed and efficiency of transit improvement

percent change in vehicle travel time along major city corridors

[2020-08-28 16:26] SurbhiBakshi commented on #3274
Number of projects that meet or exceed drive alone trip targets.

[2020-08-28 16:34] SurbhiBakshi commented on #3530
Annick will add a question to the AE Survey.

[2020-08-28 16:35] SurbhiBakshi commented on #3530
Could add to the annual transportation survey that goes out through AE.

[2020-08-28 16:36] SurbhiBakshi commented on #3530
Notate change in survey timing because that may be affect survey responses.

[2020-08-28 16:37] SurbhiBakshi commented on #3530
Specific audience will be targeted. Initial data source will be focussed on a low income demographic.

[2020-08-28 16:41] SurbhiBakshi commented on #3530
moved to Wave 3 or beyond

[2020-08-28 16:53] SurbhiBakshi commented on #1445
Align with DSD on methodology for work - especially - 1/2 mile or 1/4 mile for corridor

[2020-08-28 16:55] #3724 closed

[2020-08-28 16:56] SurbhiBakshi opened #3820 "Meeting | SD 2023 Measure Edits with OPM - August 28, 2020"

[2020-08-28 17:48] #3815 closed

[2020-08-28 17:48] #3820 closed

[2020-08-28 18:13] ChrispinP commented on #2051
Drafted email and sent to John for review

[2020-08-28 18:15] ChrispinP commented on #3566
Received response from Kelsey and made final edits.

complete

[2020-08-28 18:15] #3566 closed

[2020-08-28 18:17] ChrispinP commented on #3744
Picked up tablet from Scott. I now have a tablet for testing and troubleshooting purposes for the team

[2020-08-28 18:17] #3744 closed

[2020-08-28 18:22] Nadin-Nader commented on #2663
Asked Maria the following on 8/28/2020:

Should the Tier level section be required too? Only for 1 and 2
When the RW SE Folder is created from selecting any of the three infos in the ROW Details section on the SE, what status should start in? "Pending"
Should it have the "ACE ATD Review" Process inserted? Yes

She also went over the above and said it was all correct. @TracyLinder i think this is r

[2020-08-28 18:39] ChrispinP commented on #3694
Removed these 3 inactive fields from all pages they were on. Then removed 3 fields.

complete

[2020-08-28 18:39] #3694 closed

[2020-08-28 18:48] Nadin-Nader commented on #1516
@licarir Email from Jaclyn after asking what address should be updated:

From: Lozano, Jaclyn <Jaclyn.Lozano@austintexas.gov>
Sent: Friday, August 28, 2020 12:56 PM
To: Nader, Nadin <Nadin.Nader@austintexas.gov>; Lewallen, Isaiah <Isaiah.Lewallen@austintexas.gov>
Subject: RE: [TEST] Austin Utility Location - **TEST E-MAIL. PLEASE IGNORE**

Replace Reza’s contact email and phone number with:
Isaiah

[2020-08-28 18:54] Nadin-Nader commented on #1729
@TracyLinder @Sreelatha-BlazeKannan Just talked to DEB in the stand up and she informed me that for some reason the on call that is supposed to be doing Deployments, didnt get a chance to.. she said Tuesday if not to message her.

[2020-08-28 19:06] ChrispinP commented on #3417
@johnclary I forget, was there anything else actionable for this ticket? I have a tablet now to use for testing. Diana mentioned logging in and using the QR code for an AirWatch profile. Do these things still need to be tested?

Cheers

[2020-08-28 19:28] Nadin-Nader commented on #1525
@TracyLinder this is going to TEST and should be done early next week for UAT

[2020-08-28 19:29] SurbhiBakshi commented on #3761
***Stanford Crowdsourced Democracy

As a decision maker what can change in terms of revenue? understanding and sensitivity to different revenue streams
explain nuance in expenditure - pieces of pie analogy
how a budget is balanced explained using a dynamic bar graph visualization.

[2020-08-28 19:30] SurbhiBakshi commented on #3625
Waiting for Knack - ![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/3c8132e4-cf3f-4eb0-b9ca-3c2a7063f32a)

[2020-08-28 19:39] mddilley commented on #3714
I was able to trigger emails upon officer sign up using [Action Links](https://support.knack.com/hc/en-us/articles/225776907-Send-Emails#send%20emails%20using%20action%20links) and a PUT request to the API table view from the front end JS. Talked with Amenity and Surbhi about implementing, and we agreed that one email per `officer_assignment` is okay to get this feature built.

[2020-08-28 19:49] licarir commented on #3499
@TracyLinder DS Issue procedure checks people record for 50065 which is the Right of Way Contractor EX issue also checks for the same code. There has to be underlying code somewhere else that gives an exception for PEOPLE of type City Department that can be marked as Right of Way Contractor

[2020-08-28 19:50] jaime-mckeown opened #3821 "South Pleasant Valley Road Story Map - Natalie C."
Requested that the SPVR Story Map be updated, then duplicated so they can start working on the Spanish version.

[2020-08-28 19:50] jaime-mckeown commented on #3821
Saved the Story Map and made a duplicate copy, renamed and shared to the Collaboration Group.

[2020-08-28 19:50] #3821 closed

[2020-08-28 19:51] kaarthym5 commented on #1516
@tracylinder @licarir updated list obtained from stakeholders. AC updated with notes.

Thank you @nadin-Nader for the updated info.

[2020-08-28 19:53] licarir commented on #3765
Checked issue 3047 to see if that was related. However, that changed Street Event RW folders from Pending Payment 50600 to Pending 50005 status by default.

We met with stakeholders earlier this week and confirmed that the folders in Test that are sent from Portal are not put into the Application Incomplete or Internet Pending status. They come in and are Pending.

[2020-08-28 20:07] licarir commented on #3765
Is this an issue of some folders needing default status of Pending and others needing another status? Previous code checked for User not containing @ and user not being INTERNET and fees existing. The last piece, fees existing was deemed to not matter for these Street Events as they said they will handle them separately.

IF (NOT (DUserID LIKE '%@%' OR DUserID = 'INTERNET'))  AND (ln_FeeCount > 0)

[2020-08-28 20:14] jaime-mckeown commented on #3809
- Create new layer in FGDB based on Parking Zones schema.
- Added Domains
- Published in AGOL
- Setup View layer for editing since the layer needs to be shared to everyone.

[2020-08-28 20:18] kaarthym5 commented on #1994
@licarir ready to start work

[2020-08-28 20:20] licarir commented on #3536
Text template changes should be worked out beforehand. This slows down work having to redo something that could have been figured out by looking at an email as it stood. It is possible that people changed positions or the directives changed between beginning work and now. I will try to get back to this soon.

[2020-08-28 20:31] SurbhiBakshi commented on #3752
- updated the assets above after replacing Total Population with Full Purpose Population.

[2020-08-28 20:34] SurbhiBakshi commented on #3752
**Meeting with Nicole, Lewis, Xavier, Jace, John**
1. Get Xavier and Nicole to look at assets
2. Lewis will get confirmation from management that we can switch out the old dataset and measure card
3. Replace older links with links to new measure card and dataset
4. Include some way to navigate to VZ Viewer for most recently updated data / add text about how data is updated.

[2020-08-28 20:36] TracyLinder commented on #3688
Per Chrispin, we need Dev resources to look at this.

@ChrispinP can you talk to @johnclary about who might be able to help please?

[2020-08-28 20:43] ChrispinP commented on #3692
@SurbhiBakshi and @johnclary would either of you know how to remove breadcrumb navigation links for forms?

Thanks

[2020-08-28 20:46] amenity commented on #3472
@jaime-mckeown — Thanks!

I would say yes to the installation date —  thinking that getting in the field along with the coordinates is our best bet for populating that data (somewhat) accurately. I think they will be guesstimating a lot of them, but probably better guesstimates if they're there in person? cc/ @johnclary.

[2020-08-28 20:49] amenity commented on #1769
I think this one being assigned to Apps makes sense, @jaime-mckeown

[2020-08-28 20:50] jaime-mckeown commented on #1769
Ok, I'm going to remove myself from assigned then @amenity

[2020-08-28 20:55] TracyLinder commented on #3693
Tested & looks great. Closing

[2020-08-28 20:55] #3693 closed

[2020-08-28 20:56] TracyLinder commented on #3696
Both of us are unable to replicate bug. Closing this.

[2020-08-28 20:56] #3696 closed

[2020-08-28 21:00] TracyLinder commented on #3695
I need to clarify with the stakeholders at what point in the workflow they'd like to request submission, so we can know how to design the solution.

[2020-08-28 21:02] TracyLinder opened #3822 "TIA Mod: New Project Location Features"
### As a reviewer, I need the ability to add new project locations or delete existing locations.

Example view where buttons/features should be added: https://atd.knack.com/development-services#tia-reviews/view-tia-review-details/5f496bcd04d45d001783311c/

[2020-08-28 21:04] jaime-mckeown opened #3823 "Clean-Up of a couple Folders under ATD Publisher"
Went through a couple folders in AGOL, added summary, descriptions, and terms of use if not already done:
- Vision Zero Crash Data
- Vision Zero - Speed Limits
- PRK_Dockless - set some feature layers, Web Map, Web App to deprecated.

Deleted empty folders

[2020-08-28 21:22] Nadin-Nader commented on #2633
**Status:**
Aish is currently working on this

[2020-08-28 21:23] Nadin-Nader commented on #2388
Per our Stand-Up
**Status:**
Aish is currently working on this

[2020-08-28 21:25] Nadin-Nader commented on #3465
Per our Stand-Up
**Status:**
Aish/Subha are currently working on this when Sree is out

[2020-08-28 21:31] ChrispinP commented on #3783
Need clarification on if apostrophes are allowed, if using a # to represent a number or a % to represent percent in page/view names and field names is okay?

Preference for PascalCase or camelCase for formulas and calculation fields or is Title Case always acceptable for Field names?

[2020-08-28 21:42] ChrispinP opened #3824 "Feature request: TCP Tracker Multiple Attachments, Submitted vs Returned TCP"
I would like to start attaching TCPs in Knack instead of using the network drive. This functionality was added so I think we should take advantage of it. I think it will make it easier to track TCPs through the review process. For each submittal, I recommend attaching both the submitted TCP and the TCP that was returned, whether it was with comments or the approved version. There’s an attachment t

[2020-08-30 22:01] SurbhiBakshi commented on #3800
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/078d80c4-3f9a-4b18-b98d-641b32943ad5)

[2020-08-30 22:44] SurbhiBakshi commented on #3800
going to share the dataset and measure card with Xavier for review.

[2020-08-30 22:44] SurbhiBakshi commented on #3268
created a draft dataset and measure card, will share it with Cole and Liane for review.

[2020-08-30 22:48] SurbhiBakshi commented on #3274
Went over the information sent by Nate A, had some questions, will email him or schedule a Teams meeting to go over questions.

[2020-08-30 22:49] SurbhiBakshi commented on #3268
From Nicole's email -
M.A.1 – Percent split of modes based on commute to work (mode share)
- Keep wording
- Measure card will need to display a roll-up and additional insights section is where the modes can be plotted

[2020-08-30 22:50] SurbhiBakshi commented on #3269
only report from CAMPO project - be super specific?

[2020-08-30 22:50] SurbhiBakshi commented on #3269
From Nicole's email -

M.A.10 - Number of transportation projects, programs, and initiatives that are coordinated with partner agencies
- Keep wording
- Team can set threshold for projects and explain in story page

[2020-08-30 22:51] SurbhiBakshi commented on #3270
From Nicole's email -

M.A.2 - Split approved – PLEASE NOTE NEW MEASURE IDs
- M.A.2.a - Transit Travel Time Reliability:  percent change in MetroBus on-time performance
- M.A.2.b - Vehicle Travel Time Reliability: percent difference between predicted and actual average travel time
- Both reported in Wave 2
- Nicole will update language in measure edit request to reflect this wording

[2020-08-30 22:53] SurbhiBakshi opened #3825 "M.A.2.b - Vehicle Travel Time Reliability: percent difference between predicted and actual average travel time"
- [x] [Dataset](https://data.austintexas.gov/dataset/Strategic_Measures_M-A-2-b-Vehicle-Travel-Time-Rel/7zku-gjac)
- [x] [Measure Card](https://data.austintexas.gov/dataset/Measure_Card_M-A-2-b-Vehicle-Travel-Time-Reliabili/cdwh-fg2s)
- [ ] [Segmentation](https://data.austintexas.gov/d/5sd3-mrub)
- [x] [Story Page](https://data.austintexas.gov/stories/s/Measure_Card_M-A-2-b-Vehicle-Travel-Time-Rel

[2020-08-30 22:53] SurbhiBakshi commented on #3825
From Nicole's email -

M.A.2 - Split approved – PLEASE NOTE NEW MEASURE IDs

M.A.2.a - Transit Travel Time Reliability: percent change in MetroBus on-time performance
M.A.2.b - Vehicle Travel Time Reliability: percent difference between predicted and actual average travel time
Both reported in Wave 2
Nicole will update language in measure edit request to reflect this wording

[2020-08-30 22:54] SurbhiBakshi commented on #3273
From Nicole's email -
M.A.3 - Percent split of modes based on commute to work, including off-peak drive-alone trips, by City of Austin employees
- Keep wording
- Measure card will need to display a roll-up and additional insights section is where the modes can be plotted

[2020-08-30 22:55] SurbhiBakshi commented on #3273
Wrote to Kelsey V on Cole's recommendation to get data from the Listening to the Workforce Survey. Will send a reminder.

[2020-08-30 22:56] SurbhiBakshi commented on #3274
From Nicole's email -
M.A.4 – Number and percentage of development applications with a transportation analysis with 30 percent or more drive-alone trip reduction (by shifting trips to other modes and not by decreasing intensity)
- ATD please submit an edit request for “Number of projects that meet or exceed drive alone trip targets.”

[2020-08-30 22:57] SurbhiBakshi commented on #3275
From Nicole's email -

- M.A.5 - Split approved – PLEASE NOTE NEW MEASURE IDs
- M.A.5.a - Percent change in average MetroBus travel time
- ATD please confirm approved language to replace the word “speed”
- M.A.5.b - Percent change in average vehicle travel time along major City corridors

[2020-08-30 22:59] SurbhiBakshi opened #3826 "M.A.5.b - Percent change in average vehicle travel time along major City corridors"
- [x] [dataset](https://data.austintexas.gov/dataset/Strategic_Measures_M-A-5-b-Percent-change-in-avera/87bq-bsra)

- [x] [measure card](https://data.austintexas.gov/dataset/Measure_Card_M-A-5-b-Percent-change-in-average-veh/5zz3-ni4u)

- [ ] [segmentation](https://data.austintexas.gov/dataset/M-A-5-b-Percent-change-in-average-vehicle-travel-t/5mh6-3mjq)

- [x] [story page](https://data.austintexa

[2020-08-30 23:00] SurbhiBakshi commented on #3826
From Nicole's email -

M.A.5 - Split approved – PLEASE NOTE NEW MEASURE IDs
M.A.5.a - Percent change in average MetroBus travel time
ATD please confirm approved language to replace the word “speed”
M.A.5.b - Percent change in average vehicle travel time along major City corridors

[2020-08-30 23:07] SurbhiBakshi commented on #3530
From Nicole's email -

M.B.1 - Percentage of household cost attributed to transportation
ATD to include in next City-wide transportation survey
Measure will be marked as “coming soon” until data becomes available
OPM can let NHCD know about this option for EOA.C.2

[2020-08-30 23:09] SurbhiBakshi commented on #1445
From Nicole's email -

- M.C.1 - Split approved – PLEASE NOTE NEW MEASURE IDs
- M.C.1.a -  Number and percentage of residential permits within a half-mile of the Transit and  Bicycle Priority Networks
- M.C.1.b - Number and percentage of non-residential commercial permits within a half mile of the Transit and Bicycle Priority Network
- Both reported in Wave 2
- Nicole will update language in measu

[2020-08-30 23:11] SurbhiBakshi opened #3827 "M.C.1.b - Number and percentage of non-residential commercial permits within a half mile of the Transit and Bicycle Priority Network"
All assets are due Sept 21, 2020

- [ ]  Upload Dataset
- [ ]  Measure Card
- [ ]  Segmentation
- [ ]  Story page

[2020-08-30 23:12] SurbhiBakshi commented on #3827
From Nicole's email -

- M.C.1 - Split approved – PLEASE NOTE NEW MEASURE IDs
- M.C.1.a -  Number and percentage of residential permits within a half-mile of the Transit and  Bicycle Priority Networks
- M.C.1.b - Number and percentage of non-residential commercial permits within a half mile of the Transit and Bicycle Priority Network
- Both reported in Wave 2
- Nicole will update language in measu

[2020-08-30 23:13] SurbhiBakshi commented on #3277
From Nicole's email -

M.C.3 - Number of mobility projects initiated and completed in CapMetro Innovation Zones.
Language to include “CapMetro” approved.
Nicole will enter into edit request tracking

[2020-08-30 23:15] SurbhiBakshi opened #3828 "M.C.5 –Percentage of participants in mobility public engagement processes that identify as African American, Asian, Hispanic/Latino, Indigenous, Pacific Islander, and/or other people of color"
- [x] Create and upload dataset
- [x] Create Measure Card
- [ ] Create segmentation
- [ ] Create Story Page

[2020-08-30 23:16] SurbhiBakshi commented on #3828
From Nicole's email -

- M.C.5 – Percent of transportation planning processes that are representative of community demographics
- will be reported when data becomes available
- ATD proposes rewording to match GTW.F.2 - Difference between the percentage of community members of a particular race represented on City Boards and Commissions compared to the percentage of that race in the overall communi

[2020-08-30 23:17] SurbhiBakshi commented on #3282
From Nicole's email -

M.C.6.b – Percent of missing sidewalks and all ages and abilities bicycle facilities completed
will include the word “missing”

[2020-08-30 23:19] SurbhiBakshi commented on #3281
From Nicole's email

- M.D.3 – Number of fatalities and serious injuries on the High-Injury Network
- Rewrite approved
- Nicole will be in touch if I need any help with the measure update justification but I have enough to get started

[2020-08-30 23:20] SurbhiBakshi commented on #3279
From Nicole's email - Liane and Cole will collaborate on story page with PAZ if needed .

M.C.7 – Percent of people working in Austin that come from outside Austin

PAZ reporting
ATD shared a data source: https://onthemap.ces.census.gov/

[2020-08-31 12:30] Nadin-Nader commented on #1525
Spoke to Varun on Friday and he explained to me that while e was getting ready to deploy this he found that one of the infos was a bit more complicated to make mandatory;

Folder: RW
SubType: Temporary Right Of Way Use Permit 50500
Info: 75390 Number of Days Requested
InfoGroup: Event Start/End
Default Procedure: TURP Permit Intake DefaultProcess_RW_00050515

The no.of days requested field for Tem

[2020-08-31 12:46] Nadin-Nader commented on #1525
Sent email to Kim and Paloma, waiting on Response:

Good Morning,

Hope you are both doing well. I am reaching out regarding request 1525, Make Number of Days Requested Mandatory on Info Tabs. I wanted to update you on something the developer came across for this one.

He informed me that the no. of days requested field for Temporary ROW subtype is getting the value from the Total Days of Permit V

[2020-08-31 14:21] jaime-mckeown opened #3829 "Residential Permit Parking Web Map Update - Ryan R."
Ryan asked to have the Address Points layer added to the RPP Districts Web Map.

[2020-08-31 14:21] jaime-mckeown commented on #3829
Added Address Points layer to Web Map and added labels when zoomed to Room.

[2020-08-31 14:21] #3829 closed

[2020-08-31 14:30] jaime-mckeown commented on #3472
Installation Date has been added to the SZB Feature Layer.

[2020-08-31 14:45] SurbhiBakshi opened #3830 "Meeting | Mobility Projects in Innovation Zones - Aug 31, 2020"
Meeting with Cap Metro to get a better understanding of Innovation Zones

[2020-08-31 15:04] mateoclarke commented on #3756
I've set up CI deployments with Github Actions for Chromatic with this PR:
https://github.com/cityofaustin/atd-kickstand/pull/4/files

![Screen Shot 2020-08-31 at 10 51 38 AM](https://user-images.githubusercontent.com/5697474/91735052-5c43cb00-eb71-11ea-84fa-e5fecce217f2.jpg)

![Screen Shot 2020-08-31 at 10 55 12 AM](https://user-images.githubusercontent.com/5697474/91735062-5f3ebb80-eb71-11ea-80f

[2020-08-31 15:25] amenity commented on #3472
Thanks, @jaime-mckeown . @johnclary — next steps here?

[2020-08-31 15:27] jaime-mckeown commented on #3472
@amenity I'm going to meet with Billy this week to make sure the Web App is capturing everything they need, then schedule training with the 2 tech's that will be doing the work.

[2020-08-31 15:28] jaime-mckeown opened #3831 "Weekly Update: AMANDA street closure - 08/30/20"
Run AMANDA_Street_Events.py to create new AMANDA street closure data for the current week. Update the layer in the Mxd, publish to AGOL, and then update the Street Events and ACE Downtown Conflicts Web Maps on AGOL.

Follow Weekly_Update_for_Special_Events.doc located in G:\ATD\ATD_GIS\Office_of_Special_Events\OSE_GIS\AMANDA_Street_Events for steps to complete.

[2020-08-31 15:30] jaime-mckeown commented on #3831
- Checked the Events Page, the Heart and Stroke Walk has been removed. Update the feature layer and Web Maps.
- Ran Active Permits Script and updated Feature Layer.

[2020-08-31 15:30] #3831 closed

[2020-08-31 15:32] jaime-mckeown commented on #3649
Added Installation Date to Feature Layer and configured Pop-up.

[2020-08-31 16:04] amenity commented on #3472
@jaime-mckeown — gotcha, sounds great. LMK if you need anything else from me!

[2020-08-31 16:20] SurbhiBakshi opened #3832 "Investigate missing records in Bluetooth Travel Sensors"
Bluetooth Travel Sensors -Traffic Match Summary Records (TMSR):
Hello, My name is Bhooma and I am a M.S Data Science Student at DePaul University. I am doing a research project under Dr. Ustun analyzing the impact of COVID-19 on Transportation Networks. I was looking to compare speed data between 2019 and 2020 and noticed that parts of May-June 2019 and May 15-August 1 2020 were missing. I was hop

[2020-08-31 16:24] jaime-mckeown opened #3833 "ArcGIS Install / GISDM Account Request - Dan B."
Dan has been working in AGOL, but needs ArcGIS for some of the analysis work he does. He was waiting until returning to work, but since the dates keep getting moved back he is asking for the software to be installed now.

[2020-08-31 16:25] jaime-mckeown commented on #3833
Emailed Dan the Request Form to fill out. Let him know that we can setup his computer to try and help with the slowness of ArcGIS when working on a computer located at home.

[2020-08-31 16:32] jaime-mckeown commented on #3833
- [ ] Show Dan how to check out a license if he doesn't know how to do that.

- [ ] Show him best practices for working from C Drive if he is not familiar with doing that with GIS data.

[2020-08-31 16:44] Sreelatha-BlazeKannan commented on #2388
@TracyLinder , @Nadin-Nader  - Subha Completed 3167 & 3168 Reports and sent on August 27th for review.

[2020-08-31 16:51] #3801 closed

[2020-08-31 16:58] moorerst opened #3834 "IT Support: Generate Report of outstanding Telework Forms with status Department Head signature required"
Request from Nathan need report from https://atd.knack.com/hr#home/
Can you pull a report for me showing each executive and who they have left to approve?  Rob asked for a report if possible.  Not sure if that is possible.

[2020-08-31 17:03] TracyLinder opened #3835 "SCP3 Bug: Create Child Process Attempt System Error"
### On ROW Admin Process, when attempting to save attempt 'Create Permits', the system would not save the attempt, throwing an error message "Unable to Update Process Status", however the child permit was created.

![image](https://user-images.githubusercontent.com/49930868/91746325-09264400-eb82-11ea-8f65-090ef9b3ad78.png)

[2020-08-31 17:06] SurbhiBakshi commented on #3280
### **Checklist**
### Dataset Requirements
- [ ] Name - Strategic_Measures (name of dataset)
- [ ] Georeference column if any
- [ ] Date Field formatted as  yyyy-MM-dd

### Metadata Requirements
- [ ] Why the dataset exists (Purpose)
- [ ] Where the data comes from (Source)
- [ ] What each row represents
- [ ] How it can be used
- [ ] View more details at (link to Story Page)
- [ ] Fill out row la

[2020-08-31 17:07] TracyLinder opened #3836 "SCP3 Info Update: SCP Site ID #"
### SCP Site ID # (83485) should not be mandatory on EX or RW folders.

[2020-08-31 17:10] jaime-mckeown commented on #3792
Created new fields and connected the new domain.

[2020-08-31 17:10] #3792 closed

[2020-08-31 17:13] TracyLinder opened #3837 "SCP3 Revision Required: Email Content Update"
### The system generated email when folder status updates to Revision Required needs to be updated with new content (TBD)

Current Email:
![image](https://user-images.githubusercontent.com/49930868/91747195-6078e400-eb83-11ea-9e32-4199e80d8376.png)

[2020-08-31 17:18] SurbhiBakshi commented on #3281
**### Checklist**
### Dataset Requirements

- [ ]  Name - Strategic_Measures (name of dataset)
- [ ]  Georeference column if any
- [ ]  Date Field formatted as yyyy-MM-dd
- [ ] Metadata Requirements
- [ ]  Why the dataset exists (Purpose)
- [ ]  Where the data comes from (Source)
- [ ]  What each row represents
- [ ]  How it can be used
- [ ]  View more details at (link to Story Page)
- [ ]  Fill

[2020-08-31 17:23] TracyLinder opened #3838 "SCP3 Status Change Upon Applicant Attachment Revision"
### When the applicant upload an attachment on portal (folder status is Revision Required), the folder status should then update to CC Pending.

1. SCP Case Manager attempt 'Revision Required' saved
2. Applicant gets an email
3. Applicant uploads attachment on portal
4. **Folder Status should update to CC Pending**

Test RSN 12395048

[2020-08-31 17:29] TracyLinder opened #3839 "SCP Bug: Network Node Application Fee"
### See test RSN 12395041 - Incorrect Application Fee. It should have been $4,000 but was $2,000 instead.
- Fee logic: $1,000 * # of Nodes

[2020-08-31 17:34] TracyLinder opened #3840 "SCP3 Bug: CC Review Process Assigned To"
### The CC Review Processes should assign to the user identified in the corresponding info fields.

Test RSN 12395041 - CC Cycle 1, ROW Review Process
1. Updated info to 'Isiah Lewallen'
2. Distributed CC review
3. The ROW Review was assigned to Jaclyn, when it should have been Isiah (based on info tab)

[2020-08-31 17:36] TracyLinder opened #3841 "SCP3 Revision Accepted / Revision Required Validations"
### On SCP Case Manager Process, program validations for 2 process attempts:
- Do not allow Revision Required or Revision Accepted if folder issue date is null
- Do not allow Revision Accepted if Revision Required has not previously been saved.

[2020-08-31 17:37] TracyLinder opened #3842 "SCP3 Bug: SCP Case Manager Process Closes"
### The SCP Case Manager Process closes upon folder issuance. This prevents the user from being able to use the process after issuance for corrections.

[2020-08-31 18:04] Sreelatha-BlazeKannan commented on #2633
@TracyLinder , @Nadin-Nader  - Aishwarya submitted DEV Commit  for configuration changes .

[2020-08-31 18:08] Sreelatha-BlazeKannan commented on #3414
@TracyLinder , @Nadin-Nader  - Waiting on Tracy's Approval

[2020-08-31 18:09] Sreelatha-BlazeKannan commented on #3465
@TracyLinder , @Nadin-Nader  - THe Function not moved to the DEV Environment; still the old report is being called causing the issue. Trying to work with Nadin & Martin to fix the issue.

[2020-08-31 18:27] amenity commented on #3667
In my understanding, components, né facilites, are [much more granular](https://docs.google.com/document/d/1C8ApbrT8EE1oajgjb9KmL_d34Qd2XwZ-y6Z485RAgsU/edit#heading=h.q7h4rj6dbg77) than these polygons...

@zappfyllc, are you suggesting that every facility would map to whatever polygon contained it? So for an intersection with 4 crosswalks and 8 ped ramps the project would contain 12 identical poly

[2020-08-31 18:37] jaime-mckeown commented on #3649
Discussion with Billy about Audit Map
- He said that all the fields were good
- All data they needed to do the audit is included ( I can always add more layers if needed)
- We discussed the ability to add their own addresses and I shared with him the idea of CTM Addressing Group assigning physical addresses to the beacons. I'm waiting to hear back from Jacquie regarding that request.
- He will get

[2020-08-31 18:39] jaime-mckeown commented on #3649
I need to create a short plan for what to go over in the training.

[2020-08-31 18:53] JaceDeloney opened #3843 "Audit Postgres vs Socrata shared mobility trip numbers"
Conduct an audit that compares the trips in the two datasets and updates the Socrata data so that it aligns with the postgres data

[2020-08-31 19:02] moorerst commented on #3834
From https://atd.knack.com/hr#hr-forms/ Telework Request Form Details
Telework Request status - Need Department Head Signature
Exported the data requested, sorted by Division
[Telework Forms Status Needs Department Head Signature.xlsx](https://github.com/cityofaustin/atd-data-tech/files/5152052/Telework.Forms.Status.Needs.Department.Head.Signature.xlsx)

[2020-08-31 19:02] #3834 closed

[2020-08-31 19:40] TracyLinder commented on #3293
Status: Nate will submit deployment plan today.

[2020-08-31 19:49] TracyLinder commented on #3526
This will be on hold until 3293 is in PROD.

[2020-08-31 19:53] #3649 closed

[2020-08-31 19:55] jaime-mckeown commented on #3472
Went over data and Web Application with Billy. He will be letting me know who to invite to training, hoping to schedule for next week.

[2020-08-31 19:57] #3823 closed

[2020-08-31 20:23] jaime-mckeown commented on #3833
- Submitted CTM Request to create a GISDM account.
- Asked Dan to coordinate with Scott to get 10.7. installed.

[2020-08-31 20:32] jaime-mckeown commented on #3809
Emailed Jeremy a link to the View Layer.

[2020-08-31 23:03] johnclary commented on #3472
yayyy! thanks @jaime-mckeown! let me know if you feel like you need a hand with training. happy to sit in.

[2020-09-01 00:21] Nadin-Nader commented on #3293
@TracyLinder @Sreelatha-BlazeKannan This has been sent to CTM Tango to be deployed under TASK SCTASK0093585.

**Status:**
Waiting on CTM Tango to deploy to PROD

[2020-09-01 13:35] zappfyllc commented on #3667
@amenity Facilities are definitely more granular as a dataset, but I'm not under the assumption that every single facility gets hand-drawn as lines in arcGIS. At least, based on what I have (see screenshot), many of his facilities don't have an AccessLength, which I believe is a calculation of the length of the shape in arcGIS. My assumption has always been that he stores project facilities in Acc

[2020-09-01 14:02] jaime-mckeown commented on #3472
@johnclary I have a meeting with Jacquie and Cathy from the Addressing Team next week to discuss the possibility of creating official addresses for the Beacons. I'll forward you the email chain, if I missed anything please let me know so I can communicate it to them next week. Thanks!

[2020-09-01 15:00] amenity commented on #3667
Aha, I see what you're getting at. I think count-per-polygon could work for components that don't require length calculations. Maybe sidewalks, bike lanes, etc. just get mapped in their own way — _or_ maybe they can be calculated based on the polygon to a sufficient degree of accuracy...

Anyhow, love these spitball-spurred discussions. Keep it coming! 😎

Agreed. Who knows, he may come up with a f

[2020-09-01 15:52] jaime-mckeown commented on #3809
- Jeremy and I discussed the Web App, I shared my screen with him and went over how to edit online since he has always edited feature layers in Mxds.
- He asked for 2 new fields: Garage Name, Company Management
- I also had forgot to add the street segment layer that he needs for reference.
- Had to recreate the View Layer since I added 2 new fields to the feature layer. The Web Map / App are conf

[2020-09-01 15:55] jaime-mckeown opened #3844 "Parking Inventory Feature Layer - View Layer Creation"
When I was working on the Parking Garage Entrances feature layer for Jeremy I discovered that the Parking Inventory Feature Layer is shared to Everyone and is editable. I am going to create a View Layer that is only shared within the Parking Group and will change the feature layer to not being editable for security of the data.

[2020-09-01 15:57] SurbhiBakshi commented on #3273
Created dataset and measure card, scheduled some time with Kelsey and Cole to talk about narrative around story page.

[2020-09-01 16:15] amenity commented on #3805
Moving this to `On Deck`.

[2020-09-01 16:20] sergiogcx opened #3845 "VZE: Bug: Search in feature"
In the changes page, the search feature crashes when providing a crash_id:
https://visionzero.austin.gov/editor/#/changes

![2020-09-01_11-18-43.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/8f0f67ac-4ff1-4d9d-bb6e-759f2beb25ff)

[2020-09-01 16:40] johnclary commented on #1554
Had to abort the migration due to verrrrry slowwww indexing. I made a [copy of the app](https://builder.knack.com/atd/test-right-of-way--1-sep-2020) and am testing some optimizations for import.

[2020-09-01 16:51] TracyLinder commented on #1554
@johnclary @ChrispinP do the users need to be notified or updated?

[2020-09-01 16:56] jaime-mckeown opened #3846 "ArcGIS Pro Essential Workflows Custom Course - Jeremy S."
Sent Jeremy the dates remaining this year for the ArcGIS Pro Essential Workflows Custom Course.

[2020-09-01 16:56] TracyLinder opened #3847 "Bug - LM Self-Assign: Initial Distribution Process"
### Test RSN 12395059 - On the Initial Distribution Process; the user saved 'Complete' attempt. This should have inserted process AW Infrastructure Management, but nothing happened.

[2020-09-01 16:57] jaime-mckeown opened #3848 "Instructions to setup a Concurrent Use License in ArcGIS Pro - Jeremy S."
Jeremy let me know that he has ArcGIS Pro installed on his computer, but it doesn't work since the license has not been configured.

[2020-09-01 16:58] moorerst commented on #1341
8/27 - sent email to Joseph to determine if this is still needed and if so what is the priority.

[2020-09-01 17:18] moorerst commented on #3440
8/31 provided Nathan with a report of forms with status Needs Dept Head Signature. There were 125 forms needing Dept Head signature, as of 9/1 there are 83. So some progress was made.

[2020-09-01 17:48] moorerst commented on #3404
Meeting rescheduled to 9/8 due to conflict for CTM Security

[2020-09-01 17:56] ChrispinP commented on #3783
spoke with John on these final style items and updated style guide.

[2020-09-01 18:04] amenity opened #3849 "Refine various MMC components in Data Tracker"
**Update references to outdated name**
- [x] Update slug/URL: `https://atd.knack.com/amd#tmc/`--> `https://atd.knack.com/amd#mmc/` - will close #1707
- [x] Update button on Data Tracker homepage to "Mobility Management Center"

**Modify [SR table](https://atd.knack.com/amd#tmc/) structure**
Lance initially submitted a [request to widen the table on the MMC page](https://github.com/cityofaustin/atd

[2020-09-01 18:54] jaime-mckeown opened #3850 "TARA Small Cell Asset Map Question - April S."
![image.png](https://images.zenhubusercontent.com/5cb8d2e073d7e234297df108/8385dd55-1c58-401e-be05-0f77165a596d)

[2020-09-01 19:08] TracyLinder commented on #3738
@TracyLinder per David G., this can be done. Iron out the details w/ UC team.

[2020-09-01 19:15] TracyLinder commented on #3842
Per David, when the applicant attaches a new attachment, the system will insert a new SCP Case Manager process.

Look [here](https://trello.com/c/wDuV7rTO/40-correction-revision-process)

[2020-09-01 19:15] #3842 closed

[2020-09-01 19:21] amenity commented on #3772
Got an email from Lance yesterday and going to start with #3849.

If that doesn't resolve this issue and #3790 , perhaps we can nudge the Data Tracker max-width to 1300px from 1200px...

[2020-09-01 19:26] TracyLinder opened #3851 "Feature: Automated DS Inspections Emails"
### As a DS folder Right-of-Way Contractor, I want inspection information emailed to me when I pass or fail a folder inspection.

**Stakeholders:** Michael Jones, Deborah Fonseca (DSD)
**DTS Manager:** Tracy

**NOTE:** In DSD's backlog in Service Now. **INC0086688**

### Solution:
- On DS folders, process tab
    - All inspection processes used by Mike Jones' inspectors
    - **Process names & cod

[2020-09-01 20:01] amenity commented on #288
@johnclary - Sprint 33?

[2020-09-01 20:02] amenity commented on #2637
@moorerst @mateoclarke — any updates on this?

[2020-09-01 20:03] amenity commented on #2930
@mateoclarke @johnclary — Sprint 33?

[2020-09-01 20:04] amenity commented on #3547
@mateoclarke — shall we plan to get this in Sprint 33?

[2020-09-01 20:17] TracyLinder commented on #2662
@Nadin-Nader do you think you'll be able to do the first pass of UAT this week?

[2020-09-01 20:18] TracyLinder commented on #3536
**Status:** Work is currently in Test and will be moved to DEV. Then Robert will make the fixes, and promote back to test.

[2020-09-01 20:19] TracyLinder commented on #3500
@TracyLinder add the email from Sean & close this.

[2020-09-01 20:21] TracyLinder commented on #3765
**Convo w/ Robert:** He needs to add a clause that says 'If the folder is input from portal, the status needs to update to Internet Pending'. Currently work is in branch; he thinks he can work on this on Wednesday & Thursday of this week.

[2020-09-01 20:22] amenity commented on #3643
@TracyLinder - backlog? Sprint 33?

[2020-09-01 20:22] TracyLinder commented on #1809
**Status:** This is currently the lowest priority for Robert's In Progress work, and likely won't see any progress during this sprint.

[2020-09-01 20:23] amenity commented on #3654
@mddilley - do you think this was covered by #2457?

[2020-09-01 20:24] amenity commented on #3726
@johnclary - any updates here?

[2020-09-01 20:27] amenity commented on #2929
@mateoclarke @johnclary — like #2930; another 📊 n' 🍩 that needs milestone and/or pipeline updates.

[2020-09-01 20:48] amenity commented on #3353
Assistant Director and Budget reviews are completed, currently in Purchasing | Processing.

[2020-09-01 21:01] johnclary commented on #3850
to recap discussion with @jaime-mckeown:
We tested the publishing script by editing one record in Knack. this triggered an update to the AGOL feature as expected. Not sure what caused this disconnect between Knack/AGOL, but there doesn't not appear to be any issue with the ETL.

But I went ahead and updating our publishing definition for this layer so that it publishes daily (6:35am) instead of ho

[2020-09-01 21:07] jaime-mckeown commented on #3850
@johnclary the number of records now matches between AGOL and Data Tracker. Thank you for your help!

[2020-09-01 21:19] johnclary commented on #3850
Super! I'm leaving this in Review Q/A assigned to me because I need to merge the pull request once it's reviewed.

[2020-09-01 21:36] johnclary opened #3852 "Setup new Github Teams access model"
At the moment, all of our team members have admin access to all repos. Github supports nested teams, with each child inheriting base permissions from its parent:

So i propose we do something like:
[code]
![Screen Shot 2020-09-01 at 1.12.43 PM.png](https://images.zenhubusercontent.com/5caf676becad11531cc417cb/2388a0d3-3442-4f87-871b-816f2d56643f)

[2020-09-01 21:38] johnclary commented on #3852
@mateoclarke would you mind assigning this to someone and throwing on deck for sprint 33?

[2020-09-01 21:50] johnclary opened #3853 "Hire an IT Geospatial Analyst Sr"

[2020-09-01 21:52] johnclary opened #3854 "Submit Position Review Form (PRF)"

[2020-09-01 21:52] johnclary opened #3855 "Create job posting"
Looks like we can reuse [this one](https://docs.google.com/document/d/1FELWSOMEEehdB-qAYIzehguBEABL9ViJqRJX_WRbDpM/edit)

[2020-09-01 21:52] johnclary opened #3856 "Review resumes"

[2020-09-01 21:53] johnclary opened #3857 "Conduct 1st Round Interviews"

[2020-09-01 21:58] jaime-mckeown commented on #3854
@johnclary Do you have an old Position Review Form for an Analyst as well or just for a Tech?

[2020-09-01 23:14] Nadin-Nader commented on #2633
@Sreelatha-BlazeKannan @TracyLinder @aishwarya2505 Submitted SCTASK0093819 Request for CM DevOps to deploy the changes to DEV for commit 8f70db28256f

[2020-09-02 13:07] Nadin-Nader commented on #3664
@TracyLinder Im making the call on this one and closing it. Isaiah still has not responded to any emails about this and has not complained or we have not heard anything about it. I will send an email letting him know

[2020-09-02 14:36] SurbhiBakshi commented on #3832
- Hard to know which records are missing from May 1 to June 30, 2019 , will write to Bhooma to ask for more specific details on the gaps.
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/7687c6e2-ca02-4b6c-b988-9205a43dc46f)

- Records missing from June 1 to August 1, 2020
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/9650c2f9-f4e5-4b3b-a9be-5

[2020-09-02 14:50] jaime-mckeown commented on #3833
Emailed Dan instructions for how to check out an ArcGIS Desktop license.

[2020-09-02 14:54] moorerst commented on #1341
9/2 - per email from Joseph
You can go ahead and put this on hold until we have staff to complete the scope, but we do still need a solution for this in the future, as we are going to be asked to conduct more parking surveys and we need an efficient way to complete them.

[2020-09-02 14:57] moorerst commented on #1341
Since a solution is still needed I will schedule a scoping meeting

[2020-09-02 14:58] #3645 closed

[2020-09-02 14:58] #3845 closed

[2020-09-02 14:59] moorerst commented on #3389
review meeting scheduled 9/17

[2020-09-02 15:03] moorerst commented on #933
9/1 received the vendor letter of sole source justification
scheduling followup meeting with Joseph to discuss next steps

[2020-09-02 15:14] sergiogcx commented on #3760
Jump is no longer active in Austin.

[2020-09-02 15:14] #3760 closed

[2020-09-02 15:15] #3743 closed

[2020-09-02 15:15] sergiogcx commented on #3743
Closing this.

[2020-09-02 15:18] sergiogcx opened #3858 "VZV: Bug with Vision Zero in ultra-wide monitors"
VZV Shows a problem when running in ultra-wide monitors:

![2020-09-02_09-50-15.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/c36b9662-aa02-4a55-bb03-0be3daf3f6ff)

![2020-09-02_09-50-19.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/d54fdb2a-5ae0-4169-9c17-984ea5bc0946)

[2020-09-02 15:28] sergiogcx commented on #3858
PR:
https://github.com/cityofaustin/atd-vz-data/pull/921

[2020-09-02 15:45] sergiogcx commented on #3689
Currently, the crashes table trigger copies the value of city_id into original_city_id on INSERT only. This is needed as the first step.

[code]