[2021-03-11 22:13] dianamartin opened #5479 "FormStack Research"
Called Amber T. with CTM Admin for FormStack to learn what I could about the licenses/management

[2021-03-11 22:16] ChrispinP commented on #4774
I have built a new Menu Page called Reviewer Dashboard. This page will recognize the logged in user and display all associated case work and scope submission/submission work for a user. This work links to the details of those submissions and cases. Ive built this page in a way that would allow us to add other types of work to it such as development reviews but some backend adjustments would need t

[2021-03-11 22:25] #5297 closed

[2021-03-11 22:27] jaime-mckeown commented on #5259
Diana will be submitting a CTM Ticket to request a profile update for AMD, Parking Meters, Signs and Markings, and Parking Enterprise that will add ArcGIS Collector to the available Apps.

[2021-03-11 22:29] jaime-mckeown commented on #5277
I will be creating an ArcGIS Collector Wiki and will add the link to the Field Work section for SZB that way it is accessible for all projectes.

[2021-03-11 22:29] #5277 closed

[2021-03-11 22:30] jaime-mckeown opened #5480 "Create an ArcGIS Collector Wiki"
Create an ArcGIS Collector Wiki in GitBook so it's accessible for all Collector type projects.

[2021-03-11 22:33] dianamartin commented on #5479
@amenity @johnclary

# Notes
CTM license management - loans out licenses out for 30 days
- manage the form
- edit the form
- check submission

30 days cycle can licenses can be checked-in/checked-out
CTM has limited licenses: 75
Some licenses are reserved for admins, so lower than 75 really
They keep a close watch of license usage

A user can user a license if they are "actively"
- building
- test

[2021-03-11 22:34] dianamartin commented on #5259
CTM Ticket created `INC0088371`

[2021-03-11 22:41] jaime-mckeown opened #5481 "Send Export of Site Plan Case to TxDOT"
From Nazlie:

[2021-03-11 22:42] jaime-mckeown commented on #5481
The choices for Site Plan Case in the Property Profile are: In Review and All. Will send an export of the In Review cases to get something out.

[2021-03-11 22:58] jaime-mckeown commented on #5481
TxDOT sent:

[2021-03-11 22:58] jaime-mckeown commented on #5481
Sent a copy of Site Plan Cases In Review and All in since she referred to historic profiles as well.

[2021-03-11 23:12] dianamartin commented on #5420
@moorerst
- Added the `number of warnings` field to activity form
- Changed the `Assigned To` field to allow multiple officers and created a Dispatch Officer activity
  -  Checked under "Diana" and "PEO Officer", only one account got the SR send to them to work on. I added "Diana" first and then the "PEO". So it might be the last person who is added gets the SR actually assigned to them.

[2021-03-11 23:31] amenity commented on #314
Two new use cases
- [Here's the digital RPP petition request](https://github.com/cityofaustin/atd-data-tech/issues/2917)
- [Here's the new request from AMD for multiple forms](https://github.com/cityofaustin/atd-data-tech/issues/5335)

[2021-03-11 23:53] #4834 closed

[2021-03-12 00:18] amenity commented on #5478
@dianamartin - how hard would it be to implement the solution Renée mocked up?
![Screen Shot 2021-03-11 at 6.18.06 PM.png](https://images.zenhubusercontent.com/5a5f8dc94b5806bc2bc322a5/27e5bf09-fdf5-434b-bf91-f88c7434e575)

[2021-03-12 14:45] #5481 closed

[2021-03-12 15:38] amenity opened #5482 "Projects page 2.0"
- [x] - Implement design refinements #6061
- [x] - [Bug] Advanced search on Projects page doesn't allow "is not blank" or "is blank" operator #6066
- [x] - Remove road icon and link "Project name" to project page #6065
- [x] - Filter all projects by project team members #5517
- [x] - Update columns displayed in table and available as filters #6063
- [x] - Change default sort order to show most rec

[2021-03-12 15:48] amenity opened #5483 "[Product] Sign Fabrication Request Management"
Will need a solution for sign fabrication requests — currently receive work orders, so many extraneous fields (location, etc.); get requests for retirement signs from other departments aren’t even tracked. - Should be simple; request coming soon

[2021-03-12 16:02] johnclary commented on #5479
thanks @dianamartin! Really helpful.

Would you mind asking Amber if we would be allowed to use these features?

- [Webhooks](https://help.formstack.com/hc/en-us/articles/360019516191-WebHook-Submit-Actions)
- [Formstack Go (mobile app)](https://www.formstack.com/features/formstack-go)

And I'm curious if any other departments are using [payments](https://www.formstack.com/features/payment-process

[2021-03-12 16:09] amenity commented on #5483
Separate page —

Two types of requests
 - Work Orders related to MUTCD* street signs - kind of "fake" fill out current work order form since not all fields are relevant
 - Non-
    - Retirement signs (requests from other departments)
    - SXSW signs

*Manual Uniform Traffic Control Devices

[2021-03-12 16:12] amenity commented on #1407
Suzanne said that the information tables are showing but now the geometries are not. :(

[2021-03-12 16:13] dianamartin commented on #5479
@johnclary I can ask Amber about webhooks and FormStack Go, but she specifically said the COA instance allow the use of payments the other day.

[2021-03-12 16:18] ChrispinP commented on #4797
I have updated the Account Management page with updated filters and some cleanup. Both Admin and Project Manager users can see Account Management and either Edit or Add users. Should we give TIA Leads the Project Manager role or should we tag them with a new TIA Lead user role?

Ready to review

[2021-03-12 16:19] johnclary commented on #1407
this issue is a dupe. this was deployed and running good as far as I knew. will try to find the more recent issue.

[2021-03-12 16:21] amenity commented on #3163
@johnclary - do you think this will ultimately be covered by Moped?

[2021-03-12 16:21] johnclary commented on #1407
Closing and moving this convo to #4985.

[2021-03-12 16:21] #1407 closed

[2021-03-12 16:22] johnclary commented on #4985
Susanne reports that the layer geometries are not updating properly. Re-opening. Will take a look by the end of the day. FYI @amenity

[2021-03-12 16:22] amenity commented on #131
Down to 2 vendors and purchasing is doing price negotiations.

[2021-03-12 16:26] ChrispinP commented on #5273
If we want to populate Council District based on the Project Address, we will need to identify a spreadsheet of data either zipcodes, streets, or segments that belong to which District and update our Geo object accordingly. For reference, if we did by Segments, that would be about 65,000 records that would need to be updated.  For zipcodes that is about 80 records. Streets would be somewhere in be

[2021-03-12 16:29] jaime-mckeown commented on #5480
Wiki complete: https://atd-dts.gitbook.io/atd-geospatial/miscelaneous/arcgis-collector-app
Diana will test it with the city Tablet to make sure my Sign-In steps match

[2021-03-12 16:30] amenity opened #5484 "Perform usability testing with Joe Michael, Tooran, and a contractor"

[2021-03-12 16:30] ChrispinP commented on #2736
@TracyLinder Lets identify with stakeholders if the Review start and end dates plus the Days Under Review field meet this need or if they do need to assign Deadlines to submissions.

[2021-03-12 16:32] johnclary commented on #5482
My not strongly held opinions:
- Project name should be hyperlinked to open the project summary
- That “edit road” icon that opens the project summary can be removed
- The project description can probably go away and be replaced with more useful fields once we have them
- Projects should sort by most recently modified first, and there’s something funky going on with default sorting. The initial so

[2021-03-12 16:41] amenity commented on #4709
@TracyLinder - assigning Chrispin to this as well. Lauren was wondering if Paloma is looped in on this — she was asking about AMANDA payments  yesterday.

[2021-03-12 16:45] ChrispinP commented on #5453
Case Attachments currently appear when adding other content to a Submission. We removed them from the Case Details page. Would we like to re-add them to the Case Details page or should we place somewhere else?

[2021-03-12 17:03] jaime-mckeown commented on #5480
Compare Wiki to City Tablet next week after I pick it up.

[2021-03-12 17:04] #5393 closed

[2021-03-12 17:07] jaime-mckeown commented on #5259
ArcGIS Collector is available on the tablets.
- Diana tested and was able to view attachments.
- She was also able to sign out.

[2021-03-12 17:07] dianamartin commented on #5478
I would need to talk to Renee about this one. So the page she suggesting making the change is a details page of the location study. That have "Study Location" is shown in a details format and she's suggesting to change into a table. Unfortunately it can't be turn into a table bc the details page is the object's information resides. We'd have to change the table in the level above (Study Details pa

[2021-03-12 17:09] atdservicebot opened #5485 "Project: Custom Sign Fabrication Requests"
Build a page to accept custom sign fabrication requests. These include signs for special events, staff retirement, City of Austin parking lots, etc.

We would like to see a page that allows:

1. Requesters from ATD and other City departments to submit work orders for sign fabrication requests (including special events, retirement signs, signs for AFD/APD/AW/SBO).
2. Sign shop to fill out the infor

[2021-03-12 17:15] atdservicebot opened #5486 "[Bug] Markings work orders "ON HOLD" "WAITING FOR PLANS" visible to technicians"
Signs & Markings Operations

When markings work orders are created and automatically placed "ON HOLD" because it is "WAITING FOR PLANS", the jobs remain in the "NEEDS TO BE ISSUED" status making these projects visible to the Technicians in the field.

Other example work orders:

https://atd.knack.com/signs-markings#work-orders-markings/markings/view-work-orders-marking-details/5f16a8e5eb154c001542

[2021-03-12 17:23] johnclary commented on #4985
Emailed Susanne:

[2021-03-12 17:28] sergiogcx commented on #5345
I've updated the branch to use Java's JDBC drivers  (as opposed to ODBC) to make advanced SQL queries directly against the access database, since we are going to need joins.

A quick test shows that basic joins are supported:

[code]

Output from python+java+docker container:

![2021-03-12_10-52-48.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/ca0e4331-e380-4f80-95f5-7ec9f400a

[2021-03-12 17:28] sergiogcx commented on #5345
I've also adjusted the main.py file to insert directly from the output of a SQL query into Hasura:

![2021-03-12_11-26-21.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/2adc8852-96cc-4f6b-b0a1-f766335b3913)

[2021-03-12 17:45] amenity commented on #5251
@zappfyllc - Is this ready to go?

[2021-03-12 17:51] amenity commented on #5255
@mateoclarke - no action necessary, but want to get this on your radar.

[2021-03-12 18:00] johnclary commented on #5463
OK, I fixed this. When I made the last permissions change, I forgot to account for the ability for technician's to re-open their submitted work orders.

I updated the [re-open (my) work order page](https://builder.knack.com/atd/amd#pages/scene_345) rules so that the technician can re-open their work order if it's in a submitted status.

[2021-03-12 18:11] ChrispinP commented on #5351
Added Case Comments table to customer Case Details page with filters. Comments will only show if a Submission is in the Revision Required or Approved statuses or if Notify Requester is set to Yes. Looks like Comments and Attachments dont like connected automatically to more than one parent object so I updated rules to manually force the connection to the Request object. Will need to test to make s

[2021-03-12 18:23] ChrispinP commented on #4931
Received Mitigation List.

Updated Improvement Categories and added necessary fields for data entry to hide/show based on Improvement selection.

complete, closing

Here is the updated list as of now:

[2021-03-12 18:45] ChrispinP opened #5487 "[TDS] Update TDS Workflow, Customer, Data Diagrams, and Submission Process Video"
We need to update the Workflow Diagrams for the entire TDS application, both Development and TIA workflows.

Options are to use Miro, Visio, or LucidCharts.

We may also want to create a Customer Experience Diagram and a DFD as well.

[2021-03-12 18:48] ChrispinP opened #5488 "[RPP] Update RPP Workflow, Customer, and Data Diagrams"
We need to update the Workflow Diagram for the RPP application.

Options are to use Miro, Visio, or LucidCharts.

We may also want to create a Customer Experience Diagram and a DFD as well.

[2021-03-12 18:58] alan-deanda opened #5489 "Create IH-35 Polygon Feature Class"
Create a polygon feature class of I-35 from Highway 45 in the south to Highway 45 in the north. The polygon should be split into 3 sections:

- North: SH45N-290,
- Central: 290-71,
- South: 71-SH45SE

[2021-03-12 19:22] ChrispinP commented on #5472
Updated Banner

Ready for review

[2021-03-12 19:40] dianamartin commented on #5478
Called Renee to get clarification on this issue. I was able to let her know that her suggestion wouldn't work.

On Study details
- [x] Removed `Signal Study details | Warrants` table
- [x ] Recreated detail widget

On Study Locations table
- [x] Swapped Location Status and Study Status

These changes addresses Renee's issues.

[2021-03-12 19:40] #5478 closed

[2021-03-12 21:22] alan-deanda commented on #5106
By adding more tags to DM, they'll be reflected in AGOL and Socrata when they're updated on a monthly basis.

[2021-03-12 21:29] jaime-mckeown opened #5490 "CTM Request for GISDM/GISMAINT Accounts for Andrew"
Submitted CTM Request for Andrew to get accounts created on GISDM Prod, Dev, Test and GISMAINT Prod, Dev, Tes.

[2021-03-12 21:55] jaime-mckeown commented on #5462
Alan and I met to discuss Andrew's first month. I created a document in One Drive and shared it with Alan and John.

[2021-03-12 21:55] #5462 closed

[2021-03-12 22:01] SurbhiBakshi commented on #3720
This should work - I'll update the email content.

[2021-03-12 22:23] dianamartin commented on #5479
# RPP Prototype Screen Shots
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/57c63e13-ea1b-4fef-aad2-87b3d0303e3d)
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/1a111c4c-7557-4e91-9665-040670723750)

## FormStack GO

[2021-03-12 22:33] SurbhiBakshi commented on #3277
Created the dataset and measure card, shared with Systems Development. Waiting to get content for the Story Page after it is reviewed by PIO.

[2021-03-12 22:41] SurbhiBakshi commented on #4998
Have created the dataset, waiting to get the Story Page content updates from Caitlin, before uploading the updated dataset to the Open Data Portal since the assets are public.

[2021-03-13 00:01] ChrispinP commented on #2764
Started rebuilding the Reports Page for Current Year reporting.

Let's review again before i continue. Check for missing reporting needs and if we should breakout any reports into their own tabs (Case Reporting/Mitigation Reporting) before i make individual styling changes and build out the Previous Year or Fiscal Reporting.

[2021-03-13 15:31] amenity commented on #3720
Thanks, @SurbhiBakshi !

[2021-03-13 20:07] atdservicebot opened #5491 "Unable to Submit a Work Ticket - Data Tracker"
Data Tracker

When trying to submit a work ticket, ticket will not submit and displays “WARNING! Unable to to submit work order without any DOSAs and time entries” message even if time entries and and DOSA have been entered and submitted. It does this for every work ticket and often the tickets have to be submitted multiple times in order to actually go through.

Internet Browser: Safari

Roman P.

[2021-03-14 19:40] zappfyllc commented on #5251
@amenity just finished it and added the link for status. Moving to Backlog.

[2021-03-15 04:17] amenity commented on #3720
Thanks!

[2021-03-15 06:01] amenity commented on #1769
Thanks, @jaime-mckeown

[2021-03-15 06:07] amenity commented on #5148
@johnclary @dianamartin - yep, on it.

[2021-03-15 06:21] amenity commented on #5148
- [ ] 1Password
- [ ] Slack
- [ ] Miro
- [ ] Vision Zero Editor
- [ ] Knack Applications
- [ ] GitHub (remove from team & re-assign issues)
- [x] Google Drive (revoke access)
- [ ] Fill out employee separation form - [Separated Employee Request Form (SERF)](https://atx.service-now.com/sp?id=sc_cat_item_guide&sys_id=72fb6289db9f73405b03f482ba961956) (Supervisor must complete)
- [ ] DTS email distri

[2021-03-15 06:25] #4461 closed

[2021-03-15 06:25] #3722 closed

[2021-03-15 06:26] #975 closed

[2021-03-15 14:42] atdservicebot opened #5492 "Add an additional signal/PHB study status of "Not Studied""
Data Tracker

Please add an additional signal/PHB study status of "Not Studied"

Please add an additional signal/PHB study status of "Not Studied" so we can track locations that are identified for study but not studied; for instance an all way stop is installed instead.

not really a work around, have been leaving status blank

Renee O.

Request ID: DTS21-101740

[2021-03-15 15:24] Nadin-Nader commented on #5463
Info from Tony Dube:

![image.png](https://images.zenhubusercontent.com/5e8dfbfabf171441c3a5684e/ebda0670-1d44-474c-9945-3d7bf4f6acfd)

When I'm in data tracker after I enter all the information I submit the work order. If I happen to forget to add some important information I was able to push the re-open to open the work order back up for I can add additional information. Now we need permission t

[2021-03-15 15:51] dianamartin commented on #5148
@amenity I can look at the 1password stuff for Jace

[2021-03-15 15:58] Nadin-Nader opened #5493 "Add 3 new AMANDA Accounts. New Users are ; Russel Bond, Megan Nelson, Alexia Cox"
Add 3 new AMANDA Accounts. New Users are ; Russel Bond, Megan Nelson, Alexia Cox:

- [ ] Create V6 Accounts on Test Mirroring LaTonya Adams
- [ ]  Set Automation to Promote TEST accounts to PROD
- [ ]  Create Request for CTM to add Users to AMANDA Active Directory Groups and to V7 Sec Groups

[2021-03-15 16:06] Nadin-Nader commented on #5493
Created all 3 accounts on V6 TEST and set the automation to run for PROD.  It created the accounts in PROD. I then submitted requests to CTM to add Users to AMANDA Active Directory Groups, to AMANDA V7 and the proper AMANDA V7 Sec Groups.

Russell Bond SCTASK0124562
Alexia Cox SCTASK0124564
Megan Nelson SCTASK0124565

This has been completed and users have Logged into V6 and V7. Closing card

[2021-03-15 16:06] #5493 closed

[2021-03-15 16:25] dianamartin commented on #5463
@johnclary Did we not fix this last week?

[2021-03-15 16:35] dianamartin commented on #5148
# Disable access to Knack apps
- [x] AMD Data Tracker
- [x] HR Manager
- [x] DTS Portal
- [x] Finance and Purchasing

[2021-03-15 18:23] johnclary commented on #4985
Susanne confirmed we're good. closing.

[2021-03-15 18:23] #4985 closed

[2021-03-15 18:41] dianamartin commented on #5148
- John said the Employee Separation Form's been completed for Jace

[2021-03-15 18:43] amenity commented on #5491
@dianamartin - I'm thinking this is a "works as intended" situation and Ramon just needs clarification on policy?

[2021-03-15 18:44] dianamartin opened #5494 "IT Support: External Sharing Request - PowerBI report, embed code"
Lance B.
AMD

I received an External Sharing Request for O365. Typically for externally sharing a SharePoint site, document library or files. He would like to publish a report in PowerBI and then share it externally on a city hosted site (austintexas.gov)

[2021-03-15 18:46] dianamartin commented on #5494
I talked with Lance to see what he's trying to do, I said I'd approve his external sharing on the grounds that we test the embed code on their AMD SharePoint site, AMD Data Tracker (test) page. He'd choose a tester that has no city email address or PowerBI license and see if they can access the report.

I have some concerns that it may not work as he's expecting, but that's why we need to test it.

[2021-03-15 18:52] dianamartin commented on #5491
@amenity I think that the message is just a message and doesn't prevent them from submitting. I can double check it, but that's how I think it's configured

[2021-03-15 19:14] dianamartin commented on #5491
I finally found the form that this message is on:
- `scene 297, view 1197`
The submit rules was this:

- Submit is Yes
- Count Time Logs lower than 2

I changed it to this:

- Submit is Yes
- Count Time Logs lower than 2
- Added Count of DOSAS is lower than 1

![image](https://user-images.githubusercontent.com/21112975/111208358-a124d180-8598-11eb-9e3c-93fd6566e22f.png)

[2021-03-15 19:18] dianamartin commented on #5491
@johnclary would this form rule be correct now that I modified it? It seemed that Roman was getting this message bc I was missing the `Count of DOSAS' field on here.

[2021-03-15 19:50] amenity commented on #5491
@dianamartin — aha, thanks! LMK if you want me to circle back with him and/or Billy but also happy for you to if that's easy. Would be great to do soon since it could be blocking his work.

[2021-03-15 20:07] #5332 closed

[2021-03-15 20:08] alan-deanda commented on #5106
Improving search functions seem to be part of a bigger issue than what CTM can do at the moment.

[2021-03-15 20:08] #5106 closed

[2021-03-15 20:08] dianamartin commented on #5491
@amenity It would be great to ask Roman/Billy to see if that small change fixed the issue or not to see if was a blocker for them or if the message was just annoying them bc it was showing when they already had dosa's but not time logs.

[2021-03-15 22:22] mddilley commented on #5368
Backfilled all production user roles using the Moped v0.2.0 release staff editing improvements.

[2021-03-15 22:22] #5368 closed

[2021-03-15 22:29] mddilley opened #5495 "User Management | Fix bug where 'date_added' is overwritten with current date in Edit Staff form"
When updating a staff member in the Edit Staff form, the initial `date_added` value for the user is overwritten with the current date. Need to double check the mutation for editing users and make sure that we don't reset this field that is worth tracking.

### Response from edit made on 3/15/2021
![Screen Shot 2021-03-15 at 5 19 07 PM](https://user-images.githubusercontent.com/37249039/111229308-a

[2021-03-16 00:46] amenity opened #5496 "Document Repository | Implement refinements"
Initial implementation: https://github.com/cityofaustin/atd-moped/pull/230

### Files tab
- [x] Title should be "Files" to match tab
- [x] Remove "Project File Attachments" heading inside component
- [x] "File Description" ---> "Description"
- [x] "Created By" ---> "Uploaded by"
- [x] "Created Date" ---> "Date uploaded"
- [x] "File Size" ---> "File size"
- [x] File size should be rounded, no decim

[2021-03-16 00:58] jaime-mckeown commented on #5325
Last Friday, sent 1st email to ROW, SMB, SDD, DTS Apps Team.
- heard back from DTS Apps Team, ROW, and SDD (Liane).

[2021-03-16 01:07] jaime-mckeown opened #5497 "AGOL Account Help - Emily S."
Asked to be added to the ATD PIO Group in AGOL.

[2021-03-16 01:08] jaime-mckeown commented on #5497
- She then let me know that she can't access a Story Map that is shared with the Org or create a new Story Map.
- Her account is currently a COA Viewer, let her know that I would need to submit a request to have her account changed so she has more privileges.

[2021-03-16 01:12] jaime-mckeown commented on #5497
Request submitted to CTM for her AGOL account privileges to be changed.

[2021-03-16 01:26] jaime-mckeown commented on #5325
Gave Frank his new GIS Workstation computer name so he can start using it tomorrow. Will request a laptop for him next week when Scott is back.

[2021-03-16 13:44] amenity commented on #5492
@dianamartin - assuming this is a one, sticking on deck for whenever you want it. That said, no rush!

[2021-03-16 13:48] amenity commented on #5492
Oops, can’t stick it on deck or assign to this sprint from my phone 🙈

[2021-03-16 13:50] dianamartin commented on #5492
@amenity I took care of the pipeline status

[2021-03-16 13:51] amenity commented on #5492
🙏

[2021-03-16 13:54] dianamartin opened #5498 "Meeting with Bert from WPD about Modern Pages migration"
Talked to Jeff S. from WPD about the Emgage Menu migration. It seems to be intertwined with SharePoint Modern pages.

# Notes
Emgage Menu
- Different role
- Monitoring SharePoint site

**Process**
- 1 Hub - broken down by division
- Support Services
- 5 teams
- Finance - meet with them: Classic

What's needed and what can go away

Rebuilt the whole thing from scratch
ShareGate - Classic to Modern

[2021-03-16 13:54] dianamartin opened #5499 "Meeting with Jacque from PWD about Modern Pages migration"
Scheduled for 3/16 to chat

[2021-03-16 13:56] dianamartin commented on #5498
Had impromptu call on 3/11 after asking Philip C. about who their contact was.

[2021-03-16 13:56] #5498 closed

[2021-03-16 13:57] amenity commented on #5465
Per discussion in Slack, we likely don’t need a meeting. @zappfy, will these all be staff sourced taxonomies? Assuming we can start out with whatever is in Access, can you pull those lists and attach here as CSVs?

[2021-03-16 14:29] dianamartin commented on #5499
# Notes

History -
Jacque asked if I knew if our SharePoint site collection was a Publish site?
- We checked settings and it looks like it's activated

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/2e2f3dd9-0972-4e25-8d6f-eda15fa8487e)
- This could pose a problem because of what she's experienced.

Jacque found out that the PWD site collection had a classic publishing

[2021-03-16 14:29] #5299 closed

[2021-03-16 14:29] #5301 closed

[2021-03-16 14:34] #5499 closed

[2021-03-16 15:00] jaime-mckeown commented on #5490
Accounts created, waiting for his Employee number.

[2021-03-16 15:06] moorerst commented on #5272
distributed Robin User Testing results to stakeholders 3/15
https://docs.google.com/document/d/1ZoQNS-8k9CVHak-baaN1mTvaIAUJMM5Sm1dhemyRy_4/edit#heading=h.rqimlh3z59

Will follow up with a technical document addressing some comments from the survey and other questions:
How to cancel a reserved space?
Outstanding questions:
Will we assign employees to their desk which will result in them getting a

[2021-03-16 15:08] johnclary opened #5500 "Meet with AMD to discuss new radar detector data"
Lance, Allyson, Brian C, Joshil, John C

### Objective

From Lance: Two main topics we’d like to discuss:

- Radar Data
- Procurement will begin soon on a lot of new radar devices (Econolite AccuScan, I think)
- Need to begin investigation on how to acquire data from the devices and publish in Open Data Portal
- Gridsmart
- Current structure in 15 min bins makes it very bulky. Is there any way to

[2021-03-16 15:10] johnclary commented on #5500
Notes from Allyson:

### Gridsmart current data feed

Size of datafeed is so large it limits automatic refresh with Power BI
Bin size large factor?
Q: Is there a way to bin data differently
John: Yes, can bin differently. Will investigate
Ask Kenneth for level of effort – LDB to outline specific dataset and reach out to Kenneth
Incld. Bin size, excluded locations
John: Alternate – can create query

[2021-03-16 15:10] #5500 closed

[2021-03-16 15:13] jaime-mckeown commented on #2057
Sent Paloma another reminder about getting examples where they have had problems with ROW Permits where the ROW was vacated. Jacquie would like to be able to see if there are problems with their processes.

[2021-03-16 15:24] amenity commented on #5491
Message in to Billy and Roman. Thanks for the quick work, @dianamartin.

[2021-03-16 15:30] moorerst commented on #5392
For my understanding How does the CSR to Knack integration work/who is involved:
311 - will publish CSR's to ATD based on SR Request Type
CTM/ESB/Omar - gets some specific Knack information, does some configuration, pushes 311 SR's and Flex Notes to Knack

Diana spoke with Bill S about our interest in integrating new SR types into Knack for Dispatch.
He indicated they were very busy right now with

[2021-03-16 15:33] moorerst opened #5501 "Plan Dispatch Tracking Soft Launch"
Plan and Schedule soft launch using the test system

[2021-03-16 15:33] johnclary commented on #5491
@dianamartin i believe we want separate rules here for DOSAs and time logs.

#### Rule 1
If Count of DOSAS is lower than 1: show error about DOSA

#### Rule 2
If Count Time Logs is lower than 1: show error about time logs

As you currently have it, if the user has a time log > 1 and DOSA < 1 they will be able to submit.

[2021-03-16 15:34] johnclary commented on #5491
Or, in a single rule:

If Count Dosas **is not** > 0 and Count time logs **is not** > 0: show error about DOSAs and time logs.

[2021-03-16 15:38] amenity commented on #5486
Spoke with Christina to assess urgency:

It seems like this issue is only happening when Requesters don't submit plans right away!

[2021-03-16 15:43] sergiogcx commented on #5454
Done, closing!

[2021-03-16 15:43] #5454 closed

[2021-03-16 15:48] dianamartin commented on #5491
@johnclary I'll update the form submit rule then

[2021-03-16 15:52] dianamartin commented on #5491
@johnclary Had to do the combined rule bc the submit rules limited me from adding more conditional type rules on the page, it's weird.

[2021-03-16 15:55] moorerst commented on #5475
Per John Diana just walked me through formstack. we’re both feeling good about that being the solution for RPP petitions. I think Stephanie that y’all can proceed to kick-off this project and propose Formstack as the solution.
my only ask is that you keep this strictly to the petition intake. there should not be any Knack building required

[2021-03-16 16:34] jaime-mckeown commented on #5459
Sent Jacquie the Spreadsheet and exported datasets that were sent to Google for the PIR we were discussing.

[2021-03-16 16:49] jaime-mckeown commented on #5459
Tested the Attribute Rule for assigning Unique IDs based on a database sequence. When a line is split, the Unique ID remains on one of the segments, so it is not lost. Let Jacquie know since they are still using a custom toolbar for assigning Unique IDs.

[2021-03-16 16:49] #5459 closed

[2021-03-16 17:36] #5456 closed

[2021-03-16 18:06] jaime-mckeown commented on #5497
- Her account privileges were changed.
- Added her to the Collaboration Group.

[2021-03-16 18:15] jaime-mckeown commented on #5497
She still can't edit the Story Map, it is owned by another user. I asked her to ask Jacob to share the Story Map in the StoryMaps Input Collaboration Group as all users should be able to edit all items that are located within this group.

[2021-03-16 18:18] jaime-mckeown opened #5502 "Configure Tablet"
Scott gave me an ATD Tablet so I can better support our users for ArcGIS Collector.

AirWatch Configuration: G:\ATD\ATD_GIS\01_ADMIN\ADMIN_Access\AirWatch_configuration
Go to the section of the work document - airwatch enrollment
QR codes folder has all the codes for various divisions

[2021-03-16 18:18] johnclary commented on #5491
weird indeed. thanks Diana!

[2021-03-16 18:20] jaime-mckeown commented on #5502
The power cord I received does not fit this tablet. Need to get a new one from Scott next week after he returns to work before I can complete this task.

[2021-03-16 18:21] johnclary commented on #1728
I picked this up this week after Jen and Peggy urged me to get this addressed ASAP. I have this mocked up in the `31 DEC 2020` test environment (implemented with custom JS), and sent this to Billy, Jen, and Brian VDW:

Hi all—At Jen's request, I've worked on an update to the Data Tracker work orders that will enforce additional data quality rules on the Time Logs.

<img width="792" alt="Screen Sho

[2021-03-16 18:29] alan-deanda commented on #5318
Need to add `PROJECT_EXTENT_ID` field and values

[2021-03-16 18:43] alan-deanda commented on #5329
While Crowdsource Reporter works well to collect data and add maintenance records to new and existing bike parking assets, it comes with some editing limitations. Because the app was designed for many different people submit reports, editing of the report itself is limited to your own submissions. This locks out the existing bike parking data from being edited, which is a crucial feature for the t

[2021-03-16 18:43] #5329 closed

[2021-03-16 18:44] alan-deanda commented on #5461
Removing estimate and closing. Crowdsource Reporter is not a good option for bike parking mapping, as explained in issue #5329

[2021-03-16 18:44] #5461 closed

[2021-03-16 18:46] alan-deanda opened #5503 "Create web app for collecting and editing bike parking data"
As stated in #5329 , Crowdsource Reporter won't solve all of our bike parking mapping issues, and would present new barriers. Creating a browser-accessible web app that would draw the data with the correct symbology (Type and Status), use templates to create new features, and access the related table for maintenance is the next step.

[2021-03-16 18:51] alan-deanda opened #5504 "Re-design legend in Online Bike Map"
The legend in the Online Bike Map needs to be updated with the new symbols created to make the map more colorblind-friendly.

[2021-03-16 19:01] johnclary opened #5505 "Enhancement: Add "total hours worked" calculation field to work orders"
As a manager, I need to be able to calculate the total # of hours worked on a work order so that I can estimate total costs and process reimbursements accordingly.

The Data Tracker should automatically calculate the total hours worked on a given work order based on the sum of the time logs associated with it.

This request came from Peggy/Jen as we struggled to report hours worked during the wint

[2021-03-16 19:07] johnclary commented on #5505
I have this mocked up in the [31 DEC test env](https://builder.knack.com/atd/test-austin-transportation-data-tracker-31-dec-2020).

#### `work_order_signas_time_logs` object
- Add an **Hours Worked** calculation field, something like:
`({start_time}-{end_time})/3600000`
- Add a **Count of Technicians** count field
- Add a **Total Hours Worked** calculation field: **Hours Worked** x **Count of Tech

[2021-03-16 19:15] johnclary commented on #5505
@dianamartin earmarking this for you but we can assign to someone else. let's discuss in grooming. cc @amenity

[2021-03-16 19:36] moorerst commented on #5475
canceled meeting
kick off meeting with stakeholders scheduled 3/24

[2021-03-16 19:36] #5475 closed

[2021-03-16 19:54] amenity commented on #5496
@sergiogcx - this wasn't ready 😅  That's why it was "In scoping" and unassigned. 💁

[2021-03-16 20:07] sergiogcx commented on #5496
@amenity ah my bad 😅 , feel free to add changes on top of the list :) These are easy fixes and I don't mind coming back later

[2021-03-16 20:16] Nadin-Nader commented on #5389
@TracyLinder spoke to Robert and he shared with me his results after researching the problem:

He created a TASK for it (**SCTASK0126071**) and put it on TANGO's Board

[2021-03-16 20:25] amenity commented on #5496
@sergiogcx it was just those two re: file size — h/t @johnclary... Now ready to go

[2021-03-16 20:34] TracyLinder opened #5506 "Enhancement: Email Body Updates for TCI Folder Reports"
_Received by email from Ryan M:_

_I'd like to change the default text when an investigation report is sent by email. Currently it is 'Thank you for using our service' which isn't quite the right tone. What is the amount of effort to change this?_

_"Please review the attached investigation report for information on your project. Any listed deficiencies must be corrected. If you have questions, pl

[2021-03-16 20:42] TracyLinder commented on #5506
**I'm emailing w/ Ryan to further clarify this request**

- To Ryan: There are 2 TCI inspection emails; the other is attached. Should we use the same language on both of the reports?

[2021-03-16 20:44] johnclary commented on #5505
ah—realizing now we need to think about how best to calculate this. there are actually for timestamps on the timelog:
- issue received
- arrive at worksite
- leave worksite
- return to shop

and they're not all consistently used. we've got to talk to Jen/Brian VDW/Billy about this.

[2021-03-16 20:46] mddilley commented on #5428
I made some improvements to the way features in a project feature collection are checked for presence/absence in https://github.com/cityofaustin/atd-moped/pull/236. The update only checks the ID field of the feature and no other properties (just like the check for the `project_extent_ids`). I believe that some small differences in the feature metadata captured from the CTN vector tile layer explai

[2021-03-16 21:28] dianamartin commented on #5457
Rescheduled Friday meeting with Christina to 3/16. Christina is good with all the email notifications. She'd like to update the GitHub help guides before switching to Joe Mike and Tooran's email.
- Will switch to Christina's email so she can test and create help guide material.

[2021-03-16 21:31] SurbhiBakshi commented on #5047
Have scheduled time on Tuesday - March 23rd to record the error Ramon sees when signing in with non CoA credentials. Will also see if it helps to sign in to the Test instance that has been moved to the New Builder.

[2021-03-16 21:53] #5405 closed

[2021-03-16 21:55] TracyLinder opened #5507 "AMANDA Data Request: ROW Permitting Fees"
**Requested via email by Ryan M. on 3/16/21**
_Related to #5405_

Group by each fiscal year from FY18 to current. (4 Groups)
--Total # Invoices Paid
--Total # Invoices
--Total value paid

[2021-03-16 21:57] TracyLinder commented on #5507
### SQL USED

Select count(ab.billnumber) as No_Invoices_FY18, sum(ab.totalpaid) as Total_Paid, ab.paidinfullflag
From folder f, accountbill ab
Where f.foldertype in ('EX', 'RW', 'DS', 'PSM')
And ab.dategenerated >= TO_DATE( '01 OCT 2017', 'DD MON YYYY' )
And ab.dategenerated <= TO_DATE( '30 SEP 2018', 'DD MON YYYY' )
And ab.paidinfullflag not in ('C')
And f.folderrsn = ab.folderrsn
Group by ab.pa

[2021-03-16 21:57] TracyLinder commented on #5507
### Data Provided:

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/f4495623-9fe1-4b6d-819a-e7769f2aaa43)

[2021-03-16 21:57] #5507 closed

[2021-03-16 22:16] alan-deanda commented on #5107
The map is live here: https://arcg.is/KTevG0

[2021-03-16 22:16] #5107 closed

[2021-03-16 22:16] alan-deanda commented on #5504
The map is live here: https://arcg.is/KTevG0

[2021-03-16 22:16] #5504 closed

[2021-03-16 22:17] alan-deanda commented on #5100
The data is live in MAINT, DM, AGOL, SOCRATA and the online bike map here: https://arcg.is/KTevG0

I'll notify ATSD staff of the updates, and keep this issue in Review/QA until I hear back.

[2021-03-17 01:35] TracyLinder opened #5508 "Update ROW Permit Data Markup Spreadsheet"
- Spreadsheet is [here](https://drive.google.com/file/d/1CXcDJY8sVVACbMwKfzncFdzQjnwQy2Yq/view?usp=sharing)
    - [Folder](https://drive.google.com/drive/u/2/folders/1wfqbJh9zsnFy8s7qWgh1RE_UraSBifb4)
- [ ] Create new data sheet specifically for Franchised Utilities related data
- [ ] Email to Ryan, CC @johnclary when done.

[2021-03-17 14:20] moorerst opened #5509 "Test how to cancel a space in Robin"
During user testing there were comments on how to cancel a space after it has been reserved.
Will need to test.

[2021-03-17 14:26] moorerst opened #5510 "Feature: Robin Health Check Survey"
In Robin if the Health Check survey is enabled if a person is assigned to the specific desk they will receive the Health Check survey daily.

ex. Gilda P
- Is this a feature we want to enable?
- Do we want to remove the desk assignments so they are not emailed daily with Health Check?
- Only get the Health Check survey if you are reserving a desk?

[2021-03-17 14:27] #5272 closed

[2021-03-17 14:30] moorerst commented on #5469
closing issue - RPP V2 intake meeting has been scheduled

[2021-03-17 14:30] #5469 closed

[2021-03-17 14:33] moorerst opened #5511 "Meeting: RPP V2 Intake meeting"
Meeting scheduled 3/26
Will add agenda

Attendees:
- Steve, Jacob, Ryan R., John, Chrispin, Stephanie, Diana

[2021-03-17 15:01] jaime-mckeown opened #5512 "Pro Migration Weekly Meeting - 3/17/21"

[2021-03-17 15:24] #5404 closed

[2021-03-17 15:24] #5416 closed

[2021-03-17 15:26] SurbhiBakshi commented on #5433
Tried the application both on my laptop and my phone (officer workflow) - worked smoothly.

[2021-03-17 15:43] TracyLinder opened #5513 "LaunchIT COA Master Contract"

[2021-03-17 15:43] dianamartin commented on #5479
# AMD Signal Inspection Punch list on FormStack GO app
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b7350a73-6806-43a0-8a71-360258d10d62)
## Could take a photo or select photo from gallery
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/1e09984d-8946-44cd-9d07-e82b8ac0fc30)
## Still had to scroll over to mark the other column selection
![ima

[2021-03-17 15:45] dianamartin commented on #5479
@moorerst I've documented a lot of information about FormStack here. I added more photos from the FormStack GO app. Probably not going to use it for RPP, but thought you should know.

[2021-03-17 16:08] TracyLinder commented on #4945
@Nadin-Nader will begin researching possible AMANDA solutions. Let's aim to discuss research findings during the sprint that begins 4/7/21.

[2021-03-17 16:50] TracyLinder commented on #4469
@Nadin-Nader please finish the spreadsheet & add it to the description.
[Subcode.xlsx](https://github.com/cityofaustin/atd-data-tech/files/6158140/Subcode.xlsx)

[2021-03-17 16:57] TracyLinder opened #5514 "V7 - Manually Updating Folder (NN)"
### As an ATD AMANDA power user, I need to be able to manually update the folder status for various reasons.
- Trello Card [link](https://trello.com/c/z0727dlh/121-atd-cant-manually-update-process-status)

- Who in ROW should have permissions to update folder status manually?
- [x] @Nadin-Nader please meet w/ Izzy to have her test updating folder status & gather feedback from her.

[2021-03-17 17:48] johnclary opened #5515 "Add Chia and Andrew to austinmobility.io"
Add Chia and Andrew to our team's [About](https://www.austinmobility.io/about) page.

[Source code](https://github.com/cityofaustin/atd-product/blob/main/src/views/aboutView/AboutView.jsx)

[2021-03-17 17:51] #5395 closed

[2021-03-17 17:51] johnclary commented on #5515
Might as well assign this one to @chiaberry :)

@amenity would post Andrew's photo here? CC @mateoclarke

[2021-03-17 18:05] chiaberry commented on #5515
What is Andrew's title? actually what is my title? and does it matter where I insert the photos? Could I just put us at the end of the list?

[2021-03-17 18:12] SurbhiBakshi commented on #5433
- [ ] Check submit rules

[2021-03-17 18:32] SurbhiBakshi commented on #4732
Christina messaged me last week to say she and Lauren were going to test it. I have not heard back. I Teams messaged her today to see if there were any updates, but have not heard back.

[2021-03-17 18:47] dianamartin commented on #5509
# Testing Notes
- I tested reserving a space in the Robin mobile app for a conference room at Cameron Rd.
- I previously downloaded Robin, I had not connected it to my Outlook.

## Test 1
- I booked a room at Cameron for 12:50 pm, it emailed me an outlook meeting invite
- I went to Schedule on the mobile app and found the meeting event and clicked "unconfirm" - _not sure what that did_

Stephanie

[2021-03-17 18:52] dianamartin commented on #5494
Checked external sharing status
- `Approved and Sent to Help Desk`
- 3/15/2021 1:47 PM

[2021-03-17 18:52] dianamartin commented on #5087
was reschedule to 3/22

[2021-03-17 18:53] ChrispinP opened #5516 "[TIA] Conditionally Hide/Show Fields based on Improvement selection"
## Need to confirm w/ Stakeholders if this is MVP

Be able to conditionally hide/show fields based on which Improvement is selected on the Add Mitigation Improvement form (Mitigation Details page).

Add Mitigation Improvement modal page (scene_232)
Add Mitigation Improvement form (view_628)

_Current selections:_

**Improvement**  (field_495)

Construct Turn Lane
Construct New Road
Install Traffic

[2021-03-17 19:00] dianamartin commented on #5291
# Meeting Notes
Perhaps we can encourage the users and the field staff to allow users to create WOs for the signal technicians
In SMB, the technicians only create WOs when it's a `Maintenance` category work order they they spot in the field

We can have the DSDD workflow do this
- So that TED engineering associates can create WOs for signal technicians when maintenance is needed on a DSDD device (

[2021-03-17 19:02] dianamartin commented on #5289
@amenity I think we need to set-up a meeting with Max and Billy before I can implement the WO association to the DSDD asset. Read more here #5291

[2021-03-17 19:08] dianamartin commented on #5167
Was able to sync with Bill on 3/12. We found out I was in a different group where I could not see the ATD Parking Enterprise SR types. He temporarily changed my group and I was able to download the SR type reports I needed. I also requested the 311 emails that Parking Dispatch receives in case I ever have to build them in the Parking Enterprise Reporting Portal.

[2021-03-17 19:08] #5167 closed

[2021-03-17 19:09] dianamartin commented on #2307
Moving to backlog since we haven't gotten consensus from the internal work groups for SMB

[2021-03-17 19:19] #5291 closed

[2021-03-17 19:48] zappfyllc opened #5517 "Projects page 2.0 | Filter all projects by project team members"
As a project manager, I want to filter by project team members so that I can view all projects associated with that team member.

**In-scope:**
- Adding a team column with the staff member name (project role) e.g. Amenity Applewhite (Product Manager)
- Filtering by team (do not add to search)

**Out-of-scope:**
- Filtering by project role

**Additional notes:**
If it's easier, we can just start ou

[2021-03-17 19:51] zappfyllc commented on #5482
@sergiogcx with phase/team please consider if we should be making any data model changes for the many-to-many relationships in project phase and project team. Are there any values that should be auto-generated (e.g. which phase is active, a list of all active users in a project team) by the database and not the UI? Any benefits there?

[2021-03-17 20:12] amenity commented on #5383
@tillyw via Slack on 3/11
Just a heads up this issue might need to be broken up into three!

Conditionally rendering the eCapris ID and using a switch for capital funding are a little more complicated than I initially thought because they will involve making changes to the DataTable component, which isn't really set up for such specific behavior

I have everything done except for that and the penc

[2021-03-17 20:16] johnclary opened #5518 "Project Summary: Change default component for boolean fields to switches"
![Screen Shot 2021-03-03 at 11 57 18 PM](https://user-images.githubusercontent.com/1463708/109919722-c3584e80-7c7e-11eb-904f-1016b630c3bb.png)

- [x] Replace Yes/No dropdown for "Capital funding" with switch used when creating a new project.

![Screen Shot 2021-03-04 at 12 12 33 AM](https://user-images.githubusercontent.com/1463708/109919602-8429fd80-7c7e-11eb-87f4-7997d9389190.png)

- [x] Hide "e

[2021-03-17 20:17] johnclary commented on #5383
- [Issue for Capital Funding enhancements](https://github.com/cityofaustin/atd-data-tech/issues/5518)

[2021-03-17 20:23] johnclary opened #5519 "Project Summary: Implement style refinements to the pencil"
![Screen Shot 2021-03-03 at 11 57 18 PM](https://user-images.githubusercontent.com/1463708/109919722-c3584e80-7c7e-11eb-904f-1016b630c3bb.png)

On the project summary page:
- [ ] ~Show the edit pencil only on hover (like the "Project name" above).~ Let's hold off on this; was helpful for peeps during user testing
- [ ] Additionally, allow user to edit field : (Minnie Mouse) glove hand on hover, cl

[2021-03-17 20:36] atdservicebot opened #5520 "Develop Socrata Query for Analyzing the Gridsmart Data"
Other / Not Sure

Currently we are using Power BI (with Surbhi's help) to analyze the Gridsmart data in Socrata via an OData connection. The Gridsmart data is binned in 15 min categories and despite our best efforts in PowerQuery to limit our data size, it is large enough that automated refreshes fail.

Can you help us develop a Socrata Query (suggested by John Clary) to help us limit the data tha

[2021-03-17 20:46] dianamartin commented on #5444
I did not create a test environment for this application because of these factors:

- This application doesn't have big buttons, custom anything.
- Just tables that link to each other.
- The only external link is to an AGOL map that does open when each link was clicked in the app. It's linked 3 times.
- The front end consists of 3 simple pages

The front end looked exactly like it did when I turne

[2021-03-17 20:46] #5444 closed

[2021-03-17 20:48] johnclary commented on #5519
@amenity did i interpret this correctly?

[2021-03-17 20:54] dianamartin commented on #1668
Surbhi noticed this issue again when Andrew S. was logging into DTS Portal. The email template that gets sent out is old and outdated.

[2021-03-17 21:07] amenity commented on #5383
saeklntaewrnt

[2021-03-17 21:18] jaime-mckeown commented on #5497
Once the Story Map was shared with the Collaboration Group Emily could edit.

[2021-03-17 21:19] jaime-mckeown commented on #5497
She had another problem today with accesses another Story Map. It turns out that she just needed to open it and the edit options became available. Thank you @alan-deanda for your assistance!

[2021-03-17 21:20] tillyw commented on #4867
Suggested language for deleting project modal: Deleting this project will make it inaccessible to Moped users and only available to administrators. Users may request a deleted project be restored by [opening a support ticket](https://atd.knack.com/dts#new-service-request/).

[2021-03-17 21:20] #5497 closed

[2021-03-17 21:21] jaime-mckeown opened #5521 "AGOL Ownership / Sharing for Shared Mobility"
Francesco created a Dashboard and Experience for Shared Mobility. They want people without AGOL accounts to be able to view the Experience.

[2021-03-17 21:24] johnclary opened #5522 "ADD "Vision Zeron in Action" and "Moped" to service request intake form"
Our [service request form](https://atd.knack.com/dts#new-service-request/) needs to be updated to include Vision Zero in Action and Moped as "app" choices.

<img width="567" alt="Screen Shot 2021-03-17 at 4 21 49 PM" src="https://user-images.githubusercontent.com/14793120/111540241-e550d700-873c-11eb-9cf0-59a480a5e44a.png">

@atdservicebot will need to be updated to label these apps correctly.  [H

[2021-03-17 21:25] jaime-mckeown commented on #5521
- All content located in Francesco's Dashboard folder was changed to ATD Publisher and save in the PRK Shared Mobility Folder (24 items were moved), then content was shared publicly. Sent Francesco a link to the Experience to share with Joseph.

[2021-03-17 21:25] jaime-mckeown commented on #5521
I walked Andrew through the process, he made all the changes.

[2021-03-17 21:25] #5521 closed

[2021-03-17 21:30] #5460 closed

[2021-03-17 21:32] jaime-mckeown opened #5523 "ATD GIS Introduction"
Spend time with Andrew giving him an overview of the DTS Geospatial Team.
Should talk about the following:
- Get to know him, find out more about his background
- GIS SPOC Duties
- SDE
- AGOL
- Geodatapusher
- Data Inventory
- ATD_GIS g drive directory structure
- Pro Migration
- GIMOB
- Service-Now Portal
- ATD GIS Team
- GIS Community
- help get setup with e-Access
- send link to eCapris, he nee

[2021-03-17 21:41] amenity commented on #5383
@tillyw, breaking this up. @johnclary got ya
#5518
#5519

[2021-03-17 21:56] dianamartin commented on #5479
Going to request FormStack license through CTM to experience the process first hand and then document so that I can share with users interested in getting the FormStack license for themselves.

[2021-03-17 21:59] dianamartin commented on #5392
Anything else we need to add to this before closing?

[2021-03-17 22:00] dianamartin commented on #5420
@moorerst Should we include this (our questions) in the status email?

[2021-03-17 22:01] dianamartin commented on #5239
Making a new Test environment for AMD Data Tracker

[2021-03-17 22:33] tillyw commented on #5383
Thanks @amenity and @johnclary! I'm going to remove the requirements from this issue that are covered in the other two and submit a PR to close this one out.

[2021-03-17 22:46] atdservicebot opened #5524 "Testing VZA issue :)"
Vision Zero in Action

Testing VZA issue :)

I love you DTS

pizza.pizza

John C.

Request ID: DTS21-101750

[2021-03-17 22:46] amenity commented on #5519
@tillyw - add an estimate to this, plz 👕 ?

[2021-03-17 22:46] #5524 closed

[2021-03-17 22:46] johnclary commented on #5524
@amenity @SurbhiBakshi

[2021-03-17 22:49] amenity commented on #5383
@tillyw - perfect, was just about to do that. Thanks!

[2021-03-17 22:59] atdservicebot opened #5525 "Testing Moped Issues"
Moped

Testing Moped Issues

I love you service bot

mopeds.vroom

Internet Browser: Chrome

Amenity A.

Request ID: DTS21-101755

[2021-03-17 23:00] johnclary commented on #5525
See #5522

[2021-03-17 23:00] #5525 closed

[2021-03-17 23:02] johnclary commented on #5522
@amenity i tried and failed to track down a dupe issue for this. we're all set.

if you want to pre-fill a Moped service request, [here](https://support.knack.com/hc/en-us/articles/115000997068-How-to-Use-URL-Variables-to-Pre-Populate-a-Form) are the docs

And [here's](https://knack-explorer.austinmobility.io/595d00ebd315cc4cb98daff4/objects/object_24) where a dev can grab the field IDs.

[2021-03-17 23:03] johnclary commented on #5525
@amenity

[2021-03-17 23:08] ChrispinP commented on #2876
I was able to spend some time on this and I am able to successfully manipulate knack modal windows.

Since Knack defines the close button already we have to override the styling. Here is the CSS:

[code]
**In Action:**
![image](https://user-images.githubusercontent.com/67915167/111549659-8eea9500-874a-11eb-9a7d-a6c521ad20f4.png)
![image](https://user-images.githubusercontent.com/67915167/111549699

[2021-03-17 23:34] #5515 closed

[2021-03-18 02:31] SurbhiBakshi opened #5526 "Research and document - Socrata API in Power BI"
Build a report using a Socrata API as a data source and figure out scheduled updates.

[2021-03-18 04:18] johnclary commented on #5520
[Here](https://data.austintexas.gov/Transportation-and-Mobility/Camera-Traffic-Counts/sh59-i6y9/data)'s the GRIDSMART open dataset.

It's not possible to use SQL queries against the OData endpoint, but we should be able to use the native Socrata API [$query](https://dev.socrata.com/docs/queries/query.html) to write a query which aggregates this data into 1-hour bins.

@SurbhiBakshi did some prelim

[2021-03-18 04:20] johnclary commented on #5520
@mateoclarke @amenity flagging this for the next sprint planning

[2021-03-18 04:44] johnclary commented on #5520
I asked Ken @ CTR if he could work on this. I believe we're going to have a meeting to discuss. Lance is in the loop.

[2021-03-18 06:19] amenity commented on #4981
@johnclary doc is ready for review. And here are some pix:
![Bike-to-Cameron](https://user-images.githubusercontent.com/1463708/111581208-d727a880-8786-11eb-9827-8fc47e1aadb3.JPG)
<img width="1440" alt="VZE" src="https://user-images.githubusercontent.com/1463708/111581217-d8f16c00-8786-11eb-9dc8-0b4ce7a152ac.png">
<img width="1439" alt="VZV" src="https://user-images.githubusercontent.com/1463708/1

[2021-03-18 14:01] SurbhiBakshi commented on #5520
@johnclary - yes will continue looking into this issue, I think documenting what I find out will help future reporting needs.

[2021-03-18 14:08] SurbhiBakshi commented on #4732
Christina replied to my message - she is meeting with Susanne and Lauren and will meet with me next week to give feedback.

[2021-03-18 14:28] dianamartin commented on #5479
Send in request through `CTM Form Guidance Request`, will turn in CTM ticket

[2021-03-18 14:38] dianamartin commented on #4915
@jaime-mckeown I moved the following layers to ATD_Publisher

- `COA Fuel Center Locations` - in 0_Departmental
- `COA Fuel Locations`- in 0_Departmental
- `Banner Notes` - in SM_BANNERS
- `Banner Program - web applications`- in SM_BANNERS
- `Banner Program Analysis map - AE Utility Poles`- in SM_BANNERS
- `Overhead Sign Maintenance Tracking Web Map` - in SM_Signs_Markings folder
- `Overhead_Sign_

[2021-03-18 14:38] #4915 closed

[2021-03-18 14:40] dianamartin commented on #4267
Emailed Steve this morning (3/18) to remind him that I send him and email last Thursday and I had a clarification question

[2021-03-18 15:00] SurbhiBakshi commented on #5002
Need to update Wave 3 Story Page content with Caitlin and Liane's contributions based on ACM feedback via OPM.

[2021-03-18 15:01] SurbhiBakshi commented on #4998
updated Wave 3 Story Page content with contributions from Caitlin and Liane based on feedback from ACM via OPM.

[2021-03-18 15:02] moorerst commented on #5509
I tested from the desktop
I reserved a space at Cameron rd, noticed if I reserve the space within an hour of the current time the option was to Book and Check In
If I reserve the space pass an hour from the current time the option is Book Event
I booked the event
It appeared on my calendar from Schedule within Robin
It also appeared on my Outlook calendar
To cancel I opened the event from the Robi

[2021-03-18 15:04] moorerst commented on #5392
closing issue

[2021-03-18 15:04] #5392 closed

[2021-03-18 15:17] jaime-mckeown opened #5527 "Helping finding GIS layers"
Max is working on a project and needs help finding some GIS layers.

[2021-03-18 15:17] #5496 closed

[2021-03-18 15:18] jaime-mckeown commented on #5527
Directed Max to locations where GIS data was located.

[2021-03-18 15:18] #5527 closed

[2021-03-18 15:32] ChrispinP commented on #5359
All Reports that pull Permit information, specifically the Active Permits and Permits Issued reports for all zones have been updated to be grouped by the Number of Permits field instead of the record count now. These charts should be accurate counts now.

Complete

[2021-03-18 15:32] #5359 closed

[2021-03-18 15:40] moorerst commented on #5509
Per Robin Support The sync between Robin and Office 365 is a two-way bidirectional sync. However, we sync directly with the Office 365 room calendar rather than an individual user's calendar. What should happen is when you cancel an event that should be removed from the Office 365 room calendar, and then that should sync the cancelation to Robin. I suspect when you are canceling events those event

[2021-03-18 15:47] dianamartin commented on #5431
- Logo doesn't come in on the live app, but that is a known issue when you make a copy of an app

[2021-03-18 15:50] dianamartin commented on #5431
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/6eb5f276-21bf-43a0-9c0b-fc6e138bbcd9)

[2021-03-18 16:13] SurbhiBakshi commented on #4408
Here is a list of reports that came out of a meeting last year -

 Contacts per hour
 Average contacts per hour by a given officer
 Breakdowns by citation type
 Average contacts per hour at a given location
 Total hours scheduled per location
 Total contacts made per location
 Average number of shifts per month
 Number of person shifts by month
 Number of unfilled person shifts
 Total hours worked

[2021-03-18 16:27] dianamartin commented on #5431
Testing Signs Work Order
NEED TO BE ISSUED- was logged in as myself
- Prod: Location map showed up fine, could find a location
- Test: Location map DOES NOT SHOW UP, blank white space before the Time Log table

NEED TO BE ISSUED- was logged in as Test-Viewer
DETAILS PAGE
- Prod: Page looked identical, map showed up fine
- Test: Page looked identical, map showed up fine

OPENED PDF - the PDF tool b

[2021-03-18 16:27] Nadin-Nader commented on #5514
Sent and email to Izzy asking her to verify that she is able to manually update the Folder status on a folder without issue. I also asked her to verify if her permissions were  correct and to give her feedback on V7.
I also scheduled a meeting for today March18, 2021 @3pm to go over this.

[2021-03-18 16:47] andrewshensky opened #5528 "AGOL support for themes"
Emily in PIO is trying to apply theme to created StoryMap.

[2021-03-18 16:48] TracyLinder commented on #4989
Meeting Notes

Record pre-development meeting notes
There are fees for this service on the fee schedule, but we're not charging them in AMANDA.
    - Not charging the fee because there's nowhere in AMANDA to charge the fee
    - KNACK & FEES? Chrispin thinks we might have payment features to look at around July 2021
    - Tracy: Suggesting to use the AMANDA GF folder for payment features. Need fol

[2021-03-18 16:51] TracyLinder commented on #4989
![image](https://user-images.githubusercontent.com/49930868/111664859-36fe6d80-87e0-11eb-94ee-60cb9e1dfda4.png)

[2021-03-18 16:57] jaime-mckeown commented on #5523
Need to update the onboarding Wiki with CTM Group Names and what is submitted to each.

[2021-03-18 17:00] jaime-mckeown opened #5529 "Request GIS TRAIN Course - Dan B."
Dan requested to take the Going Pro class on 4/15 taught by TeachMeGIS.

[2021-03-18 17:01] dianamartin commented on #5431
# SMB CUSTOM STUFF
- New Work Order, Pulling user's division into the "Requester" field automatically (this PASSES, STILL WORKING)
- Issued Work Order, Location map showing up, Adding a location (this PASSES, STILL WORKING)
- Location Details, big back button on the bottom of the page to help user not have to scroll all the way up to get back to the previous screen (this PASSES, STILL WORKING)

[2021-03-18 17:01] johnclary commented on #5520
@SurbhiBakshi here's a query you can use, which should be fairly close to what we settle on:

[code]

Email to AMD and CTR:

[code]

[2021-03-18 17:02] jaime-mckeown commented on #5529
Submitted CTM Request to enroll Dan in the GIS Class listed above.

[2021-03-18 17:02] #5529 closed

[2021-03-18 17:34] ChrispinP commented on #5018
Updated Payment Type Filters
Fixed Check display
Removed Unnecessary fields
Added to Lookup Menu so Finance team can access
Added Date, Quarter, and Month filters

Transactions table update is now complete and ready for review.

[2021-03-18 17:53] dianamartin commented on #5509
@moorerst I added the method that Dan showed on the video he shared with me

## Robin  - Best Practice to cancel an event on Robin mobile app
- Open Robin mobile app
- Under "Schedule" tab, click Event
- Click "Edit"
- Click "Delete" at the bottom
The Robin app will sync and communicate with the meeting room's resource calendar and "Cancel" or "Delete" the event
**DO NOT DELETE EVENT FROM YOUR OUT

[2021-03-18 18:18] amenity opened #5530 "Increase hyperlink accessibility"
There isn't enough contrast between the black body text and dark blue hyperlink color for links to be discoverable.

**Before**
<img width="685" alt="Screen Shot 2021-03-18 at 1 03 08 PM" src="https://user-images.githubusercontent.com/1463708/111675008-a4af9700-87ea-11eb-88c1-c7eb895c33d4.png">
[Webaim test: Fail](https://webaim.org/resources/linkcontrastchecker/?fcolor=212529&bcolor=FFFFFF&lcolor

[2021-03-18 18:21] SurbhiBakshi commented on #5520
@johnclary - the query worked and did not need any tweaking in Power BI.

[2021-03-18 18:23] TracyLinder commented on #5337
I re-opened this & put it in Review Q/A so I can do some UAT on it soon.

[2021-03-18 18:26] sergiogcx commented on #4867
There is a PR:
https://github.com/cityofaustin/atd-moped/pull/248

[2021-03-18 18:44] TracyLinder commented on #4989
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/1ffdac8c-ddc7-4e5c-8080-9ba6ade7dfeb)

[2021-03-18 18:52] TracyLinder commented on #3015
@ChrispinP

- [ ] Add search field: Case Type
- [ ] Results Header Format: [Project Name] | [Case ID]

[2021-03-18 19:01] TracyLinder commented on #4774
@TracyLinder create test data for Nathan prior to Monday's project meeting 3/22.

[2021-03-18 19:01] TracyLinder commented on #5472
Looks good. Closing.

[2021-03-18 19:01] #5472 closed

[2021-03-18 19:04] TracyLinder commented on #2732
Scheduled meeting w/ @ChrispinP on Friday @2:30pm for him to demo the memo for me. Yay!

[2021-03-18 19:05] TracyLinder commented on #4989
**Notes from Sync w/ Chrispin 3/18**
New Page: TIA Customer Portal
URL development-services#tia-portal-home/
- Page Menu
    - Home
        - TIA Customer Portal Home
    - Help
        - Help Guide

- Home Page Content: https://atd.knack.com/development-services#tia-portal/

[Project Name] | [Case ID]

[2021-03-18 19:08] TracyLinder opened #5531 "Enhancement: Allow Users to Create New Vision Team Values (Development Reviews)"
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/7675797f-f903-4f25-940b-f43d34802060)

[2021-03-18 19:11] TracyLinder opened #5532 "Remove Vison Team Column From Reviewer Comments Table (Dev Reviews, Details Page)"
### [View Development Review Details Page](https://atd.knack.com/development-services#development-reviews/view-development-review-details/5d925dcdd8686438e0e6f5b9/), Review Cycles Table

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/e13c0e1c-b544-4f9f-a15b-6a8f3f2c35af)

[2021-03-18 19:13] andrewshensky commented on #5528
Issue has been resolved.

1. CTM was able to create group shared to the public for approved themes.
2. Ownership of theme was transferred from user account to ATD_Admin and shared to approved themes group.
3. With ownership now under ATD_Admin them could now be published and applied to StoryMaps.

[2021-03-18 19:13] TracyLinder commented on #5532
@ChrispinP It looks like you already tried to make this change, but removed the wrong table. Add back the Reviewer column, and remove the Vision Team Column. See screenshot in description.

[2021-03-18 19:14] TracyLinder opened #5533 "TDS Portal Page Menu Updates"
![image](https://user-images.githubusercontent.com/49930868/111686178-c151cc00-87f6-11eb-8a2a-adc43f9d9f3c.png)
------

**Tab order, from left to right:**
1. Home
2. Reviewers
3. Development Reviews
4. TIA Reviews
5. TDA Reviews
6. Account Management
7. TIA Portal

**Tab Menu Options**
1. Home
➡ (None)
2. Reviewers
➡ Reviewer Dashboard
➡ Reviewer Help
3. Development Reviews
➡ (Same; No changes)
4.

[2021-03-18 19:17] jaime-mckeown opened #5534 "Question about sharing content with CPO in AGOL"
Frank asked how he can share AGOL Content with the CPO Office only. He couldn't find any Groups.

[2021-03-18 19:17] TracyLinder opened #5535 "New Page: TIA Customer Portal"
### New Page: TIA Customer Portal
_Home Page Content: https://atd.knack.com/development-services#tia-portal/_
_URL: development-services#tia-portal-home/_

**Page Menu:**
- Tab: Home
    - TIA Customer Portal Home
- Tab: Help
    - Help Guide

_Home Page Content: https://atd.knack.com/development-services#tia-portal/_

[2021-03-18 19:28] dianamartin commented on #2732
@TracyLinder Are you able to record it? I'm interested in seeing what it looks like

[2021-03-18 19:48] TracyLinder opened #5536 "TDS Portal Field Names Update"
### Area/Review Area/ Engineering Area: All should be named Review Area
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/e92425b3-3d80-41d5-b5bb-838bfdc2b540)
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/6d026fb9-2b12-4db9-a145-e2e93db364c6)
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/9d0c2ef8-2da1-4417-9d47-789

[2021-03-18 19:51] TracyLinder opened #5537 "TDS Portal Home Page Updates"
### Update the TDS Portal [Home Page](https://atd.knack.com/development-services#home)

- [x] Remap the My Reviews button to link [here](https://atd.knack.com/development-services#reviewer-dashboard/)
- [x] Add Buttons: TIA Reviews, Pre-Assessment Reviews

[2021-03-18 19:55] dianamartin commented on #4907
# Detector Report Changes
## Signal Detector Status Count by Intersection
Absorb “UNKNOWN” into “Broken” and “NO DE-TECTION”, “VERIFICATION NEEDED”, “INACTIVE”, and “REMOVED” into “OK”, with “OK” and “BROKEN” being percentages of all signals “TURNED ON” (including PHBs/diamonds) signals. For example, any signal with a single broken or unknown detector is labelled as “BROKEN” for this metric but an

[2021-03-18 20:00] #5528 closed

[2021-03-18 20:02] ChrispinP commented on #4557
Found 2 Discrepancies in data for Applications 2021-2908(non-matching costs) and 2021-2883(missing costs). Will message Steve next week about these specific records.

[2021-03-18 20:02] TracyLinder opened #5538 "Feature: AMANDA GF for TDS Pre-Development Assessments"

[2021-03-18 20:03] andrewshensky opened #5539 "Capital Metro Data Update"
Update of Capital Metro data related to Routes, Stops, Service Areas

[2021-03-18 20:03] TracyLinder opened #5540 "Feature: KNACK TDS Pre-Development Assessments"
### As a TDS Reviewer, I need a feature or module that allows me to record pre-development meetings (Transportation Development Assessments (TDA)).**
- _**TDA:** A meeting that occurs between TDS staff & a development customer prior to a formal Site Plan submittal, where staff can provide informal consulting on the proposed development._

----
- [x] **Page/Object: Pre-Assessment Review Details**
_

[2021-03-18 20:05] andrewshensky opened #5541 "Capital Metro New Data Addition"
Add new data provided by Capital Metro related to Transit Hubs. Data will need to be added to Maint1 and DM_External.

[2021-03-18 20:07] jaime-mckeown commented on #5534
All CPO Groups and only shared to Group Members. Frank said that they needed to share to all of CPO, so I suggested he ask to be added to the Corridor Program Office Group.

[2021-03-18 20:08] #5534 closed

[2021-03-18 20:13] TracyLinder commented on #5538
Ready for the backlog, but I'd like to get Sree's feedback on the solution before we begin development. Are there other solutions we should be considering?

[2021-03-18 20:16] alan-deanda commented on #5318
Republished with `PROJECT_EXTENT_ID` field [here](https://austin.maps.arcgis.com/home/item.html?id=7b895583e6df45c88463a5c1da50c84e).

[2021-03-18 20:48] amenity opened #5542 "Style tweaks to navbar layout"
_Zero heuristic evidence to support this — I'm just always for aligning all the things!_ 📏 🤓

Let's make `.navbar` the same width as everything else and give it a lil' extra vertical breathing room while we're at it.

- [ ] Add `.navbar` to media queries so it gets that `max-width`
- [ ] Apply `margin: .5rem auto;` to `.navbar`

Before n' after:
![Screen Shot 2021-03-18 at 1 35 17 PM](https://user

[2021-03-18 20:49] amenity commented on #5542
Will leave this one to you to Icebox or Backlog, @johnclary

[2021-03-18 20:51] TracyLinder commented on #2732
@dianamartin For sure. I'll forward the invite also.

[2021-03-18 21:42] amenity opened #5543 "Configure activity feed timestamps to display to users in CDT"
All user-facing timestamps should display in CDT.

See [Slack convo](https://austininnovation.slack.com/archives/CNUEPKLB1/p1616103203036900) for examples.

This should be handled in the UI since we don't want to maintain original timestamps in the database.

[2021-03-18 21:43] sergiogcx commented on #5543
For reference, this is a test entry that happened at 4pm, yet it is shown to be at 9pm:

<img width="1498" alt="2021-03-18_16-39-52" src="https://user-images.githubusercontent.com/5282430/111701536-fe26be80-8808-11eb-8e66-d16fe918b81e.png">

[2021-03-18 21:48] amenity commented on #5543
I mean, if it’s happening in the UI it’s more elegant to detect the user’s own timezone… Initially I thought that was too big an ask but it occurs to me that’s probably an ultra-common use case and there might be utility already available in the React time library y'all are using.

[2021-03-18 21:50] dianamartin commented on #4907
Scheduled a meeting with Joshil on 3/23 to get clarity on detector reporting

[2021-03-18 21:51] dianamartin commented on #5288
Checking in with Max 3/18

[2021-03-18 22:13] dianamartin commented on #4267
- Received email from Steve with the 2 options on quotes.
- Emailed Ken to confirm which option we're going with so I can request a new quote from Steve.

Next Steps
- Request new quote from Steve
- Ken to draft COE,
- I sign
- Get Peggy to Sign
- Turn in COE to CTM

[2021-03-18 22:26] tillyw commented on #5518
Question/edge case: So, let's say someone selects capitally funded, then they enter and save a subproject ID. But then they change their mind for some reason and unselect capitally funded. The subproject ID field disappears. Do we want the value to persist so if they reselect capitally funded it's still there, or do we want to clear out the value to avoid confusion?

[2021-03-18 22:30] sergiogcx opened #5544 "[Bug] File uploads do not show in the activity log"
Any type of file edits are showing in the activity log. We need to fix the back end or front-end.

[2021-03-18 22:51] sergiogcx commented on #5544
Fixed the backend a little while back, nothing wrong with the code but there was a configuration file that needed to be updated.

[2021-03-18 22:52] sergiogcx commented on #5544
There is a PR:
https://github.com/cityofaustin/atd-moped/pull/250

[2021-03-18 22:53] #5489 closed

[2021-03-18 22:54] sergiogcx commented on #5544
There is a live demo:

https://5544-sg-fileuploads-activitylog--atd-moped-main.netlify.app/moped/projects/164?tab=activity_log

[2021-03-19 02:28] TracyLinder opened #5545 "Bug: TIA Mod Menu Hyperlink"
### Hyperlink opens an [empty page](https://atd.knack.com/development-services#tia-reviews2/).

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/bfef731b-a5b9-48dd-8c40-34872b8454c8)

[2021-03-19 02:29] TracyLinder commented on #5545
@ChrispinP let's discuss this before you work on it. 👍

[2021-03-19 13:18] atdservicebot opened #5546 "User Lost Permissions to Create Follow-up Work Orders"
Other / Not Sure

I no longer have permission to create follow-up work orders.

Soon — This week

Francisco G.

Request ID: DTS21-101760

[2021-03-19 14:12] jaime-mckeown commented on #5546
@amenity user is requesting that this is fixed today.

[2021-03-19 14:37] andrewshensky commented on #5539
Data has been updated in Maint and pushed to DM. Request sent to update services in AGOL.

[2021-03-19 14:37] #5539 closed

[2021-03-19 14:40] sergiogcx opened #5547 "Make Activity Log Lambda Warmer"
We need to warm up the activity log AWS lambda function using CloudWatch events. This with the intent to make the activity log work a bit faster.

[2021-03-19 15:06] sergiogcx commented on #5547
There is a PR:
https://github.com/cityofaustin/atd-moped/pull/251

The cloudwatch rule has been set up in AWS.

[2021-03-19 15:07] sergiogcx commented on #5547
It's been a few minutes and it's already invoking the lambda successfully:
![2021-03-19_10-06-12.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/07a020f8-25dd-4daf-9527-fa8255c238f7)

[2021-03-19 15:32] andrewshensky opened #5548 "Assist with School Zone Beacon Addresses"
Assist with assigning addresses to school zone beacon locations.

[2021-03-19 16:14] #5547 closed

[2021-03-19 16:26] amenity commented on #5546
@dianamartin — will you take/assign this plz?

[2021-03-19 16:32] amenity commented on #5496
@sergiogcx - will you add an estimate to this, please?

[2021-03-19 16:37] dianamartin commented on #5546
@amenity I can’t assign from my phone. I’d assign to @SurbhiBakshi and if additional help is needed escalate to John.

[2021-03-19 18:32] dianamartin commented on #5546
@ChrispinP Can you please follow up with Frank today? I forgot Surbhi was out and so am I. If you're unable to figure it out, please reach out to John.

[2021-03-19 18:51] ChrispinP commented on #4557
I have cleaned up the data for Payment Notes and Payment Location. I have also checked tax amounts for all records to make sure they rounded correctly by adjusting the Total Tax field to 3 decimals. I was able to update the Total Cost fields to be correct. There are 5 records with legacy Payment Total Cost amounts of 119.07 instead of 119.08.

2020-1502, 2020-1497, 2020-1482, 2020-1446, and 2020-1

[2021-03-19 20:04] jaime-mckeown commented on #5490
Will need to re-submit this request to reset his passwords after his e-access account profile is created, hopefully next week.

[2021-03-19 20:13] jaime-mckeown commented on #5160
Emailed Hannah again to see if she still wants this data mapped. Moving this to the Backlog until I hear back from her again.

[2021-03-19 20:13] jaime-mckeown commented on #5502
Scott had me pick up a different tablet, but this one has a password. Need to get the password next week.

[2021-03-19 20:17] #5523 closed

[2021-03-19 20:21] #5512 closed

[2021-03-19 20:22] jaime-mckeown opened #5549 "Pro Migration Weekly Meeting - 3/24/21"
Attend meeting on 3/24 at 10am.

Homework from last meeting:
- ATD does not have a current ESRI Architecture Review on file
- Prefer direct communication with Users: email, discussions if needed, work with each workgroup individually.

[2021-03-19 20:22] jaime-mckeown opened #5550 "Pro Migration Weekly Meeting - 3/31/21"
Attend meeting on 3/31 at 10am.

[2021-03-19 20:40] TracyLinder commented on #2732
### Demo 3/19/21
- The recording is [here](https://web.microsoftstream.com/video/48ee1706-a02a-435a-8b98-dfb0e4d3589d)

[2021-03-19 22:18] #5285 closed

[2021-03-19 22:40] ChrispinP commented on #5545
@TracyLinder wow, this happens for all menus. Knacks creates a "fake" page for each menu. In the builder I dont see any way for me to edit these blank pages. Will submit a Knack ticket and test in new builder to see if the issue carries over.

Nice catch, thanks

[2021-03-19 22:47] ChrispinP commented on #5537
Re-mapped home buttons and added navigation, ready to review

[2021-03-22 05:19] mateoclarke commented on #5394
cost estimate for Feb 2021 has been sent.

[2021-03-22 14:38] SurbhiBakshi commented on #5520
Here is the [Power BI report](https://app.powerbigov.us/groups/b73ea40f-8b44-4aa9-9794-7a87b43e5246/reports/16d3ef02-c043-4ab6-933e-f89ac313663c?ctid=5c5e19f6-a6ab-4b45-b1d0-be4608a9a67f).  I was able to use the query without any adjustments, and set it to refresh a few times over the day. The data is getting refreshed.

[2021-03-22 14:54] ChrispinP commented on #5546
Emailed user to provide more information so we may better assist, pending response.

[2021-03-22 15:12] dianamartin opened #5551 "[BUG] Lat/Log fields show up on the Map when location is added on Signs Work Order"
**Describe the bug**
Issued Work Order, when adding a location, the Lat Long fields area appearing on the map. I thought these were supposed to be hidden with JS.

**URL**
https://atd.knack.com/test-smb-17-mar-2021-signs-and-markings-operations#work-order-signs/view-work-orders-details-sign/6052518fb22062066e5be47e/

**What steps can we follow to reproduce the bug you are seeing?**
LOG IN AS "TEST

[2021-03-22 15:28] SurbhiBakshi opened #5552 "Update VZA Reporting - March 22nd"
Checked the records and no officer had signed up for last week. Not going to run the reports.

[2021-03-22 15:39] SurbhiBakshi commented on #5552
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/27016e28-3007-4f3c-8347-35a1829be511)

[2021-03-22 15:41] SurbhiBakshi opened #5553 "Update VZA Reporting - March 15th"
No officer had signed up for this week, so did not run the reports.

[2021-03-22 15:41] SurbhiBakshi commented on #5553
![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/fe2c4077-38ca-44b7-b284-a2a1c41f32fc)

[2021-03-22 15:41] #5553 closed

[2021-03-22 15:57] amenity opened #5554 "Add anchor tags to "About Us" page headings"
![Screen Shot 2021-03-22 at 10 53 37 AM](https://user-images.githubusercontent.com/1463708/112019559-8bb22900-8afd-11eb-8376-b0fc32e0467d.png)
This way we can link directly to sections of the page. Super helpful on mobile!

[2021-03-22 15:58] Nadin-Nader commented on #5514
I met with Izzy Yesterday and she was able to test manually changing the folder status. She was able to and it didnt affect the date adversely. It extended it if it needed to. She also looked into the Oage conflict to make sure the amount of items shown would work for them and it did.

She sent an email with her thoughts (see below):

"From: Pena, Isabell Isabell.Pena@austintexas.gov
Sent: Thursda

[2021-03-22 15:58] #5514 closed

[2021-03-22 16:01] moorerst commented on #5391
meeting scheduled 3/24
Attendees: Joseph, Jacob, Lyndon, Diana, Shavyvonne, Stephanie

[2021-03-22 16:01] dianamartin commented on #5431
# Mobile Testing
`Current Attachments process`: Technician is required to download attachment and view it through Adobe Reader
_Christina is wondering if new builder and new PDF will change that process, will test it to see

[2021-03-22 16:02] atdservicebot opened #5555 "Add columns to "Study Locations" page"
Data Tracker

add the following columns to the "STUDY LOCATIONS" page:

Data Collected
Data Collection Assigned to
Study Assigned to

These columns can be added between the "TYPE" and "STUDY STATUS" columns

Adding these columns will allow us to track the progress and assignments of data collection and studies.

Cannot see this information without opening each study

THANK YOU!!!

Renee O.

Reques

[2021-03-22 16:22] zappfyllc opened #5556 "Project Components | Update data model to include project and component attributes for project/component switching/hybrid"
**Goals:**

- Enables devs to re-use project paths/routing and project features for components that need to be both a project and a component.
- Simplifies a component-heavy data model by allowing components to maintain the same kinds of attributes a project might collect (or vice-versa)

**Outstanding Questions:**

- Can components become projects from the UI? #5558 might solve/assist with the co

[2021-03-22 16:32] dianamartin commented on #5509
## Testing 3/22/21
- On mobile app, booked meeting space at Cameron
- Approved invite on desktop Outlook
- Deleted event on desktop Outlook

[2021-03-22 16:48] moorerst commented on #5509
Testing
from desktop scheduled meeting at Cameron Koenig
received email for meeting invite
meeting appears on Robin calendar and Outlook calendar
If I delete from the Outlook calendar it is not removed from Robin
the sync is not working as described by Robin Support
can manually delete from Robin desktop with no issue

[2021-03-22 16:53] ChrispinP commented on #3015
Added Case Type to searchable fields and updated text formula for the Header display.

Unable to create value links for Headers (Groupings) or for non-parent record fields (i.e. Mitigation fields). So I did some witchcraft, created short text field for the parent Request object that is set by default and I use that field to link the Mitigation Details Page with some link text.

Ready to review

[2021-03-22 17:05] Nadin-Nader opened #5557 "Create AMANDA V6 and V7 account for David Bracken (NN)"
Create AMANDA V6 and V7 account for David Bracken

- [x] **Verify** NURF Form
- [x] **Create** V6 TEST Account
- [x] **Add** Automation to Create V6 PROD Account
- [x] **Create** ServiceNow Request to CTM **(SCTASK0130008)**:
     - [x] To **Add** user to AMANDA Active Directory groups
     - [x] To **Add** account to AMANDA V7 with the proper Security groups
- [x] **Send** email to user with Logi

[2021-03-22 17:06] zappfyllc opened #5558 "Project Relationships | Add project-to-project relationships"
As a user navigating the details of a project, I want to relate projects together so that I can later view a list of projects relevant to this project.

**Details:**
- A project can be a **child** of another project
- A project can be a **parent** of another project
- A project can simply be **related** to another project (no hierarchy)

Ignore components below, but idea would be to create a table

[2021-03-22 17:08] Nadin-Nader commented on #5557
Email form Mica, David and Tracy:

[2021-03-22 17:10] Nadin-Nader commented on #5557
Spoke to Mica via chat and sent her the NURF and asked her to fill out the top section and have a supervisor look over it to make sure David gets the correct permissions.

## **STATUS:**
Waiting on NURF to add account.

[2021-03-22 17:14] amenity opened #5559 "Project Components | Define data model"
### Reference
- https://hasura.io/blog/native-support-for-postgis-topology-operators-now-in-graphql-engine/
- https://hasura.io/blog/building-a-realtime-geolocation-app-with-hasura-graphql-and-postgis/
- [John's Mapping thoughts deck](https://docs.google.com/presentation/d/1u-ehecX1noZRsdh8gbmf2VqpTeBf5r4s-mkBgiAM35g/edit#slide=id.gbd2a54ca88_0_12)
- [IMPDB facility (component) types](https://docs

[2021-03-22 17:14] #5320 closed

[2021-03-22 17:14] #5318 closed

[2021-03-22 17:17] amenity commented on #5559
### Reference
**Hasura + Postgres**
- https://hasura.io/blog/native-support-for-postgis-topology-operators-now-in-graphql-engine/
- https://hasura.io/blog/building-a-realtime-geolocation-app-with-hasura-graphql-and-postgis/

[2021-03-22 17:20] amenity commented on #5559
@zappfyllc - can you schedule this one? @johnclary @mateoclarke and myself optional, I believe. Don't worry about accommodating my calendar, will plan to just drop in to listen if available.

[2021-03-22 17:23] ChrispinP commented on #5545
Issue also applies to the new builder. Sent a message to Knack about the bug. Pending response.

[2021-03-22 17:30] ChrispinP commented on #4557
messaged Steve about the two discrepancies

[2021-03-22 17:33] ChrispinP commented on #2732
Memo Date updated from Sent date to Approved Date, button rules also added.

[2021-03-22 17:36] moorerst commented on #5509
So it looks like the deleting from Outlook is a "No-go", the sync continues to not work

We stick to the best practice method of asking user to delete event in Robin mobile app or Robin web app

[2021-03-22 17:41] jaime-mckeown opened #5560 "New AGOL User in Active Transportation"
Laura requested that I check that Dan H. had created his AGOL Account.

[2021-03-22 17:41] jaime-mckeown commented on #5560
His account was created. I configured the profile and added him to a couple groups.

[2021-03-22 17:42] moorerst commented on #5509
closing issue

[2021-03-22 17:51] amenity opened #5561 "Project Components | Create wireframe"

[2021-03-22 17:54] moorerst commented on #5488
@chrispin attached is the initial work flow we created for the user interface. Of course this was prior to all the fee changes.
But maybe it can be a starting point
[ATD_Residential_Parking_Permit_User_Interface_work_flow_20200723.pdf](https://github.com/cityofaustin/atd-data-tech/files/6184302/ATD_Residential_Parking_Permit_User_Interface_work_flow_20200723.pdf)

[2021-03-22 18:09] ChrispinP commented on #5536
Updated nomenclature of all instances of Review Area and Case Notes.

complete

[2021-03-22 18:09] #5536 closed

[2021-03-22 18:17] TracyLinder opened #5562 "TIA Project Meeting 3/22/21"

[2021-03-22 18:18] ChrispinP commented on #5532
Updated Review Comment Tables, complete

[2021-03-22 18:18] #5532 closed

[2021-03-22 18:19] #5284 closed

[2021-03-22 18:26] amenity commented on #5357
@johnclary - I see you've started [work on a proposed schema](https://docs.google.com/spreadsheets/d/1rgw3KL9fQ0xS49LLyzexHMPbV58WsWcr2jYaC2oSmKM/edit#gid=2133340878) ... any thoughts on how to proceed?

@mddilley @zappfyllc - this is related to #5559.

[2021-03-22 18:33] mddilley commented on #5516
Sync'd with Chrispin today. The code will:
1. Hide all fields on load (except Mitigation Location, Mitigation Type, Improvement, Cost, and Recommendation Notes)
2. Unhide the relevant fields once the user chooses the Improvement type (field_495)

[2021-03-22 18:35] TracyLinder commented on #5562
### Tracy (Pre-Meeting)

- What's this about?
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/8e110372-98e0-4103-b330-074e4595cff3)

- Do we really want these two tables on the case details page? You can't click into them to see any details.
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/8de322f3-dcaf-4620-a079-f6f299929d85)

- We don't need t

[2021-03-22 18:36] dianamartin commented on #4267
Emailed Ken on 3/18

[2021-03-22 18:44] ChrispinP commented on #5531
Enabled the option for unlisted Vision Teams to be added to the field list

complete

[2021-03-22 18:44] #5531 closed

[2021-03-22 18:45] dianamartin commented on #5087
Instructions in ATD Knack Operations wiki
- [x] Can access OneDrive
- Follow steps on wikie page `Update reports in PowerBI`

[2021-03-22 18:51] atdservicebot opened #5563 "Expand Sign Work Order "Locations" table from 50 to 100 per page"
Signs & Markings Operations

Need help ASAP expanding the Sign Work Order "Locations" table to 100 per page. Work Orders that have over 50 locations are causing issues for Technicians.

An expanded locations table showing 100 rows per page.

N/A

We need this ASAP. A technician is dealing with a work order on Riverside right now that has more than 50 locations and the set page limit is causing iss

[2021-03-22 19:00] ChrispinP commented on #4624
Instructions/Notes field has been updated to Case Notes, these notes apply to the entire case and lives on the Review object. There is only one Case Notes per case.

Unified Comment field already exists for the Review Cycle object. It was missing from one table so that has been updated. The Unified Comment is the Review Cycle Notes. We can update this nomenclature if desired.

Review Comment field

[2021-03-22 19:05] dianamartin commented on #5288
Max wrote back on 3/19

[2021-03-22 20:01] mateoclarke opened #5564 "CRIS Data Quality Issues"
- [x] Verify and investigate why there are no new CR3s since 3/11.
- [x] Investigate outages in `atd_visionzero_cr3_production`, 3/17 (more?)
- [x] CRIS password reset by 4/4/21.
- [x] Follow up with Mark M. about SFTP updates.

### CRIS recent timeline
- ~CRIS Scheduled Maintenance – Sunday 2/28/2021 – 2 pm - 7 pm~
- The CRIS outage that was scheduled for Sunday, February 28th was rescheduled to

[2021-03-22 20:03] dianamartin commented on #5169
@moorerst I thought Gilda was on this?

[2021-03-22 20:09] dianamartin opened #5565 "Meeting: Robin Test Feedback and Next Steps"
### Objective
Discussions had building services meetings, which groups are interested

### Participants
JJM, Christina, Shelby, Gilda, Stephen, Marisol, Peggy, Stephanie, Diana, John, Scott

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add link.

------
- [x] Schedule meeting
- [ ] Option

[2021-03-22 20:09] dianamartin opened #5566 "Meeting: Robin Test Feedback and Next Steps"
Meeting Scheduled - 3/22/21

### Objective
CTM conversations, Discussions had building services meetings, which groups are interested

### Participants
JJM, Christina, Shelby, Gilda, Stephen, Marisol, Peggy, Stephanie, Diana, John, Scott

### Agenda
Add agenda here or create agenda from [this template](https://docs.google.com/document/d/1d_49KW5C_vSz8Bs50v-cxyIJuTNJMwMrh7ypcxRHgZI/edit#) and add l

[2021-03-22 20:10] dianamartin commented on #5566
@moorerst A place to put our notes from this meeting

[2021-03-22 20:20] amenity commented on #5555
@dianamartin - assuming this is as basic as it sounds, feel free to snag for this sprint. ☀️

[2021-03-22 20:25] dianamartin commented on #5566
# Notes
- Shelby shows survey results
- Overall happy and excited
- Going over the survey

- Suggestion: create another survey to share for people using it?
- Can we removed the "Find employee" feature? No
- Bringing up comments

[2021-03-22 20:35] TracyLinder commented on #4774
### Notes
- Move overall case tables to the top of each group
- On the Submission tables: Add a project name column

[2021-03-22 20:36] TracyLinder commented on #2736
Stakeholder Feedback: There's no code required review deadlines. Not MVP. Closing.

[2021-03-22 20:36] #2736 closed

[2021-03-22 20:37] TracyLinder commented on #5095
Currently the page is in good shape. Will open new issues as needed.

[2021-03-22 20:37] #5095 closed

[2021-03-22 20:48] dianamartin commented on #5563
- Reviewed the Signs Work Order details
- the editable Locations table was 50, I made it to 100 as default
- the non-editable Locations table was 25, I made it to 100 as default

[2021-03-22 20:49] jaime-mckeown commented on #5490
Andrew re-submitted the request, got his passwords reset.

[2021-03-22 20:49] #5490 closed

[2021-03-22 20:49] #5560 closed

[2021-03-22 20:58] TracyLinder commented on #2762
Change Total Cases by Lead Reviewer to Total by Area

[2021-03-22 21:06] TracyLinder opened #5567 "Feature: TIA Cases Advanced Search Page"
### Make an advanced search page for TIA Cases.
- Visually & functionally similar to the [TDS Review Search](https://atd.knack.com/development-services#search-reviews/)

[2021-03-22 21:07] andrewshensky commented on #5541
Request has been submitted for addition of transit hubs dataset in GISDM_External as well as geodatapusher job creation for pushing data updates.

[2021-03-22 21:07] #5548 closed

[2021-03-22 21:08] andrewshensky commented on #5548
Beacon locations were reverse geocoded and address information was field calculated into existing dataset.

[2021-03-22 21:21] ChrispinP commented on #5545
Knack has confirmed this as a bug and is working on a fix.

[2021-03-22 21:34] dianamartin commented on #5563
Christina confirmed

[2021-03-22 21:40] jaime-mckeown commented on #5450
created twice by accident.

[2021-03-22 21:41] #5450 closed

[2021-03-22 21:46] amenity opened #5568 "Override visited link color in "Are you sure?" delete modal"
Seems like the link to the DTS portal in this modal is not inheriting MUI styles we have defined in other places. The default browser `a:visited` purple doesn't have enough contrast to easily read as a hyperlink:
![Screen Shot 2021-03-22 at 3 52 54 PM](https://user-images.githubusercontent.com/1463708/112062175-8b318680-8b2d-11eb-8b39-0ff07b929736.png)

Elsewhere, `a:visited` has the class `.MuiTy

[2021-03-22 21:49] #5563 closed

[2021-03-22 21:50] amenity commented on #5568
PS, I know this is [generally frowned upon](https://www.nngroup.com/articles/change-the-color-of-visited-links/)... But I think that applies more to text content than static UI elements like this modal.

[2021-03-22 22:06] amenity commented on #5563
Thanks, @dianamartin 🏃🏻‍♀️

[2021-03-22 22:09] dianamartin commented on #5479
I have access to FormStack and am checking it out now, closing this!

[2021-03-22 22:09] #5479 closed

[2021-03-22 22:25] mateoclarke commented on #5564
### Notes for missing data:
  - We didn't get any extracts between Fri 3/12 until Tue 3/16.
  - First try to resolve: request extract back through 3/10, let it do its thing, but also download the file and make sure there is data. there should be no more than 100s (no Ks) crashes. Car crashes CSV file, check for dates. We can go ahead manually trigger the DAG to process them.
  - The issue is eithe

[2021-03-22 22:27] amenity commented on #5288
@dianamartin - thanks for the update.

What do you recommend for the District 6 assets? Would it be simpler to include "District 6" in their names rather than give them a new list and queue?

What are we expected to do with regards to the Westgate Blvd requests? 🤔

[2021-03-22 22:38] amenity commented on #5505
@johnclary - do you want me to set up a meeting or just add to #5373?

[2021-03-22 22:44] dianamartin commented on #5288
@amenity I talked to Max and I simply updated the "Display Name" of the asset to include the "Category" field which indicates if the asset is District 6 asset, so that fixed that issue. The high priority DSDD request issue was fixed by Max changing the request date to be earlier than what is in his queue (basically skipping the queue) per Council or neighborhood reasoning. I told him how to sort/f

[2021-03-22 23:15] amenity opened #5569 "Give new folks access to Transportation.Data inbox"
[Per Slack](https://austininnovation.slack.com/archives/G010RPYJ83W/p1616162774014900):
- @tillyw
- @andrewshensky
- @chiaberry

[2021-03-23 00:03] amenity commented on #4981
https://atd-dts.medium.com/job-product-manager-austin-transportation-data-technology-services-103650396d7 🎉

[2021-03-23 00:07] amenity commented on #4981
Just realized I should add this to the Public Interest Tech Job Board...

[2021-03-23 00:40] #5543 closed

[2021-03-23 00:41] #5544 closed

[2021-03-23 00:49] amenity commented on #4981
Slack:
- [x] City of Austin - #general
- [x] Municipal Design - #jobs
- [x] Civic Union - #loc-atx
- [ ] Open Austin - @mateoclarke, can you do this one, please?

Other
- [x] Posted on Austin Digital Jobs FB
- [x] Submitted to https://jobs.codeforamerica.org/

Am I missing any, @mateoclarke @johnclary?

[2021-03-23 01:02] #4867 closed

[2021-03-23 04:52] #5027 closed

[2021-03-23 04:55] amenity opened #5570 "Participate in Civic Innovation Corps 2021"

[2021-03-23 05:50] amenity commented on #5570
Last Thursday's meeting:
[CIC Partner Call 3-18.pdf](https://github.com/cityofaustin/atd-data-tech/files/6186970/CIC.Partner.Call.3-18.pdf) | [Recording](https://www.youtube.com/watch?v=M8yiu1Wv_H4&feature=youtu.be)

**Timeline**
- **3/24** candidates referred to hosts
- [Conduct 3-4 x 30-60 minute interviews for each position]
- **3/31** rankings submitted
- **Early April** - Offers extended and

[2021-03-23 06:01] amenity commented on #5518
@tillyw thanks for thinking this through... I'd prefer to have it persist at least through their "session" ... What's easier from a technical perspective?

[2021-03-23 06:07] amenity commented on #5288
Sweet, sounds good. 🧠

[2021-03-23 06:33] amenity commented on #5289
Thanks, @dianamartin — scheduled a meeting for 3/26.

[2021-03-23 13:37] dianamartin commented on #5569
CTM Ticket has been created `INC0090422`

[2021-03-23 13:41] dianamartin commented on #5555
- The requested page modification is on this page: `https://atd.knack.com/amd#study-locations/`
- Proposed fields to be inserted between `Type` and `Study Status`
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/971e7b89-77dc-4a1e-920f-52ff82de2b6a)

[2021-03-23 13:46] dianamartin commented on #5555
Will email user that changes have been made

[2021-03-23 13:50] #5555 closed

[2021-03-23 13:58] #1347 closed

[2021-03-23 13:58] johnclary commented on #1347
Not needed—inventory was implemented in the data tracker.

[2021-03-23 14:18] dianamartin commented on #4267
- Ken and I sync'd on 3/22, said we'd pursue 24 month, 2 year option.
- replied to email he originally sent saying we talked on Teams
- I emailed Steve about the plan and requested a quote for 24 month, 2 year option

**Next Steps**
- Ken will update COE once quote is received
- I need to sign COE, Peggy to sign
- CTM still waiting for signed COE

[2021-03-23 14:53] johnclary opened #5571 "Test atd-knack-services end-to-end"
- setup PostgREST locally [with Docker Compose](https://postgrest.org/en/v7.0.0/install.html#docker)
- Create test socrata dataset (data.austintexas.gov)
- Use atd-knack-services to publish the data

[2021-03-23 14:59] tillyw commented on #5518
The default behavior would be for the data to persist in the database and be redisplayed if the user reselects the "capitally funded" option. If that's okay, then no further changes are needed!

[2021-03-23 15:00] atdservicebot opened #5572 "Implement ability to sort by "STUDY STATUS" and export to CSV on "STUDY LOCATIONS" page"
Data Tracker

Would like to do the following on the STUDY LOCATIONS page:
Sort by STUDY STATUS
Export to excel

This will allow us to group studies by status and export the data to manipulate it down to a detailed level

None.  Can do either at this point.

Thank you!!

Renee O.

Request ID: DTS21-101775

[2021-03-23 15:11] #5383 closed

[2021-03-23 15:12] #5467 closed

[2021-03-23 15:34] amenity commented on #5572
@dianamartin — another that I'm queuing up for next sprint but feel free to do earlier if you're in there and it's as simple as it sounds.

[2021-03-23 15:58] amenity commented on #5518
@tillyw - that's just fine. Super appreciate your attention to detail! 🕵️‍♀️

[2021-03-23 16:01] jaime-mckeown opened #5573 "GIS Remote Work Subcommittee Meeting"
Attend meeting on 3/23.

[2021-03-23 16:13] amenity commented on #4981
Boo... Just got this message from CfA:

[2021-03-23 16:29] amenity commented on #5555
Thanks, @dianamartin !

[2021-03-23 17:05] dianamartin commented on #5546
@ChrispinP Was able to catch Frank at my last meeting, I asked him about this bc I thought it was related to re-opening work orders. This issue is happening when he is trying to click on the button "Create Follow-up", there is an error message that appears saying he doesn't have permissions. He's a supervisor level so he should be able to, there might've been a rule we missed updating when John cr

[2021-03-23 17:11] TracyLinder opened #5574 "(EPIC) ROW Cost of Service Management [KNACK - ROW Portal]"
### New features on the KNACK ROW Portal to facilitate the fee recovery portion of the COS workflow.

**Fee Recovery Means:**
1. Data warehouse of all _valid_ COS payments
2. Ability to export COS data to be provided to partner departments
3. Ability to import updates to existing COS data
4. Ability to reconcile AMANDA COS payments with it's JVD entry
5. Ability to track COS payments that are disa

[2021-03-23 17:19] moorerst commented on #5391
Agenda: https://docs.google.com/presentation/d/1L_Olz36_8UkoKQtXvu0e8X9huaBDZfEmM8_bsjSqUt4/edit#slide=id.p

[2021-03-23 17:22] TracyLinder commented on #5574
### Permits by City Department, Report #1
Grouped by Submitted, Issued
Then sub grouped by CIP VS Non-CIP
- Primary (priority 3)
- Secondary (priority 4)
    - Managed by a MOU; not really reviewed
- Emergency (priority 1)

----
### TCP Reporting, Report #2
_KNACK report._
- _Per Ryan, will require changes to the app so the data they need to report on can be captured_
- [ ] Schedule time w/ Ryan &

[2021-03-23 17:26] moorerst opened #5575 "Meeting: Digital Petition Kickoff Meeting"
Agenda: https://docs.google.com/presentation/d/1dvejiPcINaZbiQAoOiu9gHWGpQqzOIRIh1t7884lu30/edit#slide=id.p

Attendees: Diana, Stephanie, Ryan
Was out due to schedule conflict:  ~Joseph~

[2021-03-23 17:50] TracyLinder commented on #5574
Tasks

**Scheduling:**
- [ ] Reoccurring syncs w/ Ryan & Darren as optional every 3 weeks.
- [ ] KNACK scoping w/ Chrispin & Ryan
- [ ] AULCC scoping w/ Ryan, Darren, Isiah, Jacyln

**Git/Zenhub**

- [ ] Create issue for each report
- [ ] Add blockers on #2397

[2021-03-23 17:55] TracyLinder opened #5576 "Permits by City Department, Report 1 (On PROD) (SB)"
**Stakeholder:** Ryan M.

Main Report Sample Layout:

![image.png](https://images.zenhubusercontent.com/5f50fe1f66d1a40f7f557fb4/a8d1a3fc-7ec2-46d2-b7e9-cbe0e3ad6b9c)

Acceptance Criteria:

- From Date, To Date and Department should be available to select as report parameters.
- From Date and To Date is based on Folder InDate.
- Department should have the same options as info 76765.
- If no Depart

[2021-03-23 17:55] TracyLinder opened #5577 "TCP Tracker Features for ROW Cost of Service (Epic)"
### TCP Tracker enhancements for the ROW Cost of Service epic.

[2021-03-23 17:55] TracyLinder opened #5578 "AULCC, Report 3 (On PROD)"
### A custom AMANDA report, PDF output, with 3 sections.
_Markup Below_

**Stakeholders:** Ryan M, Darren U.

![image.png](https://images.zenhubusercontent.com/5f50fe1f66d1a40f7f557fb4/bc8f79b6-218c-4fb7-a538-cf9052db2bb7)

![image.png](https://images.zenhubusercontent.com/5f50fe1f66d1a40f7f557fb4/942e42a4-0571-4f4e-b8e5-b25cbfa9f380)

Tracy's Spreadsheet is [here](https://github.com/cityofaustin/

[2021-03-23 17:55] TracyLinder opened #5579 "Inspections, Report 4"
**Stakeholder:** Ryan
Main Report Sample Layout:
![image.png](https://images.zenhubusercontent.com/5f50fe1f66d1a40f7f557fb4/a60e1f1f-d317-448d-aca1-849d12d77d3c)

Acceptance Criteria:
- From Date and To Date should be available to select as report parameters.
- From Date and To Date is based on Folder InDate.
- Report should pull data from EX folder (all subtypes) and RW folder (Temporary Right of

[2021-03-23 17:59] TracyLinder commented on #5577
@ChrispinP Ryan w/ ROW has asked for a KNACK report on TCP data. I scheduled a scoping meeting for Friday.

[2021-03-23 18:01] TracyLinder opened #5580 "New info: 'CIP?' | Vales: Yes, No"
### As a ROW Permit Analyst, I need to record if a permit is CIP funded.
### As a ROW Manager, I need to report on CIP-permit data.

**Stakeholders:** Ryan, Darren, Paloma

**Acceptance Criteria: **

- System should display a new info field 'CIP?' of Boolean type in the AMANDA Back Office and Public Portal.
- The new info should display in the back office and portal for the following permit types

[2021-03-23 18:04] amenity opened #5581 "Implement `view` parameter in "Projects" page URL"
Currently we can provide a link to a list of work with a specific status via a URL parameter, `?status=In%20Progress`. We cannot, though, link to the chart view.
![Screen Shot 2021-03-23 at 1 00 23 PM](https://user-images.githubusercontent.com/1463708/112195397-e6b84e80-8bd7-11eb-9fbe-7ed152d54200.png)

The chart view is awesome so being able to send someone directly to`?status=In%20Progress&view=

[2021-03-23 18:08] amenity commented on #5581
@johnclary - leaving this in scoping for now because I'm also curious about replacing the tabs w/ something like buttons for filters... and not sure this would be wasted work if we went there.

[2021-03-23 18:08] jaime-mckeown commented on #5573
- started to separate out the different scenarios for testing environments
   - personal computer remoting to work computer in the office
   - work computer at home with ArcGIS installed remoting to network for data, maps, etc.
   - work computer at home remoting to work computer in the office that has ArcGIS installed.
- will be meeting once/week for a month to help get this going

[2021-03-23 18:09] #5573 closed

[2021-03-23 18:15] jaime-mckeown commented on #5325
3/16/21
- send 1st email to Parking (Joseph and David S.)
- heard back from SMB, only Christina and Susanne will be keeping Desktop, asked Scott to remove Desktop from other computers in SMB.
- Sent email about project to Dan in SDD (under Liane), he will be getting Pro installed, signed up for a Pro Class.
- heard back from ROW, all will be removed, need to get in touch with Isabell P. to discuss

[2021-03-23 18:20] jaime-mckeown commented on #5325
3/22/21
- Sent Scott a list of users that are approved to get Pro installed (Joel, Xavier, Dan, Luke)
- Sent Scott list of SMB computers that need Desktop removed.
- Heard back from Joseph in Parking about his group.
- Heard back from Cole in SDD regarding his group.
- Sent Scott a list for Joseph's group, computers to get Pro, computer to have Desktop removed.
- Sent David S. in Parking a follow

[2021-03-23 18:21] jaime-mckeown commented on #5325
- Sent Chris M. in OOD initial email. Let Scott know he is approved for Pro install.
- Sent initial email to AMD regarding GIS Users and Usage.

[2021-03-23 18:39] jaime-mckeown commented on #5325
- emailed Brian C. in AMD regarding him having 2 installations of ArcGIS (only one is allowed per person).

[2021-03-23 18:50] jaime-mckeown opened #5582 "Questions about Feature Layers owned by ATD Publisher"
Cole emailed asked about a couple feature layers that are owned by ATD Publisher. He was curious if they were still active and why we created them.

[2021-03-23 18:50] jaime-mckeown commented on #5582
I created both feature layers. Let him know who and why. That's all he needed.

[2021-03-23 18:50] #5582 closed

[2021-03-23 18:51] moorerst commented on #4557
@ChrispinP
Per Steve:
 I fixed 2021-2883. it looks like the calculate costs tab wasn't used?
for 2021-2908 i'm only showing the costs as 81.19
The discrepancies have been resolved
Closing this issue  Thanks Chrispin

[2021-03-23 18:51] #4557 closed

[2021-03-23 19:26] Nadin-Nader commented on #1918
@TracyLinder updated Acceptance criteria from the my meeting with Paloma. Moving to Backlog

[2021-03-23 21:18] andrewshensky opened #5583 "Creating Training Wikis for ArcPro and AGOL"
Wikis will include links, descriptions, and goals of trainings that we have identified may be useful for user migrating to ArcPro.

[2021-03-23 21:18] andrewshensky opened #5584 "Creating Training Wikis for ArcPro and AGOL"
Wikis will include links, descriptions, and goals of trainings that we have identified may be useful for user migrating to ArcPro.

[2021-03-23 21:41] #5495 closed

[2021-03-23 21:42] dianamartin commented on #5572
Messaged Renee

Renee

[2021-03-23 21:44] dianamartin commented on #5572
- [x] Enabled the "Record Exporting" options on the `Study Locations` table
- [ ] Message user of update

[2021-03-23 21:45] #5572 closed

[2021-03-23 21:47] TracyLinder commented on #4519
### Approved by IT Purchasing
- [Controller's PO Detail page](http://finance.austintexas.gov/web/controller/afs3/Payments/podetail.cfm?transcode=DO&doc_dept_cd=5600&ponumber=21032206327)

[2021-03-23 22:13] ChrispinP commented on #5546
Oh interesting, was Signal Tech Supervisor created recently? I made sure his account looked correct. Let me know if you need me to do anything else.

[2021-03-23 22:17] TracyLinder opened #5585 "TIA Case Details Custom Drop-down Menu"
### We need to clean up the buttons on TIA Case Details, and implement a custom drop-down menu for them.

- [x] Step 1: Analyze current buttons & nail those down/clean up as needed
- [x] Step 2: Wireframe button/menu future state
- [x] Step 3: Map each button to it's feature/page
- [x] Step 4: Review w/ Chrispin
- [x] Step 5: Ask Amenity to bring this up during Dev planning (John suggest tasking t

[2021-03-23 22:25] dianamartin commented on #5431
- The mobile testing on the tablet seemed to be fine, there was nothing out of the ordinary.
- Christina said she'd test some areas in the SMB tracker in the new test environment to see if it's what she's used to seeing

[2021-03-23 22:28] dianamartin commented on #5546
I sent the email through Slack. Did you test with the same credentials and see if you could create a follow-up or re-create the issue?

[2021-03-23 22:40] TracyLinder opened #5586 "TDS Bug: Assigned Reviewer"
**Reported by Sangeeta by email on 3/23/21 @4pm.**
_Hi Tracy, Something has changed in KNACK.  I just added a project and then selected Vision team groups. And now under “Assign Reviewer”, they are all the same. Earlier, it would list the Vision Team group.  Does it matter to who I assign or it need to be in a particular order?_
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14

[2021-03-23 22:42] TracyLinder commented on #5586
### Scoping scheduled 3/24 @11:30am

[2021-03-23 22:44] TracyLinder commented on #5585
Next steps, per John:

Wire frame the design
Map each button to it's functionality/page

[2021-03-24 04:07] TracyLinder opened #5587 "Metric: Total time from application submittal to permit issuance"
### Total time from application submittal to permit issuance
_(Folder Indate - Folder IssueDate)_

**Story: I want to be able to query all ROW permits by date range and retrieve data that will allow me to see turn-around averages by folder & subtype, and also allows me to sort and filter through each record as needed. I also want an optional query parameter to query by the permit Facility Owner wh

[2021-03-24 04:07] TracyLinder opened #5588 "Number of review cycles"

[2021-03-24 04:07] TracyLinder opened #5589 "Metric: Time in ATD's Hands & Time in Applicant's Hands"
### Time in ATD's Hands & Time in Applicant's Hands
**Story: I I want to be able to query by [TBD parameters] and retrieve a report that tells me, for each permit, the total time ATD staff spent actively reviewing a permit and the total time spent pending customer input/follow-up.**
- Currently the permit folders in AMANDA are not configured to capture this data; the only way to achieve this reque

[2021-03-24 04:07] TracyLinder opened #5590 "Metric: Number & Type of submittal deficiencies"
### Number & Type of submittal deficiencies
**Story:  I I want to be able to query by [TBD parameters] and retrieve a report that tells me, for each permit, a total count of the review deficiencies recorded, and a total count for each type of review deficiency recorded.**
- Currently the permit folders in AMANDA are not configured to capture this data; the only way to achieve this request is by up

[2021-03-24 13:27] moorerst opened #5591 "Rollout Robin at Barton Oaks"
Plan for rollout of Robin at Barton Oaks 4/5

- [x] Provide Help Guides
- [x] Provide draft of communication that Gilda will send to employees

[2021-03-24 14:17] SurbhiBakshi commented on #5047
Met with Ramon yesterday, here are the notes from the meeting -

- Ramon cannot sign in using CoA or nonCoA. I tried signing in myself with his nonCoA credentials and I could sign in.
- He has tried signing in on his work computer, home computer and work phone and has not been able to sign in on any of the devices.
-  I tried signing in myself with his nonCoA credentials and I could sign in.
- Her

[2021-03-24 14:20] SurbhiBakshi commented on #3277
Warner is busy with work on I35. Going to check if she can get this to me by next Tuesday soJeff (PIO) can review it on Wednesday and I can create the story page before April 2nd.

[2021-03-24 14:22] #5471 closed

[2021-03-24 14:25] #5169 closed

[2021-03-24 14:31] moorerst commented on #5509
follow up with Robin support

[2021-03-24 14:37] moorerst commented on #5420
@dianamartin did you get a chance to review the sprint review status email for Dispatch Tracking? I think we addressed all the issues from testing in the status email.

[2021-03-24 14:39] #5002 closed

[2021-03-24 14:39] #4998 closed

[2021-03-24 14:39] #5087 closed

[2021-03-24 14:39] #5552 closed

[2021-03-24 14:55] #5325 closed

[2021-03-24 15:05] amenity commented on #5477
Sent the survey yesterday, will compile and share results by next week.

[2021-03-24 15:06] #3720 closed

[2021-03-24 15:08] TracyLinder commented on #2732
**Update:** Nathan A. was tasked with reviewing the test memo and presenting results at the next project meeting on 3/29/21.

[2021-03-24 15:09] TracyLinder commented on #5446
All of this looks great. Closing.

[2021-03-24 15:09] #5446 closed

[2021-03-24 15:10] #5522 closed

[2021-03-24 15:11] TracyLinder commented on #5350
This all looks great. Closing.

[2021-03-24 15:11] #5350 closed

[2021-03-24 15:11] TracyLinder commented on #2726
This looks great. Closing.

[2021-03-24 15:11] #2726 closed

[2021-03-24 15:12] TracyLinder commented on #4797
Let's review this at the project meeting on 3/29/21.

[2021-03-24 15:13] TracyLinder commented on #4797
Let's look at this w/ project team on 3/29/21

[2021-03-24 15:14] TracyLinder commented on #2764
@TracyLinder add notes from last meeting and put back on deck for @ChrispinP .

[2021-03-24 15:15] TracyLinder commented on #2763
Closing. All work related to TIA Reporting will be tracked on #2764.

[2021-03-24 15:15] #2763 closed

[2021-03-24 15:15] TracyLinder commented on #5337
Reviewed with team. This is looking good. Closing.

[2021-03-24 15:15] #5337 closed

[2021-03-24 15:17] TracyLinder commented on #3015
Let's review this at the next project meeting 3/29/21.

[2021-03-24 15:18] TracyLinder commented on #5533
@TracyLinder review & provide feedback on this.

[2021-03-24 15:19] TracyLinder commented on #4774
This is ready for review.

[2021-03-24 15:26] TracyLinder commented on #5453
Ask stakeholders: Do they need generic case attachments? _Or is attaching to the case management features all that's needed?_
- If yes, add the table to TIA Case Details
- If no, remove the +Attachments button

[2021-03-24 15:28] TracyLinder commented on #2762
All reporting work will be tracked on #2764. Closing this.

[2021-03-24 15:28] #2762 closed

[2021-03-24 15:29] dianamartin commented on #5420
@moorerst I did review, but didn't realize I was supposed to add/edit it. I'll do that today :)

[2021-03-24 15:31] TracyLinder commented on #5273
This is probably not MVP. Discuss w/ Stakeholders.

[2021-03-24 15:33] TracyLinder commented on #4768
@ChrispinP and I will review the email workflows & content during this sprint.

[2021-03-24 15:37] jaime-mckeown commented on #5549
- find out if we have any groups that need specific training
- I've made many changes to the installs list (need to check with Shanon since I've made many changes on it without cc'ing her).
- Went over the Risks/Issues/Lessons Learned Page under the General Channel under GIS Modernization Channel
- Went over a short survey that we can use (I prefer direct contact with the divisions over surveys. I

[2021-03-24 15:37] TracyLinder commented on #4737
@TracyLinder reschedule this.

[2021-03-24 15:41] moorerst commented on #2876
let's move forward with this update

[2021-03-24 15:43] moorerst commented on #2876
document in Knack operations
@ChrispinP can you mock up what it looks like in reverse

[2021-03-24 15:43] TracyLinder commented on #4768
Work sesh w/ Chrispin scheduled for Friday 3/26/

[2021-03-24 15:44] TracyLinder commented on #5535
Work sesh w/ Chrispin scheduled for Friday 3/26.

[2021-03-24 15:46] amenity commented on #4423
@amenity - based on [3/23 Sprint Review](https://web.microsoftstream.com/video/0f6d4784-1d02-469b-ae54-d0b1cb5a74a8) make an issue for enhancements: File "types"
- Work Instructions/Authorization, e.g. Rain gardens for contractors, Signs and Markings
- Approvals and authoritative files, usually emails that might Sealed plans
- Knack integration
- Data Collection from Knack or directly from - e.g.

[2021-03-24 15:51] moorerst commented on #5367
check common patterns
apply global changes
Diana will review the views

[2021-03-24 15:57] moorerst commented on #5566
closing this is complete

[2021-03-24 15:57] #5566 closed

[2021-03-24 15:57] amenity opened #5592 "[Feature] Prioritization"
Per [3/23 Sprint Review](https://web.microsoftstream.com/video/0f6d4784-1d02-469b-ae54-d0b1cb5a74a8), workgroup-specific project prioritization. Already related tables in IMPDB for reference.
See
- AMD
- TED
- ATSD
- VZ

[2021-03-24 16:06] #5549 closed

[2021-03-24 16:10] jaime-mckeown opened #5593 "Request GIS TRAIN Course - Mary V."
Mary requested to take the Going Pro class on 4/15 taught by TeachMeGIS.

[2021-03-24 16:11] jaime-mckeown commented on #5593
Submitted Service-Now request.

[2021-03-24 16:12] #5593 closed

[2021-03-24 16:14] amenity commented on #1841
@jaime-mckeown - we couldn't track down the "training" issue — will you make this one dependent on that? Thanks!

[2021-03-24 16:17] andrewshensky commented on #5584
Wikis have been created and have began to be populated with links to relevant trainings. New trainings will be added as they come up.

[2021-03-24 16:17] #5584 closed

[2021-03-24 16:21] jaime-mckeown commented on #1841
@amenity the training issue has been closed, so technically it's not blocking anything. At this point they should be working in the Web App verifying the data. By the way, all Issues I have created related to SZB should be in the same Epic as this.

[2021-03-24 16:26] amenity commented on #1728
Don't forget to ask about #5505.

[2021-03-24 16:31] SurbhiBakshi commented on #5433
@amenity - Here is the link to the [Test application](https://atd.knack.com/test-vision-zero-in-action-3-feb-2021#home/)

[2021-03-24 16:33] amenity commented on #3114
@SurbhiBakshi - do you want to put this in the backlog and mark as a future sprint?

[2021-03-24 16:37] jaime-mckeown opened #5594 "Request GIS TRAIN Course - Frank H."
Frank requested to take the Spatial Analysis with ArcGIS pro class from 4/20-4/22

[2021-03-24 16:38] jaime-mckeown commented on #5594
Submitted Service-Now request.

[2021-03-24 16:38] #5594 closed

[2021-03-24 16:46] TracyLinder opened #5595 "Enhancement: User able to update review deadline on Reviewer Comments Table"
### As a TDS Project Manager, I need to be able to manually update the review deadline when needed.

**Chrispin's Proposed Solution:**
- Enable in-line editing on the table
- Disable in-line for all fields other than Review Deadline

[2021-03-24 16:52] amenity opened #5596 "Civic Innovation Corps: Data Scientist Interviews"

[2021-03-24 16:53] amenity opened #5597 "Civic Innovation Corps: Designer Interviews"
[Drive folder](https://drive.google.com/drive/u/0/folders/19jfDy4W8eXpUcGJMVQrZOg4uvo-UUDps)

[2021-03-24 16:55] amenity opened #5598 "Coding Innovation Corps: Developer Interviews"

[2021-03-24 16:57] TracyLinder commented on #5595
UAT meeting w/ Sangeeta, Chrispin, Tracy scheduled for Wed 3/31.

[2021-03-24 17:24] TracyLinder commented on #5585
### 1st Draft of Button Organization

Proposing 3 Main Tabs:
- **Case Management**
    - One tab for all buttons that load a new page
- **Update Case Details**
    - One tab for all buttons that update or add new records to TIA Case Details
- **Fees**
    - One button for updating both review fees & mitigation fees. (_one form_)

Top-Level   Menu Name | Nested Buttons
-- | --
Case Management | Cas

[2021-03-24 17:27] amenity commented on #5592
@zappfyllc - do you have opinions about implementation here? See [Nathan's slides here](https://docs.google.com/presentation/d/1kH3V_3iS87pCFPO44qr95ZrDr1Cytwbo/edit#slide=id.p4).

[2021-03-24 17:33] amenity commented on #5570
Ariana confirmed that they will set up a Slack channel for hosts so that we can collaborate on programming.

[2021-03-24 17:40] amenity opened #5599 "Activity Feed | Reverse order of log entries"
![Screen Shot 2021-03-24 at 12 38 27 PM](https://user-images.githubusercontent.com/1463708/112358509-69a3dc80-8c9e-11eb-84d8-989d841fe6a0.png)
Currently, the log is ordered chronologically (ascending). Let's make it reverse-chronological (descending) so that users can expect to see recent changes at the top.

[2021-03-24 17:41] johnclary commented on #5520
Thanks @SurbhiBakshi. Email sent to MMC below.

[2021-03-24 18:13] ChrispinP commented on #5546
The new user role was missing from some pages including the Followup Work Order page for Technicians. I have updated role permissions and responded back to Frank.

Pending response.

[2021-03-24 18:17] johnclary commented on #5259
@dianamartin how's this going?

[2021-03-24 18:19] #316 closed

[2021-03-24 18:20] johnclary commented on #131
We've received final offers. Will complete vendor collection in the next 4 weeks.

[2021-03-24 18:28] johnclary commented on #5451
@jaime-mckeown would you check with Edgardo about the fiber layer is maintained?

[2021-03-24 18:29] johnclary commented on #3882
Closing :)

[2021-03-24 18:29] #3882 closed

[2021-03-24 18:30] zappfyllc commented on #5592
Thanks @amenity, yep, I do. Sorry for the wall-of-text. I'll diagram out what I propose later.

In the "Facilities/Components and Attributes" slide, which I know isn't the focus in this issue (but somewhat related), I think the IMPDB approach makes a lot of sense and there was a lot of thought put forward in generalizing attributes enough to apply to different components. It may not be v1.0 for Mo

[2021-03-24 18:30] Nadin-Nader commented on #5557
Sent an email to see if they were able to get the information to make the AMANDA account. **Waiting on Response**

[2021-03-24 18:45] TracyLinder opened #5600 "Meeting: ATD & LIT 21 Planning 3/29"
LIT Resources:
- 2 Developers (Sree, Ash)
- BSA (Vish)

Development Schedule:
1. Wed, Day 1: Sprint Planning
2. Daily Standups: Nate leads; preferred 8:30 or 9am. 30 Minutes
3. Weekly ROW Stakeholder Review/Mtg; 1 hour
4. Weekly sprint review (immediate after ROW review); 30 minutes

Service Delivery Workflow:

- Triage/Scoping: Nate & Vish as primary; Tracy as backup
- Development: Sree & Ash
- U

[2021-03-24 18:57] johnclary commented on #5503
- Define symbology for all possible racks / create feature templates
- Convert to collector app. Test on Android tablet with @andrewshensky
- Test with parking meter shop

[2021-03-24 19:00] johnclary opened #5601 "Add PHB feature layer to online bike map"

[2021-03-24 19:00] zappfyllc opened #5602 "Data Migration | Transform IMPD data to fit moped_proj_personnel table in Moped"
[ETL details](https://docs.google.com/spreadsheets/d/1S8BiXf_H09epwPFI9VxeSgmQ6Jp25U-tWDJUlpzq0PM/edit?usp=sharing)

- [x] Join moped_roles with IMPD data and then insert into moped_proj_personnel

[2021-03-24 19:04] dianamartin opened #5603 "Feature: RPP Petition - After Meeting (3/24) Tasks"
Diana - will create new issue

- [x] Vehicle hiding fields? test it!
- [x] Mobile friendly font size: test it!
- [x] Archiving petition - Test URL after petition is archived: test it!
- [x] Research Schedule Export
- [x] Research - ADA signature
- [x] Recommend consistent naming convention

[2021-03-24 19:08] johnclary commented on #5584
@andrewshensky add link to learning plan at the top of the wiki section

[2021-03-24 19:10] #5583 closed

[2021-03-24 19:11] johnclary commented on #5583
Dupe of #5584

[2021-03-24 19:11] SurbhiBakshi commented on #5520
I documented the process to connect to an Open Data Portal dataset using the Web Connector in GitBook and emailed the link to the MMC.

Email to the MMC -
Here is some [documentation](https://atd-dts.gitbook.io/atd-staff-resources/power-bi/connect-to-the-open-data-portal) on connecting to the dataset using the Web Connector. Let me know if you have any questions.

[2021-03-24 19:13] sergiogcx opened #5604 "Airflow | Fix problem with DAG: atd_visionzero_vzv_data_staging"
The purpose of this DAG is to pull data from production into socrata staging for VZV. It appears the DAG is failing very frequently as of late, we need to make sure the DAG is working because the end of the month is coming up.

[2021-03-24 19:13] TracyLinder commented on #5389
@Nadin-Nader please update. Thank you.

[2021-03-24 19:23] TracyLinder commented on #1829
@Nadin-Nader after you test the V7 Smart Housing fees, can you please determine if this work is still needing to be done?

[2021-03-24 19:31] #5604 closed

[2021-03-24 19:34] ChrispinP commented on #2876
For the notification messages:
![image](https://user-images.githubusercontent.com/67915167/112372279-957a8e80-8cad-11eb-8f5e-e72f40ca434c.png)

For the modal windows:
![image](https://user-images.githubusercontent.com/67915167/112372650-0f127c80-8cae-11eb-932e-7c0a3c7bb5f9.png)

Thoughts?

[2021-03-24 19:39] amenity commented on #5305
@sergiogcx will you add an estimate to this

[2021-03-24 19:42] TracyLinder commented on #2666
@Nadin-Nader please update the acceptance criteria this sprint. Thank you!

[2021-03-24 19:50] amenity opened #5605 "Data Migration | Extend migration script to include new project fields"
[Moped to IMPD Schema Mapping](https://docs.google.com/spreadsheets/d/1S8BiXf_H09epwPFI9VxeSgmQ6Jp25U-tWDJUlpzq0PM/edit?usp=sharing)

For new project fields that are either one-to-many or many-to-many, we will have to consider how we are migrating that data that's either nested in columns in the project table in IMPD or potentially in related tables.

[2021-03-24 19:53] dianamartin commented on #5391
# Meeting Notes
- re-vamped the SR - Pay by Phone
- Took away the "technical issue"
- Won't take an SR anymore - will give citizen information to call Passport
- Pay by Phone is essentially going away
- Parking citation issues: got rid of parking citations
  - going straight to Municipal Court

## ATD Booting Complaint
- austintexas.gov - 311 website
- Depended on the complaint description
- APD C

[2021-03-24 19:56] zappfyllc commented on #4808
@amenity is this a duplicate?

[2021-03-24 19:57] jaime-mckeown opened #5606 "Request GIS TRAIN Course - Andrea M."
Andrea requested to take the ArcGIS Pro Essential Workflows Custom Class on 4/6-4/7.

[2021-03-24 19:58] jaime-mckeown commented on #5606
Submitted Service-Now request.

[2021-03-24 19:58] #5606 closed

[2021-03-24 20:00] jaime-mckeown opened #5607 "Re-publish Shared Mobility Operations Feature Layer"
Mary updated the Shared Mobility Operations Mxd.

[2021-03-24 20:01] amenity opened #5608 "Moped design work session"

[2021-03-24 20:15] TracyLinder commented on #2663
**Update:** Scoping meeting with DSD & all stakeholders scheduled by Alyssa P. w/ DSD
- April 19, 2021 @11am

[2021-03-24 20:16] amenity opened #5609 "Perform Moped data model stewardship handoff"
Before @zappfyllc leaves:
- What data in IMPDB will be migrated?
- Is there anything unaccounted for in the Moped data model?

The data migration work @sergiogcx and @zappfyllc are collaborating on will organically surface some of this.

@zappfyllc recommends asking Nathan to identify what's missing from the UI. (If it's not available there, what is it used for?)

[2021-03-24 20:24] dianamartin commented on #2876
@ChrispinP Any reason the grey colors are different or were you just showing two different options?

[2021-03-24 20:25] amenity commented on #5609
@zappfyllc - please schedule and include all devs

[2021-03-24 20:26] dianamartin opened #5610 "IT Support: Add Crystal T. as "Timekeeper" user role to HR app"
Peggy M.
Finance

Emailed

[2021-03-24 20:26] Nadin-Nader commented on #5557
Still waiting on NURF but got a response from Mica:

[2021-03-24 20:27] dianamartin commented on #5610
Had to clarify

-	Timekeeper?
-	Approver?
-	Supervisor?

Peggy

I replied

- Review Time Logs
- Export HSEM
- Time Log Exports

[2021-03-24 20:28] moorerst commented on #5575
@john here are the notes from the Digital Petition Kickoff - Ryan had a very positive response to the form and the process. You'll see a few questions/action items in the notes. Joseph was not able to attend the meeting Ryan will brief him and we'll send him a link to the test form. We'll follow up next week.

[2021-03-24 20:28] #5610 closed

[2021-03-24 20:32] jaime-mckeown opened #5611 "Add Missing Schools to Schools Point/Polygon Layers"
Charles Z. called me today when he was working in the field adding new SZB. He keeps encountering locations where the School point/polygon is missing. He told me that Kenny M. in the MMC dispatches him to various locations to work on the SZB.

[2021-03-24 20:32] jaime-mckeown commented on #5611
Emailed Kenny to see if he has a current list of all school zones that ATD manages. If so, could he send me a copy so I can update the schools data.

[2021-03-24 20:36] johnclary commented on #4962
@chiaberry this is a good one to start with when you're ready. cc @mateoclarke

[2021-03-24 20:46] dianamartin commented on #5259
@john CTM had added this to the profiles, I can see it on my testing tablet that I have. I messaged Gilbert on Teams bc Scott was helping him out that day (3/12), Gilbert was supposed to help finish the tablet configuration for this co-worker Jacob.

He never got back with me. I can call him tomorrow to follow-up.

[2021-03-24 20:47] zappfyllc commented on #5345
@sergiogcx

[2021-03-24 20:47] #5345 closed

[2021-03-24 20:50] zappfyllc opened #5612 "Data Migration | Integrate with Postgres for Access data migration"
Here we will need to create a series of methods that will allow us to join the output of AccessDB and Moped's PostgreSQL. Maybe create a function that can join any output of Access against any output of postgresql.

[2021-03-24 20:53] zappfyllc commented on #5612
@sergiogcx Main goal is to provide a pathway for you to easily add data to staging/production (staging 1st just for demo purposes, proof of migration, etc.)

[2021-03-24 21:02] jaime-mckeown commented on #5607
Re-published the feature layer and updated the pop-ups in the Web Map as she added new fields.

[2021-03-24 21:02] #5607 closed

[2021-03-24 21:03] #3684 closed

[2021-03-24 21:33] jaime-mckeown commented on #5179
@johnclary over the past month, I started working on the Project. Below lists what I have done so far:
- Sent out mass email to all ATD GIS Users letting them know that this project would be starting
- Got an updated GIS Installs list from Scott, there's always work to do with these lists as it only shows the last person that logged into the computer, so I have to do research to get it in order (t

[2021-03-24 21:38] jaime-mckeown commented on #5611
Received a super helpful Spreadsheet from Kenny. Will use it to update the Schools data on Maint.

[2021-03-24 21:40] johnclary commented on #5179
thanks @jaime-mckeown!

[2021-03-24 22:14] ChrispinP commented on #5351
Figured out why your comment didnt appear for the Customer @TracyLinder

The text formula was broken so I updated it and the record and the comment now appears.
![image](https://user-images.githubusercontent.com/67915167/112390495-6a4f6980-8cc4-11eb-9b9a-1f5557e3ffd2.png)

[2021-03-24 23:02] ChrispinP commented on #2732
Updated headings for Final Memo Builder and Edit Memo pages. Also created a CC field that is a multiple choice field that can add all listed users to the CC field on the Memo. Address fields also updated.

[2021-03-24 23:14] ChrispinP commented on #2876
Yea the dark one on the modal windows looks great but when I use that color for the notification messages it looks a little out of place. The lighter gray blends in more to the theme of the knack page to me so that it matches table header and menu button gray color.

[2021-03-24 23:45] mateoclarke commented on #5564
Closing this out now that all tasks are complete.

[2021-03-24 23:45] #5564 closed

[2021-03-25 02:25] johnclary commented on #5492
@dianamartin i believe this status should go on the study location's ["Location Status" field](https://builder.knack.com/atd/amd#data/object_195/fields/field_3760)?

[2021-03-25 03:12] amenity commented on #5477
[Responses](https://docs.google.com/document/d/1nE55Vt9mgRcEvMUXPw-_Ne6WzlPNgtnM5KUr3rFs3cA/edit#).

[2021-03-25 03:27] amenity commented on #1841
@jaime-mckeown thanks 🙏...
@dianamartin @johnclary — does this mean it's time to add it to Knack?

[2021-03-25 03:37] amenity opened #5613 "Document Repository | Network Drive Link"
Link to relevant project folder (for CAD drawings that don't belong in cloud storage) on G Drive
This could be a separate field at the top of the "Files" page... and/or potentially allow paths/URLs to be added as files to the file table.

[2021-03-25 03:39] amenity opened #5614 "Document Repository | Ability to assign and sort by file "type""
From [3/23 Sprint Review](https://web.microsoftstream.com/video/0f6d4784-1d02-469b-ae54-d0b1cb5a74a8)

Enhancement: File "types"
- Work Instructions, Authorization, e.g. Rain gardens for contractors, Signs and Markings
- Approvals and authoritative files, usually emails that might Sealed plans

[2021-03-25 03:41] amenity commented on #5614
Let's see what happens with the "Description" field on files before implementing this. For now, users can use strict naming conventions in combination with the built-in Material Table search.

[2021-03-25 03:44] amenity opened #5615 "Document Repository | Easy access to related files"
For a given project there are other important places data is kept.

Knack AMD Data Tracker - e.g. studies, rankings, speed/volume reports

[2021-03-25 04:50] sergiogcx commented on #5305
As it turns out there is a great article written by Hasura on how to use error links and interface directly with Hasura via GraphQL:
https://hasura.io/blog/handling-graphql-hasura-errors-with-react/

The problem with this pattern is that we are using a newer version of React Router (v6), and we do not exactly follow the same patterns they suggest in the article. It's a bit more difficult to use so

[2021-03-25 04:55] sergiogcx commented on #5305
This is the PR:
https://github.com/cityofaustin/atd-moped/pull/256

This is the PR live preview:
https://deploy-preview-256--atd-moped-main.netlify.app/moped/session/signin

[2021-03-25 13:32] jaime-mckeown opened #5616 "Parking Inventory Discussion"
Starting the Pro Migration for Parking reminded me of possible changes to how the Parking Inventory data is maintained after it is moved to Maint. The Meter Shop edits the AGOL version, but I need to find out if they will continue to do so in the future as that affects whether or not they will need Desktop software in the future.

[2021-03-25 14:12] jaime-mckeown opened #5617 "Request GIS TRAIN Couse - Luke U."
Requested to be enrolled in the Going Pro Class on 4/15.

[2021-03-25 14:12] jaime-mckeown opened #5618 "Request GIS TRAIN Course - David B."
Requested to be enrolled in the Essential Workflows Class on 4/6-4/7.

[2021-03-25 14:13] jaime-mckeown commented on #5617
Submitted Service-Now request.

[2021-03-25 14:13] #5617 closed

[2021-03-25 14:14] jaime-mckeown commented on #5618
Submitted Service-Now request.

[2021-03-25 14:15] #5618 closed

[2021-03-25 14:50] ChrispinP commented on #4774
Added Case Management links with the Project Name to the Submission tables and moves the Cases above Submissions.

[2021-03-25 15:31] dianamartin commented on #4907
Sync'd with Joshil this morning, 3/25

## Signal Detector Status Count by Intersection
- Updated report description
- Removed some filters on the table
  - [x] Signal_Type is not PHB
  - [x] Detection_Status is not "Unknown"
- ![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/b9c06110-96b7-4a32-bef5-821bbd9cd02e)

## Signal Detector Status Count
Updated with report descrip

[2021-03-25 15:31] #4907 closed

[2021-03-25 16:25] moorerst opened #5619 "Provide access to RPP for Cashier"
set up Cashier  access to RPP for Brandi

[2021-03-25 18:12] jaime-mckeown opened #5620 "Safe For All Story Map and Web Maps Editing - Joel M."
Joel requested that he edit the Safe For All Story Map and associated Web Maps.

[2021-03-25 18:12] jaime-mckeown commented on #5620
Transferred ownership of the Story Map and Web Maps to Joel.

[2021-03-25 20:22] ChrispinP commented on #5595
I have made the due date editable on the Edit Review Cycle form. The due date applies to all connected comments since the value is pulled down. Further changes are necessary if each Review Comments needs the ability to manually edit the due date separate from the Review Cycle due date.
![image](https://user-images.githubusercontent.com/67915167/112538395-d2ae5180-8d7d-11eb-8546-20343710dc5f.png)
!

[2021-03-25 20:31] andrewshensky opened #5621 "Publish Story Maps for PIO to the Public"
PIO would like 6 story maps shared to the public.

[2021-03-25 21:07] johnclary commented on #1841
Let's hold off on any Knack development until they've completely audited the data. At that point we'll shut down the AGOL app and move the data into the Data Tracker. @jaime-mckeown would you set a reminder to follow-up with the technician(s) in two weeks to check on progress?

[2021-03-25 21:26] ChrispinP commented on #5562
I have completed all actionable items from this issue.

Ready to review

[2021-03-25 21:37] ChrispinP commented on #5619
Brandi has been added to RPP as a Cashier

complete

[2021-03-25 21:37] #5619 closed

[2021-03-25 22:17] ChrispinP commented on #5585
I think we should maintain the actionable buttons (Add Location, Communication, Attachment) as top level with the other 3 Case Management, Update Case Details, and Fees that you mention. Especially since we have these tables live on the Case Details page.

I think Connected Cases and Request Submission could both go under Case Management

[2021-03-25 22:20] ChrispinP commented on #5586
We added the Vision Teams column back to the table since the Reviewers Names with their appended Vision Teams are not visible yet. Seeing the Vision Team values allows the PM to correctly assign Reviewers to each Review Comment.

complete

[2021-03-25 22:28] mddilley commented on #5516
I created a [PR](https://github.com/cityofaustin/atd-knack/pull/22) with these updates. The next steps are to update the form that lives at https://builder.knack.com/atd/development-services#pages/scene_232/views/view_628 with all available fields and then update the `fieldsIdsShownOnFieldSelect` config object with the fields that should show on each Improvement dropdown choice.

[2021-03-25 22:58] ChrispinP commented on #5567
Created the initial Search TIA Cases page with results linking to the Case Details page.

Need to determine what others fields need to be searchable or viewable.

[2021-03-26 14:09] jaime-mckeown opened #5622 "Request GIS TRAIN Course - Joseph A."
Joseph requested to take the Going Pro Class on 4/15.

[2021-03-26 14:10] jaime-mckeown commented on #5622
Submitted Service-Now Request.

[2021-03-26 14:10] #5622 closed

[2021-03-26 14:21] sergiogcx opened #5623 "[Bug] Moped Editor in production fails to upload files"
The file upload and avatar uploads fail due to a Cross-origin security policy error.

[2021-03-26 14:21] sergiogcx opened #5624 "[Bug] Moped Editor in production fails to upload files"
The file upload and avatar uploads fail due to a Cross-origin security policy error.

[2021-03-26 14:21] sergiogcx opened #5625 "[Bug] Moped Editor in production fails to upload files"
The file upload and avatar uploads fail due to a Cross-origin security policy error.

[2021-03-26 14:24] sergiogcx commented on #5625
Update: It looks like I forgot to update the CORS policy in the S3 bucket where the files are deposited. I've just updated it and it looks like that fixed the problem:

![2021-03-26_09-20-00.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/4c518ee2-7e61-4467-afe7-0ee9a885d436)

Also a file upload:

![2021-03-26_09-19-53.png](https://images.zenhubusercontent.com/5b7edad7290aac725a

[2021-03-26 14:25] #5623 closed

[2021-03-26 14:25] sergiogcx commented on #5623
Closing, ZenHub was reporting an error every time I tried to create this issue. The issue is being tracked at #5625

[2021-03-26 14:25] sergiogcx commented on #5624
Closing, ZenHub was reporting an error every time I tried to create this issue. The issue is being tracked at #5625

[2021-03-26 14:25] #5624 closed

[2021-03-26 14:34] Nadin-Nader commented on #1829
@TracyLinder
I have tested the Smart Housing fee calculation in V7 and it is not working. The Info to say what percentage to waive is not in the Info tab. Also, when i added the Sidewalk Inspection, Driveway Inspection, Curb inspection, excavation permit, atd tech-surcharge fees the line for the percentage waived was there but it had no percentage to calculate.

I wrote all of this on the AMANDA V

[2021-03-26 16:34] Nadin-Nader commented on #5389
Sent an email on 3/23 to CTM asking them to change the priority on the TASK and to see if they had an update. I sent a follow up email  today since i had not heard back and the priority was still a 4:

[2021-03-26 16:51] Nadin-Nader opened #5626 "User Hector Aguilera and several others cannot Print receipts directly from AMANDA V6 (NN)"
User Hector Aguilera cannot Print Receipts from AMANDA after Paying fees in the LC folder. He doesnt get any error or a PDF of the receipt to print. He has tried the IE Reset. He can print the FUD Revenue report (a PDF Report) just fine. This started around the time of a network issue.
One example is:
LC 2015-020897
Internal ref no for that is 11299912
or invoice number is 7307496

[2021-03-26 16:53] Nadin-Nader opened #5627 "User Hector Aguilera and a few other users cannot Print Receipts directly from AMANDA after Paying fees in the LC folder (NN)"
User Hector Aguilera cannot Print Receipts from AMANDA after Paying fees in the LC folder. He doesnt get any error or a PDF of the receipt to print. He has tried the IE Reset. He can print the FUD Revenue report (a PDF Report) just fine. This started around the time of a network issue.
One example is:
LC 2015-020897
Internal ref no for that is 11299912
or invoice number is 7307496

![Capture.PNG](

[2021-03-26 16:57] sergiogcx commented on #5609
This is an orthogonal rendering of the access database, it might be helpful to understand how the moped database was implemented in Postgres:

![access_database_layout_orthogonal.png](https://images.zenhubusercontent.com/5b7edad7290aac725aec290c/9d18f689-62bd-4180-b3db-64de20d2b5f0)

[2021-03-26 17:02] Nadin-Nader commented on #5627
I have tested this on my end and i cannot print directly from the receipt in AMANDA. He has done an IE reset and has permissions to print from the LC folder. Scott (our IT) has even looked at his PC and the Reader to see if they were good and up to date, they were.

Chat conversation with Hector:

## **Status:**
This issue is with CTM and waiting a response from DEB; **SCTASK0122438**

[2021-03-26 17:34] moorerst commented on #5511
Agenda: https://docs.google.com/presentation/d/1jTdbKiD2Jd4duWFFi9F-mKikRWUN9kaHDhzLD0kqxsI/edit#slide=id.ga906a84050_0_1

[2021-03-26 18:02] TracyLinder opened #5628 "Product: DTS Service Delivery"
### Template / Product info coming soon!

[2021-03-26 18:06] TracyLinder opened #5629 "Project: DTS Service Delivery 2.0"
We are refactoring the product ops workflow we [rolled out in 2020](https://austinmobility.io/projects/83) to simplify our standards and processes. We are updating existing documentation and training materials as we go.

![Agile-vs-Waterfall](https://user-images.githubusercontent.com/1463708/196470515-16e5f096-ca31-4e31-b6f6-67a59813db61.jpeg)

Image courtesy of [SHIFT314](https://shift314.com/),

[2021-03-26 18:13] TracyLinder commented on #5629
Taking the Project Index label off until the issue description is ready for public viewing.

[2021-03-26 18:15] dianamartin commented on #5511
# Meeting Notes
- Wish: by end of Calendar Year (DEC 202)

## Resident Logins
- Log ins: self-service for the customer, so they can manage their history, receipts, applications, permits
- Appears to be a definite Must have!!
- application already completed to be able to renew
- improve customer experience
- payment info - saved? (Wish they could have)

## Renewal Application
- Auto-populate inform

[2021-03-26 18:55] dianamartin commented on #5511
@ChrispinP @johnclary @moorerst
You can add your notes here!

[2021-03-26 18:57] jaime-mckeown commented on #5611
- Used Kenny's list to determine which schools were missing.
- Added missing schools to the Schools point and polygon layer, re-published to AGOL.
- Added missing Schools to Bookmarks in the SZB Web Map
- Looked over points that Charles added, gave him some feedback for proper data entry.

[2021-03-26 19:00] dianamartin commented on #5367
Was gonna work on it 3/26, but realized I didn't have a Test environment ready to go. Will have to push this back to next week.

[2021-03-26 19:01] #5611 closed

[2021-03-26 19:16] jaime-mckeown opened #5630 "AGOL User Role Issue - David B."
David B. requested to take an Esri class, but Trish at CTM could not find his AGOL account.

[2021-03-26 19:17] jaime-mckeown commented on #5630
- I looked up his account, and it was a COA Viewer, which is probably the problem.
- I sent him instructions to login to AGOL since he had not logged in since last July, and let him know that he needs to keep it active moving forward.
- Submitted a CTM Request for his AGOL account role to be changed to a User in case that is the problem.

[2021-03-26 19:37] TracyLinder commented on #5408
### Notes

- Ryan made a MicroStrategy request a few weeks ago; John pushed back & redirected to this project.
- Ryan wants a tool that allows him to create meaningful reports on the spot (**_BI Tool_**)
- Pulling data from the open data portal to meet this request wouldn't work because it wouldn't include the data we'll have to hide data related to franchised utilities
- The invoice data will be

[2021-03-26 19:39] TracyLinder opened #5631 "Meeting: ROW Permitting Data Progress"
### Review results of action items from #5408

- **Date/Time:** 4/26 @10am
- **Attendees:** Tracy, Ryan, John

[2021-03-26 19:56] jaime-mckeown opened #5632 "Add Schools to Schools 1/4 Mile Buffer Layer in MAINT"
After updating the Schools point and polygon layers, I need to add the new schools to the Schools 1/4 mile buffer for SMB.

[2021-03-26 20:08] jaime-mckeown commented on #5632
Created and added the following buffers to the Schools 1/4 mile buffer layer:
- Joe Lee Johnson
- Presidential Meadows
- Shadowglen
- St Martins

[2021-03-26 20:08] #5632 closed

[2021-03-26 20:09] #5630 closed

[2021-03-26 20:15] TracyLinder commented on #2397
@Nadin-Nader What will the name of the merged field be?

[2021-03-26 20:17] TracyLinder commented on #2397
@Nadin-Nader looking at the excel sheet of final values; it's hard to understand. Can we look at this?

[2021-03-26 20:56] #5616 closed

[2021-03-26 21:12] TracyLinder commented on #5585
Chrispin & I agree to this order:

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/61778e9c-14c4-4f1e-b4e3-d2c6bcd084b8)

[2021-03-26 21:16] TracyLinder commented on #5585
@ChrispinP pls finish this mapping.

----

Tab/Button Name | URL | Scene
-- | -- | --
Case Management | N/A | N/A
Scope & Sumbissions |   |  
Mitigations |   |  
Memo Builder |   |  
Case Log |   |  
Update Case Details | N/A | N/A
📝 Case Details |   |  
Assign Case Reviewers |   |  
📝 Request Status |   |  
🔗 Connect Cases |   |  
Fees |   |  
➕ Attachment |   |  
➕ Communication |   |  

[2021-03-26 21:40] TracyLinder commented on #4772
### Review Agenda

- Introduce the new home page
- What content should go on TDS Portal Home, Tia portal Landing Page

[2021-03-26 21:53] TracyLinder commented on #5562
- [ ]Fee button on case details: Update it to include review fee & mitigation fees.

- [ ] Add new field value to: 1. Mitigation Fee Sent & 2. Mitigation Fee Paid
    - Not Required

**REPORTING PAGE**
- [ ] On all reports, allow the user to input start & end dates to query the results they want
- [ ] Total Cases by Lead Reviewer
    - Should be by area, not reviewer
    - Don't include cases if s

[2021-03-26 22:46] TracyLinder opened #5633 "Feature: View TIA case loads & bulk reassign"
### As a lead TIA Reviewer, I need to be able to view case load by reviewer, and by area. I need to be able to reassign cases either individually, or with a bulk action.

[2021-03-26 23:07] TracyLinder commented on #5577
## Meeting Notes

**Markup Provided by Ryan:**
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/56a0e2ad-b3ed-4afd-89bd-b6bcc4697fff)

**Misc:**
- Is the data needed for this report currently captured?
    - (No) Only manually in naming conventions.
- On Reporting page, put new reports at top, not bottom
- R&C = A submission w/ status 'APPROVED'
- Submissions table needs

[2021-03-26 23:08] TracyLinder opened #5634 "New Field: Department Name"

[2021-03-26 23:08] TracyLinder opened #5635 "New Field: CIP Funded Project?"
### Users need to report on TCP reviews done for CIP work.

**Acceptance Criteria:**
- New Field, Name: ** CIP Funded Project?
- Type: Boolian
- Add new field to TCP Details, and Add-TCP-Tracking form

[2021-03-26 23:08] TracyLinder opened #5636 "New Field (On Submissions Table): Cycle #"
### Users need to count cycle numbers, and be able to report on it.

**Acceptance Criteria**
- New Field on TCP Details; Submissions Table: **Cycle #**
- The system generates & inserts the cycle number each time a new submission is created.
    - ROW/Submission  1 = Cycle 1
    - ROW/Submission 2 = Cycle 2

[2021-03-26 23:08] TracyLinder opened #5637 "Enhancement: Display the Submission Count field on TCP Details"
### User want to see the # of submission in the TCP Details.

**Acceptance Criteria:**
- Add the **Submission Count** field to the TCP Details page.

[2021-03-26 23:08] TracyLinder opened #5638 "Bug: Days under review value did not populate"

[2021-03-29 00:42] zappfyllc commented on #5559
Meeting scheduled for March 30th. Outstanding questions:

- What format do we store the GIS data for project extent and/or components? (PostGIS vs. GeoJSON)
- Where do we associate tabular data (project components) with GIS data? (e.g. in the projects table, in the components table, etc.)

**CRUD use cases:**

- Create a new project component and associate it with existing geometries/locations
- C

[2021-03-29 13:27] SurbhiBakshi opened #5639 "Update VZA Reporting - March 29th 2021"
No officer had signed up in the last week so will not need to run reports.

![image.png](https://images.zenhubusercontent.com/5d5aebe557f95b00011f8e57/8221b7fe-97af-4283-b6f2-6e79af6e1dcf)

[2021-03-29 13:45] atdservicebot opened #5640 "Add a Council district column to the signal studies page. We have a meeting with a council member's..."
Data Tracker

Add a Council district column to the signal studies page.  We have a meeting with a council member's aide and would like to filter out studies in her district.

Add a Council district column to the signal studies page.  We have a meeting with a council member's aide and would like to filter out studies in her district.

not aware of any

ASAP for meeting with council member's office.

[2021-03-29 14:22] dianamartin commented on #4267
- Peggy made some minor changes to COE explanation section, signed COE and returned
- I emailed David B. and attached signed COE

[2021-03-29 14:27] atdservicebot opened #5641 "Enhancement: Add "CapMetro" as a new type of material in the "Warehouse" field for markings materials."
**Customer/Requestor:** Christina T.

Signs & Markings Operations

Need to add "CapMetro" as a new type of material in the "Warehouse" field for markings materials.

There is a project happening now (and will be projects in the future) where CapMetro pays for the material that markings uses for installation. We would like to have this option so we don't incorrectly invoice for material that Signs

[2021-03-29 15:28] johnclary commented on #5518
@tillyw @amenity i think we should clear out the the subproject ID value from the database if the user unselects "capital funding". if we persist the data, i can see see confusion if a different user comes to the project later to add a subproject ID and finds a value in that field. it's also quirk to deal with when creating reports from the data.

[2021-03-29 15:32] johnclary commented on #5581
great suggestion—thanks. there would not be much work wasted if we changed the filter tabs. i'll move this to backlog.

[2021-03-29 15:35] jaime-mckeown commented on #5326
- All GIS Users in Shared Mobility that will be moving to Pro have signed up for a training class.
- Sent a reminder email to VZ, SM, Cole in SDD, and Chris in OOD about upcoming training classes that are available
- Joseph and I met to discuss the future of the Parking Inventory. Jeremy and Steven in the Meter Shop will continue to be involved when the editing is moved to MAINT.
- Luke in SM sign

[2021-03-29 15:44] #5571 closed

[2021-03-29 16:08] jaime-mckeown opened #5642 "Request GIS TRAIN Course - AMD Users"

[2021-03-29 16:09] jaime-mckeown commented on #5642
Request ArcGIS Pro Essential Workflows Custom Class on 4/6-4/7 for Andres Z.

[2021-03-29 16:12] dianamartin commented on #5485
Talked to Christina about the scope of this project:

## Builder Notes
- **Form**: Non-ATD requests (outside departments) - this form would also be able to handle ATD non MUTCD sign requests that are are not associated to a SMB work order.
  - `Department`
  - `FDU`
- **Table**: Manage the requests
  - Status: `New`, `In Progress`, `Fabricated Completed`, `Closed`
  - Closed: would be once the sig

[2021-03-29 16:38] jaime-mckeown commented on #5451
Emailed Edgardo about the Fiber Optic Cable GIS Data on 3/29.

[2021-03-29 16:55] moorerst commented on #5511
Attendees: John, Chrispin, Diana, Steve, Jacob, Ryan
**Resident Logins**
A must have
Logins will provide self service to look up info, update info
would make for a better customer experience
If payment information could be stored that would be a plus
will allow residents to log in and renew digital hangtags
Update vehicle license plate info
**Automatic renewal notices**
Currently these renewal not

[2021-03-29 17:07] moorerst opened #5643 "Meeting: RPP V2 Builder Huddle"
RPP V2 intake meeting issue #5511

Must have requirements:
**Resident Logins**

- self-service for the customer, so they can manage their history, receipts, applications, permits
- If payment information could be stored that would be a plus - **could have**
- Update vehicle license plate info

**Auto populate renewal application**

Auto-populate information for next renewal period

**Online Paymen

[2021-03-29 19:53] TracyLinder opened #5644 "Groom the Roadmap"
[Roadmap](https://miro.com/app/board/o9J_lP-Ptfg=/?moveToWidget=3074457356031249371&cot=14)
- Refine the goals.
- Make actions concrete.
- Check the actions against the goals and themes -- do they address the challenges?
- Add leads and timeframes.

[2021-03-29 20:15] TracyLinder opened #5645 "Feature: Reviewer Comments/Communications"
### As a TDS Product Manager, I need the ability to send case specific emails to the assigned reviewers, or to provide comments that don't need to be emailed but visible on the case/record.

[2021-03-29 20:54] jaime-mckeown opened #5646 "Pro Migration Discussion with TDSD"
Met with Curtis and Sangeeta to discuss TDSD's needs for GIS software moving forward.

[2021-03-29 20:57] jaime-mckeown commented on #5646
- talked about their group and how Sangeeta is the only active users.
- mentioned that part of the migration is to only have Desktop software installed on computers where users are actually using the software and need it for their jobs.
- Curtis will talk to the group at their staff meeting tomorrow and get back to me. He thinks that all will be removed except for Sangeeta's.

[2021-03-29 20:59] jaime-mckeown commented on #5646
He also wanted to discuss the TDSD Web Application while we were on the call
- We talked about the default layers that are turned on. They can choose which layers they want to have turned on by default, they just need to let me know.
- I also mentioned that Bookmarks would be a good way to save what layers each users wants to see as layer visibility can be part of the bookmark. He will get back to

[2021-03-29 21:12] jaime-mckeown opened #5647 "Desktop Editing Errors for AGOL Data"
Ryan and Francesco are having issues syncing data that has been edited in ArcMap back to AGOL.

[2021-03-29 21:43] jaime-mckeown opened #5648 "Issues connecting to GISDM from Home - Max S."
Max has ArcGIS Desktop installed on a laptop and is trying to access GISDM layers through Net Motion.

[2021-03-29 21:44] jaime-mckeown commented on #5648
Let him know that connecting to GISDM through Net Motion is problematic, and suggested that he add the same data from AGOL instead. I sent him instructions on how to access AGOL data through ArcMap.

[2021-03-29 21:58] TracyLinder commented on #5640
@amenity just FYI

[2021-03-29 22:03] TracyLinder commented on #5641
@dianamartin I need your feedback on this request. Can you look at it and let me know:

- Who on your team it should be assigned to
- What's the estimate?
- It seems to be a priority need w/ no workaround, so is there bandwidth in this sprint to do the work?

[2021-03-29 22:12] TracyLinder commented on #5641
**Email to Christina:**

----

Hi Christina,

Just a status update on the request you submitted today. Diana will be working on making the update and it should be ready Monday/Tuesday.

All the Best,

Tracy Linder (she/her)
Product Manager, Data & Technology Services
Austin Transportation Department
——————————————————————
data.mobility.austin.gov

[2021-03-29 22:17] TracyLinder opened #5649 "Enhancement: Allow TDS Reviewers to save draft comments"
### As a TDS Reviewer, I'd like to be able to save a draft of my comments before I finalize them.
_Currently the # 1 priority for TDS_

**Stakeholder:** Sangeeta

**Criteria:**
- New Field Value on 'Comment Status': In Draft
- Allow reviewer users to save/edit draft comments when the Comment Status value = 'In Draft'
- Do not allow reviewers to edit comments if the Comment Status value = 'Review C

[2021-03-29 22:17] ChrispinP commented on #4797
Removed menu links to Home and Reviewer Dashboard. Moved the page menu next to Reviewer Dashboard so Menu looks nicer.

[2021-03-29 22:19] TracyLinder commented on #5645
Per Sangeeta, this is her top priority in terms of DTS requests for the reviewer mod. I'm assigning it to the next sprint.

[2021-03-29 22:24] ChrispinP commented on #5533
Alleviated some menu space by line breaking the Reviewer Dashboard, Account Management, and Development Reviews menus and kept left. Ready to revisit.

[2021-03-29 22:28] ChrispinP commented on #5595
Sangeeta was satisfied with the solution to adjust the Due Date now.

closing as complete

[2021-03-29 22:29] #5586 closed

[2021-03-29 22:41] ChrispinP commented on #5516
I have added the JS code to the application and tested. Reviewed with Tracy. Everything is working as intended.

Ready to review. Review with stakeholders on the finality of the Improvement list and what maintenance looks like. Also review the individual fields to confirm the data needing to be collected.

[2021-03-29 22:44] amenity commented on #5640
@dianamartin - can you get this one?

[2021-03-29 23:00] dianamartin commented on #5641
- Looked to see where this change had to be...couldn't find it
- Called Christina, she sent me an example of the markings work order
- It was on the jobs details page, markings materials table - `inventory_transactions`

[2021-03-29 23:12] ChrispinP commented on #5562
Added Mitigation Fees Required field and conditionally hide fields on the form and Mitigation Details page if set to No.

[2021-03-29 23:57] sergiogcx commented on #5609
As far as the mapping is concerned, this is my progress so far:
https://miro.com/app/board/o9J_lMysndE=/

[2021-03-30 00:05] sergiogcx commented on #5609
We need to establish:
1. What tables will need to be migrated, which don't need to be migrated.
2. The order of tables (this in respect to foreign keys)
3. The mapping of each table's fields from source (accessdb, moped) to destination (moped).

[2021-03-30 03:22] dianamartin commented on #5640
- Wasn't sure which page Renee meant bc she didn't include a URL. I assumed she meant "Study Locations" page, but..not sure.
- Added "Council District" to table, between "Location ID" and "Type".
Messaged her

![image](https://user-images.githubusercontent.com/21112975/112929029-497c7f00-90dd-11eb-876d-10d7c8bdc71f.png)

[2021-03-30 14:50] jaime-mckeown commented on #5647
Everything is working for Ryan.

[2021-03-30 14:50] #5647 closed

[2021-03-30 15:15] jaime-mckeown opened #5650 "New GIS User in ATSD - Aysha"
Laura requested that Aysha get access to the following:
- ArcGIS (sent her the computer name that Scott setup for her to remote desktop to while she is remote)
- GISMAINT1 (asked if she meant GISDM)
- Curb ramps, sidewalks, and crosswalks (all are available in GISDM)

[2021-03-30 16:21] zappfyllc opened #5651 "Project Components | Implement PostGIS support for storing Extent and Component geometries"

[2021-03-30 16:24] zappfyllc commented on #5559
@zappfyllc add notes from 3/30 meeting later for this issue once the notes are organized and not your jumbled thoughts :)

[2021-03-30 16:26] TracyLinder commented on #5641
Christina emailed & is pleased with the deliverable. Thanks @dianamartin. I'm closing this.

[2021-03-30 16:26] #5641 closed

[2021-03-30 16:27] moorerst commented on #5420
closing this issue is complete

[2021-03-30 16:27] #5420 closed

[2021-03-30 16:33] moorerst opened #5652 "Enhancements: Digital Petition"
Enhancements discussed in the Digital Petition Kickoff meeting:

- [x] Vehicle hiding fields?
- [x] research - ADA signature
- [x] Mobile friendly font size: testing -
- [x] Research Schedule Export
- [x] Test URL after petition is archived
- [x] consistent naming convention

[2021-03-30 16:50] moorerst commented on #5575
Joseph was not able to attend the meeting. Forwarded email 3/24 to Joseph and Ryan recapping what was proposed in the kickoff meeting.
Sent follow up email 3/30 - waiting response

[2021-03-30 17:03] jaime-mckeown opened #5653 "GIS Remote Work Subcommittee - 3/30/21"
- More discussion about how we are going to test each option (GoToMyPC, Net Motion (new/old string), Cisco, Citrix)
- Coming up with list of processes to test so we can all do the same test.
- Talked about PerfTools and possibly asking Esri to setup to run for test.

I volunteered to create the data on maint and the specific test. Will create a new Issue for this.

[2021-03-30 17:22] moorerst commented on #5575
email response from Ryan:
Good Afternoon Stephanie,

Thank you for the follow up email. I don’t believe Joseph has had a moment to review the RPP Digital petition process. He should be able to get to it by the end of the week. I do have a question though. Can you please remind me what my to do’s are? I started to write them down but got distracted and didn’t finish them. I know one of them was to

[2021-03-30 17:34] Nadin-Nader commented on #4945
Spoke to Amita and she informed me that there is a V7 features that enables users to email/communicate with folder applicants. She mentioned that it was like an Informal update attempt that sends a trigger to send an email. That email is copied and saved in AMANDA V7 and can be queried.
She did not have much more on this and asked me to talk to Gita as she knows more about it. I sent Gita an email

[2021-03-30 17:54] TracyLinder opened #5654 "Project Meeting 3/30/21"
**Agenda:**

- [x] Review Nate's memo review
- [x] Review QA column
- [x] In Progress column
- [x] Discuss custom drop-down menu #5585
- [x] TIA Case Details Attachments #5453

[2021-03-30 18:09] #5653 closed

[2021-03-30 18:11] jaime-mckeown opened #5655 "Create Test Data and Steps for Remote Work Subcommittee"

[2021-03-30 18:15] jaime-mckeown commented on #5655
- [ ] Create test data on MAINT
- [ ] Check that all Subcommittee members have MAINT accounts
- [ ] Use John's Spreadsheet to create specific steps for test (setup meeting with Daniel D. in WPD if I need to bounce any ideas.)

[2021-03-30 18:25] TracyLinder commented on #5654
### Notes

- Concerned about only using street segments for mitigation data; especially with the way that ends up looking on the final memo. Let's talk to John about what it would look like to use segments & intersections. Is that possible?

- Chrispin will ask KNACK about this:
![image](https://user-images.githubusercontent.com/49930868/113037279-d6b1e900-915a-11eb-9532-eecd08db382e.png)

- Chang

[2021-03-30 18:33] #4797 closed

[2021-03-30 18:33] TracyLinder commented on #4797
Looks great!

[2021-03-30 18:36] TracyLinder commented on #5351
This looks great.

[2021-03-30 18:36] #5351 closed

[2021-03-30 18:40] TracyLinder commented on #3015
Looks great!

[2021-03-30 18:40] #3015 closed

[2021-03-30 18:43] TracyLinder commented on #5533
Looks great.

[2021-03-30 18:43] #5533 closed

[2021-03-30 18:48] amenity commented on #5640
Thanks, @dianamartin !

[2021-03-30 18:48] #5551 closed

[2021-03-30 18:53] TracyLinder commented on #5567
Looks great.

[2021-03-30 18:53] #5567 closed

[2021-03-30 19:03] moorerst commented on #5591
- sent Help Guides to Shelby for review
https://docs.google.com/document/d/1wfPxLv6iuzvsKTVvTwFbSa-Pvy9Tsui3JZUfPr7NqdU/edit#

- Shelby drafted the email communication

- Shelby sent packet of documentation for rollout to be reviewed by the team.

In the communication there was reference to PWD being included in the rollout.
After some back and forth emails JJM responded:
My understanding is that

[2021-03-30 19:24] jaime-mckeown opened #5656 "Modify the TDSD Web App"
Since this Map has so many layers, and each person has different preferences, I have added the Bookmark Widget with the save layer visibility option so each user can save their own options.

[2021-03-30 20:06] jaime-mckeown commented on #5648
- Dylan sent me the error that he and Max were getting when trying to connect to GISDM. It was the ORA-12154, so they were just missing the O drive.
- Sent then instructions for how to get the O drive to connect.

[2021-03-30 20:11] jaime-mckeown commented on #5648
They should be good now.

[2021-03-30 20:11] #5648 closed

[2021-03-30 20:14] jaime-mckeown commented on #5648
Sent the batch file for mapping drives so they can just run that real quick when drives don't map.

[2021-03-30 20:16] TracyLinder commented on #5654
### Apps Tasks

[2021-03-30 20:21] TracyLinder commented on #5654
### PM Tasks

- [ ] Ask John to commit to next week's meeting so we can discuss using intersections/nodes on mitigation locations
- [ ] Make backlog issue to include TDS reviews on the Reviewer Dashboard
- [ ] New issue on mitigation map epic: (Not MVP) The users would like the ability, on the advanced mitigation search page, to search for sites within a certain radius of any given location.
- [ ]

[2021-03-30 20:22] TracyLinder opened #5657 "TDS Reviewer Dashboard - Include TDS Cases"
### Currently the Reviewer Dashboard only populates TIA Cases. It needs to populate TDS cases also.

[2021-03-30 20:25] TracyLinder opened #5658 "Mitigation Map Radius"
### The users would like the ability, on the advanced mitigation search page, to search for sites within a certain radius of any given location.

[2021-03-30 20:27] TracyLinder opened #5659 "View new mitigation data on existing mitigation tables"
### We have added conditional data to the add mitigation form, but the data doesn't display anywhere yet.

[2021-03-30 20:32] jaime-mckeown commented on #5451
Meeting with Edgardo on Friday to discuss, will create a new Issue and connect it to this one.

[2021-03-30 20:42] atdservicebot opened #5660 "[Bug] Applying "Closed (Duplicate)" status to an issue is not working"
An issue should have a status of "Closed (Duplicate)" when you add the activity of the same name. It appears that hasn't been working for about a year.

That's a minor and we should be able to get to it in a few days.

---
**Original request**

Data Tracker

When closing a service request, can "Close Issue (Duplicate)" activity not be in the same status as "Close Issue (Resolved)"

A separate stat

[2021-03-30 21:51] jaime-mckeown commented on #5642
Submit request for ArcGIS Pro Essential Workflows Custom Class on 4/6-4/7 for Brian C.

[2021-03-30 21:53] jaime-mckeown commented on #5326
- Initial emails to OSE, ATSD, and TED to find out about users ArcGIS usage.
- Reminder emails about upcoming training classes to other groups.
- Initial training emails for OSE and TDSD

[2021-03-30 22:10] amenity commented on #5518
@johnclary — very good points... @tillyw should I create a new issue for clearing the data?

[2021-03-30 22:42] tillyw commented on #5518
Thanks @johnclary, I was also concerned that having a mismatch could lead to data quality issues later on. @amenity I think maybe it would be best to include it as part of this issue and potentially resize it later? The two items are so intertwined. I can follow up with you if it seems like it should be a separate issue. wdyt?

[2021-03-30 22:44] dianamartin commented on #5442
Changed the big button code in this application to test, it works. Chrispin and I spent some time looking at this bc there was some issues with the CSS code.

[2021-03-30 22:45] amenity commented on #5518
@tillyw super. I would prefer to keep it in this issue and resize if that makes sense for you.🙏

[2021-03-30 23:03] mddilley commented on #5466
As an update, the UI to draw points has been added. There are some styling details to be worked out, but the next steps are:

- [ ] Add the drawn points to the extent associated with the project
- [ ] Generating unique IDs for drawn points and adding metadata so they can be differentiated from points sourced from a vector tile layer
- [ ] Finish out some styling details like changing the cursor in

[2021-03-30 23:08] amenity commented on #4808
@zappfyllc - I believe so. @tillyw updated the frontend. Is the database table renamed?

[2021-03-30 23:10] amenity commented on #5466
😍

[2021-03-30 23:24] amenity opened #5661 "Update historical Data Tracker SR statuses to correct for bug reported in #5660"
_@johnclary via email; okayed by Lance B._

After resolving #5660, we can compile a list of all issues that should be Closed (Duplicate) by pulling the issue ID from any activity of type "Close Issue (Duplicate)".  Once we have that list, we can do a bulk update to correct all the issue statuses.

There may be a small percentage of edge cases where the Close Issue (Duplicate) activity was added by

[2021-03-31 04:34] #4205 closed

[2021-03-31 04:35] #4206 closed

[2021-03-31 13:41] dianamartin commented on #5603
- [x] Was able to hide the additional License Plate fields
- [x] Added new field (slider), `How many vehicles do you own?` - Added logic to form

[2021-03-31 13:47] SurbhiBakshi commented on #5001
had to add to Story Page based on feedback from ACM

[2021-03-31 14:12] andrewshensky opened #5662 "Develop Sample of Proposed Reformatted CTN"
Per conversation with Alan, I will be looking into and creating a sample version of a reformatted CTN dataset. The goal will be to enhance data accuracy, reduce/eliminate segment splits to CTN, and efficiently make data available to stakeholders/public.

[2021-03-31 14:16] andrewshensky commented on #5541
CMTA Transit Hubs dataset has been added to GISDM_External

[2021-03-31 14:16] #5541 closed

[2021-03-31 14:50] dianamartin commented on #5603
@moorerst Check this out, when you're back in the office. cc: @amenity I was able to make a shorter url - semi customizable

[2021-03-31 15:28] ChrispinP commented on #2764
pulling over from issue #5562

**REPORTING PAGE**
- [ ] On all reports, allow the user to input start & end dates to query the results they want
- [ ] Total Cases by Lead Reviewer
    - Should be by area, not reviewer
    - Don't include cases if status = APPROVED

[2021-03-31 15:33] ChrispinP commented on #5562
We determined we will leave Fee buttons separate for now and as Reviewers use them we can re-assess if we want to combine into a single button on the Case Details page. Leaving Mitigation Fees on the Mitigation Details page makes sense to stakeholders.

Mitigation Fee Required field has been added and display rules set if set to No

complete, closing

[2021-03-31 15:33] #5562 closed

[2021-03-31 15:38] ChrispinP commented on #5071
@johnclary anything you can assess from my previous console testing? Can we make this attachment experience better for users?

[2021-03-31 15:58] ChrispinP commented on #5654
Changed Memo signature to an image and updated the Search TIA Cases page queries. Added some page breaks to the Memo to review.

[2021-03-31 16:10] ChrispinP commented on #5453
Removed CSS and Attachment Button

complete

[2021-03-31 16:10] #5453 closed

[2021-03-31 16:23] amenity commented on #5597
Emailed Ariana our rankings this morning.

[2021-03-31 16:28] TracyLinder commented on #5578
### Meeting Notes
Participants: Tracy, Ryan,

CIP UC Cases = Subtype is CIP (51600)
Non CIP = Subtype **isn't** CIP
Department name is in info 'Facility owner/sponsor'
Submittal Date = Folder Indate

Average # of Resubmittals needed to clear comments
- Counting the # of cycles to approval
- Only include folders w/ an issue date

![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14

[2021-03-31 17:20] TracyLinder opened #5663 "Enhancement: Updates to UC Process Attempts on 61060 Adjust Review Due Dates (SS) (On PROD, Waiting for UAT Response)"
### As a UC manager, I need to know the number of resubmittals for each UC folder, and the number of corrections.

**Stakeholders:** Ryan, Darren, Isiah, Jaclyn

**Acceptance Criteria:**
On process 61060 Adjust Review Due Dates:
- Remove 'Complete' as a valid attempt result
- Add 2 new attempt results:
    - Resubmittal
    - GP/SP Corrections
- These 2 new attempts will have the same exact functi

[2021-03-31 17:33] Nadin-Nader commented on #1829
I had a meeting with Amita but was not able to retrieve any results that would work or had the SmartHousing info on V6 and V7 for some reason. I told her i would get back with more information.
I was able to retest this on V6 TEST (V6 RSN 12579318) and V7 TEST (V7 RSN 12488334) and found that V7 is now inputting the Percentage (It was not doing it before due to a missing info).
The only issue is t

[2021-03-31 17:59] amenity opened #5664 "Meet with Lewis to discuss new VZA scheduling approach"
Meet with Lewis to discuss how to best make adjustments to the VZA schedule in response to feedback from users about number of hours and new late night shifts.

[2021-03-31 18:03] dianamartin commented on #5511
Closing issue as there are no additional notes to be added.

[2021-03-31 18:03] #5511 closed

[2021-03-31 18:04] dianamartin commented on #2876
@ChrispinP - make sure to talk about this during App Sync

[2021-03-31 18:07] dianamartin commented on #4844
@dianamartin Schedule time to do this!

[2021-03-31 18:09] dianamartin commented on #5288
Max has been using the DSDD module for a few weeks now, no additional features to be added besides AMD WO connection

[2021-03-31 18:12] dianamartin commented on #5289
@johnclary What were your concerns/questions about this?
- Ask Max who is creating work orders?
- Ask Billy how he wants the work orders to come in?

[2021-03-31 18:27] dianamartin commented on #5431
I think this one is ready to switch over, will wait till we speak to John about it first

[2021-03-31 18:28] dianamartin commented on #5491
Haven't heard back from the users as far as ongoing issues. Closing issue.

[2021-03-31 18:28] #5491 closed

[2021-03-31 18:29] #5575 closed

[2021-03-31 18:29] dianamartin commented on #5575
Closing issue, we had this meeting and have created additional issues if needed

[2021-03-31 18:29] dianamartin commented on #5391
Yes, it can. I'm closing this!

[2021-03-31 18:29] #5391 closed

[2021-03-31 18:34] dianamartin commented on #5239
@dianamartin use AMD Test environment to check out inventory workflow processes to help write documentation

[2021-03-31 18:49] dianamartin opened #5665 "[BUG] Pavement Markings Work Orders web application"
**Describe the bug**
When you open the map, the [markings work order](https://austin.maps.arcgis.com/home/item.html?id=a9f5be763a67442a98f684935d15729b) layer is not showing up. When you look at the feature layer there are 2000 records.

**https://austin.maps.arcgis.com/apps/webappviewer/index.html?id=a206bee097194382a00515a4cc9dd029**

![image.png](https://images.zenhubusercontent.com/5cb4c11373d

[2021-03-31 18:54] dianamartin opened #5666 "Email: New Knack Builder - to app users (heads up)"
Write email template so we can send to app users to let them know a change is happening.
- Like a What's Happening?
- Who to call

[2021-03-31 18:57] dianamartin commented on #5660
## To Do
- Fix Rule: When activity `Close (Duplicate)` is selected, to match `Close (Duplicate)` in SR Status.
- Query activities `Close (Duplicate)`
To fix the historical data, we can compile a list of all issues that should be Closed (Duplicate) by pulling the issue ID from any activity of type "Close Issue (Duplicate)".
- Bulk correct: Once we have that list, we can do a bulk update to correct

[2021-03-31 19:05] johnclary commented on #5660
I took care of fixing the activity rule:
https://builder.knack.com/atd/amd#pages/scene_428/views/view_1437

[2021-03-31 19:18] jaime-mckeown commented on #5550
- talked a lot about the Learning Plans and how we can assign them to users and track progress.
- we can also assign Videos, Web Courses, etc. to users (or maybe it was to share only).
- past user experience can be consolidated in the COA account: email Tamara directly with old emails/usernames.
- Shanon will be assigning us a Learning Plan so we can see what that looks like.

[2021-03-31 19:18] #5550 closed, assigned to jaime-mckeown, andrewshensky

[2021-03-31 19:20] jaime-mckeown opened #5667 "Planimetric Quadrants Question - Leslie A."
From Leslie:

[2021-03-31 19:24] johnclary commented on #5660
@dianamartin this is the field on `tmc_issues` object that needs to be updated

<img width="1182" alt="Screen Shot 2021-03-31 at 2 02 41 PM" src="https://user-images.githubusercontent.com/14793120/113199215-7ab79500-922c-11eb-9238-fda52dd3da06.png">

[2021-03-31 19:24] jaime-mckeown commented on #5667
- Since I have never heard of Planimetric Quadrants, I asked Diana since she's been around a while. She directed me to a directory with DWG's that of course I can't open. But by looking at the names, they reminded me of USGS Quads.
- It turns out that I was right. ATD is referring to USGS Quadrangle Quadrants, but they call them Planimetric Quadrants.

[2021-03-31 19:25] dianamartin commented on #5367
![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/89fa9fa3-3002-4be9-8342-afcf48db495c)

![image.png](https://images.zenhubusercontent.com/5cb4c11373d7e234297de5cf/becdca82-a67e-428a-8f8b-42cdb41178fe)

[2021-03-31 19:45] TracyLinder opened #5668 "Data Request: ROW Permits for City Departments FY20"
**Requested by Ryan M. via email:**
_Could you run a query for FY20 that would pull RW and EX permits for all city departments, and further classify them by the priority field? Jim and Peggy are looking for this information by Friday to prepare sample invoices for other departments. This relates to what we have been discussing. Thanks!_

[2021-03-31 19:47] TracyLinder commented on #5668
### Blocker!

I can't write this query without access to my AMANDA Test Admin account. The account seems to be broken; I emailed AMANDA CTM for help and updated Ryan about the delay.

[2021-03-31 19:53] jaime-mckeown commented on #5667
- I downloaded the USGS data from TNRIS for the entire state. TED is referring to Quadrangle Quarters. I created a subset that covers the jurisdiction layer, all of Travis County, and slightly beyond for growth.
- Publish an AGOL Feature Layer, call it Planimetric Quadrants, but add some context as to what they really are in the Description.

[2021-03-31 20:22] jaime-mckeown commented on #5667
- Added new feature layer to the ATD Transportation Engineering Web Map
- Let Leslie know how she can add the new layer to her personal map
- Asked her to let her group know about the new layer.

[2021-03-31 20:22] #5667 closed

[2021-03-31 20:45] zappfyllc commented on #5651
<img width="867" alt="john's sketch" src="https://user-images.githubusercontent.com/34947604/113209023-83b26180-9240-11eb-8e39-53e5a483817f.png">

[2021-03-31 21:03] dianamartin commented on #5665
@jaime-mckeown I think it was Susanne that initially created it, we took ownership of it though. There was a known issue with the markings work order or jobs geometry (layer). John had moved the ETL and might've broke it, but it's weird the layer has records by won't show.

[2021-03-31 21:06] jaime-mckeown commented on #5665
@dianamartin that is a problem with the ETL then. The MetroBike feature layer had the same issues for a while, but John recently fixed it.

[2021-03-31 21:14] tillyw commented on #4808
Not that I'm aware of. The changes I made as outlined in other issues pertained only to the UI. The database table hasn't been renamed, unless someone else did it. @sergiogcx @mddilley @mateoclarke

[2021-03-31 21:20] alan-deanda opened #5669 "Add bicycle facilities to Data Inventory"

[2021-03-31 21:21] alan-deanda commented on #5669
@johnclary  I was able to add the new bicycle facilities to our knack data inventory, but I was unable to delete this [old bike facilities dataset](https://atd.knack.com/dts#datasets/view-dataset-details/595d01a945526a287a7c7b86/).

[2021-03-31 21:24] alan-deanda opened #5670 "MOPED Intersection Points re-publish"
The current intersection points vector tiles I generated for MOPED have a couple of duplicate IDs. This seems to be some type of bug, as the `PROJECT_EXTENT_ID` field was generated by adding 600,000 to the `OBJECT_ID` field, which doesn't have duplicates.
I'll re-create the dataset, and examine which parts of this process need to be documented for future updates.

[2021-03-31 21:30] johnclary opened #5671 "Migrate Knack signal work order publishing to new ETL"
Migrate traffic signal work orders publishing to atd-knack-services. These records live in the [Data Tracker](https://builder.knack.com/atd/amd).

- [Socrata dataset](https://data.austintexas.gov/Transportation-and-Mobility/Traffic-Signal-Work-Orders/hst3-hxcz)
- [atd-data-deploy config entry (Socrata)](https://github.com/cityofaustin/atd-data-deploy/blob/d6abff3393ad6f3bcc3f437267562bfdac77d379/c

[2021-03-31 21:32] dianamartin commented on #5665
I think it's bc it was the old ETL moving to the new ETL process

[2021-03-31 21:33] TracyLinder commented on #3598
@ChrispinP I just added new acceptance criteria for this one. Can you please update this field name from 'Owner' to 'Department Name'?
Thanks!

[2021-03-31 21:37] johnclary commented on #4962
@chiaberry sorry I accidentally erased the issue description I had here 😬

[2021-03-31 21:39] dianamartin commented on #5367
@moorerst @ChrispinP please review the changes above, let me know if we'd like to push the changes to RPP PROD

[2021-03-31 21:43] dianamartin commented on #5442
I think this one is ready to switch over

[2021-03-31 21:43] TracyLinder commented on #5638
This looks to have fixed itself. Closing.

[2021-03-31 21:43] #5638 closed

[2021-03-31 21:43] dianamartin commented on #5148
@amenity is this issue completed, can we close it?

[2021-03-31 21:46] TracyLinder opened #5672 "KNACK Report: CIP & Department Types"
_Provided by Ryan M:_
![image.png](https://images.zenhubusercontent.com/5cca1e522b8dfc0ee14dedf5/a189a767-f17e-430c-a1c6-5c3094a46e62)

[2021-03-31 21:46] dianamartin commented on #5569
8 days ago..

Got confirmation from Chia that she could open the inbox.

Andrew needed help to add the inbox, but was able to see it afterward.

Tilly confirmed she could see the

[2021-03-31 21:46] #5569 closed

[2021-03-31 21:48] dianamartin opened #5673 "Meeting with Bert from CTM about Hub/Modern Pages - Best Practices"
Meeting scheduled 3/31 at 10 am

[2021-03-31 21:54] dianamartin commented on #5673
# Plan
- He'd create another ATD site with different URL - using temporarily for build out, ATD HUB
- I'd get familiar with using the Mega menus - Hub Sites, designing in it

When we're ready to do the switch, CTM can change the hub url to the old O365 main site page "ATD"
- This was a feature Microsoft built in bc lots of people were having issues

## Best Practice
to split up the sub sites for s

[2021-03-31 22:32] alan-deanda commented on #5670
@mddilley  I've re-calculted the `PROJECT_EXTENT_ID` and ran a 'delete duplicates' tool for some peace of mind. As far as I can tell through GIS, there should be no more duplicates. I've saved the layer [here](https://austin.maps.arcgis.com/home/item.html?id=9ba4f2cdab98467881460f59ad5a5f71). Please let me know if it gives you any more issues.

[2021-03-31 22:39] andrewshensky commented on #5665
@jaime-mckeown since we are able to view the data in other web maps, would the best course of action be to re-add the data and reconfigure the filters/widgets or look to John for the fix you described he found with MetroBikes?

[2021-03-31 22:46] dianamartin commented on #5665
@andrewshensky I would probably copy the application and try to re-add the data source and see if that works. Then if that works, then I'd just do it to the original web application.

[2021-04-01 13:19] andrewshensky commented on #5665
@johnclary neither the Markings Work Orders or Markings Jobs layers are appearing in the Pavement Marking Work Order Web App. We are able to pull the data into a new Web Map/ArcPro but even then the Markings Jobs Geometry does not appear. I want to bring this to your attention because we are thinking the issue may be with the ETL process.

[2021-04-01 13:27] atdservicebot opened #5674 "Enable inline editing for notes fields on "Signal Construction Status" table"
_Requested by Rene o._

Data Tracker

Difficult to update statuses during project meeting on Signal Construction Status page:  https://atd.knack.com/amd#signals/signal-construction/ .  Would like to be able to edit the "Internal Note" and External Note"  columns on this page.

Would like to be able to edit the "Internal Note" and External Note"  columns on this page.

Have to open each "Edit Signa

[2021-04-01 13:30] jaime-mckeown commented on #5642
- Submit request for ArcGIS Pro Essential Workflows Custom Class on 4/6-4/7 for Harrell M.
- Andres can't take class since he is a contractor and ATD does not have his personal info for TRAIN.

[2021-04-01 13:47] #5642 closed

[2021-04-01 13:48] jaime-mckeown opened #5675 "Request GIS TRAIN Course - OSE"

[2021-04-01 13:49] jaime-mckeown commented on #5675
- Maria and Richard have requested to be enrolled in the Essential Workflows Class on 4/6-4/7.
- Submitted request to CTM.

[2021-04-01 13:54] jaime-mckeown commented on #5620
Checked in with Joel on the Story Map on 4/1, he will be editing it for the next week or two.

[2021-04-01 13:55] jaime-mckeown commented on #5650
Sent Laura another email about what SDE database Aysha needs access to.

[2021-04-01 14:23] jaime-mckeown opened #5676 "Create a Prototype for GIS Installs / Device App"
- Create a prototype of how I envision a new App to track devices with GIS installs.
- When I submit the DTS Request, make sure to ask for it to be added to the DTS Portal.

[2021-04-01 14:25] jaime-mckeown opened #5677 "GIMOB Meeting - April"

[2021-04-01 15:57] jaime-mckeown commented on #5677
- AW gave a presentation on what they did for the Austin Boil Water Notice
- Jacquie talked about the Streets Project, they are looking to get a contractor to help out. Meetings will be starting again.
- Voted for Andrew to become the new ATD Alternate GIS SPOC.
- AGOL Subcommittee - Web Mercator aerial imagery has a new URL, listed in the card in Teams. **Need to look into this.**
- Knowledge Bas

[2021-04-01 16:22] #5677 closed

[2021-04-01 16:23] jaime-mckeown commented on #5656
Look into layer grouping again to see if it transfers over to Web App from new version of Web Maps.

[2021-04-01 16:29] jaime-mckeown commented on #5269
@johnclary can we close this?

[2021-04-01 16:29] TracyLinder commented on #5388
Paloma says however the RW is displaying, PSM should display the same.

[2021-04-01 16:29] jaime-mckeown commented on #5650
Heard back from Laura, Aysha needs a GISDM account. Submitted CTM request.

[2021-04-01 16:30] jaime-mckeown opened #5678 "Request GIS TRAIN Course - Meter Shop"

[2021-04-01 16:31] jaime-mckeown commented on #5678
Jeremy S. and Steven S. requested to take the Essential Workflows Class on 4/6-4/7. Submitted CTM requests.

[2021-04-01 16:35] jaime-mckeown commented on #5326
- Met with TDSD on Monday to discuss ArcGIS moving forward for their group. Only Sangeeta will continue to have ArcGIS, everyone else will be using AGOL.
- Worked with OSE for who is keeping GIS and who is not. Sent Scott request for Pro installs and Desktop removals.
- Signed up multiple users for training classes in in Meter Shop, OSE, and AMD

[2021-04-01 16:43] amenity opened #5679 "Data Table | Add configuration option to clear dependent data for switch fields"

[2021-04-01 16:46] TracyLinder commented on #5674
@amenity I'm moving this to needs scoping.

[2021-04-01 16:58] #3838 closed

[2021-04-01 16:58] #3840 closed

[2021-04-01 16:58] #3865 closed

[2021-04-01 16:58] #3871 closed

[2021-04-01 16:58] #3986 closed

[2021-04-01 16:58] #4087 closed

[2021-04-01 16:58] #4274 closed

[2021-04-01 16:58] #4275 closed

[2021-04-01 16:58] #4519 closed

[2021-04-01 16:58] #4954 closed

[2021-04-01 16:59] ChrispinP commented on #2764
Removed month filters and added custom filters for reports, set default filter to Created Date during current year. Created a new tab for Mitigation Reporting to increase clarity. Updated Review Area chart and YTD naming.

[2021-04-01 16:59] TracyLinder opened #5680 "Meeting: Sync w/ Ryan 4/26/21"
### Meeting with Ryan to review any progress we've made.

[2021-04-01 16:59] zappfyllc commented on #5559
@amenity @johnclary I added my comments here and #5651 covers the next step in this process so this can be closed whenever but I'll keep it open until you've had the chance to review/want to close it.

[2021-04-01 17:01] TracyLinder commented on #5600
### Notes
- LIT will begin work on 4/1/21

[2021-04-01 17:01] #5600 closed

[2021-04-01 17:14] mddilley commented on #5670
Thanks, @alan-deanda! I've updated the Moped code with the new url, and the bug is now gone. 🙏

[2021-04-01 17:17] mddilley commented on #5319
Updated the map with the [new vector tile layer](https://austin.maps.arcgis.com/home/item.html?id=9ba4f2cdab98467881460f59ad5a5f71) and have been unable to replicate the duplicate point IDs bug. I will request review on https://github.com/cityofaustin/atd-moped/pull/236 so I can merge and close this issue.

[2021-04-01 17:17] TracyLinder commented on #5408
[Permit data sent to Ryan](https://app.zenhub.com/files/140626918/486885f8-4c46-485c-bb77-d0d9e1112735/download)

[2021-04-01 17:18] TracyLinder opened #5681 "Solution: BI Tool for ROW Permitting Data"
### As a ROW Division Manager, I need tools to analyze our permitting data and produce meaningful reports.

**Stakeholder:** Ryan M.

**Notes:**
- Needs scoping.

[2021-04-01 17:19] alan-deanda commented on #5670
The issue is resolved, and I've deleted previous versions of the intersection points from AGOL.

[2021-04-01 17:19] #5670 closed

[2021-04-01 17:20] amenity opened #5682 "Bug: Calendar component is rendering dates incorrectly"
To reproduce:
1. Create new project and include "Start date".
2. Navigate to project's "Summary" tab.
Date is one day prior to date selected during project creation.

Alternatively,
1. From a project's "Summary" tab, edit the date.
Date appears as prior day to date selected — but date is accurate when you return to edit the field.

tl;dr Date is stored correctly in database but rendered incorrectl

[2021-04-01 17:25] amenity commented on #4806
@johnclary — let's bundle this with other post-retreat changes to values, website, etc.

[2021-04-01 17:27] amenity commented on #1760
Prioritizing Moped work and moving this one to the backlog.

[2021-04-01 17:27] ChrispinP commented on #5585
Updated mapping. Ready to handoff to Devs. Creating Test env today for testing this and other TDS needs.

[2021-04-01 17:43] atdservicebot opened #5683 "Add the permit number to the print out of the Valet (temp, annual, and operator) Permits.Temp = re...(LP) - (Ready for UAT on PROD)"
_Requested by Paloma A._

**Acceptance Criteria**

- The Acceptance Criteria provided below applies to RW folders.
- Permit Number should be added to the following reports in AMANDA
-- Temp = report #50502
-- Annual = report #50504
-- Operator = print report #50505
- The Permit number should be added as a line item towards the top of the permit. It can be positioned below any existing text.
- The

[2021-04-01 17:45] johnclary commented on #5665
I tested the new ETL, and it's running correctly. Then I discovered that the [old ETL is still running](https://github.com/cityofaustin/atd-data-deploy/blob/d6abff3393ad6f3bcc3f437267562bfdac77d379/config/scripts.yml#L378), deleting all features, then failing. I forgot to disable it. Will do that momentarily.

[2021-04-01 17:45] TracyLinder commented on #5408
My tasks are complete. I emailed Ryan a screenshot of his tasks as a reminder. Closing.

[2021-04-01 17:45] #5408 closed

[2021-04-01 17:46] TracyLinder commented on #5627
@Nadin-Nader has there been an update on this? Thanks.

[2021-04-01 17:47] johnclary commented on #5665
I could have sworn I already did this—[and I did](https://github.com/cityofaustin/atd-data-deploy/commit/bf564ff3b6de3279b7169880b525d65e1abdea9f). But I forgot to merge the code to production. D'oh. Done.

[2021-04-01 17:47] ChrispinP commented on #5273
Knack is capable of auto-populating fields on an application where users would enter the same information. Say for example a specific Job Application where all applicants are applying for the same position, we could pre-fill that position title.

Since Council District can change per applicant this solution would not apply. Therefore, the only reasonable solutions would be a mapping solution where

[2021-04-01 17:51] TracyLinder commented on #5389
Hi @Nadin-Nader. Is there an update on this one?

[2021-04-01 17:52] #3837 closed

[2021-04-01 17:52] #4477 closed

[2021-04-01 17:52] #4478 closed

[2021-04-01 17:52] #4951 closed

[2021-04-01 17:52] #4447 closed

[2021-04-01 17:52] #4448 closed

[2021-04-01 17:53] mddilley commented on #5428
I've been unable to reproduce this bug with the improvements made in https://github.com/cityofaustin/atd-moped/pull/236. I tagged this issue to close upon merge of that PR.

[2021-04-01 18:03] #1857 closed

[2021-04-01 18:07] TracyLinder commented on #4551
This is being assigned to @aishwarya2505. She'll start looking into it.

[2021-04-01 18:17] TracyLinder commented on #5388
This has been assigned to LaunchIT.

[2021-04-01 18:19] TracyLinder commented on #4071
This has been assigned to LIT. @aishwarya2505 & @SubhaShroff will do some research.

[2021-04-01 18:27] TracyLinder commented on #5578
This has been assigned to LIT.

[2021-04-01 18:31] moorerst opened #5684 "Troubleshoot: Robin Shared floor plans with other entities"
we have a question regarding the best practice for shared floor plans with other entities
Use case: we have a small group of Public Works employees who will be reserving desk at the Barton Oaks location. We only want them to have access to reserve desk in a specific pod labeled PWD Desk.
How can this be accomplished?

Per Robin support: I would recommend using Robin's custom groups and roles. You

[2021-04-01 18:33] TracyLinder commented on #5585
@ChrispinP should i schedule a huddle for this w/ us & @chiaberry?

[2021-04-01 18:41] andrewshensky commented on #5665
Thanks John for addressing the backend issue. The Markings Work Orders layer was still not displaying on the map, I think due to schema changes, so I readded that layer to the web map and applied the same filter as the existing data. Then in the web app, I reconfigured the filters to match the existing configuration. Everything now appears to be working properly.

[2021-04-01 18:42] TracyLinder commented on #5273
Based on Chrispin's findings, and this not being identified as MVP by the stakeholders, this has been moved to the icebox.

[2021-04-01 19:04] TracyLinder commented on #5683
**Email to Paloma:**

Hi Paloma,

We received your DTS request (screenshot below). I didn’t realize the valet permits weren’t printing w/ a permit number. Are you (or someone on staff) able to send me a quick markup of the permits that need to be updated, showing where the permit number should go & what format you’d want that in?